[2020-06-26 16:57] #6091 closed

[2020-06-26 17:05] ericjordanmossman commented on #6094
@Pei116

The second half of the error is indicating that the object has be retrieved from a realm instance. Try to retrieve the `device` from a realm via `realm.objects(Device.self)` and see if the error still throws.

[2020-06-26 17:05] #6094 closed

[2020-06-26 19:14] qworkly commented on #4960
I'm seeing this crash too.  Here the stack traces from a couple of crashes.
Crashed: com.apple.main-thread
0  Realm                          0x1027c42b0 realm::util::EncryptedFileMapping::read_barrier(void const*, unsigned long, unsigned long (*)(char const*)) + 32
1  Realm                          0x1024ba3c0 realm::util::do_encryption_read_barrier(void const*, unsigned long, unsigned long (*)(ch

[2020-06-26 23:22] duncangroenewald commented on #6604
That's it - that's the only error message "Key already used".

It comes from this function in realm-core cluster.cpp from what I can tell. I couldn't find that message anywhere else in the source code.

[code]

[2020-06-27 10:55] viktor-malieichyk commented on #6549
Also encountered this issue during Carthage update

But it raises question: why this SwiftPackageManagerExample.xcodeproj have to be built in the first place?

[2020-06-27 17:16] tgoyne commented on #6549
It doesn't have to be built. Carthage just doesn't provide any way for us to tell it that.

[2020-06-27 17:58] stevhens commented on #4795
Downloaded `Realm Browser 3.0.1` on the App Store and facing the same issue.

Referring to @leofr1cs answer above, eventually I could open .realm file with current `Realm Studio 3.11.0 Version`.

To download, go to "Get Started with Realm" section near the bottom of below page and you'll find it:
[Download Realm Studio here](https://www.mongodb.com/realm/mobile/database)

[2020-06-27 20:30] martinstoyanov commented on #6161
+1 for docs.

[2020-06-28 14:55] JourKung commented on #6477
@leemaguire I solved by latest version. Thank you

[2020-06-28 15:33] Jaycyn opened #6608 "Realm sdk version info"
**Feature Request**

## Goals
Have easier access to the currently installed Realm SDK **version**

## Expected Results
I may be overlooking a simple way to get the installed sdk version but as of now, it's several lines of code to derive the currently installed Realm version. It's really handy during development to know which version of Realm sdk is installed - especially when there are several pr

[2020-06-29 03:59] ianpward commented on #6161
We will have a blog post this week - if you'd like to see a working app example see here:
https://github.com/realm/realm-cocoa/tree/master/examples/ios/swift/ListSwiftUI

[2020-06-29 06:41] RealmBot opened #6609 "Extend MongoDB Realm methods with Combine functionality"
This will allow users to better integrate with the Combine framework. E.g.,:

[code]

Which would lead to:

[code]

The SwiftUI example should be updated to use this functionality, and this feature set should be tested.

Old completionBlock return values should use Swift 5 result type.

[2020-06-29 12:55] varyP opened #6610 "Random crash on Realm Init (Stack attached)"
I see this crash on crashlytics as well as in Appstore logs. It's a random crash that happens to random users & just keeps on happening once it arrises. Reinstalling fixes the issue.

Been happening for an year

Current version Realm : 3.20.0
Xcode version: 11
iOS/OSX version: 13.x.x
Dependency manager + version: Pod 1.9.3

## Stack Trace

[code]

## Steps to repro
Random crash on init (maybe on m

[2020-06-29 13:21] leemaguire commented on #5563
Closing issue due to age. If there are any more questions please open a new issue.

Thanks,
Lee

[2020-06-29 13:26] #5563 closed

[2020-06-29 14:02] leemaguire commented on #5594
Closing this issue due to age. If you are have any more questions please open a new issue.

Thanks.

[2020-06-29 14:08] MarcoCarnevali opened #6611 "Realm Crashes object invalidate instead is not."
## Goals
When loading the app I want to load every entries on Realm, checking a value and update it accordingly.
## Expected Results
I expect to get an array of all valid Realm Objects and update the value without problems

## Actual Results
When I change a value I get:

 even if before modify it I check if it's invalidated or not.
## Steps to Reproduce
1. Fetch all drives

2. for each object upda

[2020-06-29 14:09] #5594 closed

[2020-06-29 14:11] leemaguire commented on #5776
Closed due to age, if you have any more questions please open a new issue.

Thanks.

[2020-06-29 14:11] #5776 closed

[2020-06-29 14:13] leemaguire commented on #5818
Closing due to age, if you have any more questions please open a new issue.

Thanks.

[2020-06-29 14:13] #5818 closed

[2020-06-29 14:18] #5848 closed

[2020-06-29 15:28] ericjordanmossman commented on #6610
@varyP
It looks like EXC_BREAKPOINT (SIGTRAP) is related to a null value or a failed type conversion [according to apple docs](https://developer.apple.com/library/archive/technotes/tn2151/_index.html#//apple_ref/doc/uid/DTS40008184-CH1-EXCEPTION_INFO).

In the `do` block do you have any more information on which line is crashing? Does the same issue happen if you don't use an implicitly unwrapped

[2020-06-29 15:31] ericjordanmossman commented on #6611
@MarcoCarnevali
Do you have any more information on the crash? Could you share the backtrace?

Also does this occur when using `materialize`? Is this from another library? What happens in `materialize`? Does the issue occur without calling `materialize`?

[2020-06-29 16:10] MarcoCarnevali commented on #6611
@ericjordanmossman
Sorry for not being clear. Materialize it's just an extension to turn results in an Array. The code is the one below:
`fileprivate extension Results {
    func materialize() -> [Element] {
        return Array(self)
    }
}
`
With materialize() or without it doesn't change. The crash happens anyways.

[code]

DBManager.swift:133 refers to the function that updates the content of

[2020-06-29 16:13] leemaguire commented on #5850
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:13] #5850 closed

[2020-06-29 16:14] leemaguire commented on #5922
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:14] #5922 closed

[2020-06-29 16:15] leemaguire commented on #5896
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:15] #5896 closed

[2020-06-29 16:16] leemaguire commented on #6099
Closing this issue, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:18] leemaguire commented on #5879
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:18] #5879 closed

[2020-06-29 16:18] #6099 closed

[2020-06-29 16:18] leemaguire commented on #5862
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:21] leemaguire commented on #6210
Closing this issue due to age, if you have any other questions please open a new issue and fill out the template.

Thanks.

[2020-06-29 16:21] #5862 closed

[2020-06-29 16:21] #6210 closed

[2020-06-29 16:22] leemaguire commented on #5975
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:24] leemaguire commented on #5930
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:24] #5975 closed

[2020-06-29 16:24] #5930 closed

[2020-06-29 16:27] leemaguire commented on #5925
Closing this issue due to age, if you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:27] #5925 closed

[2020-06-29 16:34] leemaguire commented on #6131
Hi @vm-dasglobtech,

As the error is describing. the `object` you are trying to delete is most likely not managed by a Realm object hence why you are getting this issue. We would need to see more of your code in order to understand your issue better.

Thanks,
Lee

[2020-06-29 16:39] leemaguire commented on #5874
Closing this issue due to age. If you have any other questions please open a new issue.

Thanks.

[2020-06-29 16:40] #6131 closed

[2020-06-29 16:40] #5874 closed

[2020-06-29 21:05] duncangroenewald commented on #6604
Any suggestions on how to move forward on this ?

[2020-06-29 22:39] tgoyne commented on #6611
`realm.write {}` refreshes the Realm as part of beginning the write transaction, so you need to check if the object is invalidated inside the write rather than (or in addition to) before the write.

[2020-06-29 22:42] tgoyne commented on #6608
You should be able to get the Realm bundle with just `Bundle(for: RealmSwift.Object.self)` rather than fiddling around with the filesystem.

[2020-06-29 22:52] tgoyne commented on #6606
It looks like the low-level function called by `index(of:)` is incorrectly on the list of functions which require bounds-checking and so assume that `size()` will always be called before them, which means that it has incorrect results when it's the first thing called after a write on a different thread. You can work around this while we work on a fix by accessing the List's count before calling `i

[2020-06-29 23:36] samgold89 commented on #6063
I'm seeing this same crash consistently when leaving the app running for more than ~5 minutes.
@dsanghan - how were you able to diagnose that third-party leak?

[2020-06-30 07:40] #6606 closed

[2020-06-30 09:11] Vanilil opened #6613 "[realm-core-6.0.6] Assertion failed: primary_key_col"
## Goals
I am trying to migrate objects from my Draft table to BDraft and CDraft tables, depending on the type of object.

## Expected Results
I have already made a similar migration which worked well. So I expect found my objects in the expected tables after migration

## Actual Results
The app crashes when trying to create the object with primary key during migration

## Steps to Reproduce

<pre

[2020-06-30 09:12] RealmBot opened #6614 "Test Suite Polish and Cleanup"

[2020-06-30 12:44] jsflax commented on #6291
What is the reasoning for doing this? Can you send us your data models?

[2020-06-30 12:46] jsflax commented on #6217
You're probably better off using the Realm repo directly instead of doing this through Cocoapods. Can you try that?

[2020-06-30 12:47] jsflax commented on #6214
Hi there, we need a code sample to be better able to diagnose this issue. Can you please provide one?

[2020-06-30 12:48] jsflax commented on #6212
Hi there, we need a code sample to be better able to diagnose this issue. Can you please provide one?

[2020-06-30 12:50] jsflax commented on #6202
Can we see the code that calls into your `fetch` method?

[2020-06-30 12:54] jsflax commented on #6194
What kind of data is in the bundle Realm? Why can't it just be a readonly realm?

[2020-06-30 13:05] jsflax commented on #6166
Hmm... could you try dispatching your UI changes synchronously to the main thread? Doing that serially should clear up the reentrant issue.

[2020-06-30 13:09] jsflax commented on #6152
When applying updates to the UI, can you try avoiding using a custom OperationQueue?

[2020-06-30 13:11] jsflax commented on #6183
I don't believe this is still an issue.

[2020-06-30 13:11] #6183 closed

[2020-06-30 13:13] jsflax commented on #6082
Hi there, we recommend users migrate to our v10 MongoDB Realm beta, as the above functionality is now deprecated.

[2020-06-30 13:13] #6082 closed

[2020-06-30 13:14] jsflax commented on #6108
This is no longer valid with the v10 MongoDB Realm beta, as the above functionality is now deprecated.

[2020-06-30 13:14] #6108 closed

[2020-06-30 13:15] jsflax commented on #6046
There's a lot to unpack here, so for us to better help you, it helps to know your use case as well as the size of your Realm file.

[2020-06-30 13:21] #6030 closed

[2020-06-30 13:26] leemaguire commented on #6135
Hi @ahammad94 we need to see a code sample of how you are using Realm in order to advise you further.

Thanks,
Lee

[2020-06-30 13:47] leemaguire commented on #6035
We need see a stack trace in order to validate if this is an issue with Realm.

[2020-06-30 13:47] #6035 closed

[2020-06-30 13:59] leemaguire commented on #5897
This is not an issue in the latest version of Realm. Closing.

[2020-06-30 14:05] #5897 closed

[2020-06-30 14:13] leemaguire commented on #6040
Please try installing with the latest version of Realm. Thanks.

[2020-06-30 14:19] #6040 closed

[2020-06-30 14:20] leemaguire commented on #6038
Closing due to age and insufficient information.

[2020-06-30 14:25] #6038 closed

[2020-06-30 14:36] leemaguire commented on #6086
A Realm file can grow in size for multiple reasons:

- You are holding onto an instance of Realm that is no longer used.
- Realm files reserve space for future transactions, although this can be reduced with compaction.
- Realm files carry transaction history if sync is enabled.
- Improper use of threading.

`This would allow apps that are not terminated to compact the realm. This would fix the ca

[2020-06-30 14:37] #6086 closed

[2020-06-30 14:54] tgoyne commented on #6546
@ginhoor Is this still happening for you in 5.1.0?

[2020-06-30 15:00] #6216 closed

[2020-06-30 15:28] varyP commented on #6610
@ericjordanmossman

The problem is, the issue isn't reproducible. Should i try to delete realm in the catch block & re-create it if it reaches catch block? Also, there's been a spike in crashes, i see 100+ crashes today itself.

Like this?
[code]

Crashlytics gives me this. Line 57 is "return realm"

[code]

[2020-06-30 16:08] visdyn commented on #6608
@tgoyne You would think so, huh. Unfortunately that doesn't work as getting the bundle that way output the base version only and not the point releases. For example, suppose we have 5.0.3 installed and we get the info from the Bundle as you suggest

let realmBundle = Bundle(for: RealmSwift.Object.self)
if let infoFileDict = realmBundle.infoDictionary {
    if let sdkVersion = infoFileDict["CFBundl

[2020-06-30 17:15] levelchanger opened #6615 "RLMSyncUser:configurationWithPartitionValue not available in Swift"
!!! MANDATORY TO FILL OUT !!!

## Goals
Call RLMSyncUser:configurationWithPartitionValue from Swift. The method is marked as NS_REFINED_FOR_SWIFT but there is no equivalent Swift func to call

## Expected Results
Be able to call the method or a redefined function in Swift.

## Actual Results
Compiler error

## Steps to Reproduce
Just use the Objective C SDK and try calling the function from Swift.

[2020-06-30 17:16] jsflax commented on #6615
Try `myUser.configuration(partitionValue: "my partition value")`.

[2020-06-30 17:23] levelchanger commented on #6615
Doesn't work.

<img width="1220" alt="compilerError" src="https://user-images.githubusercontent.com/43216100/86157031-a6e68f80-babb-11ea-99f8-1cf2f7a26f01.png">

[2020-06-30 17:31] jsflax commented on #6615
Can I see a larger code snippet?

[2020-06-30 17:36] jsflax commented on #6615
Assuming you are calling the objc API from Swift, this is an issue. We will fix this in the next release.

[2020-06-30 17:40] levelchanger commented on #6615
Yes, I am. There are many items in the SDK that are marked as NS_REFINED_FOR_SWIFT. I don't know if those are problems as well. Also, the RLMSupport.swift file is missing the helpful extensions that were in the 5.0 version of the SDK.

[2020-06-30 17:53] MarcoCarnevali commented on #6611
Thank you for the answer. However I do refresh Realm by doing `realm.refresh()` before fetching the whole list of objects.
Shouldn't the list be up-to-date ?

[2020-06-30 17:54] tgoyne commented on #6611
If a write happens on another thread between when you fetch the list and when you perform the write on this thread, it will no longer be up to date.

[2020-06-30 17:56] MarcoCarnevali commented on #6611
Yes I moved the check after `realm.write {}`. However the bug persist and nothing has being deleted at all

[2020-07-01 04:43] tgoyne commented on #6226
The bug I filed about not being able to use SPM for watchkit extensions is marked as fixed in Xcode 11.4.

[2020-07-01 07:25] leemaguire commented on #6124
Hi @anansi

A compaction may be expensive if the Realm file is quite large.

Also note that 'compaction will be skipped even if the configuration block’s conditions were met. That’s because compaction cannot be safely performed while a Realm is being accessed.' So ensure your Realm if not being accessed by your Bluetooth functionality while the compaction is performing.

See more here: https://rea

[2020-07-01 07:31] #6124 closed

[2020-07-01 08:11] RealmBot opened #6617 "@RealmStorage SwiftUI Enhancement"
_AppStorage_ is another new property wrapper that stores a small amount of key-value data backed by _UserDefaults_. _AppStorage_ is _DynamicProperty_, which means SwiftUI will update your views as soon as the value of a particular key in _UserDefaults_ will update. _AppStorage_ fits to store app settings.

SceneStorage should be looked at as well.

It would be nice to offer similar functionality t

[2020-07-01 08:57] leemaguire commented on #6070
Please see this article explaining the proper use case for UITableViews: https://academy.realm.io/posts/live-objects-fine-grained-notifications-realm-update/

[2020-07-01 09:02] #6070 closed

[2020-07-01 10:03] leemaguire commented on #6363
You should not be able to insert binary data greater than 16mb, doing so would result in a `Binary too big` exception. I suspect something else might be going on in your code and in order for us to debug further we would need either a sandbox project that can replicate this issue or a copy of the Realm file that is known to cause this issue.

[2020-07-01 10:03] #6363 closed

[2020-07-01 10:25] leemaguire commented on #6132
Are you doing any migrations? If you're reporting this for a few users its possible that they are caught on an old schema version and they cannot make the jump to the latest schema. For example if a user has not opened the app in a long time they may not be migrating from version 1 -> 2 but instead could be migrating from 1 -> 3 and that could be the issue.

[2020-07-01 10:40] leemaguire commented on #6150
You are deleting the object you are observing. I think that is the issue here. The latest version of Realm supports Combine I suggest checking it out.

Thanks,
Lee

[2020-07-01 10:40] #6150 closed

[2020-07-01 10:50] leemaguire commented on #5904
This is a known issue and we do not have a fix for this. Wrapping writes in a background task fixes one app blocking another app, but that API isn't available in extensions.

[2020-07-01 10:56] #5904 closed

[2020-07-01 12:34] leemaguire commented on #6053
Please refer to the documentation on relationships to get a better understanding of the best practices: https://realm.io/docs/objc/latest/#relationships

[2020-07-01 12:39] #6053 closed

[2020-07-01 12:40] leemaguire commented on #6042
Given the linked issue is closed and the lack of demand for a static library I am closing this issue.

[2020-07-01 12:45] leemaguire commented on #5887
This is a known issue and we do not have a fix for this. Wrapping writes in a background task fixes one app blocking another app, but that API isn't available in extensions.

[2020-07-01 12:45] #6042 closed

[2020-07-01 12:45] #5887 closed

[2020-07-01 12:46] leemaguire commented on #5880
Closing due to age. If you have any other questions please open a new issue.

Thanks.

[2020-07-01 12:51] #5880 closed

[2020-07-01 13:13] leemaguire commented on #5931
Going to close this issue as it's gone off in a tangent from the original question. If you have any other questions please open a new issue.

Thanks.

[2020-07-01 13:13] #5931 closed

[2020-07-01 13:20] igrechuhin commented on #6370
We have same issue in our project:

Printing description of error:
Error Domain=io.realm Code=9 "mmap() failed: Cannot allocate memory size: 15728640 offset: 67108864" UserInfo={NSLocalizedDescription=mmap() failed: Cannot allocate memory size: 15728640 offset: 67108864, Error Code=9}

Is there any additional info I can provide?

[2020-07-01 14:15] leemaguire commented on #6365
Closing due to age and lack of information. If you have any more questions please open a new issue.

Thanks.

[2020-07-01 14:16] #6365 closed

[2020-07-01 14:21] leemaguire commented on #6377
With WatchOS 6 supporting web sockets, this has been added to a list of feature requests.

[2020-07-01 14:25] #6377 closed

[2020-07-01 15:03] Sethmr opened #6618 "Podfile platform iOS version is being ignored."
Latest pod version '5.2.0' has some setting that is overriding my podfile's `platform :ios, '12.0'`.

After running `pod install`, the Realm target is set to an `iOS Deployment Target` of `iOS 8.0`.

This prevents compilation. I keep my cocoapod's `.xcworkspace` in my `.gitignore`, so I can't share this fix with my team.

[2020-07-01 15:32] leemaguire commented on #6618
Hi @Sethmr

I cannot replicate this issue. What version of Cocoapods are you using? Could you supply your podfile to us?

Thanks,
Lee

[2020-07-01 15:37] Sethmr commented on #6618
[code]

[2020-07-01 15:41] leemaguire commented on #6618
Are you using the latest version of Cocoapods?

[2020-07-01 15:42] Sethmr commented on #6618
Yes, I updated my message.

[2020-07-01 15:53] leemaguire commented on #6618
This is an issue with RxRealm which we do not maintain. It would be worth opening an issue on that repo as this is out of our control.

[2020-07-01 15:55] Sethmr commented on #6618
Thank you for the help.

[2020-07-01 15:56] #6618 closed

[2020-07-01 17:30] nalexn commented on #6577
+++

Any update on this one?

[2020-07-01 18:23] joaocolaco opened #6619 "Apple Silicon/arm macOS support"
## Goals

Support for Apple Silicon/arm macOS so that realm can build and link with this platform.

This is especially important for me, as I have a macOS app that uses realm and would be useful to test it in advance.

For now the linker gives this error, and all the symbols are not available:
[code]

## Expected Results

Realm is made available for arm64 on macOS.

## Version of Realm and Tooling

[2020-07-01 18:31] tgoyne commented on #6619
We've signed up for a dev kit, so hopefully that arrives soon. Even if it doesn't we should be able to start providing untested arm builds fairly quickly after xcode 12 beta 2 comes out. If you aren't using sync, installing Realm via Swift Package Manager might just work already.

[2020-07-01 22:26] victordupreez commented on #6144
This appears to be an issue with Apple 32-bit devices using Xcode 11.4 and swift 5.2

https://bugs.swift.org/browse/SR-12511?focusedCommentId=55917&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-55917

Having the same issue and recompiling the application using Xcode 11.5 **resolved** the realm crash.

[2020-07-01 22:36] joaocolaco commented on #6619
I'm using Git submodules, so easy to be fairly current, but still doesn't work.

[2020-07-01 22:38] ericjordanmossman commented on #6613
During this migration did you have any existing objects of the class being migrated? You may be experiencing [this](https://realm.io/docs/swift/latest/#primary-keys):

If you're sure that's not the case,
- Does this only happen 5.1.0?
- Could you share a small repro the team could look at?

[2020-07-01 22:51] ericjordanmossman commented on #6607
@jonnydangerous
Are you able to reproduce this reliably? A code sample or reproduction material will help speed up investigation.

[2020-07-01 23:09] ericjordanmossman commented on #5935
Is anyone able to share version numbers of Realm? Is this happening to anyone with later versions?

[2020-07-02 05:38] godyolops commented on #5935
Hi already fixed this issue. The issue was my RealmJS is not compatible to the Realm im using in native for obj-c. Thanks 😊Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: ericjordanmossman <notifications@github.com> Date: 7/2/20  7:09 AM  (GMT+08:00) To: realm/realm-cocoa <realm-cocoa@noreply.github.com> Cc: godyolops <gerrytanjr@gmail.com>, Author <author@noreply.g

[2020-07-02 06:53] anlaital commented on #6536
Have you had any success in finding a fix for this issue? It seems to be growing rapidly in numbers in our app with over 2k crashes now. I suppose the only thing we can do is to stop using `Results` entirely and always deal with arrays instead.

[2020-07-02 06:53] RealmBot opened #6620 "Add documentation for Catalyst installation"
Installing Realm for Catalyst is non-trivial and requires a documentation update.

[2020-07-02 06:55] jsflax commented on #6460
This will be sorted by #6620. Stay tuned.

[2020-07-02 07:04] WWDGitHup commented on #6577
Have you solved the problem yet?

[2020-07-02 08:57] leemaguire commented on #6079
I have flagged this with our docs team. This feature will hopefully be available this quarter.

[2020-07-02 09:02] #6079 closed

[2020-07-02 09:11] girish-globant opened #6621 "Downgrade pod version from 5.0.3 to 4.3.2"
We are facing some sporadic crashes after version update to 5.0.3

We are working on fixing the crashes but it would take time as crashes are sporadic. So looking to a temporary solution so the user won't affect.

So tried to revert pod version to 4.3.2 but after downgrade getting following error. It will only work if delete and reinstall app which is not possible on the production app as it impac

[2020-07-02 10:34] leemaguire commented on #6621
Hi @girish-globant,

Realm files created with version v5.0.0 and above are incompatible with versions less than v5. I would suggest updating to the latest version of Realm (5.2.0) and see if it helps. Could you also paste any crashlogs you have in here so we can help you more.

Thanks,
Lee

[2020-07-02 10:41] leemaguire commented on #6066
We need more information on how you are using Realm (code samples and a crash log). I am closing this issue because of insufficient information and an outdated Realm version. If you have any other questions please open a new issue.

Thanks.

[2020-07-02 10:46] #6066 closed

[2020-07-02 10:47] girish-globant commented on #6621
Thanks @leemaguire for quick response.
Please check following crash logs. If I revert to 4.3.2 for testing purpose, it won't crash with code base.

**Fatal Exception: RLMException
ConstIterator copy failed**

[code]

[2020-07-02 10:50] leemaguire commented on #6621
We can't really work with this crashlog as a lot of debug symbols are missing. Can you upgrade to the latest version and let us know if you still encounter this issue? Or give us a sandbox app that shows us how you are using Realm?

Thanks

[2020-07-02 10:50] girish-globant commented on #6621
Please check this one

[code]

[2020-07-02 10:56] leemaguire commented on #6621
Can you send us a code sample that reproduces this crash?

[2020-07-02 11:06] eastsss commented on #6144
Can confirm, my app no longer crashes when built by Xcode 11.5.

[2020-07-02 11:09] girish-globant commented on #6621
@leemaguire Sorry but could not share codebase due to privacy concerns but will explain the issue.
1. Items are added in items collection
2. User checkout item
3. In Checkout class added observer on **RealmCollectionChange**
4. If update objects from Items, crash will happen in Checkout class for line **self?.reloadItems()**

[code]

[2020-07-02 11:36] leemaguire commented on #6621
Can you share the code in `reloadItems()`?

[2020-07-02 11:54] girish-globant commented on #6621
If the item has quantity 2 then for display purpose, it creates 2 records so user can see 2 separate item of the same type in tableview.

duplicateds = []
        items?.forEach({ (reward) in
            for _ in 0..<reward.quantity {
                duplicateds.append(reward)
            }
        })

[2020-07-02 12:15] leemaguire commented on #6621
Its possible you're getting caught in a cycle because you're referencing `items` inside of `reloadItems()`. When observing changes use `case update(CollectionType, deletions: [Int], insertions: [Int], modifications: [Int])` on a `RealmCollectionChange`

[2020-07-02 12:15] #6610 closed

[2020-07-02 13:24] girish-globant commented on #6621
@leemaguire The same code is working perfectly fine with Realm version 4.3.2  and started crashing with 5.0.3. So don't think any issue with code.

[2020-07-02 13:45] Vanilil commented on #6613
This happens in 5.2.0 too and I'm pretty sure the primary keys haven't changed after being added to the realm.
I will try to make a small repro as soon as I can.

[2020-07-02 16:30] leemaguire commented on #6047
Could you upgrade to the latest version of Realm and see if this solves your issue? Thanks.

[2020-07-02 16:36] leemaguire commented on #6039
Please see our documentation on this issue: https://realm.io/docs/swift/latest/#linear-migrations

[2020-07-02 16:37] #6039 closed

[2020-07-02 17:09] RealmBot opened #6623 "Remove Realm.Publishers in favour of extending Combine.Publishers"

[2020-07-02 17:53] zdzichukowalski opened #6624 "Allow for classes deriving from Object to have different className than name of the class"
Assume there is some model for example representing country. Application may have different sources of data, Realm db among others. It is natural that those different entities, e.g. CountryGraphQL, CountryRealm will be transformed to one Country model to be further used by app. It is also natural to have class in Realm db representing country to be named simply Country, not CountryRealm. Issue htt

[2020-07-02 20:36] tgoyne commented on #6613
I've successfully written a test case to reproduce this. Creating an object inside the migration after renaming the PK is the specific thing that doesn't work.

[2020-07-02 22:35] nicolasgomollon commented on #6577
No updates on my end @occe @nalexn @WWDGitHup, we’re still waiting for someone from the Realm team to take a look and see what could be going wrong. We were lucky enough to catch this one early in our testing in one of our internal builds, so we were able to revert back to 4.4.0 before shipping to the public.

[2020-07-02 22:51] tgoyne commented on #6577
There isn't really any starting point for looking into this. All that I can say from the stack trace is that it's somehow getting to the end of the autoreleasepool while still in a write transaction, and then something's going wrong when rolling back the write transaction. The only way for this to happen with the given code should be if something inside the write transaction threw an exception (no

[2020-07-03 01:04] tgoyne commented on #6536
No, I haven't been able to reproduce it and I haven't been able to figure out why it might be happening.

[2020-07-03 02:55] mikeyusc opened #6625 "SwiftUI Previews in Xcode 12 beta 1, 2, or 3 fail to display, undefined symbols while using SPM"
## Goals
Be Able to See a SwiftUI View Preview in Xcode 12 Beta 1 (12A6159) while using Realm

## Expected Results
SwiftUI Preview Displays

## Actual Results
Tons of missing symbol errors

## Steps to Reproduce
Create Sample Xcode project in Xcode 12
Add RealmSwift via SwiftPM
Browse to ContentView in Project Browser

## Code Sample
See Attached Project File

## Version of Realm and Tooling

Real

[2020-07-03 07:33] duncangroenewald commented on #6619
I am interested in this as well as my DTK just arrived.  I am stuck on 4.4.1 because of unresolved realm-core errors when upgrading to 5.x so any suggestions on what modification are required to get a v4.4.1 build for arm64 would be appreciated.  The V4.4.1 builds fine under the Xcode 12 beta for macOS x64. The current build errors are above my pay grade unfortunately.

[2020-07-03 07:39] duncangroenewald commented on #6619
Can you explain how to do that - I don't need sync for testing the app.

[2020-07-03 07:54] trr-amsiq opened #6626 "EXC_BAD_ACCESS on version 5.x.x"
!!! MANDATORY TO FILL OUT !!!

## Actual Results
Crashes in
[code]
## Version of Realm and Tooling

Realm framework version: 5.0.3 and 5.2.0
Xcode version: 11.5

iOS/OSX version: iOS 12 and 13

Dependency manager + version: SPM

[2020-07-03 08:07] duncangroenewald commented on #6619
I just did a rosetta build on 4.4.1 version and that seemed to build with no errors - so I'll start with getting that up and fully tested.

[2020-07-03 09:03] joaocolaco commented on #6619
For Rosetta it seems to build.
Also the Realm examples for iOS also build and run natively for ARM under Catalyst.

[2020-07-03 13:35] duncangroenewald commented on #6619
I just followed the instructions here to add Realm and Realm Swift packages using Xcode package manager and the app is up and running native.  Sadly the main app needs to have the sync dependencies removed before it will work so that will take a couple of hours.  Cool bananas!! - looking forward to seeing what the performance is like as we have some reports that take a good 15 minutes to generate.

[2020-07-03 13:40] Fab1n commented on #6047
Did you test it with the provided code with the new version?
In production currently we cannot upgrade so I'd need to test it with the code above, too.

[2020-07-03 16:43] lbrun25 commented on #6625
Same issue, the canvas does not compile, but installation on a physical device works.

After googling, I found that 'Require Only App-Extension-Safe API' needs to be YES from the build settings.

[2020-07-03 16:54] mikeyusc commented on #6625
That's not an option for me... I have numerous API that I use that aren't Extension Safe.

[2020-07-03 20:06] duncangroenewald commented on #6619
I have just built the native arm64 version of out application but get the following error when trying to open a copy of the database - and I am assuming one should be able to open the same realm file on the arm64 platform as is used on the x86 platform.

"Error opening Realm: Migration is required due to the following errors:\n- Property \'AppPermission.!OI"

AppPermission is one of the Realm Obje

[2020-07-03 20:14] duncangroenewald commented on #6619
OK I solved that by simply bumping the schema version number - although that strikes me as potential for other problems because the file will not be portable back to the original platform unless the version number if bumped again !?

Perhaps some clarity required over file version compatibility that can be expected across platforms.

[2020-07-03 20:16] duncangroenewald commented on #6619
Anyway the native app arm64 version is up and running.

[2020-07-03 23:06] aehlke commented on #6469
I'm also experiencing this crash since upgrading from Realm 3.x. When I open the container from my device, the Realm file is quite small (20-30MB, or even 1MB in one case). Is there a way to determine whether it's file size that's causing the trouble? (Maybe the file size bloats momentarily before I'm able to view the file?) I'm stuck, not sure how to diagnose this further.

[2020-07-03 23:35] aehlke commented on #6572
I'm also hitting these crashes since upgrading from 3.x to the latest 5.x releases.

![image](https://user-images.githubusercontent.com/71601/86501160-56de2600-bd64-11ea-99ff-e1d92ccbea90.png)

I'm not using any frozen objects yet (it's one of the reasons I wanted to upgrade, to be able to use them).

[2020-07-04 00:19] pkrmf commented on #6572
The issue was still happening for me without using frozen objects, just less often. I downgraded to 4.4.1(I think that is the latest 4.x) and all the problems are gone

[2020-07-04 00:32] Fonceur commented on #6585
Make sure you are using Realm Studio 3.11.0 (or newer) from their web site...

[2020-07-04 09:47] duncangroenewald commented on #6619
Further feedback - we are seeing some performance issues with our application but the realm-core build time on the DTK is considerably faster than on the i7 2020 MacBook Air. One of the realm-core tests fails completely but the others are for the most part faster than the Air.  The last set of tests completes in 1:32 vs 1:59 - have not had a look at the realm-cocoa yet to see if that has tests.  N

[2020-07-04 13:25] raphaelcruzeiro commented on #6555
Any news on this? We are having a massive amount crashes in production.

[2020-07-04 13:56] raphaelcruzeiro commented on #6626
Our app is crashing on lauch 4 out of 5 times due to this.

[2020-07-04 13:59] raphaelcruzeiro commented on #6621
We are also facing a lot of sporadic crashes since the update to Realm 5. Updating to 5.2.0 seems to have made the crashes more frequent.

[2020-07-04 14:01] raphaelcruzeiro commented on #6607
@ericjordanmossman We are experiencing the same error and our app crashes on launch 4 out of 5 times. It seems the issue only happens if Realm is being used in a background thread.

[2020-07-04 15:42] auro-krishna opened #6627 "Memory leak observed when declaring the realm object"
**Bugs**: Facing memory leak on realm object creation
-->

How to initialize the realm object without a memory leak?

I'm initializing the variable like this
`let realm = try Realm()`

[2020-07-04 16:15] LorienMan opened #6628 "Random crash when deleting objects just after realm db opened"
## Goals
Upon app start we clean realm db synchronously just after we opened realm db for the first time. There are lots of code like below inside a single write transaction:
[code]
Unfortunately after updating from 4 to 5 we started to receive lots of random crashes. As logs contain "Encrypted" word I should mention that our realm configuration has encryption **disabled**.

## Expected Results
No

[2020-07-05 01:55] duncangroenewald commented on #6619
I just discovered the performance issue only surfaces in DEBUG mode - release builds or profiling it runs blazingly fast, like knock your socks off fast.  And horizontal scaling is awesome - we have some long jobs processing the data and realm database allows very easy horizontal scaling to process different segments concurrently.

So now if someone could help me figure out how to fix the upgrade

[2020-07-05 08:58] raphaelcruzeiro commented on #6607
@ericjordanmossman It seems like this is caused by creating 2 realms on separate threads. I was able to work around this crash by implementing a lock and ensuring that only one realm exists at any given time.

[2020-07-05 17:56] allenhumphreys opened #6629 "Potential performance regression in Realm 5"
## Goals

Over at https://github.com/insidegui/WWDC we are working on upgrading to Realm v5 to take advantage of DispatchQueue-bound realms. Unfortunately, we have encountered what seems to be a performance bug in Realm v5. I have compared the behavior of updating ~1600 realm objects before and after the upgrade.

Unfortunately, we use RxRealm in addition to Realm, which means we have 2 dependency

[2020-07-05 19:58] dangthaison91 opened #6630 "[Bug] Realm at path already opened with a different schema mode for the first time open Realm file"
## Goals
We have a wrapper to support read/write Realm data on multiple threads. It simply creates a new Realm instance for every read/write execution.

When updating to Realm v5.2.0 we have some crashes when we open a Realm file from multiple threads with the same configuration.

**NOTE: This error occurs only when the app is the first time install**

## Expected Results
Realm can open successful

[2020-07-06 03:22] YanxiFeng commented on #5482
Same issue here. **mmap() failed: Cannot allocate memory size: 1342177280 offset: 0
RLMSetErrorOrThrow(NSError*, NSError* __autoreleasing*) +[RLMRealm defaultRealm] **

[2020-07-06 07:09] bmunkholm commented on #6555
@raphaelcruzeiro Which version are you using? Is it exact same crash?

[2020-07-06 07:26] bmunkholm commented on #6626
@raphaelcruzeiro @trr-amsiq Can you please provide details of the crashes? And if this is reproducible, can you try to make a minimal reprocase?

[2020-07-06 08:11] RealmBot opened #6631 "Add Support for re-running Custom Confirmation Logic"
Expose work done in [Expose Retry Custom Confirmation Client API endpoint](https://jira.mongodb.org/browse/REALMC-4842) within Realm's  Cocoa SDK.

[2020-07-06 09:00] KylChiang commented on #6587
Hi, I have same problem,
I was using RealmSwift v4.3.0, it's fine to open the file default.realm by Realm Browser,
after I upgrade the version of RealmSwift to v5.2.0, it always ask me to enter encryption key, but actually I haven't settings any key in the project.

Is it a default key that I should fill with in v5.2.0?

--
Realm framework version: v5.2.0

Realm Object Server version: ?

Xcode ver

[2020-07-06 09:05] #3310 closed

[2020-07-06 09:17] #2539 closed

[2020-07-06 10:17] raphaelcruzeiro commented on #6555
@bmunkholm I believe it is the same thread syncronisation method that is crashing. Here is my stacktrace:

[code]

[2020-07-06 10:18] raphaelcruzeiro commented on #6555
This seems to be happening when I create two realms in two different threads. I've implemented an application level lock to esure that no 2 realms are ever created at the same time and the crash is gone.

[2020-07-06 10:26] raphaelcruzeiro commented on #6626
@bmunkholm I have EXC_BAD_ACCESS happening all over the place since the 5.x.x update. I've actually copied a stacktrace to the other EXC_BAD_ACCESS issue since it seems it's the same method that is crashing. I'll trying to get all the stacktraces but they are taking a while to arrive since the app is crashing on lauch.

So far I've observed EXC_BAD_ACCESS on the following spots:

- `realm::util::E

[2020-07-06 10:51] raphaelcruzeiro commented on #6555
Forgot to mention: This problem started on 5.0.0 and continues on 5.2.0

[2020-07-06 11:36] dangthaison91 commented on #6630
Oops, this is my mistake, I also use asyncOpen Realm which is using a different configurations.

[2020-07-06 11:36] #6630 closed

[2020-07-06 11:54] iDevid commented on #6628
Same here

[2020-07-06 13:12] AlexLike commented on #6262
Can we get an update on this? Swift 5.3 is shipping SPM [support for distributing binary frameworks as Swift Packages](https://developer.apple.com/documentation/swift_packages/distributing_binary_frameworks_as_swift_packages).

[2020-07-06 22:50] sedwo commented on #6572
@pkrmf Same here.  I was about to release with v5.x, but now will continue my release updates using v4.4.1 .
cc: @bigfish24

[2020-07-06 23:22] raphaelcruzeiro commented on #6628
This looks like #6555

[2020-07-07 02:35] flyling opened #6632 "The first time I save one record,There is nothing in Realm’s file . But The second time I save it ,it goes well"
I create two models ,just like this

[code]

Configuration:

[code]
Save some data:
[code]

[code]

Questions :
I create two realm models,When i save a record to table' ShakeRmConnectedUserModel',Everything is OK.But the first time I save a record to table "ShakeRmTransferModel",There is nothing in table "ShakeRmTransferModel", The second time I save it ,it went well.I don't know why, Can anyone h

[2020-07-07 03:29] johndpope commented on #2617
To chime in here - we experienced unexpected results by incorrectly using .all and passing in an empty array which blew away existing data.
-                realm.add(data, update: .all)
+                realm.add(data, update: .modified)
If it was my framework and people were using this - I'd like to log out a print saying
**WARNING - destroying all data.**

[2020-07-07 05:48] sinoru commented on #6607
Seems related with https://github.com/realm/realm-core/issues/3766

[2020-07-07 06:06] LorienMan commented on #6628
I looked into all the similar issues and can say that several steps higher in all of my stack traces there is an
`autoreleasepool<A>(invoking:) + 64` call like in almost all of similar issues.

[2020-07-07 08:59] leemaguire commented on #6004
Sorry for the late reply but please update to the latest version of Realm and let us know if this solves your issue.

[2020-07-07 09:05] #6004 closed

[2020-07-07 09:12] leemaguire commented on #5482
@YanxiFeng in order to help you further could you please open a new issue and fill out the issue template accordingly. Thanks.

[2020-07-07 10:27] leemaguire commented on #5877
Closing this issue due to insufficient information and age. If you have any other questions please open a new issue.

Thanks.

[2020-07-07 10:27] #5877 closed

[2020-07-07 10:35] leemaguire commented on #5912
@sanchitgarg1909 please update to the latest version of Realm. I will now close this issue, if you have any other questions please open a new issue.

Thanks.

[2020-07-07 10:35] #5912 closed

[2020-07-07 10:38] leemaguire commented on #5951
On iOS 8 and above, files inside apps are automatically encrypted using NSFileProtection whenever the device is locked. If your app attempts to do any work involving Realm while the device is locked and its parent directory isn't set to NSFileProtectionNone, an open() failed: Operation not permitted exception will be thrown.

To avoid this, it is necessary to ensure the NSFileProtectionNone file p

[2020-07-07 10:38] #5951 closed

[2020-07-07 10:40] leemaguire commented on #6627
@auro-krishna We cannot help you unless you fill out the issue template.

Thanks.

[2020-07-07 14:44] #5972 closed

[2020-07-07 14:48] Przemyslaw-Wosko opened #6633 "RealmSwift v10.0.0-beta.2 crash on prod environment"
##  Goals
Successfully release app that uses RealmSwift v10.0.0-beta.2, for now on prod env, but hidden with feature flag, so realm database shouldn't be even used.

## Expected Results
When user comes back from background after couple hours, apps works

## Actual resutls:
When user comes back from background after couple hours, apps crash with `Fatal Exception: realm::RealmFileException`:
log:
[c

[2020-07-07 14:56] #6546 closed

[2020-07-07 15:10] vinnyt commented on #6629
seeing similar behavior as well.

[2020-07-07 15:16] #6471 closed

[2020-07-07 15:42] tgoyne commented on #6262
With how swiftpm's tools versioning works, using features added in new versions of Xcode requires dropping support for older versions. This means that at the minimum we need to wait for Xcode 12 to make it out of beta.

[2020-07-07 15:59] tgoyne commented on #3489
This was released in 3.16.0. `realm.create(type, value, update: .modified)` in Swift or `[Type createOrUpdateModified:value inRealm:realm]` in obj-c will only set the properties which have changed.

[2020-07-07 15:59] #3489 closed

[2020-07-07 20:46] jovanpreet opened #6635 "Realm Results<Object> to conform ObervableObject"
**Goals:**
Realm Results<Object> to conform to ObservableObject so we can use it with Lists in SwiftUI. Currently Results are of type struct and only class can conform to ObservableObject protocol. I don't know if this is feasible.

**ExpectedResults:**
Any updation on Results to reflect on Lists.

[2020-07-07 22:45] aehlke commented on #6572
Some acknowledgement of this one would be great. Would have been super dangerous to have released this to my users, without a way for them to downgrade back to a working Realm version!

[2020-07-08 00:18] serbuk commented on #2539
This is what I got with the latest version of Realm (8 July 2020):
![image](https://user-images.githubusercontent.com/14895669/86858583-30e8b680-c0c1-11ea-909e-d9b623c1d0f6.png)

[2020-07-08 02:10] destryteeter opened #6636 "group_writer.cpp:623: [realm-core-6.0.8] Assertion failed: free_ref < locked.ref || free_ref >= (locked.ref + locked.size) with (locked.ref, locked.size, locked.released_at_version, free_ref, m_current_version, m_alloc.get_file_path_for_assertions()) = [1"
## Goals
Resolve crash issue

## Expected Results
No crash

## Actual Results
Crashed:
[code]

## Steps to Reproduce
Launched app, run for an extended period of time making various calls to write/read the realm database (30-60 minutes).

## Code Sample
Source code is private and cannot be shared.

## Version of Realm and Tooling
Please update to the latest Carthage version: 0.35.0. You currently a

[2020-07-08 04:03] tgoyne commented on #6629
It looks like it's spending 2/3 of its total runtime scanning the transaction log to check for schema changes in places where there isn't actually a schema change listener registered. Should be pretty simple to just not do that.

[2020-07-08 07:21] cuongtv51 commented on #6549
This issue prevent other want to use lib with carthage. Can we move example prj to other or any thing else?

[2020-07-08 07:34] bennettyuan18 opened #6637 "Realm initialization crash on All Screen iPhone"
## Goals

Resolve this issue.

## Expected Results

No crash on all Apple devices.

## Version of Realm and Tooling

- Realm framework version: 5.1.0 and 5.2.0
- Xcode version: 11.5
- iOS version: 13.4.1
- Dependency manager + version: Carthage 0.35.0

## Issue

Realm initialization crash on All Screen iPhone. iPhone SE (2nd generation), iPhone 7, and iPhone 7 Plus are still working.

I upgrade Re

[2020-07-08 07:48] KylChiang commented on #6587
@bmunkholm Hi, help please and re-open the issue.

[2020-07-08 08:18] leemaguire commented on #6587
@KylChiang you need to use this version to open a Realm created with v5.2.0 https://github.com/realm/realm-studio/releases/tag/v3.11.0

[2020-07-08 08:19] edward-gray commented on #6585
Download the new realm browser from https://www.mongodb.com/realm/mobile/database
also update your pods

[2020-07-08 08:20] edward-gray commented on #6585
In the Bottom of the page

[2020-07-08 08:21] leemaguire commented on #6585
https://github.com/realm/realm-studio/releases/tag/v3.11.0 is the Realm Studio you should target with v5 and above.

[2020-07-08 08:28] KylChiang commented on #6587
Thank you! It works 😄

[2020-07-08 11:49] bmunkholm commented on #6633
"Steps to Reproduce" should be what others can do to reproduce the issue. Can you reduce the issue down to a simple app you can share?

[2020-07-08 19:48] tgoyne commented on #6629
Turns out 2/3 was a dramatic underestimate. Before/after comparison with https://github.com/realm/realm-core/pull/3811:

<img width="1680" alt="Screen Shot 2020-07-08 at 12 43 13 PM" src="https://user-images.githubusercontent.com/408944/86963318-2e19b000-c119-11ea-9697-958a3144375e.png">
<img width="1680" alt="Screen Shot 2020-07-08 at 12 43 38 PM" src="https://user-images.githubusercontent.com/40

[2020-07-08 19:50] tgoyne commented on #6636
@finnschiermer This is an assertion failure that I haven't seen before.

[2020-07-08 19:57] allenhumphreys commented on #6629
@tgoyne Thank you so much for the rapid turn around! As we're trying to cut a new release with Realm 5, could you help us plan our strategy by providing a rough ETA on a release with this fix?

[2020-07-08 20:09] tgoyne commented on #6635
Currently you'll need a wrapper class. Something like the following should work (but I haven't tested it):

[code]

[2020-07-08 20:11] vikmeup opened #6638 "[Crash] Opening Realm files of format version 0 is not supported by this version of Realm"
Started using realm with version 4 and in the past week upgraded codebase to use Realm 5, since then we started seeing many crashes:

I'm not able identify what exactly is causing those issues. I did try to update to version 5.2 and this introduced more random crashes

Realm files are using encryption.

## Goals

## Expected Results

No crashes.

## Actual Results

Crashes to random users

## Step

[2020-07-08 20:12] vikmeup commented on #6530
I'm seeing the same issue, created an issue to track: https://github.com/realm/realm-cocoa/issues/6638

[2020-07-08 21:44] deRonbrown opened #6639 "Missing model data during migration"
## Goals
I want to rename a model, and given that there isn't first-class support for renaming, my current plan is to delete the old model, create a new model, and copying the data over.

## Expected Results
I'm deleting a model class and creating the new model class in a single schema migration. I expect the data from the old model class to be available within the migration block.

## Actual Resu

[2020-07-08 21:45] #6516 closed

[2020-07-08 21:49] marchy commented on #6516
Thanks for taking on those changes in https://github.com/realm/realm-cocoa/pull/6622 @tgoyne.

Much better with the '.collectionPublisher' naming! --> no mistakenly missed updates now

[2020-07-08 22:01] ericjordanmossman commented on #6633
@Przemyslaw-Wosko
I tried reproducing this today under a couple circumstances, but I was mostly limited to only killing then re-opening the application.

Have you been able to replicate this on your own devices? And do you have any more information on the crash circumstances? For example, were the devices in production already using a previous version of Realm, with synchronized realms?

[2020-07-08 23:05] Przemyslaw-Wosko commented on #6633
I’ve been able to replicate the issue twice. Each time, it occurred after backgrounding the app in the evening and foregrounding it in the morning. Unfortunately, I didn’t have the debugger attached.

We didn’t use Realm on prod earlier. We incorporated this version of Realm to support a new feature. To avoid long-lasting feature branches, we’ve been deploying code for this feature behind a featur

[2020-07-09 11:37] igrechuhin commented on #6572
Same here with Realm 5.2.0:
[code]

[2020-07-09 14:04] tmck20 commented on #6590
I've installed Realm on a new project and am having similar issues. I think there is some issue with other pods working too, but I've cleaned the build and derived data, done pod repo update and am just getting lots of errors. I'm really stuck and getting very frustrated because I want to get on with my app, so I'd really appreciate any suggestions please. Here's a screenshot of the errors
Thanks

[2020-07-09 14:19] leemaguire commented on #6590
@tmck20 can you point to the latest version of Realm (5.2.0) in your pod file and try?

Thanks

[2020-07-09 14:33] leemaguire commented on #6600
Closing this issue due to inactivity. If you have any other questions please open a new issue.

Thanks.

[2020-07-09 14:37] leemaguire commented on #6582
Closing issue due to inactivity, if you have any other questions please open a new issue.

Thanks

[2020-07-09 14:50] #6600 closed

[2020-07-09 14:50] #6582 closed

[2020-07-09 14:51] tmck20 commented on #6590
Thanks for your message. I've just tried that, but it still is generating the same errors.

[2020-07-09 14:53] leemaguire commented on #6590
Could you send us a sample app that replicates this issue? Thanks.

[2020-07-09 15:45] ericjordanmossman commented on #6633
@Przemyslaw-Wosko
Unfortunately over night I wasn't able to see the exact behavior when bringing the application back into the foreground. The closest I've been able to come is this:
[code]
Which I can get consistently, albeit under different circumstances.

I'll need to check with the rest of the team to understand more.

[2020-07-09 16:00] tmck20 commented on #6590
Thanks for your quick replies. I'm going to create a new basic app trying to recreate the situation and I'll upload that if the problem reoccurs.

[2020-07-09 23:18] ericjordanmossman commented on #6633
@Przemyslaw-Wosko
I worked on this more and the stack trace above isn't related. It was caused by a change I made directly to the metadata.realm path in my sync configuration.

I'm having quite a bit of trouble trying to mimic the passage of time while the app is the background. As Brian mentioned earlier, is it possible to reduce the issue into a shareable app?

[2020-07-10 03:10] caobug commented on #6549
I have this same issues, how to fix it?
[code]
[code]
[code]

[2020-07-10 05:41] javruben opened #6642 "Crash when adding an object"
## Goals
Add an object to realm

## Expected Results
Object to be added

## Actual Results
Hard crash:
[code]

## Steps to Reproduce
Unknown at this point. I will update later if I find out.

## Version of Realm and Tooling
[code]

[2020-07-10 06:25] javruben commented on #6642
This seems slightly different. Not sure yet what is going on. Realm was stable previously.
[code]

[2020-07-10 06:52] javruben commented on #6642
I found the cause. I'm calling:

`updatedFields.removeAll()`

where `updatedFields` is a `List<String>`

[2020-07-10 19:28] starchey opened #6643 "Realm init crash - realm::Table::migrate_indexes - app update from RealmSwift 3.21.0 to 5.2.0"
## Goals
Initialize Realm on app update without crashing.

## Expected Results
After updating to our latest release, users are able to launch app and initialize Realm without crashing.

## Actual Results
About 4% of users updating to our most recent release are crashing on launch. They will crash 100% of the time if they fall into this bucket. Our prior release was integrated with RealmSwift 3.21.

[2020-07-10 22:01] eanagel commented on #1109
6 years is a long time to be "on the roadmap", maybe it's time to get this one done?

[2020-07-10 23:37] ericjordanmossman commented on #6572
I tried investigating this today and yesterday. I saw similar spikes memory during update when:

- using an unmanaged object to update. so in `realm.add(object, update. modified)`, `object.realm` is nil, but matches a primary key of an existing object.
- not when using managed objects.
- specifically updating direct relationships that created downstream orphaned objects. Using lists or just updati

[2020-07-11 10:53] javruben commented on #6642
Turns out it crashes more often than only that call.

[2020-07-11 11:19] jovanpreet commented on #6635
Hi @tgoyne this works thanks. But still do you have any plans to do so? Because you make RealmSwift.List and Object conform to ObservableObject and not Results.

Also you use publisher to update which gets called anytime the collection change, will there be any performance difference when using publisher compared to your own Notification.

One last question can publisher tell which rows are added

[2020-07-11 20:51] WickedChicken42 opened #6644 "Assertion failed: ref != 0 with (ref, get_file_path_for_assertions())"
Realm is crashing, consequently taking my app with it, during initialization when attempting to open the Realm database with the following error.

This began happening to some of our users when my app was upgraded to use Realm v5.0.3 and remains with additional update to v5.2.0.  App has been working fine when it was using v4.x.x of Realm/RealmSwift.  While it doesn't happen to everyone, once it h

[2020-07-11 20:59] WickedChicken42 commented on #6644
Here is my initialization code in AppDelegate.  We are currently on schema 20, we haven't changed our schema in a while and it was the same between Realm versions updates in my app from v4.4.0 and v5.0.3 (when problems began) and now v5.2.0.

        let config = Realm.Configuration(
            // Set the new schema version. This must be greater than the previously used
            // version (if

[2020-07-13 10:41] leemaguire commented on #6643
Hi @starchey,

Could you share some device analytics of those 4% of users that are experiencing this crash?

Thanks,
Lee

[2020-07-13 10:43] leemaguire commented on #6644
Hi @WickedChicken42

Could you share some device analytics for the users that are experiencing this crash?

Thanks,
Lee

[2020-07-13 11:58] leemaguire commented on #6642
Hi @javruben,

We need more context on how you are using Realm. Could you please send us a sample app that replicates this crash. Also could you use the latest version of Realm v5.2.0

Thanks,
Lee

[2020-07-13 12:31] starchey commented on #6643
@leemaguire Sure:

* 61% iPhone, 38% iPad
* 55% iOS 13.5.1, 26% iOS 12.4.6, 7% 12.4.7
* Seeing a wide range of Disk/RAM free, but averages: 18.25 GB, 133.27 MB.

[2020-07-13 13:58] alexandremorgado commented on #6625
Same issue here, as well. It can't compile SwiftUI canvas even setting 'Require Only App-Extension-Safe API' to YES.

This problem happens only linking Realm via SPM. If I add Realm via Cocoapods, SwiftUI preview works properly.

[2020-07-13 15:09] Przemyslaw-Wosko commented on #6633
@ericjordanmossman
Creation of example app would be very tricky, because that would have to be app that import Realm but doesn't use it.
I'd love to discuss that without worrying of spoiling anything related to company or leaking information that i shouldn't leak.
Can i ask you to join our company internal channel and there discuss it futher? We already cooperate with your regarding mongo and new

[2020-07-13 15:19] leemaguire commented on #6633
Hi @Przemyslaw-Wosko

You can add me to your company's internal channel my email is lee.maguire@mongodb.com

Thanks

[2020-07-13 15:41] Przemyslaw-Wosko commented on #6633
@leemaguire invite sent, thanks!

[2020-07-13 15:44] leemaguire commented on #6639
You need to keep the `Foo` object in your project while you are performing this migration.

[2020-07-13 15:50] #6639 closed

[2020-07-13 15:57] WickedChicken42 commented on #6644
From my Apple crash log reports an my own test iPad I hope this is the detail your asking for:

App Version: sports-audio-dj 3.53 (3.53)
iOS Version: 13.5.1 (17F80)
Devices: iPad Pro (9.7-inch) (Model A1673),
------
iOS Version: 13.4.1 (17E262)
Device: iPad Pro (12.9-inch) (4th generation)
------
iOS Version: 13.5.1 (17F80)
Device: iPhone XS
------
iOS Version: 13.5.1 (17F80)
Device: iPhone X (Mod

[2020-07-13 16:00] WickedChicken42 commented on #6644
Any my own testing device which I was finally able to reproduce the issue on:
iOS Version: 13.5.1 (17F80)
Device: iPad Air 2

[2020-07-13 16:21] WickedChicken42 commented on #6644
It was hard to reproduce the issue on our testing devices.  At one time I did reproduce the issue on my iPad, had it crashed multiple times but I connected the iPad to my Mac to run an Xcode debug session and the issue stoped.  Fortunately this weekend I was able to re-recreate the issue and was able to successfully run a debug session on it which produced the data above.

[2020-07-13 17:29] niralishaha25 commented on #6505
Facing same issue

[2020-07-13 19:11] starchey commented on #6643
Couple other notes:

* The app is multi-threaded, and we initialize Realm on several threads.
* In reviewing more metrics, the crash is very rare on newer devices. For example, less than 1% on iPhone 11, iPhone 11 Pro, iPhone 11 Pro Max. Most common iPhone crashes are on iPhone 6, iPhone 6s, iPhone 7. Most common iPad crashes are iPad Air, iPad Air 2, and iPad Mini 2.

[2020-07-14 02:05] cashwalk-bzjoowan commented on #6408
any update in this crash? i have same issue, using with realm-cocoa "v.4.4.1"

[2020-07-14 05:10] sedwo commented on #6572
Hi @ericjordanmossman,
Do your tests cycle through deletes too after adding/updating objects?

Try a loop of adding 200 objects, then deleting each object one at a time in a loop.  And cycle through that whole thing several thousands of times.

[2020-07-14 05:20] EmDee commented on #4247
Since this seems to be the one of the only issue showing up in `Google` when searching for this problem, I wanted to show our solution.

The problem for us was that the `Realm` file is part of an internal framework, so the solution suggested in https://github.com/realm/realm-cocoa/issues/4247#issuecomment-256558582 did not work for us.

Instead I added a run script to framework's build phase:

[co

[2020-07-14 09:21] leemaguire commented on #6638
Hi @vikmeup Can you please post the full stack trace?

[2020-07-14 11:53] dangthaison91 opened #6646 "Support freeze for unmanaged objects to avoid: Unmanaged objects cannot be frozen"
## Goals
- When an object is newly created, it is unmanaged and cannot make as freeze/frozen
- After that object is saved into Realm Database, it becomes managed object can not thread-safe anymore so it cannot be used in another thread or Realm will throw an exception: **Unmanaged objects cannot be frozen**

- In the previous Realm version, we often create/map JSON to RealmObject then pass to anot

[2020-07-14 11:53] #6498 closed

[2020-07-14 14:02] theolampert opened #6647 "user.identities property is not persisted between app restarts."
## Goals
Be able to determine if a user is logged in anonymously or with an oauth provider. I used signin with apple for example and am not able to tell how a user has authenticated.

## Expected Results
when calling `app.currentUser()` the oauth provider used to authenticate the current session is persisted in `user.identities` array.

## Actual Results
Identities array is populated after initial

[2020-07-14 14:21] leemaguire commented on #6647
This is a bug on our side, we will look into it.

Thanks,
Lee

[2020-07-14 14:44] #6519 closed

[2020-07-14 14:53] #6599 closed

[2020-07-14 15:08] #6614 closed

[2020-07-14 15:35] #6549 closed

[2020-07-14 16:18] leemaguire commented on #6572
If you are encountering issues due to mmap use `Realm.Configuration.maxNumberOfActiveVersions` to limit the amount of active versions a Realm contains. This may help you figure out areas in your code which may be holding onto a Realm version too long and cannot be cleaned up, hence causing memory issues.

Setting an arbitrary `maxNumberOfActiveVersions` to, lets say 5 may help narrow down the issu

[2020-07-14 16:18] leemaguire commented on #6469
If you are encountering issues due to mmap use `Realm.Configuration.maxNumberOfActiveVersions` to limit the amount of active versions a Realm contains. This may help you figure out areas in your code which may be holding onto a Realm version too long and cannot be cleaned up, hence causing memory issues.

Setting an arbitrary `maxNumberOfActiveVersions` to, lets say 5 may help narrow down the issu

[2020-07-14 16:19] leemaguire commented on #6370
If you are encountering issues due to mmap use `Realm.Configuration.maxNumberOfActiveVersions` to limit the amount of active versions a Realm contains. This may help you figure out areas in your code which may be holding onto a Realm version too long and cannot be cleaned up, hence causing memory issues.

Setting an arbitrary `maxNumberOfActiveVersions` to, lets say 5 may help narrow down the issu

[2020-07-14 16:33] sedwo commented on #6572
Interesting.
What is `maxNumberOfActiveVersions` default to?

[2020-07-14 16:42] tgoyne commented on #6572
Unlimited.

[2020-07-14 19:02] vikmeup commented on #6638
[code]

[2020-07-14 23:39] tgoyne commented on #6646
What would you expect freezing an unmanaged object to do?

[2020-07-15 00:44] #6629 closed

[2020-07-15 05:43] alpesh232 commented on #6643
I am getting the same kind of issue after updating pod 4.4.1 to 5.3.0 And Just run the app on simulator app getting crash
https://stackoverflow.com/questions/62908228/app-getting-crash-while-update-pod-realmswift-from-4-4-1-to-5-3-0

[2020-07-15 06:44] cferg-entale commented on #6636
Did you discover the cause of this?

[2020-07-15 09:08] jovanpreet commented on #6635
Hi @tgoyne could you help on above questions?

[2020-07-15 10:27] friguron opened #6649 "Xcode 12 Betas 1 and 2 crash when compiling when using Realm 5.2.0 and 5.3.0, is it a known fact?"
## Goals

Compile successfully with Xcode 12 a project that, as of now, it only compiles ok with Xcode 11.1

## Expected Results

Xcode 12 Beta 1 and 2 should not crash using Realm 5.2.0 and 5.3.0 (in the compile phase)

## Actual Results

Xcode 12 Beta 1 and 2 both crash using Realm 5.2.0 and 5.3.0 (in the compile phase)

See attachment:

<img width="1012" alt="error_realm" src="https://user-imag

[2020-07-15 18:27] tgoyne commented on #6649
You currently need to remove x86_64 from the support architectures when building for watchOS as we are not yet publishing a library with a slice for the new 64-bit simulator.

[2020-07-16 01:38] LiYanan2004 commented on #6625
I have the same issue with the SPM

[2020-07-16 02:10] starchey commented on #6643
We released an update with the migration code removed and also centralized realm creation to a single method surrounded by a NSLock lock and unlock, but this hasn't reduced the crashes (tried based on this comment: https://github.com/realm/realm-cocoa/issues/6555#issuecomment-654147113). As more users have updated, we're seeing 10% of our users crash, and the only way they can get around it so far

[2020-07-16 07:44] mkoleva commented on #6327
So if we want to distribute a forwards compatible binary framework to our clients (e.g. 5.2+), which depends on RealmSwift, is there a way to do that?

[2020-07-16 09:30] jedelbo commented on #6643
I am missing the actual error message (an assertion?). Is that available somehow?

[2020-07-16 10:36] bmunkholm commented on #6621
The discussion has turned into something else than the original issue description and title. Could you please either 1)update the title and issue description (likely the easiest) or 2) close this issue and create a new related to the specific crash you have?

Thanks!

@raphaelcruzeiro Are you seeing exactly the same crash? Then it would be helpful with more details about that, but only if it's the

[2020-07-16 10:37] bmunkholm commented on #6621
@tgoyne Are you aware of any behavioural change since 4.3.2 that could be related to this?

[2020-07-16 11:38] trr-amsiq commented on #6626
It seems to only happen with realm file created with pre v5.x.x. Once the file has been deleted and recreated with v5.x.x, I am unable to reproduce the crash.

This is the stacktrace on app launch with 5.3.0. from 4.4.1.
[code]

The code causing the crash is:
[code]

[2020-07-16 12:15] starchey commented on #6643
@jedelbo From Firebase Crashlytics:

Crashed: com.apple.main-thread
SIGABRT ABORT 0x000000019adc7d88
std::__1::basic_ostream<char, std::__1::char_traits<char> >& std::__1::operator<<<std::__1::char_traits<char> >(std::__1::basic_ostream<char, std::__1::char_traits<char> >&, char)

From Xcode Crash Info (downloaded from App Store):

Date/Time:           2020-07-15 23:12:34.1661 -0600
Launch Time:

[2020-07-16 12:22] starchey commented on #6643
Here is a full example report from Apple:

[code]

[2020-07-16 14:01] bguidolim commented on #6626
Seems to be related to #6555

[2020-07-16 14:06] friguron commented on #6649
As far as we understand we've removed all "intel" mentions inside this test project we're attaching here:

https://www.dropbox.com/s/ndb0i5fq3yms04v/TestApp_realm_arm_only_with_watch.zip

The compilation error still appears. Should we do anything else to get a successful compilation?

On the other hand, should we expect x86/64 support for watchos targets as we had in previous Realm versions? Is it

[2020-07-16 14:58] sedwo commented on #6572
Well.. that happened.

`config.maximumNumberOfActiveVersions = 64`

![image](https://user-images.githubusercontent.com/1434449/87686420-7ad13c80-c752-11ea-966c-fa9d3048ebf6.png)

I removed the delete steps and only perform the add/update calls:

[code]

Still experience the fatal mmap error on v5.3.0

[2020-07-16 15:53] RomainQuidet commented on #5832
+1 This feature is really needed, even more any predicate on List<String> is really missing here!

[2020-07-16 15:59] RomainQuidet commented on #1490
Is this still active? I'm trying to filter on swift Realm with `NSPredicate(format: "ANY tags CONTAINS[cd] %@", rbTag)` but a keep getting crashes. How do you filter from a list of strings? My object has a tags property as `List<String>`

[2020-07-16 16:34] BrentMifsud commented on #6649
this is happening in Xcode 11 as well. Started after upgrading my phone to iOS 13.6

[2020-07-16 16:34] leemaguire commented on #6572
Is `createOrUpdateAll` performed in a loop at all @sedwo ? Are you also pinning a Realm instance anywhere in your code?

[2020-07-16 16:36] tgoyne commented on #6649
That project is building for "standard architectures". With Xcode 11 that results in building for i386, armv7k, and arm64_32. Xcode 12 has added x86_64 to that list because they added a 64-bit version of the watch simulator.  We haven't released a version of the core library for the new simulator yet, so you currently need to explicitly set the supported architectures to the old value of "i386 arm

[2020-07-16 16:39] tgoyne commented on #6621
Does `if let items = items { items.forEach { ... } }` work? I remember in the past we had an issue with iterator related to the result of null chaining having strange lifetime, and it's possible we had a regression there.

[2020-07-16 16:50] BrentMifsud commented on #6649
Changing the architecture seems to have broken the cocoapods scripts. I had to add in "i386 armv7k arm64_32 arm64"

[2020-07-16 16:52] tgoyne commented on #6649
arm64 should only be needed for the iOS part and not the watchOS part unless something strange is going on.

[2020-07-16 16:58] BrentMifsud commented on #6649
we do have a watchOS target as well. It doesn't have realm as a dependency though. Seems to build fine though with the architecture configuration I mentioned above.

Crisis averted for now.

Weird that apple made that architecture change as part of Xcode 11.6 instead of waiting for 12.

[2020-07-16 17:00] tgoyne commented on #6649
Xcode 11.6 existing at all is pretty weird. I'm guessing there's some good reason for it, though.

[2020-07-16 17:18] cferg-entale commented on #6636
I am also experiencing a crash in my code after an extended period of time (30+ mins). My app is an audio app and write playback progress to Realm every 2 seconds. Any recommendations are very welcome.
[code]

[2020-07-16 18:25] sedwo commented on #6572
Correct.  The loop is:

while(!sync_done) {
     call_API_for_data().    // ~200 objects each time
     createOrUpdateAll(data)
}

fyi:
[code]

I'm not familiar with _pinning_.

[2020-07-16 19:08] destryteeter commented on #6636
Right, similar behavior where we pull data from our cloud every 10-60 seconds and update our local realm database.

Caught another crash while running the app from Xcode:
[code]

[2020-07-16 20:30] destryteeter commented on #6636
It looks like the same crash as far as I can see.  The only difference is the initial report happened on a App Store release build.  While the more recent one happened when running the app locally.

[2020-07-16 20:37] bmunkholm commented on #6636
The first one asserts, but not the 2'nd and not in the same function, right?
But they surely could be related. Let's just keep it here for now.

Could you possibly setup some stress testing of your app?
If you get to a point where you can reproduce, would it be possible to share it with us privately?

[2020-07-16 20:48] WickedChicken42 commented on #6644
Just tried v5.3.0 and Realm contiues to crash when opening my database.  Trying to open the database in the Realm Brower also crashes the Realm browser.  Here is the crash log from that:
Process:               Realm Browser [4517]
Path:                  /Applications/Realm Browser.app/Contents/MacOS/Realm Browser
Identifier:            io.realm.realmbrowser
Version:               3.0.1 (98)
App It

[2020-07-16 20:54] bmunkholm commented on #6644
Opening a corrupt file will continue to crash. No matter which version you open it with.
Could you possibly share the corrupt file with us privately?

[2020-07-16 20:55] WickedChicken42 commented on #6644
When I reopen the Realm Browser it also wants to report the unexpected shutdown and here are the details the Realm Browser collected:

Incident Identifier: 47B5133A-2720-4D09-9811-5FA0243E2101
CrashReporter Key:   530E0FF8-D5DE-532F-855F-0E4659BF2D81
Hardware Model:      MacBookPro14,3
Process:         Realm Browser [4599]
Path:
Identifier:      io.realm.realmbrowser
Version:         3.0.1 (98)
Co

[2020-07-16 20:56] WickedChicken42 commented on #6644
Absolutely.  Do you just wan t the “default.realm” file or some of the secondary files starting with “default”?

[2020-07-16 21:01] WickedChicken42 commented on #6644
I also have the database from before it was upgraded from v4.4.0 to v5.  The fun part is sometimes the the update in Realms goes through without a problem and I have to attempt an update multiple times before one will fail and I can reproduce what some of my users are experiencing.

"Attempt an update multiple times": I have a copy of my apps Realm database that is in it’s v4.4.0 version and I can

[2020-07-16 21:01] bmunkholm commented on #6644
Just the default.realm file (the rest are only used when the file is open). You can send it to brian dot munkholm at mongodb.com

[2020-07-16 21:03] WickedChicken42 commented on #6644
You may not have gotten my second email yet, did you also want the db from before the v5 upgrade?

James

[2020-07-16 21:05] bmunkholm commented on #6644
Yes please!

[2020-07-16 21:24] bmunkholm commented on #6644
@WickedChicken42 I didn't receive anything yet - also not in spam. I'm sure you are translating "dot" and "at" to "." and "@" :-)

[2020-07-16 21:26] WickedChicken42 commented on #6644
It's taking a while to upload the DBs even though they are ZIP’d, my internet’s upload speed SUCKS!

[2020-07-16 21:29] WickedChicken42 commented on #6644
Also the DB attachments will be via Apple’s Maildrop so that they don’t trip an email attachment size limitation.

James
Hammer of the Gods Software

[2020-07-16 21:30] #6613 closed

[2020-07-16 22:39] WickedChicken42 commented on #6644
Some additional testing since sending in the two DB's on v5.3.0:
When I attempt update from a v4.4.0 DB to v5.3.0 running my app from Xcode Debug mode, the update completes successfully.
When I attempt to update from a v4.4.0 DB to v5.3.0 running my app normally (launch on iPad, not via Xcode) the update fails and crashes the app.

[2020-07-16 23:49] davidrazmadze commented on #4809
`  override func viewDidLoad() {
    super.viewDidLoad()

    /// Initiliaze the realm database
    let realmPath = Bundle.main.url(forResource: "default", withExtension: "realm")!
    let config = Realm.Configuration(fileURL: realmPath, schemaVersion: 1, migrationBlock: { migration, oldSchemaVersion in if (oldSchemaVersion < 1) {} })

    do {
      try realm = Realm(configuration: config)

[2020-07-16 23:50] davidrazmadze commented on #4809
Unable to open a realm at path '/private/var/containers/Bundle/Application/059A1774-9D42-4D83-9657-F751F59E93D2/NorthTrash.app/default.realm.management': make_dir() failed: Operation not permitted

[2020-07-17 00:17] allenhumphreys opened #6652 "Crash in Realm 5 following compacting the Realm."
## Goals
Over at WWDC.io we are experiencing a crash in Realm v5.2/5.3 that occurs shortly after application launch. The crash shows symptoms you might expect from a use-after-free memory situation.

As part of upgrading to Realm 5, we added support for compacting the Realm based on a free space threshold. After #6629 was addressed, we started running manual tests around upgrading from the current

[2020-07-17 00:59] crousselle2 opened #6653 "Realm reads slower when Realm is managed via SPM"
## Goals

We have been using Realm as a DB for our Swift iOS Application for over a year now.
Recently, our codebase went under a massive refactor to separate our monolithic core into more targeted Swift Packages (Model, Network, Database, etc.).

Realm was previously imported via CocoaPods but is now managed by SPM and became a dependency in our Database package.
Prior to this move, Realm was a d

[2020-07-17 02:16] tgoyne commented on #6653
Are you comparing Release builds with runtime sanitizers disabled? One of the big differences is that when using CocoaPods we already use a prebuilt release build of the realm-core library, while with spm the core library is built from source using the same build settings as the rest of your app. This means that debug builds will inherently be slower, and if you're using address sanitizer (or any

[2020-07-17 02:29] ananfang opened #6654 "Insert document via MongoClient, the value of AnyBSON(Date) will be transferred to Timestamp @ v10.0.0-beta.2"
## Goals

Using the app.mongoClient to insert the document, the value of AnyBSON(Date) will be transferred to Timestamp in MongoDB, and even the timestamp is wrong.

## Expected Results

It should be recorded as the Date type in the MongoDB.

## Actual Results

[code]
The field "updatedAt" will be the type of Timestamp, and the value will be always different.
(e.g. 6850268160453509127, 68502683021

[2020-07-17 04:49] kishore94 opened #6655 "Realm crashing at init after update"
Here is the Xcode and Realm Version :

RealmSwift = 10.0.0-beta.2
Xcode 11.3.1

Here is the crash report

Unable to open a realm at path '/Users/kk/Library/Developer/CoreSimulator/Devices/DADFB5CD-2665-42F3-86EA-DF58CB097C63/data/Containers/Shared/AppGroup/B0FB18C9-5222-4FEB-A81D-FEFD19038D47/default.realm': open() failed: Is a directory Path: /Users/kk/Library/Developer/CoreSimulator/Devices/DADF

[2020-07-17 05:57] bmunkholm commented on #6652
@allenhumphreys Sorry to hear you are also hitting this, although I'm sort of happy since you have code we can actually get our fingers on!
Does this crash no matter if you run in simulator or on device?

[2020-07-17 06:06] bmunkholm commented on #6655
@kishore94 It would be great if you would fill out the issue template please.
Can you reproduce this? Can you provide the code so we can reproduce?
Can you provide the realm that crashes?

[2020-07-17 06:31] jedelbo commented on #6626
@raphaelcruzeiro @trr-amsiq are you running with encryption enabled?

[2020-07-17 06:33] trr-amsiq commented on #6626
It is a no from here

[2020-07-17 06:34] raphaelcruzeiro commented on #6626
@jedelbo also not enabled here

[2020-07-17 06:52] cferg-entale opened #6656 "Crash when updating Realm after 30+ minutes `array_basic_tpl.hpp:123: [realm-core-6.0.9] Assertion failed: ndx < m_size [5, 0]`"
## Goals
Prevent my application from crashing after continuous use

## Actual Results
After updating an object in Realm every 2 seconds my application eventually crashes with the stacktrace below. My application is an audio player and playback progress is stored in Realm. While audio is playing the progress is updated every 2 seconds.
[code]
## Steps to Reproduce
Update an existing Ream object per

[2020-07-17 06:54] cferg-entale commented on #6636
@bmunkholm, thank you for your comment. I have created an issues [here](https://github.com/realm/realm-cocoa/issues/6656).

[2020-07-17 07:01] bmunkholm commented on #6656
Thanks for reporting this!
The "Steps to reproduce" is for how WE can reproduce :-)
Any way for us to do that?

[2020-07-17 07:07] cferg-entale commented on #6656
Gotcha. I have updated the "Steps to reproduce" section. I am in the process of investigating whether the frequency of the writes affects the frequency of the errors

[2020-07-17 07:17] kishore94 commented on #6655
@bmunkholm

Issue :

After updating the realm from 3.21.0 to 10.0.0-beta.2

when I open the app started to crash only report I am getting Is the above one . If there is any other way please guide me to get the result .

[2020-07-17 07:31] allenhumphreys commented on #6652
@bmunkholm it's a macOS app, no simulators 😀

[2020-07-17 07:46] jedelbo commented on #6626
@raphaelcruzeiro @trr-amsiq ok - then this is not encryption related.
I assume this error only happens on a device where you upgrade an already existing file. The error does not occur if the database is created from fresh using version 5.2.0. Can you confirm this?
It would be nice to know if you are able to reproduce this error on a device where you are able to get hold of the realm file. Either a

[2020-07-17 07:50] trr-amsiq commented on #6626
I tried both scenarios and it doesn't matter if the file was upgraded or not. I will try to get you the realm files. Don't expect them today.

[2020-07-17 08:38] leemaguire commented on #6655
@kishore94 are you using compaction? Can we see some code samples of how you are using Realm? (Initialisation, first use etc.)

Thanks

[2020-07-17 09:34] raphaels17 opened #6657 "Crash on CompoundPredicate since migration"
## Goals

make query to my realm db with several predicates, which worked perfectly before migration (3.21.0 to 5.3.0)

## Expected Results

the query works and provide the result
## Actual Results

the app crashes

EXC_BAD_ACCESS (code=1, address=0xa21e579c)

## Code Sample
 let predicate1 = NSPredicate(format: "itemID == %ld", jsonItem.itemID)
 let predicate2 = NSPredicate(format: "partner.partn

[2020-07-17 09:39] kishore94 commented on #6655
@leemaguire

I am using realm with codable .

Here is my ex class files :

[code]

Seems like realm file not generating due to some issue .

This is my initialisation setup

[code]

[2020-07-17 11:07] trr-amsiq commented on #6626
I tried reproducing the crash on a simulator. It just won't happen.
I can reproduce it on device but the realm file is not in the container /AppData/Documents.
Realm is shared with app extensions using App Groups

[2020-07-17 14:05] bmunkholm commented on #2539
@serbuk It's supported in the 10-beta versions. I admittedly was a tad too quick, as for Cocoa specifically we have a small task outstanding to properly expose it.

[2020-07-17 15:31] nalexn commented on #6408
This is the No. 1 crash in our app, and there are many different call stacks, which always end with `init_from_mem` crashing with `EXC_BAD_ACCESS KERN_INVALID_ADDRESS`. Started to happen after migration to v5

A few examples:

[code]

[code]

[code]

[2020-07-17 15:54] RealmBot opened #6658 "Support multiple Realm Apps"

[2020-07-17 16:20] #6499 closed

[2020-07-17 18:30] #6500 closed

[2020-07-17 18:48] #6565 closed

[2020-07-17 18:48] #6502 closed

[2020-07-18 02:00] prayash commented on #6653
Thank you @tgoyne, this was the issue for us! Testing on a release build and the speed has improved drastically — it's faster than our original speed now which is really great news. 😄

[2020-07-19 12:29] gioramixin commented on #6408
Also have this crash in realm 5.2.2

Crashed: com.apple.root.user-initiated-qos
0  Realm                          0x103cd028c realm::Array::init_from_mem(realm::MemRef) + 12
1  Realm                          0x103b1bda4 realm::Array::init_from_ref(unsigned long) + 8772
2  Realm                          0x103b43e20 realm::_impl::GroupFriend::get_history_ref(realm::Allocator&, unsigned long) + 142 (

[2020-07-20 00:18] mikeyusc commented on #6625
Update: this is still failing exactly the same way in Realm 5.3.1, Core 6.0.11

[2020-07-20 05:25] kishore94 commented on #6655
@leemaguire the good news is I found exception in realm studio , when I try to open realm through realm studio application , this things I got hope it will help to identify the issue .

`Exception backtrace:
0 .io.realm.realm-studio.b50BPs 0x000000011b51fde6 _ZN5realm4util4File13open_internalERKNSt3__112basic_stringIcNS2_11char_traitsIcEENS2_9allocatorIcEEEENS1_10AccessModeENS1_10CreateModeEiPb +

[2020-07-20 08:21] jedelbo commented on #6644
After having received a realm file that could provoke this bug we have derived a solution. After the fix we were able to successfully upgrade the file.

[2020-07-20 09:05] #6644 closed

[2020-07-20 09:41] apptekstudios opened #6659 "Intermittent Crash when using realm on background thread (v5.3.1)"
## Goals
Write to realm from background thread without crash

## Steps for others to Reproduce
Occasionally (and seemingly randomly) realm will throw an exception for `"Realm accessed from incorrect thread."` during `beginWriteTransaction`.

We are creating a new realm instance on the current thread and it is within an autorelease pool. When this exception is occurring the `doWrite` closure is not

[2020-07-20 10:26] Venkata-Maniteja opened #6660 "Realm reads slower in swift for loop"
I have a db of 30k+ items. All my datamodels are of type structs. Realm fetch from db is so quick. But when I loop through them and read one of the property and print to console, it becomes too slow.

I want to know if this is expected behaviour or not. If this is expected, how can I achieve the same in a better way so that it takes around 30secs instead of 300secs.

## Goals
 Improve read speed o

[2020-07-20 12:15] javruben commented on #6659
Hi, I'm on the same project as @apptekstudios. FWIW I reverted realm to the latest 4.4.x and there it seems to not crash.

[2020-07-20 13:24] rcfili opened #6661 "NSInvalidArgumentException Unmanaged RealmSwiftObject after upgrade iPhone to iOS v 13.5+"
## Goals
Avoid app crash

## Expected Results
The app works in devices with previous version of iOS, but after upgrading the devices with 13.5+ appears this error. The expected result is to avoid this issue and make possible to use the app with updated devices.

## Actual Results
While mapping object to realmobject I got this:

[code]

## Steps for others to Reproduce
N.A.

## Code Sample

the lin

[2020-07-20 16:42] dangthaison91 commented on #6646
@tgoyne I think when freezing an unmanaged object, the function will return a copy of object with a different reference address. Changing the original object (update, save to Realm) will no affect the copy one.

[2020-07-20 18:43] starchey commented on #6659
We had similar issues after updating to Realm 5.3. Passing the dispatchQueue into the Realm init call, `let realm = try! Realm(queue: dispatchQueue)`, helped resolve these crashes on our end.

[2020-07-20 19:27] tgoyne commented on #6652
I've successfully reduced the crash to a self-contained deterministic test cash, so should be pretty straightforward to fix now.

[2020-07-20 19:54] #6653 closed

[2020-07-21 01:52] owenzhao opened #6662 "A first Duplicated Primary Keys Are Allowed."
!!! MANDATORY TO FILL OUT !!!

## Goals

I have a Weibo Project, when adding accounts of Weibo, I noticed that the account with the same primary key was inserted instead of replaced. The realm was upgraded from Realm Cocoa 4.x to 5.x.

I had also tested with a Twitter account, the result was the same.

There was one more thing need to be concerned that only the first duplicated account was inserte

[2020-07-21 10:38] #6661 closed

[2020-07-21 11:49] owenzhao commented on #6662
In my own test, if I installed the app in a new device, the issue wouldn't happen. So there must be something wrong within the progress of upgrading Realm 4.x to 5.x.

[2020-07-21 15:02] jordanhbuiltbyhq opened #6664 "Semantic issues with versions > 5.1.0"
## Goals
Use a version of RealmSwift > 5.1.0

## Expected Results
No error building app after installing > 5.1.0

## Actual Results
The app fails to compile with a bunch of semantic issues:
[code]

## Steps for others to Reproduce
Execute `pod update` with `pod 'RealmSwift'` in the Podfile
Try to run the app and it will throw errors
Specify `pod 'RealmSwift', '5.1.0'` instead and it runs successfu

[2020-07-21 15:10] #6652 closed

[2020-07-21 15:10] #6555 closed

[2020-07-21 16:43] tgoyne commented on #6664
Do you have Xcode 12 installed and set as the default Xcode version? `pod install` needs to be run with the same Xcode version as you're going to build the project as we set things up differently for each of them. Deleting the Pods directory and rerunning `pod install` with Xcode 11 active selected should fix it.

If you don't have Xcode 12 installed at all then that'd mean there's a bug in how we

[2020-07-21 16:44] tgoyne commented on #6662
Can you share the Realm file which ran into problems?

[2020-07-21 16:48] tgoyne commented on #6607
Probably fixed by https://github.com/realm/realm-core/pull/3828.

[2020-07-21 16:48] #6607 closed

[2020-07-21 16:50] tgoyne commented on #6626
Probably fixed by https://github.com/realm/realm-core/pull/3828.

[2020-07-21 16:50] #6626 closed

[2020-07-21 16:51] tgoyne commented on #6556
Probably fixed by https://github.com/realm/realm-core/pull/3828.

[2020-07-21 16:51] #6556 closed

[2020-07-21 16:53] tgoyne commented on #6530
This may be fixed in 5.3.1.

[2020-07-21 17:04] ericjordanmossman commented on #6572
Here is more [detail on pinning](https://realm.io/docs/swift/latest/#limitations-file-size).

The active version of a realm is only updated at the start of a run loop iteration. So,

In the pic you shared, the versions aren't being released before you reach the limit of 64. But from the code you provided it looks like your use of autoreleasepool mostly matches the docs. I think @tgoyne or @leemagu

[2020-07-21 17:36] dangthaison91 opened #6665 "Array does not keep the order of objects after saving to Realm"
## Goals
When saving an array to a Realm file, we want to keep the order of the original objects. Cause our API already orders JSON object and they are not supported to re-order on the mobile side.

It is work as expected with Realm version 4.4.1, but it is broken as version 5.x. We also tried with the latest version 5.3.1 but Realm still returns unorder arrays. Is it unexpected behavior?

## Expe

[2020-07-21 17:45] tgoyne commented on #6665
This is working as intended. Unsorted Results do not preserve insertion order and never have, although the circumstances where it differs have changed. Pre-5.0 deleting objects changed the order of the remaining object, while now the order never changes but insertions do not always happen at the end.

A List can be used to store object in a particular order.

[2020-07-21 17:50] jordanhbuiltbyhq commented on #6664
I do! Switched to Xcode 11 via xcode-select, made sure command line tools is Xcode 11, deleted Pods and reran pod install but I still get the same errors. 🤔

[2020-07-21 18:00] owenzhao commented on #6662
I have removed some sensitive data. I hope the rest is good enough for debugging.
[default.realm.zip](https://github.com/realm/realm-cocoa/files/4955329/default.realm.zip)

[2020-07-21 22:56] tgoyne commented on #6662
Any chance you have a pre-upgrade copy as well? The migration code appears to have generated object ids for the objects as if the type didn't have a string primary key; the first three objects have object ids appropriate for a type with no pk, while the two newly created objects which duplicate the primary key values have the correct object ids derived from the pk. It's not obvious from the end re

[2020-07-22 00:45] owenzhao commented on #6662
This is another Realm database. The generated Realm was 4.4.1. This was not from the same macOS of the previous database. This was from a macOS client in Parallels Desktop, which was used for app testing by myself. It only contained one account. The account was also in the previous database, the duplicated Weibo account.

[default_4.4.1.realm.zip](https://github.com/realm/realm-cocoa/files/4957174

[2020-07-22 00:53] owenzhao commented on #6662
I have already done a workaround for the Account saving issue. However, I have other projects with Realms too. So the best way is to fix this by Realm. My workaround code.

    // FIXME: -
    private func workAroundForRealm(account:Account) {
        let realm = try! Realm(configuration: Realm.sharedConfiguration)
        if let oldAccount = realm.object(ofType: Account.self, forPrimaryKey: accou

[2020-07-22 03:06] sinoru commented on #6588
Seems related with #6532, realm/realm-core#3771

[2020-07-22 03:52] tgoyne commented on #6662
It looks like the upgrade should have been fixed in 5.2.0. I can reproduce the incorrect result by opening the unupgraded realm with 5.1.0, but 5.2.0 gives the correct result and that version pulled in a directly relevant PR (https://github.com/realm/realm-core/pull/3786) that for some reason did not get a changelog entry mentioning the most important thing it did.

[2020-07-22 06:20] apptekstudios commented on #6659
This initialiser seemed to avoid crashes while on our dispatch queue. However when using it there we were then getting random crashes when reading or writing (to a new Realm) on any other thread (including main), even though queue for those was set to nil (or not set at all)

[2020-07-22 08:51] leemaguire commented on #6532
@ramjyroo Can you please update to the latest version of Realm v5.3.2.

Thanks,
Lee

[2020-07-22 09:03] owenzhao commented on #6662
According to my Podfile.lock files, my Realm upgrading history was like this (Month.Day -> Realm Version)

    7.18    ->  5.3.1
    7.15    ->  5.3
    7.1     ->  5.2
    6.27    ->  5.1
    6.11    ->  5.0.3
    6.4     ->  5.02
    5.11    ->  4.4.1

If this issue was fixed in 5.2, why I still had this issue in 5.3.1?

[2020-07-22 15:21] earltedly commented on #6619
I'm seeing the same issues with:

`ignoring file .../Pods/Realm/core/librealmcore-macosx.a, building for macOS-arm64 but attempting to link with file built for unknown-x86_64`

Is there a way of resolving this whilst remaining on Cocoapods? I was wondering what swift package manager does differently which fixes the issue?

[2020-07-22 15:29] marinofaggiana commented on #6549
V 5.3.2 same issue ( yet )

[2020-07-22 15:47] WickedChicken42 commented on #6644
Follow up to release v5.3.2:
With v5.3.2, an older database may still experience the crashing issue during the upgrade but it will recover and succeed if the upgrade is re-attempted (app restarted) usually on the 2nd or 3rd try.  Versions used were a database at v4.4.0 upgraded to v5.3.2.

With a database that had already been impacted by the bug in ticket 6644, that database is not recovering whe

[2020-07-22 15:54] JonathanChen123 commented on #6218
Still reproduced it by using Cocoapods v1.9.3 after done 'pod update'

[2020-07-22 15:54] WickedChicken42 opened #6668 "Follow up to ticket #6644 and v5.3.2"
RealmSwift v5.3.2 was released and contained the fix for ticket #6644.

With v5.3.2, an older database may still experience the crashing issue during the upgrade but it will recover and succeed if the upgrade is re-attempted (app restarted) usually on the 2nd or 3rd try.  Versions used were a database at v4.4.0 upgraded to v5.3.2.

With a database that had already been impacted by the bug in ticke

[2020-07-22 16:29] tgoyne commented on #6619
When using SPM the core library is built from source, while with cocoapods we use a prebuilt library which does not yet have a arm64 slice. We're actively working on adding that.

[2020-07-22 19:03] crousselle2 commented on #6638
I am seeing this as well, upgrading from 3.x to 5.x seems to trigger that exact same issue in our App.
We are running RealmSwift via SPM and using encryption.

The issue does not seem to occur when we're trying to reproducing in debug builds, it only seems to be happening when running adhoc/release builds.

[2020-07-22 19:07] WickedChicken42 commented on #6668
I had assumed the error was the same as in #6644 but upon further inspection it was not.  This is the error I receive when trying to launch a database with v5.3.2 that had been impacted by v5.2.0:

/Users/realm/workspace/realm_realm-core_release_6.0.12/src/realm/table.cpp:1197: [realm-core-6.0.12] Assertion failed: s == number_of_objects
0   Realm                               0x0000000101843c70 _

[2020-07-22 19:56] crousselle2 commented on #6638
@vikmeup @leemaguire after a lot of testing, we might be able to provide a bit more information as the cause of this issue.

We noticed that this issue only occurs when the new version of our app has at the same time:
- An update of the Realm Version to anything above 4.4.1 (5.0.0 and above)
- A migration in our Realm, meaning an update of `Realm.Configuration.schemaVersion`

It seems like Realm 5

[2020-07-22 21:17] tgoyne commented on #6657
We'll need a more complete repro case to do anything here. A minimal example based on that works fine:

[code]

[2020-07-22 21:42] mikeyusc commented on #6625
So apparently the SwiftUI preview generator is now using x86_64, and like #6649 the preview build is failing for the same reason.

[2020-07-22 23:24] LiYanan2004 commented on #6625
But I also want to build a macOS app. I really want to see Realm support x86_64

[2020-07-23 01:00] tgoyne commented on #6572
Since you're performing the writes on the main thread, that suggests that you're holding onto a reference to a Realm on a background thread that can't be refreshed. You can use Xcode's Visual Memory Debugger to track down where this is happening. Enable Malloc Stacks in the scheme diagnostics settings, then run the app. When it hits the maximum version count error, switch to the View Memory Graph

[2020-07-23 01:49] mikeyusc commented on #6625
Same on Xcode 12 Beta 3..

[2020-07-23 01:55] LiYanan2004 commented on #6625
I guess this issue can only be solved by realm's team￼. Hopefully next release will fix this issue￼😄

[2020-07-23 02:16] ramjyroo commented on #6532
Sure @leemaguire - will try this in a isolated branch and get back.

[2020-07-23 09:02] dangthaison91 commented on #6665
@tgoyne Thanks for the tips, we are using List as array items container in some features and it works great with Realm 5.0.

The following code will preserve objects order:

[code]

[code]

[2020-07-23 09:02] #6665 closed

[2020-07-23 11:59] virtuosovidit commented on #6649
What's the expected timeframe for the issue to be fixed? (i.e. Is the workaround the only way to run on simulator for the Beta period this year?)

[2020-07-23 12:26] ramjyroo commented on #6532
@leemaguire - I'm able to again repro the crash when I use v5.3.2. I'm NOT using any 5.0 specific features like frozen objects.

Same code continues to work well in v4.4.x

/Users/realm/workspace/realm_realm-core_release_6.0.12/src/realm/array.hpp:1136: [realm-core-6.0.12] Assertion failed: has_refs()
0   Realm                               0x0000000113802e2c _ZN5realm4utilL18terminate_internalERN

[2020-07-23 12:35] leemaguire commented on #6532
@tgoyne any ideas?

[2020-07-23 15:15] ramjyroo commented on #6532
@leemaguire / @tgoyne - Is realm-cocoa v5.x almost the same used in realm-cocoa-beta v10.x that is leveraged by the newer mongodb realm sync solution?

[2020-07-23 15:17] tgoyne commented on #6649
https://github.com/realm/realm-core/pull/3796 is the WIP PR to add the new simulator slice.

[2020-07-23 15:57] virtuosovidit commented on #6649
Thanks a lot for sharing that! :)

[2020-07-23 20:32] ian-schu commented on #5528
I've been developing a new iOS app for about 8 months, and gradually getting into more complex scenes and tableviews – eventually running into this problem just like a lot of folks using Realm.

So some observations, and a little workaround that MAY help depending on your circumstances ...

### Observations

In my observation, this `NSInternalInconsistencyException` only seems to arise when my two

[2020-07-24 02:15] lawgimenez opened #6669 "Pod install error"
!!! MANDATORY TO FILL OUT !!!

## Goals

Install version 5.3.2

## Expected Results

Successfully installed 5.3.2

## Actual Results

Threw a Cocoapods error

[code]

Errno::ENOENT - No such file or directory @ realpath_rec - /Users/lawrence/Projects/<ProjectName>/Codebase/<Project>/Pods/Realm/Realm/RLMAccessor.h
/Library/Ruby/Gems/2.6.0/gems/cocoapods-1.9.3/lib/cocoapods/project.rb:326:in `realpa

[2020-07-24 08:17] saltyskip commented on #6649
@tgoyne a similar issue with xcode 11.2 when compiling a project with extensions. First I receive a warning

```linking against a dylib which is not safe for use in application extensions: /Users/drei/Library/Developer/Xcode/DerivedData/IOSTemplateProject-eqmqqnyemwwahcaysepnexgjyyvd/Build/Intermediates.noindex/Previews/IOSTemplateProject/Products/Debug-iphonesimulator/PackageFrameworks/RealmCore.

[2020-07-24 09:49] trr-amsiq commented on #6659
Experiencing the same on main.async

[2020-07-24 13:37] leemaguire commented on #6532
@ramjyroo the underlying core is the same but is a few versions out of date on the v10.x branch

[2020-07-24 13:49] leemaguire commented on #6655
@kishore94 what version of Realm studio are you using?

[2020-07-24 14:40] niralishaha25 commented on #6659
Facing same crashes frequently on Realm 5.3.1 but not reproducible

[2020-07-24 15:42] ericjordanmossman commented on #6659
Thanks for info @apptekstudios . Could you share the full log or stack trace when this happens?

For

Does this mean _any_ new realm, including the default realm? Or only realms with a dispatch queue included in the config.

Also if anyone can share a sample project that would help immensely.

[2020-07-24 16:51] leemaguire commented on #6669
Hi @lawgimenez could you do a `pod repo update` & make sure all derived data and caches are cleared etc. Also could you show us your pod file if this does not solve your issue.

Thanks,
Lee

[2020-07-24 17:35] leemaguire commented on #6644
@WickedChicken42 could you please upload the databases, or you can send them to lee.maguire@mongodb.com if you wish.

Thanks

[2020-07-24 18:00] ptliddle commented on #6161
@ianpward I'm currently working on a SwiftUI project making use of Realm. Did that blog get posted? Could you provide a link?

[2020-07-24 20:05] ericjordanmossman commented on #6408
@pkrmf

Out of curiosity, how are you updating the UITableView with frozen objects? Since you can't use a notificationToken on frozen results, are you using `tableView.reloadData()` on the `.main` queue when the merging finishes? This probably isn't relevant. But when trying to produce, I want to match bug reports as closely as possible.

[2020-07-24 20:47] bsweett commented on #6664
I am see a similar issue in Xcode 11.5 but only with 5.3.2. I was able to revert to 5.3.1 and the issue went away. 5.3.2 builds correctly in Xcode 12 beta 3.

[2020-07-24 21:20] tgoyne commented on #6649
Well beta 3 has now complicated things by adding arm simulator slices which are distinct from the arm device builds. Adding support for that will be awkward.

[2020-07-25 02:10] saltyskip commented on #6649
Note it appears to also appears to affect Swift UI previews as referenced in #6625, which i was also able to reproduce locally

[2020-07-25 02:18] tgoyne commented on #6649
SwiftUI previews not working when using spm are unrelated to this one despite having similar symptoms.

[2020-07-25 02:46] tgoyne commented on #6664
This should go away in the next release as the bug we were working around (incorrectly?) appears to have been fixed in Xcode 12 beta 3.

[2020-07-25 07:16] ramjyroo commented on #6532
thanks @leemaguire. I was trying to understand if these crash issues I'm seeing in realm-cocoa 5.0 will affect the MongoDB Realm Sync product.

[2020-07-25 07:35] LorienMan commented on #6628
@tgoyne we are still seeing the same crashes with the latest Realm version (5.3.2). We also added some logs to see whether compact takes place prior to crash and learned that it is not the case.

[2020-07-25 11:41] kunalsood opened #6671 "iOS 14 + Xcode 12 (Beta 3, Beta 4, Beta 5 & Beta 6): When Realm is stored in a shared app group container, backgrounding the app triggers: Message from debugger: Terminated due to signal 9"
## Goals
Have my app continue to run normally, when backgrounded, with Realm stored in a shared app group container.

## Expected Results
Same as "Goals" [above].

## Actual Results
When, I run the app on an actual device, and swipe up while my app is in the foreground to send it to the background, the app quits with the following message in Xcode:-

`Message from debugger: Terminated due to signa

[2020-07-25 14:14] kishore94 commented on #6655
@leemaguire using 3.10.0 realm application .

[2020-07-26 00:42] meteochu commented on #6671
+1 on having identical issues. Group Container, Xcode 12b3 + iOS14b3, and crashing when backgrounded.

[2020-07-26 12:49] ramjyroo opened #6672 "Realm.object returns NIL object when queried by primary key in Realm 10.0 beta2"
!!! MANDATORY TO FILL OUT !!!
## Goals
I have signed up with MongoDB Realm and installed the beta SDK. I have a Local Realm file that NEED not be synced with cloud. It is prepopulated with data and during app install - I move it to documents folder of the iOS (All this is existing code and works well when using the normal Realm SDK 4.4.x or 5.3.x).

After login to the Realm App - other than the Sy

[2020-07-26 15:44] ramjyroo commented on #6672
As explained above - while `let grade3 = realm.object(ofType: Grade.self, forPrimaryKey: "003")` is returning NIL - I'm able to do use the filtered query `let filtered = grades.filter(NSPredicate(format: "id == %@", "003"))` to find the record.

So definitely looks like a bug

[2020-07-27 03:35] WEzou commented on #6671
+1 same issues in + iOS14b3, and crashing when backgrounded.

[2020-07-27 12:50] bguidolim commented on #6671
There is a bug report filed for this issue: https://developer.apple.com/forums/thread/655225
I don't think it's a Realm bug.

I'm facing the same problem, it's about locked files in the shared folder.

<img width="1590" alt="Screen Shot 2020-07-23 at 17 54 34" src="https://user-images.githubusercontent.com/987360/88543633-8bb66380-d018-11ea-9a03-abb243758c13.png">

[2020-07-27 15:33] sedwo commented on #6572
So I've made some interesting progress.

My VC sets up a DB notification token on those objects that the sync engine calls `createOrUpdateAll(..)`.

[code]

I also simplified my `createOrUpdateAll` to be more verbose in witnessing each write.
[code]

During each `createOrUpdateAll`, the observing token would trigger that VC's observing token (for status updates and view refreshes).

Setting `confi

[2020-07-27 16:29] #6649 closed

[2020-07-28 01:19] LiYanan2004 commented on #6625
How to install this branch? I cannot find it. Thank you all working on watchOS x86_64 simulator supporting.

[2020-07-28 01:22] mikeyusc commented on #6649
Arm Simulator slices are almost certainly for Apple Silicon Macs.. since the "simulator" there is also running on Arm.

[2020-07-28 03:32] quangcanh2975 commented on #3763
Thank you so much!

[2020-07-28 04:32] Elamuruga opened #6674 "Terminating app due to uncaught exception 'RLMException', reason: 'Realm accessed from incorrect thread.'"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?

Realm Object Server version: ?

Xcode version: ?

iOS/OSX version: ?

Dependency manager + version: ?

[2020-07-28 04:43] Elamuruga commented on #6674
My code sample: Could you please help me?

Async.background {
            autoreleasepool {
                let realm = try! Realm()
                let sampleRepository = sampleRepository(realm)
                sampleRepository.persistMedias(medias: self.medias, clean: self.clean, isBookmarked: self.isBookmarked)

                let payload: [String: Any] = [
                    "VCSource": self

[2020-07-28 08:38] lawgimenez commented on #6669
Still not working @leemaguire

`pod 'RealmSwift', '5.3.2'`

[2020-07-28 14:56] RealmBot opened #6675 "Consume .xcframework for regular builds"

[2020-07-28 15:03] ericjordanmossman commented on #6672
@ramjyroo
Thanks for the detailed information. I'm working on this issue today.

Could you share the sync configuration? 1) Does it include the `Grade` class? 2) What is the partition key on the configuration? These details may inform some testing.

[2020-07-28 15:21] markltownsend commented on #6577
I am having a similar crash when running the app in the background. I just upgraded to the latest v5.3.2.

 It will work for a few seconds and then a crash in Realm. The code is doing a fairly simple `realm.add`.  I tried it wrapped in an `autoreleasepool` and not.  Not difference.  It is doing the writes in a fairly quick manner if that matters.

[2020-07-29 01:26] MuJuiLin opened #6676 "RLMResult's notification is getting slower when the RLMResult count is getting bigger"
!!! MANDATORY TO FILL OUT !!!

Recently, I faced a problem that RLMResult's notification is quite slow when the RLMResult's count is large.
Is there any way to solve this issue?

The situation is that I have 100 conversation objects and each one of them has 10,000 message objects.
It takes at least 1.6s to get a notification when I add 1 message into a conversation.

## Goals
Hope the RLMResult's

[2020-07-29 01:32] saltyskip commented on #6625
I believe there is still currently no known workaround for this issue

[2020-07-29 01:56] shinhyogeun commented on #4795
i think best solution is just download realm Studio in https://docs.realm.io/sync/realm-studio
and they might be considered virus but i think that's because Catalina update is not complited..
and i also this @leofr1cs 's opinion (I guess I'm ok with taking risks... ) i think they will update realm Studio in Big sur

[2020-07-29 03:02] ramjyroo commented on #6672
No the sync configuration was plainly based on the User object as shown in your documentation. I did use the objectTypes property to restrict my synced realm to just 1 Test Class that I used for my testing - this was to ensure Grade class was not picked up by Synced realm.

[2020-07-29 19:55] adamk77 opened #6677 "Crash when indexing Results<Element> and repeatedly writing to Realm."
Reproduction steps:

1. Call the `filter` method that returns `Results<Element>`
2. Index an element
3. Repeatedly write to Realm

Note: only happens on a physical device

The Realm database file continues to increase in size and eventually leads to a crash stating that mmap() failed or that Realm is already in a write transaction.

## Goals
Being able to write to the Realm database without it cra

[2020-07-29 20:00] IvanovDeveloper opened #6678 "5.3.0 - App crash in migrate_indexes()"
## Goals

Seems after migration from the Realm version `4.4.0` to `5.3.0` some users of the app started caught crash at launching the app.
- I need your help to figure out how this crash can be fixed.
- Can I rollback to the previous version `4.4.0` without any problems for user which successfully migrated to the Realm version `5.3.0`?

## Expected Results

I expect to get migration from version `

[2020-07-29 20:14] tgoyne commented on #6678
This may be fixed in 5.3.2; there was a fix for a bug which resulted in an assertion failure in Table::migrate_indexes().

Any files which were successfully upgraded can't be opened by 4.4.0, but the source file is left unchanged when it crashes during the upgrade.

[2020-07-29 20:18] IvanovDeveloper commented on #6678
Thank you for quick answer. I will try the latest version.

[2020-07-29 20:36] tgoyne commented on #6625
https://github.com/realm/realm-core/pull/3833 should fix this. While waiting for a release, you can tell spm to use the `tg/template-instantiate` branch of realm-core by explicitly adding https://github.com/realm/realm-core as a package dependency in your Xcode project (but don't add it to any targets).

[2020-07-29 21:12] mikeyusc commented on #6625
This ALMOST fixes it.. You need to add the ConstLstIf set as well, then it will work.

[2020-07-29 21:14] tgoyne commented on #6625
Oh whoops, I merged the fix from a different branch that didn't have ConstLstIf any more.

[2020-07-29 21:25] mikeyusc commented on #6625
I sent up a pull request.

[2020-07-29 21:36] mikeyusc commented on #6625
This does fix it! Thanks!

[2020-07-29 21:36] #6625 closed

[2020-07-30 01:20] tgoyne commented on #6677
Oh, this is a sort of embarrassingly obvious bug. I think I assumed that whatever was causing file size explosions in 5.x had to be something more complex than what it actually is.

[2020-07-30 01:21] tgoyne commented on #6572
I've successfully reproduced a bug where we weren't releasing old versions in a place where we should, which would cause this problem.

[2020-07-30 01:21] tgoyne commented on #6469
I've successfully reproduced a bug where we weren't releasing old versions in a place where we should, which would cause this problem.

[2020-07-30 08:38] jwzhuang opened #6679 "Crash in EncryptedFileMapping::read_barrier"
[code]

## Code Sample
[code]

Realm framework version:  5.3.2

Realm Object Server version: ?

Xcode version: 11.6

iOS/OSX version: iPhone OS 13.5.1

[2020-07-30 09:07] jain-mj commented on #6679
We are also facing the same issue in our app, we have released a new version using the latest realm-cocoa but its still crashing.

Thread 0#0	(null) in __pthread_kill ()
#1	(null) in pthread_kill ()
#2	(null) in __abort ()
#3	(null) in abort ()
#4	(null) in please_report_this_error_to_help_at_realm_dot_io ()
#5	(null) in realm::util::terminate_internal(std::__1::basic_stringstream<char, std::__1::

[2020-07-30 09:11] IvanovDeveloper commented on #6678
@tgoyne I'have reproduced this bug for Realm version `5.3.0`, but after update Realm to the version `5.3.2` I get the new one crash

[code]

[2020-07-30 09:12] jain-mj opened #6680 "App crash everytime call to Realm to initialise the realm framework just after the app launch"
Crashed: com.apple.main-thread EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000000 realm::Table::migrate_links(realm::util::FunctionRef<void ()>)

@tgoyne the latest release of realm-cocoa 5.3.2 didn't solve the issue. Here's the stack trace obtained from firebase:

Crashed: com.apple.main-thread
0  Realm                          0x10317d6bc realm::Table::migrate_links(realm::util::FunctionRef<

[2020-07-30 09:30] SquaredTiki commented on #6671
+1, author of that thread on the Apple Dev Forums.

Would recommend folks dupe the existing feedback reports (FB8128103 & FB8116961) if they can. May well bring it to Apple's attention more quickly. Especially if you have a sample project repro'ing as my report didn't include one.

[2020-07-30 10:21] tallada commented on #6572
I believe we've been seeing this issue on our app since we upgraded to v5 last week. Unfortunately we've already released to the App Store with v5 and we can't go back to 4.

I can reproduce the increasing number of active versions problem by adding a new object with a primary key to the realm in the same runloop as it's been created, this causes every subsequent write transaction to create a new

[2020-07-30 11:35] kunalsood commented on #6671
@SquaredTiki Thanks for including details of for Feedback to Apple. I'm in the process of submitting a dupe with a sample project. Will post the feedback number on your Apple Dev Forums thread when done.

[2020-07-30 16:09] ericjordanmossman commented on #6672
@ramjyroo
Could you take at [this repository](https://github.com/ericjordanmossman/rc6672) and make any changes/notes on where your application flow may differ?

I receive this from the `results` and `object(ofType: class.self, forPrimaryKey: key)`:
[code]

I'm wondering if I'm missing something relevant in:

- order of the realm files being opened
- operations against the different realm files (a

[2020-07-30 16:14] tgoyne commented on #6572
The problematic case that I've found is when you're holding onto a Results which you don't read from after every write transaction.

[2020-07-31 02:58] #6677 closed

[2020-07-31 07:07] jain-mj commented on #6680
@tgoyne I'm afraid that couldn't be done, app is crashing randomly for some users but for some users it works fine. We had to send another release with the latest version of realm(5.3.2), hoping it would solve the problem, but that too didn't work. We migrated realm framework to 5.2.0 and since then this issue started. Attaching the sample code of Realm initialisation just after the app launch.

`

[2020-07-31 07:14] jain-mj commented on #6680
@tgoyne Unfortunately we are not able to re-produce this at our end in the development phase ...
But its crashing on production for many users we received around 2k affected users warning on the firebase.

[2020-07-31 07:47] ramjyroo commented on #6672
@ericjordanmossman - One main difference is that my original realm file was created using realm 4.4.x and got auto upgraded  when I opened the app using the beta.

[2020-07-31 07:57] n1kitus commented on #6671
+1 identical issues in iOS 14b3. The description of the problem perfectly fits our case.

[2020-07-31 12:38] mphill opened #6682 "Realm crashes on physical Series 1-3 Apple Watches"
## Goals
Run Realm / RealmSwift on Apple Watch Series 1-3

**NOTE:**
Works great on Series 4+, also on Series 1-3 simulators it works fine as well.  Its only on physical apple watches series 1-3

**UPDATE:**
I can run this on a physical Series 3 device when hooked up to a debugger in release and debug! This appears to happens in release code distributed idea via app store connect.  Maybe a bitcode

[2020-07-31 12:47] svitzebec commented on #6628
Same here, we are also experiencing the same crashes with Realm version 5.3.2.

[2020-07-31 13:53] tallada commented on #6572
@tgoyne version 5.3.3 has fixed the issue, thanks. I've verified this was the problem we were seeing by removing the changes in `results_notifier.cpp` which makes the problem reappear (although I don't really understand why my workaround worked).

[2020-07-31 16:15] philmitchell opened #6683 "Realm crash on Results.first.getter"
## Goals
Realm won't crash

## Expected Results
The crash occurs when calling `first` on a Realm `Results` object. I'm guessing this is a concurrency issue, but Realm is instantiated on same thread as query, and the Realm objects are immediately converted to app objects (ie., never passed between threads).

## Actual Results
[code]

## Steps for others to Reproduce
Don't know how to repro

## Code

[2020-07-31 18:48] ericjordanmossman commented on #6672
@ramjyroo
That was it. Thanks!
Using a file upgraded from 4.4.1 shows this:
[code]

[2020-07-31 20:49] sedwo commented on #6572
sigh.  Didn't seem to have an affect regarding the `Realm notification listener` crash.

[2020-07-31 22:26] ericjordanmossman commented on #6672
It looks like when trying to retrieve by primary key, the object is always considered invalid in [RLMGetObject](https://github.com/realm/realm-cocoa/blob/v10.0.0-beta.2/Realm/RLMObjectStore.mm#L223), returning nil.

@tgoyne
In realm-cocoa 4.4.1 `is_valid()` was determined by whether a row accessor [was attached](https://github.com/realm/realm-object-store/blob/92503d750cab072b3b78cf1dd696e63081c83

[2020-08-01 02:24] duncangroenewald commented on #6659
Not sure if this is related but we are testing an upgrade from 4.4.1 to 5.2.0 and experienced some weird issues after upgrading the database (macOS 10.15.6)

Here is one example:

<img width="813" alt="image" src="https://user-images.githubusercontent.com/13807324/89091839-22579b80-d3f0-11ea-80c8-1b3a284043b0.png">

This has to be changed to callback on the main thread of we get a crash - never ha

[2020-08-01 02:40] tgoyne commented on #6659
asyncOpen() now requires a serial dispatch queue because the Realm it gives you is now confined to that queue rather than the thread it happens to be called on.

`object(ofType:forPrimaryKey:)` not working correctly on upgraded files has been reported (#6672) but I'm not sure we have a repro case yet.

[2020-08-01 03:10] duncangroenewald commented on #6659
Hmm, the weird thing is we have been using 5.2.0 for local testing for some time using the Package Manager (no sync component) and I don't recall every seeing this failure of the queries occur before.  We just set up a test instance of realm cloud and migrated a copy of the data to that instance for testing the upgrade in a cloud sync environment.  The tests above were run with a backup of the new

[2020-08-01 04:08] duncangroenewald commented on #6659
I just opened the 4.4.1 realm file with the macOS11 (RealmSwift 5.2.0 Package Manager version) version and the file was upgraded and realm queries seem to be fine.  Not using asyncOpen() for this at all since no sync.  However when closing the app I got this crash - which has been occurring infrequently in the past with this version.

![image](https://user-images.githubusercontent.com/13807324/890

[2020-08-01 04:11] duncangroenewald commented on #6659
So given the above issues are we able to get a binary build for Xcode 12/macOS11, etc. for version 4.4.1 since it seems to be a more stable version for production use - obviously only when macOS11 goes GA.

[2020-08-01 04:14] duncangroenewald commented on #6659
Oh here is another slightly different crash when closing the app.

![image](https://user-images.githubusercontent.com/13807324/89093857-3ce64080-d401-11ea-8695-8fbd78f71e67.png)

[2020-08-01 04:43] duncangroenewald commented on #6659
I can confirm that if I upgrade to 5.2.0 using the macOS11 version and then make a backup of the realm file and then open that file with the macOS10.15.6 version(using Realm provided 5.2.0 binaries) the realm queries returning nil does not occur.

So it seems that the migration with the Realm provide 5.2.0 binaries is causing a problem. I have not check to see whether the crashes above are limited

[2020-08-01 06:03] ramjyroo commented on #6672
Thanks for finding the root cause !!

[2020-08-01 14:59] owenzhao opened #6684 "Missing required architecture arm64 with Realm 5.4.4 against watchOS 7 simulator on Xcode 12"
[Watch Test.zip](https://github.com/realm/realm-cocoa/files/5010785/Watch.Test.zip)

## Goals

It is said in release note "Add support for the x86_64 watchOS simulator added in Xcode 12.", so I created a new iOS project with a watchOS app. Added Realm by CocoaPods and it couldn't compile.

Run the sample project on simulator.

## Expected Results

App ran.

## Actual Results

Build failed.

## Ste

[2020-08-01 19:20] ppamorim commented on #6638
@crousselle2 This has to be fixed urgently, we have some critical data stuck due this bug.

[2020-08-02 13:26] #6246 closed

[2020-08-03 02:10] lawgimenez commented on #6669
This issue was not present anymore on the latest v5.3.3.

[2020-08-03 02:10] #6669 closed

[2020-08-03 11:00] MarcoCarnevali commented on #6611
@tgoyne I still have the problem and it's affecting more and more users, I would say this is very urgent

[2020-08-03 12:04] aviadsteps commented on #6678
Same error for version 5.3.3

[2020-08-03 15:26] ericjordanmossman commented on #6678
@IvanovDeveloper @aviadsteps
Could either of you provide:

-  a realm file from 4.4.0 that hits the originally reported exception when upgrading from 4.4.0 to >=5.3.2
- a realm file that was 1) upgraded from 4.4.0 to 5.3.0, 2) hits the reported exception, 3) then upgraded from 5.3.0 to >=5.3.2
- a code snippet of how these realm files are opened. Or a reproduction project in a .zip file. This woul

[2020-08-03 15:27] ericjordanmossman commented on #6678
If you can't share the above in a public github issue, let me know and I can organize a secure channel for you.

[2020-08-03 15:43] illabo opened #6685 "Can't run project with RealmSwift in iOS simulator after building with Xcode 12 (after beta 3)"
## Goals
My goal is to run the app in simulator (preferably iOS 14 one) to be prepared for future iOS and Xcode updates.
Something's seem broken in the mapping of arm64 to x86_64 when new build system of Xcode 12 is used.

## Expected Results
Application runs in simulator.
## Actual Results
Since Xcode 12 beta 3 I can no longer build my project anymore. There are few scenarios:
* When the app was

[2020-08-03 15:44] IvanovDeveloper commented on #6678
@ericjordanmossman

I can provide the code of Realm usage and configuration

[https://gist.github.com/IvanovDeveloper/c0471490c60ffe029156381acefc8032](Database.swift)

I will try to get this data and let you know a little bit later about result

[2020-08-03 15:45] IvanovDeveloper commented on #6678
@ericjordanmossman  Please create a secure channel for providing realm data

[2020-08-03 16:12] IvanovDeveloper commented on #6678
@ericjordanmossman check your mail please

[2020-08-04 03:33] TMTBO commented on #6683
i got the same crash, any solution?

[2020-08-04 08:20] KimiChiu opened #6686 "mutex lock failed: Invalid argument while releasing Realm"
## Goals
Release realm in `autoreleasepool`.

## Expected Results
Released realm.

## Actual Results
[code]

## Steps for others to Reproduce
Use `autoreleasepool` in `DispatchQueue`.

## Code Sample

[code]

## Version of Realm and Tooling
Realm framework version: 5.3.2

Realm Object Server version: N/A

Xcode version: 11.6

iOS/OSX version: 10, 12, 13, 14

Dependency manager + version: CocoaPods

[2020-08-04 14:08] ethan-riback opened #6687 "Failure to copy one Object property into two Object properties during migration"
## Goals
As a developer I want to successfully migrate our `PriceTypeObject` from one version to another.
In version 1.0.0:
[code]
In version 1.1.0:
[code]

For this migration I want to migrate the value of `currency` into both `wholesaleCurrency` and `retailCurrency`.

What does this look like? The following block of code is the migration I attempted to use:
[code]

## Expected Results
I expect t

[2020-08-04 14:32] ethan-riback commented on #6687
Something I forgot to note: Our app has two separate realm instances running. This object exists in both, so we apply this migration to both. This also could very much be related to the crash.

[2020-08-04 14:33] qgliu commented on #6680
We see the same thing in upgrading from 4.XX to 5.3.3.
As of now all users with iOS 13.5.1, iPad7,11 are affected.
It crashes in the start of the app when it try to load Realm with a let realm = try Realm().

[2020-08-04 15:33] ericjordanmossman commented on #6633
If anyone else is seeing
`Realm file decryption failed Path:Exception backtrace: 0 Realm 0x0000000104a982a0 _ZN5realm15InvalidDatabaseC2ERKNSt3__112basic_stringIcNS1_11char_traitsIcEENS1_9allocatorIcEEEES9_`
please share in this thread.

In the time since the original report we've made several changes to realm/realm-core that may address this issue. I'd like to confirm with a before/after reproduc

[2020-08-04 15:34] outsbook opened #6688 "How can solved the warning "direct access in function 'auto realm::sync""
**Xcode Version: 11.5**
**Project Target: iOS 13.5**
**Language: Swift 5**

**Installed via Pod**
**Realm Version: 5.3.3**

**The warning is**
warning: direct access in function 'auto realm::sync::Instruction::visit<(anonymous namespace)::RecoverLocalChangesetsHandler&>((anonymous namespace)::RecoverLocalChangesetsHandler&)' from file '/Users/shams/Work/iOS/innogyHealthGuard/Pods/Realm/core/librea

[2020-08-04 16:55] ericjordanmossman commented on #6637
- What version was the realm file originally created in?
- Could you share a .zip where this happens?

`_ZN5realm11ObjectStore26get_primary_key_for_objectERKNS_5GroupENS_10StringDataE `
functions differently from 4.x and 5.x. My first thought is maybe there was an issue when changing the file format.

[2020-08-04 17:14] ericjordanmossman commented on #6660
Based on the info provided, it sounds expected. The i/o speed to the console may be the contributing factor, especially if you find reading objects behavior normally without the console.

[2020-08-04 17:15] ericjordanmossman commented on #6660
I'll close #6660 for now. If you believe this still a bug, feel free comment and share more details.

[2020-08-04 17:15] #6660 closed

[2020-08-04 17:38] ericjordanmossman commented on #6674
@Elamuruga
For regular help on using Realm across threads please check out existing material on the subject with stackoverflow and our documentation.

If you still believe this a bug (especially if the same code works in 4.4.1 and not later versions), could you please fill out the issue template and provide a sample reproduction project? Thanks!

[2020-08-04 17:51] ericjordanmossman commented on #6676
I'm not too sure about the expected notification times with a RLMArray containing +10,000 objects. Another team-member who knows more about that would have to comment.

Where are you measuring the 1.6 seconds? Is it from the notification callback or the UI. It's possible the notification returns promptly but is not dispatched to the main UI thread. This would be the first thing to check.

[2020-08-04 17:56] zacwest commented on #6671
This crash continues in 14.0 b4.

[2020-08-04 18:16] ethan-riback commented on #6687
Closing this issue as I was able to solve the problem. For reference, I realized that you can directly pass the `MigrationObject` in. So I ended up using `renameProperty` to change `currency` to `wholesaleCurrency`, and then within `enumerateObjects` I set `retailCurrency` using `wholesaleCurrency`.

Example:

[code]

[2020-08-04 18:16] #6687 closed

[2020-08-04 19:02] ericjordanmossman commented on #6688
I don't know for certain. But looked at some other cases where this warning appears with other libraries.
Do the project, Pods, and Realm library settings for `Symbols Hidden by Default` and `Inline Methods Hidden` match?

[2020-08-04 19:29] or-git commented on #6678
@ericjordanmossman Hello, I sent you an email in order to get a link to the support team's secure uploader. I have the files for the investigation.

[2020-08-04 21:18] thomasAcademia opened #6689 "Sequential creation and access of `Realm` instance crashes app."
## Goals

Create and access `Realm` instances on a single thread in sequentially-executed code without crashing the app.

## Expected Results

Creating the `Realm` instance returns a valid object or throws an error. On the next line of code, accessing the `Realm` instance via methods like `Realm.objects` should not crash the app and return valid values.

## Actual Results

Creating the `Realm` ins

[2020-08-05 01:11] owenzhao commented on #6684
The same with Xcode 12 beta 4.

[2020-08-05 07:35] IvanovDeveloper commented on #6678
@ericjordanmossman Hi, I've uploaded realm files like you asked.

[2020-08-05 18:16] phoney commented on #6688
I'm also seeing this. I'm using RealmSwift.  I believe it appeared in 5.3.3 and wasn't present in 5.3.2. It's not just one warning; there are 32 of them.

Inline Methods Hidden: YES
Symbols Hidden by Default: NO

I have about 20 pods and they all have those same values for those two build settings.

The values for these build settings in the Pods project itself are different. Both values are NO.

[2020-08-05 20:55] petehoch opened #6690 ""mmap() failed: Cannot allocate memory size: 61865984 offset: 0""
!!! MANDATORY TO FILL OUT !!!

## Goals
I want to stop having all of these version of the db in the realm file. We just turned off encryption thinking that would help, but it did not.

I have been reading everything I can find, but I find contradictory messages. For example, we have wrapped every use of Realm in an autoreleasepool {} but then I saw a comment (on one issue, sorry lost the ref) that

[2020-08-05 22:59] ericjordanmossman commented on #6683
I tried an informal test to see how `.first` should be functioning versus the reported stacktrace.
Around ```#3: 0x00000001039f66af Realm`realm::IntegerNode<realm::ArrayIntNull, realm::Equal>::init() + 255``` the attached .zip file diverges. Unfortunately, I don't really understand why yet.

<img width="250" alt="rc6683" src="https://user-images.githubusercontent.com/25092858/89470956-f8cda580-d74

[2020-08-06 03:30] bennettyuan18 commented on #6637
I got a crash log.

[code]

[2020-08-06 08:36] gangsports opened #6691 "Cannot write to a database on exFAT drive"
## Goals
Modify a realm database on an exFAT drive

## Expected Results
The target realm database is saved or throws an exception

## Actual Results
The program hangs due to `realm.write` never returning

## Steps for others to Reproduce
Create a new realm database on exFAT causing the application hanging.

Some background:
I reported an issue that Realm cannot read the database on exFAT in https:

[2020-08-06 09:32] leemaguire commented on #6532
@ramjyroo are your issues still occurring in 5.3.3? If so could you get a sample app to us so we can check it out further? Thanks

[2020-08-06 13:21] ramjyroo commented on #6532
@leemaguire Unfortunately we are nearing a important product release as I have stated above and thus had to revert to realm 4.4.x to have stable realm. I had tried with 5.3.2 - but currently don't have the bandwidth for trying with each version of realm.

Will try to do this sometime over the weekend.

[2020-08-06 13:23] Limoo commented on #6408
We are also experiencing this crash quite often in Realm 5.3.2

[code]

[2020-08-06 15:10] HarutGevorgyan commented on #6096
I am also getting this error after updating the realm (since 2020 June 5) from 3.16.1 to 5.0.2.
PLEASE FIX THIS

Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/var/mobile/Containers/Data/Application/90D60EF8-D05F-459E-A517-E26FDEF9622A/Documents/default.realm.lock': open() failed: Operation not permitted Path: /var/mobile

[2020-08-06 16:15] bhavintrive opened #6692 "Error Domain=io.realm Code=6 "Opening Realm files of format version 0 is not supported by this version of Realm""
### Goals
store,  update, delete and retrieve data from encrypted Realm database.
### Expected Results
should not give error for any of the CRUD operation.

### Actual Results
after some CRUD operations suddenly delete operation fails with error and after this never CRUD operation works gives the same error. Once get this error I am not able to open db even if I go to Realm Studio and try to open

[2020-08-06 16:37] philmitchell commented on #6683
Thanks @ericjordanmossman, I experimented a bit w/ your sample project but have been unable to repro crash. Will let you know if I succeed.

[2020-08-06 22:57] cumanzor commented on #6685
Confirmed happening on Xcode 12 b4 as well, even after a fresh install of Xcode and the CL tools, cleaning derived data, and even on a new project with just the Realm and RealmSwift pods.

[2020-08-07 05:22] AkshayNG commented on #6133
I'm facing the same issue with command:

`carthage build realm-cocoa --platform ios --no-use-binaries --cache-builds`

Output:

[code]

- I have two versions of Xcode installed on my system: v11.4 and  v10.3
- I'm using v11.4 with Swift 5.2
- realm-cocoa version: v3.13.1

[2020-08-07 17:33] jpstern opened #6693 "[RLMObject objectForPrimaryKey:] verifyThread exception"
## Goals
I hope to achieve a crash free Realm experience

## Expected Results
I expect Realm to use a local thread bound Realm when looking up an object by it's primary key

## Actual Results
[code]

## Steps for others to Reproduce
1) Create a custom subclass of `Operation`
2) Initialize that that subclass with the primaryKey value
3) Inside the function main, lookup the object by it's primary ke

[2020-08-09 08:11] hyouuu opened #6694 "5.3.2 filter results gets duplicated double or triple times whenever some record changes"
## Goals
`filter` works normally as in 4.x.x

## Expected Results
after filtering results, it should keep the result consistent and not get duplicated

## Actual Results
after filtering results, if any of the result record's properties got updated, then the results would contain the same records duplicated 1-n times

## Steps for others to Reproduce

let pred = NSPredicate(/*whatever predicates e.

[2020-08-09 12:54] moosamir68 commented on #6144
thank you @victordupreez its works for me too

[2020-08-10 15:02] leemaguire commented on #6577
For anyone experiencing this issue, could you create a sample app that reproduces this and send it to us? Thanks!

[2020-08-10 15:06] leemaguire commented on #6655
@kishore94 Realm Studio does not support Realm files created with `10.0.0-beta.2` you will need to use Studio 3.11.0.

[2020-08-10 15:53] leemaguire commented on #6655
@kishore94 from what I see the issue is your config. The following code should work for you:

`var config = Realm.Configuration()
        config.deleteRealmIfMigrationNeeded = true;
        let fileURL = FileManager.default
            .containerURL(forSecurityApplicationGroupIdentifier: "group.brandbuilder.share")!
            .appendingPathComponent("default.realm")
        config.fileURL = file

[2020-08-10 17:49] lasseporsch commented on #6690
We see the same behavior in our App. Just like @petehoch we wrapped every API call to Realm from background threads in autoreleasepools. However, it is just a matter of time when Realm crashes with "mmap() failed: Cannot allocate memory size: 61865984 offset: 0". We experience this behavior especially after a fresh install of our app when a lot of data is fetched from the cloud and stored in Realm

[2020-08-10 19:55] szubiszon commented on #6688
I have the same problem, and I'm using RealmSwift too. Problem exist in 5.3.3 version only, 5.3.2 don't have those warnings.
` direct access in function 'auto realm::sync::Instruction::visit<(anonymous namespace)::RecoverLocalChangesetsHandler&>((anonymous namespace)::RecoverLocalChangesetsHandler&)' from file '/Users/kamil/Projects/XXX/Pods/Realm/core/librealmcore-ios.a(client_reset.o)' to global

[2020-08-10 20:48] ericjordanmossman commented on #6692
@bhavintrive
Could you fill out the issue template? This will help clarify the issue.

[2020-08-10 20:55] ericjordanmossman commented on #6689
@thomasAcademia
Does your project use Realm across multiple threads in other parts of the application? And do you receive any other crash information other than
[code]
?

[2020-08-10 22:38] thomasAcademia commented on #6689
@ericjordanmossman yes, we use Realm across multiple threads, but they are used in place and never passed between threads.

Our stack traces are currently not symbolicated because of issues with Bitcode and Firebase so the Realm methods used will be "(Missing)" unfortunately:

[code]

#10 is a callback from a network thread.

[2020-08-11 08:19] leemaguire commented on #6680
@qgliu Would you be able to share a stack trace & a realm file that is having issues? Thanks

[2020-08-11 09:05] #6324 closed

[2020-08-11 09:21] leemaguire commented on #6676
@MuJuiLin From our documentation: 'Since notifications are delivered using a run loop, the delivery of notifications might be delayed by other activity on the run loop. When notifications can’t be delivered immediately, changes from multiple write transactions may be coalesced into a single notification.'

https://realm.io/docs/swift/latest/#notifications

[2020-08-11 09:50] kishore94 commented on #6655
Hi @leemaguire  even after using above code , realm file Is not getting created . I think I am using codable is that causing issue ? 3.21.0 to 10.0.0 has lot of changes not sure which is causing issue .

/Users/kishorekumar/Library/Developer/CoreSimulator/Devices/2C9EE28F-FC14-4368-AEBB-9EFB46A468C5/data/Containers/Shared/AppGroup/AD7F91EC-C335-4763-9434-1D60E380F63B/default.realm

this is the fol

[2020-08-11 09:56] micheau-bastien commented on #6597
Hello everybody,

Reproducing the issue randomly here ! Anyone with an idea on how correct or work around this issue ?

# Steps to Reproduce

I init Realm with :

[code]

And crash happens here :
[code]
The real is shared on main thread by all the classes needing to do DB actions.
# Version of Realm and Tooling

ProductName: iOS
ProductVersion: 13.6 (Also on iOS 12)
BuildVersion: 17G68

Xcode vers

[2020-08-11 09:58] leemaguire commented on #6597
@micheau-bastien Can you share a stack trace, or even better send us a sample app that reproduces this crash? Thanks!

[2020-08-11 10:02] leemaguire commented on #6659
@duncangroenewald does updating to 5.3.3 solve your issue?

[2020-08-11 10:12] apptekstudios commented on #6693
Possibly related to #6659

[2020-08-11 10:12] leemaguire commented on #6655
@kishore94 I tried with your `Account` model and it works fine, in order for me to better understand what's going on I'll need you to give me a sample app that reproduces the issue. Is that feasible? Thanks!

[2020-08-11 10:27] leemaguire commented on #6643
@starchey Does updating to 5.3.3 solve your issue? Thanks.

[2020-08-11 10:27] RealmBot opened #6696 "Support syncing on the nil partition"

[2020-08-11 10:30] kishore94 commented on #6655
@leemaguire I can't give the source code of the application , will try to make please give us 4 working days .

[2020-08-11 10:33] leemaguire commented on #6642
Closing issue due to inactivity, if you have any other questions please open a new issue. Thanks.

[2020-08-11 10:33] #6642 closed

[2020-08-11 10:35] leemaguire commented on #6638
Could anyone experiencing an issue please upgrade to Realm 5.3.3 Thanks!

[2020-08-11 10:38] leemaguire commented on #6637
@bennettyuan18 Could you share a realm file with us that reproduces this issue? Even better would you be able to send us a sample app that reproduces this issue? Also please upgrade to 5.3.3 Thanks!

[2020-08-11 10:41] leemaguire commented on #6627
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-08-11 10:41] #6627 closed

[2020-08-11 10:46] bmunkholm commented on #6656
@cferg-entale Just got back from vacation. The "Steps to reproduce" isn't enough to lead us to the crash. Any chance you can provide a full but minimal repro case project?

[2020-08-11 10:49] micheau-bastien commented on #6597
@leemaguire : Thank you very much for your great reactivity here! Here are some more debug informations :

Error message :
[code]
 And the matching stack trace :
[code]

Is it helping you ?

[2020-08-11 11:53] leemaguire commented on #6597
@micheau-bastien this stack trace doesn't really help us, would you have a stack trace with realm symbols that lead up to the crash? Thanks

[2020-08-11 12:17] marinofaggiana commented on #6577
Please, several user with:

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0x00000000000001ea
VM Region Info: 0x1ea is not in any region.  Bytes before following region: 4336107030
      REGION TYPE                      START - END             [ VSIZE] PRT/MAX SHRMOD  REGION DETAIL
      UNUSED SPACE AT START
--->
      __TEXT                 000000010273c000-

[2020-08-11 12:19] jlavyan commented on #6647
I have exactly same issue. Are there any progress ?

[2020-08-11 13:13] qgliu commented on #6680
@leemaguire

It crashes in the beginning of the app when we start to setup the Realm configuration and start to load it. It seems crash only specific iPads and versions. Almost 1/3 of our clients had to reinstall the app.

--- Known crash iOS version and iPad ---

iOS: 13.5.1 iPad 7,11
iOS: 13.6.0 iPad (6th generation)
iOS: 13.5.1 iPad Air 2

--- Code in AppDelegate ---

extension AppDelegate {

[2020-08-11 13:41] leemaguire commented on #6577
@marinofaggiana This looks like a separate issue, please open a new issue and fill out the template accordingly. Thanks!

[2020-08-11 13:48] marinofaggiana opened #6697 "V 5.3.3 - Several user with KERN_INVALID_ADDRESS"
Please, we have several user with this example crash log:

[code]

[code]

Realm framework version: ?
5.3.3

Xcode version: ?
11.6

iOS/OSX version: ?
13.6 or below

[2020-08-11 13:49] destryteeter commented on #6636
We're not using realm-sync.

I should note that the crash does not reproduce with realm 3.2.  Only after updating the realm dependency does the crash start appearing.

[2020-08-11 13:49] leemaguire commented on #6680
@qgliu Thanks for sharing! would you be able to send us a Realm file that replicates this? Please send it to lee.maguire@mongodb.com if you can :)

[2020-08-11 13:55] finnschiermer commented on #6636
Thx for info re realm-sync, that allows us to rule out a bunch of code :-)

Did you mean version 5.3.2 ?

[2020-08-11 14:07] leemaguire commented on #6697
@marinofaggiana The next release of Realm Cocoa will have a fix related to `realm::util::EncryptedFileMapping` errors. That should hopefully solve your issue.

[2020-08-11 16:40] jpstern commented on #6659
FWIW, I rolled back from 5.3.3 to 4.3.2 without and other code changes and the crashes completely disappeared

[2020-08-11 21:38] vib8m opened #6698 "Copying objects from Realm Sync to local Realm fails with EXC_BAD_ACCESS"
## Goals

Copy objects from a synced Realm to a local Realm file for backup

## Expected Results

Successfully copy objects from synced Realm to local Realm

## Actual Results

Using create(_:value:update:) fails with EXC_BAD_ACCESS

## Steps for others to Reproduce

Created a button to update the local Realm manually

## Code Sample

[code]

## Version of Realm and Tooling

Realm framework versio

[2020-08-12 02:07] bennettyuan18 commented on #6637
@leemaguire I don't know how to safely send the file to you.
And in my app, I can't reproduce this issue with numerous accounts in my hand.
This is should be a special issue in special circumstances with a special account.

[2020-08-12 03:59] duncangroenewald commented on #6659
I will give it a try and get back to you.

[2020-08-12 08:10] leemaguire commented on #6637
@bennettyuan18 you can zip it up and send it to lee.maguire@mongodb.com Thanks :)

[2020-08-12 10:02] gioramixin commented on #6096
I have the same issue using realm 4.4.1

crash_info_entry_0
Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=5 "Directory at path '/private/var/mobile/Containers/Shared/AppGroup/A243F9D4-00F3-4DC1-BFCF-DBC0006F7132/default.realm' does not exist." UserInfo={Error Code=5, NSFilePath=/private/var/mobile/Containers/Shared/AppGroup/A243F9D4-00F3-4DC1-BFCF-DBC0006F

[2020-08-12 12:07] AkshayNG commented on #6480
@leemaguire `pod repo update` didn't help me fix the issue. I had to:

1. remove `pod 'RealmSwift'` from my podfile,
2. run `pod install`,
3.  re-add `pod 'RealmSwift'` in my podfile, and
4. run `pod install` again to get latest version and resolve the issue.

[2020-08-12 13:21] jedelbo commented on #6680
We have found at least one possible cause for this. Fix for that is under way.

[2020-08-12 13:57] finnschiermer commented on #6597
@micheau-bastien Is this a single-threaded scenario or are there other threads working concurrently?

[2020-08-12 14:33] finnschiermer commented on #6597
I think I've identified the cause of this bug: ObjectStore assumes that constiterators can be copied, even if they have become invalidated. Core does not support this, as it tries to validate during copy and throws if validation fails. Possible fix: postpone validation to point of use.

[2020-08-12 16:12] micheau-bastien commented on #6597
@finnschiermer Thank you for your response and your help!
This is a single thread scenario (on main thread).
And I have a quite large amount of invalidated objects moving around so it might indeed be the cause of the issue here!
Thanks again for helping me out here, you made my day!
I’ll keep you updated on this thread as soon as I’ll be able to test on 6.0.17 !

[2020-08-12 16:33] ianpward commented on #6161
@ptliddle It sure did - https://developer.mongodb.com/article/realm-cocoa-swiftui-combine

[2020-08-12 20:12] bhavintrive commented on #6692
I have updated the same. hope it is helpful now.

[2020-08-13 00:12] duncangroenewald commented on #6659
It's looking promising on the test application so far using either the Package Manager version or the 5.3.3 binary with a local realm file - I did get one crash on startup with an invalid thread issue but haven't been able to reproduce that.  I will try using 5.3.3 for a while on the full application with Realm Cloud sync to see how that works out.

BTW can anyone tell me whether there is any impa

[2020-08-13 00:40] duncangroenewald commented on #6659
I just did a build with 5.3.3 and tested connecting to an existing 4.4.1 file and Realm Cloud - it seems that main thread queries work but all the reports are still failing with nil query results.  These are running on background threads but I am not sure that is relevant - it seems more likely there is some problem with the database format upgrade process since the next test, described below, doe

[2020-08-13 00:50] indirect commented on #6671
I’ve heard this kind of crash can often be fixed with task assertions, are those assertions getting used here?

https://developer.apple.com/documentation/uikit/uiapplication/1623031-beginbackgroundtask

[2020-08-13 00:57] duncangroenewald commented on #6659
Well I just had another exception "realm accessed from invalid thread" or something like that but haven't been able to reproduce that yet.  Something strange is definitely going on if this happens one time and next time it doesn't.  I'll keep trying to see if I can reliably reproduce this crash.  All the above is macOS10.15/Xcode 11.6.

[2020-08-13 01:20] duncangroenewald commented on #6659
Weird - after crashing almost immediately the first two times I have been unable to get another crash for the past 5 minutes despite doing multiple tasks, all of which trigger multiple background processes that are accessing the realm database.  Is it possible the realm verify thread calls are getting something wrong under particular circumstances ?

[2020-08-13 01:29] gongzhang commented on #6671
I believe this is an iOS bug, since:

1. only reproduce on _physical_ device running iOS 14b3/b4
2. when crash with a debugger attached, Xcode just ends the debug session silently without showing any error messages.

[2020-08-13 01:33] gongzhang commented on #6671
I am also trying to walk around this issue. But it's difficult when you _have to_ save the db in app group container. 😟

[2020-08-13 03:18] kunalsood commented on #6671
@indirect That would be the case if we were crashing while in an active a write transaction. We are not. The app crashes even if I'm just holding on to an instance of a live RLMResults, RLMArray, RLMObject, RLMRealm, or RLMNotificationToken. I do not think it makes sense to wrap any of these in task assertions.

What you have heard is probably applicable for versions of iOS that came before iOS 14

[2020-08-13 03:23] duncangroenewald commented on #6659
OK - finally managed to trigger another crash doing nothing different than previously:

2020-08-13 13:20:43.308789+1000 MakeSpace[9224:684438] *** Terminating app due to uncaught exception 'RLMException', reason: 'Realm accessed from incorrect thread.'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff35e78b57 __exceptionPreprocess + 250
	1   libobjc.A.dylib

[2020-08-13 03:40] duncangroenewald commented on #6659
That crash is inside this function

[code]

[2020-08-13 04:19] duncangroenewald commented on #6659
Let me know if you want me to run some longer term testing - it is easy to setup some repeating tests that will run multiple concurrent background tasks and leave it running to see if it will eventually crash.

Currently manually switching to different parts of the app and triggering tasks seems to result in very infrequent crashes so its going to be difficult to reliably reproduce like this it se

[2020-08-13 06:01] grangej commented on #6689
I am also experiencing this issue , we create a separate thread for writes and while it works most of the the time I am able to crash if there are a lot of background writes happening concurrently.

`
             // this block is on a serial background thread
            .map { (responseData) -> ThreadsafeTabPaginatedResponse<RealmNotification> in

                let realm = try Realm()

[2020-08-13 09:10] finnschiermer commented on #6597
Fix in progress, but I missed the 6.0.17 train, so I expect it to go into 6.0.18 instead.

[2020-08-13 11:26] #6597 closed

[2020-08-13 17:05] ZComwiz opened #6699 "Crash for some users Realm 5.3.3 - realm::util::terminate(char const*, char const*, long) + 10"
## Goals

The app is loading data on a background thread from one local db to realm. I have it batching in units of 250 and looping in a function with autoreleasepool wrapped around it to try to keep the memory pressure down since I thought that was the issue first. Nothing seems to work.

## Expected Results
Not to crash.

## Actual Results
Crashed: com.apple.root.background-qos
SIGABRT ABORT 0x0

[2020-08-13 19:50] ZComwiz commented on #6690
@lasseporsch Any chance we can roll back to the good old days of 4.x? What are you doing to solve it in the field/production?

[2020-08-14 00:44] duncangroenewald commented on #6659
Since my last post we have been running a series of test cases and using the application in every way imaginable and have not experienced another crash yet so this could be a hard one to reliably reproduce !

[2020-08-14 06:06] Elamuruga commented on #6689
Ya even me too having the same issue I don't know where I did mistake. I can't able to reproduce it but it's crash randomly somewhere in each background task but not in the same task every time. Could you please help me to resolve this issue? thanks in advance

[2020-08-14 09:12] jedelbo commented on #6699
I had a look at this, but could not find out what could be wrong here. I suspect it is something around using an object in the wrong context. @leemaguire / @tgoyne can you help here?

[2020-08-14 09:22] leemaguire commented on #6699
@ZComwiz Is there multiple threads manipulating realm objects? I see `let objects = getSomeObjectArray()` and I'm wondering if the objects in that method are being invalidated elsewhere in your code.

[2020-08-14 09:47] lasseporsch commented on #6690
@ZComwiz In our case we decided to 'downgrade' to 4.4.1. This however works for us only because our currently released app version is on an even older Realm version.

[2020-08-14 10:00] sysbol opened #6701 "Resolving "realm-cocoa""
I use the tool swift package that comes with xcode to integrate, but it gets stuck in Resolving "realm-cocoa". How can I solve this?

[2020-08-14 12:41] ZComwiz commented on #6699
@leemaguire - The function shown is on the background thread. There is a UITableView on the main thread which is asking realm for the data, but is not mutating it on the main thread.

[2020-08-14 16:41] marcosmko commented on #6556
still happening on latest realm 5.3.3....

[code]

[2020-08-14 18:24] thomasAcademia commented on #6689
@grangej @Elamuruga for documentation's sake, what version of Realm are you running?

[2020-08-14 18:33] grangej commented on #6689
I am running 5.3.3, I believe I was able to solve the problem by passing the queue to the realm init, but this is not ideal since I use this in RX and had to find a way to get the current queue everywhere.

[2020-08-14 20:58] sailor002 commented on #6408
Any updates? Having the same issue in production. All of them seem to be on iOS 13 currently.

[2020-08-14 21:58] virtuosovidit commented on #6684
Facing the same issue with Realm 5.3.3, release notes suggested that the issue was fixed.

@tgoyne Perhaps you could shed light on what's causing this to happen or if you're aware of this stil being an issue? The errors persist even after removing Realm from the watchOS Extension.

[2020-08-14 23:24] owenzhao commented on #6684
I thought this week and last, Realm employees were on their vacations. As no one answered the issues and nothing was committed to the main branch.

[2020-08-16 05:04] meteochu commented on #6671
Just checking in, has anyone gotten updates from Apple about their submitted feedback?

[2020-08-16 16:32] visdyn opened #6705 "Realm 5.3.3 Cannot match several associated values at once, implicitly tupling"
I believe this is a documentation error and possibly a newly introduced bug when observing single realm objects

Swift 5.1
Realm 5.3.3
XCode 11.5

##  Goals
According to the documentation, to observe a single object we should use the code in the object notification section

https://realm.io/docs/swift/latest/#object-notifications

[code]
## Expected Results
This should attach an observer to that o

[2020-08-16 18:07] anhltsefpt commented on #6680
When the new update is available ? It caused the crash to random users of my app in production. I couldn't procedure this bug on the development environment.

[2020-08-16 18:30] cnstoll opened #6706 "Xcode 12 Beta 4 - SPM - watchOS - ld: symbol(s) not found for architecture arm64_32"
## Goals
Improve reliability of building with beta versions of Xcode

## Expected Results
Builds normally with beta versions of Xcode

## Actual Results
Build fails for watchOS extension when linking Realm and RealmSwift via Swift Package Manager

## Steps for others to Reproduce
Currently this is only happening for me in a debug build
I added Realm as a dependency via Swift Package Manager, point

[2020-08-17 02:08] kunalsood commented on #6671
That's a negative from me on both. Nothing yet for my feedback, still marked as Open.

[2020-08-17 02:26] gongzhang commented on #6671
Does anyone have the idea about how to reproduce the bug _without_ Realm? Maybe like retain a file lock in shared folder?

[2020-08-17 06:43] Elamuruga commented on #6689
@thomasAcademia Right now I am using the latest version of Realm 5.3.3 upgrade from version 4.4.1.

[2020-08-17 08:30] owenzhao commented on #6671
The question is not why Ream puts a lock file there. The question is why Apple doesn't allow a lock file in App Group folder. Is there any harm?

[2020-08-17 09:24] meteochu commented on #6671
It _is_ possible that this is the new expected behaviour to prevent multiple apps for writing to the same file by checking for file locks (since App group containers can be accessed by more than one process at a time). However, I'd like to believe that it's a regression since it is not being blocked by linked-on checks for iOS 14 and is instead affecting current apps.

[2020-08-17 10:10] zhangcx627 commented on #6671
+1 same issues in + iOS14b3, and crashing when backgrounded.

[2020-08-17 10:15] SquaredTiki commented on #6671
No updates on my bug report to Apple but I can see it says that there are less than 10 'recent' dupes, would recommend folks file a duplicate bug report if they haven't already to help bring increased attention (example/template [here](https://github.com/realm/realm-cocoa/issues/6671#issuecomment-666258363)).

[2020-08-17 12:16] MortyMerr commented on #6408
Can confirm that issue

[2020-08-17 14:24] ilkerc opened #6707 "Facebook login: "Expected either accessToken, id_token or authCode in payload""
## Goals

Login with facebook
## Expected Results

Login
## Actual Results

[code]
## Steps for others to Reproduce

- Get login token from facebook console or sdk login
- Login to realm using facebook token string
## Code Sample

[code]
## Version of Realm and Tooling

Realm framework version: 10.0.0-beta.2

Realm Object Server version: ?

Xcode version: 11.6
iOS/OSX version: 13.6
Dependency mana

[2020-08-17 14:46] ericjordanmossman commented on #6408
@sailor002

No updates. I originally spent a couple of days trying to reproduce based on instructions alone. So far it's been elusive. Very difficult to control for all variables.
If anyone is able to provide a sample reproduction project, that could help immensely.

[2020-08-17 16:07] tgoyne commented on #6705
It now needs to be `case .change(let object, let properties):` and the documentation is out of date. The object was added to the enum in Realm Cocoa 5.0 to better support notifications delivered to a dispatch queue.

[2020-08-17 16:16] visdyn commented on #6705
Ok. Thanks.

Can you address the second related question why `.oldValue` is always nil and newValue is correct?

[2020-08-17 16:30] hipwelljo opened #6709 "Results has one item when it should not, until you access results then there's 0"
## Expected Results
Accessing count/isEmpty for Results should be correct

## Actual Results
Very strangely, count is 1 and isEmpty is false when there's no results, until you access it by printing the results for example, at which point count is 0 and isEmpty is true as expected

## Steps for others to Reproduce
I don't have a sample project that replicates it, just our real app. Wonder if you ha

[2020-08-17 18:44] dmirmanov commented on #6668
Any news on this?

[2020-08-17 22:08] tgoyne commented on #6705
oldValue will be nil unless the write is performed on a different thread due to how the value is captured.

[2020-08-17 22:48] tgoyne commented on #6706
Those errors indicate that Realm is being built with ubsan enabled, but the extension is not. This is probably an Xcode bug as AFAIK there isn't even any way to configure that for packages. Toggling "Undefined Behavior Sanitizer" on and off in the scheme settings might fix it.

[2020-08-17 23:10] tgoyne commented on #6685
We do not support the new arm64 simulators yet as they break the old "universal" simulator/device libraries hack. Currently you'll need to exclude arm64 from the simulator architectures:

![image](https://user-images.githubusercontent.com/408944/90452864-fef54780-e0a3-11ea-9eb0-07b9a74f4c50.png)

`Build Active Architecture Only: Yes` should also sidestep this unless you're running on an ARM DTK, a

[2020-08-17 23:12] tgoyne commented on #6684
Those errors are related to the arm64 simulator added in beta 3, which we have not yet added support for. You'll currently need to add `arm64` to the excluded architectures for the simulator only:

![image](https://user-images.githubusercontent.com/408944/90453043-6d3a0a00-e0a4-11ea-8044-1ef7bbbad69c.png)

[2020-08-17 23:45] tgoyne commented on #6701
That step is where spm downloads the repository from github.

[2020-08-18 01:45] gongzhang commented on #6671
Does anyone know which exact line of code in Realm trigger this bug?

I think it's better to reproduce the bug in a clean and simple demo project _without importing the entire Realm framework_. I believe it will help Apple to identify the bug.

[2020-08-18 04:02] illabo commented on #6685
@tgoyne Sorry to say, but it isn't a solution. Whenever the project is attempted to be built for debug in simulator (main project and Pods targets architectures are set to ARCHS_STANDARD) excluding arm64 and i386 architectures it can't be linked as there aren't anything actually built:

And I'm trying with no success to run the project on old simulators (10.3.1—13.6) not only 14.0, Xcode 12 seems

[2020-08-18 07:25] leemaguire commented on #6699
@finnschiermer does this look related to https://github.com/realm/realm-core/pull/3848 is any way?

[2020-08-18 07:31] leemaguire commented on #6699
@ZComwiz Thanks for your response, can you update to 5.3.4 and see if that solves your issue? Thanks

[2020-08-18 10:29] finnschiermer commented on #6636
Likely duplicate of https://github.com/realm/realm-core/issues/3434, just looks different because the underlying code has changed.

[2020-08-18 10:32] finnschiermer commented on #6636
Goes back 2 years, but is still here despite all that's changed. Is not related to Sync.

[2020-08-18 11:35] cferg-entale commented on #6656
@bmunkholm, apologies for the late reply.

This crash is actually caused by realm already being in a write transaction. The solution was to avoid calling `write()` if realm was in a write transaction.

I don't know whether calling `write()` on a `Realm` instance should be avoided if the instance is already in a write transaction. The odd thing is that all writes were being performed on the same (m

[2020-08-18 13:17] ilkerc commented on #6707
Fix is here [realm/realm-object-store@9c80160](https://github.com/realm/realm-object-store/commit/9c80160881f2af76d99c356a9d6017c88c9b7e52) merged to v10 branch. Since 10-beta-3 is not yet released on CocoaPods, anyone having the same issue can manually install the v10 branches;

[code]

[2020-08-18 13:17] #6707 closed

[2020-08-18 15:45] #6675 closed

[2020-08-18 16:02] tgoyne commented on #5973
We also find the status quo quite frustrating, but we can't really do much about CocoaPods bugs. CocoaPods appears to be generating invalid dependency information in the xcode project it creates, which is not something under our control and needs to be reported to them if you're running into issues.

[2020-08-18 16:02] #5973 closed

[2020-08-18 16:13] leemaguire commented on #6697
Hi @marinofaggiana can you please update to the latest version of realm (5.3.4) Thanks.

[2020-08-18 16:13] #6697 closed

[2020-08-18 16:14] leemaguire commented on #6577
Can everyone please update to the latest version of Realm (5.3.4) Thanks

[2020-08-18 16:19] cnstoll commented on #6706
Oh my god that totally fixed it. Thank you!

[2020-08-18 16:19] #6706 closed

[2020-08-18 16:19] destryteeter commented on #6636
I was using 5.2.0.  Did see the same crasher on newer releases though.

[2020-08-18 16:27] leemaguire commented on #6532
@ramjyroo if possible please update your project to use the latest version of Realm (5.3.4) Thanks

[2020-08-18 17:35] zacwest commented on #6671
This crash continues in 14.0 b5. Probably time to consider migrating off Realm for iOS 14.

[2020-08-18 18:07] owenzhao commented on #6671
There are other three ways:

1. Realm adds a new config to put lock file in the app's container, separately from the database file.
2. Realm releases the lock file every time the Realm.write state is finished. I had a test by putting a file named "test.lock" in App Group's container using FileMananger. The app didn't crash as Realm did.
3. Using iCloud sync the realm database between app and exten

[2020-08-18 18:31] aabeshde opened #6711 ".freeze() Method results in Thread 1: signal SIGABRT Error in SwiftUI"
## Goals

In order to delete objects from a dynamic list properly, I'm attempting to use .freeze() on the RealmObjects to ensure I don't hit any index-out-of-bounds errors.

## Expected Results

By using freeze(), I was hoping to delete/iterate through my list without any index-out-of-bounds issues.

## Actual Results

Anytime I try to use the freeze() method on Realm Objects, I get back this erro

[2020-08-18 18:31] tgoyne commented on #6671
The lock file is placed in the app container.

This appears to be Apple's "fix" for the problem where switching between apps sharing a Realm file in a container could deadlock if done during a write transaction because the now-backgrounded app would hold the write transaction forever. Simply killing the app when that happens isn't exactly an ideal solution, but it does ensure things keep working.

[2020-08-18 18:50] kunalsood commented on #6671
@tgoyne Say if Apple has decided that this is the new expected behaviour. Is there anything you (or I) can do to work around this?

[2020-08-18 19:00] tgoyne commented on #6671
There probably isn't anything easy. I suspect Apple's intended answer is "just close the file when you get the transition to background notification", which is very difficult when multiple threads are involved. The big important thing that the shared lock is doing is letting us clean up after crashes rather than forever holding onto data which was only needed by a process that is no longer running

[2020-08-18 19:00] bguidolim commented on #6671
Same thing on Beta 5

[2020-08-18 19:08] owenzhao commented on #6671
Here is my work around. My app won't crash any longer. If you use this, take your own risk.

    func applicationWillResignActive(_ application: UIApplication) {
        // Sent when the application is about to move from active to inactive state. This can occur for certain types of temporary interruptions (such as an incoming phone call or SMS message) or when the user quits the application and it

[2020-08-18 19:15] kunalsood commented on #6671
@tgoyne Thanks for your response.

@owenzhao The lock file is there for a good reason, simply deleting it will probably cause more problems (probably even data corruption?) than it will solve.

[2020-08-18 19:33] owenzhao commented on #6671
I know my app better than you. For my app, this is a proper way. It is app's developer to decide whether to use this work around.

The better work around is to use iCloud syncing between app and extensions. But that will take much more work.

[2020-08-19 02:54] duncangroenewald opened #6712 "5.3.4 crash "Realm accessed from incorrect thread""
## Goals
Running reporting jobs on background threads.  This exception appears to occur randomly since v5.x.  This issue is reported elsewhere against v5.3.x and earlier but I am creating a new issue against v5.3.4.

## Expected Results
Do not expect to get this crash since call to Realm() and subsequent access of the realm is occurring on the same thread.

## Actual Results
2020-08-19 12:46:02.45

[2020-08-19 03:14] duncangroenewald commented on #6712
I just managed to get another crash, this time ever so slightly different.

2020-08-19 13:10:35.441117+1000 MakeSpace[2511:184305] *** Terminating app due to uncaught exception 'RLMException', reason: 'Realm accessed from incorrect thread.'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff32706b57 __exceptionPreprocess + 250
	1   libobjc.A.dylib

[2020-08-19 04:07] duncangroenewald commented on #6712
It seems I can now reliably get a crash by running a particular batch of reports - and the crash seems to occur much sooner than before.  Note that these reports are generated by NSOperations, each NSOperation opens the realm and generates the report for a particular input code.  Usually the queue has 4 concurrent operations but the crash is occurring regardless of whether maxConcurrentOperations

[2020-08-19 04:10] tgoyne commented on #6712
A repro case would be wonderful if you can put one together.

[2020-08-19 04:11] duncangroenewald commented on #6712
Ok I'll see what I can do.

[2020-08-19 04:18] kfound commented on #6536
I'm having the same exact issue in my app.

I updated to Realm 5.3.3 and now if I leave an observer in place on my Results<MyObject> before deleting an object the app crashes. In both my case and the example pasted above, it's when we try to access the `count` of the Results object.

My workaround for this is to remove my observer before I delete an object. Any chance there might be a fix for this

[2020-08-19 05:56] kfound commented on #6536
Wanted to post again to say that I've got two other objects I can delete and leave the observers in place and it seems fine. It's my more complex object that I'm having the observer issues with.  With my complex object, I only have to delete one and it crashes with the 'Key not found' error.

I was trying to figure out the difference between the two objects.  I have a Chart and a Project.

The Cha

[2020-08-19 08:09] gongzhang commented on #6671
Hey guys, I just reproduce the bug **without** Realm. It's all about holding `flock` in App Group directory. You can follow these steps to quickly reproduce the weird crash:

1. Create a new iOS App project (Objective-C) using Xcode.
2. Add an App Group container in project setting page.
3. Paste this code snippet in `application:didFinishLaunchingWithOptions:`:

[code]

4. Debug the project on a

[2020-08-19 09:18] finnschiermer commented on #6671
With respect to removing the lock file in a running system: Don't

The lock file is what allows us to coordinate access to the realm file itself among multiple Core DB objects (realm-core v6 and onwards) or multiple SharedGroup objects (pre realm-core v6). Removing the lock file is guaranteed NOT to work, as soon as multiple such objects need to coordinate access.

Realm does not guarantee any par

[2020-08-19 09:47] gongzhang commented on #6671
Totally Agree. And what do think about this walkaround:

Temporarily release the file lock just before the process being suspended, e.g., when enter `background` state for iOS main app. This will prevent the app being killed by iOS 14. And because of the entire process has been suspended, it is ok to release the file locks from current process. (Am I right? 🤨) Then, we recover those locks when the

[2020-08-19 10:08] finnschiermer commented on #6671
@gongzhang Unfortunately it is also dangerous. The locking is part of a machinery which allows us to re-initialize the lock file at opportune points. Tinkering with the lock could lead us to initialize the file at the wrong time, leading to the same problem as directly deleting the lock file. It may work if you have absolute control of *when* exactly you release and reacquire the lock with respect

[2020-08-19 10:25] duncangroenewald commented on #6712
This is annoying - I haven't been able to reproduce in a test app but seem to be able to repeatedly cause the exception with one particular sequence of steps in the application.  Other sequences cause the crash eventually as well but not consistently in the same place.  The crash seems to happen on the first call(realm.refresh(), realm.objects(), etc.) immediately after a realm is opened on a new

[2020-08-19 10:51] gongzhang commented on #6671
@finnschiermer Thank you for your clear response :) It looks like quite a bit of code in realm-core needs to be carefully modified. I'll stop hacking it for now 😂.

[2020-08-19 11:04] marsha97 commented on #6505
It is almost a month since our latest iOS app with realm 5 released, and I haven't found the same crash happen again. So I will close this issue for now. Thank you 👍

[2020-08-19 13:34] ismmajl opened #6713 "Performance issue: Lag and slow performance when write(create) and delete objects."
I have a problem while saving/deleting objects.

I have an array with objects and i want to change every object a property.This takes an non acceptable amount of time for 1000 objects (5-8 seconds).

Here is my code to write or delete objects:

[2020-08-19 19:57] ericjordanmossman commented on #6674
Closing because of lacking information.

[2020-08-19 19:57] #6674 closed

[2020-08-19 20:30] ericjordanmossman commented on #6698
Keep in mind that the Realm database on the device is [already a local copy](https://docs.mongodb.com/realm/get-started/glossary/#term-realm-sync).
If you need to copy the entire for file management, see the `writeCopy` in [file management](https://realm.io/docs/swift/5.3.4/api/Structs/Realm.html#/s:10RealmSwift0A0V9writeCopy6toFile13encryptionKeyy10Foundation3URLV_AG4DataVSgtKF).

If neither of t

[2020-08-19 20:37] ericjordanmossman commented on #6709
@hipwelljo

Do you ever notice this happen with realm files created after 4.x, or does this only occur on files created before 4.x that were subsequently upgraded to 5?

[2020-08-19 20:48] hipwelljo commented on #6709
This occurs with realm files created with 5.3.3 - confirmed by deleting the app and reinstalling.

[2020-08-19 20:59] hipwelljo commented on #6709
Note that it doesn't happen every time. It does seem to occur every time the current song changes (which affects the filter, so the property is set again) though, even though both songs have 0 markers.

[2020-08-19 23:32] tgoyne commented on #6713
[code]

This is a very slow no-op. Updating an object with it current value doesn't do anything.

For the case where the objects passed in aren't managed by Realm and actually do need to be added, you should use a single write transaction instead of a write transaction per object. Each write transaction has some fixed overhead which is much more expensive than creating a single object.

[2020-08-20 00:29] seki-ne commented on #6699
@leemaguire hello, we update to 5.3.4 and face the same issue.

[2020-08-20 00:39] seki-ne commented on #6530
@tgoyne
we face the same issue in 5.3.3 and 5.3.4
[code]

[2020-08-20 00:53] seki-ne commented on #6678
@IvanovDeveloper @ericjordanmossman
i face the same issue in 5.3.3 and 5.3.4
how can i fix it.
[code]

[2020-08-20 01:47] duncangroenewald commented on #6712
@tgoyne - is there any way I can help debug this issue since I can reproduce it pretty easily in the production application but not in the test app.  Perhaps I am barking up the wrong tree here but it seems this call is failing when it shouldn't be.  I don't have any understanding of how the realm code works but presumably m_runloop is getting set when Realm() is called and subsequent access to th

[2020-08-20 04:22] tgoyne commented on #6712
Are you opening the Realm in one NSOperation and then accessing it in another? If so that would explain the error; to make that work you would need to use a Realm confined to a queue and run the NSOperation on that queue.

---

If no queue-bound threads are involved (i.e. you don't use asyncOpen, never specify a queue when opening a Realm, and never specify a queue to deliver to when adding an obj

[2020-08-20 07:06] #6713 closed

[2020-08-20 07:20] duncangroenewald commented on #6712
@tgoyne No the realm is opened in one operation only.  I think the idea that something is being reused and upsetting your cache seems the more likely scenario.

I'll try logging what you have suggested.

Currently I am using the Swift Package Manager version - the source files are readonly - is it possible to somehow incorporate this version with source code into my project so I can add the debug

[2020-08-20 07:41] duncangroenewald commented on #6712
Bingo!!

2020-08-20 17:35:29.111117+1000 MakeSpace[5738:133398] <UI>ReportListTableViewController.viewDidLoad()[79]: " called"
thread id: 105553171629632, runloop: 105553147511808
thread id: 105553177572992, runloop: 105553147560448
thread id: 105553177572992, runloop: 105553147560448
thread id: 105553171403712, runloop: 105553147560192
thread id: 105553171403712, runloop: 105553147560192
thread i

[2020-08-20 08:50] duncangroenewald commented on #6712
If you could give me some guidance on how I can add the realm source code to my project such that I can edit the source code I want to check the values in the call below.  Is there anywhere else that could be generating the same exception that is worth checking?

bool RunLoopScheduler::is_on_thread() const noexcept
{
    return CFRunLoopGetCurrent() == m_runloop;
}

[2020-08-20 10:41] duncangroenewald commented on #6712
OK I've managed to figure out how to edit the source code and have added the following code:

Swift Class
            let realm = try Realm(configuration: self.realmConfig)
            print("open realm>>thread id: \(ObjectIdentifier(Thread.current)), runloop: \( ObjectIdentifier(CFRunLoopGetCurrent()))");

RunLoopScheduler::RunLoopScheduler(CFRunLoopRef run_loop)
: m_runloop(run_loop ?: CFRunLoop

[2020-08-20 11:31] kishore94 commented on #6655
@leemaguire here is demo project I have attached .

[https://drive.google.com/file/d/1Y8NoZrTrMS5FL7WGQYseQ5K6XxIuVOi8/view?usp=sharing
](demo source)

[2020-08-20 13:04] leemaguire commented on #6655
@kishore94 thanks I'll take a look, You can delete the link now if you'd like.

[2020-08-20 13:33] sailor002 commented on #6408
Well, actually I can't reproduce it myself too :) But Firebase reports this error in production, and more than 5% of the users are affected.

[2020-08-20 14:33] jedelbo commented on #6680
v5.3.4 contains a fix that might address the issue reported here. As we have only the stacktrace it is not possible to say exactly what the problem is here, but it looks similar to the one we fixed.

[2020-08-20 15:42] tgoyne commented on #6712
I was able to reproduce this with a nice small test:

[code]

I think this'll be pretty straightforward to fix now that I understand what's going wrong.

[2020-08-20 15:51] tgoyne commented on #6712
The 5.0 changes to support delivering notifications to different threads requires that the main thread's scheduler be based on the runloop because that's something we can get from different threads in a documented way, while you technically can't get the main thread's threadid from different threads. Rather than special-casing the main thread's scheduler I just made them all use the runloop becaus

[2020-08-20 15:53] tgoyne commented on #6659
I've successfully reproduced a case which would cause spurious incorrect thread exceptions and am working on a fix.

[2020-08-20 15:53] tgoyne commented on #6689
I've successfully reproduced a case which would cause spurious incorrect thread exceptions and am working on a fix.

[2020-08-20 16:24] seki-ne commented on #6680
@jedelbo
sorry that we face the same issue in 5.3.3 and  5.3.4

[code]

[2020-08-20 16:25] seki-ne commented on #6678
@ericjordanmossman
I'm sorry that i comment again in issues/6680
thank you for your attention

[2020-08-20 18:59] tgoyne commented on #6672
This has been fixed in core, but we haven't made a v10 beta release with the fix yet.

[2020-08-20 19:34] #6659 closed

[2020-08-20 19:34] #6689 closed

[2020-08-20 19:34] #6712 closed

[2020-08-21 01:42] duncangroenewald opened #6716 "RealmSwift 5.3.5 Failure to migrate from V4.4.1 database correctly"
## Goals

Upgrade the Realm Cloud client application from RealmSwift v4.4.1 to v5.3.5 automatically.

Note this issue has been logged previously against earlier versions

## Expected Results

Expect upgrade to complete successfully when new version of the client application using RealmSwift v5.3.5 opens an existing synced or non-synced realm file.

## Actual Results

The local realm file appears t

[2020-08-21 01:48] duncangroenewald commented on #6672
@tgoyne - I just posted an issue with this same problem using v5.3.5 when upgrading from a v4.4.1 realm. I see above you indicate this has been fixed in core - can you confirm whether this fix has yet to be merged into v5.x builds ?  If so when do you anticipate doing this - just want to know when to check back since this is the last main issue holding us back from upgrading production.

BTW the t

[2020-08-21 01:56] duncangroenewald commented on #6577
Actually you might want to try upgrading to Realm (5.3.5) since that fixes a common thread related crash.

[2020-08-21 07:55] ZComwiz commented on #6699
@leemaguire — Was about to do roll it out but we are seeing performance problems with it.

[2020-08-21 08:08] leemaguire commented on #6699
@ZComwiz could you describe where you are facing performance problems? Also please check out 5.3.5 which was just released. Thanks.

[2020-08-21 08:24] LorienMan commented on #6628
@tgoyne Reporting in. Saw that 5.3.4 included fix of crashes with "Encrypted" word in stacktrace but it is still crashing (stacktraces are the same). :(

[2020-08-21 08:55] xinsight commented on #6712
This seems to be an issue with older versions of realm as well - I'm currently seeing this on a project with v3.18.0.

I was able to replicate the crash by background/foregrounding my app several times (we do some Realm querying when the app comes to the foreground).

Here's a simple test based on @tgoyne's awesome explanation above.

[code]

[code]

Guess i'll have to backport the patch in #6714

[2020-08-24 00:50] owenzhao commented on #6619
One whole month passed and I still got this issue with Realm 5.3.5.

- building for macOS-arm64 but attempting to link with file built for macOS-x86_64

[2020-08-24 02:17] seki-ne commented on #6621
@tgoyne  i have same issue.
how can i downgrade safely
5.3.4 -> 4.4.1

Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path
[code]

[2020-08-24 05:11] AlexanderPan opened #6717 "Xcode12 beta5 Carthage build fail"
## Goals
Carthage version:0.35.0 build Realm

## Expected Results
Carthage version:0.35.0 build Realm Success

## Actual Results
[code]

## Steps for others to Reproduce
[code]

## Version of Realm and Tooling

Realm framework version: v 5.3.5

Realm Object Server version: N/A

Xcode version: 12 beta 5

iOS/OSX version: 14

Dependency manager + version: Carthage with Xcode 11.6

[2020-08-24 08:21] szubiszon commented on #6688
I have exported all generated errors:
[Build App_2020-08-24T10-14-50.txt](https://github.com/realm/realm-cocoa/files/5116600/Build.App_2020-08-24T10-14-50.txt)

[2020-08-24 09:50] finnschiermer commented on #6671
@LorienMan Thx for info. That could also be a way forward. It would have to be hand in hand with complete re-initialization of the app, I guess, since our concept of "live" transactions could not survive. But perhaps that's the case anyway. We'll evaluate it against/along with the fix we're currently working on.

[2020-08-24 14:24] jedelbo commented on #6680
@seki-ne Could it be that the problem reported here is from a situation where the realm has already been through a failing upgrade with v5.3.3 and thus already in a bad state?

[2020-08-24 14:58] seki-ne commented on #6680
@jedelbo
i am sorry that i dont know the file is broken or not and we have not update it to v5.3.5 (core 6.0.19)
but v5.3.5 is like to not be stabilize to update
https://github.com/realm/realm-cocoa/issues/6699#issuecomment-678373511

i just want to downgrade to v4.4.1 to avoid crash with our prod app which has large number of users.
but it will crash when downgrade from v5 to v4
is there some saf

[2020-08-24 15:21] gemmakbarlow commented on #6717
Also seeing this using the Xcode 12 Beta 5 command-line tools, Carthage 0.35.0

[2020-08-24 16:16] tgoyne commented on #6621
Realm 4.x cannot open files written by 5.x and we do not have a migration tool to convert to the older format.

[2020-08-24 20:12] AlexNoseworthy opened #6718 "XCode 12 Beta 5 Undefined Symbol Build Fail"
## Goals
Build project containing Realm in XCode12 Beta 5

## Expected Results
Successfully build project containing Realm in XCode12 Beta 5

## Actual Results
warning: ignoring file ~/Pods/Realm/core/librealmcore-watchos.a, missing required architecture arm64 in file ~/Pods/Realm/core/librealmcore-watchos.a (4 slices)
Undefined symbols for architecture arm64:

![Screen Shot 2020-08-24 at 4 48 02

[2020-08-24 23:54] tgoyne commented on #6718
See https://github.com/realm/realm-cocoa/issues/6684.

[2020-08-24 23:54] #6718 closed

[2020-08-24 23:56] tgoyne commented on #6711
This is probably a bug which was fixed in 5.0.3, which has not yet been merged into the v10 branch.

[2020-08-24 23:56] #6701 closed

[2020-08-25 01:45] aabeshde commented on #6711
Hey Thomas - appreciate the reply here, do you know when the changes will
be merged? What's needed on my end to update to the latest branch?

On Mon, Aug 24, 2020 at 6:56 PM Thomas Goyne <notifications@github.com>
wrote:

--
Best,

<http://reverb.com/> *Aabesh De*
Sales Engineering Manager
847-957-3405 <(888)%20726-2728>

*BUY  |  SELL  |  PLAY *

[image: Facebook] <https://facebook.com/reverbmark

[2020-08-25 06:06] tsheaff commented on #6685
Yes we're seeing a very similar issue. We're not attempting to use `RealmSwift` at all, just `realm-cocoa`. Tried excluding `arm64` to no avail:

<img width="596" alt="Screen Shot 2020-08-24 at 11 03 51 PM" src="https://user-images.githubusercontent.com/1238684/91129141-54aa9080-e65e-11ea-86c6-859516a222da.png">
<img width="1278" alt="Screen Shot 2020-08-24 at 11 04 07 PM" src="https://user-images

[2020-08-25 07:42] bguidolim commented on #6671
I just want to drop a friendly reminder here, we should not forget about transactions in background, like changes via background fetching or silent push notifications.

[2020-08-25 07:57] gongzhang commented on #6671
Exactly. We need to note that code can also be executed when the app is in background. Here we should discuss the **suspended state**.

(See: [iOS App Life Cycle](https://developer.apple.com/documentation/uikit/app_and_environment/managing_your_app_s_life_cycle))

[2020-08-25 10:27] jsflax commented on #6711
@aabeshde Can you try updating to 10.0.0-beta.3? Please let us know if that works.

[2020-08-25 13:15] calvinsug commented on #6556
i encountered crash when there is a high traffic at receive data messages (chat application) by multiple user.

Is it the same issue for this?

`BACKGROUND THREAD 15 - CRASHED
Realm
realm::util::EncryptedFileMapping::read_barrier(void const*, unsigned long, unsigned long (*)(char const*))
Realm
realm::util::do_encryption_read_barrier(void const*, unsigned long, unsigned long (*)(char const*), real

[2020-08-25 14:54] aabeshde commented on #6711
@jsflax Hey there, I updated to beta.3 and had to refactor some of the credentials/App login code, but I hit an error upon app launch with the following:

dyld: Symbol not found: _OBJC_CLASS_$_RLMCredentials

The problem is referened/expected in: .app/Frameworks/Realm.framework/Realm

It looks like something to do with the beta.3 update didn't install properly?

[2020-08-25 15:27] jsflax commented on #6288
Going to close this out as it's been a couple of months and a number of releases have occurred. If this is still an issue, please open a new ticket.

[2020-08-25 15:27] #6288 closed

[2020-08-25 15:27] jsflax commented on #6278
Going to close this out as it's been a couple of months and a number of releases have occurred. If this is still an issue, please open a new ticket.

[2020-08-25 15:27] jsflax commented on #6199
Going to close this out as it's been a couple of months and a number of releases have occurred. If this is still an issue, please open a new ticket.

[2020-08-25 15:27] #6199 closed

[2020-08-25 15:28] #6419 closed

[2020-08-25 17:02] ZComwiz commented on #6716
I think this is not an upgrade issue— this is a fundamental problem in Realm 5.x.x/5.3.x which is progressively getting worse with each update. We are seeing duplicate objects being created and very wacky stuff. I hope you didn't push your update out to production like we did when we upgraded to 5.3.3 and didn't see any bugs until our we started receiving crash reports @duncangroenewald

[2020-08-25 17:17] SquaredTiki commented on #6671
Doesn't appear that Apple has any interest in fixing this for the sakes of binary compatibility, received the following response on my bug report:

[2020-08-25 19:47] seki-ne commented on #6530
@tgoyne
[code]

[2020-08-25 20:51] tgoyne commented on #6694
A complete repro case would be very helpful for this, as I have been unable to reproduce it.

[2020-08-25 20:52] tgoyne commented on #6693
Closing this as it is probably fixed in 5.3.5. Please let us know if it is not.

[2020-08-25 20:52] #6693 closed

[2020-08-25 21:04] tgoyne commented on #6709
It sounds like the problem is that when calling count() on a freshly created Results which matches no objects you're incorrectly getting 1, but you get the correct count as long as you've ever accessed the objects in the Results? We do have separate code paths for those two cases (count() on a newly constructed Results directly runs the query and counts the number of matches without building a res

[2020-08-25 22:26] ericjordanmossman opened #6719 "v10 - TestDownLoadCustomPath test case exception"
!!! MANDATORY TO FILL OUT !!!

## Goals
Have testDownloadRealmToCustomPath() succeed.

## Expected Results
An exception is not thrown at sync_client.hpp:80

## Actual Results
Exception is thrown at sync_client.hpp:80
<img width="728" alt="Screen Shot 2020-08-25 at 6 22 09 PM" src="https://user-images.githubusercontent.com/25092858/91233848-0d74dc00-e700-11ea-8467-d2cac80f50a0.png">
[code]

## Step

[2020-08-26 00:41] gongzhang commented on #6671
@SquaredTiki 🤪Just reply them with this code. Even this is the new expected behavior of iOS 14, they still need to fix the last two bullets I mentioned.

[2020-08-26 02:46] MischkaTheBear commented on #6688
+1 as well

[2020-08-26 03:40] aalenliang commented on #6683
Xcode 11.6 (11E708)
Realm 5.3.5, RealmSwift 5.3.5
iOS 14, iPhone 11 Pro

I got the same crash occasionally:
![image](https://user-images.githubusercontent.com/20056005/91252265-da7a2900-e78f-11ea-975e-b825b279003a.png)

My source code is just query and return the id from object:
[code]

[2020-08-26 04:09] aalenliang commented on #6683
The crash log looks like this closed issue: https://github.com/realm/realm-cocoa/issues/6555

[2020-08-26 04:45] duncangroenewald commented on #6716
Fortunately we have a bunch of automated tests and we generally do a few months of usage in development before going to production.

Have you tried deleting the existing local realm files and then recreating them from the 5.3.5 client ?  That seems to work fine so far - it's seems when the old file format gets upgraded something goes wrong.  We also didn't see any issues yet if we used the non-syn

[2020-08-26 07:20] kishore94 commented on #6655
@leemaguire yes issue fixed thanks for the time , lets close this ticket

[2020-08-26 07:20] #6655 closed

[2020-08-26 10:10] seki-ne opened #6720 "RLMException in 5.x.x reason: 'Can only delete an object from the Realm it belongs to"
## Goals

migration.delete not crash like 4.4.1
## Expected Results

migration.delete not crash like 4.4.1
## Actual Results

'RLMException', reason: 'Can only delete an object from the Realm it belongs to.'
## Steps for others to Reproduce

https://github.com/seki-ne/sample
build one time, update schemeversion, then got the crash

## Version of Realm and Tooling

Realm framework version: 5.3.5, 5

[2020-08-26 11:47] kunalsood commented on #6671
Automatically closed because the pull request that fixes this has been merged into realm-core? So, we just need to wait for some someone to upgrade core to the version with the fix on realm-cocoa master branch?

[2020-08-26 11:48] finnschiermer commented on #6671
..and a Core release with the fix...

[2020-08-26 11:49] kunalsood commented on #6671
Excellent! Thanks so much!

[2020-08-26 17:38] hipwelljo commented on #6709
Yes that sounds correct. I'm attempting to replicate it in a sample project but haven't had luck either yet.

[2020-08-26 19:53] robbiet480 commented on #6671
@finnschiermer How long until a Cocoa update you think?

[2020-08-26 19:54] hipwelljo opened #6721 "Realm Results aren't updated if there's a NotificationToken observing the Results"
In trying to replicate #6709 I'm running into what might be a related issue. This code should work, right?

## Expected Results
Realm Results is up-to-date after adding new object

## Actual Results
Realm Results is not updated after adding a new object when observing for changes via NotificationToken

## Steps for others to Reproduce
1. Open provided project [RealmTest.zip](https://github.com/rea

[2020-08-26 20:19] bsweett commented on #6664
This has been fixed. I tested with 5.3.5 and Xcode 12 beta 5.

[2020-08-26 21:13] #6664 closed

[2020-08-26 23:05] robbiet480 commented on #6671
@tgoyne Just opened a PR to bump the core version at https://github.com/realm/realm-cocoa/pull/6722

[2020-08-26 23:16] tgoyne commented on #6721
It looks like the specific circumstances that are broken are:
1. It must be the first access of the Results
2. There must be a notifier, and the initial run of the async query needs to have completed
3. The access must be inside a write transaction following a change which should have invalidated the async query results.

Should be easy to fix.

[2020-08-27 01:50] gangsports commented on #6691
Hi people. Just wondering if any updates for this? Much appreciate it.

[2020-08-27 09:30] #6647 closed

[2020-08-28 03:03] bennettyuan18 opened #6724 "Error in reading schema after upgrade"
I have a problem when I upgrade the Realm version to 5.3.5 from 3.21.0.
A crash I encountered, the log is below 👇.

**Is an issue or need to do something for migration (3 to 5)?**

[code]

## Version of Realm and Tooling

Realm framework version: v5.3.5
Xcode version: 11.6
iOS/OSX version: 13.6.1/10.15.6
Dependency manager + version: Carthage 0.35.0

[2020-08-28 03:26] kevin3747118 opened #6725 "Xcode12 beta6 build fail"
## Goals
Build APP successfully

## Actual Results
ld: in /Users/XXX/Desktop/XXXX/XXXX/Pods/Realm/core/librealmcore-ios.a(array_binary.o), building for iOS Simulator, but linking in object file built for iOS, for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

## Version of Realm and Tooling
Realm framework version: 5.3.5
Xcode version: 12.0 Beta

[2020-08-28 07:22] David2XN commented on #6717
I have the same problem on with Xcode12 beta6.

[2020-08-28 09:35] #6696 closed

[2020-08-28 14:27] leemaguire commented on #6699
@ZComwiz with regards to 'UI Updates are being called on the main thread after write transactions complete on the background thread' this would be correct as any changes to the observed object will be delivered to the desired thread regardless of what thread the changes were made on.

We do not have a migration tool to go back to 4.x but we would like to get to the bottom of your issue. Could you

[2020-08-28 17:49] tgoyne commented on #6691
Running the core unit tests on an exFAT volume hits this issue, and there's a few other tests that fail as well. The good news is that it looks like that assuming I can get it to work it should be easy to test each filesystem on CI...

[2020-08-28 18:31] adamk77 opened #6728 "Crash related to Swift 5 Exclusivity Enforcement"
## Goals
To be able to use the `filter` method of the `Result<Element>` object.

## Expected Results
Method works without crashing.

## Actual Results
Crashes with:
`Thread 1: Simultaneous accesses to 0x7ffca400a210, but modification requires exclusive access`

## Steps for others to Reproduce
Please see sample code below. Attached is also the XCode project.

## Code Sample
Summary:

- If I call t