[2022-05-30 17:44] igorvoytovich commented on #7798
@pavel-ship-it

I added the code for automatically attaching/reattaching listener and tested several cases with different configurations.

I see that passing `queue` parameter to the Realm like `Realm(configuration: configuration, queue: queue)` has **no** effect, I mean it is not related to this crash.

But adding queue parameter to this function `.observe(keyPaths: nil, on: DispatchQueue.main)`

[2022-05-31 09:08] pavel-ship-it commented on #7007
@igrechuhin do you have any progress with resolving this issue?

[2022-05-31 09:10] pavel-ship-it commented on #7347
@bdkjones any luck with the resolution? Could you provide us with a sandbox app that replicates the crash?

[2022-05-31 09:13] pavel-ship-it commented on #7625
Hi @ragu-pdx, have you had a chance to try the workaround with begin/cancel the transaction?

[2022-05-31 09:14] pavel-ship-it commented on #7614
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2022-05-31 09:14] #7614 closed

[2022-05-31 09:18] pavel-ship-it commented on #7046
@junsolOh, @AdAvAn, @tijme, Is it still a problem with the latest Realm versions? If so - could you try to reproduce using release build instead of debug? In some cases it can help.

[2022-05-31 09:18] pavel-ship-it commented on #7088
Hi @ragu-pdx, we haven't been able to reproduce your issue. Have you updated to our latest version?, are you still getting this error?, If that's the case can you send us the realm file which we are not able to open, this will give us a clue to what could be happening.

[2022-05-31 09:26] #7736 closed

[2022-05-31 09:29] #7748 closed

[2022-05-31 09:36] pavel-ship-it commented on #7809
@Maling1255,
   Downloading dependency: 11.6.0 from https://static.realm.io/downloads/core/realm-monorepo-xcframework-v11.6.0.tar.xz
can you try to run `curl https://static.realm.io/downloads/core/realm-monorepo-xcframework-v11.6.0.tar.xz --output realm-monorepo-xcframework-v11.6.0.tar.xz`?

@kasa-ailleron,
can you try to run `curl https://static.realm.io/downloads/core/realm-monorepo-xcframework-

[2022-05-31 09:37] pavel-ship-it commented on #7784
Hi @ICloud0114, this seems to indicate an issue while reading the schema, can you please add a more detailed stacktrace so we can better diagnose this.

[2022-05-31 09:38] pavel-ship-it commented on #7772
I close the issue as the original problem was solved.

[2022-05-31 09:38] #7772 closed

[2022-05-31 09:41] pavel-ship-it commented on #7775
Hi @ayush-ttn, do you have any updates on the issue? Does info from @ritesh-kanchi helps you?

[2022-05-31 09:44] ayush-ttn commented on #7775
Hey @pavel-ship-it , no the info by @ritesh-kanchi was not the case with my code. I updated to the most recent version(10.25.2) though and it seems to have fix the problem

[2022-05-31 10:44] PavelKandratsyeu opened #7815 "Crash on the first access to the realm database"
### How frequently does the bug occur?

Sometimes

### Description

The app crashes on the first realm initialisation with the configuration passed as the parameter.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

Call the realm initialiser passing a configuration as a parameter for the 1st time. Since the database didn't exist before, no migr

[2022-05-31 11:08] bdkjones commented on #7347
I can try, once I get some free time.

This crash occurred in an app I built for a client and their data scaled to millions of relationships. If I recall correctly, it was necessary to have a sizable number of items in the LinkingObjects relationship before the crash manifests.

[2022-05-31 13:13] runloop commented on #7695
I'm running into this issue when building for the watchOS simulator on an Intel Mac. Building for release and device seems to be fine. Realm 10.20.2 is the last version that will build for me.

[code]

[2022-05-31 14:33] pavel-ship-it commented on #7815
Hi @PavelKandratsyeu, thanks for the info. Could you please give more info on Realm configuration and how you instantiating the Realm?

Can be related to #7741

[2022-05-31 14:37] pavel-ship-it commented on #7775
Thank you @ayush-ttn. I close the issue then.

[2022-05-31 14:45] jurex opened #7816 "Crash on accessing realm on app launch, data corruption and possible recovery?"
### How frequently does the bug occur?

Sometimes

### Description

I'm getting a consistent crash on accessing realm on app launch with exception `Assertion failed: has_refs()` in `array.hpp:754`. The realm file was provided by end-user and seems corrupted. I can open it with the Realm Studio, but only some classes are working.

Is there any way to fix the realm file or somehow recover data from

[2022-05-31 15:11] PavelKandratsyeu opened #7817 "Write transaction isn't ended"
### How frequently does the bug occur?

Sometimes

### Description

While using the method

`func write<Result>(withoutNotifying tokens: [NotificationToken] = [], _ block: (() throws -> Result)) throws -> Result`

it sometimes leaves the realm in active write transaction after execution.

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, sometimes

### Reproduction S

[2022-05-31 20:20] fangmobile commented on #7741
same here with same line and similar stack trace
- 22 of 24 of crashes happens in 1 seconds, 1 in 2 seconds.
- iOS 14 users
- Can't seem to reproduce.

[2022-05-31 20:41] theoks commented on #7814
@pavel-ship-it

Is there a possibility that there is something else except memory? If you take a look at the screenshot I attach, the memory is not increasing, neither is it too much, however I still got the allocation crash.

I also ran a session in the Leaks instrument and there aren't any concerning leaks, except the random small ones coming from some native libraries which you normally get som

[2022-06-01 07:02] sipersso commented on #7435
Just ran into the same issue. For me, this had to do with frozen realms. I trying to use a frozen realm object as a backlink to another. In order to resolve the issue, I had to thaw() the object first so that it was a live instance.

[2022-06-01 17:27] henry2423 opened #7819 "Initialization Failed with Possibly Corrupted Database"
### How frequently does the bug occur?

All the time

### Description

I got the user feedback that the app always crashes when opening. I got the user's DB file (I can't share it because it contains personal information). However, the database seems corrupted when I open it up with `Realm Studio`. When I open the ClientLog Table it becomes a blank screen (pic 2), but other tables can still be ope

[2022-06-02 10:23] pavel-ship-it commented on #7816
Hi @jurex,

I can see it happened during migration.
It can be a schema change. Could you pease share how you make a migration?

What do you mean by "only some classes are working" in Realm Studio? What version you're using?
Can you point me at something is not working there?

[2022-06-02 10:27] pavel-ship-it commented on #7817
Hi @PavelKandratsyeu ,
Could you please share any crash logs?
What is Realm configuration looks like?

[2022-06-02 10:31] pavel-ship-it commented on #7819
Hi @henry2423 ,

Could you please share the realm configuration and how you instantiating the Realm?

Can you tell me how many records ClientLog Table has?

[2022-06-02 10:57] jurex commented on #7816
hey @pavel-ship-it, it's not happening during realm migration. `runRealmMigrations` it's just a function which run after each launch and it will run realm migration only if needed (using standard realm configuration). In the end, there is a standard realm connection like this:

[code]

To replicate the issue, try to open the corrupted `default.realm` file in the latest realm studio, and click on `

[2022-06-02 16:58] #7632 closed

[2022-06-02 17:07] henry2423 commented on #7819
Hi @pavel-ship-it Here is my Realm configuration
[code]

The ClientLogTable has only 117 records.

[2022-06-02 17:25] shimastripe commented on #7703
Is there any way to detect corruption? I am struggling with the error logs coming up without being able to reproduce it.

[2022-06-03 01:52] ssjtin opened #7822 "EXC_BAD_ACCESS Crash on unit test when using List<Object>"
### How frequently does the bug occur?

All the time

### Description

I have two objects, one contains a List<> of the other like this

[code]

[code]

So this works fine in normal debug and prod.  But when trying to do anything in Unit Test, I get a crash at the List property indicated above.  This includes trying to fetch objects of a type, or even creating a new object unrelated to that class.

[2022-06-03 06:17] sipersso commented on #7703
@shimastripe I don't think you won't be able to reproduce this. The transaction causing corrupted data could have happened anywhere. I am seeing fewer issues now than I did in the 10.22.0 update, but I still have customers reaching out every week with realms that are corrupted :/ I don't know if that is because they were using the 10.22.0 update and then waited to reach out or if this is still an

[2022-06-03 17:25] pavel-ship-it commented on #7810
It looks we have a bug here, as StateRealmObject should work with unmanaged object.

Meanwhile, as a workaround, I can recommend to use managed object. If you want to separate a draft object from the saved objects you also can use a separate object type.

[2022-06-03 17:35] pavel-ship-it commented on #7798
@igorvoytovich ,
passing the queue parameter to the Realm like `Realm(configuration: configuration, queue: queue)` has no effect _so far_. As soon as you leaving the main queue, you should configure this parameter. It is not a problem in your case tho, just overall  recommendation.

Regarding the thread confining on the main thread it's actually something new to me. It should work without passing

[2022-06-03 17:35] #7798 closed

[2022-06-03 17:47] igorvoytovich commented on #7798
Hi @pavel-ship-it ,

Thanks for the explanation.

I have one question left - that is, every time we use Realm in a custom DispatchQueue, should we pass this queue to the Realm's initializer? Even if we don't access Realm from different blocks ( `.sync {}, .async {}` ) of this queue?

As far as I understand, this parameter is needed in order to be able to do the following:

[code]

If we don't do t

[2022-06-03 19:52] sterien7 commented on #7814
@pavel-ship-it I am facing the same issue and I found out that this weakRealmNotifier reference is building up, leading to realm file getting bigger and bigger and eventually the app crashes

[2022-06-04 04:05] jvuong opened #7824 "Failed to install Realm with cocoapods"
### How frequently does the bug occur?

All the time

### Description

Realm is failing to install due to an invalid certificate

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Run `pod install` to reproduce the issue.

### Version

10.7.7

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not usi

[2022-06-04 04:25] studiogaram commented on #7824
It is probably an incident caused by the expiration of the SSL certification of the domain that provides pods. It seems that the confirmation of the operator is needed.

![image](https://user-images.githubusercontent.com/3108770/171982630-bdf53eac-806b-410d-a26c-3d4b6f6d0555.png)

[2022-06-04 05:06] jvuong commented on #7824
@studiogaram Yes, I should have been clearer in my report that the installation failure is due to an expired certificate.  I hope this is the right place to open the issue to get this resolved.

[2022-06-04 11:25] zykis commented on #5120
[code]

Could you please update static.realm.io certificate, so tuist/carthage would be able to build my project?

[2022-06-04 11:30] zykis opened #7825 "static.realm.io SSL certificate expired"
### How frequently does the bug occur?

All the time

### Description

Could you please update static.realm.io certificate, so tuist/carthage would be able to build my project?

### Stacktrace & log output

[code]
[code]

[2022-06-04 11:47] nirinchev commented on #7825
Hey zykis, apologies for that. We're having the SRE team look into it.

[2022-06-04 12:03] zykis commented on #7825
Is there any information considering the issue or is there a way to connect the SRE team?

[2022-06-04 12:51] nirinchev commented on #7825
The SRE team is looking at updating the certificate but it'll likely be a couple of hours before they resolve the issue.

[2022-06-04 12:56] zykis commented on #7825
Thank you :)

[2022-06-04 20:13] stephengilroy-grx commented on #7825
Ah looks like we are having this issue as well. Any updates on a fix?

[code]

[2022-06-04 22:03] dimkagithub commented on #7825
Hi!
The same problem.

`[!] /bin/bash -c
set -e
sh scripts/setup-cocoapods.sh

Downloading dependency: 12.1.0 from https://static.realm.io/downloads/core/realm-monorepo-xcframework-v12.1.0.tar.xz
Downloading core failed:
	https://static.realm.io/downloads/core/realm-monorepo-xcframework-v12.1.0.tar.xz
	curl: (35) error:14004410:SSL routines:CONNECT_CR_SRVR_HELLO:sslv3 alert handshake failure

`

[2022-06-04 23:46] jvuong commented on #7824
The certificate expiration seems to be resolved now.

[2022-06-04 23:46] #7824 closed

[2022-06-04 23:54] nirinchev commented on #7825
Hey folks, apologies again for the disruption. It should all be good. I'm closing the issue, but if anyone continues to experience problems downloading the binaries, feel free to comment/reopen.

[2022-06-04 23:54] #7825 closed

[2022-06-04 23:59] dimkagithub commented on #7825
Great! It upgrades now!

[2022-06-05 16:25] LilaQ commented on #7698
Hey @dianaafanador3 Is there any update to this?
Thanks!

[2022-06-06 04:34] sufangliang opened #7826 "在mac os 12.0.1 上 ，使用realm studio Version 11.2.1 选择realm数据库文件 打开，没有反应，也没有任何提示"
### How frequently does the bug occur?

All the time

### Description

能够打开数据库，结果一点反应都没有

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

 11.2.1

### What SDK flavour are you using?

MongoDB Realm (i.e. Sync, auth, functions)

### Are you using encryption?

No, not using encryption

### Platform OS and ve

[2022-06-06 07:22] rromanchuk commented on #7737
Here's an example of an `actor` that that performs backgrounded "utility" tasks using an`async` function.  Also mixed in a GCD for example.   Easy way to remember:  you **cannot** use a previously instantiated realm instance anytime after an `await` is used in the same scope, which actually makes sense.

`await Realm()`  seems nonsensical to me,  basically asking to yield the current run loop, ask

[2022-06-06 18:59] ericjordanmossman commented on #7822
Are you using cocoapods?

Reading the stack trace I get a little lost after initializing the persisted and property storage. But I found some other swift metadata crashes in other libraries that look similar to this (and also only occur in unit testing). This might be related to how your targets are organized in cocoapods.
See [here](https://github.com/ReactiveX/RxSwift/issues/2107) for more.

If

[2022-06-06 21:46] jurex commented on #7816
Ok, understand, thanks for looking into it. I've already updated the app to the latest version so I hope it won't happen again. If so, I'll create another ticket.

[2022-06-07 02:07] hdcola opened #7828 "Xcode 14Beta Build Failed"
### How frequently does the bug occur?

All the time

### Description

When I build project,  RealmSwift/SwiftUI.swift has some error

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

use Xcode 14Beta building

### Version

10.27.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encrypt

[2022-06-07 02:22] tgoyne commented on #7828
This is listed as a known issue in the Xcode 14 release notes.

[2022-06-07 03:33] aheze commented on #7828
Quoting from the [release notes](https://developer.apple.com/documentation/xcode-release-notes/xcode-14-release-notes):

[2022-06-07 03:49] aheze commented on #7828
All the errors seem to come from `RealmSwift/SwiftUI.swift`... so in my fork I deleted the file and it works.
Until this gets fixed, feel free to use my fork. Package URL:

[code]
![Screen Shot 2022-06-06 at 8 48 23 PM](https://user-images.githubusercontent.com/49819455/172291847-09d2b9ff-f56a-440b-812b-69daeae51a88.png)

*Build Succeeded!*

[2022-06-07 06:46] gongzhang commented on #7828
The workaround above works, but still fail to build when targeting to _watchOS_.

<img width="544" alt="image" src="https://user-images.githubusercontent.com/4470629/172313832-58edcee6-d3da-47f5-8c66-23cae92e17ca.png">

 I found now there are three architectures for Apple Watch. It might be related to this.

<img width="544" alt="image" src="https://user-images.githubusercontent.com/4470629/172313

[2022-06-07 06:49] #7816 closed

[2022-06-07 10:09] cemonet commented on #7828
Pour les podfile:
[code]

[2022-06-07 17:19] reveelapp opened #7830 "Allow for Collection Grouping in 'Flexible Sync' - by not requiring all 'queryable fields' in each collection"
### Problem

Currently each provided ‘`queryable field`’ must be in each and every class in 'Flexible Sync'. This forces a developer to create generic names to fit the 10 max limit (e.g., in larger products or complex ones). With that, this causes extra fields not needed in each class that are there for 'Flexible Sync'. Further, these properties will end up handling values differently for data bas

[2022-06-07 19:14] dianaafanador3 commented on #7830
@reveelapp Flexible Sync doesn't force you to have every queryable fields within all the Object classes of your schema, you only need to list all the queryable field you are using in your `QuerySubscription` queries.
For example if you add the following subscriptions to your realm, you would need to add the firstName and age to your queryable fields.
[code]
The limitation for the number of queryab

[2022-06-07 20:06] reveelapp commented on #7830
@dianaafanador3 - I forgot to mention after trying to add the new backend collections. If I updated the Sync Permission JSON,  I would also get this preventative-error message in the Sync page too, as follows:
"_default roles can't be used for table "ActiveUsers": invalid permissions for 'read': invalid match expression: key "userID" is not a queryable field_"

The error message provides the first

[2022-06-07 21:27] developerfromjokela commented on #7828
I just forked and added swiftsettings:
https://github.com/developerfromjokela/realm-swift

Just add this repo as dependency instead of realm's repo

[2022-06-08 03:31] anton-plebanovich opened #7831 "RLMProgressNotificationToken released without unregistering a notification. You must hold on to the RLMProgressNotificationToken and call -[RLMProgressNotificationToken invalidate] when you no longer wish to receive progress update notifications."
### Description

The error is falsely produced when a session is released before `invalidate` for a token is called causing an inability to reset the `_token` value and so producing a misleading error message. On the screenshot is the proposed solution but I don't know the Realm source base good enough so it's up to you.
<img width="714" alt="image" src="https://user-images.githubusercontent.com/1

[2022-06-08 10:59] PavelKandratsyeu opened #7832 "Column name must be unique crash"
### How frequently does the bug occur?

Sometimes

### Description

The crash happens on the Realm initialisation. Works fine for most users, so it's unlikely something in the realm configuration.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.27.0

### What SDK flavour are you using?

Local Database only

### A

[2022-06-08 10:59] PavelKandratsyeu opened #7847 "Column name must be unique crash"

[2022-06-08 11:05] PavelKandratsyeu commented on #7817
Sorry, but this crash can't be found in xcode, and in crashlytics the realm part of stack trace isn't symbolicated. So I can't provide a useful stack trace for now. In logs we have `mmap() failed: Cannot allocate memory size: 25165824 offset: 67108864` right before the issue occurs, so this might be the reason. The realm configuration looks like

[code]

[2022-06-08 15:08] reveelapp commented on #7830
@ianpward

Are you basically saying that in the Sync Permission's JSON, there MUST be a permission 'role' that affects each Collection when the "default" role will NOT cover them all?  Then within that collection's 'role' you do not have to use any '`queryable field'`,  rather that it needs to be covered as a 'role'? -I thought I tested that too, but will do it again .. If that works, that make mo

[2022-06-08 16:29] reveelapp commented on #7830
@ianpward & @dianaafanador3

OK - retested by applying roles on the collections that did not have all 'queryable fields'. This way when the '`defaultRoles`' cannot cover all collections (due to missing a '`queryable field`'), it is now handled by covering those through collection-based 'roles' (via '`rules`' for those collections). There is now no error.

I'd like to recommend to update the [docum

[2022-06-08 21:03] #7830 closed

[2022-06-08 21:08] reveelapp opened #7833 "Not Able to Observe a 'SyncSubcriptionState'"
### How frequently does the bug occur?

All the time

### Description

Unless I missed something in docs, I cannot see a way in Swift to observe changes in the '`SyncSubcriptionState`'.

The docs say it is possible to "watch" (which seems proper) on [this page](https://www.mongodb.com/docs/realm/sdk/swift/examples/flexible-sync/#syncsubscriptionstate-enum).

My setup is with storyboards (not Swift

[2022-06-09 00:42] fangmobile commented on #7741
We found we changed RealmSwift version from 10.22.0 to 10.25.1, right after this change and release, this crash started.
before this change there was 0 crash related to this.
Hope this info might be helpful?

[2022-06-09 13:18] dianaafanador3 commented on #7833
Hi @reveelapp at the moment you cannot observe the subscriptions status at the moment, but you can check at any moment for the current status of the it. What you can do is use our async update methods to wait for a subscription set to complete and data to be bootstrapped.
[code]
or
[code]

[2022-06-09 17:13] dianaafanador3 commented on #7833
After the subscription set completes there should not be any errors associated to the subscription, any sync error will show in the errorHandler from the sync manager
[code]

[2022-06-09 23:35] reveelapp commented on #7833
@dianaafanador3

I do have an exhaustive '`.errorHandler`' built. Though since I cannot force such an issue (e.g., '`.error`') then I cannot test/see how to handle it. Can you provide some guidance how the subscription changes will present themselves via '`.errorHandler`'?

Thanks!

[2022-06-10 00:59] 6eyu commented on #7655
same here, when the app becomes complex,  and TextField is trying to edit a property of `@ObservedRealmObject` fast, it will throw the error of `Binding<String> action tried to update multiple times per frame.` and crash the app.

[2022-06-10 09:29] Uki19 opened #7834 "Add publisher/observer by primary key even if object doesn't exist in Realm yet"
### Problem

Common pattern I'm facing is setting up observer for single object then fetching and saving it from API. There are few difficulties I have when I use `valuePublisher(object)` / `object.observe { }`:
1. changes to relationship properties wont trigger observation block, it's mentioned in [this comment](https://github.com/realm/realm-swift/issues/5878#issuecomment-414421577) but afaik th

[2022-06-10 10:58] KateSmk commented on #7817
Maybe this information will be useful

2022-06-10 13:32:53.932022+0300 MyNetDiary[3076:931480] *** Terminating app due to uncaught exception 'RLMException', reason: 'mmap() failed: Cannot allocate memory size: 19922944 offset: 67108864'
*** First throw call stack:
(0x1803e804c 0x198a5cf54 0x109d64a1c 0x108d75d30 0x10136f9ec 0x1011bece0 0x101036184 0x100c42b38 0x10924c6d4 0x10924e3b4 0x109256540 0x

[2022-06-10 12:54] sipersso opened #7835 "Crashes when using writeAsync"
### How frequently does the bug occur?

Sometimes

### Description

Since starting to use the new writeAsync feature I am getting crashes when writing to realm. I have not been able to reproduce it, but do get crashes in crashlytics. Attaching stacktrace here. Firebase tells me that the crashes are repetitive and occur more than once for each user.

### Stacktrace & log output

[code]

### Can you

[2022-06-10 16:27] #7828 closed

[2022-06-12 09:05] bdkjones opened #7836 "SwiftUI + Realm Sync Crashes Due to Incorrect Migration Assertion"
### How frequently does the bug occur?

All the time

### Description

I use Realm Sync. Currently in developer mode and partition-based. I added a new property to one of my model objects:

[code]

The vast majority of my app is built using AppKit. I load the Realm normally and everything works perfectly. However, one window in my app uses SwiftUI. I pass the already-opened Realm into SwiftUI as a

[2022-06-12 09:06] bdkjones commented on #7836
Again, the REST of the app works 100% fine. It's **only** the SwiftUI-driven part that is crashing with this exception.

[2022-06-12 23:19] bdkjones commented on #7836
I've tried opening the realm separately using `@asyncOpen` (rather than passing in the realm I've already opened on `ModelController`) and I get the exact same crash:

What am I missing?

<img width="1203" alt="Screen Shot 2022-06-12 at 16 18 11" src="https://user-images.githubusercontent.com/926566/173257684-9bd28de1-4703-4df9-b1ce-fe1fafd96eb0.png">

[2022-06-12 23:26] bdkjones commented on #7836
I *do* see this block in the documentation, but it's unclear if it applies to synced Realms:

https://www.mongodb.com/docs/realm/sdk/swift/examples/swiftui-guide/#swiftui-realm-migrations

I was under the impression that migrations were **not** required for synced Realms and, indeed, opening the synced realm in my AppKit controllers works 100% fine with no schema version specified in the configura

[2022-06-12 23:34] bdkjones commented on #7836
Adding a `schemaVersion` to my config had no effect. Same crash.

[code]

[2022-06-13 05:03] bdkjones commented on #7836
Okay, so if I store the **configuration** that I use to open my synced realm in `modelController` (the AppKit-based controller), ensure there's a `schemaVersion` in that configuration, then pass that configuration into SwiftUI via environment variable and use `@AsyncOpen()`, the realm will now open correctly in SwiftUI.

However, that's super annoying for two reasons:

1. There's now an ugly delay

[2022-06-13 11:43] PavelKandratsyeu commented on #7815
The issue isn't reproduced with the legacy build system.

[2022-06-13 18:58] ericjordanmossman commented on #7834
I don't know if this^ addresses the "even if object doesn't exist in realm" part though.

[2022-06-13 20:45] anton-plebanovich commented on #7831
Well, I did what the warning says, I hold the token and then called `invalidate` when I no longer need it but still received the warning on the `dealloc` so I assumed it is missleading because I spent some time to investigate my logic while it was working fine.

This is happening on the `App` switch during ongoing load and overall is minor since there are no other issues.

[2022-06-14 05:14] amirthytejeshwar-sc commented on #7313
Hey @leemaguire
Thank you so much for all your contributions.
I'm just trying to use the library evolution on my local setup.
So I'm downloading the xcframework from the assets here [v10.28.0](https://github.com/realm/realm-swift/releases/tag/v10.28.0), but getting the same error
`Module compiled with Swift x.x.x cannot be imported by Swift x.x.x`
Am I missing something. Can you point me in right

[2022-06-14 06:12] bdkjones opened #7838 "MutableSet Should Have Swift-Like Initializers"
### Problem

`MutableSet` has set operations such as `subtract`, `formUnion`, etc. Often, I have a `Set` of objects that I want to subtract from a `MutableSet`, but to do that I have to convert the `Set` to a `MutableSet`.

That process is currently painful:

[code]

This would also be very useful, but doesn't work:

[code]

Since `MutableSet` does not adopt standard collection initializers, worki

[2022-06-14 08:53] Uki19 commented on #7834
Yeah filtering by keypath triggers nested properties changes, but then if we wanted to trigger notification on each property and nested property change, we'd have huge array of keypaths we want to observe. I think it would be useful if there's an `observe` call on Object which works similarly to Results, as mentioned in linked comment:
[code]

Yup, it doesn't. That part is kinda unrelated to neste

[2022-06-14 09:56] sync-by-unito[bot] opened #7839 "Flexible Sync V2 API (1)"
Flexible Sync V1, Add a API for flexible sync returning a query results which represents the data from the query subscription.
Add a property wrappers which makes it easier to interact with this query results on SwiftUI.

[2022-06-14 10:09] Truba opened #7840 "Trying to copy seed when the database exists"
### How frequently does the bug occur?

All the time

### Description

When the database exists and we are also providing the `seedFilePath` the app crashes trying to write seed over the main database file.

This was working fine in the `2.25.2` but is failing after the upgrade to `2.28.1`
It seems that [this](https://github.com/realm/realm-swift/commit/c4b36c55ebf5e7f37746f80de50b9b4389d7e548#dif

[2022-06-14 14:30] dacharyc commented on #7836
Hey @bdkjones - I can't speak to the implementation, but I work on the docs for the Swift SDK, and I've made a ticket to update them based on your feedback here. Sorry they led you astray! I appreciate you taking the time to share your experience here - hopefully the subsequent docs updates can help other developers who might stumble across this same issue.

[2022-06-14 15:10] #7791 closed

[2022-06-14 15:40] sync-by-unito[bot] opened #7842 "XCode 14 support"
Things to do:

- [x] Get Realm Swift building with Xcode 14 (https://github.com/realm/realm-swift/pull/7829)
- [x] Get Core working with Xcode 14 (https://github.com/realm/realm-core/pull/5577)
- [x] Install Xcode 14 on CI
- [ ] Install Xcode 14 support for tvOS/watchOS on CI

[2022-06-14 20:05] tylerjdoyle opened #7844 "try await Realm() creates invalid Realm instances when targeting Swift 5.7 (Xcode14)"
### How frequently does the bug occur?
All the time

### Description
Realm forces an `await` when creating a `Realm` instance in an async code block. Using that realm instance causes an error when verifying. Seem to work fine when built from Xcode 13 (Swift 5.6)

### Stacktrace & log output
[code]

### Can you reproduce the bug?
Yes, always

### Reproduction Steps
1. Create a sample project and in

[2022-06-14 20:12] tgoyne commented on #7844
Duplicate of #7737.

The current implementation of async init is only usable in `@MainActor` functions. You also almost certainly don't actually want the async initializer anyway, but Swift ended up making it awkward to call the non-async one from an async function.

[2022-06-14 20:12] #7844 closed

[2022-06-14 21:37] tgoyne commented on #7743
I've successfully reproduced a significant performance regression in multithreaded read-only usage and I'm now looking into the cause.

[2022-06-15 00:06] duncangroenewald commented on #7743
@tgoyne - thanks, let me know if there is anything I can do to help.

[2022-06-15 01:29] sheinin opened #7845 "Kotlin Realm 1.0.0 intermittent crash"
### How frequently does the bug occur?

Sometimes

### Description

Android App crashed intermittently after upgrade to 1.0.0

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

Crashes any time while the app is open

### Version

1.0.0

### What SDK flavour are you using?

MongoDB Realm (i.e. Sync, auth, functions)

### Are you using encry

[2022-06-15 03:26] Oscarworld opened #7846 "Crash on iOS. Assertion failed: prev->next == this"
### How frequently does the bug occur?

All the time

### Description

Reproducible in 100% of cases in a specific case

Crash on 73 line RLMObservation.mm:
REALM_ASSERT_DEBUG(prev->next == this);

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

I have an Activity object. It has a linked User field.
Crash always replays in the next case:

A

[2022-06-15 12:01] rubencalde opened #7848 "Xcode 14 beta fails when build a Realm v10.28.1 watchOS Target"
### How frequently does the bug occur?

All the time

### Description

Hello,

When trying to build the Realm binary of a **watchOS target**, the _build.sh_ script of the 10.28.1 version, returns the error described below:
`ld: symbol(s) not found for architecture arm64`

Is this error related to the Issue:

which is one of the Known Issues on [Xcode 14 beta Release Notes](https://developer.apple.

[2022-06-15 17:58] #7801 closed

[2022-06-15 20:20] ericjordanmossman commented on #7846
@Oscarworld
Could you share what the Activity and User classes are? Or better yet, could you post a .zip that shows this crash reliably?

[2022-06-15 20:50] tgoyne commented on #7743
It turns out I accidentally actually just compared the performance of `@Persisted` to old-style property declarations in one of the scenarios where `@Persisted` is slower, and after controlling for that I'm not seeing a difference.

The thing I'm testing is variations on the following, which is attempting to simulate a read-heavy workflow on many threads at once (using 14 threads as I'm testing on

[2022-06-16 01:27] duncangroenewald commented on #7743
@tgoyne - OK, thanks let me see see if I can find out where the threads are being blocked.

[2022-06-16 02:28] 6eyu opened #7850 "Modify ObservedRealmObject getting error"
### How frequently does the bug occur?

All the time

### Description

When fast typing Textfield to modify the value of the property of the ObservedRealmObject, logs shows `Binding<String> action tried to update multiple times per frame.`

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

[code]

### Version

12.1.0

### What SDK flav

[2022-06-16 03:04] duncangroenewald commented on #7743
@tgoyne - not sure I really understand Instruments but it seems to be blocking on the call to SyncManager.get_current_user().

HOWEVER - we have a deep hierarchy and the report traverses the entire hierarchy and what was happening was that right near the deepest part of the hierarchy we were trying to open a new Realm to access an object using it's ID instead of just reusing the parent objects rea

[2022-06-16 05:34] duncangroenewald commented on #7743
@tgoyne - it seems the same issue on the other background threads where we are opening another realm inside the query from the same thread which seems to cause blocking.  These UI updates take around 3 seconds normally and are taking 10 seconds or more.  We just have a static function that gets called from anywhere to fetch a reference record from Realm and we don't pass in a realm we just open on

[2022-06-16 11:58] duncangroenewald commented on #7743
Not sure if this will be of any use but the basic code to test would be this

[code]

[2022-06-16 16:00] ericjordanmossman commented on #7819
Once a realm enters a corrupted state it's not possible to prune the corrupted portion. We can try to identify the cause of the corruption and prevent it from happening.

There were some known corruption bugs fixed in 10.25.1. I'm curious when this file was created and when it became corrupted. If the file was created before 10.25.1 and entered a bad state, upgrading past 10.25.1 would not "un-cor

[2022-06-16 16:16] ericjordanmossman commented on #7833
Hmm, yeah looking at the error types in RLMSyncUtil.h:60 there isn't an error code for what you're mentioning. I don't know what it would look like and what information it'd convey exactly, or if it'd even go there. But I think what you're asking for sounds reasonable. I'll leave this ticket open as a possible enhancement.

[2022-06-16 16:40] ericjordanmossman commented on #7817
There is a specific `isInWriteTransaction` error that would throw a detailed error message. So it's curious you're getting an `mmap() failed`. This looks partly similar to #7814 , except they're using asyncWrite. Some kind of realm file version must be pinned somehow, somewhere.
Not sure exactly sure how or where yet.

[2022-06-16 16:44] ericjordanmossman commented on #7817
3 in the stack trace looks like this, by the way -- Realm.swift:260. So the write transaction would have been left open previously(?)

[2022-06-16 19:07] ericjordanmossman commented on #7831
What is the "`App` switch"? How are you storing the token?
It sounds like you're able to reproduce reliably -- could you share a .zip so the team can check it out?

That'd be super helpful.

[2022-06-16 20:31] anton-plebanovich commented on #7831
Please check the reproduction example here https://github.com/anton-plebanovich/SingleView/tree/realm/notification-token-bug

[2022-06-16 22:28] #7840 closed

[2022-06-17 05:30] reveelapp commented on #7833
@ericjordanmossman - thank you - much appreciated!

Also, I have tracking [error codes from docs](https://github.com/realm/realm-core/blob/master/doc/protocol.md#error-codes) and those that pop up (varied or new from docs). I was able to force a new one for FS (via testing-app to force errors), which is error code '`230`' - it reads `"Client attempted a write that is outside of permissions or quer

[2022-06-17 11:01] sync-by-unito[bot] opened #7852 "Crash on iOS. Assertion failed: prev->next == this"
#### SDK and version
SDK : Cocoa (iOS)
Version: 10.25.2

#### Observations
* How frequent do the crash occur? - Reproducible in 100% of cases in a specific case
* Does it happen in production or during dev/test? - Prod and dev
* Can the crash be reproduced by you? - Yes

#### Crash log / stacktrace
0	0x000000011b4a200e in __pthread_kill ()
1	0x000000011b3b61ff in pthread_kill ()
2	0x000000011b2226

[2022-06-17 12:00] dianaafanador3 commented on #7833
Hi @reveelapp this happens when you write to a realm an object that it is out of view (meaning that it is not included as a query in subscriptions set). There is also a project which will include an specific and more detailed error for this.

[2022-06-17 14:55] reveelapp commented on #7833
@dianaafanador3 - yep - I know - thanks tho. I was able to force that one out through a race condition. I have built some apps to simply test errors (by force creating various errors), all for protecting production app usage.

[2022-06-17 16:48] tgoyne commented on #7743
Thanks, I think I see what the actual problem is now. The Swift sync config type only stores the partition key but not the file path derived from the partition, and we compute the file path each time a Realm instance is obtained. This isn't a particularly expensive operation, but it ends up being the bulk of the runtime of `Realm(configuration: config)` because after computing the path we just do

[2022-06-17 23:05] duncangroenewald commented on #7743
Thanks for the explanation - it is probably worth understanding why it has become slower.  I am happy to do more testing with the two versions of the SDK if you have any suggestions on specific things to test/measure and the best way to do that.

[2022-06-20 03:14] m-sugawara opened #7853 "Repeated crashes with a small number of users"
### How frequently does the bug occur?

Sometimes

### Description

We noticed some crash happened in our app from Firebase Crashlytics.
This crash has occurred repeatedly by a small number of users only.
We can’t reproduce this in both of development and production app.
Does anyone have any idea from the stack trace?

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

#

[2022-06-20 17:20] theoks commented on #7814
@pavel-ship-it @tgoyne @ericjordanmossman

We managed to limit the issue a lot. It was unrelated to `writeAsync` (@ericjordanmossman you mentioned our issue in #7817, but it wasn't the `writeAsync` after all). The main problem was that we were creating a Combine collectionPublisher and then we were adding a `subscribe(on:)` publisher to kick it off on a background thread. This ultimately led to an

[2022-06-21 12:35] duncangroenewald opened #7855 "Filter using object property called 'size' results in exception"
### How frequently does the bug occur?

All the time

### Description

Using Filter() with a property name of 'size' causes a crash.

See ViewController below for full example (tested with RealmSwift v10.27.0)

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

[code]

### Version

RealmSwift v 10.27.0

### What SDK flavour are you usi

[2022-06-21 12:36] duncangroenewald commented on #7855
Formatted test code

/```
/
//  ViewController.swift
//  RealmTest
//
//  Created by Duncan Groenewald on 21/6/2022.
//

import Cocoa
import RealmSwift

class ViewController: NSViewController {

    override func viewDidLoad() {
        super.viewDidLoad()

        // Do any additional setup after loading the view.

        test()
    }

    override var representedObject: Any? {
        didSet {

[2022-06-21 12:37] duncangroenewald commented on #7855
Hmm - any tips for ensuring correctly formatted source code ??

[2022-06-21 22:00] KamalElShazly opened #7856 "Cycles containing embedded objects support"
### Problem

I'm trying to make something that looks like the following:

class Parent: Object {
    @Persisted var children: List<Child>
}

class Child: EmbeddedObject {
    @Persisted var children: List<Child>
}

I get the following error:
`
Schema validation failed due to the following errors: Cycles containing embedded objects are not currently supported: 'Child.children'
`

I'm using Embedded

[2022-06-22 06:49] bartjacobs commented on #7741
Like @fangmobile and @fermoyadrop, we are seeing this crash **only on launch** and **only on iOS 14**. We haven't been able to reproduce the issue.

[2022-06-22 17:38] reveelapp opened #7858 "Potential Bug: Nested '`Object`' and '`List<Object>`' won't download to client (if 'false' on SyncPermission)"
### How frequently does the bug occur?

All the time

### Description

I’d like to confirm what I am seeing in my testing… that a related ‘`Object`’ or ‘`List<Object>`’ will be prevented to download to a client-app... for a ‘Flexible Sync’ query if it has nested relationships that do not meet the conditions in Sync Permission’s (JSON) rules (set on cloud-side).

Therefore, we must ensure that all

[2022-06-22 20:10] #7743 closed

[2022-06-23 00:01] bdkjones commented on #1109
@dianaafanador3 Thanks for updating the workaround example. I DO understand that this is a large feature, but 8 years is a very long time and I don't think *realm* realizes just how long issues like this have been open.

Plus, polymorphism isn't some newfangled, fringe idea. It has existed for the better part of a century precisely because it's incredibly useful. And sure, the magic vomit in the e

[2022-06-23 08:02] kachalo opened #7859 "Results are not updated when underlying subscription changes in Flexible Sync."
### How frequently does the bug occur?

All the time

### Description

I have the following setup:
[code]

When I try to modify the subscription that have introduce or remove new objects from realm, the `Results` doesn't reflect that. However, when I open realm file in a Realm studio, it contains all objects as expected.

[code]

It is important to highlight that objects for `id1` and `id2` are av

[2022-06-23 08:23] #7794 closed

[2022-06-23 08:40] shadow-boy opened #7860 "subscript.get + 126 (PersistedProperty.swift:126)"
### How frequently does the bug occur?

Sometimes

### Description

as the context:
libobjc.A.dylib                0x16734 objc_exception_throw
2  Realm                          0x92c0 getBoxed<realm::StringData> + 42 (RLMObject_Private.hpp:42)
3  RealmSwift                     0xfe20 _rlmGetPropertyOptional + 222 (BasicTypes.swift:222)
4  RealmSwift                     0x2cee4 _rlmGetProperty + 2

[2022-06-23 08:41] shadow-boy commented on #7860
help please

[2022-06-23 11:11] rubencalde commented on #7848
Hi,

I'm getting the same error on Xcode 14 beta 2.
Is there any plan to fix this?

Regards

Rubén

**Build environment**
Xcode version: 14 beta 2
Dependency manager and version: Cocoapods 1.10.2
macOS version: Monterey - 12.4

[2022-06-23 11:47] Pratik-Sodha commented on #6227
Can we apply any preventing fix?

[2022-06-23 15:16] reveelapp commented on #7858
Hi @kachalo,

The subscriptions are there for this test. This is about the Sync Permissions (JSON) that are set on the cloud-side. Currently, they also seem the need to be satisfied. Which can complicate things, but not impossible. Personally, if the top-level is OK to allow syncing, then we (developers) can handle the rest on the client-side via subscriptions... that would be a better policy.

..

[2022-06-23 16:15] ericjordanmossman commented on #7856
This can be done by
[code]
Since `Child` is an embedded object type they can't exist independently. If the parent is deleted then the child would be also.

The error refers to this part:
[code]
Where the embedded object class embeds its own type, which isn't supported.

[2022-06-23 19:21] ericjordanmossman commented on #7860
Could you share the code snippet where you subscript, or share a reproduction .zip?
If the object your trying to access got deleted, or you're accessing it from a different thread, that might cause the exception.

[2022-06-23 19:31] aheze opened #7861 "Static framework compiled for Swift 5.7"
### Problem

After downloading `realm-swift-10.28.1.zip` from the [releases](https://github.com/realm/realm-swift/releases) tab and dragging it into Xcode, I get this error:

<img width="925" alt="Screenshot of the error" src="https://user-images.githubusercontent.com/49819455/175381801-03d723bd-89cc-446d-b514-7e322136071e.png">

I'm using Xcode 14.0 beta (14A5228q). Would it be possible to have a

[2022-06-23 20:32] ericjordanmossman commented on #7858
The behavior that @kachalo quoted is intended behavior. The client device would need permission for the linked objects.

If you want a top-level parent object to confer permission on children objects, then you could use embedded objects. Embedded objects don't have permissions independent of their parent. This might be what you're looking for.

[2022-06-24 02:10] reveelapp commented on #7858
Expected behavior was that Server's Sync Permissions would pull all related/nested objects (if top-level satisfied), _unless_ specific (Collection-based) rules are declared in Server's Sync Permission that affect the nested-object's. Thereby _then_ making those unsatisfactory to sync.

[2022-06-24 05:23] pingtumiinc commented on #6301
Encountered the same error with Xcode 13.4. Solved it by updating to Realm 10.28 then in my extension's General tab, I added Realm and RealmSwift in the Frameworks and Libraries section. Afterwards, I went to the Product menu in Xcode and selected Clean Build Folder then ran the application.

[2022-06-25 06:21] kachalo commented on #7858
I understand and share your concern, @reveelapp. We've got two independent mechanisms to filter data for a specific client: the subscription predicates and Sync Permissions JSON. It is a possibility they may go out of sync or be inconsistent. And it is an excellent question to be answered: whether it is intended behavior or a potential source of bugs?

[2022-06-25 06:32] kachalo commented on #7858
I have an addition, though. It is tempting to stick just for Sync Permissions JSON and set up the realm subscriptions to query all objects of a given entity. If business logic allows, we can avoid having to manage two sets of filtering rules.
However, I didn't find any mentions or recommendations that it is an acceptable way to go. Maybe @ericjordanmossman can clarify?

[2022-06-26 10:42] andresitsu commented on #4818
My app still facing this problem...it's been several years, will it be fixed?

[2022-06-26 12:09] KamalElShazly commented on #7856
@ericjordanmossman but I need each child to have a list of children, that's why am asking to support cycles in Embedded Object.

My real life scenario is that i have a Form, that form have children.
Chlidren type might be a question or a section.
Each section have children (might be sections or questions also) and so on.
Thats why i have a multi level of children.

[2022-06-26 15:26] reveelapp commented on #7858
Hey @kachalo - thanks for commenting. I can share some of my own thoughts regarding all this. These are simply my assumptions... I feel the Realm Team will evolve all this and will give us more flexibility with subscriptions and queries over time. Currently, they want us to do the heavy-conditioning on the client-side - since that is where we can provide more code to do it, versus the cloud-side's

[2022-06-27 06:15] dianaafanador3 commented on #7847
Hi @PavelKandratsyeu can you please paste the complete stacktrace for this crash?, Also could be pretty helpful to have the complete schema for this realm and the Realm configuration as well, so we're able to reproduce this issue.

[2022-06-27 14:51] reveelapp commented on #7859
@kachalo,

I encountered something similar...

Have you tried checking the '`SyncSubscriptionState`' after awaiting '`_refreshSubscriptions()`' completion at call-site? - maybe test that, by returning the '`SyncSubscriptionState`' from your '`_refreshSubscriptions()`' (or check at call-site). IDK if this is the same issue I noticed, because I ended up managing states on every write/update since I

[2022-06-28 07:57] Oscarworld commented on #7846
Hi @ericjordanmossman.
Sorry for the long answer.
Tried to reproduce the problem in an empty project - but the problem is not reproduced.

But I found a problem in my project and fixed it.
The crash was due to a subscription to the field of the Realm object via RxSwift.

[2022-06-28 10:49] michalrentka commented on #7788
@finnschiermer we didn't release this into the wild yet, but I didn't see any similar crashes in beta testing, so this is most likely solved by those changes. I think we can close this issue.

[2022-06-28 10:49] #7788 closed

[2022-06-28 11:41] dianaafanador3 commented on #7861
Hi @aheze because Xcode 14 is still in beta, we are not using it to build our static framework release. But you can do this by yourself.
Make sure you have selected your Xcode beta as your default first using
`sudo xcode-select -s <Path_xcode_beta>`
You can print your current default Xcode with
`xcode-select --print-path`

After this you can generate your own `xcframework`, running the following c

[2022-06-28 14:44] xilin commented on #7649
Hi @leemaguire , do you have any best practice suggestion for now if we may have extension and main app access realm file at the same time?

[2022-06-28 14:50] dianaafanador3 commented on #7859
Hi @kachalo are you sure this is not working. I tested the following in v10.28.1, and it is working correctly
[code]
Are you sure the subscription is been updated?, Also you do have to await for the update be complete before trying to read the realm again? Also, can you check if the realm is the same as the one you are getting the results?

[2022-06-28 15:40] xilin opened #7863 "Crash when `commitWriteTransactionWithoutNotifying` with reason `0xDEAD10CC`"
### How frequently does the bug occur?

Sometimes

### Description

We saw quite a lot crash reports recently after a new release, typically happened when app is moved to background. We do have several app extensions like widget.

### Stacktrace & log output

[code]
[code]

[2022-06-28 15:45] aheze commented on #7861
Thanks! It worked.

[2022-06-28 15:47] #7861 closed

[2022-06-29 01:48] shadow-boy commented on #7860
![image](https://user-images.githubusercontent.com/15226194/176333552-2587d121-962d-4af0-b7e2-bee3ab20646e.png)
![image](https://user-images.githubusercontent.com/15226194/176333603-dfaadd6c-7c59-4053-8b9a-43c77e992a08.png)

[2022-06-29 01:50] shadow-boy commented on #7860
which thread should I access the object?

[2022-06-29 06:22] E2-karthickperumal opened #7865 "Invalid ref translation entry"
### How frequently does the bug occur?

Sometimes

### Description

We face crash while try to delete realm objects in tvOS.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

##Reproduction Steps:-
1. Launch the App
2. Remove power source
3. Relaunch the App

### Version

RealmSwift 10.28.1

### What SDK flavour are you using?

Local Data

[2022-06-29 06:23] shadow-boy commented on #7860
Sorry for can't provide a reproducible code snippet or zip, not all devices crashed, and I haven't reproduced the crash in my development

[2022-06-29 06:24] E2-karthickperumal opened #7866 "Realm data access throws EXC_BAD_ACCESS"
### How frequently does the bug occur?

Sometimes

### Description

We face EXC_BAD_ACCESS exception while try to access the Realm data in tvOS.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

RealmSwift 10.28.1

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using e

[2022-06-29 11:42] dianaafanador3 commented on #7846
Hi @Oscarworld, closing this issue, as it looks like you've been able to solve this. If you have any more questions regarding this you can reopen the issue.

[2022-06-29 11:47] dianaafanador3 commented on #7866
Hi @E2-karthickperumal Is this related to this issue https://github.com/realm/realm-swift/issues/7865? Or this are two separate issues? Please attach a readable stack trace so we can diagnose the issue

[2022-06-29 13:58] dianaafanador3 commented on #7856
Hi @KamalElShazly unfortunately there are some limitation server side which restricts the use of nested embedded objects, so this may not be possible in the near future.
As you may already know, the best solution is to use Object instead of `EmbeddedObject`s and use cascading delete for any `Parent` delete.

[2022-06-29 17:56] horatiu1921 opened #7868 "The result of dividing two Decimal128 stored on Atlas backend is wrong."
### How frequently does the bug occur?

All the time

### Description

I am having a strange issue when dividing two Decimal128 values. The result on device and printed on console is ok but the value synced to Atlas backend is wrong. I believe it is related to the significant digits.

I have this two values:

[code]
The value stored on server is: ```12.29721490089025582478677982706510```.

On the

[2022-06-29 17:56] dianaafanador3 commented on #7860
Hi @shadow-boy It seems this is happening while you are trying to read a property value using subscripts, are you using any subscripts for example `object["password"]`?.
There is no specific thread you have to do this read, but you do  have to do it in the same thread as the realm thread. Check if you are doing any reading in a different thread from the one you created your realm?.
Please attach a

[2022-06-30 02:31] shadow-boy commented on #7860
I don't read a property value using subscripts,but i think it's different thread as realm thread,but how can i do to keep same thread between realm thread and read thread.

I don't read a property value using subscripts,but i think it's different thread as realm thread,but how can i do to keep same thread between realm thread and read thread.

[2022-06-30 09:25] xilin commented on #7863
Not yet, just saw this from crash reports. I'll try to see if I can make one.

[2022-06-30 10:21] dianaafanador3 commented on #7860
Hello @shadow-boy one good way to guarantee that you read the data from the same thread is that you don't pass realm or objects within scopes. Are you pushing any operation to another thread?, in that case create a realm for that specific thread.
it could be interesting to see how are you initialising your realm?
Follow this documentation https://www.mongodb.com/docs/realm/sdk/swift/advanced-guide

[2022-06-30 12:03] dianaafanador3 commented on #7868
Hi @horatiu1921 I do have a reproductions case for this
[code]
Data seems to be stored correctly on the database, but data sent to the server doesn't coincide with the one from the realm.
Then when we retrieve the data from the server the value is already incorrect.
Seems like an issue while we create the replication set for the server and this is done in core, @danieltabacaru can you help us crea

[2022-06-30 12:12] danieltabacaru commented on #7868
@dianaafanador3 I will create a core test for it and have a look to see if there is something wrong in the sync client.

[2022-06-30 12:36] rubencalde commented on #7848
More info:

In addition to the problems described above, although it's possible to correctly build the watchOS target on Xcode 14, when validating a podspec of a project that has a dependency on RealmSwift, the following error is returned:

` error: Cannot code sign because the target does not have an Info.plist file and one is not being generated automatically. Apply an Info.plist file to the tar

[2022-06-30 15:42] tgoyne commented on #7848
https://github.com/realm/realm-core/pull/5577 adds a arm64 slice for watchOS to the prebuilt library. The workaround for using the current release is to remove the arm64 architecture from the supported architectures for your app.

[2022-06-30 16:22] rubencalde commented on #7848
After getting the same error mentioned above, with RealmSwift 10.28.1:
`error: Cannot code sign because the target does not have an Info.plist file and one is not being generated automatically. Apply an Info.plist file to the target using the INFOPLIST_FILE build setting or generate one automatically by setting the GENERATE_INFOPLIST_FILE build setting to YES (recommended). (in target 'App' from p

[2022-07-01 04:34] julianD77 commented on #7275
@haozhutw Did you find that this helped to reduce or prevent this crash for your users in production?

[2022-07-01 06:20] haozhutw commented on #7275
Yes this helped to reduce this crash a lot, almost gone! I can't find similar crash report in the firebase now since firebase shows report for 90 days at most. I believe this helps.

[2022-07-01 07:16] SyedSaifAli commented on #7527
How was this issue solved?

[2022-07-01 08:08] JuliusHuizing commented on #4818
Same here: running into this bug for > 3 months now.
Tried all solutions in this issue; although they seem to have reduced the frequency with which the issue occurs, it still causes my app to crash on a regular basis.

Any updates on a structural solution?

[2022-07-01 09:52] kachalo commented on #7859
Hello @dianaafanador3,

I've spent the last three days exploring, testing, and analyzing the results. It is weird, but the issue I was having did not reproduce since I created this report.
My strategy was to run our app through testing with extensive logging, so I'll be able to spot the issue. However, it didn't reproduce though.
I have added the diagnostics log suggested by @reveelapp, showing th

[2022-07-01 09:52] #7859 closed

[2022-07-01 11:27] dianaafanador3 commented on #3254
Closing this as it's already supported by `RLMSupport.swift` https://github.com/realm/realm-swift/blob/master/Realm/Swift/RLMSupport.swift, which extends `RLMResults` and makes it conform to `Sequence` which allows iteration over a RLMResults.
This test passes.

[code]

[2022-07-01 11:27] #3254 closed

[2022-07-01 11:38] #7815 closed

[2022-07-01 11:42] dianaafanador3 commented on #7741
HI @koneksa-sunny are you trying to access the realm from `AppDelegate.didFinishLaunchingWithOptions`, are you using a different thread to access the realm?

[2022-07-01 11:53] dianaafanador3 commented on #7527
@SyedSaifAli are you having a similar issue?, There should be no problem when using Realm with Cocoapods.

[2022-07-01 11:56] dianaafanador3 commented on #4818
HI @JuliusHuizing Can you please explain the issue you are experience?, so we can keep track of this here or open a new issue.

[2022-07-01 12:07] PavelKandratsyeu commented on #7741
FYI: the issue stopped to reproduce for us when we switched back to the legacy build system in older xcode.

[2022-07-01 12:08] dianaafanador3 commented on #7810
Hi @flowbe the issue here is that our Combine API doesn't allow observation on unmanaged objects, so if you use StateRealmObject.objectWillChange this operation is not allowed unless StateRealmObject is managed by the realm.
StateRealmObject is meant to be used in a way that any changes on the object properties (unmanaged or managed), will propagate to your SwiftUI view.
So a better use of this wi

[2022-07-01 12:30] rajrbol opened #7870 "Error while generating a DocC based documentation for a Swift Package"
#### Expected results
I want to generate a DocC documentation for an internal Swift Package with the help of SwiftDocC plugin using the following command:

The internal framework uses `realm-core` and `realm-cocoa`.

`$ swift package --disable-sandbox preview-documentation --product InternalFramework`

#### Actual Results
If I build the DocC files via Xcode the build documentation is generated. Bu

[2022-07-01 14:56] dianaafanador3 commented on #7643
Closing this as there is no response from the owner of this issue. @sozohoy if you still having issues, reopen this issue again.

[2022-07-01 15:28] dianaafanador3 commented on #7870
Hi @rajrbol I'm testing this using our latest core release v12.3.0 and it is working fine. This is a sample of the used code https://github.com/dianaafanador3/ModuleSample.
Please update to our latest version and try again.

[2022-07-01 15:39] dianaafanador3 commented on #7802
Hi @palaniraja did you have any luck trying to build from source code, any update on this issue?

[2022-07-01 16:18] dianaafanador3 commented on #7800
HI @zhangfurun are you still having this issue?, if that not the case please close this issue

[2022-07-01 16:26] dianaafanador3 commented on #7858
Hi @reveelapp as mentioned before this is the intended behaviour, for now if you want to have more control on the client side, keeps this rules simple and use subscriptions to handle which data you want to be downloaded.
Thanks for the feedback, what we want is to make sure the developer has the best experience using our product
@ianpward this feedback is interesting regarding flexible sync.

[2022-07-01 18:18] reveelapp commented on #7858
Hi @dianaafanador3 - thanks for getting back to me!

Understood. I hope to see this change. It is not a huge issue and usually won't be a problem with most setups; though it just seems odd - that is all.

Thank you and have a great weekend!

[2022-07-01 20:00] palaniraja commented on #7802
No, still failing!

[code]

[code]

[2022-07-02 17:55] aehlke commented on #3650
@ianpward still in feedback-gathering mode? I have fulltext search needs for a language-learning app / e-reader

[2022-07-02 20:33] aehlke commented on #7655
Any workarounds discovered? This is a scary open issue to see walking into the project!

[2022-07-03 22:05] aehlke commented on #6617
Why was this marked as "completed"? RealmSwift doesn't have this as far as I can tell. I'm looking for guidance on SceneStorage behavior for restoring state

[2022-07-04 00:41] tgoyne commented on #6617
It's "completed" because it predates github having close reasons and everything defaults to that. We decided it didn't make any sense to do. NSUserDefaults is already a good backend for AppStorage, and there isn't any obvious benefit to implementing the same API but backed by Realm.

[2022-07-04 05:07] rajrbol commented on #7870
Hi @dianaafanador3 I tried using the latest core release v12.3.0, I still got an error regarding the submodules.
This time it was

[code]

When I tried to clear my derived data and resetting package caches as well, then it the error changed to the original shown on https://github.com/realm/realm-swift/issues/7870#issue-1291456073

ie:

[code]

[2022-07-04 06:40] flowbe commented on #7810
Hi @dianaafanador3, thank you for the clarification. However, I needed to observe the changes using `objectWillChange` to perform non-UI actions…

Basically, my code looks like this:
[code]

[2022-07-04 07:48] JuliusHuizing commented on #4818
@dianaafanador3 Every now and then, my app crashes  at run-time due to this error:

`Thread 1: "Cannot register notification blocks from within write transactions."`

It might very well be that I am doing something wrong myself, but having tried all the potential fixes suggested by others above, I still run into this problem (it does appear it happens less frequently now, but still daily and  -- f

[2022-07-04 08:08] #7858 closed

[2022-07-04 09:49] E2-karthickperumal commented on #7866
Two separate issues. Here when I try to access realm objects it throws EXC_BAD_ACCESS exception in the RealmSwift pod file.

[2022-07-04 11:44] dianaafanador3 commented on #7870
@rajrbol Can you paste your `Package.swift` file so I can reproduce this issue. Core does use `tools/vcpkg/ports` as a gitsubmodule but I don't get any error when running `swift package --disable-sandbox preview-documentation --product InternalFramework` on my side.

[2022-07-04 12:00] rajrbol commented on #7870
This is the `Package.swift` file

[code]

[2022-07-04 13:51] dianaafanador3 commented on #7866
@E2-karthickperumal we need more information in order to diagnose the issue. Please attach the stack trace (the drive file is not available), also if you can reproduce the issue a sample project or code so we can do it in our side

[2022-07-04 18:19] dianaafanador3 commented on #7804
Hi @sumit-vts did the comment above help you any way, if you were able to fix this please close this issue.

[2022-07-05 04:47] rajrbol commented on #7870
The sample project did worked. I was able to preview the documentation on the web.

This is the Swift Version and OS Version I am using
[code]

Thank you for the points mentioned, I'll have a check with them.

[2022-07-05 07:44] lukluca opened #7872 "Crash on Realm notification listener EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
### How frequently does the bug occur?

Sometimes

### Description

During a huge emails saving, sometimes we see a crash. We are not able to replicate the crashes, they happen to some testers.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.28.1

### What SDK flavour are you using?

Local Database only

### Are

[2022-07-05 08:09] jordimele commented on #7848
Hello,

I have a similar problem, because when updating an existing application, which uses a watchOS target, to Xcode14 beta2 with RealmSwift 10.28.2, I cannot compile the application.

<img width="618" alt="Build_error" src="https://user-images.githubusercontent.com/11957195/177280964-0a7d0313-3c27-4393-8d6f-feb4bfed36f9.png">

@tgoyne Is it possible that version RealmSwift 10.28.2 does not have

[2022-07-05 09:45] dianaafanador3 commented on #7870
@rajrbol I see, it's clearly something on your project configuration and not the realm dependency, which is causing the issue. I wish I could help you more.

[2022-07-05 09:46] dianaafanador3 commented on #7870
Closing this as this is not realm related, @rajrbol if you have any issue related to our dependency, please reopen the issue.

[2022-07-05 09:46] #7870 closed

[2022-07-05 09:53] dianaafanador3 commented on #7848
Hi @jordimele as mentioned on Xcode 14 Beta 2 [release notes](https://developer.apple.com/documentation/xcode-release-notes/xcode-14-release-notes) this is no longer supported.
`* Building iOS projects with deployment targets for the armv7, armv7s, and i386 architectures is no longer supported. (92831716)`

[2022-07-05 09:55] dianaafanador3 commented on #7848
Closing this, as this is working in our latest RealmSwift release [v10.28.2](https://github.com/realm/realm-swift/releases/tag/v10.28.2), which updates core to v12.3.0 which fix this issue.

[2022-07-05 14:45] danieltabacaru commented on #7868
@dianaafanador3 yes, I can reproduce it in core. We'll take it from here.

[2022-07-05 14:47] BlueCobold commented on #7757
The customer stopped replying and stopped using my app. So I'm afraid, I cannot provide the file.

[2022-07-05 14:47] #7757 closed

[2022-07-05 14:48] horatiu1921 commented on #7868
Excellent! Looking forward for a fix!

[2022-07-05 16:05] aehlke commented on #6617
Thanks @tgoyne I asked because your SwiftUI demos show off the fantastic dev experience of things like ObservedRealmObject / StateRealmObject but it felt like I had to unwind their usage or add surprising complexity to work around how to integrate their use with SceneStorage specifically. without docs covering a more complete example following the full Apple HIG it felt like I hit a library gap. M

[2022-07-05 16:33] horatiu1921 commented on #7708
I can reproduce the memory leak using both Instruments and memory graph debugger. In my case, is caused by the fileURL of the configuration. See the attached images.

![Screenshot 2022-07-05 at 19 26 20](https://user-images.githubusercontent.com/27273880/177374639-dade4085-5e14-4553-b53e-f063b22a1d8d.png)
![Screenshot 2022-07-05 at 19 27 01](https://user-images.githubusercontent.com/27273880/17737

[2022-07-05 18:30] joaocolaco commented on #7697
Hi.

It seems this bug resurfaces when freezing a realm opened as read only.
In my case calling `freeze()` in a realm returns exactly the same realm (that also returns false to `.isFrozen`).
Changing `readOnly` to true in the realm configuration makes `freeze()` work again.

Can this bug be fixed?

[2022-07-06 03:48] haozhutw opened #7874 "iOS crash due to default.realm.lock': open() failed: Operation not permitted Path"
### How frequently does the bug occur?

Sometimes

### Description

**Expected**
The crash shouldn't happen.

**Actual result**
The crash happens during app startup process. We did a database migration in function `application:didFinishLaunchingWithOptions` in `AppDelegate.m`

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

This crash is found

[2022-07-06 06:28] rajatdhasmana1234 commented on #7708
Okay but as I can see in my sample project, I am using the default Realm configuration and still getting the leak.

[2022-07-06 09:19] dianaafanador3 commented on #7695
Fix merged https://github.com/realm/realm-core/pull/5341

[2022-07-06 09:19] #7695 closed

[2022-07-06 10:35] dianaafanador3 commented on #6345
Closing this as we don't need to generate an `xcodeproj` to be able to open a Package project as the warning mentions when running `swift package generate-xcodeproj`
`Xcode can open and build Swift Packages directly. 'generate-xcodeproj' is no longer needed and will be deprecated soon.`
If this is needed for other uses case, @AdieOlami @marc-medley please reopen the issue.

[2022-07-06 10:35] #6345 closed

[2022-07-06 10:39] dianaafanador3 commented on #7708
This may be related to this fix https://github.com/realm/realm-swift/pull/7857

[2022-07-06 15:24] aehlke commented on #6617
Thanks very much! The example app materials, and especially some Jason Flax talks on youtube, were exciting and useful for getting started. I look forward to future materials on example 'best practices' for common needs such as state restoration. I'd recommend having an example app repo of a standard that Apple would accept in app store review, so including the Human Interface Guidelines and other

[2022-07-06 18:14] dianaafanador3 commented on #7802
You can build core from source using this script https://github.com/realm/realm-core/blob/master/tools/build-cocoa.sh using the following command `tools/build-cocoa.sh -b -x -c <Where to copy xcframework> and then use it to build your own version of realm swift using the `sh build.sh xcframework` command

[2022-07-07 07:21] dianaafanador3 commented on #7872
Hi @lukluca to be able to diagnose this we need more information, when you mention a huge email saving what do you mean?, what is your schema and which operations are you performing with it. It seems like you are using some kind of notification observer which may be causing the issue.

[2022-07-07 09:09] sync-by-unito[bot] opened #7875 "Create example app"

[2022-07-07 09:27] dianaafanador3 commented on #7088
Closing this issue as there is no response from the user. @ragu-pdxif you are still experiencing this issue, you can reopen it and we look more into it

[2022-07-07 09:27] #7088 closed

[2022-07-07 09:57] dianaafanador3 commented on #7874
Hi @haozhutw it seems like we are not able to access the file and because `default.realm.lock` is the first one we check, it is the one that throws.
This seems very difficult to reproduce and I've seen some other issue where this happens, I don't think this is related to the migration, but it happens on `migrateRealmDB` because it is the first time opening the realm on the app lifecycle.

Have you

[2022-07-07 12:56] haozhutw commented on #7874
@dianaafanador3 This crash happens on iOS 12 and above versions, most of them happen on iOS 15 because most of the users are using the latest iOS system. I have updated my code logic, hope this issue can be fixed after my app goes live next time.

[2022-07-07 17:40] ianpward commented on #1109
Hi Product for Realm here - we realize how long this issue has been open, although perhaps that is a testament to just how long Realm has been a product and how many evolutions we've needed to go through over the years to get to this age. I will say that we do plan to do this because it would give us an incredibly unique position in the market, which, I would observe, there are no other cross-plat

[2022-07-07 18:18] palaniraja commented on #7802
Thank you, unfortunately I couldn't build even after installing `CMake`

[code]

[2022-07-08 06:24] mr-v commented on #7848
@dianaafanador3 I'm still seeing the "ld: symbol(s) not found for architecture arm64" error both with v10.28.2 and latest `master`. This happens when I'm building for a device.

To reproduce:

A)
Build the watchOS target from installation examples (`examples/installation/watchos/swift/CocoaPodsExample`) with Xcode 14 beta 3:

<img width="445" alt="image" src="https://user-images.githubusercontent.

[2022-07-08 07:54] lukluca commented on #7872
Hi @dianaafanador3 , thank you for your reply. Our app is a mail client, if a user enters the first time in a folder, we have to download the emails of the first month and store them in Realm for offline usage.  These mails object are quite complex and could be more than 100 for some accounts. While realm stores those emails on a background queue, there is a notification observer over that list of

[2022-07-08 12:05] dianaafanador3 commented on #7697
Hi @joaocolaco why are you using freeze with a read-only realm, the purpose of freeze is get an immutable snapshot of the realm data, and that's what a read-only realm is.
I do have a repo test for this particular case, but I do want to know first what is your use case for this.
[code]

[2022-07-08 12:34] jordimele opened #7876 "Xcode 14 beta fails when archive watchOS Target with Realm v10.28.2"
### How frequently does the bug occur?

All the time

### Description

Hello,

I have a simple test application, in which I have created an iOS target and a watchOS target.
There is no implementation, just Realm dependency injection with cocoapods (podfile).

The two targets compile without problems, but when I'm about to make Archive, with the watchOS target it always fails.

<img width="1458" al

[2022-07-08 13:52] joaocolaco commented on #7697
Freeze is also useful for querying the database in other threads, something that I need to do in my app (due to calls from SwiftUI and Swift async).

As for the use case, this particular database is in the Bundle Resources of the app so it shouldn't never be written. When the first version of the app was made the frozen functionality wasn't available so it was opened as read-only. When `.frozen` a

[2022-07-08 13:55] dianaafanador3 commented on #7697
Hi @joaocolaco can you open a new issue?, as it seems this is unrelated to the original one and we can follow from there.

[2022-07-08 13:58] jonathan-opuscope opened #7877 "Configurable mongodb-realm root folder"
### Problem

We're running into some issues with a Hybrid Unity/Swift iOS app and Realm database approach. We have two realm applications running in the same iOS Application, one from the Unity .NET SDK the other from the Swift SDK. It works mostly but we're having some issues which are not easy to reproduce and seem to be linked to startup Timing. We have forced the Unity and Swift SDKs to use di

[2022-07-08 14:03] joaocolaco opened #7878 "Results and objects are not `isFrozen` after calling `freeze()` in a read-only realm"
Hi.

It seems the #7697  bug resurfaces when freezing a realm opened as read-only.
In my case calling `freeze()` in a realm returns exactly the same realm (that also returns false to `.isFrozen`).
Changing `readOnly` to true in the realm configuration makes `freeze()` work again.

Can this bug be fixed?

@dianaafanador3 has already done an repo test in https://github.com/realm/realm-swift/issues/7

[2022-07-08 14:07] dianaafanador3 commented on #7878
@tgoyne I don't know if this is the intended behaviour for a read only realm, and the use case is to be able to use the realm in another thread.
I have the following test, which reproduce the issue,
[code]
Seems like the realm cannot be freeze because it doesn't have a version, but I don't know the intended behaviour behind it.

[2022-07-08 14:12] dianaafanador3 commented on #7876
Hi @jordimele It seems like you can reproduce this on your side, can you please create a repo so we are able to diagnose the issue.

[2022-07-08 17:04] tgoyne commented on #7848
This is fixed in core master, which has not made it into a release yet.

[2022-07-08 17:17] dianaafanador3 commented on #7877
Hi @jonathan-opuscope you can override the path of the synced realm file using fileUrl
[code]
Remember to create the directory, if you are using a different directory and set the permission on it.

You also can do this as well on the `.NET` SDK setting the [BaseFilePath](https://www.mongodb.com/docs/realm-sdks/dotnet/latest/reference/Realms.Sync.AppConfiguration.html#Realms_Sync_AppConfiguration_B

[2022-07-08 17:20] dianaafanador3 commented on #7802
Maybe someone from the core team can help you build core for that particular version, @ironage can you help us with this?

[2022-07-08 17:29] ironage commented on #7802
According to the build error there, you don't have ninja installed on your system. You can either install it, (`brew install ninja`) or if you are feeling adventurous, you can modify the build script to use a build tool of your choice.

[2022-07-08 18:24] dianaafanador3 commented on #7872
@lukluca we don't need your production code but having a simple example of where you call the observer and the emails write will help, the order you're calling them in your code and how yo do this on background thread.
For example if you do this on `application:didFinishLaunchingWithOptions:` or later on the App lifecycle.

[2022-07-08 19:18] dianaafanador3 commented on #7877
Hey again @jonathan-opuscope. I misinterpreted the questions, I was talking about the path of the realm file instead of the mongodb-realm folder which I think it is what you really want. You can still use the .NET solution mentioned in the above message. Changing it there and  let the Realm-Swift SDK use the default location will solve your issue.

[2022-07-08 20:59] bdkjones commented on #1109
@ianpward Thanks for the comment. I think it would be very helpful/reassuring if Realm had an official roadmap and *timetable* for major features like this. Eight years of "it's on the to-do list" comments really make me nervous about tying apps to Realm.

[2022-07-08 21:28] lukluca commented on #7872
@dianaafanador3 , I call the mails insertion and the observers late in the code. I have several observers (at least three). I'll get back to you on Monday. The emails write starts once the emails are downloaded from the server and the observer stars before, but sure after the view did load event of the home view controller

[2022-07-08 23:10] palaniraja commented on #7802
Thank you @ironage I am able build `realm-core` now.

@dianaafanador3 I am still having issues in building realm-swift post that. E.g., target `RealmSwift`  depends on `Realm` which depends on `Download core Library (Realm)`,  that runs `sh build.sh download-sync xcframework`

I understand i am skipping the `xcframework` by building it locally. But I could not find an option to include the xcframe

[2022-07-08 23:20] palaniraja commented on #7802
After adding `-v` to `clang++` post download

[code]

[2022-07-11 07:47] jordimele commented on #7876
Hello @dianaafanador3,
[here](https://github.com/jordimele/Xcode14_TEST/tree/develop) I leave the example repo; It would only be necessary to perform a pod update, because the Pods folder is not uploaded.

[2022-07-11 08:20] dianaafanador3 commented on #7876
@tgoyne is this related to the recent changes in core for been able to build target watchOS?, or could be something different. The issue seems to be that it cannot find `librealm-monorepo` for architecture armv7k even though it exist on the xcframewok.

[2022-07-11 08:33] jonathan-opuscope commented on #7877
Thanks for the answer @dianaafanador3. Not sure I understand, the .NET `configuration.DatabasePath` refers to the `.realm` file (i.e. the equivalent of the swift `configuration.fileURL`), as far as I can see neither allows me to change the root folder and consequently the path of the auxiliary files.

[2022-07-11 08:36] jonathan-opuscope commented on #7877
Thanks! I'll try the [BaseFilePath](https://www.mongodb.com/docs/realm-sdks/dotnet/latest/reference/Realms.Sync.AppConfiguration.html#Realms_Sync_AppConfiguration_BaseFilePath)

[2022-07-11 08:36] jonathan-opuscope commented on #7877
Thanks! I'll try the [BaseFilePath](https://www.mongodb.com/docs/realm-sdks/dotnet/latest/reference/Realms.Sync.AppConfiguration.html#Realms_Sync_AppConfiguration_BaseFilePath)

[2022-07-11 09:59] Oscarworld commented on #7852
Hi @dianaafanador3 sorry for duplicate https://github.com/realm/realm-swift/issues/7846
This issue can be closed

[2022-07-11 10:00] #7852 closed

[2022-07-11 10:12] dianaafanador3 commented on #7855
HI @duncangroenewald we use Apple's framework `NSExpression` API to determine the expressionType of the NSPredicate, the returned expression type is not been parsed to a key path expression because size is a reserved word in the foundation framework.
You can use instead #size if you want to, or use any of the alternatives you proposed in the post above.
`let filtered = realm.objects(TestObject.sel

[2022-07-11 10:12] #7855 closed

[2022-07-11 10:14] dianaafanador3 commented on #7877
Hi @jonathan-opuscope let us know if the issue is fixed so we can close the issue, or if you need any help.

[2022-07-11 10:40] flowbe commented on #7810
Thank you for the suggestion. However, this doesn't match what I want to achieve. For now, I had to create a copy of my class that is not a Realm object only to make observation work and then convert it to a Realm managed object when I need to save it. This is clearly not ideal so it would be nice if you decide to improve this in the future.

[2022-07-11 16:08] MRodSebastian opened #7879 "Multiple crashes "terminate.cpp" on Firebase Crashlytics"
### How frequently does the bug occur?

Sometimes

### Description

For several versions we have been experiencing different crashes related to the Realm library and we have not been able to obtain any type of information or what could be failing. We are not able to reproduce it, it only happens to some users in production.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not

[2022-07-11 23:52] joaocolaco commented on #7878
And that would also simplify a bit of my code (and whoever uses this functionality).

[2022-07-12 00:14] duncangroenewald commented on #7855
@dianaafanador3 thanks - thanks, sorry I was a bit lazy, I should have checked that.

[2022-07-12 11:32] E2-karthickperumal commented on #7866
We can't reproduce the issue. The drive file is available now. It includes the stack trace.

[2022-07-12 15:18] pavel-ship-it commented on #7866
@E2-karthickperumal ,
Can you share the Realm schema and configuration and code snippet of how do you accessing Realm?

[2022-07-12 16:00] drmarkpowell opened #7881 "How to handle client reset error in SwiftUI Realm app"
### How frequently does the bug occur?

All the time

### Description

Getting a client reset error in our app, need to remove the local realm and re-open anew automatically for the user when the app enters the .error state in `@AutoOpen` or `@AsyncOpen`.

Example:
[code]

Instead of the ErrorView simply displaying the text of the Client Reset error, I need it to invalidate the realm(s), delete al

[2022-07-12 16:30] jonathan-opuscope commented on #7877
Sorry for the delay, did the job ! Thanks a lot. Probably worth adding to the swift SDK though :)

[2022-07-12 22:30] drmarkpowell commented on #7881
I tried adding this to my app:
[code]

and then adding this line to my OpenSyncedRealmView:
[code]

...but although it does appear to attempt to delete all the realm files, it also kills my app with a terminal fault, and after restarting I still get the ErrorView containing the "Bad Client File Identifier (IDENT)..." message as noted above.

[2022-07-13 05:09] Ahmad-khabbaz opened #7883 "Crash when setting the defaultConfiguration with EXC_CRASH (SIGABRT)"
### How frequently does the bug occur?

Sometimes

### Description

This crash occurs to some users, but with high frequency.
It seemed to happen after upgrading the realm version from 10.10.0 to 10.25.2
the last message in the tree before the crash happens is:
Realm: please_report_this_issue_in_github_realm_realm_core + 12

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not

[2022-07-13 08:41] huforrest commented on #7625
I meet the same issue and have no idea what's going wrong.

[2022-07-13 08:46] huforrest commented on #7625
I have the same issue on iOS15.5. It works fine on previous iOS versions. Can you guys help to solve the problem?

[2022-07-13 10:42] pavel-ship-it commented on #7184
Hi @liuxuan30
In that case you should not get a notification - It will be triggered in case of collection of object has some changes (Not the object in the collection) - it means the notification will be triggered if you add, remove or replace the object.

In the example above you could try to observe the state of the specific shelf:
[code]

Depending on the requirements you could try to observe t

[2022-07-13 10:42] #7184 closed

[2022-07-13 13:43] E2-karthickperumal commented on #7866
Realm Configuration - https://drive.google.com/file/d/17GmvmEdYgDZJEWy8WBX3yoE3CXYfO-1k/view?usp=sharing
Realm Data Access - https://drive.google.com/file/d/1l7D484c5o6rjpr0hlEG-YcH2AyDbKrYv/view?usp=sharing

[2022-07-13 22:13] ttuygun opened #7884 "Old version os realm-core links are broken"
### How frequently does the bug occur?

All the time

### Description

I got the following error when I build the project
`The specified key does not exist.` for the link of `https://static.realm.io/downloads/core/realm-core-5.23.8.tar.xz`

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

[code]

### Version

4.4.1

### What SDK flavour are

[2022-07-14 02:33] tgoyne commented on #7884
Why are you trying to run `download-core` on that version? That version requires the core+sync package to build, and `download-sync` does work.

[2022-07-14 02:41] huforrest commented on #7625
I have met the same issue on iOS15.5. It works fine on previous iOS versions. Have you guys ever met this problem? Can you guys help to solve the problem?

[2022-07-14 04:12] Ahmad-khabbaz commented on #7883
func realmMigration(){

        let config = Realm.Configuration(

            schemaVersion: 0,

            deleteRealmIfMigrationNeeded: true,

            shouldCompactOnLaunch: { totalBytes, usedBytes in

                let oneHundredMB = 100 * 1024 * 1024

                return (totalBytes > oneHundredMB) && (Double(usedBytes) / Double(totalBytes)) < 0.5
            }
        )

        Re

[2022-07-14 09:13] #7884 closed

[2022-07-14 14:17] E2-karthickperumal commented on #7866
No changes were added to the code of 'RLMBinaryDataToNSData' at the exception occurred time. The error code was ' EXC_BAD_ACCESS (code=1, address=0x10ff70000)'

[2022-07-14 16:02] dianaafanador3 commented on #7881
Have you tried using our new feature for client reset, you can set it to .manual or .discardLocal https://www.mongodb.com/docs/realm/sdk/swift/sync/handle-sync-errors/#:~:text=A%20client%20reset%20discards%20local,0.
Take a look at this documentation and choose your best option
Then inject it into you open view.
[code]

[2022-07-14 16:08] dianaafanador3 commented on #7881
you will have to create the view again with the autopen property wrapper to be able to inject the new realm. AutoOpen by itself doesn't detect that we handle the client reset handle and doesn't retries to open the realm.
@drmarkpowell I'll try to reproduce your code and see if we can suggest another way to go this.

[2022-07-14 18:25] drmarkpowell commented on #7881
Thanks for the tip...It appears that the clientResetMode parameter is not yet in a release build? I will look over the main branch code (or whatever branch it's on) and learn about it. Sounds like it would help a great deal to do what we need.

[2022-07-14 19:31] negarhaghbin opened #7885 "Issue with filter"
### How frequently does the bug occur?

All the time

### Description

I have this simple function that suppose to return `OfflineResource` objects that pass the predicate
[code]
My OfflineResource table contains an object named: **An"d**
When I use **n"** as `searchTerm` the function returns empty results but it works fine for any combinations not including a double quote.
The issue seems to happ

[2022-07-14 21:31] daltonclaybrook opened #7886 "The v10.28.2 release does not contain an Xcode 14 build asset despite claiming compatibility in the notes"
### How frequently does the bug occur?

All the time

### Description

The release notes for [v10.28.2](https://github.com/realm/realm-swift/releases/tag/v10.28.2) claim that the release is compatible with Xcode 14 beta 2, but the `realm-swift-10.28.2.zip` asset does not contain an XCFramework that is compatible with Xcode 14.

### Stacktrace & log output

_No response_

### Can you reproduce the

[2022-07-15 09:24] RustamKhisamov commented on #7645
Any suggestions?

[2022-07-15 09:40] pavel-ship-it commented on #7885
Hi @negarhaghbin could you please confirm which quote symbol does not works for you?
[code]
Can you share a reproduction case or sample data?

[2022-07-15 09:46] Bathilde commented on #7804
Hello!
I'm also experiencing this issue (and I did not reproduce it yet). Some context:
- RealmSwift version 10.28.2 installed through cocoapods
- I also have Firebase installed, initialised right after that
- The issue happens after updating xcode to v13.4.1, installing Firebase SDK, updating Realm from 10.22.0 to 10.28.2

[code]

If you need other informations, please let me know :)

[2022-07-15 10:49] tatva-denish opened #7887 "iOS app crash on realm.objects"
### How frequently does the bug occur?

All the time

### Description

Application crash immediate once we open the screen.

here is react native code while we accessing realm
[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.19.5

### What SDK flavour are you using?

Local Database only

### Are you usi

[2022-07-15 10:50] tatva-denish commented on #7887
It's working fine in another system

[2022-07-15 11:55] #7887 closed

[2022-07-15 12:23] negarhaghbin commented on #7885
I'm seeing the issue with Quotation mark/Double quote with dec ascii code 34.

In my current app I have a textfield where I can write search terms.
[code]
I call `searchOfflineResources(searchTerm: searchInputText)` on the mentioned textfield change
`searchInputField.addTarget(self, action: #selector(searchOfflineResources), for: .editingChanged)`

This is how `OfflineResource` table look.

<img w

[2022-07-15 13:14] pavel-ship-it commented on #7886
Hi @daltonclaybrook,
You can build XCFramework for beta version from the source code using `build.sh`. You can find the script in the `realm-swift` root.

[2022-07-15 15:30] pavel-ship-it commented on #7885
@negarhaghbin Thank you for the details. I can reproduce the issue

[2022-07-15 16:08] pavel-ship-it commented on #7885
@negarhaghbin that looks a bit interesting.
Could you tell me how do you input the quote char?
As you can see on the screenshot, the quote in the values - is 34
while the quote on the simulator keyboard is 8221
If I copy-paste the 34 symbol in the search field it find the required objects.
Can you confirm is it the issue or now?

![Simulator Screen Shot - iPhone 13 Pro - 2022-07-15 at 17 04 12](ht

[2022-07-15 16:14] negarhaghbin commented on #7885
I'm testing with an iPhone 13 mini simulator (iOS 15.5) on a M1 Macbook pro. I use my laptop's keyboard to input values.

[2022-07-15 16:20] pavel-ship-it commented on #7885
Yep, that's same for me - I press Mac keyboard's quote - it types 8221 quote in the simulator's text field.
Same key will type 34 quote in XCode file

[2022-07-15 17:46] daltonclaybrook commented on #7886
@pavel-ship-it Unfortunately, it looks like the Realm target does not build for watchOS device on Xcode 14. It seems to build fine for watch simulator, but building for device reports many linker errors like:
[code]
etc

[2022-07-15 17:51] daltonclaybrook commented on #7886
Digging in, it looks like `realm-monorepo.xcframework` does not contain an `arm64` slice for watchos. Just `armv7k` and `arm64_32`.

[2022-07-15 21:40] lukluca commented on #7872
@dianaafanador3 , I can't reproduce the crash, happened few times to our testers. Do you need more information?

[2022-07-17 22:11] ostatnicky commented on #7881
@drmarkpowell Yes, thanks! The `realmConfiguration` worked for me.

Example for others:
[code]

and in `AutoOpenView` I have that
[code]

[2022-07-18 08:01] pavel-ship-it commented on #7886
Thank's for the update @daltonclaybrook. I'll look into that

[2022-07-18 09:51] pavel-ship-it commented on #7872
@lukluca
We need more information. How do you organise the notification listening? How do you store the notification tokens? How do you organise the realm access for read and write?

[2022-07-18 10:09] pavel-ship-it commented on #7883
@Ahmad-khabbaz what kind of initialisation takes place during first time access? Can you share the code from RealmManager?

[2022-07-18 10:43] pavel-ship-it commented on #7866
Can you narrow down the steps to reproduce the issue?

[2022-07-18 10:45] pavel-ship-it commented on #7877
@jonathan-opuscope Thank you for the update. I close the ticket then

[2022-07-18 10:45] #7877 closed

[2022-07-18 11:23] BlueCobold commented on #7757
@jedelbo I submitted another customer's realm file with the same symptoms to realm-help@mongodb.com for analysis.

[2022-07-18 13:48] kaeferfreund commented on #7708
Any Updates on this?

[2022-07-19 04:18] Ahmad-khabbaz commented on #7883
the RealmManager is a singleton and the first call of the manager happens in the didFinishLaunchingWithOptions to check the migration and the compaction.

    final class RealmManager {

    static let shared = RealmManager()

    private init() { }

    var observer1:NotificationToken? = nil
    var observer2:NotificationToken? = nil
    var observer3:NotificationToken? = nil
    var observer4:No

[2022-07-19 15:22] reinosutisno commented on #4818
My thoughts exactly!

[2022-07-20 04:16] gongzhang commented on #7876
I believe there is a new `arm64` arch for Apple Watch since Xcode 14. The `librealm-monorepo` is pre-built so it does not contains that arch, which causes the link error.

<img width="413" alt="image" src="https://user-images.githubusercontent.com/4470629/179895300-52d5bc90-6d88-402b-826d-390bf838c94e.png">

[2022-07-20 14:27] andreasley opened #7889 "Observing LinkingObjects or custom Results in SwiftUI by using a property wrapper"
### Problem

`@ObservedRealmObject` and `@ObservedResults` provide the ability to easily observe Realm objects and fetched results in SwiftUI, refreshing the `View` when they change.

Unfortunately, there's currently no property wrapper provided by Realm to do the same for `LinkingObjects` and custom `Results`.

### Solution

My custom solution for that use-case:

[code]

Usage:

[code]

### How i

[2022-07-20 17:09] LeffelMania opened #7890 "Crash in realm::util::EncryptedFileMapping::flush() - realm::OutOfDiskSpace"
### How frequently does the bug occur?

Sometimes

### Description

We've been seeing a `realm::OutOfDiskSpace` crash for quite some time now (> 3 months) when initializing our Realm database. According to the data provided by Google Firebase, it's occurring on devices that should seemingly have plenty of disk space - one crash is reported on a device with 368MB RAM free and 645MB disk space free.

[2022-07-20 21:01] luccas-bandeira commented on #2591
I'm new to realme, I did as mentioned above but it doubled every time I enter the method

`response.data.forEach(data => {

            const lastlojaID = realm.objects('lojas').sorted('id');
            const id = lastlojaID.length > 0 ? lastlojaID[lastlojaID.length - 1].id + 1 : 1;

            realm.write(() => {
              var idRedeLojas = ""
              const bancoLoja = data.loja.grupo

[2022-07-21 04:40] Ahmad-khabbaz commented on #7883
the crash seems to happen before the notification listeners have been created because we are deferring the creation of the listeners until we get specific info from our server and according to the crash report the crash happened on the `didFinishLaunchingWithOptions`, here is a code example of the notification listeners' creation

    func observeDB(){

        DispatchQueue.main.async {

[2022-07-21 10:26] lukluca commented on #7872
@pavel-ship-it , thanks for the reply. We always store the token in a property and before deallocating it we call invalidate on the token. The start of the observation and the deallocation is called on the main.

[2022-07-21 10:31] lukluca commented on #7872
The realm access for read/write is made in one NSThread, but in  the project we allocate different NSThread for different heavy operations, one for storing the mails, one for storing the htmls. When realm is done the job, we invalidate the realm on the background, deallocate it and deallocate the NSThread.

[2022-07-21 10:49] MRodSebastian commented on #7879
Sorry for the delay @pavel-ship-it
Here is all the information I have been able to collect.
[RealmInfo.zip](https://github.com/realm/realm-swift/files/9158653/RealmInfo.zip)

[2022-07-21 15:17] Bathilde commented on #7804
Hi
@dianaafanador3 I followed your advice and made sure that realm is only init once and only accessed once. I added some condition to make my app crash when realm is accessed before the init is done, and I don't have any.
What I also noticed, is the issue only occured on users having iOS 14. I don't know if this was the case for the original message

[2022-07-21 16:04] dianaafanador3 commented on #7881
Hi @drmarkpowell the way you inject the configuration into the `OpenSyncedRealmView` is correct, assuming that in this view (OpenSyncedRealmView) you are using one of our the property wrappers (@AsyncOpen, @ObservedResults, ...) this  property wrappers will use the configuration injected to the environment value and will open the realm with the configuration.

[2022-07-21 16:12] dgpratt4 opened #7891 "Xcode 14.0 beta 3 "Based on Dependency Analysis" Compile Warning"
### How frequently does the bug occur?

All the time

### Description

I am getting the following warning in my project in Xcode 14.0 beta 3 after installing RealmSwift 10.28.2 through pods. The warning appears to specifically live on the 'Create Symlinks to Header Folders' build phase.

"warning build: Run script build phase 'Create Symlinks to Header Folders' will be run during every build becau

[2022-07-22 09:26] pavel-ship-it commented on #7889
Hi @andreasley, thank you for the contribution.
If you'd like to contribute code, documentation, or any other improvements, please [file a Pull Request](https://github.com/realm/realm-swift/pulls) on our GitHub repository. Make sure to accept our [CLA](https://github.com/realm/realm-swift/blob/master/CONTRIBUTING.md#cla) and to follow our [style guide](https://github.com/realm/realm-swift/wiki/Obj

[2022-07-22 09:53] pavel-ship-it commented on #7890
Hi @LeffelMania,
What is the expected Realm's size we are talking about?
"Large memory allocations are guaranteed to be page-aligned" means this is might be impossible to allocate a single block in low memory condition.
How does the app handles low memory warnings?
Did you try to fill the Device's space to emulate the condition?

[2022-07-22 10:49] andreasley commented on #7889
I don't know enough about Realm's internals to contribute code with a good conscience. :)
Just wanted to point out a missing piece of the puzzle and provide my workaround for others that may need it.

[2022-07-22 10:53] pavel-ship-it commented on #7891
Hi @dgpratt4,
No worries, this is produced by cocoapods. It's working the same way in the Xcode 13 just without warning. You can continue use Realm.
Here is a ticket against cocoapods for that matter https://github.com/CocoaPods/CocoaPods/issues/11477

[2022-07-22 10:53] #7891 closed

[2022-07-23 06:48] BlueCobold commented on #7757
Using the decrypt-tool in the exec directory, I'm getting the following output:
Checksum failed: 0x0
Block never written: 0x55e000
Block never written: 0x55f000

So looks like the first block has issues. The resulting outputted file is unusable. I have no idea how to get the "actual" and "expected" values that @jedelbo printed in his report, or how to correct possibly faulty bytes to see it the re

[2022-07-24 07:26] BlueCobold commented on #7757
In the meantime, I checked the decrypted content with a hex editor. Even the damaged first block contains readable strings and thus seems to be decrypted correctly. I imagine there's some header meta-data which is damaged and which makes the RealmBrowser/library believe the file to be still encrypted / unreadable. All other blocks after the first seem to be valid. There are a lot of blocks with re

[2022-07-24 10:07] dwirandytlvk commented on #5618
Any update, I have the same problem as well

[2022-07-24 12:39] igorvoytovich opened #7892 "Collection Change Listener - Crash."
### How frequently does the bug occur?

All the time

### Description

Hello,

We use Realm collection changes listener code from docs (https://www.mongodb.com/docs/realm/sdk/swift/examples/react-to-changes/#register-a-collection-change-listener) to update a table view in the app.

Sometimes, during very intensive work with Realm, we get a crash on the tableview when it tries to insert a new cell

[2022-07-24 13:07] onelogapp commented on #6921
Any news on this? I've changed some models to benefit from embedded objects only to have the app crash all over now because of this :/

[2022-07-25 09:40] vikas-singh-fareye opened #7893 "RN App Getting Crashed Randomly"
### How frequently does the bug occur?

Sometimes

### Description

We're using realm swift in our react-native mobile app, and getting below crash in on BugSnag.

runtimeVersions: {
  "clangVersion": "13.0.0 (clang-1300.0.29.3)",
  "osBuild": "16H62",
  "reactNative": "0.66.4",
  "reactNativeJsEngine": "hermes"
}

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### R

[2022-07-25 14:06] pavel-ship-it commented on #7892
Hi @igorvoytovich ,
What is the actual exception reason?

[2022-07-25 14:11] igorvoytovich commented on #7892
Hi @pavel-ship-it ,

Here is the crash:
<img width="1160" alt="Screen Shot 2022-07-25 at 17 09 28" src="https://user-images.githubusercontent.com/47663430/180797671-27fd1788-7585-4f79-b46f-83b88948b0ab.png">

[2022-07-25 14:17] pavel-ship-it commented on #7892
Yep, I can reproduce it. Thanks. I'll look into this

[2022-07-25 19:34] LeffelMania commented on #7890
We don't track the size of Realms out in the wild, but my fairly large personal account shows a Realm of size 573KB, which feels pretty small to me, but I have no frame of reference for that.
The app doesn't really respond to low memory conditions. My two responses to that question would be 1) disk space isn't memory, and this is presenting as an out-of-disk-space crash, and 2) this is happening i

[2022-07-26 06:01] jordimele commented on #7876
Hello,

Is there a solution to the problem in the Archive with watchOS `(library not found for -lrealm-monorepo`), Realm 10.28.2 and Xcode 14 beta 3?

Thank you

[2022-07-26 10:55] pavel-ship-it commented on #7892
At the moment I wouldn't say this is a bug in Realm, rather it's a synchronisation issue.
I can't say for sure the difference between `UITableView` `reloadData` and `performBatchUpdates`, but obviously the processes aren't same and the vital difference - call to `reloadData` will dismiss all the unfinished updates, which it's not the case for `performBatchUpdates`.
In terms of the sample app it me

[2022-07-26 11:01] igorvoytovich commented on #7892
Hi @pavel-ship-it ,

Thanks for getting back to me.

Do you mean to reduce the frequency of Realm transactions? If you are talking about the frequency of table updates, then to be honest, I can’t even imagine how this can be done, given that updates are directly tied to changes in Results.

[2022-07-26 11:10] pavel-ship-it commented on #7892
@igorvoytovich I'm talking about the frequency of table updates.
Unfortunately batch updates are incapable to handle the flow. While reload data can maintain the flow it will be bad at presenting the smooth updates. If you need both - you need a custom solution. From the available open source solutions I can think of [RxRealmDataSources](https://github.com/RxSwiftCommunity/RxRealmDataSources)

[2022-07-26 11:19] igorvoytovich commented on #7892
@pavel-ship-it

Seems like moving from:

[code]

to:
[code]

Removes the crash. That is very weird and I can't explain it, because Apple in their docs recommend to use `performBatchUpdates`. Kinda ridiculous.

I will monitor for some time if I could catch th
<img width="477" alt="Screen Shot 2022-07-26 at 14 19 18" src="https://user-images.githubusercontent.com/47663430/180993992-164c6715-4e9b-45e

[2022-07-26 11:59] igorvoytovich commented on #7892
@pavel-ship-it

Yeah, seems like the core problem is `performBatchUpdates`, this function just can't handle a lot of updates, so buggy.

Moving to `beginUpdates()` and `endUpdates()` fixes the problem. And, by the way, we don't even need to implicitly specify the queue in listener code `observe(on: ...)` as you suggested in https://github.com/realm/realm-swift/issues/7798 . It works and does not c

[2022-07-26 14:07] pavel-ship-it commented on #7892
@igorvoytovich
Here you created everything on the main thread. Observe will call changes notification on current thread by default. In this case it's main so it will be same.
Passing the thread/queue would make sense when the observer created on another thread.

[2022-07-26 15:16] #7892 closed

[2022-07-27 06:43] charles-awayup opened #7896 "Corrupt Database after hard reset device"
### How frequently does the bug occur?

Sometimes

### Description

Very often, if we perform a reboot of the iPad, the action corrupts the database.
No write action is in progress
Realm version 10.28.2

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

Do hard reset with application launch

### Version

10.28.2

### What SDK flavour are y

[2022-07-27 06:58] charles-awayup commented on #7896
Sometime, we have another error with the same action for reproduce

/Users/realm/workspace/realm_realm-core_release_12.3.0/src/realm/alloc_slab.cpp:544: [realm-core-12.3.0] Assertion failed: prev->first + prev->second <= ref with (ref, size, prev->first, prev->second, get_file_path_for_assertions()) =  [28568, 24, 27864, 728, "/var/mobile/Containers/Data/Application/CBDF4464-6F46-4E17-9DA3-AFAA812

[2022-07-27 08:22] pavel-ship-it commented on #7896
Hi @charles-awayup
Can you show me how you accessing the Realm?
Do you hold any Realm opened between writes?

[2022-07-27 08:38] pavel-ship-it commented on #7890
Realm creates a file for inMemory Realms so the lack of storage can be an issue, nut we're talking about rather small files (about 0.5MB)

The other thing is
[code]

Also I have found the interesting ticket in realm-core https://github.com/realm/realm-core/issues/3005

@finnschiermer could you please рудз me with that?

[2022-07-27 08:45] pavel-ship-it commented on #7785
Hi @tjuela ,
Can you provide any information requested by Eric?

[2022-07-27 09:20] rserentill opened #7897 "Realm package as a dynamic framework"
### Problem

We have an SDK which depends on Realm and we distribute it as an XCFramework.
When our clients include this xcframework into their projects, they are seeing a lot of logs similar to this one:

(Let's say our SDK name is OurSDK and our client's project is ClientProject)

_Class RLMAppConfiguration is implemented in both /.../DerivedData/ClientProject/.../OurSDK.framework/OurSDK (0x112b

[2022-07-27 10:21] dianaafanador3 commented on #7881
Hey @drmarkpowell is this info good enough for you, do you need more help with this? Let us know so we can close the issue.

[2022-07-27 11:04] charles-awayup commented on #7896
I access to the realm instance like this:

[code]
And
`let realm = try Realm()
`

#Do you hold any Realm opened between writes?
Yes, I can use the same realm instance for multiple write

[2022-07-27 11:06] charles-awayup commented on #7896
Another crash report for the same hard reset process:

`/Users/realm/workspace/realm_realm-core_release_12.3.0/src/realm/array.hpp:754: [realm-core-12.3.0] Assertion failed: has_refs()
0   Realm                               0x000000010a8b2b50 _ZN5realm4utilL18terminate_internalERNSt3__118basic_stringstreamIcNS1_11char_traitsIcEENS1_9allocatorIcEEEE + 28
1   Realm                               0x0

[2022-07-27 11:17] charles-awayup commented on #7896
[code]

[2022-07-27 11:49] budidino commented on #7695
Is there any info on when this fix will be released?

[2022-07-27 12:17] andrefmsilva opened #7898 "Unsupported predicate format"
### How frequently does the bug occur?

All the time

### Description

Hi,
i'm trying to perform a filtering with this format (i've tried other formats with IN and SUBQUERY)

`ANY SELF.LinkingObjects.MutableSet<String> == SELF.String`

and the predicate fails with:

`Key paths that include a collection property must use aggregate operations.`

After some debugging i've notice that the exception is

[2022-07-27 12:52] andrefmsilva commented on #7898
If anyone have other format to perform this filtering using predicate please let me know

[2022-07-27 14:32] pavel-ship-it commented on #7898
Hi @andrefmsilva
Can you show the code please? Both for objects and query

[2022-07-27 14:32] gongzhang commented on #7886
Still waiting for the next version of realm-core. I did not succeed in building the realm-core myself. 😢

[2022-07-27 15:08] andrefmsilva commented on #7898
Hi @pavel-ship-it they are complex to share here. I'll try to replicate the problem in a sample project with simple models

[2022-07-27 15:30] andrefmsilva commented on #7898
@pavel-ship-it please try with this models and query.

`
class Playlist: Object {

    @Persisted(primaryKey: true) var uuid: String

    @Persisted var name: String

    @Persisted var items: List<MediaItem>
    @Persisted var hiddenGroups: MutableSet<String>
}

class MediaItem: Object {
    @Persisted(primaryKey: true) var uuid: String
    @Persisted(indexed: true) var name: String
    @Persiste

[2022-07-27 19:15] theoks commented on #7814
@tgoyne @pavel-ship-it I just saw that the [12.4.0 version of realm core](https://github.com/realm/realm-core/releases/tag/v12.4.0) contains a possible fix for this case.

Do you know if it be included in the next release of the swift version?

[2022-07-28 10:57] jordimele commented on #7876
After performing the same test with the new version of RealmSwift [10.28.3](https://github.com/realm/realm-swift/blob/master/CHANGELOG.md#10283-release-notes-2022-07-27) and Xcode 14 beta 4, when performing an Archive with watchOS, the error persists:

<img width="1068" alt="Captura de pantalla 2022-07-28 a les 7 31 08" src="https://user-images.githubusercontent.com/11957195/181489215-053ad35b-dc0

[2022-07-28 14:48] pavel-ship-it commented on #7896
I cannot reproduce the issue with the hard reset. I think there is huge probability the app still have an incomplete transaction. How do you handle threading around Realm?

[2022-07-28 16:48] LilaQ commented on #7812
Any news on this? This is blocking me too right now

[2022-07-29 02:00] gongzhang commented on #7876
Me too. This version does not upgraded the realm-core. I tried to build the latest core by myself, but I failed. Still waiting for the next version. 🥲

[2022-07-29 08:59] dianaafanador3 commented on #7695
@budidino this will probably be available in the next release when we update our version of core.

[2022-07-29 13:14] pavel-ship-it commented on #7898
Thank's for the update. If I understood your task properly, you need `CONTAINS`
It will be something like
```let predicate = NSPredicate(format: "NOT (ANY playlists.hiddenGroups CONTAINS 'groupTitle')")```

[2022-07-29 14:41] andrefmsilva commented on #7898
I did a test and it don't work.
To make it easier to debug i've created a function that fills the database with mock data.

[code]

With this sample data i want to get the `MediaItem` with `uuid = 2`.

If the line that thows the exception is commented in RLMQueryUtil.mm the predicate works and returns the correct entry, so it must be some problem converting the predicate to a realm query.

[2022-07-29 16:49] tgoyne commented on #7897
A XCFramework with a dependency which the consuming app also has as a dependency is a scenario that SPM currently doesn't handle at all. Building the dependency as a dynamic library doesn't fully fix the problem by itself. In the simplest case of the app consuming your xcframework and nothing else, it can work but requires the app to manually ensure that it's always pinning the exact version of Re

[2022-07-31 05:50] rserentill commented on #7897
Thanks for your answer @tgoyne!
The problem is that the consuming app does not have this dependency itself, only our xcframework has it.
In fact, I'm reproducing this with an empty project which only has our sdk as dependency.
For some reason it looks like the dependencies from xcframework are installed twice.

[2022-07-31 06:12] sipersso commented on #7508
Any updates on this @dianaafanador3?

[2022-07-31 16:48] drmarkpowell commented on #7881
Yes, my implementation looks to be working well so far. Thanks for confirming the approach is viable. Closing.

[2022-07-31 16:48] #7881 closed

[2022-08-01 06:46] JuliusHuizing commented on #4818
still facing this issue.

[2022-08-01 07:59] hamzaozturk opened #7900 "Error when deleting RealmObject: Key not found"
### How frequently does the bug occur?

All the time

### Description

Trying to delete all data using `realm.deleteAll()` but getting error.

### Stacktrace & log output

[code]
[code]

[2022-08-01 09:44] onelogapp commented on #6921
I fixed this in my app by converting the object to a dictionary/json representation and then using that as the parameter for value in `let unmanaged = SomeObject(value: objectValue)`.
Would be great if we didn't have to do these workarounds and the SDK would do it on its own

[2022-08-01 10:24] #7900 closed

[2022-08-01 11:34] #7868 closed

[2022-08-01 16:28] brenmcnamara opened #7901 "`realm::util::terminate` crashes"
### How frequently does the bug occur?

Sometimes

### Description

We are receiving a number of crashes in our production application (1000+ crashes). These crashes began happening after we upgraded from Realm 10.20.0 to 10.28.1. In our latest release, we have reverted back to Realm 10.20.0 and these crashes have stopped happening. We are having a hard time diagnosing what is causing the crash an

[2022-08-01 16:30] brenmcnamara commented on #7883
@pavel-ship-it - Thanks! Filed a separate issue [here](https://github.com/realm/realm-swift/issues/7901) and tried to include as much information as I could. Please let me know if I could provide more.

[2022-08-01 20:56] visdyn commented on #7868
Was this issue addressed?

[2022-08-01 20:58] tgoyne commented on #7868
We've been having trouble getting the core release with the fix out and are still working on that.

[2022-08-02 11:04] leemaguire commented on #7901
Hi @brenmcnamara Could you show us code samples of how you are using Realm at the crash site? Also some details about your object schema would be helpful.

[2022-08-02 11:16] leemaguire commented on #7890
Hi @LeffelMania Are you pinning versions of the Realm anywhere? You can check if versions are being pinned by setting `maximumNumberOfActiveVersions` on the Realm configuration.

[2022-08-02 15:45] LeffelMania commented on #7890
We are not pinning versions anywhere; that property isn't used in our configuration.

[2022-08-02 18:54] robsontenorio commented on #2134
As beginner on Realm/Swift (but with some background on web frameworks) I must say Realm is great on early stages.
But it lacks on trivial operations (present on web frameworks ):

You guys really should consider better DX for trivial operations, reported here and many other issues. It does need to be or sound like a ORM, but a rich API/SDK means happy developer.

[2022-08-02 22:32] henry2423 commented on #7819
@ericjordanmossman Unfortunately, I cannot publicly share the corrupted realm file here because it's related to the user's privacy. We can share this if there's a formal way to contact the MongoDB company.

We've collected a few corrupted database files. One of them even has duplicated table in a single file. We didn't do any migration on the table. But the file is unreadable with `MongoDB Realm S

[2022-08-03 10:43] leemaguire commented on #7819
Hi @henry2423 please send the corrupt realm files to [realm-help@mongodb.com](mailto:realm-help@mongodb.com) and the team will investigate the issue.

[2022-08-03 12:05] iDevPro commented on #7683
We use numeric version only Major.Minor.Patch but also doesn't work :)

[2022-08-03 12:53] leemaguire commented on #7898
The syntax is incorrect, this works with `"NOT ('Group 2' IN playlists.hiddenGroups)"`

[2022-08-03 13:07] andrefmsilva commented on #7898
@leemaguire but i don't want to make the query with the "Group 2" string.
I want to make the query using the model property.

using your suggestion but adapted to use the model property  -> `NOT (groupTitle IN playlists.hiddenGroups)` it still crashes the sample code.

[2022-08-03 13:58] leemaguire commented on #7898
Hi @andrefmsilva apologies for the misunderstanding, I'll have this investigated

[2022-08-03 14:02] andrefmsilva commented on #7898
Thanks :)  for now i'll use my workaround and just comment the line that throws the exception.

[2022-08-03 14:04] leemaguire commented on #7890
@LeffelMania are you only seeing this crash on devices with limited storage space available? i.e < 1000mb free storage available? If so I have a feeling the issue here is that the device is running out of VM space and the OS is killing apps to allow for system processes to continue running.

[2022-08-03 14:55] LeffelMania commented on #7890
The available disk space and RAM reported by Firebase for these issues is all over the place. I did a scan of 40 instances over the last two weeks and saw reported free disk space in the range from 20MB all the way to 1.94GB, and available RAM from 45MB to 1.07GB. So unfortunately I can't say that it's only happening to devices with no space left.

Also, the OS presumably wouldn't be killing the a

[2022-08-03 21:16] henry2423 commented on #7819
@leemaguire Thanks, I just sent the email to [realm-help@mongodb.com](mailto:realm-help@mongodb.com).

[2022-08-04 01:30] Sonisan opened #7902 "Hang risk - thread priority inversion warning (Xcode)"
### How frequently does the bug occur?

All the time

### Description

Currently, I am working on an **iOS 16.0 app (SwiftUI)** with **Xcode 14.0 beta 4** and **RealmSwift 10.28.3**.

I am on a simple use case where I want to let users create lists, which are synced to their account with Realm Sync. I followed the quickstart on SwiftUI guide to manage the authentication flow. In my models, I have

[2022-08-04 03:11] Zanchee commented on #7493
@pavel-ship-it any updates on this bug being addressed?

[2022-08-04 04:14] anton-plebanovich opened #7903 "RLMSessionDelegate crash"
### How frequently does the bug occur?

Seen once

### Description

We got one crash report in the Crashlytics

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

Realm function was called and for some reason, it caused a crash on `didCompleteWithError`

### Version

10.28.1

### What SDK flavour are you using?

MongoDB Realm (i.e. Sync, auth, fun

[2022-08-04 16:37] nbapps commented on #7795
Hi

I have new error for this crash from crashlitics, realm v 10.28.3

Plantage : com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000000

Crashed: com.apple.main-thread
0  libsystem_pthread.dylib        0x7744 <redacted> + 102
1  libc++.1.dylib                 0x3caf4 std::__1::mutex::lock() + 16
2  Realm                          0x133c8c RLMGetThreadLocalCachedRealmForPath(s

[2022-08-04 16:40] nbapps commented on #7795
And from Xcode, I have this 2

![Capture d’écran 2022-08-04 à 18 38 59](https://user-images.githubusercontent.com/97093930/182904519-7f8e4aff-f706-4112-b4ce-80172e7a1455.png)
![Capture d’écran 2022-08-04 à 18 39 18](https://user-images.githubusercontent.com/97093930/182904576-0291a5aa-646a-476f-93cd-fefb770818ce.png)

[2022-08-05 14:15] rowungiles commented on #7902
I have seen this too during `[RLMRealm dealloc]`.

[code]

[2022-08-05 18:51] visdyn commented on #7902
It may be helpful to include your two models `NeoListGroup` and `NeoList` in the question.

[2022-08-06 00:51] Sonisan commented on #7902
The models are simple:

[code]

[code]

[2022-08-06 15:53] LilaQ commented on #7435
Any updates on this? Running into the same issue

[2022-08-08 02:18] haozhutw commented on #7874
Hi @dianaafanador3,  I found another crash after publishing a new version of my app. Here is the crash log

[code]
I did change the file protection to `NSFileProtectionNone` every time before opening the database, no way to fix this? really upset.

[2022-08-08 02:37] haozhutw commented on #7874
I set file protection to `NSFileProtectionNone ` to every realm file, including `default.realm`, `default.realm.lock`, `default.realm.management` and the `dbfolder`, I think that should be OK. I want to know if `default.realm.management` should be excluded or Could you indicate what I'm doing wrongly? Thank you so much!

[2022-08-08 09:00] AlexIzh opened #7904 "scattered reloc r_address too large for architecture i386"
### How frequently does the bug occur?

All the time

### Description

After major update from 10.7.7 to the latest version we faced some weird issue when trying to compile the app with Apple Watch extension.

Realm is used through SPM.
AppleWatch extension uses Realm as well.
Compiling for devices works fine, only simulator is a problem.

<img width="430" alt="Screenshot 2022-08-08 at 12 53 57" s

[2022-08-08 10:40] leemaguire commented on #7904
Have you done a clean build / deleted derived data? Does this happen on a fresh project? I can't reproduce this, but I am also on a M1 Mac.

[2022-08-08 12:03] AlexIzh commented on #7904
@leemaguire Yes, I have tried a clean build and deleting derived data. I'm trying on a fresh project right now but seems like I can't reproduce it either. It's weird that it worked with old Realm version though. I will spend more time on playing with a fresh project to see if it's something with configuration between my current and fresh projects.

[2022-08-08 13:14] MRodSebastian commented on #7879
Hi! Some news about this issue?

[2022-08-08 13:53] leemaguire commented on #7879
@MRodSebastian I took a look at the attachment but nothing is pointing me in the direction of what could be causing the crash. I have a few more questions though:

- Do you know if this crash is happening to users who have recently performed a migration?
- Are you only seeing this specific crash on 10.28.2 and if so what version did you previously use?
- On what version of Realm did you notice you

[2022-08-08 14:13] LilaQ commented on #7698
@dianaafanador3 Trying again for updates on this

[2022-08-08 14:34] BlueCobold commented on #7757
I have restored the header with a reference to the top_ref and table_names_ref, but it seems the data is partly scrambled. Some objects have invalid strings which crash Realm when trying to load these objects. Some have fields set to null, which cannot be null (like object-UUIDs for example). I wonder, can this potentially be a result of a parallel realm-access which did an automatic compaction?

[2022-08-08 15:37] leemaguire commented on #7698
Hi @LilaQ we don't have any updates yet.

[2022-08-08 17:14] horatiu1921 opened #7905 "Crash on inserting Decimal128 value"
### How frequently does the bug occur?

Sometimes

### Description

Following #7868 I have another issue while saving Decimal128 values. Sometimes, the app crashes when inserting a Decimal128 value that has large significant digits. I noticed that it happens for quotient values less than 100.

For example, app crashes using the same values from the referenced issue:

[code]

I randomly tested quot

[2022-08-08 17:26] AlexIzh commented on #7904
Just to add some info:
Tried to add all dependencies (SPM + Cocoapods) to the fresh project, also checked all configs -> still the fresh project doesn't have this issue.
Tried to remove the whole codebase from problematic project except empty AppDelegate (and ExtensionDelegate), also removed all dependencies -> still RealmCore linking error.

Compared linking commands between the problematic proje

[2022-08-09 07:40] BlueCobold commented on #7757
In further deeper data analysis, I realised some realm-object-keys to be huge. Like '3,402,167,040,181,607,100'. How come they grew so large? Is it possible there's an issue with keys and they spill over at some point or something? Still guessing what could be the reason for badly written pages and wrongly aligned arrays.

[2022-08-09 09:14] leemaguire commented on #7903
I tried reproducing this by disabling a user just before calling a function and had no luck. I wonder if this is something specific to iOS 16, on what version of the iOS 16 beta did this crash occur?

[2022-08-09 09:24] jedelbo commented on #7757
@BlueCobold I have been away on holiday, and did not see this until now. I can see that you have sent another file for analysis, but I am not sure which key to use for decrypting.

[2022-08-09 09:42] BlueCobold commented on #7757
I thought so. I have replied via email to send you the decryption-key. Did you receive it?

[2022-08-09 10:51] jedelbo commented on #7757
To which email address should the key have been sent to? I have not received anything.

[2022-08-09 11:04] leemaguire commented on #7905
Hi @horatiu1921 I'll take a look into this.

[2022-08-09 11:17] BlueCobold commented on #7757
Sorry, I thought there was a forwarded-reply feature on github-mails. Doesn't look like. I had sent the file and key to realm-help with my mail from 18.07., but I can send you another, including some finds so far - including the partly restored file-header.

[2022-08-09 12:38] jedelbo commented on #7757
Great. To be sure that I receive it, you can also send it to jorgen.edelbo@mongodb.com

[2022-08-09 13:12] BlueCobold commented on #7757
I sent it along with a few of my own findings. Thanks for your help.

[2022-08-09 13:36] jedelbo commented on #7757
I tried to decode the file, but the up until 0x2a0, I see only something that looks like random bytes:
[code]
Does this match your findings?

[2022-08-09 14:04] BlueCobold commented on #7757
 

Yes, exactly my results as well. After that block, it seems to be mostly valid data. That's why I manually restored the header as I wrote in the previous mail. I have attached the file with the restored header. As I said, it contains some corrupted data entries and references, but no more of this byte junk.

 

The "trash" at the beginning is not actual trash, though. Check the 00 every 8 bytes

[2022-08-09 14:07] BlueCobold commented on #7757
The duplicated data starts originally at 0x98EC0, a valid array. And then is "duplicated" into the header, making the file unusable.

[2022-08-09 15:18] jeanbaptistebeau opened #7906 "@ObservedResults doesn't open synced Realm SwiftUI"
### How frequently does the bug occur?

All the time

### Description

I'm converting my app from UIKit to SwiftUI and I'm trying to use the new SwiftUI syntax to manage Realms.
When trying to open a synced realm using the `@ObservedResults` property wrapper, it doesn't behave as expected. In my case I get a schema error, but in the test case below it simply opens a different Realm.

My exact code

[2022-08-10 06:21] vikas-singh-fareye commented on #7893
We've received around 162 instances of this same issue as of now, though we've not witnessed any impact in any functionality, just getting these crash reports in our BugSnag dashboard.

<img width="1410" alt="Screenshot 2022-08-10 at 11 45 58 AM" src="https://user-images.githubusercontent.com/60089921/183828906-b6a069c7-1c93-4cd4-bb08-d3cd57f5e37a.png">

**STACKTRACE:**

[code]

**THREADS:**

[cod

[2022-08-10 08:18] jeanbaptistebeau commented on #7906
Nevermind, solved in 10.25.0 ✅

[2022-08-10 08:18] #7906 closed

[2022-08-10 08:49] kondratyevdev commented on #7741
Any news on this?

[2022-08-10 11:18] leemaguire commented on #7893
@kneth would you have any ideas on this? @vikas-singh-fareye have you checked out our [JS SDK](https://github.com/realm/realm-js) which might suit your needs better for React Native?

[2022-08-10 11:41] leemaguire commented on #7904
@AlexIzh would you be able to attach a sample project that replicates this issue? Also are you using an Intel Mac?

[2022-08-10 14:14] jedelbo commented on #7757
Those are great findings. I am a bit embarrassed that I did not spot the zeroes. I hope it can help us further with this issue. It is very common to have duplicated data. Whenever some part of an array is modified, a new version of the array is created by copying the whole array. I will try to see if I can find the "true" top ref.

[2022-08-10 14:20] BlueCobold commented on #7757
Yea, I figured that much. It makes sense from a transaction perspective.

That would be great.

Also, if you don't mind,  I pointed out the very large object-keys for many objects above. (a few objects have two-digit-keys which seem to be auto-increment style, so the big ones make me wonder what's going on) Is it normal for objects to have such large keys or does that indicate a problematic way of

[2022-08-10 15:06] BlueCobold commented on #7757
I found the following cluster-tree, related to table #10 at offset 0x1192A0:
41414141 4700000C 40870800 00000000 00000000 00000000 D80C0000 00000000 15000000 00000000 A8481700 00000000 03000000 00000000 A1520000 00000000 38650200 00000000 90600200 00000000 6950CC0E 1FBFCF7A 00000000 00000000 01000408 05000000

It contains a lot of very suspicious refs like 03000000, 05000000 or 15000000
These refs

[2022-08-10 15:36] jedelbo commented on #7757
What you have found here is the table top array. It contains both refs and numbers. If the entry has the LSB set (like 0x15) it is a number. You get the value by shifting down one bit so in this case it is 10, which matches table number 10.

[2022-08-10 15:51] jedelbo commented on #7757
I am somewhat convinced that the first 24 bytes of the file should be
[code]
making the top ref 0x516c80

[2022-08-10 16:24] jedelbo commented on #7757
I am pretty sure that the problem is that the first 0x1000 bytes have been overwritten with a page that should have been written somewhere else. Unfortunately a lot of refs points into this area, so recreating meaningful data in this area would be some major puzzle.

[2022-08-10 17:07] BlueCobold commented on #7757
I am currently trying so solve this puzzle already by skipping invalid data. Table #10 seems to be majorly affected by it, but I could probably skip it. I "fixed" some other table entries already by detecting invalid string-offsets and nulling invalid references into the first 0x1000 bytes. It still means losing a lot of data that cannot be restored. My major concern is now the prevent this from h

[2022-08-10 18:17] aehlke commented on #7150
Oof, this is quite a surprise to run into late into architecting a data model

[2022-08-10 18:19] aehlke commented on #7150
Looks like this might resolve this issue: https://github.com/realm/realm-swift/pull/7487

[2022-08-10 19:56] leemaguire commented on #7150
@aehlke the PR you refer to did fix this issue.

[2022-08-10 19:57] leemaguire commented on #7150
Closed via https://github.com/realm/realm-swift/pull/7487

[2022-08-10 19:57] #7150 closed

[2022-08-11 00:41] Sonisan opened #7908 "SwiftUI warning - publishing changes within a view (Xcode b5)"
### How frequently does the bug occur?

All the time

### Description

Using Xcode beta 5 triggers the following SwiftUI warnings:

No warning was present in the previous beta 3.
My project uses Realm Sync with the `@AutoOpen` property wrapper. Besides the warning, the code is working as intended.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction S

[2022-08-11 01:57] hamzasohail commented on #7902
I inspected the code. This here is the problem.

#4	0x000000010ee6a480 in realm::util::SemaphoreMutex::lock() at /App-dzqglbowxqddcycrkrrcjykvejsi/SourcePackages/checkouts/realm-core/src/realm/util/interprocess_mutex.cpp:44

Looking at the code, realm seems to implement mutexes with dispatch semaphores. Since a semaphore doesn't know who will unblock it (i.e., what the priority of the signaling th

[2022-08-11 10:42] zttina opened #7909 "AppCenter show the crash"
crash get, Please see Thread 24,
[code]
It means:
[code]
So I guess It's a crash from realm, but can't reproduce.
Could you help me? Thx...
[code]

[2022-08-11 10:46] leemaguire commented on #7909
It not clear what is going on but it looks like there was a C++ exception thrown before the Realm frame in the stack trace. Do you have any more stack traces to show?

[2022-08-11 11:16] zttina commented on #7909
No more, actually...
But from user's log, user entered background, then app recieved UIApplicationWillTerminateNotification after a few seconds, then crash..
So maybe it's not a crash, just a signal?

I'm an iOS engineer from China, so maybe I'm saying not clear in English, please understand, haha...

[2022-08-11 11:23] leemaguire commented on #7909
You are probably doing a long running operation in the background and the operating system is killing the process. See https://developer.apple.com/documentation/uikit/app_and_environment/scenes/preparing_your_ui_to_run_in_the_background/extending_your_app_s_background_execution_time

[2022-08-11 17:14] BlueCobold commented on #7757
Table #10 is located at offset 0x1192A0:
`41414141 4700000C 40870800 00000000 00000000 00000000 D80C0000 00000000 15000000`
The reference #0 (40870800) is incorrect. It leads to nowhere meaningful.
BUT if the table gets changed to this, it makes more sense (even if probably not ALL sense yet, because of D80C0000):
`41414141 4700000C C8151B00 00000000 00000000 00000000 D80C0000 00000000 15000000`
T

[2022-08-11 17:59] BlueCobold commented on #7757
Table #0 is set as:
`41414141 4700000C 40870800 00000000 00000000 00000000 D80C0000`
However, the 0xCD8 is broken due to the overwritten first page.
But 0x088740 is also invalid, I think. It points to something, but it will never find a valid table-name-ref, which is located at 0xAC770. This ref is referenced in this array at 0x1B15C8: `41414141 67000003 70C70A00 00000000 EF956D4D 3B5BB05A 41EE87F

[2022-08-12 02:37] zttina commented on #7909
Oh, I have an same idea with you. But there's a little questions.
### 1 Time.
From the Doc, we can see as below, That method has five seconds to perform any tasks and return, right?
[code]
But from log, we can see it tooks only a few ms.
[code]
### 2. realm multiThread task.
We have codes like
[code]
I'm not sure what's the reason.

[2022-08-12 02:47] servasadolph opened #7910 "The compiler is unable to type-check this expression in reasonable time; try breaking up the expression into distinct sub-expressions"
### Problem
The compiler is unable to type-check this expression in reasonable time; try breaking up the expression into distinct sub-expressions

### Solution
I need help with this error? (Subscriptions.update)

### code
[code]

[code]

[code]

### How important is this improvement for you?
If there is another way to apply subscriptions.update it will be better.

[2022-08-12 06:55] MRodSebastian commented on #7879
Hi @leemaguire

- Theses crashes appear completely random (it happens to a wide range of users with different versions of the app, with migration and without a migration).
- It is a crash that we have lived with for a long time, not only on 10.28.2, the crash appear on a app version range, the first version is with Realm 10.25.2, and the last version is with 10.28.2
- I think that on all version w

[2022-08-12 08:46] jedelbo commented on #7757
0x088740 seems to be ok. 0xAC790 (the column names) are linked from index 1. It will be hard to guess how the cluster that should be at 0xcd8 should look like.

[2022-08-12 12:34] JuliusHuizing commented on #7663
+ 1

[2022-08-12 12:39] BlueCobold commented on #7757
Oh, my bad.

I think found the array which contains the object-keys for table #10 at offset 0x11D8:
`41414141 07000008 D87850E2 0EBD5900 4B494198 246F8312 AC98E903 046B281B 6B8647F6 DEA6CA21 9AE058AC B3B86125 F496A0FD B0240B32 275D4BC8 12EA8532 33286687 8FDF673D`
And I think this could be the array containing the uuid column values for table #10 at offset 0x787e8
`41414141 11000128 65613733 326534

[2022-08-12 12:50] BlueCobold commented on #7757
I believe I also found the array which contains the "color" column of table #10 at offset 0x107BB8
`41414141 06000008 1B6392FF 253E3AFF 528498FF AADDEEFF 03AEECFF 415052FF 27332DFF 9D6300FF`

[2022-08-12 13:52] #7875 closed

[2022-08-13 15:45] BlueCobold commented on #7757
@jedelbo Another customer sent me a realm file which causes this when trying to write a specific value to it:
`2022-08-13 12:43:08.836 21927-21927/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2022-08-13 12:43:08.836 21927-21927/? A/DEBUG: Build fingerprint: 'google/sdk_gphone_x86/generic_x86:9/PSR1.180720.012/4923214:user/release-keys'
2022-08-13 12:43:08.836 21927-21

[2022-08-15 09:18] jedelbo commented on #7757
@BlueCobold It might be related, but the stack trace does not make us any wiser.

[2022-08-15 14:21] anton-plebanovich commented on #7903
Hi @leemaguire I don't know which iOS beta it is since Crashlytics reported the iOS version as 16.0.0 without any suffixes or prefixes.

According to logs, it was a complicated case when a user didn't have an internet connection for some time, the app allows reconnecting in such cases by releasing all open `Realm`, `User`, and `App` (we also reset apps cache), waiting some time, and then instantia

[2022-08-15 19:44] BlueCobold commented on #7757
@jedelbo Thought so, but I thought I provide what I can. Do you want that file for analysis? (It doesn't need recovery, I made a re-import of its data into a fresh one, but I can offer it to you if it may help to identify bugs.)

[2022-08-15 21:16] henry2423 opened #7911 "Realm Core realm::util::terminate_internal Crashes"
### How frequently does the bug occur?

All the time

### Description

We keep seeing some users get repetitive crashes when the Realm booting up. I wonder whether there is a way to prevent the `abort()` function called from `realm-core`?

![CleanShot 2022-08-15 at 14 09 28@2x](https://user-images.githubusercontent.com/20208606/184719028-d53bf446-4d19-4d86-8dab-f3a5f56cb775.png)
![CleanShot 2022-0

[2022-08-16 02:21] zttina commented on #7909
Hi, a quick question, when will raise this exception?
[code]

[2022-08-16 08:44] mr-grey opened #7912 "'Wrong transactional state (no active transaction, wrong type of transaction, or transaction already in progress)"
### How frequently does the bug occur?

Sometimes

### Description

used extension

**all write operations make at queue**

[code]

[code]

that means  realm isInWriteTransaction == true
how it possible

Crash happened some time

screenshots

![Screenshot 2022-08-16 at 11 28 38](https://user-images.githubusercontent.com/699148/184834489-74643920-f0f4-4d39-8319-3513e0018810.png)
![Screenshot 2022-0

[2022-08-16 17:25] QuietRocket commented on #7908
I am experiencing the same warning when using `@ObservedResults`. Also seems to have no effect on the resulting program, but mentioning "undefined behavior" is slightly worrisome.

The code causing the warning is line 205 in ObservableStoragePublisher.
[code]

It might be worth noting that I am not using any sync features, just a local database.

[2022-08-17 00:21] drmarkpowell commented on #7908
me too +1

[2022-08-17 01:19] bdkjones opened #7913 "Request: Observe Changes to all KeyPaths *Except* Certain Ones"
### Problem

Realm currently allows me to do this:

[code]

What I frequently need is:

[code]

## Example Case

I have a giant NSTableView of Realm model objects called `Cue`. The table has 27 columns, which correspond to 27 properties on each `Cue`. Each `Cue` has a `parent` property, which is a `LinkedObjects` to another, single Realm object, `Parent`.

I want this tableView to reload when any

[2022-08-17 08:15] zttina commented on #7909
Hi, may I ask a question?
When system determines App, we are operating realm.
Did you see this case?  I guess in this case, we can the crash on AppCenter sides. @leemaguire

[2022-08-17 09:18] sync-by-unito[bot] opened #7914 "Migration to Xcode Cloud"

[2022-08-17 09:24] mr-grey commented on #6308
**The same crash:** in start application
Hardware Model:      iPhone10,6
OS Version:          iPhone OS 15.6 (19G71)

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0x00000000c300000a
Exception Codes: 0x0000000000000001, 0x00000000c300000a
VM Region Info: 0xc300000a is not in any region.  Bytes before following region: 1061486582
      REGION TYPE

[2022-08-17 17:50] t-sakhuja commented on #7901
Brendan's teammate filling in here.

We initially thought rolling back to 10.20.0 had resolved these crashes, but that appears to not be the case. Instead, we're seeing a similar volume of similar looking crashes. All of these crashes occur within a few seconds of app launch. Here are some examples:

Crash 1
[code]

Crash 2

[code]

Because these crashes continued after we reverted to 10.20.0 and

[2022-08-17 19:52] captncollins opened #7915 "xcode beta 5 - “Keychain returned unexpected status code: -34018”"
### How frequently does the bug occur?

All the time

### Description

Originally reported here: [https://www.mongodb.com/community/forums/t/realmswift-problem-in-xcode-14-beta-showstopper/169132](https://www.mongodb.com/community/forums/t/realmswift-problem-in-xcode-14-beta-showstopper/169132)

When creating a swiftUI app and adding:

let app = RealmSwift.App(id: “myRealmAppID”)

I receive: “Keyc

[2022-08-18 04:08] aehlke commented on #599
This is necessary to add:
[code]

[2022-08-18 04:10] aehlke commented on #599
And a custom property seems unsupported in a swifty query? I get `Cannot compare value 'about:blank' of type 'NSURL' to property 'sourceURL' of type 'string'` for using .where on a URL primaryKey

[2022-08-18 09:52] jedelbo commented on #7757
@BlueCobold All files are welcome. Maybe it contains that piece of information that can help us further.

[2022-08-18 10:46] Fragki commented on #3345
Hi, do have any updates on this one?
Keen to create a fresh inMemory realm while unit testing.

[2022-08-18 15:38] leemaguire commented on #7915
Hi @captncollins I cannot reproduce this on Xcode 14 beta 5. Can you attach your sample app that reproduces the issue?

[2022-08-18 15:50] captncollins commented on #7915
Hi @leemaguire thanks for the quick response.
[RealmTestApp.zip](https://github.com/realm/realm-swift/files/9375378/RealmTestApp.zip)

Attached is an example app. While building the example I've learned something.
- If App is defined outside of a struct or class, it seems to be fine
- If App is defined inside a class such as a ViewModel, this causes the crash (this is the attached example)

This w

[2022-08-18 17:33] leemaguire commented on #7915
@captncollins The reason you're getting this error and why its needs the entitlement file is because it is building for macOS as well as iOS. On a pure iOS target you won't need to add the 'Keychain sharing' capability.

[2022-08-18 18:14] kachalo opened #7917 "Signed integer overflow runtime exception"
### How frequently does the bug occur?

All the time

### Description

After updating to the latest version of RealmSwift, Xcode constantly breaks at runtime exception stating about signed integer overflow.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Enable "Undefined Behavior Sanitizer" in Scheme Settings
Add all runtime issue breakpo

[2022-08-18 18:28] gbreen12 opened #7918 "Getting error with all versions past 10.20.0"
### How frequently does the bug occur?

All the time

### Description

I'm getting an error when trying to load while filtering on a uuid

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Open the included project and click `Get Sync Items`

### Version

10.28.5

### What SDK flavour are you using?

Local Database only

### Are you using enc

[2022-08-18 18:28] gbreen12 commented on #7918
[RealmTest.zip](https://github.com/realm/realm-swift/files/9376522/RealmTest.zip)

Here is the test project I created to reproduce the issue. I'm running this on M1 Pro MacBook Pro

[2022-08-18 18:29] captncollins commented on #7915
Changing the target to iOS only did fix this error. It seems creating a multiplatform app selects multiple targets. I will close this issue.

[2022-08-18 18:29] #7915 closed

[2022-08-19 08:30] leemaguire commented on #7910
Hi @servasadolph when using `await` you should not use the `update` function with the `onComplete` handler. Also could you try doing the query as
[code]
And see if that helps?

[2022-08-19 08:53] leemaguire commented on #7874
Hi @haozhutw you should just set `NSFileProtectionNone` on the parent folder for all these files.

Just a couple of questions:
- Also do you have App Groups enabled? i.e is there an app extension which also tries to use the Realm file at the same time?
- Do you know if the app is put to the background when the crash occurs?

[2022-08-19 09:44] michalrentka opened #7919 "Crash when accessing objects"
### How frequently does the bug occur?

All the time

### Description

One of our users is encountering a crash which he can reproduce. The crash can be reproduced after device restart. When the user starts the app after device restart, it starts crashing for him when objects are accessed. I tried the same or similar steps to reproduce the crash, but wasn't able to. The crash can be reproduced eve

[2022-08-19 10:18] leemaguire commented on #7911
Hi @henry2423. The `abort` cannot be avoided. Could you show us your migration script? Either here or through realm-help@mongodb.com. Hopefully by looking at that we will get a better understanding of what might cause the issue.

[2022-08-19 10:23] haozhutw commented on #7874
Thanks for your reply. I don't have App Groups enabled and no app extension. This crash is reported by Firebase and from the report it happens on foreground, here is the screenshot.
<img width="427" alt="Screen Shot 2022-08-19 at 18 20 58" src="https://user-images.githubusercontent.com/66658218/185598921-7fb74c13-6a26-42cd-b3fc-11c498195a49.png">

[2022-08-19 18:12] henry2423 commented on #7911
Here is my Realm configuration

[code]

I think the migrationblock looks okay. But I'm not sure why our users db file gets corrupted randomly.
I wonder is there a way to catch the error and allow us to re-create the user's database?

[2022-08-19 20:18] gbreen12 commented on #7918
[RealmIDTest.zip](https://github.com/realm/realm-swift/files/9385168/RealmIDTest.zip)

This is an even simpler example. Seems like any time you filter to a uuid using NSPredicate. It does work to use the new query method (as shown in this example project) but the NSPredicate fails

[2022-08-20 03:42] eliyap opened #7920 "EXC_BAD_ACCESS on RLMSwiftBridgeValue when adding objects"
### How frequently does the bug occur?

Sometimes

### Description

When adding an object to a local realm, the app sometimes (about 1/3 chance) crashes with EXC_BAD_ACCESS.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

I am creating a test object
[code]

and adding it with a convenience function
<details>
<summary>Realm wrapper funct

[2022-08-20 04:51] servasadolph commented on #7910
Thank you so much @leemaguire it work very well.

[2022-08-20 04:51] #7910 closed

[2022-08-20 15:04] bmalumphy commented on #7741
This is something we've encountered as well. Only an iOS 14 bug. Updating the OS is not an option for most of our users, so a workaround at least would be nice.

[2022-08-21 22:04] KamalElShazly commented on #7731
@taise-hikawa am facing the same problem.
The Where function needs a Query<Bool>, it can't use Optional Query.
Did u force unwrap the compound functions result?
Is there any way to create a default Query<Bool> with true?

[2022-08-22 07:13] sync-by-unito[bot] opened #7921 "Implement Core Logging"

[2022-08-22 07:59] sync-by-unito[bot] opened #7922 "Reset Email"

[2022-08-22 11:49] Nerkyator commented on #7920
Same happens when creating a new object with a one-to-many relationship. It crashes with BAD_ACCESS in

[code]

Same code compiled with XCode 13 (any versions) works flawlessly.

[2022-08-22 16:46] brenmcnamara commented on #7901
Thanks @t-sakhuja for providing the details above.

[2022-08-22 22:39] georgesjamous opened #7923 "Optional values are Synced as null which breaks validation down the line"
### How frequently does the bug occur?

All the time

### Description

I am not sure if this is an issue with the **iOS Realm Sync in the Package** or it is the Realm App Server issue.
However, I will create it hoping for some guidance.
Also this relates to an [existing report I filed here](https://www.mongodb.com/community/forums/t/bug-null-values-do-no-pass-validation/181896).

Basically objects

[2022-08-22 23:10] tgoyne commented on #7923
This is working as intended. "Optional" in Realm means that it can be null, not that it's allowed to be missing.

[2022-08-23 06:12] georgesjamous commented on #7923
Yes, however, the validation from MongoDb Realm side is failing.

--

Lets say I save the object
[code]

then the schema would be like so
[code]

and the object in the Database will be
[code]

Then if in a cloud function I do:
[code]

it fails due to: `could not validate document 'ObjectID("123")' for update`
and if I run the schema validator in Atlas I get this error `InvalidTypeError`

if I dele

[2022-08-23 10:24] dwirandytlvk opened #7924 "RLM_ARRAY_TYPE has been deprecated. Use RLM_COLLECTION_TYPE instead."
### How frequently does the bug occur?
All the time

### Description
Hello,
i would like to ask related to deprecated `RLM_ARRAY_TYPE`, when i upgrade realm version from `3.20` to `10.28.2` i see the warning that said: `RLM_ARRAY_TYPE has been deprecated. Use RLM_COLLECTION_TYPE instead.` in my RLMObject

[code]

Since the documentation https://www.mongodb.com/docs/realm/sdk/swift/model-data/defin

[2022-08-23 10:33] leemaguire commented on #7924
Hi @dwirandytlvk thanks for reporting this. CC @dacharyc can we update the docs to use `RLM_COLLECTION_TYPE`?

[2022-08-23 11:00] leemaguire commented on #7912
@mr-grey having the serial queue being dispatched inside another operation queue seems like it might be the culprit to the issue. Could you try removing `operationQueue`? Also Realms are cached so I would not recommend creating a singleton manager class to access a Realm. You should create transient instances to the Realm when you need to access it.

[2022-08-23 12:19] wipnick commented on #7655
@aehlke my current workaround is using a temporary binding and saving to realm only on submit. I implemented something like this to use the convenience of realm auto-write with swiftUI:
[code]

[code]

[code]

[2022-08-23 12:42] ianpward commented on #7923
@georgesjamous Please see this thread and my response here, this should solve your issue -
https://www.mongodb.com/community/forums/t/missing-mandatory-realm-fields-in-atlas/98801/27?u=ian_ward

I believe this should fix your issue

[2022-08-23 12:42] #7923 closed

[2022-08-23 12:43] leemaguire commented on #7913
Hi @bdkjones thanks for the suggestion. In the meantime a solution would be to extend the `Object` class like so:
[code]

[2022-08-23 13:53] leemaguire commented on #7924
Hey @dacharyc that is correct.

[2022-08-23 14:16] #7924 closed, assigned to nobody

[2022-08-23 14:40] leemaguire commented on #7508
This will be addressed by https://github.com/realm/realm-core/pull/5737

[2022-08-23 14:55] leemaguire commented on #7911
@henry2423 is the Realm version also being updated when these crashes occur? We don't have a way to catch when Core aborts at the moment.

@astigsen it is worth discussing a feature which lets Core fail gracefully as opposed to aborting on opening the database.

[2022-08-23 15:17] #7850 closed

[2022-08-23 17:37] henry2423 commented on #7911
@leemaguire Yes, we're still seeing the crash after upgrading to the latest Realm framework version.
It would be great if we the Realm could fail gracefully!!

[2022-08-23 18:10] leemaguire commented on #7911
@henry2423 what version of Realm was the app upgrading from?

[2022-08-23 18:37] henry2423 commented on #7911
@leemaguire We're upgrading from `10.28.0` to `10.28.4`.  But we have used the Realm framework for a long while, so I'm not sure if it is a specific issue on `10.28.0` or from the previous version.

[2022-08-23 19:37] georgesjamous commented on #7923
Thank you, i did not know about this option. I will give it a try.

[2022-08-23 20:07] bdkjones commented on #7913
@leemaguire That's brilliant! Thanks very much.

I hope you'll still consider adding this as an official API, though.

[2022-08-23 20:27] gbreen12 commented on #7918
I've narrowed down to where the issue is:

[code]

The `RLMSwiftBridgeValue` returns nil because the line `if let value = value as AnyObject as? _ObjcBridgeable` fails

[2022-08-23 20:52] drmarkpowell commented on #7908
Still happening Xcode 14 beta 6, RealmSwift 10.28.6 macOS Monterey 12.5

[2022-08-24 01:42] Sonisan commented on #7908
In my case, it seemed to be tied to `@AutoOpen` and `@AsyncOpen` property wrappers. I refactored my authentication flow without them (using `let realm = try await Realm(configuration: configuration`) and the warnings disappeared.

[2022-08-24 04:17] dwirandytlvk commented on #7924
how about backward compatibility?
is it safe to use `RLM_COLLECTION_TYPE` macro when i use realm v.3.20? since we are still on progress to migrate realm to 10.28.0

[2022-08-24 07:05] mr-grey commented on #7912
Hi,  1. operationQueue was added for prevent inTransaction state . because multiple different transactions in threads make crash .
2. This issue 'Wrong transactional state..' occurs only for old devices , possible it unable to write to file or some like this
   am modified a extension for it wait for InTransaction become false.

[code]

3. 'Realms are cached so I would not recommend creating a sin

[2022-08-24 08:42] rscomarch opened #7925 "Crash on refresh()"
### How frequently does the bug occur?

Seen once

### Description

Realm crashes on realm.refresh().

let realm = try Realm(configuration: config)
realm.refresh()
return realm

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.5.0

### What SDK flavour are you using?

Local Database only

### Are you using encrypti

[2022-08-24 10:01] leemaguire commented on #7802
The 404 can be resolved by modifying the script to place a `v` prefix at the version number. e.g. `https://static.realm.io/downloads/core/realm-core-cocoa-v10.1.3.tar.xz`

[2022-08-24 10:01] #7802 closed

[2022-08-24 11:33] leemaguire commented on #7919
Hi @michalrentka Are you able to send us the Realm file from the user which can reproduce the crash? From looking at the stack trace I think the culprit of the crash is on `Thread 5` where there is a value for a string property that is being returned as `nil`.

[2022-08-24 13:38] mr-grey opened #7926 "Opening on app start results in crash"
### How frequently does the bug occur?

Sometimes

### Description

App crash at start

User had constants crash when opening the app appstore version.
We gave him latest testflight build, was the same.

![Screenshot 2022-08-24 at 16 37 09](https://user-images.githubusercontent.com/699148/186432930-53cbc3e3-6618-4ddd-b03a-27357018a19f.png)

### Stacktrace & log output

[code]

### Can you reproduc

[2022-08-24 13:44] leemaguire commented on #7926
@mr-grey can you show us your migration script? And maybe a bit more about if during the migration Realm version where updated, what changes your made to you Realm model etc.

[2022-08-24 13:54] mr-grey commented on #7926
[code]
but in crash log I see migrationBlock not executed

[2022-08-24 13:57] leemaguire commented on #7926
@mr-grey did you remove a property from any of your Realm object models?

[2022-08-24 14:01] mr-grey commented on #7926
there was old UNREALM  library , and was properties like this  __nilProperties  , and some optional prop.
all models was named RLM+Modelname.

in current version was created the same models , and removed __nilProperties, and changes prop optionality

[2022-08-24 14:04] mr-grey commented on #7926
I can provide empty old  realm file if needed

[2022-08-24 15:33] leemaguire commented on #7920
Hi @eliyap thanks for the code sample, we will try reproduce the issue. @Nerkyator would you be able to open a new issue describing your crash? Thanks.

[2022-08-24 15:55] Nerkyator opened #7927 "App crashes with BAD_ACCESS on saving object with one-to-many association"
### How frequently does the bug occur?

All the time

### Description

As title states, app crashes with BAD_ACCESS on saving object with one-to-many association. Objects used in my tests are:

[code]

I just create a `CategoryEntity` object, then I associate `SubcategoryEntity` objects from a list (every row has a toggle that adds\removes `SubcategoryEntity` from `CategoryEntity`).
If I try to sa

[2022-08-24 15:56] Nerkyator commented on #7920
Sure, [here it is!](https://github.com/realm/realm-swift/issues/7927)

[2022-08-24 16:05] leemaguire commented on #7918
Hi @gbreen12 Thanks for the solid reproduction! We'll investigate the issue.

[2022-08-24 16:09] leemaguire commented on #7925
Hi @rscomarch can you update to the latest version of Realm?

[2022-08-24 16:12] leemaguire commented on #7926
Sure @mr-grey send it to realm-help@mongodb.com If you could also send on a small sample app which performs the migration from the old realm file to the new schema version that would be great!

[2022-08-24 16:17] leemaguire commented on #7927
Hi @Nerkyator have you checked out our SwiftUI property wrappers. You may find that `@StateRealmObject` might solve your issue, see https://www.mongodb.com/docs/realm/sdk/swift/swiftui-tutorial/

Also the link for the screenshot doesn't seem to work for me, could you post it here?

[2022-08-24 17:27] mariagraziarossi opened #7928 "EXC_BAD_ACCESS in get_number_of_versions()"
### How frequently does the bug occur?

Sometimes

### Description

The App faces a EXC_BAD_ACCESS when it try to write an object.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.28.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

### Platform O

[2022-08-25 02:22] TianQiLi opened #7929 "please_report_this_issue_in_github_realm_realm_core"
### How frequently does the bug occur?

Sometimes

### Description

xxxxxx!please_report_this_issue_in_github_realm_realm_core
xxxxxx!realm::util::terminate_internal(std::__1::basic_stringstream, std::__1::allocator >&)

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

崩溃场景自动请求接口写入数据；非必显
 RLMRealm *realm = [RLMRealm defaultRealm];

[2022-08-25 06:24] Nerkyator commented on #7927
HI @leemaguire , I just clicked on screenshot link and it works 🤨. This is the image url https://postimg.cc/VS1jPd32
Thanks for sharing me the SwiftUI property wrappers but I'm already using them :).
I [attach here](http://sendanywhe.re/0K7FF3NK) my sample project. Deployment target is 15.5 so you can open it with XCode 13 and see that everything works but if you compile it with XCode 14 it crashe

[2022-08-25 09:58] leemaguire commented on #7929
Hi @TianQiLi can you send us a small sample app that reproduces this issue? Thanks.

[2022-08-25 10:00] leemaguire commented on #7928
Hi @mmar001 can you give us more context on how you are using Realm? (code samples, if threading is used, if encryption is used etc.)

[2022-08-25 10:01] leemaguire commented on #7819
@henry2423 I'll close this issue as its now being handled from the support channel AFAIK.

[2022-08-25 10:03] #7819 closed

[2022-08-25 10:04] leemaguire commented on #7708
@rajatdhasmana1234 @kaeferfreund has the latest version of Realm solved this issue for you? https://github.com/realm/realm-swift/pull/7857 should address it.

[2022-08-25 10:10] leemaguire commented on #7903
We will revisit this issue once iOS 16 RC is released.

[2022-08-25 10:14] leemaguire commented on #7909
Hi @zttina it would help us if you could attach more stack traces, we will be able to investigate further then.

[2022-08-25 11:07] leemaguire commented on #7901
@t-sakhuja can you show us the Actor which coordinates the reads and writes?

[2022-08-25 11:10] mmar001 commented on #7928
saveOrUpdateToDb is the function that use `db.write` that cause the crash.
[code]
We use encryption and below is how we gat/create the db:
[code]

[2022-08-25 12:28] leemaguire commented on #7912
I would try peel back the layers of abstraction and use the realm instance in a more transient way. Hopefully that would solve the issue here.

[2022-08-25 12:41] mmar001 commented on #5951
I face the same problem in my app, but set protection attribute to .none does not solve the issue. Here the code sample:
[code]
below the error reported only in crashlytics on live app:
[code]
Can anyone help?

[2022-08-25 13:06] leemaguire commented on #5951
@mmar001 can you open new issue and fill out the template? Thanks.

[2022-08-25 13:25] mmar001 opened #7930 "Crash when access Realm on background"
### How frequently does the bug occur?

Sometimes

### Description

I face the same problem [here](https://github.com/realm/realm-swift/issues/5951#issue-368142158) in my app, but set protection attribute to .none does not solve the issue. Here the code sample:

        let  folderPath = config.fileURL!.deletingLastPathComponent().path
        do {
            let attributes = try FileManager.defa

[2022-08-25 14:17] leemaguire commented on #7927
Hi @Nerkyator Thanks for the sample app! I can reproduce the crash when I go to add an item, tap 'Subcategories', go back and tap save. We'll investigate this now.

[2022-08-25 15:45] leemaguire commented on #7927
Just an initial observation, `@ObservedRealmObject var category: CategoryEntity` in `EditCategoryScreen` should use `@StateRealmObject` as the `category` object can have an unmanaged state in your app. `@ObservedRealmObject` should not be used with unmanaged objects (that's on our side to fix by throwing an error).

[2022-08-25 17:42] drmarkpowell opened #7931 "Crash in SwiftUI Realm configuration and access"
### How frequently does the bug occur?

Sometimes

### Description

I'm getting crash reports from many users from inside of Realm SwiftUI and it's intermittent.

The code crashes at this `try!` in RealmSwift SwiftUI:
[code]

Our code is using @AutoOpen with Realm Sync.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

[2022-08-25 18:59] ericjordanmossman commented on #7931
It looks like that at some point there is a sync realm configuration whose path is set to the local default realm path. Like the error mentions, sync configurations can't open local realm files.

If there's a place in your app where you're reassigning paths for this environment realm var, I'd check to make sure the `fileURL` is expected.

[2022-08-26 06:13] Nerkyator commented on #7927
It was one of my tries but, if I well understand, `@StateRealmObject`  needs an initial value that cannot be changed and this prevents to edit an object (ex: if click on a row of `ListCategoriesScreen` it opens the `EditCategoryScreen` sheet but always with a new object, not the selected one)

[2022-08-26 08:27] leemaguire commented on #7930
Hi @mmar001 Are you using AppGroups? Could you paste the entire stack trace to help us to investigate further?

[2022-08-26 08:40] leemaguire commented on #7930
I had a look at your other issue.
[code]
setting the file protection attributes must come before opening the database. Can you change it to
[code]

[2022-08-26 08:49] leemaguire commented on #7930
Actually, that shouldn't matter, we will need to investigate further.

[2022-08-26 08:53] leemaguire commented on #7928
@mmar001 are you able to send us a sample app that can reproduce this issue?

[2022-08-26 09:17] leemaguire commented on #7578
@maretod @PhilippeWeidmann can you update to 10.28.6 (current latest) that should solve your issue.

[2022-08-26 09:21] mmar001 commented on #7930
We don't use AppGroups
[code]

[2022-08-26 09:24] leemaguire commented on #7930
This doesn't look related to file locking, but something else has the read lock on the database. Do you have realm running in multiple threads? Is this only happening when the app is in the background?

[2022-08-26 09:27] leemaguire commented on #7930
If its happening in the background only, you probably need to extend the background execution time. https://developer.apple.com/documentation/uikit/app_and_environment/scenes/preparing_your_ui_to_run_in_the_background/extending_your_app_s_background_execution_time

[2022-08-26 09:32] #7734 closed

[2022-08-26 09:44] PhilippeWeidmann commented on #7578
Thanks ! We are gonna update and monitor the crash logs

[2022-08-26 09:58] mmar001 commented on #7928
I cannot reproduce the issue. It is reported in Crashlytics and happens only to live user, not in debug . I see that in [v10.28.5](https://github.com/realm/realm-swift/releases/tag/v10.28.5) there is a fix regarding the versioning, this could be related?

[2022-08-26 10:02] leemaguire commented on #7046
Closing this issue due to its age and lack of response. If it persists on the latest version on Realm please open a new issue.

[2022-08-26 10:02] #7046 closed

[2022-08-26 10:11] leemaguire commented on #7007
Closing as we have made significant changes to the Core codebase since this issue was opened. If the problem persists on the latest version of Realm please open a new issue.

[2022-08-26 10:12] #7007 closed

[2022-08-26 10:29] leemaguire commented on #7784
Closing this issue as no detailed information provided.

[2022-08-26 10:30] #7784 closed

[2022-08-26 10:52] leemaguire commented on #7787
Closing this issue as no reproduction case has been provided from the user.

[2022-08-26 10:56] #7787 closed

[2022-08-26 10:56] #7809 closed

[2022-08-26 11:16] leemaguire commented on #7822
@ssjtin did you manage to solve the issue? I cannot reproduce on my end.

[2022-08-26 11:18] #7826 closed

[2022-08-26 11:19] leemaguire commented on #7847
@PavelKandratsyeu can you provide your Realm model and more stack traces so that we can investigate further?

[2022-08-26 11:20] leemaguire commented on #7865
@E2-karthickperumal can you please provide us with a sample project so that we can investigate further?

[2022-08-26 11:31] leemaguire commented on #7928
That fix is not related. We will require more full stacktraces to better understand what could be happening.

[2022-08-26 11:34] leemaguire commented on #7860
@shadow-boy are you still encountering this issue? If so could you post a full stacktrace of the crash here so that we can investigate further.

[2022-08-26 11:51] leemaguire commented on #7863
This is likely due to the file lock not being released from one of the processes in the AppGroup. You'll likely need to do something like this https://github.com/realm/realm-swift/issues/7466#issuecomment-1149948784 to resolve the file locking issues between processes.

[2022-08-26 11:54] leemaguire commented on #7800
Closing as no response from user and not reproducible.

[2022-08-26 11:54] #7800 closed

[2022-08-26 12:27] mmar001 commented on #7930
Yes it only happens in background, then I'll try to extend the background execution time. And yes we use Realm in multiple thread.

[2022-08-26 12:40] mmar001 commented on #7928
Below the full stacktrace. Realm runs in multiple thread in the app.

[code]

[2022-08-26 15:10] LilaQ commented on #4818
Wow, this has been going on for so long and nothing has been done about it?
I guess it's time to move somewhere else

[2022-08-26 17:33] LilaQ commented on #7737
Same issue here. I'm forced to use 5.7 to avoid thread races which crash the app otherwise, but it keeps giving me the incorrect realm error immediately on 5.7.
Please give us any update / workaround.

[2022-08-26 17:46] tgoyne commented on #7737
Using Realm in a non-`@MainActor` async function is currently not supported. In Swift 5.6 it would often work by coincidence because execution after an `await` would continue on whatever thread the awaited thing ran on, so `await Realm()` in an async function would result in the code following that running on the main thread until your next call to an actor-isolated function. Swift 5.7 instead hop

[2022-08-26 17:48] alexeichhorn commented on #7737
@LilaQ @Drag0ndust Have you tried the workaround proposed by @yliu342: `let realm = try Realm(queue: nil)`.
It's more a compiler issue than one of Realm probably, because the compiler produces an error if there is an equivalent async variant. However, in this case the async variant should not be used except you are using a synced Realm.

[2022-08-28 12:51] fmoraes74 opened #7932 "Crash opening a Realm database (assumed to be corrupt in some way)"
### How frequently does the bug occur?

All the time

### Description

Got a report of the following crash from AppCenter for HSTracker. It seems to occur everytime for this user. Unfortunately I don't have the realm database file.

Is there a way to prevent the `abort`?

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Versio

[2022-08-28 22:07] LilaQ commented on #7737
@tgoyne Thanks, that did the trick. Now I'm finally rid of the thread race crashes.

[2022-08-29 06:09] xiles opened #7933 "Object has been deleted or invalidated."
#### SDK and version
SDK : Swift
Version:
Realm: 10.28.6
RealmDatabase: 12.5.1

App crashes when this code runs.

[code]

App was working well (database was OK).
Added some objects to database. (nothing special)
Exited an app.
App runs => crash

<img width="680" alt="CleanShot 2022-08-29 at 13 13 46@2x" src="https://user-images.githubusercontent.com/906821/187130515-f6ebf413-799a-4fa2-a251-e69f709

[2022-08-29 08:46] Nerkyator commented on #7435
Me too, any updates?

[2022-08-29 09:02] leemaguire commented on #7932
@fmoraes74 we don't have a way to avoid the abort. Could you tell us what version of Realm the file was using before upgrading to 10.28.2?

[2022-08-29 10:24] leemaguire commented on #7928
For running Realm on different threads, you need to confine the Realm to a queue. Can you try something along the lines of:
[code]

[2022-08-29 12:22] jedelbo commented on #7933
Transferring to realm-swift as this seem to be happening above the Core line.

[2022-08-29 12:35] BlueCobold commented on #7933
I'm not sure this is true, @jedelbo. I have seen this kind of crash/report also on Android and traced it down to lines that basically did nothing more than shown in this report.

[2022-08-29 12:55] leemaguire commented on #7933
@xiles Can you reduce this issue into a small sample app that reproduces the crash?

[2022-08-29 15:03] fmoraes74 commented on #7932
@leemaguire I have no real to know for sure from which version the user came from. The previous version used was `5.4.8` but the current version has been in place since July. It is possible the user didn't upgrade until now but that would mean they wouldn't have a function program. Unless the customer contacts someone for assistance, I won't have the Realm file to find what went wrong.

[2022-08-29 18:00] tgoyne commented on #7625
I stumbled across what's causing this. It turns out that there's a scenario where `refresh()` was intentionally not advancing to the latest version, but in a way that's not actually documented and was just a bad idea.

[2022-08-29 20:27] drmarkpowell commented on #7931
Closing this for now...there's a good chance that I was coding improperly.
In order to have ViewModel classes in my app, I made a RealmController class that kept references to open Realms.
Since the realms don't exist until after the user authenticates and opens them, I was initializing my RealmController with placeholder Realm instances that...I thought...did nothing. Post-open, I was overwriting

[2022-08-30 01:13] xiles commented on #7933
@leemaguire I sent an email to realm-help@mongodb.com with a broken database file.
I cannot make a sample app to break a database file.. I don't know why and when it happened.
But if you open a broken database file then select several objects has same identifier(Primary Key) and delete, Realm Studio says "Object is invalid. Either it has been previously deleted or the Realm it belongs to has been

[2022-08-30 05:54] ceumgmt opened #7934 "If document exists that fails validation, on client reset (delete app data), then realm-core dies on sync"
### How frequently does the bug occur?

Seen once

### Description

Had a class defined (unused) and previously received an error that schema upload for it failed due to dev mode being off. I didn't want it uploaded.... and it was currently unused, so I commented it out. I then deleted the app and data off the simulator, and Started the app thru xcode again. I received this stack trace at that poi

[2022-08-30 06:11] ceumgmt commented on #7934
Removing the latest schema change on the app side that I was testing.......... results in the same issue.

I found that the 'ctext' collection (schema X in description) has a validation error in mongodb portal. However, the item it is erroring validation on has existed all night and I have been testing other changes with successfully. I am unsure why it shows it fails validation.

I think this rea

[2022-08-30 06:22] ceumgmt commented on #7934
I deleted that document out of the collection (that was erroring validation), and now I can load the app, download the initial data, and the original stack trace no longer occurs.

Please reach out with any questions.

[2022-08-30 06:37] ceumgmt opened #7935 "Missing required properties in nested mixed object causes realm-core abort"
### How frequently does the bug occur?

All the time

### Description

If you have nested Mixed types, and you miss adding required fields to the child mixed instance, when you attempt to add the parent document, .append, realm-core dies.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Given two schemas; parent (ctext below) with mixed typ

[2022-08-30 08:58] E2-karthickperumal commented on #7866
We can't reproduce the crash. As of the analysis, sudden power failure triggered the App crash. The sample project contains the Realm data access operation which was the crash triggering part from our observation.
Sample Project Link : https://github.com/E2-karthickperumal/RealmDB_Crash_Analysis

[2022-08-30 08:59] E2-karthickperumal commented on #7865
The sudden power failure, triggers the App crash. The Sample Project contains the Realm delete operation which was the crash triggering part from our observation.

Sample project Link : https://github.com/E2-karthickperumal/RealmDB_Crash_Analysis

[2022-08-30 12:54] andreaagudo3 commented on #7266
Any news on this? It is happening to me now in Xcode 14 beta.

[2022-08-30 15:12] #7645 closed

[2022-08-30 15:23] #7886 closed

[2022-08-30 15:45] drmarkpowell commented on #7931
Turns out that this bug is not fixed...it is still occurring in our latest code, just less frequently...but it still crashes nonetheless.

Here is what I currently have:

[code]

This code crashes for some users at the `return try! Realm(...)` in `EnvironmentValues` I included in the previous comment.
We are running on iOS 10.5.X, building with Xcode 13.4.1 with RealmSwift 10.28.6.

[2022-08-30 16:22] ericjordanmossman commented on #7931
Your latest snippet looks fine to me.

If you're able to reproduce this on your own machine, could you try setting a breakpoint in the setter for the environment configuration? Something like -
[code]
Realm.Configuration() is the default configuration, so Realm.Configuration().fileURL should be equal `/var/mobile/Containers/Data/Application/***-***-***-***-****/Documents/default.realm` that you're

[2022-08-30 16:27] ericjordanmossman commented on #7931
Or you could do `if (newValue.partitionValue == nil)`. Which would mean that the configuration that got passed isn't a sync configuration, and you'll hit the exception later.

[2022-08-30 17:38] drmarkpowell commented on #7931
I haven't been able to reproduce this yet on my machine.
I can however use a breakpoint to see when I'm using a RealmConfiguration that has the fileUrl set to .../default.realm.
I have found that doing this:
[code]

Implicitly creates a Realm instance with the fileUrl set to .../default.realm. So it would appear that my code is "not ok".
I do need to set the clientResetMode in my RealmConfiguratio

[2022-08-30 17:45] drmarkpowell commented on #7931
I think I was mistaken...it's not creating a Realm instance as I said, but it is using a RealmConfiguration with the fileUrl default value with .../default.realm. Perhaps that is related to the problem in some way.
When the 'case .open(let realm)' fires, the fileURL is set to the synced realm path.

[2022-08-30 19:42] ericjordanmossman commented on #7931
Yes could be. And this exception happens intermittently? I'm wondering if `return try! Realm(configuration: self[RealmEnvironmentKey.self])` is somehow getting called before [`update()`](https://github.com/realm/realm-swift/blob/master/RealmSwift/SwiftUI.swift#L1461), and the default config environmentValue isn't being overwritten.

I'm going to try to reproduce and check with the team.

[2022-08-30 19:57] drmarkpowell commented on #7931
I would say that it is intermittent, yes. It's never happened to me, but I'm getting logs from production users who are impacted by it. Following up with them, when they relaunch our app a second time following a crash, it does not re-occur.
I released an update yesterday that simplified some of our app initialization and one user who had seem the crash regularly no longer did. Unfortunately, the

[2022-08-31 05:24] edison0951 opened #7936 "RealmSwift does not specify a Swift version"
### How frequently does the bug occur?

All the time

### Description

I use cocoapods-xcframework to build xcframework. But I receive a report like this:

[!] Unable to determine Swift version for the following pods:

- `RealmSwift` does not specify a Swift version and none of the targets (`SwiftDatabase-ios`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set

[2022-08-31 07:50] jordimele commented on #7876
Hello,

the issue in the Archive with watchOS (library not found for -lrealm-monorepo), with RealmSwift version 10.28.6 and Xcode 14 beta 6 (14A5294g) is resolved.

The problem is that in RealmSwift version 10.28.6, https://github.com/realm/realm-swift/releases/tag/v10.28.6, when downloading the realm-swift-10.28.6.zip file , there is no folder for Xcode 14 with the .xcframeworks (it is only found

[2022-08-31 15:56] leemaguire commented on #7935
Hi @ceumgmt I can't reproduce this, can you send us a sample app that reproduces the issue?

[2022-08-31 16:29] leemaguire commented on #7936
`cocoapods-xcframework` is not a supported method of installation, only the traditional `cocoapods` is

[2022-08-31 16:30] #7936 closed

[2022-08-31 16:35] leemaguire commented on #7932
@finnschiermer @tgoyne any ideas what might be going on from looking at this stack trace?

[2022-08-31 18:26] ericjordanmossman commented on #7931
I think this is the bug -
The realm is opened twice with autoOpen. First when initializing the wrapper, and then when `update()` is executed. The first open is happening with the default config, then with the correct one.
@dianaafanador3 has a potential fix for this:
https://github.com/realm/realm-swift/pull/7756

[2022-08-31 22:40] leemaguire commented on #7933
We will investigate why such a scenario occurs.

[2022-08-31 22:44] drmarkpowell commented on #7931
This is very exciting! Thank you, Diana and the team for responding on this so quickly.

[2022-09-01 06:31] mr-grey commented on #7462
the same crash: on app start init realm

Crashed: serial-queue
0  libobjc.A.dylib                0x8edc class_getSuperclass + 4
1  Realm                          0x5cf4c RLMIsObjectSubclass + 20
2  Realm                          0x13a3a0 RLMRegisterClassLocalNames(objc_class**, unsigned long) + 128
3  Realm                          0x13ac08 +[RLMSchema sharedSchema] + 104
4  Realm

[2022-09-01 07:29] jedelbo commented on #7933
@leemaguire I can investigate.

[2022-09-01 07:43] PhilippeWeidmann commented on #7578
Well, sadly the issue is still happening with the latest version. The exception is still:
`RLMException  When inserting key '0' in 'class_EmbeddedObject'`
I don't know if this is of any help but the error is triggered here: `Realm/RLMAccessor.mm:1106`

[2022-09-01 08:27] jedelbo commented on #7933
The database has some references pointing in the wrong direction. So it is clearly broken. I will take the issue back to core and make some further analysis on the file.

[2022-09-01 08:47] leemaguire commented on #7866
There are no references to any properties using `Data`/`NSData` in the sample app. @E2-karthickperumal if possible can you share the realm file which causes the issue?

[2022-09-01 09:45] leemaguire commented on #7804
Hi @Bathilde if you are still experiencing the issue can you please open a new issue and fill out the template?

@sumit-vts can you send us a sample app that reproduces the issue?

[2022-09-01 10:01] E2-karthickperumal commented on #7866
@leemaguire
 Realm file link : https://drive.google.com/file/d/1kvh4sh6piU3D4HFCBuAbbtV3lH2XE0-v/view?usp=sharing

[2022-09-01 12:39] edison0951 commented on #7936
The realm-swift is support swift. Why can't we add swift_version in the podfile?

[2022-09-01 13:23] leemaguire commented on #7785
You might need to disable file protection for a locked device. See https://www.mongodb.com/docs/realm/sdk/swift/realm-files/configure-and-open-a-realm/#use-realm-when-the-device-is-locked

[2022-09-01 13:24] leemaguire commented on #7866
Might be related to https://github.com/realm/realm-swift/issues/7896

[2022-09-01 14:05] #7893 closed

[2022-09-01 14:06] leemaguire commented on #7904
Closing as issue cannot be reproduced and no more information given.

[2022-09-01 14:07] #7904 closed

[2022-09-01 14:13] leemaguire commented on #7762
@sujeet0009 could you provide us the information requested in the comments above? How are you integrating Realm into your project?

[2022-09-01 15:49] leemaguire commented on #7691
Closing as this is not related to Realm.

[2022-09-01 15:49] #7691 closed

[2022-09-02 02:47] duncangroenewald opened #7940 "LinkingObjects returns empty"
### How frequently does the bug occur?

All the time

### Description

LinkingObjects appears to always return empty.  Am I doing something wrong or are there some conditions for it to work.

The two model objects are shown below.

Note that the `group.marks` property returns a correct list of `marks` but the `mark.groups` property is always empty.  Did I miss something

[code]

### Stacktrace & l

[2022-09-02 03:07] duncangroenewald commented on #7940
I was using the wrong property definitions

@Persisted(originProperty: "marks") var groups: LinkingObjects<Group>
    @Persisted(originProperty: "marks") var routes: LinkingObjects<Route>

[2022-09-02 03:07] #7940 closed

[2022-09-02 07:24] mr-grey opened #7941 "RLMGetSwiftPropertyString(obj, key)"
### How frequently does the bug occur?

Sometimes

### Description

I think in old data there was set object NSNULL

from crash logs discovered:
public static func _rlmGetPropertyOptional(_ obj: ObjectBase, _ key: PropertyKey) -> String? {
        return RLMGetSwiftPropertyString(obj, key) <--- crash
  }

![Screenshot 2022-09-02 at 10 15 44](https://user-images.githubusercontent.com/699148/1880802

[2022-09-02 07:29] mr-grey commented on #7941
also how about :
Fatal Exception: RLMException
std::bad_alloc

Fatal Exception: RLMException
0  CoreFoundation                 0x99d78 __exceptionPreprocess
1  libobjc.A.dylib                0x16734 objc_exception_throw
2  Realm                          0x1305e4 -[RLMRealm frozenCopy] + 1186 (RLMRealm.mm:1186)
3  Realm                          0x1353f4 RLMGetFrozenRealmForSourceRealm(RLMRealm*) +

[2022-09-02 07:39] leemaguire commented on #7941
@mr-grey we will investigate the `NSNull` issue. For the second stack trace, could you send us a code sample of how you were using Realm? Were threads involved, was the app in the background etc?

[2022-09-02 08:21] mr-grey commented on #7941
there is callback:
![Screenshot 2022-09-02 at 11 20 38](https://user-images.githubusercontent.com/699148/188096893-66ad005a-23e8-4032-b2f6-981a9b1a88b6.png)

[2022-09-02 08:22] mr-grey commented on #7941
static func getByPrimaryKey(uuid: String, realm: Realm? = try? Realm()) -> RealmUser? {
        guard let realm = realm else { return nil }
        return realm.object(ofType: RealmUser.self, forPrimaryKey: uuid)
    }

[2022-09-02 08:29] leemaguire commented on #7941
What is the objective-c exception that it is throwing? Can you send the complete stack trace which would show this?

[2022-09-02 09:15] mr-grey commented on #7941
[code]

[2022-09-02 11:56] sync-by-unito[bot] opened #7942 "SwiftUI Property Wrappers Improvement"
Been able to append an unmanaged objects with a nested managed object.
At the moment trying to append an unmanaged object with a nested managed object is crashing with the following error `Object is already managed by another Realm. Use create instead to copy it into this Realm.`

Reproduction:
For the following object model

[code]

we get an error for the following operation

[code]

The issue h

[2022-09-02 12:20] MRodSebastian commented on #7879
Something about this?

[2022-09-02 13:09] leemaguire commented on #7879
Hi @MRodSebastian Could you show us what `ApiClientWrapper.makeAPICall` looks like? Do you do any multithreading? I would also recommend moving all of your object models to use the `@Persisted` property syntax.

[2022-09-02 15:02] 8dorik commented on #7453
Hi guys! Using the latest 10.28.6 we are facing the same issue but in some particular circumstances. When we try the Realm.asyncOpen() and tasks.observe() for the first time everything is fine and the callback with changes is fired properly. But when we cancel the task and log out, doing the Realm.asyncOpen() +  tasks.observe() for the second time, the issue occurs to happen. After the realm.refre

[2022-09-03 15:57] #7751 closed

[2022-09-05 15:53] MarouMhz opened #7943 "'default.realm.lock': open() failed: Operation not permitted"
### How frequently does the bug occur?

Sometimes

### Description

We have tracked in our Crashlytics that some users (approximately 300 users) failed to create Realm file with this error `'default.realm.lock': open() failed: Operation not permitted`

We have tried to fix this according to [this solution](https://github.com/realm/realm-swift/issues/7874#issuecomment-1177339671), we have set prote

[2022-09-05 16:02] finnschiermer commented on #7890
@tgoyne do you have any ideas what can cause this? The error appears during initial extension of the file to match a page boundary. My understanding is that Failing at this point is basically only possible if the file system is completely full. Could lack of access rights cause the problem?

[2022-09-05 19:11] mr-grey commented on #5618
+1

[2022-09-06 16:41] SergejLogis opened #7945 "Warning about use of private API when uploading app with Xcode 14"
### How frequently does the bug occur?

All the time

### Description

After uploading app to App Store (or rather TestFlight, since it's BETA version of Xcode 14) I'm getting warning:
`The app references non-public selectors in Payload/MyApp.app/Frameworks/Realm.framework/Realm: authenticationDidCompleteWithError:`.
I was using version 10.20.1 of Realm because of the performance issue. I have upd

[2022-09-06 17:03] tgoyne commented on #7945
Are you using Game Center in your app? It appears that a [private Game Center framework happens to use the same method name as us](https://github.com/nst/iOS-Runtime-Headers/blob/master/PrivateFrameworks/GameCenterFoundation.framework/GKLocalPlayer.h). If you aren't and it's warning anyway then this seems like a bug in iTC that you should report to Apple.

Even if you are, it's pretty obnoxious th

[2022-09-06 17:13] SergejLogis commented on #7945
Hello, @tgoyne! Thanks for the quick reply!

No, we don't use Game Center.

It's probably worth mentioning, that our recent 2 releases were rejected by Apple for a similar reason - the use of private API. We didn't update anything significant in that recent versions and most definitely didn't introduce any private API usage. Both releases were approved after the appeal. We are using Realm 10.20.1

[2022-09-06 17:16] tgoyne commented on #7945
We added that method in v10.0.0, so the thing that changed is probably that Apple just recently added a new check.

[2022-09-06 17:20] misterlib commented on #7740
This does still seem to be a major issue that isn't resolved. Is there any progress on it or proposed solutions @dianaafanador3 ?

[2022-09-06 18:20] SergejLogis commented on #7945
Yeah, I have come to the same assumption... Any suggestions on what should we do? I'm afraid Apple won't allow us to App Store and we are planning to release as soon as the final version of Xcode 14 will be available.
Thank you.

[2022-09-07 09:20] MarouMhz commented on #7943
Thanks for your reply.  It's this we tried to set those protections to default Documents.
So we will create a custom sub-directory and check if this solve this issue in release version.

If we will do this we should move all realm files to this sub-directory, you know if there is other file/directory related to realm to move ?
default.realm.lock
default.realm
default.realm.management

[2022-09-07 10:22] dianaafanador3 commented on #7876
@jordimele from version 10.28.7, we now package the .xcframeworks for Xcode 14. I'm closing this issue as everything seems to be fixed now

[2022-09-07 10:54] Drag0ndust commented on #7737
The fix doesn't work for me. I use RealmSync and need to open the Container with `Realm.asyncOpen(...)`

[2022-09-07 16:02] ericjordanmossman commented on #7943
Yes should be those three. Keep in mind that some of these files might get created and deleted by realm system processes, so you can't just apply the protections to the file. Do it to the whole sub-directory. Like mentioned in the earlier link, I think the sub-directory has to be created by you, and not the Documents/.

[2022-09-07 16:06] MarouMhz commented on #7943
yes thank you
we will make feedback here after release of this fix

[2022-09-07 16:10] #7925 closed

[2022-09-08 08:54] jeanbaptistebeau opened #7947 "`containsAll` for Query API"
### Problem

I see that a `containsAny` function was implemented for querying collections in Query API. In a scenario where, for instance, we want to query objects that have several tags, it would be useful to have a `containsAll` function.

(See Query.swift)

### Solution

A `containsAll` function whose returned query is true if the collection contains ALL of the given objects.

Note that a curre

[2022-09-08 09:38] BlueCobold commented on #7932
@fmoraes74 having dealt with similar realm crashes, maybe this could be useful to implement in HSTracker:
- Log the app-start before and after first realm-access in some way
- Check for the track-mark on each start of the app before realm-access to detect aborts/corrupt realm files
- In case of detection, offer an upload of the file for bugfixing purpose to the user

[2022-09-08 17:22] fmoraes74 commented on #7932
@BlueCobold can you be more specific? This not something that's being reported a lot. I think I only saw it from a single user and has not happened since.

[2022-09-08 19:15] duncangroenewald commented on #7740
@misterlib - I think these issues are resolved now.  The problems I reported are certainly fixed in the latest version.

[2022-09-08 19:57] alexeichhorn opened #7949 "`@ThreadSafe` in async function parameter often leads to crashes with Swift 5.7"
### How frequently does the bug occur?

All the time

### Description

With Swift 5.7 and SE-0338, `@ThreadSafe` can no longer be reliably used in an async function parameter as shown in the [documentation](https://www.mongodb.com/docs/realm/sdk/swift/crud/threading/).
Even if the function you are calling contains no async call itself (so is just marked as async), it executes the function in the g

[2022-09-08 20:29] roman-qp opened #7950 "Equality for unmanaged objects"
### Problem

At the moment, the `RLMObjectBaseAreEqual` function always assumes that `RLMObjectBase` aren't equal if **one** of the objects has no realm associated. This may seem a bit confusing, because two unmanaged realm entities having the same properties, by logic, should be evaluated as equal.

![CleanShot 2022-09-08 at 13 23 37](https://user-images.githubusercontent.com/106338905/189218737-

[2022-09-08 20:41] tgoyne commented on #7950
We already match what `-[NSObject isEqual:]` does for unmanaged objects. We (and NSObject) use reference equality, and two objects which happen to have the same value are not equal because they are different objects.

[2022-09-08 20:48] roman-qp commented on #7950
Good to know. I guess the only way to compare ununmanaged objects is to write a custom equalizer that will compare properties?

[2022-09-08 21:16] tgoyne commented on #7950
Yes, if you want memberwise equality checking you have to implement that manually. Note that you'll also need to override `hash` if you override `isEqual:`.

[2022-09-09 09:06] theolampert commented on #7876
@dianaafanador3 This appears to be an issue still when using SPM and building for iOS, I just tried with v10.28.7

[2022-09-09 13:18] jordimele commented on #7876
Xcode 14 RC (Build 14A309)
Cocoapods 1.11.3
macOS Monterey 12.5.1
Realm [10.28.7](https://github.com/realm/realm-swift/releases/tag/v10.28.7)

Hello,

When using the xcframeworks of version 10.28.7, downloaded from the [source](https://github.com/realm/realm-swift/releases/download/v10.28.7/realm-swift-10.28.7.zip), the compilation of a project fails:

[code]

Realm's own source script (build.sh)

[2022-09-09 13:21] dianaafanador3 commented on #7876
Seems like this is not solved in 10.28.7, a new release will be released shortly which includes the xcframework for Xcode 14 RC

[2022-09-09 13:22] jordimele commented on #7876
Thanks for quick answer.
We are waiting for your news or a new release.

[2022-09-09 16:11] tgoyne commented on #7945
Please try building your app with https://github.com/realm/realm-swift/pull/7951 and submitting it. I'm pretty sure it'll work around the problem, but it'd be good to have confirmation. With CocoaPods, you can do this with:

[code]

Note that you do need to explicitly mention the Realm pod when targeting a specific branch even if you don't normally include it.

[2022-09-09 21:44] #7728 closed

[2022-09-09 22:07] #7822 closed

[2022-09-10 00:20] #7625 closed

[2022-09-12 07:28] shimastripe commented on #7945
I submitted this branch version via Swift Package Manager using Xcode 14.
And I passed Apple's review!

[2022-09-12 09:09] dianaafanador3 commented on #7949
Hi @alexeichhorn Giving better support for Realm with Actors is something we are working out at the moment.

For now marking both the caller function and `loadNameInBackground` with @MainActor should make this work, which assures for this functions to be run on the same thread. I'll also tag the documents team for this to be updated in the documentation.