[2017-01-23 18:54] jpsim opened #4573 "Improve handling of non-UTF8 strings"
We currently throw an error on commit when writing a non-UTF8 string. See #4557. We should instead map invalid characters to the replacement character or throw an exception when the string is set in the property setter.

[2017-01-23 18:54] jpsim commented on #4557
Yeah, closing this ticket wasn't the solution. I've filed #4573 to track improving our handling of invalid UTF8.

[2017-01-23 19:11] morten-krogh commented on #4568
I will look into what it takes to lift the restriction.

[2017-01-23 19:12] SlashDevSlashGnoll commented on #4565
Apologies, things have been busy.  I will try to put together something that exhibits the behavior

[2017-01-23 21:41] jpsim opened #4575 "Remove support for Swift 2.x"
We've been encouraging users to move to Xcode 8 [for over 4 months](https://realm.io/news/realm-objc-swift-1.1.0/). Less than 6% of our Swift users on Realm 2.1 or later are still on Swift 2.x, with that number continuing to decline. Supporting Swift 2.x incurs a significant engineering overhead, since we have to duplicate all our Swift code for both language versions, as well as run two full sets

[2017-01-23 21:44] istx25 commented on #4557
My apologies. Thanks @jpsim for filing that other issue.

[2017-01-23 23:03] skydivedan opened #4578 "Implicit conversion warning in protocol.hpp"
version is : RealmSwift 2.3.0

When I compile, I'm getting a warning in RealmSyncSession, `addProgressNotificationForDirection`. Line 164. The values being passed into the block call are uint64_t values, but the block is expecting an NSUInteger.

Also seeing a similar problem with protocol.hpp, line 338.

`Implicit conversion loses integer precision` is the warning.

I'm using Realm in a private c

[2017-01-23 23:06] jpsim commented on #4578
This was fixed in #4572 and realm/realm-sync#1118. That first PR is already available to you if you build from `master`, but the second one requires a release of our sync binaries for you to be able to pull in. I'll keep this issue open until a new release is cut and we can update to it.

[2017-01-24 00:09] nirinchev opened #4579 "Typo/repetition in the inline docs `addProgressNotificationForDirection:mode:block:`"
The [inline docs state](https://github.com/realm/realm-cocoa/blob/master/Realm/RLMSyncSession.h#L120) (emphasis mine):

It feels like we should only keep one of the statements.

[2017-01-24 00:24] nirinchev commented on #4579
Additionally, the cocoa docs (and unfortunately, OS variable names) use `transferrable` which seems to be misspelled.

[2017-01-24 10:03] LordNali commented on #4543
I'm still trying to find the cause of the problem - a simple / simplified example works fine - but recreating the circumstances from the original situation is quiet difficult.

[2017-01-24 12:23] stel commented on #4543
Setting the [Exception breakpoint in Xcode](http://stackoverflow.com/questions/17802662/exception-breakpoint-in-xcode) can be helpful in finding the exact line in your code where this issue happens.

[2017-01-24 18:49] SlashDevSlashGnoll commented on #4565
So after some digging I think we've determined that it's working fine and we had a misunderstanding.  I think this does point to an issue with the [documentation](https://realm.io/docs/swift/latest/#sorting) so perhaps that's all it needs.  A few points that could be addressed in the docs:

1. The docs say that sorting can be done "based on a single or multiple properties or key paths" and the exa

[2017-01-24 20:37] LordNali commented on #4543
Finally - I found the cause: Inside my Realm Object (`Parent`) I'm referencing other Realm Objects (`Children`). In my first Code-Examaple I deleted the Parent Object, but forgot to remove the Children Objects. I should know this, because I posted a Issue regarding this Topic some Time ago. And furthermore #1186 .

Now in my second Code Sample I explicitly used `realm.deleteAll()` to remove all Ob

[2017-01-24 21:13] austinzheng commented on #4579
According to http://www.dictionary.com/browse/transferrable and some other dictionary sites, `transferrable` and `transferable` are both acceptable spellings (hooray English orthography), so I'll let @jpsim decide whether he wants to act on the spelling.

I'll submit a PR to fix the typo, thanks for pointing it out.

[2017-01-24 21:15] jpsim commented on #4579
Let's keep it as `transferrable` just of the sake of not breaking APIs that are already spelled correctly.

[2017-01-24 21:23] austinzheng commented on #4575
Closing this issue, unless JP wants to use it to track related work.

[2017-01-24 21:23] #4575 closed

[2017-01-24 22:00] winniepooh001 commented on #4518
Thank you,

[2017-01-24 22:00] #4518 closed

[2017-01-24 22:40] #4523 closed

[2017-01-24 22:44] adomanico opened #4583 "[Question] Future RealmObjC vs RealmSwift compatibility"
Wanted to pose a question regarding any planned compatibility between between the RealmObjc and RealmSwift frameworks.

Currently, all of our core models are written in objective-c and are all based off of the RealmObjc RLMObject base class. We would like to convert these models into Swift and base them off of RealmSwift's Object base class. The rest of our code in our project is Swift. Essentiall

[2017-01-24 22:50] austinzheng commented on #4583
Thanks for getting in touch with us!

We support using the Objective-C version of our binding in a Swift app, and we fully support using both Objective-C and Swift versions of the binding together, as long as they are kept separate and don't try working with each others' models and classes.

However, in 2.1.1, we did add new APIs to transfer objects between the Objective-C and Swift bindings in a

[2017-01-24 22:57] adomanico commented on #4583
Thanks for the quick response,

I guess my core question would be: is it be possible for an a RLMObject model to have a property / RLMArray of a Object base class?

If not, is this something that you are thinking of supporting?

This would allow us to slowly migrate our models from the bottom up.

[2017-01-24 23:03] austinzheng commented on #4583
Hi Adrian,

Unfortunately we don't support having Objective-C and Swift model types inheriting from each other's base classes, and it's unlikely we'll add support for this in the near future. I can bring it up with our engineers.

[2017-01-24 23:10] adomanico commented on #4583
Thanks, would love to start a conversation internally about it.

I'm sure there are many other companies with scale that simply can't afford to migrate all of their core models in one swoop.

[2017-01-24 23:28] austinzheng opened #4584 "Sporadic Swift test failure"
`testRefresh()` occasionally fails on CI. There's no easy way to reproduce it and it's not the same job each time.

When it fails, it seems to fail because of line 82 in `TestCase.swift`:

[code]

An example: https://ci.realm.io/job/objc_pr/configuration=Debug,swift_version=3.0.2,target=tvos/4650/console

[2017-01-24 23:30] jpsim commented on #4565
Thanks for the suggestions to improve our docs @SlashDevSlashGnoll! Maybe @chipotle would be interested in making these clarifications?

By the way, I hope you don't mind I modified this ticket to track making these docs improvements rather than creating a new issue in order to preserve the conversation.

[2017-01-24 23:31] jpsim commented on #4543
I'm glad you managed to track down what your code was doing @LordNali!

[2017-01-24 23:31] #4543 closed

[2017-01-24 23:36] austinzheng opened #4585 "Intermittent `SchemaTests` failure"
I occasionally see the following test failure on CI jobs running for PRs:

[code]

Not sure what is causing it, why it's sporadic, etc, but filing a ticket to track.

Example:
https://ci.realm.io/job/objc_pr/configuration=Debug,swift_version=3.0.2,target=osx/4651/console

[2017-01-24 23:39] jpsim commented on #4540
@rafalkitta `b` is unmanaged in your example above. Is the real repro case omitted for brevity, or is that actually all that's needed to trigger a crash?

[2017-01-25 01:03] #4579 closed

[2017-01-25 14:26] TimOliver opened #4586 "Support Xcode 8.3 beta 1"
iOS 10.3 beta 1 was released earlier today, along with the first beta of Xcode 8.3. This version of Xcode introduced Swift 3.1, for which Realm Swift will need to be updated.

## Goals

To be able to use Realm Swift in Xcode 8.3 without any issues.

## Expected Results

To be able to succesffuly build a project with Realm Swift.

## Actual Results

When building the Realm Swift build target itself

[2017-01-25 19:43] #4569 closed

[2017-01-25 21:07] chipotle commented on #4565
Okay, I'll take a stab at it. Someone who actually knows Swift/Objective-C will need to review my pull request to make sure what I'm saying isn't a complete lie. :)

[2017-01-25 21:58] jpsim commented on #4586
Note that it's not just Realm Swift that's affected, but also Realm Objective-C (the first error you report).

[2017-01-25 22:13] jpsim commented on #4586
Filed a radar: http://www.openradar.me/30194818

But I'm continuing to investigate.

[2017-01-25 22:50] austinzheng opened #4589 "Reenable Swift-based Travis jobs"
Two Travis-CI jobs were turned off in https://github.com/realm/realm-cocoa/pull/4587 since they were causing errors. The configurations in `build.sh` should be updated and the jobs reenabled.

[2017-01-26 02:54] Zyphrax commented on #2256
UUID support would be great. In our app we use UUIDs because records are created on multiple devices, often when offline.

Not having a true UUID datatype has a few downsides:
- no validation that the data is a properly formatted UUID
- casing becomes relevant (af91f... is not the same as AF91F...)
- formatting becomes relevant (af91f989-9ce7... is not the same as af91f9899ce7...)
- knowing it is

[2017-01-26 11:54] raja-baz opened #4590 "Realm file grows incredibly large on Realm 2.2.0+"
Realm 2.2.0 seems to have introduced a bug somewhere that causes the realm file to grow exponentially under certain loads.

## Reproduction

[code]

I'm just hitting the db from main thread as well as background threads very hard. I make sure that Realm objects on the background threads get autoreleased properly.

### Realm 2.1.2 test run

[code]

### Realm 2.2.0 test run

[code]

## Conclusion

C

[2017-01-26 12:37] alickbass opened #4591 "Exception when trying to delete suffix of Results"
Hi! I experienced the following bug:

1. **Goals:** get first 100 objects from realm and then delete them
2. **Expected results**: objects deleted
3. **Actual results**: Received exception: `*** Terminating app due to uncaught exception 'RLMException', reason: 'Index 950 is out of bounds (must be less than 950)'`
4. **Steps to reproduce**: populate Realm with 1000 elements and then run the followi

[2017-01-26 13:13] wbervoets opened #4592 "Object type '(null)' is not managed by the Realm when using sorting on OneToOne child property"
## Goals

Sorting using Results.sorted() on a child property of the current Realm Object. (eg. "shop.name")
Shop is a Realm object and name a String

## Expected Results

It works on a clean install of our app; eg. empty Realm db file. It doesn't work if we're upgrading from our production App (using existing Realm db and migration script)

What did you expected to happen?

It does work on clean i

[2017-01-26 13:30] bzdybowicz commented on #1683
I have this is issue with realm 1.1.0
<img width="860" alt="screen shot 2017-01-26 at 14 29 51" src="https://cloud.githubusercontent.com/assets/5787245/22332966/ed12402a-e3d3-11e6-9110-e020c1823783.png">

[2017-01-26 14:33] svachmic commented on #4314
I'm having very similar issue @jpsim :

[code]

Except the terminal is just silent and doesn't do anything. I'm in Switzerland on a stable internet connection (office - no restaurant or coffee shop...). I have downloaded previous versions of Realm with no problem. The last one I had was 2.1.0.

[2017-01-26 15:40] lonkly commented on #4484
Well I am located in Ukraine and here's what I've got:

Installing Realm (2.1.2)
[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

core is not a symlink. Deleting...
Downloading dependency: sync 1.0.0-BETA-5.1
Downloading sync failed:
curl: (56) SSLRead() return error -9806

[2017-01-26 17:15] istx25 commented on #4592
Hi @wbervoets! Thanks for reaching out about this. We'll review this and have someone respond with a solution for follow-up questions soon. Cheers! :)

[2017-01-26 17:16] istx25 commented on #4591
Hi @alickbass! Thanks for reaching out about this. We'll have someone review this and respond with a solution or follow-up questions soon. Cheers! :-)

[2017-01-26 17:18] istx25 commented on #4590
Hey @raja-baz! Thanks for reporting this. We'll have someone review this and follow-up with you.

[2017-01-26 18:37] jpsim commented on #4586
Swift 3.1 is supposed to be source-compatible with 3.0.x, so I'm:

1) finding workarounds so our users can build with 8.3 despite these compiler regressions
2) checking if apple/swift#7017 helps
3) filing radars/SRs if it doesn't

[2017-01-26 19:56] samacs commented on #4590
I think it would be worth it to advice developers in your documentation that due to the complexity of how Realm manages versions of data you will end up doing lots of `invalidate`'s and `refresh`'es all over the place. Not to mention wrapping every single access to a realm in an `@autorelease` block.

[2017-01-26 21:29] samacs commented on #4590
Is there any example out there showing how this can be avoided? @raja-baz @istx25 @jpsim

[2017-01-26 21:48] bdash commented on #4590
My initial impression from looking at the code you've provided is that you're being hurt by Realm's database write lock not being fair (that is, threads that block while attempting to take the lock are not unblocked in the order in which they attempted to take the lock). This can result in a thread waiting longer than expected to acquire the write lock, pinning the version of data it's looking at

[2017-01-26 22:24] raja-baz commented on #4590
Maybe that's one of the contributing factors in this specific reproduction(which is obviously contrived so that it reproduces as fast as possible). But we hit this in production code that doesn't strain the db to anywhere near this degree.

We use Realm in our app(a music streaming app) for the following purposes:

1 - Image cache metadata(actual images stored on disk, but metadata about what is c

[2017-01-26 22:29] bdash commented on #4590
It's going to be hard for us to determine what's going wrong if the sample code you provide doesn't reflect what your app is actually doing.

Would it be possible for you to share a prebuilt version of your app that reproduces the problem? That would allow us to observe the actual problem that you're seeing, and should make it possible for us to determine why you're seeing this file size growth. Y

[2017-01-26 22:41] raja-baz commented on #4590
@bdash What, exactly would I share with you? An IPA of the app? Would you need me to sign it/provide provisioning profiles or can you manage that part?

As for the usage pattern in question. The reproduction code above hits at least *some* bug in 2.2.0 and I highly suspect that fixing one will fix the other(both our app and the code above have no issue on 2.1.2 and a reproducible issue on 2.2.0. S

[2017-01-26 22:52] raja-baz commented on #4590
One last thing, if my model of how the Realm file versions things and grows is correct, and what you're saying about the issue being locking is true. Wouldn't it follow that adding a `[realm invalidate]` at the end of the autorelease block in `insertRun` should have no effect? If we're being pinned while trying to perform a transaction and causing old copies to linger, then what happens afterwards

[2017-01-26 23:05] samacs commented on #4590
That's exactly what I ended up doing!

[2017-01-26 23:23] bdash commented on #4590
An IPA of the app is sufficient. I can then re-sign it to work on one of my devices. It would be ideal if the app is built using the dynamic Realm framework (rather than the static one) so that I can replace the contained framework to test fixes or add extra logging.

What leads you to believe that the cause of the growth in the test code is the same as what you're experiencing in your real applic

[2017-01-26 23:35] jpsim commented on #4314
I heard other reports of slow transfers from our AWS S3 bucket yesterday. Has the situation improved since then?

[2017-01-27 00:21] bdash commented on #4590
I added logging of the initial and final version number within `realm::SharedGroup::promote_to_write`, which is what does the meat of the work of `-[RLMRealm beginWriteTransaction]`. I happened to reproduce the file size growth on my first run with the logging in place. What I saw is that in one single call to `promote_to_write`, the open Realm was ~1,500 versions behind the current (10-20 is typi

[2017-01-27 05:17] jpsim commented on #4586
No luck. Filed [rdar://30228957](http://www.openradar.me/30228957).

[2017-01-27 06:28] bdash commented on #4590
I wasn't able to reproduce that particular occurrence. Instead what I've seen since is that when the Realm file grows, it's because there's an `RLMRealm` instance created on a background thread whose lifetime is much longer than anticipated. I've been having trouble tracking down exactly why that is, but will resume looking into it tomorrow.

[2017-01-27 06:42] Isuru-Nanayakkara commented on #1277
+1

[2017-01-27 06:51] tbaranes commented on #4428
2.4.0 seems to fix that issue, still not sure what happened, thanks anyway!
Closing this now, I will let you know if I get it back.

[2017-01-27 06:51] tbaranes commented on #4422
2.4.0 seems to fix that warning for me.

[2017-01-27 09:41] svachmic commented on #4314
Yeah, it works now - I just tried on the same network. Is this a recurring problem? I did troubleshoot my side first for an extensive period of time (system update, newest curl installation, cocoapods reinstall etc.), but it looks like I was just wasting my time. Maybe it could be noted in FAQ or somewhere where people could find it?

[2017-01-27 16:49] exsortis opened #4596 "Cocoapods update to 2.3.x and 2.4.x fail"
## Goals

What do you want to achieve?

Update Pods in project with Realm >= 2.3

## Expected Results

Proper update of Pods in project.

## Actual Results

[code]

## Steps to Reproduce

What are steps we can follow to reproduce this issue?

1. `pod update`

## Version of Realm and Tooling

[In the CONTRIBUTING guidelines](https://git.io/vgxJO), you will find a script,
which will help determining

[2017-01-27 17:11] istx25 commented on #4586
Would we consider this blocked?

[2017-01-27 17:13] istx25 commented on #4596
This isn't a problem that's specifically related to Realm. I managed to create a new Xcode project using all of the same tools you are. [Here's a copy of the project](https://github.com/realm/realm-cocoa/files/735822/RealmTest.zip). I recommend reinstalling CocoaPods and filing an issue with them too.

1. `pod install`
2. `pod update`

Both worked for me. I'm closing but let me know if you need an

[2017-01-27 17:16] istx25 commented on #4578
Has this been included in a release yet? I'm guessing this was included in 2.4.0?

[2017-01-27 17:16] istx25 commented on #4578
@jpsim: Has this been included in a release yet? I'm guessing this was included in 2.4.0?

[2017-01-27 17:17] istx25 commented on #4571
Bringing attention back to @jpsim's request:

[2017-01-27 17:20] istx25 commented on #4539
Bringing attention back to my request, @Jufina.

[2017-01-27 17:22] #4530 closed

[2017-01-27 17:41] Jufina commented on #4539
Solved this.
The issue is about that Realm handle block is called while in write transaction.
We just used a main queue for handler.

[code]

[2017-01-27 19:54] chipotle commented on #4565
Fixed in the commit referenced above (and now live on the web site)

[2017-01-27 20:28] exsortis commented on #4596
This is still not working. I've tried both CocoaPods 1.1.1 and 1.2.0.rc.1, and it always fails when trying to install or update Realm 2.2 or 2.3. If I specify `pod 'RealmSwift', '< 2.2'`, it works fine. That feels a lot like a Realm issue and not a CocoaPods issue.

[2017-01-27 23:49] bdash commented on #4590
After looking into this further, I believe the problem is that `+[RLMRealm realmWithConfiguration:error:]`'s use of `RLMGetAnyCachedRealmForPath`results in a `RLMRealm` instance ending up in the autorelease pool of a different thread. This can result in that instance living much longer than expected, as repeated calls to `+[RLMRealm realmWithConfiguration:error]` may result in the lifetime of a si

[2017-01-28 01:01] bdash commented on #4590
Some extra logging confirms that's what is happening.

[2017-01-28 01:33] bdash commented on #4590
I submitted a fix for that problem in #4598. In my testing it addresses the file size growth that occurs with the test code in this issue. It's difficult to say whether it'll help what you're seeing in your real app.

[2017-01-28 10:30] onekiloparsec opened #4599 "Realm fails to access property on RealmSwiftObject instance"
## Goals

I am fetching custom objects from a REST service. A framework of mine transforms the JSON into Realm instances. The model class is the following:

    public class ObservingSite: Object {
        public dynamic var uuid: String = ""
        public dynamic var name: String = ""

        override public static func primaryKey() -> String? {
            return "uuid"
        }
    }

These

[2017-01-28 13:18] onekiloparsec commented on #4599
My bad, I made a test project and everything worked fine. For some reasons still unclear to me, I had to delete entirely the realm files (`.realm`, `.realm.lock` and `.realm.management`) and now it works.

[2017-01-28 13:28] danipralea commented on #4524
@stel This is what I'm using to add a message:

[code]

[2017-01-28 14:19] thomasgravina opened #4600 "Getting compile errors when running project with Xcode 8.2.1 / Realm 2.4.1 / Cocoapods 1.2.0"
## Goals

I want to be able to use Realm in a iOS Swift 3.0.2 project.

## Expected Results

For the project to compile and run.

## Actual Results
Getting error messages at compile time:
[code]

## Steps to Reproduce

- Followed Realm tutorial on how to get started:
- Enriched Podfile
- Ran pod install
- Open .xcworspace project
- Ran the project

## Code Sample
Podfile
[code]

Genre.swift
[code]

[2017-01-28 17:48] jpsim commented on #4596
Apologies for closing this before helping you resolve your issue.

Could you please run `sudo xcodebuild -license accept` and try running `pod install --verbose`?

It's also possible that CocoaPods has stale cache, you you could try deleting that to see if it helps.

[2017-01-28 17:53] jpsim commented on #4578
Yes this was resolved in 2.4.0

[2017-01-28 17:53] #4578 closed

[2017-01-28 21:01] onekiloparsec commented on #4599
Actually, the problem still persists. But it reappears on the second launch of the app. I'm a bit lost.

[2017-01-28 22:28] ivanschuetz opened #4601 "Improve error message when "Bad syntax in input message" occurs"
## Explanation

Without knowing, the user was trying to sync objects using an older version of the object server (while they were using the latest version of Realm/Swift. (Modified by @istx25).

## Actual Results

Sync doesn't work. There's a message

in the app's log. Complete log:

After I re-started the device and logged in again, I got the same error but with some numbers incremented:

More re

[2017-01-28 22:42] i-schuetz commented on #4601
I forgot to upgrade also the object server. I did it now and it works. Letting this open because the error message could be improved.

[2017-01-29 01:28] woodland021 commented on #4586
same issue :(

[2017-01-29 13:09] kukushi commented on #4599
Same issue here. Downgrading to 2.3.0, everything is fine.

[2017-01-29 14:45] kimdv opened #4602 "Error with sum aggregation in Lists"
## Goals

Sum all the properties in the list.

## Expected Results

Sum all the properties in the List

## Actual Results

The xcode said there is an error: Generic parameter ‘U’ could not be inferred.

## Code Sample

The periods are made like this
`let periods: List<Period> = List<Period>()`

Sum code
[code]

Average code
[code]

## Version of Realm and Tooling

Realm version: 2.4.1

Xcode versi

[2017-01-29 14:47] kimdv commented on #4602
I have just tested the other aggregations and min, max and average works on List<>.

Sum also works on Result lists

[2017-01-29 15:43] exsortis commented on #4596
Forcing the license acceptance seems to have done the trick. I think there might have something screwy on my machine with having both regular Xcode and the 8.3 beta installed at the same time. Thanks!

[2017-01-29 15:43] #4596 closed

[2017-01-29 17:27] onekiloparsec commented on #4599
Thanks a lot @kukushi ! Indeed, v2.3.0 doesn't have this problem.
I must say that I nonetheless wasn't able to reproduce it with v2.4.1 inside a blank new project. ???

[2017-01-29 23:29] RustyKnight commented on #4586
Should be filing our radars (basically copying yours) to get this more notice from Apple?

[2017-01-30 00:18] jpsim commented on #4586
@RustyKnight thanks for offering to help! The best way to do that is to help reduce the repro case. Duplicating the radar may or may not help draw attention to this.

[2017-01-30 00:38] jpsim commented on #4586
Apparently a fix is pending in apple/swift#7136

[2017-01-30 07:09] TimOliver commented on #3431
This has been added in [Realm 2.4.0](https://realm.io/news/realm-objc-swift-2.4/)! Yippee! :)

[2017-01-30 07:09] #3431 closed

[2017-01-30 07:58] dessmith commented on #4445
Hi,

I work with wolfAle, we've updated our app to use Realm 2.3.0 and unfortunately we're still seeing this issue.

It does not occur for all users, actually in an app with ~3000 users, we're getting ~3000 crashes affecting only ~30 users. It's significant as these users cannot use our application as migration is constantly failing, looking at the numbers its around 100 occurrences per users, mak

[2017-01-30 08:38] svenbacia commented on #4599
I have the same issue. I just upgraded to v2.4.1 and had the same issue. I went back to v2.3.0, restarted the app and everything was working fine again.

[2017-01-30 09:03] kirillsh commented on #4599
Same issue for 2.4.1. Downgraded to 2.4.0 - everything works fine

[2017-01-30 09:33] morten-krogh commented on #4568
I have basically lifted this restriction in a working branch. There are a few issues left.

[2017-01-30 09:42] stel commented on #4524
@danipralea to being able to help we need either an example Xcode project that reproduces your issue or at least a related code sample and the exact error message.

This code sample is not related to the previous one (https://github.com/realm/realm-cocoa/issues/4524#issuecomment-273902243), you don't call `add(message:)` method there at all.

Anyways, assuming `store` as a `Realm` instance, you ne

[2017-01-30 09:47] stel commented on #4484
@lonkly please take a look at https://github.com/realm/realm-cocoa/issues/2713 for some potential workarounds.

[2017-01-30 10:21] danipralea commented on #4524
the `Message` object does not have a primary key, only the `Entity` has one, that's why it's added without `update:true`

[2017-01-30 10:25] stel commented on #4524
@danipralea did you set an exception breakpoint in Xcode? Which line in your code produces this error?

[2017-01-30 10:45] danipralea commented on #4524
@stel thanks again for your reply.

The code snippet I posted 2 days ago generates the error. just the add message.
To give the context again:

I have 2 messages:
**Message 1**:
identifier = 1, entity has id = 1 (it's from another user than the current one

**Message 2**:
identifier = 2, entity has id = 2 (it's from me, cause my user has id=2)

If I try to add a new message, let's say
**Message 3*

[2017-01-30 11:10] i-schuetz commented on #4506
This turned to be trivial, I was just missing that:

`tableView.reloadSections(IndexSet(modifications), with: .none)`

Animates modifications to the list items in the sections, so it's not necessary to observe the list items. So the approach of having Section realm objects that contain `List` of items, and listening only to the section's notifications works perfectly fine.

[2017-01-30 11:19] i-schuetz commented on #4506
This turned to be trivial, I was just missing that:

`tableView.reloadSections(IndexSet(modifications), with: .none)`

Animates modifications to the list items in the sections. Which makes it not necessary to observe the list items. So the approach of having Section realm objects that contain `List` of items, and listening only to the section's notifications works perfectly fine.

I just also real

[2017-01-30 14:34] meteorSD opened #4603 "Xcode 8.3 compile with 7 errors"
Hi, i am currently having issues using Realm (version 2.4.2) with Xcode 8.3 (beta version). The project compile with 7 errors.

Here's a screenshot of the errors
<img width="381" alt="capture d ecran 2017-01-30 a 15 23 57" src="https://cloud.githubusercontent.com/assets/14254230/22426881/587295ec-e701-11e6-9f0c-1dc16a73dfec.png">

[2017-01-30 15:22] #4603 closed

[2017-01-30 16:53] istx25 commented on #4603
Hi @meteorSD. I noticed you closed this issue pretty soon after opening it. I assume this means you fixed it yourself but let us know if you need help with this or anything else. :-)

[2017-01-30 16:55] istx25 commented on #4602
Hi @kimdv! Thanks for reaching out. I'll review what you've shared and have someone respond with a solution or follow-up questions. Cheers! 🚀

[2017-01-30 16:56] istx25 commented on #4601
Hiya @i-schuetz! Thanks for filing this. I'm going to edit your issue to reflect your last comment (more of an enhancement than a bug) and have someone look into it. Cheers.

[2017-01-30 17:01] istx25 commented on #4600
Hi @thomasgravina! Thanks for reaching out. I'll have someone review what you've provided and respond with a solution or follow-up questions soon. 😸

[2017-01-30 17:02] istx25 commented on #4599
Thanks everyone for reporting this issue. Would someone be able to provide us with an Xcode project that reproduces this issue consistently so we can have one of the engineers look into it further. Thanks!

[2017-01-30 17:04] istx25 commented on #4592
My apologies for the delay, @wbervoets. We're working through a bit of backlog right now. I'm going to assign the issue to one of the other Cocoa engineers.

[2017-01-30 17:05] istx25 commented on #4591
Hey @alickbass! My apologies for the delay. We're working through a bit of backlog. I'm going to assign this issue to someone else who may be more available.

[2017-01-30 17:07] istx25 commented on #4539
@Jufina: Do you need any more assistance with this issue in particular?

[2017-01-30 17:15] jckarter commented on #4586
The issue arose when making a type conform to more than one of `MutableCollection`, `RangeReplaceableCollection`, and `{Bidirectional,RandomAccess}Collection` simultaneous. If you need a workaround, you can specify the type's `SubSequence` and `subscript(Range<Index>)` explicitly, for example:

[code]

[2017-01-30 17:24] istx25 commented on #4529
Bringing attention back to the issue. @Clear2: Can you please share a snippet of code or better yet, a sample project which reproduces this issue? Cheers.

[2017-01-30 17:39] tgoyne commented on #4602
`sum()` does not return an optional, while the other aggregation functions do (the sum of an empty set is zero, while the maximum of an empty set does not exist).

[2017-01-30 17:47] austinzheng commented on #4591
Hello! Thanks for getting in touch with us, and sorry that you're experiencing this issue.

The reason that this occurs is because `results` is an auto-updating collection. When you use `suffix()`, you create a slice, which is a view into the original results collection. When you call `delete(results)`, you are calling the version of the `delete()` method which takes in any generic Swift sequence,

[2017-01-30 18:03] kimdv commented on #4602
I figured it out.

Day is optional, and then will sum not work because the property that holds the Int have to be optional.

An idea is to make some ducomentaion about this?

I will close

[2017-01-30 18:03] #4602 closed

[2017-01-30 18:44] alickbass commented on #4591
@austinzheng That is the exact workaround that I already use) Just thought that it maybe worth pointing out this issue, or at least to mention somewhere in the docs, which methods can be used and which should be avoided

[2017-01-30 18:45] austinzheng commented on #4591
I agree, we may want to revisit how our `delete()` method is implemented, and definitely make it clear in the documentation what is going on. Thank you for bringing this to our attention!

[2017-01-30 19:05] tgoyne commented on #4552
The fix for this was released in 2.4.

[2017-01-30 19:05] #4552 closed

[2017-01-30 19:13] austinzheng commented on #4600
Hi! Thanks for reaching out to us, and sorry you're seeing this error.

To fix this error, you can set initial values on your properties, and then make your initializer a convenience initializer:

[code]

Hope that helps, let us know if you have any other questions! Thanks for using Realm!

[2017-01-30 19:14] jpsim commented on #4586
Thanks for the suggestion @jckarter! That does indeed fix compilation with Xcode 8.3 beta 1, but breaks previous versions of Xcode.

Unfortunately due to [rdar://30215450](http://www.openradar.me/30215450), we can't conditionally do this for the beta.

[2017-01-30 19:23] #4590 closed

[2017-01-30 19:25] jpsim commented on #4599
There were [no meaningful changes between 2.4.0 and 2.4.1](https://github.com/realm/realm-cocoa/compare/v2.4.0...v2.4.1) that could affect this, so reverting to 2.4.0 shouldn't help.

[2017-01-30 19:39] jpsim commented on #4603
This was likely closed because it's a duplicate of #4586, not that the user resolved this themselves.

[2017-01-30 20:05] jpsim commented on #4445
@dessmith you can help us by sharing a sample project that reproduces this problem.

Is it possible that you're performing file system operations (copy, move, delete, etc) on the Realm file(s) while accessing the database via Realm's APIs?

[2017-01-30 20:09] onekiloparsec commented on #4599
I can confirm: the problem exists with 2.4.0 and 2.4.1 but not with 2.3.0. But so far I couldn't reliably reproduce the problem in a test project.

[2017-01-30 20:11] bdash commented on #4599
`unrecognized selector sent to instance` errors are often the result of messaging a deallocated object. Have you tried reproducing this problem with zombies enabled? (Product -> Scheme -> Edit Scheme…, select the Run action, Diagnostics, and enable Zombie Objects).

[2017-01-30 20:27] ronaldmannak commented on #4599
Seeing the same issue. Downgrading to 2.3.0 works.

[2017-01-30 21:15] onekiloparsec commented on #4599
@bdash How the `po` command in the debugger would work then at that stage, as reported, if the object was already deallocated?

[2017-01-30 21:20] austinzheng commented on #4599
Sending a message to an object represented by a dangling pointer is undefined behavior, and may or may not cause an error in any given instance (depending on e.g. whether the memory the now-deallocated object lives in has been written to or not). The zombie detection tool is explicitly designed to detect this error case by replacing deallocated objects with special 'zombie' objects that detect if

[2017-01-30 21:32] onekiloparsec commented on #4599
I know that. But I am surprised the `po` command systematically find the content of the instance, and that I can inspect the RealmSwiftObject in the debugger.

[2017-01-30 21:34] bdash commented on #4599
`unrecognized selector sent to instance` errors are often the result of an object of the expected type being deallocated, and then an object of a different type being allocated at the same address. Messages like `-debugDescription` / `-description`, used by `po`, are handled by virtually all objects so they would typically continue to work against an object of an unexpected type.

[2017-01-30 22:37] kishikawakatsumi opened #4607 "Sync fails due to `Bad authentication` after an iOS application enter the background for a long time"
## Goals

Reconnection succeeds and synchronization is restarted when returning to the foreground.

## Expected Results

Synchronization resumes correctly.

## Actual Results

Synchronization fails due to `Bad authentication`.

[code]

## Steps to Reproduce

1. Press the Home button to enter an iOS application in the background state.
2. Wait around 15-30 minutes.
3. Return the application to the

[2017-01-30 22:39] austinzheng commented on #4607
Does the connection get re-established, or is it dead forever? If the token refresh period is 10 minutes, there's really nothing we can do to prevent the token from expiring, only to try and refresh it again when the app is re-launched.

[2017-01-30 22:40] dessmith commented on #4445
Interesting, there are some file operations that take place during startup. I'd like to send some code our code over, if you could look over it that would be great. Is there an email address I can send my code to?

[2017-01-30 23:08] svenbacia commented on #4599
I have been able to reproduce the issue in the [following project](https://github.com/svenbacia/RealmAccessPropertyCrash).

## Steps to reproduce
1. Start the app with Realm `v2.3.0`
2. Add a few objects to Realm
3. Click the `Crash or not` button to verify that you can access the added objects
4. Upgrade to Realm `v2.4.1`
5. Start the app and click the `Crash or not` button.
6. The app crashes

[2017-01-30 23:18] jpsim commented on #4445
Yes, please send to help@realm.io. Basically if you're performing file system operations while Realm is accessing the file, that could lead to corruption.

[2017-01-30 23:27] bdash commented on #4599
Thanks, @svenbacia! I was able to reproduce by following your instructions.

[2017-01-30 23:31] kishikawakatsumi commented on #4607
@austinzheng Yes, it seems dead forever until killing the app and re-launch it.

[2017-01-30 23:31] iandundas opened #4608 "Issues building framework with Realm dependancy"
## Goals

I have a project, "Tacks". Using Carthage, I'm pulling in a dependancy called [HotTakeRealm](https://github.com/iandundas/HotTakeRealm/). HotTakeRealm has Realm as a dependancy, given in it's own Cartfile. Tacks also uses Realm, and has Realm (same version) in it's Cartfile too.

The workspace for HotTakeRealm framework project has Realm & RealmSwift linked to the HotTakeRealm target as

[2017-01-30 23:34] austinzheng commented on #4607
I'll investigate. Thanks for reporting this.

[2017-01-30 23:42] bdash commented on #4599
One thing I've observed is that if you perform a clean build in Xcode between steps 4 and 5, the crash goes away. @svenbacia, can you test whether you see the same result?

[2017-01-30 23:56] istx25 commented on #4603
Good to know. Thanks for clarifying, @jpsim.

[2017-01-30 23:59] bdash commented on #4599
It looks to me like Xcode simply isn't rebuilding enough of the app code when updating from Realm Swift 2.3.0 to 2.4.x. Can anyone that's seeing this try doing a clean build of their app (Product -> Clean) and let me know if they still see crashes after doing that?

[2017-01-31 05:48] slavapestov commented on #4586
@jpsim Can you try a developer snapshot once Joe's fix makes it in to one?

[2017-01-31 05:49] slavapestov commented on #4586
@jpsim Also the version issue should be fixed in the snapshots too

[2017-01-31 06:23] johnburkey opened #4610 "Run Realm Swift on Ubuntu"
How hard would it be to get realm swift running on Ubuntu?

[2017-01-31 08:34] TimOliver commented on #4610
Hi @johnburkey! Thanks for the question!

We'd love to have Realm Swift running on Linux platforms in the future! But at the moment, it's sadly not possible. Realm Swift is built around Realm Objective-C which uses the reflection features of the Objective-C runtime to attach the Realm objects in code to the underlying Realm database.

Since the Objective-C runtime isn't available on any flavor of

[2017-01-31 08:40] svenbacia commented on #4599
I can verify that a clean after step 4 fixes the issue.

[2017-01-31 11:35] jdanthinne opened #4612 "Multiple migration with optional fields"
## Goals

I'm trying to write a correct migration path for the following model

Schema version 0
[code]
Schema version 1
[code]
Schema version 2
[code]

My migration block is
[code]
## Expected Results

A correct migration…

## Actual Results

For apps migrating from schema version 1 to 2, everything seems ok, because dateStart exists.
For apps migrating from schema version 0 to 2, its breaks…
[co

[2017-01-31 11:51] stel commented on #4506
Happy to hear that you've managed it to work properly, thanks for letting us know!

[2017-01-31 12:16] beloso opened #4613 "Support `NSDecimalNumber` directly"
## Goals

What do you want to achieve?
I have given a property the value of MAX_LONG
That property is the primary key

## Expected Results

What did you expected to happen?
No crashes

## Actual Results
I've received a crash:

What did happened instead?

[code]

`userId` is defined as follows:

`@property (nonatomic, copy, nonnull) NSNumber<RLMInt>* userId;`

## Steps to Reproduce

We've simply se

[2017-01-31 15:06] colasbd opened #4614 ""collection_notifications.hpp" not found"
## Goals
Use Realm

## Expected Results
My Project builds

## Actual Results
The building fails

## Code Sample
I use Realm in two projects. In project 1, the `pod update` failed with this message
![capture d ecran 2017-01-31 a 16 04 50](https://cloud.githubusercontent.com/assets/4303814/22470275/07fe5186-e7cf-11e6-99bf-35223078ed34.png)
(my internet connexion was unstable)

In project 2, I did `p

[2017-01-31 15:18] hartbit commented on #4251
I'm affected by this. Took me a while to figure out it was Realm's fault :)

[2017-01-31 16:24] istx25 commented on #4614
Hi @colasbd! Thanks for reaching out. I'll have someone review what you've shared and respond with a solution or follow-up questions as soon as we can. Cheers! 🚀

[2017-01-31 16:25] colasbd commented on #4614
Hi @istx25
Thanks for your 🚀 reply.
I've found a solution:
[code]

[2017-01-31 16:25] colasbd commented on #4614
I'll let you close the issue.

[2017-01-31 16:26] istx25 commented on #4613
Hi @beloso! Thanks for reaching out. I'll have someone look into this and respond with a solution or follow-up questions as soon as we can. 😸

[2017-01-31 16:27] istx25 commented on #4614
Awesome. Happy to hear you resolved it. Seems this was more of an issue with CocoaPods than Realm so I'll close it but @jpsim can follow-up if he has anything more to comment. Cheers! :)

[2017-01-31 16:27] #4614 closed

[2017-01-31 16:29] istx25 commented on #4612
Hi @jdanthinne, thanks for reaching out. I'll have someone review what you've shared and respond with a solution or follow-up questions soon. Cheers! :-)

[2017-01-31 16:31] istx25 commented on #4608
Thanks for reaching out, @iandundas. Someone will review this and be in touch soon. :-)

[2017-01-31 16:31] radu-tutueanu opened #4615 "The client only sends a REFRESH message when sending data"
In the 1.0.1 ROS, the server stops sending messages to clients with expired tokens.(default time for that is 10 min).

However, the cocoa binding only sends a refresh token when it wants to send some data.
That means it will stop receiving data after the access token expires until it will try to send new data.

Currently the server does not send any message to indicate that the client will not be

[2017-01-31 16:31] sipersso opened #4616 "Should persisted realm objects keep a hard reference to realm?"
## Goals
In CoreData it is a common practice to pass persisted objects to the next viewcontroller. If you do this in realm it seems as if the persisted object seems to have a hard reference to realm, which results in problems if you want to replace the realm file at runtime. You have to kill the app for the replaced database file to be used.  Should persisted realm objects keep a hard reference to

[2017-01-31 16:37] istx25 commented on #4616
Hiya @sipersso. Thanks for reaching out. We're working through a bit of backlog but someone will be in touch with an explanation/solution soon. Cheers! 😸

[2017-01-31 16:40] iandundas commented on #4608
Thanks :) as a stop-gap I've added a precompiled release for HotTakeRealm to github and it just downloads that now. But for the future it would be good to solve this. Cheers

[2017-01-31 16:44] austinzheng commented on #4615
I thought this was fixed? Upon receiving the refresh token, the binding and object store immediately forwards it to `sync`. However, I have noticed that the server does not seem to receive the token until the client attempts to transfer data, so it may be an issue with how `sync` decides to schedule sending up the token.

[2017-01-31 17:25] radu-tutueanu commented on #4615
You are right, this looks a bug in realm-sync. I'll open an issue.

[2017-01-31 17:30] #4615 closed

[2017-01-31 17:39] austinzheng commented on #4615
Great, thanks ❤️! Sorry for not reporting the sync issue earlier; I wasn't sure if it was intended behavior or not.

[2017-01-31 17:55] iMark21 commented on #4567
Hi! Same problem on 2.4.2

[2017-01-31 18:10] jdanthinne commented on #4612
Thanks!

[2017-01-31 18:19] tgoyne commented on #4616
[There is already a section in the documentation covering this](https://realm.io/docs/swift/latest/#deleting-realm-files). Is there anything further that you feel needs to be covered there?

[2017-01-31 18:20] dmorrow opened #4617 "Swift var with get and set are not automatically ignored"
## Goals

Add ignored property without using `ignoredProperties()`

## Expected Results

Properties not to be persisted.  When adding

    var name {
      return "John"
    }

The property `name` is not persisted and does not need to be added to `ignoredProperties()`.  However, using a swift `get` and `set` block in a `var` it does get persisted.

## Actual Results

Properties were persisted

##

[2017-01-31 18:55] jpsim commented on #4614
CocoaPods could do with improved logic about not caching incomplete downloads, but this is out of our hands.

[2017-01-31 18:57] istx25 commented on #4614
@jpsim: I'll look into filing an issue with CocoaPods about this or if there's an existing issue being tracked that I can add to.

[2017-01-31 18:58] tgoyne commented on #4617
Wanting to have overridden getters and setters for a property on unmanaged objects while still wanting the property to be persisted in Realm would be somewhat odd, but there's nothing inherently broken about it, so even if we could reliably detect this case and implicitly ignore the property it's not obvious that it would be the right thing to do.

[2017-01-31 19:02] dmorrow commented on #4617
@tgoyne I apologize if my issue report wasn't clear - I don't want the property to be persisted.  Its purely a synthesized property.
I am using the setter to set a number of synthesized properties in one shot.
I'd like it to perform exactly like the other example I gave:

    var name {
      return "John"
    }

[2017-01-31 19:04] tgoyne commented on #4617
Yes, what I mean is that someone else may want a similar property to be persisted, so we can't just automatically make it not persisted.

[2017-01-31 19:07] dmorrow commented on #4617
I see.  Thanks for the explanation.
I can imagine validating the newValue in the setter block, so I understand the use case.

[2017-01-31 19:07] #4617 closed

[2017-01-31 19:20] austinzheng commented on #4613
Thanks for reaching out to us, and sorry you're experiencing this problem.

I tried replicating this locally (creating a model as you described, and setting the `MAX_LONG` value on it). I wasn't able to reproduce this bug.

I don't quite understand your reproduction steps. When you say `We've simply sent MAX_LONG on a user ID via the remote server`, do you mean the remote server sent down the `MAX

[2017-01-31 19:26] bdash commented on #4599
Thanks for confirming. Since this appears to be an Xcode bug I'd encourage you to file a bug report with Apple with information on how to reproduce. I'll be closing this issue as I don't think there's anything we can do on our side to avoid this problem.

[2017-01-31 19:26] #4599 closed

[2017-01-31 20:55] austinzheng commented on #4607
May be related to https://github.com/realm/realm-sync/issues/1150. It's almost certain fixing that issue is a prerequisite to fixing this issue, whether or not there are other problems involved.

[2017-01-31 21:06] austinzheng commented on #4607
Also see notes for https://github.com/realm/realm-java/issues/4094#issuecomment-274510650. If I understand correctly, `203` occurs if the app attempts to `refresh()` the token but with an expired token.

One thing we could consider: upon an app resuming from background (listen for notification), we can check to see if our token is expired, and then if it is we can immediately ask the server for a

[2017-01-31 21:19] austinzheng commented on #4612
My guess is that `if oldSchemaVersion < 2 {` applies to both versions 0 and 1, so it's running for the 0-2 migration and not finding the `hasDate` property on the version-0 objects. I think the easiest way to solve your problem is to move your if statement into the migration block and make it run only when migrating from version 1 to a later version.

[code]

You might also want to check out our [

[2017-01-31 21:30] dmorrow commented on #1726
I solved this issue by making a clone of the object I wanted to transform to JSON

    let preferencesCopy: Preferences = Preferences(value: preferences)
    preferencesCopy.toJSON()

[2017-01-31 21:59] #4591 closed

[2017-01-31 23:23] joninsky commented on #4422
v2.4.0 Fixed this for me also.

[2017-01-31 23:30] #4422 closed

[2017-02-01 00:41] ironage commented on #3502
The recursion problem in the string index has been solved since core version 2.0 (specifically 2.0.0-rc7). This should no longer be an issue.

[2017-02-01 00:41] #3502 closed

[2017-02-01 02:46] sipersso commented on #4616
@tgoyne if Realm works as expected in this case, the documentation is incomplete. The documentation says "Realm instances hold a database connection for the exact duration of their lifetime.". But it doesn't say anything about that you can't keep any references of type RealmSwift.Object either.

For deleting and refreshing the realm file I need to clear, not only any references to Realm, but also

[2017-02-01 09:05] Jufina commented on #4539
@istx25
No, thanks for help with notifications handler. It works now.

[2017-02-01 09:23] jdanthinne commented on #4612
That was simple. Brilliant. Thanks.

[2017-02-01 09:23] #4612 closed

[2017-02-01 09:38] stel commented on #4608
@jpsim could you please help with this? Does Realm/Cartage support this scenario?

[2017-02-01 10:04] istx25 commented on #4539
Awesome, good to hear. :-)

[2017-02-01 10:04] #4539 closed

[2017-02-01 15:55] istx25 commented on #4567
@jpsim ^

[2017-02-01 19:16] jpsim opened #4620 "specify both Xcode and Swift version on CI"
As tracked in [rdar://30215450](http://www.openradar.me/30215450), Xcode 8.3 beta 1 is reporting its Swift version as "3.0", not "3.1" as it should.

This means that rather than running on Xcode 8.0, Swift 3.0 CI jobs are actually being run on Xcode 8.3 beta 1.

More generically, multiple Xcode versions may support compiling the same Swift version, such as when Xcode 9 comes out and has a Swift 3

[2017-02-01 20:54] #4620 closed

[2017-02-01 21:40] parbo86 commented on #4599
I had exactly the same issue. None of the above solutions worked for me but downgrading realm version to 2.3.0. I tried 2.4.2, 2.4.1 and 2.4.0, at each try I cleaned all targets, removed all build products, removed app from the device - all without success.

[2017-02-01 21:51] bdash commented on #4599
Multiple users have confirmed that doing a clean build after updating is sufficient to address the problem. If you're still seeing a crash then either you're not doing a clean-enough build, or you're seeing a similar-but-different problem. I'd suggest updating to 2.4.2, then doing Product -> Clean Build Folder… (hold down Option to see it) to do the cleanest build Xcode can. If you're still seeing

[2017-02-02 08:04] anlaital opened #4623 "SyncSession.addProgressNotification does not work"
## Goals

Get notifications for sync upload and download progress.

## Expected Results

Get sync progress notifications.

## Actual Results

Sync progress notifications are never delivered.

## Steps to Reproduce

What are steps we can follow to reproduce this issue?

## Code Sample

[code]

## Version of Realm and Tooling

Realm version: 2.4.2 / Realm Mobile Platform 1.0.0-2

Xcode version: 8.2.

[2017-02-02 11:22] beloso commented on #4613
The value was being provided by our server via a JSON endpoint, no it's not Realm Object Server.

We are further investigating what the issue is. We saw an RLMException and assumed it was related to realm.

[2017-02-02 12:12] CristianoCastro commented on #4613
I have been able to reproduce it via a test case, it seems its due to our serializer parsing it as a decimal number instead of integer, then we get the exception in RLMUtil.mm when validating the type.

[code]

Maybe we could validate a decimal as integer if it has no decimal value and fits within an integer, somewhat like you are doing with float validation.

[2017-02-02 12:47] santhoshs5 commented on #3136
Hey guys ,

I am late to this party and newbie to Realm

I have created a signleton class having following method to write but it crashes at times because incorrect thread access

Let me know what I am doing wrong here.

 func save<T:Object>(_ realmObject:T) {
        let backgroundQueue = DispatchQueue(label: ".realm", qos: .background)
        backgroundQueue.async {
            let realm = try!

[2017-02-02 13:02] santhoshs5 opened #4624 "Realm async writes really works"
I have created a singleton class having following method to write but it crashes at times because of incorrect thread access:

[code]

I am getting crash always.

[2017-02-02 17:38] lowki93 opened #4625 "Delete realm file"
I use this to delete my database

[code]

But nothing was deleted

[2017-02-02 17:40] istx25 commented on #4524
Bringing attention back to this issue. cc @stel

[2017-02-02 17:42] istx25 commented on #4616
Bringing attention back to this issue. cc/ @tgoyne

[2017-02-02 17:42] istx25 commented on #4623
Hi @anlaital. Thanks for reporting this. One of our engineers are looking into it.

[2017-02-02 17:46] istx25 commented on #4624
Hi @santhoshs5. Would you be able to provide us with a code snippet of where you call `func save<T:Object>(_ realmObject:T)` as well as the stack trace for the crash. I'm looking forward to seeing this as we'll be able to better assist you.

[2017-02-02 17:50] bdash commented on #4624
@santhoshs5, in your code snippet you're passing an object across threads. Realm objects can only be access on the thread on which they were created. See the documentation's section on [passing instances across threads](https://realm.io/docs/swift/latest/#passing-instances-across-threads) for more information.

[2017-02-02 17:55] istx25 commented on #4625
Thanks for reaching out, @lowki93.

To better assist you, I'd love to know why you would like to remove the actual files instead of something like purging all of the files? Mind elaborating. Nonetheless, this Stack Overflow answer may be able to provide you with some more information on both methods: http://stackoverflow.com/a/26067337/7443852.

Such as...

[code]

[2017-02-02 18:02] bdash commented on #4625
@lowki93, what do you mean when you say that nothing was deleted? Are you testing whether the files still exist after running the code you've shared, or determining this some other way?

[2017-02-02 18:07] lowki93 commented on #4625
iI said nothing was deleted, because I fetch my principal object and it's not empty.

[2017-02-02 18:11] bdash commented on #4625
That strongly suggests that you still have the Realm open at the point when you delete the files. Deleting the files only removes their names from their parent directory, preventing anyone from opening that file going forwards. Anyone that already has the file open can continue to work with the file's data until they close the file descriptor referring to that file. You _must_ ensure that all `Rea

[2017-02-02 19:49] #4616 closed

[2017-02-02 19:49] austinzheng opened #4626 "Rework how sync progress notifications are dispatched"
I talked to @bdash about this on Slack, but wanted to solicit more opinions, especially from @tgoyne and @jpsim.

Right now, we (attempt to) dispatch our sync progress notifications onto the same thread upon which they were registered. We do this to conform to the behavior of our Realm, collection, and object notifications. This works great if the user registers their sync progress notifications o

[2017-02-03 01:11] danipralea commented on #4524
Thank you both @istx25 and @stel

[2017-02-03 02:24] dmorrow opened #4627 "Migration documentation"
The documentation on migrations is not clear that most migrations will run by just incrementing the schemaVersion number

A list of what is migrated automatically would be very helpful.  There is some mention in the same code block, but this is easy to overlook.

[2017-02-03 05:55] santhoshs5 commented on #4624
@bdash  I considered your input and changed the method to following.
Now I am getting this exception
'RLMException', reason: 'Cannot construct reference to unmanaged object, which can be passed across threads directly'

  func save<T:Object>(_ realmObject:T) {
        let objectRef = ThreadSafeReference(to: realmObject)
        let backgroundQueue = DispatchQueue(label: ".realm", qos: .background)

[2017-02-03 05:57] santhoshs5 commented on #4624
@istx25

I am calling this method as following.

        RealmHelper.shared().save(userInfo!)
Here userInfo object realm object.

[2017-02-03 08:00] bdash commented on #4624
As the exception says, unmanaged objects (i.e., objects not associated with a Realm) should be passed directly rather than via a thread safe reference. The fact you're hitting both exceptions from the same code suggests you're passing both unmanaged and managed objects, so you'll need to accommodate that.

[2017-02-03 08:49] santhoshs5 commented on #4624
@bdash

I do get that to clear the confusion managed object means Realm objects which are derived from Object.

is it good practice to have singleton to manage realm.

Could you explain me more from my code what's wrong. as i am newbie to realm.

One more thing I am using this method for reading from realm.

 func fetch<T:Object>(type:T.Type,predicate:NSPredicate?) throws -> Results<T>{
        le

[2017-02-03 08:53] rokgregoric opened #4628 "Prevent throwing RLMException "Object has been deleted or invalidated". Return nil instead."
## Goals

The problem I am facing happens when a deleted object is accessed by the UI (fetched form the DB and referenced before being deleted).
Realm throws an exception (RLMException - "Object has been deleted or invalidated").

Checking the object if `isInvalidated` or using unmanaged (detached) objects - `Object(value: ferchedObject)` is an option, but makes the code super ugly with tons of ch

[2017-02-03 09:35] lowki93 commented on #4625
How I check all Realm Instances ?

[2017-02-03 09:55] Ustimov opened #4630 "Migration crash"
## Goals

After successful migration at first run, app crashes at next startup with strange error. I want app startup without crash any time.

## Expected Results

Correctly completed app startup.

## Actual Results

[code]

## Steps to Reproduce

1. Clone and open demo project

[code]

2. Run project in simulator (I use iPhone SE simulator)

3. After app starts stop it

4. Run app yet another tim

[2017-02-03 11:52] stel commented on #4524
Sorry for a delay with reply @danipralea, but unfortunately I haven't received the info I requested.

I've made an example that shows how you need to handle primary keys in a described case, hope it helps ;)

[code]

If you need to update `Entity` everytime you save a new message, you can use this approach instead:

[code]

[2017-02-03 17:24] istx25 commented on #4592
Bringing attention back to this issue. cc/ @jpsim @bdash

[2017-02-03 17:30] istx25 commented on #4627
Hi @dmorrow. Thank you for reaching out about this. I'll have someone respond with some more information or refer you to an existing resource soon. Cheers!

[2017-02-03 17:31] istx25 commented on #4628
Thanks for filing this, @rokgregoric. Someone will take a look at your PR soon. :)

[2017-02-03 17:41] istx25 commented on #4630
Hi @Ustimov. Thanks for reaching out. One of our engineers will look into the issue and follow-up with a solution or some additional questions. Cheers.

[2017-02-03 17:54] beloso commented on #4231
I am experiencing this issue. I can't seem to have found a way to reproduce it.

Is there any way I can help getting to the bottom of this?

I do have something like:

[code]

It truly has a query inside the write transactions, but it doesn't crash all the times

[2017-02-03 18:35] hdoria commented on #1693
Any progress on this?

[2017-02-03 19:04] austinzheng commented on #4613
It turns out we don't support `NSDecimalNumber` right now unless you get the primitive value and then rewrap it in a regular `NSNumber`. You can use that as a workaround for now; I'm going to repurpose this ticket for tracking adding in that functionality. Thanks for reporting this, and best of luck with your future endeavors.

[2017-02-03 19:33] jpsim opened #4631 "Document which threads/queues all user-provided blocks are invoked on"
The block arguments for the methods in our public APIs are sometimes invoked once synchronously (`Realm.write(...)`), sometimes multiple times asynchronously on the thread on which it was added (`Realm.addNotificationBlock(...)`) and sometimes multiple times asynchronously on an internal thread or queue (`SyncUser.logIn(...)`).

We should audit all our APIs that accept blocks to specify their beha

[2017-02-03 19:35] austinzheng commented on #4631
In terms of the `Login` callback (and all other sync callbacks in which users are expected to do UI work or set up Realms), I think the best solution is to just dispatch them to the main queue. Right now the way all these callbacks work violates the principle of least surprise.

[2017-02-03 19:40] jpsim commented on #4631
We've discussed this before. I don't think forcing a queue dispatch is the right move, since as a user you then can't avoid it.

In some other ticket, we proposed an improved API where an optional callback queue could be specified, defaulting to the main queue (which addresses the principle of least surprise which you mention) but also settable to `nil` to avoid a dispatch of any sort.

Regardless

[2017-02-03 19:56] austinzheng commented on #4623
Sorry about your issue. It turns out there is a bug; to work around it for now you can dispatch the `addProgressNotification` calls to the main queue.

[2017-02-03 20:59] danipralea commented on #4524
@stel I can't use a `primaryKey` for the message, because the temporary message does not have an identifier yet. only a `temporaryIdentifier`

[2017-02-03 23:19] #4335 closed

[2017-02-04 08:15] santhoshs5 opened #4634 "Help correct code for uncaught exception: Realm accessed from incorrect thread"
**Original Title**: _terminating with uncaught exception of type realm::IncorrectThreadException: Realm accessed from incorrect thread._

I am using Realm for my persistence. Now I really confused should i use realm or not. I am using AlamoFire, ObjectMapper and Realm. The following is my code:

[code]

Once I get success response from server for my login.

[code]

When I am trying to accessing `U

[2017-02-04 11:08] kubatruhlar commented on #1120
@jazz-mobility You can make your own custom transformation [custom-transforms](https://github.com/Hearst-DD/ObjectMapper#custom-transforms) or use an existing one [ObjectMapper+Realm](https://github.com/jakenberg/ObjectMapper-Realm)

[2017-02-04 18:58] santhoshs5 opened #4635 "Can't we access an object which is added to realm"
I have an object "User" model declared as realm object.

[code]

Now i am adding it to realm like below.

[code]

The same object i have in singleton class `UserSession`. If i access the object from singleton after adding it to realm, I am getting incorrect thread exception but I have already add the object.

[code]

I am getting the on above line. I did not understand.

[2017-02-05 07:48] tkallioras opened #4636 "Acknowledgments text format in pods-acknowledgments.plist not well formatted"
## Goals

Produce an Acknowledgements section in Settings.bundle by use of cocoapods-acknowledgements plugin

## Expected Results

Have the Realm Acknowledgements text shown in the Settings among all other framework acknowledgements

## Actual Results

Realm Acknowledgements do not appear. There is a large gap where the text should appear. The other acknowledgement texts appear just fine.

## Step

[2017-02-05 08:30] Ustimov commented on #4630
Thanks!

Now I figured out what crashing depends on sequence of realms opening.

All I want is merge current user realm and new bundled realm which comes with update.

So, if I first open current user realm (oldRealm) then first app run is ok and ALL next runs results in app crash.

[code]

If I change the order then first run is ok, ONLY second run results in crash and all next runs is ok.

I'm n

[2017-02-05 10:24] matthijsotterloo commented on #4586
Is there a fix for this yet? I want to run my app in Xcode beta but can't get it to run due to these errors.

[2017-02-05 22:54] jpsim commented on #4586
A fix was merged in apple/swift#7136, so any Swift snapshot after Feb 1st should work.

[2017-02-06 05:48] phlippieb commented on #1580
+1

Use case: limiting the results by reading a predetermined number of objects from a query is not bounds safe. Our app crashes when the count of a query result changes while we are looping through it and reading objects.

[2017-02-06 08:08] macvinod opened #4637 "Property not ignored in swift 3.0"
have this kind of property how can i ignore this property
` var photos = Array<RLMFile>()
`
I am ignoring below way
[code]
but didn't ignored #2734

[2017-02-06 09:20] stel commented on #4524
@danipralea right, I've updated my example, however it's not related to your case, so just try to use the same approach with ObjectMapper.

[2017-02-06 09:33] kharmabum opened #4638 "RLMClassInfo::propertyForTableColumn crash"
Realm version: v2.2.0
Xcode version: 8.2.1
iOS/OSX version: 10.3

<img width="689" alt="screen shot 2017-02-06 at 1 31 40 am" src="https://cloud.githubusercontent.com/assets/783557/22641621/51e9db30-ec0c-11e6-84c5-06b66fc0fe23.png">

[2017-02-06 10:49] danipralea commented on #4524
@stel Thank you very much for your message. does it work if the entity with id = 2 (my current user) has not been inserted yet? Cause that can be the case as well - where I open the app and load first a conversation with messages all except from me (the current user).

Do I need to make a check first and add it if it's not in the realm?

[2017-02-06 10:49] andrewebling commented on #1572
Any further thoughts or update on this? It's the last thing that is holding up my adoption of Realm on a few projects.

[2017-02-06 10:54] stel commented on #4524
[code]
returns `nil` if no instance with the given primary key exists, while
[code]
creates an object, or updates the existing one.

[2017-02-06 11:56] beloso commented on #4370
Additionally I feel that PK should be considered "mandatory" by default. `nil` should not be of type
`RLMPropertyTypeString` nor `RLMPropertyTypeInt`. And teh documentation states the following:

[code]

[2017-02-06 13:44] siemensikkema opened #4639 "addNotificationBlock for Result<T> does not fire for changes to properties of children of T"
## Goals

I have 2 Realm object types: T and U where T has many U.

When adding a notification block to a Results\<T\> container type, I want to receive notifications for changes to properties of instances of U belonging to one of the Ts in the container.

## Expected Results

I expect to be notified when the value of a property of U changes.

## Actual Results

No notification is sent. However, n

[2017-02-06 15:56] istx25 commented on #4639
Hi @siemensikkema. Thanks a lot for reaching out. I'll have one of the engineers look into this. In the meantime, would you be able to share that example project you mentioned? Just to speed up diagnosis of if this is expected behaviour or a bug with Realm. Cheers!

[2017-02-06 16:00] istx25 commented on #4638
Hi @kharmabum. Thanks for reaching out. Would you be able to provide us with a sample project demonstrating the issue and any other information you can provide? From there, we'll be able to get one of our engineers to look into this.

[2017-02-06 16:05] istx25 commented on #4637
Hi @macvinod. Thanks for reaching out about this. As the [documentation states](https://realm.io/docs/swift/latest/#ignored-properties), you can ignore properties using the following syntax:

[code]

You'll want to use the `static` keyword instead of the `class` keyword and remove `as String`. Please let me know if this helped and/or you have any other questions.

[2017-02-06 16:08] istx25 commented on #4636
Hi @tkallioras. Thanks for letting us know about this! We'll look into fixing this soon.

[2017-02-06 16:21] macvinod commented on #4637
It's not working for me .
Here is my complete code for this.
[code]

[2017-02-06 16:27] istx25 commented on #4635
Hi @santhoshs5. Thanks for reaching out about this. Although some additional sample code would be helpful (specifically the code right before the `backgroundQueue` ivar) but from what you have provided, I believe this issue has to do with the passing an instance (in this case: `user`) across threads without any accommodation for the fact that it's crossing into a different thread.

I recommend rea

[2017-02-06 16:39] istx25 commented on #4637
Would you be able to share the versions of Realm and Tooling that you're using? [In the CONTRIBUTING guidelines](https://git.io/vgxJO), there's a script that can help determine these versions for you.

[2017-02-06 16:45] istx25 commented on #4637
However, in the meantime - there's a few things in your code that I've noticed:

- The presence of `RLM` in Realm class names leads me to believe that you're either using an old version of RealmSwift or attempting to use Realm (Objective-C) in Swift. Please make sure you're importing `RealmSwift` into your Swift files and I recommend using the latest version of Realm.
- `Key` is inheriting `ModelW

[2017-02-06 16:46] macvinod commented on #4637
Using Realm (2.4.1)
Using RealmSwift (2.4.1)

[2017-02-06 16:47] istx25 commented on #4637
Okay. Thanks for providing those values, @macvinod. Please review my last message but please also make sure you `import RealmSwift` not `import Realm`.

[2017-02-06 16:56] macvinod commented on #4637
please wait . I will try your suggestions

[2017-02-06 17:01] macvinod commented on #4637
Now it's working . Thanks for your excellent support  👍

[2017-02-06 17:01] #4637 closed

[2017-02-06 17:04] istx25 commented on #4637
😸 Awesome. Happy to hear that, @macvinod! We're here if you need anything else.

[2017-02-06 17:14] istx25 commented on #4634
Please follow-up on https://github.com/realm/realm-cocoa/issues/4635. I believe the problems are linked so we can continue the conversation over there.

[2017-02-06 17:34] siemensikkema commented on #4639
@istx25 @bdash I'm working on an example project. So far, the most basic version does not reproduce the error. I'm still figuring out how to reproduce my results.

[2017-02-06 17:40] istx25 commented on #4639
Sounds good. Thanks for preparing that for us. 😸

[2017-02-07 02:26] Jinxiansen opened #4641 "Unable to allocate this memory size"
无法分配这个内存大小？😂😂😂

**Translation**: _Unable to allocate this memory size_.

Code sample:

[code]

Error:
[code]

[2017-02-07 06:08] Xiahaiquan opened #4642 "Running crashes"
Being given as follows：

How can i fix this
Thank you

[2017-02-07 06:08] jpsim commented on #4586
`master` now compiles with Xcode 8.3 beta 2.

[2017-02-07 06:08] #4586 closed

[2017-02-07 10:08] beloso commented on #4231
I have gotten a few more crashlogs about this.

From the crash logs it appears that the problem occurs when changes are being made that fire change notifications to collections. The problem seems to me, is that those changes are being fired before from within the transaction.

I can confirm to you that I am not adding notification blocks from within write transactions, but I am surely making chang

[2017-02-07 14:00] #4642 closed

[2017-02-07 14:02] Xiahaiquan commented on #4641
应该是你要存储的数据对象未被正确初始化

[2017-02-07 14:07] danipralea commented on #4524
@stel It also happens for saving into the database:

[code]

[2017-02-07 14:57] wbervoets commented on #4592
Any update? If you need more information, please let me know

[2017-02-07 15:09] Xiahaiquan commented on #4642
对象未被正确初始化

[2017-02-07 16:17] istx25 commented on #4592
Hi @wbervoets. My apologies for the delay. There's a lot going on right now! Would you be willing to put together a simple sample project that reproduces the issue while we wait? Thanks.

[2017-02-07 16:24] istx25 commented on #4642
Hi @Xiahaiquan. Happy to hear you could resolve the issue yourself. Let us know if you need help with anything else. :-)

[2017-02-07 16:28] istx25 commented on #4641
Hey @Jinxiansen! Thanks for reaching out. Would you be able to share a sample project that reproduces/demonstrates the problem you're experiencing? Cheers.

[2017-02-07 16:32] #4634 closed

[2017-02-07 16:40] jckarter commented on #4586
Were there any other changes necessary from the 8.2-compatible version to compile with 8.3 beta 2?

[2017-02-07 17:00] jpsim commented on #4586
Have you seen this comment? https://github.com/realm/realm-cocoa/pull/4640#issue-205720145

[2017-02-07 17:04] jckarter commented on #4586
Ah, yeah, beta 2 was in the pipe before the fix landed in master. It should show up in the next seed. At that point, hopefully you can remove the conditional compilation.

[2017-02-07 17:47] jpsim commented on #4586
We'll probably just keep the conditional compile. Thanks for the follow up!

[2017-02-07 17:58] jckarter commented on #4586
That's your call, but I'd appreciate the verification that it's unnecessary by the time 3.1 final ships.

[2017-02-07 19:46] ivan-konov opened #4643 "Carthage-related: warning: Swift error in module RealmSwift when trying to debug/print an object in the console"
## Expected Results

Be able to print the contents of let things = realm.objects(Thing.self) from the code sample(I know now there should be nothing in there but this is not relevant to the issue IMO).

## Actual Results

I get this warning:

warning: Swift error in module RealmSwift.
Debug info from this module will be unavailable in the debugger.## Steps to Reproduce

What are steps we can follo

[2017-02-07 20:52] rex-remind101 opened #4644 "Change `internal init(rlmArray: RLMArray<RLMObject>)` to `public`"
## Goals

Our app is mixed Swift/Objective-C with all new code written in Swift. We find ourselves having to duplicate complex logic in Swift for both `RangeReplaceableCollection` and `RLMArray` because `RLMArray` does not support `RangeReplaceableCollection`. However `List` does support `RangeReplaceableCollection` but there is no exposed way to convert `RLMArray` to `List` for swift code. Please

[2017-02-07 20:57] bdash commented on #4644
This conversion is already exposed as [`ObjectiveCSupport.convert(object:)`](https://github.com/realm/realm-cocoa/blob/47f3c9cd036910c496c7f9d48dd510b15062bfba/RealmSwift/ObjectiveCSupport.swift#L48-L51).

[2017-02-07 20:59] rex-remind101 commented on #4644
Oh man, awesomesauce, thanks!

[2017-02-07 21:00] #4644 closed

[2017-02-07 21:39] austinzheng commented on #4643
Sorry to hear you're having problems. I tried replicating the problem with the setup you described above and couldn't reproduce it.

Could you try cleaning and rebuilding your project (Product menu while holding down Option --> Clean Build Folder), and seeing if you still run into the same problem?

[2017-02-07 21:40] rex-remind101 commented on #4644
@bdash is there a way to convert `Object` to a `T: RLMObject` if the `List` was generated from an `RLMArray<T>`?

[2017-02-07 21:43] rex-remind101 commented on #4644
Looks like `unsafeBitCast(object, to: T.self)` may be the path forward.

[2017-02-07 21:46] austinzheng commented on #4625
There's no simple answer to that question. You need to know all the places in your code that reference the Realm you're interested in, and make sure that _all_ the references have been invalidated.

Note that simply making sure all the references have been set to nil or reassigned is **not** enough. Your `Realm` instances (and all the related `Object`s, etc) won't actually get deallocated and clea

[2017-02-07 21:53] ivan-konov commented on #4643
The problem persists. Whatever I try to print if I break at let's say
`for thing in things {` in `tryStuff` prints this warning and then does the actual printing of the object.

[2017-02-07 21:58] austinzheng commented on #4643
Is there any chance you can provide us with a sample project that reproduces the issue? Otherwise, I'm inclined to close this as a low-priority ticket, since it's not really interfering with your ability to debug. We've seen similar issues before, but they've all been transient.

[2017-02-07 21:59] ivan-konov commented on #4643
Sure. Should I send it to and email or upload it somewhere?

[2017-02-07 21:59] austinzheng commented on #4643
You can send it to help@realm.io. Thanks!

[2017-02-07 22:04] austinzheng commented on #4624
This is not correct.

If you create an object from scratch (for example, `let myObject = SomeObject()`), that object starts out as **unmanaged**. You can pass it between threads like any normal object.

Once you add that object to a Realm, it becomes **managed**. You _can't pass it between threads anymore_ without using the thread safe reference API. If you retrieve an object from a Realm, that ob

[2017-02-07 22:04] #4624 closed

[2017-02-07 22:07] ivan-konov commented on #4643
You should have and email :)

[2017-02-07 22:08] austinzheng commented on #4641
Hello! It looks like the file you are trying to open is ~3 GB in size. iOS won't let any application `mmap` that much memory. Can you tell us more about your Realm file and use case? Is this a problem you are seeing on user's devices? Or is it a problem you are seeing when developing your app?

[2017-02-07 22:18] austinzheng commented on #4643
Thanks for sending us a sample project. It seems to have something to do with Carthage. I'm going to repurpose this ticket to track this problem so we can investigate further. Thanks for reporting it!

[2017-02-07 22:58] austinzheng commented on #3779
This ticket is too broad to be of use anymore.

[2017-02-07 22:58] #3779 closed

[2017-02-07 22:59] ivan-konov commented on #4643
Sure! I'd be glad to help make Realm better :)

[2017-02-07 23:00] austinzheng commented on #1097
We have a handover mechanism now. This ticket is too far ranging to be of any further use.

[2017-02-07 23:00] #1097 closed

[2017-02-08 10:02] beloso commented on #4231
@jpsim is this issue being tracked here? or on #4515?

My app is crashing a lot due to this issue. I've tried to remove all queries from my transactions, but it still crashes :(.

[2017-02-08 11:00] stel commented on #4524
It does happen if you run this code for the second+ time when there are already entities with the specified primary keys. This is an expected behavior. That's why there is `create(_, value:, update:)`.

[2017-02-08 11:48] siemensikkema commented on #4639
@istx25 @bdash I finally managed to get to the bottom of the issue. I made [an example project](https://github.com/siemensikkema/realmNotificationBug) to demonstrate it (all relevant code is [here](https://github.com/siemensikkema/realmNotificationBug/blob/master/NotificationBug/Realm.swift)). It turns out the problem occurs when there is a third type of object involved.
In the example I have a Gu

[2017-02-08 13:31] harryworld commented on #4641
I have seem a similar case. It grows up to 3GB.
We have 4 entities, and only one 1-to-n relationship between two entities.
In a similar user journey for another user, the file size is as small as 200MB only.
Some of our users have been using the app since our early versions embedding Realm 0.98.x, and upgrade to recent Realm along the way.

[2017-02-08 16:17] plivesey commented on #4540
We are seeing the same issue. The crash is less common for us, but still significant. The stack trace looks exactly the same (LinkingObjects and get_backlink_view). Here's the code where it crashes for us:

[code]
[code]

We can't reproduce it yet though.

[2017-02-08 16:36] istx25 commented on #4639
Thanks for sharing this with us. We'll have someone look at this as soon as possible.

[2017-02-08 16:42] istx25 commented on #4638
Just bringing attention back to this issue. @kharmabum: Would you be able to provide us with a sample project demonstrating the issue and any other information you can provide? From there, we'll be able to get one of our engineers to look into this. Thanks.

[2017-02-08 16:43] istx25 commented on #4600
Closing due to inactivity. @thomasgravina: Please follow-up if you need additional help and we can re-open the issue.

[2017-02-08 16:43] #4600 closed

[2017-02-08 16:45] istx25 commented on #4520
Bringing attention back to:

[2017-02-08 16:45] istx25 commented on #4499
Closing due to inactivity. @ssam2000: Feel free to follow-up and we can re-open if necessary.

[2017-02-08 16:45] #4499 closed

[2017-02-08 16:46] istx25 commented on #4529
Bringing attention back to the issue. @Clear2: Can you please share a snippet of code or better yet, a sample project which reproduces this issue? Cheers.

[2017-02-08 17:17] plivesey commented on #4540
@rafalkitta any updates on how to reproduce this? We don't really have any leads except our stack trace.

[2017-02-08 17:50] santhoshs5 commented on #4635
@istx25  Thanks for follow up.
Let me clear my understandings.
I have a Realm Object called (User) which I added it to realm.

the same object i have in some singleton as instance variable so I cant use the object which is there in singleton as I have already added that object to Realm.

am I correct ?

Please correct if anything is wrong.

[2017-02-08 18:50] dhmspector commented on #4623
(@austinzheng: adding the gist/sumary of our slack chat here to capture the other manifestation of this issue so it's part of the solution history)

DS: Am seeing the same issue - It feels like a  possible race condition - My code is almost exactly the same - the realm has just been connected but I am guessing there isn't any sync operation yet in progress so the `addProgressNotification` is retur

[2017-02-08 19:19] jpsim commented on #4644
yes, it should always be safe to bitcast an `Object` to an `RLMObject`

[2017-02-08 19:38] tgoyne commented on #4639
Oops. It's only checking if the first non-nil linked objects is modified rather than if any of them are modified.

[2017-02-08 21:09] dmorrow opened #4646 "Property used to populate MFMailComposeViewController slow to resolve"
## Goals
Populate MFMailComposeViewController.setToRecipients() with an email that is a property of a relationship on a Realm object

## Expected Results

To: in the MFMailComposeViewController should show the email from the Realm object

## Actual Results

The To: field is only populated intermittently, and never on the first attempt.  Almost like a cache needs to be created for this property.

I

[2017-02-08 21:58] mrh-is opened #4647 "Add a method to create an empty Results"
## Goals

I have some table provider classes that conform to `UITableViewDataSource`/`Delegate` and are powered by Realm. These classes currently use a `var objects: Results<MyObject>?` variable to hold onto the list of objects. This list is provided by the VC before the table is displayed.

It's unfortunate that I need to use an optional here, but there is no way to provide a default value. If th

[2017-02-08 22:02] jpsim commented on #4647
Using an IUO isn't bad swift, that's exactly the use case it's intended to serve.

If you really need an empty `Results`, you can do `realm.objects(Model.self).filter("FALSEPREDICATE")`. Unlike `List` and `Object` subclasses, `Results` can never be unmanaged.

[2017-02-08 22:04] mrh-is commented on #4647
Ah, hmm. Ok! An IUO it is then! Thanks!

[2017-02-08 22:04] #4647 closed

[2017-02-08 22:18] rex-remind101 commented on #4644
@jpsim I keep crashing on `RLMIterator` it looks like when I call `contains`
[code]
The exception is
[code]
My guess is `as! Object?` is dynamically type checking and failing since `MyObj`'s type does not derive from `Object`. Should this be changed to
[code]
or more simply
[code]
?

[2017-02-08 22:21] rex-remind101 commented on #4644
Hmmm....
[code]
leads to
[code]
something odd is up

[2017-02-08 22:24] jpsim commented on #4644
No, that's not odd at all. `unsafeBitCast` requires that the same internal layout be used between types it's bitcasting. Going from `Object` to `RLMObject` should be safe since the first is a subclass of the second, but the other way around is not safe.

[2017-02-08 22:24] rex-remind101 commented on #4644
How do I convert from `RLMObject` to `Object`?

[2017-02-08 22:25] jpsim commented on #4644
Looks like that conversion is missing from `ObjectiveCSupport.swift`'s conversion methods.

[2017-02-08 22:25] rex-remind101 commented on #4644
Would it be easy enough to write on my end? Have a deadline I'm trying to meet :)

[2017-02-08 22:29] jpsim commented on #4644
We've always made it quite clear that the Objective-C and Swift Realm APIs aren't designed to interoperate. There are partial solutions to converting RLMObjects to Objects and vice-versa, but a complete solution is more involved than I can provide right now.

You may have some luck with [`Object.unsafeCastToRLMObject()`](https://github.com/realm/realm-cocoa/blob/v2.4.2/RealmSwift/Util.swift#L48-L5

[2017-02-08 22:29] tgoyne commented on #4644
You can't pass an object which is actually an `RLMObject` subclass to something expecting an `Object` subclass. It works the other way around because `Object` secretly implements all of `RLMObjects`'s methods and just doesn't expose some of them publicly, but the inverse is not true.

[2017-02-08 22:59] rex-remind101 commented on #4644
How does `func convert(object: RLMArray<RLMObject>) -> List<Object>` work safely then?

[2017-02-08 23:02] tgoyne commented on #4644
The only safe use of it is when it's called on an RLMArray of an `Object` subclass (i.e. when it's passed a thing that isn't actually a `RLMArray<RLMObject>`).

[2017-02-08 23:11] dmorrow commented on #4646
Sorry, this was an issue with our API service

[2017-02-08 23:11] #4646 closed

[2017-02-08 23:58] austinzheng commented on #3975
Is this still a thing? If not I'm going to close this ticket.

[2017-02-09 00:02] austinzheng commented on #4296
Is this still a bug? My collection is that read-only Realms cannot be used with Sync at all.

[2017-02-09 00:04] tgoyne commented on #4296
Read-only here means only read permissions granted by the server and not actual read-only.

[2017-02-09 00:05] austinzheng commented on #4296
Oh, I see. The original bug description mentions tokens with permissions.

[2017-02-09 05:07] Jinxiansen commented on #4641
头疼。

[2017-02-09 05:10] Jinxiansen commented on #4641
![783b3041-3729-40d9-9d7e-f8144489dfa5](https://cloud.githubusercontent.com/assets/16829428/22770136/0c06c4b0-eec9-11e6-8aa9-899f3cfe6f6e.png)

[2017-02-09 06:14] harryworld commented on #4641
@Jinxiansen Are you able to download the Realm file and use Realm Browser for Mac to open it?

試一下用 Realm Browser 開啟 App 中的 Realm file

[2017-02-09 06:15] Xiahaiquan commented on #4641
看看是不是这原因

<img width="762" alt="2017-02-09 14 07 59" src="https://cloud.githubusercontent.com/assets/16540292/22771534/36f1a1f0-eed2-11e6-877c-13c52c7574f4.png">

[2017-02-09 06:20] harryworld commented on #4641
@Xiahaiquan We stored contents using these types.
For instance, in one Realm file. Simply doing compact reduce the file size from 671MB to 295KB.

While I look at @Jinxiansen case, I have the same error message of bottleneck at `memory size: 3221225472`
I'm worried that there is a corruption to the Realm file, and thus not able to open it again.
Since I don't have the file on hand, would appreciat

[2017-02-09 06:20] Jinxiansen commented on #4641
@harryworld 是在 iPhone 真机上面的数据，无法使用Realm Browser  打开啊。
@Xiahaiquan 我是美妙都会对 Realm 更新一个 model 的，可能因为写入太频繁。

[2017-02-09 06:22] harryworld commented on #4641
@Jinxiansen I am having the case in device as well, what I do is to enable [iTunes File Sharing](http://stackoverflow.com/questions/6029916/how-to-enable-file-sharing-for-my-app), so that I can download the realm file in iTunes.

File Sharing allows you to read the app's Documents folder. In case you are not saving realm into default location, you can use `FileManager` to copy the item back to Doc

[2017-02-09 06:56] Jinxiansen commented on #4641
@harryworld  在手机上它实际上只占用了5MB 左右的空间，但是在 Xcode 控制台却提示是 3489660928 ，大于3G 的容量，我想应该是 Realm 分配了这么大的逻辑空间，但是实际上没有这么大的，你说的用 iTunes 打开这个办法我找不到的.realm 。
面前暂时的解决办法只能减少写入次数了。

[2017-02-09 07:04] harryworld commented on #4641
In our case, the disk size can be more than 3GB

[2017-02-09 07:08] Jinxiansen commented on #4641
@harryworld 忧桑啊。

[2017-02-09 08:32] siemensikkema commented on #4639
@tgoyne it's good to know I'm not crazy!

[2017-02-09 09:17] jbuverud opened #4648 "New SyncUsers cannot read or write to shared realms until realm variable is refreshed"
## Goals

I have a realm which is shared across all users (default permissions are set to read/write for userID "*").
## Expected Results

When creating a new user account, I want the account to be able to read and write to the shared realm.

## Actual Results

The new user is able to log in, and is able to open the realm. However, the realm is empty, even after session.addProgressNotification(for

[2017-02-09 09:23] DiER-WANG commented on #4567
install realm by pod could cause it on 2.4.2 and wouldn't appear install by static framework

[2017-02-09 10:19] jbuverud commented on #4648
Looks like this might be caused by some race condition - the following workaround solves the issue:

[code]

[2017-02-09 11:38] Montrazul commented on #4623
propably the same [issue](https://github.com/realm/realm-mobile-platform/issues/116)

[2017-02-09 13:12] lesyk-bilyk opened #4649 "Deadlock on realm.beginWriteTransaction()"
## Goals

Want to modify/update db object

## Expected Results

Expected db object modification/update

## Actual Results

Got deadlock on realm.beginWriteTransaction()

![screen shot 2017-02-08 at 3 49 02 pm](https://cloud.githubusercontent.com/assets/18705124/22784599/573f8ac4-eed9-11e6-902b-3eef436c4052.png)

## Steps to Reproduce

It’s not replicated very often. Mostly it happens when realm ob

[2017-02-09 13:24] tbaranes commented on #4649
Seems to be the same as #4428 🎉 (happy to see that I'm not alone to get that deadlock...)

[2017-02-09 13:50] gregiii opened #4650 "Bad changeset received: Assertion failed: left().nullable == right().nullable"
I'm getting this cryptic error message when I try to open a synced realm:

[code]

It seems it's because of some property changed from being optional to non-optional. But it doesn't tell which property and which class is causing the error.

Realm Object Server: 1.0.2

Realm version: 2.4.2

Xcode version: 8.2.1 - Objective C

iOS/OSX version: MacOS Sierra

Dependency manager + version: CocoaPods 1.

[2017-02-09 16:13] semireg commented on #4649
We are affected by this deadlock.

[2017-02-09 16:13] semireg commented on #4428
We are affected by this deadlock.

[2017-02-09 16:19] austinzheng commented on #4623
Yes. We have a private ticket tracking this bug as well; it will require a bit of design to properly address.

[2017-02-09 17:49] semireg commented on #4428
We can reproduce this in a single VC of our app. It seems realm needs to be under some load. The offender seems to be RLMNotificationToken's stop(). I can trigger it because we start/stop notifications based on viewWillAppear/viewWillDisappear. If I remove the call to stop() it doesn't crash ... yet.

[2017-02-09 18:10] istx25 commented on #4650
Hi @gregiii. Thank you for reaching out. We'll have one of the engineers look into this and follow-up soon. In the meantime, if you can provide us with a sample project that the problem exists in/reproducible - that'll speed up the process of resolving the issue.

[2017-02-09 18:11] istx25 commented on #4646
Hi @dmorrow. Happy to hear you figured out what was causing the problem. Let us know if you need help with anything else. :-)

[2017-02-09 18:14] tgoyne commented on #4428
Any chance you'd be able to extract the relevant parts of that VC into a standalone repro case?

If you're okay with privately sharing the full project with us you could also send it to `help@realm.io` along with whatever information we need to hit the problem.

[2017-02-09 18:19] istx25 commented on #4648
Hi @jbuverud. Thank you for reaching out. We'll have someone review what you've provided and follow-up with you soon. :-)

[2017-02-09 18:22] austinzheng commented on #4648
Thanks for using Realm, and I humbly apologize that you're running into this problem. It looks like the same underlying issue as https://github.com/realm/realm-mobile-platform/issues/116. We're looking into the best way to fix it and it's one of our top priorities right now.

[2017-02-09 20:17] semireg commented on #4428
We think we might have a cause/solution for our crash. I don't know if this will be a fix for the other cases - but it might point you in the right direction.

Our code was being lazy about the creation of a collection.

`    override func liveRealmObjects() -> RLMResults<RLMObject>? {
        guard let realm = SemiSensorManager.sharedSSKRealm(), let reading = reading else { return nil }
        r

[2017-02-09 20:36] apalvai commented on #4476
@stel we are still seeing this crash with v2.3.0 of RealmSwift library.
We first this crash when we updated our app to use realm swift, because of the amount of crashes we had to revert it to use objc version. We tried with updated v2.3.0 of RealmSwift in the latest version and we started seeing these crashes again.

[RealmSwift Crash Log.pdf](https://github.com/realm/realm-cocoa/files/764908/Real

[2017-02-09 20:48] Montrazul opened #4654 "Object deleted or invalidated when deleting referenced objects"
I want to delete an object with all its referencing objects. Since there is not yet a cascading delete I do the following:

[code]

Deleting the address, the contact and the history object works fine. But when it comes to deleting the customer object itself the error is:

`'RLMException', reason: 'Object has been deleted or invalidated.'`

I thought doing all this inside the write transaction woul

[2017-02-09 22:09] gregiii commented on #4650
I have the sample project which reproduces this issue. However, I cannot post it here and would like to send the download link directly to you.

[2017-02-09 22:09] austinzheng commented on #4650
You can send the download link to help@realm.io.

[2017-02-09 22:15] gregiii commented on #4650
I have sent the link to the sample project.

Thank you.

[2017-02-09 22:48] austinzheng commented on #4649
Closing this issue as a duplicate of #4428. Please follow that ticket for updates.

[2017-02-09 22:48] #4649 closed

[2017-02-09 22:50] #4565 closed

[2017-02-09 23:08] #4534 closed

[2017-02-09 23:09] larkost commented on #4503
Fixed in 942fd88.

[2017-02-09 23:09] #4503 closed

[2017-02-09 23:09] larkost commented on #4534
Fixed in 942fd88.

[2017-02-09 23:27] austinzheng commented on #4613
I've updated our documentation. We support assigning `NSDecimalNumber` values to properties marked as `RLMDouble`. If you need to assign to a `RLMInt`, the best thing to do is to unwrap and rewrap manually.

[2017-02-09 23:27] #4613 closed

[2017-02-10 00:07] jpsim commented on #4476
@apalvai could you please file a new issue, sharing enough information to allow us to reproduce this? We'd love to fix this, but it's hard to do without more information from you.

[2017-02-10 00:18] kasperwelner opened #4655 "In-Memory Realm loses inserted data unless at least one notification block is attached"
As the title says, unless I have at least one notification block added to an in-memory Realm, data disappears as soon as the function call from which it has been inserted returns.
I just need to attach an observer to any *one* Realm instance, then everything works.

**I have a static constant containing my configuration defined like this:**

[code]

**I have a single point of entry for write opera

[2017-02-10 00:42] xiaodao commented on #4204
Any news on this? Having the same issue

Realm 2.4.0
XCode 8.2

[2017-02-10 00:49] jpstern commented on #4204
The only workaround I've found is to run your code on a release configuration or with whole module optimization.

Definitely frustrating because stepping barely works, so a better solution would be awesome.

[2017-02-10 03:17] xiaodao commented on #4204
@jpstern `whole module optimization.` doesn't fix the crash for us.

Will try to create an RLMResult extension to reimplement those high-order functions.

[2017-02-10 08:26] AlexeyPoldeo commented on #4433
Looks like another developer had given up with Realm.

We getting error "Unsupported Realm file format version" sporadically on the same libraries.
Googled for this error and found nothing valuable.

Definitely not ready for production.

[2017-02-10 09:23] Sunitadaffodil commented on #4433
Hi... Sorry for late reply, In my case I was having this same issue and to resolve the issue I am deleting database file on app launch..this was just a quick fix which was possible in my case.. but I know may be in other cases where that older data is important..we can't simply delete older database file. But I have a strong feeling that this happened because of mismatch in realm versions..that's

[2017-02-10 11:00] AlexeyPoldeo commented on #4433
We started using Realm with 2.x libraries and got too many sporadic version incompatibility errors just in 1 week.
I'm sure this is a bug in Realm which makes it unstable.

I've decided to get rid of it and fall back to MagicalRecord. Fortunately, we using layered architecture and it should not be painful.

[2017-02-10 12:39] Raghvendra7 commented on #4425
Hi i m facing same issue   using RealmSwift (2.3.0):

I have used realmcollection notification .But got crashed while setting a filter query

tasks = tasks.filter("selfAssignment = %@","true")

notification code are as follows

func notificationSubscription(tasks: Results<RMCAssignmentObject>) -> NotificationToken {
        return tasks.addNotificationBlock {[weak self] (changes: RealmCollectionCh

[2017-02-10 16:32] istx25 commented on #4425
Hi @Raghvendra7. Please file another issue as from my understanding, these issues could be related but I don't believe they're the *same* issue. Feel free to reference this issue as well. Thanks!

[2017-02-10 16:33] istx25 commented on #4655
Hi @kasperwelner. Thanks for reaching out about this. I'll have one of the engineers review what you've shared and follow-up soon. Cheers!

[2017-02-10 17:29] istx25 commented on #4654
Hi @Montrazul. Thanks for reaching out about this. We will review what you've provided and have someone follow-up with you soon. Cheers!

[2017-02-10 17:38] istx25 commented on #4650
Awesome, thanks @gregiii. We'll review that and follow-up soon.

[2017-02-10 17:41] istx25 commented on #4635
Hi @santhoshs5. Thanks for following-up. I have a few questions:

"I have a Realm Object called (User) which I added it to realm."

- Is there only one User object _added to Realm_ or are there many?
- What benefits do you want the singleton to provide? Is it to determine the "current" user?
- How do you fetch the object and store it in the singleton when it's created?

Let me know and I'll try to

[2017-02-10 17:43] istx25 commented on #4630
Hi @Ustimov. Thanks for providing this information. Would you be able to provide us with a sample project that reproduces what you're describing?

[2017-02-10 17:43] istx25 commented on #4630
Or are you saying you've resolved the issue?

[2017-02-10 17:44] istx25 commented on #4630
My apologies. Saw the link to the project above. Let me review it.

[2017-02-10 17:45] istx25 commented on #4638
Just bringing attention back to this issue. @kharmabum: Would you be able to provide us with a sample project demonstrating the issue and any other information you can provide? From there, we'll be able to get one of our engineers to look into this. Thanks.

[2017-02-10 17:46] istx25 commented on #4625
@lowki93: Does @austinzheng's response _answer_ your question? Please follow-up if you have any additional questions.

[2017-02-10 17:47] istx25 commented on #4566
@jpsim's seems sufficient. Closing the issue due to inactivity but feel free to re-open if someone things that it still needs to be.

[2017-02-10 17:47] #4566 closed

[2017-02-10 19:07] Ustimov commented on #4630
I resolve the issue, but in my opinion the exception message does not provide clear description of problem source.

[2017-02-10 19:09] austinzheng commented on #4630
Thanks. We'll turn this into a ticket to track improving the exception message.

[2017-02-10 19:14] istx25 commented on #4520
Closing due to inactivity. Feel free to follow-up or file a new issue if you need additional help and we'll be happy to assist.

[2017-02-10 19:14] #4520 closed

[2017-02-10 19:20] jpsim commented on #4529
Closing as it's likely that this was the same issue as #4422, and we haven't heard back in several weeks.

[2017-02-10 19:20] #4529 closed

[2017-02-10 19:57] austinzheng commented on #2951
I know this is a very old issue. Do you think it's still relevant, or should I close it? If it's still relevant I'll spend a bit of time writing this up.

[2017-02-10 19:58] jpsim commented on #2951
Still relevant I suppose. Notably just adding the phrase that there can be multiple elements in the RLMArray/List that point to the same Realm object.

[2017-02-10 20:06] jpsim commented on #4433
@AlexeyPoldeo I'm sorry you've found Realm to be unstable for you. If you file detailed reproducible bug reports, we're happy to fix them. So far, we have yet to get such reports.

[2017-02-10 20:58] bitomule commented on #4608
Any update on this? How did you fix it @iandundas ? I really need help with this.

[2017-02-10 21:17] istx25 commented on #4654
Hi @Montrazul. How are you fetching/creating the `customer` object shown in your code example?Please provide that portion of your code as well. Thanks.

[2017-02-10 22:43] i-schuetz commented on #4592
I'm also having this issue. I added some properties to an object (3 Ints), 2 computed variables (which I added to `ignoredProperties()), upgraded `schemaVersion` and now I'm getting this crash when sorting these objects. This works:

[code]

But this doesn't:

[code]

My specs:

ProductName:	Mac OS X
ProductVersion:	10.12.3
BuildVersion:	16D32

/Applications/Xcode.app/Contents/Developer
Xcode 8.2.

[2017-02-11 05:25] Raghvendra7 opened #4656 "realmcollection notification cause crashed to application"
with reference to issue #4425

Hi i m facing same issue using RealmSwift (2.3.0):
Xcode 8.2.1

I have used realmcollection notification .But got crashed while setting a filter query

[code]
Use case is suppose a filter is set on a list and new data is added in realmcollection. A Realm notification is generated which updated the table.But it crashed on tableview endupdate.

notification code are as

[2017-02-11 12:35] Pinank opened #4657 "How can i copy value of one object into another?"

[2017-02-11 12:52] #4657 closed

[2017-02-11 13:45] iandundas commented on #4608
Strange - the prebuilt binary solution did work for me. What's the exact error?

[2017-02-11 14:46] beseder42 commented on #1693
We are also waiting for this! What it the time horizon to see this in a release?

[2017-02-11 18:55] joshuapinter commented on #4601
I am getting this on the Realm-JS platform as well. Both the Realm package and the Realm Object Server are up-to-date. I logged an issue over here: https://github.com/realm/realm-js/issues/859

In case they are related.

[2017-02-12 03:51] aimobier commented on #3704
need +1

[2017-02-12 07:51] AlexeyPoldeo commented on #4433
With all my respect, probably you didn't get such reports because it happens sporadically and the developers just give up and switching to another solution.

In my case it happens on some of app's start and (after the crash) goes away and then works fine.

[2017-02-12 13:41] santhoshs5 commented on #4635
Sorry for late reply.

User object

1. I have only one User Object.
2.we need User object in singleton to use through out the application which has all crucial information such as account type and many details which are required to pass in other APIs even.
3.User object has created after a successful LoginResponse(Network call) using ObjectMapper which I am saving this object in singleton and then

[2017-02-12 15:34] bitomule commented on #4608
@iandundas así fynally managed to get the prebuilt solution to work. It was an issue on my side. Still waiting for the "real" solution.

[2017-02-12 16:05] jarrodparkes commented on #4485
@austinzheng has there been any updates on this since the new release?

[2017-02-13 07:45] atom2ueki opened #4658 "LinkingObjects issue"
I have a Group object
[code]
and User Object
[code]

when I update users with newUser.groups.append(xxx), user table updated, but Group table users attribute not updated, I thought LinkingObjects will run automatically

May I know how to use it?

[2017-02-13 09:28] sblepa commented on #4144
Hey,

I still get the crash on my side, I'm using Realm 2.4.2 with iOS version 10.2 (was reproduced on simulator), here is the stuck trance in case you need it:

`frame #0: 0x00000001060d9381 Augury - Dev`::__cxa_throw(void *, std::type_info *, void (*)(void *)) [inlined] _dispatch_once(block=<unavailable>) block_pointer) at once.h:67 [opt]
    frame #1: 0x00000001060d9381 Augury - Dev`::__cxa_thr

[2017-02-13 10:25] anlaital commented on #3686
I can see that this has been set as `P2`, but would it be possible to enhance the error message given in this scenario? Our current project has quite a few models, so just stating `Table is target of cross-table link columns` is not very helpful. Could this contain information on the offending class or table?

[2017-02-13 13:03] ethamine opened #4659 "Skipping write block (Swift 3.0)"
## Goals

Process a write transaction.

## Expected Results

The write to happen

## Actual Results

Write block is just being skipped

## Steps to Reproduce

Follow your docs, i guess.
When i check it with the debugger realm is not nil. I also tried wrapping everything in do {} catch {} block, but it doesnt throw any errors, just goes past the write block. I've tried resetting simulator and build

[2017-02-13 13:23] #4654 closed

[2017-02-13 17:04] istx25 commented on #4635
Thank you for responding, @santhoshs5. I personally see nothing especially wrong with this but I recommend using the singleton as facade between your code and Realm instead of just duplicating the data in Realm and your singleton.

[code]

This will ensure that if a User object exists in the "singleton", it exists in Realm and if it exists in Realm, it exists in the "singleton." I put singleton in

[2017-02-13 17:13] istx25 commented on #4654
Considering you closed the issue, I assume you resolved the issue? Would you be able to elaborate what you did for others who run into the issue? Thanks.

[2017-02-13 17:27] santhoshs5 commented on #4635
Thanks for responding.I am actually doing the same now.

[2017-02-13 17:39] istx25 commented on #4635
Awesome! Do you need anymore assistance?

[2017-02-13 17:49] santhoshs5 commented on #4635
thanks for quick response but I still did not understood why cant i use same object.
Can i use same object if save user using threadSafeRef(User.self).

[2017-02-13 18:14] jpsim opened #4660 "Bad Version Exception when delivering change notifications"
This appears to be a slightly different issue than #4144. Caught with Realm 2.4.2. Backtrace:

[code]

Re-posted from https://github.com/realm/realm-cocoa/issues/4144#issuecomment-279334516.

[2017-02-13 18:15] jpsim commented on #4144
@sblepa based on the backtrace, that appears to be a slightly different error, despite throwing the same exception. I've filed a new issue here so we can continue to investigate: #4660

I'm locking this ticket to prevent new reports from being missed or incompletely reported.

[2017-02-13 18:17] jpsim commented on #4660
@sblepa could you please share more information about this crash? Short of a full Xcode project that we can run to trigger the exception, it'd be useful to know what the contents of your notification block is, including the query or object being observed. Thanks.

[2017-02-13 18:35] austinzheng commented on #4635
Please make sure you don't access your singleton `User` object from multiple threads. If you are accessing your `User` from both a network callback and from the UI, you are almost certainly accessing it from multiple threads.

If you really need a singleton `User` object, please define it with a hardcoded primary key (see [our documentation on primary keys](https://realm.io/docs/objc/latest/#prima

[2017-02-13 20:11] istx25 commented on #4635
@santhoshs5: I've responded to your SO question as well. http://stackoverflow.com/a/42212670/7443852

[2017-02-13 20:49] mbecker opened #4661 "Adding 2-level to-many relationship items"
## Goals

Write a object ("Parents") which have multiple items ("Children") which have multiple items ("Dogs") in one transaction. The link is s follows
Parents <-> Children -> Dog

## Expected Results

[code]

## Actual Results

[code]
(see the dog items)

## Steps to Reproduce / Code Sample

The objects are defined as follows:
[code]

## Version of Realm and Tooling

[In the CONTRIBUTING guideli

[2017-02-13 21:07] Montrazul commented on #4654
I can try but I did not really understand the problem and the solution.
I am holding my customer objects in a `List<Customer>()` and they are presented in a `UITableView`. Im using realm together with the realm mobile platform and I implemented the `RLMNotificationToken` to notify me when there are changes in the dataset. When there is a notification I trigger a UI refresh.

The process I was able

[2017-02-13 21:12] bdash commented on #4661
I think you have a copy-paste bug in your code. Note the duplicate assignment to `dog1.name`:
[code]

[2017-02-13 22:34] LiborZ opened #4664 "New feature: filtering string properties using inequalities"
## Goals

Realm's query engine does not currently support filtering string properties using inequalities. I would like if this could be changed. I can sort results by string with Realm and I would like to filter by inequality operators (>, <)  too.

## Expected Results

I have attribute `itemIdForDateOrder` which is string (looks something like this: `11e6-eef3-09306910-baa7-417b3207abf6`). Sortin

[2017-02-14 05:09] #4659 closed

[2017-02-14 08:47] SherlockQi opened #4666 "@throw RLMException(msg, @{NSUnderlyingErrorKey: error});"
## Goals

What do you want to achieve?

## Expected Results

What did you expected to happen?

## Actual Results

What did happened instead?
e.g. the stack trace of a crash

## Steps to Reproduce

What are steps we can follow to reproduce this issue?

## Code Sample

Provide a code sample or test case that highlights the issue.
If relevant, include your model definitions.
For larger code samples,

[2017-02-14 11:14] sblepa commented on #4660
@jpsim Thanks for the reply, unfortunately I can't share my project code here, also I can't reproduce it manually, it happens randomly (although it happens most when I go into a certain screen in the app).

What is much more worrying and I think is a side effect of this issue, is sometimes after I get the BadVersion, I get stuck in a lock waiting for a Realm transaction to start, this happens on t

[2017-02-14 11:15] sblepa commented on #4660
@jpsim Please let me know if you suggest to downgrade my Realm version for now
Thanks

[2017-02-14 13:04] CesarRN opened #4667 "Cannot concatenate ‘str’ and ‘NoneType’ objects"
## Notes

Traceback (most recent call last):

[code]

**I have check "rlm_lldb.py", it is the last one and it has the last changes to solve the error above.**
But I got it :frowning:

How can I do?

Thanks!

## Goals

Query with `NSPredicate`.

## Expected Results

Make a query.

## Actual Results

[code]

## Steps to Reproduce

Create a NSPredicate with filter, like " field == '%@'", fieldValue

[2017-02-14 14:41] bdash commented on #4666
You appear to have neglected to fill out any portions of the issue template, or otherwise describe what you need assistance with.

[2017-02-14 14:47] joshuapinter commented on #1208
FYI, Realm has since released their Realm Mobile Platform with 2-way automatic synching with their Realm Object Server: https://realm.io/products/realm-mobile-platform/

[2017-02-14 16:14] bdash commented on #4655
The [documentation on in-memory Realms](https://realm.io/docs/swift/latest/#in-memory-realms) contains the following notice:

In the code snippets you've provided it looks like the Realm instances you create don't outlive the functions that open them. Notifications change things slightly as they inherently extend the lifetime of the Realm.

[2017-02-14 16:17] bdash commented on #4664
Thanks for the suggestion. I've added this request to the list of currently unsupported predicates at #1490.

[2017-02-14 16:17] #4664 closed

[2017-02-14 16:26] bdash commented on #4667
This sounds a lot like the issue fixed by #3714. Can you try installing the latest version of `rlm_lldb.py` and report as to whether that fixes the problem?

[2017-02-14 16:33] bdash commented on #4658
`LinkingObjects` only reflect managed objects (i.e., objects that have been added to the Realm). It's not clear from your example whether the objects involved are managed or not. If not, this is expected behavior. If they are managed, it sounds like a bug and we'd need more information about how to reproduce it.

[2017-02-14 16:44] istx25 commented on #4660
Hi @sblepa. You can also email us your Xcode project privately at help@realm.io. Please reference this issue in the body of the email and let us know if you decide to.

[2017-02-14 16:44] istx25 commented on #4659
Hi @ethamine. Thanks for reaching out about this! I saw you closed the issue which makes me think you resolved the issue. If that's the case, awesome! We're here to help if you need anything else.

[2017-02-14 16:48] istx25 commented on #4657
Hi @Pinank. Thanks for reaching out. Since you've closed the issue, I assume you've figured it out yourself. If you need help with anything else, please just let us know. Cheers!

[2017-02-14 16:53] bdash commented on #4656
You say that your application is crashing: what is the nature of the crash? Is an exception being thrown, a segfault occurring, or something else? Can you share the crash log and backtrace of the crash?

[2017-02-14 16:57] bdash commented on #4241
It's been six weeks or so since we asked for information that would help us investigate the problem reported here. Since no further information has been provided, there's nothing further we can do at this point. Please feel free to file a new issue with further information if you are encounter this issue.

[2017-02-14 16:57] #4241 closed

[2017-02-14 16:58] jpsim commented on #4628
There's a significant difference between returning `nil` when accessing a valid object's property and accessing a deleted object. This type of ambiguous behavior, such as messaging `nil` in the Objective-C runtime, has [historically shown](http://blog.ioactive.com/2012/11/ios-security-objective-c-and-nil.html) to be [a source of bugs](http://vgable.com/blog/2008/05/31/messages-to-nowhere/).

That'

[2017-02-14 16:59] #4628 closed

[2017-02-14 17:06] bdash commented on #4571
It's been three weeks since we've asked for further information and we've not heard back. There's nothing we can do to help you further until more information is provided. Please feel free to file a new issue, reopen this issue, or contact us via email as mentioned above, if you're still encountering this problem.

[2017-02-14 17:06] #4571 closed

[2017-02-14 17:07] bdash commented on #4625
I'm going to assume that the lack of response means that @austinzheng addressed your question. If not, please feel free to reopen this issue or file a new issue.

[2017-02-14 17:07] #4625 closed

[2017-02-14 17:13] austinzheng commented on #4648
I'm going to close this ticket; if you're interested in updates please follow the ticket I linked in the previous comment.

[2017-02-14 17:13] #4648 closed

[2017-02-14 18:34] CesarRN commented on #4667
Hello bdash, I compare my rlm_lldb.py with the latest in the #3714 and I have the same file with the latest changes.

How can I reinstall the file?

Thanks

[2017-02-14 18:39] bdash commented on #4667
You can reinstall it by running the new version of `rlm_lldb.py` from the Terminal.

The line numbers from your error message do suggest you may already have the latest version though.

[2017-02-14 19:28] bdash commented on #4667
I was able to reproduce this and track down the problem.

[2017-02-14 20:26] mbecker commented on #4661
Hi @bdash ,

thank you very much for your help! Yes, it was my fault. I have a complex structure to create a Realm object and even after checking the code several times I haven't found anything. Then I wrote quickly this snippet and the result confirmed me that I didn't do anything wrong. What a mistake! Sorry for that! I've found my bug and it's working as expected. Thank you very much!

[2017-02-14 20:27] #4661 closed

[2017-02-14 21:32] rokgregoric commented on #4628
I agree returning `nil` is not the best option here .. but throwing an exception is even worse .. cause returning nil might crash you app in production .. but throwing an exception crashes it 100% if not caught. I am not suggesting to remove throwing exceptions all together .. but maybe have an option to disable exceptions when building in release mode .. to prevent unwanted crashes.

Imagine a sc

[2017-02-14 21:56] jpsim commented on #4628
Realm only throws runtime exceptions for programmer misuse of the framework. Exceptions shouldn't be used as error-handling, we expose `NSError` pointers and Swift throwing functions/initializers for that.

_If_ a Realm user forgets to handle a case in which the object being manipulated has been invalidated, preventing the continuation of the app (e.g. crashing) is preferable to corrupting data du

[2017-02-14 22:05] tzm41 opened #4670 "Realm at path already opened with a different schema mode"
## Goals

Update Realm model in network request observable `flatMap` function.

## Expected Results

Works fine? Or maybe I am doing something wrong.

## Actual Results

Crashed with exception `Realm at path '%1' already opened with a different schema mode`

## Steps to Reproduce

Specifically, the setter of this variable in class `UserProfileModel`:
[code]
is called in my network method where `us

[2017-02-14 22:11] bdash commented on #4628
It's important to be clear that when you delete objects on a background thread, your main thread will only see those objects as deleted after it has advanced to the new version of the Realm file (typically on a future runloop iteration). If you register for notifications on the objects your view controllers are working with, the notification handler will be called as part of the process of updatin

[2017-02-15 00:40] jpsim commented on #4670
I'm not sure, but I think what's happening here is that you're opening a Realm at a same path twice (or more) with different configurations. Is it possible you're opening a Realm at the default location but with a custom configuration, while also opening it with the default configuration in the code you posted? Thanks!

[2017-02-15 00:43] jpsim commented on #4650
@gregiii you're definitely right that this is due to a schema mismatch between the server and the client. We're tracking ways to improve the error messages internally, but in the mean time, you could print the schema information from both the client (using the [`RLMRealm.schema`](https://realm.io/docs/objc/latest/api/Classes/RLMRealm.html#/c:objc(cs)RLMRealm(py)schema) property) and from the serve

[2017-02-15 00:46] jpsim commented on #4641
Hi all, it's unclear what you need from us to help you at this point. Are you looking for ways to avoid having such large Realm files?

In general I think it would help you to know that setting breakpoints in places like [RLMCacheRealm](https://github.com/realm/realm-cocoa/blob/v2.4.2/Realm/RLMRealmUtil.mm#L43) or in realm core's [SlabAlloc::resize_file()](https://github.com/realm/realm-core/blob/

[2017-02-15 00:47] tzm41 commented on #4670
Thanks for the reply! I was suspecting the same thing. Will post update very soon.

[2017-02-15 00:50] jpsim commented on #4608
I think "exit code 65" is an error reported by `xcodebuild` when the Xcode EULA hasn't yet been accepted. Anyway, it seems like everyone in this thread was able to eventually resolve the issues they were running into.

Is there anything more we can help you with in this thread @iandundas @bitomule ?

[2017-02-15 00:51] jpsim commented on #4428
Thanks for sharing that info @semireg! Although I still don't think that's enough for us to reproduce this, so I'll mark this as "waiting for user" again. Please do try to send us a more complete repro case if you can.

[2017-02-15 00:55] jpsim commented on #4592
@i-schuetz can you share the models involved? Specifically `Ingredient` and whatever type `itemOpt` is? Also, it'd be useful to know if this crash still occurs if you don't add `nameSort` to your `sortDescriptors` array. Thanks!

[2017-02-15 01:42] jpsim commented on #4610
We're already tracking Linux support in #3263, so I'll be closing this one as a duplicate.

[2017-02-15 01:42] #4610 closed

[2017-02-15 01:46] tzm41 commented on #4670
If I try to create the Realm with the same configuration to execute the write, incorrect thread exception occurs:
[code]

[2017-02-15 01:48] jpsim commented on #3136
Hi @santhoshs5, even though we've released support for thread-safe references, Realm objects are still otherwise thread-confined. To modify your example:

[code]

Please refer to our release post on thread-safe references to learn more: https://realm.io/news/obj-c-swift-2-2-thread-safe-reference-sort-properties-relationships/

---

I'll be closing this ticket now as we have a mechanism for asynchr

[2017-02-15 01:48] #3136 closed

[2017-02-15 01:53] jpsim commented on #1572
@andrewebling it's fairly difficult to build undo in a general-purpose API, but relatively easy to build it in a domain-specific setting, so I'd encourage you to build undo functionality on top of Realm yourself for your specific app's needs.

For example, instead of storing values, store operations (insert string, remove string, etc.). You can then compute the final value by applying all these op

[2017-02-15 02:07] jpsim commented on #4643
@ivan-konov actually could you please file a Radar with Apple about this (https://bugreport.apple.com) or a Swift bug (https://bugs.swift.org) since this appears to be an LLDB issue.

[2017-02-15 02:15] gregiii commented on #4650
@jpsim Thanks for the assistance.

[2017-02-15 02:15] #4650 closed

[2017-02-15 02:17] jpsim commented on #4638
Hey @kharmabum, what makes you think the crash is happening inside `RLMClassInfo::propertyForTableColumn()`? The screenshot you posted doesn't appear to indicate an exception being thrown or null pointer being dereferenced, or anything else indicating that that function is crashing...

Perhaps another thread was the culprit and you misattributed the main thread as the source of the crash?

In any

[2017-02-15 02:19] tzm41 commented on #4670
Ok, issue resolved by observing using main scheduler. Thanks much!

[2017-02-15 02:19] #4670 closed

[2017-02-15 02:24] jpsim commented on #4656
Given that this is crashing in `UITableView.endUpdates()`, it's highly likely that the table view's state does not reflect Realm's. @Raghvendra7 is it possible that you're inserting/moving/deleting rows from the tableview elsewhere in your code?

Since collection notifications carry "diff" information, it expects the state of the table view to match up exactly with the state of the collection bein

[2017-02-15 02:34] jpsim commented on #4636
Hi @tkallioras, please file this issue on CocoaPods' issue tracker as this is a problem with the way pod data is parsed, sanitized and rendered rather than a problem with Realm: https://github.com/CocoaPods/CocoaPods/issues/new

[2017-02-15 02:34] #4636 closed

[2017-02-15 02:37] jpsim commented on #4660
Hi @sblepa, it's hard for me to recommend that you downgrade to a previous version of Realm considering that most releases fix more bugs than they cause, but if a version of Realm is catastrophically failing for you, then obviously you need to do something to avoid that.

However, we'd much rather you shared with us how we can trigger this bug so we can not only help you with it, but also hopefull

[2017-02-15 02:50] jpsim commented on #4485
Read-only sync permissions have not yet been fully implemented on the client-side, and may not work at all depending on your situation. We're tracking this internally as realm/product#195, and we have other related bugs that are opened that should be reviewed and consolidated into a single bug tracking the fact that read-only or write-only sync permissions aren't well supported.

[2017-02-15 02:51] jpsim commented on #4296
Read-only sync permissions have not yet been fully implemented on the client-side, and may not work at all depending on your situation. We're tracking this internally as realm/product#195, and we have other related bugs that are opened that should be reviewed and consolidated into a single bug tracking the fact that read-only or write-only sync permissions aren't well supported.

See also #4485 an

[2017-02-15 02:53] jpsim commented on #4524
@danipralea is this still unclear? Let us know if we can clarify this further.

[2017-02-15 02:56] jpsim commented on #4231
The issue tracked here appears to be distinct from the one tracked in #4515. The best way to help us fix this is to show us how we can reproduce it.

Seems like you're hitting this quite a bit, and therefore are in the best position to show us how we can trigger it ourselves.

[2017-02-15 03:20] harryworld commented on #4641
@jpsim Thanks for reply. In practice, I would like to know why it is happening and how to prevent the realm file getting bloated. No one would want their users waking up one day and crashing the app in every launch. Will try your tip to debug why it's growing fast.

[2017-02-15 03:23] jpsim commented on #4641
Have you read our docs on [File size & tracking of intermediate versions](https://realm.io/docs/swift/latest/#file-size--tracking-of-intermediate-versions)? That might help explain things.

[2017-02-15 08:25] zsszatmari commented on #3381
+1, this would be nice.

[2017-02-15 08:54] bitomule commented on #4608
@jpsim serving my project as static library isn't a good fix. It just broke on last realm-cocoa release. It's not related to Xcode EULA, something changed on last realm release that broke it.

I've test running that need to fetch realm-cocoa using carthage and all crashes because of this issue.

[2017-02-15 10:18] beloso opened #4671 "Exception thrown: "Cannot create asynchronous query while in a write transaction""
## Goals

I want to preform a transaction that creates/updates and deletes objects of a given class

## Expected Results

I would expect the transaction to occur normally

## Actual Results

In about 10% of the times I am getting a crash while doing this. I have at least three different crashlogs (but many copies of similar crashlogs) indicating this issue. I am copying them from Fabric

<details>

[2017-02-15 10:19] beloso commented on #4231
I've opened issue #4671 which is the description of my problem. Whatever code that I have that can possibly reproduce my issue.

[2017-02-15 11:10] neetin opened #4672 "RLM crashes when primary key is configured by two properties"
It does not occur every time though.

[code]
<img width="1160" alt="rlm_crash" src="https://cloud.githubusercontent.com/assets/386799/22971909/7fe2c9c6-f39f-11e6-87d9-9865d3cf671a.png">

[2017-02-15 15:41] CesarRN commented on #4667
Hello bdash, Can I try anything?

I would like to help to resolve this issue. I am very interesting.

Thanks.

[2017-02-15 15:51] istx25 commented on #4672
Hi @neetin. Thanks for reaching out. One of our engineers will review what you've provided and follow-up with you soon. Cheers!

[2017-02-15 16:02] istx25 commented on #4671
Hi @beloso. Thanks for reaching out. One of the engineers will review what you've shared with us and follow-up with a solution or more questions soon. Cheers!

[2017-02-15 16:03] istx25 commented on #4670
Awesome to hear that, @tzm41. Feel free to reach out again if you need any more assistance. :)

[2017-02-15 16:14] #4667 closed

[2017-02-15 16:15] bdash commented on #4667
Please install the version of rlm_lldb.py that's in current Git master. I just merged a fix for this problem.

[2017-02-15 19:07] Raghvendra7 commented on #4656
@bdash Sure i will share the crashlog shortly

@jpsim I m not updating the data from elsewhere in code but the Actually i m using this function to fetch the data from realm  and filter and sort it on basis of criteria

`func getTasks(sortParameter:String = "",ascendingFlag:Bool = true){
        let realm = try! Realm()
        tasks = realm.objects(RMCAssignmentObject.self)
        tasks = tasks.f

[2017-02-15 19:59] kharmabum commented on #4638
@jpsim will do in the future, here are a few full stack traces courtesy of sentry: https://gist.github.com/kharmabum/feb5b3a8e7fe405faede857157ca76f6

[2017-02-15 20:02] austinzheng commented on #4626
Closed because of #4663.

[2017-02-15 20:02] #4626 closed

[2017-02-15 20:03] austinzheng commented on #4623
I'm re-opening this because this is a slightly different bug that requires some support from our `sync` layer to properly fix. (For internal reference, this is the _private_ ticket that tracks the blocking work: https://github.com/realm/realm-sync/issues/1176.)

[2017-02-15 20:07] jpsim commented on #4623
@austinzheng could you reword the title of this issue to more accurately reflect what this is tracking?

[2017-02-15 20:33] austinzheng commented on #4623
Actually, you're right. This is the bug caused by the issue you mentioned, and there are two other tickets tracking the related issue I mentioned above. Sorry about that, closing.

[2017-02-15 20:33] #4623 closed

[2017-02-15 21:56] jpsim commented on #4638
@kharmabum thanks for sharing that. I'm re-including it here so it can come up when we search for similar stack traces in the future:

<details>

<summary>Stack Traces</summary>

[code]

</details>

---

@kharmabum could you please post the full model definitions that are being observed? If you could also share the notification block code, that'd be helpful.

[2017-02-15 22:38] #3193 closed

[2017-02-15 22:38] #3780 closed

[2017-02-15 22:38] #4247 closed

[2017-02-16 01:05] mmccroskey commented on #1994
+1 to @AnthonyMDev's question above

[2017-02-16 06:58] Ankit-Aggarwal commented on #4422
Again getting this issue in `v2.4.2`, is it working fine for others ?

[2017-02-16 11:56] weibel commented on #4592
We are experiencing the same issue.
In our latest app update we updated Realm from 2.1.2 to 2.4.2.

We are heavy users of the new keypath sort. And one of them will crash with this error.

If people reinstall the app the problem disappears.

[2017-02-16 12:34] i-schuetz commented on #4592
@jpsim I can't test what happens because the crash doesn't happen anymore and don't know how to get it again. Here are `Ingredient` and `Item`

[code]

[2017-02-16 13:44] kasperwelner commented on #4655
Making a strong reference to the Realm solved it. Thx 👍

[2017-02-16 13:44] #4655 closed

[2017-02-16 15:18] weibel commented on #4592
I have digged a bit into this. It looks like things start falling apart inside
[code]
There are the correct number of properties on the rlmObjectSchema. They look like they are correctly filled in, except some of them have an objectClassName of nil hence `rlmObjectSchema.properties[index].objectClassName` breaks when those ones are used as an index.

Digging deeper I found that index the function

[2017-02-16 15:30] istx25 commented on #4655
Awesome, glad to hear @kasperwelner. We're here if you need anything else! :)

[2017-02-16 15:32] istx25 commented on #1994
Hi @AnthonyMDev, @mmccroskey. Would you be able to file a new issue as although the questions/issues are similar, they are different. Feel free to reference this issue though. Thanks.

[2017-02-16 18:10] bdash commented on #4592
Thanks for the investigation, @weibel. We should be able to reproduce and fix this based on the analysis you've provided.

[2017-02-16 19:51] CesarRN commented on #4667
What is the best way to install the rlm_lldb.py last version?

Thanks bdash

[2017-02-16 19:51] bdash commented on #4667
You can install it by running the new version of rlm_lldb.py from the Terminal.

[2017-02-16 22:29] jeffreybergier opened #4674 "Enhancement to Results<T> Queries and Collection Update notifications"
**Enhancement Request**

## Goals

Search is a critical part of most apps that contain a lot of data. On top of that, modern user interfaces have created the standard of "live" search and users expect this feature. Live search generally includes the following features:

- As the underlying data changes, either on their current device, or from other devices, the search is automatically updated.

[2017-02-16 22:55] jpsim commented on #4476
@apalvai could you please share an affected Realm file in https://github.com/realm/realm-core/issues/2441 so we can investigate this?

[2017-02-16 23:08] jpsim commented on #4422
@Ankit-Aggarwal please file a new issue taking care to fill out the template with as much relevant information as possible. Thanks.

[2017-02-17 00:17] tgoyne commented on #4674
I think the main difficulty here is just figuring out the API, since this isn't something that can be expressed well with our current abstractions. Implementation-wise handling changing the query isn't too bad since there's no big difference between calculating the changes between two versions of the data with one query and two different queries (although maybe things get weird if you change the q

[2017-02-17 00:32] jeffreybergier commented on #4674
@tgoyne thats a really really interesting workaround. I'm going to play around with something like that.

I imagine that if I didn't want to muck up my user's realm or be syncing these Search objects (which are more of a means to an end rather than something I want to keep) I could use a temporary realm on disk on this line

[code]

and use my normal user logged in syncing realm on this line

[cod

[2017-02-17 00:45] #2951 closed

[2017-02-17 00:45] #3264 closed

[2017-02-17 00:45] #4163 closed

[2017-02-17 00:51] jpsim commented on #3264
We've updated the docs to clarify this: https://realm.io/docs/swift

[2017-02-17 00:51] jpsim commented on #2951
We've updated the docs to clarify this: https://realm.io/docs/swift

[2017-02-17 00:51] jpsim commented on #4163
We've updated the docs to clarify this: https://realm.io/docs/swift

[2017-02-17 02:41] jpsim commented on #4608
Sorry @bitomule I wasn't aware that was the final state of where you were at. It would help if you reiterated exact steps and versions to reproduce your issue(s) and explained why you think it's a problem with Realm and not Carthage.

[2017-02-17 08:26] weibel commented on #4592
If someone needs to fix this before Realm releases an update, here are two things that will fix it
1. Recreate the Realm file.
2. Add any new properties to the end of the object schema.

[2017-02-17 08:34] bitomule commented on #4608
@jpsim The issue is related to Realm because version change on realm produced the issue. I was already using realm with carthage as a dependency before. I can't reproduce the issue as I've published the precompiled version but I had the same issue @iandundas described. I think any package with realm as a carthage dependency will have the same issue.

[2017-02-17 09:31] dsanghan opened #4676 "Too many open files in system"
## Goals

What do you want to achieve?

Use Realm in a multi-threaded environment

## Expected Results

What did you expected to happen?

Realm works without issue

## Actual Results

What did happened instead?

```keys.rlm.lock': open() failed: Too many open files in system```

[code]

## Steps to Reproduce

Have 8-10 threads reading and writing to realm at the same time.

## Code Sample

--

##

[2017-02-17 09:33] dsanghan commented on #4676
For about 8-10 threads (reading/writing) on 2 databases, I saw about 250+ fd's open.

[2017-02-17 10:35] iandundas commented on #4608
@jpsim I think the Steps To Reproduce in my initial post above should reproduce it on any machine 🤞🏻

[2017-02-17 10:36] iandundas commented on #4608
I will verify it again and get back to you (I think the EULA thing is a side issue but I'll double check)

[2017-02-17 15:07] NikKovIos commented on #1692
Here is how to use it. Thumbs up if did help.

[code]

[2017-02-17 15:56] dmorrow opened #4677 "Autoupdating query - single item"
## Goals

Results are able to autoupdate even if the initial query is empty.

[code]

However, what if we want a single object?

[code]

## Expected Results

One way to handle this would be to always get a `Results` object and then have to unwrap `.first` every time we wanted to access the single object.

However, it would be great if there was a `SingleResult<T>` class which would only hold one o

[2017-02-17 16:47] istx25 commented on #4676
Hi @dsanghan. Thanks for reaching out about this. We'll have one of the engineers look at what you've provided and follow-up. In the meantime, would you be able to prepare a sample project that reproduces this problem? Cheers.

[2017-02-17 16:54] istx25 commented on #4677
Hi @dmorrow. Thanks for reaching out about this. Someone will review what you've shared and follow-up with a solution or additional questions. Cheers!

[2017-02-17 17:12] bdash commented on #4676
It looks like realm/realm-core#2424, brought into realm-cocoa by #4651 but not yet in a release, should reduce the number of file descriptors per Realm instance significantly.

[2017-02-17 18:07] dsanghan commented on #4676
@bdash I re-ran it on latest master (with the merged pull request) and it cuts descriptors by half. From 250+ to 110+ - which is a great improvement. Still, 110+ fd's for 8-10 threads seems to be on the higher side. Are there any other fixes in the works that I can pull in?

[2017-02-17 18:10] bdash commented on #4676
Can you share updated `lsof` output when using master?

[2017-02-17 18:13] dsanghan commented on #4676
[code]

[2017-02-17 18:15] bdash commented on #4676
Thanks.

It looks like `keys.realm` is open 23 times, with `threads.realm` being open 11 times. Does that sound correct?

[2017-02-17 18:20] dsanghan commented on #4676
Seems to be the case. I'll take a look at what's opening instances on my end. Thanks for the help! I'll re-open an issue in case I find something else.

[2017-02-17 18:20] #4676 closed

[2017-02-17 18:51] bdash commented on #4676
The most recent `lsof` output made me notice that we're opening condition variable pipes more than we should be. realm/realm-core#2460 will address that.

[2017-02-17 21:54] #4592 closed

[2017-02-17 23:38] bdash commented on #4608
I was able to reproduce this by following the steps to reproduce listed in the original report. I'm not yet sure why it fails, but I did notice that Realm appears to be built in two different ways. It's built by Carthage due to being listed as a dependency in HotTakeRealm's Cartfile, and it's built as part of HotTakeRealm's workspace due it including Realm's Xcode project from a checked-in copy of

[2017-02-18 04:25] kishan89 commented on #4215
how'd you solve it?

[2017-02-18 23:45] maxydon commented on #2910
Crashed: com.twitter.crashlytics.ios.exception
0  MyApp                     0x10011a4d0 CLSProcessRecordAllThreads + 1572
1  MyApp                     0x10011a4d0 CLSProcessRecordAllThreads + 1572
2  MyApp                     0x10011a38c CLSProcessRecordAllThreads + 1248
3  MyApp                     0x10010a2d8 CLSHandler + 48
4  MyApp                     0x1001183a4 __CLSExceptionRecord_block_inv

[2017-02-20 17:38] santhoshs5 opened #4678 "I am getting bad access with following code"
I am storing User object in realm.
Afterwards I am using this object as follows from a singleton class.

[code]

User class
=========
[code]

I am accessing this variable in a function like this.
[code]

after this function call i am getting this error.

[CFString release]: message sent to deallocated instance 0x19758270

[2017-02-20 18:46] istx25 commented on #4215
Hi @kishan89. Would you be able to file another issue with your own code samples? Thanks.

[2017-02-20 18:49] istx25 commented on #4678
Hi @santhoshs5. Thanks for reaching out about this. Someone will review what you've provided and follow-up with you soon. Cheers!

[2017-02-20 19:07] istx25 commented on #4638
Hi @kharmabum. Just echoing @jpsim's request. Would you please post the full model definitions that are being observed? As well as the notification block code too (if possible). Thanks!

[2017-02-20 19:10] istx25 commented on #4666
Closing this issue since the user has not followed-up with additional information. @SherlockQi, if you require any support, please file a new issue with the fields filled out. :)

[2017-02-20 19:11] istx25 commented on #4658
Hi @atom2ueki. Would you be able to read @bdash's response and provide more information? Thanks.

[2017-02-20 19:13] istx25 commented on #4641
@Jinxiansen: Do you require anymore assistance?

[2017-02-20 19:14] istx25 commented on #4635
Closing the issue due to inactivity. @santhoshs5: Feel free to follow-up if you have any more questions and we can re-open the issue. Cheers!

[2017-02-20 19:15] istx25 commented on #4428
Hi @semireg. Just echoing @jpsim's request. Would you be able to provide more information?

[2017-02-20 19:16] istx25 commented on #4524
@danipralea: Do you require anymore assistance?

[2017-02-20 19:16] bdash commented on #4672
@neetin, how are you using the class in question to trigger the crash? Presumably declaring the class isn't itself sufficient to trigger it. Can you share a self-contained code sample that reproduces the problem?

One thing to note is that `willSet` / `didSet` aren't supported on persisted properties of Realm model classes. I don't know if this is relevant to your crash, but it's something that wi

[2017-02-20 19:35] cwalo opened #4680 "Linking a parent framework containing Realm results in "framework not found Realm for architecture ...""
## Goals

Add Realm to an umbrella/parent framework to use as an application target dependency.

This has been a bit of a saga, to be honest. I'll try to keep it brief and not combine any issues, but  I think it's worth mentioning.

I've written an XMPP chat framework that uses Realm for persistence. Adding this framework as a linked library was initially leading to a Segmentation Fault 11:

[code

[2017-02-20 19:53] semireg commented on #4428
Due to time constraints and the app being a client I will not be able to send a complete repro case.

If I needed to reproduce on a fresh project I would create a simple database schema with basic relationships and have a queue that constantly created, updated and deleted objects and updated relationships on background threads. This would put some stress on the database.

Then, I would have a VC t

[2017-02-20 21:48] bdash commented on #4680
In Xcode, the framework search path build setting determines where the linker looks for frameworks at link time. Since your app target attempts to link to RealmSwift.framework (as a result of importing ParentFramework), RealmSwift.framework needs to be available on the framework search path.

It's important to note that while nested frameworks work in the iOS simulator and even locally on your dev

[2017-02-20 23:46] kishan89 commented on #4215
My issue is only remotely related. I have a server using digital ocean, and I am trying to read and write from/to my realm on that server rather than a default.realm file on my local machine.

[2017-02-21 03:29] bdash commented on #4592
This was released as part of [v2.4.3](https://github.com/realm/realm-cocoa/releases/tag/v2.4.3).

[2017-02-21 04:46] bdash opened #4682 "OS X Swift installation test fails due to using prebuilt binary for wrong Swift version"
When releasing v2.4.3 tonight the installation examples job failed: https://ci.realm.io/job/Cocoa%20Release%20Installation%20Examples/37/.

In particular, the two jobs that test Swift with our prebuilt dynamic libraries fail with errors like this:

[code]

It looks like Xcode 8.2 with Swift 3.0.2 is being used to build the example, but something is pulling in the Swift 3.0.0 version of the framewo

[2017-02-21 04:49] bdash commented on #4682
The Xcode projects in question hard-code the swift-3.0 framework path in their framework search paths. We need to update the version specified in the project and/or explicitly specify which version of Xcode the CI job uses.

[2017-02-21 09:21] Montrazul opened #4683 "Updating realm requires Updating realm mobile platform?"
When I updated from Realm 2.3.0 to Realm 2.4.0 I also had to update from Realm Mobile Platform 1.0.0-beta to Realm Mobile Platform 1.0.0-Release. It was not mentioned in the changelog or the documentation.

I now updated from 2.4.0 to 2.4.3. Realm Mobile Platform seems to work but the changelog is telling me that there are several synchronization bugs fixed.

Would it be possible to make it clear

[2017-02-21 10:33] santhoshs5 commented on #4005
I didn't understand the context fully how can I get the unmanaged object from.
 Realm. unmanagedCopy??

[2017-02-21 10:54] danipralea commented on #4524
I still have to implement the other suggestion of Dmitry. I will get back to you guys as soon as I do that.

Thank you very much for taking such care in the issue/issues

[2017-02-21 11:25] alejandro-menendez commented on #3916
I was using RealmSwift 2.1.2. I recently updated to RealmSwift 2.4.3.

Using **Swift 2.3**
Cocoapods 1.2.0

While I built the project, it produces a list of 483 Build errors in RealmSwift pod.
![screen shot 2017-02-21 at 4 38 20 pm](https://cloud.githubusercontent.com/assets/22996814/23162935/5fd1e9c6-f856-11e6-81f5-189bf1bbbfac.png)

[2017-02-21 13:40] dsanghan opened #4684 "please_report_this_error_to_help_at_realm_dot_io"
## Goals

What do you want to achieve?

Use Realm in multi-threaded environment

## Actual Results

[code]

## Steps to Reproduce

Unknown. Looks like its on app-startup / realm initialization.

## Code Sample

_User did not provide one._ ^@istx25.

## Version of Realm and Tooling

[code]

[2017-02-21 16:04] bdash commented on #3916
As of [v2.4.0](https://github.com/realm/realm-cocoa/releases/tag/v2.4.0), Swift 2.x is no longer supported.

[2017-02-21 16:27] alejandro-menendez commented on #3916
@bdash Thanks

[2017-02-21 16:50] cwalo commented on #4680
Thanks @bdash. I suppose my workaround is simply the prescribed solution. Closing this.

[2017-02-21 16:50] #4680 closed

[2017-02-21 16:59] istx25 commented on #4684
Hi @dsanghan. Thanks for reaching out about this. Would you be able to provide the project (either here or by emailing it to `help@realm.io`?) If not, please provide any code that is executed/called when Realm is being initialized/on app startup.

[2017-02-21 17:00] istx25 commented on #4524
No worries. Just let us know when you get a chance. And we're happy to help. ❤️

[2017-02-21 17:01] istx25 commented on #4683
Hi @Montrazul. Thanks for bringing up this concern. I'll bring this up to the team and follow-up with you soon. 😸

[2017-02-21 17:20] istx25 commented on #4678
Hi @santhoshs5. Would you be able to provide the full models? `isNewBackupApproach` is not in the code samples you provided.

[2017-02-21 20:59] jonchui commented on #599
+1 - any news on this? thanks!

[2017-02-22 03:16] ivan-konov commented on #4643
Radar submitted.

[2017-02-22 03:16] Jinxiansen commented on #4641
@istx25 无人能够解决这个问题，想关就关了吧。
我在 issues 里搜索 “ Cannot allocate memory size:”，这个问题多次被人提及，然而似乎最后的解决办法都是不了了之，这让我感到有点失望，也对贵团队的能力表示怀疑。

[2017-02-22 03:44] puttin opened #4685 "Feature Request: add deleteRealmIfMigrationFailed property"
## Goals

What do you want to achieve?
deleteRealmIfMigrationFailed
## Expected Results

What did you expected to happen?
if migration is needed but failed delete that realm

[2017-02-22 09:58] nikunjazilen opened #4686 "Error: No such file collection_notifications.cpp while build"
Hi,

I am facing error like below "library not found for -lRealm"

Can you please help me to build this project?

[code]
Best Regards,
Nikunj Jadav

[2017-02-22 15:12] clementleroy commented on #4686
Hi !

Maybe this issue #4498 can help you resolve your problem.

[2017-02-22 15:52] finnschiermer commented on #4476
@apalvai do you use encryption?

[2017-02-22 16:50] istx25 commented on #4686
Hi @nikunjazilen. Would you be able to report what versions of tooling and Realm you're using. There's a script in the contributing guidelines which will help you determine these values, which can be found [here](https://git.io/vgxJO). From there, we'll be able to better assist you.

[2017-02-22 16:52] istx25 commented on #4685
Hi @puttin. Thanks for reaching out! Would you be able to provide us with more information on your tooling setup and what version of Realm you're using? And if possible, a sample project or code sample of where you're trying to do this and where it's failing. Thanks!

[2017-02-22 16:53] istx25 commented on #4643
Awesome, thank you @ivan-konov. Mind sharing the Radar #?

[2017-02-22 19:17] ArifADS opened #4687 "Crash on initial load"
## Goals

Reload tableView after notificationBlock from objects filter initial

## Expected Results

A tableView initially reloaded

## Actual Results

Crash, with this logs

What did happened instead?

[code]

## Steps to Reproduce

In a notification block I first wait for initial to reload Data, the dataModel.count returns 4, but when I try to access dataModel[0] my App crashes with this error,

[2017-02-22 19:35] ivan-konov commented on #4643
radar# 30646008
Let me know if you think i should add more info or post corrections of my initial wording of the radar.

I also played a bit more with the sample project I sent you. It seems this warning appears only when trying to print Realm objects.

[2017-02-23 02:40] JQHee opened #4689 "Crash"
I want to make the attribute (NSInteger) type (id) into the realm of behind me change (id) to insert (nsstrings) type, crash message realm must not be nil.

[2017-02-23 03:02] puttin commented on #4685
Hi @istx25 , as you can see in the title, it's a feature request.

So it's a feature request on last version which is 2.4.3 currently.

---

`RLMRealmConfiguration` has a property `deleteRealmIfMigrationNeeded` which delete Realm files if migration needed.

Sometimes developers may expect migration to be executed first, but if migration fails, the Realm files should be delete to cleanup.

[2017-02-23 06:46] nikunjazilen commented on #4686
Hi,

Thanks for the reply, Issue resolve after made demo myself and installed pod of realm. Now I am integrate draw demo [https://github.com/realm/realm-cocoa/tree/master/examples/ios/objc/Draw](url) and its successfully working in different devices. I have some questions. If you help me that would be great help for me to go ahead on next step.

1) Can you please explain me authURL:::::::::::http:

[2017-02-23 07:59] boboboa32 opened #4690 "Use "LIKE" as "*a*b*" cause endless loop"
## Goals

use LIKE predicate

## Expected Results

use LIKE wildcard predicate

## Actual Results

become endless loop, the result never fetch out

## Code Sample

[code]

## Version of Realm and Tooling

- Realm version: 2.4.2
- Xcode version: 8.2.1
- iOS/OSX version: 8.4.1
- Dependency manager + version: cocoapods, 1.2.0

[2017-02-23 09:03] nikunjazilen opened #4691 "Error: Not working in different network"
Hi Realm Team,

Can you please answer the below question? So that would be great help for me.

## Goals
To achieve the drawing demo in different devices in different network.

## Expected Results
I expected the above result while I integrate the drawing demo which connected to the realm object server.

## Actual Results
I run the draw demo in different network but its not drawing reflected into ot

[2017-02-23 09:56] Jinkeycode opened #4692 "Uncaught Exception: 'Property names beginning with 'new' are not supported'"
**Original title**: _*** Terminating app due to uncaught exception 'RLMException', reason: 'Property names beginning with 'new' are not supported. Swift follows ARC's ownership rules for methods based on their name, which results in memory leaks when accessing properties which return retained values via KVC.'_

I got an error after I update realm form 2.1 to 2.4.3：

*** Terminating app due to unca

[2017-02-23 10:31] EmilOsvald opened #4693 "Realm addNotificationBlock returning error"
## Goals

I am trying to instantiate a NotificationToken to listen to changes in a specific property of my Realm objects. The goal is to display every object matching the query in viewController.

## Expected Results

The variable called 'location' in my Realm objects is changed by a helper method which is triggered by a Timer instance. When 'location' property is changed to value 2, I expect the

[2017-02-23 10:52] kunalsood commented on #4674
+1
Ability to get change-sets after updating/filtering existing results would be supremely useful.

[2017-02-23 14:58] tbaranes commented on #4428
Just tried the fix of @semireg, but that doesn't change anything in our case, but I'm joining him to say that the issue is around from the `RLMRealmNotification`. I can't go in details since I'm not able to reproduce it (still random), but I'm almost sure that if I remove the notification, it should work (the action done before the deadlock are triggering the notification).

I'm gonna try to remov

[2017-02-23 15:16] #4666 closed

[2017-02-23 16:00] istx25 commented on #4685
Hi @puttin. My apologies, I guess I misread. Let me change the labels and get some eyes on this.

[2017-02-23 16:02] istx25 commented on #4686
Okay, happy to hear you could resolve the issue. We're here to help if you need anything else.

[2017-02-23 16:02] #4686 closed

[2017-02-23 16:03] istx25 commented on #4428
Okay @semireg - thanks for the summary.

[2017-02-23 16:03] istx25 commented on #4428
And awesome, @tbaranes. I'll add the waiting for user tag and please share anything you find when you get a chance. :)

[2017-02-23 19:36] austinzheng commented on #4607
I did some research into this issue. The underlying cause was https://github.com/realm/realm-sync/issues/1150. Basically, the token would be refreshed, but not actually sent up to the server until the app had other data to try sending to the sync server. So if the token was refreshed, the app was backgrounded, and then much later foregrounded, the token would be expired and the `203` error would b

[2017-02-23 19:36] #4607 closed

[2017-02-23 23:04] bensarz commented on #4692
We have received the same error when upgrading from 2.4.2 to 2.4.3.
However, 2.4.3 claims to not have any breaking API changes:
https://github.com/realm/realm-cocoa/releases/tag/v2.4.3

[2017-02-23 23:06] bdash commented on #4692
Presumably due to #4633. Thoughts, @tgoyne?

[2017-02-23 23:07] tgoyne commented on #4692
It is not listed as a breaking change because properties which such names appeared to never have worked in the first place, and the goal of the change was just to make it fail in a more understandable way. Do you have an example of a model which works correctly with Realm 2.4.2 which is rejected by 2.4.3? It may be that the check is overly broad.

[2017-02-23 23:29] matthewtsmith opened #4694 "Realm Crash: Assertion failed: list.col < list.observer->changes.size()"
## Goals

I'm attempting to observe 3 objects through KVO in one of my ViewControllers. When I leave the view I remove the observers. Once I leave the view I re-sync my data causing some old objects to be deleted from the Realm.

## Expected Results

The application should not crash

## Actual Results

The application crashes due to an assertion error:
`Assertion failed: list.col < list.observer->

[2017-02-24 00:46] mokkun commented on #4568
This issue seems to happen with `realm-java` as well.

[2017-02-24 01:07] bensarz commented on #4692
We did have a model that had a property called `newValue` but it wasn't being used yet, so we didn't see it as a problem. We have renamed our property and should be good to go now.
Thanks for the feedback guys.

[2017-02-24 02:41] Jinkeycode commented on #4692
@tgoyne my data model has no property with prefix 'new'，it works correctly in Realm 2.1.0 ，but is  failed in 2.4.3.

![image](https://cloud.githubusercontent.com/assets/12148377/23288295/b05f4cb6-fa7d-11e6-856f-233625b6d842.png)

[2017-02-24 02:43] bdash commented on #4692
@Jinkeycode, are those all of the properties declared in your class? Is that your only model class? None of those names look like they'd be rejected by the check added by #4633.

[2017-02-24 03:12] Jinkeycode commented on #4692
@bdash，oh！it's not the only model I have, I figure out that I have a property with prefix 'new'. I will fix it,thanks. Except 'new', is there any other prefix can not be used?

[2017-02-24 03:15] bdash commented on #4692
Names starting with `alloc`, `new`, `copy`, `mutableCopy` are disallowed if followed by a non-lowercase letter (or nothing).

[2017-02-24 03:56] Jinkeycode commented on #4692
@bdash ，I got it. Thanks for your help !

[2017-02-24 08:27] SoKoDaMie opened #4695 "Can not run after importing Realm.framework"
## Goals

Run the project after importing Realm.framework

## Expected Results

The project to build and run successfully.

## Actual Results

The XCode compiler prompts me bash:

/Users/wangming/Library/Developer/Xcode/DerivedData/TestRealm-agwbcitbddgewybfnhldxljtcuor/Build/Products/Debug-iphonesimulator/TestRealm.app/Frameworks/Realm.framework/strip-frameworks.sh: No such file or directory

##

[2017-02-24 10:29] pplant opened #4696 "Realm filesize increasing without storing new data causing mmap() failed: Cannot allocate memory size"
Hi there, currently I'm observing a strange behaviour while using Realm. It seems that every time I open the my App (be it a restart of the app, or a background foreground process) seems to increase the size of the realm file without having new objects being stored. So the amount of objects stored are not changing at least not dramatically, explaining an increase of Realm file size by 1000%. Weird

[2017-02-24 12:33] pplant commented on #4696
Seems to be a duplicate of [https://github.com/realm/realm-cocoa/issues/4590](#4590). Is there already a version in production fixing this?

[2017-02-24 18:53] istx25 opened #4697 "Swift example in Objective-C documentation"
We received an email in HelpScout saying that they found a Swift example inside the Objective-C documentation. Took a couple minutes to find the line but eventually did and it's in [Relationships](https://realm.io/docs/objc/latest/#relationships), "To-One Relationships" subsection.

`rex.owner?.address.country` has a Swift optional and should not.

[2017-02-24 21:01] istx25 commented on #4696
Hi @pplant. Thanks for reporting this. As you've seen, this issue was being tracked in #4590 and @bdash merged a fix for it in #4598. Please ensure you're using the latest version of Realm and if you're still seeing the issue, we can try to reproduce it here and continue with debugging.

[2017-02-24 21:05] istx25 commented on #4695
Hi there, @SoKoDaMie. Would you be able to provide us with what dependency manager and version(s) you are using (the screenshot you tried to share failed to upload) as well as any other supporting information that you can provide.

[2017-02-24 21:06] istx25 commented on #4694
Hi @matthewtsmith. Thanks for reaching out about this! My apologies for the delay in getting back to you about this. We'll have one of the engineers review what you've shared and follow-up with a solution or additional questions. Thanks!

[2017-02-24 21:08] istx25 commented on #4693
Hi @EmilOsvald. Thanks for reaching out about this. My apologies for the delay in getting back to you. I'll have one of the engineers look at this and follow-up with a solution or additional questions.

[2017-02-24 21:10] istx25 commented on #4692
Do you have any other questions, @Jinkeycode?

[2017-02-24 21:22] istx25 commented on #4691
Hi @nikunjazilen. Thanks for reaching out. We'll have someone review what you've shared and your questions and respond to you soon.

[2017-02-24 21:25] adomanico commented on #4583
Just following up:

Was there any internal discussion about this?

[2017-02-24 21:25] istx25 commented on #4690
Hi @boboboa32. Thanks for reaching out. We'll have someone review what you've shared and follow-up with a solution and/or additional follow-up questions. In the meantime, I recommend reading through our [NSPredicate Cheatsheet](https://realm.io/news/nspredicate-cheatsheet/) in case your solution lies in there. Cheers!

[2017-02-24 21:27] istx25 commented on #4689
Hi @JQHee. Thanks for reaching out. Unfortunately, I don't really understand your question. Would you be able to elaborate further and provide a crash log, sample code or any other supporting information that would lead us in the right direction. Thanks!

[2017-02-24 21:29] istx25 commented on #4687
Hi @ArifADS. Thanks for reaching out. My apologies for the delay in getting back to you. Someone will review what you've shared and respond with a solution and/or follow-up questions soon.

[2017-02-24 21:42] austinzheng commented on #4583
Thanks for checking in. Unfortunately we have other issues that take priority over this one and limited engineering bandwidth, so the best I can do for now is to put it in our backlog.

[2017-02-24 23:15] austinzheng commented on #4677
Thanks for getting in touch with us! This sounds like a great idea for an enhancement; I will add it to our backlog until the relevant engineers can discuss it.

[2017-02-24 23:19] austinzheng commented on #4690
Thanks for getting in touch. Can you provide us with a sample project that we can run to see this bug ourselves? Unfortunately there is not enough information in your code snippet to properly diagnose the cause. You can email a zip file to help@realm.io.

[2017-02-24 23:22] #4556 closed

[2017-02-24 23:31] austinzheng commented on #4694
Thanks for getting in touch, and we're sorry about the crash. Would you be willing to provide a demonstration project we can run to reproduce the bug and examine what is going on?

[2017-02-24 23:53] austinzheng commented on #4671
We'll continue looking into this issue, but unless we can build a reproduction case it'll be hard to make progress. If we figure anything out we'll let you know.

[2017-02-25 00:56] dogo opened #4700 "Perform Realm migration from one List to another updating property value"
## Goals

What do you want to achieve?

I'm trying to count how many cards are equal inside my List and update the new quantity property with the count number

## Expected Results

What did you expected to happen?

Create a new list without duplicated items and the new property ```quantity``` updated with how many equal items was in the original list

## Actual Results

What did happened instead?

[2017-02-25 01:37] d0n13 commented on #4551
Thanks Stel, the problems went away once I got all bits under control. Thanks for the help

[2017-02-25 11:15] yuldong commented on #3920
I met the same issue， and don't know why.

[2017-02-25 11:39] yuldong commented on #4696
see the lastest release version2.4.3 notes
hope 2.4.3 fixed this issue.

[2017-02-25 16:08] #4696 closed

[2017-02-27 07:11] quiet324 commented on #1103
+9

[2017-02-27 08:13] harryworld commented on #4641
@jpsim Does it mean I should call `realm.invalidate()` whenever I don't need to access the results anymore?
For instance, I may retrieve some objects and copy them into array. Once the copy is done, I should already `invalidate` realm instead of reusing it?

[2017-02-27 09:40] teotwaki commented on #4691
Hi @nikunjazilen,

For the record: You can disclose 192.168.x.x addresses, as there is (usually) no security risk involved. It will make it easier to reason about if we have real IPs.

To answer your questions:

1. The `authURL` is the URL used to authentication a user, and to "log on" to the Realm Object Server (ie: create a session, get the authorisation tokens to access Realm files). The `syncU

[2017-02-27 09:58] stel commented on #4691
As for question number 2: there is "Get Device IP Address" build phase that generates that file and uses the IP address of the current machine automatically. So if you want to use another address you can specify it manually in `authURL` and `syncURL`.

[2017-02-27 11:33] TeunVR opened #4701 "Realm notifications inside write transaction"
## Goals

I want to be able to create new notifications when something has happend in the realm database (so when another notification fires).
In my case i use RxRealm to create Observables (which are just wrappers around the notification system).
Sometimes i need to have a global query (like which Team is the current team). And then when those query results are updated i need to make a new query

[2017-02-27 12:06] nikunjazilen commented on #4691
Hi Teotwaki and Stel,

Thanks for the answers of all questions. I have tested drawing demo with different network and its working fine but some time not working even connected. Don't know the exact issue but when I run again its working. So do you any idea why this is happen?

Is there anyway to implement video chat/calling with Realm?

Thanks.

[2017-02-27 12:13] stel commented on #4691
@nikunjazilen try to investigate this issue by looking at the error messages in a console output (or just post it here) and please keep in mind that the server address is hardcoded in demo apps for simplicity, so if you change the sync server you won't be able to connect to it.

As for video streaming it's always up to you what technologies to use, personally I'd suggest you to look at some stream

[2017-02-27 12:30] nikunjazilen commented on #4691
Hi,

Thanks, I have tested in different network while run the app in device but its not working while switching the network while app working in foreground.

For example: Run the demo in 2 different devices with different network its working fine but when I switch into other network in one device its not working.

[code]

Can I integrate QuickBlox sdk to implement video chat/calling feature in app

[2017-02-27 17:33] istx25 commented on #4701
Hi @TeunVR. Thanks for reaching out about this. Someone will review what you've shared and follow-up with you soon. Cheers!

[2017-02-27 17:37] istx25 commented on #4643
Okay, thank you for sharing that.

[2017-02-27 17:40] istx25 commented on #4700
Hi @dogo. Thanks for reaching out. Someone will review what you've shared and follow-up with you here soon. Cheers!

[2017-02-27 17:41] istx25 commented on #4694
Hi @matthewtsmith. Just echoing @austinzheng's request - would you be able to provide us with a sample project so we can reproduce the issue? If you'd like to share it privately, please email it to help@realm.io and link to this issue. Thanks.

[2017-02-27 17:44] teotwaki commented on #4691
Please provide IP addresses of the different machines involved, and double check that you can access the dashboard from all the different clients.

Also, please post connection logs from both client and server.

[2017-02-27 17:51] austinzheng commented on #4641
@Jinxiansen, we're sorry that you're still having issues with Realm. Would you be willing to send us the Realm file that is causing the issue, so we can examine it ourselves? You can email it to help@realm.io.

[2017-02-27 17:57] #4635 closed

[2017-02-27 17:57] matthewtsmith commented on #4694
@austinzheng @istx25 We are not comfortable with giving you our primary code base but I will attempt to create a sample project that reproduces it.

[2017-02-27 17:58] istx25 commented on #4694
That's fine. Please let us know/share it once you have. Thanks.

[2017-02-27 19:06] kanekin opened #4702 "mutex lock failed: Invalid argument on `[RLMRealm realmWithConfiguration:error:]`"
## Goals

Crash free Relam instantiation

## Expected Results

Getting an Realm instance without c++ exception

## Actual Results

[code]

## Steps to Reproduce

I have not managed to reproduce this crash under debugger.

## Code Sample

I omit some details in the example.

[code]

## Version of Realm and Tooling

Realm version: 1.1.0, 2.1.2, 2.3.0 (This crash has never seen on 1.0.2 or lower)

Xc

[2017-02-27 19:21] pixiosdev commented on #4656
having the same problem!

[2017-02-27 19:55] austinzheng commented on #4701
Thanks for getting in touch with us. The behavior you're seeing is expected. Realm notifications may be delivered while Realm is in the middle of a write transaction, and it's not allowed to register a notification block while in the middle of a write transaction. You can check out [our docs](https://realm.io/docs/objc/latest/#how-notifications-are-delivered) for more information.

[2017-02-27 20:09] beloso commented on #4671
Hi, we're kinda tracking down this issue to some realm write transactions that are running on the main thread. We are trying to find them all and put them on a background thread.

[2017-02-27 21:28] austinzheng commented on #4683
I'll bring this up with @jpsim when he becomes available again.

[2017-02-27 21:34] austinzheng commented on #4687
Thanks for getting in touch with us, and sorry you're running into this issue. Can you send us a sample project that demonstrates this crash so we can investigate further? You can email a zip file to help@realm.io. If you can't do that, please post your model definitions so we can see if anything there might be causing problems.

[2017-02-27 21:37] austinzheng commented on #4671
Thanks. Let us know what happens when you do.

[2017-02-27 22:56] austinzheng commented on #4700
Thanks for getting in touch with us. I posted an answer to your Stack Overflow question [here](http://stackoverflow.com/questions/42404936/perform-realm-migration-from-one-list-to-another-updating-property-value). Let me know if you find it useful, and if you have any other questions.

[2017-02-27 23:05] bdash commented on #4608
@iandundas, is it intentional that you're building Realm both via Carthage and as a subproject? Building Realm in two different ways as part of the same project seems like it's asking for weird behaviors.

[2017-02-27 23:06] austinzheng commented on #4656
Sorry for the delay. Would you be willing to send over a sample project that we can run to reproduce this bug? Without understanding your code it's difficult to make any progress. You can send a zip file to help@realm.io; if you do we'd be happy to continue looking into the problem.

[2017-02-27 23:15] austinzheng commented on #4702
Thanks for getting in touch with us, and sorry you're running into this bug.

Do you have multiple stack traces for this same issue from Crashlytics? If so, on the thread where `[RLMRealm realmWithConfiguration:error:]` is crashing, is it always crashing at line 271 (search for `(RLMRealm.mm:271)` in the stacktrace above)?

[2017-02-27 23:47] austinzheng commented on #4702
One of our engineers noticed that your stack trace is occurring when your app is being terminated (note `-[UIApplication _handleApplicationDeactivationWithScene:shouldForceExit:transitionContext:completion]` in the main thread backtrace). It seems like this might be a spurious crash that Crashlytics shouldn't really be reporting.

If you have multiple stack traces, could you see if they are crashi

[2017-02-28 06:23] yuldong opened #4704 "Query operation result infinite memory"
## would query operation result a huge memory?
Besides, the memory won’t decrese in a few minutes

## Goals

according the condition, judge is the any data in realm fit it, and then return a new NSObject by the result?

## Expected Results

just a little memory increase.

## Actual Results

the app's memory increase almost 100M every time.
After few times, the app was killed itself.

## Steps to R

[2017-02-28 07:32] ggo16 commented on #4567
I have the same warning since several versions before.

[2017-02-28 08:34] TeunVR commented on #4701
Ah yes, is see. I missed this part in the docs:

I understand that it is expected behavior, but is it also wanted behavior? Just curious what the usecase is.

Is calling refresh() an expensive operation when the realm is already up-to-date? Otherwise i can add an extension that always calls refresh() before starting the write-transaction.

[2017-02-28 09:38] kanekin commented on #4702
Hi @austinzheng, thanks for the quick response. Much appreciated.

For the first question, yes the crash always happens on `[RLMRealm realmWithConfiguration:error:]` `(RLMRealm.mm:271)`.

For the second question, also yes I looked into other stack traces, as you have pointed out, I can see `_handleApplicationDeactivation...` in the main thread in every stack trace.

[2017-02-28 09:51] kanekin commented on #4702
The versions of `Fabric` and `Crashlytics` that we use are:
- 'Fabric', '1.6.7'
- 'Crashlytics', '3.7.1'

I will update them to the latest version and see if it helps, although I don't recognise anything related changes in [their change log](https://docs.fabric.io/apple/changelog.html#).
We usually can get a few crash reports a day from crashlytics, when we run the app for five devices or so. I wi

[2017-02-28 11:44] dogo commented on #4700
Problem solved :D, thanks @austinzheng

[2017-02-28 11:44] #4700 closed

[2017-02-28 15:44] kanekin commented on #4702
I have updated to the latest versions of `Fabric` and `Crashlytics` to 3.8.4 and 1.6.11 and running it for a couple of hours. And I could see that the problem still persists.
 Could you elaborate a bit more about why you think:

[2017-02-28 16:22] austinzheng commented on #4702
Thanks for the additional information!

If your app is creating a new Realm on a side queue at the same time the system is tearing your app down in preparation to terminate it, it's possible that the code that is creating a Realm is trying to use static variables that have already been destroyed. My personal opinion is that this sort of crash is irrelevant (since the user's app is going to be stop

[2017-02-28 16:53] austinzheng commented on #4701
We actually just added that part of the docs recently, so if you read the docs more than a week ago it might not have been there!

If you want to learn more about the rationale of why transactions work the way they do, you might want to skim through [this thread](https://github.com/realm/realm-cocoa/issues/4511#issuecomment-270715340). Basically, before a recent fix we made we were simply dropping

[2017-02-28 17:41] bdash commented on #4702
In general, doing work on a background thread concurrent with `exit` being called is going to be error-prone, as `exit` results in destructors being called for any C++ objects with static lifetimes. It's incredibly difficult to ensure that it's safe to continue using a library at that point as there's no guarantee that the object isn't in use while (or after) being destroyed. As @austinzheng menti

[2017-02-28 18:17] bdash commented on #4702
Interesting, that's not something I'd considered.

[2017-02-28 19:45] TeunVR commented on #4701
Ah that explains why i missed it :)
Thanks for the explanation, i will find a workaround.
Calling refresh() just before the write-transaction leaves a small gap in which another thread can still write to the realm. It will not solve this problem entirely, but it might be good-enough in combination with checking for ongoing write transaction.

[2017-02-28 19:45] #4701 closed

[2017-02-28 19:46] bdash opened #4705 "Conformance to Hashable is broken for objects without primary key"
Classes deriving from `Object` appear to automatically inherit conformance to `Hashable` due to having `NSObject` as a base class. The implementation of `hashValue` comes from `-[RLMObjectBase hash]`, by way of `NSObject`'s `Hashable` conformance delegating to the object's `hash` property. `-[RLMObjectBase hash]` isn't correct with respect to `-[RLMObjectBase isEqual:]` for objects that don't have

[2017-02-28 19:47] austinzheng commented on #4701
Thanks! If `refresh()` proves to be unsatisfactory or you have any other questions about Realm, feel free to open a new ticket.

[2017-02-28 19:51] tgoyne commented on #4705
`-[RLMObjectBase isEqual:]` is only overridden for objects which have a primary key for specifically this reason.

[2017-02-28 19:55] austinzheng commented on #4704
Thanks for getting in touch with us, and sorry you're experiencing issues. Unfortunately, it looks like your code listings are incomplete (for example, there is no definition of `refreshMemberDiscountWithCategory:memberTypeID:realm:`. Would you be willing to build a small project that reproduces the behavior so we can examine it ourselves and help you further? You can send a zip file containing a

[2017-02-28 19:56] bdash commented on #4705
Hmm, yeah, I overlooked that. I guess that means the behavior we provide is correct, but (unavoidably) not super useful for objects without a primary key.

[2017-02-28 20:27] bdash commented on #4705
I was wrong about the cause, but this really _is_ broken at present. `Object` overrides `isEqual` and unconditionally calls `RLMObjectBaseAreEqual` rather than only calling it if the class has a primary key as `-[RLMObjectBase isEqual:]` does.

[2017-02-28 20:33] bdash commented on #4705
Removing the override of `Object.isEqual(_:)` introduces many test failures as we appear to be relying on the same object retrieved multiple times from the same Realm comparing as equal.

[2017-02-28 20:50] bdash commented on #4704
It'd also be useful to reproduce the problem under Instruments' memory allocation instrument. This will give you insight into which objects are allocated and tying up memory. One thing this can help you spot is cases where you're allocating objects inside a loop and they're escaping into the containing autorelease pool, resulting in the heap growing constantly while the loop progresses. This case

[2017-02-28 22:03] austinzheng commented on #4690
Thank you for sending us a reproduction case. I've filed a bug against the underlying database engine: https://github.com/realm/realm-core/issues/2476.

[2017-02-28 22:47] yuldong commented on #4704
@austinzheng i have updated the issue， and I will send a project later. thanks.

[2017-02-28 22:51] yuldong commented on #4704
@bdash thanks for the advice, I will try your way and share the conclusion.

[2017-02-28 23:02] austinzheng commented on #4641
@harryworld can you file a new ticket so we can better track your issues? As for your question, you can call `realm.invalidate()` if you don't plan on using that Realm again or any of the object instances you got from the Realm.

More specifically, you want to avoid keeping Realms that won't be used again open. You can ensure that these Realms don't live longer than they should by calling `invalid

[2017-03-01 00:00] kosyak opened #4706 "Cannot update Optional object property with nil value"
## Goals

Use `createOrUpdateInDefaultRealm` to update `Optional` object property with `nil` value

## Expected Results

Property becomes `nil`

## Actual Results

Property doesn't become `nil` - it remains the same

## Code Sample

[code]

Sample project: https://github.com/kosyak/RealmOptionalTest

## Version of Realm and Tooling

[code]

##
I suspect https://github.com/realm/realm-cocoa/blob/ma

[2017-03-01 00:45] yuldong commented on #4704
![image](https://cloud.githubusercontent.com/assets/5005006/23441122/4a906c76-fe5b-11e6-90fc-8960c0da8d6f.png)
@bdash @austinzheng

[2017-03-01 00:53] yuldong commented on #4704
![image](https://cloud.githubusercontent.com/assets/5005006/23441275/527ff4c8-fe5c-11e6-9c70-d0cf09b87c9f.png)
@bdash added autorelease pool.
[code]

[2017-03-01 01:11] tbeech opened #4707 "Return current transaction in transactionWithBlock or beginWriteTransaction"
## Goals

What do you want to achieve?
When beginning a write transaction whether using beginWriteTransaction or by using transactionWithBlock, it would be nice if the realm is already in a write transaction to just return the current transaction. I have public methods that can be used stand alone (e.g. a transaction needs to be created) but are also called from other methods where a transaction w

[2017-03-01 02:42] YioMidd opened #4708 "Crash: When I want to store a array of RLMObejct"
First, show the code following...
MCSMyFriendItem: a custom data model, inherit NSObject
MCSFriend: a RLMObject
[code]

and then, the crash log:
[code]
should use RLMArray for instead?

[2017-03-01 02:59] austinzheng commented on #4708
Thanks for getting in touch with us.

Are you trying to add all the `MCSFriend` objects in your `entityArray` into the Realm? If you are trying to do that you should not use `createOrUpdateInRealmWithValue:`. Instead, use the `addObjects:` method on `RLMRealm`.

The `createOrUpdateInRealmWithValue:` method is for creating a _single_ object, and the value you pass in is used to set the properties o

[2017-03-01 03:01] austinzheng commented on #4704
We'll wait for you to send over a demonstration project.

[2017-03-01 03:20] YioMidd commented on #4708
@austinzheng Thanks! It works.  But that also a another problem, I must delete all objects in realm before I writing into realm again... if not, get crash
[code]
Whether affect the performance?

[2017-03-01 03:25] austinzheng commented on #4708
If your models have primary keys you may want to use `RLMRealm`'s `addOrUpdateObjectsFromArray:` method instead. For each object in your array, if an object with the same primary key already exists it'll just update the value. Otherwise it'll add the object.

[2017-03-01 03:31] YioMidd commented on #4708
3Q!! work correctly.

[2017-03-01 03:31] #4708 closed

[2017-03-01 04:41] danielbowden commented on #4305
I may have just run into this issue as well. I see that it is still open, is there any update or maybe I've just missed a step?

To give a simplified example.

A `Feed` object and `FeedItem` object. Feed has an `items` RLMArray property.
[code]

I have a collection notification block set up for `RLMResults` where the query is `[Feed objectsWhere:@"ANY items.status > 0"]`.

Any changes to a FeedIte

[2017-03-01 06:14] denisenkoaj opened #4709 "Memory leak with Realm sorting ?"
## Goals
What do you want to achieve?
I create app that uses CallKitDirectory Extension (for blocking and identification numbers)
Extension can get numbers from realm database placed in app container. Numbers must be in ascending order. I want to get numbers from realm with sorting

## Expected Results
realm.Objects(..)sorted -  should take same memory size as without sorted

## Actual Results

Wh

[2017-03-01 08:17] danielbowden commented on #3885
@jpstern were you ever able to get this working? I am experiencing the same issue of the notification block not firing for a modification if the modification does not affect the overall query results. I further explained it in the issue @jpsim linked to above.

Unless I've missed something, it seems like the notification part of the test here: https://github.com/realm/realm-cocoa/blob/master/Realm

[2017-03-01 15:38] beloso commented on #4671
We are still changing our persist logic. But we are 90% sure this is an issue with executing write transactions on the main thread/queue. Most of our usage of threads is on completion blocks or subscribeCompletes (when using RAC) of network requests, our completion blocks are executed on the main thread (we are moving to fix that), and this causes most of our crashes, moving write transactions to

[2017-03-01 18:28] austinzheng commented on #4671
Thanks for the update. Were your write transactions and notification blocks all running on the main thread, before you began moving them to background threads?

[2017-03-01 18:32] beloso commented on #4671
Our notification tokens are all (mostly) on the main thread.
Some of our write transactions were on the main thread. And those were the ones crashing out app.

[2017-03-01 20:14] istx25 commented on #4706
Hi @kosyak. Thanks for reaching out to Realm. I'll have someone review what you've shared and follow-up with you soon. In the meantime though, I recommend you look at:

You're using the Objective-C binding in Swift instead of the Swift binding in Swift. Use `import RealmSwift` instead of `import Realm` and update your code. If this doesn't help, no worries, one of the Cocoa engineers will follow-u

[2017-03-01 20:55] kosyak commented on #4706
Hi @istx25, thanks for the reply. Indeed, I haven't clarify the environment where we use Realm: it's an Objective-C project currently migrating to Swift. Migration won't be complete in near future so we're still using `Realm` pod in Swift and Objective-C files.

I have updated sample project by including dummy ObjC class to reflect our use case (not sure though if that's the same as creating ObjC

[2017-03-01 21:02] istx25 commented on #4706
Awesome, thanks for clarifying that. You are correct to use the Objective-C binding in that situation; just wanted to make sure. Someone will be in touch soon.

[2017-03-01 21:24] austinzheng commented on #4706
Thanks for getting in touch with us, and for the repro case. I've just ran it, and I'll be looking into exactly what's wrong.

(If you want to submit a PR, you're free to do so as well.)

[2017-03-01 22:16] austinzheng commented on #4706
This problem is a little more complicated than I anticipated. Basically, at the point in `RLMObjectStore.mm` where the setting is taking place, we don't seem to have enough information to distinguish between setting a property to `nil` (your test case) and not touching a property at all (our `testCreateOrUpdateNestedObjects` test case). I'll have to think about this some more.

[2017-03-01 22:32] austinzheng commented on #4707
Thanks for getting in touch with us. I'll add this to our feature backlog and then discuss with our engineers whether we want to pursue this route.

[2017-03-01 22:35] austinzheng commented on #4671
Thanks. I'm not too familiar with how ReactiveCocoa works, unfortunately. If moving write transactions to a background thread fixes your issue, that will unblock you while allowing us to examine the issue in more depth when we have the bandwidth or a reproduction case can be built. Otherwise, if that doesn't fix your issue, feel free to continue asking us questions, and we'll do our best to help.

[2017-03-01 23:09] tgoyne commented on #4709
Sorting data inherently requires scratch space proportional to the number of items being sorted. Currently we require 16 bytes per row being sorted (for 64-bit; 8 bytes for 32-bit), which naturally won't fit in 13 MB if you have a million objects.

If you have just a single sort order, you could avoid the memory hit by doing the sorting in the main app, and then storing the sorted data as a `List`

[2017-03-01 23:16] tungvoduc opened #4710 "Realm crashes when using with AsyncDisplayKit"
I am not sure where to ask so I put this question in AsyncDisplayKit issue and here as well.
I recently integrated Realm to my existing project and encountered a lot of crashes. All of them are  **libc++abi.dylib: terminating with uncaught exception of type realm::IncorrectThreadException: Realm accessed from incorrect thread.**.
I make sure that all of Realm objects' creation, access happen in ma

[2017-03-01 23:32] beloso commented on #4671
No problem, I didn't really meant to have write transactions on the main queue.
And I never had any issues, or at least I have never noticed them. But then again this only happens in certain devices in certain conditions. About 10% of the sessions in Crashlytics have this crash. So not even my current code is a 100% reproducible scenario.
I do hope that the work I am doing to isolate writes on a b

[2017-03-02 02:41] danielbowden commented on #4305
@tgoyne, @jpsim, @bdash or @viktorasl do you know if this was addressed? Possibly in a different "known bug" issue instead that @tgoyne had mentioned?

[2017-03-02 03:48] denisenkoaj commented on #4709
Hello @tgoyne  ! Thank you for your answer!
Could you help me, how to save sorted `List` in main app for querying it from extension ?
As i understand - i should create new class inherited from `Object`, create 1 variable of `List` type , and put in this variables sorted `Results` and then save in realm it ?

[2017-03-02 07:56] viktorasl commented on #4305
Probably it would be better if you could attack demo project to illustrate the problem. For me notification about changes of directly linked objects (in your case items) works fine. The problem only occurs with inverse relationship (I made a workaround to avoid inverse relationships). There might be a problem with `ANY` specifier. But demo project would totally help Realm developers.

[2017-03-02 11:24] Tindi commented on #3916
@alejandro-menendez what did you do instead? I have the exact same issue.

[2017-03-02 12:49] arunlj561 commented on #4710
I am also looking for the same issue. Please can anyone help, Can we use Realm With AsyncDisplayKit or not ?
<img width="1280" alt="screen shot 2017-03-02 at 6 17 15 pm" src="https://cloud.githubusercontent.com/assets/13132856/23507787/a4e2801e-ff74-11e6-8d9c-7b01fc87087f.png">

[2017-03-02 13:40] yuldong commented on #4704
@austinzheng
因为当前这个问题比较紧急，而当前的项目又不能单独拉出来发给你们。
目前我的处理方式：
通过先将数据库中的相关结果[这种数据比较少]查出来，放在内存中，然后在循环中对在内存中的的结果集进行filter。从而避免在循环里面对realm进行filter.
调整后，该问题暂时解决了。
暂时将改问题关闭，后续我会将单独拉出来的project发给你们。
再次感谢
Because this problem is more urgent, and  I couldn't send you the current project in time.
Now my way:First, query the realm results [just a few data] into memory, then filtering the memory results in the loop.

[2017-03-02 13:40] #4704 closed

[2017-03-02 15:01] arunlj561 commented on #4710
@tungvoduc - To avoid this, you can use ThreadSafeReference https://realm.io/news/obj-c-swift-2-2-thread-safe-reference-sort-properties-relationships/ it can be passed across the threads. Follow this I was also facing the same issue, got the answer on Realm Slack Channel.

[2017-03-02 15:02] austinzheng commented on #4704
Thank you! I'm glad you were able to find a workaround. Please do send us your demonstration project whenever you have time. If you have any more questions feel free to file another ticket.

[2017-03-02 15:04] austinzheng commented on #4709
Yes, that is correct. Create an `Object` that just wraps a single `List`, and add the items in the sorted `Results` to that `List`.

[2017-03-02 15:42] tgoyne commented on #4305
Nothing's changed here. Fixing this probably requires first finishing keypath filtering for notifications, as we've had a few people tell us that they're using inverse relationships specifically for this behavior.

[2017-03-02 17:10] account-archived-270316 opened #4711 "Need a new build for Swift 3.1"
It appears the latest build in `realm-swift-2.4.3` works as far as `swift-3.0.2`.

For Xcode 8.3 beta 3 we would need a build for `swift-3.1` or else we would run into `module compiled with Swift 3.0.2 cannot be imported to Swift-3.1` error

[2017-03-02 17:15] austinzheng commented on #4711
Thanks for getting in touch with us. We don't guarantee any support for Xcode betas with our pre-built versions. You are welcome to follow the instructions [in our README](https://github.com/realm/realm-cocoa#building-realm) to build from source.

[2017-03-02 17:15] #4711 closed

[2017-03-02 18:42] istx25 commented on #4684
Just echoing my previous request, @dsanghan. Would you be able to provide the project or any code that is called when Realm is being initialized/on app startup? Thanks!

[2017-03-02 18:43] istx25 commented on #4678
Due to inactivity, I assume you've corrected the issue? I'm closing the issue but if you still require assistance, please follow-up and we can reopen the issue and continue. Cheers!

[2017-03-02 18:43] #4678 closed

[2017-03-02 18:45] istx25 commented on #4672
Hi @neetin. Echoing @bdash's request, would you be able to share a self-contained code sample or a piece of code that reproduces the issue? Thanks.

[2017-03-02 18:48] istx25 commented on #4658
Do you still require assistance, @atom2ueki?

[2017-03-02 18:57] bdash commented on #3584
The realm-core issue I filed about this crash, realm/realm-core#1822, was included in core's 1.2.0 release. That was picked up in Realm Cocoa in #3809, which was released as part of [v1.0.2](https://github.com/realm/realm-cocoa/releases/tag/v1.0.2).

[2017-03-02 18:57] #3584 closed

[2017-03-02 21:22] kanekin commented on #4702
**Update: **
It took a bit longer than we expected to start testing the patch, but we have been running the app with the patch for about 12 hours now, and we haven't seen the crash report so far. I will post an update again tomorrow.

[2017-03-02 22:04] denisenkoaj commented on #4709
@austinzheng Thank you! Everything is work great!

[2017-03-02 22:38] #4709 closed

[2017-03-02 23:12] danielbowden commented on #4305
@tgoyne ok thanks for the update.

In the meantime I have worked around this by adding a `lastModified` property to `Feed` and then when making a change on `FeedItem` I update last modified using the inverse relationship.

[code]

Not that great, but it fires a modification change in the collection notification which is what I was after.

[2017-03-03 05:57] dsanghan commented on #4684
No, unfortunately we can't share the project code. If it helps, this only started happening after we updated from 2.1.2 to 2.4.3.

[2017-03-03 05:58] dsanghan commented on #4684
This also seems to be an error added by one of the developers at realm to help them debug it.

[2017-03-03 07:25] hovox opened #4712 "Fabric crash logs realm descriptor deattach"
We are receiving crashes from Fabric, here is the link to the crash:

http://crashes.to/s/03114cd32b8

Realm version: 1.1.0

Xcode version: 8.2.1

iOS/OSX version: You can find from the link above

Dependency manager + version: Cocoapods 1.1.1

Please let me know if you want more info about this crash, we couldn't reproduce this, but in fabric we receiving a lot of this.

Thanks in advance

[2017-03-03 07:43] alejandro-menendez commented on #3916
@Tindi as of now I am using 2.3.0 ( pod 'RealmSwift', '2.3.0' ).

[2017-03-03 07:45] Tindi commented on #3916
@alejandro-menendez yeah did the same. But thanks for your response! I'll migrate to Swift 3 soon.

[2017-03-03 07:45] alejandro-menendez commented on #3916
@Tindi same here

[2017-03-03 07:47] tbaranes commented on #4428
After one week of internal testing, we don't reproduce that deadlock anymore. So, in conclusion:
- The issue is definitely from the realm notification even if I have no way to reproduce it, neither any explanation. It's probably a rare case with a special context
- I will stick with that new flow instead of notifications since it has fixed the issue for me

Anyway, closing that issue is up to you,

[2017-03-03 09:08] account-archived-270316 commented on #4711
@austinzheng I see. Thank you

[2017-03-03 11:13] elabi3 opened #4713 "Realm addObject stop execution"
I had an app that used Realm to save information about a notification in a Realm instance stored inside an App Group. Notification Extension save that notification inside the database and after that the information was read from main target.

This code worked fine but after a month i recompile the same code (discarting changes in my git repository) and stop works, I already review:

- Certificates

[2017-03-03 15:33] austinzheng commented on #4713
Thanks for getting in touch with us, and sorry you're having this problem. Can you build a demonstration project we can run ourselves to see this bug, and send it to help@realm.io?

[2017-03-03 16:20] ArifADS commented on #4687
I sent the email with a little example project, hope it helps

[2017-03-03 17:19] austinzheng commented on #4428
Thank you for the follow-up! We'll close this ticket, but if you run into issues in the future feel free to open a new one.

[2017-03-03 17:19] #4428 closed

[2017-03-03 17:24] bdash commented on #4687
Thanks for sharing the project, @ArifADS. I was able to use it to reproduce the crash you describe.

[2017-03-03 18:52] bdash commented on #4687
It looks like what's happening is that the Realm file on the server has the same properties as the model declared in the app, but in a different order. When we download the Realm from the server we reorder the properties in the Realm file on disk to match the order on the server, but for some reason we're not updating our in-memory mapping from property to column index. I'd expect the object store

[2017-03-03 18:53] austinzheng commented on #4712
Thanks for bringing this to our attention. Any additional information you can provide would be much appreciated; we've taken a look at the Fabric crash report but unfortunately there's not enough there for us to move forward with.

[2017-03-03 18:55] austinzheng commented on #4684
Thanks for getting in touch with us. We don't need to see your entire project, just a demonstration project that allows us to reproduce the bug manually. It's our policy to not move forward without one. Thanks for your understanding.

[2017-03-03 19:22] ArifADS commented on #4687
Great, well that is a great catch. If you need any other info just tell me.

[2017-03-03 20:18] austinzheng commented on #4692
I'm closing this ticket. If you have any more questions, feel free to file another one!

[2017-03-03 20:18] #4692 closed

[2017-03-03 20:20] austinzheng commented on #4540
Hey @plivesey. Sorry this dropped through the cracks. Are you still seeing this problem?

[2017-03-03 21:46] bmunkholm commented on #4684
@dsanghan The assert that is being triggered here does not have enough context. So if you have any info at all about the circumstances under which this occurs, or the realm file itself, it wouldbe hugely valuable for us so we can get this fixed.
Is it from a production use? Or testing? Have you seen it more than once?