[2021-06-01 13:11] lukluca commented on #2138
+1

[2021-06-01 14:59] ericjordanmossman commented on #6719
I think it's still enabled but I haven't seen it fail lately.
Before this is closed we need to double check that changes in the past year resolved the issue.

[2021-06-01 23:30] #6999 closed

[2021-06-01 23:31] #7000 closed

[2021-06-01 23:31] #7001 closed

[2021-06-01 23:31] #7002 closed

[2021-06-01 23:31] #6997 closed

[2021-06-01 23:31] #6998 closed

[2021-06-01 23:32] #6987 closed

[2021-06-02 09:05] jeanbaptistebeau commented on #6829
I hadn't experienced this issue until I launched my app to production this week. There is a special situation where a similar issue happens (reported by a user):

If the app is closed while waiting for `login(credentials:, completion:)`, it may happen that the `identities` array of the persisted user is empty.

It isn't easy to reproduce, but the steps would be the following:

- Enable Network Lin

[2021-06-02 11:46] sushmalatha commented on #6925
Have you got the solution for that

[2021-06-02 11:49] sushmalatha commented on #6925
Did you remember to mark them with '@objc' in your model?

Please help me on this how to resolve. i'm also facing same issue

[2021-06-02 12:05] pavel-ship-it commented on #6925
@sushmalatha what is your objects model? Did you define the properties with '**@objc dynamic var**'?

[2021-06-02 18:29] ericjordanmossman commented on #6829
If the completion has not been called, then no user has been logged in yet. So there would be no current user.
Do you have some sort of logic flow like:
[code]
Or is the problem specifically when you there is a current user after restart, but no identities?

[2021-06-02 21:07] #6767 closed

[2021-06-03 06:25] finnschiermer commented on #6763
@thanhan123 Which version of Realm are you using?

[2021-06-03 06:29] thanhan123 commented on #6763
@finnschiermer I used Realm version 10.7.4

[2021-06-03 06:42] finnschiermer commented on #6763
@thanhan123  you wrote: "In the app we used Realm.Configuration(encryptionKey: realmDataKey)"

Does this mean that you are using encryption? Or that you are not?
(I'm not entirely familiar with the way Realm is configured in the Cocoa SDK. )

[2021-06-03 06:44] thanhan123 commented on #6763
It means that I am using encryption in my app.

[2021-06-03 07:19] finnschiermer commented on #6763
@thanhan123 Can you reproduce it reliably? If so, is there any way for us to get a repro-case from you?

[2021-06-03 08:07] RexIron opened #7269 "How perform a better SwiftRealm migration value ?"
I am using Realm Swift (5.0.2) and Realm-java on iOS and Android. I need to implement database migrations to update values in databases.
On Swift the migration is done as follows: currentVersion -> latestVersion. While on Android: v1 -> v2 -> latestVersion.

Following Example show a migration 0 -> 1 then 0/1 -> 2 on iOS:

 - 0 -> 1 = V1: creation of a new Fantastic film category (composed of
   tw

[2021-06-03 10:00] mohsinka commented on #6680
This is occurring for us again and showing App Hang issue. Following is the stack trace:

App Hang · The app was terminated while unresponsive
0	Realm	realm::ObjectStore::schema_from_group(realm::Group const&)
1	Realm	realm::Realm::read_schema_from_group_if_needed()
2	Realm realm::Realm::Realm(realm::Realm::Config,realm::util::Optional<realm::VersionID>,std::__1::shared_ptr<realm::_impl::RealmCoor

[2021-06-03 10:51] 624990742 commented on #7267
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: RealmSwift 10.8.0-beta.1

Xcode version: xcode 12.5

iOS/OSX version: 14.5

Dependency manager + version: cocoapods 1.10.1

[2021-06-03 11:00] 624990742 commented on #7267
Thank you very much. At present, the second problem has been solved. It's my own mistake. That's all that's left.Error log:
error: module importing failed: Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/jiachen/Library/Application Support/Realm/rlm_lldb.py", line 37
    os.makedirs(destination, 0744)

Realm framework version: RealmSwift 10.8.0-beta.1
Xcode

[2021-06-03 11:56] pavel-ship-it commented on #7269
Hi @RexIron ,
About Linear migrations you can read here - https://docs.mongodb.com/realm/sdk/ios/examples/modify-an-object-schema/#std-label-ios-perform-a-schema-migration

We have the example project with the migrations between 5 different versions. Please check it out here - https://github.com/realm/realm-cocoa/tree/master/examples/ios/swift/Migration

If you still have any questions - leave a c

[2021-06-03 14:19] RexIron commented on #7269
Thanks for your reply.

I have read the documentation but I don't see anything with my problem. Wouldn't that come from the way I initiated the configuration of realm ?

Here is how I implemented it  :

<pre><code>
    /// Initialize realm configuration.
    ///
    /// - Throws: If error during realm configuration.
    private func initializeRealm(realmConfiguration: Realm.Configuration?) throws

[2021-06-03 14:26] jedelbo commented on #6680
This issue was about a crash while upgrading from one file format version to another. From the description above it looks like you are observing something different. If that is the case, I suggest you open a new issue with relevant information.

[2021-06-03 14:35] pavel-ship-it commented on #7269
The mentioned example use method `performMigration(for configuration:)` and `Migration` object to call a migration block for a given version. You can get access to the working example by checking out this repository and opening project `examples/ios/swift/RealmExamples.xcodeproj`

[2021-06-04 03:29] bdkjones opened #7270 "Realm Config Fails To Create Intermediate Directories"
## Goals

I want Realm to consistently create directories when needed so that I can organize all the various database files into a subfolder of my Application Support folder.

## Expected Results
Given this code:

[code]

I expect Realm to *create* the folder `database` when it's missing:

    ~/Library/Application Support/com.appname/database/main.realm

This expectation is valid because Realm au

[2021-06-04 09:07] pavel-ship-it commented on #7270
Hi @bdkjones
This is not a bug. The directory in which you're creating the Realm file must already exist.

Creation of each directory involves assignment of access rights and error handling which is responsibility to the app itself.

[2021-06-04 09:24] bdkjones commented on #7270
I think the primary issue is that I’m expecting this API to do one thing and its official purpose is something else. What I REALLY want is to tell Realm, “Stop polluting the root of my Application Support folder with a bunch of files and folders. Instead, put all your stuff in this subfolder called ‘database’”.

Realm appears to create a bunch of files/folders in the root Application Support folde

[2021-06-04 09:59] omokagbo commented on #7266
Same thing happens. The error kind of goes and comes back from what I observed. I'm thinking it might be a problem with xcode or something.

[2021-06-04 11:23] pavel-ship-it commented on #7270
Creation of auxiliary files is a [documented](https://docs.mongodb.com/realm/sdk/ios/fundamentals/realms/#realm-files) behaviour.
Also you still can use custom directory for a Realm and aux-files:
[code]
Please be careful while deleting a Realm files. Alternatively you can use `deleteAll()` to wipe the data in a Realm.

[2021-06-04 11:48] puiz666 opened #7272 "Add back support for mapping Swift structs to collections in Atlas, a functionality removed from Stitch"
## Goals

I have a Swift struct, and I want to add it to my collection in Atlas.
Previously, I was able to map a struct to a collection:

```let itemsCollection = mongoServiceClient.db(“myDatabase”).collection(“myCollection”, withCollectionType: MyStruct.self)```

After the Realm integration, this functionality seems to be absent. Instead, the SDK now expects me to convert my Swift struct into a R

[2021-06-04 15:15] sync-by-unito[bot] opened #7273 "Add tests and docs for Realm.WriteCopy with Sync"
Core changed the behavior of WriteCopy for synchronized Realms to remove the client file identifier. This means that we can now WriteCopy a Realm owned by user A and open it with user B and not have to redownload the data/experience a client reset. We should get that for free since we already use WriteCopy, but we should:
1. Write tests that verify that this is indeed the behavior, including error

[2021-06-04 15:56] dianaafanador3 commented on #7251
Hi @dabaicaden I haven't been able reproduce your issue. I created another project that may be more similar to yours https://github.com/dianaafanador3/RealmModulesProjectsPlaygorunds/tree/master that you can take as a reference.
I try always to start with a clean project, first installing my cocoa-pods dependencies and then adding my local modules to the workspace.
This error may be caused by old

[2021-06-04 16:43] bdkjones commented on #7270
Thanks. That’s what I mean: I wanted to relocate all the auxiliary files AND the *.realm file to a subfolder. That does not appear to be possible.

-Bryan

[2021-06-04 16:43] #7270 closed

[2021-06-04 18:47] ericjordanmossman commented on #7266
And changing the [other swift flags](https://github.com/realm/realm-cocoa/issues/6301#issuecomment-614225989), no longer works with 10.7.6?

[2021-06-06 13:58] haozhutw opened #7275 "App crashed when invoking [RLMRealm defaultRealm]"
My app crashes for multiple times, from the Firebase console I can see more and more users have encountered this crash.

## Goals
I want to resolve this crash issue, please help!

## Expected Results
The app won't crash

## Actual Results
app crashes when executing `[RLMRealm defaultRealm]`

## Steps for others to Reproduce
I can't reproduce this crash, but the number of crashes on the Firebase co

[2021-06-06 20:48] dabaicaifen commented on #7251
@dianaafanador3 I only saw 1 available module......
<img width="236" alt="Screen Shot 2021-06-06 at 4 47 47 PM" src="https://user-images.githubusercontent.com/25300313/120939646-00e9cf00-c6e7-11eb-9340-f795139c0e79.png">

[2021-06-07 05:01] raghunrmediacorp opened #7276 "realm::GroupWriter::FreeList::move_free_in_file_to_size_map+"
!!! MANDATORY TO FILL OUT !!!
Crashing on app Launch after upgraded the app with new SDK - RealmSwift (10.7.6)

Hardware Model:      iPhone12,8
AppStoreTools:       12E262
AppVariant:          1:iPhone12,8:13
Code Type:           ARM-64 (Native)
Role:                Foreground
Parent Process:      launchd [1]

Date/Time:           2021-06-04 12:39:46.0610 +0800
Launch Time:         2021-06-04 12:3

[2021-06-07 05:12] raghunrmediacorp opened #7277 "Realm iOS SDK: realm::GroupWriter::FreeList::move_free_in_file_to_size_map+"
!!! MANDATORY TO FILL OUT !!!

The app Crashing every time during app launch which initialize realm after we updated with latest SDK - RealmSwift (10.7.6):

Hardware Model:      iPhone12,8
Version:             3146 (3.3.5)
AppStoreTools:       12E262
AppVariant:          1:iPhone12,8:13
Code Type:           ARM-64 (Native)
Role:                Foreground
Parent Process:      launchd [1]

Date/Time

[2021-06-07 05:15] raghunrmediacorp opened #7278 "Realm iOS SDK: realm::Array::destroy_deep+ 1040980 (realm::MemRef, realm::Allocator&)"
The app Crashing every time during app launch which initialize realm after we updated with latest SDK - RealmSwift (10.7.6):

Hardware Model:      iPhone12,8
Version:             3146 (3.3.5)
AppStoreTools:       12E262
AppVariant:          1:iPhone12,8:13
Code Type:           ARM-64 (Native)
Role:                Foreground
Parent Process:      launchd [1]

Date/Time:           2021-06-04 12:39:46

[2021-06-07 06:52] dianaafanador3 commented on #7251
Hi @dabaicaifen I already updated the repo with the right setup https://github.com/dianaafanador3/RealmModulesProjectsPlaygorunds/tree/master

[2021-06-07 07:24] dianaafanador3 commented on #7250
HI @bb-git upgrading from v5.5.0 to 10.7.6 for example will update realm format version file from v11 to v20, which will indeed trigger a backup creation. Have you been able to solve this issue?

[2021-06-08 04:01] DSPerson commented on #7213
delete RealmSwift from your Podfile file, add it swift Package manager
detail: [https://stackoverflow.com/questions/67150275/building-realm-for-mac-catalyst-fails-realm-h-not-found](url)

[2021-06-08 09:03] haozhutw commented on #7275
Looks like no one would like to help! Upset!

I just fixed this, I post the solution out and hope this case can help others who have encountered the same issue.

The root cause is the method `RLMIsObjectSubclass `
[code]
if the `klass` has no super class or at least two super class, the app will crash.  In my case, I found there are more than 38000+ classes when `static void RLMRegisterClassLocalN

[2021-06-08 09:03] #7275 closed

[2021-06-08 09:28] #7208 closed

[2021-06-08 11:55] ashwaniInsigma opened #7280 ""Called realm::util::terminate() with wrong number of arguments")"
Hi,

I am using RealmSwift (10.7.6):

I have faced this during write operation to add new realm object

 static_assert(sizeof...(infos) == 2 || sizeof...(infos) == 4 || sizeof...(infos) == 6,
                  "Called realm::util::terminate() with wrong number of arguments");
    terminate(message, file, line, {Printable(infos)...});

[2021-06-09 00:50] gongzhang commented on #6671
I'm sad to report that on iOS 15.0 beta 1, I'm once again getting the 0xdead10cc crash when the app opens a new Realm in the background and performs a write operation.

[2021-06-09 07:36] ravikirankhareedi opened #7281 "Realm Studio Version 11.0.0-beta.1 not compatible with Realm v10.8.0-beta.2"
## Goals
Browse the realm database generated using Realm v10.8.0-beta.2.

## Expected Results
As per the doc, Realm Studio Version 11.0.0-beta.1 should be compatible.

## Actual Results
Opening Realm files of format version 22 is not supported by this version of Realm

## Steps for others to Reproduce
Use Realm v10.8.0-beta.2 with a swift application. Make use of the new feature, AnyRealmValue. Wr

[2021-06-09 14:48] anton-plebanovich commented on #6738
I had to use `OpenID Connect` instead. Was getting `error exchanging access code with OAuth2 provider` error when tried to use `Credentials.google(serverAuthCode:)`

[2021-06-09 17:05] ericjordanmossman commented on #6738
@anton-plebanovich Could you explain more?

[2021-06-09 17:18] #6719 closed

[2021-06-10 08:06] anton-plebanovich commented on #6738
Hi @ericjordanmossman not sure what to explain I tried to follow the guide of how to use Google Auth and ended up getting `error exchanging access code with OAuth2 provider` in the end. I'm also using accounts linking before the first login but not sure if it's the reason. The strange thing though it that accounts are linked but login fails afterward.

[2021-06-10 11:38] jsflax commented on #7276
@finnschiermer @jedelbo  can't say I've seen the top of this stack trace before– looks like an upgrade issue? Any thoughts?

[2021-06-10 11:40] jsflax commented on #7278
@finnschiermer @jedelbo similar to the other issue I tagged you on, this appears to be happening during an upgrade/migration. Thoughts would be appreciated.

[2021-06-10 11:41] jsflax commented on #7280
Hey @ashwaniInsigma , do you have any sample code you can show us that triggered this error? Not a very useful stack trace, I know, but more info could help us here.

[2021-06-10 11:50] jaenthemaen commented on #3345
Same problem here after adding some more test cases and apparently passing the threshold now. Is my assumption correct that there is no Swift way to achieve a workaround similar to the `performSelector` with `resetRealmState` approach in Objective-C that bdash mentioned? Any help would be greatly appreciated.

[2021-06-10 13:53] jaenthemaen commented on #3345
Clearing the tmp folder that is getting flooded with DB files periodically (e.g. in a tearDown call) has no effect since the error seems to originate from an internal threshold or cache limit I guess?

[2021-06-10 14:57] RexIron commented on #7269
Thanks for your feedback,

Here is what I implemented to answer my problem. I create a loop that launches `performMigration` step by step`
I'm not sure this is a good development practice, what do you think about this ?

<pre><code>
    /// Define migration block.
    private let migrationBlock: MigrationBlock = { migration, oldSchemaVersion in
        switch oldSchemaVersion {
        case 0:

[2021-06-10 15:38] tgoyne commented on #6867
We've ended up reverting the change which caused this: https://github.com/realm/realm-core/pull/4708. This'll be released in Cocoa 10.8.0.

[2021-06-11 10:01] flowbe opened #7284 "Crash (RLMException) when resolving a ThreadSafeReference"
!!! MANDATORY TO FILL OUT !!!

## Goals
The goal is simply to pass a Realm object onto a different thread.

## Expected Results
Using a `ThreadSafeReference` and resolving the reference should return the object if it worked or nil.

## Actual Results
Calling the `resolve` method randomly produces a crash whereas getting the object using its primary key works fine. The crash is the following:

## S

[2021-06-11 12:56] cristianoccazinsp commented on #7100
I just saw this in a realm-js / react native app.  Trying to run a save query raised a (handled) `opening lock fifo for writing failed: Too many open files in system`.

Realm 10.4.1

Should I file a bug report ono realm-js?

[2021-06-11 15:44] SquaredTiki commented on #6671
For what it's worth, I haven't yet been able to reproduce this on iOS 15 beta 1.

[2021-06-11 16:49] gongzhang commented on #6671
It's not 100% reproduced. And I cannot reproduce it on my own devices no matter in dev or release mode.

But I indeed received a lot of crash reports from users who are using iOS 15. ☹️

[2021-06-14 11:05] mauro-crr opened #7285 "try Realm(configuration:) causes non-systematic crashes"
Hi, with RealmSwift '5.4.4' we're facing a random **crash** due to Realm init method.

## Goals
A solution for this crash

[report this crash to realm.zip](https://github.com/realm/realm-cocoa/files/6647814/report.this.crash.to.realm.zip)

## Expected Results
When instantiated, after app is launched, Realm init method should not cause the termination of the app

## Actual Results
stack trace of a

[2021-06-14 11:27] dianaafanador3 commented on #7285
Hi @mauro-crr, thanks for reporting this. We'll check the stack trace and let you if we can reproduce this issue.
One question though, Can you upgrade to latest version of RealmSwift https://github.com/realm/realm-cocoa/releases/tag/v10.7.7?

[2021-06-14 11:40] dianaafanador3 commented on #7284
BI @flowbe Thanks for reporting this issue, we'll take a look at the code. Can you attach a stack trace of the error? this will help us into reproduce this issue

[2021-06-14 11:56] dianaafanador3 commented on #7281
HI @ravikirankhareedi You can report this on the realm studio repository page https://github.com/realm/realm-studio/issues, This will take you directly to the people taking care of this.

[2021-06-14 11:57] #7281 closed

[2021-06-14 12:03] jedelbo commented on #7276
Could this be due to memory exhaustion? Seems like the exception comes from within malloc?

[2021-06-14 12:03] jedelbo commented on #7278
So is this caused by an assertion or a segmentation fault?

[2021-06-14 13:02] mauro-crr commented on #7285
Hi @dianaafanador3 thanks for your reply. Unfortunately, at the moment, I can't upgrade to the latest version (as the project is not personal).

[2021-06-14 13:32] dianaafanador3 commented on #7285
@mauro-crr Can you provide any code on how you are initialising the Realm?

[2021-06-14 13:36] dianaafanador3 commented on #7272
@puiz666 Thanks for taking the time to comment, we take into account all our community inputs. We'll let you know any further actions we take from your comments.

[2021-06-14 13:55] flowbe commented on #7284
Hi, I think I was able to find the issue here. Apparently I was trying to resolve the reference with a different Realm, which would explain why it didn't work. However, I still think it's a bug with the framework because the error message is not explicit at all (just a `std::exception`) and the documentation doesn't mention that it could crash. Maybe just return `nil` in that case since the return

[2021-06-14 15:00] mauro-crr commented on #7285
Sure, here you are the code.

[code]

[2021-06-14 15:07] tgoyne commented on #7284
The intention behind throwing an exception here is to help you discover as quickly as possible that you've written some code that can never do what you wanted it to do. This of course would work a lot better if we were populating the error message correctly.

[2021-06-14 15:12] tgoyne commented on #6671
Could it be related to SDK version? I assume any users hitting it would be using versions built against iOS 14 SDKs while the obvious way to test locally would involve building against the iOS 15 SDK. Would be pretty weird if they started enforcing no file locks but only for existing apps, though...

[2021-06-14 15:16] dianaafanador3 commented on #7277
Hi @raghunrmediacorp That error seems to be happening when upgrading your realm file. Are you upgrading from a previous version of realm?

[2021-06-14 17:24] dianaafanador3 commented on #7285
@mauro-crr Are you getting the same crash if you force `shouldCompactOnLaunch` to return false?

[2021-06-14 17:28] dianaafanador3 commented on #7247
Hi @duncangroenewald just passing around to make sure you found a solution for this?

[2021-06-14 21:36] duncangroenewald commented on #7247
There is no way to combine results so I ended up creating a compound predicate to then filter the "child" objects.

[2021-06-15 01:04] danmessing opened #7286 "abort() in realm::StringIndex::StringIndex when opening a Realm."
This is a crash report I got from a user who reports that the app quits on launch, but only at some point after running and using the app without problems. If he deletes the realm file, the app will again continue to function for some amount of time (quitting and relaunching included) before crashing in the same way.

I am reporting it here because the crash report stated:
[code]

(but I am pretty

[2021-06-15 04:10] pierre-wehbe opened #7287 "Crash when adding an object to Realm (Corrupted Realm File)"
## Goals
When app crashes, realm file should recover safely

## Expected Results
Save objects into realm (without crash)

## Actual Results
#9    0x0000000101e2ba3c in realm::Allocator::translate_critical(realm::Allocator::RefTranslation*, unsigned long) const at /realm-core/src/realm/alloc.hpp:580
#10    0x0000000101e21d88 in realm::Allocator::translate(unsigned long) const at /realm-core/src/rea

[2021-06-15 09:31] leemaguire commented on #7239
Hi @versoworks were you able to make any adjustments to your code with the above recommendations?

[2021-06-15 09:57] leemaguire commented on #6469
Closing this issue as there has been no response from the user for more information.

[2021-06-15 09:58] #6469 closed

[2021-06-15 10:09] dianaafanador3 commented on #7247
Hi @duncangroenewald This is something that will be easier to implement with our 'Type safe query' syntax project, we are always working to make our API easier and modern.
Thanks for getting back to us so quickly.
Closing this as the user solve it

[2021-06-15 10:09] #7247 closed

[2021-06-15 10:57] dianaafanador3 commented on #7286
Hi @danmessing Thanks for taking the time to gather all the info to been able to reproduce this. So the issue seems to be a corrupted index when creating the table accessors, this seems to be happening before the error, and when we try to access the realm file again this crash occurs.
To get to the bottom of this, we need more info into why this is happening.
This is only happening to one user?, D

[2021-06-15 11:06] waleednour opened #7288 "No type named 'ListBase' in module 'RealmSwift'"
when update pods for last version 10.8.0
we receive this error

 No type named 'ListBase' in module 'RealmSwift'

in this function

[code]

[2021-06-15 13:42] patron-ghigley opened #7289 "Realm SPM exports targets with names that are likely to conflict"
The latest version of Realm exports products like `Core` and `QueryParser` via Swift Package Manager. These names are so general that they are likely to conflict with products exported from other packages. (In fact, this has already happened in the case of `Core`, which is why I'm here.) I propose renaming them `RealmCore`, `RealmQueryParser`, etc. instead.

Naming a product `Core` is probably fin

[2021-06-15 14:04] dianaafanador3 commented on #7288
Hi @waleednour Thanks for sharing this issue. Are you using Cocoapods or SPM?, Which version of Xcode are you using?, Which OS version are you testing on?, this help us try to reproduce the issue.
If you are using Cocoapods, please clean derived data and try to make a clean install of the pods.

[2021-06-15 14:10] dianaafanador3 commented on #7289
Hi @patron-ghigley As you can see in the package file https://github.com/realm/realm-core/blob/v11.0.3/Package.swift from our `Core` library, we do expose our products as `RealmCore` and `RealmQueryParser`, so there should be no conflict within your project.

[2021-06-15 14:16] waleednour commented on #7288
Cocoapods
Xcode 12.5
OS version  14.6
i  tried that

[2021-06-15 14:22] tgoyne commented on #7288
Your code is not using Realm's public API, and is instead relying on implementation details which have changed. The proper way to write this function would be:

[code]

(Not tested, may have typos and such)

[2021-06-15 14:50] #6942 closed

[2021-06-15 14:59] patron-ghigley commented on #7289
Oddly enough, there is. Since our project is proprietary, I can't show you the code, but this evening I'll whip up a public pseudo-project that will show you the problem.

[2021-06-15 15:22] dianaafanador3 commented on #7251
Hi @dabaicaifen any changes you took a look at this or somehow solve this issue?

[2021-06-15 16:38] dianaafanador3 commented on #7289
Hello again @patron-ghigley, True, targets on realm-core are named `Core` and `QueryParser`, but these are not exposed and should not be used outside of our SDK. I created a sample App creating my own module called Core and there was no conflict at all. So, If you can send us a code with a reproduction of this issue that will be very helpful.

[2021-06-15 16:45] patron-ghigley commented on #7289
Thanks @dianaafanador3! I admit it's a little mysterious, but we were able to fix it by pinning Realm to the previous version, 10.7.7.

I think the problem occurs when you have _two SPM dependencies_ with targets of the same name, but I'm only guessing. So you'd need:

- Dependency with Target Core (and possibly product Core)
- Realm with Target Core

And then import them _both_ into a sample app

[2021-06-15 16:56] patron-ghigley commented on #7289
Yes indeed that is the problem. I created a package with a target (and product) named `Core` at https://github.com/patron-ghigley/Nada. (Feel free to use this one in your own test if you wish.)

When I attempted to add Realm, this is the result:

<img width="1512" alt="Oops" src="https://user-images.githubusercontent.com/60617794/122093305-ef847f00-cdd8-11eb-808e-4b9d8597d5dc.png">

[2021-06-15 17:16] dianaafanador3 commented on #7289
@patron-ghigley Yeap there are a lot of changes introduced to the `Package.swift` file in Core from v10.7.7 to v10.8.0 including a change to a target name from `Storage` to `Core` that may be why it works for 10.7.7.
We're introducing new datatypes (UUID, Dictionary, Set and Mixed) to the latest version something that you should not miss, staying at 10.7.0.
One last question, Are these conflicts c

[2021-06-15 17:19] patron-ghigley commented on #7289
@dianaafanador3 It's not a third party library, but an internal one. We've already got a ticket on our end to change that. However, the temptation to call a target "Core" or some other simple name is very strong. It should probably be avoided to prevent collisions like this.

[2021-06-15 17:35] dianaafanador3 commented on #7289
Closing this issue and passing this to the core team https://github.com/realm/realm-core/issues/4763

[2021-06-15 17:35] #7289 closed

[2021-06-15 18:22] danmessing commented on #7286
Thanks for getting back to me! I'm very happy to help figure this out.

Only one customer has reported the issue, but I can't say definitively that he's the only one who has hit it.

This crash is happening on app launch, so I suppose the index must have become corrupt at some point during a past session? The user wasn't able to tell me what specific action might have triggered this.

Do you have

[2021-06-15 18:30] dianaafanador3 commented on #7286
Hey @danmessing thanks for all the info. For your comments I assume this is macOS issue, I guess because majority of Apps using Realm are build for iOS, this is not a recurrent issue.
If you get authorization from the user to share the file, our Core may be able to analyze it and get which entry has corrupted the realm, which can lead us to which action is causing the issue.

[2021-06-15 18:36] dianaafanador3 commented on #7288
HI @waleednour, the above code has worked?

[2021-06-15 18:57] davidaharlow commented on #6983
This was happening to me as well. Please take note of the below bug:

If you have Realm Studio open (and accessing a realm file) while you are trying to start your application, the app will crash with the "Multiple sync agents" error. Close your Realm Studio prior to starting your app.

React-Native - Realm v 10.4.2

[2021-06-15 19:18] dianaafanador3 commented on #7287
Hi @pierre-wehbe Can you provide any code so we can reproduce this issue?

[2021-06-15 20:29] versoworks commented on #7239
@leemaguire none of the suggestions resolved the issue. We worked around it by changing properties of type `RLMObjectId` to `NSString`.

[2021-06-15 20:29] #7239 closed

[2021-06-16 08:33] waleednour commented on #7288
Thanks,
it worked

[2021-06-16 09:19] dianaafanador3 commented on #7288
Closing this as it was resolved by @tgoyne comment

[2021-06-16 09:19] #7288 closed

[2021-06-16 11:56] GreaseMonk opened #7290 "Rename SwiftPM target "Core" to "RealmCore""
## Goals
Rename the swiftPM product name "Core" to "RealmCore"

## Expected Results
I have a local swift package named "Core" in which I kept all of my APIs and my repositories for the frontend to use.
After updating to the latest version of Realm through swift package manager, I got the error "multiple targets named Core in: Core, RealmDatabase".
after checking the package.swift, I soon realized

[2021-06-16 12:21] dianaafanador3 commented on #7290
Hi @GreaseMonk thanks for reporting this, this is already been mentioned on this issue https://github.com/realm/realm-cocoa/issues/7289 and there is a ticket in core for this change, you can follow the progress of this ticket here https://github.com/realm/realm-core/issues/4763

[2021-06-16 12:21] #7290 closed

[2021-06-16 12:22] GreaseMonk commented on #7290
Oops, thank you. I searched for "Core" in the issues, but not in the closed ones. thank you

[2021-06-16 14:24] paulthorsteinson commented on #7266
I had no issues having realm as a dependency in a swift package that uses swift.  I also had no issues using realm in my project's main target. I did however have issues using realm in a secondary target of my project that worked fine when I had realm as a pod.  I tried adding the other swift flags and that did not fix the issue.  Ideally one would just add the realm package and it would work with

[2021-06-16 17:18] paulthorsteinson commented on #7266
In my case it was not adding [other swift flags](https://github.com/realm/realm-cocoa/issues/6301#issuecomment-614225989) that solved it, but rather I realized that when I added the package that in turn had a realm dependancy, the package was only added by default to one target.  I had to add the framework to each of my other targets for it to work

[2021-06-16 19:48] danmessing commented on #7286
That is correct, this is on macOS (`OS Version: macOS 11.4 (20F71)` is listed in the crash report, but I should have mentioned it).

I've attached the user's database file - hopefully it will be helpful in tracking down what's going on! Let me know what other information I can provide that might be useful.

[default.realm.zip](https://github.com/realm/realm-cocoa/files/6665471/default.realm.zip)

[2021-06-16 20:53] EcoChampions opened #7292 "Bad Changeset - incorrect partition value but doesn't make sense"
## Goals

I'm trying to write to a realm and as part of my test am hard coding the partition value (a required field in my schema)
## Expected Results

I expected to get a new record in Atlas.  Instead I get a new entry on the device but it is not syncing to Atlas
## Actual Results

Error:

failed to validate upload changesets: SET instruction had incorrect partition value for key "partition" { ex

[2021-06-16 21:31] nirinchev commented on #7292
Looks like `teampartitionValue` is set to `team=BC21BE45-E402-4DC7-A85E-142DEAABDC19` while `activity.partition` is `{team=BC21BE45-E402-4DC7-A85E-142DEAABDC19}` - i.e. the same, but with curly braces around it. You should either make them identical or just remove `activity.partition` from your model altogether and have the server populate it (if you don't set it, the server will automatically set

[2021-06-16 22:25] nirinchev commented on #7292
Regarding the log message - I agree it's confusing and we filed a ticket for the cloud team to fix the formatting. Closing this now, but feel free to reopen if you need more help.

[2021-06-17 00:51] bdkjones opened #7294 "LinkingObjects Cannot Be Sorted on .count?"
## Goals
I have an Realm Object that looks like this:

[code]

I have a bunch of `Foo` objects in an NSTableView and I want to sort them by the count of `myCollection`. This is not possible. The following exception is raised:

    Cannot sort on key path 'myCollection': property 'Foo.myCollection' is of unsupported type 'linking objects'.

There is an issue over on Realm Java that's YEARS old abou

[2021-06-17 01:04] bdkjones commented on #7294
It does appear that Realm is responsible for the exception:

![Screen Shot 2021-06-16 at 18 00 41](https://user-images.githubusercontent.com/926566/122314534-394e9180-cecd-11eb-9797-62a1e265e018.png)

[2021-06-17 08:20] EcoChampions commented on #7292
Thanks @nirinchev I tried with and without the brackets based on the log message but this didn't make any difference.  I've now removed activity.partition but it now states

Error:

Ending session with error: failed to validate upload changesets: SET instruction had incorrect partition value for key "partition" { expectedPartition: {team=BC21BE45-E402-4DC7-A85E-142DEAABDC19}, foundPartition: } (Pr

[2021-06-17 08:21] EcoChampions commented on #7292
Given I'm using partition for sync, the schema is forcing me to make partition a required field?

[2021-06-17 08:35] lixiaoyu commented on #6426
@sandeepbol Hello, i meet same issues,is there any solution if BUILD_LIBRARY_FOR_DISTRIBUTION=YES  is required. For our  framework need to be distribution to support swift evolution.

[2021-06-17 09:03] sandeepbol commented on #6426
@lixiaoyu We are using xcframework now. So this issue is not relevant. We are using [create_xcframework](https://github.com/bielikb/fastlane-plugin-create_xcframework) plugin in Fastlane and it works like a charm. BUILD_LIBRARY_FOR_DISTRIBUTION=YES is ensured.

[2021-06-17 09:36] nirinchev commented on #7292
Regarding the brackets - can you confirm that if you modify your code to set `activity.partition = teampartitionValue` (i.e. ensure that they're identical), you get the same error? Also, remember to wipe your local state as it's possible that your simulator is still trying to upload the original changeset that contained the bracket mismatch.

Regarding removing `activity.partition` - you should be

[2021-06-17 12:00] dianaafanador3 commented on #7294
Hi @bdkjones Thanks for taking the time to report this, I'll take a look at it and try to reproduce.
One question though, you mention this issue happens in Java, too? Or maybe I'm miss-reading this.

[2021-06-17 16:41] EcoChampions commented on #7292
thanks @nirinchev setting activity.partition = teampartitionValue works.  Interesting given I had previously defined them by copy pasting the id into each!

[2021-06-17 17:19] bdkjones commented on #7294
@dianaafanador3 There is an issue on the realm-Java repo asking for the same capability (sorting objects by the count of a List or LinkingObjects property). That issue is four years old. Thanks!

[2021-06-17 18:59] bdkjones opened #7295 "Spurious Build Warnings in Xcode 13"
## Goals

Using Realm in Xcode 13 results in several build warnings, as shown in this screenshot:
![Screen Shot 2021-06-17 at 11 53 34](https://user-images.githubusercontent.com/926566/122456925-f212e000-cf62-11eb-9fa6-8df252e523f7.png)

## Expected Results

These warnings should not appear.

The build runs correctly, but the extra 6 warnings pollute the project and make it harder to see when ACTU

[2021-06-17 19:05] tgoyne commented on #7295
Newer versions of SPM have the wonderful behavior where it warns if there's any files not explicitly excluded and also warns if there's any excluded files which don't exist, which AFAICT make it impossible to always build without warnings if there's files which conditionally exist. I guess we should probably prioritize building without warnings when the package is being installed over having no wa

[2021-06-17 19:08] bdkjones commented on #7295
That seems right. It doesn't look good to have the "caution sign" icon next to `Realm` and `RealmDatabase` in Xcode's sidebar, leading you to believe there's something wrong with the packages.

I looked for a flag to disable that specific warning, but was not able to find one.

[2021-06-17 20:18] ironage commented on #7294
Related to https://github.com/realm/realm-java/issues/4501 and https://github.com/realm/realm-core/issues/4586
At this time, we only support sorting directly on properties, and not a computed value like the size of a list. We could potentially add support for it if there is demand though.

[2021-06-17 21:16] nirinchev commented on #7292
Great - I'm glad to hear you've got it working now and we will most definitely address the confusing log messages!

[2021-06-17 21:16] #7292 closed

[2021-06-18 11:50] dianaafanador3 commented on #7285
Hi @mauro-crr I would recommend to update to the latest SDK release, some of this crashes has already been fixed on new version of the SDK.
There are several things that can be the cause of this issue, if you can provide a sample code reproducing it, or maybe more info of the user actions before the crash, that will be great and will help us to fix it.

[2021-06-19 01:32] bdkjones opened #7298 "List<T> and Results<T> should support access by IndexSet"
## Goals
Swift's `Array` type offers an API to return all indexes in a given `IndexSet`:

    let objects: [Any] = someArray.objects(at: someIndexSet)

Currently, Realm's collection types do not support this API. This is inconvenient because `NSTableView` extensively uses `IndexSet`. If I want to translate the selected rows in the table to an Array of objects on which I can act, I can't just pass

[2021-06-19 07:29] jessehao opened #7299 "This is not a valid Dash or Xcode docset feed. Realm Swift v10.8.0"
Cannot install docs to Dash(v6.0.6 978).

<img width="529" alt="image" src="https://user-images.githubusercontent.com/5467890/122634681-27a9fb80-d112-11eb-85f1-141d95c2f861.png">

I've tried 6 version of realm doc below, only 10.5.0 works.
- https://realm.io/docs/swift/10.8.0/api/docsets/RealmSwift.xml ❌
- https://realm.io/docs/swift/10.7.7/api/docsets/RealmSwift.xml ❌
- https://realm.io/docs/swif

[2021-06-19 14:34] xueyongwei opened #7300 "closed"
sorry

[2021-06-20 12:03] lixiaoyu commented on #6426
oh thanks @sandeepbol,it works!

[2021-06-21 02:54] tgoyne commented on #7299
It's now published at https://docs.mongodb.com/realm-sdks/swift/10.8.0/docsets/RealmSwift.xml, but it looks like we never updated the link to the new location.

[2021-06-21 07:33] dianaafanador3 commented on #7210
Hi @igrechuhin, thanks for taking the time to report this issue. Have you been able to solve this?

[2021-06-21 07:38] dianaafanador3 commented on #7255
HI @B0janDS I didn't got your email, any updates on this issue?

[2021-06-21 07:44] B0janDS commented on #7255
HI @dianaafanador3. It was sent to you on 14th of May, i will send it again. Please let me know if you don't receive it in the next hour.

[2021-06-21 07:47] dianaafanador3 commented on #7255
Got it @B0janDS I'll take a look at it

[2021-06-21 08:35] leemaguire commented on #7267
@624990742 Are you using any old Realm Xcode plugins? Please see https://github.com/realm/realm-cocoa/issues/6367 as it may have the answer to your issue.

[2021-06-21 08:37] leemaguire commented on #7265
Closing this issue as steps have been provided.

[2021-06-21 08:38] #7265 closed

[2021-06-21 08:39] leemaguire commented on #7261
Closing as the answer Thomas provided explains the issue.

[2021-06-21 08:39] #7261 closed

[2021-06-21 08:39] leemaguire commented on #7258
Closing as question has been answered.

[2021-06-21 08:40] #7258 closed

[2021-06-21 09:23] leemaguire commented on #7194
Hi @hijamoya are you still seeing the issue?

[2021-06-21 09:24] nacho4d commented on #7295
Using Xcode13 beta1 and I am having the same problem.

My project is quite big and Realm is the one that shows a warning. I don't know if a warning in one package could be affecting others (Xcode bug?) but so far all others SPM packages I have do not work at all. Maybe this is helpful to Realm team to prioritize on this.

<img width="864" alt="Screen Shot 2021-06-21 at 18 14 44" src="https://user-

[2021-06-21 09:29] leemaguire commented on #7112
Closing as sufficient information has been provided.

[2021-06-21 09:30] #7112 closed

[2021-06-21 09:44] leemaguire commented on #7068
Holding onto a Realm object after `insert` will cause the Realm active versions to increase.

[2021-06-21 10:08] leemaguire commented on #7036
@versoworks Given that you have a work around I should be ok to close this issue?

[2021-06-21 10:08] #7036 closed

[2021-06-21 10:16] leemaguire commented on #7300
@xueyongwei please fill out the issue template if you wish for us to help you.

[2021-06-21 11:04] #6867 closed

[2021-06-21 11:34] mohitnandwani commented on #6161
Hello @marchy I'm new to realm and kinda having tough time to update UI with diffableDataSource and realm. Can you please explain a bit more about updating snapshot when there is a change in realm objects? (specially when inserting new items). Thanks!

[2021-06-21 13:22] pjcau commented on #6893
Hi I have this issue

`Opening Realm files of format version 22 is not supported by this version of Realm`

I use the MongoDB Realm Studio v.10.1.2

can you help me?

BR

J

[2021-06-21 19:07] tgoyne commented on #7298
There isn't really much room for us to do anything significantly faster; skipping some redundant checks might make it 5-10% faster but there isn't a lot of unnecessary overhead to begin with. A convenience helper would be easy to add, though.

[2021-06-21 19:15] bdkjones commented on #7298
The convenience method would make interfacing with NSTableView much nicer, for sure.

[2021-06-21 20:25] igorvoytovich commented on #7175
@finnschiermer ,

thanks for getting back to me.

We are seeing these crashes on real iPhones. To be more specific: iPhone SE 2, iPhone 11 Pro Max. All on iOS 14.5-14.6.
For development and deployment, we use only Macs with an M1 chip, integration via CocoaPods.

We've tried a bunch of things already, and we can't even imagine where the mistake might be on our side, from our side the code is as si

[2021-06-22 04:35] dlsolution opened #7304 "Opening Realm files of format version 22 is not supported by this version of Realm"
I use the MongoDB Realm Studio v.10.1.2
Realm v10.8.0

[2021-06-22 04:52] jun784lr commented on #6893
I have the same issue. I have the latest version of Realm Studio (version 10.1.2 as the time of writing) and I get the error "Opening Realm files of format version 22 is not supported by this version of Realm" when I try to open realm files with Realm Studio application. Curious what's the cause behind this odd behavior and the fix?

[2021-06-22 05:13] tgoyne commented on #6893
Realm Studio v11 is required to open the updated file format, which has not been released yet.

[2021-06-22 05:28] jun784lr commented on #6893
Does that mean that I would have to wait until they release Realm Studio v11 to see my realm files again? Should I really download their beta version? They have v11 as beta installations but I mean it is beta..

[2021-06-22 06:14] dlsolution commented on #7304
Update: I downgraded Realm v10.7.0 with no issue!!

[2021-06-22 06:51] pjcau commented on #6893
HI @jun784lr ,
Do you have a road map to release it?

BR

J

[2021-06-22 07:59] thangngoquocOura opened #7305 ""No such object" error in app and Realm Studio"
## Goals
Remove all objects from realm db

## Expected Results
All objects are deleted, app doesn't crash

## Actual Results

App crash with trace:

[code]
## Steps for others to Reproduce
call `realm.deleteAll()` on the corrupted realm file

## Code Sample
[Sample.realm.zip](https://github.com/realm/realm-cocoa/files/6692406/Sample.realm.zip)

## Version of Realm and Tooling

Realm framework vers

[2021-06-22 08:29] mauro-crr commented on #7285
Thanks @dianaafanador3. We will update to the latest SDK release as soon as possible. If we recognize some pattern or some specific action causing the crash, I'll keep you informed.

[2021-06-22 10:05] leemaguire commented on #7304
We have yet to release a version of studio that supports this version of Realm Cocoa

[2021-06-22 10:08] leemaguire commented on #7305
Realm Cocoa v10.8.0 will require Realm Studio v11, but please note this version of Realm Studio has yet to be released.

[2021-06-22 10:09] thangngoquocOura commented on #7305
I used the latest 11 beta version

[2021-06-22 14:50] #7295 closed

[2021-06-22 18:34] #7299 closed

[2021-06-23 01:28] jun784lr commented on #7304
If your Realm files are already upgraded and your Realm Studio application is not, you won't be able to view your Realm files until they release a newer version of Realm Studio application. So watch out for that.

[2021-06-23 02:04] yuya-h-29 commented on #6893
@jun784lr , @pjcau, @tgoyne
Do you guys find out the solution to this problem???
I came across the same issue now and wondering if you guys find out the solution for this....

[2021-06-23 08:56] jun784lr commented on #6893
Not yet unfortunately. I would love to hear if anyone has the latest update on this issue...

[2021-06-23 09:16] bmunkholm commented on #6893
This is tracked in the Studio repo: https://github.com/realm/realm-studio/issues/1434.

[2021-06-23 16:08] #7304 closed

[2021-06-24 05:30] pierre-wehbe commented on #7287
Hi Diana,

Unfortunately I am unable to reproduce it as my guess going back to the context of when the crash happens is my physical device having very low storage. This caused my app along with other apps on my phone to crash upon open.

For more context, I am currently managing 2 realm files, both encrypted:
- a really small one (That one was not corrupted as I was able to download the iOS contai

[2021-06-24 06:54] mxnmike opened #7308 "Opening Realm files of format version 22 is not supported by this version of Realm"
!!! MANDATORY TO FILL OUT !!!
RealmSwift doesn't work. When trying to open default.realm through Realm Studio, an error appears:
Opening Realm files of format version 22 is not supported by this version of Realm.

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

[2021-06-24 14:49] arthur-stpnv opened #7309 "Unable to open a realm at path ''. Realm file initial open failed: Realm file has bad size (163)"
## Problem

I'm trying to load realm from file that is stored in iCloud (was uploaded from another device with same iCloud) and got this error:

Thread 1: Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/var/mobile/Containers/Data/Application/0ADE8CA2-8518-4232-92A3-080A94D527A1/Documents/default.realm': Realm file initial

[2021-06-24 20:06] ianpward commented on #7308
Realm Studio v11 has been released with support for file format v22 -
https://studio-releases.realm.io/v11.0.0

[2021-06-24 20:07] ianpward commented on #7304
Realm Studio v11 has been released with support for file format v22 -
https://studio-releases.realm.io/v11.0.0

[2021-06-24 20:08] ianpward commented on #6893
Realm Studio v11 has been released with support for file format v22 -
https://studio-releases.realm.io/v11.0.0

[2021-06-24 20:10] #7308 closed

[2021-06-24 20:32] pjcau commented on #6893
thank you

Il giorno gio 24 giu 2021 alle ore 22:09 Ian Ward ***@***.***>
ha scritto:

--
Jonny Pierre Cau

[2021-06-25 09:40] jun784lr commented on #7304
Installing the Zip archive version for MacOS gave me this error:
<img width="268" alt="Screen Shot 2021-06-25 at 6 37 45 PM" src="https://user-images.githubusercontent.com/69073108/123405400-bf14c000-d5e4-11eb-90ab-85371d704107.png">

But installing with MacOS (Apple Disk Image) worked without a problem.

[2021-06-25 10:08] leemaguire commented on #7309
Hi @arthur-stpnv What model device uploaded the Realm file and what model device is trying to read the Realm file?

[2021-06-25 11:04] ChenShengZhe opened #7311 "Multiple Realm switch write crash"
## Goals
I want to modify the Object object in the write transaction

## Expected Results
data changed

## Actual Results
app crashed , reason: 'Attempting to modify object outside of a write transaction - call beginWriteTransaction on an RLMRealm instance first.'

## Steps for others to Reproduce
I used the user account to create two realms for the distinction. When I did a write transaction in t

[2021-06-25 11:11] ChenShengZhe commented on #7311
The strange thing is that if I continue to use the first Realm, the error will not occur

[2021-06-25 11:12] leemaguire commented on #7311
Hi @ChenShengZhe you need to make sure that the `realmModel` you are trying to modify belongs to the `realm` that is invoking the write transaction block

[2021-06-25 11:17] ChenShengZhe commented on #7311
I can confirm that the realmModel belongs to the current Realm, and it comes from the Realm's Results：
[code]

[2021-06-25 11:23] leemaguire commented on #7311
When you are switching to your second realm, you will need to retrieve the result again, if you do not do this the results still belong to the initial realm. Maybe this is the problem you are seeing?

[2021-06-25 12:41] ChenShengZhe commented on #7311
u r right，I found the problem, but I can’t solve it because when I initialized the results, the log I printed showed that the data in it belonged to the realm of the current account, but when I fetched the data from the results, it gave me an error. The data belonging to this library, I suspect it has something to do with swift's data recovery, because deinit was not executed, resulting in the res

[2021-06-25 12:54] #7311 closed

[2021-06-25 14:58] AkhileshSharma-MindRuby commented on #6859
It worked.

[2021-06-25 16:26] arthur-stpnv commented on #7309
@leemaguire hi, uploaded from iPhone 11 Pro Max, trying to read from iPad Pro (3rd generation)

[2021-06-26 18:22] #4435 closed

[2021-06-27 10:19] manlili opened #7312 "Opening Realm files of format version 22 is not supported by this version of Realm"
!!! MANDATORY TO FILL OUT !!!

When I run on the iPhone 8 simulator, the console reports an error:

Opening Realm files of format version 22 is not supported by this version of Realm

The following is the specific content of the error report

`Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=6 "Opening Realm files of format version 22 is not supported by this

[2021-06-27 10:49] igorvoytovich commented on #7175
@tgoyne @finnschiermer

Hello,

Could you please tell if there is a difference between:

`try realm.write { //Realm work here... }`

and

[code]
By the SDK code, I see that the first option calls the second one, with additional error handling, but I am confused by line 257:
<img width="987" alt="Screen Shot 2021-06-27 at 13 48 19" src="https://user-images.githubusercontent.com/47663430/123541676-5

[2021-06-27 14:36] igorvoytovich commented on #7175
We tried beginWrite() and commitWrite() and got the same problem.

We also changed the object schemes a little in order to find out what the problem is, namely, removed the indexed properties. And we got the same crash, but with a new stack trace:

![photo_2021-06-27 17 35 20](https://user-images.githubusercontent.com/47663430/123548600-1a25ee80-d76e-11eb-9dd6-d6c8eda8a7fc.jpeg)
![photo_2021-06-27

[2021-06-27 14:56] igorvoytovich commented on #7175
By the way, people had the same problem, but the issue was closed without any changes:

https://github.com/realm/realm-cocoa/issues/6690

[2021-06-27 14:58] igorvoytovich commented on #6690
@johyunmin88 @lasseporsch

Hello guys,

Please tell me if you could find any solution? Faced the same problem.

Thanks!

[2021-06-27 14:59] jsflax commented on #7175
@igorvoytovich what does your observation code look like?

[2021-06-27 15:09] igorvoytovich commented on #7175
@jsflax
hi, here it is:
![photo_2021-06-27 18 08 08](https://user-images.githubusercontent.com/47663430/123549685-af2ae680-d772-11eb-8fd3-c94f022d8b12.jpeg)
![photo_2021-06-27 18 08 10](https://user-images.githubusercontent.com/47663430/123549688-b225d700-d772-11eb-8ccf-ed7d41eca34b.jpeg)
![photo_2021-06-27 18 08 12](https://user-images.githubusercontent.com/47663430/123549693-b520c780-d772-11eb-8

[2021-06-27 16:57] igorvoytovich commented on #7175
![photo_2021-06-27 19 54 47](https://user-images.githubusercontent.com/47663430/123553005-9ece3800-d781-11eb-821c-a84780271583.jpeg)
![photo_2021-06-27 19 54 53](https://user-images.githubusercontent.com/47663430/123553001-9d047480-d781-11eb-8772-ca1ba1cbf56d.jpeg)

I added such a logging function and call it every time after a transaction to Realm. As you can see, the file size grows significantl

[2021-06-27 17:13] igorvoytovich commented on #7175
Reproducable after some time using the app / Realm, here's another example:

![photo_2021-06-27 20 11 27](https://user-images.githubusercontent.com/47663430/123553452-e6ee5a00-d783-11eb-8b8a-cb259a1c90e9.jpeg)

And so it will continue indefinitely, until it takes away all the memory. Realm works as it should for a while, then after something it breaks down and a strong memory growth begins, regard

[2021-06-27 17:38] igorvoytovich commented on #7175
@tgoyne @finnschiermer @jsflax

I can confirm that these problems are not present on RealmSwift 4.3.2.

We checked on the same project, everything that changed is replaced **freeze()** with **detached()** (https://github.com/realm/realm-cocoa/issues/5433#issuecomment-415066361) , because freeze was added after 4.3.2

On this SDK version, Realm works perfectly, without going beyond the size of 1 MB

[2021-06-27 17:45] jsflax commented on #7175
Can you show us where/how you're using `freeze`? Freezing objects uses version pinning which can greatly increase the size of a Realm file.

[2021-06-27 17:51] igorvoytovich commented on #7175
We save users objects and collect the array on another thread (realmWriteThread) and send it to the main thread in this way.

![Screen Shot 2021-06-27 at 8 47 19 PM](https://user-images.githubusercontent.com/47663430/123554484-e6a48d80-d788-11eb-930e-863b20f8606a.png)

(users - [User] array of manager objects, managed by Realm on realmWriteQueue)

The fact is that Realm retains its size between ap

[2021-06-27 18:12] igorvoytovich commented on #7175
@jsflax

Seems like you are right. After replacing **freeze()** with **detached()** (https://github.com/realm/realm-cocoa/issues/5433#issuecomment-415066361) I can not reproduce the problem for now. So whats the point of using freeze() then?

I will monitor for a few hours and will get back here with results.

By the way, is it normal that on 10.8.1 objects with same schema is 30-40% larger than o

[2021-06-27 22:34] jsflax commented on #7175
Freeze is used for when you want an immutable value that is easily transferable between threads. It's not meant to be used for longstanding operations, especially off of the main thread.

We see most users using freeze as a means of diffing values (a necessity since Realm types are always 'live'). If you do not need that kind of behaviour, I would consider alternatives to what you are doing. Holdi

[2021-06-28 09:37] dcacenabes opened #7313 "Failed to consume XCFramework built for distribution"
## Goals
I am trying to build Realm as an XCFramework with ABI stability and use it in our app. For that, I am setting `REALM_BUILD_LIBRARY_FOR_DISTRIBUTION = YES;` in RealmSwift.xcconfig file and then building an xcframework with Xcode 12.5. After successfully generating the frameworks (Realm and RealmSwift), I am then importing them into my project and building the app with Xcode 13 beta.

## Ex

[2021-06-28 22:40] igorvoytovich commented on #7175
After stopping using **freeze()**, the problem went away. Everything is working perfectly now.
I hope that our experience will help other people who have faced similar problems.

@finnschiermer @tgoyne @jsflax @ironage
I am very grateful to you for your time and help. I really appreciate that.

**Many thanks! Best wishes to you!**

[2021-06-28 23:35] sync-by-unito[bot] opened #7315 "Add @RealmTaskLocal property wrapper"
Add an @RealmTaskLocal property wrapper to allow easy transfer of ThreadConfined types across tasks/subtasks.

[2021-06-29 03:44] seidju commented on #6767
Hey everyone, we also start to having such issue, version of Realm was 10.4.0, then we updated it to the latest release, but no luck, app crashes at launch, only reinstall of the app can help to resolve it.
DB scheme didn't changes couple of month already.

`Fatal Exception: realm::NoSuchTable
No such table exists Exception backtrace: 0 Realm 0x0000000101ce01b0 _ZNK5realm5Group7ndx2keyEm + 360 1 R

[2021-06-29 07:12] finnschiermer commented on #7175
@igorvoytovich I'm happy it has solved your problem. From my perspective there is still a problem to fix: whether you use freeze as intended or not, we shouldn't have a crash in the allocator.

[2021-06-29 09:13] pavel-ship-it commented on #7163
Fixed in pull request #7301

[2021-06-29 15:42] #6631 closed

[2021-06-30 07:27] #7300 closed

[2021-06-30 08:29] dianaafanador3 commented on #7290
Issue has been fixed on realm-core repository https://github.com/realm/realm-core/issues/4763, probably will be released on next version

[2021-06-30 09:04] jonashinge opened #7316 "Realm notification listeners hijacks CPU (app freeze)"
## Goals
No app freeze when using realm notification listeners.

## Expected Results
App freeze for several seconds when interacting with realm objects that has a notification listener attached (> minute(s) in some cases).

## Actual Results
We are experiencing that our app is freezing in some cases when using realm notification listeners. This is especially happening for users that have a lot of

[2021-06-30 09:42] bmunkholm commented on #6893
@zoobibackups Sorry about this - it's been fixed now and Studio should request you to update.

[2021-06-30 12:39] AdieOlami commented on #6345
Hi, any update on this please.

[2021-06-30 16:44] ericjordanmossman commented on #7316
So versions earlier than 10.5.1 were _not_  having this problem?
I was thinking [that this](https://github.com/realm/realm-cocoa/pull/7249) might help, depending on the objects being observed. But if the same code was working prior to 10.5.1, then I wonder if something changed in the DeepChangeChecker.

[2021-06-30 16:48] gongzhang commented on #6671
The article below discussed a similar issue about sharing a SQLite database in app group. The widget extension will be killed by the system watchdog from time to time, due to `0xdead10cc` (hold a file lock after process suspension). Since WidgetKit has no APIs related to process lifecycle management, there is no simple way to work around the problem as long as file locks are used.

https://inessen

[2021-06-30 16:52] ericjordanmossman commented on #7313
If you're building the xcframeowrk with Xcode 12.5, which is using Swift 5.4 tools, is your xcframework building in an app using Xcode 12.5?
Are you able to build the xcframework with 13.0 beta so that it's built with Swift 5.5?

Sorry if I'm misunderstanding something.

[2021-06-30 16:58] ericjordanmossman commented on #7312
Usually these errors indicate a realm file had an improper version upgrade.

Could you share a couple things -

- Was this file created with one realm version, you upgraded the realm version, then attempted to open the file again?
- If so, what versions?
- Was there any kind other kind version changing? Like you downgraded the Realm version while developing?
- Can you reproduce this? With differen

[2021-06-30 16:59] dcacenabes commented on #7313
That is exactly what happens, I build XCFramework with Xcode 12.5 with Swift 5.4.
I can use the framework in an app building with Xcode 12.5 and Swift 5.4

If I try to build the same App using Xcode 13 beta (Swift 5.5) I get the error mentioned above:

Failed to build module 'RealmSwift'; this SDK is not supported by the compiler (the SDK is built with 'Apple Swift version 5.4 (swiftlang-1205.0.26

[2021-06-30 17:30] arthur-stpnv commented on #7309
Hey, any updates?

[2021-06-30 18:05] ericjordanmossman commented on #7309
I just read over this. Not completely sure yet.
@leemaguire - what about the different device types would read the file differently, potentially?

[2021-06-30 18:11] tgoyne commented on #7309
This error message indicates that the thing you're trying to open is either not a Realm file at all, or is a truncated prefix of a Realm file. As you appear to be downloading the file, obvious explanations would be that it's actually an error page, the download did not complete, or whatever is on the server is invalid.

[2021-06-30 19:14] #7280 closed

[2021-06-30 19:16] ericjordanmossman commented on #7277
@raghunrmediacorp Are you able to provide the information Diana asked for?

[2021-06-30 19:22] ericjordanmossman commented on #7251
Closing this issue because of no response.
@dabaicaifen - If this is still an issue and I'm incorrectly closing it, please respond and we can re-open it. :)

[2021-06-30 19:22] #7251 closed

[2021-06-30 19:36] ericjordanmossman commented on #7217
This issue has been closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-06-30 19:47] ericjordanmossman commented on #7100
@cristianoccazinsp Yeah that's a good idea. Maybe they'll have some insights too.

[2021-06-30 20:00] ericjordanmossman commented on #7087
Did the read-only change help?

[2021-06-30 20:12] ericjordanmossman commented on #7106
No progress, but this functionality does make sense to me. Dragging your thumb down for a refresh _is_ really common.
@ianpward @jsflax

[2021-06-30 20:47] ericjordanmossman commented on #6763
@thanhan123 Are you able to provide Finn with this?

[2021-06-30 20:49] ianpward commented on #7106
You might try pausing first and then resuming on the syncSession - that might get what you need

[2021-07-01 01:53] raghunrmediacorp commented on #7277
@dianaafanador3  yes it happened after upgrade the sdk from previous version. we made another app release by deleting the previous configuration files to fix this issue.

        var config = Realm.Configuration()
	var realmName = Persistence.defaultRealm
	if let baseUrl = baseUrl, let url = URL(string: baseUrl), let host = url.host {
		realmName = host.replacingOccurrences(of: ".", with: "_").rep

[2021-07-01 06:28] jonashinge commented on #7316
Thanks @ericjordanmossman. Key path filtering looks promising! However I think something changed in the DeepChangeChecker because we were not having this problem in 10.5.1. After we upgraded from 10.5.1 to 10.7.6 the freeze issues started.

[2021-07-01 10:10] bmunkholm commented on #7217
@jjarroyo As this is not something we have seen before, I'm reopening and highly encourage you to answer pavel-ship-it's questions in addition to whether this can still be reproduced in any way or if you only saw this once?

[2021-07-01 10:20] cmoijulien commented on #7312
Just download latest version of Realm Studio :
https://studio-releases.realm.io/

[2021-07-01 11:16] dianaafanador3 commented on #7277
@raghunrmediacorp I see you found a workaround for your specific case, if that's the case I'll close this issue. One question though, are you ok deleting the realm file, don't you want your users to keep their data after a version update?, have in mind that using `Realm.deleteFiles`will delete not only any associated temporary files associated to your configuration but it will delete your local re

[2021-07-01 12:24] mylesbarros commented on #6763
I'm experiencing this error as well, it consistently occurs when the app's memory usage gets very high.

Specifically, we have an in-app stream that makes network requests, writes the result to Realm, and then reads it back and displays it in the stream. If the user hits somewhere between 400MB-600MB of memory usage, the app hits this error.

What's interesting is what appears just before the cras

[2021-07-01 12:27] nirinchev commented on #7312
This is not a Studio issue. The user is reporting they see this exception when running their app which is likely caused by upgrading the database and then downgrading the SDK, but let's not close until they confirm this is the case.

[2021-07-01 13:33] #7312 closed

[2021-07-02 08:19] arthur-stpnv commented on #7309
@tgoyne Hi, thank you for answer, but if I download the file on device from which it was uploaded - there is no error, so we can be sure that file was uploaded correctly and that this file is Realm file

[2021-07-02 09:03] jacken94 opened #7318 "Mysoul"

[2021-07-02 10:13] arthur-stpnv commented on #7309
I’ve found two more files in Realm local directory - realm.manager and realm.lock, maybe I should upload them too?

[2021-07-02 13:40] vishaldroisys opened #7319 "manu errors after RealSwift version 10.8.0 and 10.9.0"
!!! MANDATORY TO FILL OUT !!!

## Goals

we need to upgrade RealmSwift sdk.

## Expected Results

we need to upgrade version.

## Steps for others to Reproduce

## Version of Realm and Tooling

Realm framework version: ?
10.9.0

Xcode version: ?
12.4

iOS/OSX version: ?
iOS 14

Dependency manager + version: ?
Pod 1.10.1

[2021-07-02 15:42] ericjordanmossman commented on #7319
If you have questions about how to use Realm, ask on [StackOverflow](http://stackoverflow.com/questions/ask?tags=realm), or in our [Swift Forum](https://forums.realm.io/c/swift).
If you're reporting a potential bug, please fill in the details of the issue template.

[2021-07-02 15:42] #7318 closed

[2021-07-02 15:50] vishaldroisys commented on #7319
HI @ericjordanmossman,

there is not any functional bug, please see screenshot: https://drive.google.com/file/d/1-4HqczbbvIEmz5NWyusvvf4sOVpS1byU/view?usp=sharing

[2021-07-02 17:20] vishaldroisys commented on #7319
@ericjordanmossman issue has been resolved.

referenced from below URL: https://stackoverflow.com/questions/68013781/reference-to-generic-type-map-requires-arguments-in-swift

[2021-07-02 17:20] #7319 closed

[2021-07-02 19:00] weibel commented on #7316
I'm a collegue to @jonashinge above. Our case seems very similar to the one described in this issue https://github.com/realm/realm-cocoa/issues/7072
Except in our case a person would have 10.000 dogs.

[2021-07-02 19:26] tgoyne commented on #7316
There were a lot of changes to this code between v10.5.1 and v10.8.1 to add support for the new data types, but nothing that should have meaningfully impacted the performance when using the existing types. With v10.5.1 are you seeing the worker thread using negligible CPU, or is it using a decent amount and just not enough to be a problem? If it's the latter then a small loss in performance might'

[2021-07-02 21:05] weibel commented on #7316
After digging into it I have decided to look closer into this commit on the DeepChangeChecker.
https://github.com/realm/realm-core/commit/36439bc1702ac4886fffd264b28ed6de647ec96d#diff-8742ebffe87d6dea5ac92a6c9a13348aa394055aaf75e256e5fbe48c319899ca
It's the one change that stands out between the current version and the one that still works for us
For reference: The last version that still works fo

[2021-07-03 10:15] Vactorwang opened #7321 "Index 1000 is out of bounds (must be less than 1000)"
!!! MANDATORY TO FILL OUT !!!

## Goals
fix bounds out
## Expected Results
Terminating app due to uncaught exception 'RLMException', reason: 'Index 1000 is out of bounds (must be less than 1000).
## Actual Results
delete result prefix count
## Steps for others to Reproduce
only add most datas, and delete large amounts of data

## Code Sample

class ViewController: UIViewController {

    override

[2021-07-03 14:49] jsflax commented on #7321
Your view controller only adds items on load. Touching the screen more than twice will naturally result in a crash. If there is something you'd like to better understand about building a view with Realm, we're happy to help, otherwise please close this ticket when you get a chance.

[2021-07-04 03:00] lfb-cd opened #7322 "Crash in Core get_version_and_history_info() when opening a realm"
0   足迹                              0x0000000102e0c5c4 _ZN5realm4utilL18terminate_internalERNSt3__118basic_stringstreamIcNS1_11char_traitsIcEENS1_9allocatorIcEEEE + 44
1   足迹                              0x0000000102e0c814 _ZN5realm4util9terminateEPKcS2_lOSt16initializer_listINS0_9PrintableEE + 388
2   足迹                              0x0000000102ec2a24 _ZN5realm5Group28get_version_and_history_info

[2021-07-05 01:09] Vactorwang commented on #7321
I only touch the screen once.There is a similar scenario in my business. I have stored more than 2000 pieces of data. After a period of time, I deleted 1000 pieces and then it crashed

[2021-07-05 03:32] thanhan123 commented on #6763
@finnschiermer Sorry but somehow I cannot reproduce this bug with simpler project. I made one to mimic my current project but it doesn't crash at all.

[2021-07-05 08:08] jsflax commented on #7321
I'm unable to reproduce this with the code you provided. If you have a reproducible example, that would be helpful.

[2021-07-05 10:08] pavel-ship-it commented on #7322
@lfb-cd If you're reporting a potential bug, please fill in the details of the issue template.

[2021-07-05 11:45] miklselsoe opened #7323 "RealmProperty cannot decode null values"
After RealmOptional was deprecated, I changed all my `RealmOptional<Type>` properties to `RealmProperty<Type?>`

I have a few places where I relied on `RealmOptional` being `Codable`. With RealmProperty also being Codable, I thought it was safe to change the property definitions. Unfortunately, while `RealmOptional` was able to decode `null` values, `RealmProperty` cannot:

[code]

Looking at the

[2021-07-05 13:20] pavel-ship-it commented on #7321
Hi @Vactorwang
as said in the documentation

 type (for example, the type returned by the Swift `suffix(_:)` standard library
 method). Instead, make a copy of the objects to delete using `Array()`, and pass
 that instead. Directly passing in a view into an auto-updating collection may
 result in 'index out of bounds' exceptions being thrown.

What you can do is - in`del()` to replace `let result

[2021-07-05 13:20] #7321 closed

[2021-07-05 13:52] leemaguire commented on #7323
Hi @miklselsoe

I will look into this for you.

[2021-07-05 17:10] lukaskollmer opened #7324 "[RealmSwift] Using `Map` properties in a predicate does not work as expected"
## Goals

I want to filter a `Results` collection based on the string value of a specific key in a `Map` property on that class
I'm trying to create a predicate that lets me do that, but realm doesn't seem to support these kinds of predicates.

## Expected Results
It should be possible to use predicates to filter based on a `Map` property's key-value pairs.

## Actual Results
Realm throws an excep

[2021-07-05 21:30] leemaguire commented on #7324
You are using the wrong datatype, for objective-c `RLMDictionary` should be used in place of `NSDictionary`

[2021-07-05 21:36] leemaguire commented on #7324
This is a limitation with our query engine, use dot notation to achieve the desired query. [Example here](https://github.com/realm/realm-cocoa/blob/b0dbcebbf11b544b9559cb0d55b6ce6734ee06f1/Realm/Tests/QueryTests.m#L2033)

[2021-07-06 07:50] calledandrey commented on #7157
Problem for us as well

[2021-07-06 10:14] lukaskollmer commented on #7324
@leemaguire in the example you linked, `stringCol` is the name of another property, rather than a literal key into the map, right?

If i adjust my sample code to use the dot syntax instead, it still doesn't work, and realm throws an exception

[code]

Am i missing something here?

[2021-07-06 12:32] jonashinge commented on #7316
In v10.5.1 we see the thread having short spikes reaching ~max CPU so it's not a problem as the time used in the spikes are so short. In v10.7.6 the thread stays on ~max CPU up to 1 minute.

Our scenario is that as soon as we have attached a notification listener on a realm object x and start writing to objects that are related to that object x, the thread gets stuck. This is why we assume/guess t

[2021-07-06 13:12] arthur-stpnv commented on #7309
Maybe there is better way to make realm copy?

[2021-07-06 13:13] arthur-stpnv commented on #7309
Or maybe you could advice some logic to sync realms between 2 iOS devices?

[2021-07-06 15:21] vishaldroisys commented on #6893
facing same issue for me in simulator.

[2021-07-06 16:31] leemaguire commented on #7324
Hi @lukaskollmer sorry for the confusion. As the bracket syntax is not supported, here is a work around for your issue:

[code]

[2021-07-06 19:23] #7044 closed

[2021-07-07 07:32] lfb-cd commented on #7322
Sorry, there are no more details. This error was reported Just during initialization.

And this is the database：[default.realm.zip](https://github.com/realm/realm-cocoa/files/6775199/default.realm.zip)

[2021-07-07 08:37] pavel-ship-it commented on #7322
@lfb-cd no worries,
What is the framework version you're using? is it appears on a real device or in simulator?

[2021-07-07 19:01] Baumchen opened #7330 "Database Contains Control Control Characters "AAAA\x11""
## Goals
Solution to remove control characters `"AAAA\x11"`  from database so that database contents are readable and thus don't return `NSNull` when requesting data in Swift.

Is there any way to do a "full-text-search" of the database (over all entities and attributes) to find objects with those characters, so that we can to a on-device cleanup of the database?

## Expected Results
Control Chara

[2021-07-08 08:01] zhangcx627 opened #7331 "please_report_this_issue_in_github_realm_realm_core"
!!! MANDATORY TO FILL OUT !!!

## Actual Results

Realm framework version: 10.9.0

Xcode version: 12.4

iOS/OSX version: iOS14 and iOS15

[2021-07-08 08:21] arthur-stpnv commented on #7309
@tgoyne @leemaguire @ericjordanmossman @tonyarnold guys, any updates?

[2021-07-08 10:22] pavel-ship-it commented on #7330
Hi @Baumchen
Is it happened on the newer version of Realm after the migration?

[2021-07-08 10:59] miklselsoe opened #7332 "Class conforming to Codable with @Persisted properties, cannot decode null values"
Trying to migrate to the new `@Persisted` property wrapper, introduced in Realm 10.10, I get an error when trying to decode an optional value with nil.

Class definition:
[code]

When using a JSONDecoder, trying to decode to a Notification class, I get this error:

[code]

For reference, this is how the property is defined in JSON:

[code]

This used to work with the property being defined as an `

[2021-07-08 11:08] miklselsoe commented on #7323
Are these two issues related?
https://github.com/realm/realm-cocoa/issues/7332

[2021-07-08 11:17] leemaguire commented on #7323
Hi @miklselsoe The problems are not interdependant on one another.

[2021-07-08 11:29] Baumchen commented on #7330
Hi @pavel-ship-it :)

We haven't updated the Realm File Version lately (we're still using 10.7.2 with v20).
It is likely though that the data within the database was added to the database by Realm (or realm-core or realm-java) in a previous version. That's nothing we can't say, because we have no way of accessing the database right now.

[2021-07-08 13:52] pavel-ship-it commented on #7332
Hi @miklselsoe
Thank you for reporting the issue. I can reproduce it.

[2021-07-08 14:34] LukasGram opened #7333 "Crash during database migration after schema changes"
## Goals
Migrating the database after schema changes.

## Expected Results
The app should not crash and the database should be successfully migrated.

## Actual Results
The migration crashes with a hint to report the issue here:
[code]

## Steps for others to Reproduce
Unfortunately we can not reproduce the issue. And since we work with highly sensitive data we can not share any user data. But may

[2021-07-08 14:39] kaustabh-hcah opened #7334 "SortDescriptor' is ambiguous for type lookup in this context"
I've recently downloaded Xcode 13 beta 2 and it is throwing the error mentioned in the title. I've also imported RealmSwift already and it was working fine in Xcode 12.5.1. Is there any way to fix this issue at this moment?

Realm framework version: 10.10.0

Xcode version: 13 beta 2

iOS/OSX version: 15/Monterey

Dependency manager + version: CocoaPod 1.1.0

[2021-07-08 15:14] Polenoso opened #7335 "Proposal - Update existing objects excluding properties"
**Feature Request**:

## Goals
Let's use the following model.

[code]

Say we'd like to update one persisted model, but we don't want to change the persisted `additionalText` attribute. But if the object is not found in the table, it should persist the whole object even with the `additionalText` value.

## Expected Results

[code]

## Feature Request

It would be great to have a way of skipping th

[2021-07-08 15:45] pavel-ship-it commented on #7335
Thank you for the idea.

At the moment you could try to partially update a record using the `value` property:
[code]

it will work if you change the mentioned `Model` code by adding the primary key definition:
[code]
Please let me know if it works for you.

[2021-07-08 16:01] pavel-ship-it commented on #7334
Hi @kaustabh-hcah
How did you archive this issue? I try to create a sample iOS project with RealmSwift added via Swift Package Manager and it seems working good.
Could you please provide more info on the reproduction steps?

[2021-07-08 16:15] pavel-ship-it commented on #7331
Hi @zhangcx627
Thank you for submitting the log. Is it possible to provide any additional details on steps to reproduce the crash?

[2021-07-08 16:29] kaustabh-hcah commented on #7334
@pavel-ship-it  I've downloaded Xcode 13 beta 2 and ran the existing project that's it. Also, I'm using pod instead of SPM. It is working fine in Xcode 12.5.1.

[2021-07-08 16:37] #7323 closed

[2021-07-08 16:46] pavel-ship-it commented on #7334
@kaustabh-hcah
I cannot reproduce with cocoa pods too.
Can you provide a crashlog or a stack trace?
In XCode you can type in console `p Thread.callStackSymbols.forEach{print($0)}` That could help me to understand what's going on.

[2021-07-08 16:54] pavel-ship-it commented on #7330
@Baumchen
It is hard to say how to reproduce the issue without an actual realm. file. Is it possible to have it somehow?

[2021-07-08 17:25] kaustabh-hcah commented on #7334
@pavel-ship-it This error is coming in the Xcode editor in a line, where I used SortDescriptor. It is not allowing me to build. Build fails and Xcode editor throws this in red color.

[2021-07-08 19:28] tgoyne commented on #7332
Unsurprisingly this is the exact same but as #7323 in a different spot.

[2021-07-09 05:12] zhangcx627 commented on #7331
@pavel-ship-it Sorry about that. That is app center's crash log, user's feedback. I also don't know any other info.

[2021-07-09 06:06] kaustabh-hcah commented on #7334
@pavel-ship-it For your reference:

<img width="923" alt="Screenshot 2021-07-09 at 11 34 28 AM" src="https://user-images.githubusercontent.com/63723304/125031133-d0140580-e0a9-11eb-89ef-337828ff2a47.png">

[2021-07-09 06:26] Baumchen commented on #7330
@pavel-ship-it
Right now we can't provide such a database.. All we know by now is that it seems that Realm seems to write that faulty data into the database on Java side. The user installed a backup from Android to iOS. However Realm Cocoa seems to not be expecting that data either.

From what I know looking at the crash is that `RLMStringDataToNSString` is returning nil - very likely because `[[N

[2021-07-09 07:06] Polenoso commented on #7335
Thanks for the quick response. I guess that could work for one single object, but for a collection of objects then should I iterate through them?

Something like this:
[code]

So I might update my request to specify that it should be also available for collections.

Thanks!

[2021-07-09 07:30] pavel-ship-it commented on #7334
This is XCode beta issue. Meanwhile you can define it as
[code]

[2021-07-09 07:30] #7334 closed

[2021-07-09 13:11] lukaskollmer commented on #7324
@leemaguire The snippet you posted simply checks whether the map's keys contain the specified string and whether the map's values contain the specified value, but it does not check whether the specified value is in fact associated with the specified key.

Example:
[code]

Is there a reference somewhere listing the predicate types realm supports for maps?
Is it at all possible to write a query that

[2021-07-09 15:49] tgoyne commented on #7332
This is not a duplicate of #7323.

[2021-07-09 15:59] leemaguire commented on #7324
Hi @lukaskollmer

We cannot currently query dictionaries specifying a key, and we should look into it and see if it's something we can achieve. It also looks like theres a bug in combining `@allKeys` and `@allValues` so we will need to look into that too. For the best reference on NSPredicates and Map the best place to look is our [query tests](https://github.com/realm/realm-cocoa/blob/8ea6e472fdc

[2021-07-09 17:37] #7332 closed

[2021-07-10 03:25] BigVeila opened #7337 "My users lose data after return back to the app"
Hi, some users feedback that they lose data when return back to the app.
They still create new data, but it's disappear after kill app and return back.
My code below:

[code]
    Did I configure something wrong?
    I'm fine myself so I can't debug.
    I'm guessing that setting defaultConfiguration is causing this problem.
    I didn't migrate any data

[2021-07-10 04:30] lfb-cd commented on #7322
I findout the version is 2.5.0. It`s a old version? it appears on a real device. is there any way to fix this database ?

[2021-07-10 19:00] michaelalhilly opened #7338 "Community forum link in readme.md redirects to 404."
The community forum link under the "Getting Help" section is broken.

Sorry I'm not filling out your form to point out you have a bad link in your docs.

[2021-07-11 19:50] amleszk commented on #3570
After much investigation into cocoapods I discovered this issue was caused by a git configuration issue where symbolic links were not being created in the git repository. The fix was:

`git config --global core.symlinks true`

and `git reset --hard HEAD`

and then do a clean build.

[2021-07-11 20:04] amleszk commented on #3556
After much investigation into cocoapods I discovered this issue was caused by a git configuration issue where symbolic links were not being created in the git repository. The fix was:

`git config --global core.symlinks true`

and `git reset --hard HEAD`

and then do a clean build.

[2021-07-12 15:22] jsflax commented on #7337
Could you show us how you're using the `LocalDAO` singleton? My guess would be that the same Realm isn't being reused between app openings.

[2021-07-13 07:30] hijamoya commented on #7194
@leemaguire It seems fixed, I have not seen this for a month.

[2021-07-13 16:36] pavel-ship-it commented on #7322
yes, it's an old version. Could you please try the latest version?

[2021-07-14 08:43] humoroutlaw opened #7341 "Crash:Trapped uncaught exception 'RLMException', reason: 'Missing value for property"
Trapped uncaught exception 'RLMException', reason: 'Missing value for property 'HomeListModelDB.hid''
     Procedure: I combine the other framework to my project while it crashed 100% under database operation,showing 'Missing value for property',when I remove that framework, everything goes fine.

## Version of Realm and Tooling

Realm framework version: ?
3.18.0
Xcode version: ?
12.0
iOS/OSX vers

[2021-07-14 08:44] humoroutlaw commented on #7341
Procedure: I combine the other framework to my project while it crashed 100% under database operation,showing 'Missing value for property',when I remove that framework, everything goes fine.

[2021-07-14 08:52] jsflax commented on #7341
Hey @humoroutlaw , what is the other framework you are using? We need a good bit more information to help you with your query.

Do you have a code sample of/near the crash? What is "HomeListModelDB.hid"? What does your data model look like?

Also, notably, your version of Realm is fairly outdated. We're on 10.10 now.

[2021-07-14 09:12] humoroutlaw commented on #7341
@jsflax Thanks for your prompt reply! The framework is "MiCombo_APConnectFramework",It is a private one.

Sample codes as below;
+ (void)addHome:(HomeListModel*)home{
    HomeListModelDB *homedb = [[HomeListModelDB alloc] initWithDBModel:home];
    RLMRealm *realm = [RLMRealm defaultRealm];
    [realm beginWriteTransaction];
    [realm addOrUpdateObject:homedb];
    [realm commitWriteTransaction];

[2021-07-14 10:24] humoroutlaw commented on #7341
I have a demo crash visible, is it possible for me to send to you?

[2021-07-14 12:44] jsflax commented on #7338
This will be addressed by https://github.com/realm/realm-cocoa/pull/7339.

[2021-07-14 13:16] lfb-cd commented on #7322
ok, i will try it. How about the data of this database? is there any way to recycle the data?

[2021-07-14 17:20] pierre-wehbe commented on #7287
@dianaafanador3 Any updates on this one?

[2021-07-15 01:31] #7341 closed

[2021-07-15 10:13] dianaafanador3 commented on #7287
Hi @pierre-wehbe sorry for not answering before, I'll try to reproduce this in the next two weeks. Without any code is really hard to reproduce this issues, so I'll try my best to do it.

[2021-07-15 13:46] nrj commented on #7308
FWIW - version of Realm Studio 10.1.12 is currently reporting that it is the latest version.

[2021-07-15 19:08] #7338 closed

[2021-07-15 20:23] danmessing commented on #7286
@dianaafanador3 Just wondering if there are any updates on this?

[2021-07-15 22:50] ravikirankhareedi commented on #7313
I am facing the same issue. Did you find any solution for this problem?

[2021-07-16 10:15] ksiwei opened #7343 "SyncManager.errorHandler not fired after read limit error"
## Goals
Be able to handle the SyncError if the change set is too large e.g. by chunking the change set.

## Expected Results
`app.syncManager.errorHandler` should get called when I see the following error in the application log
[code]

## Actual Results
`app.syncManager.errorHandler` is not called. Occasionally I can see the following message in the xcode console
```Sync: Connection[1]: Connectio

[2021-07-16 10:39] jsflax commented on #7343
Hey @ksiwei, I've written this test to try to reproduce the error:
[code]

However, I am unable to reproduce it.

The test logs in, opens a Realm for some partitionValue, sets an `errorHandler` that ensures that we receive a `SyncError`, and then proceeds to write ~100mb of data to the synced Realm. The test then waits for for the Error, which is indeed triggered.

Is there anything I'm missing he

[2021-07-16 14:45] ksiwei commented on #7343
hmm 🤔 Your test looks exactly like what I was trying to do. I tried on a separate Realm app, but was still not able to trigger the error.
[code]

Does anything obviously wrong jump out to you? Thanks for the help!

[2021-07-17 19:27] nicolas255 opened #7344 "Build error "Header 'Realm/RLMDictionary_Private.h' not found" in module.modulemap"
## Goals

I am trying to use version of Realm in a SPM package.

## Expected Results

Xcode should resolve the dependencies successfully and then the package should build successfully.

## Actual Results

The dependency is resolved successfully but then the build fails with two errors :

![Screenshot 2021-07-17 at 21 04 43](https://user-images.githubusercontent.com/7323838/126047174-2594b0b4-a49b-

[2021-07-18 11:53] jimijon opened #7345 "Realm can't find object by ObjectID"
I am frustrated. Every minor change seemingly breaks sync and I have to terminate etc. There should be a utility switch to reset sync properly but I digress.

My problem is that Realm won't find an object by its primaryId. I have the following script I am using to create a new company and attach it to the user:

exports = async function createNewUserDocument({user}) {
  console.log(`Start createNe

[2021-07-18 12:15] jsflax commented on #7345
@jimijon sorry to hear about the frustration.

Can you show us how you are opening the synced realm?

[2021-07-18 12:25] jimijon commented on #7345
let realm = try! Realm()

[2021-07-18 14:38] jsflax commented on #7345
Can you try using the asyncOpen API and see if you get the same result?

[2021-07-18 22:10] jimijon commented on #7345
OK, same result:
func company () {
        Realm.asyncOpen { result in
            switch result {
               case .failure(let error):
                   print("Failed to open realm: \(error.localizedDescription)")
               case .success(let realm):
                   print("Successfully opened realm: \(realm)")
                self.companyToOpen = realm.object(ofType: Company.self, for

[2021-07-19 04:36] bdkjones opened #7346 "Incorrect Example in PersistedProperty"
On Lines 43-45 of `PersistedProperty`, this example appears:

[code]

This appears incorrect. "Key" is missing and Xcode will complain. The correct version seems to be:
[code]

## Version of Realm and Tooling

Realm framework version: 10.10.0

Xcode version: 13.0 Beta 3

iOS/OSX version: 11.4

Dependency manager + version: SPM

[2021-07-19 04:48] dante-teo commented on #2970
I was using LexoRank to sort my documents in FireStore, this is quite important for my project, any updates?

[2021-07-19 05:53] bdkjones commented on #7346
While fixing this, it would be great to example the examples to include some more advanced cases.

For instance, suppose I have this:

[code]

Is this legal? It compiles fine and the app appears to run correctly, but I'm not sure if I can make the `@Persisted` property private and not have it break in the future.

[2021-07-19 06:09] bdkjones commented on #7346
It's also unclear how `@Persisted` interfaces with weak references. For example, suppose you had a typical parent-child relationship:

[code]

In the non-Realm world, the child would hold a weak reference to the parent. The parent would hold a strong reference to the kid. (I do understand that with Realm, both objects exist until we delete them from the realm.)

In the case above, if you try to do

[2021-07-19 06:31] bdkjones commented on #7198
I'm hitting this same crash now, after moving my previously-fine app to the new `@Persisted` property wrapper. I don't have anything more to report currently, but just adding a data point.

[2021-07-19 07:50] bdkjones opened #7347 "Crash On Delete When LinkingObjects Refer To Same Type"
## Expected Results
Realm should not crash when deleting objects of type `T` that contain `LinkingObjects(fromType: T.self, property:"someProp")` properties.

## Actual Results
When deleting objects that link to each other, Realm crashes in a way that's VERY difficult to figure out. The output is:

[code]

## Context

Consider this class:

[code]

## Steps for others to Reproduce

1. Given the con

[2021-07-19 08:50] leemaguire commented on #7344
Hi @nicolas255 I cannot reproduce your issue, have you cleaned your build and derived data?

[2021-07-19 09:14] leemaguire commented on #7345
@jimijon can you should us what your `Company` Swift object looks like? Be sure that it contains `_id` and that it is marked as the primary key.

[2021-07-19 11:05] backslash-f opened #7348 "Warning: "Missing creator task for discovered dependency input node""
Hallo, would you guys know what's going on here?
I got `193` warnings from Realm with Xcode 13 beta 3. `¯\_(ツ)_/¯`

## Goals
To build w/o warnings.

## Expected Results
No warnings.

## Actual Results
Warnings.

![](https://i.imgur.com/Sp1GFrK.jpg)

## Steps for others to Reproduce
Create an Xcode Swift project and add Realm as a dependency via Cocoapods.

## Code Sample
N/A

## Version of Realm a

[2021-07-19 11:07] leemaguire commented on #7346
Hi @bdkjones

The `primaryKey` issue will be addressed in https://github.com/realm/realm-cocoa/pull/7307.

It is fine to use `@Persisted` as a `private` property, and your use of `parentJob` as a computed property is also correct.

You cannot use a weak reference for the parent child relationship but there are two options:

- First would be to have a `List` or `MutableSet` of `Kid` on the `Dad` ob

[2021-07-19 11:19] jimijon commented on #7345
@objcMembers class Company: Object, ObjectKeyIdentifiable {
    dynamic var _id: ObjectId = ObjectId.generate()
    dynamic var _partition: String = ""

    dynamic var users = List<User>()
    dynamic var clients = List<Client>()
    dynamic var vendors = List<Vendor>()

    dynamic var name: String?
    dynamic var website: String?
    dynamic var email: String?
    dynamic var phone: String?

[2021-07-19 11:19] leemaguire commented on #7198
@bdkjones I have seen a similar issue where this exception occurs when a primary key value is `nil` but the property is declared as non nil. I had solved it by declaring my property as optional.

e.g.

[code]

Maybe you are hitting something similar?

[2021-07-19 11:34] leemaguire commented on #7345
You need to specify a partition value and configure your Realm with a sync user. That is why data is not syncing to your Realm. see https://docs.mongodb.com/realm/sdk/ios/quick-start-with-sync/#open-a-realm

[2021-07-19 11:39] nicolas255 commented on #7344
Hi @leemaguire, I tested all of that but no luck there…

In the meantime, I also tried to upgrade from 10.7.4 to 10.10.0 in an existing project where packages are managed by Xcode (it's an iOS app project) and I have the same two issues. Then I tried to replicate them in a fresh iOS project and same issues again.

One thing that could be relevant (?) is that I am trying this on a case sensitive fi

[2021-07-19 11:39] jimijon commented on #7345
but I was setting it in the function when creating it

[2021-07-19 11:43] leemaguire commented on #7345
Can you show me how you are setting up your sync app in your swift code?

[2021-07-19 11:54] jimijon commented on #7345
ok, I set the partition for the configuration and it works. Some better logging or error handling would be nice. So many times I broke the sync, the log shows no errors, but never returns a user. I had to completely delete the sync (not terminate but delete) and bootstrap it up again to see a user after somehow breaking it with no error logs. That cost me about a dozen hours. Now back to understan

[2021-07-19 11:54] #7345 closed

[2021-07-19 12:33] nicolas255 commented on #7344
Another update: we managed to try on two additional macs. One of them (Intel) is also on a case sensitive FS and has the same issues. The other one (M1) is not on a case sensitive FS and it builds successfully… Both tried with Xcode 12.5.1.

I tried to see why that error could occur but I don't have any experience with packages that include anything other than Swift.

[2021-07-19 12:40] marcelopovoa commented on #7157
This is a  problem for me too :-(

[2021-07-19 14:52] leemaguire commented on #7347
Hi @bdkjones

All properties in your `Foo` class must use `@Persisted`. You cannot mix it with the old syntax for collections and Linking Objects.

[2021-07-19 15:02] dante-teo commented on #5903
Isn't this a bug?
I'm facing a similar issue which is my ObservedResults won't update after I modify the defaultConfiguration.

[2021-07-19 15:06] leemaguire commented on #5903
Hi @dante-teo Can you please open a new issue so that we can help you? Thanks

[2021-07-19 15:38] dante-teo opened #7349 "iOS RealmSwift Results not Updated after modify the defaultConfiguration"
## Goals
I'm currently creating a simple app with Realm + SwiftUI, but I'm facing a problem with the `@ObservedResults` wrapper.
I've declared an `@ObservedResults` in a `View`, and add a new object in another `View`'s asynchronously (out of the main queue).

It's works perfectly without any problem, once the item added, the `@ObservedResults` updated as well.
But everything just went wrong after

[2021-07-19 16:33] bdkjones commented on #7347
Yea, that's not the cause of this problem. I just typed that example from memory. I'll change it to use the old syntax. Either one will cause the crash.

[2021-07-19 19:14] bdkjones commented on #7347
@leemaguire I originally thought the crash was related to the new property wrapper syntax, so I rolled my project back to a commit before I switched to @Persisted. The same crash occurred on delete. I did test the case where everything (including the set and linkingObjects) adopted @Persisted and the result was the same.

[2021-07-20 03:55] wwwqewrvsg commented on #5618
Realm crashes often.
My projects using:
- Firebase/Performance (8.2.0). (cocoapod)
- Realm (4.4.1). (Swift Package Manager)

`Crashed: com.apple.main-thread
0  libobjc.A.dylib                0x1b540b194 class_getSuperclass + 4
1  PADI                           0x10094cfb4 RLMIsObjectSubclass + 37772
2  PADI                           0x1009c52ac RLMRegisterClassLocalNames(objc_class**, unsigned lon

[2021-07-20 07:12] Kysiek commented on #6767
@seidju did you manage to resolve this issue? I have the same problem with the current version of the app after upgrading to the Realm 10.10.0. Only I have the logs from Crashlytics and dozen of people affected with it:

`Fatal Exception: realm::NoSuchTable
No such table exists Exception backtrace: 0 Realm 0x0000000104de1dcc _ZN5realm11NoSuchTableC1Ev + 52 1 Realm 0x0000000104de1f24 _ZNK5realm5Gro

[2021-07-20 08:22] #7298 closed

[2021-07-20 08:29] jsflax commented on #6767
@seidju @Kysiek your stack traces appear to be different than the ones from the original issue. Could you please open a new issue with these stack traces and ideally a code sample to help us debug this?

[2021-07-20 08:51] Kysiek opened #7350 "Crashes due to No such table exists Exception"
## Goals
After updating the Realm version from 10.7.5 to 10.10.0 Crashlytics is reporting us following problems:

`Fatal Exception: realm::NoSuchTable No such table exists Exception backtrace: 0 Realm 0x0000000104de1dcc _ZN5realm11NoSuchTableC1Ev + 52 1 Realm 0x0000000104de1f24 _ZNK5realm5Group15key2ndx_checkedENS_8TableKeyE + 224 2 Realm 0x0000000104eefb90 _ZNK5realm5Table18get_opposite_tableENS_

[2021-07-20 09:28] leemaguire commented on #7347
I see what you mean, you might also be able to achieve the singular linking object like so:

[code]

I can delete `bar1` and `bar2` with no issue

[2021-07-20 09:54] leemaguire commented on #7349
Can you show us the implementation of the `Realm.asyncWrite` extension?

[2021-07-20 10:59] dante-teo commented on #7349
Sure, please look at the followings:
[code]

P/S: I've also updated the issue with the implementation of asyncWrite.

[2021-07-20 11:11] leemaguire commented on #7349
The issue here is that you are using the global queue which is a concurrent queue and should not be used with Realm. You are also not confining your Realm to a queue. See this example which works for me:

[code]

[2021-07-20 12:47] dante-teo commented on #7349
Hi and thanks for the reply, I've tried with your codes but it still not working as expected, the funny thing is, when I stop the app run from Xcode and launch the app myself from the device/simulator, it works.

[2021-07-20 12:49] leemaguire commented on #7349
Interesting, do you think you can give us an Xcode project that reproduces this issue?

[2021-07-20 12:49] dante-teo commented on #7349
Just to add on, I even tried the below codes to re-assign the default configuration for realm, it caused the same problem also, I believe something was happen in the defaultConfiguration assignment:
[code]

[2021-07-20 12:58] dante-teo commented on #7349
Sure, you should able to download the project from here:
[https://drive.google.com/file/d/15rsnrUywD4FOsFrFGLD1O__fAHEDBiXx/view?usp=sharing](here)

[2021-07-20 13:09] finnschiermer commented on #6763
We need a repro case to make progress, I'm afraid. Extended testing has not hit this.

[2021-07-20 13:18] leemaguire commented on #7349
It is working for me without any issue

[2021-07-20 13:21] dante-teo commented on #7349
May I know the device you were used to test? It's simulator or a real device?

[2021-07-20 13:23] leemaguire commented on #7349
It is a simulator, iOS 15 using Xcode 13 beta 3. One thing to note would be that your newly added label may not appear instantly as you are adding from the background, it may take a few seconds or even a minute. Running with the debugger attached will slow things down.

[2021-07-20 13:47] dante-teo commented on #7349
Thanks for your advices, in my case I've added the label and wait for more than 10 minutes already, it still not appear, but once I click on the edit button to active the edit mode of the list, it appeared.

[2021-07-20 13:59] dante-teo commented on #7349
@leemaguire Just to let you know, I modified some codes to add the label in main thread, it causes the same issue as well, I think the multithreading isn't the root cause of my issue.

[2021-07-20 16:07] schmidan commented on #7344
I ran into the same issue with SPM and `10.10.0` downgrading to `10.7.7` helps.
My system is _Case Sensitive_. I will report back when i get to test on an insensitive system.

for what its worth the apps realm is being upgraded from `3.21.0` :)

[2021-07-20 16:37] tgoyne commented on #7316
https://github.com/realm/realm-core/pull/4816 may improve things for you.

[2021-07-20 21:39] kbendelow commented on #7348
I'm seeing this issue with an entirely different library, but it also seems to have to do with .hpp files

[2021-07-20 23:18] gbreen12 commented on #7350
I'm seeing this as well.

[2021-07-20 23:29] gbreen12 commented on #7350
Here's my stack trace:
`terminating with uncaught exception of type realm::NoSuchTable: No such table exists
Exception backtrace:
0   Air Quality                         0x0000000102b8fd48 _ZN5realm4util6detail26ExceptionWithBacktraceBaseC2Ev + 48
1   Air Quality                         0x0000000102bbdf2c _ZN5realm4util22ExceptionWithBacktraceISt9exceptionEC2IJEEEDpOT_ + 76
2   Air Quality

[2021-07-20 23:31] gbreen12 commented on #7350
Here's some code that will hopefully be helpful:
[code]

[2021-07-21 07:51] leemaguire commented on #7350
@gbreen12 are `getAssetIDs(in:)` and `getCache(_:)` top level functions? who owns the realm instance that they are using?

[2021-07-21 07:56] leemaguire commented on #7350
@gbreen12 are you able to reproduce this consistently?

[2021-07-21 08:51] leemaguire commented on #7350
@Kysiek @gbreen12 are you using realms on multiple threads and are you observing any realms / realm objects anywhere?

[2021-07-21 09:26] newgitname opened #7353 "Could not build module 'Bid'"
decimal128.cpp Could not build module 'Bid' ,how to do

[2021-07-21 10:01] nicolas255 commented on #7344
As soon as I have a little more time I will try to narrow down to the changes that cause this. Or at least to a specific commit…

[2021-07-21 11:16] leemaguire commented on #7353
Hi @newgitname Can you fill out the issue template? We cannot help you with the current information.

[2021-07-21 11:47] dcacenabes commented on #7313
Unfortunately not

[2021-07-21 12:29] Kysiek commented on #7350
In my project I use instances of Realm on different threads, but on every thread I am instantiating the instance with empty initialiser.
And yes, in my project I see code which is observing realm objects. Do you think it may be a cause for these crashes?

[2021-07-21 12:42] leemaguire commented on #7350
@Kysiek is there any chance that you are deleting the object on a different thread when it is being read on another?

` but on every thread I am instantiating the instance with empty initialiser`

Can you show code explaining this?

Thanks

[2021-07-21 15:27] gbreen12 commented on #7350
So I can reproduce consistently but only on a client's device (iPhone 12). It works on my device just fine (iPhone Xr). Here's my AssetStorage:

[code]

It extends RealmStorage:
[code]

I'm not watching anything and I don't think it's having any threading issues because I basically immediately change my DSO (realm object) to a DTO as soon as it comes out of the storage class.

[2021-07-21 15:34] leemaguire commented on #7350
@gbreen12 are you able to get the clients realm file and use it from your device to see if the crash can be reproduced locally?

[2021-07-21 15:35] gbreen12 commented on #7350
How can I get the realm file from their phone?

[2021-07-21 15:38] leemaguire commented on #7350
@gbreen12 do you have access to their phone? If so you could grab it by doing what's described here https://developer.apple.com/forums/thread/21660

[2021-07-21 15:55] leemaguire commented on #7350
Can you show me how you do the DSO DTO conversion? `observeAll`. Is `RealmStorage` used across multiple threads?

[2021-07-21 19:16] melMass opened #7355 "[SUGGESTION] Add instructions to install without XCode (SPM)"
## Goals
Add to the documentation how to install Realm in a Swift package using SPM without XCode

## Expected Results

To install Realm in a Swift as a swift package dependency  you should add the following to your `Package.swift`:

[code]

[2021-07-21 19:18] gbreen12 commented on #7350
You know what, I lied. This particular case doesn't use a DTO. I just get that cache DSO and then attempt to get the string list.

[2021-07-21 19:24] gbreen12 commented on #7350
Unfortunately I can't get the realm file because it's in a shared folder and I've already updated the code to use a comma separated string over a list of strings and he has updated the app.

[2021-07-22 07:57] leemaguire commented on #7350
Ok, just for further reference know that accessing a object after you have deleted it should hit NoSuchTable. Although we have checks in place to prevent this, if you time it really specifically from a multi thread / process scenario there is a chance you can bypass the checks in the Cocoa layer and hit this exception in our Core layer.

[2021-07-22 08:30] ravikirankhareedi opened #7356 "No such module 'Realm' - Error on Catalina (10.15.7)"
**No such module 'Realm' - Error on Catalina (10.15.7)**

## Goals
Integrate Realm as a binary framework (xcframework) in Swift Package Manager

## Expected Results
The code is expected to compile.
The same works on BigSur but not on Catalina

## Actual Results
I get an error during build - "No such module 'Realm'"

## Steps for others to Reproduce

1. Downloaded the package from: [Realm-Git](http

[2021-07-22 09:13] leemaguire commented on #7356
Hi @ravikirankhareedi just to be clear, on Catalina the XCFramework build succeeds, just the failure is when you try to build the swift package that references it?

[2021-07-22 09:55] ravikirankhareedi commented on #7356
Yes, That is correct.

[2021-07-22 10:34] leemaguire commented on #7356
Can we see what your `swift.package` for your project looks like?

[2021-07-22 11:42] duncangroenewald opened #7357 "Slow notification when adding object to synced Realm (MongoDB Realm SDK V10.x)"
## Goals
App has a list of realm objects and observes the Results<ObjectType> in order to update the list if items are added or removed

## Expected Results
When the user add a new item to the realm we expect to get an immediate notification in order to update the user interface and show the new item in the list

## Actual Results
When using a synced realm the notifications are taking a long time

[2021-07-22 13:27] leemaguire commented on #7357
Hi @duncangroenewald

I'm not sure that the regression with the DeepChangeChecker is related to what you're seeing. Would you be able to update to the latest version and let us know if the issue persists?

Also how big is the `Results` that you are observing?

Thanks

[2021-07-22 13:30] duncangroenewald commented on #7357
The results is tiny - 8 objects.   CPU does spike to 100% for the duration until the notification arrives.

I will test with 10.10 and let you know.

Cheers.

[2021-07-22 13:42] duncangroenewald commented on #7357
@leemaguire - same result with 10.10.  Tomorrow I will test with local version (non-synced) and maybe try an earlier version - I think I saw someone mention 10.7 never had this issue - assuming it is the same issue - unless you have some other suggestions.

Weird thing is I am getting about 5 other notifications with modifications when all I have done is add one object.

I would only expect to see

[2021-07-22 13:50] duncangroenewald commented on #7357
@leemaguire - I just tested with local only version and get the same issue so not sync related.  I will try earlier versions.

[2021-07-22 13:53] ravikirankhareedi commented on #7356
[code]

[2021-07-22 14:39] duncangroenewald commented on #7357
Issue is the same with 10.7.6 and 10.7.1

[2021-07-22 15:25] leemaguire commented on #7356
Maybe adding the binaryTarget to a wrapper might work, as described here https://stackoverflow.com/a/65255303

[2021-07-22 15:55] tgoyne commented on #7357
If 10.10.1 doesn't help with your specific case, then some sort of sample app which hits problems would be very useful. There's a lot of room for further optimizations in the notifier code, but where the hot spots are varies quite a bit depending on what your schema and object graph look like so it's easy to speed a bunch of artificial benchmarks up without actually fixing the problem that a speci

[2021-07-22 22:48] duncangroenewald commented on #7357
@tgoyne - I will see if it is feasible to create a test app.

In the meantime can you confirm the following:

1.  In general notifications for adding an object to a collection should be sent nearly instantly and should not be taking 2 - 5 seconds.
2. Is there any difference in behaviour for synced or non-synced realms ?
3. What is going on in the background prior to sending the notification that c

[2021-07-22 22:49] duncangroenewald commented on #7357
@tgoyne - sorry I didn't see the 10.10.1. - will give that a go - I have only tried 10.10.0

[2021-07-22 23:10] tgoyne commented on #7357
The release is currently building and will be out today. Turns out it'll actually be 10.11.0 though as another PR landed that added features.

For the simplest case where you're observing a single List and nothing else, your schema is acyclic, and you perform a write which does nothing but create a new object and add it to the List, it is reasonable to expect a change notification from that in the

[2021-07-22 23:29] duncangroenewald commented on #7357
OK - yes that pretty much what I was expecting - haven't seen any issues with the same collections and Results sets on 5.x previously so this is a bit of a surprise.

It is a new software release and never noticed this delay previously.

With a simple creation of a new object would it be normal to get only a single notification with the inserted object ?

The scenario we have is there are 5 shelve

[2021-07-23 01:11] duncangroenewald commented on #7357
@tgoyne - thanks 10.11.0 fixes the issue - great work.

[2021-07-23 01:11] #7357 closed

[2021-07-23 02:18] duncangroenewald commented on #7357
@tgoyne - I have just run into another crash when deleting objects from the same collection as well as others.  The crash log said to log the issue with realm-code which I have done. See realm-code issues for more details.

[2021-07-23 06:04] schmidan commented on #6671
We are seeing this as well (sdk 14 build, iOS 15 beta3).

Does anyone know of a workaround or do we have to move realm out of the shared group container?
Or does the Realm Team work on a fix?

(we are on 10.7.7 atm because of https://github.com/realm/realm-cocoa/issues/7344)

[2021-07-23 14:55] the0neyouseek opened #7358 "DecodingError.keyNotFound with new @Persisted"
## Goals

Have similar behavior between `@Persisted` and `@objc dynamic var` when used on a `Codable` class.

## Expected Results

Decoding from a json does not throw a [`DecodingError.keyNotFound`](https://developer.apple.com/documentation/swift/decodingerror/keynotfound) when a key is missing on an optional property

## Actual Results

When using the new `@Persisted` syntax on an optional proper

[2021-07-23 16:24] leemaguire commented on #7358
Hi @the0neyouseek

This should help you
[code]

It passes your test and ours. Will will look to add the above into our SDK in the meantime.

[2021-07-23 17:11] floorish opened #7359 "Concurrently accessing child relation (LinkingObjects.first) inconsistently causes crash (EXC_BAD_ACCESS)"
## Goals

After adding a new optional property to a Child object, I want to add a value to that property for all Children in the current Realm. For performance reasons the calculation of these new values happens concurrently (after the Realm migration is completed, which keeps the values `nil`).

This is done by getting all Parents in the database and getting the first Child, using `LinkingObjects

[2021-07-23 20:22] tgoyne commented on #7359
This is probably fixed in v10.11.0. In [v10.7.5, `swiftGenericProperties` was lazily populated in a thread-unsafe manner](https://github.com/realm/realm-cocoa/blob/v10.7.5/Realm/RLMObjectSchema.mm#L350) even though RLMObjectSchema instances are shared between threads. This _almost_ never caused problems because it required that the very first thing you do with Realm after app startup be concurrent

[2021-07-24 08:14] floorish commented on #7359
That's great to hear @tgoyne — thank you so much for your quick reply! This is indeed the very first thing the app does, to populate the new property. And I can confirm it happens only in a very small percentage of launches. Just to confirm:
Would a quick fix be to non-concurrently access some Child object before all of this happens? e.g.:
[code]
Would that populate the `swiftGenericProperties` fo

[2021-07-25 11:00] lkuczborski commented on #6898
What is the current status of this? Would be great to have precompiled binaries in SPM.

[2021-07-25 11:39] nicolas255 commented on #7344
So I found the issue, it's in the symlink there: https://github.com/realm/realm-cocoa/blob/267531b38c710f5a7f3352b34eb95ece53773093/include/Realm/RLMDictionary_Private.h which link to a `realm` directory instead of `Realm`.

I made a fork with a fix for it https://github.com/nicolas255/realm-cocoa/commit/5893c464fe2ffbcbed15c4bcb6574f999dcc3e15

And then it builds!

Could a contributor apply the s

[2021-07-26 06:24] philprime commented on #6898
I actually managed to get this working by downloading the release files, extracting the `.xcframework` files, individually compressing them separately, as you need the `Realm.xcframework` and the `RealmSwift.xcframework` as separate ZIP files, uploading them to my own cloud storage and declaring the as the following in the `Package.swift`:

[code]

I guess if the Realm team could additionally uplo

[2021-07-26 07:28] the0neyouseek commented on #7358
Hi @leemaguire

Thanks for the sample, the code works and fix the issue.
I'll leave this open until the fix is merged.

[2021-07-26 12:50] jlavyan opened #7361 "Crash when I use MongoClient"
## Goals
I have synced user trying to use mongoClient for watch mongodb-atlas changes, (use `Results` subscription for listen data change will not work in my case).

Bit more why I try to use mongoClient

1. Currently GraphQL Api don't support subscription
2. I cannot use sync since my realm has large size, I cannot fix my issue by partitions
3. Only way stop sync Realm SDK (I know way how to stop

[2021-07-26 12:56] jsflax commented on #7361
Hey @jlavyan , can you send us the stack trace for the crash?

[2021-07-26 13:12] jlavyan commented on #7361
[code]

[2021-07-26 13:28] jlavyan commented on #7361
This is way how I use SDK if it can help you @jsflax

var collections = user.mongoClient("mongodb-atlas").database(named: "databaseName").collection(withName: "Photo")
var stream = mongoCollection?.watch(matchFilter:["fullDocument.partition": "partitionName"], delegate: delegate)

[2021-07-26 13:48] quytm2239 opened #7362 "[Crash][v10.10.0] Realm inititializing with configuration crashed"
## Goals
Upgrading to RealmSwift 10.10.0 by download framework then import to project

## Expected Results
RealmSwift run stable on WatchOS 7.2

## Actual Results
My code:
[code]

[code]

## Steps for others to Reproduce
No, this is just crash when initializing Realm

## Code Sample

## Version of Realm and Tooling

Realm framework version: 10.10.0

Xcode version: 12.4

iOS version: 14.4 (Simulato

[2021-07-26 14:04] dianaafanador3 commented on #7362
Hi @quytm2239, thanks for taking the time to report this. I'll try to reproduce the issue and see what we can do to solve this.

[2021-07-26 17:47] tgoyne commented on #7359
Yes, that should work around the bug as long as you use the same Realm.Configuration to open the Realm as you do on the background threads (if you aren't just using the default configuration; if you are there's nothing to worry about there). You'll need to access each of the types which you'll be using on the background thread.

[2021-07-26 18:29] floorish commented on #7359
Cheers, much appreciated. I'll release that as a workaround and will update to v10.11.0 as soon as possible. Thanks for helping!

[2021-07-26 18:29] #7359 closed

[2021-07-27 07:59] dianaafanador3 commented on #7362
Hi @quytm2239 I haven't been able to reproduce this issue. Can you update to our latest version? https://github.com/realm/realm-cocoa/releases/tag/v10.11.0, this issue may have been solved already and I want to discard that.

[2021-07-27 10:25] dianaafanador3 commented on #7250
Closing this as there is no response from the user. I can open it again if it is not solved by now.

[2021-07-27 10:25] #7250 closed

[2021-07-27 11:27] dianaafanador3 commented on #7210
Closing this because there is no answer for the user

[2021-07-27 11:27] #7210 closed

[2021-07-27 11:30] dianaafanador3 commented on #7277
Closing this as there is no response from the user

[2021-07-27 11:30] #7277 closed

[2021-07-27 11:32] quytm2239 commented on #7362
@dianaafanador3 [SOLVED]
Thank you. I already updated to lastest version. It is now stable for me.
The crash may occur on Simulator only.

[2021-07-27 11:34] dianaafanador3 commented on #7362
Thanks @quytm2239 for answering, I'll close the issue for now but if you encounter with this issues later I'll reopen it.

[2021-07-27 11:34] #7362 closed

[2021-07-27 15:38] TheHmmka opened #7363 "Predicate with CONTAINS[c] doesn't work. Work only with contains[c]."
## Expected Results
Fetch works with capitalised letter as in documentation.

## Actual Results
Doesn't work.

## Steps for others to Reproduce
Use CONTAINS[c] instead contains[c]

## Code Sample
let resultsUsers = Settings.current.usersMatched.filter(
      "\(#keyPath(User.firstName)) CONTAINS[c] '\(value)'"
)

## Version of Realm and Tooling
Realm framework version: 10.11.0

Xcode version: 12.1

[2021-07-28 08:52] dianaafanador3 commented on #7363
Hi @TheHmmka can you add the code snippet used?, I'm very curious about the use of #keyPath on your sample. Is it working for you using `contains[c]`?

[2021-07-28 12:01] dfg-1310 opened #7366 "Do not want to save application data on the phone device including Realm"
## Goals

Due to security concerns, we do not want to save application data on phone devices.

I tried to put the realm database is in-memory. After saving data is in the realm database when trying to retrieve it then gets blank or nil. Need to know the solution how we can fix it.

In-memory realm database approach is good for not saving data on the device?

## Expected Results

Should be able to

[2021-07-28 12:04] jsflax commented on #7366
Hey @dfg-1310– by design, using an in memory Realm will not persist data to the device, so I'm not entirely sure what you mean here.

[2021-07-29 06:43] yves8833 commented on #7083
I have a similar issue, when build Realm(10.10.0) on Xcode 13 BETA3, Xcode error shows 'AnyCancellable', 'Publisher', 'CAncellable' is only available in iOS 13.0 or newer, but the error only occurs on the device under iOS 12.
i'm not sure it is the same one or anything i did wrong

[2021-07-29 06:45] dianaafanador3 commented on #7083
Hi @yves8833 are you using Cocoapods or SPM to install Realm?

[2021-07-29 07:01] yves8833 commented on #7083
Hi @dianaafanador3 i use cocoapods (v1.10.1)

[2021-07-29 07:19] dianaafanador3 commented on #7083
It's working fine on my part on Xcode 13 (Beta 4), Realm(v10.10.0) Cocoapods (v1.10.0), Device (Simulator iOS 11.4)
Can you update to the latest Xcode beta version?, maybe it is something they fixed between versions.

[2021-07-29 07:28] yves8833 commented on #7083
Thanks i will try it.

[2021-07-29 08:52] personaconpies opened #7368 "Combine problems with Xcode 13 beta 4"
## Goals
We're testing our app, which includes Realm, with the new Xcode 13 beta 4. We want to perform a build for Any iOS Device.

## Expected Results
The compilation works as it did on Xcode 13 beta 2.

## Actual Results
We get the following error on RealmSwift's App.swift file:

`Failed to build module 'Combine' for importation due to the errors above; the textual interface may be broken by pro

[2021-07-29 08:56] caglayansever opened #7369 "Type 'Int' does not conform to protocol 'RealmPropertyType'"
We upgraded realm version to 10.10. After upgrade `RealmOptional` has warning that _'RealmOptional' is deprecated: RealmOptional<T> has been deprecated, use RealmProperty<T?> instead._
But we can't use RealmOptional for Integers.

How can we use optional int with new version.

```dynamic var xxx = RealmProperty<Int>() ``` _Type 'Int' does not conform to protocol 'RealmPropertyType'_

```dynamic va

[2021-07-29 08:57] dianaafanador3 commented on #7368
Hi @personaconpies thanks for reporting this, we are getting reports from other people getting the same build error.
I've been able to reproduce, so we're gonna check this issue and see why it is happening.

[2021-07-29 09:06] dianaafanador3 commented on #7369
Hi @caglayansever,
You have to declare your `Int` as optional in order to use it with RealmProperty
`var otherInt = RealmProperty<Int?>()`

As another option, have you considered use our new model syntax declaration `@Persisted`, so instead of using `RealmOptional` or `RealmProperty` you can declare your int as optional and use our new property wrapper. For example
[code]

[2021-07-29 09:21] TheHmmka commented on #7363
I have used #keyPath for several years.

let resultsUsers = Settings.current.usersMatched.filter(

    "\(#keyPath(User.firstName)) contains[cd] '\(value)'"

)

ср, 28 июл. 2021 г. в 11:53, Diana Perez Afanador ***@***.***

--
You know who...

[2021-07-29 10:55] dianaafanador3 commented on #7363
Hello again @TheHmmka I try to reproduce your issue using Realm (v10.11.0), using `contains[c]` and `CONTAINS[c]` which are working both as they are supposed to.
Are you using this API
[code]
Can you create a sample project where I can reproduce this issue?

[2021-07-29 15:58] tgoyne commented on #7368
If this is the same problem as was happening with beta 3, it's an Xcode bug that's breaking every project which uses Combine on iOS. They're shipping a broken copy of Combine.framework for iOS, and there isn't much we can do about it other than continuing to use beta 2 until they fix it.

[2021-07-29 16:01] dianaafanador3 commented on #7083
Hi @yves8833 there are some users having a similar error, seems like an Xcode issue, you can follow the thread here https://github.com/realm/realm-cocoa/issues/7368

[2021-07-29 16:23] dianaafanador3 commented on #7368
This seems like an Xcode 13 beta >= 3 issue. I'm closing this.

[2021-07-29 16:23] #7368 closed

[2021-07-30 09:46] ricardopereira opened #7370 "Crash SIGABRT ABORT while adding objects to a List"
## Goals
I want to add an array of `Chapter`'s of type `Realm.Object` to a `Realm.List`:

[code]

`ModuleSession.videoChapters` type is `List<Chapter>`.

## Expected Results
Adding chapters to the `ModuleSession` object.

## Actual Results

Stack trace from Crashlytics:

[code]

## Steps for others to Reproduce
It does not fail consistently, I couldn't reproduce the issue locally.

## Version of R

[2021-07-30 19:14] #7358 closed

[2021-07-31 05:47] tuppaware opened #7371 "Fatal Exception: realm::NoSuchTable"
## Goals
Wanting to use realm db within my app, but some users are getting crashing due to a NoSuchTable Crash on app startup.
These are existing users, so they already have a realm database within the app.

## Expected Results
When I call try! Realm() it doesn't crash

## Actual Results
Crashlytics reports a NoSuchTable crash. Noting I haven't been able to reproduce this locally in my testing and

[2021-08-02 05:38] rromanchuk commented on #7346
`@Persisted` has somehow changed the visibility (or something) causing issues with codable `Swift.DecodingError.keyNotFound`, and also my main extension that provided strongly typed filter/predicates with keypaths `(\Dad.name == "Bob")`.  I know not very helpful, but just working through it now

[2021-08-02 06:06] rromanchuk commented on #7346
figured it out https://github.com/realm/realm-cocoa/issues/7358#issuecomment-885754081

[2021-08-02 09:51] MyCastleAndKing commented on #6785
我在使用s.pod_target_xcconfig = { 'EXCLUDED_ARCHS[sdk=iphonesimulator*]' => 'arm64' }同样报错,改成` s.pod_target_xcconfig = { 'VALID_ARCHS' => 'x86_64 armv7 arm64' }`可以成功校验通过

[2021-08-02 10:01] dianaafanador3 commented on #7346
Hi @rromanchuk, a PR was already issued to solve this (https://github.com/realm/realm-cocoa/pull/7365), is already merged and the fix will be available in the next Realm Cocoa release

[2021-08-02 13:05] miklselsoe opened #7372 "Property named `id` not possible when using @Persisted property wrapper"
When declaring a class with `@Persisted` properties, a property named `_id` cannot exist alongside a property named `id`.

## Code Sample

[code]

This scenario works when using the old `@objc dynamic var` declaration of properties:

[code]

## Version of Realm and Tooling
Realm framework version: 10.11.0

Xcode version: 12.5.1

iOS/OSX version: 14.5

Dependency manager + version: Carthage 0.38.0

[2021-08-02 15:17] jlavyan commented on #7361
I will close this issue since on v10.11.0 it's fixed

[2021-08-02 15:17] #7361 closed

[2021-08-02 16:22] tgoyne commented on #7372
This is just how the swift property wrapper feature works, so there probably isn't anything we can do about it.

[2021-08-02 20:01] jsflax commented on #7371
What is `FeaturedRealm` and do you have a more detailed stack trace?

Also, are you observing any objects/realms/tables?

[2021-08-03 01:52] duncangroenewald opened #7374 "RealmSwift build with Realm Core 11.2.0"
## Goals
Build and test application using RealmSwift SDK with fix for realm-core crash (realm-core v11.2.0)

Could someone provide an indication of when a new RealmSwift SDK is likely to be released with the new realm-core v11.2.0.  This contains a bug fix we need to complete testing.

Just for future reference what is the typical build cycle to incorporated realm-core fixes into the RealmSwift SD

[2021-08-03 02:16] tuppaware commented on #7371
I'm not directly observing any realm objects and realms, just reading objects within collection views as standard, (UICollectionViewDiffableDataSource)

The FeaturedRealm object (noting I haven't changed the deprecated RealmOptional yet).
[code]
From the stack trace the most relevant bits below

[code]
< various other threads of libsystem_kernel.dylib  >

[code]

[code]
I assume this is the part t

[2021-08-03 08:49] jsflax commented on #7374
Hey @duncangroenewald , the latest version should be released later today: https://github.com/realm/realm-cocoa/pull/7373. Generally speaking, there is a 24-48 hour turnaround for new versions off of core releases (depends on if the core version has breaking changes, of course).

[2021-08-03 09:02] jsflax commented on #6578
@Algashev , can you try this on the latest version of Realm? Many improvements and fixes have been released since 4.4.1.

[2021-08-03 09:24] jsflax commented on #6843
Closing this as a solution seems to have been found.

[2021-08-03 09:24] #6843 closed

[2021-08-03 09:28] nicolas255 commented on #7344
Could someone else look into this ? I'm kind of stuck with that question mark issue… 😟

[2021-08-03 09:32] jsflax commented on #7344
@nicolas255 we'll take a look at your PR today and try to get a release out later tonight.

[2021-08-03 12:44] nicolas255 commented on #7344
@jsflax awesome !!

@schmidan could you try to upgrade to the revision of the PR (#7360) and see if you can build with it ??

Using :
[code]
(or the equivalent using Xcode UI)

[2021-08-03 15:06] jsflax commented on #6096
@gongzhang can you try moving the lines:
[code]
To be before you open the Realm?

If you continue seeing the issue, can you please open another ticket for us to comment on? This seems unrelated to the original issue.

For anyone still encountering the initial issue, please upgrade to the latest version of Realm. If you still encounter it, please open a new ticket. There are a number of different i

[2021-08-03 15:06] #6096 closed

[2021-08-03 15:13] jsflax commented on #6408
@igrechuhin it appears the issue you are seeing is different than the initial reported issue. If you are still encountering the issue, please open another ticket so that we can investigate further.

[2021-08-03 15:13] #6408 closed

[2021-08-03 15:15] jsflax commented on #6228
@Daivest we've done a lot of optimization work in this lately. Can you see if the project has improved using the latest version of realm?

[2021-08-03 18:41] lukaskollmer opened #7376 "Crash when initiating transaction after object on which an observer was registered is deleted from realm"
After updating RealmSwift from 10.9.0 to 10.11.0, there is a bug where, after deleting an object on which an observer is registered, the next write transaction will crash the program.

This definitely worked up until 10.9 (not sure about 10.10, but it's broken after updating to 10.11).

## Code Sample
[Sample Xcode project.](https://lukaskollmer.s3.us-east-1.amazonaws.com/tmp/LKRealmCrashTest.zip)

[2021-08-03 19:01] tgoyne commented on #7376
This should be fixed by #7373.

[2021-08-03 21:14] duncangroenewald commented on #7374
@jsflax - great thanks.

[2021-08-03 21:14] #7374 closed

[2021-08-04 11:48] HMWDavid opened #7377 "Multiple Realm Tables of same Class"
I have a RealmObject Class. I want multiple tables of the same class

[2021-08-04 12:16] amralkhayat opened #7378 "Missing value of one of list properties"
Hello guys ,
Now I have Ream model for saving  album music details , wired thing happen all properties of the model has been  saved successful  expected one property call duration always return nil . I have tried may times but always return nil even if I have delete app and installed again the same problem happed
Note: Duration property you will find it in the Track model

[code]

[code]

[2021-08-04 13:34] jsflax commented on #7377
@HMWDavid this isn't something we support nor do we intend to. What would the purpose of this be? Maybe we can offer a workaround.

[2021-08-04 13:42] jsflax commented on #7378
If you are using the legacy `@objc` syntax, your `Int?` property isn't appearing because that is not how you declare optional ints with that syntax. It should be a `RealmProperty<Int?>` on your model.

If you migrate to the modern declaration syntax, your model can look like this:
[code]

All that said, you seem to only initialise the Track class with a non-null `Int` type, so that is something to

[2021-08-04 13:42] #7378 closed

[2021-08-04 13:52] amralkhayat commented on #7378
thank you very much you have saved my day   @jsflax

[2021-08-04 13:59] jsflax commented on #7078
@TheLuckyWan I've written a test like so:
[code]
Where the `dateCol` property on the swift object is instantiated as `Date(timeIntervalSince1970: 1)`. The test passes and does not crash, so I cannot reproduce your issue.

Can you try upgrading to the latest version of Realm and trying again? If it still fails, can you create a small xcodeproj reproducing the issue and send it our way?

[2021-08-04 14:02] jsflax commented on #7072
@HKdAlex and @visdyn , we have made a series of improvements and optimisations to our underlying observation code that should have improved this experience. We have also released KeyPath Filtering which will allow you to only be notified when specific properties have been changed.

Can you please retest this with the latest version of Realm and let us know if this is still an issue?

[2021-08-04 14:04] jsflax commented on #7054
@visdyn were you able to come up with a solution/workaround to this one?

[2021-08-04 14:26] jsflax commented on #6993
Since the behaviour mentioned here (doing background work during the termination phase of an application) is not something we generally advise, I'm going to close this issue.

[2021-08-04 14:26] #6993 closed

[2021-08-04 14:29] jsflax commented on #7243
@danmessing would you be willing to send us one of these corrupt Realms? While we cannot "uncorrupt" a Realm, we can at least do some forensics and try seeing how it was corrupted.

[2021-08-04 17:08] visdyn commented on #7054
@jsflax Unfortunately no. There wasn't really a workaround as if the sheet is showing, Realm is 'shut down'. We had to re-tool a lot code to compensate for situations where there is new data which should be presented in the sheet. So for the moment, if a user wants and updated list to select from, they have to close the sheet and re-open it.

[2021-08-05 01:44] HMWDavid commented on #7377
I'm developing a chat application. I plan to build a message table for each session, so I asked the above question

[2021-08-05 02:28] drmarkpowell commented on #7372
I have this same problem and I have a requirement to use a field named "id" in addition to "_id". Is there nothing that can be done with @Persisted to work around this, or are we stuck doing our model classes the "old way"?

And it's all or nothing, right? We can't mix @Persisted with objc dynamic var because once we use @Persisted once in a class, it will ignore the fields that use objc dynamic a

[2021-08-05 02:38] HMWDavid commented on #7377
Thank you for your answer.
I've abandoned this idea and put the messages in the message table, distinguished by session identifiers.

[2021-08-05 02:38] #7377 closed

[2021-08-05 02:55] tgoyne commented on #7372
A dumb workaround would be to define the `id` property in a base class using the legacy syntax, and then inherit from that and define the rest of your properties in the subclass. You can't mix the two in a single class definition, but you can mix them within a class hierarchy.

Is your `_id` property just to conform with sync's requirement and something that you aren't actually using directly? Ind

[2021-08-05 03:41] drmarkpowell commented on #7372
I could deal with the dumb workaround for now! I have ~20 model classes that all have an id property that I could use in a base class and extend that ~20 times into specific model classes with @persisted properties. That sounds pretty good to me for the time being.

Yes, the _id property is just to conform to the Atlas/Realm Sync requirements that use that name automatically...although the part of

[2021-08-05 09:49] #1486 closed

[2021-08-05 09:50] #1501 closed

[2021-08-05 13:08] jsflax commented on #7370
@ricardopereira could you provide us a bit more context here? Where is this method being called from? Are you doing other things on other threads?

What does `readChapters` look like? Creating a new node shouldn't fail like this, and if it's not happening consistently, my first assumption would be a race condition somewhere.

[2021-08-05 13:33] jsflax commented on #7278
@raghunrmediacorp what version of Realm are you upgrading from?

[2021-08-05 13:34] jsflax commented on #7276
@raghunrmediacorp is this a particularly large Realm, or is the device low on memory?

[2021-08-05 13:35] jsflax commented on #7266
This sounds like red herring error when trying to use Realm from targets it wasn't being linked to.

[2021-08-05 13:43] #7100 closed

[2021-08-05 13:44] jsflax commented on #6917
@jesusmateos1234 this sounds like a memory issue. Is there any more information you can provide us?

[2021-08-05 13:45] jsflax commented on #6884
@duncangroenewald I know it's been a while, but– is this ticket still valid for you? I know you've been working on updated to 10.x.

[2021-08-05 15:32] ricardopereira commented on #7370
@jsflax The method can be called multiple times (when `videoChapters` is needed). The `readChapters` looks like this:

[code]

Oh, maybe the issue is the `Chapter.readChapters(fromFile: url, ofContentId: moduleSessionID)` being called in a different queue: `.global()`? Unmanaged objects can be shared between different queues right?

[2021-08-05 16:13] tgoyne commented on #7372
Ah, you'll need to put both `_id` and `id` in the base class so that the base class has a primary key. You also could explicitly specify `objectTypes` in your configuration to exclude the base class so that it doesn't need to be sync-compatible. A more "clever" way to do that while continuing to use automatic type discovery would be something like `class BaseClass { override class func shouldInclu

[2021-08-05 17:47] drmarkpowell commented on #7372
Thanks @tgoyne !

Here is what worked for me today: (RealmSwift SDK 10.12)
[code]

I also needed to make both "_id" and "id" required properties on the Atlas Realm Schema end, so they would not be nullable.

Data syncs, so we're good to go for now with this implementation.

[2021-08-05 19:39] ericjordanmossman opened #7380 "findOneDocumentWhere crashes when no document satisfies criteria"
!!! MANDATORY TO FILL OUT !!!

[code]
This method will crash when the query does not satisfy a document.
The document return type from realm-core is `realm::util::Optional<realm::bson::BsonDocument> document`.
When the value is pulled from an optional with no value, `m_engaged` is false. Crash occurs [here](https://github.com/realm/realm-core/blob/master/src/realm/util/optional.hpp#L416).

## Goal

[2021-08-05 19:40] ericjordanmossman commented on #7380
I think the solution could be something like:
[code]

[2021-08-05 21:09] #7380 closed

[2021-08-05 23:29] duncangroenewald commented on #6884
@jsflax

That bug was never fixed but we found a workaround so are currently using 5.x in production and testing 10.x on MongoDB Realm (cloud).  I did see some others have posted what looked like the same bug.

I didn't close this because I presume that same bug is still lurking in core somewhere waiting for the right set of circumstances.

I will close this and if need be raise another if we ever

[2021-08-05 23:29] #6884 closed

[2021-08-06 09:19] miklselsoe opened #7406 "Crash in Realm notification listener"
This is an issue reported from the field, so I don't know how to reproduce it. However I noticed at the top of the stack trace, it asked me to create an issue, so here you are. :)

`please_report_this_issue_in_github_realm_realm_core`

#### SDK and version
SDK : Realm-Cocoa
Version: 10.12.0

#### Observations
* How frequent do the crash occur?
_Looking at my crashreporter, It only happened once th

[2021-08-06 13:43] jsflax commented on #6983
It seems that the issue people were seeing here was largely caused by using the RealmBrowser/Studio with a synced Realm.

@erdem-inan @zyphs21 if this was not your issue and/or you've continued to see the crash on the latest version of Realm, please open a new ticket.

[2021-08-06 13:43] #6983 closed

[2021-08-08 17:56] phatblat opened #7384 "✏️ Typos on v10.10 release notes"
## Minor Typos on Release Notes

The [v10.10](https://github.com/realm/realm-cocoa/releases/tag/v10.10.0) release notes are missing the `var` keyword in two places in the 2nd bullet point which shows the new `@Persisted` attribute syntax. Current text:

There should be a `var` after the `@Persisted` attribute and before the property name. Correct examples below:

- `@Persisted(primaryKey: true) va

[2021-08-09 00:18] tuppaware commented on #7371
Hey @jsflax and further look into this?

[2021-08-09 07:10] lukaskollmer commented on #7376
This seems to be working again, thanks for the fix!

[2021-08-09 07:10] #7376 closed

[2021-08-09 09:11] miklselsoe commented on #7331
I saw a similar crash. Details: https://github.com/realm/realm-core/issues/4840

[2021-08-09 10:26] pavel-ship-it commented on #7384
Hi @phatblat . Thank you for reporting the issue. I'll update the example.

[2021-08-09 14:42] marciogranzotto commented on #7368
@dianaafanador3 is there an issue open on Apple's tracker?

I'm getting the same issue trying to use Carthage to build RealmSwift. I see that the log complains that Combine.framework is only available on iOS 13 and above.
Maybe the issue is a deployment target on the RealmSwift project?

Here's my build log for reference:
[code]

[2021-08-09 14:59] dianaafanador3 commented on #7368
Hi @marciogranzotto, this issue has been discussed in apple forums https://developer.apple.com/forums/thread/682285 and an open radar has been already issued by other developers. Betas are not stables version and is very common that this issues appear, the good news is that apple releases a new version every couple of weeks and most surely they are aware of this issue and fix it for next versions.

[2021-08-09 18:05] bdkjones commented on #1572
It's been two more years. I hope the team will revisit this decision because a first-class undo manager is table stakes for many apps and it's a definite reason someone would choose Core Data over Realm.

[2021-08-10 08:03] #7384 closed

[2021-08-10 08:04] kodok1988 opened #7386 "carthage --use-xcframework doesn't work for arm64 simulator"
**Bugs**

1) Prebuild frameworks files doesn't contain dSYM folder
2) Carthage support xcframework and arm64-simulator. but excluded architecture still remain.
I think the commit https://github.com/realm/realm-cocoa/commit/7a812029d05890f35501dcbcb00f346ac196a7d9 was missed in merge process.

## Goals
Support Carthage with xcframework

## Expected Results
Carthage/Build/RealmSwift.xcframework cont

[2021-08-10 12:38] jsflax commented on #1572
@bdkjones coincidentally, we have begun to reconsider this feature very recently. I cannot promise what it will look like or when it will arrive, but we have begun talking about it.

[2021-08-10 14:49] #6991 closed

[2021-08-10 14:55] #4305 closed

[2021-08-10 14:59] tgoyne commented on #4305
We've shipped the keypath filtering feature in v10.12, which lets you specifically opt-in to receiving notifications which modify a LinkingObjects property. We've decided to make this purely opt-in both for performance concerns and to avoid changing the behavior of existing working programs.

[2021-08-10 15:07] #7214 closed

[2021-08-10 15:07] #7231 closed

[2021-08-10 15:12] #7305 closed

[2021-08-10 15:12] leemaguire commented on #7305
Realm Studio v11 has been released https://github.com/realm/realm-studio/releases/tag/v11.1.0

[2021-08-10 17:25] ZeeshanMavenir opened #7387 "App crashed while writing value in Realm db , EXC_CRASH (SIGKILL)"
Relam version '10.7.6'

Incident Identifier: 18xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx
Beta Identifier: 39xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx
Hardware Model: iPhone10,4
Process: AppName [355]
Path: /private/var/containers/Bundle/Application/232779E2-0DCB-45CF-A939-4AA54EFFCB9A/AppName.app/AppName
Identifier: com.tmobile.phone2
Version: 4.x.1xx (4.x.1xx)
AppStoreTools: 12E506
AppVariant: 1:iPhone10,4:14
Beta

[2021-08-11 10:07] pavel-ship-it commented on #7386
@kodok1988 , thank you for submitting the issue. This is a duplicate of #7151

[2021-08-11 10:07] #7386 closed

[2021-08-11 10:13] pavel-ship-it commented on #7387
@ZeeshanMavenir thank you for submitting the issue.

Can you give us more information on how you saving the data?
Maybe you can share a code sample and steps to reproduce?

[2021-08-11 10:57] pavel-ship-it commented on #7348
It's fixed in XCode 13 beta 4

[2021-08-11 10:57] #7348 closed

[2021-08-12 02:42] owenzhao opened #7389 "No Prebuilt xcframework for Xcode 13 betas but Promised"
!!! MANDATORY TO FILL OUT !!!

## Goals

Get the prebuilt xcframework for Xcode 13 beta 5.

Besides, in the release note, it says

version due to betas 3 and 4 having a broken Combine.framework.

It will be better to leave a track id here so we could all get update the state of the issue. In current situation, I have no where to  track the issue.

## Expected Results

Get the prebuilt xcframework

[2021-08-12 12:57] miklselsoe opened #7390 "RLMException crash: Index out of bounds in results observer"
I am seeing a crash coming in from the field where I am reacting to a change in an observer on a `Results` object.

This is the exception:
[code]

This is the code that crashes:

[code]

It was my understanding that the indices in the `modifications` array matched what was available in the `ordersAfterUpdate` list, although the documentation isn't very clear on that. I have also tried to open a re

[2021-08-12 13:30] #7337 closed

[2021-08-12 13:31] rogerluan commented on #7149
Property wrapper support has been added as of https://github.com/realm/realm-cocoa/releases/tag/v10.10.0

[2021-08-12 13:31] rogerluan commented on #7044
Property wrapper support has been added as of https://github.com/realm/realm-cocoa/releases/tag/v10.10.0

[2021-08-12 13:32] rogerluan commented on #6991
Property wrapper support has been added as of https://github.com/realm/realm-cocoa/releases/tag/v10.10.0

[2021-08-12 14:19] #7037 closed

[2021-08-12 17:39] tgoyne commented on #7389
Apple has still not fixed the bug.

[2021-08-12 18:45] tgoyne commented on #7390
The modifications indices are the indices in the previous version of the collection which were modified, as that's what UITableView requires for its batch update functions and the API was designed to make it easy to drive a UITableView. If any of the objects were deleted or you perform non-end insertions then they will be incorrect.

Translating these into indices in the new collection is moderate

[2021-08-12 19:38] rromanchuk commented on #7150
In the context of someone using both SwiftUI with UIKit,  would it be possible to take an existing `Results<Object>` and assign to the view instead of defining in the view. I guess thats just a swift language feature i need to better understand.

https://github.com/realm/realm-cocoa/blob/v10.12.0/RealmSwift/SwiftUI.swift#L287

Or could i at least do something like this?

[code]

[code]

or i guess

[2021-08-12 22:35] rromanchuk commented on #7372
All my models have a primary key of `@Persisted(primaryKey: true) var id: String`, (i consume from JSONAPI) for the last few hours i've been trying to figure out why all of a sudden **one** of my models is generating a schema, just for this model, with an id of string but not marked as a primary key.

The only thing i did today was integrate/update a few swiftui components we have, and that includ

[2021-08-12 23:12] rromanchuk commented on #7372
https://github.com/realm/realm-cocoa/blob/master/Realm/RLMObject_Private.h#L83

This is confusing, i don't understand the motivation. Is this MongoDB specifics leaking into the SDK or something?  My models already conform to `Identifiable`. Why does `@ObservedRealmObject` require `ObjectKeyIdentifiable` conformity? Shouldn't `Identifiable` be enough?

This is confusing.  Are you just trying to say

[2021-08-12 23:27] tgoyne commented on #7372
ObservedRealmObject shouldn't require ObjectKeyIdentifiable and I think that's just an oversight. ObjectKeyIdentifiable is intended as just a convenience helper for making types without primary keys conform to Identifiable.

[2021-08-13 00:03] tgoyne commented on #7372
https://github.com/realm/realm-cocoa/pull/7391 relaxes the protocol requirement from ObjectKeyIdentifiable to Identifiable.

[2021-08-13 02:40] hlwanhoj opened #7392 "Add callbackQueue argument for AsyncOpenPublisher factory method"
## Goals
Please add `callbackQueue` argument for `static func asyncOpen(configuration: Realm.Configuration = .defaultConfiguration) -> RealmPublishers.AsyncOpenPublisher``Realm.swift`

## Expected Results
`static func asyncOpen(configuration: Realm.Configuration = .defaultConfiguration) -> RealmPublishers.AsyncOpenPublisher` accept `callbackQueue` and pass it to `AsyncOpenPublisher`

[2021-08-14 07:53] nacho4d opened #7393 "Warnings on realm-cocoa (version 5.5.2) when using Xcode13"
## Goals

Build realm-cocoa 5.5.2 (added via SPM) in Xcode13 without warnings

## Expected Results

No warnings at compile time

## Actual Results

See warnings:
<img width="1593" alt="Screen Shot 2021-08-14 at 16 42 34" src="https://user-images.githubusercontent.com/111651/129439180-16e76193-58f4-4749-bec2-375a3b526ae3.png">

Also see this related issue. It was closed however warnings still happe

[2021-08-14 21:57] rromanchuk opened #7394 "Maintainers: can we remove autorelease blocks with GCD autoreleaseFrequency: .workItem?"
All latest documentation still wraps writes in autorelease blocks.
https://docs.mongodb.com/realm/sdk/ios/advanced-guides/threading/#pass-instances-across-threads

There is very little information on the actual internals, but wondering if anyone has confirmed it's a NOOP when removing manual autorelease blocks and instead instantiating the dispatch queue with `autoreleaseFrequency: .workItem`

Thi

[2021-08-16 02:51] tgoyne commented on #7394
It should work, yes. I guess we really should be recommending that now; we only didn't originally because iOS 10 was once an unreasonably new requirement and obviously that's no longer the case.

[2021-08-16 03:50] ZeeshanMavenir commented on #7387
@pavel-ship-it ,
Steps to reproduce
It is occurring immediately after app launch, during app launch we have a db write activity after receiving push token.

Sample Pseudo code
Class  PushManager{
    func pushRegistry(_ registry: PKPushRegistry, didUpdate credentials: PKPushCredentials, for type: PKPushType) {
        var token =     credentials.token.base64EncodedString(options: .lineLength64Char

[2021-08-16 05:25] ptvyas opened #7395 "Crash : Fatal Exception: realm::AddressSpaceExhausted"
**iOS App Crash :**
Fatal Exception: realm::AddressSpaceExhausted
void* std::__1::__thread_proxy<std::__1::tuple<std::__1::unique_ptr<std::__1::__thread_struct, std::__1::default_delete<std::__1::__thread_struct> >, realm::_impl::ExternalCommitHelper::ExternalCommitHelper(realm::_impl::RealmCoordinator&)::$_0> >(void*)

## Goals
An application performing crash for what reason?

## Expected Results

[2021-08-16 08:08] leemaguire commented on #7395
Hi @ptvyas would you be able to share some code that shows us how you are adding the records one by one to the Realm? The exception you are getting might mean that you are holding onto references of Realm objects for too long.

[2021-08-16 08:18] miklselsoe commented on #7390
It seems like this is a documentation issue then. Documentation:
https://github.com/realm/realm-cocoa/blob/83a07f6a508c3427058d9e2c466208d0b6a960fa/RealmSwift/RealmCollection.swift#L158

This is what it says about the `modifications` parameter:
[code]

I can't interpret it any other way than the modifications indices refer directly to the new collection (which would make sense)?

[2021-08-16 09:29] pavel-ship-it commented on #7322
@lfb-cd you should be able to access all the data after migration on the newer version.
Can you tell me please about your progress with this issue?

[2021-08-16 09:56] jedelbo commented on #7330
Perhaps the StringData variable contains a stale pointer. It points to "AAAA" which is what every data frame in the database starts with. So the pointer could have been obtained in a transaction that is no longer existing and the database could have been modified since.

[2021-08-16 09:56] pavel-ship-it commented on #7387
What do you mean by 'write actively' ? Is it long lasting process or is it involve a number of simultaneous transactions or is it something else?

The code for `updateTokenInDb()` and `updateRealmObject(entity : RealmEntity)` looks risky.
- You're getting the Realm instance in every method. Can you guarantee it will be the same instance?
- Why do you have the additional checking for `isInWriteTran

[2021-08-16 14:40] dianaafanador3 commented on #7285
Hi @mauro-crr, I'm gonna close this issue if you are still getting this error after the update we can open it back.

[2021-08-16 14:40] #7285 closed

[2021-08-16 14:41] dianaafanador3 commented on #7363
Hi @TheHmmka any update on this issue. Do you still have this problem?. Anything I can help just let me know.

[2021-08-16 14:43] dianaafanador3 commented on #7287
Hi @pierre-wehbe I haven't had time to take a look at this. Have you update Realm to the latest version (https://github.com/realm/realm-cocoa/releases/tag/v10.12.0). Can you tell if this error keeps happening after the update.

[2021-08-16 19:10] ericjordanmossman commented on #7393
The changes mentioned in #7295 were released in 10.8.1.
We'd have to backport to v5, which is on a longer release cycle.

[2021-08-16 19:18] ericjordanmossman commented on #7392
Thanks for the request, @hlwanhoj.
It looks like `AsyncOpenPublisher` takes a callbackqueue in init. So it should be a simple change(?)

[2021-08-17 02:22] hlwanhoj commented on #7392
Yes it is

[2021-08-17 07:34] HonQii opened #7396 "Performance issues in relational queries"
I have three tables; among them, table A is the material, with more than 7000 elements; table C is the attribute of the material, with more than 50 elements; table B is the association table between A and C, because there are also between A and C Quantity and volume are attributes, so I use table B to make associations and record these additional attributes, instead of directly using the array tha

[2021-08-17 10:06] nacho4d commented on #7393
@ericjordanmossman
Yes please.

[2021-08-17 11:38] sync-by-unito[bot] opened #7397 "Expose custom_user_data API"
[See PR #4420 for context](https://github.com/realm/realm-core/issues/4420)

[2021-08-17 18:25] zcohan opened #7399 "Crash when deleting/disabling user from MongoDB dashboard"
## Goals
When deleting or disabling a signed-in user from the MongoDB Realm dashboard, my application crashes

## Expected Results
I'm not sure what the correct way for handling a user being deleted is, but perhaps there's a notification of some kind? Certainly not a hard crash.

## Actual Results
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceh

[2021-08-18 10:37] TheChanDI commented on #7368
I am having issue in xcode 13 beta 5. any workaround?

[2021-08-18 10:38] dianaafanador3 commented on #7368
HI @TheChanDI thanks for the info. I was about to test it on the new beta. Will let you know if we have a workaround/fix for it.

[2021-08-18 11:09] leemaguire commented on #7368
I seen some chatter on [another issue](https://github.com/Alamofire/Alamofire/issues/3481) where bumping the deployment target to iOS 12 will solve it.

[2021-08-18 12:02] dianaafanador3 commented on #7368
If you don't want to bump the deployment target because you're testing on a < iOS 12.0 device, another workaround could be excluding `armv7` from your ``RealmSwift` and your App target.

[2021-08-18 14:55] #7078 closed

[2021-08-18 18:40] ericjordanmossman commented on #7392
@hlwanhoj See this [comment](https://github.com/realm/realm-cocoa/pull/7398#issuecomment-901008039). Would that accomplish what you need?

[2021-08-19 06:37] Loloasis opened #7403 "Assertion failed: prev_ref + prev_size <= ref with (prev_ref, prev_size, ref, i, limit, m_alloc.get_file_path_for_assertions())"
## Goals
Just open the realm file

## Expected Results
Just open it

## Actual Results
../src/realm/group_writer.cpp:633: [realm-core-10.3.3] Assertion failed: prev_ref + prev_size <= ref with (prev_ref, prev_size, ref, i, limit, m_alloc.get_file_path_for_assertions()) =  [21896, 3144, 22976, 11, 7855, "Users/Shared/fr.adde.eyeCab/Ticketing/ticketing.realm"]
0   Supervision

[2021-08-19 07:52] leemaguire commented on #7403
Hi @loysphilibert Where you using Realm in your application before v10 was released? Is this issue steadily reproducible? Could you try update to the latest version of Realm Cocoa and see if that helps?

[2021-08-19 08:08] dianaafanador3 commented on #7368
A fix for this is already in the works https://github.com/realm/realm-cocoa/pull/7401

[2021-08-19 08:08] loysphilibert commented on #7403
Hi,
We used Realm since 2016, so yes. We had this issue from the beginning.
I can send you a corrupted realm file.

[2021-08-19 08:33] bmunkholm commented on #7243
@danmessing Just to be clear, you have only seen this single incident of this kind of crash/corruption?
Without having access to the file it's very hard for us to get any further. You can send it under full confidentiality and we will delete it after looking into the data structures.

[2021-08-19 08:35] leemaguire commented on #7403
Hi @loysphilibert Please send the Realm file to realm-help@mongodb.com

[2021-08-19 08:37] bmunkholm commented on #7243
@jedelbo Have you seen similar crashes before or is this clearly a corruption issue?

[2021-08-19 08:50] leemaguire commented on #7403
@loysphilibert Just to be clear did you see this issue straight after an upgrade? Was there any migration involved too?

[2021-08-19 14:01] #7353 closed

[2021-08-19 14:01] #7276 closed

[2021-08-19 17:26] ZeeshanMavenir commented on #7387
@pavel-ship-it , I was talking about db write activity and not ‘writing actively’ as u have interpreted, it is not a long running process, just a single property update.

We are creating a fresh realm instance for every read/write transaction.

 isInWriteTransaction check is added to avoid multiple write transactions, we had earlier faced crashes because of multiple write transactions causing real

[2021-08-19 20:12] bdkjones commented on #7347
@leemaguire I assume you're adding the objects to a Realm before deleting them?

In further testing, it appears this issue manifests only once a substantial number of objects are being deleted. In my case, it's about 800.

There are several old issues on other Realm repos that jive with that: the crash doesn't happen for trivial deletes.

[2021-08-19 20:41] bbynog commented on #2393
saved my day! thank you very much, mate!

[2021-08-19 22:09] automactic opened #7404 "Could swift enums + index be made possible with @Persisted?"
!!! MANDATORY TO FILL OUT !!!

## Goals

It would be great to make it possible to add index to a swift enum property. (Or if someone can confirm we have no plan to support this)

## Expected Results

Make it possible to use `@Persisted(indexed: true) var property: EnumType` with `enum EnumType: String/Int/..., PersistableEnum`.

## Actual Results

An compile error was produced:
`Referencing initia

[2021-08-19 22:18] tgoyne commented on #7404
This should be pretty trivial to allow and not supporting it was just an oversight.

[2021-08-19 23:06] automactic commented on #7404
Thanks for your super quick response, that's what I thought.

[2021-08-20 09:05] jedelbo commented on #7243
Looks like a corruption issue - the size of an array is totally out of range. Hard to say what could be the cause for this without an actual file.

[2021-08-20 09:49] hlwanhoj commented on #7392
Yes. Thanks a lot for that

[2021-08-20 09:49] #7392 closed

[2021-08-20 10:08] gongzhang commented on #6671
🙋‍♂️ Update:

I finally fixed the 0xdead10cc crash. And I must admit that the check for file locks in iOS and watchOS are correct, while the detection in the recent 15.0 betas seems to be more comprehensive. It is also possible that the background execution time has been shortened. Anyway, this exposes potential issues in my app.

It's totally ok to store the database in a shared container. The re

[2021-08-20 18:26] ericjordanmossman commented on #7396
Are you currently displaying the values from TableB/C in the cell via the `linkInfos` property? Or are you running multiple queries?

[2021-08-23 08:50] dianaafanador3 commented on #7399
HI @zcohan thanks for informing this issue. We'll try to take a look at this and reproduce this issue, surely we don't want any app to crash in any particular use case.

[2021-08-24 02:21] rromanchuk commented on #7394
@tgoyne cool thanks.  Closing to reduce noise

[2021-08-24 02:21] #7394 closed

[2021-08-24 02:30] HonQii commented on #7396
Yes, I display values from TableB and TableC via linkInfos property

[2021-08-24 03:32] rromanchuk opened #7407 "possible developer induced regression, .id result coerced to "ObjectIdentifier<hex representation>""
my `id` is defined as `@Persisted(primaryKey: true) var id: String`

Just recently a  `[String, Any]` payload began failing when an associated (nested) value like  `dog.owner.id` was returning what looks like a debug description `"ObjectIdentifier<hex representation>"`

[code]

My first guess is recent conformity to `extension Object: Identifiable {}` for limited swiftUI support, changed behavior

[2021-08-24 08:07] dianaafanador3 commented on #7406
Hi @miklselsoe Thanks for reporting this. For now the Stacktrace and the stack dump is not giving us that much info about the origin of the issue, and is really hard to reproduce without any example code.
We know this is coming from a notification callback, are you trying to access an object in a wrong thread while in a notification callback? Do you have any clue where this may be happening?

[2021-08-24 08:16] dianaafanador3 commented on #7407
Hi @rromanchuk thanks for taking the time to inform us about this. Closing as this is not causing any issue at the moment.

[2021-08-24 08:16] #7407 closed

[2021-08-25 08:43] dianaafanador3 commented on #7363
Closing this as this may be an issue on user side, I'll reopen this if the issue continues

[2021-08-25 08:43] #7363 closed

[2021-08-25 10:11] dianaafanador3 commented on #7286
@jedelbo can you help with this corrupted realm?

[2021-08-25 11:30] alexmx opened #7409 "iOS 11 min target requirement for Swift Package Manager libraries"
### Problem
I'm trying to migrate a project from CocoaPods to Swift Package Manager and one of the blockers I encountered is that Realm requires iOS 11 min deployment target for Swift PM libraries.

My project uses iOS 10 as min version at the moment and I use CocoaPods to integrate Realm. CocoaPods version supports iOS 9 min target.

Is there a reason why CocoaPods version requires iOS 9 min vers

[2021-08-25 11:39] jsflax commented on #7409
Hey @alexmx, this commit explains the "why": https://github.com/realm/realm-cocoa/commit/a701f6cc069055eec0503a8777eb44104238c32e.

Building as c++17 for iOS <11 requires passing a extra compiler flag to disable
aligned allocations, which SPM does not support.

[2021-08-25 11:48] alexmx commented on #7409
@jsflax will the addition of [Package Manager Extensible Build Tools](https://github.com/apple/swift-evolution/blob/main/proposals/0303-swiftpm-extensible-build-tools.md) to SPM help workaround this limitation and allow you to drop min target below 11?

[2021-08-25 12:03] jsflax commented on #7409
We might be able to do something creative with that in how we compile core? But it doesn't change the simpler issue that the flags we need to provide through the standard SPM mechanism are considered "unsafe".

I'm curious, why do you need iOS9 still? iOS9 seems to have an infinitesimal amount of users at this point: https://david-smith.org/iosversionstats/

[2021-08-25 12:10] alexmx commented on #7409
@jsflax I don't need iOS 9, but I do need iOS 10. The project I'm trying to migrate is a financial app which can't that simply drop support for older OS versions even though the number of users is low.

[2021-08-25 12:25] gongzhang commented on #7389
I cherry-picked [Work around canImport(Combine) being broken in Xcode 13](https://github.com/gongzhang/realm-cocoa/commit/d8503514b320a002f6f38aa98e6ebfbca61551b6) and [Add support of arm64 in Carthage build](https://github.com/gongzhang/realm-cocoa/commit/f3fab3390d835d5202d6604b8692cfc2709e160d) on `v10.8.1`. Then I can build XCFramework successfully using Carthage 0.38 + Xcode 13 beta 5.

Howev

[2021-08-25 12:32] jedelbo commented on #7286
Unfortunately I am not able to determine how the realm file got into this state. It is not just the index that cannot be accessed - there are other problems. Looking up the index is just one of the first things that happens. Unfortunately I was not able to recover the data as a whole. Some pointers in the database were pointing in odd directions. We have not seen inconsistencies like this before.

[2021-08-26 01:17] bdkjones opened #7412 "Create SortDescriptor From NSSortDescriptor"
### Problem

`NSTableView` and `NSOutlineView` use `NSSortDescriptor` to allow sorting the table's contents. (This is what powers the "click on a column header to sort by that column" feature)

Realm does not use `NSSortDescriptor`. Realm offers its own `SortDescriptor`, which you can use to sort a `List<T>`, `Results<T>`, etc.

If the `NSSortDescriptor` uses a single-level key, such as a property

[2021-08-26 05:00] bdkjones opened #7413 "Allow Sorting across LinkingObjects Relationships"
### Problem

Consider this relationship:

[code]

[code]

Now suppose I query a bunch of `Child` objects into a `Results<Child>`. I want to sort them by `parent.name`. This is not possible.

If you try to use the computed property `parent` in a `SortDescriptor`, you get an error that "parent does not exist". If you try to do `parents.first.name`, you get an error "Cannot sort on key path 'parents.

[2021-08-26 19:17] zcohan opened #7416 "In Mac app, Realm demands access to keychain on launch"
### How frequently does the bug occur?

All the time

### Description

When I launch my app with Realm Sync enabled, I'm getting a macOS dialog asking for an administrator password. This is forbidden for Mac App Store apps.

If I deny access, the app crashes. It appears to be trying to access the "Realm Sync Metadata Key" in the keychain.
<img width="546" alt="Screen Shot 2021-08-26 at 10 03 32 pm

[2021-08-26 22:51] IliaKulbakin opened #7417 "Some users have Fatal Exception: realm::NoSuchTable"
### How frequently does the bug occur?

Sometimes

### Description

In our app we're using Realm and some users have app crashed. We've tried but can't reproduce these crashes
There is no clear scenario. Sometimes it crashes when app starts, sometimes it happens when user already did something in app. In new app version we has been using @Persisted modifier instead of @objcMemebers/dynamic propert

[2021-08-28 23:06] jimijon commented on #5578
This is not working for me: I have a Company object. When I encode it, it does the _partition and the _userId fine, but any other field is coming over blank. Additionally, if there is a List in the object it just stops. Granted the List is not Codable, I figure I would see an error or at least just skip over it.

I checked my object being passed in and the name property has a value. After encoding

[2021-08-30 07:12] IliaKulbakin commented on #7417
Yes, we're observing properties with observe function, but as I can see we're doing it on the main thread

[2021-08-30 08:13] bdkjones commented on #7294
...There is demand.

I currently have extra `countOfSomeStupidCollection` properties strewn across my model objects just to support sorting. I have to keep these counts updated manually each time I change a `List` or `Results` or `MutableSet`. It's tedious.

To use Realm's default example, if we have a table like this:

    | Owner Name              |  # of Dogs   |
    ---------------------------

[2021-08-30 08:38] leemaguire commented on #7371
Hi @tuppaware, during your upgrade from 4.x to 10.x did you do any schema / migration changes?

[2021-08-30 08:40] leemaguire commented on #7395
@ptvyas were you able to solve your issue?

[2021-08-30 08:46] leemaguire commented on #7370
@ricardopereira did you manage to solve your issue?

[2021-08-30 08:47] #7369 closed

[2021-08-30 08:48] #7366 closed

[2021-08-30 08:50] leemaguire commented on #7356
Closing as this is an Xcode related issue and not a Realm issue.

[2021-08-30 08:51] #7356 closed

[2021-08-30 08:56] leemaguire commented on #7349
@dante-teo did you manage to fix your issue with the latest version of Realm and Xcode?

[2021-08-30 08:57] leemaguire commented on #7344
Closed via #7360

[2021-08-30 08:58] #7344 closed

[2021-08-30 09:02] leemaguire commented on #7343
@ksiwei Is it possible that you are losing the reference to `app` during the time of the operation?

[2021-08-30 09:05] #7068 closed

[2021-08-30 09:09] leemaguire commented on #7088
@ragu-pdx Are you still seeing your issue with the latest version of Realm?

[2021-08-30 09:11] #7194 closed

[2021-08-30 09:13] #7267 closed

[2021-08-30 09:16] leemaguire commented on #7331
@zhangcx627 could you show us the code that inserts the object into the `List`? Also what type of value is being inserted into the `List`?

[2021-08-30 09:17] ricardopereira commented on #7370
Yes, it's was a race condition. Thanks.

[2021-08-30 09:17] #7370 closed

[2021-08-30 11:09] #7324 closed

[2021-08-30 11:12] leemaguire commented on #7309
Hi @arthur-stpnv Can you confirm that the uploaded Realm file can be opened with Realm Studio? Maybe the corruption is happening during upload to iCloud.

[2021-08-30 11:12] leemaguire commented on #7313
@dcacenabes Does this issue happen for you with the latest Xcode beta?

[2021-08-30 13:07] bmunkholm commented on #6621
Closing as unsupported.

[2021-08-30 13:07] #6621 closed

[2021-08-30 14:34] leemaguire commented on #7416
I was able to reproduce your issue, and managed to solve it by adding the `Keychain Sharing` capability.
![Screenshot 2021-08-30 at 15 33 31](https://user-images.githubusercontent.com/17234962/131356081-4fb2d736-cdcf-4baf-b6c9-2322dff1af78.png)

[2021-08-30 14:35] #7416 closed

[2021-08-30 14:38] zcohan commented on #7416
Makes sense. Thanks Lee.

[2021-08-30 15:14] dianaafanador3 commented on #7417
Can you show us how do you observe and what kind of operations are you doing in your observations block?, this may help identify the issue

[2021-08-30 15:21] ragu-pdx commented on #7088
The issue is hard to reproduce, but we have seen it on newer versions of Realm. We only just installed 10.13, so it will be a little while to truly know whether it comes about or not. What explicit changes have occurred on the Realm source to address this issue, and what is your understanding / hypotheses as to the root cause of this issue?

[2021-08-31 01:11] zhangcx627 commented on #7331
@leemaguire I'm sorry, but i really don't know where crash. In my app, the object almost Realm Object. It has "String, Bool, Date, List<String>" and so on. And may has Other Realm Object. such as "@objc dynamic var from: ContactItem?"
![image](https://user-images.githubusercontent.com/20290940/131425307-b1c445fc-6737-465e-8e90-a22d076f3600.png)

[2021-08-31 05:54] ptvyas commented on #7395
No @leemaguire

[2021-08-31 06:43] IliaKulbakin commented on #7417
Yes, sure. Observe uses in some different places and mostly for changing UI state. I have attached more complex example below:

`   private var userToken: NotificationToken?

    private func functionCalledFromViewDidLoad() {
        let users = Database.Realm.objects(User.self)
        userToken = users.observe { [weak self] _ in
            self?.update()
        }
    }

    private func update

[2021-08-31 07:51] dcacenabes commented on #7313
Do you mean building the Realm SDK with BUILD_LIBRARY_FOR_DISTRIBUTION enabled or build the app that uses the library built in an older Xcode version ?

[2021-08-31 09:07] leemaguire commented on #7413
Hi @bdkjones This is a feature we would like to implement, but as of now I cannot give a timeline. In the meantime a workaround would be to place an object link to the parent in the child like so:
[code]

This is going to require some careful memory management when the objects are first being created an in memory. But once they are retrieved from the Realm you will not get a retain cycle as the ob

[2021-08-31 09:29] leemaguire commented on #7331
@zhangcx627 I would be interested to know if your `List` property is of type `Object`, if so this may give a further clue to this issue. Could you please show us your full Realm model so we can investigate?

[2021-08-31 13:14] IliaKulbakin commented on #7417
[code]

[2021-08-31 13:29] arthur-stpnv commented on #7309
I've end up with Realm Sync solution bu Mongo DB

[2021-08-31 13:29] #7309 closed

[2021-08-31 15:01] Nahatakyan commented on #5618
Any good news?

[2021-08-31 15:07] raduncicen commented on #5618
Unfortunately no :/
I did run into this crash on debug, but it happens randomly.
Until someone finds the reason behind it and reproduce it on will, no one will try to solve it :(
This is still the most frequent crash in my app

[2021-08-31 15:10] jsflax commented on #5618
@Nahatakyan @raduncicen are you on the latest version of Realm?

[2021-08-31 15:13] Nahatakyan commented on #5618
@jsflax in my case
Realm - 10.5.2
Performance - 8.4.0

[2021-08-31 15:14] raduncicen commented on #5618
I'm about to be :) It's in app review.
I started have this crash after pod update around April or May.
Since then, I tried to update both realm and firebase performance a few times but it did not work.
Will see if it works this time or not, but i doubt it.

[2021-08-31 15:16] jsflax commented on #5618
Can either of you post a stack trace? Happy to reopen this and take a look if so.

[2021-08-31 15:18] raduncicen commented on #5618
I don't have it right now. Next time i will take a screenshot 👍

[2021-08-31 15:19] Nahatakyan commented on #5618
I can't catch this crash. It's from Crashlytics.
`Crashed: com.apple.main-thread
0  libobjc.A.dylib                0x1c1022eb8 class_getSuperclass + 4
1  Trebel                         0x100c5c620 RLMIsObjectSubclass + 70 (RLMUtil.hpp:70)
2  Trebel                         0x100cc61d8 RLMRegisterClassLocalNames(objc_class**, unsigned long) + 104 (RLMSchema.mm:104)
3  Trebel

[2021-08-31 15:20] sync-by-unito[bot] opened #7423 "Implement Custom Type Mappings"

[2021-09-01 02:37] ZeeshanMavenir commented on #7387
Hey @pavel-ship-it   Do u need any further info from our side in analysing the issue?, if yes please let me know the details u are looking for.

[2021-09-01 09:19] jsflax commented on #5918
Closing this as a lot of time has passed on there are no plans to separate these packages.

[2021-09-01 09:19] #5918 closed

[2021-09-01 09:22] jsflax commented on #5481
This issue is no longer valid.

[2021-09-01 09:22] #5481 closed

[2021-09-01 09:24] jsflax commented on #5215
This issue is no longer valid.

[2021-09-01 09:24] #5215 closed

[2021-09-01 09:24] jsflax commented on #5145
TestHost is now built automatically.

[2021-09-01 09:24] #5145 closed

[2021-09-01 09:25] jsflax commented on #5095
We are closing this as there are no intentions of decoupling sync from Realm.

[2021-09-01 09:25] #5095 closed

[2021-09-01 09:57] jsflax commented on #5223
We now test encrypted Realms in our ObjectServer tests.

[2021-09-01 09:58] jsflax commented on #4901
I have not seen this issue since I have joined Realm. Closing.

[2021-09-01 09:58] #4901 closed

[2021-09-03 18:52] #7404 closed

[2021-09-06 14:42] bmunkholm commented on #7286
@danmessing I'm assuming you haven't seen this again, and since we have no way to reproduce it or get any clues from the report or file, there is no way forward until we get more information or a similar report. I'm going to close this out for now, but do please create another issue should you see it again or comment here if you get further info and we can reopen.
Thanks!

[2021-09-06 14:42] #7286 closed

[2021-09-06 15:00] #7322 closed

[2021-09-07 11:34] kaeferfreund opened #7428 "Atlas Connections are NOT closed"
### How frequently does the bug occur?

All the time

### Description

We are using realm-coca to connect to realm-sync on our atlas account.

Since the beginning of 2021 we are using it in production with around 20 devices. Since then the connection count on the atlas db was hovering around 50-80 connections.

Since we switched our development device to using the `@ObservedResults(Data.self) var

[2021-09-07 12:57] jsflax commented on #7428
@kaeferfreund Did anything else change in your app? `@ObservedResults` is effectively shorthand for allowing the view to observe the `Results` without you having to hook it in yourself– but under the hood, it's still only referencing the Results set once.

[2021-09-07 14:02] ianpward commented on #7428
@kaeferfreund Can you open a support ticket on this? The Github repo's are intended for non-sync bugs - for sync please use the support portal on your cloud dashboard.

[2021-09-07 14:55] #4858 closed

[2021-09-07 14:56] tgoyne commented on #4858
It sounds like #4818 is the remaining problem here so closing this as a duplicate of that.

[2021-09-07 16:22] jsflax commented on #7192
This has since been fixed cloud side.

[2021-09-07 16:22] #7192 closed

[2021-09-07 17:08] tgoyne commented on #4204
This appears to be fixed in Xcode 12. There's a pile of new features that don't work on 32-bit iOS that we don't plan to fix, but this specific problem appears to have gone away.

[2021-09-07 17:08] #4204 closed

[2021-09-07 21:00] ericjordanmossman commented on #7396
@HonQii
Are you able to create a distilled example of the problem? It'd be nice to try a couple things to figure out what is happening. Like seeing how the query behaves after removing references to `linkInfos.someValue`.

[2021-09-07 21:01] ericjordanmossman commented on #7396
Also are you measuring the slowness via the UI only? Or do you see similar issues if measuring just the results of the queries?

[2021-09-07 21:06] ericjordanmossman commented on #7350
@gbreen12 Is that device still hitting the crash consistently?

[2021-09-08 01:52] yutoyazaki commented on #5618
Has anyone tried this approach? https://github.com/realm/realm-cocoa/issues/7275#issuecomment-856595287
Since this crash occurred in the production and I couldn't be reproduced on Xcode, I can't verify this will work.

[2021-09-08 07:21] #6286 closed

[2021-09-08 07:35] cacarlassare opened #7430 "Crash when trying to store data"
#### SDK and version
SDK : iOS, Swift, using SPM
Version: Realm 10.12.0

#### Observations
* How frequent do the crash occur?
Always
* Does it happen in production or during dev/test?
 We don't have production yet
* Can the crash be reproduced by you?
Yes
* Can you provide instructions for how we can reproduce it?
 Try to store an object.

#### Crash log / stacktrace
/Users/u631342/Library/Develop

[2021-09-08 11:41] adamek314 opened #7431 ""Realm accessed from incorrect thread." from inside Task"
I'm working with iOS 15.0 (19A5340a) on my iPhone, developing in Xcode 13 beta and using Realm 10.14.0.

As I understand it, when I create a task, operations inside it are one one thread (not counting child tasks). I created a realm inside a task. I thought I could use that realm to retrieve items inside that task. However, I'm getting a "Realm accessed from incorrect thread." fatal crash.

Are re

[2021-09-08 15:57] tgoyne commented on #7431
We do not currently support task-confined Realms. Each Realm instance can only be used on a single thread at a time, and Tasks do not provide that guarantee.

[2021-09-08 16:00] jsflax commented on #7430
From a quick glance, you're trying to query on your base objects, but we currently only support *non*-polymorphic inheritance. So those types of queries are not supported.

[2021-09-09 16:09] alanf commented on #5618
Also experiencing this as a top crash in our app. Will open an issue with Firebase as well, hopefully it's possible to coordinate something that fixes or works around this issue.

[2021-09-09 16:45] #6043 closed

[2021-09-09 22:12] gbreen12 commented on #7350
No I had to implement a work around and had that use update. Sorry

[2021-09-12 10:10] #7399 closed

[2021-09-13 06:55] bmunkholm commented on #7430
@jsflax Isn't this something we can test against so it doesn't give this crash?

[2021-09-13 06:59] #7431 closed

[2021-09-13 08:50] jsflax commented on #7430
@bmunkholm it should crash until we support this, but there may be a way that we can provide a better error message.

[2021-09-13 09:48] #7333 closed

[2021-09-13 09:48] #6228 closed

[2021-09-13 15:15] cacarlassare commented on #7430
First of all, thanks for your answers!

I was able to fix the crash by creating different objects for different Cache objects for different types of devices, so for instance we have now a CameraCache for Cameras, MotionSensorCache for Motion Sensors, and so.

And thanks a lot for this great framework. Great job too with @Persistable :P

[2021-09-13 15:25] kaeferfreund commented on #7428
Okay, many thanks. That is what we have done

[2021-09-13 15:25] #7428 closed

[2021-09-13 15:51] #6763 closed

[2021-09-13 20:08] HovhannesPoghosyan opened #7435 "Can't set object of type 'Skin' to property of type 'Skin'"
### How frequently does the bug occur?

Seen once

### Description

I have some realm model which has another realm object as a property and i am getting the crash report from firebase , when i am trying to set the value of that property , with this error message "Can't set object of type 'Skin' to property of type 'Skin'"

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

[2021-09-13 20:28] jsflax commented on #7435
Can you provide us a code sample and stack trace please?

[2021-09-13 20:41] HovhannesPoghosyan commented on #7435
HI @jsflax, thank you for your quick response.
Here is the log from firebase

Fatal Exception: RLMException
0  CoreFoundation                 0x1a480a708 __exceptionPreprocess
1  libobjc.A.dylib                0x1b93147a8 objc_exception_throw
2  Realm                          0x103e3d00c invocation function for block in objc_object* (anonymous namespace)::makeSetter<RLMObjectBase* __strong, RLMObj

[2021-09-14 13:02] timstudt opened #7436 "Unable to recover from RLMException 'Number of active versions...'"
### How frequently does the bug occur?

All the time

### Description

I'm using `maximumNumberOfActiveVersions ` to debug unreleased `Realm`s in my iOS app.
Which led me to this problem:
After exceeding the max number the app crashes, as expected.
But when relaunching the app, it crashes again after only 1 write, and Xcode Memory Graph shows only 1 `RLMRealm` instance, as expected.

My question:

[2021-09-14 13:41] zebganzo opened #7437 "Crash after migrating schema AND library version"
### How frequently does the bug occur?

Sometimes

### Description

Hi Realm team!

We have released a new version of the app and started receiving feedback from users reporting **the app crashing after seen the splash screen for around 10 seconds**.

This is unfortunately a crash that we have never managed to reproduce.

**The data** we have are:
- the users' feedback, tens of them, who couldn't

[2021-09-14 15:07] leemaguire commented on #7087
We will keep this issue open as we investigate any potential file lock issues with iOS 15 upcoming.

[2021-09-14 15:17] #7406 closed

[2021-09-14 15:17] zcohan opened #7438 "Crash on launch: Keychain returned unexpected status code: -25295"
### How frequently does the bug occur?

Seen twice

### Description

A user reported that my app is crashing on launch. I just launched a new version with MongoDB Realm Sync support. My app does have the keychain sharing entitlement enabled.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.13.0

### What SDK flavo

[2021-09-14 15:49] tgoyne commented on #7437
The 2021-09-12_23-06-29.4075_+0200-98a2f5074b5804ef434fde26e9a915c8ea1c61bb crash is indicating that you're trying to access a property that doesn't exist inside the migration. Could be a typo, or if you've gone through multiple schema migrations it could be logic only applicable to an older schema.

2021-09-11_16-07-36.3322_+0100-362738a60bd4b368306322a67ea56980fe5887b8 suggests that possibly som

[2021-09-14 19:49] miquellaboria opened #7439 "Assertion failed: currentProperty"
#### SDK and version
SDK : Cocoa
Version: realm-core-11.2.0

#### Observations
The crash appears when I try to access a custom property from Realm, the value was stored correctly, but when try to acces to them crash:

[code]

#### Crash log / stacktrace
/xxx/Pods/Realm/Realm/RLMAccessor.mm:919: [realm-core-11.2.0] Assertion failed: currentProperty
0   Realm                               0x00000001

[2021-09-14 20:03] randyhill commented on #6298
Why is this pattern not advised and why would it leak?

[2021-09-14 20:17] tgoyne commented on #7439
What is `RealmUser`? Unless it's a very strange typealias for an `AnyRealmValue` or a numeric type, you should not be using RealmProperty here.

[2021-09-14 21:31] leemaguire commented on #6298
I don't have access to the code sample provided any more. @randyhill could you provide more context on what issue you are having?

[2021-09-14 23:33] ppamorim opened #7440 "Can't compile for catalyst on Xcode 13.0"
### How frequently does the bug occur?

All the time

### Description

I am trying to compile the`xcframework` manually using the command on Version 13.0 (Swift 5.5):

[code]

By running the similar command without `catalyst`, it compiles sucessfully:

[code]

It demonstrate that the bug is something with `catalyst`.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

[2021-09-14 23:35] tgoyne commented on #7440
The Xcode 13 RC has dropped the macOS 12 SDK and reverted back to the 11.3 SDK, which means that anything using async/await doesn't compile for macOS.

[2021-09-14 23:41] #7440 closed

[2021-09-14 23:42] ppamorim commented on #7440
@tgoyne Good to keep this on track for other developers.

[2021-09-15 06:44] miquellaboria commented on #7439
@tgoyne RealmUser is a custom Class:

`import RealmSwift

class RealmUser: Object, Patient, RealmOptionalType {
    public required convenience init(copy obj: User) {
        self.init()

        id = obj.id
        name = obj.name
    }

    @objc dynamic var id: Int = 0
    @objc dynamic var name: String = ""

    override class func primaryKey() -> String? {
        return "id"
    }
}`

[2021-09-15 08:23] zebganzo commented on #7437
Hi @tgoyne, would it be safe to just erase part of the DB using the `migration.deleteData(...)` method? That shouldn't make the app crash in case the class doesn't exist anymore, correct?

About the second crash, that is quite worrying. How is the process handled? Isn't a migration waiting for everything else (like updating the file format) to finish?

[2021-09-15 09:03] miklselsoe opened #7441 "Build fails using Xcode 13 RC"
### How frequently does the bug occur?

All the time

### Description

Trying to integrate Realm 10.15.0 using Carthage 0.38.0 and Xcode 13 RC. I'm asking Carthage to build using XC Frameworks and getting this build error:

[code]

[2021-09-15 09:10] leemaguire commented on #7441
@miklselsoe this is due to Xcode 13 RC not using the macOS 12 SDK. We will need to put the new Swift concurrency code behind a feature flag of some sort. We are actively addressing this.

[2021-09-15 09:25] ppamorim commented on #7440
@tgoyne is it possible to set any flag to disable the use of `async/await`? Is there any workaround? I don't need the apps production ready because I will be using this RC build of Xcode to build the apps for iOS 13.

[2021-09-15 09:28] miklselsoe commented on #7441
Thank you for that quick update. Adding the `--platform iOS` modifier fixes the problem, assuming you don't need to build for macOS.

[2021-09-15 09:32] leemaguire commented on #7440
@ppamorim take a look here https://github.com/realm/realm-cocoa/issues/7441#issuecomment-919855162

[2021-09-15 09:38] ppamorim commented on #7440
@leemaguire Sadly we support maccatalyst :(

[2021-09-15 10:15] ppamorim commented on #7440
@leemaguire When running `sh build.sh xcframework ios` it compiles but I get this error:

[code]

Should I ignore that?

[2021-09-15 14:21] she1s0ne commented on #7441
![image](https://user-images.githubusercontent.com/17893212/133450458-e7665fbc-8279-4e1d-8a7e-b86e4fa89120.png)
When I use Carthage to integrate RealSwift in XCode 13 RC, it fails to compile, what should I do?

[2021-09-15 15:56] #7441 closed

[2021-09-17 15:26] jsflax commented on #7436
Are you using frozen objects or the SwiftUI property wrappers anywhere? That can lead to version pinning.

[2021-09-17 15:29] jsflax commented on #7439
We need a bit more information here, but at a minimum, remove the `RealmProperty` from your User type. It is not necessary for objects.

[2021-09-17 15:32] jsflax commented on #7438
Do you have anymore information for us? Seems to be a rare error and could be related to key generation.

[2021-09-17 16:42] zcohan commented on #7438
I haven't had any other reports of the issue. I got the user to install the direct (non-App Store) version of my app, and that worked fine for him.

[2021-09-18 14:02] miquellaboria commented on #7439
Fixed! I remove it from the object and all works fine.

Thanks!

[2021-09-18 14:03] #7439 closed

[2021-09-18 15:24] timstudt commented on #7436
frozen only. but [doc.s](https://docs.mongodb.com/realm/sdk/ios/advanced-guides/threading/) say it's recommended for sending fast immutable snapshots, I'd assume that counts for `Combine` where I don't want to send live-objects but only snapshots of current state.
[code]

[2021-09-18 18:51] timstudt commented on #7436
what about instantiating an `Object` outside a autoreleasepool and only wrap write transaction in `autoreleasepool`? does that cause pinning?
[code]

when freezing the collectionPublisher (see above) this results in pinning. but following works fine:
[code]
even this results in pinning:
[code]

[2021-09-19 03:48] zcohan commented on #7438
I have receieved a second report of this crash at launch, from a different user:

[code]

The user tried the following troubleshooting steps to no avail:

Is there any other information you'd like me to request from this user? The product is currently unusable for him, as it crashes on launch due to this issue.

[2021-09-20 08:09] akapate commented on #7417
@dianaafanador3 Any news on how to solve this problem? I faced the same issue

[2021-09-20 08:26] dianaafanador3 commented on #7417
Hi @akapate are you facing the same issue?. Do you have any code or stack trace that could help reproduce this?

[2021-09-20 08:47] akapate commented on #7417
@dianaafanador3
Stacktrace:
[code]
Can't reproduce crash. It uccurs in about 3% of users.

[2021-09-20 12:22] timstudt opened #7444 "Combine to support Runloop schedulers"
### Problem

Currently the `.receive(on: Scheduler)`, `.subscribe(on: Scheduler)` throw a fatal error when scheduler is not a `DispatchQueue`
[code]

### Solution

But why not support `Runloop` schedulers? It is quite common to use following in SwiftUI:
[code]

Actually with supporting `.subscribe(on: customRunloop)`, I guess it would improve Realm since it requires a thread with Runloop for `auto

[2021-09-20 13:18] dianaafanador3 commented on #7444
Hi @timstudt Thanks for suggesting the feature enhancement, I'll take a look at this and inform you if we are adding it to our backlog of must-do's.

[2021-09-20 13:42] sipersso commented on #5856
Would be really nice to see that more extensive FAQ. Just ran into this issue today, where the users Realm has grown exponentially and is consuming 20 GB of data for what should have been a couple of MB worth of data.

[2021-09-20 14:48] schmidan commented on #6671
For what it is worth:
The problem "went away". We are still on 10.7.7 but building with XCode 12.5.1 stops the app from crashing on iOS 15 devices.

[2021-09-21 04:11] dudenamedjune commented on #7368
I am still facing this issue with Xcode 13 beta when archiving only

<img width="532" alt="Screen Shot 2021-09-20 at 11 10 32 PM" src="https://user-images.githubusercontent.com/8673104/134110417-85adeaed-26d6-4fc5-b49f-1b14fdd9750f.png">
<img width="527" alt="Screen Shot 2021-09-20 at 11 10 16 PM" src="https://user-images.githubusercontent.com/8673104/134110419-09ee69ad-00ca-4097-a373-8e9efadf454a

[2021-09-21 06:13] dianaafanador3 commented on #7368
@dudenamedjune which version of Realm are you using?

[2021-09-21 06:16] dudenamedjune commented on #7368
I apologize 🤦‍♂️

Saw  ```Combine problems with Xcode``` and didn't bother to look at the module. Please disregard, I also fixed so I'm good to go

[2021-09-21 06:18] dianaafanador3 commented on #7368
@dudenamedjune I was gonna ask you if the problem was really on Realm, cause it looks like is not a SDK related issue. Thanks for let us know.

[2021-09-21 06:32] rouuuge commented on #7036
hi @leemaguire

can you describe this in more detail or do you have an example?

@versoworks or can you describe your solution? I would like to write with Siri on a sych realm. With realm-legacy server this still worked....

[2021-09-21 06:48] rouuuge commented on #4490
does anybody has a workaround to use siri with sync realm?

[2021-09-21 15:23] tgoyne commented on #7444
Our implementation of `receive(on: Dispatch.main)` actually maps it to receiving on the main runloop, as supporting Realms confined to both the main runloop and the main dispatch queue separately would result in all sorts of wacky and confusing behavior. We could probably support `Runloop.main` as well for better discoverability pretty easily. Arbitrary runloops would also be possible, but it's un

[2021-09-21 22:36] vaibhavlaghane opened #7445 "Realm upgrade"

[2021-09-22 04:48] ravikirankhareedi opened #7446 "Module compiled with Swift 5.5 cannot be imported by the Swift 5.4 compiler"
### How frequently does the bug occur?

All the time

### Description

I am using the compiler Realm package 10.15.1 (https://github.com/realm/realm-cocoa/releases/download/v10.15.1/realm-swift-10.15.1.zip). I used the xcframework built on Xcode 13. I get the error "Module compiled with Swift 5.5 cannot be imported by the Swift 5.4 compiler" when I try to build the project with Xcode 12.5

### Sta

[2021-09-22 10:59] dianaafanador3 commented on #7445
Hi @vaibhavlaghane any reason you are not upgrading to our latest version [v10.15.1](https://github.com/realm/realm-cocoa/releases/tag/v10.15.1)?

[2021-09-22 11:43] dianaafanador3 commented on #7446
Hi @ravikirankhareed You need to add the XCFramework for your XCode version, so if you are using Xcode 12.5 you should be using the `XCFramework` for 12.5.1.

[2021-09-22 13:43] dianaafanador3 commented on #7072
As @jsflax mentioned we have made a lot of improvements and optimisations to our observation code which should be able to provide a better user experience.
Since there is no comment on this I'm closing this issue, @HKdAlex and @visdyn if you keep having issues with notifications after updating to our latest version, we can reopen this.

[2021-09-22 13:43] #7072 closed

[2021-09-22 13:51] dianaafanador3 commented on #7444
@timstudt any particular reason for using non-main runloop ?

[2021-09-22 15:43] cmonsour opened #7447 "RealmSwift: @ObservedResults not updating with Realm Sync"
### How frequently does the bug occur?

All the time

### Description

I’m trying to use Realm Sync for a basic CRUD app using SwiftUI, but for some reason the @ObservedResults property wrapper is not updating my view when I add/delete objects.

The Realm App is set up on the free shared tier. When I insert/delete entries, I can see in the Realm App logs that the data is being inserted/deleted app

[2021-09-22 17:44] vaibhavlaghane commented on #7445
Hello,

Appreciate your response.
Looking to work with minimal version change as dependent libraries in the app use 4.4.1 or 5.5.2 .
Testing and releasing them will be huge task.

Is there a file format change between the versions?
Any specific script to upgrade?
Is there a patch fix for 5.5.2 ?

Thanks

[2021-09-23 00:49] winstondu opened #7449 "Even if list is effectively not modified in a transaction, change notifications still fire"
### How frequently does the bug occur?

All the time

### Description

If a realm object has a realmlist as a property, and then within the transaction there are modifications to that realmlist (but the modifications cancel each other out), that is different

[code]

Now if we we have two `Person` objects in the realm database, where `person1` has friend `person2`:
[code]

Now consider if we began

[2021-09-23 03:40] cmonsour commented on #7447
Oddly, if I close the app (returning to the iPhone home screen) and then reopen it, the bug is gone, and the SwiftUI view with the @ObservedResults wrapper works as expected.

[2021-09-23 05:49] tgoyne commented on #7449
This is working as intended. Change notifications report what operations you performed on the thing being observed, and not by diffing the values.

[2021-09-23 07:48] zcohan commented on #7438
Correction: both the Mac App Store version and direct version of the app crash on launch for these customers due to the "Keychain returned unexpected status code" exception.

[2021-09-23 09:06] michalrentka opened #7450 "Crash during migration when accessing ObjectSchema"
### How frequently does the bug occur?

All the time

### Description

Hi,

I migrated my Realm models to use `EmbeddedObject`s and I received some crash reports from this migration.

I have a simple `safeGet(key: String) -> Any?` function which checks object schema whether it contains property with given name and then returns the value:
[code]

The app crashes when trying to access this object sc