[2020-08-28 18:40] tgoyne commented on #6728
Swift's `filter()` returns a lazy view rather than immediately evaluating the filter and creating an array. This means that in `foo.append(contentsOf: bar.filter { ... })`, the filter function is called from inside `append()`.  Since your filter function access the array which is being appended to, this violates Swift's exclusivity requirements. Converting the Results to an Array first sidesteps t

[2020-08-28 18:44] adamk77 commented on #6728
Ah -- lazy evals. Thanks for explanation. Makes perfect sense.

[2020-08-28 20:39] csharpseattle commented on #6688
+1

[2020-08-28 21:25] tgoyne commented on #6691
[I made a PR to fix this](https://github.com/realm/realm-core/pull/3883) and the core test suite at least now passes on exFAT.

[2020-08-29 04:51] kunalsood opened #6730 "Multiple EXC_BAD_ACCESS Crashes"
## Goals
Have my app run normally without crashes.

## Expected Results
Same as "Goals" (above).

## Actual Results
I'm seeing EXC_BAD_ACCESS in at least 2 different places. Please see:-
![](https://user-images.githubusercontent.com/1951423/91628316-1acde700-e9dc-11ea-90b8-2624132f8651.png)
![](https://user-images.githubusercontent.com/1951423/91628325-2caf8a00-e9dc-11ea-9a6a-c18c7857190f.png)

Th

[2020-08-29 21:04] sipersso commented on #6683
Getting the same issue here for some users in production. Not sure how to reproduce it.

[2020-08-30 15:46] aabeshde commented on #6711
Update on this - I did a clean wipe on the Pod files but now I'm still getting an error upon deletion of an item in the array, with this error popping up when trying to delete:

*** Terminating app due to uncaught exception 'RLMException', reason: 'Object has been deleted or invalidated.'

[2020-08-30 23:38] gangsports commented on #6691
Thanks so much for your update! Really appreciate it.

[2020-08-31 00:41] seki-ne commented on #6686
got same error in v5.3.4

[2020-08-31 11:09] perlasivakrishna commented on #6725
I have the same issue, unable to build in xcode12

[2020-08-31 11:24] jsflax commented on #6725
@kyungho-kim @perlasivakrishna are you talking about SwiftUI previews? Does this issue persist on a clean build?

[2020-08-31 11:39] kyungho-kim commented on #6725
@jsflax Right, SwiftUI preview. I cleaned build folder many times but failed to build.

[2020-08-31 11:41] perlasivakrishna commented on #6725
No in my case not in  SwiftUI Previews, it's happening while building project.

[2020-08-31 14:27] jiyeonlab commented on #6725
I have same issue.
Realm version: 5.2
Xcode version: 12.0 beta 6

[2020-08-31 15:05] mrezk commented on #6725
I had this same issue.
You should add arm64 to the excluded architectures both in your main project and in the Pods project (if you use cocoapods).
<img width="700" alt="Screen Shot 2020-08-31 at 12 01 13" src="https://user-images.githubusercontent.com/1587829/91734986-0c213480-eb82-11ea-8ccc-af75bf65f97b.png">

Let me know if that works for you!

[2020-08-31 15:40] #6728 closed

[2020-08-31 15:57] perlasivakrishna commented on #6725
@mrezk Adding arm64 to the excluded archs that error was gone, but another error not sure whether it's because of adding arm64 to excluded one.
![Screenshot 2020-08-31 at 9 20 20 PM](https://user-images.githubusercontent.com/6779941/91740237-a6a86480-ebd0-11ea-9173-dabb7d3782b0.png)
Also Would love to know the reason to add arm64 in excluded archs.

[2020-08-31 16:05] #6721 closed

[2020-08-31 16:15] leemaguire commented on #6692
@bhavintrive could you provide us with a code sample that shows us how you are using Realm? Also if you could give more information about your use case (use of multithreading, migrations, etc).

Thanks,
Lee

[2020-08-31 16:40] #6691 closed

[2020-08-31 18:56] mrezk commented on #6725
@perlasivakrishna have you tried a clean & build?

[2020-08-31 19:33] marciogranzotto commented on #6671
I tried to use the branch from #6722 but it still throws a `Message from debugger: Terminated due to signal 9`.
If I run my app with my mock database, without using Realm, that error never happens.

[2020-08-31 19:58] perlasivakrishna commented on #6725
@mrezk  yes tried it, tried clearing derived data,  both didn't help

[2020-08-31 22:47] kyungho-kim commented on #6725
@mrezk In my case, resolved! I add "arm64" to the excluded architectures both in my project and the pod project. Now SwiftUI preview works. Thanks 🙏

[2020-09-01 01:03] duncangroenewald commented on #6725
See #6684

[2020-09-01 08:31] leemaguire commented on #6577
Closing this issue as v5.3.5 contains a relevant [fix](https://github.com/realm/realm-cocoa/pull/6714) related to this issue.

[2020-09-01 09:20] leemaguire commented on #6668
The core library will do its best to try resolve any issues when upgrading. As a last resort if the failure continues to happen the best thing to do is discard the broken Realm file and start fresh on a clean Realm file.

[2020-09-01 09:20] #6668 closed

[2020-09-01 10:24] leemaguire commented on #6688
![Screenshot 2020-09-01 at 11 22 18](https://user-images.githubusercontent.com/17234962/91838573-a26a5e80-ec45-11ea-86e2-1dc2ce28e613.png)

In the Realm target under your pods project do you see the highlighted flags?

[2020-09-01 10:53] jedelbo commented on #6678
@ericjordanmossman The `migrate_links` issue is caused by something else than the `migrate_indexes` issue.

[2020-09-01 11:06] leemaguire commented on #6683
@sipersso Could you provide a stack trace and context with how you are using Realm? Could you also tell us the version and package manager you are using?

Thanks

[2020-09-01 11:24] jedelbo commented on #6680
@seki-ne I am sorry that the sad news is that if a file has been upgraded to v5, there is not a way to go back. The v4 client would not know how to interpret the v5 file format. You should also be aware that if a file has been exposed to this crash in migrate_indexes, then some data is lost, and new versions will not be able to recover this data and will fail again.

[2020-09-01 12:35] leemaguire commented on #6676
Closing this issue due to inactivity. If you have any other questions please open a new issue.

Thanks.

[2020-09-01 12:35] #6676 closed

[2020-09-01 12:46] leemaguire commented on #6657
Closing this issue due to inactivity. If you have any other questions please open a new issue.

Thanks.

[2020-09-01 12:46] #6657 closed

[2020-09-01 12:50] leemaguire commented on #6643
Closing this issue due to inactivity, please update to v5.3.5 and if this problem persists please open a new issue.

Thanks.

[2020-09-01 12:50] #6643 closed

[2020-09-01 13:40] jedelbo commented on #6678
We believe that we have fixed the issues present in v5.3.0. As no new information is available, this issue is closed. If the problem can be observed using v5.3.5 or later, the issue can be re-opened.

[2020-09-01 13:40] #6678 closed

[2020-09-01 17:43] sipersso commented on #6683
Version: RealmSwift 5.3.5
Package manager: Cooapods

My Realm Usage. It is probably my usage that is wrong. I was trying to cache objects into a hash map and retrieve them later. I used freeze on the collection and thought this would work, but I guess there are still threading issues.
[code]

Stacktrace:
[code]

I will try it again, skip the .freeze() and copy the values instead, which I hope will

[2020-09-01 19:28] mho000 opened #6731 "Unable to open encrypted realm file after failed upgrade to Realm 5.3.5"
## Goals

Open the encrypted realm file to recover data from it after a failed upgrade

## Expected Results

The file to open in the previous realm version

## Actual Results

The app was using Realm 4.4.1 and it is updated to 5.3.5. The upgrade failed with the following error:

[code]

In order to retrieve the data inside the realm file, the Realm version was reverted to 4.4.1. However, opening t

[2020-09-01 19:32] jsflax commented on #6731
Hey, do you have any examples or samples where the migration failed?

[2020-09-01 19:35] mho000 commented on #6731
Hi, yes I have some files with files with this case. I'm afraid I can't share them publicly.

[2020-09-01 20:33] phoney commented on #6688
I've updated to 5.3.5. I see those custom build flags in the project (and also in the two .xcconfig files). I don't see the warnings.

Looking at the history for Realm.podspec those flags for armv7 were added on Feb 11, 2020, which was a version older than 5.0.0.

FWIW, these warnings seemed to come and go but I couldn't figure out what the correlation was. Maybe this is a Cocoapod or Xcode bug. X

[2020-09-02 08:25] leemaguire commented on #6731
Can you please send your Realm file to lee.maguire@mongodb.com and we will have the team investigate your issue.

Thanks

[2020-09-02 08:32] leemaguire commented on #6730
Hi @kunalsood ,

Thanks for the detail in your issue template! Would you be able to share what your Realm models look like and what size mass import your are doing?

Thanks,
Lee

[2020-09-02 08:33] #6725 closed

[2020-09-02 08:35] leemaguire commented on #6724
@bennettyuan18 Would you be able to create a sandbox app that replicates this issue?

Thanks,
Lee

[2020-09-02 08:52] leemaguire commented on #6720
Hi @seki-ne

To solve your issue you can use:

`
let config = Realm.Configuration(
            schemaVersion: schemaVersion,
            migrationBlock: { migration, oldSchemaVersion in
                if oldSchemaVersion < 3 {
                    migration.deleteData(forType: Cat.className())
                }
            }
        )
        Realm.Configuration.defaultConfiguration = config
`

[2020-09-02 08:53] #6720 closed

[2020-09-02 08:54] leemaguire commented on #6717
Have you tried clearing all derived data, cached builds and cleaned your workspace?

[2020-09-02 09:01] lukaszgieraltowski commented on #6184
It would be great to see this functionality.

[2020-09-02 09:20] leemaguire commented on #6711
@aabeshde It sounds like your delete crash is caused by your UITableView or SwiftUI List having an out of sync snapshot of your Realm data.

[2020-09-02 10:23] kunalsood commented on #6730
Sure thing (It's an ObjC Project, so sharing what my headers look like) :-
[code]

This should probably be self-explanatory in telling what properties are stored in realm & what aren't, and which ones are relationships & which ones are inverse-relationships. Please let me know if you'd also like to see my implementation (i.e. what is in my '.m' files) of these.

I'm importing no more than 15-20 `F

[2020-09-02 10:40] SakuragiYoshimasa commented on #6717
I also have the problem when using Xcode 12 Beta6 even though after I cleared all derived data of Xcode and cache files of carthage.

[2020-09-02 11:16] leemaguire commented on #6530
@seki-ne Can you provide more information about this state trace? Does the issue still happen on 5.3.5? Would it be possible to get a sample app that reproduces the issue? Thanks

[2020-09-02 13:30] jordimele commented on #6684
I have the same problem with Xcode 12 beta 6
@tgoyne  Is it working to support arm64?
Do you know a possible date when there will be a version of Realm with arm64 support?

[2020-09-02 16:55] tsheaff commented on #6685
Not sure if this is happening for everyone, but for us this is becoming an increasingly time-sensitive situation —  iOS 14 is coming out very soon, and we're not able to compile our app on simulators at all right now due to this issue.

Is the realm team looking into this issue or aware of what may be causing this?

[2020-09-02 17:03] tgoyne commented on #6685
When using CocoaPods you will also need to set EXCLUDED_ARCHS on the Pods project.

Supporting the arm simulators requires cocoapods 1.10, which currently is in beta. If they don't make a non-beta release before Xcode 12 leaves beta then I guess we'll just bump the minimum req to that anyway, but we'd prefer not to require everyone working on things being released now to use a beta version.

[2020-09-02 21:44] tsheaff commented on #6685
OK thanks for the update @tgoyne very helpful

[2020-09-02 22:19] goa commented on #6577
I am still seeing this exact same crash in v5.3.5.

[2020-09-03 03:04] varyP commented on #6724
I've the same issue

[code]

[2020-09-03 07:45] geragray commented on #6577
@goa sorry to hear this and thank you for getting back to us. Realm Core team is prioritizing working on v5.x crashes right now.

[2020-09-03 07:52] geragray commented on #6716
@ZComwiz @duncangroenewald apologies for not hearing back from us earlier. Realm Core team right now is focusing on the migration issue that you and a handful of other users have experienced. We are prioritizing this work over everything else.

[2020-09-03 08:19] duncangroenewald commented on #6716
Good to hear, let us know if there is anything we can do to help debug these issues

[2020-09-03 08:31] zhiliang729 commented on #6505
version 5.3.5 found the same crash!

[2020-09-03 08:33] finnschiermer commented on #6683
Hi @sipersso are you using encryption? (it's important for our interpretation of the stacktrace you provided)

[2020-09-03 08:37] marsha97 commented on #6505
oh, you are right we got it at 20 August 2020, on realm 5.2.0, will repoen this issue again 😅

[2020-09-03 08:44] zhiliang729 opened #6732 "Operation not permitted when trying to open realm"
!!! MANDATORY TO FILL OUT !!!

version 5.3.5 crash again!!!

## Goals

Know the reason why it happens
## Expected Results

apps not crashing
## Actual Results

Unable to open a realm at path '/var/mobile/Containers/Data/Application/311B2E33-55D3-4CCF-BACA-3F51F83CEA16/Documents/balance.realm.lock': open() failed: Operation not permitted Path: /var/mobile/Containers/Data/Application/311B2E33-55D3-4

[2020-09-03 08:44] zhiliang729 commented on #6732
same to the issue  #6505

[2020-09-03 08:54] leemaguire commented on #6577
@goa Could you open a new issue and fill out the issue template so that we may help you in the best way possible? Thanks.

[2020-09-03 09:34] sipersso commented on #6683
@finnschiermer Thanks for getting back to me. No, this realm is not encrypted. Honestly I am not sure if my usage is valid. I am trying to cache objects in a hash map.... so I guess it might make more sense just to copy the object as in the last example I sent instead of trying to use freeze() and references? I mean, what decides that the realm is still open in the first use? Or is it valid to use

[2020-09-03 10:30] finnschiermer commented on #6683
Thx for info re encryption. Regardless of how realm is used, we'd like to prevent it from crashing the way you report. However, crashing like that *can* be explained by a query running on one thread at a point when the realm transaction associated with the query is closed on a different thread.

[2020-09-03 10:32] sipersso commented on #6683
Thanks @finnschiermer! I'll just copy/detach the objects instead which works fine in this case since there are no relations in that particular realm.

[2020-09-03 10:48] jedelbo commented on #6716
@duncangroenewald Just to be sure how the problem manifests: Once you have upgraded the file, the query will not return the expected number of objects - in fact it returns none. You can run the query multiple times and get the same wrong result. The error is not seen, if Sync is not involved.

It would be very helpful to us, if you could provide a realm file where this behavior can be seen. You ca

[2020-09-03 10:55] finnschiermer commented on #6730
This could be explained by a bug where we run notifications after the relevant realm version has been reclaimed and is no longer accessible.

[2020-09-03 10:57] duncangroenewald commented on #6716
@jedelbo
Yes it appears that any time any filter is applied the result is nil - of course I have not tried every possibility though.  If no filter is applied then the full result set is returned correctly.

I will send you two files - one the v4.4.1 file and the second the upgraded file that shows this behaviour.

To further clarify there are two scenarios here, that both appear to show the same p

[2020-09-03 11:06] leemaguire commented on #6683
@sipersso Could you provide a bigger code sample that could help us reproduce this crash? I have tried both you examples with no luck in creating a crash. Thanks!

[2020-09-03 11:14] sipersso commented on #6683
I am sorry, but it is hard for me to produce a bigger sample for this. It is a part of a pretty complex flow that is hard to slim down to something I can share here. I have already submitted a new update for the app that doesn't use freeze and copies the values instead, which should solve my issue.

Sorry I am not able to give you more info on this.

[2020-09-03 13:00] jedelbo commented on #6716
@duncangroenewald Thank you for the file. I am sure this can help us finding the root cause of this problem.

[2020-09-03 13:10] leemaguire commented on #6732
Hi @zhiliang729 Can you give us more context with how you are using Realm? Are you using any app extensions, multithreading etc? Is this issue intermittent? Could you also share with us your Realm Configuration object?

Thanks

[2020-09-03 13:14] leemaguire commented on #6505
Hi @marsha97 Can you give us more context with how you are using Realm? Are you using any app extensions, multithreading etc? Is this issue intermittent? Could you also share with us your Realm Configuration object?

Thanks

[2020-09-03 13:18] #6315 closed

[2020-09-03 13:46] finnschiermer commented on #6408
Worth noting: this issue starts with a stack trace from an older Core version and it crashes immediately during opening. All the following reports refers to Core v6.0.xxx, and are all about attaching to the top array or just below it. Since it's about attaching, they are all related to setup at transaction boundaries.

[2020-09-03 13:59] finnschiermer commented on #6530
A matching bug was fixed in Core, please upgrade to most recent Cocoa release. Closing. If problem persists feel free to reopen.

[2020-09-03 13:59] #6530 closed

[2020-09-03 14:34] marinofaggiana opened #6733 "Cannot allocate memory"
Hi, I call several time a little query that return an array freeze(), every results has > 3000 records:
Note. update today the v5.3.6 but this issue continue

[code]

after 100/200 or 300 time crashed with;

Could not write to database: Error Domain=io.realm Code=9 "mmap() failed: Cannot allocate memory size: 23887872 offset: 201326592" UserInfo={NSLocalizedDescription=mmap() failed: Cannot alloca

[2020-09-03 15:02] AdamBCo commented on #6096
Any update on this issue?

[2020-09-03 15:44] mungbeans2 commented on #6096
Our application has hundreds of thousands of users. This crash is the number 1 cause of crashes currently. Pardon my language but for this to be going on for so long is bloody unacceptable. Will be looking at moving off Realm to some alternative forever given this inability to fix this

!!!! REALM ERROR Initialization. 2  Error Domain=io.realm Code=2 "Unable to open a realm at path '/var/mobile/Co

[2020-09-03 15:54] leemaguire commented on #6096
@mungbeans2 We are sorry that you are encountering this issue. In order for us to try get to the bottom of this Could you tell me what version of Realm you are using and also could you provide a code sample that shows how you are using Realm and maybe some context of how you are using it (AppGroups, Multithreading, Encryption etc).

Thanks,
Lee

[2020-09-03 15:56] kunalsood commented on #6730
That would make sense assuming the way this is done in core has changed.

[2020-09-03 15:57] mungbeans2 commented on #6096
Lee, thanks for the prompt reply. Will post some more info later.

[2020-09-03 16:00] jedelbo commented on #6716
Root cause found! Now we just have to pick the right solution.

[2020-09-03 16:08] pavel-ship-it commented on #6733
Hi @marinofaggiana

Is it happening on your physical device (what kind of it) or is it on iOS simulator?

Thanks

[2020-09-03 17:31] ThePragmaticArt commented on #4555
This support should be coming with Xcode 12 on the horizon...

[2020-09-03 17:53] tomipu opened #6734 "Unable to migrate objects that are deleted from schema"
## Goals
I want to enumerate objects that are deleted from schema in migration block so that I could move information from those objects to separate place.

## Expected Results
RLMMigration.enumerateObjects block to be called with valid oldObject and newObject is null.

## Actual Results
RLMMigration.enumerateObjects block is not called at all for object types that are deleted from schema.

## Pro

[2020-09-03 18:05] goa opened #6735 "Confining Realm to serial background queue: Exception on iOS 9 / iPhone 4s"
## Goals
Initialize a Realm confined to a serial background queue via `Realm(queue:)` on iOS 9 and iPhone 4s.

## Expected Results
Realm should have been initialized properly (it was on newer devices).

## Actual Results
The following error is thrown:
`Error Domain=io.realm Code=1 "Invalid queue 'serial-background' (OS_dispatch_queue): Realms can only be confined to serial queues or the main queue

[2020-09-03 20:10] duncangroenewald commented on #6716
You're the man! nice work.

[2020-09-03 21:36] bguidolim commented on #6671
iOS 14 b7 seems to solve this issue.

[2020-09-03 23:16] owenzhao commented on #6671
You should aware that Realm 5.3.6 fixed this issue. Just see the release note.

[2020-09-04 02:12] gongzhang commented on #6671
Confirmed iOS 14b7 has fixed the issue. This is the final prove this is an apple bug.😂

[2020-09-04 02:14] tgoyne commented on #6671
I guess we can disable our workaround? Of course they'd fix it as soon as we got something working...

[2020-09-04 03:23] zhiliang729 commented on #6732
@leemaguire I have a singleton to manage all the realm action like this:

class TWBalanceData: Object {
    @objc dynamic var tokenID: Int32 = 0

    @objc dynamic var symbol: String = ""

    @objc dynamic var changeRate: String = ""

    @objc dynamic var balance: String = "0"

    @objc dynamic var freeze: String = "0"

    @objc dynamic var totalBalance: String = "0"

    @objc dynamic var loc

[2020-09-04 03:54] ianpward commented on #6671
😂

[2020-09-04 06:39] marinofaggiana commented on #6733
Hi @pavel-ship-it ,
I can reproduce this issue only with physical device because I need a big amount of images

Thanks !

[2020-09-04 10:51] marsha97 commented on #6505
We are using realm for regular CRUD, sync from server, update/create. Read from it for displaying data, and delete data when user is logging out. But, we do access realm on app delegate, when user is tapping notification

[code]

our config is just for migration schema version
[code]
And, we don't use any extension for this project. And we haven't found any pattern on how this happens yet.

[2020-09-04 20:15] MikeGranberry opened #6736 "Can I go back to Realm 4.4.0 from 5.3.6. My code will not build on 5.3.6."
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Version of Realm and Tooling

Realm framework version: 5.3.6

Realm Object Server version: ?```
ProductName:	Mac OS X
ProductVersion:	10.15.6
BuildVersion:	19G2021

/Applications/Xcode.app/Contents/Developer
Xcode 11.7
Build version 11E801a

/usr/local/bin/pod
1.9.3
(not in use here)

/bin/bash
GNU bash, version 3.

[2020-09-04 21:44] MikeGranberry commented on #6736
I was able to do the "pod update" after point my my podfile to the 4.4.0 version with the following line in the podfile:
pod 'RealmSwift', '4.4.0'
The load of 4.4.0 occurred as I requested.  But now I have the same Build Errors in my previously clean code that I had after the 5.3.6 update.  I am not sure how to correct the Build system to keep from getting duplicate files and unfound Realm files.

[2020-09-04 21:54] duncangroenewald commented on #6716
@jedelbo btw what is the process for getting this into a new realm swift release so we can start using it? Just want to understand what the turnaround time on these kinds of issues typically is for future reference - thanks

[2020-09-04 23:48] CapnSpellcheck opened #6737 "[Feature] React to objects being loaded via an 'awake' method"
!!! MANDATORY TO FILL OUT !!!

## Goals
When I fetch an object using an `object` query:
[code]
I'd like to be able to automatically run some code from within the object (for example, configuration of non-managed properties). As it is, it seems like after each such query above, I'd have to write:
[code]

## Expected Results
Such a feature would probably be within `Object`, but I don't see such a me

[2020-09-05 01:49] marck2010 commented on #6688
It seems Realm & RealmSwift 5.3.6 has fixed it, at least for me.

[2020-09-05 09:32] geragray commented on #6716
@duncangroenewald after @jedelbo will implement a fix in Realm Core it will take around a day to get the new Cocoa SDK release. It is a top priority in our backlog now.

[2020-09-05 23:31] FaultyJuggler opened #6738 "error exchanging access code with OAuth2 provider (Google login, RealmSwift iOS SDK)"
!!! MANDATORY TO FILL OUT !!!

## Goals
Use Google Sign In instead of email/password for users

## Expected Results
After running google sign in, user should be logged into Realm and presented with tableview

## Actual Results
Login Failed: error exchanging access code with OAuth2 provider', code: 47

## Steps for others to Reproduce
Setup googlesignin in your iOS app
Have fully working Realm inte

[2020-09-06 11:14] jsflax commented on #6738
Please update to `10.0.0-beta.4`. If that does not work still, please consult the examples for how to setup Google auth.

[2020-09-07 02:44] qazwini commented on #5334
Any update?

[2020-09-07 08:37] juanjo72 opened #6739 "Crashing when creating partial realms on write_subscription"
## Goals
App not crashing when opening partial realms

## Expected Results
Opening partial realms successfuly

## Actual Results
Crashed: Thread
0  libsystem_kernel.dylib         0x1ad062d88 __pthread_kill + 8
1  libsystem_pthread.dylib        0x1acf7b1e8 pthread_kill$VARIANT$mp + 136
2  libsystem_c.dylib              0x1acece934 abort + 100
3  Realm                          0x104fe7a34 realm::uti

[2020-09-07 09:01] pavel-ship-it commented on #6733
Hi @marinofaggiana,
In this case the memory could be arranged for the images - each image will be expanded in to a bitmap in memory and may occupy significant piece if space.
Could you please check this case?
You could roughly estimate a memory usage by multiplying image's width by height by 4 bytes. Available memory could vary depending on the device model.

[2020-09-07 10:11] marinofaggiana commented on #6733
Hi @pavel-ship-it , thanks for your answer, no the memory of images are under control (the images are (files) only send via network), but I have found the issue:

replaced: result.freeze() with table.init(value: result)

So, as I imagined, **the freeze() is totally unreliable**, the table.init(value: result) occupy more memory in my task but is correctly released.

[2020-09-07 11:34] #6716 closed

[2020-09-07 13:01] pavel-ship-it commented on #6733
Thank you for getting back with it.
freeze() needs a space to create a copy of required data. If youк device haven't enough space it will cause a crash. Could you please check it?

[2020-09-07 13:35] ows-ali commented on #5279
I am facing the same issue, can we reopen this?

[2020-09-07 13:46] pavel-ship-it commented on #6739
Hi @juanjo72 ,
This version of Realm Cloud is now referred to as legacy Realm Cloud. It is recommended that for sync, you upgrade to v10.

[2020-09-07 14:02] juanjo72 commented on #6739
Hi, Pavel,
I have see this version is a beta one and I am afraid I am using RxRealm 3.1, released last July which is incompatible with v10.
What you mention as Realm Cloud I am assuming you are referring to the RealmSwift sdk.

[2020-09-07 14:27] pavel-ship-it commented on #6736
Hi @MikeGranberry ,
Technically it should be enough to unroll the version of RealmSwift to the expected 4.4.0.
Additionally you could try to completely remove Pods folder and run **pod install** again and try to clean the project.

[2020-09-07 14:56] pavel-ship-it commented on #6737
Hi @CapnSpellcheck ,
Depending on your circumstances I'd think about adding an extension or custom initializer. Please refer to the [Realm documentation](https://realm.io/docs/swift/latest/#limitations-models) as we have some limitations on Custom initializers.

[2020-09-07 23:17] MikeGranberry opened #6740 "Coding differences for simulator vs. iPhone device"
!!! MANDATORY TO FILL OUT !!!

## Goals

I am able to get data with the simulator but not when I download the app to my iPhone X-RAY.
## Expected Results

Same results as simulator.
## Actual Results

I get no data and no error message.
## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ? 4.4.0

Realm Object Server version: ?unknown

Xcode v

[2020-09-07 23:17] MikeGranberry opened #6741 "Coding differences for simulator vs. iPhone device"
!!! MANDATORY TO FILL OUT !!!

## Goals

I am able to get data with the simulator but not when I download the app to my iPhone X-RAY.
## Expected Results

Same results as simulator.
## Actual Results

I get no data and no error message.
## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ? 4.4.0

Realm Object Server version: ?unknown

Xcode v

[2020-09-08 01:19] FaultyJuggler commented on #6738
@jsflax  I was trying to upgrade to beta4 but then it won't compile because it complains about

`let app = RealmApp(id: Constants.REALM_APP_ID)`
Use of unresolved identifier 'RealmApp'

and
`app.login(withCredential: AppCredentials.init(googleToken: gToken!))`
Use of unresolved identifier 'AppCredentials'

And will not compile

[2020-09-08 08:28] pavel-ship-it commented on #6740
Hi @MikeGranberry,
There is a natural difference between how the real device and iOS simulator are working. Without more details it’s uneasy to say what’s happening in this case. At a glance it could be a thread concurrency issue, different resources on two targets, network issue (both - app or device level) if it's involved here. Could you please give more details? Thanks

[2020-09-08 10:26] outsbook commented on #6688
Yes, it's fixed in v5.3.6

[2020-09-08 10:30] pavel-ship-it commented on #6734
Hi @tomipu ,
Could you please share a Realm configuration?

[2020-09-08 12:15] pavel-ship-it commented on #6735
Hi @goa,
Queue-confined Realm instances can be obtained when not on that queue, but attempting to do anything with that instance without first dispatching to the queue will throw an incorrect thread exception.

In this case it means you have to wrap the call:
[code]
Please let us know if it helps or not.

[2020-09-08 12:22] jsflax commented on #6566
It means to make it plural, do not worry about the X's, it was a holdover from generalising the name for the SDKs broadly.

[2020-09-08 12:47] tomipu commented on #6734
@pavel-ship-it
Here's my configuration. What I did in version 91 was that I removed Object10.class from config.objectClasses list and deleted class from project.
[code]

Using debugger I see that Realm's enumerateObjects founds old objects from old schema just fine but it doesn't execute user defined block because of this line (copied from RLMMigration.mm:95):
[code]
Because new schema doesn't hav

[2020-09-08 13:14] goa commented on #6735
Hey @pavel-ship-it ! Thanks for your help.

Unfortunately I get the exact same result with your code, copy pasted from here to an empty app's `application(_:didFinishLaunchingWithOptions:)` AppDelegate method.

Again, it works properly on newer devices.

[2020-09-08 13:18] ianpward commented on #6738
@FaultyJuggler Try `App` instead of `RealmApp`

[2020-09-08 13:30] mkoorn opened #6743 "App won't finish launching on simulator when the realm file is open in realm studio"
Since I upgraded to RealmSwift Cocoapod v5.3.6 the app hangs when I run it on the simulator while the realm file is open in RealmStudio.

Before I was able to relaunch the app while the file was open. I now have to close it every time I relaunch the app and then open the realm file again.

It was great being able to keep the realm file open while relaunching the app.

I am hoping this can be re-en

[2020-09-08 13:33] marinofaggiana commented on #6733
Hi, my phone has over 9 GB free ... I don't think that's the cause

[2020-09-08 14:05] pavel-ship-it commented on #6434
This has been inactive for some time, so we are going to close this out. If the issue persists, please open a new ticket.

[2020-09-08 14:05] #6434 closed

[2020-09-08 14:50] tgoyne commented on #6735
There's no public API for checking the type of a queue, so we're checking it based on an implementation detail that appears to have been added in iOS 12. One fix might be to just not do the check on older versions of iOS, as presumably no one will ever test their app *exclusively* devices running old versions of iOS.

[2020-09-08 14:55] FaultyJuggler commented on #6738
@ianpward thanks, I went through and updated about 10 lines that needed changing from beta2 to beta4, but still when I run I get

"error exchanging access code with OAuth2 provider" UserInfo={NSLocalizedDescription=error exchanging access code with OAuth2 provider, realm::app::ServiceError=AuthError}

[2020-09-08 15:16] #6633 closed

[2020-09-08 15:21] ericjordanmossman commented on #6672
@duncangroenewald
Please see our latest v10, [beta.4](https://github.com/realm/realm-cocoa/releases/tag/v10.0.0-beta.4)
I'll close this issue. If the you still see the same issue please comment.

[2020-09-08 15:21] #6672 closed

[2020-09-08 16:11] 88HOMIN commented on #6688
v5.3.6 same issue....

[2020-09-08 19:30] pavel-ship-it commented on #6743
Hi @mkoorn ,

This issue will be fixed in the new release of Realm Studio.

I'll close this ticket. If the you still see the same issue in a new version please comment and we can re-open it.

[2020-09-08 19:30] #6743 closed

[2020-09-09 02:17] duncangroenewald commented on #6672
@ericjordanmossman I thought this patch was only was only merged into realm-core 6.0.24

[2020-09-09 02:28] bhbfhfb commented on #6688
I changed from v5.3.5 to v5.3.6.
This issue still appears.

[2020-09-09 03:07] duncangroenewald commented on #6672
@ericjordanmossman - yes I just tried 5.3.6 and still the same problem.  I did check the commit merges and thought the patch was only merged into 6.0.24 so if someone could push out a realm-swift 5.3.7 with realm-core 6.0.24 that might do it.

Thanks

[2020-09-09 03:26] MischkaTheBear commented on #6688
Updated to 5.3.6 -- Problem persists...

[2020-09-09 07:34] pavel-ship-it commented on #6636
Hi @destryteeter ,
Is it possible to reproduce that issue on the latest release?

[2020-09-09 08:02] luocunshun opened #6747 "如何使用 Swift Package Manager 来集成 realm ？"
想要使用  Swift Package Manager 来集成 realm， 但发现好像没有这种集成方式。
我也试过，但没有成功。希望更新这种集成方式。谢谢。

[2020-09-09 08:28] helimarrabago commented on #6639
Hi. Were you able to solve this?

[2020-09-09 10:46] sailor002 commented on #6408
I have changed the way I access the realm object and the problem seems to be solved right now. Previously, I was creating a realm object in a function from a background thread and using it inside that function scope. And this background function was triggered repeatedly to perform multiple tasks. This approach did not cause any errors on my side, and neither did the 95% percent of users had any is

[2020-09-09 11:21] pavel-ship-it commented on #6747
Hi @luocunshun ,
You can import the package using Swift Package Manager from repository at https://github.com/realm/realm-cocoa

[2020-09-09 11:21] #6747 closed

[2020-09-09 13:26] ericjordanmossman commented on #6672
@duncangroenewald Ah - understood, thanks. I'll connect with the rest  of the team. I'll continue to comment on #6716 .

[2020-09-09 14:27] Patrick-Remy commented on #6717
Can confirm, also when clearing ~/Library/Caches/org.carthage.CarthageKit/DerivedData/ and using the script of https://github.com/Carthage/Carthage/issues/3019#issuecomment-681825436 the build fails with the above error message

[2020-09-09 16:15] pavel-ship-it commented on #6590
I'll close this issue due to inactivity. If the you still see the same issue please comment and we can re-open it.

[2020-09-09 16:15] #6590 closed

[2020-09-09 16:17] pavel-ship-it commented on #6585
I'll close this issue due to inactivity. If the you still see the same issue please comment and we can re-open it.

[2020-09-09 16:17] #6585 closed

[2020-09-09 19:11] MikeGranberry commented on #6740
What kind of information would help you to understand the difference. Right
now there is no remote service just a local realm. I can send you
viewcontroller code if that would help.

On Tue, Sep 8, 2020 at 3:29 AM Pavel Yakimenko <notifications@github.com>
wrote:

--
Mike Granberry
832 515 0254
mgranbe@gmail.com

[2020-09-09 23:35] duncangroenewald commented on #6672
Ok I see it's 5.4.0 that is being built.

[2020-09-10 01:48] duncangroenewald commented on #6672
Problem is fixed in 5.4.0.  Thanks

[2020-09-10 01:59] duncangroenewald commented on #6619
@tgoyne any indication yet when a binary with support for Apple Silicon might be available for beta testing?

I assume there is still no way to build a full RealmSwift framework with the sync support from source code.

[2020-09-10 02:00] duncangroenewald commented on #6716
This is fixed in RealmSwift 5.4.0 - thanks.

[2020-09-10 03:19] tgoyne commented on #6262
You can now use spm with sync by pointing at the [tg/spm-framework](https://github.com/realm/realm-cocoa/pull/6746) branch. This branch drops support for Xcode 11.

[2020-09-10 04:00] aalenliang commented on #6717
Tried 5.4.0, still got the same error.

[code]

[2020-09-10 07:48] RajAggrawal0507 opened #6748 "'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/var/mobile/Containers/Data/Application/A3689AC4-1E6E-4DCD-95B0-2A396281B79B/Documents/default.realm.lock': open() failed: Operation not permitte"
Complete crashlytics crash log given below.

iOS devices: All device or most of the device
iOS version: iOS 12.2 to 13.6 (Most of the versions in between)
Realm version: 4.4.1

Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/var/mobile/Containers/Data/Application/A3689AC4-1E6E-4DCD-95B0-2A396281B79B/Documents/default.realm

[2020-09-10 08:18] finnschiermer commented on #6636
Possibly fixed by https://github.com/realm/realm-core/issues/3904

[2020-09-10 08:22] pavel-ship-it commented on #6740
Hi @MikeGranberry
If it's possible you could send it to my email - pavel.yakimenko@mongodb.com

[2020-09-10 08:56] finnschiermer commented on #6699
Likely caused by https://github.com/realm/realm-core/issues/3904

[2020-09-10 08:59] finnschiermer commented on #6532
Likely fixed by https://github.com/realm/realm-core/issues/3904

[2020-09-10 09:10] leemaguire commented on #6314
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-09-10 09:10] #6314 closed

[2020-09-10 09:12] leemaguire commented on #6313
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-09-10 09:12] #6313 closed

[2020-09-10 09:14] leemaguire commented on #6302
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-09-10 09:14] #6302 closed

[2020-09-10 09:14] SquaredTiki opened #6749 "Changes in v5.3.6 seem to cause app or whole system freeze when foregrounding on iOS 10, 11, 12"
It appears that the changes in v5.3.6 (#6722) to work around the iOS 14 issue of apps using Realm terminating in the background due to file locking (#6671) have created an issue that results in the app or the whole of iOS potentially freezing when an app using Realm is moved from the background into the foreground on iOS 10, 11 or 12.

Downgrading from v5.3.6 to v5.3.5 resolves this issue. You can

[2020-09-10 09:16] SquaredTiki commented on #6671
Since the changes to resolve this issue we've started seeing our app freeze (sometimes causing the whole of iOS to freeze) when foregrounded on iOS 10, 11, 12. This was briefly mentioned by @thodang888 in #6722 and I've raised a new issue #6749 for this.

[2020-09-10 09:21] leemaguire commented on #6291
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-09-10 09:21] #6291 closed

[2020-09-10 09:22] #6278 closed

[2020-09-10 09:32] bguidolim commented on #6749
As it was fixed by Apple on iOS 14 b7, I would suggest reverting the commit about new file lock emulation.

[2020-09-10 09:45] finnschiermer commented on #6408
Interesting. Thx for the description @sailor002.

[2020-09-10 09:48] finnschiermer commented on #6577
Likely the same issue as https://github.com/realm/realm-cocoa/issues/6408

[2020-09-10 10:19] finnschiermer commented on #6408
Though it looks different, there is some non-zero chance that it is fixed by https://github.com/realm/realm-core/issues/3904.

[2020-09-10 11:17] haihaien opened #6750 "Upgrade database crash"
!!! MANDATORY TO FILL OUT !!!

realm::util::EncryptedFileMapping::read_barrier(void const*, unsigned long, unsigned long (*)(char const*)) + 32
--
1 PicaDo | do_encryption_read_barrier (thread.hpp:553)
2 PicaDo | do_encryption_read_barrier (thread.hpp:553)
3 PicaDo | realm::Array::init_from_ref(unsigned long) (file_mapper.hpp:117)
4 PicaDo | realm::Cluster::init_leaf(realm::ColKey, realm::ArrayPay

[2020-09-10 11:43] pavel-ship-it commented on #6750
Hi @haihaien ,
Could you please give more details? Do you have encryption enabled or not? From the log it look same as this issue - [Random crash when deleting objects just after realm db opened #6628](https://github.com/realm/realm-cocoa/issues/6628)

[2020-09-10 12:07] SquaredTiki commented on #6749
From what I've heard on the grapevine from folks at Apple, the change in beta 7 and onwards that fixed this is a temporary workaround and not meant to be a permanent fix. And that the reason this (i.e. `default.realm.lock` being ignored by iOS when it performs checks for locked files on app background) worked OK for so long up until iOS 14 was a bug, not a feature.

Might be worth bearing in mind

[2020-09-10 12:19] bguidolim commented on #6749
@SquaredTiki if there is an allow list, this probably includes `*.realm.lock`, because I don't use the default one and it works fine for me since b7.
Is there any way to confirm this behavior? I didn't see any mention in all beta release notes about it, so I supposed to be an iOS 14 issue.

[2020-09-10 12:26] SquaredTiki commented on #6749
@bguidolim From what I've heard previous to beta 3 the lock file was being mistaken for a different type of file and thus being ignored when iOS performed its checks on locked files when the app was backgrounded, this got fixed in beta 3 but caused #6671 and so to maintain binary compatibility Apple added a temporary workaround in beta 7 to continue to permit this incorrect behaviour. Though this

[2020-09-10 12:33] ericjordanmossman commented on #6408
For everyone's information, core 6.0.25 is in our latest realm-cocoa [5.4.0](https://github.com/realm/realm-cocoa/releases/tag/v5.4.0). Please upgrade and let us know.

[2020-09-10 12:36] leemaguire commented on #6243
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-09-10 12:36] #6243 closed

[2020-09-10 12:36] pavel-ship-it commented on #6748
Hi @RajAggrawal0507
It looks like a duplicate of [existing issue](https://github.com/realm/realm-cocoa/issues/6096), so any details could help.
Do you have steps to reproduce? Maybe you have a sample code?

[2020-09-10 12:45] RajAggrawal0507 commented on #6748
Not get the exact help.
I also do not have steps to reproduce it.
It is crashing in Production builds not in dev or QA builds.

Also It crashed when I am accessing the first object from the realm after launch

[2020-09-10 12:53] geragray commented on #6699
@ZComwiz could you please try Realm Swift 5.4.0, it includes a fix for https://github.com/realm/realm-core/issues/3904

[2020-09-10 12:54] geragray commented on #6532
@ramjyroo could you please try Realm Swift 5.4.0, it includes a fix for realm/realm-core#3904

[2020-09-10 12:56] pavel-ship-it commented on #6748
@RajAggrawal0507 thank you for getting back to me. It seems the symptoms are same as in mentioned case.
I'll close this issue as a Duplicate of #6096.
Please follow the mentioned issue for updates.

[2020-09-10 12:56] #6748 closed

[2020-09-10 13:16] leemaguire commented on #6237
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-09-10 13:16] #6237 closed

[2020-09-10 13:23] itenyh opened #6751 "Open encrypted Realm DB with Realm studio get error "Opening Realm files of format version 0 is not supported by this version of Realm""
!!! MANDATORY TO FILL OUT !!!

## Goals

1.  open the encrypted Realm DB with realm studio
2. perform CRUD without error in my program

## Expected Results
1.  open the DB file with realm studio I should get one of the following results:
     (1)  it is opened correctly without any info
     (2) asking me to upgrade the DB file before opened
     (3) show me "Opening Realm files of format version

[2020-09-10 13:50] ericjordanmossman commented on #6683
I can try to test more with the circumstance @finnschiermer mentioned [here](https://github.com/realm/realm-cocoa/issues/6683#issuecomment-686399723). But I've added a `reproduction-required` tag for this issue. We likely won't reach a fix until we can reliably reproduce. If anyone is able to narrow down the circumstances with a reproduction, please share.

[2020-09-10 14:49] deRonbrown commented on #6639
We decided to "rename" in the models by namespacing them in Swift, but keeping the original model names in Objective-C. This allows us to reclaim the names we wanted in our codebase without Realm having to do any migrations.

### Before
[code]

### After
[code]

[2020-09-10 15:10] pavel-ship-it commented on #6751
Hi @itenyh
it could be a migration problem. Could you please refer the documentation on [local migrations](https://realm.io/docs/objc/latest/#migrations)?
Try to promote the `schemaVersion` and provide a `migrationBlock` if required.
_Don't forget to make a backup of a target Realm file!_

[2020-09-10 16:34] jeffreyrobert commented on #4820
@jpsim really appreciate all info! I think I understand the issue now and I like the solutions you proposed. Can you check I've got this right? Maybe helpful to others.

Issue:
Large Realm file is likely caused by pinning old versions (i.e. retained copies of outdated versions of data)
Pinning old versions is caused by instances of Realm in memory which has an outdated view of the data
Lingering i

[2020-09-10 19:42] tgoyne commented on #6749
I can reproduce this. It might be an option to only use the flock workaround on iOS 14+, but before resorting to that I'd like to figure out what exactly is causing problems.

[2020-09-10 20:45] CapnSpellcheck commented on #6737
@pavel-ship-it I don't see how custom initializer can be called when trying to fetch a persisted object, is there a way? The only init's that I see: the 0 arg and the `value:` instantiate an unmanaged object.

[2020-09-10 21:16] uglyelf commented on #6688
Updated to 5.4.0 Still have the problem.

[2020-09-10 21:33] phoney commented on #6688
@uglyelf Can you check the flags mentioned by leemaguire upthread? If they are missing this may be a syncing issue and you may want to try these various things to clear your cache. Option-Clean in Xcode. delete your Pods folder. pod deintegrate. Run pod install or pod update after and rebuild. I found the errors disappeared and reappeared a few times but eventually went away and stayed away. Not c

[2020-09-10 22:46] uglyelf commented on #6688
K. I've now done all that and cleared the derived data and restarted x-code. Still has the error. @phoney I'm grateful for your suggestions. Do you have any more?

[2020-09-10 22:52] phoney commented on #6688
Sorry about that. Do you see those flags in the Pods project?

```pod cache clean``` should delete all the pods and local pod specs. I think if you do ```pod cache list``` you can see the paths to the cached files and then manually delete them. Also, quit and restart Xcode.

[2020-09-10 23:15] tgoyne commented on #6749
The silliest workaround:

[code]

I don't have a jailbroken device lying around to debug what's actually going wrong (since it's not the app itself hanging), but it appears to be due to having a writer on a named pipe but not a reader. My completely unsubstantiated guess is that it's related to file protection since the kernel checks each fd to see if it needs to be reenabled when the app enters t

[2020-09-10 23:43] uglyelf commented on #6688
Sorry. Should have said, yes, the flags are there.
I just ran `pod cache clean --all`
No change.

[2020-09-11 01:01] Tapestes commented on #4809
We started seeing this issue in Realm 5.4.0.  Prior to that, setting readOnly: true in the config prevented this issue.  In 5.4.0, readOnly: true raises the make_dir() error.  We reverted back to 5.3.5, and everything works fine....

[code]

[2020-09-11 01:13] itenyh commented on #6751
@pavel-ship-it    I am sure its no a problem about migration, because I create a new realm DB with datas from other source. But it could not open with realm studio.

[2020-09-11 01:40] xiejunyuan commented on #6751
@itenyh I encountered the same situation as you

[2020-09-11 02:40] haihaien commented on #6750
This is the reality of the app run statistics
.
The iPhone 7
.
13.5.1。

[2020-09-11 04:51] RajAggrawal0507 commented on #6748
Thanks.
But not getting an appropriate solution in [#6096](https://github.com/realm/realm-cocoa/issues/6096)

[2020-09-11 05:08] kunalsood commented on #6749
@SquaredTiki The words "**temporary workaround**" do not give me a whole lot of confidence, and, implies that Apple will break binary compatibility again. If so, then why even bother with a temporary workaround?

Sorry for the off-topic comment.

[2020-09-11 05:14] kunalsood commented on #6750
I have hit this crash in an unencrypted realm (on a brand new installation) as well. Please see the second screenshot in: https://github.com/realm/realm-cocoa/issues/6730

[2020-09-11 05:27] haihaien commented on #6750
How to solve
.
Thank you.

[2020-09-11 05:46] kunalsood commented on #6750
It's seems to be a realm bug that they would need to fix. There have been several issues opened about similar crashes (with EncryptedFileMapping & do_encryption_read_barrier in the stack trace) with no solution. Please see: https://github.com/realm/realm-cocoa/issues/6730 https://github.com/realm/realm-cocoa/issues/6556 https://github.com/realm/realm-cocoa/issues/6733 https://github.com/realm/real

[2020-09-11 06:05] owenzhao commented on #6751
Did you upgrade to Realm Cocoa 5.4.0? It requires Realm Studio 3.12, which is not released. You probably are using 3.11.

[2020-09-11 07:14] codemeister64 opened #6752 "Realm crash: reason: 'std::exception'"
## Goals
App not crashing when using Realm Studio

## Expected Results
We able to use Realm Studio to view DB state in real-time (when the application works)

## Actual Results
Application crashes with the following stack trace:

[code]

## Steps for others to Reproduce
1) Run the application and create Realm notifications (observe some objects or a collection)
2) Run Realm Studio and open your re

[2020-09-11 08:36] SquaredTiki commented on #6749
@tgoyne That's interesting. I wonder, if you have time of course, if you're able to distill the issue into a simple sample project it'd be worth filing a bug report with Apple for this. Arguably even if Realm was doing something not quite right with named pipes it shouldn't be able to cause the springboard to freeze and restart affecting the whole system.

@kunalsood Good question. My hunch is tha

[2020-09-11 09:36] pavel-ship-it commented on #6737
@CapnSpellcheck you could check out this issue #1849
What you can do is - instantiate unmanaged object, then add it into realm.

[2020-09-11 10:49] pavel-ship-it commented on #6750
@haihaien as @kunalsood said we have multiple issues opened on that matter. We are working to solve them.
Meanwhile you could help us by filling the issue template.
Also what version of Realm you are using? Did you upgrade to Realm Cocoa 5.4.0?

[2020-09-11 11:35] joaopdcgarcia commented on #6586
I'm already saving it with realm 3.11.0 but I'm getting the same error

`ERROR {"errorCode":6,"failureReason":"Content: Error loading up ReadOnlyContent.realm","domain":"io.realm","errorDescription":"The Realm file format must be allowed to be upgraded in order to proceed."}`

[2020-09-11 12:17] joaopdcgarcia commented on #4809
how is this closed? we're seeing the same issue on RealmSwift

[2020-09-11 13:59] phoney commented on #6688
Hmmm. My Podfile line is ```pod 'RealmSwift', '~> 5.0'``` Is yours the same? I'm currently on Realm 5.4.0 but this seemed to go away with 5.3.5.

One other cleaning suggestion: close Xcode, delete the folder in Library/Developer/Xcode/DerivedData/ for your project. This does slightly more than opt-clean.

[2020-09-11 14:18] itenyh commented on #6751
@owenzhao  I tried several version of Realm Cocoa combine with different version of Realm Studio and I draw the conclusion as described above.

[2020-09-11 14:38] jlavyan opened #6754 "Multiply user logout issue"
## Bug

**instead of user logout called current user logout see images below**.

![Screen Shot 2020-09-11 at 6 29 47 PM](https://user-images.githubusercontent.com/3755088/92938476-a5dbc200-f45d-11ea-9231-1d598e52984f.png)
![Screen Shot 2020-09-11 at 6 28 03 PM](https://user-images.githubusercontent.com/3755088/92938481-a83e1c00-f45d-11ea-8687-957a86b10b4d.png)
![Screen Shot 2020-09-11 at 6 28 10 P

[2020-09-11 16:40] sedwo commented on #6572
Confirmed no crash on RealmSwift (5.4.0)

[2020-09-11 17:08] pavel-ship-it commented on #6751
@itenyh The next week we're expecting the release of the Realm Studio 3.12. Could you please try your database against this version?

[2020-09-11 17:16] traviskaufman commented on #6161
Any way to use combine and still write to realm without notifying that publisher?

[2020-09-11 17:16] tgoyne commented on #6749
Apple generally only releases updates for old versions of iOS for critical security issues and it's already fixed in the latest released version, so it's unlikely that Apple would backport whatever change fixed it.

[2020-09-11 17:23] pavel-ship-it commented on #6754
Hi @jlavyan , you could use `switchToUser` method or call `logOut` directly on User object (please notice there are 2 logOut methods for User - with completion (you're using it) and without it).

[2020-09-11 17:29] SquaredTiki commented on #6749
That's a good point, slipped my mind that this was already fixed in 13+!

[2020-09-11 17:40] joaopdcgarcia commented on #6638
![image](https://user-images.githubusercontent.com/8989587/92956099-33b7ad00-f45e-11ea-8048-7728b3764dc7.png)
I'm getting this on Realm Studio

[2020-09-11 18:27] uglyelf commented on #6688
Right right. I cleared the derived data as stated a couple responses ago. Always clear the derived data. :)
I don't have limitations on my pod file for realm. Here are my versions in the Podfile.lock regarding realm:
  - Realm (5.4.0):
    - Realm/Headers (= 5.4.0)
  - Realm/Headers (5.4.0)
  - RealmSwift (5.4.0):
    - Realm (= 5.4.0)

[2020-09-11 18:35] ericjordanmossman commented on #6717
I'm seeing the same with 5.4.0 too (`fatal error: 'realm/keys.hpp' file not found`). We'll still need to narrow down the cause.

[2020-09-11 19:48] #6735 closed

[2020-09-11 20:04] hipwelljo commented on #6721
Should this be resolved in version 5.4.0? I continue to see this crash.

[2020-09-11 23:51] tgoyne commented on #6721
I forgot to actually bump the submodule pointer to pull it in. It'll be in the next release.

[2020-09-12 02:38] owenzhao commented on #6751
You should aware that Realm Cocoa 5.4.0 is format breaking. Once you installed 5.4.0, all other version realms prior to 5.4.0 cannot deal with the database 5.4.0 created. So you may just doing extra work for nothing.

[2020-09-12 04:10] kunalsood commented on #6730
**UPDATE**: In my (completely anecdotal/unsubstantiated) testing with Realm Cocoa 5.4.0, I have been unable to re-produce this crash. I will post another update in the next few days.

[2020-09-12 08:49] itenyh commented on #6751
@owenzhao  To better express my idea, I create three sample realm DB:

1 - encrypt can not open :  this one is encrypted and has a comparatively larger size. When open with Realm studio I get "Opening Realm files of format version 0 is not supported by this version of Realm".

2 - not encrypt can open: this one is not encrypted and has exactly the same data as 1.  It can be opened by Realm studio

[2020-09-12 09:34] jlavyan commented on #6754
Hi @pavel-ship-it  thanks for response

1. I don't think switchToUser best way for logout from specific user
2. Check first image i call logout directly on User, but when i check method functionality looks like it called current user logout instead of user which called logout

[2020-09-12 10:10] owenzhao commented on #6751
After a little search I found this issue was widely happened across all Realm implementations with js, java and cocoa, on encrypted big realm databases.

js https://github.com/realm/realm-js/issues/3002
java https://github.com/realm/realm-java/issues/6889
cocoa https://github.com/realm/realm-cocoa/issues/6638
cocoa https://github.com/realm/realm-cocoa/issues/6692

@iteyh Are you sure that the "2 -

[2020-09-12 15:52] jsflax commented on #6161
@traviskaufman Depends on how you are trying to use it. Could you give us a sample? There are ways to use both Realm and/or Combine to filter certain results.

[2020-09-12 22:03] itenyh commented on #6751
@owenzhao   Yes, quite sure and you can use these samples as you want.  I find that I set the schemaVersion to be 5 when I create these samples, but I think it does not matter.

One more point is that, before upgrading to 5.3.6 I used 3.11.2 which can encrypt and decrypt the big realm DB correctly.

Hope this issue could be fixed as soon as possible, otherwise I can not publish my application safe

[2020-09-13 04:54] owenzhao commented on #6751
@tgoyne

I have just done a research of mine. I created a very simple model.

[code]

And then write as many items of the model as possible to the disk. Each time, I will remove the realm file manually in Finder.

[code]

I found something that seemed not right.

1. When max was 187_0908, the size of encrypted database was 79 MB. The file couldn't be opened again.
2. When max was 187_0907, just on

[2020-09-13 18:06] alexjameslittle opened #6756 "Count underflow exception when observing realm on a background thread"
## Goals

Observing realm results on a background queue using the new combine publishers released in v5.0

## Expected Results

I'm expecting to be able to observe realm results on said background thread, freeze the results and map them to different (non realm) objects before receiving them on the main thread to update the UI.

## Actual Results

[code]

Stacktrace:
[code]
## Steps for others to R

[2020-09-13 18:55] traviskaufman commented on #6161
Yeah for sure! Thanks so much for getting back to me 😄

So my primary use-case is that I want to be able to perform ui-driven updates using Combine API.

So for example, say I have this example table view controller

[code]

The `items` collection powers all of the `UITableViewDataSource` methods, etc.

Now say I want to add a "swipe right to complete" option:

[code]

So in this case, I try to co

[2020-09-14 01:38] haihaien commented on #6750
5.3.2
.
I'm going to upgrade to 5.4.0 to see.

[2020-09-14 08:00] geragray commented on #6636
@destryteeter could you please try reproducing the issue with the latest Realm Swift 5.4.0 (in includes fix from https://github.com/realm/realm-core/issues/3904)

[2020-09-14 08:10] geragray commented on #6577
@goa Could you please upgrade and try reproducing with realm-cocoa 5.4.0 (which included a fix for this problem https://github.com/realm/realm-core/issues/3904)

[2020-09-14 08:47] alexjameslittle commented on #6756
This is an issue with the `freeze()` function being called on a background thread, everything works perfectly without

[2020-09-14 08:50] jsflax commented on #6756
Hey @alexjameslittle , could you try calling `threadSafeReference` before `.subscribe(on: queue)` in your combine chain?

[2020-09-14 08:52] alexjameslittle commented on #6756
Hi @jsflax that seems to work, thank you!

[2020-09-14 08:54] jsflax commented on #6756
Perfect 😄

[2020-09-14 08:54] #6756 closed

[2020-09-14 10:09] leemaguire commented on #6752
Hi @codemeister64

Since 5.3.6 we introduced a mechanism to combat an issue in iOS 14 beta where file locking when background an app would cause it to crash. I believe what you are seeing is an byproduct of that fix we introduced.

@tgoyne would it make sense if the simulator took a different method to file locking?

[2020-09-14 12:17] RajAggrawal0507 commented on #6096
I am also facing the same issue and it is also the highest crasher for my application.
This crash happens in production build only. Never reproduce that issue in Dev/QA sessions.

[2020-09-14 14:04] jedelbo commented on #6751
@leemaguire was able to reproduce this and created a file that fails to open. I will create a Core test case.

[2020-09-14 15:07] tgoyne commented on #6752
https://github.com/realm/realm-core/pull/3907 switches the simulator back to the old locking scheme for Studio compatibility.

[2020-09-14 15:34] marchy commented on #6161
Hey @traviskaufman, just to chime in at a high level you should not use a full reload .reloadData() on table-view updates.

Look up diffable data sources that were introduced in iOS 13 ([link](https://wwdcbysundell.com/2019/diffable-data-sources-first-look/)), which is the de facto way any such updates should be handled.
These have the benefit of automatically animating item removals, so your anim

[2020-09-14 15:36] andreadelfante commented on #6724
Hi there,
I have the same issue during my migration tests. I have upgraded RealmSwift from version 4.4.1 to 5.4.0.

[code]

[2020-09-14 16:27] jedelbo commented on #6751
Root cause of this problem has been found.

[2020-09-14 16:31] jedelbo commented on #6638
I assume you use encryption in this case. If so, the root cause of this issue has been found.

[2020-09-14 18:22] jedelbo commented on #6731
Duplicate of https://github.com/realm/realm-java/issues/6889

[2020-09-14 18:22] #6731 closed

[2020-09-14 18:27] jedelbo commented on #6751
Duplicate of https://github.com/realm/realm-java/issues/6889

[2020-09-14 18:27] #6751 closed

[2020-09-14 18:56] destryteeter commented on #6636
Checking.  Running the app for about 1.5 hours now and so far so good.

[2020-09-14 19:07] hyouuu commented on #6694
Thank for looking into this @tgoyne ! I'm sorry currently too busy to make a complete repro case. But I'd imagine this scenario should be easy to reproduce. The core logic involved is:

[code]

[2020-09-14 21:22] destryteeter commented on #6636
~4 hours in.  Xcode crashed on me (Some apple bug I think) so I will start my endurance test over.

[2020-09-15 00:03] tgoyne opened #6760 "Add support for suppressing notifications when using Combine"
`Realm.write()` takes an array of `NotificationToken`s which will not be notified about the write, which is intended to be used when the UI has been updated prior to writing to the Realm rather than the normal flow of writing to the Realm and then updating the UI from that. It currently isn't possible to use this in conjunction with the Combine publishers as those do not expose the `NotificationTo

[2020-09-15 00:04] tgoyne commented on #6161
@traviskaufman [I've created a new feature request](https://github.com/realm/realm-cocoa/issues/6760) for that. I don't see any straightforward way to do it currently.

[2020-09-15 02:05] traviskaufman commented on #6760
I know this would be a very major undertaking, and there's probably an easier way to do (I'm just pretty unfamiliar with Realm's codebase) but I wonder how crazy/possible would it be to extend the concept of Realm's NotificationToken out into a protocol that AnyCancellable could be extended to adopt?

[2020-09-15 02:25] tgoyne commented on #6760
Sorta unrelated, but now that you mention it `NotificationToken` probably should conform to `Cancellable`.

The notification skipping logic is embedded pretty deeply into the (c++) changeset calculation code so that it can properly handle things like notification coalescing (if you make a series of small writes we deliver a single notification with the changes from all of them rather than one noti

[2020-09-15 06:20] chchrn commented on #6717
I have the same problem on with Xcode12 beta 6, realm 5.4.0, carthage 0.35.0

[2020-09-15 08:19] jedelbo commented on #6724
@bennettyuan18 , @andreadelfante or @varyP would it be possible to share a realm that causes this behavior? You can share it privately by sending it to jorgen.edelbo@mongodb.com.

[2020-09-15 10:14] andreadelfante commented on #6724
My email is coming right up!

[2020-09-15 11:42] #6658 closed

[2020-09-15 11:43] RealmBot opened #6761 "Make User and App Observable"

[2020-09-15 11:56] RealmBot opened #6762 "Break up `Sync.swift` and `App.swift` into multiple files"
For the sake of organisation and consistency, these files have grown enough to be broken up into their own subfiles.

[2020-09-15 12:30] ganesh-ananthan opened #6763 "realm::util::EncryptedFileMapping::read_barrier"
Application getting crash intermittently after upgraded to version 5.3.6 and 5.4.0.

Realm framework version: 5.4.0
Xcode version: 11.2
iOS/OSX version: 13.7
Dependency manager + version: CocoaPod Latest

Incident Identifier: 901c3fd7-625d-4173-95a0-80f6da312643
CrashReporter Key:   B5E6761D-6702-4CC1-A55F-EDF920BD93A9
Hardware Model:      iPhone8,2
Process:         AppName [377]
Path:

[2020-09-15 13:11] SquaredTiki commented on #6749
@tgoyne Is the plan still to implement a workaround for iOS 10, 11, 12 or only use the new changes on iOS 14?

[2020-09-15 13:36] kunalsood commented on #6730
**UPDATE**: Still hitting this crash on 5.4.0

[2020-09-15 13:50] ericjordanmossman commented on #6763
@jedelbo @finnschiermer
Is this stack trace related to the latest core changes?

[2020-09-15 14:50] jedelbo commented on #6763
Not the latest changes. I think it looks like something we have seen before - I just can't find it.

[2020-09-15 14:50] tgoyne commented on #6749
https://github.com/realm/realm-core/pull/3907 fixes this and should be pulled into a release soon.

[2020-09-15 17:03] ericjordanmossman commented on #6588
@finnschiermer @jedelbo
As sinoru mentioned, this does look like the same issue. I'm inclined to say this [reported crash](https://github.com/realm/realm-cocoa/issues/6588#issue-642569940) should be affected by https://github.com/realm/realm-core/issues/3904 also.

Is that accurate?

[2020-09-15 17:15] ericjordanmossman commented on #6750
Thanks.
But please also fill out the issue template. As @kunalsood mentioned there are several ongoing reports of similar crashes. In order for us to clearly tell if #6750 is related to other reports or requires separate investigation, please:
-  fill out the issue template fully
- Provide the entire stack trace

[2020-09-15 17:24] ericjordanmossman commented on #6611
@MarcoCarnevali

Does this issue persist when following @tgoyne's second to last comment (check validation inside write)? You may still be experiencing this:

[2020-09-15 17:35] ericjordanmossman commented on #6370
Closing because of inactivity. Please see @leemaguire's [comment above](https://github.com/realm/realm-cocoa/issues/6370#issuecomment-658275407).

[2020-09-15 17:35] #6370 closed

[2020-09-15 17:36] jeanbaptistebeau commented on #6647
Is this fix released? I'm on 10.0.0 beta 3 but the bug seems to be still here.

[2020-09-15 17:42] ericjordanmossman commented on #6754
@jlavyan
Thanks. This is a bug. Should be resolved with #6765 .

[2020-09-15 17:58] ericjordanmossman commented on #5857
Closing on inactivity.

[2020-09-15 17:58] #5857 closed

[2020-09-15 18:02] ericjordanmossman commented on #6495
Closing on inactivity. If someone is able to answer @leemaguire 's [question above](https://github.com/realm/realm-cocoa/issues/6495#issuecomment-627834673), please comment and we can re-open the issue if a bug is present.

[2020-09-15 18:02] #6495 closed

[2020-09-15 18:31] #6754 closed

[2020-09-15 18:38] ericjordanmossman commented on #6698
Closing because of[ recommendation above](https://github.com/realm/realm-cocoa/issues/6698#issuecomment-676667790). If anyone sees a similar exception, please open a new issue with the full stack trace.

[2020-09-15 18:38] #6698 closed

[2020-09-15 19:02] ericjordanmossman commented on #6637
@bennettyuan18
This looks like the same issue as #6724 . I'll close this issue in favor of #6724 because #6724 is centered on our latest version and the comments are more current.
If you think this issue needs to be addressed separately, please comment, then we can re-open.

[2020-09-15 19:02] #6637 closed

[2020-09-15 19:21] ericjordanmossman commented on #6583
Closing this thread because of the solutions [here](https://github.com/realm/realm-cocoa/issues/6583#issuecomment-648449601) and [here](https://github.com/realm/realm-cocoa/issues/6583#issuecomment-649104248).
@homathko If I missed something else, feel free to comment and we can re-open.

[2020-09-15 19:21] #6583 closed

[2020-09-15 19:22] #6548 closed

[2020-09-15 19:25] #6531 closed

[2020-09-15 19:31] ericjordanmossman commented on #6507
Closing because of inactivity.
@auro-krishna If you're still experiencing this issue, please comment on @leemaguire 's [questions here](https://github.com/realm/realm-cocoa/issues/6507#issuecomment-647569985).

[2020-09-15 19:31] #6507 closed

[2020-09-15 19:41] #6566 closed

[2020-09-15 20:06] #6480 closed

[2020-09-15 20:08] #6477 closed

[2020-09-15 20:11] ericjordanmossman commented on #6473
Closing because of inactivity.
@philblais If you're still having this issue and believe it's a bug, please address @leemaguire 's [questions](https://github.com/realm/realm-cocoa/issues/6473#issuecomment-650249163) in this thread.

[2020-09-15 20:11] #6473 closed

[2020-09-15 20:33] ericjordanmossman commented on #6386
Closing because of inactivity.
@dipkasyap If you're still seeing this issue with the latest versions please comment with the full stack trace and we can re-open.

[2020-09-15 20:33] #6386 closed

[2020-09-15 20:36] ericjordanmossman commented on #5669
Closing because of age/inactivity. See [this link for more](https://github.com/realm/realm-cocoa/issues/4300) reading. Please open a new issue if you're still seeing anything similar with Carthage.

[2020-09-15 20:36] #5669 closed

[2020-09-15 20:41] ericjordanmossman commented on #6355
Closing because of issue template/context and inactivity.

[2020-09-15 20:41] #6355 closed

[2020-09-15 20:44] ericjordanmossman commented on #5968
Closing because of inactivity.
If anyone is still seeing this issue, please comment in this thread with RealmSwift and Xcode version numbers.

[2020-09-15 20:44] #5968 closed

[2020-09-15 20:48] #5950 closed

[2020-09-15 20:51] #5935 closed

[2020-09-15 20:54] ericjordanmossman commented on #5780
Closing because of inactivity.
If anyone is still seeing this issue in realm-cocoa >5.x please address @leemaguire 's [questions ^ above](https://github.com/realm/realm-cocoa/issues/5780#issuecomment-647562824).

[2020-09-15 20:54] #5780 closed

[2020-09-15 21:01] ericjordanmossman commented on #5777
Closing - See @tgoyne comment's on [using User](https://github.com/realm/realm-cocoa/issues/5777#issuecomment-390889040) and package management.

[2020-09-15 21:01] #5777 closed

[2020-09-15 23:46] jafara commented on #6717
i moved to cocoapods, carthage is dead

[2020-09-16 02:54] huangwz opened #6766 "about "order by""
!!! MANDATORY TO FILL OUT !!!

关于 "order by " 排序的问题
about "order by"
## Goals

**Chinese**
之前使用realm版本为3.13.1，对表查询数据，返回的结果默认是按写入时的顺序排列的返回的。
但是在新realm版本5.3.5，对表查询数据，返回的结果不再按写入时的顺序来返回数据了，
现在realm从3.13.1升级到5.3.5，同时想对表查询数据，返回的结果默认是按写入时的顺序排列的，这个问题应该怎么处理呢？
realm有没有类似oracle的rowid内置字段呢？
**english**
Before using the realm version of 3.13.1, for query data, the returned results are returned by default in th

[2020-09-16 04:48] KimiChiu commented on #6686
Any update on this issue?
It crashed my app 1200 times a week.
Should we remove `autoreleasepool`?

[2020-09-16 05:03] illabo commented on #6685
As Xcode 12 is GM seed now and release is expected in hours perspective it seem the right time to revive the topic.
[code]
**Cocoapods 1.10**  (at least rc 1) doesn't remedy this issue no matter **Pods Project Base SDK** and/or **Supported Platform** is set to **macOS** or **iOS**, **Build Active Architectures Only** is set to **Yes** for debug or to **No**, **i386** is in **Excluded Architectures

[2020-09-16 06:26] ganesh-ananthan commented on #6763
@jedelbo is that resolved in any specific version. We adopted the latest Realm (5.3.6 followed by 5.4.0) to avoid the deadlock case on iOS 14.

Do we need to perform / modify any changes from application side to avoid the realm::util::EncryptedFileMapping::read_barrier issue ?

[2020-09-16 07:55] #6609 closed

[2020-09-16 08:35] jordimele commented on #6684
Realm framework version: 5.4.0

Xcode version: Xcode 12 GM (12A7209)

iOS/OSX version: iOS 14 simulator

Project with iOS app & watchOS app

The same problem:

<img width="1574" alt="SAMPLES_Error" src="https://user-images.githubusercontent.com/11957195/93312680-ca41f080-f807-11ea-82dc-7d35da67599b.png">

Do you know when it will be resolved?

[2020-09-16 09:47] denysowova opened #6767 "Crash due to a NoSuchTable exception"
## Goals
Our app has been crashing occasionally due to the NoSuchTable exception being thrown. Unfortunately we cannot reproduce the issue. We've tried updating to the latest Realm version multiple times, but it didn't help.

The exception backtrace on Crashlytics is as following:

[code]

[code]

[code]

## Version of Realm and Tooling
Realm framework version: 5.3.2

Xcode version: 11.7

iOS vers

[2020-09-16 10:02] jedelbo commented on #6724
The realms received from @andreadelfante did not give any hint as to what may be wrong here.
It should be noted that the stacktrace provided by @varyP is pointing to a different issue.

[2020-09-16 10:16] jedelbo commented on #6680
This is expected to be resolved in v5.3.6. If not please reopen.

[2020-09-16 10:16] #6680 closed

[2020-09-16 10:55] jedelbo commented on #6763
If you get this error, it is definitely a problem that should be solved in the storage engine. If you see this in v5.3.4, then the problem has not been solved.

[2020-09-16 11:19] jedelbo commented on #6656
This could also be a variation of https://github.com/realm/realm-java/issues/7057

[2020-09-16 11:43] ganesh-ananthan commented on #6763
Thanks @jedelbo , when can we expect the release with this fix?
We don't like to fall back on deadlock crashes.

[2020-09-16 14:47] MarcoCarnevali commented on #6611
@ericjordanmossman today I was able to fix this issue:
while deleting the object I had a reference on other parts of the app of that object. However even if the thread was the same It's weird that `object.isInvalidated` is always false but then it crashes

[2020-09-16 16:00] ericjordanmossman commented on #6222
Closing because of issue age/inactivity
If anyone sees a similar crash, please open a new issue.

[2020-09-16 16:00] #6222 closed

[2020-09-16 16:05] ericjordanmossman commented on #6218
@JonathanChen123 @MortyMerr @iDevid
Have any of you experienced this with Realm >5.x?

[2020-09-16 16:06] #6217 closed

[2020-09-16 16:08] ericjordanmossman commented on #6214
Closing because of inactivity.
If anyone sees a similar crash please open a new issue.

[2020-09-16 16:08] #6214 closed

[2020-09-16 16:16] ericjordanmossman commented on #6202
Closing because of inactivity.
If anyone is still experiencing this crash with the latest major version, please open a new issue.

[2020-09-16 16:16] #6202 closed

[2020-09-16 16:22] #6749 closed

[2020-09-16 16:52] jsflax commented on #6767
@denysowova are you able to follow the stacktrace up to your app code? Having some sample code would help us in reproducing/debugging the issue.

[2020-09-16 17:27] natemann commented on #6760
This was discussed a long time ago with NotificationTokens, but without knowing what this API would look like, it would be very beneficial if the API could simply state do not notify all tokens instead of having to supply explicit tokens.

[2020-09-16 20:09] ericjordanmossman commented on #6766
I'm unsure of `Results` naturally being ordered by write order. Does this happen by default, @tgoyne @jsflax ?
And if one requires `Results` ordered by write, would best practice be sorting on a custom timestamp field? Or would there be a more efficient way?

[2020-09-16 20:16] tgoyne commented on #6766
The order of unsorted Results has always been unspecified. It used to start out in insertion order but change when objects were deleted. The order is now stable, but is not in insertion order for objects with primary keys. If you want objects to be in a specific order, you should either use a List or sort on a property which gives that order.

[2020-09-16 20:35] olejnjak commented on #6717
Any progress on this? Or any hints how this could be fixed? 🙂

[2020-09-16 20:39] ericjordanmossman commented on #6717
@olejnjak No update yet. Will let you know. :slightly_smiling_face:

[2020-09-16 20:43] olejnjak commented on #6717
Thanks for quick update 🙂 is there any hint where to start when trying to fix this issue? I'm open to contribution but it would be nice to know where to start 🙂

[2020-09-16 21:57] jjarroyo opened #6771 "help update version realm and xcode"
error Compiling for iOS 9.2, but module 'RealmSwift' has a minimum deployment target of iOS 12.0:

xcode 12

in the documentation it says Target of iOS 9 or higher

[2020-09-17 03:36] zxmios opened #6772 "Xcode 12 RealmSwift 5.2.4 cannot be imported by the Swift 5.3 compiler"
Xcode 12 RealmSwift 5.2.4 cannot be imported by the Swift 5.3 compiler

[2020-09-17 04:08] #6772 closed

[2020-09-17 05:38] qazwini opened #6773 "iOS 14 GM - Fatal error due to memory"
## Goals

Write to Realm database in app group.

## Expected Results

Writes to database, like usual.

## Actual Results

Ever since iOS 14, every time I try to rewrite my objects (I rewrite them every on update and there are about 1400. i delete the old objects at the end), I get this error:
[code]

I tried adding this:
[code]
but it only led to more errors. This is what I get now:
[code]
And if

[2020-09-17 05:48] tengfoung opened #6774 "Unable to Archive RealmSwift with Xcode 12 GM"
## Goals
Successfully archive RealmSwift

## Expected Results
Able to archive RealmSwift with Xcode 12 GM

## Actual Results
Compilation error:
[code]
<img width="1059" alt="Screenshot 2020-09-17 at 1 45 23 PM" src="https://user-images.githubusercontent.com/4436592/93425178-0b133580-f8ec-11ea-8b8c-8c03c9f4aa0b.png">

## Version of Realm and Tooling

Realm framework version: 5.4.0

Xcode version: X

[2020-09-17 07:56] iDevid commented on #6218
Actually no

[2020-09-17 08:07] denysowova commented on #6767
@jsflax unfortunately no, we cannot find the exact place where the application crashes.
Our app has only one main workout model which contains collections of other smaller models, nothing crazy. When the user works out, we frequently write to Realm. After the workout is finished, we send this data to our backend and delete this workout object from Realm. So the workflow is very simple and we don't

[2020-09-17 08:46] aczel opened #6775 "Direct access in function warning"
ld: warning: direct access in function 'auto realm::sync::Instruction::visit<(anonymous namespace)::RecoverLocalChangesetsHandler&>((anonymous namespace)::RecoverLocalChangesetsHandler&)' from file '/Users/xyz/Documents/Project/Pods/Realm/core/librealmcore-ios.a(client_reset.o)' to global weak symbol 'typeinfo for realm::Lst<realm::Timestamp>' from file '/Users/xyz/Documents/Project/Pods/Realm/cor

[2020-09-17 10:07] Rep2 commented on #6774
Same issue here

[2020-09-17 10:26] tengfoung commented on #6774
Looks like pre-built binary is otw (https://github.com/realm/realm-cocoa/pull/6770). Let's wait and see.

[2020-09-17 10:37] jordimele commented on #6684
Realm framework version: 5.4.1

Xcode version: Xcode 12 (12A7209)

iOS/OSX version: iOS 14 simulator

Project with iOS app & watchOS app

The same problem:
<img width="1589" alt="watch_error" src="https://user-images.githubusercontent.com/11957195/93459141-92a77700-f8e1-11ea-970f-3e9220348186.png">

With the latest version released to the store yesterday of Xcode 12 and the latest version of Realm

[2020-09-17 10:54] zht415 opened #6776 "RealmSwift报错：Module compiled with Swift 5.2 cannot be imported by the Swift 5.3 compiler"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?

Realm Object Server version: ?

Xcode version: ?

iOS/OSX version: ?

Dependency manager + version: ?

[2020-09-17 11:12] HeshamHaleem commented on #6685
I am on the Xcode 12 GM now and non of the above is working anymore.

[2020-09-17 11:24] AmrAbedal opened #6778 "DynamicObject subscript supposed to return Any? but it crashes Internally"
[code]
code crashes in  `if let mobileNumber = oldObject?["userMobileNumber"] as? String`
because of the internal implementation of **DynamicObject** subscript .
[code]
By looking at  **RLMDynamicGetByName** implementation
[code]
it throws exception when prop refer to null

[2020-09-17 12:34] bmunkholm commented on #6656
@cferg-entale Yeah you shouldn't be doing write transactions within write transactions. But also you shouldn't be able to provoke a crash like this. Since you haven't seen this again and since above hints at this potentially being fixed, I'll close this for now. Please do create a new issue should you see this again.
Thanks!

[2020-09-17 12:34] #6656 closed

[2020-09-17 13:11] finnschiermer commented on #6767
Matches this Core bug https://github.com/realm/realm-core/issues/3761

[2020-09-17 13:42] finnschiermer commented on #6763
Looks like https://github.com/realm/realm-core/pull/3838. (which was considered fixed)

@ganesh-ananthan Are you using encryption in your app?

[2020-09-17 13:45] ganesh-ananthan commented on #6763
@finnschiermer No we are not using encryption. We kept the realm file in shared group directory and accessing from app and notification extension.

[2020-09-17 13:57] finnschiermer commented on #6763
@ganesh-ananthan Thx. This is a bug we cannot reproduce at the moment, so any additional observations, clues etc are very welcome. A repro case could make a huge difference.

[2020-09-17 14:03] ganesh-ananthan commented on #6763
We don't have a standard case to get this issue, we got this crash in different scenario where we do access the realm from different thread.

After update to latest Realm (5.3.6, 5.4.0) we do see such a crash. Here are points you can consider that we use Realm in our app

1. We don't have any serialisation for realm read and write.
2. We do use autoreleasepool for write activity.

[2020-09-17 14:27] ericjordanmossman commented on #6778
This is intentional. It's required that the property exist on the objectSchema.
[code]

- Can you confirm the property exists on the objectSchema in the old schema?
- Can you share the Realm version number?
- Can you share the full crash log (if it's any different than `@throw RLMException(@"Invalid property name...`)

[2020-09-17 14:39] ericjordanmossman commented on #6776
I'm closing because the template is not filled out. If this is unintentional, please re-open a new ticket instead of editing the original post.

[2020-09-17 14:39] #6776 closed

[2020-09-17 14:41] ericjordanmossman commented on #6775
@aczel
Could you please fill out the issue template? Include version numbers, expected/actual behavior, formatting, etc.

[2020-09-17 15:27] tgoyne commented on #6685
When using CocoaPods 1.10.rc.1, try pointing at the `lm/pod-xcframework` as that's the branch which relies on 1.10 changes.

[2020-09-17 15:31] Senocico commented on #6717
The same issue 😱

[2020-09-17 15:34] destryteeter commented on #6636
Alright, I think you got it.  Running Realm 5.4.0 for 10+ hours without a crash.

Thank you for this fix.  This will help with my transition from using Cocoapods to using Carthage (which doesn't support Realm 3.x) to manage my dependencies and greatly increase my build times against the Realm framework.

[2020-09-17 15:52] Senocico opened #6780 "Xcode 12 Carthage Support"
It does not compile with Carthage.

Run

`carthage update --platform iOS realm-cocoa`

You will receive the following error 🛑  :

[code]

Any solutions?

[2020-09-17 16:14] tgoyne commented on #6780
Duplicate of #6717.

[2020-09-17 16:14] #6780 closed

[2020-09-17 16:34] ericjordanmossman commented on #6717
[carthage-xcodebuild.HvGU99.log](https://github.com/realm/realm-cocoa/files/5240559/carthage-xcodebuild.HvGU99.log)
@tgoyne Take my failing build log for example -- the build fails on `fatal error: 'realm/keys.hpp' file not found
#include <realm/keys.hpp>`.

`realm/keys.hpp` is a header file in realm-core.
Sure enough I can see that in the process of downloading the submodule realm-core, the downl

[2020-09-17 16:36] tgoyne commented on #6717
So far it appears to be a combination of Xcode 12's xcframework logic being incorrect when more than one target in a project depends on the same xcframework and carthage building a scheme that it shouldn't be building, which causes it to hit the xcode problem. I'm currently experimenting with workarounds.

[2020-09-17 16:37] #6774 closed

[2020-09-17 17:08] ericjordanmossman commented on #6773
@qazwini
Closing as a duplicate of #6572

- Please check out the posts on [pinning/releasing](https://github.com/realm/realm-cocoa/issues/6572#issuecomment-662770639) versions in this thread.
- "I rewrite them every on update" - Try looking into using [update](https://realm.io/docs/swift/5.4.1/api/Structs/Realm.html#/s:10RealmSwift0A0V12UpdatePolicyO)
- Also note there was in fact a bug with [rele

[2020-09-17 17:08] #6773 closed

[2020-09-17 17:25] ericjordanmossman commented on #6771
It's hard to tell the issue here without more context.

- If you're having issues with SwiftPM and iOS 9, [see this](https://github.com/realm/realm-cocoa/pull/6777#issuecomment-694284029).
- If you're having issues with iOS 9 and minimum deployments in general for Xcode, [see this](https://stackoverflow.com/questions/58168512/how-to-install-ios-9-x-simulator-on-xcode-11).
- If it's something else,

[2020-09-17 18:54] ashwiniPersonal opened #6781 "Realm crashes intermittently"
#6781  Goals
Realm should not crash.

## Expected Results
Application should not crash due to crash in realm.

## Actual Results
Crashed: MyLibraryraryWriteQueue
0  libsystem_kernel.dylib         0x1ac810df0 __pthread_kill + 8
1  libsystem_pthread.dylib        0x1ac730948 pthread_kill + 228
2  libsystem_c.dylib              0x1ac6bfba4 abort + 104
3  Realm                          0x10f9f95e8 plea

[2020-09-17 19:07] bmunkholm commented on #6636
Awesome @destryteeter! I'll close this one then. Let us know if you run into anything else or have any other improvement suggestions.

[2020-09-17 19:08] #6636 closed

[2020-09-17 19:31] #6218 closed

[2020-09-17 20:44] ericjordanmossman commented on #6781
@jedelbo @finnschiermer
This is the first issue with `realm::ArrayBinary::init_from_mem` I've seen since #6411 . Do you believe this crash would be affected by changes in >6.x?
Realm 3.21 uses realm-core 5.23.5.

[2020-09-17 20:49] ericjordanmossman commented on #6212
Closing because of inactivity.

[2020-09-17 20:49] #6212 closed

[2020-09-17 20:50] ericjordanmossman commented on #6194
Closing because of inactivity.

[2020-09-17 20:50] #6194 closed

[2020-09-17 20:52] ericjordanmossman commented on #6166
Closing.
See recommendation above ^.

[2020-09-17 20:52] #6166 closed

[2020-09-17 21:27] ericjordanmossman commented on #6147
Closing because of thread age.
@quangtandat @AlekseiR If this is still occurring please see @leemaguire 's [question here](https://github.com/realm/realm-cocoa/issues/6147#issuecomment-648080414).

[2020-09-17 21:27] #6147 closed

[2020-09-17 21:34] ericjordanmossman commented on #6132
Closing because of age.
@trant @qasimmajeed @martinstoyanov If this is still occurring, can you please see @leemaguire 's [comment](https://github.com/realm/realm-cocoa/issues/6132#issuecomment-652335080) and create a new issue with the latest versions.

[2020-09-17 21:34] #6132 closed

[2020-09-17 21:37] ericjordanmossman commented on #6135
Closing because inactivity.

[2020-09-17 21:37] #6135 closed

[2020-09-18 00:25] sedwo opened #6782 "Realm Studio v3.11 Error: "Opening Realm files of format version 11 is not supported by this version of Realm""
Using Realm (5.4.1) with Xcode 12 and iOS 14 simulator.

![image](https://user-images.githubusercontent.com/1434449/93541269-edfa5900-f923-11ea-8d70-8a56fbe7f98e.png)

[2020-09-18 01:06] sedwo commented on #6688
+1

[2020-09-18 02:11] tgoyne commented on #6717
v5.4.2 switches the prebuilt carthage artifact to being built with Xcode 12, but this is unfortunately via [ridiculous hacks](https://github.com/realm/realm-cocoa/blob/f64ac045d8cb171d8e317d9b854df7215aed7466/Jenkinsfile.releasability#L129) and not by fixing the root problem, so if you specifically want to build from source that still won't work.

[2020-09-18 03:01] caobug commented on #6717
Not working, Realm version: v5.4.2, Carthage: 0.35.1
[code]

[2020-09-18 03:10] HePingLaoSan commented on #6620
Does realm support Catalyst right now?

[2020-09-18 03:53] kunalsood commented on #4564
Is there any chance we can get some movement on this? I have mostly avoided using this kind of query on the database for years (I have been using Realm since before version 1.0), opting instead to filter in-memory as that is faster, but I'm now at the architectural design phase of an app where not having this query run on the database (in a performant manner) would be the only keeping me from usin

[2020-09-18 04:44] tgoyne commented on #4564
3.15.0 changed `IN` to use a hash table rather than a naive OR chain, so this may actually be fixed now. If the performance is still unacceptable with the new implementation then there's probably some room for easy improvements.

[2020-09-18 04:45] tgoyne commented on #6620
Yes, but it's currently fairly awkward when using an installation method other than spm, and as this issue notes we don't actually have an explanation of how to do it anywhere.

[2020-09-18 05:01] HePingLaoSan commented on #6620
Really? My universal app was stuck with realm, I am finding a way to solve this problem

[2020-09-18 07:47] kunalsood commented on #4564
@tgoyne Thanks for responding. Great news. Sorry for commenting before trying this.

Unfortunately, in the little bit of testing I have done so far, the performance is as bad (if not worse) as it was before. What takes 0.117705 seconds with an in-memory filter seems to take 18.909157 seconds using the IN query on the database.

In case my use case matters, I'm using this query a pre-sorted RLMArra

[2020-09-18 08:42] qazwini opened #6783 "Remove very high number of active versions"
!!! MANDATORY TO FILL OUT !!!

## Goals

Make a write transaction without issues.

## Expected Results

Setting `config.maximumNumberOfActiveVersions = 5` should remove my 5000 active versions.

## Actual Results

Getting this error:
[code]

## Steps for others to Reproduce

I basically messed up with my write transaction. I was doing something like:
[code]
On every update released, which was dest

[2020-09-18 09:03] myammm opened #6784 "v5.4.2 cannot be carthage update"
## Goals
Successful carthage update.

## Actual Results
xcodebuild log ↓
/Carthage/Checkouts/realm-cocoa/Realm/ObjectStore/src/object_changeset.hpp:24:10: fatal error: 'realm/keys.hpp' file not found

## Steps for others to Reproduce
I tried to update by the following method.
$ ./carthage-build.sh update --no-use-binaries --platform iOS realm-cocoa
(https://github.com/Carthage/Carthage/issues/3019

[2020-09-18 09:10] adamszeremeta opened #6785 "pod lib lint: module 'RealmSwift' was created for incompatible target arm64-apple-ios9.0"
!!! MANDATORY TO FILL OUT !!!

## Goals

I'm using Realm and Realm swift as vendored framework in my library. Executing Cocoapods pod lib lint failt with error:

ERROR | [iOS] xcodebuild:  error: module 'RealmSwift' was created for incompatible target arm64-apple-ios9.0: Frameworks/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64.swiftmodule

## Expected Results

pod lib lin executes succ

[2020-09-18 09:32] bguidolim commented on #6784
@myammm please try using this: https://gist.github.com/skymobilebuilds/61f4a95bd62a3db36b52719aeab7e0d5

It was mentioned some comments below: https://github.com/Carthage/Carthage/issues/3019#issuecomment-694329329

[2020-09-18 09:45] jbarros35 commented on #6685
Xcode 12 is not beta anymore, its oficial release and the problem persists. its not compiling anymore.

[2020-09-18 09:49] leemaguire commented on #6685
@jbarros35 what package manager & version of Realm are you using?

[2020-09-18 09:55] bguidolim commented on #6784
Ah, it's not about the script, same error here.

[2020-09-18 12:08] finnschiermer commented on #6588
@ericjordanmossman Yes, potentially fixed by https://github.com/realm/realm-core/issues/3904.

[2020-09-18 12:23] jbarros35 commented on #6297
librealmcore-ios.a(array_binary.o),

building for iOS Simulator, but linking in object file built for iOS, for architecture arm64

yes its happening but this project is IOS only.

[2020-09-18 13:03] bguidolim commented on #6784
Could it be related to https://github.com/realm/realm-cocoa/issues/6774 ?

[2020-09-18 13:09] bguidolim commented on #6783
I think this configuration is not intended to remove active versions, but only to give you a tool to understand what is happening and you fix by yourself.

You're probably opening instances of your database in different places at the same time, and somehow it's not being deallocated, generating multiple versions. This usually happens when you create new instances in a background thread.

You must

[2020-09-18 13:26] bguidolim commented on #6763
This crash is happening since v5.0.0, I'm trying hard to find a way to reproduce, but it's totally random. I have 3 different crash reports with the same error, and the problem is almost always in the same line of code:

[code]

After some investigation, I've seen this could be related to the Collection implementation of Realm, so I've changed the code above to this one:
[code]

I was hoping that

[2020-09-18 14:11] floorish opened #6786 "Slow Notification delivery on sorted Results"
## Goals
I'm observing a large (100k+ items) sorted `Results` query. When some `Object` is changed due to a user action, I want to update the UI as fast as possible.

## Expected Results
After a simple write to one of the items in the observed `Results` Realm sends a notification of this change in a reasonable amount of time (<200ms).

## Actual Results
Delivery of the Realm notification is very s

[2020-09-18 15:14] tgoyne commented on #6784
Duplicate of https://github.com/realm/realm-cocoa/issues/6717.

If using the prebuilt library is acceptable and you don't specifically need to build from source, you can simply remove `--no-use-binaries`.

[2020-09-18 15:14] #6784 closed

[2020-09-18 15:44] tgoyne commented on #6785
Please try updating cocoapods to 1.10.rc1 and pointing it at the `lm/pod-xcframework` branch. Note that this requires setting the branch for both Realm and RealmSwift even if you only use RealmSwift directly:

[code]

[2020-09-18 15:52] leemaguire commented on #6781
@ashwiniPersonal could you upgrade to Realm 5.4.2 and let us know if this issue occurs? Also if you could retrieve the Realm files from the users that have this issue and send it to us that would be a great help.

[2020-09-18 16:06] ericjordanmossman commented on #6783
@bguidolim is correct -- `maximumNumberOfActiveVersions` will not remove active versions, it [sets a cap on active versions ](https://github.com/realm/realm-cocoa/issues/6572#issuecomment-658274745)in order to prevent a situation where the number of active versions gets out of control. `maximumNumberOfActiveVersions` gives the developer more feedback on whether that's happening.

If you find yours

[2020-09-18 16:24] ericjordanmossman commented on #6782
@kraenhansen I believe this is because the latest [file format changes](https://github.com/realm/realm-core/blob/master/CHANGELOG.md#6024-release-notes) in realm-core. I'm going to transfer this issue to the realm-studio repository.

[2020-09-18 17:35] phoney commented on #6688
This bug came back in 3.4.1. I updated to 3.4.2 today and it still persists. I think we need to open another issue for it since this one is closed.

@tgoyne Do you understand the cause of this issue?

[2020-09-18 19:36] qazwini commented on #6783
Oh, I see. This is what I was doing:
[code]

Looks like using the `global()` queue was causing it. But not my progress bar doesn't work anymore. Is there a way to make it work?

[2020-09-18 23:26] tgoyne commented on #6717
https://github.com/realm/realm-cocoa/pull/6787 adds a better workaround that should make `carthage update --no-use-binaries` work.

[2020-09-18 23:44] tgoyne commented on #4564
Is the property you're querying on indexed? It appears that the IN optimization isn't used when there's an index under the assumption that the index lookups will be faster which... isn't true. In the scenario tested by a small modification to one of our benchmarks adding an index slows the query from 140ms to 16 seconds.

I guess I need to put together some measurements on when the index is and is

[2020-09-19 02:14] kunalsood commented on #4564
The property I'm querying is a string primary key property. So, if `Indexes are created automatically for primary key properties.` still holds true, then, yes, it is indeed indexed.

[2020-09-19 03:02] ashwiniPersonal commented on #6781
Thanks for the quick reply.
@leemaguire Sure we can try to upgrade to 5.4.2 and let you know if it is happening any more. But it is going to take time on our end as we have integrated in a library which gets consumed by other apps. But I'll keep you post.
It is not possible for us to get the realm files from users and since we are not able to create in our test environment we cannot provide you th

[2020-09-19 12:11] MohanabalanD opened #6788 "RealmSwift failed while Building Scheme Carthage"
**Questions**: RealmSwift failed while Building Scheme Carthage

**Feature Request**: Able to build RealmSwift in Carthage (XCode 12)

**Bugs**:  Building scheme "RealmSwift" in Realm.xcworkspace
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace /Users/mohanabalan/Documents/Repo/ios-MobileFirstION/Carthage/Checkouts/realm-cocoa/Carthage/Realm.xcworkspace -scheme Re

[2020-09-19 12:43] ganesh-ananthan opened #6789 "realm::ArrayString::init_from_mem(realm::MemRef)"
Application got crashed while reading value from Realm DB.

Incident Identifier: a69ccae1-7d5d-46d3-ad14-3db8a2df56e5
CrashReporter Key:   C772B1E2-B411-4F6A-B0A5-E9B600C068F8
Hardware Model:      iPhone8,1
Process:         AppName [628]
Path:            /var/containers/Bundle/Application/298D5259-2E06-4070-B2C5-3F043D703E8B/AppName.app/AppName
Identifier:      com.domain.phone2
Version:         4

[2020-09-19 12:46] leemaguire commented on #6789
@ganesh-ananthan Can you tell us what version of Realm you are using? If you are using Sync and could you please post the Swift code that leads up to this crash. Thanks

[2020-09-19 12:49] ganesh-ananthan commented on #6789
We are using Realm v 5.4.1 and below are the code for fetch the result from realm

`func fetch(predicate: NSPredicate? = nil, sortDescriptors: [SortDescriptor]? = [], count:Int?=0) -> [T.ModelType] {
        guard let realm = self.realm else {
            return []
        }
        var objects = realm.objects(T.self)
        if let predicate = predicate {
            objects = objects.filter(pred

[2020-09-20 11:36] docterd commented on #6682
Still got this issue? I suspect that i'm fighting a similar problem.

[2020-09-20 13:23] pick4pro commented on #6096
I have also seen this error in CrashAnalytics and it was the only crash that was being reported in high volume.  Could never reproduce using a Debug build and could never reproduce issue in-house just crash logs from customer usage.  The best I can tell it happened after users upgraded our App even though the Realm version, and schema had not changed.

The one change we did make in the App update

[2020-09-20 15:39] AndrewBarba opened #6790 "Opening realm fails on physical Apple TV 4K running tvOS 14"
## Goals

Open Realm on Apple TV 4K running tvOS 14

## Expected Results

Realm opens successfully when running on physical Apple TV 4K on tvOS 14

## Actual Results

Crashes when running on physical device:

<img width="1536" alt="Screen Shot 2020-09-20 at 11 39 54 AM" src="https://user-images.githubusercontent.com/1316152/93715215-0b9f0c80-fb36-11ea-97ab-605f44bdc78b.png">

## Steps for others t

[2020-09-20 19:49] jsflax commented on #6790
Hey, I'll give this a try on my Apple TV and see if I can reproduce. Would you mind just sending on a small code sample for me to run?

[2020-09-21 00:37] AndrewBarba commented on #6790
@jsflax Here ya go, as simple as it gets.

[RealmCrash.zip](https://github.com/realm/realm-cocoa/files/5252988/RealmCrash.zip)

And here's a crash report I'm getting on this project (again only on physical device):

[code]

[2020-09-21 02:44] tgoyne commented on #6790
That bit of code is only supposed to be used on iOS and not tvOS or watchOS, so there's apparently something wrong with the platform check.

[2020-09-21 05:30] NilaakashSingh commented on #6685
I was facing a similar issue on RealmSwift. Have tried **Updating the project to the recommended settings** and seems the issue is resolved.
Also have tested in older Xcode and the project is working fine. Seems like a possible solution for now.

<img width="488" alt="Screenshot 2020-09-21 at 10 57 38 AM" src="https://user-images.githubusercontent.com/21199352/93735169-a90f4480-fbf9-11ea-96fd-0676

[2020-09-21 05:57] umang-simform commented on #6685
Here is how I get rid of the problem, I bet this can not be termed as long term solution but interesting thing is :
Xcode 11 had `Valid Architecture(VALID_ARCHS)` while Xcode 12 has Excluded Architectures (`EXCLUDED_ARCHS`).
So if you open the project in xcode12 then if you check in build settings you will found that `VALID_ARCHS` is now moved to `User-Defined`.
So quick solution will be simply de

[2020-09-21 07:54] lukas2 commented on #6685
@umang-simform The Podfile snippet seems to help in our case.

[2020-09-21 09:42] umang-simform commented on #6685
I tried this too and it worked great

[2020-09-21 10:03] leemaguire commented on #6789
@ganesh-ananthan thanks for the code sample. I am unfortunately unable to reproduce the issue. Would you be able to send us your Realm models to help us debug better? You can either paste them here or send them privately if you wish to lee.maguire@mongodb.com

Thanks

[2020-09-21 10:35] twalshcbs commented on #6788
I get the same on all v5.4.x versions

[2020-09-21 11:01] jedelbo commented on #6724
After having investigated for several days now, I am out of ideas about what could be wrong here. I have received rather detailed information from @andreadelfante , so I have a pretty good idea of where to look (changing nullability for a primary key column), but I have not been able to reproduce. I have added a few more assertions into the Core code, so I would like to wait and see if this brings

[2020-09-21 11:05] jsflax commented on #6788
This is a duplicate of #6717.

[2020-09-21 11:05] #6788 closed

[2020-09-21 11:26] leemaguire commented on #6732
@zhiliang729 does this still happen in 5.4.2? We have added changes to our file locking mechanism, and since added a guard around it causing issues on older versions of iOS.

[2020-09-21 11:58] vallasd opened #6791 "When will a version of Realm be available for XCode 12.2 Beta?"
!!! MANDATORY TO FILL OUT !!!

## Goals

Use realm on XCODE 12.2 Beta

## Expected Results

## Actual Results

RealmSwift (version 12) can not be imported because of a Swift language mismatch.  I attempted to download source and build myself but could not upgrade as well.  I believe core framework also needs to be updated

## Steps for others to Reproduce

## Code Sample

## Version of Realm and T

[2020-09-21 12:14] illabo commented on #6685
Thanks @umang-simform, this!

I'd want to say sorry to Realm team and @tgoyne for my complaints. I assumed `VALID_ARCHS` is just ignored by Xcode 12 as deprecated and affects nothing. Was wrong.
Perhaps there should be some kind of compile time warning or a notice in documentation (sorry if I overlooked that) for those who maintains pre XC12 projects?

[2020-09-21 14:10] AndrewBarba commented on #6790
@jsflax @tgoyne Let me know if you have a branch you want me to test. We're trying to get a tvOS 14 build out asap so I will test right away

[2020-09-21 14:41] leemaguire commented on #6682
@mphill I'm looking into this now. If you or @docterd have any crash logs / stack traces that would be really helpful.

Thanks

[2020-09-21 15:35] jsflax commented on #6790
@AndrewBarba I was able to reproduce the issue. I can confirm the [linked pull request](https://github.com/realm/realm-core/pull/3924) fixes the issue if you want to work off of that branch for now. The next release will contain the fix. Thanks for helping out with the sample code 👍

[2020-09-21 15:37] AndrewBarba commented on #6790
Awesome thanks for the quick fix! Since that PR is in core, do you have an easy way for me to install via CocoaPods?

[2020-09-21 15:43] jsflax commented on #6790
I don't believe there is an easy way via Cocoapods– I was testing via Swift Package Manager which makes it fairly simple to checkout a branch even for dependencies. However for Cocoapods, we vendor in realm-core as a binary.

[2020-09-21 15:57] AndrewBarba commented on #6790
Okay thanks, I'll have to wait until this is updated in master then branch on realm-cocoa then. Sadly not using SPM yet in our main project

[2020-09-21 15:57] ericjordanmossman commented on #6783
@qazwini
I couldn't comment on your progress bar for sure. For any general questions/help about how to use Realm [please try our developer forums](https://developer.mongodb.com/community/forums/) or stack overflow.

[2020-09-21 15:57] #6783 closed

[2020-09-21 16:16] #6717 closed

[2020-09-21 16:21] shuhaodo commented on #6408
This still happens in 5.4.0:

`Realm
realm::Array::init_from_mem(realm::MemRef)
Realm
_hidden#588_ __hidden#691_:169
Realm
_hidden#2434_ __hidden#1818_:1213
Realm
_hidden#13219_ __hidden#2736_:964
Realm
realm::_impl::transaction::advance(std::__1::shared_ptr<realm::Transaction> const&, realm::BindingContext*, realm::_impl::NotifierPackage&) __hidden#13259_:524
Realm
realm::_impl::RealmCoordinator:

[2020-09-21 16:23] leemaguire commented on #6408
@shuhaodo Would you be able to give us a sandbox app that reproduces this issue?

[2020-09-21 16:47] trr-amsiq commented on #6408
Still in 5.4.2
[code]

[2020-09-21 19:16] cumanzor commented on #6685
Are you guys able to deploy to both simulators and real devices with these settings?

[2020-09-21 20:51] tgoyne commented on #4564
https://github.com/realm/realm-core/pull/3926 makes it so that NOT IN on an indexed property takes O(N) time rather than O(M*N). There's also some room for constant-factor improvements but that'll at least make it so that it's in a reasonable range of performance.

[2020-09-21 21:20] tgoyne commented on #6786
We currently do not use indexes for sorting (only for the actual querying), and while we avoid rerunning the query if no objects of that type were modified and avoid re-sorting if none of the objects which match the query were modified, that isn't tracked down to the level of the individual properties which are relevant to the sort.

Adding relationships to objects slows down change calculation be

[2020-09-22 06:17] adamszeremeta commented on #6785
Hello, there is no way that I can use that with pod lib lint as in .podspec you can only define name and version of the dependency. I will try to use that directly in my app and let you know.

[2020-09-22 07:12] kunalsood commented on #4564
Brilliant! Thank you!

[2020-09-22 07:35] bmunkholm commented on #6786
Related to this issue in [Core](https://github.com/realm/realm-cocoa/issues/6786).

[2020-09-22 08:23] sipersso commented on #6683
I have been able to reproduce this locally now. It is hard to provide a sample, but I am trying to debug this as we speak. If it helps, it seems like this is only happening when there is a lot of data to query. I am running the queries right after committing a number of objects in the realm. The new objects are included in the query.

Anything in particular I should be looking for? I tried checkin

[2020-09-22 08:35] sipersso commented on #6683
Hi Again!

I think I resolved the issue for me. The issue was caused by doing large queries in the same transaction as I was writing data to the same realm.

The solution was to break apart the writing and querying to separate parts.

I was essentially doing this:
1:  Start a new transaction
2: Add a new object to a collection
3: Query for data to add to the new object in the collection
4: Add dat

[2020-09-22 09:01] leemaguire commented on #6682
I'm able to reproduce this with TestFlight, so I'll go from here and let you know my findings.

[2020-09-22 12:34] peimanrn commented on #4555
Are we there yet ?

[2020-09-22 12:59] finnschiermer commented on #6767
This happens because the transaction that we're importing an object from is no longer valid at the time import_copy_of is run.

[2020-09-22 13:00] akhilvarmaeternal commented on #6688
This is still happening in 5.4.2, 32 issues and tried everything explained above. Nothing seems to work

[2020-09-22 13:21] leemaguire commented on #6682
In the meantime as a workaround, I didn't get any crashes while using Cocoapods.

[2020-09-22 13:26] mphill commented on #6682
I was able to get the code to compile and run by turning off the remove dead code optimization in the project.  For some reason the app thinning for the older 32 bit cpu removes code that uses reflection which causes the run time issue.

[2020-09-22 13:49] ericjordanmossman commented on #6683
@sipersso
I can provide you a secure upload link via email if it helps you share the project that consistently crashes (prior to [your changes](https://github.com/realm/realm-cocoa/issues/6683#issuecomment-696585067)). We can look at it with @finnschiermer to see if we can find a reliable solution to the error.

[2020-09-22 15:10] leemaguire commented on #6682
@mphill good stuff! I think this issue can be closed now. For anyone else experiencing the same just make sure 'Dead Code Stripping' is set to NO in your Xcode project/target settings.

[2020-09-22 15:10] #6682 closed

[2020-09-22 15:22] floorish commented on #6786
Thanks for your comments. Are there improvements on the roadmap regarding using indexes for sorting/only rerunning queries based on changes on the properties used by a query?

Are there any known workarounds or performance tips for these kind of issues?

For example is it possible to sync changes made on a background queue right away to the main queue, without waiting for notifications? (I'm aware

[2020-09-22 16:06] RealmBot opened #6797 "Credentials(…) creation for Google require a server auth code, but parameter is named googleToken"
In the iOS SDK, the _Credentials_ class (a.k.a. _RLMCredentials_) can be created for the Google provider with the call

[code]

(or a [similar call](https://docs.mongodb.com/realm-sdks/objc/10.0.0-beta.5/Classes/RLMCredentials.html#/c:objc(cs)RLMCredentials(cm)credentialsWithGoogleToken:) in Objective-C).

The call, however, doesn't work with any of the tokens returned by Google, but requires the

[2020-09-22 16:30] ianpward commented on #6786
I have added this as a feature request to the backlog for Core and we will consider it in the upcoming quarterly planning - for now, the workarounds are as you discovered in the previous issue:

[2020-09-23 05:44] Myrenkar opened #6799 "Crash during migration. Can only delete an object from the Realm it belongs to"
## Goals
I want my app flow to not to crash.

## Expected Results
I want my migration process to get passed.

## Actual Results
[code]

## Steps for others to Reproduce
I have migration mechanism and while migrating i have one version to migrate and during that it crashes.

## Code Sample
[code]

## Version of Realm and Tooling

Realm framework version: 5.0.0

Realm Object Server version:

Xcode v

[2020-09-23 07:44] denysowova commented on #6767
@finnschiermer can you please explain how to reproduce this issue or provide any possible fixes for it?

[2020-09-23 09:15] floorish commented on #6786
Thanks, any improvements are much appreciated. I'm struggling getting acceptable performance in my app for users with many items.

#4089 mentions "indexing the index property of your TestItem model. This will accelerate sorting based on this property." So that's not true (anymore?)

[2020-09-23 12:28] DenTelezhkin opened #6800 "Using RealmSwift.NotificationToken type when RealmSwift acts as a dependency fails CocoaPods lib lint validation"
## Goals

Use RealmSwift as a dependency for CocoaPod in Xcode 12. Not sure when this started happening, as this integration was working for couple of years without any issues.

## Expected Results

When using RealmSwift as a dependency, pod lib validation should succeed.

## Actual Results

Pod lib lint returns undefined symbols error:

[code]

## Steps for others to Reproduce

1. Clone https://g

[2020-09-23 12:41] RikvanderLinde opened #6801 "MaximumNumberOfActiveVersions debug feedback"
## Goals

I want to keep the realm file on disk small, and to stop all bug related to it (multiple versions, unable to compress on launch)
## Expected Results

I would like to query the Realm instance for number of active versions, to keep track of possible problem area's

## Actual Results

You can set maximumNumberOfActiveVersions to a number, run your app and see if it triggers or not

I would

[2020-09-23 14:37] jeanbaptistebeau commented on #6647
@leemaguire has this been pushed to realm-cocoa? I looked at the commit linked above, but I can't see if this has been added to Realm Swift. I'm still having this issue.

Thanks a lot!

[2020-09-23 14:43] mefilt commented on #6775
Some problem
xcode Version 12.0 (12A7209)
 Realm (5.4.0):
    - Realm/Headers (= 5.4.0)
  - Realm/Headers (5.4.0)
  - RealmSwift (5.4.0):
    - Realm (= 5.4.0)

[2020-09-23 15:36] jedelbo commented on #6763
This is most probably solved by https://github.com/realm/realm-core/pull/3935. At least the crashes reported just above.

[2020-09-23 15:47] #4564 closed

[2020-09-23 16:18] tgoyne commented on #6786
JP was mistaken there, unfortunately.

[2020-09-23 17:25] bguidolim commented on #6763
@jedelbo as soon a new version is released, I'll update and observe. I hope we can finally close this issue.

Thanks.

[2020-09-23 17:41] sipersso commented on #6683
@ericjordanmossman I have to say that I feel a bit uneasy about sharing my project, but maybe share the relevant parts. Do you have an email I can reach you at? I didn't see a way to send a message here on GitHub and don't want to share my email here.

[2020-09-23 18:08] ericjordanmossman commented on #6683
@sipersso
Please send me an email at eric.mossman@mongodb.com and I'll connect you with our secure upload link.

[2020-09-23 21:44] kolakovskijj opened #6802 "realm.add(object) not working."
## Goals
**Want to add file to remote Realm**

## Expected Results
**File added succesfully**

## Actual Results
**File is not added to Realm (local works fine, but remote won't work.**

## Steps for others to Reproduce
        **try! self.realm.write {
            self.realm.add(object)
        }**

## Code Sample
        **try! self.realm.write {
            self.realm.add(object)
        }**

#

[2020-09-24 03:39] myammm commented on #6784
@bguidolim @tgoyne
I tried the script and it worked.
Thank you!

[2020-09-24 04:20] VG2000 opened #6803 "Error downloading Realm 5.4.3"
!!! MANDATORY TO FILL OUT !!!

## Goals

Download Realm 5.4.3

## Expected Results

It to download

## Actual Results

`Analyzing dependencies
Downloading dependencies
Installing Realm (5.4.3)
[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

Downloading dependency: sync 5.0.23 from https://static.realm.io/downloads/sync/realm-sync-cocoa-5.0.23.tar.xz
ld: building for iOS Simulator, but linking

[2020-09-24 09:20] finnschiermer commented on #6767
@denysowova This points to a bug in the ObjectStore or in the binding, and we're working on isolating it. we don't have a fix for it yet.

[2020-09-24 13:30] amittiwaribit opened #6804 "XCode 12 compilations issue for Undefined symbol RLMNotificationToken, RLMRealmPathForFile, RLMObjectBase, RLMSchema"
Getting a compilation issue for the multiple classes (Undefined symbol RLMNotificationToken, RLMRealmPathForFile, RLMObjectBase, RLMSchema), when 2 classes defined in the single files.
Currently using realm version **5.4.2**

For Example, RLMRealm.h file, in this file two classes defined RLMNotificationToken and RLMRealm. Hence Xcode 12 now giving error Undefined symbol RLMNotificationToken.

Plea

[2020-09-24 13:33] jsflax commented on #6804
@amittiwaribit How are you including Realm in your project?

[2020-09-24 13:35] rursache commented on #6684
@tgoyne any update on this? we are stuck with using xcode 11.7 for the time being due to this issue. thanks

[2020-09-24 14:21] amittiwaribit commented on #6804
Hi @jsflax,
Thank you for the quick response. I am adding realm on pod file as **pod 'RealmSwift', '5.4.3'**. we are adding a realm in our custom SDK.

Thanks
Amit Tiwari

[2020-09-24 14:24] nomanyousuf commented on #6804
I am getting the same error in Xcode 12 please review the screenshot.
<img width="1444" alt="Screen Shot 2020-09-24 at 7 23 47 AM" src="https://user-images.githubusercontent.com/56045092/94158190-f298a300-fe36-11ea-940e-110e8ec894cb.png">

Thanks

[2020-09-24 16:06] amittiwaribit commented on #6804
SDK building cause the following compilation issue attached.
<img width="817" alt="Screenshot 2020-09-24 at 9 35 50 PM" src="https://user-images.githubusercontent.com/5095009/94170705-029f9980-feae-11ea-9281-d5ce22666695.png">

[2020-09-24 16:09] tgoyne commented on #6804
Those are all errors in your code.

[2020-09-24 16:52] amittiwaribit commented on #6804
it's ok, now but still we are facing Undefined symbol RLMNotificationToken, RLMRealmPathForFile, RLMObjectBase, RLMSchema.

[2020-09-25 02:24] johyunmin88 commented on #6690
Is there no other way but to downgrade the version? Aren't you going to designate someone in charge? Please tell me how to solve it.

[2020-09-25 06:38] rromanchuk commented on #6317
@bmunkholm spm is consistently failing on this package after running "Reset package cache". So although it might be network related, SEO is telling me there might be something ~unique~ specifically to this repo that is causing git to an edge case

[2020-09-25 07:27] trantuananh1996 commented on #6803
Run carthage update and facing same issue. Xcode 12 on Catalina 10.15.7

[2020-09-25 07:45] idevAgg opened #6806 "Error installing RealmSwift"
Realm framework version: ???
Realm Object Server version: ???
Xcode version: 12.0
iOS/OSX version: OS X 11.0 Beta BigSur
Dependency manager + version: 1.9.3

When running `pod install` getting the issue:

[!] Error installing RealmSwift
[!] Failed to download 'RealmSwift': [!] /usr/bin/git -C /var/folders/12/gkl91qgs1wz7731nbbvf3f9w0000gn/T/d20200925-2721-mas67c submodule update --init --recursive

[2020-09-25 07:54] eofs commented on #6806
Same error is raised when installing using Xcode 12 and SwiftPM

[2020-09-25 08:05] rursache commented on #6684
v5.4.3 have the same issue, any ETA for the fix?

[2020-09-25 08:17] aamarkov commented on #6806
Same error when installing using Xcode 11.7 and SwiftPM.

[2020-09-25 08:39] mentrena commented on #6804
Do you have
[code]

in your Podfile?

[2020-09-25 08:39] iHesh commented on #6806
Facing the same issue with Xcode 12 GM and SwiftPM

[2020-09-25 08:42] tamasdancsi commented on #6806
The catch folder is empty in Realm's resolved dependencies. If you download catch (https://github.com/catchorg/Catch2) and copy the contents of the single_include/catch2 folder it will work, but this is REALLY BAD

[2020-09-25 08:48] DwayneCoussement commented on #6536
Hey, I am able to reproduce this; I think the issue here is an indexedProperty called `type`. Following class with following test will crash 100% of the time

[code]

[code]

[2020-09-25 09:02] JulianKahnert commented on #6806
Same error with Xcode 12.0.1 (12A7300). Deleting the derived data folder and changing the global git `http.postBuffer` size did **not** fixed the problem.

[2020-09-25 09:03] mir-dawn commented on #6806
This is a strange one. We had the same issue, and could reproduce the error both in Carthage and SwiftPM!

It looks to be an issue during the "git submodule update -v --init --recursive", were we get a "RPC failed; curl 18 transfer closed with outstanding read data remaining" error. This issue have been seen before with large repos. Not sure who to "blame" here but I do actually not think this is

[2020-09-25 09:11] mentrena commented on #6800
Having the same issue here.

<img width="1066" alt="Screenshot 2020-09-25 at 09 26 55" src="https://user-images.githubusercontent.com/1587536/94249101-51354e00-ff17-11ea-8bca-f4e5c827ea98.png">

Xcode 12
Cocoapods 1.9.3
Realm 5.4.3

[2020-09-25 09:22] aczel commented on #6775
@ericjordanmossman It happens like always, when I compile for a device and not for a simulator. Thanks!

[2020-09-25 09:24] MeGaPk commented on #6806
same error on pod 'Realm'

[2020-09-25 09:35] eofs commented on #6806
Thanks @mir-dawn! I was able to install Realm using SwiftPM althought I had to tweak the command a bit to avoid breaking installation of other dependencies:

`git config --global url."git@github.com:catchorg/Catch2".insteadOf https://github.com/catchorg/Catch2`

[2020-09-25 09:39] amittiwaribit commented on #6804
Yes, we did as well. Now what we found is that, when we do pod install via pod version 1.9.3 that compilation error appears, but when do pod install via pod version 1.8.3, then these compilation errors disappear and the realm works fine.
So need confirmation from the realm team, that is it related to the pod version issue.

[2020-09-25 09:53] MeGaPk commented on #6806
Hello! I tried this, but get errors:
[code]

[2020-09-25 09:54] mir-dawn commented on #6806
@eofs Cool, this is maybe a better approach! I tested the other with Carthage and SwiftPM in the terminal, and there they worked. But I can see that they do not work in Xcode 12, But you approach do! :)

[2020-09-25 09:56] mir-dawn commented on #6806
@MeGaPk looks like you are missing a SSH key.

https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

[2020-09-25 09:56] eofs commented on #6806
You need to generate necessary keys and setup your GitHub account for SSH access. See following documentation how to set it up: https://docs.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh

[2020-09-25 09:59] MeGaPk commented on #6806
thanks it works now

[2020-09-25 10:13] Almaz5200 commented on #6806
I'm getting this error now

`[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

core is not a symlink. Deleting...
Downloading dependency: sync 4.9.0 from https://static.realm.io/downloads/sync/realm-sync-cocoa-4.9.0.tar.xz
mv: rename core to sync-4.9.0/core: Directory not empty`

[2020-09-25 10:14] MeGaPk commented on #6806
try rm -fr ~/.cocoapods maybe will help

[2020-09-25 10:19] idevAgg commented on #6806
After generating and adding ssh, works even without `git config --global url."git@github.com:catchorg/Catch2".insteadOf https://github.com/catchorg/Catch2`.

[2020-09-25 10:34] Kalzem commented on #6806
Facing the same problem using xcode 12 + SPM with Realm v4.x.x (latest v4).

Not being able to use ssh (continuous integration over a server with not enough ssh rights), this still remains an issue.

I hope the Realm team can fix this quickly 🤞

[2020-09-25 10:41] IhorChernysh commented on #6806
From the documentation:

If you’re using Xcode 12, add the following to your Podfile:
Copy to clipboardpost_install do |installer|
     installer.pods_project.targets.each do |target|
           target.build_configurations.each do |config|
                 config.build_settings['EXCLUDED_ARCHS[sdk=iphonesimulator*]'] = 'arm64'
           end
     end
 end
This is a temporary workaround for until C

[2020-09-25 10:44] idevAgg commented on #6806
It doesn't solve the problem

[2020-09-25 10:45] AndreVasilev opened #6807 "Carthage / CocoaPods update fails at cloning Catch2 submodule"
After updating to Xcode 12 I had to update Carthage dependencies. But updating realm-cocoa (both v5.0.2 and v5.4.3) fails at cloning Catch2 submodule
(seems to be similar to https://github.com/realm/realm-cocoa/issues/6317)

## Expected Results
Carthage update successful

## Actual Results
[code]

## Steps for others to Reproduce
`carthage update realm-cocoa --platform iOS --cache-builds --no-use-

[2020-09-25 10:46] Almaz5200 commented on #6806
@MeGaPk

Thanks for response, this helped me!
https://github.com/realm/realm-cocoa/issues/6285#issuecomment-538560001

[2020-09-25 10:53] rhys-rantmedia commented on #6807
Also having this issue!

[2020-09-25 10:58] Jilocasin commented on #6807
Going explicitly for v.5.4.2 didn't do the trick for me sadly.

[2020-09-25 11:00] AndreVasilev commented on #6807
CocoaPods 1.9.0 fails with the same error

[2020-09-25 11:03] ppamorim opened #6808 "Locking the thread inside a observe causes all Realm instances to hang"
## Goals

- Be able to use the `observe` without locking other Realm instances.

I notice this happening in our application when the dataset was bigger than 1000 items, the application started getting slow and hanging for 1.5 seconds when interacting with the `objects` of the example below.

I was thinking about dispatching this workload to another thread, but this is not allowed since it's not ea

[2020-09-25 11:06] rhys-rantmedia commented on #6807
Ah, my mistake... Resetting Xcode caches, cleaning the project, resetting some more, etc. a few times finally got it to stop building for me too, on v5.4.2 as well. Same problem.

[2020-09-25 11:42] IhorChernysh commented on #6806
I installed the previous version:
pod 'RealmSwift', '~> 5.4.0'

[2020-09-25 11:43] MeGaPk commented on #6806
i tried to install 4.3.0 but have same error

[2020-09-25 11:56] crousselle2 commented on #6807
Having the same issue with checking out an older version of Realm via SPM.
A Swift Package with Realm 3.21.0 as a dependency.

`
Showing Recent Messages
Submodule path 'Realm/ObjectStore': checked out '8416010e4be5e32ba552ff3fb29e500f3102d3db'
Submodule 'Realm/ObjectStore' (https://github.com/realm/realm-object-store.git) registered for path 'Realm/ObjectStore'
Cloning into '/Users/xxxx/Library/De

[2020-09-25 12:00] AndreiGalkin commented on #6807
Got similar issue runnning `pod install`
[code]

Tried different versions of realm, clearing cache and updating cocoapods with fresh Xcode 12.
And nothing..

[2020-09-25 12:14] crousselle2 commented on #6807
https://github.com/realm/realm-cocoa/issues/6806 provides a decent temporary solution that unblocked our project.

[2020-09-25 12:20] AndreiGalkin commented on #6807
Thanks @crousselle2 it helped me as well!

[2020-09-25 12:44] iHesh commented on #6806
I've tried replacing the url but I am getting this error

`
Showing Recent Messages
terminated(1): HOME=/Users/heshamkalil TMPDIR=/var/folders/p6/2fh359351hxcd0xjlq7w9c5w0000gp/T/ GIT_SSH_COMMAND=ssh -oBatchMode=yes __CF_USER_TEXT_ENCODING=0x1F6:0x0:0x2 XPC_FLAGS=0x0 PATH=/Applications/Xcode.app/Contents/Developer/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin XPC_SERVICE_NAME=com.apple.dt.Xcode.31968 GIT_

[2020-09-25 12:56] rhys-rantmedia commented on #6807
Also works for me! Thanks @crousselle2. Here's hoping it's a relatively simple fix...

[2020-09-25 13:09] jaroslawbaranski commented on #6803
cocoa pods error message:

[code]

[2020-09-25 15:07] GalCohen opened #6809 "Migrating from Realm 2.10.2 (Yeah... not a typo!)"
I have a medium sized iOS app with mixed objc/swift codebase that has neglected maintenance over the years. The app is on version 2.10.2 and I'd like to know what my options are for upgrading. I know this is a bit of a crazy request given that the latest version is... 5.4?

I just want to know if it's worth it, and if so, how would you go about it?
- follow the changelogs over the years? :-/
- Do

[2020-09-25 15:51] tgoyne commented on #6809
Opening non-sync Realms written by 2.10 shouldn't be an issue. We dropped support for reading pre-1.0 Realms in 5.0, but the only file format changes in 2.0-4.x were strictly sync related.

I'd probably start with just trying to build your app with the latest version of Realm and see what breaks. The main awkwardness will probably be that we've removed some of the older fixits and rename helpers,

[2020-09-25 16:31] mattjankowiak-sy commented on #6800
Seeing the exact same issue here as @mentrena, exact same specs he listed.

[2020-09-25 18:05] SolYsky commented on #2070
Thank you

[2020-09-25 18:31] tgoyne commented on #6789
This should be fixed in 5.4.4.

[2020-09-25 18:31] #6789 closed

[2020-09-25 19:38] tgoyne commented on #6536
Thanks for the repro case! That does fail in the expected way for me as well.

[2020-09-25 20:07] tgoyne commented on #6536
A reduced test case:

[code]

It appears that the key thing which I hadn't tried is that at least in this case, it only breaks if all but the last item are deleted.

[2020-09-25 20:45] iHesh commented on #6806
@MohammedBadr20s you can do it through this command
`git config --global --unset url."git@github.com:".insteadOf https://github.com/`

or you can try `git config --global --edit` to edit your global git config and delete it manually.

[2020-09-25 21:31] aczel commented on #6806
Does anyone care in this company, that we need to work with this crap???

[2020-09-25 21:32] tgoyne commented on #6806
We do not have the power to fix github's server issues.

[2020-09-25 21:32] jsflax commented on #6806
We are looking into this issue– it seems to have to do with Catch. One user as provided a workaround. Xcode 12 has come with a number of issues that we are working to solve.

[2020-09-25 21:37] jsflax commented on #6690
We have been talking internally about a tool for reverse migrations, but nothing is set in stone yet. We'll keep the community informed if there is any progress there.

In the meantime, could you try upgrading to 5.4.4?

[2020-09-25 22:07] aczel commented on #6806
I am just wondering if this would be a GitHub server issue than why RealmSwift is the only library that I cannot install. Every other (around 20 different one) GitHub hosted/related libraries are loading without any problem. Please make some usable solution here, because the `git config --global url."git@github.com:catchorg/Catch2".insteadOf https://github.com/catchorg/Catch2` patch is not working

[2020-09-25 23:10] enuance commented on #6806
Okay, so I was having the same issue with SPM. Adding an SSH key to my account for the computer I was working with ended up doing the trick. SPM is able to resolve Realm as a dependency now with the SSH key installed.

[2020-09-26 08:30] Kalzem commented on #6806
It's back 🎉🎉🎉🎉🎉

[2020-09-26 20:33] shuhaodo commented on #6408
How should I do that? A test flight build?

[2020-09-26 20:36] jsflax commented on #6408
@shuhaodo It would be preferred if you could pass along your app code. If that's not feasible, a decent sized code sample would be helpful to us.

[2020-09-27 06:05] pick4pro commented on #6096
I wonder if file permissions are getting messed up if user is updating your app from app store and realm is locked?
The fact that I can never reproduce the problem but customers can makes me think that when we push out an update and the high volume of users that update makes me think a small percentage of those hit an issue.  I would not know how to debug an update issue.  Does anyone else have th

[2020-09-27 11:28] AmrAbedal commented on #6778
I know that this property is not found,
 I'm just wondering why this custom subscript throw error while it returns optional

[2020-09-27 12:23] igrechuhin commented on #6686
Same on v5.4.4.
Is there any workaround?

[2020-09-27 20:30] natebrunette commented on #5513
I'm getting similar errors with a Mac app. I'm intending to just use it locally and don't want to allow outgoing requests. Is there a way to tell realm to not make the requests?

[2020-09-27 23:26] johyunmin88 commented on #6690
@jsflax Okay, Thank you. I hope this is resolved soon.

[2020-09-28 02:07] Rickyip commented on #6785
I have the same problem except I use the Realm.Framework and RealmSwift.Framework downloaded directly.
Both version 5.4.3 & 5.4.2's iOS Xcode 12 build have the same error on Xcode 12 GM

[2020-09-28 02:19] initGalen opened #6811 "xcode12 cocoapod pod lib lint error: Ld /Users/xxxx/Library/Developer/Xcode/DerivedData/App-brhsnyjzdntvcufqhukpqdhzdqzh/Build/Intermediates.noindex/Pods.build/Release-iphonesimulator/Realm.build/Objects-normal/arm64/Binary/Realm normal arm64"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?
4.4.0
Realm Object Server version: ?

Xcode version: ?
Xcode 12
iOS/OSX version: ?

Dependency manager + version: ?

[2020-09-28 06:03] hyouuu commented on #6694
@tgoyne did some more research into this, and confirmed that whenever I call realm.write { realm.add() }, the existing searchResults will get duplicated, triplicated or restored to no duplication (kind of undefined outcome), and redo `searchResults = results?.filter(pred)` will make it result correctly. However, on 4.3.2 it was not necessary to re-filter. It feels like a bug in 5.x.x, and re-filte

[2020-09-28 06:39] jordimele commented on #6684
Realm framework version: 5.4.4

Xcode version: Xcode 12.0.1 (12A7300)

iOS/OSX version: iOS 14 simulator

Project with iOS app & watchOS app

We have the same problem with the latest version of Realm (5.4.4) and Xcode (Xcode 12.0.1).
@tgoyne  Do you know if a version is being worked on that solves this problem?
Thank you.

[2020-09-28 07:57] manish-Wibmo commented on #6800
facing exact issue here as well... any fixes?

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_RLMNotificationToken", referenced from:
      objc-class-ref in RxRealm.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-09-28 08:10] naoey commented on #6685
In my case applying this as is broke several other Pods, but was otherwise helpful when just restricted to Realm Pods:

[code]

[2020-09-28 08:21] finnschiermer commented on #6690
If you can distill this into a repro-case we'd be very happy to investigate in detail.

[2020-09-28 08:30] mir-dawn commented on #6806
I agree with @Kalzem. The issue looks to be resolved. I do not see any changes in the projects, so I still believe it was a GitHub issue. Anyone know if anything has changed?

[2020-09-28 08:56] leemaguire commented on #6807
Closing as this is a Github issue and not related to Realm.

[2020-09-28 08:56] #6807 closed

[2020-09-28 09:03] leemaguire commented on #6806
Closing as this is Github related & also looks to be resolved.

[2020-09-28 09:03] #6806 closed

[2020-09-28 09:05] leemaguire commented on #6803
Closing as this is a Github issue and now looks to be resolved.

[2020-09-28 09:05] #6803 closed

[2020-09-28 09:07] leemaguire commented on #6802
Hi @kolakovskijj Can you give us a sandboxed app that reproduces this issue?

Thanks.

[2020-09-28 09:22] reggian opened #6812 "[Xcode 12] ld: warning: direct access in function to global weak symbol means the weak symbol cannot be overridden at runtime. This was likely caused by different translation units being compiled with different visibility settings."
Building Realm 5.4.4 on Xcode 12 produces 32 warnings of such sort:

[code]

Tested with Realm 5.2.0 on the same system and there are no such problems.

## Version of Realm and Tooling

Mac OS X 10.15.5 (19F101)
Xcode 12.0 (12A7209)
CocoaPods 1.9.3
Realm 5.4.4

[2020-09-28 09:32] leemaguire commented on #6799
Hi @Myrenkar Can you update to Realm 5.4.4 and see if that solves your issue? Thanks.

[2020-09-28 09:54] Limoo commented on #6804
Can confirm downgrading to 1.8.3 worked for me. Before I tried everything with 1.9.3: Deleted derived data, deintegrated Pods, cleared Cocoapods cache and still had this error. The issue appeared when I builded for arm64 and not for the simulator

[2020-09-28 10:13] leemaguire commented on #6808
Hi @ppamorim Observing on a user defined should solve your issue. This thread would be solely used for observing and performing your processing tasks.

[code]

[code]

[2020-09-28 10:19] pavel-ship-it commented on #6736
I'll close this issue due to inactivity. If the you still see the same issue please comment and we can re-open it.

[2020-09-28 10:19] #6736 closed

[2020-09-28 11:06] bmunkholm commented on #6679
@jain-mj The crash you have reported is not the same as the original. Can you please upgrade to latest version and try again. Issues around migration has been solved since you reported your issue.

[2020-09-28 11:07] bmunkholm commented on #6679
@jwzhuang Can you also please check with the latest version and verify your issue is still present?

[2020-09-28 11:31] leemaguire commented on #6303
Closing this issue as it has been inactive for a while. Please update to the latest version of Realm and if you have any other questions please open a new issue. Thanks.

[2020-09-28 11:31] #6303 closed

[2020-09-28 11:33] leemaguire commented on #6226
Closing as Realm on SwiftPM now works with Apple Watch.

[2020-09-28 11:33] #6226 closed

[2020-09-28 11:36] ppamorim commented on #6808
@leemaguire That's far from ideal.

[2020-09-28 11:50] #6144 closed

[2020-09-28 11:50] #6107 closed

[2020-09-28 12:00] leemaguire commented on #6684
In your target/projects settings add `arm64` to the list of excluded architectures.

[2020-09-28 12:19] codemeister64 commented on #6685
In my case excluding arm64 brakes other pods.

Fog example:

`post_install do |installer|
      installer.pods_project.targets.each do |target|
            if target.name.include?('Realm')
                target.build_configurations.each do |config|
                      config.build_settings['EXCLUDED_ARCHS[sdk=iphonesimulator*]'] = 'arm64'
                end
            end
      end
end`

give

[2020-09-28 12:24] owenzhao commented on #6684
That won't work at least if you are using other frameworks which depend Realm internally, for example: 'IceCream'.

[2020-09-28 12:27] leemaguire commented on #6684
@owenzhao Try this, it may help https://github.com/realm/realm-cocoa/issues/6685#issuecomment-685870573

[2020-09-28 12:44] illabo commented on #6685
@codemeister64 Try maybe not excluding arm64 for RxRealm pod?

[2020-09-28 12:51] jordimele commented on #6684
@leemaguire
what you comment is still a workaround.
Working with other frameworks that have the dependency on Realm internally, I have added this configuration in the podspecs:

[code]

Configuration is also required in the target / project settings of the application, to add `arm64` to the list of excluded architectures.

The question is whether Realm plans to release a fix for that problem and n

[2020-09-28 13:29] codemeister64 commented on #6685
I already tried it. The following code

`
installer.pods_project.targets.each do |target|
      if target.name != 'RxRealm' && target.name.include?('Realm')
          target.build_configurations.each do |config|
          config.build_settings['EXCLUDED_ARCHS[sdk=iphonesimulator*]'] = 'arm64'
        end
      end
    end
`

excludes arm64 arch only for Realm and RealmSwift pods, but there is stil

[2020-09-28 14:05] jmschindele opened #6813 "Realm Crash: Opening Realm files of format version 5 is not supported by this version of Realm"
**Bugs**:
We are seeing crashes reported with the following message:

Opening Realm files of format version 5 is not supported by this version of Realm

This is occurring after we updated from Realm v5.3.5 to v5.4.2

## Expected Results
Realm file format updates without crashing.

## Actual Results

It appears that Realm upgrading/backwards compatibility is failing.

Fatal Exception: RLMException

[2020-09-28 14:08] leemaguire commented on #6813
@jmschindele Would you be able to send us the Realm file that reproduces this error?

[2020-09-28 14:16] jmschindele commented on #6813
@leemaguire I'm unable to include the Realm file as this is a production issue that is being reported via crashlytics.
I have found that we are getting an error mentioning version 11 as well:

Fatal Exception: RLMException
Opening Realm files of format version 11 is not supported by this version of Realm

[2020-09-28 14:28] leemaguire commented on #6813
5.4.0 and above generates a v11 Realm file file format, which is not backward compatible with anything less than 5.4.0. It's unusual you are getting 'version 5 is incompatible' do you have any more stack traces that we could take a look at?

[2020-09-28 14:44] jmschindele commented on #6813
@leemaguire I have the following, which yields the v11 error but is otherwise identical:

Fatal Exception: RLMException
Opening Realm Files of format version 11 is not supported by this version of Realm
0  CoreFoundation                 0x19e9b5114 __exceptionPreprocess
1  libobjc.A.dylib                0x1b21dbcb4 objc_exception_throw
2  Realm                          0x1015c0398 RLMSetErrorOrThr

[2020-09-28 14:56] leemaguire commented on #6813
@jmschindele Would you be able to update to version 5.4.4 as it includes quite a few fixes to the underlying Core library. Unfortunately for corrupted Realms there is not much that can be done to save them unless they were synced.

[2020-09-28 16:50] #6536 closed

[2020-09-28 16:55] natalia-osa opened #6814 "Duplicated symbol `gcov_flush` (SPM, Xcode 12)"
## Goals

To be able to compile project with Realm dependency added via SPM using Xcode 12.

## Expected Results

The dependency (realm) shouldn't have duplicated symbols.

## Actual Results
While locally I can make things happen, on CI (Bitrise) I receive following logs. It rather looks like an issue from Realm than from Bitrise, but please correct me if I'm wrong.

[code]
and in detailed logs:
[

[2020-09-28 16:59] leemaguire commented on #6814
Can you delete the derived data on your CI box and rebuild? I've never actually seen that build error before.

Also we are currently working on adding SPM installation docs.

[2020-09-28 17:00] tgoyne commented on #6814
gcov_flush is a function injected by the compiler for code coverage, so this suggests something is wrong with how something is being configured for that. Does it compile if you enable code coverage locally? If so it's probably a bitrise bug.

[2020-09-28 17:36] natalia-osa commented on #6814
@tgoyne
In project settings, I have both locally and on CI (since it's running the same commit) have flags
- Enable Code Coverage Support - YES
- Generate Legacy Test Coverage Files - NO
So locally Xcode calculates code coverage.

@leemaguire
I've removed derived data on CI. It didn't help and is still failing.

I am contacting Bitrise and will point them this ticket. Maybe it's something wrong on

[2020-09-28 18:43] tgoyne commented on #6775
Duplicate of #6688.

[2020-09-28 18:43] #6775 closed

[2020-09-28 18:43] tgoyne commented on #6812
Duplicate of #6688.

[2020-09-28 18:43] #6812 closed

[2020-09-28 18:52] tgoyne commented on #6808
By default change notifications are delivered on the thread which you called `observe()` on. Sleeping for five second (or doing an equivalent amount of work) within the notification callback with then naturally occupy that thread for that amount of time. There's no reason why this should block other threads, though. We don't hold any locks while calling the notification callback and the notificati

[2020-09-28 20:16] ericjordanmossman commented on #6785
@adamszeremeta

You could try [excluding](https://github.com/realm/realm-cocoa/issues/6685#issuecomment-685870573) the [arm64 simulator](https://github.com/realm/realm-cocoa/issues/6685#issuecomment-675159412) in podspec file with:
[code]
Which should write this into the .xconfig.
<img width="526" alt="Screen Shot 2020-09-28 at 3 56 33 PM" src="https://user-images.githubusercontent.com/25092858/94

[2020-09-28 20:42] ericjordanmossman commented on #6811
Please see: #6785

[2020-09-28 20:42] #6811 closed

[2020-09-29 00:29] johyunmin88 commented on #6690
@finnschiermer Occurs when writing to the DB continuously. We keep saving data in DB as an application that takes notes. In the process, the DB expands and dies.
It continues to occur even after upgrading to Realm 5.4.4. Users complain of inconvenience. How can I submit a reproducible case?

[2020-09-29 03:13] initGalen commented on #6785
Firstly,I try add  my podspec file with:
`s.pod_target_xcconfig = { 'EXCLUDED_ARCHS[sdk=iphonesimulator*]' => 'arm64' }`
and execute `pod lib lint` error:
Ld /Users/xxxx/Library/Developer/Xcode/DerivedData/App-brhsnyjzdntvcufqhukpqdhzdqzh/Build/Intermediates.noindex/Pods.build/Release-iphonesimulator/Realm.build/Objects-normal/arm64/Binary/Realm normal arm64

Secondly,I update realm version:
`depe

[2020-09-29 06:12] varyP commented on #6096
I know it's not a complete solution but I've used two solutions in combination to eradicate the issue.

1. I got this error because I was unable to open Realm because of not being able to fetch the Realm key from the keychain.
Solution here : https://github.com/realm/realm-cocoa/issues/5615#issuecomment-580193005

2. If Realm opening fails, delete and re-create instead of crashing.
[code]

[2020-09-29 08:57] hyouuu commented on #6694
Further info - if I have `var searchResults: Results<Note>?`,  then do a `searchResults = rlm.objects(NoteR.self).sorted(byKeyPath: "date", ascending: false).filter(pred)`, then every time I access `searchResults.count` the results adds a copy of its initial value - e.g. if I have 12 search results, then in debugger type `po searchResults.count` would give me 12 initially, and subsequent `po searc

[2020-09-29 09:26] leemaguire commented on #6690
@johyunmin88 you can send an app which reproduces your issue to lee.maguire@mongodb.com Thanks

[2020-09-29 09:29] ppamorim commented on #6808
"There's no reason why this should block other threads," this enter in conflict with the fact that realm objects are not thread-safe and I cannot use the very same query. If there is a collection of items stored in the main thread it's not possible to attach an observer and listen to it without locking other realm instances. It's what I am experiencing.

It's not really blocking other threads, but

[2020-09-29 09:48] finnschiermer commented on #6679
@jwzhuang Quick check question: Are you using encryption?

[2020-09-29 09:50] leemaguire commented on #6688
Can you add `-fvisibility=hidden` to 'Other C++ Flags' in your Target/Project (and Pods) and see if that helps.

[2020-09-29 09:51] leemaguire commented on #6741
Duplicate of #6740

[2020-09-29 09:51] #6741 closed

[2020-09-29 10:07] reggian commented on #6688
@leemaguire
Adding the `-fvisibility=hidden` to 'Other C++ Flags' in the Target/Project did not yield any change.
Adding the `-fvisibility=hidden` to 'Other C++ Flags' in the Pods project did not yield any change.
Adding the `-fvisibility=hidden` to 'Other C++ Flags' in the Realm target in the Pods project on the other hand increased the warning count to 43 and added 5 errors:
[code]

[2020-09-29 10:22] akhilvarmaeternal commented on #6688
Below is my current setting, it seemed to have solved it for me at least in Run, The errors appear sometimes on Build but never on Run. I also did not add them manually, I deleted the Pods folder and did `pod install`. The flags were absent when I updated the pod from pre 5.0 release.

`Inline Methods Hidden - Yes and Symbols Hidden by Default - No for Pods Project and Target.`
`Inline Methods Hid

[2020-09-29 11:11] finnschiermer commented on #6679
This bug has not been reported again since first reported. I consider it fixed by Core 6.0.15 which was released Aug 5th. No response from OP since.

@jwzhuang Plese reopen this if you still encounter the bug on a new release.

@jain-mj The bug you are reporting is different and should not be part of this issue. Please open a new issue for your bug, if you still see it on a new version.

[2020-09-29 11:11] #6679 closed

[2020-09-29 11:33] finnschiermer commented on #6699
I'm closing this, as it is believed fixed and no further reports have been made after release of the fix.
@ZComwiz Please reopen if you see this bug again with a newer version.

[2020-09-29 11:33] #6699 closed

[2020-09-29 12:31] leemaguire commented on #6694
@hyouuu Thanks for the further information, but I cannot reproduce the issue with the scenario you described. Could you please create a small sandbox app that reproduces the issue?

[2020-09-29 13:02] eastsss commented on #6799
I have a very similar problem, my app crashes during migration, right when i delete old object (code is very similar to what @Myrenkar has provided - we delete some objects inside `enumerateObjects()` call). I tried updating to 5.4.5 but it didn't solve the issue...
This issue appeared after we migrated from Realm 4.4.0 to Realm 5.4.2, everything was working perfectly fine with Realm 4.4.0, so it'

[2020-09-29 13:35] finnschiermer commented on #6588
@pkrmf I'm closing this, since it is presumably fixed. Please reopen if you encounter the problem with the newest release.

[2020-09-29 13:35] #6588 closed

[2020-09-29 15:27] #6262 closed

[2020-09-29 15:48] ericjordanmossman commented on #6683
@sipersso
If you're still up for it, please let me know if you've sent me an email by giving a thumbsup so I can look for it.

[2020-09-29 16:17] leemaguire commented on #6801
We've considered this request and added it to our backlog to be implemented.

[2020-09-29 17:08] stephenwoodford commented on #6536
@tgoyne Thanks for getting this fix done so quickly! Any reason why using SPM to include Realm does include this fix, but using Carthage does not? Both when using the precompiled binaries and also when building from source?

[2020-09-29 17:11] tgoyne commented on #6536
There should not be any difference based on installation method.

[2020-09-29 17:35] Endore8 commented on #6763
Any updates on this? For me, it crashes quite often, especially when debugging with Simulator.

[2020-09-29 17:37] leemaguire commented on #6763
@Endore8 can you please update to version 5.4.5 and see if you still experience the issue?

[2020-09-29 17:46] Endore8 commented on #6763
@leemaguire, it stopped continuously crashing after updating to 5.4.5! Let's see how it is overtime 🤞

[2020-09-29 17:49] leemaguire commented on #6763
@Endore8 can you post a stacktrace of your crash?

[2020-09-29 18:01] Endore8 commented on #6763
Once it crashes once, it starts crashing continuously.
I think I found a fix that works for my case. I was mapping Realm objects a few times. Doing the mapping once to a Swift object and converting that result to `Array` solves it.

[code]

This is the stack trace:
[code]

[2020-09-29 18:24] tgoyne commented on #6536
It looks like the sync release pulled in the wrong core version so the fix isn't present when using the prebuilt library for that.

[2020-09-29 19:29] amittiwaribit commented on #6804
yes, It's working after downgrading to 1.8.3, after that its works in both device and simulator as well, also for arm64.

[2020-09-29 20:50] emisvx opened #6818 "Minimum deployment target is 11 when installing through SPM."
## Goals
Install Realm through SPM on a project targeting iOS 10

## Expected Results
Realm would be installed and building properly.

## Actual Results
`compiling for iOS 10.0, but module 'RealmSwift' has a minimum deployment target of iOS 11.0`
The Package.Swift on the repository specified iOS 11 as the minimum deployment version while the documentation (https://realm.io/docs/swift/latest/) stat

[2020-09-30 01:30] owenzhao commented on #6763
Just encounter the same issue on Realm Cocoa 5.4.1.

[code]

[2020-09-30 01:34] owenzhao commented on #6763
This issue is marked "Probably fixed by realm/realm-core#3828." by @tgoyne in https://github.com/realm/realm-cocoa/issues/6556. But now it is clear that it still exists.

[2020-09-30 08:42] leemaguire commented on #6750
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 08:42] #6750 closed

[2020-09-30 08:45] leemaguire commented on #6733
@marinofaggiana It would be great if you could get a sample app to us that reproduces this issue. Also make sure you are not keeping a Realm instance alive when it is not needed as that will also take up memory. Version 5.4.6 is out now I would recommend updating too.

[2020-09-30 08:47] leemaguire commented on #6709
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 08:47] #6709 closed

[2020-09-30 08:47] leemaguire commented on #6692
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 08:47] #6692 closed

[2020-09-30 08:49] #6638 closed

[2020-09-30 08:58] leemaguire commented on #6571
Closing as there has been no activity on this issue for some time. If you have another other questions, please open a new issue. Thanks.

[2020-09-30 08:58] #6571 closed

[2020-09-30 08:59] leemaguire commented on #6515
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 08:59] #6515 closed

[2020-09-30 09:02] leemaguire commented on #6505
Can you update to version 5.4.6 and see if that helps? Thanks

[2020-09-30 09:02] leemaguire commented on #6368
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 09:02] #6368 closed

[2020-09-30 09:03] leemaguire commented on #5482
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 09:03] #5482 closed

[2020-09-30 09:04] leemaguire commented on #6046
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 09:04] #6046 closed

[2020-09-30 09:04] leemaguire commented on #6152
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-09-30 09:04] #6152 closed

[2020-09-30 09:20] iwan-ua commented on #6688
5.4.6 same
Xcode 12
cleared pods and derived data

[2020-09-30 09:40] leemaguire commented on #6763
@owenzhao Can you update to 5.4.6 and see if it solves your issue, also can you give us a reproduction case? Thanks

[2020-09-30 11:37] leemaguire commented on #6763
@Endore8 Can you post a complete code sample to help reproduce this issue? Thanks

[2020-09-30 12:57] marsha97 commented on #6505
I got these warnings when upgrading into 5.4.6, so I will stay with 5.2.0 for a while
https://github.com/realm/realm-cocoa/issues/6688

[2020-09-30 19:03] Endore8 commented on #6763
@leemaguire , although yesterday it seemed to work fine, today I experienced the same crash a few times again 😭

This is a code sample copied from the codebase. Don't know if that matters, but it is run in a background thread.

[code]

[2020-10-01 04:36] pitoneux opened #6822 "Carthage build errors with xcode 12.2"
I'm using Realm and Realm swift as framework in our application. Executing carthage build with error:

ERROR | [iOS] xcodebuild: error: module 'RealmSwift' was created for incompatible target arm64-apple-ios9.0: Frameworks/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64.swiftmodule

## Goals
Carthage build should build RealmSwift  fine.

## Actual Results

## Steps for others to Reproduc

[2020-10-01 06:20] hyouuu opened #6823 "5.4.7 crash on launch with EXC_BAD_ACCESS in Realm.Configuration()"
## Goals
Use Realm normally

## Expected Results
App can launch normally without crashing

## Actual Results
App crash immediately on launch with EXC_BAD_ACCESS in Realm.Configuration()

## Steps for others to Reproduce
Upgrade to 5.4.7 (Tried with CocoaPod and Dynamic framework installation; SPM installation fails which is also a weird issue for 5.4.7)

## Code Sample
 let config = Realm.Configur

[2020-10-01 09:26] #6611 closed

[2020-10-01 09:33] leemaguire commented on #6822
Hi @pitoneux What command are you using for building with Carthage? Do any of the suggestions mentioned in https://github.com/realm/realm-cocoa/issues/6717#issuecomment-695126669 help?

[2020-10-01 09:36] leemaguire commented on #6823
@hyouuu Could you please provide us with a stack trace? If this crash is reproducible, could you boil it down into a small reproduction case? Thanks.

[2020-10-01 09:48] hyouuu commented on #6823
Actually just tried again and it worked (SPM) - guess the propagation of the new version has some undefined behavior before completing? Feels weird but maybe never mind :/

[2020-10-01 09:48] #6823 closed

[2020-10-01 09:55] #6623 closed

[2020-10-01 10:25] ZComwiz commented on #6809
Gal. Do not update past 3.x series. Nothing in 5.x is stable.

[2020-10-01 10:49] geragray commented on #6809
@ZComwiz I am sorry got hit by Core6 data migration issue that we could not catch in time on our end. I believe it was resolved here https://github.com/realm/realm-cocoa/issues/6699. If you still see major issues with the lastest Cocoa SDK, it would be much more productive to open a separate issue with repro case. As much as we try, we will never be able to test all corner cases and desperately ne

[2020-10-01 11:41] r-plus opened #6824 "Carthage will build "Realm iOS static" scheme."
## Goals
Skip "Realm iOS static" scheme when build by carthage with `--no-use-binaries` option if this is not expected behavior.

## Expected Results
Only build "Realm" and "RealmSwift" scheme.

## Actual Results
additionally building "Realm iOS static" scheme.

## Steps for others to Reproduce

v5.3 no need building "Realm iOS static"

[code]

v5.4 building "Realm iOS static"

[code]

## Code Sam

[2020-10-01 11:41] finnschiermer commented on #6767
We currently don't have enough data to fix this. Next release of realm-object-store will include a few asserts that may (or may not) be able to tell us more.

[2020-10-01 12:47] leemaguire commented on #6824
@r-plus Can you take a look at v5.4.3+, we introduced some changes to help with Carthage installation issues.

[2020-10-01 13:00] r-plus commented on #6824
@leemaguire Hi, thanks for your response.
But v5.4.3 also building "Realm iOS static" scheme.

[code]

[2020-10-01 13:07] pavel-ship-it commented on #6628
Hi @LorienMan , could you please try it against version 5.4.7?

[2020-10-01 13:08] pavel-ship-it commented on #6740
I'll close this issue due to inactivity. If the you still see the same issue please comment and we can re-open it.

[2020-10-01 13:08] #6740 closed

[2020-10-01 13:20] r-plus commented on #6824
and latest stable version v5.4.7 too.

[code]

[2020-10-01 14:57] tgoyne commented on #6824
Carthage does not provide us with any way to control which schemes are built.

[2020-10-01 15:50] LorienMan commented on #6628
@pavel-ship-it yeah, sure, we'll do the test, it will take about two weeks. We are very careful with realm updates nowadays :) Is it possible to avoid realm file format upgrade to be able to revert realm version in case of problems?

[2020-10-01 15:58] LorienMan commented on #6628
Oh, I've almost forgotten to mention that I've managed to get that kind of crash several times when running the app for the first time on the simulator (there was no db file yet). Still no luck in stable reproduce

[2020-10-01 16:14] pavel-ship-it commented on #6628
@LorienMan Unfortunately you cannot remain on the same database version or roll it back.
Thank you for addition about launching on a simulator. I'll try to reproduce it. No luck with it at the moment.

[2020-10-01 16:24] adamk77 commented on #6790
Is there a general timeline on when this will be merged to master? I see some new versions have been released since this was addressed but do not see it merged yet. Thanks.

[2020-10-01 17:03] bguidolim commented on #6824
I've created a script for me, feel free to copy and adapt for your needs.

https://gist.github.com/bguidolim/46f05bea5e0e9534493010dd444d24f9

[2020-10-01 17:48] #6790 closed

[2020-10-01 18:10] pitoneux commented on #6822
We were already using --no-use-binaries. I got it to work by using the script that wrap around carthage mentioned in [carthage forum](https://github.com/Carthage/Carthage/issues/3019#issuecomment-699143260) and using "bootstrap --platform ios --cache-builds --no-use-binaries"

[2020-10-01 23:26] jonmagic commented on #6806
I found another work around if you use the instructions at https://github.com/realm/realm-cocoa#building-realm. If you tell git to use protocol version 2 it doesn't fail when checking out the Catch2 submodule.

[code]

I'm not sure how to do the same thing with carthage (which had the same error according to https://github.com/realm/realm-cocoa/issues/6807) without updating that project so I opene

[2020-10-01 23:27] cowgp opened #6827 "Failed install of sync dependency when XCode.app is named differently"
## Goals
Have multiple version of XCode installed at the same time and still be able to install realm dependency via cocoapods

## Expected Results
`pod install` succeeds

## Actual Results
`pod install` fails with
[code]

## Steps for others to Reproduce
When preparing to update to new version of XCode I have my currently stable support version named XCode.app and then download and place in my ap

[2020-10-01 23:35] owenzhao commented on #6763
It is hard to reproduce this issue as it happens randomly. I had tried to reproduce it at the moment when it happened with the same situation and it didn't happen again. However, this also proved that it was something related to concurrent threads like situation, which sometimes code didn't work in the order expected. Maybe focusing on the crashed queue `Dispatch queue: com.yannickloriot.asyncqueu

[2020-10-01 23:39] tgoyne commented on #6827
Obviously we should fix this, but I definitely would recommend avoiding spaces in your Xcode app names.

[2020-10-02 00:06] r-plus commented on #6824
Is this expected behavior? If so that’s fine.

[2020-10-02 00:47] cowgp commented on #6827
Yes, I'm in no way blocked by this  - just thought I'd point it out.

[2020-10-02 01:15] dheeraj-singh511 opened #6828 "Crash when instantiating new instance of realm"
## Goals
App should not crash

## Expected Results
App should not crash

## Actual Results

App crashed when trying to instantiate new instance of realm using try Realm()

Stack trace

Incident Identifier: 3660b9c1-2382-412d-9809-1ae5a2ae406b
CrashReporter Key:   E46940E5-4517-44EB-B171-AFB50593EBCC
Hardware Model:      iPhone8,2
Process:         MyApp [388]
Path:            /private/var/container

[2020-10-02 01:19] tgoyne commented on #6828
That crash log does not show a crash inside Realm. The crash is on the main thread, not on the background thread where a Realm is being opened.

[2020-10-02 01:37] dheeraj-singh511 commented on #6828
@tgoyne - Crash reporting tool Appcenter is pointing to realm thread. I updated ticket with stacktrace

[2020-10-02 02:31] owenzhao commented on #6763
@Endore8 I just had a look on the revised history of realm-core/src/realm/db.cpp. I found that this file was changed on https://github.com/realm/realm-core/pull/3828/files to fixed the issue we talked. Then the line that fixed the issue was revised by https://github.com/realm/realm-core/commit/90a4fe39a8b160c1dee0c4907275e0810df5d765#diff-1cdb349fd195d488a6ddbf55865d8ace to fixed another crashing

[2020-10-02 06:18] maulik-brt commented on #6684
It's still happening to me too.
Can anyone help me?

[2020-10-02 07:16] bguidolim commented on #6824
It is, the only thing Carthage allows you to configure is "which plataform", but not the target of that platform.

[2020-10-02 07:17] jeanbaptistebeau opened #6829 "`app.currentUser().identities` is nil after restarting the app"
Following up on #6647. Since I can't re-open the issue and no-one is answering, I opened a new case.

## Goals
Identify which authentication provider the user connected with, after app restarts.

## Expected Results
Being able to use `app.currentUser().identities` after the app restarted.

## Actual Results
`app.currentUser().identities` is nil after the app restarted.

## Steps for others to Repr

[2020-10-02 07:55] hyouuu opened #6830 "Fatal Exception: RLMException "Key not found" when accessing filtered Results"
## Goals
access filtered results normally

## Expected Results
after calling filter on Results, the filtered results should be accessable

## Actual Results
accessing any property on the filtered Results would crash the app with exception "Key not found"

## Steps for others to Reproduce
e.g. use predicate `type ==[c] "calendar"` where `type` is a `String` property on the realm object, then call `

[2020-10-02 08:13] hyouuu commented on #6672
@ericjordanmossman I'm still seeing the problem with the latest 5.4.7, upgrading from 4.3.0. Do you know if there has been regressions on this issue since 5.4.0?

[2020-10-02 09:09] jedelbo commented on #6830
Seems like the issue https://github.com/realm/realm-dotnet/issues/2025 has been soloved. What you experience here must be a different issue. I would like to know if the `type` property has a search index defined.

[2020-10-02 09:10] hyouuu commented on #6830
@jedelbo yes it's indexed:
    override public class func indexedProperties() -> [String] {
        return ["date", "meta", "type", "tags", "repeatRule"]
    }

[2020-10-02 09:16] jedelbo commented on #6830
I assume that you are not able to reproduce this problem in your own test setup, but would you be able to share a sample realm file with some typical data in it so I can get a better idea of what is going on? You can share it privately with me by sending it to jorgen.edelbo@rmongodb.com.

[2020-10-02 09:20] hyouuu commented on #6830
@jedelbo Unfortunately I don't have access to users' realm file, and haven't been able to repro myself. Will simulate the upgrade root and see if can get a file.

Another crash that might be related to this - when searching `((type ==[c] "journal") AND (tags CONTAINS[c] "tag_study_ff741a"))`

[code]

In https://github.com/realm/realm-dotnet/issues/2025 @tipa said there's threading issue, might be

[2020-10-02 09:28] leemaguire commented on #6829
@jeanbaptistebeau v10.0.0-rc.1 has the fix you are looking for.

[2020-10-02 09:34] jedelbo commented on #6763
I can see that the problem reported by @Endore8 and the problem reported reported by @owenzhao  is not the same. If we concentrate on the first problem, then @Endore8 says that "Once it crashes once, it starts crashing continuously.". This suggest that you have a realm file that causes this behavior. RIght?

[2020-10-02 09:38] jedelbo commented on #6830
I don't think this is a threading issue. Unfortunately we don't have a way of downgrading to 4.x. 10.x would probably have the same issue. The query engine is very much the same. I am rather confident that we can fix this issue.

[2020-10-02 09:42] hyouuu commented on #6830
Great to hear you're confident on this! Do you also have clue on the above StringNode issue - is that from the same cause?

[2020-10-02 09:43] leemaguire commented on #6828
@dheeraj-singh511 If you could give us a self contained reproduction case that would be very helpful. Also please update to version 5.4.7 and see if that helps. Thanks

[2020-10-02 10:07] leemaguire commented on #6824
Closing as we cannot control which schemes are built by Carthage.

[2020-10-02 10:07] #6824 closed

[2020-10-02 10:10] leemaguire commented on #6771
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-10-02 10:10] #6771 closed

[2020-10-02 10:16] #6822 closed

[2020-10-02 10:22] leemaguire commented on #6711
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-10-02 10:22] #6711 closed

[2020-10-02 11:22] jedelbo commented on #6830
The last example you gave also included the `type ==[c] "journal"` clause, so if this is causing the problem, then this could explain that crash too.

[2020-10-02 11:24] jedelbo commented on #6830
Do you have a stacktrace of the original error?

[2020-10-02 11:40] leemaguire commented on #6778
@AmrAbedal We throw an error when a property is not found, which is the correct logic. The Optional return type is related to the underlying value of the property.

[2020-10-02 11:40] #6778 closed

[2020-10-02 11:57] natalia-osa commented on #6814
So we were diving into the topic with a person from Bitrise, and it went out that if I run the build from Xcode it worked, but with a command, it didn't. In Bitrise configuration there was an additional flag `"GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES"`, which in my project is set to NO. This flag causes Realm to fail with the duplicated symbol.

[2020-10-02 12:44] owenzhao commented on #6763
I don't think "continuously" here means constantly. As in the very top, he said "Application getting crash **intermittently** after upgraded to version 5.3.6 and 5.4.0." So the "continuously" here meant the crash was more frequently. However, in my case the crash was not rare and random. Maybe that depending on the system situation or CPU loads.

[2020-10-02 12:45] pavel-ship-it commented on #6686
Hi @KimiChiu , unfortunately I cannot reproduce the issue.
Probably a problem could be hidden in one of the calls here. I'd appreciate if you could share the code.
[code]
Also to strongify weak self could be a good idea as ('partial apply for closure' in the stack trace saying the weak self could be released)

[2020-10-02 12:54] jedelbo commented on #6830
Root cause probably found!

[2020-10-02 12:57] borislav-pixely commented on #6684
Same issue

[2020-10-02 13:00] #6797 closed

[2020-10-02 13:10] #6830 closed

[2020-10-02 14:29] KimiChiu commented on #6686
I thought the problem was from here.

[code]
Because there's a `12 Realm                          0x104c8f25c realm::Transaction::close() + 60` which seems like it's closing the transaction.

And the whole stack ends here.
[code]

Maybe the problem is inside realm deallocation?

This is a convenient method to get another realm instance from a different configuration.
[code]
[code]

And the `list`

[2020-10-02 17:09] jonmagic commented on #6806
## Next steps

After several days of trying I still haven't been able to replicate the problem we see in garage/prod in my development environment. The strongest lead we have is https://github.com/github/babeld/issues/962#issuecomment-701607648, that Apple compiles git with their own crypto library and we're not handling some edge case in how data gets chunked up.

Here's what we know right now:

[2020-10-02 17:17] jonmagic commented on #6806
Apologies for the comment I left that was supposed to be on an internal debugging thread at github 🙏  I've deleted my comment here and I apologize for any confusion.

[2020-10-02 18:12] hyouuu commented on #6830
That's awesome thanks @jedelbo! In the meanwhile I did a try catch block and used manual filtering to mitigate the issue for users, and will try the newer version and report back when I release the next version

[2020-10-02 18:48] tgoyne commented on #6694
If your predicate involves a case-insensitive equality query on an indexed string property then https://github.com/realm/realm-core/pull/3962 might fix this.

[2020-10-02 19:50] hyouuu commented on #6694
Good to know it's all related - will test when a new Realm release is out

[2020-10-03 17:52] hyouuu commented on #6694
@tgoyne when can we get a new RealmSwift release? Got some other weird behaviors on filtered results which might be related and want to test the new version ASAP then get to users if fixed. Thanks!!

[2020-10-03 19:50] hyouuu commented on #6694
Confirmed that it's fixed with a forked repo with the updated core. Thanks! (and surprising to me that it seems nobody else uses case insensitive search?!)

[2020-10-03 19:50] #6694 closed

[2020-10-04 22:49] dheeraj-singh511 commented on #6828
@leemaguire - I analyzed logs when the crash happened but did not seem to find any pattern. I am unable to replicate it. As per the stack trace, it is crashing when app tries to create new realm instance.

Meanwhile, I will upgrade to 5.4.7. I will update you if the crash is still seen.

[2020-10-05 05:20] kunalsood commented on #6730
**UPDATE**: Still hitting this crash on 5.4.7, also, hitting this crash even if I'm not using Realm's notifications, or KVO (this might have been the case al along, just today is the first time I've hit this crash when not using notifications or KVO).

[2020-10-05 05:48] kunalsood commented on #6730
It may also be worth noting that all these crashes happen on the main thread. I do not write to Realm from the main thread ever. So, this probably has to do with some kind of corruption happening in the database when writing to it from an NSOperationQueue, which causes these crashes when trying to read from the realm after said writes. (Of course, I'm just speculating this).

[2020-10-05 08:13] f3n1kc opened #6831 "Realm crashes at realm::Array::init_from_mem(realm::MemRef)"
## Goals
Make sure that Realm does not crash

## Expected Results
Realm should not crash while used with iOS background tasks

## Actual Results
Realm randomly crashes for 20% of users while background task is running.

**exception**
EXC_BAD_ACCESS KERN_INVALID_ADDRESS
Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=9 "mmap() failed: Cannot allocate memory s

[2020-10-05 09:01] finnschiermer commented on #6730
@kunalsood Thx for info.

1) Can you provide a stack backtrace of a crash for the case where you do not use KVO or notifications at all? (if it's different from the one at the top of this issue), it might help us.

2)  You wrote at the top of the issue:
[code]
Is this still correct?

Also, I need to be sure I interpret this correctly: you are saying that first the app runs fine (importing lots of

[2020-10-05 09:14] pavel-ship-it commented on #6831
Hi @f3n1kc,
It could happened when Realm objects which are allocated on background threads and then outlive that thread due to being retained by a persistent object. You could check is it true by Xcode's memory graph debugger tool.
Also you could use `Realm.Configuration.maxNumberOfActiveVersions` to limit the amount of active versions a Realm contains. This may help you figure out areas in your c

[2020-10-05 10:28] anatoliykant commented on #6684
**Xcode 12.0.1**
My corporate (**private**) **framework** uses **Realm 5.4.7** internally and I still get the following error when **linking Podspec** file :
`ld: in /var/folders/2p/kz5hwvys7pl4gjvpgyww69bh_tbwp3/T/CocoaPods-Lint-20201005-46915-696cd2-MyFramework/Pods/Realm/core/librealmcore-ios.a(array_binary.o), building for iOS Simulator, but linking in object file built for iOS, for architectu

[2020-10-05 11:10] RustamG opened #6832 "App randomly crashes after List modification"
!!! MANDATORY TO FILL OUT !!!

## Goals
App doesn't crash

## Expected Results
App doesn't crash

## Actual Results
App randomly crashes after modification of a List property
Stack trace:
[code]

## Steps for others to Reproduce

The app launched just fine and the data loaded in UI properly, however when I added a newly created object to a List of object with one type (FlightLog), I had crash enum

[2020-10-05 11:29] RustamG commented on #6832
Just caught this crash a couple of times again. Not sure if that's the cause. I used Realm Studio to remove the "CancelledCargo" objects. Then added one through my app UI using the code above. Will try to experiment with Realm Studio  to figure out the constant steps to reproduce.

[2020-10-05 11:36] kunalsood commented on #6730
It crashed at ```realm::util::EncryptedFileMapping::read_barrier```, I do not have a stack trace handy right now, but, I'll try and get one to you over the new few days.

Yes, this is still correct.

The import never completes. At first attempted import, it crashes with mmap failed at some random point/line-of-my-code during the import (it is at a different point/line-of-my-code every time). When

[2020-10-05 11:40] RustamG commented on #6832
So here are the steps. Looks like it really depends on the Realm Studio being opened (I have version 3.11.0).

1. Launch my app
2. Add object1 to a List programmatically
3. Open Realm Studio
4. Delete object1 using Realm Studio
5. Add object2 to a List programmatically
6. Remove object2 programmatically. // Doesn't crash so far
7. Re-launch the app having Realm Studio open
8. Add object3 to a List

[2020-10-05 12:14] pavel-ship-it commented on #6832
Hi @RustamG ,
Thank you for the detailed description.
Realm Studio could lead app to crash because of new locking mechanism. Here is the similar crash #6752
Is it happened on Simulator only?
Is it happened when you're running the app without Realm Studio connected?
Could you please try to update Realm to the latest version?

[2020-10-05 13:57] iDevid commented on #6688
Same here

[2020-10-05 13:57] dannydeut commented on #6684
Having exactly the same scenario. Kind of disappointed that this issue has not been solved before the release of iOS14.

I fixed the issue by pushing the podspec files of Realm to our private cocoaspecs repo and adding the `EXCLUDED_ARCHS` to the spec files of Realm. A workaround I wish did not have to make.

[2020-10-05 14:04] anatoliykant commented on #6684
Did I understand correctly that you only created the **podspec Realm** file in your **private repository**?
Moreover, you did not clone the Realm and RealmSwift repositories there?!
Could you share the podspec file for Realm?

[2020-10-05 14:24] #6280 closed

[2020-10-05 14:33] RustamG commented on #6832
Thanks for quick response @pavel-ship-it

I tested it only on Simulator. Haven't observed such crash on the device.

No

I'm on v5.4.7 which is the latest as of now.

[2020-10-05 15:04] pavel-ship-it commented on #6109
Cannot reproduce on
Realm 5.4.7
Carthage 0.36.0

[2020-10-05 15:04] #6109 closed

[2020-10-05 15:06] dannydeut commented on #6684
@anatoliykant I only added the spec file to our private cocoa spec repo. No cloning of the actual repo is required. Make sure the source of your private repo is before cdn.cocoapods.org in the podfile of your framework. You might get some warnings about double pods, but these are acceptable until this is fixed the right way. Also had to clear some pod caches...

**Realm/5.4.7/Realm.podspec**
[code

[2020-10-05 15:13] finnschiermer commented on #6730
Ok, last thing first:

"Yes, I do have iOS 14 Widgets reading (never writing) from the realm file at certain points (I call appropriate WidgetCenter APIs to request the system to reload the widget data, but, when the system actually attempts a reload is not something I can control, as the system throttles reload attempts to conserve battery and other resources etc.)"

Does such a widget have the r

[2020-10-05 15:17] finnschiermer commented on #6730
Also, checking my understanding: We have at least 3 active entities working in parallel here:
1) A widget. It only reads from the database.
2) The main thread. It also only reads from the database.
3) A background thread. It writes heavily.
And it is always the main thread that crashes.

[2020-10-05 15:28] anatoliykant commented on #6684
thanks
I'll check it out and post here based on the results.

[2020-10-05 15:33] pavel-ship-it commented on #6832
Hey @RustamG, thanks for the update.

This issue will be fixed in the new release of Realm Studio. As a workaround you should avoid using same realm in Realm Studio and in the app simultaneously.

I'll close this ticket. If the you still see the same issue in a new version please comment and we can re-open it.

[2020-10-05 15:33] #6832 closed

[2020-10-05 16:07] kunalsood commented on #6730
From my understand of how widgets work, no, widgets should not lock on to a version of the data in realm for an extended period of time at all. It only reads from the database when it needs to create an updated view, and does not hold on to any realm, realm objects, realm collection objects, or notification tokens. I just read from the realm, convert the data I need from realm to native objects, a

[2020-10-05 16:09] kunalsood commented on #6730
Yes, that is all correct. No other members at this party.

[2020-10-05 19:29] joaopdcgarcia commented on #6620
@HePingLaoSan were you able to find a solution for this issue? thanks!

[2020-10-05 19:33] ericjordanmossman commented on #6620
@joaopdcgarcia Which package manager are you using? Cocoapods, Carthage, and SPM all function differently.

[2020-10-05 22:10] joaopdcgarcia commented on #6620
Cocoapods. Embedding it as a framework worked but I’d rather keep external dependencies all in cocoapods.

Sent from my iPhone

[2020-10-06 00:44] johyunmin88 commented on #6690
@leemaguire I can't give you an example of our company's project. Our error is only possible if we have a Neo Smart Pen. Do I just need to give you an error log?

[2020-10-06 03:00] kunalsood commented on #6730
It'll take me some time to get you this info, as I do not use Realm 5.x in production (due to this exact issue), but, I'll get you this info APAP. Apologies about the delay.

[2020-10-06 07:55] aman836 commented on #4276
@cmyers78 I am facing the same issue, The issue is happening only for a few handful of users on my app, were you able to find a solution?

[2020-10-06 08:28] Lakshaya opened #6835 "MobSF reported use of unsecured function"
We have used MobSF client to analyse our app and it has reported the use of following unsecured functions which are used by Realm

1.) _strlen/strlen
2.) _sprintf/sprintf

## Goals

## Expected Results

Realm should stop using these functions as soon as possible
## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?

Realm O

[2020-10-06 08:29] hyouuu opened #6836 "Crashed: Realm notification listener EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000000"
## Goals
Realm shouldn't crash when filtering results

## Expected Results
Realm shouldn't crash when filtering results

## Actual Results
Realm crashes for some users

Crashed: Realm notification listener
0  App                          0x101534478 realm::StringNode<realm::EqualIns>::get_key(unsigned long) + 393368
1  App                          0x10153283c realm::StringNodeEqualBase::find_first

[2020-10-06 08:32] hyouuu commented on #6836
cc @jedelbo as https://github.com/realm/realm-core/pull/3962 fixed other indexed property's case insensitive search crashes

[2020-10-06 08:59] pavel-ship-it commented on #6835
Hi @Lakshaya,
Could you please provide more details on your findings?
Which version of Realm, Xcode, OS you are using?
What kind of packet manager?
Could you please share the MobSF report?

[2020-10-06 09:04] leemaguire commented on #6690
@johyunmin88 If you could give us a stack trace & some context of how you are using Realm (your setup, how you're writing to it, etc.)

[2020-10-06 09:45] pavel-ship-it commented on #6738
Hi @FaultyJuggler ,
Could you please try the workaround described in [realm-js/issues/3116](https://github.com/realm/realm-js/issues/3116#issuecomment-699986432)

[2020-10-06 10:02] CristianoCastro commented on #6799
We were having the same issue, even with Realm 5.4.8. We've fixed it by deleting the`newObject` instead of the old one (`newChapter` in your case)

[2020-10-06 11:11] miklselsoe opened #6837 "Realm 10.0 breaks the debugger in the host app"
## Goals
Debug my app while using Realm 10.0 RC 1

## Expected Results
Being able to print out object descriptions in the debugger

## Actual Results
When printing description of any object in the console, this error (and nothing else) is printed:

[code]

This happens even in files that have nothing to do with Realm and that doesn't reference Realm. I have tried clean build, deleting derived data

[2020-10-06 11:28] afsalkp007 opened #6838 "Crash On Initialization"
Goals
App should not crash

## Expected Results
App should not crash

## Actual Results
App crash

## Steps for others to Reproduce
No specific steps

## Code Sample
private var realm: Realm {
    if !configurationService.isConfigured {
      configurationService.setupConfiguration()
    }
    // swiftlint:disable force_try
    return try! Realm()
  }

## Version of Realm and Tooling

 - Realm (4.

[2020-10-06 11:31] petrpavlik commented on #6814
Hi there, I've run into the same issue and asked a question on apple developer forum https://developer.apple.com/forums/thread/663007. This seems to be a bug in Xcode build system.

[2020-10-06 11:37] natalia-osa commented on #6814
@petrpavlik FYI (since you say you have the same issue), in Bitrise if you set `generate code coverage files` to `NO`, then it compiles properly. Since it's not handly not to have code coverage files in a project which does contain unit tests, Customer Engineer from Bitrise suggested to do the following:

This is a pretty handy workaround to both have code coverage and not have that instrument pro

[2020-10-06 13:07] pavel-ship-it commented on #6737
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-10-06 13:07] #6737 closed

[2020-10-06 13:11] pavel-ship-it commented on #6838
Hi @afsalkp007 ,
Could you please share a stack trace of that crash?
Is it happened on a simulator or on a device?
Did you try to remove the app and reinstall it again?
You could try to wrap `try Realm()` in `do-catch` block to see the error.

[2020-10-06 14:28] RealmBot opened #6839 "Dictionary: Define RLMDictionary / Map interface"
Define the main interface for RLMDictionary and Map. Documentation for each relevant method is required.

[2020-10-06 14:30] RealmBot opened #6840 "Implement Mixed Data type"

[2020-10-06 15:13] ericjordanmossman commented on #6738
@FaultyJuggler
Could you please try our [release candidate](https://github.com/realm/realm-cocoa/releases/tag/v10.0.0-rc.1)? We've changed the `Credentials` to [an enum](https://github.com/realm/realm-cocoa/blob/v10.0.0-rc.1/RealmSwift/App.swift#L84), which is more explicit about what you need to pass in. You can create credentials with:
[code]
where the serverAuthCode is retrieved from the Google

[2020-10-06 15:44] pavel-ship-it commented on #6799
Hi @eastsss ,
Yes, @CristianoCastro 's right, you should delete an item from the `newChapter`. This moment is not reflected in Realm documentation and it will be amended.

[2020-10-06 15:44] #6799 closed

[2020-10-06 15:53] pavel-ship-it opened #6842 "Update Realm documentation on migration"
**Feature Request**: Describe object deletion process during migration as it's confusing for some users. (see #6799)

## Goals
Better documentation and understanding for users.

## Code Sample
[code]

## Version of Realm and Tooling
Realm framework version: 5.4.8

[2020-10-06 16:37] pavel-ship-it commented on #6557
@MortyMerr ,
It seems prepend() works as expected.

I'll close this issue as it works as expected. If the you still see the same issue please comment and we can re-open it.

[2020-10-06 16:37] #6557 closed

[2020-10-06 18:28] AuraNica opened #6843 "Realm Swift - iOS 14 issue - there’s no crash, but saved info in database is not available"
## Goals
My app should be able to access already saved data from database.

## Expected Results
As above

## Actual Results
After some time spent in the app, users with iOS 14 and above can't get or save data from/to database. There's no error or crash - it seems like the info from database is not there anymore (but it is).

## Steps for others to Reproduce
I was able to reproduce this only on the

[2020-10-07 00:38] johyunmin88 commented on #6690
@leemaguire I left a question by email. Please check. Thank you.

[2020-10-07 06:13] bmunkholm commented on #6835
I edited the description as the details about which functions was reported by the tool was written in a comment that isn't shown in github :-)

[2020-10-07 07:14] stareta1202 commented on #6685
`BUILD Settings -> VALID_ARCHS`. add "X86_64" on your project (Prolly you might have arm* series. put it with them to work)

[2020-10-07 12:52] pavel-ship-it commented on #6532
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-10-07 12:52] #6532 closed

[2020-10-07 12:55] pavel-ship-it commented on #6577
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-10-07 12:55] #6577 closed

[2020-10-07 13:27] eastsss commented on #6799
@pavel-ship-it my case is a little bit different, because I'm trying to remove child objects (our entity was quite complex and we decided to break it into child objects). Let me show you an example:
**Schema version 1:**
[code]

**Schema version 2:**
[code]

How do I migrate from version 1 to version 2 correctly?
If I simply create new `IntermediateEntity` and `ChildEntity` objects using `Migratio

[2020-10-07 13:36] afsalkp007 commented on #6838
Incident Identifier: 0D37A69A-8362-4138-84B0-2ABC50553857
Hardware Model:      iPhone10,5
Process:             APP [1364]
Path:                /private/var/containers/Bundle/Application/6CDD7A30-8288-45A4-B539-01EF920ECBBA/APP.app/APP
Identifier:          ae.healthshield.app.ios
Version:             3 (1.42.2)
AppStoreTools:       11E707
AppVariant:          1:iPhone10,5:13
Code Type:           AR

[2020-10-07 14:06] #6760 closed

[2020-10-07 14:19] leemaguire commented on #6760
Closed via https://github.com/realm/realm-cocoa/pull/6816

[2020-10-07 15:35] pavel-ship-it commented on #6838
Hi @afsalkp007 ,
Thank you for the update. I don't see any calls specific for Realm framework.
Is it possible to reproduce this code with the XCode attached? If yes - could you check the console output please? It could give you some more information on the exception.

[2020-10-07 20:12] phoney commented on #6688
Warnings are back for me in 5.4.7 and 5.4.8. The flags are all present in the Realm project. The warnings refer to librealmcore-ios.a, which I believe isn't compiled on my computer. It's downloaded as part of the library. Commit messages seem to say that realm core has been updated a lot lately. I believe the problem is how that file is built.

[2020-10-07 21:46] ericjordanmossman commented on #6620
@joaopdcgarcia
Could you try the latest [steps for cocoapods](https://realm.io/docs/swift/latest/#mac-catalyst-installation). You'll need to cocoapods 1.10.rc1 and point to:
[code]

[2020-10-08 01:38] norio-agoop commented on #6096
Having same problem but the error message is slightly different in my case.

[code]

[2020-10-08 03:16] kunalsood commented on #6730
Here we go:

[code]

This is using Realm Cocoa version 5.4.8
This particular crash was hit when about 45k into an import of around 55k `Article` objects.

Just as an aside: I do not appear to be hitting this crash as often as I used to. What I mean when I say that is: I was able to successfully complete my import a few times before I hit this crash. I only hit this crash when using KVO & Realm Not

[2020-10-08 08:10] pavel-ship-it commented on #6799
Hi @eastsss ,
Let's say this is your migrationBlock:
[code]
You could think about safe unwrapping of values during migration but I hope the example will give you some ideas on how to solve your problem.

[2020-10-08 09:38] pavel-ship-it commented on #6837
Hi @miklselsoe ,
Unfortunately I cannot reproduce this issue too.
Did you try the workaround from the post you've mentioned here? Does it work for you?

[2020-10-08 10:13] eastsss commented on #6799
So, the newly created ChildEntity objects aren't counted towards the objects we enumerate by doing the second `enumerateObjects()` call? This is very interesting... I'm gonna try this approach today and let you know if it works, thank you!

[2020-10-08 11:02] pavel-ship-it commented on #6791
@vallasd , could you please give me little more info? How do you import Realm into your project? And could you please confirm a version of Realm?

[2020-10-08 11:06] pavel-ship-it commented on #6766
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-10-08 11:06] #6766 closed

[2020-10-08 11:20] pavel-ship-it commented on #6632
Hi @flyling ,
Kinda late question, but is it still an issue?
After second write will you have only a second entry or both?

[2020-10-08 12:29] sipersso opened #6847 "Crash when upgrading from Realm 5.4.6 to Realm 10.0.0-rc1"
The app currently crashes when upgrading a file from 5.4.6 to 10.0.0-rc1. Judging by the error message it is pretty clear that the latest 10.0.0-rc1 build can't upgrade the file generated by 5.4.6 yet (v11). It would be nice if this was listed in the release notes so I could have waited to attempt to upgrade.

## Goals
Upgrade to Realm 10.x apis

## Expected Results
Upgrade should succeed

## Actu

[2020-10-08 13:07] pavel-ship-it commented on #6847
@sipersso ,
I can reproduce this crash. Thank you

[2020-10-08 13:15] sipersso commented on #6847
Awesome! @pavel-ship-it

[2020-10-08 13:41] gioramixin commented on #6408
using 5.4.7

Crashed: com.slatch.dataQueue
0  Realm                          0x10555fe5c realm::Array::init_from_mem(realm::MemRef) + 20
1  Realm                          0x1055f547c realm::Group::attach(unsigned long, bool, bool) + 196
2  Realm                          0x1055fcf68 realm::Group::advance_transact(unsigned long, unsigned long, realm::_impl::NoCopyInputStream&, bool) + 276
3  Realm

[2020-10-08 13:52] miklselsoe commented on #6837
Yes. Adding an empty Objective-C file to the project fixes the issue for me.

[2020-10-08 14:31] pavel-ship-it commented on #6847
It's fixed already and will be available in upcoming release.

[2020-10-08 14:31] #6847 closed

[2020-10-08 14:40] sipersso commented on #6847
Thanks @pavel-ship-it! I'll wait for the release then ;)