[2022-02-06 21:02] zbeckman commented on #6301
Also having this problem with 10.22. Xcode 13.

[2022-02-07 08:50] freeubi commented on #6301
Same error with Xcode 13.1, and Realm 10.22

[2022-02-07 10:54] jeanbaptistebeau commented on #7453
Bug occurring in 10.22.0 for me. Has this been solved completely or not? #7456 mentions a bug in realm core.

[2022-02-07 14:41] rowungiles commented on #7654
I have also seen this issue on Xcode 13.3 and macOS 12.2.

[2022-02-07 16:32] ericjordanmossman commented on #7654
I believe it's the same as this: https://bugs.swift.org/browse/SR-15792
@leemaguire 's filed a bug with Swift.

Let's keep this issue open for now too.

[2022-02-08 02:53] AZHArvin opened #7656 "When I use Xcode 13.2.1 to build for iOS 12.x, will crash every time"
### How frequently does the bug occur?

All the time

### Description

When I use Xcode 13.2.1 to build for iOS 12.x, will crash every time, but iOS 13.x and later is ok.
pod 'Realm',                                      '~> 10.21.0'
pod 'RealmSwift',                                 '~> 10.21.0'

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Ste

[2022-02-08 02:56] tgoyne commented on #7656
This is a bug in Xcode 13.2.1's concurrency back-deployment which is fixed in 13.3. Until 13.3 is officially released, you need to use 13.1 to support iOS 12.

[2022-02-08 09:26] #7558 closed

[2022-02-08 10:07] #7621 closed

[2022-02-08 10:49] FarzinFadavi opened #7657 "SwiftUI + Realm make the animations of app laggy"
### How frequently does the bug occur?

All the time

### Description

Swiping down the card makes the animations of app laggy , this happens when using Realm with SwiftUI together, while if I use SwiftUI alone the animations are smooth. here is a screen on real device to show the lag.

https://user-images.githubusercontent.com/47686392/152971170-04cf00ec-928a-4307-acd8-3da157ea18e8.mov

### Stack

[2022-02-08 11:08] md-rubel commented on #7468
is this problem solved? i'm facing related problem for cocoapod install, version `10.22.0`
Here is the error:

`Could not find module 'RealmSwift' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator, at: /Users/username/Library/Developer/Xcode/DerivedData/app-name-fexncfaxdkhiqpaooqdgayaicvlg/Build/Products/Debug-iphonesimulator/RealmSwift/RealmSwift.framework/Modules/

[2022-02-08 11:21] lunacer opened #7658 ""invalid id token: 'aud' must be a string containing the client_id" for ios login"
### How frequently does the bug occur?

All the time

### Description

I'm having a similar issue to [7576](https://github.com/realm/realm-swift/issues/7506).
But I'm using Expo.

What I did is

1. Realm UI
 - open Id is true
 - with GCP client id and secret for web application (as Realm doc guides)

2. For iOS
 - use GCP client Id for the iOS app.
 - use "expo-auth-session/providers/google" for a

[2022-02-08 11:47] dianaafanador3 commented on #7623
This has been fixed on core and will be available shortly.

[2022-02-08 11:47] #7623 closed

[2022-02-08 14:50] #7656 closed

[2022-02-08 14:53] ericjordanmossman commented on #7658
Hi, could you share the block where you're retrieving the GCP idToken?

[2022-02-08 15:24] ericjordanmossman commented on #7653
I'm seeing the same thing. Will keep looking into this more.

[2022-02-08 17:19] tgoyne commented on #7642
Yes, frozen objects are conceptually Sendable but we can't mark them as such because they're not a distinct type, so that's an appropriate use of `@unchecked Sendable`.

[2022-02-08 18:10] ericjordanmossman commented on #7653
I created https://bugs.swift.org/browse/SR-15840.

[2022-02-08 18:23] allanweir opened #7659 "Crash in encrypted realm"
### How frequently does the bug occur?

All the time

### Description

Hi, after upgrading Realm I noticed a crash happening once the app had started up which then seems to corrupt the realm object. I've narrowed it down to upgrading from realm swift 10.21.0 to 10.21.1.

The app will launch OK and seem to run until some kind of interaction happens with the realm. When the app is restarted the real

[2022-02-09 02:03] lunacer commented on #7658
Hi,  here's the code related to this.

[code]

[2022-02-09 02:27] bdkjones commented on #1109
@JadenGeller since it doesn't seem like Realm is going to improve anything here, it would be nice if you updated your type-erased wrapper example. It's 7 years out of date and throws all kinds of errors now.

Additionally, it doesn't look like it'll work with the new `@Persisted(primaryKey: true)` property wrapper. I'm doing this:

[code]

And that's crashing in `init()` in the guard statement tha

[2022-02-09 10:13] c128128 commented on #7659
same

[2022-02-09 14:55] ericjordanmossman commented on #7658
Are the contents of the idToken valid if you retrieve it with [doWithFreshTokens](https://developers.google.com/identity/sign-in/ios/reference/Classes/GIDAuthentication#-dowithfreshtokens:) on the google user?
`googleUser.authentication.do { ... }`

[2022-02-09 15:32] pavel-ship-it commented on #7643
@sozohoy
1. You are using 2 methods to import RealmSwift framework in the project - [Swift Package Manager](https://www.swift.org/package-manager/) and [Cocoa Pods](https://cocoapods.org/). Please choose one.
2. You can find a stack trace in the Xcode's Console. It's usually in the part of Xcode and it may look similar to [that](https://github.com/realm/realm-swift/issues/7654) (see 'stacktrace &

[2022-02-09 15:57] sozohoy commented on #7643
@pavel-ship-it

* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0xfffffffffffffff8)
    frame #0: 0x000000010259f3b8 uswTimeTable1.0`infoCourseData.addBtnClicked(sender=<unavailable>, self=0x0000000000000000) at infoCourseData.swift:0
    frame #1: 0x000000010259fa58 uswTimeTable1.0`@objc infoCourseData.addBtnClicked(_:) at <compiler-generated>:0
    fra

[2022-02-09 16:00] sozohoy commented on #7643
@pavel-ship-it Here it is!
* thread 1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0xfffffffffffffff8)
    frame 0: 0x000000010259f3b8 uswTimeTable1.0`infoCourseData.addBtnClicked(sender=<unavailable>, self=0x0000000000000000) at infoCourseData.swift:0

    frame 1: 0x000000010259fa58 uswTimeTable1.0`@objc infoCourseData.addBtnClicked(_:) at <compiler-generated>:

[2022-02-09 16:43] #7330 closed

[2022-02-09 16:43] #7484 closed

[2022-02-09 16:43] #7499 closed

[2022-02-09 16:58] krishnasoumya opened #7660 "'No Xcode found with version' Error on Jenkins on pod install"
Installing pod on Jenkins always results in 'No Xcode found with version' error even with all the variables set and Xcode installed.

[2022-02-09 17:10] tgoyne commented on #7660
What are "all the variables" that you have set, and where is Xcode installed on your Jenkins workers?

[2022-02-09 17:22] krishnasoumya commented on #7660
We have `$JENKINS_HOME`, `$DEVELOPER_DIR` set and also have the `$REALM_XCODE_VERSION` set

`/opt/jenkins/jenkins-tools/xcode/` is the location for xcode

[2022-02-09 17:33] kordem commented on #7659
same issue

[2022-02-09 17:43] peter-Kings commented on #7593
你的邮件已收到，我会尽快处理并给予回复！！！

[2022-02-09 17:52] krishnasoumya commented on #7660
We do have `Contents/Developer` included in our DEVELOPER_DIR. Not setting REALM_XCODE_VERSION results in the same "No Xcode found with version" error.

[2022-02-09 18:05] tgoyne commented on #7660
Now that I'm looking at this script again for the first time in years, it's like 95% old cruft from the bad old days of the swift 2 -> 3 transition that can just be deleted. We don't actually need to know what version of Xcode you're using when installing the pod any more.

[2022-02-09 19:44] #7585 closed

[2022-02-09 21:40] tgoyne commented on #7660
https://github.com/realm/realm-swift/pull/7661 should fix this by just not doing any of the Xcode/swift version checking when installing the pod.

[2022-02-10 02:56] greatsk55 commented on #7593
same issue

[2022-02-10 21:02] ericjordanmossman commented on #7657
I keep getting this:
[code]

I think because the results is `@ObservedResults`, it is not "live". But a single card is retrieved by index so it is live?
Are you seeing this also?

Could you add the podfile in case I installed the wrong version or differently?

[2022-02-10 21:26] ericjordanmossman commented on #7641
What happens in `overwriteFile(with: Realm)`? Does it copy data from one realm to another existing? Or does it create a new file at the same path?

The curious thing about the `.courses` realm is that seems like it can exist for a very long time, because a lot of operations are copying, clearing data, etc. through transactions. And doesn't appear to use a new file.
Combine this with the fact that

[2022-02-10 21:30] ericjordanmossman commented on #7467
I'm having trouble parsing this from the stack trace and snippet alone.
Could you share a project that reproduces this?

[2022-02-11 00:16] miguelkennedy commented on #7615
Just to make sure, anyone working on this issue? I would love to try the flexible sync beta feature but unfortunately I can't upgrade to v10.22.0 due to the compilation issue mentioned above 😞

[2022-02-11 13:02] jurex commented on #7639
hey @pavel-ship-it, so after further investigation, it seems that the crash is not during migration process, but inside normal realm db initialisation. I received more crash reports from users which are mostly on macOS, catalyst version of the app.

Here are models exporter from realm studio, working and non-working database, and crash report:

[default-classes.zip](https://github.com/realm/realm-

[2022-02-11 15:45] ericjordanmossman commented on #7657
I think a contributing factor might be how often `.gesture` calls `setYdragValue`. Each time that setYdragValue is called, a realm is opened and one write transaction is made. Opening a realm is not an inexpensive action.
For example:
[code]
is better than
[code]

[2022-02-11 15:46] ericjordanmossman commented on #7657
Also out of curiosity --  what's the motivation for persisting animation coordinates?

[2022-02-11 16:50] ericjordanmossman opened #7663 "Remove object from a list"
### Problem

Right now list removal happens at index: https://github.com/realm/realm-swift/blob/master/RealmSwift/List.swift#L152

It'd be nice to have something like: list.remove(element)
See: https://www.mongodb.com/community/forums/t/realm-swift-ui-pain-points/146772

### Solution

Maybe something like this: https://github.com/realm/realm-swift/commit/cd83a7e24b5d84eff4b58c3fa43ad7780f8cbb82
Th

[2022-02-11 18:20] juanj opened #7664 "EXC_BREAKPOINT at _Persistable._rlmGetProperty(_:_:)"
### How frequently does the bug occur?

Sometimes

### Description

I have updated from version 10.7.2 to 10.22.0 and migrate the models to use the new `@Persisted` property wrapper syntax.

After pushing the update to production, I started seeing a bunch of crashed that point to `_Persistable._rlmGetProperty(_:_:)`.
I'm unable to reproduce it, but it appears to happen pretty frequently.

### Stac

[2022-02-11 18:31] ericjordanmossman commented on #7664
@juanj
Can you provide more context and logs? Or a reproduction project?
Right now I don't think there's a enough information to diagnose the problem.

[2022-02-11 19:16] vladyslavpopovych commented on #7645
Same issue with missing symbols

[2022-02-11 19:36] ericjordanmossman commented on #7664
Thanks. Looks like this'll need to be investigated some more.

[2022-02-11 20:04] ericjordanmossman commented on #7657
At a glance I don't see anything overtly wrong. But the answer can depend on how and where you intend to call the method.

After making the changes mentioned before, do you still believe there is a bug in RealmSwift?

[2022-02-12 07:43] tfe commented on #7641
@ericjordanmossman I'll paste the code for that function (and related) below. I agree that it seems like something is going wrong with the file, however it's not because it's old. As I mentioned, it happens even on fresh installs:

If I provided the Realm file that's exhibiting this behavior, would you or your team be able to analyze them to see what's going on to trigger the `create_object_with_p

[2022-02-12 10:34] onelogapp commented on #7599
Update: Xcode 13.3 beta fixes this issue

[2022-02-12 16:57] FarzinFadavi commented on #7657
no I don't think so, thanks for your guidance.

[2022-02-12 16:57] #7657 closed

[2022-02-12 19:17] juanj commented on #7664
Some more info I can add:
1. It doesn't seem to be Related with Realm migrating the db file. The app keeps crashing with a fresh install.
2. Almost all of the changes to Realm are done using `dynamicCreate`.

[2022-02-14 14:37] dianaafanador3 commented on #1109
Hi @bdkjones we still have `Polymorphic inheritance` on our roadmap, have in mind this is a complex and long project which takes development both on Core and SDK side.
As a workaround, I'm updating the type-erasure example posted on this issue for modern schema declaration.

[code]
and can be used the same as proposed.

We will post on this issue any update regarding `Polymorphism` feature.

[2022-02-14 15:07] chichoch commented on #5756
@mobihunterz Did you find a solution for this?

[2022-02-14 15:42] dianaafanador3 commented on #5756
Hi @chichoch we are working on a new feature which allows to query results and sectioned them by a property, something like this, which may help with current issue with `RealmCollectionChange` on sectioned tables
[code]
Which you can use on a UITableViewController and observe any changes to the data to load the table and changes, there will be an API for SwiftUI as well.
[code]

This may not be th

[2022-02-14 18:02] dianaafanador3 commented on #7417
Hi @KimiChiu I can't assure you that upgrading to the latest version will fix the issue?, I can try to reproduce your issue again. Are you using a realm within a shared group?, can you share both previous schema (@objc dynamic) and new schema (@Persisted)? and any use within a enumeration?, for example iterating an array property or an object within a for each block.

[2022-02-14 18:21] dianaafanador3 commented on #7641
Hi @tfe If you can send us a copy of the corrupted realm we may diagnose the issue. Please send it to diana.perez@mongodb.com

[2022-02-14 19:04] tfe commented on #7641
@dianaafanador3 Thanks so much! Sent it to you via email.

[2022-02-14 23:57] drmarkpowell commented on #7663
+1 Yes, users of the SDK would love to see this

[2022-02-15 05:47] qibaozhen opened #7665 "dyld: Library not loaded: /usr/lib/swift/libswiftCore.dylib"
### How frequently does the bug occur?

All the time

### Description

我从xcode13升级到xcode13.2.1之后，realm 也升级到10.22.0 ，运行在iOS12系统上会crash

dyld: Library not loaded: /usr/lib/swift/libswiftCore.dylib
  Referenced from: /private/var/containers/Bundle/Application/FBB8FCFA-xxx-xx-xxx-4B1D040443D6/xxxx.app/Frameworks/libswift_Concurrency.dylib
  Reason: image not found
(lldb)

### Stacktrace & log output

[2022-02-15 10:32] dianaafanador3 commented on #7615
Hi @miguelkennedy it looks like it is not finding the definition of `==` on `RealmCollectionImpl`, and it is triggered by conforming `GlucoseManagerState` to `Equatable`. This is something required on your side?, If not removing the conformance will remove the build error. We'll keep investigating why this is happening on our side and why this is only happening when using an xcframework.

[2022-02-15 10:44] dianaafanador3 commented on #7665
Hi @qibaozhen which dependency manager are you using to import Realm?

[2022-02-15 16:06] tgoyne commented on #7665
Xcode 13.2 has a bug in the concurrency back-deployment that makes it not support iOS 12. You need to use 13.1 or 13.3.

[2022-02-15 16:42] ericjordanmossman commented on #7224
https://github.com/realm/realm-swift/pull/7662

[2022-02-15 17:21] juanj commented on #7664
I found the cause of the crash.
`Fatal error: Not enough bits to represent the passed value`

This was happening when accessing an object that was created with `dynamicCreate` and one of the int properties didn't fit inside the property type.

This error is totally on my side, but just wanted to point out that the way Realm handled it changed. Before updating, instead of crashing it returned a val

[2022-02-15 17:21] #7664 closed

[2022-02-15 18:40] jadar opened #7666 "AnyRealmCollection requires generic type to conform to _ObjCBridgable"
### Problem

Recently I updated from Realm v10.17.0 to v10.20.0 which changed some of the API for `AnyRealmCollection`. In some of my initializers, I had been taking a generic `RealmCollection` value and then wrapping it in an `AnyRealmCollection`. This simplified the call site so I didn't have to perform the type-erasure every time I used one of my own APIs. However, the more recent Realm APIs re

[2022-02-15 18:52] tgoyne commented on #7666
RealmCollection should probably just inherit from _ObjcBridgeable. I think the only reason it doesn't is because I just did the more localized change and moved on, but it conceptually is valid for it to and it shouldn't cause any problems.

[2022-02-16 09:25] chichoch commented on #5756
@dianaafanador3 That sounds nice! Do you have any timeplan for that implementation?

[2022-02-16 10:10] dianaafanador3 commented on #5756
@chichoch this is on the roadmap and schedule for this quarter, but cannot provide a due date for it.

[2022-02-16 11:30] Saul-Liang commented on #7629
We're also seeing this crash on 10.22.0. Downgrading to 10.20.2 seems to fix the issue for us - thanks @sainttail 🙏

[2022-02-17 01:10] syntakks commented on #7266
Still having this error. I have a main workspace and an embedded framework.
I used SPM to install Realm "up to next major" 10.19.0 (This ends up giving me 10.22.0)
In my framework I go to the Target > Build Phases > Link Binary with Libraries and Add the Realm libraries.
Clean and Build and I get failure for symbols in RealmCore.

Don't think it's a red herring. I installed Alamofire exactly the s

[2022-02-17 01:22] tgoyne commented on #7266
That looks like we're not setting the linker flags for the Core target correctly. When only one target depends on Realm everything is built as a static library and Core's linker flags are ignored, but once there's multiple targets which depend on it SPM will build all the libraries as dynamic libraries and it does matter.

[2022-02-17 04:48] Zanchee commented on #7493
Any updates on this issue?

[2022-02-17 11:18] pavel-ship-it commented on #7624
Fixed in #7646

[2022-02-17 11:18] #7624 closed

[2022-02-17 12:00] lowfreq2010 commented on #7654
we have the same problem, how do we workaround it until next Xcode beta?

[2022-02-17 14:58] michalrentka commented on #7649
Hey @tgoyne, sorry for a late reply. I had to deal with some other issue.

Anyway I gave this a quick test. I tried to open realm and read some results while the app was in background:

[code]

It didn't crash. I even tried delaying it for 5 seconds. The `UIApplication.shared.applicationState` was `.background`.

Does this only apply when the app launched in background (so `application(_:didFinish

[2022-02-17 19:02] natalia-osa opened #7668 "Encrypted Interprocess sharing is unsupported error on app launch"
### How frequently does the bug occur?

All the time

### Description

I receive an error on app launch saying:

I migrated from Realm 5.x to 10.x last week. Was able to reproduce this issue just on this one simulator, on other devices it's working correctly and I can't make this error appear. However, it doesn't look like it's connected with the fact it's a simulator not device, so I'd prefer to

[2022-02-17 19:22] pavel-ship-it commented on #7639
@jurex when does it happen first time? You mentioned migration. Was it Realm version upgrade or it remains same? Is it database schema migration?

[2022-02-17 21:32] jurex commented on #7639
@pavel-ship-it So after getting more insights from users, it seems it's happening in complete random. They closed the app, opened it again on the other day and it crashed. Or it crashed due some unrelated issue and then keeps crashing with this strange realm error over and over again.

Also I originally thought it was crashing only during migration (that AppDelegate.runRealmMigrations function ) b

[2022-02-17 21:34] jurex commented on #7639
Also if that matters, my default realm confirmation contains this compactOnLaunch function:

[code]

[2022-02-18 07:00] duncangroenewald opened #7669 "RealmSwift crash"
### How frequently does the bug occur?

Sometimes

### Description

Realm object updated (synced realm) and appeared to cause a crash in RealmSwift.  See below for crashed thread stack trace.  Intermittent it seems.

Could this be a bug in RealmSwift ?

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

None

### Version

10.19.0

### What SDK fla

[2022-02-18 11:08] dianaafanador3 commented on #7669
Hi @duncangroenewald It looks like you are trying to access a non-existent index of an Array on an observation callback. Are you doing any observations on `SwiftNativeNSArray` class?, that may help diagnose the issue.

[2022-02-18 11:50] pavel-ship-it commented on #7639
@jurex do you use background fetch?
Where do you store the Realm files? Is it bundled in the app or in the app group?

[2022-02-18 14:45] dianaafanador3 commented on #7668
This error indicates that the current database session was initiated by other process and then you are trying to open the same database with other process, which is not allowed with an encryption enabled database.
Are you storing your database in a shared group?
If this only happened once with a particular simulator, this may be an issue with a corrupted pid on your simulator or pid changes on a s

[2022-02-18 14:56] natalia-osa commented on #7668
@dianaafanador3 Thanks for your reply, that's what I expected. I do not have any shared group. I'm 100% certain no other instance of my apps is using (nor even have access) to this database. The app is full-screen, and you cannot run 2 instances of this app at the same time. So nothing else could have access to the database.

As for now, it happened once in a particular simulator. However, it's be

[2022-02-18 15:01] #7668 closed

[2022-02-18 15:06] jurex commented on #7639
No

The realm file is created automatically in default location (data container > documents) after first installation. I'm not using any bundled realm files or anything special.

[2022-02-18 17:57] jadar opened #7670 "Sort observable collection in-memory based on a computed property"
### Problem

I need to sort a Realm collection by geo-spatial distance based on a location property on a Realm Object.  I'd also like this collection to receive update notification for insertions, deletions, and updates.

### Solution

Obviously, this can't happen in the database engine unless the engine supported some kind of complex sort descriptor, or unless it was built to support geo-spacial

[2022-02-20 12:39] tijme commented on #7046
I'm experiencing the same issue in my open-source app (or well, users are experiencing the same issue, I'm not). I have not been able to reproduce this yet.

[2022-02-20 16:10] raphaels17 commented on #7369
If one keeps the same name for the var intOpt  then intOpt but just change the encapsulation method, does this calls for a migration in some scenario ?  or can I change  all my
let exampleVariable = RealmOptional<Int>() to
@Persisted var exampleVariable: Int?
without any concern?

Kind regards

[2022-02-21 05:57] 6eyu opened #7671 "NavigationLink create a duplicated realm object"
### How frequently does the bug occur?

All the time

### Description

Hi, I am testing [the example code](https://docs.mongodb.com/realm/sdk/swift/swiftui/#authenticate-users-with-mongodb-realm). I found that after adding a new item, it creates 2 objects in memory
<img width="589" alt="Screen Shot 2022-02-21 at 4 48 40 pm" src="https://user-images.githubusercontent.com/46993604/154896735-e7e49909

[2022-02-21 10:02] leemaguire commented on #7670
Hi @jadar,

Depending on how you are storing the location data, you could make use of our Type Projections feature for your use case. [Here's a blog post showcasing it
](https://www.mongodb.com/developer/how-to/type-projections/).

If you could show us your Realm model and your usage we may be able to help you further.

[2022-02-21 10:23] leemaguire commented on #7671
@6eyu I cannot reproduce the issue with the sample code. Can you please send us a sample project that reproduces the issue.

[2022-02-21 10:55] 6eyu commented on #7671
@leemaguire https://docs.mongodb.com/realm/sdk/swift/swiftui/#without-sync
exactly the same as the sample code.

It wouldn't cause any error (I will close this issue),
but I am wondering why after adding a new item to the list, the app memory (enable debug memory graph in XCode) has 2 objects.

see the picture below, there are 2 items in the list, but the memory graph shows 4 objects.
<img width="

[2022-02-21 10:55] #7671 closed

[2022-02-21 11:15] leemaguire commented on #7671
It looks like the accompanying allocation is specific to the internals of SwiftUI. Realm is not creating duplicate heap or stack allocations.

[2022-02-21 11:41] leemaguire commented on #7659
Hi @allanweir

Sorry to hear that you are encountering this. To help narrow this down further could you tell us if you using Realm Sync? And does your model use `EmbeddedObject`'s?

[2022-02-21 11:59] leemaguire commented on #7626
Hi @tijme,

Did the latest version of Realm solve your issue?

[2022-02-21 12:02] leemaguire commented on #7625
@ragu-pdx were you able to try the above suggestion of performing a write transaction on the main thread and cancelling it? If so did it yield a plausible workaround?

[2022-02-21 12:17] leemaguire commented on #7622
@ksiwei the memory bloating you are encountering looks related to the use of writes inside the for loops. I would suggest:

[code]

[2022-02-21 12:35] leemaguire commented on #7614
Hi @ayrtonsoftware Could you provide us with more sample code or a test app reproducing the issue? The code you supplied in the issue does not reproduce the issue for me.

[2022-02-21 12:41] dianaafanador3 commented on #7641
Hi @tfe we were not able to decrypt your realm realm file, which could mean that the file is completely corrupted. Have you tried downgrading to `10.20.2` which was suggested on the other issue. We are trying to identify the issue and fix this as soon as possible.

[2022-02-21 13:58] tusharmutreja200 commented on #7536
@leemaguire  yes, it works perfectly fine with it.

[2022-02-21 13:59] leemaguire commented on #7536
@tusharmutreja200 good to hear! On that note I will close this issue.

[2022-02-21 14:00] #7536 closed

[2022-02-21 14:01] tusharmutreja200 commented on #7536
@leemaguire But we have to fix this for CocoaPods too

[2022-02-21 14:28] leemaguire commented on #7536
I will bring the PR to the teams attention. In the meantime you can declare a category in your project and building with Cocoapods will work.

[code]

I declared this in the bridging header just for test purposes and it allowed the project to build & run normally.

[2022-02-21 14:46] miguelkennedy commented on #7615
Hi @dianaafanador3

Sorry for the late reply, was away on vacation.

Unfortunately I must conform GlucoseManagerState to Equatable because it's a requirement by The Composable Architecture that powers the app. So, removing the Equatable conformance is not an option for me 😞

I hope you guys can find the culprit and fix it.

Thank for the update 👍🏼

[2022-02-21 15:54] leemaguire commented on #7643
Hi @sozohoy, I took a look at your code for your app. Just a few pointers:

- Use `%@` instead of `%s` for arguments in NSPredicates. `%s` is only for c strings. So `.filter("timetableName == %s", userData)` becomes `.filter("timetableName == %@", userData)`
- If you are using string interpolation for creating an NSPredicate string be sure to wrap the argument in quotes `'`. e.g
[code]

[2022-02-21 16:04] bfichter commented on #7629
We're also experiencing this sporadically after upgrading to 10.21.1 with encryption enabled.

[2022-02-21 16:04] leemaguire commented on #7618
@LukasGram would you be able to send us the Realm file to realm-help@mongodb.com so we can help diagnose the issue?

[2022-02-21 16:06] leemaguire commented on #7629
@bfichter @Saul-Liang  can you attach any stack traces?

[2022-02-21 18:53] jadar commented on #7670
@leemaguire

I recently switched to storing locations by using type projection to story a `CLLocationCoordinate2D` as an embedded `Coordinate` object.

[code]

I'd like a sorted collection of `Location` objects sorted by distance to the current location from `location.boundary.centerCoordinate`.

[2022-02-22 07:41] bmunkholm commented on #7046
@tijme please also post your stacktrace as it may not be related or it may provide additional information

[2022-02-22 10:00] michalrentka commented on #7649
So I re-tested. This time the first access to realm was definitely made while the app state was `background`, I tried reading and writing and both worked correctly and didn't crash.

Maybe the problem is when the share extension tries to access realm at the same time as app in background tries to access it?

[2022-02-22 14:37] leemaguire commented on #7117
I tested https://github.com/realm/realm-swift/issues/7266 with a playground in an Xcode project in Xcode 13.2, so when this gets merged we will have better support for Playgrounds.

[2022-02-22 14:56] leemaguire commented on #7641
@tfe can you show us what the implementation of `Self.encryptionKeyData(from:)` looks like?

[2022-02-22 15:50] leemaguire commented on #7641
When this crash occurs, are you using Realm on any other thread? Are you able to provide more stack traces?

[2022-02-22 21:43] tfe commented on #7641
@dianaafanador3 It opens without complaint in my app (only crashing when trying to create an object), so I'm not sure what to say there.

@leemaguire I don't have any more stack traces, sorry. This never got shipped to more than one or two users before we saw the issue, so I don't have any others. I'll paste `Self.encryptionKeyData(from:)` below.

Regarding threads: yes, it's possible... I mention

[2022-02-23 04:11] #7654 closed

[2022-02-24 01:12] free-znet opened #7676 "filter("'some const string' contains field")"
### Problem

When I query from this
[code]
realm throws an exception:
[code]

### Solution

My model value is:
[code]

I have a string.

if string is `this is text string`, I want found model 2.
if string is `this is test string`, I want found model 1.

when I use `filter("'some const string' contains field")`, it not work.

Such my need is not common. So I can't found solution from document and g

[2022-02-24 13:54] leemaguire commented on #7608
Will be closed via https://github.com/realm/realm-swift/pull/7675

[2022-02-25 10:50] lowfreq2010 commented on #7654
@dianaafanador3 you will be surprised, but xcode 13.3 beta 3 does not have this problem fixed. It is getting really annoying...

[2022-02-25 14:53] bmt2018 commented on #7659
Same problem for me, as well.

[2022-02-25 15:37] tgoyne commented on #7654
They fixed one of the problems, and #7672 works around the other one.

[2022-02-25 15:44] pavel-ship-it commented on #7639
@jurex At the moment I cannot say what is the problem here. The data in [default-crash.realm.zip](https://github.com/realm/realm-swift/files/8048777/default-crash.realm.zip) is damaged. Probably you can have any idea what happened before it was saved? Maybe this is a result of migration? In this case can you share the data schemas for `before` and `after`?

[2022-02-25 16:39] pavel-ship-it commented on #7466
@bb-git thank you for information. Can you confirm you were able to fix that?

@PetrBodnar thank you. It seems Apple have a fix for better crash reports on EXC_CRASH (SIGKILL). Maybe anyone can share fresh crashlogs?

@romanrudyy does anything from above helps you to fix the issue?

[2022-02-25 18:07] Sethmr commented on #7659
Same problem for me.

One other issue we are having is a similar and happening even on `10.21.0` where TouchID devices crash on launch.

[2022-02-27 15:47] matthewjordanRiM commented on #7659
This is happening to me as well.

1. I am using Real Encrypted, only local realm, not Realm Sync
2. I am using EmbeddedObjects(s).

[2022-02-27 18:47] davidkessler-ch opened #7679 "Slow loading times when navigating views"
### How frequently does the bug occur?

All the time

### Description

When trying to navigate between views in SwiftUI the view freezes if there is an realm being passed:
[code]
The more elements received in
[code]
the longer until it then slides to the actual child view (already a few full seconds for more than 20 elements). There are also other things where the app lags for some time. Looking a

[2022-02-28 05:14] lowfreq2010 commented on #7654
@tgoyne, i did pod update yo install latest version of Realm, but #7672 workaround fix is not there. I've had to manually copy-n-paste line of code into Persistable.swift. And, of course, it is vanished as soon as i do pod install.... How do i make this workaround permanent?

[2022-02-28 07:58] matthewjordanRiM commented on #7659
About the above, this is the error and the stack trace from firebase.

<img width="977" alt="Screenshot 2022-02-28 at 07 56 47" src="https://user-images.githubusercontent.com/100526882/155945624-2ba34ffc-bcc2-4182-afe5-baf9789b4091.png">
<img width="883" alt="Screenshot 2022-02-28 at 07 56 40" src="https://user-images.githubusercontent.com/100526882/155945638-83dc73b0-c1e9-444e-8da5-727e94f67ed5.p

[2022-02-28 10:48] telipskiy commented on #6690
the same issue too

[2022-02-28 11:15] pavel-ship-it commented on #7676
This error message just informs you should place a field name on the left part of query.
Let's say you define your model like this:
[code]
Then you can query like that:
[code]
`texts` will contain first object.

[2022-02-28 11:15] #7676 closed

[2022-02-28 11:54] pavel-ship-it commented on #7679
We are working on fix for this issue. You can follow up [here](https://github.com/realm/realm-swift/pull/7667)

I'll close this ticket as a duplicate.

[2022-02-28 12:50] free-znet commented on #7676
@pavel-ship-it Hi, I just want filter `'const string'` contains`field`.

if use sql it maybe like this:
sqlite3: `SELECT * FROM table where 'const string' GLOB field`
mysql: `SELECT * FROM table where instr('const string', field) > 0`

Does realm have a similar function?

[2022-02-28 13:26] pavel-ship-it commented on #7676
@free-znet, yes, you can achieve this behaviour with Realm. Please refer the documentation on filtering - https://docs.mongodb.com/realm/sdk/swift/examples/filter-data/#std-label-ios-filter-data

In the example above
[code]
`realm` - data base
`TextObject` - table name
`storedText` - field name
`'is matching'` - search string

[2022-02-28 15:23] dianaafanador3 commented on #7654
Hey @lowfreq2010 this fix has been merged but not released yet. We'll release a version within the next few weeks. You can track our releases [here](https://github.com/realm/realm-swift/releases/tag/v10.22.0).

[2022-02-28 16:15] pavel-ship-it commented on #7670
We have plans on implementation of Geospatial Indexing but it's not yet any close.

At the moment you may take a look at [RealmGeoQueries](https://github.com/mhergon/RealmGeoQueries) It's not recent but you may have an idea how to achieve this.

[2022-02-28 16:18] dianaafanador3 commented on #7526
Fixed by this https://github.com/realm/realm-core/pull/5254

[2022-02-28 16:18] #7526 closed

[2022-02-28 16:23] jadar commented on #7670
I have looked at RealmGeoQueries but it doesn't include support for live collections or change notifications, which is what I am looking for (see my "Problem" above.) It only gives you a sorted array.

I realize Geospatial indexing might be far away on the road map. That is why I've suggested the half-way work around by allowing you to have a collection type that sorts based on a computed property

[2022-02-28 18:07] pavel-ship-it commented on #7658
@lunacer,
Do you have any updates?

[2022-02-28 21:05] haemi commented on #6096
is 1) realistic? That means that the user has to lock the phone in exactly the millisecond (?) between storing the encryption key and reading it back if I understand it correctly?

[2022-03-01 08:11] pavel-ship-it commented on #7627
Hi @cellularmitosis, sorry to say that, I cannot get the video. Maybe you can reach Andy Matuschak, the author of this talk, ask for copy?

[2022-03-01 08:11] #7627 closed

[2022-03-01 09:11] angelmic opened #7681 "Compile Error on Xcode 13.2.1"
### How frequently does the bug occur?

All the time

### Description

I using cocoapod to install realm 10.22, and I got many compile error from realm-swift.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

1. add pod 'RealmSwift', '~>10' to Podfile
2. pod install
3. build project from xcode.

### Version

10.22

### What SDK flavour are y

[2022-03-01 09:43] pavel-ship-it commented on #7681
I cannot reproduce it.
There are several typical options to try:
- pod deintegrate, pod install
- clean the build folder
- remove derived data
- restart Xcode

[2022-03-01 09:55] free-znet commented on #7676
@pavel-ship-it
`realm` - data base
`TextObject` - table name
`storedText` - field name (value is string: `'is matching'`)
`'this is matching string'` - will be search

then:
`let texts = realm.objects(TextObject.self).filter("storedText contains 'this is matching string'")`

can't get the object which value is `is matching`.

I want to filter which `'const string'` contains field(`storedText`).

n

[2022-03-01 11:10] pavel-ship-it commented on #7676
You can try [Realm Swift query API](https://docs.mongodb.com/realm-sdks/swift/latest/Structs/Query.html)

[2022-03-01 15:35] tgoyne commented on #7681
"public enum override final func" is not a string of text that appears in any of our files, so I think you have some sort of wacky file corruption.

[2022-03-01 19:08] bodnar-dan opened #7682 "Crash on simple transaction"
### How frequently does the bug occur?

Sometimes

### Description

After updating from 10.20.0 to 10.22.0, this particular transaction (old code) is crashing for some users.
[code]
Those several users are blocked and unable to use the app because of this issue. For them this is happening repetitively. We're calling this transaction at some point soon after the app is either launched or transition

[2022-03-02 01:55] angelmic commented on #7681
@tgoyne I saw it on my Pods/RealmSwift/EmbeddedObject.swift `isEmbedded()`

[2022-03-02 02:04] tgoyne commented on #7681
[The word enum there is class in our repository](https://github.com/realm/realm-swift/blob/master/RealmSwift/EmbeddedObject.swift#L61). I suspect you accidentally modified that file.

[2022-03-02 02:34] angelmic commented on #7681
Thanks @tgoyne I found that's my fault. I use swiftformat and forgot to set Pods to be excluded. Thank for your help.

[2022-03-02 05:01] littleossa opened #7683 "Xcode - SPM - Up to Next Mejor version doesn't work"
### How frequently does the bug occur?

All the time

### Description

When I tried to add SPM of Realm-Swift to my project,realm-swift package's `Up to Next Mejor version` and `Up to Next Miner version` didn't work.

<img width="1074" alt="didnot-work" src="https://user-images.githubusercontent.com/67716751/156297016-94ad2362-175b-43b4-b180-45c56cb20906.png">

I guess this package tags does not s

[2022-03-02 10:27] pavel-ship-it commented on #7681
It seems it's fixed, so I close the ticket. Please get back if you need help with this or another issue

[2022-03-02 10:27] #7681 closed

[2022-03-02 12:06] lunacer commented on #7658
I'm sorry for the delay to check on this, I was stuck on some other issues.
Now I'm trying to find out the part of "doWithFreshTokens" in expo sides (which I used for the OAuth part).
I'll update you as soon as I find some meaningful info. Sorry again.

[2022-03-02 12:15] pavel-ship-it commented on #7683
@littleossa thank you for reporting that

[2022-03-02 14:20] michalrentka opened #7684 "Results keypath observing ignores deletion of child object"
### How frequently does the bug occur?

All the time

### Description

I have objects which are related together like this:

[code]

[code]

[code]

Then I have a screen with a simple `tableView` which shows items, but also includes some information about tags for each item. I observe `Results<RItem>` and reload `tableView` when I receive an update:
[code]

When a new `RTypedTag` is created and as

[2022-03-02 14:20] michalrentka commented on #7684
[RealmBug.zip](https://github.com/realm/realm-swift/files/8170127/RealmBug.zip)

[2022-03-02 17:24] pavel-ship-it commented on #7684
Hi @michalrentka , thank you for the report.
Looks like known issue #7493
@ericjordanmossman FYI

[2022-03-02 17:25] pavel-ship-it commented on #7684
I close it as duplicate. Please followup the mentioned ticket

[2022-03-02 17:25] #7684 closed

[2022-03-02 17:31] pavel-ship-it commented on #7682
Hi @Bodnar-Dan , thank you for the report.

Can you show `aRealmConfiguration`?
Sometimes you can reproduce issues on Release build.

[2022-03-02 23:56] zcohan commented on #7438
Can I please have some more guidance/support on this issue? It is rendering my product unusable for 30+ of my customers, who are experiencing a crash on launch due to it.

There are at least three 'unexpected status code' exceptions being reported by Sentry.io:

- Keychain returned unexpected status code: 100013
- Keychain returned unexpected status code: -128 (the most common)
- Keychain returned

[2022-03-03 06:02] lunacer commented on #7658
I tried to refresh the token with expo API [AuthSession.refreshAsync](https://docs.expo.dev/versions/latest/sdk/auth-session/#authsessionrefreshasync) before realm.login.
I'm not sure this way could be equal to retrieving it by 'doWithFreshTokens' of Google, but I just assumed Expo API used that.
And still, the same error shows.

{
  "code": 47,
  "message": "invalid id token: 'aud' must be a stri

[2022-03-03 15:11] Bodnar-Dan commented on #7682
Hello @pavel-ship-it

We use ObjC for that.
[code]

[2022-03-04 08:22] tosbaha opened #7688 "download-core.sh script doesn't work on non interactive shells"
### How frequently does the bug occur?

All the time

### Description

Your download-core.sh script has the following lines

[code]
which indicates that this script should fail if there's an undefined variable. However, below code causes a failure on non-interactive shells.

https://github.com/realm/realm-swift/blob/c6d8ff61221f2ef8a4cdc53a36f44e700c61b286/scripts/download-core.sh#L57-L59
On macOS

[2022-03-04 10:27] Bodnar-Dan opened #7689 "Crash when adding observer"
### How frequently does the bug occur?

Sometimes

### Description

After migrating from Realm 10.20.0 to Realm 10.22.0 we saw a bunch of crashes happening for random users, repetitively.

The crash happens on main thread, right after the app start and it's not the first Realm access. Might however be related with this other crash we were facing (that one also happens soon after the app starts): h

[2022-03-04 11:54] pavel-ship-it commented on #7688
Hi @tosbaha
Can you share more details on your environment and how you running the scripts to help us reproduce the issue?

[2022-03-04 12:09] tosbaha commented on #7688
We are running the `pod install` step in a non-interactive shell, meaning `TMPDIR` is not set. TMPDIR environment variable is only set for interactive bash shell and it's different for every user.

You can emulate this environment by unsettling `TMPDIR` environment variable. As in your script, it is POSSIBLE for users to not have that environment variable set. You're already covering that scenario

[2022-03-04 18:32] pavel-ship-it commented on #7688
Thank you @tosbaha
Fixed in #7690

[2022-03-04 18:32] #7688 closed

[2022-03-04 19:46] pavel-ship-it commented on #7682
Supposed to be fixed. I'll get back to that after release.

[2022-03-05 18:21] #7608 closed

[2022-03-07 09:48] guramijobava commented on #7526
Most of the errors are fixed, but the one is remaining:

[code]

Anyone experiencing this error?

[2022-03-07 09:53] guramijobava opened #7691 "Linker command failed"
### How frequently does the bug occur?

All the time

### Description

This issue is connected to #7526. Since the issue was closed, I wanted to reopen it because I'm experiencing one more error while building. You can see the log output below.

Anyone experiencing the same error?

### Stacktrace & log output

[code]
[code]

[2022-03-07 17:16] tgoyne commented on #7682
This might be fixed in 10.24.0. 10.22.0 pulled in some internal changes to how write transactions work which had some bugs. 10.24.0 fixes all the problems we were able to hit.

[2022-03-07 19:51] shusta-patreon commented on #7691
+1 also seeing this with this latest version. I can build successfully if I remove code coverage generation from all targets, but re-enabling it then re-introduces the linker error. Various invocations of cleaning builds or cleaning derived data doesn't seem to help, alas.

[2022-03-07 21:56] zcohan commented on #7438
I'd be fine with storing the user's access token unencrypted, or returning an error. The main thing I need is to not hit an unrecoverable exception that crashes the app. I don't have any means to contact customers running into this issue, so unless they contact me themselves, their experience is that the app just doesn't open.

[2022-03-08 07:12] guramijobava commented on #7691
I agree that turning off the code coverage generation works. For temporary solution, we can have it that way. However, this needs to be addressed and fixed, since we want to have code coverage enabled.

[2022-03-08 11:03] BlueCobold commented on #6624
I would really like to have this feature in Swift. Just like it exists on Android.

[2022-03-08 13:16] jurex commented on #7639
hey @pavel-ship-it, unfortunately I don't have any idea what could happen there. The app is now using downgraded version  10.20.2 and I don't have any reports of similar crashes. I'll try to upgrade to the latest realm library 10.24.0 and we'll see.

[2022-03-08 15:56] justdan0227 opened #7692 "Realm have the same architectures (arm64) and can't be in the same fat output file"
### How frequently does the bug occur?

All the time

### Description

Attempting to use 09bb3 yields the following.  Thoughts?

/realm-cocoa/2380340c876da7a2d17b0b59e21e339120d09bb3/Build/Products/Release-iphonesimulator-static/Realm.framework/Realm have the same architectures (arm64) and can't be in the same fat output file

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Ye

[2022-03-08 16:33] tgoyne commented on #7691
You should report this to Apple, as it's an Xcode bug.

[2022-03-08 16:38] stremblayiOS commented on #7623
This is still happening using SPM and `Realm 10.24.0`. Can we reopen this please?

[2022-03-08 16:40] dianaafanador3 commented on #7623
Are you still getting the same error?

[2022-03-08 16:41] stremblayiOS commented on #7623
yes

[2022-03-08 16:43] mwoollard commented on #7623
I think this is now only issue when targeting M1 simulator. I created new issue in realm-core [here](https://github.com/realm/realm-core/issues/5310). Could you confirm you are using M1 Mac?

[2022-03-08 16:59] stremblayiOS commented on #7623
I am not using a M1 Mac.

[2022-03-08 17:44] stremblayiOS commented on #7623
This is what I get when I try to add Realm to an watch extension using SPM

<img width="364" alt="Screen Shot 2022-03-08 at 12 44 04 PM" src="https://user-images.githubusercontent.com/919665/157295213-b771caad-c252-4b7b-a4ae-020472c76978.png">

[2022-03-09 07:36] guramijobava commented on #7691
@tgoyne It's being reported already: https://bugs.swift.org/browse/SR-14788
Unfortunately, no updates. If we all try to vote for the issue, they might fix it

[2022-03-09 18:42] rabia-onschedule commented on #7157
SPM does not work if we have multiple targets.

[2022-03-09 18:59] omokagbo commented on #7157
Are you getting any particular error message? Can you share the error message to provide more context?

[2022-03-10 03:52] gongzhang opened #7693 "Carthage build missing Mac Catalyst binary in XCFramework under Xcode 13.3 RC"
### How frequently does the bug occur?

All the time

### Description

I'm using Xcode 13.3 RC now. When I finished executing the `carthage bootstrap --use-xcframeworks`, It looks like the XCFramework for `RealmSwift` is missing the Mac Catalyst binary. Is it now supported to build XCFramework with Carthage?

![image](https://user-images.githubusercontent.com/4470629/157584541-5624016e-8244-48a6-a

[2022-03-10 10:05] jberkel commented on #7585
Maybe this is useful to someone else: it looks like with CocoaPods, the `[CP] Copy XCFrameworks` build phase sometimes does not get executed, which results in the library not being present during linking.

 It seems related to the "Run script based on dependency analysis" setting in the build phase configuration. When unchecked, the project always builds.

<img width="517" alt="Captura de pantalla

[2022-03-10 12:35] LukasGram commented on #7618
@leemaguire unfortunately we don't have access to any Realm file with the mentioned issue. We only see the crash logs users sent to use when the described their problem.

[2022-03-10 12:54] sync-by-unito[bot] opened #7694 "Unable to compile for watchOS simulator on M1 systems"
Expected results
I can integrate Realm using Package.swift and create Xcode project from Package.swift and then compile for watchOS simulator on M1 hardware

Actual Results
/Users/markw/Library/Developer/Xcode/DerivedData/utrealm_apple-bradedzrezbnygezsnaxhbsvzeye/SourcePackages/checkouts/realm-core/src/realm/impl/simulated_failure.cpp:181:1: error: thread-local storage is not supported for the cu

[2022-03-10 16:43] sync-by-unito[bot] opened #7695 "App won't build after upgrading to latest version (SPM): "Thread-local storage is not supported for the current target""
#### Expected results
The app to build.

#### Actual Results
I recently upgrade our app from Realm 10.03.0 to 10.24.0 using Swift Package Manager. The app fails to build with the error "Thread-local storage is not supported for the current target".  The package specifies an iOS version of 11 but our deployment target is iOS 13.

Error: thread_local bool (*s_mmap_predicate)(size_t);
(line 181 of fi

[2022-03-10 21:07] justdan0227 commented on #7692
Thanks!

[2022-03-10 21:07] #7692 closed

[2022-03-11 16:44] rhys-rantmedia commented on #7145
Having encountered this problem on a legacy project, where I've migrated some `Object` types to `EmbeddedObject`, finding a number of cases or orphaned objects... some helper function to delete them would be incredible 🙏🏻
Thank you @sipersso and @DominicFrei for your workarounds for now, though!

[2022-03-11 19:32] sipersso commented on #7145
In Swift you can only solve the case where you have orphaned object. If you need to create embedded objects to solve the case with multiple back links this is currently not possible in the Swift API because of https://github.com/realm/realm-swift/issues/7508. So unless the helper function is in Realm Core it won’t be able to solve all migration corner cases.

[2022-03-11 19:44] bmt2018 commented on #7659
We're also still suffering crashes with encrypted Realms.  We upgraded Realm to 10.21.1 and started experiencing these issues.  Is there anyone from the Realm team actively investigating this issue?

[2022-03-11 19:48] bmt2018 commented on #7659
@dianaafanador3 Thanks, Diana.  That's great to hear and I look forward to testing the next release!

[2022-03-11 19:50] dianaafanador3 commented on #7659
@bmt2018 I'll try to investigate a little bit further into this next week when I get to do support, as it seems this affecting a lot of people.

[2022-03-11 19:51] bmt2018 commented on #7659
@dianaafanador3 Thank you!  That would be much appreciated!  :-)

[2022-03-12 04:48] fukemy commented on #2608
Can u explain why i got 2 difference model list when using your code, and u how to convert back to my expected Model:
![Ảnh chụp Màn hình 2022-03-12 lúc 11 47 07](https://user-images.githubusercontent.com/8202437/158004119-e91f70bc-88e9-45f6-90a9-1a4416730cc3.png)

other unexpected result

![Ảnh chụp Màn hình 2022-03-12 lúc 11 46 52](https://user-images.githubusercontent.com/8202437/1580

[2022-03-12 13:07] manimaustudios opened #7696 "Stuck on Cocoapods Realm"
### How frequently does the bug occur?

Seen once

### Description

Cocoapods gets stuck on pod install at realm pod

`Running prepare command
   $ /bin/bash -c  set -e sh scripts/setup-cocoapods.sh
   Downloading dependency: 11.9.0 from https://static.realm.io/downloads/core/realm-monorepo-xcframework-v11.9.0.tar.xz
`

trying to delete the entire pod and tried to run pod install -verbose. Stuck f

[2022-03-13 20:49] tfe opened #7697 "Results and objects are not `isFrozen` after calling `freeze()`"
### How frequently does the bug occur?

All the time

### Description

I recently implemented a feature that depends on using `freeze()` to pass a Results object to another thread for further processing, however I'm seeing crashes due to accessing from an incorrect thread.

This was unexpected since freezing the collection should have prevented this error. In debugging I added some diagnostic prin

[2022-03-14 17:16] LilaQ opened #7698 "SwiftUI Animations break with Realm Persisted properties"
### How frequently does the bug occur?

All the time

### Description

`withAnimation` wrapped changes to `@Persisted` properties of an `@ObservableRealmObject` are not being animated, contrary to doing the same thing on `@Published` properties of an `@ObservedObject`.

Sample code:

`struct ContentView: View {

    @ObservedObject var obObject: ObObject
    @ObservedRealmObject var rlmObject: Rlm

[2022-03-14 23:56] #7693 closed

[2022-03-15 08:45] gabrielnica commented on #7599
@tgoyne Now that Xcode 13.3 is out, possible to look at this again? Xcode 13.3 fixes the back deployment issue. Thanks

[2022-03-15 11:22] dianaafanador3 commented on #7696
Hi @manimaustudios, It was just once or it something that happens occasionally?. This issue may be related to the server been down temporally on our side or a poor internet connection on your side.

[2022-03-15 15:12] srstanic opened #7700 "Reading data on the main queue after writing data on the background queue does not produce expected results"
### How frequently does the bug occur?

Sometimes

### Description

After writing data to the Realm database on the background queue, reading the same data on the main queue sometimes results with a success and sometimes results with an empty result. There is a [report](https://github.com/realm/realm-swift/issues/7625) already that looks like the same underlying issue.

### Stacktrace & log output

[2022-03-15 16:25] #7552 closed

[2022-03-15 18:01] jadar commented on #7670
@pavel-ship-it

Thanks for your suggestion. In your example, is points.sorted() going to be of the `Results` type? Also, is there a way I can sort on the collection on the `distance` keypath directly, rather than the comparable implementation? I'm running into exceptions both when I try to sort based on "self" and on "distance".

[2022-03-15 23:21] gorbat-o opened #7701 "Can't build with xcode 13.3"
### How frequently does the bug occur?

All the time

### Description

I opened my project with xcode 13.3 and I can't build anymore when it was still building with the previous version of xcode.

### Stacktrace & log output

[code]
[code]

[2022-03-15 23:23] tgoyne commented on #7701
Support for Xcode 13.3 was added in 10.23.0.

[2022-03-15 23:30] gorbat-o commented on #7701
Thank you! It should have been the first thing I check! Appreciate the time!

[2022-03-15 23:30] #7701 closed

[2022-03-16 15:13] dianaafanador3 commented on #7601
@shiami Can you check if this is still happening on the new Xcode version 13.3. I tested this on my side with iOS version 12.4 on a Simulator and it is not crashing.

[2022-03-16 16:35] #3996 closed

[2022-03-16 16:49] dianaafanador3 commented on #7088
Hi @ragu-pdx, we haven't been able to reproduce your issue. Have you updated to our latest version?, are you still getting this error?, If that's the case can you send us the realm file which we are not able to open, this will give us a clue to what could be happening.

[2022-03-16 17:05] tgoyne commented on #7618
Is it possible that the crashes are all when migrating from Intel macs to apple silicon macs? We've had portability issues with encrypted Realm files before so possibly the files aren't portable between the architectures. Similarly, is it possible that the key derived from the user's password is accidentally dependent on macOS version or architecture?

The other major possibility is that this is p

[2022-03-17 00:08] dianaafanador3 commented on #7645
It seems like linking a sub-dependency is not possible with the current configuration of the Sample project provided. You need to add them as Package.swift modules so it links correctly any sub-dependency (In this case is RealmCore).
I updated the [Sample project](https://github.com/dianaafanador3/RealmModulesProjectsPlaygorunds/tree/master) which I used to test archiving the App, and it is workin

[2022-03-17 07:14] sipersso opened #7702 "Crash in writeCopyTo"
### How frequently does the bug occur?

Sometimes

### Description

I have seen crashes in production when calling realm.writeCopyTo (see stacktrace).

This started happening in Realm 10.22.0 (which had a lot of issues), but I have since then upgraded to 10.24.0 and I am still seeing some crashes.

In this case it looks like there might be a loop in do_write_deep? The crash is repeated for the use

[2022-03-17 07:23] sipersso opened #7703 "Crash when adding object to realm"
### How frequently does the bug occur?

Sometimes

### Description

Realm seems to crash for some users when adding new objects to realm

I have seen similar issues since 10.22.0, but this is also happening since the 10.24.0 upgrade.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.24.0

### What SDK flavour are y

[2022-03-17 10:29] dianaafanador3 commented on #7601
Hi @shiami Xcode 13.3 was recently released and I just tested this out on a Simulator iOS 12.4 and seems like is working fine. Can you check on your side and let me know if you are still having issues.

[2022-03-17 11:12] dianaafanador3 commented on #7562
@dkent Xcode 13.3 is out and seems like this issue is still present.
`Exporting an app that uses Swift’s concurrency features from an archive with bitcode might fail when the app targets iOS 13.0 – iOS 14.7, watchOS 6.0 – watchOS 7.6, or tvOS 13.0 – 14.7. (89271047)`
They are suggesting a different workaround from 13.2.1 release more
`Workaround: Either uncheck the box Rebuild from bitcode when ex

[2022-03-17 12:41] dianaafanador3 commented on #7697
Hi @tfe Can you please show me your objects query on `Model.modifiedSince(date: date)`, this seems to be working fine on our latest release [v10.24.1](https://github.com/realm/realm-swift/releases/tag/v10.24.1) and v10.7.5 as well.
Have you tried to update to our latest release?

[2022-03-17 14:20] bodnar-dan opened #7704 "Fatal Exception: realm::KeyNotFound in Realm notification listener thread"
### How frequently does the bug occur?

Sometimes

### Description

Since version 10.22.0, but it happens in 10.24.0 too, we started to see this crash for some users. It happens in random places.

For example:
[code]
There's no stack trace for this crash.

The stracktrace below is what's happening on main queue, but like I said, it happens randomly... when we insert something or read something.

#

[2022-03-17 15:49] sipersso commented on #7702
let tmpFile = URL.init(fileURLWithPath: NSTemporaryDirectory()).appendingPathComponent("\(UUID().uuidString)")
        autoreleasepool{
            let realm = try! Realm.init(configuration: realmConfiguration)
            try! realm.writeCopy(toFile: tmpFile)
        }

Not sure exactly what you need. The configuration passed in is just the Realm.defaultConfiguration. Not sure if the autoreleasep

[2022-03-17 16:18] Bodnar-Dan commented on #7682
I am still seeing this with 10.24.0 :(

[2022-03-17 18:54] dianaafanador3 commented on #7698
This is probably caused by SwiftUI setting a default animation for @Published state changes on `ObservableObject`s , which is not happening in our case.
The value change on the realm object is triggering a SwiftUI state change and because the identity of the views (Different Text() views in the conditional) are different this is generating the simple change you see without adding .animate, but bec

[2022-03-17 19:19] LilaQ commented on #7698
Nevermind, I messed up when setting up the project.
Your workaround seems to be working great, thank you so much for that. Are there any plans to make it not necessary to add the `animation()` e.g. handle it like SwiftUI does with @Published? I could see more SwiftUI people being irritated when their animations stop working when shifting a project to Realm.

Thanks a lot for your quick help! Very

[2022-03-17 20:23] dianaafanador3 commented on #7698
Ok I see it now, I was wrong is not is not SwiftUI setting a default animation, when you use `withAnimation` it sets the default animation, which in case of a realm object we are observing any changes to the object and triggering a SwiftUI refresh which is reading the new value, and not modifying directly the published value, which is not triggering the animation.
I'll take this to the team and ch

[2022-03-17 20:25] LilaQ commented on #7698
@dianaafanador3
Awesome, thanks for the feedback! :) In case you remember, I'd love to hear about any updates!

[2022-03-18 05:33] rklubenspies opened #7705 "Flexible sync: subscriptions.update crashes after 30 minutes or resuming dev work"
### How frequently does the bug occur?

Sometimes

### Description

Initializing realm subscriptions with flexible sync results in a crash either:

- After about 30 minutes of using the app in simulator; or
- When running the app in Xcode/Simulator for the first time after re-starting work on the app (I.e. we closed Xcode and simulator for the day and started up again the next day).

This crash se

[2022-03-18 07:47] mwoollard commented on #7694
@dianaafanador3 I can confirm the branch fixes issue we had building for watchOS simulator on M1 hardware. Thanks !

[2022-03-18 10:36] dianaafanador3 commented on #7705
Hi @rklubenspies as you mentioned this issue has been reported on other SDKs and we are investigating what may cause this. I'll post any updates on this.

[2022-03-18 13:12] dianaafanador3 commented on #7700
Hi @srstanic An In-Memory realm is deallocated from memory when you lose the reference to the realm. So every time you are getting a new realm (function `getRealm`), it is creating a new in memory realm, which will not contain the data stored to the previous ones.

[2022-03-18 15:09] srstanic commented on #7700
@dianaafanador3 Thank you for looking into it! The explanation makes perfect sense. When I switched to the file based Realm, the test was green even with 100 attempts. Though, I wonder why the in-memory version failed only sometimes and not always? Anyway, not that important. Sorry for the false alarm!

[2022-03-18 15:09] #7700 closed

[2022-03-18 15:47] caolsen opened #7706 "Crash : SIGABRT : please_report_this_issue_in_github_realm_realm_core"
### How frequently does the bug occur?

Sometimes

### Description

We recently released a new version of our app that updates realm-swift from version 5.5.2 to version 10.20.2. We are seeing a large number of crashes after rolling out to a small percentage of our users.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Versio

[2022-03-18 23:22] ananfang commented on #7188
It's almost 1 year, any update for this issue?

[2022-03-20 15:12] rajatdhasmana1234 opened #7708 "memory leak ios"
### How frequently does the bug occur?

All the time

### Description

I was working on an iOS project where Realm sdk was used. When I checked the leaks instrument of Xcode, it kept on giving me memory leaks on creation of Realm instance. Then I created a very simple demo app using swiftui and Realm. I looked into memory leaks again and I see the leaks again. I want to know is there a way to get

[2022-03-21 08:02] dianaafanador3 commented on #7704
Hi @Bodnar-Dan Seems like the stack trace is not related to the crash, so we can't diagnose why this is happening. We may need more info to reproduce this.
We do have a fix in our more recent release why fixes which may solve the issue
[Application would sometimes crash with exceptions like 'KeyNotFound' or
assertion "has_refs()". Other issues indicating file corruption may also be
fixed by this.

[2022-03-21 08:05] dianaafanador3 commented on #7703
Hi @sipersso Do you have any code which may help to reproduce the issue?

[2022-03-21 08:10] dianaafanador3 commented on #7702
@jedelbo Can you help with this?

[2022-03-21 08:10] sipersso commented on #7703
It only happens very infrequently in production and I have not been able to reproduce it locally I am afraid :/

[2022-03-21 08:48] danieltabacaru commented on #7705
Hi @rklubenspies. Thanks for filling the bug. We identified the problem and it will be fixed by #5343.

[2022-03-21 09:49] leemaguire commented on #7708
Hi @rajatdhasmana1234 can you give us the code sample that reproduces the issue?

[2022-03-21 09:56] PhilippeWeidmann opened #7709 "ObservedResults sortDescriptor isn't a sequence"
### How frequently does the bug occur?

All the time

### Description

`@ObservedResults` initializer documentation states that the sortDescriptor argument is a sequence.
However it only takes one `SortDecriptor` object as an argument.

I don't know if the documentation is wrong or if the feature is missing.
Either case it would be great if it could take an array of sortDescriptor to do a `sorted(

[2022-03-21 11:35] leemaguire commented on #7706
Hi @caolsen

Does your app use extensions? If so one of the extensions may have the lock for the Realm file while it is trying to be opened in the background.

[2022-03-21 12:22] jedelbo commented on #7702
I am not sure what the exact error is here. The line `alloc.hpp:573` does not contain any assertion or call to terminate. So I would wish that we had more information about the crash. Is this a segmentation fault, and assertion or something else? This error should not have anything to do with the write_copy feature as such, as it happens in `Group::write` which is some very old functionality.

[2022-03-21 12:37] sipersso commented on #7702
I just checked in firebase and noticed that I missed to include the actual line of the crash. Here is the actual error that happens:

Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x00000e0283a7ca60

@jedelbo does that help?

I have only seen this happen for one user so far, but it is repeated crashes.

[2022-03-21 12:40] sipersso commented on #7703
I noticed that the actual crash was missing from firebase so I added that: Not sure if it helps:

Crashed: com.apple.main-thread
SIGABRT ABORT 0x00000001b8563964.

[2022-03-21 12:49] leemaguire commented on #7703
Hi @sipersso

- Do you know what the size of the Realm file is when the crash occurs?
- Do you have any analytics for how long the app is running before a crash happens?
- Are you keeping references of Realm objects/results/realms alive anywhere in your app?

[2022-03-21 12:57] sipersso commented on #7703
1: I don't know the size of the realm file, but this is maybe something that I could add tracking for in a future update.

2: I don't. But I can see that there are repetitive crashes. The affected have crashes within minutes of each other.

3: I don't have any global realm instances if that is what you are talking about. I wrap all calls to realm in background threads in autoreleasepools.

I did s

[2022-03-21 14:34] caolsen commented on #7706
Thanks for the response @leemaguire. Our app does not use extensions or app group containers.

Based on your response I'm assuming this crash is related to file system locks? In a previous app version we moved the location of the Realm files into a subdirectory of Documents that has `URLFileProtection.completeUntilFirstUserAuthentication`. As a result of this update the app uses the `FileManager`

[2022-03-21 14:43] leemaguire commented on #7697
@tfe could you supply us with a sample project that reproduces the issue, we cannot reproduce the issue from our end.

[2022-03-21 14:50] leemaguire commented on #7703
@sipersso could you show us how you wrap the calls the background threads in autorelease pools?

[2022-03-21 15:14] leemaguire commented on #7703
Realms are not supported on concurrent queues, which is what `global()` is. You should create a serial queue to use a Realm on a non main thread. e.g.

[code]

Would you be able to remove the usage of Realms with concurrent queues and see if that solves the issue?

[2022-03-21 15:32] sipersso commented on #7703
Yes, I can definitely remove the use of global(). I'll try this out. Thanks!

[2022-03-21 16:32] sipersso commented on #7703
By the way @leemaguire maybe this is something that should be made a little more clear in the documentation? I just read https://docs.mongodb.com/realm/sdk/swift/advanced-guides/threading/ and there is no mention there that you should avoid concurrent queues and DispatchQueue.global() and when searching on GitHub I see that you have written the same response to many open issues. Maybe something to

[2022-03-21 16:50] #7665 closed

[2022-03-21 17:50] #1800 closed

[2022-03-21 18:07] #4222 closed

[2022-03-21 18:09] #4282 closed

[2022-03-21 18:11] #4477 closed

[2022-03-21 18:15] #4601 closed

[2022-03-21 18:23] #5498 closed

[2022-03-21 18:25] #5528 closed

[2022-03-21 18:27] #5571 closed

[2022-03-21 20:09] caolsen commented on #7706
## Background Task

The `BGAppRefreshTask` is somewhat involved. It's used to sync records on the local device with our servers. The device can have multiple Realm files, so the first step of the background task is to create a "repository" object for each Realm:
[code]
Each repository creates a Realm configuration with the file URL:
[code]
and then records that need to be retrieved are pulled out

[2022-03-22 03:04] #7438 closed

[2022-03-22 09:16] cupcake-shukla commented on #7659
Hi, @dianaafanador3  any workaround for this issue? let's say I downgrade the realm SDK version and release a new version for my application, and if someone still faces this issue I can ask them to reinstall my application will this help?

My month crashlytics looked like 200-300 crashes after this update it has been 18k for this month only

[2022-03-22 12:34] rajatdhasmana1234 commented on #7708
View to show names list:

     import SwiftUI
      import RealmSwift

      struct NameListView: View {
          @ObservedResults(NameModel.self) var nameList

          var body: some View {

              List(nameList) { nameObj in
             Text(nameObj.name)
              }
          }
      }``

Name model:

      class NameModel: Object, ObjectKeyIdentifiable {

          @Persisted(pr

[2022-03-22 14:43] flowbe commented on #7463
We're having the same problem. `@ObservedResults` keep using the default configuration instead of the provided one. Any updates on this issue?

[2022-03-22 15:05] flowbe opened #7712 "`@ObservedResults` inside a ViewModel (`ObservableObject`)"
### How frequently does the bug occur?

All the time

### Description

I would like to put my `@ObservedResults` variable in my view model (which is an `ObservableObject`) instead of putting it directly inside the SwiftUI view. When I do this, my variable is correctly populated but the view is not updated anymore.

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, al

[2022-03-22 16:47] leemaguire commented on #7463
@flowbe could you point to the branch lm/observed-results and see if that solved your issue?

[2022-03-22 22:17] axmav opened #7713 "Uncaught exception 'RLMException', reason: 'Index 3 is out of bounds (must be less than 2).'. Use of dropFirst"
### How frequently does the bug occur?

All the time

### Description

When I use .dropFirst operator on the collection of realm entries and then I want to delete them inside of a transaction I get the error: Uncaught exception 'RLMException', reason: 'Index 3 is out of bounds (must be less than 2).'.
[code]

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

[2022-03-22 22:57] tgoyne commented on #7713
`dropFirst()` returns a lazy view that wraps the input `Results`, and `Results` live-updates as you delete objects. Together, these mean that `toDelete` changes in length as each object is deleted from it. The simplest thing to do is to create an array of objects to delete (i.e. `let toDelete = Array(entries.dropFirst())`) so that it does not update during the deletion.

[2022-03-23 07:45] visav-tietoevry commented on #7654
@dianaafanador3 Do you have updated estimate when this gets released?

[2022-03-23 08:16] axmav commented on #7713
thank you @tgoyne for the explanation. I did the same thing basically. But the thing is, that this interface does exists and is not overwritten. As I did this, I was looking in my code almost everywhere to find what actually goes wrong. I would suggest to resolve this possibility or to delete the function.

[2022-03-23 08:42] flowbe commented on #7463
Hi @leemaguire, yes it seems to solve the issue! 🎉
Can you go ahead and get the PR merged?
Thank you!

[2022-03-23 08:43] leemaguire commented on #7463
Hi @flowbe I'm hoping to get the PR merged by the end of this week.

[2022-03-23 12:44] jklausa commented on #7606
Is this something that we could see land in the near-ish future, or would it require larger amount of refactoring that doesn't fit in the current roadmap for y'all :)?

[2022-03-24 03:25] tgoyne commented on #7606
It's something I'd really like to do, but it's a nontrivial project and we don't have a great idea of how many people are still in the category of currently using the obj-c API and wanting to incrementally migrate.

[2022-03-24 09:32] dianaafanador3 commented on #7188
Hi @ananfang, unfortunately this will be a breaking change in our API, we will need to change the API to allow something that is not a Document `Dictionary<String, AnyBSON?>` (for example SortDescriptor could work here), which is only allowed on major versions. Also, this will make the API less flexible in case there is a change on Mongo's side. We'll keep discussing this for a future major releas

[2022-03-24 12:29] storeyleon opened #7717 "Crashing caused by Encrypted Realm"
### How frequently does the bug occur?

All the time

### Description

Since upgrading from Realm Swift 5.5.x to 10.x.x, due to a failed Realm assertion, the `abort` command is called within the Realm library and terminates the app.

The encryption key remains the same and will happen on fresh app installations, so migrating from older versions of the database doesn't seem to be the issue. The ini

[2022-03-24 13:50] dianaafanador3 commented on #7708
@rajatdhasmana1234 Can you please point which exact version of Realm-Swift are you getting this memory leaks, because I can't reproduce it with your sample code. You can check this on your Podfile.lock file.

[2022-03-24 13:58] leemaguire commented on #7717
Hi @storeyleon I'm investigating this, do you have any more stack traces you could post here?

[2022-03-24 14:49] leemaguire commented on #7717
cc @finnschiermer

[2022-03-24 16:46] leemaguire commented on #7713
Closing this issue as solution provided and `.dropFirst()` is part of Swift's API, not Realm's

[2022-03-24 16:47] #7713 closed

[2022-03-24 16:52] axmav commented on #7713
But it is not supported in Realm and can cause unexpected bugs, @leemaguire

[2022-03-24 17:30] leemaguire commented on #7712
`@ObservedResults` is only intended to be used on a SwiftUI View.

[2022-03-25 08:01] flowbe commented on #7712
Do you think it would be possible to add an equivalent to `ObservableObject` for Realm to mimic the behavior in Combine?

[2022-03-25 09:54] flowbe opened #7718 "Realm Query API crashes with boolean: Unable to parse the format string"
### How frequently does the bug occur?

All the time

### Description

When using the new Query API to filter on a boolean, it crashes with the error `Unable to parse the format string`. If I add `== true` to the condition it works fine.

Doesn't work : `.where { $0.myBoolean }`
Works : `.where { $0.myBoolean == true }`

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, alw

[2022-03-25 10:16] olegrussu1 opened #7719 "Realm crashes sometimes when adding an object"
### How frequently does the bug occur?

Sometimes

### Description

sometimes when i use Realm on different threads it crashes.
for writing in realm i am using using this extension:

[code]

i am using autoreleasepool {} (is it necessary to use on non-main threads?)
so, its:
[code]

is there anything i am doing wrong? i tried without autoreleasepool { } and it happens sometimes as well

### Stackt

[2022-03-25 10:21] jsflax commented on #7712
You should just be able to do:
[code]
And create your view model with the realm's results.

[2022-03-25 10:31] dianaafanador3 commented on #7629
This issue may be related to this https://github.com/realm/realm-core/issues/5174

[2022-03-25 11:10] flowbe commented on #7712
@jsflax I just tried it and the view doesn't seem to be updating when there is an update to the results

[2022-03-25 12:52] rajatdhasmana1234 commented on #7708
pod 'RealmSwift', '10.15.1'

[2022-03-25 13:14] dianaafanador3 commented on #7708
@rajatdhasmana1234 Can you please update to our latest version (v10.24.2) and check if you still get the memory leak?

[2022-03-25 19:08] tfe commented on #7697
@leemaguire Yes, I can get something together for you. One additional bit of info: this seems to only be happening on first open of a Realm created via the `writeCopy` function. Can you try to reproduce using a Realm freshly created via `writeCopy` first?

[2022-03-25 21:27] alexeichhorn opened #7721 "Deadlock when writing inside initial Notification Block call"
### How frequently does the bug occur?

All the time

### Description

When observing multiple Results through notification blocks and performing a write inside the initial block each, there seems to occur a deadlock in some cases. I have made a demo app where it always occurs. Inside `interprocess_mutex.cpp` it waits in `SemaphoreMutex::lock()` forever.
To reproduce it, it is best to use my sampl

[2022-03-26 03:04] zane-carter commented on #7717
Also getting a similar crash in a similar environment.

[code]

[2022-03-26 14:47] sipersso commented on #7703
@leemaguire FIY... I have changed all background operations to use serial queues as per your recommendation. But the issue still persists.

The write operation in this case is performed on the main thread. Could that have anything to do with it? I am in the process of switching to writing on background threads, but not done with that yet. I am not using sync, only local realms for now.

[2022-03-26 16:20] driq commented on #7629
This crash looks indeed identical to https://github.com/realm/realm-js/issues/4428

[2022-03-26 16:38] driq commented on #7629
Realm-core was upgraded from `11.6.1` to `11.8.0` in Realm-swift `v10.21.1`.  Realm-swift `v10.21.0` contains Realm-core `11.6.1`.

If the issue was introduced by a regression in Realm core 11.7 or 11.8, this would mean that downgrading Realm-swift to `v10.21.0` should fix it. Perhaps that's worth a shot?

PS. I would not expect such relatively major changes in patch releases, especially consideri

[2022-03-26 22:38] #7599 closed

[2022-03-26 22:49] #7463 closed

[2022-03-27 13:11] ding-stephen commented on #7623
The same issue for my project with the latest Realm 10.24.2 on my Intel Mac.
But the problem is only happened on the simulators, not when testing on actual device.

![截屏2022-03-27 21 08 31](https://user-images.githubusercontent.com/12482183/160282965-b993a054-e8e3-4447-8306-97c4e89389db.png)

[2022-03-27 15:05] almas-ims commented on #4490
It's been 5 years, any hope on this?

[2022-03-27 15:08] jsflax commented on #4490
We've a project scheduled to work on this in the coming quarters, so, there is hope.

[2022-03-27 16:19] visdyn opened #7723 "realm.add nils unspecified fields with .modified upsert"
### How frequently does the bug occur?

All the time

### Description

When [upserting](https://www.mongodb.com/docs/realm/sdk/swift/examples/read-and-write-data/#upsert-an-object) an existing object using .add and .modified, the fields that are not specified are nil'd

Here's an object using the classic @objc dynamic syntax (this issue occurs using @Persisted as well)

[code]

a person is created

[2022-03-28 07:48] rajatdhasmana1234 commented on #7708
Did update to 10.24.0, but still getting the leak.

[2022-03-28 09:34] finnschiermer commented on #7629
Although these reports mention encryption, there are no relevant changes to the encryption machinery in the versions mentioned.

[2022-03-28 13:59] pavel-ship-it commented on #7718
Hi @flowbe , good catch. It can be a good addition to the query API.

[2022-03-28 14:36] pavel-ship-it commented on #7723
Hi @visdyn,
That looks exactly like #7335
Please follow up the mentioned ticket (you may want to +1 there to give it a kick)
I close this ticket as duplicate.

[2022-03-28 14:36] #7723 closed

[2022-03-28 15:37] olegrussu1 commented on #7719
Thank you for reply.
Not exactly a my case. As i understood it happened in moment of commiting transaction, but my is in moment of adding new object to Realm.
Also the errors in logs are not the same.
Exactly this case of accessing Realm is in the moment when app did move to foreground, did receive contacts from phonebook and synchronizing them with local database.

[2022-03-28 16:19] pavel-ship-it commented on #7721
Hi @alexeichhorn,
That's expected. You should not run blocking code in `.initial` and that's exactly what `write` does.
You may asynchronously dispatch calls for `updateDog/updateNames`.

[2022-03-28 16:38] #5760 closed

[2022-03-28 16:44] #5798 closed

[2022-03-28 16:44] #5851 closed

[2022-03-28 16:50] #6126 closed

[2022-03-28 16:51] #6635 closed

[2022-03-28 17:01] #921 closed

[2022-03-28 17:02] #2246 closed

[2022-03-28 17:08] visdyn commented on #7723
@pavel-ship-it

Thanks for taking a look. I am not sure it's exactly the same thing. That's a feature request to allow skipping of fields to update.

My bug report is that Realm should already *not* be modifying fields that are not specified. More specifically, while the specified field is updated, the rest of the fields are erased.

Is the intended function of `.add. with `.modified` to update on

[2022-03-28 17:10] #3495 closed

[2022-03-28 17:10] tgoyne commented on #3792
This was implemented in 10.21.0

[2022-03-28 17:10] #3792 closed

[2022-03-28 17:12] tgoyne commented on #3704
Keypath filter was shipping in 10.12.0.

[2022-03-28 17:12] #3704 closed

[2022-03-28 17:19] tgoyne commented on #4111
Swift changed the collection transform operations to be lazy, and that applies to Realm collections.

[2022-03-28 17:19] #4111 closed

[2022-03-28 17:25] tgoyne commented on #599
The custom type adaptor feature is now released, and we don't plan to add native URL support.

[2022-03-28 17:25] #599 closed

[2022-03-28 19:54] #7615 closed

[2022-03-29 08:57] jsflax commented on #7719
Could you show us the class for `Contact`?

[2022-03-29 09:12] pavel-ship-it commented on #7708
@rajatdhasmana1234 can you share the trace file for leaks?

[2022-03-29 09:31] olegrussu1 commented on #7719
yes, it is:

[code]

Phone is:

[code]

and User is:

[code]

[2022-03-29 11:19] pavel-ship-it commented on #7709
Hi @PhilippeWeidmann
Thank you for finding. This is a missing part of API

[2022-03-29 11:55] reggian opened #7725 "Terminating with uncaught exception of type realm::util::DecryptionFailed: Decryption failed"
### How frequently does the bug occur?

Sometimes

### Description

We have been seeing Decryption failed crashes in the wild, but never could get a corrupted realm file in house, until now.
What led to a corrupted realm file I do not really know. But the crash occurs when trying to open the realm file.

### Stacktrace & log output

[code]

[code]

### Can you reproduce the bug?

Yes, always

###

[2022-03-29 14:16] alexeichhorn commented on #7721
Ok, thanks @pavel-ship-it for the quick response.

[2022-03-29 14:16] #7721 closed

[2022-03-29 14:35] NikKovIos commented on #5760
Another one point to transfer to CoreData.

[2022-03-29 15:12] #7224 closed

[2022-03-29 16:47] pavel-ship-it commented on #7725
Hi @reggian,
Is it happening for newly created Realm file?
Is it involving a migration of Realm version, schema version?
If it's fine you can share the sample file with me via email (pavel.yakimenko@mongodb.com)

[2022-03-29 19:41] reggian commented on #7725
Hi @pavel-ship-it, thank you for looking into this.

No, newly created Realm file works perfectly fine.

Could be, since this person does not have automatic updates enabled on their phone.
The Realm version was updated two updates ago (four weeks ago)
The schema version was updated three updates ago (five weeks ago).
But I really can't say for certain.

If it is possible I would try to avoid this

[2022-03-29 22:09] caolsen commented on #7706
@leemaguire I've been doing some additional testing. I have not yet managed to reproduce the crash, but I have discovered some unexpected behavior. It seems that something is creating excess backups of the v11 realm files. After running the background task a few times I end up with a documents directory that looks something like:
[code]
It also creates extra `.lock`, `.backup-log`, and .`managemen

[2022-03-30 07:22] rajatdhasmana1234 commented on #7708
stack trace is there on the screenshot

[2022-03-30 07:57] theoks commented on #4818
We are still facing several of these issues, especially when we use the built in Combine publishers, where we don't actually control the queue where the notification block is created. Are there any upcoming fixes or updates on this issue?

[2022-03-30 08:07] theoks commented on #7431
Any updates on supporting Realm usage with Swift's new concurrency system? Everything is gradually pivoting there and there is no viable way to use async/await in a clean way within codebases where async network calls are tightly coupled with realm operations.

[2022-03-30 08:09] jsflax commented on #7431
@theoks what issues are you seeing with Realm and async/await? We have added limited async/await support so we should be able to guide you in the right direction.

[2022-03-30 08:21] theoks commented on #7431
The most frequent issue I face is something along these lines:

[code]
I guess that this is probably an issue created due to the notification blocks that the Combine publisher extensions create under the hood (?). Before Task and async/await I would usually do the write in another background thread, and that would fix the issue, but in this case there is actually no guarantee or control over the t

[2022-03-30 08:39] #6952 closed

[2022-03-30 09:40] pavel-ship-it commented on #7708
@rajatdhasmana1234 can you record trace with the leak and save it? It contains much more data than a stack trace on the screenshot. It will help a lot. Thank you

[2022-03-30 13:36] apurvverma7 opened #7728 "Crash while deleting an object"
### How frequently does the bug occur?

Sometimes

### Description

This crash is occurs for very few users after which they are unable to use the app. This crash happens after which the app crashes every time user opens the app  Can anyone explain how to resolve this.

Below is my delete function.

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduct

[2022-03-30 13:40] pavel-ship-it commented on #7728
Hi @apurvverma7,
Do you have steps to reproduce?
Can you provide objects schema for involved objects?
Any chance you can share (privately) a sample Realm file?

[2022-03-30 13:50] apurvverma7 commented on #7728
@pavel-ship-it unable to reproduce it till now. The logs say _please_report_this_issue_in_github_realm_realm_core_, so posted it here. Will update if I find anything.

[2022-03-30 18:02] jonharris0n commented on #7654
I fixed this by changing 'Swift Compiler - Code Generation' settings for 'Optimization Level' to 'No Optimization'.  Previously it was optimized for speed.  Perhaps a workaround until a fix is issued.

[2022-03-30 20:55] mcorkidi commented on #7435
I have same problem. I simplified code for example.
Model:

`class Order: Object, ObjectKeyIdentifiable {
    @objc dynamic var orderID : String = NSUUID().uuidString
    @objc dynamic var client  : Client? = nil
    @objc dynamic var name : String = "No Name"

    override static func primaryKey() -> String? {
        return "orderID"
      }

}`

'class Client: Object, ObjectKeyIdentifiable {

[2022-03-31 02:44] zane-carter commented on #7725
This may be a duplicate of: https://github.com/realm/realm-swift/issues/7717
I am also experiencing this issue with similar logs.

[2022-03-31 13:47] Bogdan-Belogurov opened #7729 "Crash on writeCopy method call"
### How frequently does the bug occur?

All the time

### Description

I'm trying to copy the local realm DB file using `Realm.writeCopy(for: Configuration)` method. But every time I get an `Assertion failed: val.is_type(type_Link, type_TypedLink)` error.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

1) Create a local realm instance.
2)

[2022-03-31 14:01] pavel-ship-it commented on #7729
Hi @Bogdan-Belogurov
Can you share realm configuration and objects schema?

[2022-03-31 14:05] Bogdan-Belogurov commented on #7729
Hi! @pavel-ship-it
Sorry, I can't share an objects schema for you 😓

[2022-03-31 14:08] Bogdan-Belogurov commented on #7729
@pavel-ship-it
If this error depends on the object schema, could you please explain the meaning of the error, and maybe I can understand why it happens.

[2022-03-31 14:37] sipersso commented on #7702
I now have gotten some more info since of the users actually getting this error has reached out. Apparently the call to writeCopyTo is done on the main thread. I assume that this can be an issue and that it should be moved to a background thread?

[2022-03-31 15:33] Bogdan-Belogurov commented on #7729
@pavel-ship-it
I have reinstalled my app to have the latest schema version and still have this issue.

[2022-03-31 15:49] Bogdan-Belogurov commented on #7729
@pavel-ship-it
Are there other solutions to move all data from the local realm to synced?

[2022-03-31 17:19] pavel-ship-it commented on #7729
So the local Realm is just created and you have some Synced Realm. Am I right?
Were there any change in the remote Schema? Any field type has changed or renamed?

writeCopy is the best way. Let's see how we can find a solution. If there is a privacy concern you can share the sensitive data in private.

[2022-03-31 18:57] Bogdan-Belogurov commented on #7729
@pavel-ship-it

Before I started working on moving data from the local realm to the synchronized one, in the Realm App I turned on developer mode and synchronized the local schema with the remote one.

[2022-04-01 07:09] taise-hikawa opened #7731 "Compound Array of Query<Bool>"
### Problem

If I have array of Query<Bool>, I use Compound Array of Query<Bool> connected by 'OR' or 'AND'.
example: Because the queries used differ depending on the conditions, defined `queries` and appended to them.
[code]

I assume something like NSCompoundPredicate in NSPredicate.

### Solution

[code]
↓↓↓
[code]

### How important is this improvement for you?

_No response_

[2022-04-01 11:26] suddenly1990 opened #7732 "set encryptionKey crash"
### How frequently does the bug occur?

All the time

### Description

I used the realm object-c database before, but did not set the encryptionKey. Now I need to set the encryptionKey to the previous database, how should I migrate. I do the encryption like the following code, but the app will crash。I am did find what should I do or it not support this migrate？.
![281648812189_ pic_hd](https://use

[2022-04-01 12:19] sipersso commented on #7643
I am also seeing something similar. The app crashes when running count on a filtered list. Only happens for some users here, not all.

[2022-04-01 14:53] pavel-ship-it commented on #7732
Hi @suddenly1990,
To enable the encryption you want to use `writeCopyToURL:encryptionKey:error:`
[code]
Here `realm` is your existing unencrypted Realm.

[2022-04-01 16:55] pavel-ship-it commented on #7731
Hi @taise-hikawa ,
Realm Query API supports subqueries. Can it fits to your requirements?

[2022-04-01 17:23] pavel-ship-it commented on #7702
@sipersso,
Yes, blocking the main thread definitely can be a reason. And this is certainly worth to try. If you have any more information please update the ticket.

[2022-04-02 04:29] suddenly1990 commented on #7732
thanks a lot **@pavel-ship-it**
I know your means. I have another questions. when
I called `+ (instancetype)realmWithURL:(NSURL *)fileURL `and realm crash.

the crash message is:
`Error Domain=io.realm Code=1 "Provided schema version 0 is less than last set version 17." UserInfo={NSLocalizedDescription=Provided schema version 0 is less than last set version 17., Error Code=1}`

**my questions:**
*

[2022-04-02 04:30] #7732 closed

[2022-04-02 06:25] sipersso commented on #7702
I actually have more information. WriteCopyTo fails, but I was able to get the file anyway by avoiding the Realm apis and extracting the realm file via the configuration path. It turns out that the file had corrupt data in it!

I started getting all kinds of strange errors after the 10.22.0 update and now I am thinking that all of these are caused by corrupt data. I know there have been open issue

[2022-04-02 07:45] suddenly1990 commented on #7732
thanks a lot

[2022-04-04 08:31] taise-hikawa commented on #7731
@pavel-ship-it
Thanks your reply!
But subqueries do not meet the requirements.
I don't need subquery, I want to change the value of Query<Bool> depending on the condition.
So I want to store them in queries and do an AND join or OR join together at the end.
Currently, we are trying to support it using the following extension, but it would be very appreciated if an official API is available.

[code

[2022-04-04 08:45] pavel-ship-it commented on #7731
@taise-hikawa , I got you.
Thank you for the input. I'll discuss it with the team.

[2022-04-04 08:52] pavel-ship-it commented on #7702
@sipersso, thanks a lot. I'll turn to the team with that info.
Will post an update here later.

[2022-04-04 09:57] allanweir commented on #7659
I have just tested upgrading from 10.21.0 to 10.25.0 and everything seems to be working as expected, no errors on the first or subsequent runs of the build.

Thanks for looking into this and getting it sorted!

I'll leave closing the issue for when you're happy it's resolved everyone.

[2022-04-04 11:15] allanweir commented on #7659
Actually there is still an issue:

About 7 builds/runs in I got an error similar to my original post. There were 2 errors in sequence it looks like:
`/Users/user/Library/Developer/Xcode/DerivedData/MyApp-gbughxsxqnhbrdfiuvzigofzgcyo/SourcePackages/checkouts/realm-core/src/realm/util/encrypted_file_mapping.cpp:622: [realm-core-11.13.0]
0   MyApp                               0x000000010439b94c _ZN5

[2022-04-04 17:45] #7669 closed

[2022-04-04 20:07] davidkessler-ch opened #7733 "Injecting partition for @AsyncOpen while passing @ObservedRealmObject"
### How frequently does the bug occur?

All the time

### Description

Not sure if I implemented this just wrong, but I checked with the guidelines with SwiftUI and can really not find anything that's off. While passing a @ObservedRealmObject I can no longer inject a partition for @AsyncOpen I try to open in the subview.
The problem is quite complex, so below code should illustrate what I am tryin

[2022-04-05 04:58] samrithyoeun opened #7734 "Slow Performance in Writing after updated to 10.24.2"
### How frequently does the bug occur?

Sometimes

### Description

I am using RealmSwift 10.7.4 before,
After update to 10.24.2 I notice the difference speed (slow) in writing transaction

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

Start writing 200 transactions to Realm database

### Version

10.24.2

### What SDK flavour are you

[2022-04-05 09:29] pavel-ship-it commented on #7734
Hi @samrithyoeun
Can you give us more information?
What is your Realm configuration?
What object schemes are involved?
Can you show me the code you're using to perform write transactions?
How do you measure the performance? What are numbers before update and after?

[2022-04-05 18:54] yago1994 opened #7736 "Realm file decryption failed Error Code=2"
### How frequently does the bug occur?

Sometimes

### Description

Background
Our iOS app is live in the AppStore, we have 5% of users who are having an issue that we cannot reproduce locally, we are getting info from Crashlytics and Pendo alike to try to map what they were doing, here is what we pieced together.

Details
We are using an encrypted Realm that opens on app launch in the AppDelegate

[2022-04-05 23:18] alexeichhorn opened #7737 "Opening Realm with async/await in actor causes Crash"
### How frequently does the bug occur?

All the time

### Description

When using the async variant for opening a Realm `try await Realm()` inside an actor or and actor marked function (any defined global actors), the app crashes because the just created realm is accessed from the wrong thread afterwards.

Let's look at this function:
[code]
The async opening function has the `@MainActor`-attribut

[2022-04-06 07:58] michalrentka opened #7738 "Realm notification listener crash"
### How frequently does the bug occur?

Sometimes

### Description

The app crashed on startup for some users. It was reproducible for them (crashed on each startup), but I couldn't reproduce the issue. Re-installing the app fixed it for them. Stack trace points to crash on "Realm notification listener" thread.

The crash is most likely happening in these observers: https://github.com/zotero/zoter

[2022-04-06 15:58] baptiste-faure1811 opened #7739 "Error when opening a sync realm from Realm Studio 11.1.1 (10.25.0)"
### How frequently does the bug occur?

All the time

### Description

Building an iOS app using Realm Sync, when I try to open the Realm file (using the configuration fileURL) with Realm Studio 11.1.1 on macOS I get an error. This error occurs no matter what I do. I tried uninstalling the app from the simulator, reinstalling it, and I get the same error. I trie on my iPhone and sent the Realm fil

[2022-04-06 15:58] pavel-ship-it commented on #7736
Hi @yago1994,
Does it started recently?
Can you show Realm configuration?
Also try to upgrade Realm as we have many new features and fixes since v10.1.4

[2022-04-06 16:29] c128128 commented on #7617
Any news on this ?

[2022-04-06 16:34] c128128 commented on #7617
We really need the concrete Object that was `deleted, changed` in `RealmCollectionChange` and not only the indexes. Or maybe the `_id` (primary key) of the object.

[2022-04-07 09:31] sync-by-unito[bot] opened #7740 "SwiftUI Performance issues"
https://www.mongodb.com/community/forums/t/swiftui-slow-loading-views/147346/9

[2022-04-07 10:29] pavel-ship-it commented on #7739
Hi @baptiste-faure1811
We need to release a new version of MongoDB Realm Studio. It will be available shortly. Sorry for inconvenience.

P. S. I close this issue. If you get a problem with history versions after the release please open another ticket.

[2022-04-07 10:29] #7739 closed

[2022-04-07 12:00] baptiste-faure1811 commented on #7739
Thank you ! No worries I wanted to be sure nothing was wrong with my apps.

[2022-04-07 13:34] pavel-ship-it commented on #7733
Hi @davidkessler-ch ,
You getting this error because you're successfully passing the partition value. Problem here - you're trying to open realm file that is already opened. Solution is to inject a new file url:
[code]
In fact it is better to prepare the whole configuration for the second Realm partition and pass it to the second view instead of passing only a different file URL - `.environment(\.

[2022-04-07 13:44] uwemeier-sclable commented on #7462
This issue still consists with `Realm/RealmSwift 10.24.2`, when trying to deploy to iOS 12.4

[2022-04-08 11:11] pavel-ship-it commented on #7738
Hi @michalrentka ,
it is not easy to say what is the reason of crash. I don't see any clues in the observers code.
Is it crashes on cold start of the app or on entering foreground?

[2022-04-08 11:18] michalrentka commented on #7738
@pavel-ship-it it crashes in `application(_, didFinishLaunchingWithOptions:)`, so a cold start. It crashes the app on each start, so the app is unusable until reinstalled.

[2022-04-08 17:32] bprinsta opened #7741 "EXC_BAD_ACCESS in RLMGetThreadLocalCachedRealmForPath"
### How frequently does the bug occur?

Sometimes

### Description

The app is seeing crashes due to an `EXC_BAD_ACCESS` "Attempted to deference null pointer in" `RLMGetThreadLocalCachedRealmForPath` when attempting to lock the realm cache mutex.

**RLMRealmUtil:L58**
[code]

This is specifically happening on iOS 14 devices.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not

[2022-04-08 20:40] davidkessler-ch commented on #7733
Thanks for your response @pavel-ship-it . If I do pass the entire configuration as you suggested, the realm somehow no longer opens asynchronously, but it also opens if there is no internet connection, with a local realm. So this is unfortunately not an option. Is there a way to have it open asynchronously while also passing in the required parameters?

[2022-04-08 20:46] #7733 closed

[2022-04-08 21:50] tgoyne commented on #7741
Is this possibly happening while the app is in the process of exiting? That line of code is a very mundane of a static variable, which means that it could fail if it's happening while or after the exit-time destructors run to tear down global variables.

If it's not something along those lines, then either the reported crash location is incorrect or something has previously gone very wrong and thi

[2022-04-08 22:34] bprinsta commented on #7741
Would the destructors be called when creating a new Realm in a closure? Since our user object can be accessed on any thread, we have a singleton where we retrieve it like so:
[code]

[2022-04-08 23:03] tgoyne commented on #7741
No, the mutex's lifetime is from when the first time the function is called until app shutdown.

[2022-04-11 03:25] duncangroenewald opened #7743 "Big performance issues with v10.24.2 and Synced Realm"
### How frequently does the bug occur?

All the time

### Description

We have just encountered quite significant performance issues with generating reports from a Synced Realm.

The same issue does not occur when the same realm is opened as a local realm.

I am going to revert to earlier versions to see if I can find out when this because an issue.

I believe we might have previously used v10.19.

[2022-04-11 03:32] duncangroenewald commented on #7734
FYI I just logged an issue as we updated from 10.9.0 to 10.24.2 and hit major performance issues with generating reports but this only seems to happen with the Synced realms and not when run with a local realm (same copy of the data).

[2022-04-11 04:26] duncangroenewald commented on #7743
OK I just rebuilt using v10.19.0 and the problem goes away so something has been broken that is causing a major slow down with queries in 10.24.2.
I will try with 10.20.x etc to see when the problem starts occurring and post and update here.

[2022-04-11 06:10] duncangroenewald commented on #7743
Hmm so unable to build v10.21.0 or v10.22.0 with Xcode 13.3 using SPM.  v10.23.0 builds OK but now the Realm App we use for testing has become unresponsive and never responds to the initial client sync request.

I have logged an issue with Atlas but since it is a Shared Free environment I doubt they will look at it.  So perhaps someone from MongoDB team can check it out as it is most likely a bug

[2022-04-11 06:11] duncangroenewald commented on #7743
And then it just hangs indefinitely

[2022-04-11 07:17] bb-git commented on #7462
We use Cocoapods for everything, so we will stay on 10.11.0

[2022-04-11 09:25] PhilippeWeidmann opened #7744 "Crash at REALM_ASSERT_DEBUG(v % 8 == 0)"
### How frequently does the bug occur?

Sometimes

### Description

We are using realm in a heavily multithreaded environment.
We upload files using an OperationQueue where 4 operations can run in parrallel.
Upon completion we add the result to realm.
To respect realm's thread isolation we use a realm bound to a background DispatchQueue `Realm(configuration: configuration, queue: queue)`
All write

[2022-04-11 10:37] pavel-ship-it commented on #7744
@PhilippeWeidmann thanks for submitting the issue. From what you wrote above the threading policy sounds about right.
Just to help us debug the issue, can you share info on Realm configuration, database schema and the code you're using to perform the writes.

@jbreams might be the case for core.

[2022-04-11 11:34] PhilippeWeidmann commented on #7744
I also think it's an issue for core but the issue template on the core repo told me to go here 😬
The code of the app is quite complex but it looks like this:
We have a BackgroundRealm class:
[code]

We write data in a class that extends Operation this operation is added to an OperationQueue the main writing to realm logic goes like this:
[code]

[2022-04-11 16:01] krwoodal opened #7745 "RLMException Object type not managed by the Realm"
### How frequently does the bug occur?
All the time

### Description
When we boot the app and request objects from realm

`self.realm.objects(RDUser.self)`

The app crashes on only iOS 14.4 and below.

We have a class

[code]

That we subclass for our realm objects like

[code]

In order to prevent the crash from occurring we have to specify the object types in the Realm config

[code]

We are not

[2022-04-11 16:13] tgoyne commented on #7745
This is due to inheriting from a generic base class. The obj-c runtime had a bug which Apple has fixed, but because it's part of the OS the only way to get the fix is to upgrade OS versions.

Depending on what you're doing with the `PrimaryKeyType` parameter (I assume that there's something that you've cut from the code sample), you may be able to do it with a protocol instead of a generic class.

[2022-04-11 17:04] #7745 closed, assigned to nobody

[2022-04-12 09:00] Bodnar-Dan commented on #7704
I still see this in 10.25.0.
One thing worth mentioning, this crash is happening when iOS is bringing back the app from background to connect to our paired BLE device. We have this Background Mode enabled and by the nature of this capability, iOS brings back the app from background to allow operations on BLE devices. We have this for a few years and was not changed in the recent releases. And this

[2022-04-12 09:48] pavel-ship-it commented on #7743
Hi @duncangroenewald , thank you for the info. It will help to diagnose the problem. We are working on this. At the moment you can remain on v10.19.0

[2022-04-12 10:00] #7659 closed

[2022-04-12 10:33] allanweir commented on #7659
Hi Pavel, looks to be working well! Thanks for the update and getting the fix out

[2022-04-12 10:58] pavel-ship-it commented on #7725
@reggian, @emtjoshhart,
This issue should be fixed in Realm v10.25.1
Please let us know if you still see the problem.

[2022-04-12 10:58] pavel-ship-it commented on #7717
@storeyleon, @zane-carter,
This issue should be fixed is fixed in Realm v10.25.1
Please let us know if you still see the problem.

[2022-04-12 11:37] bmt2018 commented on #7659
Updated this morning and so far, so good.  Thank you for the update on this!

[2022-04-12 14:04] LukasGram commented on #7618
Many users who reported the issue were indeed migrating to Apple Silicon Macs. However according to our crash logs it also occurs on Intel Macs which contradicts the assumption. But none of those users reached out to our support. So I'm not sure if those crashes are caused by the backup/migration issue as well.

Since we have an iOS app as well we would run into problems if using the same data on

[2022-04-12 15:40] stoneyMDB commented on #7702
Moved to https://github.com/realm/realm-core/issues/5396

[2022-04-12 15:45] stoneyMDB commented on #7641
Moved to https://github.com/realm/realm-core/issues/5397

[2022-04-12 15:45] #7641 closed

[2022-04-12 15:46] #7702 closed

[2022-04-13 07:35] chatarveer opened #7748 "dyld: lazy symbol binding failed: can't resolve symbol _$s7Combine9PublishedVMa in"
### How frequently does the bug occur?

All the time

### Description

RealmSwift

spec.dependency "RealmSwift", "~> 10.25.1"

Xcode: Version 13.2.1 (13C100)
Simulator: iOS 12.4

Crashing constantly as app opens & tries to load combine which is not weak framework.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Added in description.

### V

[2022-04-13 11:45] pavel-ship-it commented on #7748
Hi @chatarveer,
I cannot reproduce it by just installing via Cocoapods.
Can you show me your Podfile? Maybe a sample project?

[2022-04-13 13:29] emrekarasahin commented on #7645
Hi,

Same issues here.

I have some internal framework which is dependent to Realm. I added Realm and RealmSwift from SPM. No issues on building but have an error on archive side.

Undefined symbols for architecture arm64:
  "realm::ObjKey realm::Table::find_first<realm::StringData>(realm::ColKey, realm::StringData) const", referenced from:
      realm::ObjKey realm::Object::get_for_primary_key_in

[2022-04-13 14:06] taurusdev567 commented on #7585
This will be helpful someone who are using different pod with realm dependency.

Please add below directly to pod

  pod 'Realm', '10.18.0'
  pod 'RealmSwift', '10.18.0'

it will help.

[2022-04-13 14:41] nojoDOTse commented on #7645
Hello, we are also having the same issue.

@emrekarasahin You can apply the changes found in [PR5204](https://github.com/realm/realm-core/pull/5204/files#diff-e752b38a6d72eb50c7ab147fe48749dee382b2c4153c01364db035c2843f1519) in realm-core to ```SourcePackages/checkouts/realm-core/src/realm/table.cpp``` (located in your DerivedData folder for your project) as a work around until that PR is merged.

[2022-04-13 16:44] chatarveer commented on #7748
I created SandboxApp & it seems working all alone, while when its with other libraries, it doesn't work.
I will share Podfile with you asap,

meanwhile if you can guide me whey we have no Combine as weak framework similar to SwiftUI in podspec of realm swift.

[2022-04-13 16:46] chatarveer commented on #7748
Additionally, which is different in my project & Sandbox is dependency.

My project is

MainApp
 --Persistence  - Internal repo
    -Podspec of Persistence has
         spec.dependency "RealmSwift", "~> 10.25.1"

I will make similar demo where it is added as Dependency of internal dependency. Can you try same way?

[2022-04-13 21:09] marcus433 commented on #7728
We are also experiencing this issue on Realm 10.25.0.

`Thread 0 name:   Dispatch queue: com.apple.main-thread
Thread 0 Crashed:
0   libsystem_kernel.dylib        	       0x1b8a31964 __pthread_kill + 8
1   libsystem_pthread.dylib       	       0x1f1f65378 pthread_kill + 268
2   libsystem_c.dylib             	       0x18c3f4420 __abort + 128
3   libsystem_c.dylib             	       0x18c39cf5c abo

[2022-04-14 01:01] anton-plebanovich commented on #6983
This happens to us in the production environment with `the 10.23.0` Realm version. There is no way our users could use RealmBrowser/Studio there.
[code]

[2022-04-14 10:57] duncangroenewald commented on #7743
Ok, let me know if you want any testing done.

[2022-04-14 16:25] jadar commented on #7719
Looks like you're using a `global()` queue, which Realm's [documentation](https://www.mongodb.com/docs/realm/sdk/swift/advanced-guides/threading/#create-a-serial-queue-to-use-realm-on-a-background-thread) says it doesn't support. Those are, by default, concurrent queues. You'll have to make a specific serial queue to use, instead.

[code]

[2022-04-15 08:05] szotp commented on #6898
I cannot explain how painful it is to compile Realm in low resource situations like cloud CI. If it's not a binary it takes like 30 minutes to compile. Not to mention weird quirks that carthage & rome have.

Please give us something that SPM can consume directly.

[2022-04-15 11:19] kondratyevdev commented on #7741
Do you have any updates here?

[2022-04-15 11:25] PerfectShen opened #7750 "OC 中objectsWhere. IN关键字怎么使用？"
### How frequently does the bug occur?

All the time

### Description

IN 关键字
格式化的时候有问题啊
NSArray *list = [@"1",@"2",@"3",@"4"];
listStr = [list componentsJoinedByString:@","];

[BusiModel objectsWhere:@"name IN {%@}",listStr];
根本查不出来

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

IN 关键字
格式化的时候有问题啊
NSArray *list = [@"1",@"2",@"3",@"4"];
li

[2022-04-15 15:57] jhoughjr commented on #7026
I wonder if that is what im experiencing now. I was chasing down why my data didnt sync to atlas, only for it to appear there after some time, but though it looks correct, the data isnt coming down, and there are NO errors reported in the logs in the admin interface or on the device console. Ive really got enough complexity trying to suss out a data model without having to second guess yet another

[2022-04-16 17:43] philipengberg commented on #7623
@dianaafanador3 Facing the same issue, I can confirm that your branch fixed the issue for me (on WatchOS). Any plans to merge these changes?

[2022-04-17 03:21] MussaCharles commented on #6917
@jesusmateos1234  were you able to resolve this issue?
I am currently facing the same problem on Realm version 10.14.0.

[2022-04-17 08:12] szotp commented on #6898
I have found a hack to use CocoaPods with Carthage.xframework provided by realm:

1. Add `Realm.podspec` to your repository
[code]

2. Add a pod to Podfile
[code]

[2022-04-19 07:54] leemaguire commented on #7750
This is not a valid way of producing an NSPredicate, pass in the array literal instead e.g

[code]

[2022-04-19 07:54] #7750 closed

[2022-04-19 08:00] leemaguire commented on #7712
Closing this as it has gone off topic. `@ObservedResults` was created for the purpose of being used on SwiftUI Views. To use it in a ViewModel you'll need to make the ViewModel a struct like the example above. Otherwise you will need to notify your View the traditional way by setting up a change listener on the Realm.

[2022-04-19 08:00] #7712 closed

[2022-04-19 08:48] leemaguire commented on #7719
Closing as solution was provided in last comment.

[2022-04-19 08:49] #7719 closed

[2022-04-19 10:04] leemaguire commented on #7748
I don't have an iOS 12.4 device to test this on but I cannot reproduce with the following podfile:

[code]

Could you also try weak link the Combine framework like so and see if that helps?
<img width="1338" alt="Screenshot 2022-04-19 at 11 04 28" src="https://user-images.githubusercontent.com/17234962/163980509-5e5746f6-b51e-4c0e-9100-03b47c70e63e.png">

[2022-04-19 10:29] leemaguire commented on #7728
@apurvverma7 I have a feeling this is related to the `completion` param being inside the `write` transaction block. Given that `write` is a synchronous operation you shouldn't have a need for it and you should perform any other work after `delete` has completed. Can you remove `completion` and see if that solves your issue?

[2022-04-19 10:39] leemaguire commented on #7744
This could be an issue with multiple threads trying to access `BackgroundRealm.instances` and so you may need to implement some sort of structured concurrency or use `actor`'s

[2022-04-19 12:55] leemaguire commented on #7706
@caolsen the extra realm files are likely created by the file management part of your code finding an existing realm file path and then appending the new file name to that existing path.

[2022-04-19 13:10] leemaguire commented on #7703
@sipersso once you read / write from the realm on the queue that it is bound to things should be fine. Do you have any additional crash logs and any new code snippets you could share with us?

[2022-04-19 13:31] sipersso commented on #7703
I think all of the issues here are caused by corrupted realms. The corruption seems to have happened for 10.22.0, but I don't see many new instances of these after upgrading. However, if there is corrupt data in the realm, upgrading won't help. You have to delete and reinstall the app (and thus risk loosing data, since I haven't been able to migrate to MongoDb Realm yet). Realm doesn't offer any A

[2022-04-19 13:35] leemaguire commented on #7649
@michalrentka It is a possibility both the share extension and your app are trying to access the Realm file at once. When such a scenario happens that can cause a crash as once process is holding onto the file lock.

[2022-04-19 13:53] michalrentka commented on #7649
@leemaguire thanks. Having API access to check the file lock would be very useful. I hope to see it soon in your releases.

I think we can consider this solved at this point, I'll wait for mentioned API change or try to come up with a workaround.

[2022-04-19 13:53] #7649 closed

[2022-04-19 14:15] leemaguire commented on #7705
closed via https://github.com/realm/realm-core/issues/5343

[2022-04-19 14:15] #7705 closed

[2022-04-19 14:31] leemaguire commented on #7588
Closing due to inactivity, if the issue persists please open a new issue.

[2022-04-19 14:49] xiles commented on #7417
Some users of my app are having same issue.
I got a .realm file from one of those users.
If I send a .realm file, could you recover the corrupted file?

A database file contains data users created with their effort.
It'll be very very very sorry that I have to say to users deleting an app and reinstall it. And their data is gone..

Xcode 13.3.1
Realm 10.25.1, RealmDatabase 11.14.0
Cannot reproduce

[2022-04-19 15:16] leemaguire commented on #7007
@igrechuhin we do expose a `maximumNumberOfActiveVersions` you can use to track active snapshots. You can set it from the Realm Configuration.

[2022-04-19 15:22] leemaguire commented on #7246
@Turacbey have you been able to solve this with the latest version of Realm? We require more information to proceed with an investigation as we do not possess a Watch Series 3.

[2022-04-19 15:28] ericjordanmossman commented on #7070
I'm closing this issue because no one else has hit this problem too.
If someone else does, we can re-open with a reproduction case.

[2022-04-19 15:38] leemaguire commented on #7562
The latest Xcode (13.3.1) should fix this. For those experiencing the issue could you submit your builds to the App Store with that version of Xcode?

[2022-04-19 16:21] caolsen commented on #7706
The file management code turned out to be unrelated. The extra realm files were being created in the background task code that opened all files with the path extension `realm`.

Abstractly, the code looked like this:
[code]

We pushed out a fix that modifies the logic to ignore any Realm file with "backup" in the file URL. This fixed the excess backups and we have not seen the crash happen since.

[2022-04-19 16:52] sync-by-unito[bot] opened #7751 "Implement Asymmetric Sync"

[2022-04-19 20:33] jhoughjr commented on #6261
does this mean catalyst is not supported for realm-swift?
the realm react native appears to since mid 2020.
I enabled catalyst and ran my working app on the Mac to an immediate crash in realm:
2022-04-19 15:27:13.838957-0500 ctx[31206:7589368] *** Terminating app due to uncaught exception 'RLMException', reason: 'Keychain returned unexpected status code: -34018'
*** First throw call stack:
(
	0

[2022-04-19 20:40] jhoughjr commented on #7438
This seems to eb the issue I have.
I enabled catalyst and ran on my Mac, m1 and got
*** Terminating app due to uncaught exception 'RLMException', reason: 'Keychain returned unexpected status code: -34018'
Does it every time, works fine on the iPhone.
I have no clue what would be wrong with my keychain and as stated above, it would be nice to have an actionable error or more info. Ive already spent

[2022-04-19 20:47] jhoughjr commented on #7438
looks on line 274 of RLMApp.
.... It appears enabling keychain sharing resolves the issue, disregard my comments.
I am surprised that info did not show up in pages of google on the subject.

[2022-04-20 07:24] sipersso commented on #7508
@dianaafanador3 is this still in the pipeline?

[2022-04-20 08:58] leemaguire commented on #7313
I think I've found the root cause of the issue. In my investigation I found myself getting these errors (in the below image) along with '`Failed to build module 'RealmSwift'; this SDK is not supported by the compiler (the SDK is built with 'Apple Swift version 5.4.2`'
<img width="1186" alt="Screenshot 2022-04-20 at 09 50 53" src="https://user-images.githubusercontent.com/17234962/164190159-a31fd5a

[2022-04-20 09:45] sync-by-unito[bot] opened #7752 "Implement Flx Sync API: Additive Changes"

[2022-04-20 20:56] Turacbey commented on #7246
Hi @leemaguire! I switched to CoreData over 7 months ago and changed my data structure long after that (not error related).
So for now there is no possibility to try it again with the latest version.

[2022-04-20 22:24] IAmMichellis commented on #7466
Hi @pavel-ship-it , I'm working on the same codebase / issue as @romanrudyy was working on in October.

I found this thread and I believe this to be our issue: we are storing our Realm db in a shared container and accessing it from the app and from a notification extension: https://githubhot.com/repo/realm/realm-swift/issues/7649

Can you speak to what we can do about iOS 15 killing our app becaus

[2022-04-21 08:29] Ataman11 commented on #3704
Hi @tgoyne, I see that key path filtering is out but could I do the opposite now - ask to not observe a particular key path instead?

[2022-04-21 09:26] dianaafanador3 commented on #7508
Hi @sipersso I have a branch for this which needs clean up, I'll push it next week and tag this issue.

[2022-04-21 09:47] sipersso commented on #7508
Good news! Thank you @dianaafanador3

[2022-04-21 15:56] jadar opened #7754 "Collection change notification delivers deletion for empty collection"
### How frequently does the bug occur?

All the time

### Description

I've been trying to debug a UITableView crash where there is an inconsistent number of rows. I can consistently cause this after the entities that were previously displayed are all deleted in another view. When the list view appears, a change listener is created for a `Results` collection. The `.initial` update is delivered, an

[2022-04-21 21:28] jadar commented on #7754
I've managed to recreate the issue in a new project. Here is a link to the repo.
https://github.com/jadar/RealmNotificationIssue

Once you launch the app, follow these steps to reproduce.
1. Go to list tab
2. Go to actions tab
3. Press Hydrate
4. Go to list tab
5. Go to actions tab
6. Press Delete
7. Go to list tab
8. Wait a second and watch it crash

[2022-04-21 22:01] tgoyne commented on #7754
Thanks for the repro case! I think I see what the problem is. We don't handle the pattern "remove last observer from collection -> perform a write which modifies the collection -> add a new observer to the collection" correctly. We skip doing the changeset calculation for the collection while it doesn't have any observers, but don't fully revert into the state we had before the first observer was

[2022-04-22 01:56] jadar commented on #7754
Thanks, that solution worked! It would be nice to keep using the same collection, but I suppose that is a reasonable workaround. I use that pattern all across my codebase and also keep seeing these crashes in Sentry. Perhaps this isn't the only area that it's happening.

[2022-04-22 04:59] BlueCobold opened #7757 "terminating with uncaught exception of type realm::util::DecryptionFailed: Decryption failed"
### How frequently does the bug occur?

Seen once

### Description

A customer of my app reported suddenly being unable to launch my app. It terminates on first access of the database and it turns out that it is broken for some reason.

It might have broken during a realm migration, but this is uncertain. Newly created files work just fine. I might possibly be allowed to share the db file to a dev

[2022-04-22 08:46] #7752 closed

[2022-04-22 08:51] sync-by-unito[bot] opened #7758 "Bootstrap initial set of subscriptions on open and make awaitable"
Add the ability to bootstrap an initial set of subscriptions upon opening a realm and have syntax to make this awaitable.

[2022-04-22 08:53] sync-by-unito[bot] opened #7759 "Bootstrap initial set of subscriptions on open and make awaitable"
Add the ability to bootstrap an initial set of subscriptions upon opening a realm and have syntax to make this awaitable.

[2022-04-22 08:55] #7759 closed

[2022-04-22 08:59] sync-by-unito[bot] opened #7760 "Flx Sync: Rename realm.subscriptions.write"

[2022-04-22 09:19] sync-by-unito[bot] opened #7761 "Allow ability to run a query for all documents in a collection"

[2022-04-22 09:46] sujeet0009 opened #7762 "RLMRealm verifyThread"
### How frequently does the bug occur?

Sometimes

### Description

verifyThread: unrecognized selector sent to instance 0x280ac5370

app crashes when getting object from realm database

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.24.0

### What SDK flavour are you using?

MongoDB Realm (i.e. Sync, auth, funct

[2022-04-22 11:12] leemaguire commented on #7757
Hi @BlueCobold Can you send the Realm file to realm-help@mongodb.com so we can investigate? The latest version of Realm (10.25.1) contains a fix that should not let this happen again in the future.

[2022-04-22 11:14] leemaguire commented on #7762
Hi @sujeet0009 can you provide us with a reproduction case for this issue?

[2022-04-22 11:24] BlueCobold commented on #7757
I submitted the file in question.

[2022-04-22 11:35] leemaguire commented on #7246
Ok- given that information I'll go ahead and close the issue.

[2022-04-22 11:36] #7246 closed

[2022-04-22 13:11] leemaguire commented on #7736
@yago1994  Realm 10.25.1 contains fixes for encryption related crashes. Can you upgrade to that version?

[2022-04-22 14:04] #7696 closed

[2022-04-22 15:26] leemaguire commented on #7757
@jedelbo successfully recovered the Realm file, @BlueCobold I have sent it to you via email.

[2022-04-22 16:04] rowungiles opened #7763 "Allow addProgressNotification when using async initializer"
### Problem

When using `let realm = try await Realm(configuration: configuration, downloadBeforeOpen: .once)` I'd like to track the download progress of that sync.

Looking at the async initializer that isn't possible as task is hidden (as is callbackQueue):
[code]

### Solution

With a goal of minimising design changes, the smallest change I can think of is passing in a block and a queue to set

[2022-04-22 16:53] BlueCobold commented on #7757
Super awesome! The customer will be very happy and so am I. I'll upgrade all app versions out there to realm 10.25.1 and hope for the issue to never return. Thanks!

[2022-04-22 18:02] sync-by-unito[bot] opened #7764 "Flx Sync: Await or completion block for subscriptions"
These subscriptions set in the initial set should have the capability to optionally be rerun on appStart if an extra parameter is set (this will cover the re-running of dynamic time ranges and other queries that require a re-computation of a static variable for the subscription)

[2022-04-22 18:02] anton-plebanovich opened #7765 "Random Realm crashes"
### How frequently does the bug occur?

Sometimes

### Description

We just rarely receive crash reports in the Crashlytics

### Stacktrace & log output

[code]

The app tried to open Realm synchronously and crashed, not sure if important but there was also remote function call in parallel:
[code]
[code]
ProductName:	macOS
ProductVersion:	12.3.1
BuildVersion:	21E258

/Applications/Xcode.app/Conten

[2022-04-23 18:41] reveelapp opened #7767 "Request To Identify Sync Flavor - Partition-Based or Flexible via 'isFlexibleSync'"
### How frequently does the bug occur?

All the time

### Description

I’d like to request that we can identify whether the Realm is Partition-based Sync or Flexible Sync, so that we can attribute proper code. I understand that both are not available in the same app yet, though I’d like to build code without having to refactor it later. For now, I have modified the ‘Sync.swift’ repo file to make ‘

[2022-04-23 20:41] liefersfl opened #7768 "Auto migration kills linear migration and should be optional (or removed)."
### Problem

[code]

Coming from a schema version < 8, the migration to schema version 8 fails because there is no `UserContact` type anymore and `newObject` is `nil`.

At first glance the auto migration looks nice and handy but it is a total **time consuming and error prone mess** if you have to validate and fix all previous migration steps whenever a new schema version is introduced. Indeed it m

[2022-04-24 23:41] Kalzem opened #7769 "Stuck in Bad changeset (DOWNLOAD)"
### How frequently does the bug occur?

All the time

### Description

Hi,

I'm crossposting this on mongo forum as well [https://www.mongodb.com/community/forums/t/stuck-in-bad-changeset-download-statuscode-112/159798](https://www.mongodb.com/community/forums/t/stuck-in-bad-changeset-download-statuscode-112/159798).

I believe I have found an infinite loop of bad changeset (DOWNLOAD)
Precise erro

[2022-04-25 04:03] sujeet0009 commented on #7762
This issue not generated at our end, but multiple user facing the issue some time.

[2022-04-25 08:33] jedelbo commented on #7757
Forensic report:
When trying to decrypt the received file, the following showed up:

Checksum failed: 0x90000  0x90000 expected: 0x93  actual: 0x92
Checksum failed: 0x91000
Checksum failed: 0x92000
Checksum failed: 0x93000

Checksum failed: 0xa0000
Checksum failed: 0xa1000
Checksum failed: 0xa2000
Checksum failed: 0xa3000

Checksum failed: 0xa8000

Checksum failed: 0x138000
Checksum failed: 0x1390

[2022-04-25 08:39] jedelbo commented on #7757
@tgoyne the fact that it is the first byte in a 4k block that is modified, does it make us any wiser? An why does the checksum differ if the content apparently is ok?

[2022-04-25 09:45] #7629 closed

[2022-04-25 16:00] #7313 closed

[2022-04-25 16:20] tgoyne commented on #7757
Could possibly be an out-of-bounds write somewhere? The first byte in a buffer is the thing that'll be overwritten if some other piece of code has an off-by-one error when writing to something that happens to land immediately before that buffer in memory. The hmac and actual page data are stored in separate blocks of memory so corrupting one but not the other wouldn't be hard to have happen.

If t

[2022-04-25 18:15] Kalzem commented on #7769
I contacted Mongo support.
They gave me a way to get my user out of limbo: Disable dev mode if it's activated, Terminate Sync, Enable Sync.
You will lose all the new data users will try to save during the sync termination though.
Unfortunately, I still don't know what caused this bad changeset bug on the backend. It's a good thing that it only happened on the dev server and not prod (yet?).

[2022-04-25 18:15] #7769 closed

[2022-04-25 20:11] ericjordanmossman commented on #7762
@sujeet0009
Is there any other information you could provide? Or can you use customer reports to try to reproduce the issue?
We probably can't identify the bug from this stack trace alone.

[2022-04-26 05:46] sujeet0009 commented on #7762
We are just receiving the crash report on firebase crashlytics

[2022-04-26 07:27] mxsc commented on #7725
we seem to get the same issue, even after bumping to 10.25.1.

[2022-04-26 14:48] ericjordanmossman commented on #7762
Okay, in its current state I don't think the team can make progress on this issue. But I'll leave this ticket open for now in case there's a bug and someone else reports a similar error with more information.

[2022-04-26 14:52] jsflax commented on #7762
@sujeet0009 Are the `ServiceAPI` methods doing anything across threads?

[2022-04-26 16:12] stoneyMDB commented on #7765
Moved to https://github.com/realm/realm-core/issues/5435

[2022-04-26 17:54] AF-cgi commented on #7617
@mtgto Can you post your workaround? I'm pretty interested on it.

[2022-04-26 18:32] sipersso commented on #7703
@anlaital are you using sync? or just locally? To be fair, I think the crashes for me has been limited to t a few people on the 10.22.0 update. But I haven't seen many crashes for other users after that. The app does have quite a lot of volume with 100k+ active users.

If you got repeated crashes even before the 10.22.0 update, maybe there is something wrong with your Realm usage? Tens of thousand

[2022-04-26 19:00] ericjordanmossman commented on #7725
@mxsc Does this occur on realm files which were created after upgrading to 10.25.1? If the realm files were created in an earlier version, you may need to reinstall the application.

[2022-04-26 19:10] ericjordanmossman commented on #7717
@waldisonjunior 10.25.1 would prevent newly created realms from falling into the state that causes this crash. If a realm file is already in a bad state, unfortunately 10.25.1 won't revert it.

[2022-04-26 20:19] #7467 closed

[2022-04-26 20:24] #7626 closed

[2022-04-26 23:04] #7547 closed

[2022-04-27 01:13] gongzhang commented on #6671
Update: My previous fixes stopped working since iOS 15.4.

[2022-04-27 05:47] anlaital commented on #7703
We are not using sync at all.

Realm storage engine has always been somewhat volatile, but with the most recent updates it's just gone to a whole new level of pain. I don't think there is anything *we* are doing wrong, it's just that our data volumes are large as is our user base and our models are fairly complex and see heavy usage throughout the application.

Here's a stack trace where simply de

[2022-04-27 08:20] sync-by-unito[bot] opened #7771 "Combine Support for Flexible Sync"
Combine Support for Flexible Sync

[2022-04-27 11:47] Akshaytule09 opened #7772 "Pod install stuck on -> Installing Realm (10.25.1)"
### How frequently does the bug occur?

All the time

### Description

I am trying to Install Realm (10.25.1) but it is taking forever and finally I have to abort it after 3-4 hours. I have tries updating cocoapods. Tried updating pod repo and also tried pod deintegrate and removing podlock file. Results are the same and pod install gets stuck.

### Stacktrace & log output

[code]

### Can you rep

[2022-04-27 17:03] Gao233 opened #7774 "Realm Crash on notification listener"
### How frequently does the bug occur?

All the time

### Description

We are having a hard crash with Realm. With given stack trace, we are having a very hard time debugging it. Would be deeply appreciated if you can give us some guidance!

This happens only when we lock iPad (just background the app won't appear). We were doubting it's because of iOS's file protection. We even tried to use No pr

[2022-04-28 05:36] ayush-ttn opened #7775 "Our app is crashing on launch"
### How frequently does the bug occur?

Sometimes

### Description

We were using Realm version 10.24 and getting the same crash then we reverted back to 10.20 and the crash was consistent. We are not able to reproduce this issue on our side but our customers are reporting the crash. Any help or suggestion will be appreciated. This is happening on almost all of the devices and OS versions so it is

[2022-04-28 14:58] ericjordanmossman commented on #7772
@Akshaytule09 Are you still seeing this today? I'm able to download in a reasonable time.
Did this happen before 10.25.1? Are you using a mirror to download?

[2022-04-28 16:55] ironage commented on #7775
@ericjordanmossman without a reproduction it is difficult to say what the cause is of a stack trace like this. To me, it looks like the assertion is about an array index out of bounds while updating from a parent which can be caused by corruption which has happened some time in the past. Perhaps the underlying issue is fixed by https://github.com/realm/realm-core/pull/5334 but it is hard to say.

[2022-04-28 18:11] KaranMehta3984 commented on #7654
@jonharris0n
It's working fine thanks.

[2022-04-28 18:28] ericjordanmossman commented on #7774
Hi @Gao233
This looks similar to #6433, which didn't really resolve conclusively.

1. Are you using realms across threads? If so, how?
2. How are you changing the file protection of the realm files? See [here ("background app refresh")](https://www.mongodb.com/docs/realm-legacy/docs/swift/latest/index.html#using-the-realm-framework) and [here](https://github.com/realm/realm-swift/issues/6433#issue

[2022-04-28 18:43] ericjordanmossman commented on #7725
Similar to [this thread](https://github.com/realm/realm-swift/issues/7717#issuecomment-1110154404).
10.25.1 can only prevent newly created realm files from entering a bad state.

[2022-04-28 18:47] #7622 closed

[2022-04-28 18:55] #7601 closed

[2022-04-28 19:08] ericjordanmossman commented on #7734
@samrithyoeun
Are you able to provide what @pavel-ship-it asked for? Knowing the circumstance this happens under is important.
A sample reproduction .zip would be helpful also.

[2022-04-28 19:42] Gao233 commented on #7774
Hi @ericjordanmossman ,

Thank you for your response! Yes, I saw #6433 as well and tried couple things in that thread and it didn't end anywhere.

1. Yes, I am using DispatchQueue(label: "background") thread and main thread for realms. Reason being on main thread is there were some legacy code. (I used PromiseKit and PromiseKit default returns to main thread). But I am pretty confident about we ar

[2022-04-29 02:27] mtgto commented on #7617
I have no workaround yet. Always reload data even if it does not need..

[2022-04-29 06:47] evan-manyhats commented on #7508
I just ran into the same issue migrating from Object to EmbeddedObject. I'm glad to hear about the upcoming improvement. Thanks!

[2022-04-29 08:42] sync-by-unito[bot] opened #7776 "Tests for Custom Network Layer [Swift/ObjC]"
https://github.com/realm/realm-swift/pull/7715

[2022-04-29 08:51] ayush-ttn opened #7777 "Crash when accessing Realm"
### How frequently does the bug occur?

Sometimes

### Description

So this crash is happening for some of our users at the app launch. We are yet to reproduce it on our side. The getter where the app is crashing is written like so:
`var realm: Realm {
        return try! Realm()
   }`
The strange part about this crash is, that it is happening for some users regardless of their devices or OS versi

[2022-04-29 09:00] ayush-ttn commented on #7775
@ericjordanmossman @ironage One point to mention is to try to fix this we rolled back our realm version from 10.24 to 10.20 but the crash is still the same. We just thought maybe there is any bug introduced in the new version so rollback may fix that. I forgot to mention it in the issue description above.

[2022-04-29 18:55] Gao233 commented on #7774
Hi there, thank you for your time. I think we have fixed the issue by turning down the file access level as I mentioned above. We might've done something wrong in the first try. Hope this can help anyone who saw this post.

Thanks.

[2022-04-29 18:55] #7774 closed

[2022-05-02 07:23] PhilippeWeidmann commented on #7744
Thanks, we will investiguate concurrent access on `BackgroundRealm.instances` and reopen the issue if we find something.

[2022-05-02 07:23] #7744 closed

[2022-05-02 08:13] abingeorgev commented on #7772
Am also facing the same issue.

-> Installing Realm (10.25.0)

     $ /usr/bin/git clone https://github.com/realm/realm-swift.git
     /var/folders/lr/vnvgc0694c314bzv1mbnkh300000gn/T/d20220502-81653-p1rykl --template= --single-branch --depth 1
     --branch v10.25.0
     Cloning into '/var/folders/lr/vnvgc0694c314bzv1mbnkh300000gn/T/d20220502-81653-p1rykl'...
     Note: switching to 'f9400ca04484

[2022-05-02 08:42] abingeorgev commented on #7772
-> Installing Realm (10.22.0)

     $ /usr/bin/git clone https://github.com/realm/realm-swift.git
     /var/folders/lr/vnvgc0694c314bzv1mbnkh300000gn/T/d20220502-88195-brpxqi --template= --single-branch --depth 1
     --branch v10.22.0
     Cloning into '/var/folders/lr/vnvgc0694c314bzv1mbnkh300000gn/T/d20220502-88195-brpxqi'...

[2022-05-02 10:36] dianaafanador3 commented on #7772
Hi @abingeorgev, @Akshaytule09 I don't seem to have any issues downloading latest version `10.25.2` or `10.22.0`, have you tried any other GitHub repository?, this may be a GitHub issue. If you are still experiencing this issue, can you please run `pod install --verbose` and paste the log in here.

[2022-05-02 12:47] abingeorgev commented on #7772
So I got these logs after running pod install --verbose. There were 8 other pods which all got installed real quick. Only got stuck with these.Not sure why.

[2022-05-02 14:41] dianaafanador3 commented on #7772
Can you please paste the log here from `pod install --verbose`? @abingeorgev

[2022-05-02 16:24] dianaafanador3 commented on #7703
HI @anlaital which version of Realm are you using at the moment?

[2022-05-02 16:31] dianaafanador3 commented on #7777
Hi @ayush-ttn, like mentioned before this crashes may be caused by a file corruption. Make sure to update to our latest version `10.25.2` which includes a fix (from `10.24.2`) for a similar issue https://github.com/realm/realm-core/pull/5334.
If that's not the case, in order to help you diagnose this issue we need more information.
First if you are able to reproduce this, a code sample would be ve

[2022-05-02 16:41] dianaafanador3 commented on #7643
@sipersso can you attach the stack traces from this crashes?

[2022-05-02 17:15] dianaafanador3 commented on #7643
@sozohoy did you find the above response helpful?, are you still getting this error, or you were able to solve this?

[2022-05-02 17:21] laosb opened #7779 "Out of transaction crash when using SwiftUI Binding `ForEach`"
### How frequently does the bug occur?

All the time

### Description

In our data model there's a field `@Persisted var someStrings: List<String>`.

We are doing an edit UI for that field:

[code]

Move, delete and addition works fine, but changing value in the `TextField` causes the app to crash, reporting `Cannot modify managed RLMArray outside of a write transaction.`

### Stacktrace & log out

[2022-05-02 17:25] dianaafanador3 commented on #7741
Hi @kondratyevdev are you experiencing the same crash, can you attached a more detailed stacktrace?

[2022-05-02 18:28] ayush-ttn commented on #7777
<img width="1197" alt="Screenshot 2022-05-02 at 11 56 45 PM" src="https://user-images.githubusercontent.com/76743967/166303951-d581f12d-dcfb-4dfc-a963-576bc273ba10.png">
Thanks for responding @dianaafanador3. I added 10.25.2 to podfile but looks like it is not yet available for pods?
This is how I am doing it `pod 'RealmSwift', '10.25.2'`

[2022-05-02 18:30] dianaafanador3 commented on #7777
Did you run `pod update`, before running pod install

[2022-05-02 18:35] ayush-ttn commented on #7777
Let me try that as well...

[2022-05-02 19:10] dianaafanador3 commented on #7779
Hi @laosb actually the onChange code is not failing, it is the binding on the `TextField` which is no longer using our SwiftUI code and it is trying to append a new value to the list outside of a write transaction.
What are you trying to do is not possible without changing a little bit the schema.
I'll suggest doing something like this

[code]

[2022-05-03 04:10] laosb commented on #7779
The `someStrings` in my case is just a bunch of short strings. Having to declare a new model for it sounds over-engineered.

Is there any possibility to make this work on Realm's side?

[2022-05-03 06:23] sipersso commented on #7643
@dianaafanador3 in my case, I could trace it back to a corrupted realm file caused by bugs in the 10.22.0 realm version. It is the same issue as this one https://github.com/realm/realm-swift/issues/7703

[2022-05-03 07:37] anlaital commented on #7703
@dianaafanador3 we are using Realm v10.24.1 on iOS, which is the platform experiencing these crashes. Android has no crashes whatsoever and they are using an older Java Realm version v10.5.1.

[2022-05-03 07:49] dianaafanador3 commented on #7703
We added some fixes for some data corruption crashes on large files on `10.2.4.2`, I would recommend to update to our latest version `10.25.2`, and if you are still experiencing these issues we can try to reproduce it on our side.

[2022-05-03 08:14] sipersso commented on #7703
Updating won't help correct the realms that already have corruption though. There is also no API for detecting corruption. If there is corrupt data, realm will just crash because of an assertion and there is nothing you can do about it except for deleting the realm.

In my case I was able to get a hold of one user that had the problem and extract a realm file. Using Realm.writeCopy didn't work sin

[2022-05-03 08:18] sync-by-unito[bot] opened #7780 "Update Realm Product Naming"
SDKs will need to find all references to MongoDB/RealmSync and make sure it follows the following guidelines detailed in the [Atlas App Services: Product Naming & Copy Rules](https://docs.google.com/document/d/196sHKMtqpXQCdTF7AG_b989_osmmgbs9fu3KGyGgBEU/edit?usp=sharing) doc

[2022-05-03 10:28] jlavyan commented on #7743
I am not sure if it's related, but I use synced realm too. previous my version was `10.18.0` after update to latest one `10.25.2` app working very slow. it's looks like problem coming from this method `pathForPartitionValue` that's working slow

[2022-05-03 11:00] dianaafanador3 commented on #7743
Hi @jlavyan thanks for informing about the issue, I'll try to check why this is happening

[2022-05-03 11:33] igorvoytovich opened #7781 "Realm Object isEqual(_:) override"
Hello,

Could you please tell if it is safe to override:

`func isEqual(_ object: Any?) -> Bool { ... }`

for Realm Objects?

I heard that Realm objects with **primaryKey** override it by default, but we use **detached** objects in several cases and need to be able to compare them too.

For example, if we have:

[code]

If we add:
[code]
to this class,

Can something break or go wrong? Could this

[2022-05-03 15:09] dianaafanador3 commented on #7781
Hi @igorvoytovich you should be able to compare between two detached (frozen) objects without overriding the `isEqual` function. How are you deataching your objects?, Can you give a little bit more context so I can help you.

[2022-05-03 15:20] igorvoytovich commented on #7781
Hi @dianaafanador3,

Thank your for your response.

We use this code: https://github.com/realm/realm-swift/issues/5578#issuecomment-364475728

We can not use Realm's frozen objects due to their implementation nuances.

[2022-05-03 15:39] dianaafanador3 commented on #7781
ok I understand. Regarding overriding `isEqual` for that particularly Object Type there is no issue, as we don't use this internally, and you will be overriding it for just this Object Type. Have in mind that for comparing managed objects you will have to use `public func isSameObject(as object: Object?) -> Bool` if you want deep comparison.

[2022-05-03 15:44] igorvoytovich commented on #7781
Thanks @dianaafanador3 ,

This is exactly what we wanted to know. There were fears that this function can be used somewhere inside the Realm internal logic, for example, when updating objects with a primary key, in order to check for the presence of an object in database or something like that. Now it's all clear.

Thanks again! We can close this case now.
Have a nice day!

[2022-05-03 15:44] #7781 closed

[2022-05-03 20:35] yago1994 commented on #7736
Hi @pavel-ship-it @leemaguire, appreciate the reply and my apologies for the delay.
It started about a month ago with a few users, I have since changed the configuration and calls to the Realm. I've moved all the code from the AppDelegate into a separate NSObject file and use a shareinstance when need to access the database for read/writting operations.

I've copied the code below.
func encryption

[2022-05-04 08:16] dianaafanador3 commented on #7736
Hi @yago1994 after the upgrade you will not experience any issues with encrypted realms.
Regarding saving the encrypted key to the keychain, this is not a Realm issue but a `Security` framework issue, this should not be failing, while debugging try to get the status code from `SecItemAdd` (https://developer.apple.com/documentation/security/1542001-security_framework_result_codes), which will help

[2022-05-04 09:42] PhilippeWeidmann commented on #7578
Hi, we also have the same problem reported on our Sentry. The error also occurs with EmbeddedObjects but we don't use encrypted realms.
We also can't reproduce it, we only see it happening on some users.

[2022-05-04 11:13] dianaafanador3 commented on #7748
HI @chatarveer was the comment above helpful for you?
I tested this creating a pod which has RealmSwift as a subdependency and run it on a simulator with 12.4 (Xcode 13.2.1) and everything seems to be working fine. This the playground project I used if you want to take a look (https://github.com/dianaafanador3/Persistance/tree/master).
If you are still getting the error, please can you create a sa

[2022-05-04 11:54] kondratyevdev commented on #7741
@dianaafanador3

Why it happens I cannot understand :(

[code]

[2022-05-04 11:59] dianaafanador3 commented on #7741
As @tgoyne mentioned above, because the mutex is and static variable, this can only happen if the app is exiting which means the mutex is deallocated, before running your code. Can you reproduce it?, Can you please paste the complete stack trace for this? Or explain the particularly use case for this crash.

[2022-05-04 13:17] Cheezzhead opened #7782 "Class Projections with `ObservedResults` and `where(_:)`"
**Goals**
Use class projections with the `ObservedResults` property wrapper. Related to this I would also want to query the results collection with the `where(_:)` method.

The [documentation](https://www.mongodb.com/docs/realm/sdk/swift/examples/define-and-use-class-projections/#use-a-class-projection-in-a-swiftui-view) for class projections specifically mention that they can be used with the Obs

[2022-05-04 17:23] dianaafanador3 commented on #7782
Hi @Cheezzhead, as the compilation error suggest, any `ObservedResults` result type (Objects, Projection Objects) needs to conform to Identifiable (Or `ObjectKeyIdentifiable` which defines a default identity for the object), allowing it to be used in `SwiftUI` elements like for example `ForEach`.
You mentioned the documentation doesn't mention conforming to Identifiable, which documentation are yo

[2022-05-05 01:55] ICloud0114 opened #7784 "EXC_BREAKPOINT"
### How frequently does the bug occur?

Sometimes

### Description

EXC_BREAKPOINT: arrayByAddingObjectsFromArray: > init > propertiesForClass:isSwift:

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

_No response_

### Version

10.25.2

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

Yes,

[2022-05-05 06:58] ankits1626 commented on #7772
@dianaafanador3
-```

     $ /usr/bin/git clone https://github.com/realm/realm-cocoa.git
     /var/folders/mm/1mpnnks110g0txm6l6fj1pqm0000gn/T/d20220505-44279-fxprb2
     --template= --single-branch --depth 1 --branch v3.17.0
     Cloning into '/var/folders/mm/1mpnnks110g0txm6l6fj1pqm0000gn/T/d20220505-44279-fxprb2'...
     Note: switching to '55ccdf065a762a7bf41f429efd1591e5cf1e55b6'.

     You a

[2022-05-05 07:43] TheHmmka commented on #7629
Now encryption works as expected.

[2022-05-05 07:45] dianaafanador3 commented on #7772
Hi @ankits1626 seems like your having issues connecting to `[https://static.realm.io/](https://static.realm.io/downloads/sync/realm-sync-cocoa-4.6.1.tar.xz)` in your location.
Can you test `curl https://static.realm.io/downloads/sync/realm-sync-cocoa-4.6.1.tar.xz --output realm-sync-cocoa-4.6.1.tar.xz` and check if you can download the file, so we can be sure that's the issue.
I'll suggest to migr

[2022-05-05 08:27] Akshaytule09 commented on #7772
The issue is resolved for me. I was using terminal for maintaining git repo. I switched to Sourcetree. Took pull using Sourcetree and tried to install the pods again. The pods got installed successfully. Still not sure what was the root cause of the issue.

[2022-05-05 09:23] dianaafanador3 commented on #7784
Hi @ICloud0114, this seems to indicate an issue while reading the schema, can you please add a more detailed stacktrace so we can better diagnose this.

[2022-05-05 20:26] igrechuhin commented on #7645
Hello, is there any update in this?

[2022-05-06 06:47] timothycosta commented on #7734
I'm seeing something similar. Upgraded from 10.7 to 10.25.0 and started seeing jerky scrolling. This is with a horizontal paged scroll view and some writes occurring during paging. Downgraded to 10.16.0 (just picked a version in the middle) and the issue is gone. I'm using Carthage. Just a realm database, no sync.

[2022-05-06 06:49] dianaafanador3 commented on #7734
Hi @timothycosta can you show us your code for the view, how many items are you loading on the view?

[2022-05-06 06:53] dianaafanador3 commented on #7697
Hi @tfe did you get the chance to get the reproduction case?, It will very helpful so we can reproduce this.

[2022-05-06 06:57] timothycosta commented on #7734
@dianaafanador3 Unfortunately not really without giving access to the entire project. It's not simple like a single tableview or something. Something like 25~100 items get written at a time though.

I would have liked to narrow it down to a specific version realm version also, but each Carthage build takes ~15 minutes and I don't have the time for it atm.

[2022-05-06 07:01] darkesfang commented on #7741
Hi @dianaafanador3,
Same issue here. This happened in AppDelegate `didFinishLaunchingWithOptions`, we init a Realm instance in the background queue and use file coordinator to get something from the DB. This crash happened repeatedly on some iOS 14 users at the first second of a session.
Sadly I still can't reproduce this, below is the stack trace.
[code]

[2022-05-06 07:22] dianaafanador3 commented on #7734
@timothycosta are you performing the writes on the main thread?, sometimes bulk writes may block the UI thread and provoke UI performance issues, we are gonna release shortly a feature which allows to write asynchronously to the realm without blocking the calling thread. Also, is worth mentioning that we are working on having better write performance to the realm in future releases.
On the meantim

[2022-05-06 08:16] timothycosta commented on #7734
@dianaafanador3 Yes, they are on the main thread.

I've recorded this trace in Instruments for v. 10.25.0. Start from about 15s.
https://www.dropbox.com/s/xzi8npmlkgb329m/hitches.trace.zip?dl=0

I'll be away for the next week, so won't be able to provide more than this for now.

[2022-05-06 13:45] fermoyadrop commented on #7741
same here. Any news or workarounds to the issue?

[2022-05-06 14:00] tjuela opened #7785 "Background crash"
### How frequently does the bug occur?

All the time

### Description

I expect app not to crash in background.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

It's difficult to reproduce the bug, I just know it happens at some point when the app is moved to the background.

### Version

10.25.1

### What SDK flavour are you using?

MongoDB Re

[2022-05-06 20:43] duncangroenewald commented on #7740
@dianaafanador3
Any progress on this - I have not had a request for any sample code/database - my issue is a read performance issue so not quite the same as some of the others who appear to have write issues

[2022-05-07 00:52] versoworks opened #7786 "Saving unmanaged object throws exception"
### How frequently does the bug occur?

All the time

### Description

Recently updated Realm from v10.7.6 to v10.25.2 and code that was previously working now throws an exception;

`Object has been deleted or invalidated`

Specifically, the exception is raised when saving an unmanaged object.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

[2022-05-07 01:53] tgoyne commented on #7786
You're hitting the `object->_realm || object.class == object->_objectSchema.accessorClass` branch in `RLMObjectBaseSetObjectForKeyedSubscript()`, and it'd be helpful to know what the value of all of those are. For unmanaged objects, `object->_realm` should be `nil`, `class_getName(object.class)` should be "AppContentSearchHistory", and `class_getName(object->_objectSchema.accessorClass)` should be

[2022-05-07 02:10] versoworks commented on #7786
@tgoyne here's the object print out;

[code]

[2022-05-07 02:57] tgoyne commented on #7786
Are you opening your Realm with `objectClasses` set on your config? The schema there doesn't have the initialization done which happens when a Realm is first opened, so perhaps we have a bug related to that.

[2022-05-07 03:02] versoworks commented on #7786
@tgoyne yes, `objectClasses` is set on the Realm config.

[2022-05-07 04:00] tgoyne commented on #7786
Okay, I think I can see why this'd be breaking then.

[2022-05-07 04:54] tfe commented on #7697
@dianaafanador3 @leemaguire I have a reproduction case for you (I'll email it to Diana separately, since I have her address). If you run it it should crash on launch, and that will point you to the place where `isFrozen` is unexpectedly false after calling `freeze()`.

As I [mentioned previously](https://github.com/realm/realm-swift/issues/7697#issuecomment-1079347343), I'm getting a crash on firs

[2022-05-07 06:07] ritesh-kanchi commented on #7775
We are having the exact same issue - never crashed on our side, and the app got past app review; We were on Realm 10.24, and can't even cause the app to crash on our end.

It's happening for <1% of users, but it's enough to be a big problem... Does 10.25 fix it?

[2022-05-07 06:08] ritesh-kanchi commented on #7777
We are having the exact same issue - never crashed on our side, and the app got past app review; We were on Realm 10.24, and can't even cause the app to crash on our end.

It's happening for <1% of users, but it's enough to be a big problem... Does 10.25 fix it?

[2022-05-07 08:57] tjuela commented on #7785
Also happens on 10.25.2

[2022-05-08 15:38] rajatgupta9021 opened #7787 "Realm Migration strange behaviour in case of not increasing the Schema Version"
### How frequently does the bug occur?

All the time

### Description

Hi Team,

We are facing one strange behavior while trying to upgrade the application. We have added the two properties in the Realm table and didn't increase the schema version. So while upgrading with the current Testflight App, we are not getting the exception while trying to do the realm migration.

Expected Behaviour: It sh

[2022-05-09 05:54] ayush-ttn commented on #7775
@ritesh-kanchi It may be too early for me to report if this worked but we released a new build with 10.25 and some of our users are reporting that the crash is fixed but they had to uninstall/install the new build. We are monitoring the release to see how many users are reporting the fix and based on that I can say anything with certainty.

[2022-05-09 05:55] ayush-ttn commented on #7777
@ritesh-kanchi responded to you on the linked issue.

[2022-05-09 05:57] ritesh-kanchi commented on #7775
@ayush-ttn We thought our problem was with Realm, but really had to do with type initializers and data type conversions... Some devices weren't unable to unwrap the conversions, thus crashing the app.

Your error seemed familiar to mine, so I assumed Realm - but it wasn't the case.

[2022-05-09 06:15] ayush-ttn commented on #7775
@ritesh-kanchi That's an interesting find. I'll keep an eye on such a thing on our side as well if the update turns out to be a downer.

[2022-05-09 08:52] Cheezzhead commented on #7782
I don't see it mentioned anywhere, specifically [here](https://www.mongodb.com/docs/realm/sdk/swift/examples/define-and-use-class-projections/#use-a-class-projection-in-a-swiftui-view) (Section 'Use a Class Projection in a SwiftUI View').

I should mention that the documentation isn't factually 'incorrect', per se. It's just that, with the absence of this necessary protocol conformance being menti

[2022-05-09 08:52] #7782 closed

[2022-05-09 11:40] michalrentka opened #7788 "Transaction crash"
### How frequently does the bug occur?

Sometimes

### Description

Users complain that even though no specific action can reproduce this issue, inevitably the app will crash after some time of usage. The app has a sync functionality, so it processes data in the background queue, while the user is using the app, so that's why users might feel that way.

All Realm writes are made in background queu

[2022-05-10 06:30] dgeorgios commented on #7508
Any updates on this issue?

[2022-05-10 06:39] sipersso commented on #7508
Also, it would be great to clarify what the API actually will look like. I know that there is a bug preventing this from being possible, but it is also very unclear how to create embedded objects during migration. @tgoyne wrote something about the intended API, but I am afraid I did not understand how this is supposed to work.

@dianaafanador3 when you fix this, would it be possible to provide a s

[2022-05-10 06:48] dianaafanador3 commented on #7508
Hey @sipersso, this branch will include the bug fix for this. I'm sorry I haven't been able to upload this but I'm only able to work on this during support weeks and I haven't been able to add tests and clean up this branch. Also I'll take a closer look to the Swift API while working on this.

[2022-05-10 11:15] leemaguire commented on #7788
Hi @michalrentka I took a look at your repo and see that the Realm is not confined to the queue that is set for `SyncBatchProcessor.storageQueue`. Because the Realm is being accessed concurrently inside of `SyncBatchProcessor.start()` without any locking I suspect that is what is causing the crash. Can you open the Realm with the `storageQueue` and see if that solves the issue?

https://www.mongod

[2022-05-10 13:53] leemaguire commented on #7787
Hi @rajatgupta9021 I cannot reproduce the issue. Could you send us a sample project that replicates this behaviour?

[2022-05-10 17:12] #7697 closed

[2022-05-11 16:18] kachalo opened #7791 "Async versions of login(credentials:) and linkUser(credentials:) are not visible to the compiler"
### How frequently does the bug occur?

All the time

### Description

The async versions of `login(credentials:)` and `linkUser(credentials:)` are not visible to the compiler because the extensions they are defined are not declared public.

When using:
[code]

I get the following compiler warnings:
[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Repro

[2022-05-11 16:22] jsflax commented on #7791
The methods on the extensions are exposed publicly. Can you show us the method you are calling them from? Also, are there other compiler errors that you're saying?

[2022-05-12 07:55] kachalo commented on #7791
Here are our methods that invokes async methods:
[code]

and

[code]

[2022-05-12 08:30] michalrentka commented on #7788
Thanks @leemaguire! I completely missed that part, shame on me. Is it ok to write to Realm from multiple background queues or would you recommend creating a separate queue and synchronize all writes to that queue?

I'll test your suggestion and see whether I can reproduce or we have more reports.

[2022-05-13 04:38] kondratyevdev commented on #7741
Any news?

[2022-05-13 05:44] BlueCobold commented on #7757
The issue has returned. Again, I have a customer with a database that cannot be decrypted. Since this is on Android, I don't have a proper native stack trace and can only assume it is related to the same incorrect checksum in the native code both systems are based on. I can provide the realm-file, so you can check if it's the same problem. The customer's app version is using the latest Android-Rea

[2022-05-13 12:27] Jrana00 commented on #7654
@jonharris0n
Can you please tell where can i change Swift compiler - Code Generation settings from ' Optimization level ' to ' No Optimization ' . I cant seem to find it
Thank you

[2022-05-13 15:20] tfe commented on #7697
Thanks @leemaguire! Glad you were able to find the root cause.

[2022-05-13 19:22] KaranMehta3984 commented on #7654
@Jrana00
<img width="727" alt="Screenshot 2022-05-14 at 12 47 29 AM" src="https://user-images.githubusercontent.com/39948268/168375561-0f458dac-c7aa-4e0c-9b43-dac1eff6d939.png">

[2022-05-14 13:09] AbdallahShaqrah commented on #6970
so what should I do

[2022-05-14 15:11] visdyn commented on #6970
@AbdallahShaqrah

What should you do about what?

Since that post about two years ago, LinkingObjects has changed so when adding LinkingObjects as a property to a class, it would now look like this

`@Persisted(originProperty: "dogs") var linkedPersons: LinkingObjects<Person>`

where the Person object as a `List` property of `dogs`.

So there is really no longer any autocomplete on LinkingObjects

[2022-05-15 09:16] kachalo opened #7794 "Async version of Realm initializer is not available"
### How frequently does the bug occur?

All the time

### Description

Although the [introduction article and code](https://www.mongodb.com/developer/article/realm-flexible-sync/) use `init(configuration:downloadBeforeOpen:)` method, it is not publicly available, which causes the compiler error.

If we look at method declaration in Realm.swift, on line 1039, where extension is declared, there's no

[2022-05-16 09:55] thegreenline opened #7795 "#4 (null) in please_report_this_issue_in_github_realm_realm_core ()"
### How frequently does the bug occur?

Sometimes

### Description

App crashes sometime in production since I updated Realm to be compatible with the new version of Realm Studio.
The problem is that the app crashes instead of going into the block...
I can't reproduce on my devices...

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No respons

[2022-05-16 10:51] gongzhang opened #7796 "Is it possible to gracefully handle realm::InvalidExternalSchemaChangeException?"
### How frequently does the bug occur?

All the time

### Description

😄 Hello,

I have two applications, A and B. The latter dynamically observes changes in A's database (in shared container) through a `RLMRealm` object.

[code]

However, **if a property is deleted when A migrates the database**, B will crash immediately due to an exception `InvalidExternalSchemaChangeException`.

Is it impossibl

[2022-05-16 17:06] #7786 closed

[2022-05-17 04:54] timothycosta commented on #7734
@dianaafanador3 I went through the releases [here](https://github.com/realm/realm-swift/releases) and found that 10.21.0 is the last version that I can use. From 10.22.0 on I get unacceptable hitches in our app. Hope that helps.

[2022-05-17 07:46] dianaafanador3 commented on #7734
Hi @timothycosta thanks for the info, this surely will help to get to the source of this issue.

[2022-05-17 13:38] ericjordanmossman commented on #7785
Hi I think this may be happening because an external sync change occurs and the client somehow tries to react when it's backgrounding. Are you doing anything prior to the app being backgrounded? If you can reproduce and share, that'd be super helpful.

[2022-05-17 13:40] ericjordanmossman commented on #7791
Should be addressed by: https://github.com/realm/realm-swift/pull/7792/files, I think.

[2022-05-17 13:47] ericjordanmossman commented on #7795
Are you bundling the realms on device before being opened? I'm wondering because there appears to be a schema change needed. Perhaps the schemas got mismatched between the two and the schema change isn't being handled correctly?

[2022-05-17 16:43] igorvoytovich opened #7798 "Collection Change Listener - Crash"
### How frequently does the bug occur?

Sometimes

### Description

Hello,

We use Realm collection changes listener code from docs (https://www.mongodb.com/docs/realm/sdk/swift/examples/react-to-changes/#register-a-collection-change-listener) to update a table view in the app.

Sometimes, during very intensive work with Realm, we get a crash on the tableview when it tries to insert a new cell int

[2022-05-18 08:39] sync-by-unito[bot] opened #7799 "Implement Custom Column Names"

[2022-05-18 14:08] zhangfurun opened #7800 "new project, use cocoapods install realm, error: 'Realm/Realm.h' file not found"
### How frequently does the bug occur?

All the time

### Description

xcode Version 13.3.1 (13E500a)
cocoadpos : 1.11.3

create new project, then `pod init` and `pod 'Realm', '~>10'`

PodFile:

[code]

so, pod success, then, in ViewController

[code]
error:
'Realm/Realm.h' file not found

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Ste

[2022-05-18 14:16] Kaushal0812 commented on #6147
Its still persists in 10.8.1.  However [HamstringAssassin](https://github.com/HamstringAssassin) sol.(String interpolation) worked.

[2022-05-18 14:59] sharanbasappa95 opened #7801 "When trying to open realm it's crashing in large numbers"
### How frequently does the bug occur?
All the time

### Description
When we are fetching the favourite from the local database, it's getting crashed.

### Stacktrace & log output
[code]

### Can you reproduce the bug?
Not yet

### Reproduction Steps
Not able to reproduce it.

### Version
10.7.6

### What SDK flavour are you using?
Local Database only

### Are you using encryption?
No, not using e

[2022-05-18 16:30] thegreenline commented on #7795
I also think it's a schema problem, but I did the migration from v1 of the shema with separate "if" and not "if else if".
For the transition to the new version I also updated the IDs of the objects that seemed not to work.
But I don't understand because all the versions are managed correctly and I never had such problems (no passage in the catch block)

[2022-05-18 18:55] #4266 closed

[2022-05-18 18:56] #4466 closed

[2022-05-19 03:42] palaniraja opened #7802 "build.sh download-core for tag v10.1.4 throwing 404"
### How frequently does the bug occur?

All the time

### Description

[code]

where as `sh build.sh download-sync` works because `https://static.realm.io/downloads/sync/realm-sync-cocoa-10.1.3.tar.xz`

can someone fix the 404 for ream-core? it breaks our old carthage based build.

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

chec

[2022-05-19 07:30] tgoyne commented on #7802
v10.1.3 didn't support non-sync builds, and `download-core` in that version was just a vestigial quirk that never did anything useful.

[2022-05-19 07:36] palaniraja commented on #7802
We thought so too, unfortunately it fails with the following error that breaks our codebase.

Also the tag was v10.1.4 not sure why it is trying to download core 10.1.3

[code]

Also is there a way to build realmswift without sync support?

[2022-05-19 09:16] palaniraja commented on #7802
[code]

the above set of sequence to build from scratch fails too

[code]

[2022-05-19 11:54] dwirandytlvk opened #7803 "Error when building project with Realm Static"
### How frequently does the bug occur?

All the time

### Description

I try to upgrade static realm objc framework from 3.21 to latest 10.25.1 in my mixed project when i build the project in simulator and device it show error like below

[code]

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

- Update realm to latest version
- Build

[2022-05-19 12:00] jedelbo commented on #7757
@BlueCobold it would be nice if we would have the possibility to check the realm file to see if the corruption is similar to the first one.

[2022-05-19 13:07] palaniraja commented on #7653
I see the same issue when i am building manually as well with xcode 13.2.1 (realmswift v10.1.4)

[2022-05-19 14:13] sumit-vts opened #7804 "App crash to Realm to initialise the realm framework just after the app launch"
### How frequently does the bug occur?

Sometimes

### Description

app is crash on realm migration block

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Steps

_No response_

### Version

10.22.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

### Platform OS and version(s)

[2022-05-19 16:53] ericjordanmossman commented on #7800
@zhangfurun
I'm unable to reproduce myself. First thing to try is deleting /Pods, the reinstall with `pod install --repo-update`. Then clean and build.

[2022-05-19 17:11] ericjordanmossman commented on #7801
Are you using mixed swift/objc in the application or using two copies of the same spm library?
The only other case I saw with a `realizeClassWithoutSwift` crash is [here](https://github.com/realm/realm-swift/issues/6328#issuecomment-565206247). Where the cause was two spm libraries in a mixed swift/objc app. If that's not the cause, could you provide reproduction .zip?

[2022-05-19 17:14] sipersso commented on #7417
I just ran into this as well. A customer was able to extract a backup file and when trying to open it in Realm Studio I got the following stack trace

`Exception backtrace: 0 .com.mongodb.realm-studio.gANnI6 0x0000000111ca7c3b _ZN5realm11NoSuchTableC1Ev + 43 1 .com.mongodb.realm-studio.gANnI6 0x0000000111ca7d9a _ZNK5realm5Group15key2ndx_checkedENS_8TableKeyE + 218 2 .com.mongodb.realm-studio.gANnI

[2022-05-19 17:33] sipersso commented on #7788
I am seeing a few crashes with a very similar stacktrace. One common thing I could see for these crash reports was that there was a trace that the realm was supposed to be compacted. Maybe realm compaction has something to do with this?

`
 0x6bbc __pthread_kill + 8
1  libsystem_pthread.dylib        0xd854 pthread_kill + 208
2  libsystem_c.dylib              0x1f6a4 abort + 124
3  MyApp

[2022-05-19 17:48] ericjordanmossman commented on #7802
I'm seeing the same issues as you.
I think the 404 is because we switched to a different core address starting in 10.5.0. It hits the `realm-monorepo-xcframework`.
I'm able to install a non-sync version via `sh build.sh download-core` starting at 10.5.0. Please use that version or later, if possible.

[2022-05-19 17:49] ericjordanmossman commented on #7802
10.1.4 refers to the realm-cocoa version, 10.1.3 is the core. Just a coincidence they're so close here.

[2022-05-19 17:56] palaniraja commented on #7802
yes, but we are not at liberty to upgrade our dependency at the moment. is there a way anyone can fix this?

I tried monorepo for 10.1.3/4 it doesn't exists as well.

Appreciate if the old files(10.1.3/4) are either update on old location or new location.

Getting an exception to dependency for the previously validated version is better than going for revalidation.

Honestly I wasn't aware there w

[2022-05-19 19:01] ericjordanmossman commented on #7779
With our current swiftui integration, I think you’d have to use an object or embedded object. If you want, please open a feature request ticket for support of a collection of primitives.

[2022-05-19 19:46] ericjordanmossman commented on #7795
I don't think I understand either, but it doesn't seem like you're doing anything incorrectly. Are you able to provide a .zip with a reproduction? It's hard to resolve this without more information.

[2022-05-20 02:18] duncangroenewald commented on #7743
Just tested with 10.26.0 and same issue exists

[2022-05-20 02:18] duncangroenewald commented on #7740
Tested with 10.26.0 and the performance issue still exists

[2022-05-20 14:51] santieduardo opened #7807 "Crash in migration process"
### How frequently does the bug occur?

All the time

### Description

I am trying to migrate a "table" that the `id` column is not a Primary Key and it has some duplicate registers.

So, I have created a migration to add `id` column as Primary Key and delete the duplicate registers. But I have a crash when I try to delete de `oldObject`.

Here my code:
[code]

### Stacktrace & log output

[code]

[2022-05-20 14:56] ericjordanmossman commented on #7804
At startup it looks like another thread might be trying to be access the realm during the migration block (based off the lock issue in the stack trace). Please also check to make sure that the realm is fully compacted before attempting to open elsewhere. I think one of those two things could be the issue.

[2022-05-20 16:48] ericjordanmossman commented on #7807
`oldObject` represents objects from the old realm and are read only. `newObject` represent objects from the newly migrated realm and are read/write. Ultimately the objects you want to delete will be in `newObject`. You may need to split this logic into two `migration.enumerateObject` blocks. You'd delete any `newObjects` in the second block.

See [here](https://github.com/realm/realm-swift/issues/

[2022-05-21 03:36] tomsan96 opened #7808 "Sample code is not working correctly"
### How frequently does the bug occur?

All the time

### Description

Probably, [sample of ListSwiftUI](https://github.com/realm/realm-swift/tree/b956bc3f8ab98e880c84efeefb66908e7aeb1318/examples/ios/swift/ListSwiftUI) is not working correctly.
Force a transition to ReminderListView screen after changing the data in the ObservedRealmObject.
This problem occurs regardless of whether the title, dat

[2022-05-21 10:41] thegreenline commented on #7795
The problem is that I can't reproduce the crashes either with the Testflight versions or with the local versions.
I just have crash feedbacks without any other information than this kind of stuff

![Capture d’écran 2022-05-21 à 12 37 28](https://user-images.githubusercontent.com/35338887/169647939-a59ffeea-fe9f-457d-86e2-f63900160aaa.png)
![Capture d’écran 2022-05-21 à 12 37 23](https://user-ima

[2022-05-23 06:52] AdamGerthel commented on #7734
We're seeing the same problem in https://github.com/realm/realm-js/issues/4383, and we're thinking that our issues with Realm in React Native is tied to this issue. For us the problem started in [realm-js-v10.12.0](https://github.com/realm/realm-js/releases/tag/v10.12.0), and in this issue, the problem seems to have started with [realm-swift-v10.21.1](https://github.com/realm/realm-swift/releases/

[2022-05-23 06:54] palaniraja commented on #7802
Hi, can someone resolve the 404? or share the new link so we can update the build.sh to point to new.

[2022-05-23 07:16] AdamGerthel commented on #7734
Possibly related to #7734 since it seems as if they're suggesting that versions prior to realm-swift-v10.21.1 (specifically 10.19.0) do not have the performance issue.

[2022-05-23 08:56] AdamGerthel commented on #7743
@duncangroenewald could you see if the problem starts with 10.21.1? If so, it's probably the same issue as in #7734

[2022-05-23 09:11] duncangroenewald commented on #7743
@AdamGerthel - hang on let me just double check it was 10.21.0 that has the build issue not 10.20.0

[2022-05-23 09:13] duncangroenewald commented on #7743
Yes 10.21.0 won't build

....ates.noindex/Realm.build/Release/RealmSwift.build/Objects-normal/arm64/Sync.o -o /Users/duncangroenewald/Development/realm-cocoa/build/DerivedData/Realm/Build/Intermediates.noindex/Realm.build/Release/RealmSwift.build/Objects-normal/arm64/ThreadSafeReference.o -o /Users/duncangroenewald/Development/realm-cocoa/build/DerivedData/Realm/Build/Intermediates.noindex/Realm.b

[2022-05-23 09:30] duncangroenewald commented on #7743
v10.20.2 appears to be OK.  I will try the prebuilt binaries from here to see if they are compatible with Xcode 13.4

[2022-05-23 09:53] AdamGerthel commented on #7743
I don't have any binaries and I don't even know how to use realm-swift :D

We're having performance issues over in https://github.com/realm/realm-js/issues/4383 and I'm trying to figure out if this issue is related, because it seems there are at least two issues pointing towards 10.21.1, being the culprit (and possibly because of realm-core 11.8.0 being introduced in that version).

[2022-05-23 10:24] leemaguire commented on #7743
@duncangroenewald if you use the [xcframework script here](https://github.com/realm/realm-swift/blob/c6705477ada6b8536a094489451abc2c02811db4/build.sh#L448) on v10.21.0 it should build for Xcode 13.4

[2022-05-23 10:28] duncangroenewald commented on #7743
@leemaguire - ah, thanks I will try that

[2022-05-23 11:00] leemaguire commented on #7743
This version will require an older version of Xcode to build, I can build it on Xcode 13.0, You'll also need to enable library evolution mode when building the XCFramework.

[2022-05-23 11:05] duncangroenewald commented on #7743
Not sure I understand any of that.

Why is is possible to build 10.19.0 and 10.20.2 but not 10.21.0 on XCode 13.4  ?

How does one enable library evolution mode ?

[2022-05-23 11:11] leemaguire commented on #7743
We introduced some new code which at the time worked, then after the next version of the Swift compiler was released a regression was introduced to the compiler. That code is not present in versions of realm older than 10.21.0

To build with evolution mode from Terminal: `export REALM_EXTRA_BUILD_ARGUMENTS="$REALM_EXTRA_BUILD_ARGUMENTS REALM_BUILD_LIBRARY_FOR_DISTRIBUTION=YES"`

[2022-05-23 11:14] duncangroenewald commented on #7743
Thanks, btw what does evolution mode do ?

[2022-05-23 11:21] leemaguire commented on #7743
It allows a library built with an older version of the swift compiler to be forward compatible with newer versions. https://www.swift.org/blog/library-evolution/

Yes, but use the script I attached above (just copy paste it to the build.sh) for the version you're building. Also don't forget to do `xcode-select` to build from an older version in the terminal.

[2022-05-23 11:21] duncangroenewald commented on #7743
OK thanks.

So is that compiler error actually a bug in the compiler and not an error in the code ?  Is there not a workaround to fix that code so it does compile rather than having to install Xcode 13 ?

[2022-05-23 11:22] #7807 closed

[2022-05-23 11:26] leemaguire commented on #7743
Yes, it was fixed in 10.23.0

[2022-05-23 11:33] duncangroenewald commented on #7743
Why are the prebuilt binaries not being built with evolution mode - then they would work with Xcode 13.4 no ?

[2022-05-23 16:35] igorvoytovich commented on #7798
Hi @pavel-ship-it ,

Thanks for your response.

This crash is not reproducable in 100% cases. To reproduce it, open/close ViewController2 some number of times.
Sometimes it crashes the first times, sometimes you need to repeat it 20-50-60 times. Completely random, but it can definitely be caught.

[2022-05-23 17:01] pavel-ship-it commented on #7803
Hi @dwirandytlvk,
Thank you for the submitted ticket. I can reproduce it with the v10.26.0

[2022-05-23 17:25] pavel-ship-it commented on #7803
As a workaround you can try to import Realm Swift static library. Let me know if that helps while we working on the fix

[2022-05-23 18:00] pavel-ship-it commented on #7798
@igorvoytovich thank you for the update. I've got the crash with the original sample. Let me see in to that

[2022-05-23 18:13] igorvoytovich commented on #7798
@pavel-ship-it

Thanks!

Kindly let me know if you need any additional information from me.

On a production project, we see this crash in 0.3-0.4% of users.

BTW:
Our practical case - we have a realtime feed in our app, we save feed posts in the background, and on some screen we show them using UITableView using a collection change listener as in the example above.

[2022-05-23 18:18] pavel-ship-it commented on #7803
@dwirandytlvk please add the missing link to the dependency libcompression.tbd
Our documentation is missing this line

[2022-05-23 18:18] #7803 closed

[2022-05-23 23:54] duncangroenewald commented on #7743
@leemaguire - ok I installed Xcode 13.2.1 and was able to build Realm-Swift but when I include this framework in the Xcode 13.4 project and try and build I still get the same (or similar) error.

4.	While evaluating request TypeCheckSourceFileRequest(source_file "/Users/duncangroenewald/Development/makespace2/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64-apple-macos.swiftinterface")
5.

[2022-05-23 23:59] duncangroenewald commented on #7743
I will just rebuild the entire project with Xcode 13.2.1 and test the performance with RealmSwift v10.21.0 and 10.21.1...

[2022-05-24 00:17] duncangroenewald commented on #7743
@AdamGerthel @leemaguire @dianaafanador3

OK RealmSwift v10.21.0 appears to be working fine and v10.21.1 does not - same performance issue as with 10.24.x.

Hope this helps.

[2022-05-24 00:48] dwirandytlvk commented on #7803
Hallo @pavel-ship-it
here is my libcompression.tbd file
[code]

[2022-05-24 02:20] Maling1255 opened #7809 "Pod install stuck on -> Installing Realm (10.19.0)"
### How frequently does the bug occur?

All the time

### Description

Cocoapods gets stuck on pod install at realm pod

I am trying to Install Realm (10.19.0) but it is taking forever and finally I have to abort it after 8 hours. I have tries updating cocoapods. Tried updating pod repo and also tried pod deintegrate and removing podlock file. Results are the same and pod install gets stuck.

###

[2022-05-24 03:50] dwirandytlvk commented on #7803
hallo @pavel-ship-it
may i know how to buld realm swift static library? is it okay if i only change `Match-O type` to `static`?

[2022-05-24 04:08] dwirandytlvk commented on #7803
here is lbcompression.tbd file

[code]

[2022-05-24 04:09] duncangroenewald commented on #7734
I can confirm that the issue raised in #7743  is not present in RealmSwift v10.21.0 and is present in v10.21.1.

[2022-05-24 04:11] yliu342 commented on #7737
We had the same issue on our project as well using Realm 10.26.0.

I ended up with a workaround by calling `let realm = try Realm(queue: nil)` which is the same as calling the `try Realm()` in a non-async version in an `async` function to make sure the returned realm instance is not on main thread.

[2022-05-24 06:11] nagra commented on #7737
I ended up mapping to lightweight structs when returning any data from a function using Realm.
This can have a slight overhead, but ensures items are passed as a copy instead of references.

[2022-05-24 07:58] AdamGerthel commented on #7740
@dianaafanador3

#7734
#7734
[#4383 in realm-js](https://github.com/realm/realm-js/issues/4383)
as well as the [community forums thread](https://www.mongodb.com/community/forums/t/swiftui-slow-loading-views/147346/9)

Are all pointing towards (but not 100% confirmed) a performance regression being introduced with Realm Core 11.8.0.

We're about to release a game that uses React Native and Realm Sy

[2022-05-24 08:29] pavel-ship-it commented on #7803
@dwirandytlvk,
You can find the steps on how to build Realm in [readme.md](https://github.com/realm/realm-swift/blob/master/README.md). You can download the prebuilt version from [here](https://github.com/realm/realm-swift/releases) instead. Just cross-check with the [installation manual](https://www.mongodb.com/docs/realm/sdk/swift/install/#installation) what are the other steps.

Regarding the m

[2022-05-24 08:57] pavel-ship-it commented on #7808
Hi @tomsan96 ,
Thank you for reporting the issue. I'll look into that.

[2022-05-24 08:59] flowbe opened #7810 "SwiftUI: unmanaged objects and `@StateObject`/`@ObservedObject`"
### How frequently does the bug occur?

All the time

### Description

When annotating a Realm object as `@StateObject` or `@ObservedObject`, a crash happens if this object is unmanaged. If the object is not in any Realm, it would be great to still have the observation working like any other object in SwiftUI…

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### R

[2022-05-24 09:38] dianaafanador3 commented on #7740
@duncangroenewald, @AdamGerthel we are trying to find the root of this issue as @AdamGerthel suggest this may be caused by a core update. Thanks @AdamGerthel for collect all this info.

[2022-05-24 09:49] pavel-ship-it commented on #7809
Hi @Maling1255,
Can you show the Podfile?
Did you try `pod repo update`?

[2022-05-24 10:35] pavel-ship-it commented on #7810
Hi @flowbe,
Probably `@StateRealmObject` is what you want to try.

[2022-05-24 10:50] pavel-ship-it commented on #7788
@michalrentka ,
Is [this](https://github.com/zotero/zotero-ios/blob/eaee6210668ed3993ac0246443e9a1c0b2a51799/Zotero/Controllers/Database/RealmDbStorage.swift#L104) the only place you're creating a Realm instance?
Please note the Realm constructor [here](https://www.mongodb.com/docs/realm/sdk/swift/advanced-guides/threading/#create-a-serial-queue-to-use-realm-on-a-background-thread) - we're not onl

[2022-05-24 11:20] flowbe commented on #7810
@pavel-ship-it thanks for the answer, I didn't know about this and it fixes the crash. However, now I still get a crash when doing:
[code]
Any other way to do this with Realm?

[2022-05-24 13:46] pavel-ship-it commented on #7802
Hi @palaniraja,
You can try to build the version from the source code using the local version of realm-core.
As an option you can try Carthage - it can import the prebuilt library.
Anyway I'd strongly recommend to upgrade the version. Too many things has changes since 17 Nov 2020

[2022-05-24 15:47] pavel-ship-it commented on #7717
Ok, it looks like the original issue has been fixed and I'm closing the ticket.

[2022-05-24 15:47] #7717 closed

[2022-05-24 15:47] pavel-ship-it commented on #7725
Ok, it looks like the original issue has been fixed and I'm closing the ticket.

[2022-05-24 15:47] #7725 closed

[2022-05-24 16:16] pavel-ship-it commented on #7562
As we have no updates for more than month, I close the ticket.

If the issue still present in the last xcode please let us know.

[2022-05-25 05:43] thegreenline commented on #7795
If have a crash trace with "more infos"

![Capture d’écran 2022-05-25 à 07 37 56](https://user-images.githubusercontent.com/35338887/170188055-57b7d911-6664-454d-bde2-cade18104633.png)

Since upgrading from 10.5 to 10.25, my migration block does only
[code]
did I miss something ?

[2022-05-25 14:53] theoks opened #7812 "Exception with error: "Cannot schedule async transaction. Make sure you are running from inside a run loop.""
### Problem

When trying to perform an async write from within a thread without a run-loop, which is a common situation when performing an async write in a Task, an exception happens with the following error:

`Cannot schedule async transaction. Make sure you are running from inside a run loop.
`
1. This is missing from the documentation
2. Is this limitation going to be lifted in the future?

###

[2022-05-25 23:57] hyouuu commented on #4573
3+ years without a response?

[2022-05-26 19:33] sipersso commented on #7508
I reported this issue 6 months ago. Before then I had struggled with migrating my database list structure from using relations to embedded for a long time. I commented on the issue of creating a helper function for embedded objects in February 2021 https://github.com/realm/realm-swift/issues/7145. I reported a bug in May 2021 that prevented the migration to embedded https://github.com/realm/realm-

[2022-05-26 19:44] theoks commented on #6690
We are having the same issue with version **10.26.0**

A sample error is something like this:

`Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=9 "mmap() failed: Cannot allocate memory size: 55672832 offset: 335544320" UserInfo={NSLocalizedDescription=mmap() failed: Cannot allocate memory size: 55672832 offset: 335544320, Error Code=9}`

Any ideas why this i

[2022-05-26 19:48] theoks opened #7814 "Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=9 "mmap() failed: Cannot allocate memory size: 55672832 offset: 335544320""
### How frequently does the bug occur?

Sometimes

### Description

We are on version 10.26.0 and in some devices we started to get an increasing number of this error. It seems to be a reoccurring issue in some Realm versions for quite some time now. The exact error is the following:

`Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=9 "mmap() failed: Cannot

[2022-05-27 04:03] tgoyne commented on #7734
v10.27.0 partially fixes this, and in the most extreme cases is ~10x faster than v10.26.0. It will still be slower than v10.21.0 as the root cause of the slowdown is a fix for potential data corruption if a device powers off at exact the wrong point in committing a write transaction, and we're trying to keep that fix. If 10.27.0's write performance is still a problem, using async commits may be a

[2022-05-27 04:04] tgoyne commented on #7743
v10.27.0 partially fixes this, and in the most extreme cases is ~10x faster than v10.26.0. It will still be slower than v10.21.0 as the root cause of the slowdown is a fix for potential data corruption if a device powers off at exact the wrong point in committing a write transaction, and we're trying to keep that fix. If 10.27.0's write performance is still a problem, using async commits may be a

[2022-05-27 04:54] duncangroenewald commented on #7743
@tgoyne - thanks - we are not doing any writes - just reading data and generating reports.

I just tested this and the report now takes 580 seconds when using a Synced Realm vs 330 seconds with older RealmSwift v10.21.0 - so still nearly twice as slow as is.

Note that when using a local realm with v10.27.0 performance is identical to the older version(synced or local) at 330 seconds .

Still this

[2022-05-27 05:32] duncangroenewald commented on #7743
@tgoyne - quite a few other queries that support updating the UI information are still noticeably slower (from sub second to > 2 seconds) than the pre v10.21.1 SDK.

Given this optimisation is apparently to handle an edge case of power failure during a write transaction - could we have this as an optional configuration setting.   Our app runs on desktops and laptops so power failure during a write

[2022-05-27 11:34] KamilStanuszek commented on #7809
I have the same problem

[2022-05-27 11:36] kasa-ailleron commented on #7809
I have the same problem

[2022-05-27 12:27] pavel-ship-it commented on #7812
Hi @theoks,
Thank you for the input. I'll discuss that with the team

[2022-05-27 12:51] pavel-ship-it commented on #7814
Hi @theoks
could you please share more info?
Your approach on threading for Realm? The code could help.
Do you retain any references to the Realm or Realm Objects?
Could you check for me a memory consumption?

[2022-05-27 15:31] pavel-ship-it commented on #7777
@ayush-ttn hi, do you have any updates on that issue?

[2022-05-27 15:46] tgoyne commented on #7743
v10.27.0 should have no difference from v10.26.0 for pure read scenarios. Since you're seeing a difference only on sync Realms, that suggests that the sync client's background writes are causing problems. They don't block other threads from reading, but if the work you're doing is i/o-bound then perhaps additional writing on the background thread could slow down disk reads on your thread. A dumb w

[2022-05-28 00:13] duncangroenewald commented on #7743
@tgoyne - thanks for the explanation.

The test scenario we are using is a single client connected to a MongoDB Realm App and there are no realm writes being performed at any time during the running of the reports so I don't think it can be background writes causing a problem.

For this pure read scenario there is a substantial improvement in performance with v10.27.0 over v10.26.0 - at a guess at

[2022-05-28 02:55] theoks commented on #7814
@pavel-ship-it

Thanks for responding.

I will share a detailed stack, a screenshot of the memory consumption (which as you can see doesn't increase) and a screenshot of the memory references of all Realms and Realm objects and results.

However I'd like to highlight that this specific issue started appearing after we started using version **10.26.0** and without making any changes in our codebase

[2022-05-28 16:53] sipersso commented on #7223
A year later... is there an official way of handling this? I could not find any information in the documentation on how to use Previews with Realm and this is essential to be able to have a good development experience with SwiftUI

[2022-05-30 08:57] ElegyD commented on #7417
I have got another clue where it crashes in my app.
I have a sectioned UITableView which groups objects from a Realm table.
Here is simplified code where it happens in my app:

[code]

[2022-05-30 09:19] sipersso commented on #7417
@ElegyD it probably crashes because the realm has corrupted data that you happen to access in this view. It can happen anywhere.

[2022-05-30 10:09] #7771 closed

[2022-05-30 10:10] #7760 closed

[2022-05-30 11:46] flowbe commented on #7810
Same crash as above: `Only objects which are managed by a Realm support change notifications`

The code looks like this:

[code]

[2022-05-30 12:04] pavel-ship-it commented on #7586
Closed due to this being an Xcode issue. Please use the latest XCode release.

[2022-05-30 13:13] igorvoytovich commented on #7798
Hi @pavel-ship-it ,

Thank you so much for getting back to me!

I will definitely try to do that now and will let you know about the results.

Could you please tell more when we need explicitly pass `queue` parameter to Realm's init? I thought that the Realm is "attached" to a specific thread in which it was created.

And it's also interesting about `.observe(keyPaths: nil, on: DispatchQueue.main)

[2022-05-30 14:08] pavel-ship-it commented on #7795
Hi @thegreenline ,
Are you adding the primary key field to the schema?

[2022-05-30 15:01] pavel-ship-it commented on #7795
Looks like I have a reproduction for that issue.

Just to confirm.
`    newObject!["id"] = UUID().uuidString`
In this line the `newObject` is getting the value for newly added primary key field? Am I rignt?

[2022-05-30 15:10] thegreenline commented on #7795
`newObject` get a new ID `UUID().uuidString` return a string UUID.
I’m not getting the old object id, but I dont remember why
maybe:  cant get old obejct ID, or just cant apply a empty migration to update Realm from 10.4 to 10.25 (10.4 format not compatible with current version of Realm studio). But my ID had alway been a non optionnal String with a `UUID()uuidString` as value.

The Id is only use