[2015-01-20 22:40] ldiqual commented on #1280
Just curious: when will the podspec be updated on cocoapods and what's the underlying process behind the push?

[2015-01-20 23:57] jpsim opened #1366 "Fix templates installation"
See https://twitter.com/nate_west/status/557685148314259456

[2015-01-21 00:15] jpsim commented on #1366
Installing Xcode templates no longer fully works.

The "Cocoa" and "Cocoa Touch" in the left sidebar should not be there:

![image](https://cloud.githubusercontent.com/assets/474794/5828856/79e32790-a0be-11e4-8488-30515fb00c76.png)

But attempting to create it through there creates all the language files at once:

![image](https://cloud.githubusercontent.com/assets/474794/5828847/62dc4fe0-a0be-11e

[2015-01-21 00:36] alazier commented on #1238
What's left to be done:
- [ ] documentation
- [ ] swift versions for RLMObjectBase methods `primaryKey`, `ignoaredProperties` etc. - these currently take/return objc types
- [ ] migrations/dynamic interface
- [ ] hide `getGenericListPropertyNames` and other private apis
- [ ] fix/workaround the auto-linking issue
- [ ] comprehensive testing

@jpsim please add other missing items you are aware of.

[2015-01-21 00:37] yoshyosh commented on #1366
Does this also affect plugin installs from Alcatraz? I can update the docs to reflect how people should use the plugin

[2015-01-21 00:52] nwest commented on #1366
Thanks, guys. Is there any more info you need for me? I can provide the steps I took if needed.

[2015-01-21 03:51] amo12937 commented on #1359
Thanks for replying.
I use the latest master branch, but still crash.
Here is screenshot when crashed.
![2015-01-21 12 43 01](https://cloud.githubusercontent.com/assets/6604044/5830934/2d26d304-a16b-11e4-847a-587f475e690e.png)
It looks like this is caused on `tightdb`.

[2015-01-21 04:15] alazier commented on #1359
You probably need to 'Reset Content and Settings...` on your simulator, or delete the app from a device. If an old Realm file with the int index still exists then you would still run into the same issue. When building from master I no longer see the crash.

[2015-01-21 05:13] jpsim commented on #1366
Yes, what we do here affects Alcatraz since it's really the same installation process.

[2015-01-21 05:15] amo12937 commented on #1359
Thank you. I do `Reset Content and Settings...`, then I no longer see the crash.

Now I still have another error...
![2015-01-21 14 12 06](https://cloud.githubusercontent.com/assets/6604044/5831535/edd844fa-a177-11e4-8347-53d3ce35a224.png)

I close this issue and will create new issue..
Thanks m(_ _)m

[2015-01-21 05:52] #1359 closed

[2015-01-21 07:29] BruceZCQ commented on #1215
Problem has been resolved, the problem is that the xcode, I use the old version of xcode to create project, in with the new version of the configuration. In this problem.

[2015-01-21 09:12] ishaq opened #1369 "Include property name in the exception "Inserting invalid object for RLMPropertyTypeAny property""
Including property name in the exception would make it easier to fix the offending code.

[code]

* Realm: 0.89.2
* Xcode: 6.1.1
* OSX: 10.2.2

[2015-01-21 12:29] rciobanu-omnifone opened #1370 "addOrUpdateObject leaves orphan child objects"
Hello,

I realize cascading deletions are in the works at present time. This is probably somewhat related.
Here's what I have.
- `class A`, that has a property `propertyB` of `class B`;
- `class A` has a primary key defined;
- doesn't matter if `class B` has a PK or not;
- both classes A and B are descendants of `RLMObject`;
- `objectA` of `class A` has its `propertyB = objectB1` of `class B`.

**

[2015-01-21 14:19] frowing opened #1371 "'No value or default value specified for property' error with defaultPropertyValues implemented"
It seems like when adding an object in `RLMAddObjectToRealm` it doesn't use the `defaultValues` that exist in the schema to populate the properties. This is my model object:

[code]

And this is how I create new object:

[code]

[2015-01-21 14:21] bmunkholm opened #1372 "Using single code path for creating exceptions/Add library version to user info"
Add the version text of the cocoa binding to all exceptions thrown from core. In RLMRealm:throw_objc_exception()
In likely doesn't make sense to include it in make_realm_error.

[2015-01-21 14:59] alazier commented on #1372
If we do this at all we should add it to the userInfo for the exception, not to the message.

There is currently not a common code path used for exceptions at the moment so this requires changing quite a bit of code.

[2015-01-21 15:45] bmunkholm commented on #1372
agree to adding to user info.
Most likely the interesting exceptions that would benefit from this info are the ones thrown from core which are "exceptional" in nature. That's only one place in the method mentioned - right?

[2015-01-21 17:28] #1178 closed

[2015-01-21 17:55] yoshyosh commented on #1369
If we can detect that the user is trying to use an array, it would be nice to suggest using RLMArray in the error message

[2015-01-21 18:13] segiddins opened #1374 "Centralize exception creation in a single function"
Will make addressing https://github.com/realm/realm-cocoa/issues/1372 much easier.

[2015-01-21 18:37] bredfield commented on #1350
Great find! Have you run into any similar dynamic casting issues previously? Is there a preferred way to cast to the object's class?

[2015-01-21 18:54] #1354 closed

[2015-01-21 19:02] alazier commented on #1370
It sounds like your workaround is the correct approach until we support cascading deletes (#1186). Will close this as a duplicate of that issue.

If there is a 1-1 relationship between A and B, adding a primary key to the B object (and using the same primary key for both objects) would essentially reuse the B object updating is properties when updating A. This would obviate the need to manually de

[2015-01-21 19:02] #1370 closed

[2015-01-21 20:04] #1369 closed

[2015-01-21 20:07] alazier opened #1377 "Interprocess: shared container sample app"
Test out interprocess pr in a sample app using shared containers.

[2015-01-21 20:47] tgoyne opened #1378 "Add performance test for notification latency"
Compare latency of notifications using interprocess notification functionality to the current in-process notifications, both for interthread and interprocess changes.

[2015-01-21 20:58] alazier opened #1379 "Interprocess: Test binary for testing multi-process on OSX"
Spawned from XCTest

[2015-01-21 21:02] alazier opened #1380 "Interprocess: add integration tests to example apps"
For iOS we should do our interprocess testing in an example app.

Should be run from build.sh/verify

[2015-01-21 21:10] #1105 closed

[2015-01-21 21:10] alazier commented on #1105
If you see this again let us know.

[2015-01-21 21:18] yoshyosh commented on #1371
Hi @frowing you are setting place's values here:

[code]
So you are overriding the default property values. When guid or title is nil this error is thrown. So you will need to make sure you aren't passing in nil values into your place object

[2015-01-21 21:20] #1371 closed

[2015-01-21 22:27] jpsim opened #1383 "Add missing declarations in Swift interface"
- [x] List.swift
- [ ] Migration.swift
- [x] Object.swift
- [x] ObjectSchema.swift
- [x] Property.swift
- [x] Realm.swift
- [x] Results.swift
- [x] Schema.swift

[2015-01-21 22:54] michaelcameron opened #1384 "Reading from the realm is not supported in migration block?"
I'm trying to convert an object in a migration block where the old version has a string property that will now become a relation to another RLMObject. I thought I could just do a realm call in the migration block but that seems to block on a mutex and hang (kind of makes sense).

Old Object
`@property NSString *template;`

New Object:
`@property AttractionTemplate *attractionTemplate;`

Migration

[2015-01-21 23:02] alazier opened #1385 "Support queries from within migrations"
This could perhaps be superseded by full dynamic api support.

[2015-01-21 23:05] alazier commented on #1384
When you execute the code ```objc
[[AttractionTemplate objectsWhere:@"classPrefix = %@", oldObject[@"template"]] firstObject];
[code]

[2015-01-21 23:05] #1384 closed

[2015-01-21 23:09] #1339 closed

[2015-01-22 01:08] lewo opened #1386 "Swift: Nested JSON Objects"
Hi, just playing around with the new Swift syntax (al-swift branch) and having the following issue trying to write the following JSON data to the default Realm:

[code]

[code]

My Objects look like:

[code]
and I call:

[code]
where result = the JSON data above.

Works all ok with the old RLMObject syntax and using:
[code]
Thanks

[2015-01-22 02:13] yoshyosh opened #1387 "Space Browser designs"
Here are the browser designs https://www.dropbox.com/sh/l4oby8qv58aom6w/AABNKpT_AqopP-1QoQgb9bKda?dl=0

The main problem comes from accessing linked objects. With this design, when you click a link it will create a new table to the right of the link you clicked. This will allow data to be traversed infinitely.

We need to see what this feels like, with general json data samples like an actual requ

[2015-01-22 03:06] michaelcameron commented on #1384
Thanks, I had tried to get the objects I need before the migration block but then it complained about an unmigrated realm. Accessing the private realm reference on the migration worked fine, thanks. Looking forward for a properly supported approach with issue #1385.

[2015-01-22 05:13] ldiqual opened #1388 "RLMAccessor.h:20:9: 'RLMObjectStore.hpp' file not found - podspec issue"
Related issue: https://github.com/realm/realm-cocoa/issues/1280
Related PR: https://github.com/realm/realm-cocoa/pull/1358

I am now getting this error when installing Realm 0.90.0 via cocoapods 0.36.0.beta.1

[code]

![image](https://cloud.githubusercontent.com/assets/941453/5850872/f050517a-a1b1-11e4-9bf9-606d720950f8.png)

### Podfile:

[code]

[2015-01-22 05:38] segiddins commented on #1388
RLMAccessor.h should be marked as a private header, right @mrackwitz ?

[2015-01-22 06:59] mrackwitz commented on #1388
Yes, `RLMAccessor.h` should be private. I will update the podspec, accordingly.

[2015-01-22 08:21] jpsim commented on #1383
These are now all done in #1356. Except for `Migration.swift`, which has yet to be truly implemented anyway, so it's not worth updating those docs until it works and the interface has been more or less finalized.

`Object.swift` also needs some loving, because there are already many public declarations in `RLMObjectBase`.

[2015-01-22 08:21] #1383 closed

[2015-01-22 08:25] jpsim commented on #1238
I've just checked the "walk through Objective-C API and add missing aspects in Swift interface", but that excludes `Migration.swift`.

[2015-01-22 09:37] hartbit commented on #1388
Same problem here.

[2015-01-22 10:04] rciobanu-omnifone commented on #1370
@alazier Thank you for the quick reply.
Adding a PK to class B doesn't work if there are objects of other classes who need to reference it.
In my scenario I would be using an OptionalString class (as described here https://github.com/realm/realm-cocoa/issues/628#issuecomment-56765986) and could be referenced from, say, Book and Author classes. Using a Book's PK as an OptionalString's PK at the sam

[2015-01-22 11:00] kingmax123 opened #1390 ""RLMObject" Model auto create?"
Realm 0.9.0, Cocoa

When i create my model, and see .realm file with Real Browser, i see RLMObject Model in my database. Why?

In Realm 0.89, RLMObject does not auto create.

![screen shot 2015-01-22 at 5 54 30 pm](https://cloud.githubusercontent.com/assets/9254220/5854446/5f84cef0-a260-11e4-9fe4-d1c6aff5f71b.png)

[2015-01-22 14:59] shmidt commented on #1327
@jpsim Thank you.
I did exactly as it was written by you,
but I still have this issue.

Should I remove one of the frameworks from the linked section, probably?
![screen shot 2015-01-22 at 17 56 53](https://cloud.githubusercontent.com/assets/1472370/5857911/4a8b119e-a260-11e4-8b0a-f0e2f380dda3.png)

[2015-01-22 15:11] shmidt commented on #1327
Oh, and I see that error message has changed:
[code]

[2015-01-22 15:23] shmidt commented on #1327
I see that framework search paths has records to both ```Realm-dynamic``` and ```Realm-dynamic-simulator```, maybe that is the problem.

[2015-01-22 18:01] Pintouch commented on #1101
@mrh-is I tried defining the default constructor as you mention, I'm getting ``` fatal error: use of unimplemented initializer 'init(objectSchema:)' for class Foo ```.

[code]
3 months passed since you commented it, so maybe it's not working anymore since new Xcode version? Is there a workaround ?

[2015-01-22 18:17] alazier commented on #1378
Here is a quick test I wrote for this:
[code]

[2015-01-22 18:26] alazier commented on #1378
I ran this on the al-interprocess branch since it still had the old notification system in place making testing easy.

On an iphone 5, this test takes 18.528 seconds using the old notifications with no extra background thread for the new notifications.
Running the tests using the new notification system took 18.910
Running with both sets of notification took 18.941

So the new system is ~2% slower

[2015-01-22 18:39] alazier commented on #1378
Thinking about this a bit more, all these numbers seem kind of slow ~2ms per notification. Wondering what the real bottleneck is here.

Thoughts @tgoyne ?

[2015-01-22 18:54] tgoyne commented on #1378
I made a single-threaded version for comparison:
[code]

Results on my ipod touch:
Test Case '-[PerformanceTests testBaseline]' passed (31.041 seconds).
Test Case '-[PerformanceTests testNotificationLatency]' passed (33.872 seconds).

IOW commits are slow, and the inter-thread sync stuff is adding .28ms.

[2015-01-22 19:09] mrh-is commented on #1101
@Pintouch Yep, it's a change sometime between 0.87.4 and 0.90.0. Still investigating...

[2015-01-22 19:11] segiddins commented on #1390
This is closed by https://github.com/realm/realm-cocoa/pull/1391.

[2015-01-22 19:11] #1390 closed

[2015-01-22 19:29] tgoyne commented on #1378
Using in-memory realms makes the results a bit more useful by eliminating all the time spent in msync():

[code]

Test Case '-[PerformanceTests testBaseline]' passed (8.348 seconds).
Test Case '-[PerformanceTests testNotificationLatency]' passed (10.380 seconds).

[2015-01-22 19:59] MattKiazyk opened #1394 "Crash after updating to 0.90.0"
Just updated my realm (through cocoapods). App is now crashing:

[code]
Call that is crashing is:
[code]
Stepping into the stacktrace, in the function `update_query_with_predicate` the predicate string is:
[code]
Where my `GTAmenity` class has the following:
[code]

Hope this helps. For now I'll revert back to .89.2

- Matt

[2015-01-22 20:12] mrh-is commented on #1101
OK, I'm not totally certain, because I (sadly!) can't spend the whole work day on debugging this so I didn't test with this commit, but I _think_ it's [commit 94c2dee](https://github.com/realm/realm-cocoa/commit/94c2deedaaa41429b881cf975c378140b3f5bd4c). My suspicion (again, untested, sorry) is that there's some issue with `isSwift` being applied to the whole chain rather than decided per class. I

[2015-01-22 20:15] jpsim commented on #1101
This change happened in #1284 and lays the groundwork for a super awesome new Swift API, but makes using Realm in Swift a bit more cumbersome in the meantime :cry:.

Until our super awesome new Swift API is released, you'll unfortunately have to implement the following initializers if you want to use custom initializers:

[code]

[2015-01-22 20:15] jpsim commented on #1101
I understand this is suuuuper awkward, but as I said, this lays an important foundation.

[2015-01-22 20:16] jpsim commented on #1327
I'm looking into this, @shmidt. Bear with me a bit.

[2015-01-22 20:17] mrh-is commented on #1101
Ah, that's ok! As long as there are clear directions. :+1: Thanks @jpsim! (YEAH SWIFT API)

[2015-01-22 20:55] jpsim commented on #1263
Should also lint with `--use-frameworks`

[2015-01-22 21:03] jpsim opened #1395 "Build and run through all possible installation methods on CI"

[2015-01-22 21:45] alazier commented on #1378
I this concludes that this doesn't make things slower than they already are, but things are a bit slow to begin with. Asynchronous writes/flushing to disk would speed things up considerably.

[2015-01-22 22:01] tgoyne commented on #1394
I can reproduce this with the call to `allObjects`, but not without it (i.e. `[GTAmenity objectsWhere:`), which will also be slightly faster.

[2015-01-22 22:10] MattKiazyk commented on #1394
@tgoyne can confirm just having `[GTAmenity objectsWhere:` works as expected.

[2015-01-22 22:14] #1388 closed

[2015-01-22 23:09] #1394 closed

[2015-01-22 23:22] jpsim commented on #1327
So it turns out that dragging from the sidebar into the "Copy Files" phase is different than adding the file by clicking the "+" icon. So try removing the file from the "Copy Files"/"Copy Frameworks" phase and re-adding it by clicking "+".

It feels a bit silly, but I recorded a video going through these steps from scratch with our latest release (0.90.0): http://static.realm.io/videos/realm-dynam

[2015-01-22 23:28] jault3 commented on #1322
hey @jpsim was just wondering if you had a chance to look at this yet?

[2015-01-22 23:28] jpsim commented on #1322
Not yet, thanks for your patience. I'll let you know as soon as I do!

[2015-01-22 23:30] jpsim opened #1398 "Realm's dynamic framework isn't copied into the Build directory when using Carthage"
I think this is due to a recent change in Carthage since I remember it working with Realm `0.89.X` but not anymore as of at least Carthage `0.5.2`.

[2015-01-23 03:58] 3ign0n opened #1400 "Realm/RLMPlatform.h file not found in ver.0.90.1"
Should it be included in Realm.podspec public_header_files?

[2015-01-23 06:05] ldiqual commented on #1400
Ok, now it's getting a bit weird: 3 versions in a row that the Podspec is broken even though it was allegedly fixed every single time.

 - "fix" for 0.89.0: https://github.com/realm/realm-cocoa/pull/1358
 - "fix" for 0.90.0: https://github.com/realm/realm-cocoa/pull/1393
 - fix? for 0.90.1: https://github.com/realm/realm-cocoa/commit/11da29b925ed2789e9a42f6670d49a06d1484610

I could be totally wro

[2015-01-23 06:49] segiddins commented on #1400
I have a pull request that will fix linting in CocoaPods.

[2015-01-23 07:30] Pintouch commented on #1101
Thanks! Overriding those constructors works!
Can't wait for the Swift API with generics Support!! :)

[2015-01-23 07:42] ldiqual commented on #1400
@segiddins That's super promising! Would you mind linking to it? I couldn't find it in the list of open PRs.

[2015-01-23 08:07] Just- opened #1401 "Updating with nested dictionary breaks RLMArray and RLMObject connections"
I have such model classes `Room, Channel, User, OptionalBool`. Before updating `User` have an array of followed `Channels` and `OptionalBool` with true value.

[code]

Then I update `Room` with calling `createOrUpdateInRealm:(RLMRealm *)realm withObject:(id)value`  with a dictionary below

[code]

And after such update all followed `Channels` and `OptionalBool` connection are cleared.

[code]

Tha

[2015-01-23 08:13] brajbong commented on #1302
I am facing the same issue- I am using the installation commands for Cocoa as described in http://realm.io/docs/cocoa/0.90.1/, reproduced below-

In your Podfile, add pod "Realm" to your app target and pod "Realm.Headers" to your test target (see “Testing Realm Apps”) for details.
From the command line, run pod install.
Use the .xcworkspace file generated by CocoaPods to work on your project!
Foll

[2015-01-23 08:19] shmidt commented on #1327
@jpsim Thanks for the video. I do the same, except I have Swift project.

[2015-01-23 08:23] segiddins commented on #1400
https://github.com/CocoaPods/CocoaPods/pull/3067

-Samuel E. Giddins

On Jan 22, 2015, at 11:42 PM, Loïs Di Qual <notifications@github.com> wrote:

@segiddins That's super promising! Would you mind linking to it? I couldn't find it in the list of open PRs.

—
Reply to this email directly or view it on GitHub.

[2015-01-23 13:00] denadai2 commented on #1400
same here

[2015-01-23 13:14] dasdom commented on #1280
@segiddins Sorry for the late reply I was busy with other stuff. I have update to 0.90.1 and checked again. The Problem remains. The Framework Search Path points to the OS X Realm framework.
I'm not using cocoapods. I installed Realm following the steps in Manual Installation.

[2015-01-23 17:58] #1400 closed

[2015-01-23 20:20] jpsim commented on #1302
There's only so much we can do @brajbong. It's quite possible things aren't working for you due to a bug in Apple's module loading process, so perhaps file a radar at http://bugreport.apple.com?

Here's a short video going through the steps of including Realm in a Swift project, in case that clarifies any of the steps: http://static.realm.io/videos/realm-in-swift.mp4

[2015-01-23 21:27] alazier commented on #1212
We fixed some issues which could have potentially caused corruption in release 0.90.0. Closing this for now but if you continue to have issues please re-open.

[2015-01-23 21:27] #1212 closed

[2015-01-23 21:30] alazier commented on #1387
@GreatApe 's WIP is now here: https://github.com/realm/realm-cocoa/tree/gk-new-browser

[2015-01-23 21:32] alazier commented on #1270
This should be fixed in the latest release. The browser should work when using 64bit simulator devices (although notifications are not yet hooked up and will be in the next release). If you use a 32bit simulator you should get an error message in the browser.

[2015-01-23 21:32] #1270 closed

[2015-01-23 21:42] alazier commented on #1386
We don't yet have tests for the new apis to validate creating/updating nested objects. Sounds like this is probably a bug. Thanks for reporting.

[2015-01-23 23:12] jpsim opened #1404 "Update release process to zip repo"
Due to difficulties in shipping prebuilt fat dynamic binaries for iOS (see #1163), it would be much simpler to recommend that users drag in `Realm.xcodeproj` as a subproject (or use Carthage/CocoaPods if they don't like that). It would also greatly simplify packaging the release zip since we wouldn't need to script a number of mutating steps.

Subtasks for this issue:

- [ ] remove `ios-dynamic` f

[2015-01-23 23:31] mkoppanen commented on #1270
Excellent! Thanks guys.

[2015-01-23 23:41] jpsim commented on #1280
@dasdom in an effort to not conflate the distinct issues discussed in this thread, could you provide steps to reproduce the problem you're facing? Are you saying that following the "Manual Installation" steps listed [here](http://realm.io/docs/cocoa/0.90.2/#installation) for an iOS Objective-C app yields a compilation error **"error: could not build Objective-C module 'Realm'"**?

[2015-01-24 00:02] jpsim commented on #1386
Looks like this is a duplicate of #1322.

[2015-01-24 00:04] jpsim commented on #1322
I got the app to run as expected in the `realm` branch (by running on device) and determined that this is the same issue as #1386, which is that createOrUpdate unlinks relationships in Swift. So I marked this as a bug and we'll get started on a fix soon.

[2015-01-24 00:11] alazier opened #1406 "Swift: description says RLMArray and has other objc api references"

[2015-01-24 00:12] alazier commented on #1406
We also need to add tests for this

[2015-01-24 00:36] voidfiles opened #1408 "Can't seem to use Realm in an embedded framework"
I am building an iphone app that has a share extension. I would like the extension, and the main app to share code, including the code that uses realm to manage stored objects.

I am manually installing the Realm.framework. The only way I could get my app to compile was to include the realm.framework in both the embedded extension, and the main app, but that led to many log messages like this

```

[2015-01-24 01:17] jpsim opened #1409 "Passing a realm-backed RLMObject to createOrUpdate should throw an exception"
Otherwise, people try to do this:

[code]

Thoughts @tgoyne @alazier ?

[2015-01-24 01:17] jpsim commented on #1386
After further investigation, #1322 is a different issue altogether, so I'm reopening this.

[2015-01-24 01:24] jpsim commented on #1322
Ah, so @jault3 turns out that your usage of Realm is actually incorrect (although we should share the blame since the `createOrUpdate` methods can be a bit misleading).

So in your code, when you update an `RLMObject` property value, you're done! You don't have to pass that modified object back into `createOrUpdate`. That method is more for passing in an `NSDictionary` or `NSArray` of updated valu

[2015-01-24 01:24] #1322 closed

[2015-01-24 05:13] jpsim commented on #1398
I was mistaken. The dynamic framework is being copied fine, it's the static framework that isn't copied, and that's by Carthage design.

[2015-01-24 05:13] #1398 closed

[2015-01-24 12:06] dasdom commented on #1280
@jpsim No, sorry, I'm talking about a command line Swift OS X application which I use to populate my realm database. I followed the manual installation steps you linked in your comment (http://realm.io/docs/cocoa/0.90.2/#installation).

[2015-01-24 21:43] voidfiles commented on #1408
Okay, not entrely sure how I fixed this, but in case you google your way here this is what I did.

1. I didn't make my main app link with the Realm.framework
2. Instead of puting the Realm.famework into a Frameworks folder inside of my embedded framework I put it in the main Frameworks folder in my project.

[2015-01-24 21:43] #1408 closed

[2015-01-24 23:16] drewcrawford opened #1410 "RealmDescription, a thread-safe RLMRealm factory"
# Problem

Let's say that I have an app, and let's further say that on startup this app loads some data from the network and puts it in Realm.

Most probably, there is a lot of code at various layers inside the app (networking code, UI code) that makes calls to `RLMRealm.defaultRealm()`, either to insert or display data.

Now let's say I want to write a unit test, let's say for some particular cla

[2015-01-25 13:09] Just- commented on #1401
Got this on 0.88.2 and 0.90.0

[2015-01-26 13:48] dave-trudes commented on #1350
+1

[2015-01-26 16:17] jault3 commented on #1322
So @jpsim is this still a bug and I am also using it incorrectly? Or is this just me incorrectly using realm and it is not a bug? I took a look at #1409 and that would be a great idea. An exception would be a nice reminder!

I do have one question though. Let's take the situation where you make a network request, construct one of my RTruck objects, use the `createOrUpdate` method and it stores it

[2015-01-26 18:20] malcommac opened #1411 "sortedResultsUsingProperty with non stored properties"
Is there a way to sort RLMResults instances with computed properties? (not stored on realm db).
I've tried with my "distance" @property evaluated at runtime but I get this:
" *** Terminating app due to uncaught exception 'Invalid sort column', reason: 'Column named '(null)' not found.'"

Is there a way to get it? Convert RLMResults in a normal NSArray?

[2015-01-26 18:25] segiddins commented on #1411
Hi @malcommac, it is currently not possible to sort an `RLMResults` by anything but a realm-persisted property. We have a ticket at https://github.com/realm/realm-cocoa/issues/1265 that is tracking adding a way to do such sorting.

[2015-01-26 18:25] #1411 closed

[2015-01-26 19:19] segiddins commented on #1409
@jpsim in your mind, would `createInRealm` still allow passing in an `RLMObject`?

[2015-01-26 19:24] jpsim commented on #1409
Yes, `createOrUpdate:`, `createInRealm:` et al. should continue to support passing in standalone `RLMObject`s as well as `RLMObject`s backed by a different realm (i.e. copying `RLMObject`s between realms).

[2015-01-26 20:49] alazier commented on #1409
This does not work. Users need to be able to pass persisted objects to this method. This is currently how we recommend users copy objects between Realms.

I don't see any reason why the code you have posted is not valid and should throw.

[2015-01-26 20:56] jpsim commented on #1409
See #1322 for an example of how this bit a user. I agree that we should continue to allow users to copy RLMObject's between realms, but trying to `createOrUpdate` with an `RLMObject` backed by the same realm is never the appropriate approach.

[2015-01-26 21:55] jpsim commented on #1322
@jault3 no this is not a bug. Yes you are using Realm incorrectly, though I understand the method name is misleading. Could you clarify your follow up question? I don't quite understand what you're asking. Maybe a code snippet would help.

[2015-01-26 22:06] jault3 commented on #1322
Ok, thanks for the clarifications, that does help a lot. And regarding my question, let's say I make a network request, and I get this JSON back from my server

[code]

I construct an RTruck object (my Realm backed class) from this JSON and use the `createOrUpdate` method to persist this to realm and everything works great.

Now maybe the user closes the application. Some time passes and they open

[2015-01-26 22:10] jault3 commented on #1322
That may still be confusing, so here is a standalone coding example. It just seems kind of strange to me that with new objects you wouldn't have to call createOrUpdate.

[code]

[2015-01-26 22:26] segiddins opened #1413 "Add a warning to docs for notifications about infinite recursion"
If the user unconditionally begins a write transaction inside an inline notification block, it can lead to infinite recursion.

[2015-01-26 23:19] jault3 commented on #1322
You can ignore the example above. There is an `addOrUpdateObject` method on realm objects that I should have been using this whole time.

[2015-01-26 23:19] jpsim commented on #1322
Ok, so are we good? Is there anything else lingering that we can help with?

[2015-01-26 23:20] jault3 commented on #1322
Nope, everything is solved. Thanks for all your help

[2015-01-26 23:44] lewo commented on #1386
Thanks, will jump back to this branch once it's fixed :+1:

[2015-01-27 00:41] omaxmedia90 commented on #1350
+1

[2015-01-27 00:56] #1409 closed

[2015-01-27 15:06] shmidt commented on #1327
@jpsim I followed your video step by step, to create exactly the same project, but result is the same:
[code]
Can't understand what the problem this.
My Xcode version is up to date: Version 6.1.1 (6A2008a).
Probably re-installing Xcode can fix it?

[2015-01-27 15:10] shmidt commented on #1327
And this is how architectures look like:
![screen shot 2015-01-27 at 18 09 26](https://cloud.githubusercontent.com/assets/1472370/5920720/bc762260-a64f-11e4-9a3f-9a51a604509e.png)

[2015-01-27 18:51] BrentleyJones opened #1418 "Support copying a realm into an in-memory realm"
I want to be able to copy a realm, ala `- (BOOL)writeCopyToPath:(NSString *)path error:(NSError **)error`, but to an in-memory realm instead of to a disk. Maybe even open an in-memory realm from a disk path.

[2015-01-27 19:16] shmidt commented on #1327
Can you please try to build my sample project?
https://dl.dropboxusercontent.com/u/4110416/RealmDynamicTest.zip
If it will compile without errors then I will know that problem is in Xcode.

[2015-01-27 22:32] pizthewiz commented on #1327
Yup, I have the same linker issue - this seems to be caused by linking to both versions of the framework. For example, if I follow the normal instructions or the video above and bring in both versions of the framework, I can build for the device but not the simulator. If I then remove the device version of the framework and clean up my project's `FRAMEWORK_SEARCH_PATHS`, I can then build for the s

[2015-01-27 22:39] pizthewiz commented on #1327
I see the same issues in @shmidt's sample project when building for the simulator as well.

If we look at the build log for the linking step we'll see:
[code]

and a warning:
[code]

It would seem that it is *not* actually ignoring the file.

[2015-01-27 22:47] pizthewiz commented on #1327
Just re-read the commentary in #1163, doesn't seem that there is an easy fix for this…

[2015-01-28 07:00] bmunkholm commented on #1418
Could you detail your usecase a bit?
Specifically would you be updating the in-memory version or just using it for read-only? In that case it won't actually be faster than the file-based.

[2015-01-28 10:19] rciobanu-omnifone commented on #1097
@jpsim, @tgoyne, what about entities that don't have a primary key defined? AFAIK, `NSManagedObjectID` exists for every `NSManagedObject` once it's been added to the DB. Primary Keys, on the other hand, are optional. In some cases it's even recommended against having PKs for Realm entities: https://github.com/realm/realm-cocoa/issues/1234#issuecomment-67192865

[2015-01-28 13:49] marcaoas opened #1421 "Default value property is not working"
Hi.
I have the following defaultPropertyValues method:
[code]
And when I save the object the following exception is thrown:
[code]
Am I doing something wrong or it is a bug?

[2015-01-28 16:06] segiddins commented on #1421
@marcaoas could you please share the code in which you're creating your object?

[2015-01-28 20:00] jpsim commented on #1327
Hi all, I reopened this as an issue and we'll fix as soon as possible. The dynamic framework is currently working for devices, but not for the simulator. It's an architecture issue.

In the meantime, the best way to use the dynamic Realm framework is through Carthage. We understand this may be inconvenient for some, so we're working on making the `Realm-dynamic-simulator` framework behave properly

[2015-01-28 20:13] jpsim commented on #1097
That comment was from a while ago. Primary keys are supported and you're encouraged to use them in cases in which you need a unique identifier for your objects.

We've opted against going the Core Data route of unconditionally adding an additional column on each model for the sake of global object ID's, but you're free to do so yourself.

The thread handoff solution we're working on will support a

[2015-01-28 20:33] shmidt commented on #1327
@jpsim Good to hear. Thank you very much!

[2015-01-28 21:08] pizthewiz commented on #1327
I think this isn't actually an issue with the Realm-dynamic-simulator framework, but an issue of linking to two frameworks of the same name - with some renaming, I suspect one could cause the exact opposite situation, where linking for device fails but for simulator does not.

[2015-01-28 21:10] jpsim commented on #1327
Possibly. Unfortunately we can't rename the frameworks (that's what we were doing initially). We could also go the Carthage route and require that users add a build script to strip architectures on submission to the App Store.

[2015-01-28 21:21] jpsim opened #1424 "Support object equality in ANY queries"
e.g. `[A objectsWhere:@"ANY bArray = %@", instanceOfB]`. AFAICT core supports this, we just don't cover it in `RLMQueryUtil`.

[2015-01-28 21:25] vuk-nikolic commented on #1424
+1 :)

[2015-01-28 22:11] pizthewiz commented on #1327
A run script build phase to strip the architectures does not seem unreasonable to me as it is not uncommon to have a separate scheme to target App Store submission.

[2015-01-29 00:13] alazier commented on #1410
We've been discussing this quite a bit, and the consensus among the Realm devs is that the simplest way to do what you are asking using our current apis is to create a block which vendors a Realm object configured as needed. You can then pass this block around to multiple threads and use it to create Realm objects configured in the same way.

This may or may not cover all of your use cases and we

[2015-01-29 00:13] #1410 closed

[2015-01-29 01:45] BrentleyJones commented on #1418
I would be updating it in memory. My use case is I have a preloaded database that I either copy to a new disk location for a new on disk database, or I can do the same thing, but in memory. The point is being able to preload in memory or on disk databases.

[2015-01-29 01:52] yoshyosh opened #1430 "Update setSchemaVersion:withMigrationBlock: with forRealmAtPath docs"

[2015-01-29 01:55] yoshyosh commented on #1430
Was looking at incorrect docs on local

[2015-01-29 01:55] #1430 closed

[2015-01-29 10:42] dismory opened #1432 "Encrypted Realm crashes on 64bit iOS devices when dealing with Shared Group stuff"
Realm 0.90.3 by CocoaPods

[code]

There is no crash when encrypted on 32bit iOS devices.  If not encrypted, it works well on 32bit and 64bit.

Also, there are some interesting facts that the crash will suddenly be fixed if I do the following things:
- remove just one of my naive RLMObject subclasses(i.e. just has some primary value property but has no relationship property) from the build target

[2015-01-29 12:17] Kirow commented on #1324
I have a problem related to this issue
[code]

Need to delete all ```Big``` where ```smallArray.count == 0```.
I made it this way:
[code]

Any way to make like ```[realm deleteObjects:[Big allObjectsInRealm:realm where:@"smallArray.count ==0"]]```?

[2015-01-29 13:03] mmertsock opened #1433 "Missing comma in Cocoa migration docs"
Thanks for the great documentation! In the *Performing a Migration* section of the documentation, the two Swift code samples missing a comma:

[code]

There should be a comma after `RLMRealm.defaultRealmPath()`.

[2015-01-29 13:43] Pintouch commented on #913
:+1:

[2015-01-29 14:09] armandsLa commented on #1421
Having the same problem.

[2015-01-29 14:14] marcaoas commented on #1421
It's a Restkit request and the object is created from restkit
[code]

[2015-01-29 18:38] yoshyosh commented on #1433
Thanks for pointing this out, just made a fix!

[2015-01-29 18:38] #1433 closed

[2015-01-29 18:43] segiddins commented on #1421
@marcaoas, I've seen this issue with RestKit usage a few times, and every time it's been related to `NSNull` values getting into the RestKit-mapped object. Can you check if this is indeed what is happening? I'm considering adding an option in RestKit to not map null values, which would help in that circumstance.

[2015-01-29 19:01] drn commented on #1279
:+1: Would really love to see this as well. Currently manually importing the framework into our Swift project.

[2015-01-29 19:58] JFKingsley commented on #913
:+1:

[2015-01-29 20:23] AdrianFerreyra commented on #913
:+1:

[2015-01-29 21:12] #1372 closed

[2015-01-29 21:12] #1374 closed

[2015-01-29 21:31] alazier commented on #1324
@Kirow count queries are not yet supported. There is an open issue for it here #1166

[2015-01-29 21:38] jpsim commented on #1324
Even if they were, it's not possible to include a property that isn't stored in Realm in a predicate (e.g. `smallArray` in this case).

What necessary for the time being is to formulate a predicate based on the results of calling `linkingObjectsOfClass:forProperty:`.

[2015-01-29 22:39] segiddins commented on #1421
@marcaoas, it would also be incredibly helpful to have an example project that replicates the issue.

[2015-01-29 23:19] donald-pinckney commented on #938
For me Realm works in a playground, building 691ef1ebb14e4bf1ec7c867f22eb17180af112cb from source.  A few notes: My playground is an iOS Playground, and my schema is NOT defined directly in my playground as @bitserf tried, rather it is defined as a framework that I made, which I then import into the playground.

However, I have the caveat that I can only load a Realm database in read only mode.  I

[2015-01-29 23:22] segiddins commented on #1386
@lewo I just copy-pasted your code into an example app and was unable to reproduce the issue you reported. Could you either try again with the latest bits from the al-swift branch, or share an example project that reproduces the issue? Thanks!

[2015-01-29 23:27] donald-pinckney commented on #938
Update: I changed reading from the Playground resources to:
[code]
and now I can open the Realm file in writable mode.

[2015-01-29 23:39] segiddins commented on #1401
@Just- would it be possible to provide a sample project that demonstrates this issue? It would make it much easier to track down the root cause. If that isn't possible, at least seeing your model definitions would be a great help. thanks!

[2015-01-30 00:05] segiddins commented on #1260
Realm actually will fail gracefully as long as you use on of the factory methods that takes an error parameter (and a pointer to an `NSError` is passed in). The answer in situations like this is either to disable `NSFIleProtection` entirely (and optionally use Realm's built-in encryption support), or to recognize that opening the Realm when the app is in the background can fail, and using the appr

[2015-01-30 00:05] #1260 closed

[2015-01-30 00:38] lewo commented on #1386
Still happening on the latest al-swift branch, I'll see if I can create an example. Not sure if this helps but this is how I'm calling createInRealm and println(result) output below.:

[code]

[code]

[2015-01-30 03:40] lewo commented on #1386
And if I remove the primary key on the Ward object it works all ok.

[2015-01-30 06:44] astigsen commented on #1276
While such a method does not exist on NSMutableArray, I also think we should have a `moveObjectAtIndex:toIndex` method.

[2015-01-30 07:19] brandonroth opened #1435 "defaultRealm returns nil"
Playing around with the Backtrace example provided there are times when I run the app and get a crash on the line which calls RLMRealm.defaultRealm().  on Subsequent runs nothing works (no crashes, just no output) and any calls to defaultRealm returns nil.  I have to delete the app to get things working again.  I'm not sure what triggers this but I would assume a call to defaultRealm would create

[2015-01-30 08:04] zocario commented on #913
:+1:

[2015-01-30 11:48] vittoriom opened #1436 "Schema without Objects in Tests"
Hi,
first of all thanks for your great job!

I'm having an issue similar to #690 except for the thing that I'm not using CocoaPods.
My test target has the main app as a dependency, and I setup a stub Realm database just with the purpose of running tests against it.

The issue I'm having, even though I'm obviously initializing the realm with

[code]

and querying it with

[code]
where <code>realm</

[2015-01-30 11:53] vittoriom commented on #1436
A small update:
I managed to get the build working again by prefixing the ambiguous <code>MyModelObject</code> declarations in the tests with the main target module name, but I don't know if the tests would be working because when I run them, my whole Xcode crashes :-1: so the question is still valid :smile:

[2015-01-30 12:23] marcaoas commented on #1421
Ok @segiddins
I'll create an example project.

[2015-01-30 17:52] jpsim commented on #1435
Hi @brandonroth, we don't have an example named "Backtrace", so I'll assume you're referring to the [Backlink example](https://github.com/realm/realm-cocoa/tree/master/examples#backlink-1). I'll also assume you're using Swift based on the fact that you refer to `RLMRealm.defaultRealm()`.

Creating an `RLMRealm` can fail at any time due to a number of factors ([low available memory, low available s

[2015-01-30 20:43] MattKiazyk opened #1439 "Truncate description for NSData properties"
If I have an NSData property on an object, when I log the object it belongs to, it currently spits it all out.

Requesting that a truncated version of it be used instead ex: `lengh:4232 bytes`

Thanks

-Matt

[2015-01-30 20:56] segiddins commented on #1386
Hm, I still can't reproduce the issue. Is there any way you could share an example project that demonstrates it? Thanks!

[2015-01-30 21:10] segiddins commented on #1418
Since Realm uses memory-mapping, there's no performance difference on reads between an in-memory Realm and a disk-backed Realm. Copying the file to a new location on disk should do just fine for using a pre-loaded realm file.

[2015-01-30 21:11] BrentleyJones commented on #1418
But then if I modify it, I want to be able to throw it away, like an in-memory realm. I would have written it to disk, which is not what I would necessarily want.

[2015-01-30 21:37] tgoyne commented on #1418
In-memory Realms only really have two differences from normal Realms: we skip calling msync (and skip a small amount of work related to ensuring that we're msyncing the correc things), and automatically delete the file when it's closed. Not calling msync means that typically no data is ever written to disk, but the backing file does still need to be writable and there's no guarantee that the kerne

[2015-01-30 22:29] #935 closed

[2015-01-30 22:35] segiddins commented on #1386
@lewo I just managed to reproduce the issue and am digging into it. Thanks so much for reporting it!

[2015-01-31 00:20] segiddins commented on #1386
@lewo I think we've fixed the issue in https://github.com/realm/realm-cocoa/commit/f27ab75270bf5105285aa8fed53e8907914415b1, which should make it onto `al-swift` soon

[2015-01-31 01:17] lewo commented on #1386
Great thanks, I'll give it a try.

[2015-01-31 02:20] lewo commented on #1386
Works the first time on loading the JSON data:-) but fails on the second reload due to the primary key:

RLMAccessor.mm

[code]
2015-01-31 12:15:14.194 N2[20598:929736] *** Terminating app due to uncaught exception 'RLMException', reason: 'Can't set primary key property 'id' to existing value '1'.'

[2015-01-31 06:27] anlaital commented on #1439
:+1:

[2015-01-31 15:18] kunalsood commented on #1103
+1
This would be especially useful when number of sections in a grouped tableView is dynamic, iterating over all objects to find distinct sectionIdentifier properties after every change notification seems extremely inefficient, especially for large datasets.

It would be even better if this could be built into RLMResults or another similar class, and potentially support change/fine grain notificat

[2015-02-01 21:28] ijohn commented on #913
:+1:

[2015-02-01 21:34] diageopants commented on #913
:+1:

[2015-02-01 23:05] kronik opened #1443 "RLMResults contains doubled objects"
Hi!

I faced with an issue when after I executed a query I see all objects in RLMResults (objectsWithPredicate) twice. But in desktop realm browser actual data exists only once i.e.:

in browser records:

1. aaa
2. bbb
3. ccc

in RLMResults:

1. aaa
2. aaa
3. bbb
4. bbb
5. ccc
6. ccc

Any ideas why?

[2015-02-02 07:46] bmunkholm commented on #1443
Hi,
That sounds odd. Can you in any way share some code that reproduce this? I.e. the data file itself and the code you use to query? You can send privately at help@realm.io

[2015-02-02 08:02] Just- commented on #1401
See test project with simplified model https://dl.dropbox.com/s/tzsnt79ceso5wa7/RealmNestedUpdates.zip
Just run `pod install` to install Realm before using. It gives me the next output

[code]
In my project such update also clears `isMine` connection and here it doesn't. But it breaks followed connection as well.

[2015-02-02 08:30] tspecht opened #1444 "Duplicate interface definition for class RLMObject with 0.90.4"
Hi guys,

I just wanted to update to 0.90.4 but unfortunately Realm is not compiling anymore since apparently duplicated definitions for RLMObject are present. Am I just being totally stupid or is there a problem with the current CocoaPods release?

[2015-02-02 11:58] xzf158 commented on #1101
class Sentence: RLMObject {
    convenience init(content: String){
        self.init(object: content)
    }
}
This is working for me.
http://quabr.com/27294702/how-do-i-fix-this-error-use-of-unimplemented-initializer-init-for-class

[2015-02-02 14:20] vittoriom opened #1445 "A little bit confused about the threading model"
We're reworking a big app from scratch with Swift and decided to try Realm instead of CoreData.
Right now I'm facing a small issue regarding the threading model to use.
My intention was to run all the reads and writes on the database on a background queue, so that the UI would not stutter too much. But as is turns out, Realm is not really prepared to work with dispatch queues, even if it is always

[2015-02-02 15:25] yasirmturk commented on #628
sanitizing json is a load on performance and memory

[2015-02-02 15:51] segiddins commented on #1444
@tspecht can you please share the error that you're seeing, as well as the Podfile you're using?

[2015-02-02 17:13] anlaital commented on #1432
:+1:

I'm getting this as well and had to disable encryption with Realm (0.90.4). Encryption does work correctly with the simulators. Hopefully you guys can get this fixed since this will block our release. If you need crash logs from Crashlytics, let me know and I'll sanitize them.

[2015-02-02 17:16] yoshyosh commented on #1432
Any reproducible projects will help us a lot. Feel free to send to help@realm.io to keep things private.

[2015-02-02 17:36] anlaital commented on #1432
Looks like I managed to isolate how to reproduce the crash. You just need a class with a name longer than 57 characters, so "@class apokerkopaerpokapeorkapeokrpaoekrapoerkapoerkapeorkapeeok : RLMObject" would not crash whilst "@class apokerkopaerpokapeorkapeokrpaoekrapoerkapoerkapeorkapeeoka : RLMObject" would. I have also e-mailed you a test project illustrating the crash on an iPhone 6 running i

[2015-02-02 18:35] yoshyosh commented on #1445
Hi @vittoriom you are correct that you need to keep calling `RLMRealm.defaultRealm()` every time you are on a new thread. You can do reads and writes in background threads, you just can't pass RLMObjects/Realms between threads. One way people handle passing objects is by using primary keys. By fetching primary keys in a background thread, you can then send those over to the main thread and re-fetc

[2015-02-02 18:39] vittoriom commented on #1445
Hi @yoshyosh and thanks for the reply. I actually don't need to pass objects between threads since my persistence layer only outputs lightweight structs that can be easily passed around. Still, I'm not 100% sure when you say

Since when I do that, I get something like "Realm is accessed from the wrong thread".
Do you mean that in order to do that, I just need to call <code>RLMRealm.defaultRealm()<

[2015-02-02 18:40] yoshyosh commented on #1445
Exactly, everything should work fine if you do that :)

[2015-02-02 18:43] vittoriom commented on #1445
Thanks, I will give it a try! Feel free to close the issue if you want to clean the board :)

[2015-02-02 18:45] yoshyosh commented on #1445
Awesome, just let us know if you run into any other issues!

[2015-02-02 18:45] #1445 closed

[2015-02-02 20:29] segiddins commented on #1436
You are correct in the assumption that the issue comes from having the class added to both targets. Your best bet would be to simply import your application's implicitly-defined module into your test target.

[2015-02-02 20:32] vittoriom commented on #1436
Hi Samuel and thanks for the reply

Unfortunately my application's implicitly-defined module is already
imported into my test file, but this doesn't seem to help Realm in building
the schema. It's also worth noting that the test realm already includes
some data but still, the RLMSchema is empty.

2015-02-02 21:29 GMT+01:00 Samuel E. Giddins <notifications@github.com>:

[2015-02-02 23:07] a2 commented on #913
:+1:

[2015-02-02 23:30] segiddins commented on #1401
@Just- thanks for the example project! I've reproduced the issue.

[2015-02-03 00:12] segiddins commented on #1401
It turns out that the root cause of this bug is https://github.com/realm/realm-cocoa/issues/1362.

[2015-02-03 01:42] segiddins commented on #1436
Would it be possible for you to share an example project that reproduces the issue? That would make debugging much easier. Thanks!

[2015-02-03 02:13] kronik commented on #1443
Sent

[2015-02-03 02:58] kronik commented on #1443
Sent

[2015-02-03 08:10] vittoriom commented on #1436
I just prepared a new project trying to reproduce the issue and it looks like importing Realm and the application's implicitly-defined module in the test file, I can read and write in the database without issues.
At this point I guess I will have to make incremental steps to get to my real configuration and see what's breaking stuff.
Thanks for your support :)

[2015-02-03 12:34] Kirow commented on #1444
Sometimes get this error when AppCode adds ```#import``` to files I don't need (don't remember filename, but it is always the same). Just check all your imports.

[2015-02-03 13:39] RTimal commented on #824
@timanglade Is this support present in v0.90.4? Seeing no query results in my Watchkit extension after committing a write transaction in the parent app.

[2015-02-03 16:04] a2 opened #1447 "Carthage builds both "iOS" and "iOS 8" targets to same output file"
I noticed that when using Carthage, it builds both the "iOS" and "iOS 8" targets to the same output `.framework` file in _Carthage/Builds/iOS_.

[2015-02-03 18:10] segiddins opened #1448 "Make List and Results Sliceable"

[2015-02-03 19:22] segiddins commented on #1447
Wouldn't this be a bug in Carthage, not making sure that each scheme's artifact is preserved?

[2015-02-03 19:34] segiddins commented on #1357
@BrentleyJones I just want to follow up and make sure you have refreshing working in your app?

[2015-02-03 19:40] a2 commented on #1447
Why are there both a 7-targeted and an 8-targeted dynamic libraries to begin with?

[2015-02-03 20:04] mrackwitz commented on #1447
The `iOS` target builds a static framework for pre iOS 8, while the `iOS 8` target builds a dynamic framework.

[2015-02-03 20:11] alazier commented on #1448
This requires core support for querying on results/listViews with offset/limit

[2015-02-03 20:54] timanglade commented on #824
@RTimal Some things are working yes, but right now there are no change notifications, lots of tests are missing and there’s also an Apple bug we need to address in a more elegant way. We have some builds working internally and we’ll update this ticket as we make progress :)

[2015-02-03 21:42] tgoyne commented on #1432
I've made a PR on core that fixes this. I'll try to get a build with the fixes for you as soon as it's been reviewed.

[2015-02-03 22:24] pableiros commented on #913
:+1:

[2015-02-03 22:31] bmunkholm commented on #1448
That was supported years ago :-) Check query.hpp find_all() and aggregates support it already.

[2015-02-03 22:57] BrentleyJones commented on #1357
Calling it manually is working.

[2015-02-03 22:57] segiddins commented on #1357
Glad to hear it!

[2015-02-03 22:57] #1357 closed

[2015-02-03 23:40] tgoyne commented on #1448
The problem is further querying the sliced results. Filtering a Query on a TableView doesn't retain the TableView, so we can't use anything that requires that.

[2015-02-04 03:39] jpsim commented on #1447
I spoke to the Carthage people about this. Carthage skips static frameworks, so this "works as expected". I think we're starting to have an interesting conversation about this in the Carthage issue you linked, though. If you think Realm should do anything differently, please reopen this issue.

[2015-02-04 03:39] #1447 closed

[2015-02-04 07:04] bmunkholm commented on #1448
So we need a ticket in core that describes the needed updates.

[2015-02-04 16:56] timanglade commented on #628
I know @rrrlasse is working on this in core at the moment, but it would be good to add a subsection about this + workaround to the [Current Limitations](realm.io/docs/cocoa#current-limitations) section of our docs right away. /cc @jpsim @segiddins

[2015-02-04 18:26] tgoyne commented on #1432
0.90.5 has now been released with a fix for this (and no other changes).

[2015-02-04 18:26] #1432 closed

[2015-02-04 22:48] segiddins opened #1454 "Implement performance tests for RealmSwift"
Can likely just be a copy of the ObjC performance tests

[2015-02-04 22:55] alazier opened #1455 "setSchemaVersion and migrateRealm should throw if Realm is already open"
Right now opened Realms continue to work but are not refreshed automatically.

[2015-02-05 04:44] yasirmturk opened #1460 "handling inconsistent data type"
I have a strange situation where the values from json vary from nil, int & string .. Currently, i am handling nil by passing default value a empty string ... but it does not handles converting int json to string attribute.. while other libraries do that seemlessly like ObjectiveRecord

[2015-02-05 06:04] anlaital opened #1461 "maxOfProperty on RLMResults sometimes returns +Inf"
Calling maxOfProperty on RLMResults seems to return +Inf in some cases. I have not yet been able to reproduce this in a standalone application, but here's what I can share.

It should also be noted that  this issue cannot be reproduced by opening the .realm file in Realm Browser and looking at the sums of the column. Calculating the sum of amounts by hand in a for loop also works correctly with th

[2015-02-05 17:52] yoshyosh commented on #1460
There are a few like [Mantle](https://github.com/Mantle/Mantle) and [Realm-JSON](https://github.com/matthewcheok/Realm-JSON)
The latter has been heavily used by the community to handle these kinds of situations. Building your own workarounds works as well, those are documented [here](http://stackoverflow.com/questions/26458585/how-to-handle-null-value-in-realm-io)

[2015-02-05 23:25] segiddins commented on #1461
@anlaital I tried to reproduce this with the given data, but was unable to. Could you please share a project / code sample that reproduces the issue? The following was my attempt to make a reproduction unit test, it might be a useful template:

[code]

[2015-02-06 06:18] anlaital commented on #1461
Unfortunately I'm not able to share the project that causes this issue.

I also tried to isolate it with those numbers, but was unable to reproduce it outside of the actual project, so the issue is definitely a bit more complex than it appears. This issue also happens in tightdb, so I'm not able to locally debug this either.

This also causes sumOfProperty to fail as would be expected.

[2015-02-06 07:11] bmunkholm commented on #1461
would it be possible to share just the database?

[2015-02-06 07:34] anlaital commented on #1461
The database contains my personal banking data, so I'd have to clean it up a lot before being able to send it. This issue isn't reproducible using Realm Browser on the database either, so I suppose the underlying cause is a bit more complex than that. Realm Browser reports the correct maximum and sum on the column.

[2015-02-06 09:59] Just- commented on #1401
@segiddins glad to help :)

[2015-02-06 10:45] bmunkholm commented on #1461
That's interesting as it uses the same method to calc the aggregates afaik.

[2015-02-06 11:54] anlaital commented on #1461
This is indeed quite interesting. I had another bug caused by this and the following snippet illustrates the problem (once again I'm sadly unable to provide you with test data for this issue):

[code]

One might suppose that minOfDate is equal to minDate and maxOfDate is equal to maxDate, but the output of lldb is as follows:

[code]

If you can give any suggestions as to how to remedy this issue,

[2015-02-06 12:00] webmagnets opened #1463 "Extra argument 'forRealmAtPath' in call"
I have Realm 0.90.5 installed with cocoapods. Here is my code:

    RLMRealm.setSchemaVersion(17, forRealmAtPath: RLMRealm.defaultRealmPath(),
			withMigrationBlock: { migration, oldSchemaVersion in
				if oldSchemaVersion < 1 { }
		})

In xcode I am getting the following error: ```Extra argument 'forRealmAtPath' in call```.

What could be my issue?

[2015-02-06 13:17] Bruno-Furtado opened #1464 "Realm in different app versions"
Hello,

My application has a silenty login at the application entry.
This login information is saved in the realm.

Everytime I create a new version of the application some users complain that they can no longer perform this login and the app closes.

I tried to find a solution looking for in the log but it was not possible.

It is possible that this error is occurring in the realm due to version

[2015-02-06 18:49] alazier opened #1465 "Creating an object property of type RLMObject should throw"
A users was trying to do this in swift which should throw. This should also throw if done from objc.

[2015-02-06 19:10] yoshyosh commented on #1464
Hi @Bruno-Furtado can you share the project with us privately at help@realm.io? You can also post code here that shows us how you are storing and retrieving this login information.

As long as you aren't changing the database model, realm won't require a migration, so your file should still be on the device like usual.

[2015-02-06 19:38] segiddins commented on #1463
@webmagnets is CocoaPods integrating that target using frameworks or static libraries? Are you importing Realm in your bridging header, or via an `import Realm` statement in Swift?

[2015-02-06 20:50] webmagnets commented on #1463
1) I'm not sure. I am attaching a screenshot to see if that helps. Thanks.
![realm-problem](https://cloud.githubusercontent.com/assets/1189875/6087313/810e3ae2-ae0f-11e4-81ab-26c0ed7a9ebf.png)

2) I am using ```import Realm```.

[2015-02-06 21:12] yoshyosh opened #1466 "Add a way to ignore adding an empty table to schema"
A few people have been asking for this, our default answer has been that it doesn't have any performance impact. I'm thinking its a aesthetic thing while looking at your data.

[2015-02-06 21:15] segiddins commented on #1463
@webmagnets that line of code compiles fine for me when I paste it into a test project. Is there any more context you can share?

[2015-02-06 21:19] webmagnets commented on #1463
Do you have a bitbucket account? I can add you as a viewer.

-
Nathan Cain
501-463-6336www.jw.org

------------------

[+] Add me to your address book

On Fri, Feb 6, 2015 at 3:15 PM, Samuel E. Giddins
<notifications@github.com> wrote:

[2015-02-06 22:13] segiddins commented on #1463
@webmagnets I can reproduce the issue on your project, however I have no idea why the compiler's Swift-generated interface for `RLMRealm` is different from the contents of `RLMRealm.h`

[2015-02-06 22:14] webmagnets commented on #1463
Do you think it has to do with me changing from manual installation to cocoapods?

-
Nathan Cain
501-463-6336www.jw.org

------------------

[+] Add me to your address book

On Fri, Feb 6, 2015 at 4:13 PM, Samuel E. Giddins
<notifications@github.com> wrote:

[2015-02-06 22:19] segiddins commented on #1463
@webmagnets you need to delete the existing `Realm.framework` from your project directory, add `#import <Realm/Realm.h>` to your bridging header, and remove the `import Realm` statements from your swift code.

[2015-02-06 23:46] alazier commented on #1466
We could just hide objects with no columns in the browser.

[2015-02-06 23:47] yoshyosh commented on #1466
Might not work for situations where people are testing the browser but haven't added any data yet. I could see that situation being odd

[2015-02-06 23:51] alazier commented on #1466
I think you misunderstood - objects with no objects but with columns would show up. Only object without any properties would be hidden.

[2015-02-06 23:57] yoshyosh commented on #1466
:+1:

[2015-02-07 01:37] segiddins opened #1468 "Add Swift tests for ignored property default values"

[2015-02-07 14:24] MKGitHub opened #1469 "Ability to parse a single hardcoded cvs-file into multiple tables with loose relationships."
It would be nice if the editor could do this.
For instance, if I have a huge cvs-file with the following duplicate data and hardcoded relationships  – the editor can separate this into multiple tables with loose relationships.

[code]

will become 3 tables with

[code]

[2015-02-08 08:21] nmock opened #1470 "Automatic writing/exception debugging"
I have an integer declared in an interface extension, when I modify this property, it is automatically being written to disk (I know because I am getting an exception: `Attempting to modify object outside of a write transaction - call beginWriteTransaction on an RLMRealm instance first.` I am not even surrounding it in the begin/commit transaction sequence and it is automatically being included in

[2015-02-08 15:15] LoganWright commented on #1101
Just in case anyone else comes here that is beginning Realm for the first time and doesn't know the argument types, here's a drop in solution for RLMObjects with custom initializers.  Just add this to your class

[code]

[2015-02-08 16:19] LoganWright opened #1471 "Unable to declare RLMArray in Swift"
When I add the following code:

[code]

And then test like so:

[code]

The program crashes on an NSException:

I feel like this is exactly the way it's setup in the Docs and I'm not sure what is happening.  There's no information related to the error message except for #750 which doesn't address my issue.

<b> Update </b>

It turns out that this issue is related to some underlying mapping that I'

[2015-02-08 16:29] LoganWright commented on #1471
Note that this happens even when I copy your example exactly from the docs:

[code]

And attempt to instantiate:

[code]

[2015-02-08 20:53] segiddins commented on #1471
@LoganWright I cannot reproduce this with Realm v0.90.5. Can you share an example project that reproduces the issue? Thanks!

[2015-02-09 01:33] alazier commented on #1439
I think we want this to behave the same as RLMArray - print out the data only up to a certain size and truncate NSData which is any larger. I would imagine something like 100 bytes would be a good tradeoff. I also think we should print out the total size in the description as you have suggested.

[2015-02-09 04:39] anlaital opened #1472 "Realm sometimes crashes when first accessing it"
We are currently doing internal piloting on the version of our app that uses Realm with encryption enabled, and I'm seeing a few of these crashes. These are taken from  Crashlytics and the app is built in release mode. The [RLMObject allObjects] is the first Realm call that is invoked in the app when this crash happens.

These crashes seem to be fairly frequent. Realm version is 0.90.5.

[code]

[2015-02-09 04:50] LoganWright commented on #1471
@segiddins - Thanks for getting back to me, I'm enjoying the library so far!

 I posted my current version of the project to a repo <a href="https://github.com/LoganWright/ShowTracker">here</a>.

If you pull it, I marked my current changes to the Realm library with the tag `//: LoganWright` so you can do a project search to see what I did.

I believe the underlying problem is in `JSONMapping`, and

[2015-02-09 06:54] yasirmturk opened #1473 "Insert-Update does not allows for multiple columns"
`+ (instancetype)createOrUpdateInRealm:(RLMRealm *)realm withObject:(id)object;` requires a primary key to be set in order to perform updates, but in actual use case there could multiple unique columns and no primary for a given entity.
Note: Can we define a virtual attribute by combining 2 or more column values and provide it as primary key??

[2015-02-09 11:01] ceeK commented on #1265
Just +1ing this.

I'm currently trying to sort an array of locations by a computed 'distance' property. This 'distance' property represents the distance between the location and a user selected point.

I've been using RLMResults as my data model for my tableview, as it has sorting built in. Unfortunately, was a bit stumped and now will have to use standard arrays.

[2015-02-09 14:44] webmagnets opened #1474 "'Version of Realm file on disk is higher than current schema version'"
Would someone please have a look at this stackoverflow question?:

http://stackoverflow.com/questions/28382320/why-am-i-getting-this-error-after-upgrade-version-of-realm-file-on-disk-is-hi

[2015-02-09 15:23] tspecht commented on #1474
I'm currently having the very same problem

[2015-02-09 15:24] tspecht commented on #1444
I upgraded to 0.90.5 and this now seems fixed without changing any code. Unfortunately there are still major problems regarding migrations as described in https://github.com/realm/realm-cocoa/issues/1474

[2015-02-09 16:19] alazier commented on #1444
@tspecht what version are you upgrading from? In 0.90.0 there was a change made that now requires you to call `setSchemaVersion` for each Realm path individually. Previously you only needed to call this method once for your entire app rather than for each Realm used.

[2015-02-09 16:25] alazier commented on #1473
You can't currently use 2 combined columns as a primary key. At the moment you can manually combine these columns and store the combined value in a third column which is primary. Using a helper method which updates both the base and combined column simultaneously can make this easier.

[2015-02-09 16:25] #1473 closed

[2015-02-09 16:26] alazier commented on #1474
You need to be sure to call `setSchemaVersion` for all Realms paths used in your app. That change was made in 0.90.0. If that is no the issue then we may need some more help reproducing the issue.

[2015-02-09 16:30] alazier commented on #1265
I guess we should add this and make clear in the docs that performance will be much worse than using sortDescriptors.

This is still blocked on core support support for manual construction and freezing of TableViews

[2015-02-09 16:33] tspecht commented on #1444
I upgraded from 0.89.2. I saw the changes in the migrations and changed my code accordingly, otherwise my app wouldn't have been able to compile ;) I deleted the app, was able to start it once but with the next start, without changing anything Realm related it was broken again causing me to go back to 0.89.2 again unfortunately.

[2015-02-09 16:33] alazier opened #1475 "Exception message for out of date Realm version should include version numbers and path"
Users are hitting this error message `Terminating app due to uncaught exception 'RLMException', reason: 'Version of Realm file on disk is higher than current schema version'` which should include more information

[2015-02-09 16:38] alazier commented on #1474
Would either of you be able to send a copy of a Realm file which produced this issue to help@realm.io? This could help us to diagnose and fix the issue.

[2015-02-09 16:42] webmagnets commented on #1474
I just sent mine.

[2015-02-09 17:57] LoganWright commented on #1471
Update.  I was able to git the issue somewhat resolved by switching to the `al-swift` branch and building the `RealmSwift.framework`.  It created a couple of other minor problems, but all of these had easy workarounds.  It seams that the `RealmSwift.List<Class>` syntax somehow fixes something.

[2015-02-09 18:35] segiddins opened #1476 "Explore adding __nonnull attributes in ObjC"
Relies on Xcode 6.3?

[2015-02-09 18:40] yoshyosh commented on #1472
Hi @anlaital could you provide us with more code that leads up to this? If you could send a small reproducible project or the actual project privately to help@realm.io it will help us look into this. Thanks for your patience!

[2015-02-09 18:43] yoshyosh commented on #1464
Hi @Bruno-Furtado just checking in, were you able to resolve this issue?

[2015-02-09 18:48] segiddins commented on #1421
@marcaoas did you end up creating an example project I could have a look at?

[2015-02-09 18:50] yoshyosh commented on #1460
Hi @yasirmturk just checking in, did these solutions work for you?

[2015-02-09 19:22] yoshyosh commented on #1472
A few questions:
Are you setting encryption key?
Are you using version 0.90.5?  There was a bug in previous versions for 64 bit iOS

[2015-02-09 19:27] segiddins commented on #1470
Writing to a property outside of a write transaction will indeed cause an exception to be thrown, which is exactly what you are seeing -- that is intentional. All changes to the database occur inside write transactions, which is what makes Realm a transactional database. In short, yes, all changes to an object need to happen inside a write transaction, either via `beginWriteTransaction` and `commi

[2015-02-09 19:50] segiddins commented on #1471
@LoganWright what you're doing is unsupported -- by using the `@objc(ClassName)` annotation on your `RLMObject` Swift subclasses, you're making it impossible for Realm to know that these are Swift classes, and thus they need to support the 'Swift way' of declaring `RLMArrays`. (Since they only way we can tell that a class was declared in Swift is by seeing if it has a namespaced class name).

I ho

[2015-02-09 19:59] LoganWright commented on #1471
@segiddins - Ahhhh, thank you! I'll try that and if it works, I'll close the issue.  Thanks for helping me figure it out!

[2015-02-09 20:00] yoshyosh commented on #1470
Here is a snippet of code that works nicely when wanting to delete the file automatically

[code]

[2015-02-09 20:11] segiddins commented on #1469
@MKGitHub we agree that having some sort of editor import functionality would be cool, we just haven't gotten to it yet. As to your particular request for that sort of hypernormalization -- it would be possible to do that with a relatively small amount of code, but I'm not sure it'd be necessary with Realm -- Realm stores relationships as links, so there's nothing like the cost of a SQL `JOIN` to

[2015-02-09 20:56] segiddins commented on #1463
@webmagnets feel free to close the issue if that fixed things for you!

[2015-02-09 20:58] segiddins commented on #1443
This was just fixed in the core database, and the fix will be in the next release!

[2015-02-09 20:59] segiddins commented on #1436
@vittoriom were you able to reproduce the issue in your test project?

[2015-02-09 21:03] vittoriom commented on #1436
Unfortunately I had no luck since I could not spend too much time on trying to reproduce the environment. I hope I'll have some spare time before the end of one of the sprints to dedicate some time to this.
I think you can close the issue since I didn't manage to repro on a clean project. I'll create then a more specific one when I have more results.

[2015-02-09 21:03] segiddins commented on #1436
@vittoriom thanks so much!

[2015-02-09 21:03] #1436 closed

[2015-02-09 21:05] segiddins commented on #1444
So, @tspecht, are you saying that the original error (`Duplicate interface definition for class RLMObject`) has been fixed? In that case, it'd be great to close this issue and continue discussion on the migration issue in #1474. Thanks!

[2015-02-09 21:06] #1444 closed

[2015-02-09 21:11] segiddins commented on #1461
@anlaital unfortunately, this is really the sort of issue where we need to be able to reproduce it locally to track it down. The only thing I can really think of (short of sharing a reproduction case) would be to share the method body of `[Transaction spendingTransactionsFromDate:nil toDate:nil]`? Thanks!

[2015-02-09 21:31] webmagnets commented on #1463
I had to completely remove cocoapods and realm and then reinstall realm. Thanks for your help.

[2015-02-09 21:31] #1463 closed

[2015-02-09 21:32] alazier opened #1477 "_inWriteTransaction should be set to YES before triggering notificaions in beginWriteTransaction"
Currently this is not the case, and calling beginWriteTranaction in a notification causes an assert rather than an exception.

[2015-02-09 21:35] #1435 closed

[2015-02-09 21:50] #1466 closed

[2015-02-09 22:10] segiddins commented on #1477
@alazier any issue you can point to where that assertion is being hit?

[2015-02-09 22:42] #1471 closed

[2015-02-09 22:54] #1455 closed

[2015-02-09 23:54] alazier commented on #1477
A user hit this. Repro steps:
1. Perform a write transaction in a backround thread and wait for completion on main thread
2. Begin write transaction on main thread
3. In notification block (which is fired from beginWriteTransaction) call beginWriteTransaction
Instead of getting the 'transaction in progress' exception, we instead get an assertion. I'm happy to make the fix/write the test for this o

[2015-02-10 01:00] Bruno-Furtado commented on #1464
@yoshyosh,
It's hard to explain because the situation itself involves the application logic.

In short some users are having problems.
They note that when entering the application it's a hung time and closes.

Have you ever seen a situation like this?
This same failure occurs on iOS and Android with some users.

[2015-02-10 01:07] alazier commented on #1474
So the problem here was that `allObjects` was being called during the initialization of an RLMResults member variable of a swift view controller - this is a problem because viewControllers are initialized from a nib before `applicationDidFinishLaunching` is called.

The fix for this is to initialize the swift RLMResults property in the viewController's `viewDidLoad` method rather than initializing

[2015-02-10 01:25] kronik commented on #1443
Thanks!

[2015-02-10 01:30] #1475 closed

[2015-02-10 03:16] BruceZCQ opened #1483 "sortedResultsUsingProperty cannot work when Property is primaryKey"
sortedResultsUsingProperty cannot work when Property is primaryKey

[2015-02-10 03:34] alazier commented on #1483
Can you give more information/repro steps? I have tried this with both string and int primary keys and it seems to work fine at least in my tests.

[2015-02-10 03:45] BruceZCQ commented on #1483
this is my code
[code]
When I was in the test found that when using reqid ret didn't sort the data
[code]
when i used reqtime property work fine
[code]

[2015-02-10 05:50] anlaital commented on #1472
I am using 0.90.5. I have not been able to reproduce this crash outside of our main project.

[code]

That's it. There is nothing in between. This seems to be completely random and relaunching the application solves the problem.

This also happens very frequently, so most likely this is a showstopper for us. I will try to investigate this issue further today. If there is something you'd like me to

[2015-02-10 07:10] anlaital commented on #1461
I have now managed to isolate a test case illustrating this issue and sent it to you by e-mail. It always reproduces the error and it seemed to require having both objectsWhere clause AND calling sortedResultsUsingProperty on it. This causes the minOfProperty/maxOfProperty/sumOfProperty calls to return incorrect results.

[2015-02-10 07:26] segiddins commented on #1461
Thanks so much! I'll look into it in the morning!

[2015-02-10 08:18] tspecht commented on #1474
I'm not doing any of this nor having even touched Swift at all so how is this fixing the migration problem?

[2015-02-10 11:19] yasirmturk commented on #1460
[Realm-JSON](https://github.com/matthewcheok/Realm-JSON) is cool for mapping keys to attributes.. i have solved my issue by using this
`+ (NSDictionary *)defaultPropertyValues {
    return @{
             @"Id": @"",
             };
}`

[2015-02-10 15:56] alazier commented on #1474
@tspecht is it possible that you have a different issue from @webmagnets

Is it possible that you may have other initialization code that could run before calling setSchemaVersion? We just pushed a change to master which gives more debug information when seeing this issue #1478 . Would you mind trying out master to see if this sheds any light on the issue?

[2015-02-10 16:47] yoshyosh commented on #1460
Ah great to hear and see you using `defaultPropertyValues` to handle this!

[2015-02-10 18:12] yoshyosh commented on #1464
I haven't, sorry to hear that it is affecting users as well. Perhaps we can setup a screen share to go over the code? Is there any way you can get some sample code for us to look at?

[2015-02-10 19:33] segiddins commented on #1483
@BruceZCQ it actually looks like everything is being sorted properly, as `reqid` is an `NSString` property, and thus string comparison (rather than numeric comparison) is being used when sorting.

[2015-02-10 19:56] tgoyne commented on #1472
Are you using `writeCopyToPath:encryptionKey:`? That's broken on ARM64 devices in 0.90.5 and could produce that failure when opening the file.

[2015-02-10 21:08] tspecht commented on #1474
I'll try with the changes tomorrows at some point and will get back to you, thanks for reopening it @alazier !

[2015-02-10 21:15] tgoyne commented on #1461
Is fixed by https://github.com/realm/realm-core/pull/677.

[2015-02-11 02:03] segiddins commented on #1465
I have this implemented, but what'd be the best way to test?

[2015-02-11 03:44] anlaital commented on #1472
I'm not using ```writeCopyToPath:encryptionKey:```, but I am using an encrypted Realm. One possibility is to narrow this issue down to the encryption implementation, so I'll release the next internal beta without it just to see if this issue no longer happens. That way there's at least a way of knowing something more about this.

If this happens even without encryption then that also helps a lot w

[2015-02-11 04:02] allaire commented on #1279
I could make this works with the beta release by also including a pod that support the new cocoapods version (like alamofire)

[2015-02-11 10:21] anlaital commented on #1472
Crashlytics reports this crash every time you forcibly close the application by swiping it up in the task switcher. This also happens under low-memory pressure when the application using Realm is closed by the system to regain some RAM.

[2015-02-11 11:05] yasirmturk commented on #1460
Yeah [Realm-JSON](https://github.com/matthewcheok/Realm-JSON) actually fails to work if there is no primary key

[2015-02-11 12:30] anlaital commented on #1472
This crash happens only when encryption is enabled. This issue is also blocking our release, so I would really appreciate if you could investigate this thoroughly.

[2015-02-11 13:04] foffer commented on #1386
I too get the above error upon re-fetching the JSON. Let me know if I can provide any info to help the debugging.

[2015-02-11 13:48] rciobanu-omnifone opened #1485 "RLMArray -indexOfObjectWhere: queries not reliable"
**1. Goals:** an `RLMArray` property contains references to other `RLMObjects`. This property is mutated (objects added/removed), after which it should be possible to searching an object by ID in this array.
**2. Expected results:** if the `RLMArray` property contains at least an object corresponding to the query passed in `-indexOfObjectWhere:` then the method should return the first index of suc

[2015-02-11 16:38] #1477 closed

[2015-02-11 16:47] alazier opened #1486 "Add support for RLMDictionary"
Add RLMDictionary property type which maps strings to any supported property type.

[2015-02-11 16:48] alazier commented on #1486
This may require support for standalone/top level RLMArray and RLMDictionary objects.

[2015-02-11 16:49] #1377 closed

[2015-02-11 17:44] alazier commented on #1465
I think we need to change some of the design for schema initialization to make this testable (along with a host of other things).

[2015-02-11 17:50] #1439 closed

[2015-02-11 17:52] alazier commented on #1379
Isn't merged yet

[2015-02-11 18:19] yoshyosh commented on #1460
Yea, the method `createOrUpdateInRealm:` requires a primary key to be used

[2015-02-11 19:53] tgoyne commented on #1472
I can reproduce issues when killing an app while spamming write transactions on an encrypted realm and I'm working on fixing it.

[2015-02-11 20:46] juhaelee opened #1487 "Trying to iterate through RLMResults in swift"
I'm trying to iterate through RLMResults in swift using:

[code]

and I get the compile error: **'RLMResults' does not have a member named 'Generator'**

[2015-02-11 21:01] dimazen opened #1488 "Ream: full text search"
I'm wondering about FTS support.
For sure it is an sql's feature, but do you have something similar for such queries?

[2015-02-11 21:49] yoshyosh commented on #1488
We currently don't support that, it is something we want to add in the future though

[2015-02-11 21:50] dimazen commented on #1488
@yoshyosh sad :(
I wish to know hw to help you with it :)

[2015-02-11 21:54] yoshyosh commented on #1488
Maybe one day as we get going with it, thanks :)!

[2015-02-11 21:54] #1488 closed

[2015-02-11 22:00] yoshyosh opened #1490 "Unsupported predicates"
- [ ] LIKE
- [ ] MATCHES
- [ ] ALL
- [ ] All key path collection queries (@avg, @count, @min, @max, @sum)
- [ ] SUBQUERY

[2015-02-11 22:09] yoshyosh commented on #1487
Hi @juhaelee did you include RLMSupport.swift?

[2015-02-11 22:52] segiddins commented on #1485
@rciobanu-omnifone I was able to boil this down to a test case -- thanks so much for helping us investigate!

[2015-02-11 22:59] juhaelee commented on #1487
Oops that was it. thank you

[2015-02-11 22:59] #1487 closed

[2015-02-11 23:54] #1468 closed

[2015-02-12 04:02] BruceZCQ commented on #1483
this code
[code]
used reqid by sort, but the result is reqid 110, reqid 20, reqid 86, reqid 89. it was not sorted.

[2015-02-12 04:07] segiddins commented on #1483
That is sorted, since 1 comes before 2 lexicographically.

-Samuel E. Giddins

On Feb 11, 2015, at 8:02 PM, BruceZCQ <notifications@github.com> wrote:

this code

Printing description of ret:
RLMResults <0x184b5e10> (
    [0] IMTFriendReqRLModel {
        mymeetid = 11001;
        reqid = 110;
        requserid = 11019;
        requsername = ~\(≧▽≦)/~;
        reqtime = 1423479309;
        reqstat

[2015-02-12 04:17] yasirmturk commented on #1460
that is why there is a need to be able to specify columns, which could be used as insert-update condition without specifying primary key #1473 , because in a real world primary key is not there in many cases ..may be something like:
`+ (NSArray *)uniqueKeys { return @[@"countryCode", @"postalCode"] }` for a Geo Area

[2015-02-12 04:23] BruceZCQ commented on #1483
Got it , I am sorry,I known it that NString using dictionary order. Thanks a lot.

[2015-02-12 04:25] #1483 closed

[2015-02-12 06:31] anlaital commented on #1472
@tgoyne awesome, thanks a lot! :+1:

[2015-02-12 11:55] mhergon opened #1491 "Array of strings error: [...] this class is not key value coding-compliant for the key value.'"
Hi,

I'm trying to populate RLMArray of strings, but it fails when is parsed. Here's my code:

**User.h**
[code]
**StringObject.h**
[code]

**User JSON object**
[code]

When I create object with "createOrUpdateInRealm" the app crashes and return this error:
[code]
Full stack trace
[code]

Any idea or workaround?
Thanks

[2015-02-12 13:59] farri commented on #1473
+1

[2015-02-12 14:19] AlDrago opened #1492 "Add isInvalidated to RLMArray"
Hello,
what is the proper way to check, whether some RLMCollection is still valid?

[2015-02-12 14:40] macdevnet opened #1493 "Realm alway stops a a break point when used in an Asynchronous XCTTest"
When ever realm in written to in an asynchonous XCText it stops at a break point in libswiftCore.dylib`swift_dynamicCastClassUnconditional:

This makes running a test suite on a CI server impossible.
For each test I am using an inMemory realm with the name of the test so that is tests do not collide.

![screenshot 2015-02-12 14 34 57](https://cloud.githubusercontent.com/assets/5823681/6169395/21a8

[2015-02-12 17:06] segiddins commented on #1493
@macdevnet can you share the code in question? It seems like you're casting something to the incorrect type.

[2015-02-12 18:08] macdevnet commented on #1493
This is really strange it is indeed a typecast problem as the error suggests. The problem is it only seems to happen when the code runs in a unit test not when the code runs in the app.

However the problem has now gone but I don't know why.

Here is the object model.

	class RLMIdentity: RLMObject {
		dynamic var serverUrl : String = ""
		dynamic var identity : String = ""
		dynamic var sessionTo

[2015-02-12 18:11] yoshyosh commented on #1460
Similar to this request https://github.com/realm/realm-cocoa/issues/1192

[2015-02-12 18:11] #1460 closed

[2015-02-12 18:13] segiddins commented on #1493
My guess would be that you might have your model included twice, once in the app target and once in the test target, that would cause the issues you're seeing. Anyways, I'm glad to hear you figured things out!

[2015-02-12 18:13] #1493 closed

[2015-02-12 18:13] #1461 closed

[2015-02-12 18:15] macdevnet commented on #1493
Yep … it’s in both … but why would changing the name and back again fix it?

Sent with Unibox

[2015-02-12 18:21] segiddins commented on #1493
That, I have no clue about.

[2015-02-12 18:28] segiddins commented on #1491
@mhergon, you'll have to manually transform that `roles` array into either an array of dictionaries (in the form `"value" : string`, or transform it to an array of single-element arrays. You might also want to take a look at something like [Realm-JSON](https://github.com/matthewcheok/Realm-JSON). Hope that helps!

[2015-02-12 18:32] segiddins commented on #1492
@AlDrago it's actually a bit unclear to me what you're asking -- neither `RLMArray` nor `RLMResults` can directly become invalidated -- they're valid as long as their `realm` is not `invalidated`, which will only happen if `invalidate` is called on that Realm. I hope that helps!

[2015-02-12 20:57] mhergon commented on #1491
@segiddins could you write me a tiny example?

Thanks!

[2015-02-12 23:02] alazier commented on #1379
We should still test schema initialization and migration race conditions.

[2015-02-12 23:23] segiddins commented on #1491
Sure!

You can just take that dictionary (where the only key is 'user'), make a mutable copy of it, and set the value for the `roles` key to be the value of the `roles` key mapped to an array of single elements.

[2015-02-12 23:23] #1491 closed

[2015-02-13 00:29] alazier commented on #1379
Should also test notifications when a suspended process is woken

[2015-02-13 00:44] ghmlee opened #1496 "Realm Browser shows a user wrong counts of rows."
I got a feedback from a user. He said Realm Browser shows him wrong counts of rows like the below image. Ok. I am explaining that there is a class called 'Word' related to another class called 'Published'. In left side menu the 'Word' class has 115 counts but the 'Word' class has 105 counts in 'Published' class. If you want to get a .realm file, I can give you this sample. Thank you. :)

<img src=

[2015-02-13 01:14] segiddins commented on #1496
Is it possible there are `Word`s that are in the realm but not in the `Published` object's `words` `RLMArray`?

[2015-02-13 02:08] kronik commented on #1443
When or in which version of Realm it will be released?

[2015-02-13 02:51] njovy commented on #1496
@segiddins  I am the one whom asked this question to @ghmlee .
There are a few classes which have Word or List<Word> in the realm. I checked the count of values and it looked fine.
If one realm object has a Word and the object is getting removed from a realm, do I have to delete the Word object as well or the realm will take care of deleting the word object as CascadeType.Remove would do in JPA.

[2015-02-13 02:58] segiddins commented on #1496
Realm doesn't have cascading deletes, so removing the object from the RLMArray won't delete it entirely.

-Samuel E. Giddins

On Feb 12, 2015, at 6:51 PM, Taehyun Park <notifications@github.com> wrote:

@segiddins I am the one whom asked this question to @ghmlee .
There are a few classes which have Word or List in the realm. I checked the count of values and it looked fine.
If one realm object has

[2015-02-13 04:06] njovy commented on #1496
Thank you so much for the prompt reply. I am not sure if the cascading delete is doable in realm in nosql but it would be great if the feature is supported.
I will add some code to remove related realm objects upon deletion.

[2015-02-13 04:28] segiddins commented on #1496
@njovy we have an issue tracking adding cascading deletes, https://github.com/realm/realm-cocoa/issues/1186, so you'll see any updates on that front over there.

[2015-02-13 04:28] #1496 closed

[2015-02-13 07:16] laiso opened #1497 "Fix a typo in the Japanese translation"
http://realm.io/jp/docs/cocoa/0.90.5/index.html

I found the following typo :point_down:
https://gist.github.com/laiso/ade3bcae8592f87c1f5f/revisions

[2015-02-13 10:08] yuuki1224 commented on #1497
@laiso さん
ご指摘くださり、ありがとうございます。すぐ修正いたしますね 🙇

[2015-02-13 15:41] CraigSiemens opened #1498 "Pass the realm to the block in transactionWithBlock:"
Currently when calling `transactionWithBlock:`, it requires you to create a realm variable that you can use in the block.

[code]

It would be nice if the realm was passed into the block for you instead of requiring the user to create a variable every time they need it. The ideal solution would look like this.

[code]

[2015-02-13 16:31] segiddins commented on #1498
We've actually been discussing this change this week, thanks for the suggestion!

[2015-02-13 16:51] astigsen commented on #1498
We should probably consider a class method:

[code]

[2015-02-13 17:57] yoshyosh commented on #1498
I like that @astigsen, with the autocomplete it will be easy for users to recall

[2015-02-13 18:13] alazier commented on #1498
It also makes autocomplete less useful in general as we continue to add more and more methods. Is it worth it? I'm not sure. In any case I see no reason not to pass the Realm to the transaction block other than breaking current code, so we would probably have to have two variants...

[2015-02-13 18:18] yoshyosh commented on #1498
Agreed, but I think this is the most used function out of all. 3 lines of code to add an object to your DB is very impressive

[2015-02-13 18:42] mrh-is commented on #1295
+1 for this feature.

IMHO: Copy whatever is selected, Excel-style. If the row is selected, copy the object; if the text in a cell is selected (by double clicking), copy the text. (Same for paste.)

[2015-02-13 19:03] anlaital commented on #1498
I like @astigsen's idea. I'm a huge fan of autocomplete and this would not cause me any issues since autocomplete remembers the methods you've used most recently. :+1:

[2015-02-13 22:45] yoshyosh opened #1499 "Add predicate tests learned from the cheatsheet"

[2015-02-13 23:04] segiddins opened #1500 "Descriptions for RLMSchema, RLMObjectSchema, RLMProperty"

[2015-02-13 23:24] timanglade opened #1501 "Add support for RLMSet"
As an alternative to RLMArray if objects need to be contained 1 time max.

[2015-02-14 00:10] alazier commented on #1501
I think this would only work for objects with defined primary keys.

[2015-02-14 00:19] segiddins commented on #1501
Not necessarily, since RLMArrays (currently) only store links, and we can just do raw pointer equality on them.

[2015-02-14 06:45] eni9889 opened #1503 "Latest stable release of realm (0.90.5) crashes on release version of app"
Our app was rejected twice by the app store because it was crashing on launch with the following log:

http://pastie.org/private/s1ftstnpy74mjvaowx9jtw

This crash only happens in the latest version  (0.90.5) and it goes away when we revert to  (0.90.0). Also it only happens on the release version of our app.

[2015-02-14 12:08] yoman07 commented on #913
:+1:

[2015-02-15 04:07] yuuki1224 commented on #1497
@laiso さん
修正、反映されました!
今後も日本語ドキュメントで何かお気付きな点等ございましたら、
お手数ですが、ご指摘のほどよろしくお願い致します 🙇

[2015-02-15 04:35] timanglade commented on #1497
Thanks @laiso!

[2015-02-15 04:35] #1497 closed

[2015-02-15 08:28] Bizzi-Body commented on #913
👍

[2015-02-15 09:53] laiso commented on #1497
:ok:  :+1:

[2015-02-15 17:00] yasirmturk commented on #875
how to convert a string date from json to `NSDate` or `NSTimeInterval` i am getting this:
*Invalid value '2014-12-13T12:00:00+01:00' for property

[2015-02-15 17:29] yasirmturk opened #1506 "Support specifying objectSchema/classes to be stored in a Realm"
i have created multiple realm DBs but it creates all classes in every realm..? how to specify a model class for a specific realm?

[2015-02-15 23:53] AnthonyMDev opened #1507 "`objectsWhere` on RLMResults"
Why does `RLMResults` not have an `objectsWhere` convenience function, but `RLMArray` does? Additionally, if this was the case, then the `RLMCollection` protocol could have `objectsWhere` defined.

I have a situation where I am using a `id<RLMCollection>` object and I need to filter through them. I should be able to use `objectsWhere`, no?

Thanks

[2015-02-16 03:09] AnthonyMDev opened #1508 "Back links as `RLMResults` or `RLMArray`"
If my whole project is set up to be manipulating data based on `RLMArray` and `RLMResults`, I need to be able to manipulate back linked objects from an inverse relationship as well. It seems very counter-intuitive to me to have the `linkingObjectsOfClass: forProperty:` method return an `NSArray`.

This is causing me problems in how I am able to work with the data I'm receiving from this query. Is

[2015-02-16 06:06] segiddins commented on #1507
The `RLMCollection` protocol does indeed include the `- (RLMResults *)objectsWhere:(NSString *)predicateFormat, ...;` instance method.

[2015-02-16 06:08] segiddins commented on #1506
Right now, there is no way to only have certain classes in certain Realms (there will be database tables created for all of your RLMObject subclasses), but the overhead from those empty tables is negligible. I hope that helps!

[2015-02-16 06:11] segiddins commented on #1503
@eni9889, thanks for sharing the stack trace with us. We'd truly appreciate if you could share a reproducible case of this issue (if you manage to find one) so we have some sample code to debug with. It would help us a lot with regards to discovering this assertion failure. (You can send a project to us privately at help@realm.io if you'd prefer not to share it here on GitHub.)

Thanks for your he

[2015-02-16 06:23] #1507 closed

[2015-02-16 07:07] yasirmturk commented on #1506
this could be simpler than it looks ..may be something like .. `[[RLMRealm defaultRealm] registerClasses:...];`

[2015-02-16 08:00] AnthonyMDev commented on #1350
+1

[2015-02-16 08:30] AnthonyMDev commented on #1044
Have those new Swift APIs been released? I'm having this issue right now, and I'd really like to see this fixed! Thanks

[2015-02-16 08:33] yasirmturk opened #1509 "Can't mutate a persisted array outside of a write transaction"
this is my code and i am using the transaction
`RLMRealm *realm = [RLMRealm realmWithPath:EMPLOYEERealmPATH];`

        `[realm transactionWithBlock:^{
            [realm deleteObjects:[ADAppointment allObjects]];
        }];`

[2015-02-16 08:34] #1509 closed

[2015-02-16 08:35] yasirmturk commented on #1509
`allObjects ` returns objects from `defaultRealm`

[2015-02-16 10:19] vittoriom commented on #1436
Just wanted to update you about the status of this issue.
We fixed it by **unchecking the test target for the Realm.framework**
So, all is good with testing persistence for our project :)
thanks for your support!

[2015-02-16 17:11] batlanyard commented on #913
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-02-16 19:18] segiddins commented on #1506
@yasirmturk the issue with require a call like that is that it's counter-intuitive and makes the API harder to use and more confusing to read code that uses Realm. We've never really seen anyone report an issue with the tables that are created, even if they are not used. Do you have a particular reason why you think the ability to register classes would be necessary?

[2015-02-16 19:22] segiddins commented on #1508
Hi @AnthonyMDev, we totally agree it would be great to represent backlinks as `RLMResults`, but unfortunately there's some infrastructure we need to get into place for that to be possible.

[2015-02-16 19:23] AnthonyMDev commented on #1508
Okay, so this isn't just an odd design decision, but a current limitation? Makes sense. Thanks

[2015-02-16 19:24] segiddins commented on #1508
@AnthonyMDev yup! As soon as we have support in Core for this, we'll change backlinks to return an `RLMResults`.

[2015-02-16 21:03] alazier commented on #1044
We are hard at work on the new swift apis. The current work in progress can be seen on the al-swfit branch. There is quite a bit more testing and api changes that need to be made before it will be ready for release so it should be at least another few weeks.

[2015-02-16 23:02] yoshyosh commented on #1506
I think there is an issue that describes hiding any empty tables so it will end up doing this automatically

[2015-02-16 23:07] astigsen commented on #1506
The correct solution will probably be to add the tables lazily, so that
they are not created in the realm until the first time you add an object of
that type to it.

[2015-02-17 00:13] alazier commented on #1506
@yasirmturk you will be able to do what you are asking once we open up support for our dynamic interface. With the dynamic interface you can open a Realm providing a custom schema, which is basically just a list of the objects/properties stored in the Realm - so eventually you will be able to specify what objects each Realm should support each time it is opened. Not sure yet when we will get aroun

[2015-02-17 02:42] liweiz commented on #1302
@brajbong Same here.
@jpsim Thanks for the link.

[2015-02-17 05:57] yasirmturk commented on #1506
@segiddins an overload for advanced users never hurts the beginners using intuitive solution.. another suggestion is to use the method which is specifying migration rules..
`    [RLMRealm setSchemaVersion:1
                forRealmAtPath:realmPATH
                 registerClasses:@[[Employee class], [Department class], ...]
            withMigrationBlock:^(RLMMigration *migration, NSUInteger oldSc

[2015-02-17 10:32] AnarH93 opened #1511 "No results in RLMRealm after restarting app"
some code from my project. step by step:
[code]
but, when i restart my app - user again not exist. This is similar to i store RLMRealm in memory, but didn't.

[2015-02-17 14:16] rogernolan opened #1512 "Impossible to pass a RLMObject without a primary key between threads."
I have a realm without a primary key - how do I pass objects to other threads?

[2015-02-17 17:46] alazier commented on #1512
At the moment the best option is to add a primary key to your object. You an easily generate a random primary key using `NSUUID`.

We have been discussing ways of making this easier but haven't yet settled on a solution. One option would be to autogenerate primary keys for objects without them. The main issue with this approach is the performance cost. Another option would be a handoff mechanism t

[2015-02-17 17:51] alazier commented on #1474
Any word @tspecht ?

[2015-02-17 17:51] rogernolan commented on #1512
That's what I did thanks.
FWIW, I like the performance of a class without a primary key but it would be nice to be able to turn on a auto generated primary key when I do need it to prevent having to use boilerplate UUID code and write (even a simple) a migration. I'm guessing you could implement something much faster than UUID generation too.

[2015-02-17 19:20] yoshyosh commented on #1511
Is UserRLMObject == UserRLMO in this sample code?
Referring to this line
[code]

[2015-02-17 20:13] AnarH93 commented on #1511
yea, sorry, i edit code before send issue and lost this one
upd: correct comment

[2015-02-17 21:36] webmagnets opened #1514 "Desktop app's column headers are incorrectly labeled."
Sometimes my column headers get mixed up in the desktop app.
The columns in the attached screenshot should be as follows: "Simplified" "Traditional" "pinyin" "englishDefinitions" *then* "sentences". As you can see, they are out of order.

![screen shot 2015-02-17 at 3 29 54 pm](https://cloud.githubusercontent.com/assets/1189875/6237703/ab408992-b6ba-11e4-8a09-81cb21147373.png)

[2015-02-17 21:49] segiddins commented on #1514
@webmagnets what version of the Realm Browser are you running? (`Realm Browser` -> `About Realm Browser`)

[2015-02-17 22:00] webmagnets commented on #1514
0.90.5

-
Nathan Cain
501-463-6336

www.jw.org

On Tue, Feb 17, 2015 at 3:49 PM, Samuel E. Giddins
<notifications@github.com> wrote:

[2015-02-17 22:02] segiddins commented on #1514
Would it be possible for you to share the Realm file you're opening in the browser with us, so we can take a closer look at what's going on?

[2015-02-17 22:08] webmagnets commented on #1514
Can I email is to you please?

[2015-02-17 22:10] segiddins commented on #1514
Of course! help@realm.io

[2015-02-17 22:12] webmagnets commented on #1514
I just emailed it, let me know if you don't get it. Thanks.

[2015-02-17 22:12] yoshyosh commented on #1511
Just tried this really quickly, everything is working. When I first run it, current is null since we haven't ran anything. The second time I run it, it does return an object

[code]

[code]

Perhaps there's something else going on with how you are setting up your models? Can you share more code?

[2015-02-17 22:23] segiddins commented on #1514
I cannot reproduce this --
![screenshot 2015-02-17 14 21 38](https://cloud.githubusercontent.com/assets/1946610/6238505/7c07f552-b6b0-11e4-8a23-74bdd52254b3.png)

Is it possible you once accidentally re-ordered the columns in a previous version of the Realm Browser (before column re-ordering was disabled)?

[2015-02-17 22:31] webmagnets commented on #1514
I never knew you ever could reorder, but it is possible.

-
Nathan Cain
501-463-6336

www.jw.org

On Tue, Feb 17, 2015 at 4:24 PM, Samuel E. Giddins
<notifications@github.com> wrote:

[2015-02-18 00:46] #1469 closed

[2015-02-18 08:52] dismory opened #1516 "App crashes on launch with encrypted Realm"
Realm 0.90.5
http://d.pr/n/12wdy/2X6EPZxd

[2015-02-18 13:23] tspecht commented on #1474
Sorry for getting back to you just now! I pulled the lastest master and from the error message I'm receiving with the exception it seems that the old schema version is not recognised correctly?

Realm at path '/var/mobile/Containers/Data/Application/A0580E8C-8DDE-4BDC-BB3B-89CBFE7FF958/Documents/search' has version number 19 which is greater than the current schema version 0. You must call setSche

[2015-02-18 13:44] masterrr commented on #1516
Related? https://github.com/realm/realm-cocoa/issues/1472

[2015-02-18 13:46] dismory commented on #1516
@tgoyne

[2015-02-18 14:27] AnarH93 commented on #1511
It is my models class.
REALModels.h
[code]

REALModels.m
[code]

[2015-02-18 18:11] yoshyosh commented on #1511
Hey @AnarH93 just tested this out and it also worked . Can you send a project privately to help@realm.io?

Can you share the exact code that you omitted using comments here:
[code]

[2015-02-18 18:25] alazier commented on #1474
You need to be sure to call `setSchemaVersion:forRealmAtPath:withMigrationBlock` for this path with a version >= 19 before any Realms are accessed. If you are already making this call then it is likely a Realm instance is being accessed before the call to `setSchemaVersion:forRealmAtPath:withMigrationBlock` is made. If you add a breakpoint for all exceptions, then you can inspect the callstack to

[2015-02-18 18:44] ricardopereira opened #1517 "Undefined symbols for architecture x86_64"
I can't use Realm with Swift.

### Podfile

[code]

### Error

[code]

### Steps to reproduce

**Version of Realm (latest from CocoaPods) , Xcode 6.3 (6D520o), Mac OS X 10.10.2 (14C109)**

1. Pod install
2. Open project and use Simulator
3. Create Bridging Header with `#import <Realm/Realm.h>`
4. Test with code:

[code]

Any clue?

[2015-02-18 18:48] ricardopereira commented on #1517
I also tested with the latest version of Swift/RLMSupport.swift and it gives me the error:
`No such module 'Realm'`.

[2015-02-18 19:44] segiddins commented on #1517
Are you adding `#import <Realm/Realm.h>` to your bridging header?

[2015-02-18 19:50] ricardopereira commented on #1517
Yes, I added `#import <Realm/Realm.h>` and gives me the same error on `import Realm` (**No such module 'Realm'**).

If I remove `import Realm` it gives me:

[code]

[2015-02-18 19:53] segiddins commented on #1517
Yes, you'll need to remove the `import Realm` (since you aren't integrating it as a framework, and thus it isn't a module). As to the other issues, I'm not quite sure what's going on. Maybe @mrackwitz has some ideas?

[2015-02-18 22:07] drmarkpowell opened #1520 "Error installing Realm cocoapod"
I'm having a similar issue to #1022. I'm on OS X 10.10.2, running XCode 6.1.1 and Cocoapods 0.35.0.

I get an error running pod install to configure Realm.
I tried removing /tmp/core_bin as suggested in issue #1022 but it didn't help.
Please advise!

[code]

[2015-02-18 22:43] segiddins opened #1521 "-[RLMArray insertOrUpdateObject:atIndex:]"

[2015-02-18 22:57] AnarH93 commented on #1511
sorry, i can't send you this project. it's private ^(
Also - i showed all of code, where i use RLMRealm, in "//... newUser init" row - only what i do - it initialize all variables in RLMRealm by default objc type, like 123, @"somestring", etc.
so yeah, it's weird. May i have some way for check this record on RLMR db, or where it records stored?
i'll be checked local db before and after restarting

[2015-02-18 23:08] yoshyosh commented on #1511
Yes, you can use the Realm Browser to check after first run that your UserRLMObject is indeed stored. Without seeing more of the code it's hard for me to debug this since everything I've run in this thread is working. Giving things default values should have an impact either.

[2015-02-18 23:40] jimjeffers opened #1522 "Realm Locking Main Thread Indefinitely"
When I attempt to migrate my default realm the main thread locks indefinitely. I set a break point just before the call to setSchemaVersion: and attempt to print out the path in LLDB:

    (lldb) po [RLMRealm defaultRealmPath]
    /Users/jim/Library/Developer/CoreSimulator/Devices/39EF0DDD-8D57-4F70-BC5C-283B84AE4D7D/data/Containers/Data/Application/38784568-3D9C-40BE-B514-F6071C152D8B/Documents/d

[2015-02-18 23:42] segiddins commented on #1522
@jimjeffers is it possible you're trying to use the Realm from multiple processes? Could you possibly share the backtrace that happens when the main thread hangs?

[2015-02-18 23:43] yoshyosh commented on #1464
Hi Bruno just checking in. Any updates on this?

[2015-02-18 23:46] Bruno-Furtado commented on #1464
@yoshyosh,

I managed to retrieve log iTunes Connect and the failure doesn't involve the Realm.
Sorry and thanks for the help.

[2015-02-18 23:46] #1464 closed

[2015-02-19 00:03] jimjeffers commented on #1522
That was the issue. There was no backtrace I had to actually press stop in Xcode to terminate the process. It was very bizarre. I deleted the application from the simulator and everything is fine again. I will post back if I can recreate the instance again. Otherwise, it may be an issue with the simulator.

[2015-02-19 00:13] segiddins commented on #1522
If it happens again, instead of pressing stop in Xcode, press pause and type `bt` in the debugger, that'll show you the backtrace (and certainly let us know!).

[2015-02-19 00:13] #1522 closed

[2015-02-19 00:16] yoshyosh commented on #1464
Got it, good luck with finding the fix :(!

[2015-02-19 00:40] jimjeffers commented on #1522
Got it. Well just a heads up. It happened again but this time I closed the Realm Browser and reran the app. Now I'm getting the expected error instead of a hanging process! I'll be sure not to have that running in the background as I test the app.

[2015-02-19 03:57] jimjeffers opened #1525 "Realm Relationship Returning Empty Results"
Hey there,

I'm having unexpected behavior with a simple one-to-many relationship. I have an RLMObject called Item that has many ItemPhotos:

    let realm = RLMRealm.defaultRealm()
    let item = Item(forPrimaryKey: itemJSON["item_id"].intValue)
    var updatedPhotos: Array<ItemPhoto> = []
    for (index, photoJSON) in enumerate(itemJSON["item_photos"].arrayValue){
        let photo = ItemPhoto()

[2015-02-19 07:47] Rebirthble opened #1526 "dyld: Symbol not found: _CFAutorelease in iOS 6"
I can't get objects when launched app in iOS 6

### code

[code]

### error

[code]

CFAutorelease has called from RLMAutorelease function in RLMRealm.mm

[code]

But CFAutorelease has been added to the CoreFoundation.framework in iOS7.

https://developer.apple.com/library/ios/releasenotes/General/iOS70APIDiffs/

Can I use Realm with iOS6?

[2015-02-19 07:48] Rebirthble commented on #1526
* Realm version0.90.5
* Xcode 6.1
* OS X version 10.9.5

[2015-02-19 15:03] TofPlay opened #1527 "Json support with 'null' value and missing fields"
**Goals**
Like some many people I would like to store under Realm some json sent by servers. I don't have control of these servers. I can not change the json. Most of the time they send only fields with values to reduce the network bandwidth or sets the value to 'null'.

**Expected results**
- Ignore missing fields
- Ignore null values

**Actual results**
Generate exceptions:
[code]
[code]

**Step

[2015-02-19 15:40] MattKiazyk opened #1528 "Migration on parent object changes - assert error"
Currently I'm trying to add a new property called deleted on a parent RLMObject Class

[code]

I then have various subclasses inheriting from `GTRemoteObject`. I have a default value set on `GTRemoteObject` for deleted.

My migration is set to the following:

[code]
It then will error out on the line:
[code]
If I remove the enumerate and just use a simple migration, same issue. If I set a migratio

[2015-02-19 18:57] segiddins commented on #1526
Realm is actually built to target iOS 7.0 and above, sorry. If you were using CocoaPods, you'll get a proper error once https://github.com/realm/realm-cocoa/issues/1529 is merged.

[2015-02-19 19:11] segiddins commented on #1527
@TofPlay, we're sketching out building some APIs that would make that sort of object mapping a lot easier -- for example, https://github.com/realm/realm-cocoa/issues/1063, https://github.com/realm/realm-cocoa/issues/694, and https://github.com/realm/realm-cocoa/pull/1272. In short, it's on our radar as something we need to address, but in the meantime, you'll need to remove those null values yours

[2015-02-19 19:11] #1527 closed

[2015-02-19 19:21] segiddins commented on #1528
@MattKiazyk would it be possible for you to share your model definitions? No matter what, though, you'll need to call `enumerate` for all of the subclasses, since in Realm, each subclass is its own, unrelated entity.

[2015-02-19 19:29] segiddins commented on #1525
@jimjeffers could you possibly share your `ItemPhoto` model definition? I have a hunch about what may be going on here.

[2015-02-19 20:29] jimjeffers commented on #1525
Sure, here's a simplified version of both models (just omitted extra props to keep this short):

Item:

    class Item: RLMObject {
        override class func primaryKey() -> String {
            return "id"
        }
        dynamic var id = 0
        dynamic var itemPhotos = RLMArray(objectClassName: ItemPhoto.className())
    }

Item photo:

    class ItemPhoto: RLMObject {
        override cl

[2015-02-19 22:34] alazier opened #1530 "Test invalid schema"
We really need to have this for the new swift apis.

[2015-02-19 22:35] #1526 closed

[2015-02-19 22:37] segiddins commented on #1530
I actually was playing around in https://github.com/realm/realm-cocoa/compare/seg-customizable-schemas, you might find some of that interesting.

[2015-02-19 23:24] drmarkpowell commented on #1520
Wow, now *today* I removed the tmp/core_bin directory and tried again and it worked. Yesterday it was definitely broken on repeated attempts. At a guess, maybe the CI process was successful last night?

[2015-02-20 08:43] Fab1n opened #1532 "access to static.realm.io at app launch"
today we detected that realm wanted to make a call to static.realm.io at launch of our app.

Why? And what for?

[2015-02-20 12:26] AnarH93 commented on #1511
Ho-ho.
Good news - Realm store object in DB.
Bad news - [UserRLMO allObjects] still return nothing.
Where i can check - what going wrong?

[2015-02-20 12:47] duemunk commented on #1046
I tried to replicate the solution that @aleclarson showed with generics.
[code]
This allows me to do:
[code]

[2015-02-20 12:50] AnarH93 commented on #1511
I'm sorry. it's my fault:
i forgot remove
[code]
from:
[code]

i don't remember - why i did this

[2015-02-20 12:50] AnarH93 commented on #1511
I'm sorry. it's my fault:
i forgot remove
[code]
from:
[code]

i don't remember - why i did this

[2015-02-20 12:50] #1511 closed

[2015-02-20 16:33] mrackwitz commented on #1520
End-of-central-directory signature not found.  Either this file is not
a zipfile, or it constitutes one disk of a multi-part archive.  In the
latter case the central directory and zipfile comment will be found on
the last disk(s) of this archive.
[code]

[2015-02-20 16:33] #1520 closed

[2015-02-20 17:47] issue2k commented on #1516
Got the same issue when accessing the realm the first time after app launch.

[code]

[2015-02-20 17:55] MattKiazyk commented on #1528
An example:

[code]
A subclass
[code]

Again in this example, was just adding the deleted onto the `GTRemoteObject` class

[2015-02-20 18:03] yoshyosh commented on #1532
Hey Fab1n, Realm checks to make sure you have the latest version available. Since things are rapidly changing there are a lot of fixes in both and the core and bindings that can improve the performance of the framework

[2015-02-20 18:06] segiddins commented on #1532
@Fab1n, the only place we make that network request is at https://github.com/realm/realm-cocoa/blob/master/Realm/RLMUpdateChecker.mm -- as Joe said, we're just checking to see whether an updated version of Realm is available.

[2015-02-20 18:28] yoshyosh commented on #1511
Nice! Good to hear you found the culprit. I think you might have got that from one of the samples, the main reason people use that line is when they are avoiding migrations while testing out the DB

[2015-02-20 18:41] alazier opened #1533 "Test encryption apis"
Now that this is actually possible we need to thoroughly test our encryption apis.

[2015-02-20 19:50] Fab1n opened #1535 "What has changed in v0.90.6?"
Hey guys,

great work with this db.
Where can easily see, what's new in each new version?

[2015-02-20 20:06] Fab1n commented on #1532
Ok, but that doesn't change anything if my app is running, as if there is an update you cannot inject the new sources.
For the User this request is not useful. Is this only in debug mode?

Ah ok. Just checked sources. Only in simulator. Nice. Well done!!!

[2015-02-20 20:06] #1532 closed

[2015-02-20 20:39] tgoyne commented on #1516
This may be fixed in 0.90.6.

[2015-02-20 20:51] alazier commented on #1535
The v0.90.6 changelog hasn't been pushed to master yet:

https://github.com/realm/realm-cocoa/blob/v0.90.6/CHANGELOG.md

[2015-02-20 20:51] #1535 closed

[2015-02-20 20:51] alazier commented on #1535
Usually the changelog on master has the changes for all previous releases.

[2015-02-21 06:10] anlaital commented on #1472
I will be changing our internal pilot build to use an encrypted Realm now that it should be working again. I will report any and all findings here at the earliest possible time.

[2015-02-21 06:21] issue2k commented on #1516
@tgoyne great thanks, we will check that asap.

[2015-02-21 21:50] TofPlay commented on #1527
@segiddins I talked with my boss and without a real support to integrate json we will move towards an alternative. Tell us when you have a more mature version of it reassess Realm.

[2015-02-21 22:01] segiddins commented on #1527
Have you taken a look at Realm-JSON yet? It's a third party framework that a lot of people have reported success using. (There are also some other old standbys such as Mantle and RestKit that do more general object mapping).

[2015-02-21 22:09] TofPlay commented on #1527
Yes. We also evaluate this components. Is not fully compatible with json, the design is pretty bad (with 1/3 of the code I was able to do the same) and it's add an overload. The solution is not to add a layer on a layer to patch Realm. The proper solution is that Realm supports concepts of null properties and autoresized missing values.

[2015-02-21 22:12] segiddins commented on #1527
We agree about nullable properties and we're actually working on adding those into the core database. As for missing properties, that's exactly what the defaultProperties are used for.

[2015-02-21 22:31] TofPlay commented on #1527
A missing property conceptually is not exactly the same as to set the property with a default value. When a server sent a json with a missing property this means that the property is not used at all. Set a default value means we will used the property with a default value. Missing and default value are different concepts.
Let us know when nullable properties will be supported and we will evaluate

[2015-02-22 03:06] michaelcameron commented on #1265
+1

I'm dealing with the same use case that @ceeK highlighted, sorting on a computed distance property.

[2015-02-22 08:32] anlaital commented on #1527
I use Realm extensively in our application currently and working around this limitation is not that big of a hassle. You can just wrap values that are optional in the JSON (i.e. null or missing) in a custom ```RLMObject``` subtype, such as ```OptionalDate```, which encapsulates the ```NSDate``` value but can actually be null in Realm as it inherits from ```RLMObject```.

This doesn't really add an

[2015-02-22 23:35] kronik commented on #1443
Fixed

[2015-02-22 23:35] #1443 closed

[2015-02-23 13:00] anlaital commented on #1516
There is still some crash related to the encrypted database (0.90.6):

[code]

[2015-02-23 16:15] OlegAnghelov opened #1538 "Pod integration with the tests target"
Related issue: https://github.com/realm/realm-cocoa/issues/1517

1) The goal is to correctly setup the tests target with `Realm`
2) Expected result is a successful build
3) When building the test target I get the following (image and text representation, for copy-paste ease, paths sanitized):
![screenshot 2015-02-23 16 09 17](https://cloud.githubusercontent.com/assets/457094/6329213/11b6a7ae-bb77-

[2015-02-24 05:50] adhiravishankar opened #1540 "Schema Development"
Realm is great and it has been a pleasure working with it.

However, Realm has one problem. Realm should allow for a way to be able to disable or at least give developers the option to throwaway the old database without having to migrate to a new one. Under development, there are times where I have to change the database for a multitude of reasons: changing app requirements, design. I think Realm

[2015-02-24 06:17] romaonthego opened #1541 "Make inWriteTransaction public"
I have the following category on `RLMObject` in my app:

[code]

It would have been very handy if `inWriteTransaction` was public. Thanks!

[2015-02-24 12:55] Fab1n opened #1542 "Bump version of .Info-Plist to 0.90.6"
Currently it is 90.5 instead of .6

[2015-02-24 15:51] segiddins commented on #1540
You can always delete the realm file before opening it if the scheme version is lower that what what you expect, that way you'll never need a migration. Hope that helps!

[2015-02-24 17:56] Coltspb commented on #601
:+1: I need it too

[2015-02-24 19:45] yoshyosh opened #1543 "Add removeObjects to RLMArray"
Since we have `addObject`, `addObjects`, and `removeObjectAtIndex` what about `removeObject` and `removeObjects` that accepts an array of objects? Seems like this would rely on a hidden primary key

[2015-02-24 19:51] segiddins commented on #1543
Why would this rely on a hidden primary key? `removeObject` doesn't.

[2015-02-24 19:53] yoshyosh commented on #1543
Oops there isn't a `removeObject` only a `removeObjectAtIndex`

[2015-02-24 21:06] segiddins commented on #1543
You can already achieve the same thing by doing `[array removeObjectAtIndex:[array indexOfObject:object]]`

[2015-02-24 22:14] segiddins commented on #1528
@MattKiazyk is it possible that you just need to set the schema version to a higher number?

[2015-02-24 22:46] segiddins commented on #1525
@jimjeffers would it be possible for you to send over your Realm file or a more complete reproduction case? (You can email to help@realm.io if you'd prefer to keep things private). Thanks!

[2015-02-24 22:54] yoshyosh commented on #1543
Going to look for more instances of people doing verbose things with removing objects

[2015-02-24 22:54] #1543 closed

[2015-02-24 23:06] segiddins commented on #1421
@marcaoas feel free to ping me to reopen this issue if you get together an example project.

[2015-02-24 23:06] #1421 closed

[2015-02-24 23:06] segiddins commented on #1492
@AlDrago I just want to make sure that my answer cleared things up for you?

[2015-02-24 23:26] #1470 closed

[2015-02-24 23:55] alazier commented on #1541
We intentionally left this out but have had a few other requests for this features. At this point I think we should add this.

[2015-02-24 23:58] jimjeffers commented on #1525
@segiddins Thanks for following up on this. I actually solved the problem. I'm still new to Realm so I was using it improperly. I am basically using realm to cache objects from our API so all of this data ephemeral. My algorithm was destroying the item and rebuilding a new one from the cache before I deleted the child photo objects. So the child objects connected to the item persisted but the loca

[2015-02-24 23:58] #1525 closed

[2015-02-24 23:59] alazier opened #1545 "Swift: Test accessors for all property types"
We should test getters/setters for all swift property types.

[2015-02-25 01:06] repomies opened #1547 "isEqual: between Realm object and non-Realm object causes a crash"
Looks like `[realmObject isEqual:nonRealmObject]` causes a crash — unless `nonRealmObject` implements, for example,
`- (id)realm { return nil; }`

[2015-02-25 04:34] brajbong commented on #913
![image](https://cloud.githubusercontent.com/assets/9849238/6365027/97d447c2-bc64-11e4-9409-bec0da0dc0c5.png)

[2015-02-25 11:46] AlDrago commented on #1492
Thank you for your quick response.
I think that the ```invalidated``` property is not going to help me. I will try to give you an example of my "problem":

Let's say that I have two RLMObject subclasses and one View(Controller)
[code]
The problem is that after ```issue``` gets deleted, I get an exception when the CommentsViewController wants to access the ```comments``` object.
There are other way

[2015-02-25 19:31] yoshyosh opened #1549 "Change +attributesForProperty: to indexedProperties"
RLMObject is inconsistent with this according to the API reference http://realm.io/docs/cocoa/0.90.6/api/Classes/RLMObject.html#//api/name/indexedProperties, doesn't seem like indexedProperties exists?

[2015-02-25 19:32] segiddins commented on #1549
@yoshyosh it's on master, but not yet released.

[2015-02-25 19:53] ceeK opened #1550 "Support querying "%@ IN (RLMArray keypath)""
**Summary**
Querying existence of objects in an RLMArray needs a specific query syntax.

**Steps**
Query an RLMArray of objects:
 - First with: (ANY types = %@)
 - Then with (%@ IN types)

**Expected**
(%@ IN types) should work as it makes grammatical sense, even if array contains one value.

**Actual**
Only (ANY types = %@) works, and the second option does not.
 Error message: Predicate with IN

[2015-02-25 20:48] yoshyosh commented on #1549
:+1:

[2015-02-25 20:48] #1549 closed

[2015-02-25 20:55] yoshyosh commented on #1550
%@ IN types will receive a string literal for %@. %K is a way you can pass in a KeyPath.

We haven't released this yet but here is a [predicate cheat sheet](https://www.dropbox.com/s/fx52t5o1tmhwrz9/NSPredicateCheatsheet.pdf?dl=0) that covers what you can do with NSPredicate and the things we support in Realm.

[2015-02-25 22:00] romaonthego commented on #1550
@yoshyosh that cheat sheet mentions support for "Keypath collection queries", on the other hand there's this open issue https://github.com/realm/realm-cocoa/issues/1490. Is that something that will be supported in the future (work in progress) or am I missing something? In my app I want to have the following predicate:
`[Item objectsWhere:@"categories.@count == 0"];` but Realm asserts that `@count

[2015-02-25 22:24] yoshyosh commented on #1550
We don't support Keypath collection queries yet, everything with the pink dot next to it is what we currently support. #1490 also shows all the unsupported predicates we need to work on.

You can either store a bool on your item object that you can check if categories are empty or not, or you can create an NSArray of items and run predicate on that.

[2015-02-25 22:30] romaonthego commented on #1550
@yoshyosh I see, thanks! I ended up doing this:
[code]

[2015-02-25 23:15] yoshyosh commented on #1550
Oh nice! I'll have to remember this one :), thanks for sharing that

[2015-02-26 00:22] segiddins commented on #1492
What exception are you getting?

[2015-02-26 06:31] docterd opened #1552 "Crash while accessing RLMObject in iOS Location Multitasking Mode"
Hi,

I'm getting a crash while accessing Realm Objects in iOS Location Tracking Mode. Could't not work around so far.

[code]

[2015-02-26 13:54] issue2k commented on #1516
We even see still errors because of the encryption.

iOS7
[code]

[2015-02-26 13:55] issue2k commented on #1516
We even still see crashes related to the encryption.

iOS 7

[code]

[2015-02-26 15:14] tspecht opened #1553 "Assertion failed: backlink_ndx != not_found"
Hey, while calling removeAllObjects I'm facing the following error leaving the app being unable to start anymore.

[code]

[2015-02-26 18:27] segiddins commented on #1553
@tspecht, thanks so much for sharing the stack trace with us. Any reproducible projects will help us a lot. to track down why this is happening. Feel free to send to help@realm.io to keep things private.

[2015-02-26 19:05] segiddins commented on #1552
Hi @docterd, my guess is that you're encountering the same base issue that's discussed in https://github.com/realm/realm-cocoa/issues/1260 -- that is, you need to mark via NSFileProtection that you want the file to be writeable when the app is in the background for devices with a passcode.

[2015-02-26 19:06] #1542 closed

[2015-02-26 23:20] dbainbridge opened #1557 "Minimum OS X system requirements?"
What are the minimum OS X system requirements for an OS X app to use realm-cocoa in it?  Please add this info to ReadMe as well.

[2015-02-26 23:24] segiddins commented on #1557
@dbainbridge as stated in the podspec and the Realm.xcodeproj, the minimum OS X version Realm is currently compatible with is OS X 10.9.

[2015-02-27 09:29] anlaital commented on #1516
@tgoyne this still happens a lot on release builds where encryption is enabled, making it kind of impossible to ship anything with encryption enabled. No crashes are observed if encryption is not used.

I have the exact same call stacks as @issue2k when the crashes are reported. I am using the 0.90.6 Realm and the crashes occur on all iPhones and on both iOS 7 and iOS 8.

[2015-02-27 10:16] dismory commented on #1516
Yes, what @anlaital says is true.

[2015-02-27 10:19] issue2k commented on #1516
@anlaital @dismory i sent example code to help@realm.io so that they are able to reproduce the issue maybe you can even try to do that.

[2015-02-27 16:01] kunalsood commented on #1543
Question: What is the expected behavior when NSNotFound gets passed to removeObjectAtIndex: method of RLMArray?

I found myself checking for NSNotFound often enough that I ended up adding the following method in an RLMArray category.
[code]

[2015-02-27 17:17] tgoyne commented on #1516
Addition repro code would be very useful, as I've been unable to reproduce any issues.

[2015-02-27 17:48] yoshyosh commented on #1550
Hi @ceeK just checking in, did this solve your issue?

[2015-02-28 06:10] kunalsood commented on #1501
+1 for this. RLMSet would hopefully also have a `removeObject:` method.

[2015-02-28 19:00] ealeksandrov commented on #913
:+1:

[2015-02-28 22:45] AlDrago commented on #1492
"RLMArray is no longer valid"
[code]

[2015-03-01 13:39] ceeK commented on #1550
Hi Yoshyosh - it did solve my issue! Thanks :)

It's still slightly confusing why one works and one does not however:

1:
(ANY types = <FITType>)

2:
(<FITType> IN types)

I was passing in a 'FITType' object into both scenarios. How come scenario 1 doesn't receive a String literal but scenario 2 does?

If this is just my naivety towards NSPredicate then I apologise.

[2015-03-01 17:43] docterd commented on #1552
Yes, seems to fix the problem. :-)

[2015-03-01 17:43] #1552 closed

[2015-03-01 19:40] jpsim commented on #1550
@ceeK's original report is correct, `%@ IN types` should work since it yields a logically equivalent predicate to `ANY types = %@` and `types CONTAINS %@`.

[code]

[2015-03-02 12:48] attheodo opened #1561 "Iteration skips one item"
Hello everyone,

I have this method https://gist.github.com/attheodo/2943745229e3e8873bf8

First of all, I want to ask if this is the proper way of making this query. Essentially, `PSTChatMsg` objects have a many-to-one relationship with a `PSTChannelEnvironment` that keeps them in a `chatMessages: RLMArray`. But since the `PSTChatMsg` also happens to have the `channelName` property I believe I ca

[2015-03-02 19:23] tgoyne commented on #1516
Replacing Pods/Realm/core/libtightdb-ios.a with http://static.realm.io/downloads/temp/realm-core-encryption-crash-fix.tar.gz fixes the crash in the repro crash @issue2k sent me. Note that you need to be using Realm 0.90.6 to have the right headers to go with that library.

[2015-03-02 19:27] pizthewiz commented on #1324
I just ran into this as well and as @joshuadutton mentioned, (until this is supported) it can be worked around via explicit relationship.

[2015-03-02 21:24] Cform commented on #840
I know this is closed, but using NSLog() instead of print() seems to work.

[2015-03-03 00:57] #1557 closed

[2015-03-03 01:12] jpsim commented on #1540
For anyone looking for how to do this, you can use [`+[RLMRealm schemaVersionAtPath:error:]`](http://realm.io/docs/cocoa/api/Classes/RLMRealm.html#//api/name/schemaVersionAtPath:error:) to get the schema version of the current database.

[2015-03-03 01:12] #1540 closed

[2015-03-03 01:42] jpsim commented on #1528
Hi @MattKiazyk, have you made any progress on this?

I think @segiddins is right in thinking that you're likely not setting an appropriate schema value.

Here's some code I used to attempt to reproduce the behavior you're seeing:

**First Run: Schema 0**
[code]

**Second Run: Schema 1**
[code]

Please reopen this issue if we've misunderstood the problem you're hitting. We'd greatly appreciate if y

[2015-03-03 01:42] #1528 closed

[2015-03-03 02:08] jpsim commented on #1517
Hi @ricardopereira, please follow these instructions to use Realm in a CocoaPods Swift project:

1. Install CocoaPods 0.36.0.rc.1 or later (`[sudo] gem install cocoapods --pre`).
2. In your Podfile, add `use_frameworks!` and `pod 'Realm'` to your app target, and `pod 'Realm/Headers'` to your test target.
3. From the command line, run `pod install`.
4. Use the `.xcworkspace` file generated by Cocoa

[2015-03-03 02:08] #1517 closed

[2015-03-03 02:14] jpsim commented on #1512
I'm closing this as a duplicate of #1097. Please continue the conversation there.

[2015-03-03 02:14] #1512 closed

[2015-03-03 05:07] anlaital commented on #1516
Thanks. I will try this out as well and distribute a new build using it for our internal pilot.

[2015-03-03 05:29] issue2k commented on #1516
Thanks a lot we will try this for our next testing release

[2015-03-03 11:59] mrackwitz commented on #1538
I think the guide is at this part a bit misleading. Thanks for pointing that out. :+1:
Here a bit more extensive explanation for when to use what:

* If you have a unit / logic test target, like in your case, where you share the implementation files and make them members of both, your application and the test target, you also need to link the framework, which happens by using `pod 'Realm'`.
* If y

[2015-03-03 11:59] #1538 closed

[2015-03-03 14:58] MattKiazyk commented on #1528
Hi @jpsim sorry for not getting back to you. Tried a quick project to see if I could duplicate and it was working fine. Even on the migration setting just the parent object seemed to be ok.  Thanks for your feedback.

[2015-03-03 17:32] jpsim commented on #1514
Hopefully #1304 fixed this.

[2015-03-03 17:32] #1514 closed

[2015-03-03 17:51] jpsim commented on #1506
I'd be in favor of allowing users define per-realm models. I think this functionality would be different (simpler) than providing an entire schema in the dynamic interface case.

Not having superfluous tables in a db means not having to migrate one realm because the model class for another has changed.

How about something similar to `+[RLMRealm setEncryptionKey:forRealmsAtPath:]` like `+[RLMRealm

[2015-03-03 17:53] jpsim commented on #1474
Have you looked further into this @tspecht? @alazier's diagnosis seems right to me.

[2015-03-03 17:54] #1418 closed

[2015-03-03 19:55] jpsim commented on #1350
Hi all, thanks for your patience on this. The problem demonstrated in the example project created by @bredfield was caused by compiling an RLMObject subclass in both the app and test targets.

**tl;dr; don't add your app's Swift files to your unit test targets.**

Please read https://github.com/bredfield/RealmTest/pull/1 for a more detailed explanation of what was happening and how it can be fixed

[2015-03-03 19:55] #1350 closed

[2015-03-03 21:13] yoshyosh commented on #1561
I think it will be faster to just use the PSTChannelEnvironment that you know holds your RLMArray of chatMessages. PSTChatMsg will have the most rows so it will ultimately take longer to check your predicate conditions on each. Instead it will be nice to just grab the one specific channel and all of its chatMessages without much overhead with predicates especially if PSTChannelEnvironment is uniqu

[2015-03-03 22:23] attheodo commented on #1561
@yoshyosh thanks for your response. Regarding the iterator, yes it is always the last object being skipped. Shortly before this code executes, a job in `realmqueue` adds a new PSTChatMsg in Realm. It might be the case that the code executes before this job finishes, but again, the last object wouldn't show up in `chatMessages.lastObject()` right?

[2015-03-03 23:08] yoshyosh commented on #1561
Correct, a quick test could be to put
[code]
After these lines
[code]

[2015-03-03 23:14] jpsim commented on #1521
Can you give an example of how this could be used? I have trouble thinking of a scenario where you'd actually want this.

[code]

Am I misunderstanding what this method would do? It seems very odd to me.

[2015-03-03 23:17] jpsim commented on #1521
Even something like `+[RLMArray addOrUpdateObject:]` wouldn't make much sense because you wouldn't be able to update objects, they're always up to date. Hurray Realm :sparkles:.

[2015-03-04 03:25] hangyc opened #1564 "App crash when deleteObjects"
Hi All,

I got a problem when calling deleteObjects method.

In debug console, I get this message when enabled malloc guard

[code]

[2015-03-04 03:40] yasirmturk commented on #1506
+100

[2015-03-04 04:39] anlaital commented on #1516
I haven't had any crash reports coming in from the pilot with the fix, so most likely whatever you did fixed the issues we've been having with encrypted Realm. @tgoyne will this be included in your next release and if so, when will that release happen?

Thank you for the fixes for these crashes, since encryption is kind of a priority for us. :+1:

[2015-03-04 09:26] Bruno-Furtado opened #1565 "App and WatckKit App Extension share objects"
I use the realm to save a local object.
When trying to get this object through the app everything works correctly.

When I try to get this same object through the Watch App is not returned any results.
You can share this object through the two environments?

I believe it is not possible:
[WatchKit App Architecture](https://developer.apple.com/library/prerelease/ios/documentation/General/Conceptual

[2015-03-04 11:09] attheodo commented on #1561
@yoshyosh please check this out https://gist.github.com/attheodo/dcb199dc2237f63cc19c

[2015-03-04 14:01] issue2k opened #1566 "deleteObjects does not delete objects when when giving NSArray to [realm deleteObjects:]"
Hi,

API says i can give an NSArray* to the deleteObjects method. While i can delete objects when giving RLMResults it does not delete them when giving an NSArray of RLMObjects. I tried to call [realm invalidate] afterwards but this even does not help. Am i missing something? Might it be a problem that these objects are still referenced from an RLMResults?

thanks,
Jakob

[2015-03-04 15:39] Fab1n opened #1567 "Encrypted interprocess sharing is currently unsupported"
We get this exception when trying to secure our Realm db.

In run config we switched to "Release" and unticked "Debug executable".

We are working with `RLMRealm.setEncryptionKey(EncryptionHelper.getKey(), forRealmsAtPath: RLMRealm.defaultRealm().path)`

Until now I had no change of using an application encrypted. We need to test this as it is key to our product!!!

[2015-03-04 16:10] Fab1n commented on #1567
I know, you guys are awesome and do a great job with Realm!

Please tell me that encryption works in another queue with gcd... This is a total requirement for us

[2015-03-04 17:50] yoshyosh commented on #1566
I just tried this out by passing an NSArray of RLMObjects, it does work as expected. There could be something else going on with your code. Can you share a code snippet of how you are building the array and doing the delete?

[2015-03-04 18:05] yoshyosh commented on #1565
Hey Bruno, this is still a WIP https://github.com/realm/realm-cocoa/issues/824, feel free to comment on this issue there!

[2015-03-04 18:05] #1565 closed

[2015-03-04 18:14] tgoyne commented on #1567
Encrypted realms can only be open in one process at a time, and this will not change even when we officially roll out support for sharing normal realms between processes.

Opening encrypted realms on multiple threads works as normal.

[2015-03-04 19:50] ldesroziers opened #1568 "RLMRealm init(path:) fails with defaultRealmPath()"
### Goals
Instantiate any Realm database using a path
`self.realm = RLMRealm(path: path, readOnly: false, error: &error)`

### Expected results
The code provided in the 'Goals' section should work if 'path' is the defaultRealmPath() :

	class Library {
		init(path: String) {
			self.realm = RLMRealm(path: path, readOnly: false, error: &error)
		}
	}

`let mainLib = Library(path: Realm.defaultRealm

[2015-03-04 19:52] ldesroziers commented on #1568
Hmm nevermind, strangely works now.
I guess I was using readonly: true on first use :/ And that's quite legit to see it fails if it doesn't have rights to "write" (create) the database!

[2015-03-04 19:52] #1568 closed

[2015-03-04 20:40] #1500 closed

[2015-03-04 20:40] #1465 closed

[2015-03-04 20:50] Fab1n commented on #1567
Ok, I know that because of the error message Realm gives me. Then what do I do wrong with setting the encryption key for a realm at a path and then running a importer that imports data from json in the background with dispatch_async.
If I am importing on the main thread (without dispatch_async) I don't get this exception "Encrypted interprocess sharing is currently unsupported"

[2015-03-04 21:02] #1533 closed

[2015-03-04 22:18] ldesroziers commented on #1046
I met the same problem using Swift and found a better way of doing that, without any enumeration at all.
Of course, it can be improved a lot more! It's currently a kind of wrapper for RLMResults, but sure can be used as a pure Swift dynamic collection instead.

[code]

[2015-03-04 22:36] jpsim commented on #1492
Hi @AlDrago, it seems your use case would benefit from having an `isInvalidated` property on `RLMArray`. I'll discuss with the team about adding that. We wouldn't add that to `RLMCollection` because `RLMResults` can never be invalid (unless the realm itself has been invalidated).

For the time being, I'd recommend you to store the `GithubIssue` in your `CommentsViewController` instead of the `comm

[2015-03-04 23:36] AlDrago commented on #1492
Hi!,
thank you very much for adding that property. That solves it.
Btw yes, adding GithubIssue to the ViewController might be an option in the case, that the VC is specific for GitHub comments. I might have another RLMObject subclass called BitBucketIssue ...
But that is not important. It was just an example, and the point was that there was now way to know whether RLMArray is valid.
Again, thanks

[2015-03-04 23:38] jpsim commented on #1492
Glad this addresses your needs! Let's keep this issue open until #1569 has been approved + merged though.

[2015-03-04 23:52] jpsim commented on #1561
Hi @attheodo, one of my favorite Realm features is that everything is always up to date. But, it can hit you by surprise sometimes if you forget about it.

So what's happening here is you're changing the set of objects in the `unreadMessages` RLMResults by changing its `hasBeenRead` property. So as you're iterating over the results, they change and some of them end up being skipped.

So a differen

[2015-03-04 23:52] #1561 closed

[2015-03-04 23:53] #1492 closed

[2015-03-04 23:57] attheodo commented on #1561
Oh god! So you're telling me the RLMResults array is being dynamically updated when some of the messages cease to conform to the predicate because I am changing their values in the loop..!? Thats crazy and yet wonderful! Thanks man, that solves my problem and restores my sanity levels. Cheers.

[2015-03-04 23:58] jpsim commented on #1561
You got it! Powerful, but it still bites you when you forget.

[2015-03-05 01:24] jpsim commented on #1564
Hi @hangyc, running our entire unit test suite with Guard Malloc enabled doesn't print any such message. Would it be possible for you to share code that reproduces this large allocation attempt? Ideally an Xcode project or a unit test in here is even better: https://github.com/realm/realm-cocoa/tree/master/Realm/Tests

Thanks!

[2015-03-05 01:30] jpsim commented on #1567
That exception should only be thrown when opening an encrypted Realm from a different process. Are you sure there are no other processes accessing that file? Perhaps the Realm Browser, or an iOS Extension?

[2015-03-05 03:09] kronik opened #1571 "Update NSFileProtection samples to set attributes on lock files"
This issue is very similar to https://github.com/realm/realm-cocoa/issues/1260 .
Application tries to select data from Realm db when app fetch in background handler is called.

And I

 disabled protection at all:

[code]

tried also with NSFileProtectionCompleteUntilFirstUserAuthentication but still the same.

What I'm doing wrong?

[2015-03-05 06:31] kronik commented on #1571
I tried to compare behaviour with https://github.com/marcoarment/FCModel and FCModel works fine even in background locked mode.

[2015-03-05 07:32] Fab1n commented on #1567
No, nothing. Just running inside simulator or on device CMD-R.

[2015-03-05 09:49] jpsim commented on #1567
There are in fact several multithreaded tests (just search for `dispatch_`) and with the recent encryption improvements (#1562) it's now possible to run the entire test suite using encrypted realms (see [`encryptTests()`](https://github.com/realm/realm-cocoa/blob/ed498a1a56a50496871b19ed29d615a6618dd64a/Realm/Tests/RLMTestCase.m#L78)). All the tests pass with this enabled.

Once Realm's multi-proc

[2015-03-05 14:28] Fab1n commented on #1567
Thanks for your straight replies. I finally figured it out. And I can say that it works!
Multiprocess support is what we definitely need! As an extension should act on the same database file even when encrypted.
I'll stay tuned

[2015-03-05 14:28] #1567 closed

[2015-03-05 15:08] anbarasu0504 opened #1572 "Add undo manager feature as in CoreData"
Add undoManager feature as in CoreData

[2015-03-05 16:30] acoleman-apc opened #1573 "Upsert function?"
Salesforce has a function called UPSERT.   This UPDATEs existing records (if the primary key is found) and INSERTs records where the primary key wasn't found.

It would be great if Realm had an commit upsert operation.  It would prevent errors like this: RLMException, reason: 'Can't set primary key property

Thoughts?

[2015-03-05 17:10] segiddins commented on #1573
Such a method already exists, in the form of `-[RLMObject createOrUpdateWithObject]` and -[RLMRealm addOrUpdate]`. I hope that helps!

[2015-03-05 17:13] segiddins commented on #1571
What sort of error are you seeing when realm crashes? It'd be really helpful if you could share a stack trace!

[2015-03-05 19:01] acoleman-apc commented on #1573
Thanks for the quick reply.  That method seems interesting and I will look into it but am I correct that it only takes a single object and not an array?  I was hoping to pass in just an array but I guess I can just loop over an array and call this method.  Thanks again for your responsiveness!

[2015-03-05 20:02] yoshyosh opened #1574 "Add createOrUpdateFromArray method to RLMObject"
That might not be the exact naming, but the idea would be to do upserts given an array of objects

Currently there is an addOrUpdateFromArray http://realm.io/docs/cocoa/0.90.6/api/Classes/RLMRealm.html#//api/name/addOrUpdateObjectsFromArray:

This was brought up here https://github.com/realm/realm-cocoa/issues/1573

[2015-03-05 20:10] jpsim commented on #1574
It's trivial to loop over an array and call this on its members so I really don't think we should do this. This is also why we have `-[RLMObject initWithObject:]` but not `initWithObjects:`.

[2015-03-05 20:11] jpsim commented on #1573
You should loop over. If Realm offered a `createOrUpdateWithObjects:`, it would just loop over the input as well, that's unlikely to happen.

[2015-03-05 20:11] #1573 closed

[2015-03-05 21:46] yoshyosh commented on #1574
I think this will make more sense when done on the Realm, that example does make it look a bit weird

[2015-03-05 21:46] #1574 closed

[2015-03-05 23:14] yoshyosh opened #1577 "Throw an exception when declaring a nested RLMObject subclass in Swift"
Adding the code below causes this Assertion failed: top_size>=3 [0, 3]

We should prevent/warn the user about what they are doing

[code]

[2015-03-06 00:56] jpsim commented on #1572
Thanks for the feature request, @anbarasu0504. We have a number of high priority features we'd like to build before diving into something like this, but it would certainly be nice to have at some point.

If you, or anyone, feels like contributing to this, please start with a design proposal in this issue demonstrating how the feature should work, which API it should expose and how to deal with pot

[2015-03-06 01:03] jpsim commented on #1577
The problem that's happening here is that `CardDeck` is being defined as a nested class, scoped to `application(application:didFinishLaunchingWithOptions:)`.

Swift's mangling doesn't provide enough information to determine all the details we need from this class when we initialize the schema.

I recall seeing this a few months ago and briefly looking into whether or not we could inform the user o

[2015-03-06 01:09] segiddins commented on #1577
We currently only check if a class definition is nested inside another class, clearly we need to also see if the mangled name points to it being nested inside a function, struct, or enum as well.

[2015-03-06 02:34] kronik commented on #1571
failed to open(). something related with permissions...

[2015-03-06 06:46] issue2k commented on #1566
Yes maybe i am doing it wrong. This is basically what i try to do. I want to delete every second LocationData object. The problem is that it does not delete any location when giving in the NSMutableArray (tried NSArray too) to deleteObjects. When i just give all locations by passing the RLMResults in there its working.

[code]

[2015-03-06 06:49] issue2k commented on #1516
Even for us this solves the problem. We tested the app sind tuesday with > 100 testers now and got not a single crash anymore.

Thanks a lot @tgoyne for fixing this!

[2015-03-06 08:39] kishikawakatsumi opened #1578 "Result of sort is different from the standard way of Cocoa."
It looks like the result of sort is different from the standard way of Cocoa.
**Ampersand "&" and single-quote "'" are exchanged.**

### Steps to reproduce

1. Define brand model class that has only name property, like below:

[code]

2. Create and save brands to ream
3. fetch and sort the brand from realm like below:

[code]

3. Output is:

[code]

4. But if use `NSArray#sortedArrayUsingDescripto

[2015-03-06 15:22] rrrlasse commented on #1578
It's true that there are differences in sorting compared to Cocoa.

This is because we are using a fixed lookuptable so that sorting yields the same order regardles of operating system, development framwork and country (locale).

We are working on a feature that lets you cusomize all such settings, e.g. sort according to Cocoa, as you request.

[2015-03-06 18:01] gdevries commented on #913
:+1:

[2015-03-06 18:34] yoshyosh opened #1579 "transaction exception message when removing object from realm"
This is coming from https://secure.helpscout.net/conversation/76155296/628/, he accidentally was trying to remove an object that didn't exist in the realm. Turns out he was doing it from the wrong realm. Maybe there's a way to warn the user somehow?

[2015-03-06 19:21] yoshyosh opened #1580 "Add Query RLMArray / RLMResults by index range"
Spurred from here https://groups.google.com/forum/#!topic/realm-cocoa/iMenONGdfXY

[2015-03-06 19:31] yoshyosh commented on #1566
[code]
Can you check this typo here `locationsToDelete` is being added not `locationToDelete`

[2015-03-06 21:27] tgoyne commented on #1516
The fix is now merged to master, so it should be present in the next release.

[2015-03-07 01:01] #1516 closed

[2015-03-07 01:11] #1577 closed

[2015-03-07 07:02] issue2k commented on #1566
omg i am ashamed. Sorry that i bothered you with this...working perfectly when adding the right objects and not adding the list to itself.

[2015-03-07 07:02] #1566 closed

[2015-03-07 22:25] ealeksandrov commented on #1279
This feature is required to use modules from Cocoapods, am I right?

Currently receiving this error after `pod install`:
`import Realm` - No such module 'Realm'
(For manually installed Realm it is working ok)

[2015-03-07 22:28] allaire commented on #1279
@ealeksandrov add `use_frameworks!` to your Podfile and it should works (make sure to use prerelease version of cocoapods).

[2015-03-07 22:31] ealeksandrov commented on #1279
@allaire that's fixed it, thanks a lot!

[2015-03-08 16:04] kishikawakatsumi commented on #1578
Thanks.

Sounds good.

[2015-03-08 16:04] #1578 closed

[2015-03-08 20:02] wbroek commented on #913
![Image of Thumbs up for beta testing](https://cloud.githubusercontent.com/assets/9849238/6365027/97d447c2-bc64-11e4-9409-bec0da0dc0c5.png)

[2015-03-09 01:53] voidref opened #1582 "Assertion failed: size_t(m_top.get(2) / 2)<=m_alloc.get_baseline()"
Had my system freeze, and had to do a hard reset.

Submitting this here in case it helps in some way:

Attempting to open the realm for which I was last using causes this crash (reproducible)

[code]

[2015-03-09 08:34] kronik commented on #1571
It seems like NSFileProtectionKey:NSFileProtectionNone needs to be applied to db log file or something else you guys use in addition to main db file.

[2015-03-09 10:46] arielpollack commented on #1012
+1
Realm-JSON lib doesn't support swift.
the mapping is already implemented in Mantle library, so the same logic can be used here.

[2015-03-09 15:25] nakp commented on #1521
@jpsim I find this kind of useful, I've tried to add the same object twice and now I have duplicate relationships, as the way to use 1:n relationships is with RLMArray, this seems pretty logic if you are trying to avoid adding the same object again and having duplicate relationships, `- [RLMArray addObject:]` does not take care of this

[2015-03-09 16:47] checkbutton commented on #628
@timanglade @jpsim Are there any updates on this issue? Missing support for null values broke our app so badly, that we had to switch back to Core Data. :-(

[2015-03-09 16:55] segiddins commented on #1582
Hi @voidref, what version of the realm browser are you using? Additionally, could you please share the assertion failure that's accompanying the crash?

[2015-03-09 16:56] jpsim commented on #628
We hear you, null support is a top priority for us. We're adding in null support type by type in Realm's core database engine. Strings are done, and progress on other types is advancing steadily. We'll expose that in the higher level language bindings as soon as it's ready.

In the meantime, it really shouldn't be necessary to completely move away from Realm for this limitation. Our current sugges

[2015-03-09 16:58] segiddins commented on #1579
We should really just validate that the realm you're deleting from is the same realm the object belongs to.

[2015-03-09 17:11] tgoyne commented on #1579
We do validate that on master.

[2015-03-09 17:14] timanglade commented on #628
Let me just pile up here on what @jpsim is saying and add that yes, we’ve
had someone working on this full-time for weeks now, but not allowing any
nullable fields was such a core design decision, that it affected
everything from how we store data on disk, to how queries are handled, and
so this hasn’t been an easy fix at all. It is close to being done though,
and we’ll try to release support for

[2015-03-09 17:14] #1579 closed

[2015-03-09 17:30] jpsim commented on #1571
Hi @kronik, you're right that you'll have to set the `NSFileProtection` file attributes for the lock and log files if you're writing to the realm in the background.

[code]

We'll be updating our `NSFileProtection` related samples to reflect this as soon as possible.

[2015-03-09 17:32] yoshyosh commented on #1566
Don't worry about it @issue2k I'm happy to hear you got it working!

[2015-03-09 17:36] alazier opened #1584 "Add RLMConfiguration"
Encapsulate all global state/config used to configure Realms so that we don't need separate config methods for every parameter.

[2015-03-09 17:39] jpsim commented on #1571
That's what we'll do in the short term. However users really shouldn't have to know about all these potential ancillary files so we'll be adding a convenience method like `setFileProtectionKeyForRealmsAtPath:`. We'll track this in a more flexible `RLMConfiguration` in #1584.

[2015-03-09 17:40] jpsim commented on #1584
- [ ] Encryption Key
- [ ] Readonly
- [ ] `NSFileProtection` attributes

Anything else?

[2015-03-09 17:43] alazier commented on #1584
Should consider supporting:
- path
- encryptionKey
- readonly
- fileProtection
- inMemoryIdentifier
- schemaVersion/migrationBlock
- schema (for dynamic realm support)

[2015-03-09 17:44] jpsim commented on #1521
@nakp so you'd like a shortcut method for this?

[code]

I'm not convinced adding such a simple convenience method in Realm is worth the impact on our interface.

[2015-03-09 17:44] alazier commented on #1571
Lets just do #1584 rather than adding a new global configuration method that we will remove soon after adding.

[2015-03-09 18:52] voidref commented on #1582
Realm Browser Version 0.90.6 (0.90.6)

I am not sure what you mean by 'share the assertion failure', but here's the metadata about the crash

[code]

@segiddins Would you like a copy of the db?

[2015-03-09 19:09] segiddins commented on #1582
@voidref is there any chance that you have code that can reproduce the creation of the corrupted realm? If not, a copy of the realm file might prove helpful. Feel free to send any code or realm files confidentially to help@realm.io. Thanks!

[2015-03-09 19:23] nakp commented on #1521
It is as convenient as `+ [RLMObject createOrUpdateInDefaultRealmWithObject:]`, so far I'm using Objective C and my solution for the moment was to use arrays and backlinks, thanks for the recommendation

[2015-03-09 19:30] voidref commented on #1582
@segiddins the realm creation is dead simple, and was working until my machine freaked out and forced a reboot.

I'm sending more detail to the email address attention to you, but I am sure this is the result of FS corruption, it's just that you may be able to recover from it ... maybe.

[2015-03-09 19:33] voidref commented on #1582
PS:

Ran the app in the sim, and got this output

[code]

[2015-03-09 20:32] segiddins commented on #1584
Maybe also the classes that should be used for that schema?

[2015-03-09 20:54] bmunkholm commented on #1584
And let's align this with the Java cousin: https://github.com/realm/realm-java/pull/929

[2015-03-09 21:20] cmelchior commented on #1584
The above are pretty much what I intended to add for Java as well, except from FileProtection which is not relevant on Java.

I was also considering adding to other two initialisation methods:
- deleteRealmBeforeOpening
- deleteRealmIfMigrationNeeded

Which covers some use cases we have seen pop up fairly often.

[2015-03-09 21:46] #1545 closed

[2015-03-09 22:01] alazier opened #1585 "Rename initWithObject/createWithObject to withValue"
We need to make this change in objective-c to be consistent with the new swift apis and to make things more clear/less confusing.

This change should be made once al-swift is merged to master, at which point in time we can fix Object.init(object:)

Old api calls should be deprecated for a few releases.

[2015-03-10 00:07] jpsim opened #1587 "Add build matrix item to run all tests with encrypted realms"

[2015-03-10 00:44] #1547 closed

[2015-03-10 01:49] #1472 closed

[2015-03-10 01:49] #1379 closed

[2015-03-10 01:51] tgoyne commented on #824
This is now fully supported on master and we'll release 0.91.0 with it soon.

[2015-03-10 01:51] #824 closed

[2015-03-10 03:37] yasirmturk commented on #628
+1 @checkbutton same story

[2015-03-10 08:18] mootoh commented on #628
@jpsim, That workaround looks good but that does not allow properties to be populated properly from JSON object. Suppose we have the following JSON received from API server:

[code]

and hope to populate it in Realm:
[code]

Calling `[[Client alloc] initWithObject:...]` raises an exception...

[2015-03-10 09:22] Mazyod commented on #628
Just wanted to share my experience regarding this situation:

Especially since I am using Swift, I need to handle `nil` cases explicitly when accessing the variables, anyways, meaning property being set to `nil` won't reduce the code written. Sure it will be brilliant to have that, but since we don't, might as well utilize the [Null Object Pattern](http://sourcemaking.com/design_patterns/null_obje

[2015-03-10 14:28] issue2k opened #1589 "App crashes on read when using writeCopyToPath: to compact encrypted realm"
@tgoyne After you solved the issue with the crash on writing large commits to an encrypted realm i wanted to give writeCopyToPath another try (which caused a crash before).  With the static library file you provided here https://github.com/realm/realm-cocoa/issues/1516 i still get a crash after i added a writeCopyToPath: to our app directly after launch to shrink the database as suggested in the c

[2015-03-10 18:00] tgoyne commented on #1589
`[[RLMRealm defaultRealm] writeCopyToPath:pathToRealmCopy encryptionKey:key error:&error];` needs to be wrapped in `@autoreleasepool { }` so that the `RLMRealm` instance is destroyed before the backing file is deleted. Not doing so mostly works by coincidence with unencrypted Realms, but there's a lot of ways to get very confusing behavior so it's a bad idea even then.

[2015-03-10 22:25] pizthewiz commented on #875
I have to agree with @dginsburg that having `NSDate` in the [list of supported property types](http://realm.io/docs/cocoa/0.91.0/#property-types) sends a mixed message. Until a resolution is found, perhaps the docs could link to the [limitation detail](http://realm.io/docs/cocoa/0.91.0/#nsdate-is-truncated-to-the-second) directly in the property types list to be more explicit?

----
Realm supports

[2015-03-10 22:39] pizthewiz commented on #1188
With the multi-process handling in v0.91.0, this is probably still needed no?

[2015-03-10 22:41] jpsim commented on #875
@pizthewiz thanks for the suggestion, @yoshyosh just made the change on the website: http://realm.io/docs/cocoa/0.91.0/#property-types

[2015-03-10 22:44] jpsim commented on #1188
There are still some rules regarding what's possible to do with regards to multithreading in Realm, even with the latest multi-process improvements.

Most notably, instances of `RLMObject`, `RLMArray`, `RLMResults` and `RLMRealm` are thread-specific.

That being said, any operation in Realm is thread safe and you never have to worry about a change from one thread affecting a transaction in progres

[2015-03-10 23:51] #1169 closed

[2015-03-11 02:33] l4u opened #1595 "Support Carthage prebuilt framework"
Please add `Realm-cocoa.framework.zip` in releases, so that Carthage can pull from prebuilt binaries instead of building it from source.

[2015-03-11 06:44] selwin opened #1596 "Swift documentation for ordering result is incorrect"
Realm.io's Swift [documentation](http://realm.io/docs/cocoa/0.91.0/) for ordering results still uses `arraySortedByProperty` instead of `sortedResultsUsingProperty`

[2015-03-11 09:52] kishikawakatsumi commented on #1596
Thank you for reporting this issue. We will fix it soon.

[2015-03-11 14:38] Fab1n commented on #824
0.91.0? You mean 0.97.0, did you?

[2015-03-11 15:19] vittoriom opened #1597 "Modify schema from Realm Browser"
Any plans to improve the Realm browser by adding the possibility to change the schema of a <code>.realm</code> file for example adding columns or whole tables?

Our use case is the following:

We're using Realm in our current app, and we have a suite of integration tests setup. What we do there, since the database is populated and updated through REST calls, is we save a snapshot of the database a

[2015-03-11 15:35] kishikawakatsumi commented on #1596
Fixed http://realm.io/docs/cocoa/

[2015-03-11 15:35] #1596 closed

[2015-03-11 19:41] veritech commented on #1589
I'm getting a similar crash after copying a realm, and then trying to access it. I wrapped my call to writeCopyToPath:error with an autorelease, However I'm still getting the crash

Like the initial issue, After a restart, reads to the compacted realm work flawlessly.

I use similar code to the OP to copy the realm

**Stack trace**

    #0	0x000000010c48d866 in __pthread_kill ()
    #1	0x000000010

[2015-03-11 20:39] jpsim opened #1599 "Consider making setDefaultRealmPath() persist across app launches"
See [google group post](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/realm-cocoa/VTDYqwjqVvM) for context.

[2015-03-11 20:43] jpsim commented on #1599
I don't think this would ever be useful since a call to `setDefaultRealmPath()` would still have to precede any access to the realm on the app's first run.

[2015-03-11 20:43] #1599 closed

[2015-03-11 20:59] alazier opened #1600 "Finish object creation tests"

[2015-03-11 21:01] alazier opened #1601 "Hide RLMObjectBase apis from Object"
If at all possible, we should move initWithObject:, initWithObjectSchema:, isEqualToObject: and linkingObjectsOfClass:forProperty: to RLMObjectUtil or elsewhere. Those are the only remaining public members of RLMObjectBase which shouldn't be exposed in RealmSwift.Object's public interface.

[2015-03-11 21:08] alazier opened #1602 "Fix release packaging"
Things have broken with our build.sh/ci changes for swift. Some Things that are known to be broken:
- The dynamic framework is names differently
- We need to bring back the old swift examples (#1604)

[2015-03-11 21:09] alazier opened #1603 "Add device tests for swift apis"

[2015-03-11 21:10] alazier opened #1604 "Bring back old swift examples"

[2015-03-11 21:30] kishikawakatsumi opened #1605 "isEqualToObject: between RLMObject that has persisted and non-RLMObject object causes a crash"
### Related:
https://github.com/realm/realm-cocoa/pull/1548
https://github.com/realm/realm-cocoa/issues/1547

### Problem
`isEqualToObject:` between RLMObject that has persisted and non-RLMObject object causes a crash.
Since the RLMObject that has persisted try to compare each `realm` property, the non-RLMObject do not have `realm` property, that causes `unrecognized selector` exception.

### Repr

[2015-03-11 22:02] segiddins commented on #1605
@kishikawakatsumi what version of Realm is this with?

[2015-03-11 22:52] jpsim commented on #1582
Thanks for all the info you posted here and in your email, @voidref! We're looking into what may have caused this and will update you as soon as we have something to report.

[2015-03-11 23:37] alazier commented on #1605
In all versions. Need to add:
[code]
and a test.

[2015-03-11 23:38] alazier commented on #1605
Feel free to make a pr with a fix

[2015-03-11 23:40] segiddins commented on #1605
Actually, I'm not sure we should. `isEqualToObject` should only take an `RLMObject`, whereas `isEqual` should take `id`.

[2015-03-11 23:42] alazier commented on #1605
The problem is we assume that an RLMObject actually is an RLMObject. In the case it isn't (which can easily happen in objc) we crash. I assume that is the issue here.

[2015-03-11 23:48] segiddins commented on #1605
Right, but isn't that just user error?

[2015-03-12 00:10] alazier commented on #1605
You are right it is a user error and it should throw an exception. On al-swift though we will crash instead as we access the ivar directly.  So on al-swift we should have this check and throw rather than crashing.

[2015-03-12 00:27] alazier opened #1607 "Get swift device tests working"

[2015-03-12 00:28] #1607 closed

[2015-03-12 09:11] issue2k commented on #1589
After the first tests for me the problem seems to be solved when wrapping our migrations and the writeCopyToPath into autoreleasepool. Maybe this could be added to the documentation (not sure if i had to know that i have to put it into autoreleasepool but it could help others to avoid running into that issue)

[2015-03-12 09:30] anlaital opened #1608 "Crashes with Realm 0.91.0"
There seems to have been some regression with the latest Realm (0.91.0) release compared to 0.90.6. I'm getting crashes quite easily now even without encryption enabled. This happens in both release and debug builds.

[code]

Call stack from crash report:

[code]

[2015-03-12 09:55] bigfish24 commented on #1608
+1 on this

[2015-03-12 10:03] bigfish24 commented on #1490
do you plan to add support for SUBQUERY?

[2015-03-12 11:17] attheodo opened #1609 "RLMException when calling callback closure"
I was wondering if anyone can help with this http://stackoverflow.com/questions/28994363/rlmexception-when-calling-callback-closure

Full stack-trace dump here: http://pastie.org/10019692

[2015-03-12 16:53] mhergon opened #1610 "Equivalent “completion handler” from MagicalRecord to Realm.io"
Hi,

I searched for a many days, but I can not find it. What would be the equivalent of the following MagicalRecord statement in Realm.io?

[code]

I need "Save block", and when it finish, execute "Completion block"

Thanks!!

[2015-03-12 17:01] jpsim commented on #1490
Yes, the goal is to support as much of what NSPredicate allows as possible, but we can't provide a timeline for these just yet.

[2015-03-12 17:12] jpsim commented on #1610
Hi @mhergon, the equivalent in Realm is [`-[RLMRealm transactionWithBlock:]`](http://realm.io/docs/cocoa/api/Classes/RLMRealm.html#//api/name/transactionWithBlock:).

Since both your MagicalRecord example and Realm's equivalent run in the current thread, the completion block is a bit redundant because it's equivalent to adding code immediately after the call to this method.

[2015-03-12 17:12] #1610 closed

[2015-03-12 17:29] jpsim commented on #1609
What does your `handler` block look like? Since that's where Realm is throwing, I'd expect there to be some Realm-related methods being called in there expecting a different thread.

[2015-03-12 17:33] segiddins opened #1613 "Move subscripting out of RLMObjectBase"
This will allow for better types in swift 1.2

[2015-03-12 18:09] attheodo commented on #1609
Here's the part with the `handler` block being utilized:
[code]

[2015-03-12 18:22] petaren opened #1614 "Allow for optionals in Swift"
I would like to be able to use optionals in my model like such:

[code]

Right now that isn't possible because an objc (c) int cannot be null/nil. But I bet you can fix that! :)

A possible solution would be to allow for the use of NSNumber.

[2015-03-12 18:27] petaren opened #1615 "Allow for non default, non optional properties in Swift"
I would like to have a model that doesn't have any default values nor optionals. But I cannot figure out how to do it and I guess it's simply not possible.

What I want to do is basically:

[code]

This crashes at runtime due to: `Person.swift: 12: 7: fatal error: use of unimplemented initializer 'init()' for class 'RealmTryout.Person'`

[2015-03-12 18:41] yoshyosh commented on #1615
Hi Petaren! Currently with Realm you do need to have default values for each property you create. Hope this helps

[2015-03-12 18:41] #1615 closed

[2015-03-12 18:44] yoshyosh commented on #1614
We are working on null support, but unfortunately can't support optionals at this moment. We also don't support native types to help keep the data universal to work cross platform. We are aware and you will be sure to know if this ever changes!

Null support will be coming soon :)

[2015-03-12 18:44] #1614 closed

[2015-03-12 18:47] jpsim commented on #1615
To add a bit more context here, Realm uses Swift's runtime reflection to determine the layout of your model classes. Because Swift's `reflect(_:)` requires to pass in an instance, Realm will require that calling `init()` on your model class actually returns an instance that can be reflected.

So you can still use custom initializers (e.g. `init(name: String, age: Int)`) as long as you also impleme

[2015-03-12 18:54] jpsim commented on #1614
Until we support null values, depending on your use case, you could work around this in a number of ways.

The most flexible one is likely to wrap nullable properties in RLMObjects:

[code]

[2015-03-12 19:07] petaren commented on #1615
Thank you for your comments!

[2015-03-12 19:09] petaren commented on #1614
Thank you for your comments! :+1: on null support!

[2015-03-12 19:23] mhergon commented on #1610
And which one is more correct?

[code]
or...
[code]

Thanks!!

[2015-03-12 19:45] jpsim commented on #1610
It depends what you want to do in your completion block. The first version will run before the transaction is committed (persisted to the database), the second version will run after. Both versions will have access to the changes in the transaction as long as you stay on the same thread. In the second version, the transaction changes will be available from all threads.

[2015-03-12 19:46] jpsim commented on #1610
Basically, the second version is safer.

[2015-03-12 19:50] mhergon commented on #1610
@jpsim Thanks thanks thanks! I will appreci

[2015-03-12 19:50] #1608 closed

[2015-03-12 20:20] #1601 closed

[2015-03-12 21:19] jpsim opened #1618 "Use new nullable and nonnull annotations in public interface"
See https://developer.apple.com/swift/blog/?id=25

[2015-03-12 21:29] #1604 closed

[2015-03-12 21:29] jpsim commented on #1609
This code looks fine to me. Is there any way you could share a full code sample or Xcode project that can fully reproduce the issue? You can always email us code privately at help@realm.io.

[2015-03-12 21:48] segiddins commented on #1618
Closing as a duplicate of https://github.com/realm/realm-cocoa/issues/1476.

[2015-03-12 21:48] #1618 closed

[2015-03-12 22:45] mgc opened #1620 "Crashing in [RLMMigration verifyPrimaryKeyUniqueness]"
Hiya. I'm hitting a crash during migration with Realm 0.91.1.

Looks like a stack overflow in `tightdb::StringIndex::distinct` called from `[RLMMigration verifyPrimaryKeyUniqueness]`

[code]

Full stack: http://pastebin.com/fVPHKskX

At the moment this is only happening on device (iPhone 6, iOS 8.2) with a database containing several thousand items. This is a debug build with malloc scribbling ena

[2015-03-12 23:09] mhergon opened #1621 "transactionWithBlock: never ends"
Hi,

I'm trying to save new object but when I call "addOrUpdateObject:" the block never ends.

My code:

[code]

User
[code]

WakeUpAlarm
[code]

WakeUpREM
[code]

I'm tried multiple options, but nothing works. Any idea?

Thanks!

[2015-03-12 23:17] tgoyne commented on #1620
Do you have strings with 10KB+ common prefixes? The depth of the recursion in `StringIndex::distinct` appears to be proportional to the length of the longest common prefix.

[2015-03-12 23:31] yoshyosh commented on #1621
Does your user object have a primary key set? http://realm.io/docs/cocoa/0.91.1/#customizing-models

[2015-03-12 23:36] mhergon commented on #1621
Hi @yoshyosh

Yes!

User.m
[code]

It's very strange because no exception occurs, but execution stops after the "addOrUpdateObject:"

[2015-03-12 23:42] yoshyosh commented on #1621
My first thought is to try to reduce the code a bit to isolate what could be causing this. Can you try commenting some things out and seeing when it even succeeds?

[2015-03-12 23:50] jpsim commented on #1564
Just following up on this request for an Xcode project that could help use reproduce this issue, @hangyc.

[2015-03-12 23:51] mhergon commented on #1621
Yes, I tried with only this code, but it fails too (other lines were commented):

[code]

[2015-03-13 00:00] yoshyosh commented on #1621
Can you remove the if else logic and just try the user alloc init + setting the email?

[2015-03-13 00:11] mgc commented on #1620
Hmm, nope. The primary key is a string URL, and I don't see any abnormally long ones. The only weirdness is that a handful of rows seem to have an empty string URL. It is possible that I managed to insert rows with empty primary keys, but it seems unlikely.

Here is the actual DB: https://dl.dropboxusercontent.com/u/20329687/RealmMigrationCrash.zip

Has it been corrupted somehow?

[2015-03-13 00:35] mgc commented on #1620
Incidentally, the older Realm browser also crashes when I try to change the contents of the empty string rows.  http://pastebin.com/6y5SQUmf

[2015-03-13 00:36] jpsim commented on #1595
Thanks for the feature request, @l4u. We'll update this issue once we've updated our release scripts to do this.

[2015-03-13 00:46] tgoyne commented on #1620
It appears that the rows that are showing up in the browser as having empty URLs have embedded NUL bytes, which is something our string indexing code currently breaks on (and apparently the browser has issues with too). If this is actually the problem, then the simplest workaround while we work on fixing the problem would be to enumerate the objects in your migration block and delete the ones whic

[2015-03-13 00:49] ulfie22 commented on #875
Is it correct that the Realm database is storing the seconds but your Realm Browser app does not display them? Is there a way to see the seconds in the Realm Browser?

[2015-03-13 00:54] #1603 closed

[2015-03-13 02:59] mgc commented on #1620
Thanks. I tried deleting and setting a new value in the migration, but both crash.

[migration enumerateObjects:OOURLCacheRecord.className block:^(RLMObject *oldObject, RLMObject *newObject) {
    NSString *url = oldObject[@"url"];
    if (url == nil || url.length == 0) {
        [[newObject realm] deleteObject:newObject];
    }
}];

index_string.cpp:551: [realm-core-0.88.5] Assertion failed: pos

[2015-03-13 03:09] jpsim commented on #875
Yes, seconds are being persisted, but the browser doesn't display seconds.

To see seconds in the browser, you could build it from source and change [this line](https://github.com/realm/realm-cocoa/blob/5c6e52d3c7707446e75119f0d6ff4f977ca3b942/tools/RealmBrowser/RealmBrowser/Classes/RLMDescriptions.m#L59) to use `NSDateFormatterMediumStyle`.

[2015-03-13 03:17] jpsim commented on #1620
What you're checking for in your code isn't for null bytes, but rather if the string is null. (`url == nil || url.length == 0`)

Here's one way to check if an NSString contains a null bytes:

[code]

[2015-03-13 03:53] alazier opened #1624 "install path is updated for non-swift frameworks"
This makes the osx framework unusable.

[2015-03-13 04:40] alazier commented on #1620
Hi Matt. Sorry you are running into issues.

I can easily reproduce the crashes you mention using your database. There are some entries containing embedded nulls in your db, but any attempt to delete or change these entries cases a crash as you described. Looking the offending urls, each string seems to be 100k+ bytes of garbage data. It isn't clear if this is the data being inserted or if the db

[2015-03-13 04:42] anlaital opened #1625 "LLDB hangs when debugging an application that is using an encrypted Realm."
LLDB hangs in Xcode 6.2 when stepping (or continuing) through code in a project that has accessed an encrypted Realm in any way. The hang occurs even when you are not stepping over Realm statements. This is very easy to reproduce and happens every time, thus making debugging applications using encrypted Realms impossible.

I have also sent you a project to reproduce this issue with.

[2015-03-13 08:27] mhergon commented on #1621
More info:

This code doesn't works...
[code]

Console output:
```2015-03-13 09:23:25.119 #name of the app# [4959:161781] pre add```

[2015-03-13 08:49] mhergon commented on #1621
More info again:

I created a separate project with the same structure and Realm throws an exception. Seems that the problem resides on the default properties:
```2015-03-13 09:40:51.720 TestRealm[7469:265194] *** Terminating app due to uncaught exception 'RLMException', reason: 'No value or default value specified for property 'userName' in 'User'```

If I return a default properties, works flawl

[2015-03-13 17:25] yoshyosh commented on #1597
Hi @vittoriom we do have plans to add that down the line. I'm helping with the new browser and would very much like that ability as well :). There is no timeline on when such a thing would be added.

I think your best bet for right now will be to do the mini migrations

[2015-03-13 17:37] vittoriom commented on #1597
great, looking forward to try the new browser :)

[2015-03-13 17:39] yoshyosh commented on #1597
:+1: me too :)

[2015-03-13 17:39] #1597 closed

[2015-03-13 17:48] yoshyosh commented on #1621
Hmm... can you send over the mini project you made to help@realm.io? All that's mandatory for addOrUpdateObject is a primaryKey.

[2015-03-13 20:24] alazier opened #1629 "add swift doc generation to build.sh"

[2015-03-13 21:38] segiddins commented on #1609
Responded via email.

[2015-03-13 21:38] #1609 closed

[2015-03-13 22:01] segiddins commented on #1624
@alazier could you explain what the problem is?

[2015-03-13 23:16] mhergon commented on #1621
Hi @yoshyosh

(Mini) Project sent with subject: "transactionWithBlock: never ends #1621"

Thanks!

[2015-03-13 23:38] yoshyosh commented on #1621
Thanks got it, i'll keep you posted

[2015-03-14 00:04] yoshyosh commented on #1621
The default values are needed when you have all the properties defined on your model because none of them can be nil when creating your object. I'm going to try to work backwards with the code you've posted here

[2015-03-14 00:06] yoshyosh commented on #1621
Can you share what FACEBOOK_ID and USER_NAME is? Is it just facebookID and userName?

[2015-03-14 00:10] yoshyosh commented on #1621
Starting to think `user.facebookID = facebookID ? facebookID` : nil; might be the issue, but the Realm should throw an exception if something is nil

[2015-03-14 00:27] #1624 closed

[2015-03-14 01:08] mgc commented on #1620
Hi Ari, np, I'm enjoying Realm so far.

NSURL returns nil if you init with a string containing nulls, but it is possible that I had/have a heap corrupting bug. Will see if it happens again.

FWIW as a user I'd expect primary keys to be automatically indexed. I'd like to be able to catch an exception to detect a corrupt db, delete, then create a new one, but for now I'll just check for successive c

[2015-03-14 08:54] mhergon commented on #1621
@yoshyosh

I tried this:
[code]
but it doesn't work...

```FACEBOOK_ID``` and ```USER_NAME``` ==  "facebookID" and "userName" strings

```The default values are needed when you have all the properties defined on your model because none of them can be nil when creating your object.```

Ok, thanks!

[2015-03-14 16:57] pronebird opened #1633 "Unable to query database using double precision"
Hi,

I am trying to use Realm to store geo location and data associated with it. I use two double columns, latitude and longitude.

This is my model:

[code]

I query db for records but it never returns any results:

[code]

This is how I save model into Realm:

[code]

Realm browser shows that records are saved, however it also shows that float was used to store columns with double precision.

[2015-03-14 17:02] segiddins commented on #1633
@pronebird could you please share your model definition for `LocationRecord`?

[2015-03-14 17:04] pronebird commented on #1633
@segiddins Hi, I've updated my post. I tried to use float instead of double but without any success.

[2015-03-14 17:08] pronebird commented on #1633
NSLog in console:

[code]

What's in DB:
![screenshot 2015-03-14 18 07 15](https://cloud.githubusercontent.com/assets/704044/6652615/fb53e41a-ca74-11e4-823d-1e5c10319b24.png)

[2015-03-14 17:10] pronebird commented on #1633
Wiped DB and re-tested, it seems to work with FLOAT fields.

[2015-03-14 19:21] webmagnets opened #1634 "'Realm accessed from incorrect thread' error in prepareForSegue; Swift"
Can you please check on this question on stack overflow?:
http://stackoverflow.com/questions/29048711/realm-accessed-from-incorrect-thread-error-in-prepareforsegue-swift

[2015-03-15 06:05] voidref opened #1635 "[Doc] RLMObject.init(forPrimaryKey:String) is not in the documentation"
The init method on RLMObject that takes the primary key is not documented anywhere except in some release notes.

http://realm.io/docs/cocoa/0.81.0/api/Classes/RLMObject.html  <-- offending page

This wouldn't be so bad, except you can't browse the class definitions in Swift. It just comes up as a blank page (Xcode bug?)

[2015-03-15 23:13] jpsim commented on #1635
Hi @voidref, you can't find `+[RLMObject objectForPrimaryKey:]` because you're looking at outdated documentation from ~8 months ago. Here are the [`objectForPrimaryKey:`](http://realm.io/docs/cocoa/0.91.1/api/Classes/RLMObject.html#//api/name/objectForPrimaryKey:) and [`objectInRealm:forPrimaryKey:`](http://realm.io/docs/cocoa/0.91.1/api/Classes/RLMObject.html#//api/name/objectInRealm:forPrimaryKe

[2015-03-15 23:13] #1635 closed

[2015-03-15 23:20] mhergon commented on #1621
Any news on this issue?
I tried several options but still does not work ...

Thanks!

[2015-03-16 01:28] voidref commented on #1635
Thanks, I could have sworn I had gotten to that doc page via realm.io, but I was clearly mistaken. Sorry about that!

[2015-03-16 12:06] webmagnets opened #1636 "Is objectsWhere no longer available?"
I just updated to 0.91.1 and now I am getting many errors. One of the errors is saying that I can't use objectsWhere. objectsWithPredicate seems to be available. Here are some screen shots.

![screen shot 2015-03-16 at 7 03 23 am](https://cloud.githubusercontent.com/assets/1189875/6665729/dcf789ea-cbaa-11e4-898b-c7701eb2fbef.png)
![screen shot 2015-03-16 at 7 04 29 am](https://cloud.githubusercont

[2015-03-16 12:18] #1636 closed

[2015-03-16 12:32] mhergon commented on #1621
Hi again,

I believe that I found the problem, but I do not know why it happens and how to fix it because it is very rare...

**This works**
[code]

**This doesn't works**
[code]

It seems that the problem is when I don't create a new "User" object...

[2015-03-16 12:44] mhergon commented on #1621
More info...

**This works only when "User" doesn't exists...** If the "User" exists, "transactionWithBlock:" never ends.
[code]

[2015-03-16 13:26] mhergon commented on #1621
And the last one...

[code]

[2015-03-16 15:29] jpsim commented on #1636
Are you linking `Swift/RLMSupport.swift`? `objectsWhere()` is defined there, while `objectsWithPredicate()` is defined in `Realm.framework` so it could explain why you can only find the latter.

[2015-03-16 15:31] webmagnets commented on #1636
No, I wasn't. Thanks for your help.

[2015-03-16 16:46] alazier opened #1638 "Test Object.subscript"
This needs to be tested for all types.

[2015-03-16 16:50] yoshyosh commented on #1634
Hey @webmagnets a few good answers have been posted there

[2015-03-16 16:50] #1634 closed

[2015-03-16 17:09] jpsim commented on #1634
For future reference, we actively monitor StackOverflow posts with the `realm` or `realm.io` tags, so cross-posting on GitHub has no effect on our response time.

[2015-03-16 17:33] yoshyosh commented on #1621
Hi @mhergon sorry to still see this causing issues. Focusing on the existing user example, I was able to get this error `Terminating app due to uncaught exception 'RLMException', reason: 'Primary key can't be changed after an object is inserted.'` You can't set the primary key again if a user already exists, you will need to add some logic to avoid this. If this is indeed the issue, Realm shouldn'

[2015-03-16 18:31] davejlong opened #1641 "Allow filter when pushing a dictionary into createOrUpdateInRealm"
I was recently working with some API data to push into Realm data store formatted like the following:

[code]

The JSON is an array of trips for a hired driver. I have models setup in Swift as follows:

[code]

I originally had Swift code like the following to save each block from the API:

[code]

The code failed because of the arriveAt property on the Location class. I'd like to see a configurat

[2015-03-16 18:42] segiddins commented on #1641
Hi @davejlong, we already have a couple of issues tracking this feature request, namely https://github.com/realm/realm-cocoa/issues/694, https://github.com/realm/realm-cocoa/pull/1272, & https://github.com/realm/realm-cocoa/issues/1063. In the meantime, you'll either have to pre-process your dictionaries before passing them into `createOrUpdateInRealm`, or otherwise look into using something like

[2015-03-16 18:42] #1641 closed

[2015-03-16 20:37] tspecht opened #1643 "Collection was mutated while being enumerated"
Hey guys,

with the most recent update of Realm for iOS I noticed that I sometimes get a "Enumeration was mutated while being enumerated". I know where this originates from and totally agree with that exception but nevertheless I can't seem to figure out how to update a given set of objects anymore. Until this release I used to do it like this:

[code]

Any ideas on that one?

[2015-03-17 00:03] jpsim commented on #1643
Hi @tspecht, whenever mutating an `RLMResults` while enumerating, you should use a `while` loop to only operate on the remaining objects. For example:

[code]

We have an issue open to freeze `RLMResults` during each runloop iteration which would simplify this pattern: #1179.

[2015-03-17 00:03] #1643 closed

[2015-03-17 00:35] tettoffensive commented on #1097
I'm a bit confused about what the current status of this is? I've been using realm with GCD by grabbing the id of the object before the dispatch and then querying for it on that thread. But this can get messy and sometimes I don't have the id. Plus, this can get quite messy keeping track of which thread I'm on. What's the current best practice for using realm on another thread to keep it async fro

[2015-03-17 01:01] IGZjuantrias commented on #1582
Some of our users are experiencing a similar crash in the last version of our app. I do not have access to the device logs, only to the stacktrace on Crittercism. We only know that they had installed a previous version of our app with an old schema and Realm 0.88.0, in the last version we are using Realm 0.90.6. Maybe some data corrupted during the migration? Or trying to open the Realm before spe

[2015-03-17 03:12] yujuncho7 opened #1653 "Loss of information when objects are retrieved from a realm"
I have an issue while dealing with models that inherit from each other and are saved in separate realms. After creating a RLMObject, retrieving the object produces unexpected behavior. The object exists and executing print(object.description) works; however simply calling print(object) does not work. Another odd outcome is that after casting the object from AnyObject to my model class, the _delete

[2015-03-17 05:38] BeamerCola opened #1654 "Associated object via json not saving?"
I have some pretty basic code, but my associated objects are saving the ids, but no attributes.

It's strange the ids work.  Also, i tried removing the default values.  And only stored lastName (Which guaranteed all artists have) - and it gave me error inserting null lastName

Sample JSON from AFNetworking
[code]

Sample models
[code]

[code]

After saving all my Artist objects look like:
[code]

[2015-03-17 05:54] segiddins commented on #1654
How is `createOrUpdateInDefaultRealmWithObject:` even working, given that neither of your model objects has primary keys defined?

[2015-03-17 07:13] vittoriom commented on #1097
Not sure it's a best practice, but what I'm doing in the project I'm working on is:

- Persistence layer has a reference to a "realm factory". In the simplest case, it just returns <code>RLMRealm.defaultRealm</code> everytime. (Added bonus, in integration tests I can inject a "test factory" that reads and writes to a bundled database with known content)
- Persistence layer driver begins every read

[2015-03-17 08:02] tspecht commented on #1643
But this would only change the first object in my results, right? How would I change *every* object in my result set?

[2015-03-17 08:05] jpsim commented on #1643
No, this would change every object in your results. Not that it's a `while` loop, not an `if` statement.

[2015-03-17 08:20] tspecht commented on #1643
But wouldn't -firstObject always return the same object since the result set is not changed?

[2015-03-17 09:04] yasirmturk opened #1655 "Unable to load string table file after upgrading to 0.91.1"
Unable to load string table file: CFBundle 0x134d4c6d0 </private/var/mobile/Containers/Bundle/Application/724C1EBF-949C-4A98-8C7A-FED28BD3AC14/mobilmaegler.app> (executable, loaded) / Main: The operation could not be completed. (Cocoa error 3840.)

[2015-03-17 09:32] mhergon opened #1656 "Equivalent query MagicalRecord -> Realm.io"
Does anyone know if there is an equivalent expression in Realm.io for this query? I need results grouped by "dreamDate" property

[code]
**dreamDate** -> NSDate property
**dateWithoutTime** -> Category that converts it to NSDate without time components

Thanks!

[2015-03-17 12:59] mhergon commented on #1621
**Finally, this code works...**

[code]

@yoshyosh I will try to export part of the project to test it. I can't send you the whole project, sorry...

[2015-03-17 15:03] jpsim commented on #1643
Let's use a more concrete example to demonstrate how this technique can be used:

[code]

[2015-03-17 15:11] tspecht commented on #1643
Yeah I got that point. The only problem is, I'm not changing the property that was filtered on in the for-loop but some other one ...

[2015-03-17 15:11] jpsim commented on #1655
Hi @yasirmturk, I doubt this is a problem with Realm. The string table file is a localized strings file, often used by storyboards even when not directly creating multiple localizations.

See this StackOverflow post for details: http://stackoverflow.com/questions/27222001/cfbundle-runtime-error-what-does-this-mean

So I'd recommend you diff your project file to see where changes may have happened.

[2015-03-17 15:11] #1655 closed

[2015-03-17 15:19] jpsim commented on #1656
Realm doesn't have a built-in data structure to group results, but you can do this very easily *and* efficiently by holding an NSArray or NSDictionary of RLMResults. Please see our GroupedTableView for an example of how to do this: https://github.com/realm/realm-cocoa/blob/master/examples/ios/objc/GroupedTableView/TableViewController.m

[2015-03-17 15:19] #1656 closed

[2015-03-17 15:22] mhergon commented on #1656
Yes! Finally I created a NSDictionary with NSDate as keys.

Thanks!

[2015-03-17 15:25] jpsim commented on #1643
Ah, I see. So instead, you shouldn't use NSFastEnumeration, but rather just a regular for loop, iterating over the indexes.

[code]

This will be safe as long as you're not mutating the number or order of objects in the results.

[2015-03-17 16:54] yoshyosh commented on #1621
Ah great, so it was that specific issue. No problem, if there is a smaller one you could send where it hangs doing the same thing that would be great. You're using parse to build this correct?

[2015-03-17 16:59] yoshyosh commented on #1097
@tettoffensive I think the easiest way is to call your realm on each thread. `let realm = RLMRealm.defaultRealm()`, then fetch the objects you want on that thread. If you want to pass objects, you can create an NSArray of primary keys and then fetch them again from the main thread. For the most part, Realm is really fast to be run on the main thread, so you don't have to worry about performance is

[2015-03-17 17:03] yoshyosh commented on #1621
@mhergon Can you try checking exception breakpoints in your xcode project so xcode will throw when any exception occurs?

[2015-03-17 17:13] #1521 closed

[2015-03-17 17:20] rciobanu-omnifone commented on #1097
@yoshyosh the problem with this approach is that one would usually need the objects corresponding to the IDs in the same order that the IDs were, which is not currently available. There is no ```+ (instancetype)objectsInRealm:(RLMRealm *)realm forPrimaryKeys:(NSArray *)primaryKeys```
Example: if the heavy lifting is done in a background thread and as part of that work the results are being ordered

[2015-03-17 17:29] khanov opened #1658 "Reference cycle in one of the examples"
Hi!

I think [one of the examples](https://github.com/realm/realm-cocoa/blob/master/examples/ios/swift/TableView/TableViewController.swift#L40) has a reference cycle.

    class TableViewController: UITableViewController {

        var notificationToken: RLMNotificationToken?

        override func viewDidLoad() {
            // Set realm notification block
            notificationToken = RLMRealm

[2015-03-17 17:29] mhergon commented on #1621
@yoshyosh Yes, I'm using parse and breakpoints are enabled

[2015-03-17 17:39] yoshyosh commented on #1621
Got it! Anything you can share with us that we could use to reproduce the hanging behavior would be greatly helpful. I understand how much work it is to repackage a project especially when you just want to get it out the door. Thanks for your patience in debugging this so far, glad to hear it is working at the very least! Feel free to ping on this issue/email, if you do come up with a small projec

[2015-03-17 17:39] #1621 closed

[2015-03-17 20:03] BeamerCola commented on #1654
I'm sorry, they both have:
[code]

Just left that out

[2015-03-18 02:57] webmagnets opened #1659 "How can I change my simulator to 64 bit?"
I am getting the "Realm file is currently open in another process which cannot share access with this process. All processes sharing a single file must be the same architecture. For sharing files between the Realm Browser and an iOS simulator, this means that you must use a 64-bit simulator." error.

How can I change to the correct simulator?

[2015-03-18 03:23] jpsim commented on #1659
When running your app in the simulator, make sure you pick either the "iPhone 5s", "iPhone 6" or "iPhone 6 Plus" as the destination.