[2020-10-08 16:08] eastsss commented on #6799
@pavel-ship-it Now it works perfectly! Thanks!

[2020-10-08 19:12] hyouuu commented on #6836
ping @jedelbo @tgoyne any insights in this? It's causing lots of crashes for affected users, although the percentage of affected users is low

[2020-10-08 19:28] #6620 closed

[2020-10-09 12:49] jedelbo commented on #6836
This looks like using a null pointer, but I have not been able to figure out how that could be possible given the location where it happens. Tried to make a test case using the query string like the one given above, but I have not been able to make it crash.

[2020-10-09 14:50] intiocean opened #6848 "Chaining realm results from swift in a mixed objc/swift project"
I'm starting to use realm in a mixed swift/objc project and am having issues chaining queries (from swift). The types returned (from `RLMSupport.swift`) aren't of my Realm Subclass and so I get a number of errors. Am I expected to force cast each one? Or how is this supposed to work?

_As an aside I've found it hard to figure out how Realm objc was supposed to be used from Swift. Initially I tried

[2020-10-09 15:02] pavel-ship-it commented on #6848
Hi @intiocean
You should be able to inherit your models from `Object`. The query should be type of `Result`
in your case
[code]
Could you please try to define the model in that way?
Will it works for you?
if no - what error do you see in the xcode?

[2020-10-09 15:07] intiocean commented on #6848
Hi @pavel-ship-it, thanks for your quick reply. Note that I'm using Realm objc not RealmSwift (as it's a mixed objc/swift project and that is what the docs recommend).

Here is my Realm object class
ActivityPhoto.h
[code]

[2020-10-09 15:52] tgoyne commented on #6848
Swift's bridging of obj-c generic is unfortunately quite poor and even though `objectsWhere:` is declared as returning `RLMResults<RLMObjectType>` and `photos` has a statically known generic type, it doesn't actually use that generic type and treats the method as if it returns `RLMResults<NSObject>`

You could cut down to one cast by declaring `photos` as `RLMResults<NSObject>` and then do `return

[2020-10-09 16:03] intiocean commented on #6848
Understood @tgoyne - That's a pain as I actually would have to do two force casts to make it stop complaining

With just one force cast:
![image](https://user-images.githubusercontent.com/725843/95605482-4d4a1580-0a59-11eb-8647-282cb5e6a2fe.png)

Adding a second:
![image](https://user-images.githubusercontent.com/725843/95605618-7c608700-0a59-11eb-9e98-bc6f28e20b0d.png)

What is the state of using

[2020-10-09 16:25] tgoyne commented on #6848
RLMObject subclasses can't be used with the RealmSwift APIs, and none of the Swift stuff can be used from obj-c. If you have a subset of types which are only ever used from Swift you could use RealmSwift for those and the obj-c API for other ones, but that seems like a recipe for confusion unless it's a very temporary thing as you port the rest of your app to Swift.

Actually, now that I look at t

[2020-10-09 17:42] cuongtv51 commented on #6785
I have same problem with carthage.

[2020-10-10 08:25] initGalen commented on #6785
@ericjordanmossman  i add  ` s.pod_target_xcconfig = { 'VALID_ARCHS' => 'x86_64 armv7 arm64' }`
 in my podsepc  execute `pod lib lint` sucess

[2020-10-11 12:41] f3n1kc commented on #6831
Hi @pavel-ship-it,

I was checking theory that crash might be related to Realm objects allocated on background thread and outliving it.
However I see that crash is also happening on threads, where we manually control thread execution. We used code setup similar to one described in “Realm - Building Modern Swift Apps with Realm Database", chapter “Chapter 10: Effective Multi-threading”:
1) create T

[2020-10-11 21:13] scottcarter opened #6849 "Write transaction is not blocking notifications with valid token in all cases."
## Goals
I wish to block any notifications for specific write transactions.

## Expected Results
Notifications are blocked when calling realm.write(withoutNotifying:) with a valid notification token in array argument.

## Actual Results
In a small percentage of cases, a notification is generated.  The code sample writes 2,000 objects sequentially and can see 1 - 3 unexpected notifications in most

[2020-10-11 22:53] voragomod commented on #6843
have same issue

[2020-10-12 02:39] GalCohen commented on #6809
Thanks! Will keep this all in mind... just trying to find the right time and place to do this now. I'll open up with specific issues as I come across them.

[2020-10-12 02:39] #6809 closed

[2020-10-12 08:10] #5665 closed

[2020-10-12 09:54] ginhoor opened #6850 "Assertion failed: header.m_top_ref[1] == 0 with (header.m_top_ref[1], get_file_path_for_assertions())"
when I open a realm db file, it's crashed.

I use Realm Studio open this file, it display blank.

I don't know what happened, how can I catch this error or fix it?

Here's the crash log：

[code]

[2020-10-12 10:24] ppamorim commented on #6843
@AuraNica Are you able to reproduce this on `5.4.8`?

[2020-10-12 11:01] ginhoor commented on #6850
here‘s the tail of wrong file:
[code]

in right file, it seem like this:
[code]

so, I add some zero in the end:
[code]

now when I open ream file, it will not crash, but throw error:
[code]

it can help me. I will check file size before open it, and when it size is wrong, I will delete this file.

I think it's broken when writing data to file. how can I fix this.

[2020-10-12 16:01] ericjordanmossman commented on #6850
@jedelbo @finnschiermer
I don't see any occurrence of `Assertion failed: header.m_top_ref` in the past. Are you familiar?

Note: I think is realm-cocoa v4.3.1 because of core 5.23.8. So I'm not sure if this code path would have been modified by core v6?

[2020-10-12 16:01] tgoyne commented on #6849
https://github.com/realm/realm-object-store/pull/1103 will probably fix this once it's included in a release.

[2020-10-12 16:16] #6842 closed

[2020-10-12 16:20] tgoyne commented on #6849
Pointing the test app to realm-cocoa master fixes it, so it looks like it is that bug.

[2020-10-12 16:20] #6849 closed

[2020-10-12 17:08] ericjordanmossman commented on #6802
@kolakovskijj
I'm closing this issue because of inactivity. If you'd like to keep this issue open, please see Lee's [question above](https://github.com/realm/realm-cocoa/issues/6802#issuecomment-699881474).

[2020-10-12 17:08] #6802 closed

[2020-10-12 17:11] ericjordanmossman commented on #6781
@ashwiniPersonal
Were you able to upgrade? Does the error persist after that upgrade?

[2020-10-12 19:40] ericjordanmossman commented on #6573
@winstondu

Could you share the full detail on the crash you're seeing? If schema validation fails then there should be no changes to the file. Seeing the full error message and stack trace could help us understand more.

[2020-10-13 07:55] jedelbo commented on #6847
FIxed by https://github.com/realm/realm-core/pull/3989

[2020-10-13 13:48] ganesh-ananthan opened #6853 "std::__1::__thread_proxy<std::__1::tuple<std::__1::unique_ptr<std::__1::__thread_struct, std::__1::default_delete<std::__1::__thread_struct> >, realm::_impl::ExternalCommitHelper::ExternalCommitHelper(realm::_impl::RealmCoordinator&)::$_0> >(void*, void*)"
Application got crashed while accessing realm, we do access only desired known tables. But in the exception it's pointing no such table found.

`Incident Identifier: 0af7d1fd-9805-4b24-841a-1b0079d068ec
CrashReporter Key:   8CA543BC-C77B-4085-940F-7DCC8AFB243A
Hardware Model:      iPad6,12
Process:         appName [437]
Path:            /private/var/containers/Bundle/Application/50510610-5101-4F92

[2020-10-13 13:52] ericjordanmossman commented on #6853
@ganesh-ananthan
Closing as duplicate of #6767. If you have any more information on the crash please update in that thread.

[2020-10-13 13:52] #6853 closed

[2020-10-13 13:54] peterpaulis commented on #3704
+1

[2020-10-13 14:24] #6813 closed

[2020-10-13 14:27] ppamorim commented on #6843
@AuraNica Are you running the application with the debugger active? I notice that my `write` transactions are really slow when the iPhone is connected.

[2020-10-13 15:42] visdyn opened #6854 "Anonymous Sign In Crash"
##  Goals
Realm should not crash when signing in with Anonymous sign in. The crash is occurring with 10.0.0-beta.6, however I believe it did not crash with beta.4

## Expected Results
See above

## Actual Results
When signing in with anonymous sign in, Realm Crashes

Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)

## Steps for others to Reproduce
Use anonymous authentication

##

[2020-10-13 16:12] ericjordanmossman commented on #6854
Creating a quick ad-hoc app confirms the same. This occurs when an anonymous user has previously logged in on the device.
<img width="998" alt="Screen Shot 2020-10-13 at 12 11 07 PM" src="https://user-images.githubusercontent.com/25092858/95886924-33f0e400-0d4d-11eb-9564-7e1fcfae36a1.png">

We'll need to look into this more.

[2020-10-13 16:16] ericjordanmossman commented on #6854
For what it's worth, a check for logging out current users appears to workaround the crash. But I'll still update here once I know more.

[2020-10-13 19:55] ericjordanmossman commented on #6854
@visdyn
When logging in an anonymous user we check to see if a logged-in anonymous user exists. If so, we'll pull the existing anonymous user from the syncManager, set that as the current user, then return that user in the callback.

I believe the `DispatchQueue.main.sync` within the callback is causing a deadlock when this happens. If you remove this do you still see the crash?

[2020-10-14 00:24] levelchanger opened #6857 "RLMApp login marked with NS_REFINED_FOR_SWIFT"
!!! MANDATORY TO FILL OUT !!!

## Goals

Starting with 10.0.0-rc.1, the login method of RLMApp has been marked with NS_REFINED_FOR_SWIFT and there is no Swiftified way to call the function. This change was not documented in the change log and it appears to affect more than just this method. Why was this done?

## Expected Results

Be able to call methods that are marked as NS_REFINED_FOR_SWIFT in

[2020-10-14 00:33] jsflax commented on #6857
I can confirm that this is a bug. We'll have this fixed before final release (later this week).

[2020-10-14 02:37] ganesh-ananthan commented on #6853
the mentioned ticket #6767 used realm version 5.3.2, we are using latest realm version 5.4.7. As per finnschiermer's comment on that ticket, they must have enough logs in current stack trace. Consider this as fresh issue and analyse.

[2020-10-14 07:35] PareshPatel721 opened #6859 "Unable to install Realm in my project with use of Cocoapods"
Below is my Podfile look like

target 'RealmDatbaseDemo' do
  use_frameworks!
    pod 'RealmSwift'
end

When i hit command  Pod Install in terminal
I'm getting below error

pod install
Analyzing dependencies
Downloading dependencies
Installing Realm (5.5.0)
[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

Downloading dependency: sync 5.0.29 from https://static.realm.io/downloads/sync/realm-syn

[2020-10-14 08:17] rubenbacanu commented on #6800
+1

[2020-10-14 10:32] thomasarogers opened #6860 "Realm Swift mutex lock failed: Invalid argument, Error Code=22"
## Goals
Got a react native project and have been using RealmJS in RN without issue. Project now has a need for a native module so imported RealmSwift as a cocoa pods dependency and are trying to create a Realm instance on the native side in a Swift file for storing data in an App Group container to share with an App Extension.

## Expected Results
New Realm is created without error

## Actual Res

[2020-10-14 13:14] bo46 opened #6861 "crashes watchOS app after foreground ("terminated due to signal 9")"
## Goals
Realm doesn't terminate watchOS app

## Expected Results
above

## Actual Results
v.5.4.7
- the watchOS's app 1 out of 5 times can terminate when reading\writing in background when active Workout session

v.5.5.0
- the same code as above , crash every time on start of the app

## Steps for others to Reproduce
the watchos app has own database

start the watchOS app -> minimize the applicat

[2020-10-14 13:31] 2h4u opened #6862 "Unexpected iOS Crash: "Cannot register notification blocks from within write transactions.""
## Goals

I want to help to fix the crash.

## Expected Results

No crash.

## Actual Results

Crash.

## Steps for others to Reproduce

Just run the demo project.

## Code Sample

[realm-sample.zip](https://github.com/realm/realm-cocoa/files/5378476/realm-sample.zip)

## Version of Realm and Tooling

[code]

## Description
It looks like that if a `Realm.write { }` is executed on the same thread a

[2020-10-14 13:44] leemaguire commented on #6857
Hi @levelchanger ,

The change description for this actually ended up under the v5.2.0 release notes, as seen here https://github.com/realm/realm-cocoa/blob/v10/CHANGELOG.md#520-release-notes-2020-06-30

The `App.login(withCredential:completion:)` method has changed to `App.login(credentials:completion:)`

[2020-10-14 14:17] thomasarogers commented on #6860
***** UPDATE:
If I remove the npm RealmJS dependency from the React Native part of the project it solves the issue. Looks like by having Realm in npm and RealmSwift in cocoa pods separately for the Swift side there is a thread conflict.

I guess RealmJS is using Realm-cocoa under the hood same as RealmSwift. I need to use RealmJS on the RN side and I need to use RealmSwift on the swift side, how c

[2020-10-14 14:32] TheHmmka commented on #6861
Hey, guys! The same here! =((

[2020-10-14 15:52] ericjordanmossman commented on #6859
@PareshPatel721
Which Xcode version? 11.6?

Appears unable to find a 13.6 simulator. Checking Xcode -> Preferences -> Components may give more detail. Also please reset your state by removing the `Pods` the file. Then `pod install --repo-update`.

[2020-10-14 16:07] AuraNica commented on #6843
I've waited to release yesterday a version of our app with realm 5.4.8 and I was able to see today that some users are still facing the issue.

I could never see the issue with the debugger attached, only on the store version.

[2020-10-14 17:59] ericjordanmossman commented on #6860
I asked the team for more info on this.
It's impossible to have two Realm libraries in the same app if either is built as a static framework.
If the two libraries are dynamic frameworks then the two copies can function independently of each other. You still _couldn't_ pass objects between them (even if the two realm libraries had the realm-core version).

RealmJS isn't exactly using Realm-cocoa. B

[2020-10-14 19:24] anatoliykant commented on #6684
I checked and it works for me.
The only thing at the end of MyFramework.podspec I had to add the following three lines:
[code]
Thx @dannydeut & @stareta1202

https://github.com/realm/realm-cocoa/issues/6685#issuecomment-704744277

[2020-10-14 21:27] ericjordanmossman commented on #6861
@bo46 @TheHmmka Would either of you be able to share a small sample reproduction in a .zip? I'm working on a simulator. So hopefully it'll clear up if the device is related.

[2020-10-14 22:18] ericjordanmossman commented on #6862
Closing as a duplicate of #4818 , which is still open.

Feel free to comment on 4818 and I'll ask the rest of team. If you haven't already, check out [Contributing.md](https://github.com/realm/realm-cocoa/blob/master/CONTRIBUTING.md)
Thanks for the clear submission and sample .zip, by the way.

[2020-10-14 22:18] #6862 closed

[2020-10-15 01:33] winstondu commented on #6573
@ericjordanmossman , I have already provided the full code of how to replicate this. Go ahead and try a sample project to do this.

[2020-10-15 03:35] PareshPatel721 commented on #6859
@ericjordanmossman
Yes it is Xcode 11.6.

[2020-10-15 03:36] Apach3Q opened #6863 "Crash for some users Realm 4.1.1 - realm::util::terminate(char const*, char const*, long) + 10"
## Goals
I want update realm database, include insert or update or delete operations.
This problem has been bothering me for a long time, but I can't solve it.

## Expected Results
No crash.

## Actual Results
[code]

## Steps for others to Reproduce
I cannot reproduce this error locally on any devices.

## Code Sample
That is my code:
[code]

## Version of Realm and Tooling

Realm framework versi

[2020-10-15 12:01] thomasarogers commented on #6860
Thanks for you response, sorted the issue by reverting both versions to ensure both RealmJS and RealmSwift are using the same RealmCore version, seems to have fixed it

[2020-10-15 12:01] #6860 closed

[2020-10-15 12:07] FelixII commented on #6861
I can confirm this issue on my Apple Watch SE running watchOS 7.0.2. The affected Realm versions for my app are 5.4.8 and 5.5.0

The problem occurs when I rotate my wrist to turn off the screen. I couldn't reproduce it in the simulator yet.

The crash does not occur on my older Apple Watch Series 2 running watchOS 6.2.8 (Realm version 5.4.8).

I've started working on a sample project but couldn't

[2020-10-15 12:46] ppamorim opened #6865 "Change notifications not being delivered until refresh() is called"
## Goals

This issue is a long one that I can see happening in my application for a very long time. I was sceptical to create this issue since I see this happening for many years and I could not discover the issue.

In your `UIViewController`, you do something like this in the main thread:

[code]
_Note that values `self.xxx` are located as variables in the `UIViewController`._

Later on, if you w

[2020-10-15 14:14] noam99 opened #6866 "Unable to install Realm in my project through CocoaPods"
Below is my Podfile look like

target 'Realm' do

  use_frameworks!

   Pods for Realm
pod 'RealmSwift'

end

When I hit the command "Pod Install" in the terminal I'm getting the below error:

[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

Downloading dependency: sync 5.0.29 from https://static.realm.io/downloads/sync/realm-sync-cocoa-5.0.29.tar.xz
ld: building for iOS Simulator, but linking

[2020-10-15 14:47] IgorGanapolsky commented on #6692
Just run the examples from  git@github.com:realm/realm-java.git, and you'll see the error.

[2020-10-15 15:29] bguidolim opened #6867 "Potential performance issue on Realm v5.x.x"
## Goals
Identify the reason for poor performance when importing a huge amount of data.

## Expected Results
Have an acceptable processing time when importing a huge amount of data.

## Actual Results
Realm has a poor performance when importing a huge amount of data.

## Steps for others to Reproduce

Inside the zip file provided below, you can find two projects, one with Realm v4 and another one

[2020-10-15 15:51] bguidolim commented on #6867
Just out of curiosity, I did run both projects using the simulator, I got the following results:

**v4.4.1:**
 - Completed in 69 seconds
 - Realm file size: 184,5 MB

**v5.5.0:**
 - Completed in 8 minutes and 39 seconds
 - Realm file size: 310,6 MB

[2020-10-15 16:09] tgoyne commented on #6867
Unsurprisingly this is completely i/o bound, so the problem is that it's having to write a lot more data. That's pretty surprising, as the changes in how data is stored were supposed to *reduce* writes. Will have to look into this more...

[2020-10-15 16:34] ericjordanmossman commented on #6866
I've seen errors similar to this in Xcode _after_ an install. But this is occurring during `pod install`?
Do you see this error with these changes in the podfile:
[code]
Then reset your cocoapods state: Remove `Pods`, `pod install --reop-update`.

[2020-10-15 16:34] ericjordanmossman commented on #6866
Also are you intending to use Mac Catalyst?

[2020-10-15 16:38] noam99 commented on #6866
Yes, the error occurs during "pod install", and now I'm going to try your suggestions.

So my podfile should look like this?:

pod 'Realm', git: 'https://github.com/realm/realm-cocoa.git', submodules: true
pod 'RealmSwift', git: 'https://github.com/realm/realm-cocoa.git', submodules: true

post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configurations

[2020-10-15 16:49] noam99 commented on #6866
Yes the error occurred during "pod install" and I tried your suggestion but the error still occurs, and i have no intentions in using Mac Catalyst.

Just to be sure my podfile should look like this?
pod 'Realm', git: 'https://github.com/realm/realm-cocoa.git', submodules: true
pod 'RealmSwift', git: 'https://github.com/realm/realm-cocoa.git', submodules: true

post_install do |installer|
     inst

[2020-10-15 17:02] ericjordanmossman commented on #6866
See here for a [reference](https://github.com/realm/realm-cocoa/tree/master/examples/installation/ios/swift/CocoaPodsExample).

^This would need to be the desired `target`s.

[code]
^This would need to go at the end of your file. Not nested in any `target`s or anything (three `ends`, instead of four).
Then reset the state with the steps I mentioned eariler.
I'm not confident this will completely f

[2020-10-15 17:12] noam99 commented on #6866
The problem still persists, is there any other ways to solve this?

Could the problem be related to the fact that the architecture is "x86_64" and its references to Mac Catalyst?

[2020-10-15 17:22] ericjordanmossman commented on #6865
Nothing jumps out immediately as to what the problem is. One relevant piece may be the runloops, though. I'd read through this to see how much [it helps](https://academy.realm.io/posts/realm-notifications-on-background-threads-with-swift/).

[2020-10-15 17:34] ericjordanmossman commented on #6863
Based on the stack trace I think you could be hitting the assertion failure that was fixed in [4.4.1](https://github.com/realm/realm-cocoa/releases/tag/v4.4.1). If you can share console output or upgrade to 4.4.1 then we could confirm.

[2020-10-15 19:18] tgoyne commented on #6867
I think I see why this is so different: one of the changes in 5.x is that we now use the primary key as the clustered index key, which means that the primary key value determines the order which the objects are stored in the Realm. This means that while with 4.x the bulk insertion was only appending objects on at the end, with 5.x it's doing mid insertions that result in a lot more data having to

[2020-10-15 19:20] tgoyne commented on #6865
On possibility is that we deliver notifications to the runloop default mode, so if the runloop is in a different mode (such as while scrolling a table view) the notification will not be delivered until it switches back to the default mode.

[2020-10-15 19:29] bguidolim commented on #6867
@tgoyne Thanks for taking a look at it.

I've got your point.

The idea behind of creating chunks of 1000 is to let the user start working with some data already, without making them waiting for too long.

Do you see any room for improvements here or are you considering this issue as closed?

[2020-10-15 19:30] tgoyne commented on #6867
I think that this big of a regression is definitely something we need to find a way improve.

[2020-10-15 19:42] ericjordanmossman commented on #6853
I understand, thank you. We prefer to have a single issue for crashes that are present in multiple versions. Otherwise we'd have 10 different issues for the same crash on different versions.
Feel free to comment in 6767 with updated info for the latest version.

[2020-10-15 20:21] ericjordanmossman commented on #6505
Has anyone continued to see this crash in >=5.4.2?
As Lee mentioned [here](https://github.com/realm/realm-cocoa/issues/6732#issuecomment-696055358), changes to file locking were added.

[2020-10-15 20:24] ericjordanmossman commented on #6732
I'm closing #6732 in favor of #6505. Please continue discussion there.

[2020-10-15 20:24] #6732 closed

[2020-10-15 20:34] ericjordanmossman commented on #6733
This issue has been closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-10-15 20:34] #6733 closed

[2020-10-15 21:16] ericjordanmossman commented on #6854
@visdyn
Perfect, thanks. I'm going to close this issue because `.logIn` is behaving as expected.
The recommendation here is: steer away from using the `main.sync` in completion blocks. It's not guaranteed as legal in most completion handlers. If you need to dispatch something to .main, please use `.async`.

[2020-10-15 21:16] #6854 closed

[2020-10-15 21:24] visdyn commented on #6854
@ericjordanmossman

If the issue is being closed, you may want to also update the documentation example(s)

https://docs.mongodb.com/realm/ios/authenticate/#anonymous-authentication

[2020-10-15 21:26] ericjordanmossman commented on #6854
Yes for sure :). They've been notified.

[2020-10-15 21:52] ericjordanmossman commented on #6866
Yeah, I've been seeing similar errors like this since WWDC. The temporary solution is usually selectively excluding architectures. But it's not immediately clear to me what it means _during_ `pod install`. Could you add the --verbose flag and share that.
Maybe @leemaguire has more understanding.

[2020-10-15 22:15] leemaguire commented on #6866
@noam99 What version of pods are you using? Do you catalyst enabled even though you are not using it?

[2020-10-16 02:17] Apach3Q commented on #6863
Is there any problem with my code? The insert or delete method in extension.

[2020-10-16 02:32] tgoyne commented on #6867
It appears that the first 32k rows insert at roughly the same speed as v4 and it only slows down after that, so you could perhaps do 1k batches for the first 32 and then switch to a larger batch size after that.

[2020-10-16 07:43] phuocmobytelab commented on #5475
hi all, do u fix this bug? i met the same issue @haemi

[2020-10-16 08:00] bguidolim commented on #6867
Fortunately, we don't have too many customers with this size of data to import. As a palliative solution, I'll increase the batch size to 10k, it has acceptable performance, should be enough for now. Looking forward to a real solution provided by Realm.

Please let me know if I can help with something else.

[2020-10-16 09:35] #6491 closed

[2020-10-16 09:36] ppamorim commented on #6865
@tgoyne Do you know how I check the current `RunLoop` mode in this case?

[2020-10-16 13:37] noam99 commented on #6866
In the end, I've successfully downloaded Realm through Swift package manager so it should be ok now.

My pod version is 1.10.0.rc.1 and how can I check if I am catalyst enabled?

Don't beat yourself too hard know that I've been able to install it with a different method, but I hope that in the future I will have no issues to install Realm with cocoaPods

[2020-10-16 15:27] ericjordanmossman commented on #6863
Depends what your goals are. If you're using swift you might be better off with our RealmSwift API directly in your view controllers instead of extending RLMRealm.
With respect to the crash, does 4.4.1 resolve the crash?

[2020-10-16 15:30] ericjordanmossman commented on #6829
Closing because of v10.0.0-rc.1. @jeanbaptistebeau Please comment if you're still seeing this and we can re-open.

[2020-10-16 16:09] ericjordanmossman commented on #6692
@IgorGanapolsky
I'm a bit confused. Do you hit this when only using realm-java? Or do your see this error in realm-cocoa too? Which examples in realm-java? All of them? Encryption?
Thanks.

[2020-10-16 16:21] IgorGanapolsky commented on #6692
All of the examples in realm-java

On Fri, Oct 16, 2020 at 12:09 PM ericjordanmossman <notifications@github.com>
wrote:

[2020-10-16 18:44] levelchanger commented on #6857
This was not fixed in 10.0.0.rc-2. There are many methods marked as NS_REFINED_FOR_SWIFT for no apparent reason. I have a mixed Objective C/Swift project so I use the Objective C SDK. I've had to write wrappers in Objective C around the methods marked with NS_REFINED_FOR_SWIFT so I can call them from my Swift code. Why, oh why, are methods marked with NS_REFINED_FOR_SWIFT?

[2020-10-16 19:05] ericjordanmossman commented on #6573
If I port the samples into an app the first migrations goes through as valid.
I have to create `User` objects and assign a `User` to `friend` (version 0). Doing this creates two problems:
1) The app won't compile for version 1 because I'd be assigning `User` to a `Date` field.
2) The migration block is attempting to modify objects managed by another realm.

Both of these issues are differ from you

[2020-10-17 02:19] Apach3Q commented on #6863
Thank you for your advice. Because my project was transferred from OC and I will replace it with RealmSwift in future release.
Yesterday I released a new version to fix the problem by upgrade to 4.4.1.
Now I’m waiting for firebase crashlytics logs.

[2020-10-17 04:58] KimiChiu opened #6871 "Invalid top array size"
## Goals
Get realm instance.

## Expected Results
Return realm instance

## Actual Results
2020/10/16 10:35:48:762  [RealmHelper/getDefaultRealm] [ERROR] Failed to get realm, error = Unable to open a realm at path '/var/mobile/Containers/Data/Application/A4620727-4E79-4490-99E1-89E1CE48A458/Documents/default.realm': Invalid top array size (ref: 43002032, size: 0)
Exception backtrace:
0   Realm

[2020-10-17 10:07] sunpooh commented on #6790
I have got exactly same issue while running on tvOS 14.
Btw, still didn't fix this issue for cocoa pods?

[2020-10-17 15:47] jsflax commented on #6790
@sunpooh What version of Realm are you using?

[2020-10-17 16:21] happylance commented on #6836
@jedelbo The crash happens because `get_key(0)` is trying to get the first element of `m_index_matches` which is an empty array in query_engine.hpp.
![Screen Shot 2020-10-17 at 12 13 07 PM](https://user-images.githubusercontent.com/4953175/96347876-b5f54b80-1072-11eb-844f-85b640bc1051.png)

[2020-10-18 03:37] dlpigpen commented on #6684
I think we can combine two lines pod_target_xcconfig into one line like this:
[code]

[2020-10-18 03:58] dlpigpen commented on #6785
I do the same but no luck.

[2020-10-18 04:00] ckunze123 opened #6872 "Mongodb Realm installation using Xcode 11.4 with Cocoapods causes error"
I created a new Swift app with xcode 11.4 and I am trying to install the pod for Mongodb Realm as per the instructions in the documentation (https://docs.mongodb.com/realm/ios/install/#ios-install). But when I do "pod install" I am getting this error:

*Installing Realm (10.0.0-beta.6)
[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup
Downloading dependency: sync 10.0.0-beta.14 from https://stat

[2020-10-18 10:42] x-NR-x commented on #6800
Hi,

We are facing the same issue as well.
Xcode 12
Cocoapods 1.9.3
Realm 5.5.0

Is there any kind of update?

Thanks,
Nilit

[2020-10-19 06:01] ganesh-ananthan opened #6873 "Realm Version 5.4.1 providing empty results (eventhough the result available)"
Long story Short:
Application version - 2.4.3 - Realm Version 4.4.0 - No Crash
Application Version -2.4.4 - Realm Version 5.4.1 - Lot of PNS crashes

We upgraded to version 5.4.1 to avoid crashes of accessing realm from shared directory. After the app released to store we are getting more crashes w.r.t VOIP push not report to call kit. But in earlier version we don't have such issue.

Questions :

[2020-10-19 06:29] #6872 closed

[2020-10-19 07:30] lawgimenez opened #6874 "Semantic Issue"
!!! MANDATORY TO FILL OUT !!!

## Goals

Compile Realm version 10.0.0 in Xcode version 12.0.1

## Expected Results

Realm library threw a compile error, a semantic issue. I am using Xcode's Swift Package Manager.
`Aligned deallocation function of type 'void (void *, std::align_val_t) noexcept' is only available on iOS 11 or newer`

## Actual Results

Following are some of the logs reported by Xcod

[2020-10-19 15:19] jsflax commented on #6874
With a fresh project importing RealmSwift through SPM on the same version of Xcode with an iOS 9.0 deployment target, I'm unable to reproduce this issue.

Do you have a sample/sandboxed project that reproduces this?

[2020-10-19 15:41] anfomin commented on #6874
I have the same issue when compile target is "Any iOS Device (arm64)". If I change target to simulator or real device then there is no errors. Using Xcode 12.0.1 and Realm 10.0.0.

[2020-10-19 17:44] mentrena commented on #6800
And still facing this issue on:
Xcode 12.0.1
Cocoapods 1.9.3
Realm 10.0.0

[2020-10-19 22:17] tgoyne commented on #6874
The SPM package has a minimum deployment target of iOS 11. This is due to that compiling for 32-bit iOS requires passing -fno-aligned-new to the compiler, which SPM does not allow.

[2020-10-20 01:26] lawgimenez commented on #6874
For the meantime, I should go back installing through Cocoapods?

[2020-10-20 06:38] McKuzmich commented on #6859
Well, looks like your path to Xcode 11 contains spaces and this line of code
https://github.com/realm/realm-cocoa/blob/b61081f0d48f57384ef6572eda717524e5baf93e/build.sh#L714
is not taking that into account. Just a pair of quote marks would fix that. Or you could rename Xcode 11 to Xcode11

Had same problem. Fixed by renaming Xcode app

[2020-10-20 07:55] jesusmateos1234 opened #6876 "Bugs: Carthage - Skipped installing realm-cocoa.framework binary due to the error"
!!! MANDATORY TO FILL OUT !!!

## Goals
Binary it's downloaded

## Expected Results
Binary it's downloaded

## Actual Results
Skipped, binary not downloaded and not compiled

## Steps for others to Reproduce
execute:  Carthage update --platform iOS

Realm framework version: 5.3.6

Dependency manager: Carthage version: 0.36

[2020-10-20 10:05] twalshcbs commented on #6874
I am getting this also.  Only happens on archiving to "Any iOS Device (arm64)"

[2020-10-20 10:17] liefersfl commented on #5334
I need this so badly! Of course i can write a migration and convert all List<String> to something like List<MyRealmString> but it would be so stupid if i change my code base (iOS / Android), check all implications, migrate thousands of databases and two weeks later this feature is available.

Currently my apps just ignore this kind of filtering but the number of users complaining about that is inc

[2020-10-20 13:03] ianpward commented on #5334
We are working on it now - hopefully within the next quarter or so

[2020-10-20 15:33] AuraNica commented on #6843
I was able to see the error at realm init:
**"Encrypted interprocess sharing is currently unsupported.DB has been opened by pid: 4848. Current pid is 5806. "**

But we don't have app groups or share extension in our app, is there anything else that could cause this issue?

Do you have any idea what could have happened?

[2020-10-21 06:47] #6835 closed

[2020-10-21 07:30] Sikandarkhan commented on #6692
I had a problem with reading version 20.

[https://studio-releases.realm.io/ ](https://studio-releases.realm.io/ )Check this portal for supporting file formats.

**The issue is fixed by downloading the latest dmg file**

[https://static.realm.io/downloads/realm-studio/MongoDB%20Realm%20Studio-10.0.0.dmg](https://static.realm.io/downloads/realm-studio/MongoDB%20Realm%20Studio-10.0.0.dmg)

[2020-10-21 09:05] gyb1314 opened #6877 "Can't open database file with encryptionKey"
The database file cannot be opened using encrypted database configuration, but it was possible before

[2020-10-21 10:37] PareshPatel721 opened #6878 "Realm Studio not able to open"
I've downloaded Realm Studio 5.0.1 dmg from [https://realm.io/docs/swift/latest/](https://realm.io/docs/swift/latest/)
I extracted it and add in Application Menu of Mac
When i try to open realm studio it give error like below.
![Screenshot 2020-10-21 at 4 04 34 PM](https://user-images.githubusercontent.com/33339336/96708854-72267d00-13b7-11eb-914a-d8ebb9d74e7c.png)
Please help me

[2020-10-21 10:38] #6859 closed

[2020-10-21 10:39] PareshPatel721 commented on #6859
Thanks It works
Now I'm using Xcode 12 and i had not make any space in name, it worked fine.
Thank you so much

[2020-10-21 11:46] jedelbo commented on #6836
Thank you for this information. I will have another look, now that we know in more detail what the problem is. The screenshot suggests that you are able to reproduce the issue using a debugger. Is this the case?

[2020-10-21 13:05] happylance commented on #6836
Yes, I was able to reproduce this issue using a debugger. I think the issue can be fixed by checking the boundary of `m_index_matches` before calling `get_key(ndx)`.

[2020-10-21 14:02] jedelbo commented on #6836
Found the bug.

[2020-10-21 14:03] jedelbo commented on #6836
@happylance yes, there is definitely a check missing.

[2020-10-21 14:36] IgorGanapolsky commented on #6692
Version 20 of what - gradle plugin?

[2020-10-21 15:42] jsflax commented on #6878
@kraenhansen pinging you on this.

[2020-10-22 07:02] phuocmobytelab opened #6881 "ThreadSafeReference crash when set readonly-configuration"
Hi, anyone can fix help me this bug. app crashed when I used ThreadSafeReference with readonly configuration. I use realm database in bundle. Below code crash.

[2020-10-22 12:42] PareshPatel721 commented on #6878
One more issue is face
I downloaded REalm Browser from Mac App Store
Now it show error to enter encryption key.
![Screenshot 2020-10-22 at 5 35 45 PM](https://user-images.githubusercontent.com/33339336/96872407-39f36d00-1491-11eb-8582-0626d9ca41dc.png)
Please help me on this

[2020-10-22 13:33] piggeldi commented on #6874
Im also having the problem.
I just migrated from Carthage to SPM and XCode 12 and running into this problem >.<. Does anyone has an idea how to fix this?

[2020-10-22 14:26] ianpward commented on #6878
@PareshPatel721 Realm Browser is deprecated. You need to use Realm Studio - you need to go to Security and Privacy and allow Realm Studio - you can then open it. We are working on notarizing Realm Studio for the App Store right now

[2020-10-22 20:16] jklausa opened #6883 "Crash inside `getSwiftProperties(_:)`"
## Goals
I want to declare a class with `List<String>` children.

## Expected Results
It works.

## Actual Results
It crashes inside `getSwiftProperties(_:)`,

or rather inside

[code]

which I'm guessing is a Swift compiler/runtime/stdlib bug?

Would be nice to know what a workaround for this might be.

## Steps for others to Reproduce
Compile a Realm project with the models defined below.

It cr

[2020-10-22 20:21] jklausa commented on #6883
Some more information, in comment since I think it'll be easier to track down:

1. It doesn't crash if you delete the `xyz` child property, like so:

[code]

2. ...or provide it with a default value:

[code]

I _think_ those are all valid Realm models declarations?

I used the "Single View App" template in Xcode and SwiftPM to reproduce it / nail it down.

If this is actually a Swift bug, I'd appr

[2020-10-22 20:25] tgoyne commented on #6883
This is working as expected. We need to be able to create instances of `Object` subclasses via the zero-arg initializer (both during schema discovery where this is crashing, but also just when reading data from the Realm), and that initializer doesn't exist if you have a property without a default value and don't define it yourself. Swift's reflection functionality unfortunately doesn't let us det

[2020-10-22 20:28] jklausa commented on #6883
Hrm, looks like I might have been wrong in saying that those are valid declarations?

The Realm [general docs] docs say:

However, there's no mention of it in the `Object` docs here: https://realm.io/docs/swift/latest/api/Classes/Object.html

If nothing else, it'd be nice if that was added there :)

[general docs]: https://realm.io/docs/swift/latest/#models

[2020-10-22 21:45] tgoyne commented on #6883
I'll mark this as a docs bug as you're absolutely correct that this should be mentioned there.

[2020-10-22 22:09] duncangroenewald opened #6884 "RealmSwift 5.5.0 Unable to open 4.4.1 Realm file - ERROR: Key Already Used"
## Goals
Open RealmSwift 4.4.1 local file with RealmSwift 5.5.0.

## Expected Results
When opening RealmSwift 4.4.1 files with RealmSwift 5.5.0 we expect the file to be upgraded and opened without any errors.

## Actual Results
RealmSwift 5.5.0 reports a fatal error "Key Already Used" when trying to open a Realm 4.4.1 file.

## Steps for others to Reproduce
Open the Realm 4.4.1 file with an app us

[2020-10-23 06:17] ganesh-ananthan commented on #6873
Can any one from Realm Team check this issue ?

[2020-10-23 06:18] ganesh-ananthan commented on #6763
@finnschiermer Is this fixed in any of the PR ?

[2020-10-23 07:57] jklausa commented on #6883
Hmm, just for my curiosity: if this is caused by need for zero-arg init's, why doesn't this:

[code]

crash?

It only starts crashing when I add `var bar = List<String>()` to `TestChild`.

It's what tripped me up in the first place — my models without default values were compiling fine, but started to crash at runtime as soon I added the `List` (_with_ a default value!) to it.

[2020-10-23 08:23] piggeldi commented on #6874
Ok i found a solution, by setting the iOS platform in realm-core explicitly to iOS 11 fix the archive problem.

https://github.com/piggeldi/realm-core/commit/7f4277169e1b77648bceb3e87aabecde1055e174

[2020-10-23 08:50] jrpinteno opened #6885 "Appending object with primary key to List throws error because element already exists instead of updating it."
Hi,
   I'm not sure whether this would be a bug or feature enhancement. I have the following models (simplified for task at hand) in a swift application and in an Android application (not showing that one but their definitions are analogue)

[code]

Then I have a method to append messages to said channel

[code]

In realm-java version adding the message to the equivalent `RealmList<Message>` would

[2020-10-23 13:43] FelixII commented on #6861
According to the error code `0xdead10cc`, the app is terminated by watchOS because it held on to a file lock or sqlite database lock during suspension.

https://developer.apple.com/forums/thread/126438

There are a few related issues with this error code: #6749, #6671 and #5904

I can confirm that the latest Realm version 10.1.0 is still affected. The crash only occurs when I read data from Realm

[2020-10-23 15:16] jsflax commented on #6885
I wouldn't say it's a bug. How should the List know the intentions of the user? I would say the onus is on the user to explicitly run those checks. RealmSwift has the ability to add and update on the Realm struct itself, but having that implicitly be behaviour on a list feels wrong.

Unless you feel strongly about this (or would want to open a PR demonstrating a clean way to add this functionality

[2020-10-23 15:19] jsflax commented on #6881
Hey @phuocmobytelab , could you provide is with a bit more information/context? A code sample / stack trace would be useful for debugging here.

[2020-10-23 15:22] jsflax commented on #6884
Hi @duncangroenewald , could you provide us with a bit of sample code? Or at least a stack trace? Curious where this is occurring.

[2020-10-23 15:24] jsflax commented on #6877
Hi @gyb1314 , could you please provide us with some sample code or a stack trace? It's difficult to debug the issue without any context.

[2020-10-23 15:25] jsflax commented on #6876
@jesusmateos1234 what's the error? Have you tried running a clean install?

[2020-10-23 15:26] ericjordanmossman commented on #6738
Closing because inactivity - If you're still having issues please comment and we can re-open if needed.

[2020-10-23 15:26] #6738 closed

[2020-10-23 15:27] jsflax commented on #6873
Hi @ganesh-ananthan , we'll take a look at this.

[2020-10-23 15:27] jsflax commented on #6871
@KimiChiu we'll take a look at this.

[2020-10-23 16:28] danielrobleM commented on #6685
Hi @codemeister64 !
Did you find any solution ? i have the same issue

[2020-10-23 16:51] ykhandelwal913 commented on #6685
Anyone find any solution? I have the same issue

[2020-10-24 00:41] sunpooh commented on #6790
Realm version updated to 10.0, after I use this version, it's error disappeared.
Thank you.

[2020-10-24 00:44] tgoyne commented on #6885
You can choose how PK conflicts are handled by explicitly calling `realm.add()` on the object before calling `append()`, which has the `update:` parameter. This is a no-op if the object is already managed by the Realm.

[2020-10-24 00:57] hyouuu commented on #6836
Thanks @happylance for helping identifying the bug and @jedelbo for fixing it - please let me know when the fix is released!

[2020-10-25 12:49] jrpinteno commented on #6885
I was pointing out as well the difference between Realm for java and cocoa.

That's good to know, documentation was not clear on that point. I'll adapt my code to take that into account.

[2020-10-25 12:49] #6885 closed

[2020-10-26 06:14] trr-amsiq commented on #6876
@jesusmateos1234 are you using Xcode 12+?

[2020-10-26 06:16] dhipin commented on #6785
I have used Realm version `4.3.2` in my pods and it is working now in `Xcode 12.1`

[2020-10-26 08:05] zrx89757 commented on #6096
having the same problem, any solution?

[2020-10-26 09:10] codemeister64 commented on #6685
Hi @danielrobleM, yes I`ve resolved the issue.
In my case the following steps works:

1) add following code to post_install section of your podfile:
[code]

2) open your project settings and manually for each of your targets set Excluded Architectures setting (in my case I have two targets - main and push notification extension). [Check this screenshot](https://image.prntscr.com/image/MxFTObusQ4ef

[2020-10-26 09:45] HelloZhu opened #6887 "wdqwdqdqd"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?

Realm Object Server version: ?

Xcode version: ?

iOS/OSX version: ?

Dependency manager + version: ?

[2020-10-26 11:16] bstillitano commented on #6785
Using version 5.5.0 seems to work however 10.1.0 throws the error `Framework not found realm-sync`

[2020-10-26 12:07] rursache commented on #6684
fixed in https://github.com/realm/realm-cocoa/releases/tag/v10.1.0

[2020-10-26 13:41] mkran opened #6888 "Framework not found `realm-sync` (RealmSwift 10.1.0)"
## Goals

Build an empty iOS XCode project after installing RealmSwift v10.1.0 using cocoa pods in a simulator

## Expected Results

Build succeeded.

## Actual Results

[code]

## Steps for others to Reproduce

Follow the instructions here: [Install Realm for iOS](https://docs.mongodb.com/realm/ios/install/)

## Code Sample

## Version of Realm and Tooling

Realm framework version: 10.1.0

Realm

[2020-10-26 13:42] leemaguire commented on #6888
You need to use Cocoapods 1.10

[2020-10-26 13:51] mkran commented on #6888
Thanks so much @leemaguire. That was easy!

[2020-10-26 13:51] #6888 closed

[2020-10-26 16:41] farktronix opened #6889 "Build error under Travis: "Undefined symbols for architecture x86_64: Symbol: realm::ConstLstIf<realm::Decimal128>::min(unsigned long*) const""
!!! MANDATORY TO FILL OUT !!!

## Goals

I'm trying to get our project building under Travis. It builds fine on my local machine using both Xcode and the `xcodebuild` command

## Expected Results

The build should succeed without error, just like it does under Xcode and `xcodebuild` on my local machine

## Actual Results

The build fails with an undefined symbol error for this symbol:

[code]

You

[2020-10-26 18:25] tgoyne commented on #6889
"Could not find proper version of cocoapods (1.10.0) in any of the sources" in the logs suggests that whatever version of cocoapods it's using, it isn't 1.10 and that version is now required by Realm 10.1.

[2020-10-26 21:44] tklocek opened #6891 "Xcode and ReamSwift 10.1: framework not found realm-sync"
!!! MANDATORY TO FILL OUT !!!

I have Xcode ver 12.1 and RealmSwift in version 10.1 throw this error:
ld: framework not found realm-sync
clang: error: linker command failed with exit code 1 (use -v to see invocation)

It happens on existing project when I update all my pods and on new clean project only with import RealmSwift.

When I deintegrated and change RealmSwift version to 5.5.0 everything

[2020-10-26 21:46] leemaguire commented on #6891
You need to be using Cocoapods v1.10

[2020-10-26 21:58] tklocek commented on #6891
I’m using 1.5.2 version.
Must I downgrade?

Pozdrawiam serdecznie,

Tomasz Klocek
tel: +48 604 261 883
tomek@klocek.info
On 26 Oct 2020, 22:46 +0100, Lee Maguire <notifications@github.com>, wrote:

[2020-10-26 21:59] jsflax commented on #6891
@tklocek 1.10 is an upgrade– it is the latest version of Cocoapods.

[2020-10-26 22:34] tklocek commented on #6891
It helps.
Thanks

Pozdrawiam serdecznie,

Tomasz Klocek
tel: +48 604 261 883
tomek@klocek.info
On 26 Oct 2020, 22:59 +0100, Jason Flax <notifications@github.com>, wrote:

[2020-10-26 23:02] farktronix commented on #6889
That error message is a false alarm- it's because the script checks to see if cocoapods is installed, and if it isn't it installs it. Line 926 and 927 show that Cocoapods 1.10.1 is installed:

[code]

[2020-10-27 03:07] bstillitano commented on #6785
Just Confirming that this did infact fix the issue. Simply running `sudo gem install cocoapods` and updating fixed it.

[2020-10-27 09:03] Ilgizzon opened #6893 "Opening Realm files of format version 20 is not supported by this version of Realm"
!!! MANDATORY TO FILL OUT !!!

RealmSwift doesn't work. When trying to open default.realm through Realm Studio, an error appears:
Opening Realm files of format version 20 is not supported by this version of Realm

## Goals

Open default.realm

## Expected Results

Viewing default.realm in Realm Studio

## Actual Results

Error appears when opening default.realm in Realm Studio:
Opening Realm files

[2020-10-27 09:17] leemaguire commented on #6893
Realm Studio 10.0 is the minimum required version to open Realm files generated by Realm Cocoa v10 and above.

https://github.com/realm/realm-studio/releases/tag/v10.0.0

[2020-10-27 12:15] summonerriftofficial commented on #6891
Same problem

[2020-10-27 12:35] tklocek commented on #6891
write this in terminal:
`sudo gem install cocoapods`

[2020-10-27 12:39] cupofheat commented on #6891
Doesn't help :(

[2020-10-27 13:33] tklocek commented on #6891
Try
`pod --version`
Now I have result 1.10.0.

After update Cocoapods I closed Xcode and use:
[code]
when pods are installing you will see which version of realm they will use.
Then I build&run app and it works for me.

[2020-10-27 13:48] Ilgizzon commented on #6893
Thanks! It helped me

[2020-10-27 13:48] #6893 closed

[2020-10-27 15:57] AuraNica commented on #6843
Is there anyone from Realm team that could answer my question above? I'm trying to understand what is wrong in our app and how to fix or change that.

We've updated our app to Realm 10.0.0, but the issue is still here affecting most of our users with iOS 14+ when they leave the app in the background for a long time (sometimes a few hours, sometimes a day).
And the only choice they have (because th

[2020-10-27 16:11] tgoyne commented on #6843
This is pointing at a problem with our workaround for iOS 14 no longer allowing us to use flock(). It sounds like in some case we think that the old process is still running when it isn't, which for unencrypted realms is mostly fine (it just stops us from doing some cleanup) but for encrypted realms isn't.

A bad workaround for this is to delete the `default.realm.management/lock.fifo` file when y

[2020-10-27 16:41] AuraNica commented on #6843
I'll give it a try, but I'm not sure what lock.fifo is, are you referring to this files?

`let realmURL = Realm.Configuration.defaultConfiguration.fileURL!
let realmURLs = [
    realmURL.appendingPathExtension("lock"),
    realmURL.appendingPathExtension("management")
]`

[2020-10-27 17:41] phntxx commented on #6891
Same issue on Cocoapods version 1.9.3. `pod deintegrade` and `pod install` did not help.

[2020-10-27 17:49] tklocek commented on #6891
I make this same mistake, you are checking version of graphic interface not Cocoapods.
You must use this line in terminal:
'sudo gem install cocoapods'

Pozdrawiam serdecznie,

Tomasz Klocek
tel: +48 604 261 883
tomek@klocek.info
On 27 Oct 2020, 18:42 +0100, Bastian Meissner <notifications@github.com>, wrote:

[2020-10-27 17:53] cupofheat commented on #6891
That's helped. Thank you!

[2020-10-28 08:26] DShamaev commented on #6843
@tgoyne are there any troubleshooting steps to identify place that breaks locks more precisely and probably help with a better understanding what's going on? Because in my case any action that moves application to background(switch app, minimize it, open notification center, etc) make realm database unusable on real device with iOS 14 and i couldn't understand why in my case it appears without tim

[2020-10-28 12:29] VinodComlink opened #6895 "V3.16.2 support for Xcode 12"
!!! MANDATORY TO FILL OUT !!!

**Bugs**: Getting Compilation error in Xcode 12 with realm version 3.16.2.

## Goals
Compile realm version 3.16.2 with Xcode 12 with

## Expected Results
Should compile successfully

## Actual Results
 No exact matches in call to intializer

## Steps for others to Reproduce
Try ro compile V3.16.2 on Xcode 12

## Code Sample
extension ModelMappeable where Self: BaseMo

[2020-10-28 12:35] VinodComlink commented on #6895
![Uploading Screenshot 2020-10-28 at 6.02.59 PM.png…]()

[2020-10-28 12:36] VinodComlink commented on #6895
<img width="1106" alt="Screenshot 2020-10-28 at 6 02 59 PM" src="https://user-images.githubusercontent.com/32677695/97436627-4f144400-1948-11eb-8835-9286a9b0e0c9.png">

[2020-10-28 12:39] VinodComlink commented on #6895
We can not update realm version due to certain limitations.

[2020-10-28 16:37] mefilt commented on #2491
TOP

[2020-10-28 22:47] mhuusko5 opened #6896 "RealmSwift via SPM excludes all App/Sync/Mongo functionality!"
[code]

Is this intentional? Is SPM not recommended and I'm supposed to be using CocoaPods?

[2020-10-28 22:55] marchy commented on #2491
So is this available yet or still not merged in?
Been a few years now...

[2020-10-29 00:39] darkForestCat opened #6897 "realm.objects(Object.self).sorted is not working properly in swift 5"
## Goals
I want to sort my objects by the key in ascending, the key is my lastPath component for the image of the object
## Expected Results
So I am expecting that using realm.objects(Object.self).sorted I can show users my objects in ascending by the key
The key example is:  .numberOfImage.png

IT MUST BE SORTED LIKE THIS:

.44.png
.46.png
.59.png
.60.png
.61.png
.154.png
.155.png
.156.png

## Ac

[2020-10-29 08:16] farktronix commented on #6889
I wasn't able to reproduce this with a sample project, which led me to eventually discover this line in our project's `.gitignore`:

[code]

That meant we were keeping around most of the Realm cocoapod in git, but not the libraries. This led to some unexpected behavior on Travis and it looks like it wasn't always fetching the static libraries that it needed.

I fixed this by just excluding all of

[2020-10-29 08:16] #6889 closed

[2020-10-29 08:19] xavierLowmiller opened #6898 "Feature Request: Swift Package Manager Precompiled Binaries"
## Goals
We are in the process of adopting SPM as our primary package manager. Given that it now supports binary artefacts, is there any chance that Realm can be distributed as a precompiled binary?
Compiling Realm is a good chunk of our clean build, and having precompiled binaries would probably speed things up for many developers using Realm and SPM.

## Version of Realm and Tooling

Xcode versi

[2020-10-29 08:27] DShamaev commented on #6897
It's not Realm issue. When you are sorting strings it uses lexicographic or natural order, where '19999' is earlier than '200' (asssuming ascending direction) because it starts with '1'

[2020-10-29 10:38] ganesh-ananthan opened #6899 "please_report_this_error_to_help_at_realm_dot_io"
Application crashed with below details

Realm Version : 5.4.1

Incident Identifier: 25f996f9-d696-4fc9-8065-2bb29a2abfe3
CrashReporter Key:   E8D431A4-DD95-4024-B0AE-DCE51588805D
Hardware Model:      iPhone10,4
Process:         appnameProto [2600]
Path:            /private/var/containers/Bundle/Application/F6BF940F-6F60-4B27-BA5A-DFB920C4D652/appnameProto.app/appnameProto
Identifier:
Version:

[2020-10-29 13:01] darkForestCat commented on #6897
@DShamaev  Yeah I forgot  about this, but now if I have a string property like this how  could  I  sort it correctly?Because it is causing bug in my UITableView :(

[2020-10-29 13:49] leemaguire commented on #6899
@ganesh-ananthan Can you please update to the latest version of Realm and let us know of you face the same issues? Thanks

[2020-10-29 15:37] tgoyne commented on #6898
As of XCode 12.2 beta 3, SPM's binary artifact support doesn't actually work. You can build an application which depends on a prebuilt framework, but Archiving the application fails to set the search paths correctly and that step fails. I filed FB8706513 for this.

Once it actually works there still isn't a great way to let people pick at install time whether they want to use a binary or build fro

[2020-10-29 15:40] xavierLowmiller commented on #6898
Very good points!

Maybe this can be revisited once the dust settles around SPM binary artefacts.

Thanks for your answer!

[2020-10-29 16:14] thecoolwinter commented on #1693
This feature is more relevant now with Widgets on Apple devices, and not being able to access encrypted realms from them. Would be awesome to have.

[2020-10-29 17:17] #6891 closed

[2020-10-30 00:40] darkForestCat opened #6900 "Realm migration block is never called"
## Goals
I have added one new property for 2 different realm objects and I want to do a migration using migration block
## Expected Results
I  was expecting that app will enter the migration block in ` didFinishLaunchingWithOptions` function of my app's delegate

## Actual Results
The app is not entering inside the migration block, when I do the debug it comes only on the `let config = Realm.Confi

[2020-10-30 06:50] #6887 closed

[2020-10-30 06:50] HelloZhu commented on #6887
jj

[2020-10-30 08:17] #6863 closed

[2020-10-30 18:07] darkForestCat commented on #6900
![image](https://sun9-64.userapi.com/RbsxY7QSPHFvufDdq4FRtPxbf63cRcEVC2woYQ/RAt6FosglD8.jpg)
If i put this code where I do the config initialisation and not in the `didFinishLaunchingWithOptions ` Xcode enters the migration block with no problem.Anyone know what could cause this  issue and can I leave migration not in the `didFinishLaunchingWithOptions ` but in my so-called storage class where I h

[2020-10-30 20:25] docterd commented on #6861
Unfurtunatly I'm also affected by this issue. Did you find a workaround yet?

[2020-10-30 23:42] yuratrotskyi opened #6901 "force try! Crash"
Hello

I am getting crashes from my app using `try! Realm()`. It's not 100% reproducible but I get it in my Xcode Organizer (Crashes)

So: in `func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions [UIApplication.LaunchOptionsKey: Any]?) -> Bool` I am setting config `Realm.Configuration.defaultConfiguration = config` and than in same method I am using model from

[2020-10-31 17:32] darkForestCat commented on #6900
At this moment I have resolved this  issue calling  function that triggers migration from the AppDelegate.Everything seems to work fine

[2020-11-01 00:38] dwhitla commented on #3838
It appears the docs were never updated. Still tripping people up.

[2020-11-02 08:08] enze0923 opened #6902 "Realm DB Crash"
iOS 13.7.0 Crash

Crashed: com.apple.main-thread
0  CoreFoundation                 0x191525afc -[__NSArrayM insertObject:atIndex:].cold.2 + 16
1  CoreFoundation                 0x19139ebc8 -[__NSArrayM removeObjectsInRange:] + 1090
2  Readict                        0x104e85564 changeArray(RLMArray*, NSKeyValueChange, unsigned long, void () block_pointer) + 187 (RLMArray.mm:187)
3  Readict

[2020-11-02 10:02] tiwari-umashanker opened #6903 "iOS Sync Error: Bad changeset (DOWNLOAD)"
I am gettig follwing error on ios client and not sure why this is happening. can you please help us:

`RLMSyncError(_nsError: Error Domain=io.realm.sync Code=6 “Bad changeset (DOWNLOAD)” UserInfo={NSLocalizedDescription=Bad changeset (DOWNLOAD), statusCode=112})
default	10:22:08.381259-0400	PattyMelt	Sync: Connection[1]: Session[1]: Failed to parse, or apply received changeset: no such row
Excepti

[2020-11-02 10:08] leemaguire commented on #6902
@enze0923 Can you please fill out the issue template in full. We cannot distinguish what the error may be from the information you provided.

[2020-11-02 10:16] leemaguire commented on #6901
@yuratrotskyi one issue you will face is that the Realm cannot clean itself up, as it is caught in a singleton for the lifetime of your application.

We don't advise the you use Realm in this way. If you are trying to make a wrapper for DB access you might want to consider loading the Realm as a lazy variable and ensuring it gets cleaned up after use.

Were you able to get any error message by wra

[2020-11-02 10:20] #6900 closed

[2020-11-02 10:22] leemaguire commented on #6897
@darkForestCat You might want to add another `Int` property to your object that helps you index the items in a meaningful way.

[2020-11-02 10:23] #6897 closed

[2020-11-02 10:25] leemaguire commented on #6896
@mhuusko5 At this moment in time Realm sync is not supported through SPM. To use Realm Sync integrating with Cocoapods, Carthage, XCFramework will work. Full Realm Sync with SPM is on our roadmap.

[2020-11-02 10:26] #6896 closed

[2020-11-02 10:39] leemaguire commented on #6895
@VinodComlink This version of Realm works and compiles within Xcode 12.1. Have you tried changing `object = Self()` and does `ModelMappeable` have a valid initialiser it can call from?

[2020-11-02 11:04] jesusmateos1234 commented on #6876
i'm using Xcode 11.7 , swift 5.2.4

[2020-11-02 11:05] jesusmateos1234 commented on #6876
Yes, i'm tried to make a clean install, but nothing change, we need to up versión to realm 5.5.0

[2020-11-02 11:11] leemaguire commented on #6883
@jklausa By making your objects adhere to `Codable` it suppresses the need for default values at compile time. If you try to instantiate a `TestChild` object without default values it will expect a `Decoder`. It may compile fine, but default values are a requirement for Realm models.

[2020-11-02 11:14] leemaguire commented on #6866
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-02 11:14] #6866 closed

[2020-11-02 11:37] leemaguire commented on #6865
@ppamorim Does the notification deliver once no user interaction is initiated after a write to the Realm?

[2020-11-02 11:41] leemaguire commented on #6848
This issue has been automatically closed. Please reach out if you have any other questions.

[2020-11-02 11:41] #6848 closed

[2020-11-02 11:43] leemaguire commented on #6876
@jesusmateos1234 Can you update to the latest Xcode. Our changelog states for 5.5.0: `Carthage release for Swift is built with Xcode 12`

[2020-11-02 11:45] leemaguire commented on #6838
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-02 11:45] #6838 closed

[2020-11-02 11:46] leemaguire commented on #6837
Closing as this doesn't appear to be a Realm specific issue.

[2020-11-02 11:46] #6837 closed

[2020-11-02 11:47] leemaguire commented on #6828
Closing due to inactivity, if the issue persists with the latest version of Realm please open a new issue. Thanks.

[2020-11-02 11:47] #6828 closed

[2020-11-02 11:50] #6814 closed

[2020-11-02 11:54] leemaguire commented on #6791
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-02 11:54] #6791 closed

[2020-11-02 11:55] leemaguire commented on #6690
Closing due to inactivity. If you have any other questions please open a new issue. Thanks.

[2020-11-02 11:55] #6690 closed

[2020-11-02 13:02] ppamorim commented on #6865
@leemaguire No, sometimes the notification never arrives until the next write transaction.

[2020-11-02 13:07] VinodComlink commented on #6895
@leemaguire I am able to fix the issue by adding initialiser in the base Class of ModelMappable. Thank for reply

[2020-11-02 13:08] #6895 closed

[2020-11-02 16:44] ZComwiz commented on #6699
This is as of Today on the latest build of Realm:

Crashed: background
0  libsystem_kernel.dylib         0x1d720098c __pthread_kill + 8
1  libsystem_pthread.dylib        0x1f2f8ec74 pthread_kill + 272
2  libsystem_c.dylib              0x1b415ebb4 abort + 104
3  Realm                          0x1056553f0 realm::util::terminate(char const*, char const*, long) + 10
4  Realm                          0

[2020-11-02 16:45] ZComwiz commented on #6699
Crashed: background
0  libsystem_kernel.dylib         0x1d720098c __pthread_kill + 8
1  libsystem_pthread.dylib        0x1f2f8ec74 pthread_kill + 272
2  libsystem_c.dylib              0x1b415ebb4 abort + 104
3  Realm                          0x1056553f0 realm::util::terminate(char const*, char const*, long) + 10
4  Realm                          0x1056556fc realm::util::terminate_internal(std::__1

[2020-11-02 21:39] borislav-pixely commented on #6767
The latest crash from today (it has been happening quite often):

[code]

[code]

[code]

[2020-11-02 21:41] leemaguire commented on #6767
@borislav-pixely Can you tell us what version of Realm you are using and some context of how you are using Realm?

[2020-11-02 23:40] tgoyne commented on #6843
I spent some time digging into this today in the hopes of reproducing it without any luck. Some of the things I tried:

1. Put app in background then relaunch via Xcode.
2. Force-quit app while it's suspended and relaunch via device.
3. Have the OS kill the app due to memory pressure while it's suspended and then relaunch via device.
4. Have a task started on transition to background exceed the ti

[2020-11-02 23:44] tgoyne commented on #6873
The exception message says you're getting a VOIP push notification but not establishing a VOIP session within it, and it's not clear to me what that has to do with Realm.

[2020-11-03 02:35] ganesh-ananthan commented on #6873
@tgoyne Yes the straight forward case is VOIP crash, but we have gone through the flow and there could be a reason where the user details from DB might get missed while fetching. Did you got anything wrong on fetching the data case ?

[2020-11-03 02:49] ganesh-ananthan commented on #6899
Okay will update to 5.5.0 version and watch this.

[2020-11-03 07:45] intiocean commented on #6848
Thanks for the info @tgoyne!

For future reference this is what I ended up with
![image](https://user-images.githubusercontent.com/725843/97959914-a3884b00-1db0-11eb-8b53-628412d3ef0b.png)

What I learnt/accepted: to use Realm in a mixed objC/Swift project I have to use the objC version of Realm and accept the shortcomings of having to sprinkle force casts around the realm queries.

[2020-11-03 09:33] michaeleustace opened #6904 "BUG: Support current stable CocoaPods version (v1.9.3)"
## Goals
Use the latest stable version of CocoaPods (i.e. v1.9.3)

## Expected Results
Running `pod outdated` should show me the latest version of pods.
Realm should *not* be reliant on pre-release versions of CocoaPods.

## Actual Results
Get the following error which blocks me from checking any of my other pods.
[code]

## Steps for others to Reproduce
Just run `pod outdated` in terminal

## Cod

[2020-11-03 09:49] andreadelfante commented on #6800
Hi,
I'm facing this issue as well. My environment is:
Xcode 12.1
Cocoapods 1.10.0
Realm 5.5.0

[2020-11-03 10:14] michaeleustace commented on #6904
Apologies, my terminal was still telling me that CocoapPods 1.10 was still pre-release, but I see now that is isn't, so this issue is indeed invalid.

[2020-11-03 10:14] #6904 closed

[2020-11-03 10:29] leemaguire commented on #6899
@ganesh-ananthan Can you please use Realm Cocoa v10.1.1

[2020-11-03 12:28] leemaguire commented on #6800
@andreadelfante `pod lib lint --allow-warnings` passes for me using Realm Cocoa 10.1.1 & Cocoapods 1.10

[2020-11-03 15:01] sync-by-unito[bot] opened #6905 "Implement Set data type"

[2020-11-03 15:57] xavierLowmiller opened #6906 "Xcode archiving fails with SPM"
# Description

I'm using realm-cocoa 10.1.1, which depends on realm-core 10.0.0. The dependency is managed using Swift Package Manager.

## Goals
I'm trying to archive an iOS app that uses Realm(Swift) integrated via Swift Package Manager

## Expected Results
The app is archived for distribution

## Actual Results
This error is produced:
<img width="808" alt="Screenshot 2020-11-03 at 13 12 39" src

[2020-11-03 16:05] leemaguire commented on #6906
@xavierLowmiller The minimum deployment target when using SPM is iOS 11, changing your project to support a minimum version of iOS 11 should help.

[2020-11-03 16:07] xavierLowmiller commented on #6906
Our main project only supports iOS 11 and up, and my test project to reproduce the issue is iOS 14+.

I think that Realm Core's Package.swift file should be limited to iOS 11+, like Realm Cocoa's Package.swift file:

[code]

[2020-11-03 16:26] chajuss opened #6907 "Unable to open encrypted realm file after upgrade from RealmSwift 5.3.5 to 10.1.1"
I have an iOS app that used Realm Swift 5.3.5 as an internal database. We were had our realm file encrypted, and were able to open it using Realm Studio 5.0.1.6 with our stored key.

After upgrading to Realm Swift 10.1.1, we're unable to open the file in Realm Studio 5.0.1 as we get the following error: **Opening Realm files of format version 20 is not supported by this version of Realm**

Using M

[2020-11-03 16:29] ericjordanmossman commented on #6683
I tried investigating/reproducing with some material from @sipersso . I couldn't get anything in an actionable state for @finnschiermer .
I'm going to close this because we can't continue anything actionable with the current information and there have been several interim updates. @sipersso no longer sees the crash after speaking with him and I haven't seen any other reports since.
But if @philmit

[2020-11-03 16:29] #6683 closed

[2020-11-03 16:29] leemaguire commented on #6906
@xavierLowmiller So all targets in your project are iOS 11+ and it still gives this issue trying to archive?

[2020-11-03 16:31] xavierLowmiller commented on #6906
Yes. Adding the lines to `realm-core`'s Package.swift locally file resolves the issue for me.

[2020-11-03 16:31] leemaguire commented on #6907
@chajuss Please use Realm Studio v10 to open your Realm file https://github.com/realm/realm-studio/releases/tag/v10.0.0

[2020-11-03 16:58] ZComwiz opened #6908 "So many different crashes in 10.1.0"
!!! MANDATORY TO FILL OUT !!!

## Goals

The app not to crash for many users.

## Expected Results

For realm to actually work and not lose us business

## Actual Results

## Steps for others to Reproduce

Who knows? It's not possible for us to reproduce. We only hear it from our users.

## Code Sample

You can PM me and we can share code. I've already shared the code in previous issues and nothin

[2020-11-03 17:15] ZComwiz commented on #6908
@lasseporsch @leemaguire << !Urgent

[2020-11-03 17:17] leemaguire commented on #6908
@ZComwiz please send the contents of `EditView.setObject(Object:)` to lee.maguire@mongodb.com and I will take a look into this

[2020-11-03 19:20] chajuss commented on #6907
@leemaguire Thanks for the fast reply, however please read carefully my post:  I did try to open with Realm Studio v10 and got  the exception backtrack I've provided.

[2020-11-03 20:29] intiocean opened #6909 "Archiving with Realm 5.5.0 fails for armv7"
When archiving (building all architectures rather than just the target architecture I get the following error) so cannot create an archive build. NB. I'm using Realm objc as I have a mixed objc/swift project.

<img width="1308" alt="Screenshot 2020-11-03 at 21 16 07" src="https://user-images.githubusercontent.com/725843/98036975-3067ee80-1e1b-11eb-9177-7120e6281312.png">

## Steps for others to Re

[2020-11-03 21:12] intiocean commented on #6909
Just tried with cocoapods and I get a different issue but still can't create an archive build

<img width="1314" alt="Screenshot 2020-11-03 at 22 09 16" src="https://user-images.githubusercontent.com/725843/98041021-8dff3980-1e21-11eb-84ee-27d97e2f4bf5.png">

[2020-11-04 06:41] f3n1kc commented on #6831
There seems to be another issue open with same crash log https://github.com/realm/realm-cocoa/issues/6408

[2020-11-04 08:46] intiocean commented on #6909
Added realm as a Cartharge dependency and I can create archives! Yay! No idea why the others aren't working thought

[2020-11-04 09:11] leemaguire commented on #6907
@chajuss could you send the Realm file to lee.maguire@mongodb.com so we an investigate. Also are you seeing this issue with any other Realm files you have?

[2020-11-04 09:23] leemaguire commented on #6909
@intiocean I'm not seeing this with 5.5.0 or 10.1.1, Did you try clean your derived data & pods directory?

[2020-11-04 09:31] leemaguire commented on #6781
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-04 09:31] #6781 closed

[2020-11-04 09:35] leemaguire commented on #6688
Please update to the latest version of Realm v10.1.1 this should resolve these warnings.

[2020-11-04 09:35] leemaguire commented on #6573
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-04 09:35] #6573 closed

[2020-11-04 09:36] leemaguire commented on #6505
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-04 09:36] #6505 closed

[2020-11-04 09:47] intiocean commented on #6909
Cleaned the project and deleted derived data (not the pods directory though) @leemaguire

It looks like the pod errors and the SPM errors are different issues to me?

[2020-11-04 09:51] chajuss commented on #6907
@leemaguire I've sent you the file to provided email.
This occurs with every Realm file we are using (all are structured the same as provided one), and we don't have any other types of Realm files to test with.

[2020-11-04 09:58] sync-by-unito[bot] opened #6910 "Implement UUID data type"

[2020-11-04 10:11] leemaguire commented on #6804
This is no longer an issue in v10.1.1

[2020-11-04 10:11] #6804 closed

[2020-11-04 10:16] jedelbo commented on #6850
What is more important is the header of the file. The file is on what we call streaming format, and it has to end with a certain pattern, so if you add zeroes this check will fail. What you call "right file" is not on streaming format and will not have any special value at the end.
How did you obtain the file that you are not able to open? Was it a result of a compact operation? It would be intere

[2020-11-04 10:18] leemaguire commented on #6785
Closing as this is no longer an issue in Realm Cocoa v10.1.1

[2020-11-04 10:18] #6785 closed

[2020-11-04 10:19] leemaguire commented on #6907
@chajuss Are you using compaction, or did you do any schema changes during the upgrade?

[2020-11-04 10:26] leemaguire commented on #6096
@norio-agoop @zrx89757 Can you please share the full crash log and what version of Realm your are using?

[2020-11-04 10:29] leemaguire commented on #6874
https://github.com/realm/realm-core/pull/4039 will fix this.

[2020-11-04 10:31] leemaguire commented on #6865
@ppamorim We cannot reproduce the issue on our side, could you create a sandbox app that reproduces the issue and send it to us? Thanks.

[2020-11-04 10:43] chajuss commented on #6907
@leemaguire not using compaction, but did a schema change during the upgrade

[2020-11-04 10:45] leemaguire commented on #6907
Linking https://github.com/realm/realm-studio/pull/1351 as it may serve as the solution.

[2020-11-04 11:09] leemaguire commented on #6903
@tiwari-umashanker Did you do any schema changes recently? Curious as I see `changeset: no such row Exception` in the error message

[2020-11-04 11:16] leemaguire commented on #6878
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-04 11:16] #6878 closed

[2020-11-04 11:23] leemaguire commented on #6818
This was a documentation mistake. The minimum required version is iOS 11 when SPM is used as the package manager.

[2020-11-04 11:23] #6818 closed

[2020-11-04 11:33] leemaguire commented on #6808
Closing this issue as it has been inactive for some time now. If you have any other questions please open a new issue.

[2020-11-04 11:33] #6808 closed

[2020-11-04 11:40] leemaguire commented on #6909
They are different errors but I believe they are due to the project being in an unclean state.

[2020-11-04 11:43] leemaguire commented on #6275
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-04 11:43] #6275 closed

[2020-11-04 12:47] tiwari-umashanker commented on #6903
@leemaguire  No, We have not updated the schema but we updated the realm version to 5.4.1 to make it compatible with XCode version 11.7

[2020-11-04 13:38] EugenKuzn opened #6911 "Many crashes in random places on Realm (ObjC) after update to higher version"
After update to higher version app starts crashing for some devices in random places (mostly on methods addObjects, removeObjects). App crashes always on the same place after started crashing on that place (I see 20-30 crashes for one user with interval in 20-30 secs). Nothing can help, only one solution worked for me: re-install app and re-create realm database.

Mostly app crashes when you updat

[2020-11-04 14:35] #6909 closed

[2020-11-04 15:11] M0TRIX opened #6912 "wierd problem with realm and object mapper at the same time"
var myCourses :[Course]?

` ServiceAPI.getAllCourse(executeMessage: executeMessage, onResponse: { (response) in

            self.myCourses?.removeAll()
            self.myCourses = response.result.data
            self.tableView.reloadData()

            self.setCourseEntities(courseEntities: response.result.data)
            if (self.myCourses != nil) {
               // ShopDataSource.instance.

[2020-11-04 15:12] M0TRIX opened #6913 "using realm and object mapper at the same time"
[code]

[2020-11-04 15:37] leemaguire commented on #6913
@M0TRIX Can you show us the code behind ShopDataSource.instance.save(shopEntity: self.myCourses ?? [])

[2020-11-04 15:38] M0TRIX commented on #6913
[code]

[2020-11-04 15:45] leemaguire commented on #6913
Please ensure you're not overwriting objects with the same primary key.

[2020-11-04 15:50] M0TRIX commented on #6913
how can i do that ? my save func override the previous list

[2020-11-04 15:51] leemaguire commented on #6913
Can you show me your `Course` object?

[2020-11-04 15:53] leemaguire commented on #6912
duplicate of https://github.com/realm/realm-cocoa/issues/6913

[2020-11-04 15:53] #6912 closed

[2020-11-04 15:58] M0TRIX commented on #6913
[code]

[2020-11-04 16:13] leemaguire commented on #6913
Change `realm.add(shopEntity, update: .all)` to `realm.add(shopEntity)` and Realm will throw an error if the same primary keys are in the database.

[2020-11-04 16:32] M0TRIX commented on #6913
made my day. I need to remove my codes sorry

[2020-11-04 18:55] xavierLowmiller commented on #6906
Solved by https://github.com/realm/realm-core/pull/4039.

[2020-11-04 18:55] #6906 closed

[2020-11-04 19:30] devedup opened #6914 "Release compilation issue using Swift PM"
## Goals

Build project with Realm via Swift Package Manager

## Expected Results

The project to build successfully, but it doesn't (However it works ok with same version on Cocoapods)

## Actual Results

Showing All Messages
/Users/dave/Library/Developer/Xcode/DerivedData/TestRealm-cexqmmixscidkqairqvranppknzi/SourcePackages/checkouts/realm-core/src/realm/alloc.hpp:328:5: Aligned deallocation fu

[2020-11-04 19:36] devedup commented on #6914
Sorry...closing/opening... i hit enter by mistake... it's late.. i'm tired. 😂😢

[2020-11-05 08:07] amittiwaribit commented on #6804
Hi @leemaguire, are talking about the cocoa pod version 10.1.1?

[2020-11-05 09:06] leemaguire commented on #6914
The fix for this will be available in the next release of Realm Cocoa.

[2020-11-05 09:07] #6913 closed

[2020-11-05 09:10] leemaguire commented on #6911
It's not clear where the issue is, and there is nothing Realm related in that crash screenshot. Could you please show us the method body of `[RFReferral write:]`

Thanks

[2020-11-05 09:16] EugenKuzn commented on #6911
@leemaguire

Pls take a look at the screenshot below, where I provided method `[RFReferral write:]` 👍
No exceptions from Realm. It seems like it crashes somewhere inside lib.

App crashes on the line 117, which you can find on the screenshot below.
Thanks!

[2020-11-05 09:16] leemaguire commented on #6804
@amittiwaribit Use Realm Cocoa v10.1.1 and Cocoapods version 1.10

[2020-11-05 09:17] EugenKuzn commented on #6911
@leemaguire

Here is method:
.
.
![Screenshot 2020-11-05 at 11 16 56](https://user-images.githubusercontent.com/33037693/98221536-6c549e00-1f58-11eb-9022-7457ae3a30e2.png)

[2020-11-05 09:19] leemaguire commented on #6911
There isn't much to go off here without a backtrace. Is your logger capturing anything? One thing I would say is, ensure you are not adding an object with a duplicate primary key.

[2020-11-05 09:25] EugenKuzn commented on #6911
@leemaguire

yes, that's true. I haven't had a chance to catch this crash on Simulator, backtrace on Firebase is too pure.
I don't use primary_key, because I don't care about uniqueness of entries in DB. And if I remember correct, there was a crash on some version 4.x.y related to primary_key usage

[2020-11-05 09:27] EugenKuzn commented on #6911
@leemaguire

The problem is that crash happens for small number of users. It seems like realm DB is damaged or something like that.
If the crash happens, I see 50-70 crashes for user in a few hours (looks like app crashes on startup). After re-install app doesn't crash and work normally.

[2020-11-05 09:31] leemaguire commented on #6911
Did you set any custom configuration for your Realm? Compaction, Schema changes etc?

[2020-11-05 09:37] EugenKuzn commented on #6911
@leemaguire

Configuration - NO: always use default realm (I mean `RLMRealm.defaultRealm`)
Compaction - NO: no need, because normally app uses around 200 simple entries like RFReferral
Schema - YES: I have a few simple migration, where I only add fields. Looks pls at the example of migration below:
.
.
![Screenshot 2020-11-05 at 11 37 03](https://user-images.githubusercontent.com/33037693/98223783

[2020-11-05 09:38] sync-by-unito[bot] opened #6915 "support openID credential for google authentication"

[2020-11-05 09:43] leemaguire commented on #6911
We need the error message thrown in the exception on [RLMRealm addObjects:] to dig further. I'd also recommend upgrading to the latest version of Realm v10.1.1

[2020-11-05 09:51] EugenKuzn commented on #6911
@leemaguire

Already updated to v10.1.1 and will keep tracking crashes.
Thanks!

About exception thrown: not sure, how I can get error message thrown, because app crashes on the method [RLMRealm addObjects:], which crashes somewhere inside and doesn't throw any exceptions, which I can catch inside my catch-block.

[2020-11-05 09:55] leemaguire commented on #6911
It's strange that you're not getting any exception info in your catch block, if you remove the try catch the error should bubble up in to the crash report.

[2020-11-05 10:01] EugenKuzn commented on #6911
@leemaguire

I agree, but it's possible. Plus I'm logging exceptions to file. It's empty, no crashes from Realm.
To be clear: app crashes on line 117 and app doesn't proceed to line 120 at all, which means that method doesn't throw any exceptions. Otherwise app doesn't crash, if it can proceed to line 120.

P.S. Thanks for help in advance 👍

[2020-11-05 15:44] Tommecpe commented on #6906
@xavierLowmiller I've got the same problem, I don't understand how did you solve it ?
can you give a bit more detail ?

Thank-you very much

[2020-11-05 15:46] xavierLowmiller commented on #6906
It won't work out of the box until a new version of `realm-core` is released. Until then you can add an explicit dependency to `realm-core` pointing at the current `master`.

[2020-11-05 15:52] Tommecpe commented on #6906
Adding `RealmCore` git: `https://github.com/realm/realm-core` branch: `master`
Seam to work ! thank-you for you very quick answer !!

[2020-11-05 21:56] jesusmateos1234 commented on #6876
I build 5.5.0 from code, this solve my problem

[2020-11-05 21:56] #6876 closed

[2020-11-06 00:12] EugenKuzn commented on #6911
@leemaguire

Today I got a perfect example.
Some user got 33 crashes in one hour. After re-install app works fine.
As you can see, app crashed every time on the same place.
.
.
.
![Screenshot 2020-11-06 at 02 08 02](https://user-images.githubusercontent.com/33037693/98310372-66e96900-1fd5-11eb-9f34-65b21d4c593e.png)

[2020-11-06 07:50] xavierLowmiller commented on #6914
Until then you can point `realm-core` to `master` if you need to release, the fix is [already there](https://github.com/realm/realm-cocoa/issues/6906#issuecomment-722460653).

[2020-11-06 09:10] leemaguire commented on #6911
@EugenKuzn Do you know if that user required to upgrade their Realm file version on launch? If so could you give the exact version of what they were on vs what version they upgraded to?  Thanks.

[2020-11-06 09:40] EugenKuzn commented on #6911
@leemaguire

The user updated from version 5.3.1 or 5.3.3 or 5.3.6 to version 5.5.0 (app crashed on 5.5.0, last version before 10)
I'm sure, that version was 5.3.x, where x can be 1, 3 or 6.
Hope this helpful
Thanks!

[2020-11-06 10:12] gongzhang commented on #6861
Totally agree @FelixII. The app is terminated because it held a file lock (`default.realm.lock`) during suspension.

😂😂😂 I can't believe this issue is happening again on watchOS 7! I've previously been stumped by #6671 on the iOS 14 beta 1-6. (eventually Apple fixed it in iOS 14 beta 7.)

Once again, this issue can only be reproduced on a **physical watch** running **watchOS 7** (100% reproduced).

[2020-11-06 10:21] devedup commented on #6906
Tried that, but it didn't work.

`Swift package target 'RealmCore' is linked as a static library by 'TestRealm' and 'RealmCoreDynamic'. This will result in duplication of library code.`

If you know the reason for this, I'd be interested to know. But for now I'll just use CocoaPods until the SPM version is ready.

Thanks

[2020-11-06 14:09] docterd commented on #6861
I think I successfully reproduced the issue with the attached example project. Can anyone confirm it?

[realm-lock-issue.zip](https://github.com/realm/realm-cocoa/files/5501636/realm-lock-issue.zip)

[2020-11-06 16:56] andreasley commented on #6615
Any ETA on his?

Is there a workaround (for Realm v10.1.1 in Swift) to be able to use Realm Sync Beta?

[2020-11-06 16:59] ericjordanmossman commented on #6615
@andreasley
I'm working on this today. No exact ETA yet. I'll post updates in this thread.

[2020-11-06 17:16] tgoyne commented on #6861
https://github.com/realm/realm-core/pull/4049 should fix this, but I don't have a watch available to actually test it myself.

[2020-11-06 19:02] jesusmateos1234 commented on #6767
Same problem. Realm 5.5.0

[2020-11-06 19:23] jesusmateos1234 opened #6916 "external_commit_helper.cpp line 180 CRASH - (NoSuchTable)"
**Bugs**: Users experiment crash, nobody knows for what and where the crash has occurred

## Code Sample
[code]

[code]

## Version of Realm and Tooling
Compiled 5.5.0 version, downloaded with Carthage but builded in local with Swift 5.2.4 (That's already happened with 5.3.6 && 5.3.0)
Realm framework version: 5.5.0

Xcode version: 11.7

iOS/OSX version: 13.7, 14.0.1, 14.1.0

Dependency manager + v

[2020-11-06 19:39] jesusmateos1234 opened #6917 "CRASH realm::GroupWriter::FreeList::move_free_in_file_to_size_map"
## Goals
Remove objects without crash

## Expected Results
Remove objects without crash

## Actual Results
Crash happened.

Crash Info
[code]

[code]
## Steps for others to Reproduce

## Code Sample
[code]
## Version of Realm and Tooling

Realm framework version: 5.5.0 , 5.3.6, 5.3.0

Xcode version: Xcode 11.7

iOS/OSX version: 13.6, 13.7, 14.0.1, 14.1.0

Dependency manager + version: Carthage 0.3

[2020-11-06 21:09] ericjordanmossman commented on #6857
The reason is to steer RealmSwift developers away from calling RLM* versions when it could cause issues. As you pointed out, the mixed objc/swift is caught in the middle.

I've got a proposed solution [here](https://github.com/realm/realm-cocoa/pull/6886).
Because the vast majority of the Swift API are typealias of the ObjC version, you're still able to use Swift API for most operations. You'd con

[2020-11-06 21:13] ericjordanmossman commented on #6857
So for this particular issue the solution would be something like:
[code]
^ RealmSwift.App and RealmSwift.Credentials instead of RLMApp and RLMCredentials. You'd get back a RealmSwift.User.
And later:
[code]

[2020-11-06 22:15] visdyn commented on #6608
As an update. It seems from 10.x forward. getting the bundle per my above code does appear to now reflect the currently installed Realm version including point releases.

[2020-11-06 22:34] jsflax commented on #6608
🎉 Great to hear it. Can you close out this issue if that is confirmed?

[2020-11-06 23:19] andreasley commented on #6615
@ericjordanmossman Actually, my problem seems to be a completely different one, despite resulting in the same symptoms.

I'm using the Swift Package Manager, which works fine for "regular" Realm. However, all symbols for Realm Sync seem to be missing (e.g. `App`). Some important Swift files are excluded from the target `SwiftRealm` in [Package.swift](https://github.com/realm/realm-cocoa/blob/maste

[2020-11-06 23:38] tgoyne commented on #6608
This was probably fixed by the shift to defining RealmSwift.Object in obj-c, so now you're getting the Realm bundle and the version from that. Not sure why that would work and getting it from the RealmSwift bundle didn't.

[2020-11-07 00:00] levelchanger commented on #6857
I’m never thrilled to include another SDK but do I really have a choice at this point?

This issue aside, it would be helpful to have some documentation for developers with mixed objc/swift projects. Right now, there isn’t anything.

[2020-11-07 00:26] tgoyne commented on #6615
Yes, needing the binary library is why we can't support sync with swift package manager. We actually have now [open sourced the sync client](https://github.com/realm/realm-core/tree/monorepo/src/realm/sync), but there's some work left to be done to build against that instead of the prebuilt library.

[2020-11-07 02:44] #6836 closed

[2020-11-07 02:44] #6874 closed

[2020-11-07 02:44] #6914 closed

[2020-11-07 07:27] docterd commented on #6861
Unfortunately I can't confirm that this got fixed with 10.1.2. (See the updated example).

[2020-11-08 21:12] julianD77 commented on #5618
Hey, thanks for the suggestions regarding disabling the instrumentation and/or the automatic Firebase measurements.

Can anyone confirm however whether it is required to disable **ALL** Firebase Performance Monitoring functionality, and therefore you cannot to receive **any** benefit of Firebase Performance Monitoring if we are using Realm?

Or when you mentioned _"disable firebase automatic measu

[2020-11-08 21:32] ianpward commented on #5618
If someone can provide a reproduction case that would be very helpful in determining the cause of this crash along with an eventual fix if it is on the realm side

[2020-11-08 21:50] julianD77 commented on #5618
Thanks @ianpward - will try. We are also going to try and confirm if the issue still occurs when using the latest Firebase PerfMon SDK with the latest Realm (v5 then, time permitting, 10).

We couldn't ever see or reproduce the issue ourself before we had to disable the Firebase monitoring, but some of our users did experience the same crash above re `RLMObject.mm`

[2020-11-09 02:20] enze0923 opened #6919 "iOS14.1.0 Crash:RLMAddObjectToRealm"
Unfortunately I was able to reproduce it once. Crashlytics is showing this for a few users.

Goals
Fix the crash

Expected Results
The app not crashing

Actual Results
[code]

Steps to Reproduce
I can't reproduce it but it is happening in production (Firebase Crashlytics)

Code Sample
[code]

Version of Realm and Tooling
RealmSwift framework version: 3.19.1

Realm Object Server version: Not using

[2020-11-09 02:51] enze0923 opened #6920 "iOSCrash：changeArray(RLMArray*, NSKeyValueChange, unsigned long, void () block_pointer)"
## Actual Results

## Code Sample

## Steps to Reproduce
I can't reproduce it but it is happening in production (Firebase Crashlytics)

## Version of Realm and Tooling
RealmSwift framework version: 3.19.1

Realm Object Server version: Not using

Xcode version: 12.1

iOS/OSX version: 14.1.0

[2020-11-09 05:59] niralishaha25 commented on #6096
Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/var/mobile/Containers/Data/Application/196168ED-146C-4398-935E-FB13A658DA9F/Documents/default.realm.lock': open() failed: Operation not permitted Path: /var/mobile/Containers/Data/Application/196168ED-146C-4398-935E-FB13A658DA9F/Documents/default.realm.lock Exception backtrac

[2020-11-09 06:23] niralishaha25 commented on #6732
Still facing the crash for real 5.5.0

[2020-11-09 06:24] niralishaha25 commented on #6505
Still facing the crash on app up for realm 5.5.0

[2020-11-09 06:36] marsha97 commented on #6505
maybe, you can open a new issue based on this version? since this one had been closed

[2020-11-09 06:42] niralishaha25 commented on #6505
Linking to existing issue
https://github.com/realm/realm-cocoa/issues/6096

[2020-11-09 09:57] #6920 closed

[2020-11-09 13:21] pavel-ship-it commented on #6917
Hi @jesusmateos1234
Is it happened during debug?
Is it a regular crash or is it sporadic?
Also could you please try to reproduce on the latest version of Realm?

[2020-11-09 13:46] pavel-ship-it commented on #6916
Hi @jesusmateos1234
It looks similar to known issue #6767
Could you please take a look at that issue? We would appreciate any additional info on that issue.

[2020-11-09 13:52] jesusmateos1234 commented on #6917
1 per 10ks

[2020-11-09 13:53] jesusmateos1234 commented on #6916
It's similar @pavel-ship-it

[2020-11-09 13:54] jesusmateos1234 commented on #6767
#6916 similar issue

[2020-11-09 14:42] pavel-ship-it commented on #6917
Do you have any specific realm configuration? Is it related to the specific device or iOS version?
Is it happened after an update/migration? Any information could help us. Thanks

[2020-11-09 14:57] pavel-ship-it commented on #6919
Hi @enze0923
Could you please try to update Realm to the latest version?

[2020-11-09 15:03] pavel-ship-it commented on #6686
Hi @KimiChiu
We've released a major update for Realm. I would appreciate if you could try a latest version 10.1.2

[2020-11-09 15:06] pavel-ship-it commented on #6628
Hi @LorienMan
We've released a major update for Realm. I would appreciate if you could try a latest version 10.1.2
I have no luck reproducing this issue tho.

[2020-11-09 16:00] jesusmateos1234 commented on #6917
Not at all.
No special configuration
No migrations
iOS 13.5 and upper

[2020-11-09 17:01] jsflax commented on #6908
@finnschiermer , some of these crashes look to be user based, but some of them appear to be on our end. Would you mind taking a look?

[2020-11-09 17:49] pavel-ship-it opened #6921 "Exception on saving of Unmanaged Object with Embedded Object"
Crash during upsert of an existing object with a list of EmbeddedObject inside.

## Goals / Expected Results
I can upsert a record.

## Actual Results
Exception: ** Terminating app due to uncaught exception 'RLMException', reason: 'Cannot add an existing managed embedded object to a List.'**

## Steps for others to Reproduce
Create unmanaged copy of existing object with the property - list of Embe

[2020-11-10 02:10] FaultyJuggler opened #6923 "Cannot compile using RealmSwift via Swift Package Manager in Xcode 12"
## Goals
Integrate RealmSwift using Swift Package Manager

## Expected Results
Project will compile

## Actual Results
Compilation errors

## Steps for others to Reproduce
Add Realm via swift package manager to a project (possibly that previously had Realm added via cocoapods)

## Code Sample
Compile warnings
[code]

## Version of Realm and Tooling
Realm framework version: 10.1.2

Xcode version: V

[2020-11-10 02:14] FaultyJuggler opened #6924 "Cannot update to RealmSwift pod 10.x.x compilation fails in xcode after running pod install"
## Goals
Compile and run project in xcode

## Expected Results
Build successful

## Actual Results
Fails with various "multiple commands produce" issues

## Steps for others to Reproduce
Have project that was running RealmSwift 10beta4 previously pod installed using Cocoapods 1.9.3
Update cocoapods to 1.10
Update podfile to any release version of Realm 10+

## Code Sample
Current Podfile

[code]

[2020-11-10 03:02] enze0923 commented on #6919
Okay, i will update to the latest version first. Thanks!

[2020-11-10 04:29] ianpward commented on #6857
thank you for your comments @levelchanger - to give a little context on why more and more of our APIs are moving to favoring Swift, it it because approximately a year ago - 75% of our users were using Obj-C, now, only one year later this number is flipped with 75% using Swift and the remaining 25% using Obj-C. This aligns with the sentiment in the wider iOS community and we predict that a year fro

[2020-11-10 05:04] levelchanger commented on #6857
For some perspective, we started our app in 2011. Objective C was the only game in town for iOS and we built up a substantial code base in the language. Since Swift came out, we have used it for all new code development. The eventual goal is to move the whole project to Swift, but that is a big undertaking. Right now we are migrating from Core Data to Realm. We have 22 classes that descend from RL

[2020-11-10 05:40] aliawais opened #6925 "Did you remember to mark them with '@objc' in your model?"
#6668  Goals

App to compile and run seamlessly as before.

## Expected Results

App to compile and run seamlessly as before.

## Actual Results
App Crashing on launch with following error on Realm 10.1.1 (works fine with Realm 10.0.0)
**Thread 1: "No properties are defined for 'DocumentEntity'. Did you remember to mark them with '@objc' in your model?"**

## Steps for others to Reproduce
Launch t

[2020-11-10 09:28] levelchanger commented on #6857
Instead of subclassing I meant to say make a category or extension in Objective C of the class Contact that is in Swift.

Given that I have a mixed project do I have to have all of my code in Swift to use the Realm Swift SDK instead of the Objective C SDK?

[2020-11-10 10:13] pavel-ship-it commented on #6925
Hi @aliawais,
Realm model properties need the dynamic var attribute in order for these properties to become accessors for the underlying database data.

There are two exceptions to this: List and RealmOptional properties cannot be declared as dynamic because generic properties cannot be represented in the Objective-C runtime, which is used for dynamic dispatch of dynamic properties, and should alw

[2020-11-10 10:29] aliawais commented on #6925
Thanks @pavel-ship-it I will have a look.

I was looking in my code, only this entity have '@objc dynamic let', but it was working fine till updated to 10.1.1.

[2020-11-10 11:23] pavel-ship-it commented on #6924
Hi @FaultyJuggler ,
It looks like cocoapods-binary brings some conflicts in the Pods project structure.
I can build a project using Podfile provided if I disable :binary flag or if I remove Google related frameworks, but I see same errors if I remove Realm from the Podfile.
Could you please try is it working for you?

[2020-11-10 11:36] pavel-ship-it commented on #6923
Hi @FaultyJuggler ,
Could you please give me more details? Is the problem happened because of the Compile warnings above or is it something else? Another kind of error?

[2020-11-10 13:46] mentrena commented on #6800
Xcode 12.1
Cocoapods 1.10.0
RealmSwift 10.1.2

Cocoapods fails to validate for watchOS target.

Steps:
- Clone pod repository: https://github.com/mentrena/SyncKit
- Run  `pod lib lint SyncKit.podspec --subspec=RealmSwift --no-clean`
- Validation fails. The Cocoapods generated project can be inspected and these are the build errors:

[code]

[2020-11-11 01:53] #6925 closed

[2020-11-11 01:54] dwhitla commented on #3195
@rjalkuino - I doubt it. More like fortuitous timing stopped you being able to detect the race condition which will still be occurring in the wild.

`    @discardableResult
    public func write<Result>(withoutNotifying tokens: [NotificationToken] = [], _ block: (() throws -> Result)) throws -> Result {
        beginWrite()
        var ret: Result!
        do {
            ret = try block()

[2020-11-11 03:26] gongzhang commented on #6861
Keep trying workaround...

On watchOS, if I can be sure that only one process in my app can operate realm (that is the watchkit extension process), can I safely release this file lock on my own?

[2020-11-11 04:05] tgoyne commented on #6861
When only one process is involved it should not be possible to hit the code path where we check the file lock while the file is actually locked. From 5.0.0 until 5.2.0 we actually did have a bug where we'd open the file twice and run into problems if the file was forcibly unlocked, but it was a pretty hard to hit edge case (a ThreadSafeReference had to be the only thing keeping the file open).

[2020-11-11 04:05] FaultyJuggler commented on #6923
@pavel-ship-it I've been having blocking issues with using Cocoapods and have also found cocoapods very fragile once you start using more than a single library.  I removed all cocoapods from the project, imported everything via Swift Package Manager, and when I went to compile and have following errors (I assume related to the warnings above):

[code]

[2020-11-11 04:10] gongzhang commented on #6861
@tgoyne Thanks for the response, this is very useful information for me. 😊

[2020-11-11 08:00] EugenKuzn commented on #6911
@leemaguire

One more crash on simple Realm operation. 11 times per 1 user
Stack trace in Firebase console
![Screenshot 2020-11-11 at 09 59 08](https://user-images.githubusercontent.com/33037693/98785045-add7c400-2404-11eb-897c-e8226850ca0f.png)

Object interface
![Screenshot 2020-11-11 at 09 57 43](https://user-images.githubusercontent.com/33037693/98785053-b0d2b480-2404-11eb-8b12-41976d6e2c4e.pn

[2020-11-11 11:05] pavel-ship-it commented on #6917
Could you try to reproduce it on version 10.1.2?

[2020-11-11 14:15] finnschiermer commented on #6908
That's a lot of interesting stack traces.
@jedelbo I see two stack traces referring to ClusterNodeInner - will you check if you believe they refer to something we've fixed recently?

There is a crash in the allocate() -- something I don't believe we've seen before. Is it possible to reproduce that?

[2020-11-11 19:34] cliftonlabrum opened #6928 "Failure to Upgrade Realm File Version from Within iOS App"
I updated my iOS app to use Realm `10.1.2` recently. My app pulls down a **compacted** `3.x` Realm from a server at runtime. But since the iOS app's core is on a file version that's higher than the remote Realm, it creates a crash:

[code]

How does one programmatically upgrade a Realm file to a newer version? Opening it in Realm Studio (as mentioned in the Realm release notes) is not an option.

[2020-11-11 22:15] tgoyne commented on #6928
The file format upgrade happens automatically when you open the file in read-write mode. You can do this on the server by simply opening the Realm and writing a new compacted copy with realm-js (`require('realm').open(path).then(realm => realm.writeCopyTo(newPath))` is the overly-concise one-liner), or on the device by simply not specifying `readOnly = true`.

[2020-11-12 00:03] cliftonlabrum commented on #6928
@tgoyne Thank you very much. I couldn't have hoped for such a simple solution. 🙂

If you want the Stack Overflow points, feel free to answer over there and I'll accept your answer. Thanks again!

[2020-11-12 00:03] #6928 closed

[2020-11-12 00:35] duncangroenewald commented on #6884
@jsflax - sure I will take a look at it again and get back to you.  I don't think there is a stack trace or I would have provided one.

[2020-11-12 00:40] duncangroenewald commented on #6884
@jsflax - is there any change you guys can do a RealmSwift 4.4.1 build with XCode 12 ?  We're still not confident enough to go to 5.5.0 in production yet. I might raise a new issue for this.

[2020-11-12 00:43] duncangroenewald opened #6929 "Request for RealmSwift 4.4.1 build with XCode 12"
## Goals
User RealmSwift v4.4.1 with Xcode 12.x

RealmSwift v4.4.1 has provide extremely reliable and we would like to be able to continue using this version with XCode 12 but require a new binary build for XCode 12/Swift 5.3 (I think it is)

## Expected Results
Please can a new v4.4.1 binary build be created with XCode 12

[2020-11-12 01:33] duncangroenewald commented on #6884
@jsflax - if I try and open the realm file with Realm Studio v3.3.1 I get the same error - no crash.

<img width="1502" alt="image" src="https://user-images.githubusercontent.com/13807324/98883939-26ad4d80-24e3-11eb-9e3c-4b04c7e21d78.png">

[2020-11-12 07:11] amittiwaribit commented on #6804
Hi @leemaguire, I have verified again that the issue still exists in Realm Cocoa v10.1.1 and Cocoapods version 1.10.
[
<img width="1444" alt="error" src="https://user-images.githubusercontent.com/5095009/98906979-10ec5800-24e4-11eb-86f0-2e6141989578.png">
](url)

[2020-11-12 08:12] phuocmobytelab commented on #6881
Hi @jsflax I think the same bug with #5475. Can you check help me please?

[2020-11-12 08:59] phuocmobytelab opened #6930 "Retrieve, Update, Delete data the same time and app crash"
Hi all, I made IOS app search place with local database. And every day I will update local database from server. When I update i will do:
1/ delete all objects in Database
2/ update new value to Database
-> sometime app will crash with message: Object invalid or deleted. It happen only app ready get old data from database and show in app. Can you give me any advise for this situation? Thank you ve

[2020-11-12 10:42] theolampert commented on #6923
@FaultyJuggler I think the sync parts of Realm just don't work with SPM, I've had the same issue for a while (wanting to switch away from Cocoapods). I assumed now with the official release that SPM was supported but seems it's not the case.

[2020-11-12 10:47] pavel-ship-it commented on #6923
Yes, it is not supported in SPM configuration yet.
@FaultyJuggler taking in account the issue with cocoapod binaries you've mentioned in previous ticket I'd recommend to try Carthage.

[2020-11-12 10:52] pavel-ship-it commented on #6930
Hi @phuocmobytelab
Could you please fill the issue template?
We need the information on what version of Realm you are using?
Do you use Sync?
Any crashlogs?
Steps to reproduce and/or code snippet?

From what you write it's not easy to say what goes wrong.

[2020-11-12 10:53] trr-amsiq commented on #6884
Just downgraded back to 4.1.1. Still way more stable than 5+. Running xCode 12 with carthage

[2020-11-12 13:54] pavel-ship-it commented on #6929
Hi @duncangroenewald,
I would still recommend you to try our latest version 10.1.2.

[2020-11-12 18:48] duncangroenewald commented on #6929
@pavel-ship-it - how would we be able to use that with Realm Cloud ?  As we understand it 10.1.12 will only work with the new Mongo Realm.  We do plan to migrate there over the coming 12 months so there seems little point in also upgrading to 5.5.0 - particularly as there seem to still be some issue.

[2020-11-12 18:52] duncangroenewald commented on #6884
@trr-amsiq are you using this with Realm Cloud ?  If so how did you get the sync component included ?

[2020-11-12 18:55] trr-amsiq commented on #6884
@duncangroenewald sorry missed that part!
No I am not using Realm Cloud

[2020-11-12 19:45] duncangroenewald commented on #6929
@pavel-ship-it - btw I have been trying to find documentation on migration from Realm Cloud/RealmSwift 4.4.1 to Mongo Realm but it is rather light.  There is a migration guide but it doesn't seem to provide any useful detail for how one would migrate and existing Realm Cloud applications data.  Some questions:

1.  Is there a detailed explanation somewhere of the differences between Realm Cloud an

[2020-11-13 03:57] enze0923 commented on #6919
I update RealmSwift to 10.1.2，and i still encountered the same crash.
extra crash info: crash_info_entry_0 failure to grow array

0
CoreFoundation
-[__NSArrayM insertObject:atIndex:].cold.2 + 16
1
CoreFoundation
-[__NSArrayM removeObjectsInRange:] + 1082
2
Readict
RLMArray.mm - Line 187
changeArray(RLMArray*, NSKeyValueChange, unsigned long, void () block_pointer) + 187
3
Readict
RLMArray.mm - Lin

[2020-11-13 04:02] gongzhang commented on #6861
Confirmed `REALM_FILELOCK_EMULATION` flag was set correctly for Apple Watch target in `core v10.1.1`. However, the system still reports that the `xxx.realm.lock` file is locked.

@tgoyne What do you think the problem might be? Is it related to the implementation of `bool File::lock(bool exclusive, bool non_blocking)`, or is it related to watchOS itself?

[2020-11-13 05:50] duncangroenewald opened #6932 "Request for Apple Silicon Binaries (v5.5.0 and V4.4.1)"
## Goals
Run native on Apple Silicon

## Expected Results
We are still experiencing random crashes with v5.5.0 but v4.4.1 has proven to be extremely stable.

Testing on Apple Silicon DTK shows a significant performance increase and we would like to release a production version of the application using Realm Cloud on Apple Silicon to showcase the performance improvements of the new hardware.

In or

[2020-11-13 12:48] jedelbo commented on #6908
@finnschiermer Hard to say if some of this may have been fixed. Especially when we don't have the exception messages.

[2020-11-13 14:07] ianpward commented on #6929
@duncangroenewald We don't provide pre-built binaries for past versions but you are welcome to download the repo and compile it yourself if you'd like.

There is a migration guide here - https://docs.realm.io/realm-legacy-migration-guide/

If you have additional questions then please take them to the forums.realm.io  OR there is a a form at the bottom of the migration guide where you can request m

[2020-11-13 14:07] #6929 closed

[2020-11-13 14:13] pavel-ship-it commented on #6932
@duncangroenewald ,
This is basically a duplicate of your previous question. I'll close it.
You can find more information in the Ian's answer here #6929

[2020-11-13 14:13] #6932 closed

[2020-11-13 14:24] pavel-ship-it commented on #6919
Do you have any information on that faulty device? Low free memory?
Also could you share a model of the suspicious data base object? How you declare bookModel?
The second crash looks kinda interesting as it happens in __NSArrayM.
Any information on the length of that array?
What is the typical size of bookModel object?

[2020-11-13 15:32] cedric-elca opened #6934 "Unable to open realm file after upgrading from iOS 13 to iOS 14"
**Bugs**:

The realm file can't be opened anymore after upgrading from iOS 13 to iOS 14 for a lot of our users.
If the app is re-installed on iOS 14 (the realm file is re-created), the file can be accessed again.
It seems that the issue can only be reproduced with the store or ad-hoc build.

The app was using 5.4.6. I upgraded realm to 10.1.2. Unfortunately, the issue still occurs.

## Expected Re

[2020-11-13 17:00] EugenKuzn commented on #6911
@leemaguire

One more user with crash on [RFReferral addObjects:] (19 crashes on each launch, happened yesterday)
![Screenshot 2020-11-13 at 18 58 12](https://user-images.githubusercontent.com/33037693/99098907-5b53fe80-25e2-11eb-91be-9ed82e7b3321.png)

[2020-11-13 17:10] pavel-ship-it commented on #6934
Hi @cedric-elca
Is it an encrypted Realm? It could be a wrong encryption key.

[2020-11-13 17:17] cedric-elca commented on #6934
Hello, the realm file is not encrypted.

[2020-11-13 17:29] cedric-elca commented on #6934
Some additional info:
- The realm file still exists and the path is correct.
- It still can't be opened after removing the 3 auxiliary Realm files (note, lock, management).
- By the way, I actually use Realm in a SPM library. This library is used in the project that is currently experiencing this issue.

[2020-11-13 18:36] cedric-elca commented on #6934
Hello, you are right, these realm files are encrypted! This is a big mistake on my side, I apologize.
We have some very early users that have their realm files encrypted. In a recent library update, the optional decryption code was mistakenly removed. Sorry again.

[2020-11-13 18:36] #6934 closed

[2020-11-13 19:04] AuraNica commented on #6843
We released a new version with the fix from above, the errors with "**interprocess sharing**" were gone, but I saw new ones like this: **"Realm file decryption failed"**.
The encryption key is definitely  there and is the correct one, so what is causing  this issue?

The only way to fix it was to remove the entire database file and try to init realm again...but this just doesn’t seem right.

[2020-11-14 04:45] duncangroenewald commented on #6929
@ianpward - bear in mind we need to be able to sync with Realm Cloud and I was under the impression that the sync component source code was not available to download ?

[2020-11-14 05:00] owenzhao commented on #6619
Now this is a real issue in Xcode 12.2. macOS-arm64 doesn't support.

[2020-11-14 05:05] FaultyJuggler commented on #6738
@ericjordanmossman

Finally got updated to Realm 10 official, made all the changes to switch over to using Google Sign in rather than email password, now:

`Login failed: Error Domain=realm::app::ServiceError Code=47 "error exchanging access code with OAuth2 provider" UserInfo={NSLocalizedDescription=error exchanging access code with OAuth2 provider, realm::app::ServiceError=AuthError}`

The sign

[2020-11-14 05:08] duncangroenewald commented on #6932
@pavel-ship-it - and now both issues are closed without any satisfactory answer!

As far as I am aware it is not possible to download and build the Realm Cloud sync versions from the repo.  Yes we can already build RealmSwift standalone version from the repo but we are running with Realm Cloud sync.

Is the client sync component source code available somewhere  or did I miss something ?

[2020-11-14 05:09] FaultyJuggler commented on #6738
@ericjordanmossman for clarity when setting up google oauth info within the Realm UI on the mongodb website, should the cliendID and secret be the same as what's set in the iOS app?  Or should it be different?  Currently I generated a clientID and secret for each separately.

[2020-11-14 06:44] owenzhao opened #6936 "Realm Sync Doesn't Support mac-arm64 When Building in Xcode 12.2"
## Goals

build with Xcode 12.2.

## Expected Results

build successfully

## Actual Results

build failed.

## Steps for others to Reproduce

1. create a macOS app
2. create Podfile with RealmSwift
3. pod update
4. open .workspace file
5. include RealmSwift.
6. build

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?
RealmSwift 10.1.3
Realm Object Server version: ?

Xcod

[2020-11-14 08:20] kyungho-kim opened #6937 "Cannot run on mac using mac catalyst"
## Goals

Run on mac using mac catalyst
## Expected Results

Run successfully on mac
## Actual Results

Terminating app due to uncaught exception 'RLMException', reason: 'Keychain returned unexpected status code: -34018'

<img width="926" alt="스크린샷 2020-11-14 오후 5 14 44" src="https://user-images.githubusercontent.com/15036487/99142960-19d45980-269d-11eb-9d85-2969b46027d9.png">

## Steps for others

[2020-11-14 10:58] duncangroenewald commented on #6923
I am also trying to build a dynamic library with Carthage but when I run carthage update nothing gets built.  Is there a problem with using Carthage and Xcode 12.2 ?

[2020-11-14 14:39] zcohan commented on #6936
The latest binaries (v10.1.3) built for Xcode 12.2 don't include a framework with mac-arm64 support either.

[2020-11-14 16:07] ianpward commented on #6932
@duncangroenewald Please open a ticket via the support portal and we can route you appropriately there. The github is generally for open source users of Realm, ie. without Realm Sync.

[2020-11-14 16:20] FaultyJuggler opened #6938 "Apple Sign in fails with "invalid number of segments""
## Goals
Use Apple Sign In for Realm users on iOS

## Expected Results
Sign in would register a new user and open the app to realm data

## Actual Results
After Apple Sign in is completed, fails with error:

`Login failed: Error Domain=realm::app::ServiceError Code=47 "token contains an invalid number of segments" UserInfo={NSLocalizedDescription=token contains an invalid number of segments, realm

[2020-11-14 16:26] wojciech-kulik commented on #6936
+1 I can't release my app for Apple Silicon.

[2020-11-15 07:36] KimiChiu commented on #6686
Good news! I'll let you know if the problem still exists.

[2020-11-15 19:37] levelchanger commented on #6857
Hi Ian,

Can I still have a mixed ObjC/Swift project and use the Realm Swift SDK?  If I convert our data classes from ObjC to Swift and then use them in ObjC view controllers, will that work? We haven’t released the app yet, so I don’t have an existing customer database to worry about. What is the catch with using the Realm Swift SDK with a mixed project?

Nina

[2020-11-15 23:08] ianpward commented on #6857
The RealmSwift And RealmObjectiveC APIs are not interoperable. So any Realm APIs need to be in a consistent language across the whole app. You can have code in another language used in the same app as long as it is not touching the Realm APIs

[2020-11-15 23:53] levelchanger commented on #6857
Is it OK to use an unmanaged Swift Realm object in ObjC code but do saving in Realm in Swift code?

[2020-11-16 03:41] tgoyne commented on #6857
https://github.com/realm/realm-cocoa/pull/6886 makes it so that in a mixed project you define your models as RLMObject subclasses and use the obj-c API for interacting with data regardless of language, but for everything sync related you use the language specific API. In other words, you can't use Object/Realm/List/Results/LinkingObjects from RealmSwift and have to use the RLM-prefixed versions in

[2020-11-16 07:35] karlesct opened #6940 "Realm lost observe notification when cascade deleting is made it on entity"
## Goals

My issue happens when I try to replace whole sequence of objects with new sequence. What I do is get all objects from DB and deleteing them from DB and then I add new array of the same type of objects. The issue is if I delete the whole sequence and add new transaction the notification seems to break, it doesn't trigger for the operation.

I separate the delete and add it into different

[2020-11-16 09:34] philippeauriach opened #6941 "Updating realm causes Primary Key property class has duplicate values after migration"
## Goals
Update Realm version without making my app crash on update.

## Expected Results
No crash

## Actual Results
Realm cannot open (happened to 90% of users who made the update). The error is :
```Error Domain=io.realm Code=1 "Primary key property 'class_UserPushSettingsDAO.id' has duplicate values after migration." UserInfo={NSLocalizedDescription=Primary key property 'class_UserPushSettings

[2020-11-16 13:33] theolampert opened #6942 "Document handling a client reset for RealmSync"
Documentation in the new MongoDB docs section does not contain any mention of handling a client reset process correctly without data loss for the iOS SDK. There is some existing documentation [here](https://docs.realm.io/sync/using-synced-realms/errors#client-reset) but it isn't up to date with the new APIs. From what I can tell some documentation also exists for the JavaSDK and the .NETSDK.

I th

[2020-11-16 15:42] jsflax commented on #6937
Hey, would you mind sending us the stack trace with that error?

[2020-11-16 16:01] leemaguire commented on #6938
Hi @FaultyJuggler

Realm will do a lot of the heavy lifting for you with Apple Sign In. See our example here:

https://github.com/realm/realm-cocoa/tree/master/examples/ios/swift/AppleAuthentication

Also make sure your bundle ID matches the client id you used in MongoDB Realm Cloud.

[2020-11-16 16:20] FaultyJuggler commented on #6938
@leemaguire  managed to figure it out,
The example code really should clarify that the latest Realm version is expecting the JWT to be converted to a string in the following way:
`let appleIDtoken = String(data: appleIDCredential.identityToken!, encoding: .utf8)`

Once I got that, I was getting another vague error, which really should be more explicit that there was a client ID mismatch between JW

[2020-11-16 16:33] leemaguire commented on #6938
@FaultyJuggler I'll file the issue on your behalf. Thanks for the feedback. If you're all good would you mind closing the ticket?

Thanks

[2020-11-16 16:40] FaultyJuggler commented on #6938
@leemaguire  certainly, thanks for following up early on a Monday!

[2020-11-16 16:40] #6938 closed

[2020-11-16 18:19] nicopuri commented on #6734
The same issue happens to me, I want to "rename" an object, and the migration block is not executed.

[2020-11-16 18:51] DouweBos opened #6943 "pod install fails as of Realm 10.1.2 - No such file or directory"
##  Goals
Tried to run pod install on an example app that implements my SDK. Pod install fails when generating the pods project. Works on Realm 10.1.1, fails on 10.1.2 & 10.1.3.

## Expected Results
Pod installs

## Actual Results

[code]
## Version of Realm and Tooling

Realm framework version: 10.1.1 - 10.1.2 - 10.1.3

Xcode version: 12.1 (12A7403)

iOS/OSX version: Mac OS X 10.15.6 (19G2021)

D

[2020-11-16 18:52] jsflax commented on #6943
Could you try doing a full clean and deintegrate before trying to build again?

[2020-11-16 18:54] DouweBos commented on #6943
Yeah already tried `pod deintegrate`
Ran into this within multiple projects

[2020-11-16 18:58] jsflax commented on #6943
Have you tried clearing your pod cache as well?

[2020-11-16 18:59] DouweBos commented on #6943
trying it again right now. Not the greatest internet here in Cork so I am hoping the download just failed

[2020-11-16 19:02] DouweBos commented on #6943
......
Should have tried that again before opening an issue. That seems to have done the trick.

[2020-11-16 19:02] #6943 closed

[2020-11-16 19:04] jsflax commented on #6943
No worries. I'll have to tell our friends in Cork to work on their download speeds 😅

[2020-11-16 19:05] DouweBos commented on #6943
Nah, just tell Eir to get the s together.

[2020-11-17 03:44] ianpward commented on #3650
Hey All, Product for Realm here, we are interested in doing some user research on full-text search for the Realm SDK. If you could help us answer some questions then we can look to add this to the product roadmap. If you could please email me at ian.ward@mongodb.com we can set up a time to quickly chat - this would be greatly appreciated.

[2020-11-17 04:49] kyungho-kim commented on #6937
@jsflax I attached a screenshot and results of "(lldb)bt" command.

<img width="707" alt="스크린샷 2020-11-17 오후 1 36 41" src="https://user-images.githubusercontent.com/15036487/99347786-47a6e180-28db-11eb-8fab-4aa065b9fa47.png">

[code]

[2020-11-17 09:40] jsflax commented on #6942
@cbush , would you mind taking a look at this?

[2020-11-17 10:03] jsflax commented on #6923
@FaultyJuggler , we're currently working on a full SPM release that supports Sync. We'll update this ticket when that occurs.

[2020-11-17 10:04] jsflax commented on #6936
Hi folks, `v10.1.4` now supports mac-arm64. @owenzhao , can you please upgrade and, if the new release solves your issue, close this out?

[2020-11-17 10:12] wojciech-kulik commented on #6936
@jsflax it looks like on cocoapods there is still version `10.1.3`

[2020-11-17 10:15] wojciech-kulik commented on #6936
@jsflax it looks like on cocoapods there is still `10.1.3` version (https://cocoapods.org/pods/RealmSwift)

[2020-11-17 10:29] jsflax commented on #6936
It appears there was an issue last night pushing 10.1.4 to Cocoapods for RealmSwift. We're going to look into this ASAP.

[2020-11-17 10:52] sipersso commented on #6942
Aren't client resets handled automatically anymore?

[2020-11-17 10:59] theolampert commented on #6942
@simonask Is that the case? I don't actually know since I couldn't find docs on it but as far as I can tell from playing around with it, doing a destructive change in the MongoDB / Realm admin will/can trigger one and the SDK still gives you the ability to handle it:

[code]

It didn't seem as if it was always able to recover from this on its own.

[2020-11-17 11:01] jsflax commented on #6942
They are "handled" automatically, I was under the impression @theolampert wanted documentation on options of what users can do within the error handler on their own end to try to recover.

[2020-11-17 15:27] tgoyne commented on #6936
RealmSwift 10.1.4 is now actually out.

[2020-11-17 17:00] wojciech-kulik commented on #6936
Now it works, thanks guys!

[2020-11-17 22:33] #6936 closed

[2020-11-18 00:27] duncangroenewald commented on #6923
@jsflax - I see there is a v10.1.3 build that includes arm64, can you confirm this includes the sync component and can you also confirm that there is a v5.5.x build coming that will include arm64 and Sync.

Thanks

[2020-11-18 11:40] iDevid opened #6946 "RLMAddObjectToRealm Crash"
Hello,
I'm receiving some crashes on my Application on Crashlytics, seems that happen when adding an object to Realm.

## Stack Trace
[code]

## Version of Realm and Tooling

Realm framework version: 5.5.0

Xcode version: 12.0

iOS/OSX version: 12.x to 14.x

[2020-11-18 12:11] qasimmajeed commented on #3950
After update to xCode12 i am also facing this same issue with realm version **'3.21.0'**

Undefined symbols for architecture arm64:

i know to remove the arm64 simulator the code will work but i need the simulator support..Can anyone help me in this

[2020-11-18 12:33] owenzhao commented on #6619
This issue can be closed. @joaocolaco

[2020-11-18 13:55] LorienMan commented on #6628
There are no such stacktraces in crashlogs since Realm 5.4.8 👍 But! Many others have appeared in completely random places with heap corruption. I cannot say that memory is corrupted by Realm or not (hopefully not but the only change was updating Realm). However there is one strange thing: upon enabling swift -o optimization with WMO compilation mode and running on simulator with Thread Sanitizer -

[2020-11-18 17:50] #6619 closed

[2020-11-18 18:58] MarcoCarnevali opened #6947 "Crashing while initializing Realm"
## Expected Results
Realm should not crash while initializing

## Actual Results
Realm crashes while initializing

## Steps to reproduce
This crash seems to happen after an app restart (after it crashes)

## Code Sample
[code]

## Stacktrace
[code]

## Version of Realm and Tooling

Realm framework version: 10.1.2

Xcode version: Xcode 12.1.1

iOS/OSX version: iOS 14

Dependency manager + version:

[2020-11-19 03:15] JonnyBeeGod commented on #6800
Same issue with Xcode 12.2 cocoa pods 1.10

What I discovered is that when building with the no-clean option and opening the generated App.xcworkspace First compilation will fail as well, it will however succeed when tried another time, this time with cleared derived data. Does not help because pod lib lint will still always fail but maybe it helps with debugging

[2020-11-19 03:19] JonnyBeeGod commented on #6800
I am also getting the same error for RealmSwiftObject

[code]

[2020-11-19 09:00] MarcoCarnevali commented on #6947
Quick Update: I have the user `default.realm`file, and it seems corrupted... I can't open it.
Why is it corrupted? How can I fix the issue while not loosing data?

[2020-11-19 13:37] fvvliet opened #6948 "Crash: Realm file decryption failed Path"
## Goals
Run Realm without crashes on iOS 14

## Expected Results
Open Realm database without issues

## Actual Results
Crash: "Realm file decryption failed Path"

## Steps for others to Reproduce
Use Realm older version (version 4.x), run app and fill database with some data, update to Realm 10.1.4, run app again

## Code Sample
        do {
            try Realm.Configuration.defaultConfiguratio

[2020-11-19 13:58] FelixII commented on #6861
I can confirm that the crash no longer occurs in my app with the latest Realm version (10.1.4) on watchOS 7.1. 👍

[2020-11-19 14:33] sync-by-unito[bot] opened #6949 "SwiftUI Improvements/Ergonomics"

[2020-11-19 14:34] jsflax commented on #6948
Hey, can you send us the full stack trace please? Thanks.

[2020-11-19 14:35] jsflax commented on #6947
What is the error's description? If you're able to catch an error, it sounds like some precondition is not being met.

[2020-11-19 14:37] jsflax commented on #6946
Does crashlytics give you the error message?

It looks like you might be trying to insert an object with a primary key, without setting its primary key value.

[2020-11-19 14:37] jsflax commented on #6941
@finnschiermer this sounds like an issue we heard about early in the core 6 release– any thoughts?

[2020-11-19 14:40] jsflax commented on #6940
Could you try upgrading to 10.1.4 and seeing if the issue still occurs? Let us know if that works otherwise we can work to reproduce on our end.

[2020-11-19 14:42] leemaguire commented on #6937
@kyungho-kim I cannot reproduce this on Catalina. What version of macOS are you using?

[2020-11-19 14:54] iDevid commented on #6946
It's a SIGABRT ABORT 0x00000001c06560dc

[2020-11-19 14:56] astigsen opened #6950 "Make realm.resolve() work on frozen objects"
When working with frozen objects, it often happens that you need to convert them back into live objects (this comes up every time you need to modify them, or just make sure that you have the latest version).

Today you can do that by first creating a `ThreadSafeReference` and then using `realm.resolve()` to get the live object:

[code]

This works, but it is not documented anywhere, and not very i

[2020-11-19 14:57] iDevid commented on #6946
Anyway It's happening only from the Release where I updated Realm from 4.X to 5.X, but there are only few crashes on a very large user base (about 40 crashes for 18 users).

[2020-11-19 15:02] jsflax commented on #6950
@ericjordanmossman  is working on a `thaw` function that does exactly this: https://github.com/realm/realm-cocoa/tree/em/thaw. This is similar to the boilerplate that I have on my SwiftUI PR. This is the JIRA ticket: https://jira.mongodb.org/browse/RCOCOA-960 (not sure why it's private, I'll look into that).

`thaw`ing feels intuitive after `freez`ing, and accomplishes the above. Does this seem su

[2020-11-19 15:04] astigsen commented on #6950
Yes, I would be happy with that. `thaw` definitely seems more discoverable.

[2020-11-19 15:12] MarcoCarnevali commented on #6947
@jsflax
This error is happening to some users but I’m not able to reproduce it.. this is the description coming from crashlyrics:
EXC_BREAKPOINT (SIGTRAP)

[2020-11-19 15:13] fvvliet commented on #6948
2020-11-19 16:12:57.412537+0100 OLVG Pijn App[7936:2716324] [AppCenterCrashes] WARNING: -[MSCrashes configureCrashReporterWithUncaughtExceptionHandlerEnabled:]/648 Detecting crashes is NOT enabled due to running the app with a debugger attached.
2020-11-19 16:12:57.430246+0100 OLVG Pijn App[7936:2716553] [Client] Updating selectors after delegate removal failed with: Error Domain=NSCocoaErrorDomai

[2020-11-19 15:16] sync-by-unito[bot] opened #6951 "Add thaw method for SwiftUI & Realm integration"
While we built out our SwiftUI migration guide - [https://docs.mongodb.com/realm/ios/swiftui/](https://docs.mongodb.com/realm/ios/swiftui/)

It was determined that the best way to pass an object reference from the frozen realm to the main realm was to use the ThreadSafeReference API. This could confuse our users because there is no objects being passed across threads. Instead we should simplify th

[2020-11-19 16:31] leemaguire commented on #6937
@kyungho-kim For Catalyst you need to enable "Keychain Sharing" from "Signing and Capabilities" section in Xcode.

[2020-11-19 17:23] astigsen opened #6952 "Implement writeAsync for ObjC"
Right now doing your commits on a background thread is quite a complicated affair. You have to open a new realm there, remember to close it again unless you end up pinning the realm, and if you need to bring objects along from the parent (often UI) thread, you have to either pass a primary key and do lookups to retrieve the same object(s) in the new thread (which does not work for lists and query

[2020-11-19 18:36] docterd commented on #6861
I can also confirm that after retesting the example. Looks good. Not sure why my last testing was still producing it.

[2020-11-19 20:41] sync-by-unito[bot] opened #6953 "Create wrapper API around threadSafeReference for writes"
[~alexander.stigsen] wrote up an example of how to use a thread safe reference to make a write on a background thread. Should we wrap this functionality and expose this as a convenience API?

[https://realm.io/docs/cookbook/swift/object-to-background/](https://realm.io/docs/cookbook/swift/object-to-background/)

[2020-11-19 22:31] kyungho-kim commented on #6937
@leemaguire Thanks! it solved!

[2020-11-20 00:29] FaultyJuggler opened #6954 "Apple Sign In no longer working"
## Expected Results
Log in to Realm using Apple Sign In

## Actual Results
fails with error:
`Login failed: Error Domain=realm::app::ServiceError Code=2 "OAuth2 configuration consists of only clientId, clientSecret, and openId" UserInfo={NSLocalizedDescription=OAuth2 configuration consists of only clientId, clientSecret, and openId, realm::app::ServiceError=InvalidSession}`

## Steps for others to

[2020-11-20 10:03] HelpPlease-bot opened #6955 "Update to ver. 10.1.4 ->launch app Error: Did you remember to mark them with '@objc' in your model?'"
## Goals
App to compile and run seamlessly as before.

## Expected Results
App to compile and run seamlessly as before.

## Actual Results
App Crashing on launch with following error on Realm Realm Swift 10.1.4
Thread 1:  'No properties are defined for xxxxxxxxxxxxxxSystemVariables_'. Did you remember to mark them with '@objc' in your model?'

## Steps for others to Reproduce

## Code Sample
[code

[2020-11-20 12:56] bo46 commented on #6861
Thanks! Bug doesn't reproduce (Realm v.10.1.3) 👍

[2020-11-20 12:56] #6861 closed

[2020-11-20 13:06] pavel-ship-it commented on #6955
Hello,
I cannot reproduce the issue on 10.1.4 with the provided model.
Also do you do anything else with that class or with the objects of this class?
Typically message would be (notice the different class name) - _"Thread 1: “No properties are defined for ‘SystemVariables’. Did you remember to mark them with ‘@objc’ in your model?”_

[2020-11-20 13:10] sync-by-unito[bot] opened #6956 "Implement Migration Backup"

[2020-11-20 17:26] trr-amsiq commented on #6408
Reordered this to the initial realm call. Now the crash is completely gone
[code]

Before I had the same order as in the docs. Seems more safe to disable protection before opening the realm.

[2020-11-21 00:24] HamstringAssassin commented on #6147
If it's any help, i'm also seeing the same memory leak. Im using version 10.1.3 and was previously seeing it in version 5.3.3. iOS 14 simulators.

![image](https://user-images.githubusercontent.com/6310250/99861669-b364a500-2b8e-11eb-80e3-9965018da919.png)

In the screenshot above, theres one leak for the one struct. Normally, there would be hundreds if not thousands of leaks. Ive tried recreating

[2020-11-21 11:36] fvvliet commented on #6948
Is this stack trace enough to debug the issue ?

[2020-11-21 14:02] rantianhua opened #6957 "Miss one or more architectures required by this target: arm64, x86_64."
## Goals

Use realm-cocoa in watchOS target through Carthage.
## Expected Results

I can use realm framework build through Carthage in watchOS target.
## Actual Results

[code]

## Steps for others to Reproduce

Use Carthage 0.36.0 to build realm 5.3.0 with the watchOS platform. Then link this framework in Xcode 12.2 to build.

## Code Sample

## Version of Realm and Tooling

Realm framework versi

[2020-11-21 14:03] jsflax commented on #6957
You'll have to upgrade to realm v10.1.4 for arm64 support.

[2020-11-21 14:06] rantianhua commented on #6957
@jsflax Another two questions:

1. Is v10.1.4 compatible with v5.3.0?
2. How about x86_64? Still not support in Xcode 12.2?

[2020-11-22 10:58] ZComwiz commented on #6957
@jsflax — When building the app on v10.1.4 for archiving to the app store the error occurs:

Umbrella header 'Realm.h' not found in module.map
and could not build Objective-C module 'Realm'

(latest version of cocoapods 1.10.0)

Already attempted to clear derivedData/build folder.

[2020-11-22 19:17] HamstringAssassin commented on #6147
Just to follow up incase anyone comes across this with a similar issue - changing the assignment in the struct using string interpolation seems to have fixed it.

[code]

Once i did this, all the memory leaks were resolved. Im still not able to reproduce the issue in a demo app. :(

[2020-11-23 03:33] ginhoor commented on #6850
@jedelbo

here is top 20 lines data in error realm file.

### File 1
[code]
### File 2
[code]

### File 3
[code]

### File 4
[code]

[2020-11-23 08:46] theolampert commented on #6954
Experiencing this as well. @FaultyJuggler do you know if downgrading fixes this?

[2020-11-23 11:14] leemaguire commented on #6955
@HelpPlease-bot Can you please show us how you are instantiating your `SystemVariables ` Object and how you are adding that object to Realm?

[2020-11-23 11:15] leemaguire commented on #6954
I can reproduce the issue and we are looking into it now.

[2020-11-23 11:25] leemaguire commented on #6957
@ZComwiz I cannot reproduce on Xcode 12.2, Cocoapods 1.10 and Realm Swift 10.1.4, Are you able to reproduce the issue with a new test project?

[2020-11-23 11:27] leemaguire commented on #4555
Building with SPM is supported, but we have yet to add support for Realm Sync via SPM.

[2020-11-23 11:28] ZComwiz commented on #6957
@leemaguire The fix for me was to move all Realm files from private to public when archiving the project.

[2020-11-23 11:30] leemaguire commented on #6957
@ZComwiz It's strange you had to do that. Another thing I could suggest is deleting the pods folder and doing a fresh `pod install`

[2020-11-23 11:30] karlesct commented on #6940
Yes, even updating to version 10.1.4 I still experience the same behavior.

Sorry for the delay in answering, it was impossible for me to test this version until today.

[2020-11-23 11:33] ZComwiz commented on #6957
@leemaguire I suppose I should have mentioned that I did that already as well, but working on iOS and React Native apps for so long I just figured it was implied that one should try that first haha

[2020-11-23 11:36] leemaguire commented on #6903
@tiwari-umashanker Realm v 5.5.0 is the latest version of Realm to support legacy sync. Could you please upgrade to that and let us know if you experience any issues? Thanks.

[2020-11-23 11:37] leemaguire commented on #6902
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-23 11:39] #6902 closed

[2020-11-23 11:44] leemaguire commented on #6901
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-23 11:44] leemaguire commented on #6899
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-23 11:45] leemaguire commented on #6877
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-23 11:46] leemaguire commented on #6871
@KimiChiu have you been able to test out Realm v10.1.4 to see if this fixes the issue?

[2020-11-23 11:47] #6877 closed

[2020-11-23 11:47] #6899 closed

[2020-11-23 11:47] #6901 closed

[2020-11-23 11:48] leemaguire commented on #6688
Closing this issue due to inactivity. If this issue still persists with the latest version v10.1.4 please open a new issue. Thanks.

[2020-11-23 11:49] #6688 closed

[2020-11-23 11:51] leemaguire commented on #6096
@niralishaha25 are you using encryption? Does your app belong to an App Group? Have you got any file permissions set in your app?

[2020-11-23 11:51] leemaguire commented on #6865
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-23 12:01] #6865 closed

[2020-11-23 12:02] leemaguire commented on #6957
@ZComwiz I can reproduce when archiving for Catalyst, good catch!

[2020-11-23 14:02] leemaguire commented on #6948
@fvvliet Could you share how you are using encryption? Specifically `encryptionKey()`. I cannot reproduce this on our end using this example for creating an encryption key https://github.com/realm/realm-cocoa/blob/master/examples/ios/swift/Encryption/ViewController.swift

[2020-11-23 14:04] fvvliet commented on #6948
private extension RealmManager {

    class func configuration() throws -> Realm.Configuration {

        var config = Realm.Configuration()

        config.encryptionKey = encryptionKey().data(using: .utf8)!
        config.schemaVersion = 1

//        log.info("Realm configuration: \(config)")

        return config
    }

    /**
     We have to enter this encryption key in the Realm Browser cau

[2020-11-23 14:10] leemaguire commented on #6948
@fvvliet Using `UIDevice.current.identifierForVendor` is a very unstable way to generate an encryption key, a lot of problems can come from it. See https://developer.apple.com/documentation/uikit/uidevice/1620059-identifierforvendor I would recommend that you use the link I shared in my previous post that shows how to read / write an encryption key to the keychain.

[2020-11-23 14:12] fvvliet commented on #6948
@leemaguire  Ah of course, you're right ;-)

Thanks for your advice 👍

[2020-11-23 14:19] leemaguire commented on #6947
@MarcoCarnevali can you capture the error on line 35 and send it to Crashlytics instead of throwing a `fatalError`?

[2020-11-23 14:43] #6937 closed

[2020-11-23 15:25] leemaguire commented on #6916
@jesusmateos1234 can you please update to v10.1.4 and let us know if the issue still persists?

[2020-11-23 18:45] ericjordanmossman commented on #6951
@jsflax What's the best way to handle an error [here](https://github.com/realm/realm-cocoa/compare/em/thaw#diff-2483336b6fff6fde06861d2f5e5ef81c39e18ea8af91f881f0750ecc92b4b3a2R519)? Should failing to open a RLMRealm propagate through to the [swift throw](https://github.com/realm/realm-cocoa/compare/em/thaw#diff-592ee50a13f0357ac2409ed03f3e518db6fdbf3735adff9a3abcaf6a17037d00R365)? Or should we pa

[2020-11-24 08:31] EugenKuzn commented on #6911
A few more users with the same crash on [RFReferral write:]
.
.
.
![Screenshot 2020-11-24 at 10 30 46](https://user-images.githubusercontent.com/33037693/100068447-39f3dd80-2e40-11eb-8d73-a4450eb944c2.png)

[2020-11-24 09:27] byron22seven commented on #6955
I'm getting the same error.
Works perfectly on 5.5.0 though.

[code]

Adding `@objc` produces the error `Property cannot be marked @objc because its type cannot be represented in Objective-C` – as expected I suppose.

[2020-11-24 09:53] leemaguire commented on #6955
@byron22seven `@objcMembers` will not work with optional primitive types in Swift. You need to wrap the primitive type with `RealmOptional`. See our cheatsheet here: https://realm.io/docs/swift/latest/#property-attributes

[2020-11-24 09:58] leemaguire commented on #6954
This looks to be resolved now.

[2020-11-24 09:59] #6954 closed

[2020-11-24 10:10] theolampert commented on #6954
@leemaguire just confirmed here, looks resolved thank you!

[2020-11-24 10:19] byron22seven commented on #6955
@leemaguire thanks for this. We wrap a few things with `RealmOptional`, but not all.
How come it worked previously and no longer does?

Changing the one line to `let mustSubscribe, trialStarted, trialEnded, subscribed = RealmOptional<Bool>()` just produces more errors...
`Type 'SubscriptionInfo' does not conform to protocol 'Decodable'`
`Type annotation missing in pattern`
`Immutable property will

[2020-11-24 11:46] leemaguire commented on #6955
@byron22seven Your model should have never worked by declaring the optional Swift primitives, can you confirm if you have data in your Realm file? It is necessary to use `RealmOptional` for Swift primitives. Are any of these properties to be ignored by Realm?

[2020-11-24 13:21] byron22seven commented on #6955
@leemaguire yup there's data.. I changed 2 models' props to use `RealmOptional` and the whole project builds and runs all of a sudden, despite having other models use `dynamic var isDeleted: Bool?` for example. Super weird.

Either way - for now, it's working so thanks are in order I suppose 😅 thank you for the help.

[2020-11-24 13:47] JonnyBeeGod commented on #6957
Can you elaborate on how to do this? Running into similar issues here

[2020-11-24 13:57] ZComwiz commented on #6957
Hi @JonnyBeeGod. So its a bit of a hack work around that only works for archiving the app, but will break your ability to run it in debug mode because of redundant module files being compiled so you will need to revert your changes by either reversing this or deleting pods and re `pod install`ing.

1. Navigate to Pods project file in XCode.
2. Find Realm in the targets list on the left hand side.

[2020-11-24 16:35] JonnyBeeGod commented on #6957
Thank you. Unfortunately that did not solve my issues but it was worth a try ;)

[2020-11-24 17:36] darkheartfelt commented on #6312
https://github.com/realm/realm-js/issues/1449
https://github.com/realm/realm-js/issues/2617
https://github.com/realm/realm-js/issues/1427
https://github.com/realm/realm-js/issues/1449
🤯
This issue, though transient has never been definitively explained or solved by Realm over the past few years. There are many suggested unsustainable workarounds - i.e to clear ios/build every time someone pulls a

[2020-11-25 10:40] sync-by-unito[bot] opened #6959 "Functions API does not work with SwiftUI+Combine"
When using the Functions API in the SDK the call to the function on the backend fails to reach the server. Looking into this it seems that the `weak User` property on the `Functions` struct is nil by the time the call is to be performed.

[2020-11-25 10:53] XavierLost commented on #6959
********************************

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-11-25 11:44] petropavel13 commented on #6800
Looks like we need to add `Realm` to `podspec` file:
[code]
Otherwise your target will not depend on `Realm` despite [`RealmSwift` has dependency on `Realm`](https://github.com/realm/realm-cocoa/blob/master/RealmSwift.podspec#L21):

Looks like coocapods bug.

### For example:

#### Target dependencies in Pods project with implicit `Realm` dependency:

<img width="635" alt="Screenshot 2020-11-25 at

[2020-11-25 12:31] DenTelezhkin commented on #6800
This totally fixed this issue for me, thanks @petropavel13! Closing.

[2020-11-25 12:31] #6800 closed

[2020-11-25 20:37] kraenhansen commented on #6312
@darkheartfelt in short it happens when the Realm Core headers isn't properly downloaded or properly found when generating the XCode project (during execution of `pod install`). The root cause of this has been many and changing over time.

Would you mind opening a new issue with exact steps - in particular how you're installing and building your project? To my knowledge we don't have an issue with

[2020-11-26 06:17] sainttail commented on #6104
I also have this problem with realm 4.4.0 and it is the top of the crash in crashlytic

[2020-11-26 10:03] leemaguire commented on #6881
@phuocmobytelab In order to help you we need the following information:

- Version of Realm that you are using.
- Are you using Sync.
- What platforms are you targeting
- Some code showing how you are using the `ThreadSafeReference`

Thanks.

[2020-11-26 11:40] RustamG commented on #4818
I was experiencing the `Cannot register notification blocks from within write transactions.` crash.  I use Combine to observe the data and I have several `flatMapLatest` calls to control the program flow. It was really hard to understand where the notification was trying to register from. Because the stack trace only contained my `write` block which itself didn't include any notification registrat

[2020-11-26 13:16] KimiChiu commented on #6871
@leemaguire I will submit a new version with Realm v10.1.4 for TestFlight in these days.

[2020-11-26 14:14] ppamorim opened #6960 "build.sh xcframework failing to link for Catalyst"
## Goals
I would like to compile the library into an `xcframework` containing the libraries for `ios-swift` and `catalyst-swift`.

## Expected Results
`build.sh` should create a `xcframework` with the libraries described above.

## Actual Results

Crash when compiling using Xcode 12:

<img width="700" alt="Screenshot 2020-11-26 at 14 09 21" src="https://user-images.githubusercontent.com/5521682/10

[2020-11-26 14:52] leemaguire commented on #6960
@ppamorim you should use `./build.sh xcframework ios catalyst` to build for just iOS and Catalyst.

[2020-11-26 14:53] ppamorim commented on #6960
I tried to compile the library twice, one framework for `iOS` and another for `Catalyst`:

<img width="762" alt="Screenshot 2020-11-26 at 14 51 53" src="https://user-images.githubusercontent.com/5521682/100365131-fa232680-2ff6-11eb-88cd-4d44ef20d65e.png">

But I am getting this error when compiling the Catalyst project:

`.../ios/Realm.framework/Headers/RLMPlatform.h:32:2: Attempting to use Realm'

[2020-11-26 14:54] ppamorim commented on #6960
@leemaguire I am trying to compile it again with your command.

[2020-11-26 14:57] leemaguire commented on #6960
I do see an issue here related to how Catalyst uses macOS style versioned frameworks

[2020-11-26 14:58] ppamorim commented on #6960
@leemaguire Same issue with your command:

<img width="700" alt="Screenshot 2020-11-26 at 14 58 15" src="https://user-images.githubusercontent.com/5521682/100365795-da403280-2ff7-11eb-9854-8a4f36ef91a2.png">

[2020-11-27 10:28] gogovan-anthonychan opened #6961 "How can we ensure the writing process is finish when we doing it in background thread"
## Goals

We are going to move the writing process to the background thread and all other threads can get the updated detached result.
## Expected Results

1. Save realm object in a specific background thread
2. Delete that realm object in the same background thread
3. When querying the object, it returns nil
## Actual Results

When querying that object, I still can get the object.

## Steps for o

[2020-11-27 11:32] leemaguire commented on #6961
@gogovan-anthonychan You need to observe the Realm collection for changes, as the test will continue without waiting for the write to finish. Once the change has been observed you can let your test continue. One way to implement this 'traffic light' system is to use a [semaphore](https://developer.apple.com/documentation/dispatch/dispatchsemaphore)

Also see observing a collection a Realm: https:/

[2020-11-27 11:40] gogovan-anthonychan commented on #6961
@leemaguire We have thought about this approach. Sometimes, we would like to make it synchronous. Save an object and then query it from other place. How can we ensure that the saving process finish other than realm notification?

[2020-11-27 11:46] leemaguire commented on #6961
To make it synchronous you will need to run everything off the same queue, otherwise the use of a semaphore is needed to ensure all other tasks have completed before continuing to the next.

[2020-11-27 12:08] gogovan-anthonychan commented on #6961
@leemaguire if `delete` and `save` are running in the same queue, and the order is `save -> delete`. Does it finish `save` process before `delete` every time?

[2020-11-27 12:16] leemaguire commented on #6961
Yes as long as you are using a serial queue.

[2020-11-27 13:15] gogovan-anthonychan commented on #6961
@leemaguire  I think you have solved my problem so I close this issue. Thank you.

[2020-11-27 13:15] #6961 closed

[2020-11-27 14:29] leemaguire commented on #6919
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-11-27 14:29] #6919 closed

[2020-11-27 17:57] LikeCarter opened #6963 "Call Filter or Sort on a Realm List: 'This method may only be called on RLMArray instances retrieved from an RLMRealm'"
## Goals
Filter a Realm List.

## Expected Results
Turn a List into a Results object.

## Actual Results
RLMException
'This method may only be called on RLMArray instances retrieved from an RLMRealm'

## Steps for others to Reproduce
Running filter or sort on a list object:
    ```list.filter("isDeleted == false")```

Further running:
    ```debugPrint(list.realm)```

Prints nil.

## Code Sample

[2020-11-27 19:12] LikeCarter commented on #6963
So it seems the issue was trying to filter / sort on a List when the parent Object hasn't been added to Realm yet.

I had to

[code]

Before I could:

[code]

You can close this.

[2020-11-27 19:12] #6963 closed

[2020-11-27 21:19] tzuhaohuang commented on #6685
Anyone has this issue right now?

Every time I tried 'pod lib lint' and this is always the error
`~/Pods/Realm/core/librealmcore-ios.a(bptree.o), building for iOS Simulator, but linking in object file built for iOS, for architecture arm64
    clang: error: linker command failed with exit code 1 (use -v to see invocation)
`

`The following build commands failed:
    	Ld /Users/~/Library/Developer/X

[2020-11-30 11:05] pavel-ship-it commented on #6312
Hi @darkheartfelt , which version of Realm you are using?
Our current release 10.1.4 is working fine with SPM.

[2020-12-01 08:51] zyphs21 opened #6965 "Crash happens when use login(credentials): "[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[1]""
## Goals
I would like to Login to a user for the Realm.

## Expected Results
Login success

## Actual Results

It crash ！

[code]

![image](https://user-images.githubusercontent.com/4511324/100714958-7780d980-33f1-11eb-81b7-541e6a9b501e.png)

in

[code]

from

[code]

The code below is not safe:
[code]

## Steps for others to Reproduce

I think it happens when the user haven't Allow the WLAN& Cell

[2020-12-01 12:29] jedelbo commented on #6850
@ginhoor I checked the files that you uploaded. They all seem to suffer from having some 'b8' bytes at the end. If these bytes are removed so that the file ends with '123430', the file can be opened with no problems. I have no ides where these extra bytes come from. Could it be due to some copying?

[2020-12-01 12:37] pavel-ship-it commented on #6965
Hi @zyphs21 ,
Is there any chance to have an error value you're passing to RLMAppErrorToNSError?

[2020-12-01 13:46] jsflax commented on #6951
We shouldn't propagate any error, thaw should mirror freeze in as many ways as possible.

[2020-12-01 13:48] ericjordanmossman commented on #6951
The one place it diverges is opening a new realm reference. In the event this fails what's should the response be?

[2020-12-01 13:49] jsflax commented on #6951
This may be why Thomas said to use the ObjectStore functionality.

[2020-12-01 13:50] ericjordanmossman commented on #6951
Ah! Let me do this. :)

[2020-12-01 14:42] zyphs21 commented on #6965
Hello @pavel-ship-it,
I have checked my code, and I only simply call the `login(credentials:)` function.

[2020-12-01 15:04] EugenKuzn commented on #6911
One more client with the same problem
.
.
.
![Screenshot 2020-12-01 at 17 04 14](https://user-images.githubusercontent.com/33037693/100757676-54592880-33f7-11eb-9dca-8b65d15eabd7.png)

[2020-12-01 15:49] ericjordanmossman commented on #6950
Closing as duplicate of #6951

[2020-12-01 15:50] #6950 closed

[2020-12-01 17:26] pavel-ship-it commented on #6628
I'll close this issue due to inactivity. If the you still see the same issue please comment and we can re-open it.

[2020-12-01 17:26] #6628 closed

[2020-12-01 17:27] pavel-ship-it commented on #6686
I'll close this issue due to inactivity. If the you still see the same issue please comment and we can re-open it.

[2020-12-01 17:27] #6686 closed

[2020-12-01 17:27] rogerluan opened #6966 "[crash] mutex lock failed: Invalid argument"
## Goals

Unit test objects CRUD in a background queue.

## Expected Results

CRUD should work without throwing exceptions.

## Actual Results

Fun Fact Number 1: I get thrown the following exception **sometimes** (which's the tricky part). About 10-30% of the time I'd say.

Fun Fact Number 2: Sometimes this crash is thrown and I can't recover from it (my tests actually crash). Sometimes it's caug

[2020-12-01 17:28] rogerluan commented on #6686
@pavel-ship-it I just opened a new issue similar to this one 😬

[2020-12-02 02:22] ReveelTeam opened #6967 "Can't Install Realm v10.0+ via Cocoapods (v1.10)"
## Issue

Cannot install Realm v10.0+ via Cocoapods. Have tried each release (from 10.0.0) up to 10.1.4 - no luck. All other repos reinstall fine but not Realm v10.0+

## Goals

Install Realm v10.1.4

## Expected Results

Install Realm v10.1.4

## Actual Results

**ERROR OUTPUT (e.g. 10.1.4 attempt):**
[!] Failed to download 'Realm': [!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

Downloading

[2020-12-02 08:58] FelixII opened #6968 "Build script does not create module for the arm64 simulator"
## Goals

I want to build Realm as a precompiled framework, embed it into an iOS app and run it in the simulator.

**Important:** I'm using a M1 MacBook Air and therefore need to compile code for the arm64 simulator.

## Expected Results

Xcode compiles the app with Realm as an embedded binary.

## Actual Results

Xcode compilation fails with the following error message:

`Module 'RealmSwift' was

[2020-12-02 11:48] pavel-ship-it commented on #6967
Hi @ReveelTeam ,
Is it working for you on XCode 12?
Both Podfile contents are valid so you can just stick to the simplest - `pod 'RealmSwift', '~> 10.1.4'`

[2020-12-02 12:05] ganesh-ananthan commented on #6789
@tgoyne We have upgraded to 5.5.0 , still we have same issue.

[2020-12-02 13:35] ReveelTeam commented on #6967
@pavel-ship-it

I just tried with Xcode 12.2 and it does not. Though, currently (w/o lots of work) can't use Xcode 12.2

[2020-12-02 16:15] tgoyne commented on #6968
A fat framework cannot contain both arm64-for-simulator and arm64-for-device slices because the file format only distinguishes on architecture and not the platform, so they're both just "arm64". Instead you have to use a xcframework, which can be built with `sh build.sh xcframework ios`. Currently the xcframework build is a bit weird and different, but https://github.com/realm/realm-cocoa/pull/696

[2020-12-02 16:40] pavel-ship-it commented on #6924
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-12-02 16:40] #6924 closed

[2020-12-02 19:26] visdyn opened #6970 "LinkingObjects function does not autocomplete in XCode"
## Goals
When typing LinkingObjects in XCode it should autocomplete

## Expected Results
LinkingObjects should autocomplete

## Actual Results
LinkingObjects does not autocomplete

## Steps for others to Reproduce
In a RealmSwift project in XCode 11 or 12, type in

let someObject = LinkingObjects(

and let the popup autocomplete window appear

## Code Sample

<img width="627" alt="LinkingObjects 1

[2020-12-02 19:40] tgoyne commented on #6970
This is something you should report to Apple. We do not have any influence on autocomplete.

[2020-12-02 20:15] ReveelTeam commented on #6967
@pavel-ship-it

I decided to try each version starting  from Realm v5.0.0 and found that once I go past 5.3.5. I get similar failures going from 5.0.0 directly to a target above 5.3.5. errors would show different target values - ex) 5.3.6 shows failure with 'sync' 5.0.20 -OR- for 5.4.0 show failure with 'sync' 5.0.22. Though if I incremented from 5.3.5 to 5.3.6 a [first time] error populated (see

[2020-12-02 20:17] visdyn commented on #6970
You would think so, right? However, with RealmSwift 5.3.3 it works (and actually has worked up until v10, correctly. Here's a screen shot from a project with RealmSwift 5.3.3

<img width="522" alt="LinkingObjects 5 3 3" src="https://user-images.githubusercontent.com/19558530/100926390-5f708f00-34b1-11eb-99e5-fb4b52a91098.png">

[2020-12-02 20:44] visdyn commented on #6970
Ah, I see the reason. The definition changed from

`public struct LinkingObjects<Element: Object> {`

to

`@frozen public struct LinkingObjects<Element: ObjectBase> where Element: RealmCollectionValue {`

[2020-12-03 07:02] #6970 closed

[2020-12-03 10:43] FelixII commented on #6968
Thanks for your quick response. I've compiled the new Realm version 10.2.0 with `./build.sh xcframework ios` and also tried the precompiled binaries from GitHub. In both cases I get the following error message when building my project for the arm64 simulator:

`Could not find module 'RealmSwift' for target 'arm64-apple-ios-simulator'; found: i386, x86_64-apple-ios-simulator, x86_64, i386-apple-ios

[2020-12-03 11:39] marinofaggiana opened #6973 "Crash on transaction cancel"
XCode V12.2
Realm 10.1.4
RealmCore 10.1.3
Via SMP

I register sometimes this crash:

Date/Time:           2020-12-03 20:37:46.6433 +1000
Launch Time:         2020-12-03 14:35:25.3221 +1000
OS Version:          iPhone OS 14.2 (18B92)
Release Type:        User
Baseband Version:    6.02.01
Report Version:      104

Exception Type:  EXC_BAD_ACCESS (SIGSEGV)
Exception Subtype: KERN_INVALID_ADDRESS at 0

[2020-12-03 14:12] pavel-ship-it commented on #6973
Hi @marinofaggiana,
Is it debug version? Maybe a simulator run?
Is it an encrypted realm?
Do you have any reproduction steps?

[2020-12-03 14:18] marinofaggiana commented on #6973
Hi @pavel-ship-it thanks for you answer

 No

No

No, sorry, because are errors detect from our TestFlight users

[2020-12-03 15:33] ericjordanmossman commented on #6857
#6886 released in [10.2.0](https://github.com/realm/realm-cocoa/releases/tag/v10.2.0)

[2020-12-03 15:33] #6857 closed

[2020-12-03 17:06] #6915 closed

[2020-12-04 11:25] pavel-ship-it commented on #6973
@marinofaggiana
I see similar crash log in #6697. Is it from the same app?

[2020-12-04 11:28] marinofaggiana commented on #6973
yes, the app it's the same but why the: transaction::cancel ?

[2020-12-04 11:31] pavel-ship-it commented on #6973
I see it in the log. It could be related to the issue. Keeping that on mind, do you have any idea on the possible reproduction steps?

[2020-12-04 11:45] pavel-ship-it commented on #6967
This is interesting,
Errno::ENOENT - No such file or directory @ rb_check_realpath_internal - /<PATH_TO>/<FURTHER_PATH_TO>/Pods/Realm/include/Realm/RLMAccessor.h
Could you please check the path - it should be '/<PATH_TO>/<FURTHER_PATH_TO>/Pods/Realm/include/RLMAccessor.h'
while you have this second '/Realm' element

[2020-12-04 12:14] sipersso opened #6976 "Crash when upgrading file format. (4.4.1->10.1.4)"
For some users that have skipped a few app version I am getting crashes when trying to open local realm files

Steps to reproduce:
1: Create a realm using Realm 4.4.1
2: Upgrade to Realm 10.1.4
3: Try to read realm file

Expected:
Realm should be upgraded and readable

Actual:
Application crashes with the following stacktrace:
[code]

[2020-12-04 14:32] ReveelTeam commented on #6967
@pavel-ship-it

I had already looked there ... of course when going from 5.3.5 to 5.3.6 (before installing) the directory is there. Though, once the attempt is made it is not one for .../Pods/Realm/ - which is because the install failed.

Here is a some link for an issue posted with Cocoapods:
[https://github.com/CocoaPods/CocoaPods/issues/9493](url)

Let me know what you are thinking to do or try

[2020-12-04 15:39] pavel-ship-it commented on #6967
Just to be clear, you did try to follow the recommendation in that post and it didn't work out, did you?

[2020-12-04 15:59] ReveelTeam commented on #6967
@pavel-ship-it

Yup

[2020-12-04 16:00] ReveelTeam commented on #6967
@pavel-ship-it

I saved the before and after for that so that we can go back to look at it. Let me know if I can help ...

[2020-12-04 16:32] pavel-ship-it commented on #6976
Hello @sipersso ,
I cannot reproduce it with provided information. Could you share the details of realm configuration?
Thinking of something like #6530

[2020-12-04 16:43] pavel-ship-it commented on #6967
I think it's not a problem of a certain pod. Did you try to install/upgrade/reinstall another pod in the same project?

[2020-12-04 16:59] ReveelTeam commented on #6967
@pavel-ship-it

Yes. As I mentioned initially,I have done a full removal (which isn't quick) and then reinstall Cocoaopods (v1.10) and the Realm pod too. Here is what I had done after it was failing:

1. Remove Realm Pod (removed Realm Pod each time for each step below)
2. deintegrate
3. reinstall Cocoaopods v1.10
4. remove older version of Cocoaopods (v1.9.2)
5. fully remove Cocoaopods (manual re

[2020-12-04 17:10] pavel-ship-it commented on #6966
Hi @rogerluan,
I cannot reproduce it with the provided information. Can you share the details of configuration and schema?
Is it possible to squeeze the minimum reproducible code out of your project?

regarding fact 2 - it depends on what part of code it's raised - you can catch Swift errors but Cpp level errors will crash.

[2020-12-04 17:17] ReveelTeam commented on #6967
@pavel-ship-it

I just had another idea to try, but it did not work. Here is what I did:

1. Remove Realm from PodFile - to have Cocoapods remove it.
2. Then run through to remove an crumbs of Realm
3. Then do a repo update
4. Then Remove the Release & Specs (per that issue posted with CocoaPods)
5. Then do a repo update
6. Then do an install

.. but it still failed

[2020-12-04 17:32] sipersso commented on #6976
@pavel-ship-it  This was a read only local realm that I was shipping with the app. To fix it I will ship the app with a new realm file that has already been upgraded and make sure that the old file is deleted.

But I think I might have an idea. I haven't specified a migrationblock for this realm as it only contains one object and only primitives or lists of primitives. It is never changed. I assum

[2020-12-04 17:50] pavel-ship-it commented on #6976
Yes, that could be a reason. There were a number of braking changes since v4, so depending on the schema it might require a migration block.

[2020-12-04 21:03] rogerluan commented on #6966
This issue has been resolved!

The problem is that I was running async code in purely sync unit tests (i.e. without using `expectations`)! Shame on me.

For future readers, [this](https://www.swiftbysundell.com/articles/unit-testing-asynchronous-swift-code/) and [this](https://www.swiftbysundell.com/articles/asyncawait-in-swift-unit-tests/) guides helped me!

Hope this helps someone out there!

Th

[2020-12-04 21:03] #6966 closed

[2020-12-04 23:17] aphex3k opened #6978 "Property Parent.child is declared as Optional<Child>, which is not a supported managed Object property type"
## Goals

I want to use my realm objects and RealmDatabase in XCode unit tests.

## Expected Results

Realm database should work as documented.

## Actual Results

    /Pods/RealmSwift/RealmSwift/Object.swift:749: error: -[appTests.RealmTests testRealm] : failed:
    caught "RLMException", "Property Parent.child is declared as Optional<Child>, which is not a supported
    managed Object property t

[2020-12-04 23:41] tgoyne commented on #6978
You're statically linking Realm into both your app and your tests. This results in two separate copies of Realm in your process at runtime, and subclasses of the app's copy of RealmSwift.Object can't be used with the test's copy of RealmSwift.

The simplest fix for this is to uncomment use_frameworks! so that it's dynamically linked and you don't duplicate the library by linking it into multiple t

[2020-12-04 23:48] aphex3k commented on #6978
`use_frameworks!` for the app and the tests target or only one of them? (which one?)

[2020-12-05 00:02] tgoyne commented on #6978
Unless you have some reason you specifically want to avoid dynamic frameworks, setting it at the top level of the podfile will result in the least amount of surprising behavior. It's something that really should be the default now but CocoaPods hasn't made a major version bump since that became the case.

[2020-12-05 00:03] aphex3k commented on #6978
Thanks for pointing that out. I wasn't looking outward enough I guess.

[2020-12-05 00:03] #6978 closed

[2020-12-07 02:41] KimiChiu commented on #6686
@rogerluan Is there a link to your issue?
I released a new version to TestFlight with the latest realm two weeks ago and it's working well.
I'll submit for App Store review today to see if the problem was resolved.

[2020-12-07 02:42] KimiChiu commented on #6871
The new version with Realm v10.1.4 is working well on TestFlight.
I'll submit to App Store review today.

[2020-12-07 10:01] FelixII commented on #6968
If you want me to try something, please let me know. I'm happy to help.

[2020-12-07 13:00] Suri1044 commented on #6967
@pavel-ship-it: Any update on this ?

[2020-12-07 13:00] rogerluan commented on #6686
It's just above my comment: https://github.com/realm/realm-cocoa/issues/6966

But it was an issue on my end, happening only during unit tests.

[2020-12-07 13:46] Suri1044 opened #6979 "Unable to Compile with Realm v10.0+ via Cocoapods (v1.10)"
**Bugs**: Unable to Compile with Realm v10.0+ via Cocoapods (v1.10)

## Goals
Realm version(10.2.0) is not compiling. Migrating from (5.3.2 to latest 10.2.0)

## Expected Results
Compilation success

## Actual Results
Error:
**Instance method 'objects' requires that 'ObjectBase' (aka 'RLMObjectBase') inherit from 'Object' (aka 'RealmSwiftObject')**

## Steps for others to Reproduce
Added sample co

[2020-12-07 16:19] tgoyne commented on #6979
Only subclasses of Object can be deleted via realm.delete(), but the objectTypes array can also contain subclasses of EmbeddedObject. You'll want to add `.compactMap { $0 as? Object }` before forEach().

[2020-12-07 21:19] ericjordanmossman commented on #6948
Closing because it looks like a solution was provided. Please comment if this needs to be re-opened.

[2020-12-07 21:19] #6948 closed

[2020-12-07 21:21] ericjordanmossman commented on #6947
This issue has been closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-12-07 21:21] #6947 closed

[2020-12-07 21:25] ericjordanmossman commented on #6930
This issue has been closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-12-07 21:25] #6930 closed

[2020-12-07 21:50] ericjordanmossman commented on #6908
@jedelbo Which exception message would you need and how? @ZComwiz will likely be able to provide.

[2020-12-07 21:52] ericjordanmossman commented on #6903
This issue has been closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-12-07 21:52] #6903 closed

[2020-12-08 01:55] winstondu opened #6980 "Frozen object usage leading to drastic memory and disk usage growth?"
We have been using frozen objects in conjunction with RxRealm as a way to add a filter to our realm object change listeners. Frozen objects alleviate our need for writing custom snapshot methods.

Unfortunately, despite the fact that our usage of frozen objects are called on a RunLoop-Thread (main), our refactor led to our app persistently using more and more memory as changes accumulated. Strange

[2020-12-08 01:57] winstondu commented on #6980
@tgoyne ?

[2020-12-08 06:54] rromanchuk commented on #4882
One of the most valuable aspect of realm when using models with primary keys is being able to create and update with values. This is especially true when you want to establish associations, not create update entire models. It allows any subscriptions to react appropriately and is fundamental common server/client paradigms.

It's been a few years and i have yet found to find a solution any better t

[2020-12-08 10:14] Suri1044 commented on #6979
@tgoyne : Thanks for the info and it works. May i know why this issue didn't occur in v5.3.2 or before ones?

[2020-12-08 11:38] pavel-ship-it commented on #6967
@ReveelTeam could you please try with the new version 10.2.0?

[2020-12-08 13:57] jedelbo commented on #6908
Well, there must be some message associated with the exception thrown.

[2020-12-08 14:51] #6955 closed

[2020-12-08 14:54] ericjordanmossman commented on #6946
Do you have any other information about the crash?

[2020-12-08 14:58] ericjordanmossman commented on #6884
@duncangroenewald

Can you send to eric.mossman@mongodb.com?

[2020-12-08 15:40] #6960 closed

[2020-12-08 16:19] tgoyne commented on #6967
___isPlatformVersionAtLeast is a function supplied by the platform SDK. Another report of this issue that we've seen had output suggesting that `clang` was pointing at a non-Xcode version of clang. Is that something that could be happening for you?

[2020-12-08 16:51] ReveelTeam commented on #6967
@pavel-ship-it
I will give it a shot and let you know.

@tgoyne
It shouldn't but I will look into it too.

[2020-12-08 17:01] ReveelTeam commented on #6967
@pavel-ship-it

Nope. Here are all the ways I tried (that failed):

1. Tried from original 4.4.1 to 10.2.0
2. Completely removed Realm and tried from no version to directly to 10.2.0
3. Completely removed Realm and then successfully installed 5.3.5; then tried to go to 10.2.0 (from 5.3.5)

**ERROR OUTPUT (when trying to get to v10.2.0):**
[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

Downlo

[2020-12-08 17:14] ReveelTeam commented on #6967
@tgoyne

I do not have anything point to earlier version of Xcode nor a non-Xcode. I quickly read through some other posts. What I am seeing is many other Pods (e.g. 'SinchRTC') have a similar issue. Those other issues are attempting to fix with adding 'arm64' as an architecture (or related, from what I've  quickly seen). With that, I've always have had 'arm64' and 'arm64e' (along with others) as

[2020-12-08 17:44] ReveelTeam commented on #6967
@tgoyne

Is there something in new versions of Realm that is a breaking change, related to Realm-> Util, and that could be part of an iOS SDK change too? -if so I could look for that code.

[2020-12-08 17:45] FelixII commented on #6968
I think I've found the cause of this issue. The latest Realm version still defines `arm64` as an excluded architecture for the iOS simulator:

https://github.com/realm/realm-cocoa/blob/af4b201bb955736f250f5af1c1b6bc335a43c385/Configuration/Base.xcconfig#L65

I've removed this value and rebuilt with `./build.sh xcframework ios`. The `arm64-apple-ios-simulator` slice is now present and my example pr

[2020-12-08 18:57] ericjordanmossman commented on #6153
@losasha
I hope this isn't too late of a response. Are you still seeing this slowdown?

[2020-12-08 19:09] tgoyne commented on #6980
Freezing objects does not create a new file which contains the data for those objects. It continues to use the same file, and writes to the file simply do not overwrite any of the data needed for the frozen references. On a newly compacted Realm where the live data size is equal to the file size this means that any writes will have to grow the file to store the new data, but in most cases we'll st

[2020-12-08 19:16] astigsen commented on #6980
Is there any chance that you could use realms own distinct operator instead?

https://docs.mongodb.com/realm-sdks/swift/10.2.0/Structs/Results.html#/s:10RealmSwift7ResultsV8distinct2byACyxGqd___tSTRd__SS7ElementRtd__lF

[2020-12-08 20:40] ericjordanmossman commented on #6096
Is anyone able to answer Lee's two questions above?

[2020-12-08 21:22] winstondu commented on #6980
Yes, but that clearly is not desirable behavior no? And in any case, why would frozen objects necessitate version pinning in between app sessions?

My goal is to snapshot an object (and any of its relations) at a particular time for change comparison in an inexpensive manner. Are you saying this is not the use case for frozen objects?

Why would that eliminate all issues? It is possible that as I

[2020-12-08 21:55] tgoyne commented on #6980
Writing just the diffs from the oldest version is conceptually similar to what we do, although it's in a format optimized for read performance and not always particularly compact. The problem is that with how our allocator works we can't actually free any of the data used by those diffs until they're older than the oldest live version. If you modify a property on an object three times (in differen

[2020-12-09 03:08] zyphs21 opened #6983 "Crash happens: Multiple sync agents attempted to join the same session"
## Goals
Realm Sync normally

## Actual Results
Very often crash with this error

[code]

![Xnip2020-12-08_18-45-22](https://user-images.githubusercontent.com/4511324/101569073-b96fd800-3a0e-11eb-9897-22363324a3a8.jpg)

![Xnip2020-12-08_18-45-33](https://user-images.githubusercontent.com/4511324/101569089-bc6ac880-3a0e-11eb-8686-fad30bc00c5b.jpg)

[code]

## Code Sample

[code]

Is there any chanc

[2020-12-09 07:20] astigsen commented on #6980
[Object Notifications](https://docs.mongodb.com/realm/ios/notifications#object-notifications) should tell you exactly that (and without the overhead of you having to manually compare and diff on every single update).

[2020-12-09 07:53] astigsen opened #6984 "Add distinct to List and RealmCollection"
`List` and `RealmCollection` are missing the `distinct()` method. Since this is present on `RLMArray` on the Obj-C side, it looks like a simple oversight that it has not been added to the Swift versions yet.

[2020-12-09 10:06] zyphs21 commented on #6983
After upgrade Realm to the `10.3.0`, I use `Realm.asyncOpen(configuration:……)` function like this:
[code]

The crash didn't happens, but `asyncOpen` often come to failure:

[code]

![Xnip2020-12-09_17-39-56](https://user-images.githubusercontent.com/4511324/101615380-04a6dc80-3a49-11eb-9287-2dd392fc376b.jpg)

[2020-12-09 13:16] ReveelTeam commented on #6967
@tgoyne and @pavel-ship-it

For a manual Realm framework usage (not via Pods), is it true that as of v10.2.0 there is no need for the script? -it was used for the App store issue. Basically, is it now safe to use a copy ...

Also, I tried Realm v10.3.0 this morning via Cocoapods, but it says it is not public release

[2020-12-09 14:18] niralishaha25 commented on #6096
I am not using encryption.
Yes the app belongs to app group.
Not using any file permissions

[2020-12-09 16:35] tgoyne commented on #6967
strip-frameworks.sh is no longer needed with Realm 10.2.0+. It was a workaround for the fact that the app store doesn't like combined simulator+device libraries, and switching to packaging as an xcframework eliminates that.

[2020-12-09 16:39] ReveelTeam commented on #6967
@tgoyne

Thanks for the info on the issue/bug for app submission and thanks for that fix too. Wanted to make sure the new instructions were not an oversight.

**Any other thoughts for the issue for using Cocoapods for Realm 5.3.6 or higher?**

[2020-12-10 08:45] FDavidse20 commented on #6685
Hello, I have similar problems.
When building our project I get the error:
could not find module 'RealmSwift' for target 'arm64-apple-ios-simulator'; found: i386, x86_64-apple-ios-simulator, x86_64, i386-apple-ios-simulator

This happens when I'm building on the CI (azure). I've tried all solutions from the previous comments but no luck.
Now I'm actually adding the Realm and RealmSwift sdks as XCF

[2020-12-10 09:25] FelixII commented on #6685
I've encountered the same issue in #6968. The Realm project excludes the `arm64` architecture when building for the iOS simulator. Please change the following line in your Realm project
https://github.com/realm/realm-cocoa/blob/af4b201bb955736f250f5af1c1b6bc335a43c385/Configuration/Base.xcconfig#L65
to `REALM_ARM_ARCHS_1200 = ;` and build again with `sh build.sh xcframework ios`

[2020-12-10 09:32] FelixII commented on #6968
I've found another minor issue with the build script: It does not accept more than three input parameters:

https://github.com/realm/realm-cocoa/blob/7a812029d05890f35501dcbcb00f346ac196a7d9/build.sh#L282-L285

This prevents calls like `./build.sh xcframework ios watchos tvos catalyst`

[2020-12-10 11:55] sync-by-unito[bot] opened #6986 "Set: Test sync works against Cloud"

[2020-12-10 12:18] sync-by-unito[bot] opened #6987 "Dictionary: Test sync works against Cloud"

[2020-12-10 13:08] #6761 closed

[2020-12-10 13:09] jsflax commented on #6761
Closed by #6977.

[2020-12-10 13:10] jsflax commented on #6941
@philippeauriach are you able to migrate to the latest realm 10.x version and see if the issue still occurs?

[2020-12-10 13:13] jsflax commented on #6730
@kunalsood can we confirm that this is still happening on the latest 10.x version of Realm?

[2020-12-10 13:33] igrechuhin commented on #6408
Any updates on it?

We get the same on 10.1.4

[code]

[2020-12-10 15:15] FDavidse20 commented on #6685
Hi Felixll,
in your case you are building on a simulator on a M1 machine right? So you need the arm64 architecture.
It's strange that I'm having the same error while I'm not building on simulator running on an M1 machine.
So in that case removing the line:
REALM_ARM_ARCHS_1200 = arm64 arm64e;
would not help right?
Or did I misinterpret your suggestions?

[2020-12-10 15:25] sync-by-unito[bot] opened #6988 "Mixed: Test sync works against Cloud"

[2020-12-10 16:03] FelixII commented on #6685
Yes, I'm building for the `arm64` simulator on an M1 Mac.

Your error message
`could not find module 'RealmSwift' for target 'arm64-apple-ios-simulator'`
suggests that your machine tries to build this architecture as well and cannot find the correct slice for `RealmSwift`. Of course, this could also be due to a configuration problem in your project.

My approach allows you to build a `xcframework`

[2020-12-10 16:30] sakthi-d opened #6989 "Related to mac catalyst"
Followed the ticket [https://github.com/realm/realm-cocoa/issues/6163](#6163) to support mac catalyst.
And I preferred getting xcframework and embedded in my app. I'm still getting the issue saying

"While building for Mac Catalyst, no library for this platform was found in 'Realm.xcframework'"

Note : Built them using XCode 11.3.1

Thanks in advance.

[2020-12-10 16:47] iDevid commented on #6946
Actually no, this is a stack trace from Crashlytics

[2020-12-10 18:33] igrechuhin commented on #6408
We can not reproduce it, but it happens **VERY** frequently at our users.
More than 6k crashes per day.
Is there any logging I can add to the app to help investigate and fix this issue?

[2020-12-10 23:05] rogerluan opened #6991 "RealmOptional properties fail to be decoded if the key is not present"
## Goals
I'd like to use make a realm model that has a `RealmOptional` property conform to Codable, and properly encode/decode properties in all scenarios.

## Expected Results
I expected my object to be encodable and decodable when the key:value pairs are present, existing, or null, in a JSON structure.

## Actual Results
Scenario 1: It works when the `RealmOptional` value is present.
Scenario 2:

[2020-12-11 01:53] gongzhang commented on #6096
I am experiencing the exact same problem. I have never encountered this problem myself in a development environment for several months, only on end-user devices where the problem would __occasionally__ appear.

[code]

From the crash logs, it appears that when the **iOS 14 Widget (not main app)** is launched (in `init()` of my `@main WidgetBundle` struct, non-main-thread), `try Realm()` fails to o

[2020-12-11 16:31] homathko commented on #6654
Same issue. Passing Foundation.Date object into AnyBSON.datetime( ) stores the document in Atlas with a timestamp value, which cannot be read by the realm client -> "Object was deleted or invalidated". I've spent about 5 hours now trying to sort this out and can't find any documentation. This is the closest hit yet and it was posted almost 5 months ago...?

[2020-12-11 18:32] FelixII commented on #6968
The latest Realm version 10.4.0 has fixed the `arm64` compiler issue. Thank you!

[2020-12-11 18:32] #6968 closed

[2020-12-11 18:37] FelixII commented on #6685
The latest Realm version 10.4.0 has fixed the `arm64-apple-ios-simulator` compiler issue for me. My workaround in #6968 should no longer be necessary.

[2020-12-11 18:57] cojalvo commented on #6973
Get lots of this error. I can see in Crashilitics
Posting stack trace:
[code]

[2020-12-11 22:30] EugenKuzn commented on #6911
Updated Realm to v.10.2.0 using Cocoapods v.2.6.0
Waiting for crash reports

[2020-12-12 07:25] KimiChiu opened #6993 "mutex lock failed: Invalid argument while releasing Realm"
It's the same issue as  #6686.

I already updated to 10.1.4 but still got these error reports every day.
The difference is that it's now crashing after I inserted new data into the table.
It crashed after I deleted data when I was using Realm 5.4.4.

### Actual Results

[code]

Here's another report which is similar to this issue.
But there's no any method from my codes in the callstack.

[code]

[2020-12-12 07:38] KimiChiu commented on #6686
The problem is still there.
I just opened a new issue #6993.
It's now happening when I try to insert new data into table.
And there's another error report which is similar to this one.

[2020-12-12 10:26] kunalsood commented on #6730
I'm afraid I won't have a chance to test this throughly enough before January. So, please feel free to close this issue if you must, and I'll open a new issue if I see this when I get around to testing it.

[2020-12-12 12:54] jsflax commented on #6730
That's fair, we appreciate the heads up– we'll close this for now and do reopen it if it persists on the latest versions of Realm.

[2020-12-12 12:54] #6730 closed

[2020-12-14 01:41] karpovalexander opened #6994 "Crash. Realm file can't be read"
CLASSES
No such table exists
Exception backtrace:
0 .com.mongodb.realm-studio.WegAjS 0x000000010a474b7a _ZN5realm11NoSuchTableC1Ev + 58
1 .com.mongodb.realm-studio.WegAjS 0x000000010a474d17 _ZNK5realm5Group15key2ndx_checkedENS_8TableKeyE + 279
2 .com.mongodb.realm-studio.WegAjS 0x0000000109efd0e9 _ZN5realm11ObjectStore17schema_from_groupERKNS_5GroupE + 147
3 .com.mongodb.realm-studio.WegAjS 0x0000

[2020-12-14 10:38] #6850 closed

[2020-12-14 10:38] bmunkholm commented on #6850
Moved to https://github.com/realm/realm-core/issues/4218

[2020-12-14 11:28] marinofaggiana opened #6995 "Compile warning: RLMUser_Private.h"
Realm 10.4.0
XCode 12.2
Build with SPM
--------------

Several Swift compile warning

Umbrella header for module 'Realm' does not include header 'RLMUser_Private.h'

[2020-12-14 13:10] rogerluan commented on #6993
Are you storing your realm in disk, or in-memory?
If it's in-memory, notice that you must store a strong reference to your realm instance as long as you need it to be alive, otherwise it is destroyed as soon as there're no references pointing to it. This is in the [documentation](https://realm.io/docs/swift/latest/#default-realm)

[2020-12-14 13:40] KimiChiu commented on #6993
I don't use any in memory realm database.
The memoryCache in the code snippet is just a simple dictionary.

[2020-12-14 13:50] finnschiermer commented on #6408
@igrechuhin can you get hold of a couple of realm files from platforms where the crash happened... we may be able to find something interesting in them?

[2020-12-14 15:55] jjarroyo commented on #6908
This error is happening to me since I update to version 10.0.x

`
Con fallos: com.apple.NSURLSession-delegate
SIGABRT ABORT 0x00000001b1b3d414
0
libsystem_kernel.dylib
__pthread_kill + 8
1
libsystem_pthread.dylib
pthread_kill + 272
2
libsystem_c.dylib
abort + 104
3
Realm
please_report_this_error_to_help_at_realm_dot_io + 10
4
Realm
realm::util::terminate_internal(std::__1::basic_stringstream<char,

[2020-12-14 15:56] jsflax commented on #6995
@marinofaggiana is this a warning or an error?

[2020-12-14 16:02] jsflax commented on #6993
@KimiChiu are you able to reproduce the crash locally?

Why are you starting a background task in your autorelease pool?

What is going on with the semaphores in the RealmCacheHelper?

[2020-12-14 18:19] buttacciot commented on #2539
@bmunkholm Any update on this? Is it still beta only?

[2020-12-14 18:42] jsflax commented on #2539
@buttacciot We have added a type called `Decimal128` that covers this use case. It is not beta only.

[2020-12-15 05:47] KimiChiu commented on #6993
@jsflax I can't. No matter how I tried it just can't be reproduced on my own.
This `insert` method will be called when the `encodeRestorableState` or `applicationDidReceiveMemoryWarning` get called.
By reducing the operation times to prevent this issue happens too frequently.
This method is called in a `DispatchQueue`.

[code]

Because of that, we have to ensure the app is not in a suspended state

[2020-12-15 10:25] eduardojordan commented on #4766
I used a version 3.0.10 of realm Studio and that way if I recognized the data in Xcode , the problem happened with version 10 and 5 of Realm Studio in OS X 11.0.1

[2020-12-15 12:50] marcocattai commented on #6685
I have an MacBook Air M1, What  do you suggest if I include Realm using Swift Package Manager?

[2020-12-15 12:57] jsflax commented on #6685
For SwiftPM, use Realm version 10.5.0.

[2020-12-15 12:57] #6685 closed

[2020-12-15 16:10] sync-by-unito[bot] opened #6996 "Add RLMDictionaryBase for Swift"

[2020-12-15 16:11] sync-by-unito[bot] opened #6997 "Dictionary: Add accessors for RLMDictionary."

[2020-12-15 16:11] sync-by-unito[bot] opened #6998 "Dictionary: Implement managed RLMDictionary"

[2020-12-15 16:12] sync-by-unito[bot] opened #6999 "Dictionary: Implement KVO / Notification support"

[2020-12-15 16:12] sync-by-unito[bot] opened #7000 "Dictionary: Add new tests that specifically test dictionary"

[2020-12-15 16:13] sync-by-unito[bot] opened #7001 "Dictionary: Fix/add to old tests that need new data type added"

[2020-12-15 16:35] sync-by-unito[bot] opened #7002 "Dictionary: Query Support"

[2020-12-15 19:08] 3a4oT opened #7003 "“RealmSwift.framework” cannot be opened because the developer cannot be verified"
I tried to use Relm and RealmSwift as `.xcframework` for macCatalyst.
App builds just fine, but on the launch, I get `“RealmSwift.framework” cannot be opened because the developer cannot be verified ` (for Realm too). `embedded and sign` option is set at Xcode project settings.

## Version of Realm and Tooling

Realm framework version: 10.4.0

Xcode version: 12.2

iOS/OSX version: macOS 10.5.6

[2020-12-16 15:08] igrechuhin commented on #6908
What info can help to fix these issues? We have the same situation as @ZComwiz
Thousands of crashes in Realm in different locations since update to 10.x.x
Current version is 10.5.0 (Core: 10.3.2) still crashes.

It's **REALY** critical for our app.
Please help :)

[2020-12-16 15:09] igrechuhin commented on #6408
Sure, where should I send it?

[2020-12-16 15:21] finnschiermer commented on #6408
@igrechuhin Please send it to realm-help@mongodb.com

[2020-12-16 17:34] igrechuhin commented on #6408
@finnschiermer I've sent files to you. Please tell if I can assist in any way.

[2020-12-16 17:38] ZComwiz commented on #6908
We are in the painful process of looking into migrating off Realm Ilya. Pains us deeply because we loved Realm and started using them and even used to hang out sometimes with the founding team in their old offices in San Francisco. We are still doing our best to work with them to get their product in a good place again, but these issues look deep and complex. There are also major roadblocks on the

[2020-12-16 17:44] jsflax commented on #7003
This appears to be an Xcode bug, as running the app not via Xcode works.

If you run
`xattr -d -r com.apple.quarantine <my-directory>/Realm.xcframework `
and
`xattr -d -r com.apple.quarantine <my-directory>/RealmSwift.xcframework `
on your downloaded and linked xcframeworks, you will be able to run the app without receiving any errors or warnings.

Could you test this out and close the issue if yo

[2020-12-16 17:52] jsflax commented on #6957
@rantianhua can you confirm that this is still an issue?

@JonnyBeeGod you as well? We find that most Cocoapods issues are due to a bad cache.

[2020-12-16 17:53] jsflax commented on #6995
@marinofaggiana this will have gone away in the latest Realm release. Can you test and confirm?

[2020-12-16 18:00] jsflax commented on #6991
@rogerluan this does seem to be a bug. We'll investigate.

[2020-12-16 18:05] 3a4oT commented on #7003
@jsflax thanks! That did the trick.

[2020-12-16 18:05] #7003 closed

[2020-12-16 18:06] jsflax commented on #6983
@mpobrien this error is thrown when bad sync progress is received from the server. Any thoughts?

[2020-12-16 18:10] jsflax commented on #6989
Hey @sakthi-d,

Could provide us with more information on how you copied over the xcframeworks?

Please check https://realm.io/docs/swift/latest/ for further instructions.

[2020-12-16 18:37] jsflax commented on #6983
@fealebenpae as well

[2020-12-16 18:44] mpobrien commented on #6983
"Bad progress information(DOWNLOAD)" means that the client considers data sent by the server to be invalid, but it's very suspicious to me that `Multiple sync agents attempted to join the same session` also appeared here. While multiple parties are allowed to access A Realm file simultaneously, at most one of them is allowed to be a "sync agent". The sync agent is the process that talks to the ser

[2020-12-16 20:21] JonnyBeeGod commented on #6957
It did not in my case I was cleaning pods folder and cocoa pods cache before my builds. Found the solution to my problem however in another issue somewhere. I had a private pod A with realmswift and realm as dependencies. When I used this pod as dependency in another pod B I was having those linker issues. The solution was to add realm as dependency to pod B podspec as well.

[2020-12-17 00:39] andreasley commented on #4555
[Release 10.5.0](https://github.com/realm/realm-cocoa/releases/tag/v10.5.0) brings support for MongoDB Realm (Sync) when using SPM. Thanks, team Realm!

[2020-12-17 03:03] rogerluan commented on #6991
For anyone facing the same problem, as a workaround, I was able to use `String?` instead of e.g. `RealmOptional<Double>` and convert the Double to String when encoding/decoding. However, this is not possible if you need to make number-based queries (e.g. "sum of X property of all Y models").