[2020-12-17 12:13] erdem-inan opened #7006 "ProgressNotification callback not triggered without receiving data from sync in Realm 10"
## Goals
Listening ProgressNotification to see if there is pending data to download.

## Expected Results
The ProgressNotification callback for download to be triggered without an initial download.

## Actual Results
The ProgressNotification callback for download is not triggered until new data are received.
From this point, It will trigger every time we need it, even if no data are received

## S

[2020-12-17 14:19] tocci-it commented on #6537
Hi,

I still notice this issue for some users with version 5.4.5.
It's happening only to 2% of users, all on older devices (iPhone6, iPhone7).

Those users were originally using our app, based on realm 3.20.
They upgraded to a new version, based on realm 5.1.0, and got systematic crash on launch due to assertion failure inside the `migrate_links()` (#6643, #6678) which was fixed in realm 5.3.4, as

[2020-12-17 14:22] finnschiermer commented on #6408
@igrechuhin Thx for the realm files. They check out fine. Which at least shows us that the errors can happen without any underlying file corruption.

[2020-12-17 14:23] jsflax commented on #7006
@fealebenpae do you have any thoughts on this?

[2020-12-17 14:26] finnschiermer commented on #6408
I can't help notice that on this bug report we have two reports of the problems going away by changing the app. Is there anything in common to these 2 descriptions:

first by @trr-amsiq :

second by @sailor002 :

^ does this tell you anthing @leemaguire @tgoyne ?

[2020-12-17 14:41] finnschiermer commented on #6831
Yes, this is likely the same as #6408.

[2020-12-17 15:24] igrechuhin commented on #6408
@finnschiermer thank you for reply.

We do use first advice. The only difference is that instead of
`FileAttributeKey(rawValue: FileAttributeKey.protectionKey.rawValue): FileProtectionType.none`
we use
`[.protectionKey: FileProtectionType.completeUntilFirstUserAuthentication]`.

We think these are equivalent in our case because Realm is opened once the device in unlocked.
Tell me if I'm wrong.

As

[2020-12-17 15:30] finnschiermer commented on #6408
@igrechuhin We need one of my friends with deep knowledge of the cocoa SDK to step in at this point.

[2020-12-17 15:33] marinofaggiana commented on #6995
Hi @jsflax seems be fixed with the 10.5.0 Thanks

[2020-12-17 15:33] #6995 closed

[2020-12-17 15:41] igrechuhin opened #7007 "Crash in realm::NodeHeader::get_size_from_header"
!!! MANDATORY TO FILL OUT !!!

## Goals

Working app

## Expected Results

No crash

## Actual Results

Realm crashed

## Steps for others to Reproduce

No steps

## Code Sample

[code]

## Version of Realm and Tooling

Realm framework version:  Realm 10.5.0 / RealmDatabase 10.3.2

Realm Object Server version: Not used

Xcode version: 12.3

iOS/OSX version: 12.4 (iPhone 6S)

Dependency manager + v

[2020-12-17 17:28] igrechuhin commented on #6973
Same here.

We get it on on different iOS: 12.0 ... 14.2 so it seems to be unrelated.

Stack trace:
[code]

[2020-12-17 17:36] igrechuhin opened #7008 "Crash in Realm.object<A, B>(ofType:forPrimaryKey:)"
!!! MANDATORY TO FILL OUT !!!

## Goals

No crash

## Expected Results

No crash
## Actual Results

Crash

## Steps for others to Reproduce

Unknown

## Code Sample

[code]
## Version of Realm and Tooling

Realm framework version: 10.5.0

Realm Object Server version: no

Xcode version: 12.3

iOS/OSX version: iOS 14.2

Dependency manager + version: Swift package manager

[2020-12-17 17:54] igrechuhin opened #7009 "Crash in realm::Cluster::init(realm::MemRef)"
!!! MANDATORY TO FILL OUT !!!

## Goals

No crash

## Expected Results

No crash

## Actual Results

Crash

## Steps for others to Reproduce

Unknown.
It's not stable.
We enumerate flatMap collection on List(s) to get single array of distinct elements.

## Code Sample

[code]

## Version of Realm and Tooling

Realm framework version: 10.5.0

Realm Object Server version: No

Xcode version: 12.3

iO

[2020-12-17 21:46] #4555 closed

[2020-12-17 23:09] gshahbazian commented on #6898
@tgoyne Any chance this has been improved by SPM in Xcode 12.3? We would also like to move our packages to SPM and away from cocoapods but the clean build time here is a major drawback.

Can this issue be re-opened for tracking when Apple addresses the issue/radar?

[2020-12-18 01:49] ashwiniPersonal commented on #6781
We upgraded to 5.5.0 and still can see this issue:
Crashed: WriteQueue
0  libsystem_kernel.dylib         0x1d35c7414 __pthread_kill + 8
1  libsystem_pthread.dylib        0x1efadfb40 pthread_kill + 272
2  libsystem_c.dylib              0x1af9ecb74 abort + 104
3  Realm                          0x10c326184 please_report_this_error_to_help_at_realm_dot_io + 10
4  Realm                          0x10c32

[2020-12-18 01:59] ashwiniPersonal opened #7010 "Realm crashes intermittently - Continuation of Issue#6781"
This issue is in continuation of issue #6781. I was not able to reopen the issue so I have created a new one.
For that issue, we were suggested to upgrade the realm version and we upgraded the version 5.5.0.
Since we work on library, we did not got the feedback then but now app teams have pushed the build and we can see the crash again.
@leemaguire / @ericjordanmossman

## Goals
Realm should not c

[2020-12-18 03:35] qgliu opened #7011 "Crash in RealmCollection.filter version 10.5.0"
## Crashes
We are seeing many crashes after upgrading to v10.5.0 from v5.5.0
It all happens in a single place where we use RealmCollection.filter("")

Here is our example code:

[code]
## Expected Results
We never see code break here before upgrading to v10.5.0 from v5.5.0

## Version of Realm and Tooling
Realm framework version: V10.5.0

Xcode version: v12.3

iOS/OSX version: 14.0+

## Crash Log

[2020-12-18 08:16] hyouuu commented on #6993
Same issue and btw @jsflax should remove the waiting for user label thanks!

[2020-12-18 11:12] kouki-dan commented on #6941
I have got the same issue.
It also happened only in production in my app.
It happened in the first migration in a year. The current Realm version is 5.4.4. About 40% of users affect them.

I have brought the Realm file from the production and experimented.
I tried to upgrade to v10.5 and it no longer causes this error.

I have not produced v10.x in production, but it may be fixed in Realm v10.x.

[2020-12-18 11:18] jsflax commented on #6941
That's good to hear at least.

@philippeauriach can you confirm this as well?

[2020-12-18 11:42] sakthi-d commented on #6989
hey @jsflax ,

never mind about my issue. I've configured to package manager(which seems to be very smooth).

Thank you

[2020-12-18 11:42] #6989 closed

[2020-12-18 13:50] jedelbo commented on #6537
We are not aware of any remaining bugs in the upgrade process, but as you mention yourself, some of the previous bugs leaves the file in an invalid state that it is not possible to recover from. If you have access to a realm file that causes the application to crash during upgrade we can inspect the file to determine the cause of the crash.

[2020-12-18 14:14] tocci-it commented on #6537
thanks,
unfortunately we've not been able to reproduce it yet, I just see it happens for some users from firebase console.
I'll let you know if I can put my hands on a device stuck on this state.

[2020-12-18 17:43] tgoyne commented on #6767
This is probably fixed by https://github.com/realm/realm-core/pull/4234.

[2020-12-18 17:43] tgoyne commented on #6916
This is probably fixed by https://github.com/realm/realm-core/pull/4234.

[2020-12-18 17:53] vdenysov-appolica commented on #6767
Thank you, hopefully it is fixed now. Will update with the next Realm release and see.

[2020-12-18 17:55] denysowova commented on #6767
Thank you, hopefully it is fixed now. Will update with the next Realm release and see.

[2020-12-18 23:03] tgoyne commented on #6898
If Apple does ever fix it I think it'd make sense to look into what we can offer. I think we actually could package just the obj-c xcframework in a spm-compatible format, which would eliminate the vast majority of the build time (at the cost of being a nontrivial download size).

[2020-12-18 23:33] gshahbazian commented on #6898
@tgoyne that would be great if do-able! Could the realm-core xcframework that the pod script is already using be used for this?

[2020-12-19 00:49] tgoyne commented on #6898
No, that's the thing that's broken. For various reasons we need the core library to be a static library when it's linked into the obj-c library, and consuming a static xcframework via spm makes it so that you can't archive the app. Consuming a dynamic xcframework also was broken in 12.0 but has now been fixed, so we could potentially ship a pre-build obj-c dynamic framework and only build the swif

[2020-12-19 07:40] sufangliang opened #7012 "Error Domain=io.realm Code=9 "mmap()failed: Cannot allocate memory size:1455652864 offset"
Error Domain=io.realm Code=9 "mmap()failed: Cannot allocate memory size:1455652864 offset  or crash When the user goes to update my new version of the app

xcode 12.3
ios 12.+
realm 5.0

[2020-12-19 17:14] RomainPct opened #7013 "iOS File decryption error when opening a file created via a Mac Catalyst app"
## Goals
Be able to open a realm database which has been initialized on a mac catalyst app in an iOS app.

## Expected Results
- Initialization of an encrypted realm database in a mac catalyst app
- Database file transfer to a device with iOS
- Be able to decrypt this file and use the realm database in the iOS app

## Actual Results
Realm is unable to open the realm file using the same encryption

[2020-12-19 17:32] philippeauriach commented on #6941
Hi, I can not test for now as a migration to realm 10 is not something I take lightly :) Also, I made my own workaround which seems to have fixed the problem in my case (while deleting the content of two tables...)

I don't quite understand the workaround?

[2020-12-19 19:45] gshahbazian commented on #6898
@tgoyne interesting. Thanks for the explanation. Would an xcframework for the objc library make clean builds from SPM faster than one from cocoapods?

[2020-12-21 00:45] alexeichhorn opened #7014 "Collection notifications incorrect for insertions on Mac Catalyst and Simulator"
The collection notification feature of Realm, which many rely upon, has some serious inconsistency issues when adding a lot of items (more than 6 in my experience) at the same time. The problem seems only to surface when running it on my Mac directly - that is Mac Catalyst or iOS Simulator. When running on an iOS device, the problem doesn't appear. Maybe it's an x86 issue, therefore.

## Goals
Obs

[2020-12-21 09:46] MachineMeAs opened #7015 "Full-text-search"
When can Chinese full text search be supported?

[2020-12-21 15:08] leemaguire commented on #7012
Hi @sufangliang Can you please show us some more context with how you are using Realm? Is this issue always reproducible?

[2020-12-21 15:51] leemaguire opened #7016 "App crash when creating new entity instance."
## Goals
Find source of crash

## Expected Results
Not crash when creating a new entity

## Actual Results
[code]

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: 10.5.0

Realm Object Server version: ?

Xcode version: ?

iOS/OSX version: ?

Dependency manager + version: ?

[2020-12-21 15:54] leemaguire commented on #6976
Closing this issue due to inactivity. If you have any more questions please open a new Github issue. Thanks!

[2020-12-21 15:54] #6976 closed

[2020-12-21 15:56] leemaguire commented on #6881
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-12-21 15:56] #6881 closed

[2020-12-21 15:57] leemaguire commented on #6871
@KimiChiu Great to hear! I'll close the issue. If you have any more questions please open a new Github issue. Thanks!

[2020-12-21 15:57] #6871 closed

[2020-12-21 16:04] leemaguire commented on #7008
Hi @igrechuhin Could you attach a code sample showing your Realm model and in what context you are using `Realm.object`?

Thanks

[2020-12-21 16:21] leemaguire commented on #7009
Hi @igrechuhin Could you please send us a code sample that reproduces the crash?

Thanks

[2020-12-21 16:29] leemaguire commented on #7010
@ashwiniPersonal if possible could you please send us any Realm files related to this crash. You can send it to realm-help@mongodb.com The crash looks related to any user that was previously using Realm 4.x and is upgrading to a new version of the app this is using Realm 5.x

Thanks

[2020-12-21 16:30] leemaguire commented on #7010
@jedelbo this looks related to file format upgrades, have you seen similar before?

[2020-12-21 17:01] leemaguire commented on #7011
Hi @qgliu Could you please send us a code sample to help us reproduce the issue? I cannot reproduce on my end.

Thanks,
Lee

[2020-12-21 17:37] qgliu commented on #7011
Hi Lee, we also can't reproduce it in our end. But we see the the crashes in the Crashlytics. It happens in a frequently called routine but only crashes less than 1% of the time. We have updated our app to not use filter(predicator) but use specific comparison function.

**Old (<1% crash)**
`selectedDishes = dishes.filter("unitPrice > 0 || pts > 0")
`

**New (no crash)**
[code]
This has resolved t

[2020-12-21 17:37] ashwiniPersonal commented on #7010
Thanks @leemaguire. Earlier we were on 3.22, so I am not sure how you are getting 4.x
I think all these crash logs were from production but let me check with app teams to see if we can get a realm file somehow from the production.

[2020-12-21 20:53] milfar commented on #3242
Is there a way to do this using the latest RealmSwift?  realm.dynamicCreate("classname") does not work. I tried creating the Schema like @steve21124 mentioned above (It did create the Schema and I was able to see it in realm.schema) but realm.dynamicObject(ofType: "classname", forPrimaryKey ) fails. It says that the model is not managd by Realm

[2020-12-22 02:54] Tynox commented on #7011
Got the same problem.

`0   Realm                           0x10137c858         realm::ArrayUnsigned::update_from_parent
1   Realm                           0x10137f65c         [inlined] realm::BPlusTreeInner::erase_and_destroy_bp_node
2   Realm                           0x10137f65c         realm::BPlusTreeInner::erase_and_destroy_bp_node
3   Realm                           0x1013c0fe4         rea

[2020-12-22 09:41] leemaguire commented on #6923
@duncangroenewald our latest version of Realm v10.5.0 has full arm64 & Sync support via SPM. We have no plans on retrofitting support to the v5.5.x versions, and recommend always to use the latest version of Realm.

[2020-12-22 09:44] leemaguire commented on #6923
Closing this as the original issue has been solved with full SPM support.

[2020-12-22 09:45] #6923 closed

[2020-12-22 11:10] theolampert commented on #6923
@leemaguire Is this Xcode 12.3 only? I just tried compiling in 12.2 and hit a few issues.

[2020-12-22 11:20] jedelbo commented on #7010
@leemaguire No I have not seen this before. Very interested in getting file.

[2020-12-22 11:45] igrechuhin commented on #7009
It's not possible. This happens in complex project at random (as it seems to us) moments. Realm just crashes unexpectedly at our users. We do not have stable steps to reproduce it. However it makes millions of crashes at our users.

[2020-12-22 11:53] igrechuhin commented on #7008
As I've told in other thread (https://github.com/realm/realm-cocoa/issues/7009), it's not possible.

As for the database, I've already sent couple of copies to @finnschiermer.
Maybe we can ask him to share with you.

We use queue attached Realm. And our object retrieval function looks like this:

[code]

[2020-12-22 14:51] caglayansever commented on #4818
It's still not working if you have multiple different threads which update db.

[2020-12-22 15:29] MartPiet commented on #7016
Additional information:
I used SPM with Xcode 12.3 on MacOS 11.1. The app just uses Realm as a local db, no Realm Object Server is involved. The created entity contains several relationships. If there is more to know, just let me know 👍

[2020-12-22 15:38] leemaguire commented on #7016
@MartPiet If you could send us a code sample that reproduces the issue that would be great.

[2020-12-22 19:51] KryukovAndrey commented on #6587
Hi
i have the same problem http://joxi.ru/12MklwlhkJxoGr

Realm Studio Version 3.11.0
Realm Version 10.5.0
Xcode version: Version 12.2 (12B45b)

Realm Object Server version: how can I find it?
Dependency manager + version: how can I find it?

[2020-12-22 22:28] duncangroenewald commented on #6923
But in practice v10.5.0 does not support Realm Cloud and MongoDB Realm is not ready for production use yet!!

[2020-12-23 05:07] Muhand opened #7017 "In memory realm loses data even though I am calling from same thread"
**NOTE: This only happens using `InMemoryRealm` configuration something like `Realm.Configuration(inMemoryIdentifier: "messagesRealm")`**

## Goals
I am writing a cache protocol which I can implement later using any or multiple cache libraries (regardless of disk or memory), in this case it is `Realm`

## Expected Results
Expectation was when the save function is called realm should successfully s

[2020-12-23 07:27] miklselsoe opened #7018 "Regression: Sync with MongoDB breaks with Realm 10.5.0"
After upgrading from Realm 10.4.0 to 10.5.0, the initial synchronization of a rather large MongoDB (~40,000 rows) database fails after about 20% completion. You can see the error message posted in the log, below.

If I restart the app, it tries to pick up the sync at 20%, but fail immediately. It fails consistently on Realm 10.5, but completes successfully if I downgrade to Realm 10.4.

## Goals
C

[2020-12-23 19:04] destryteeter commented on #6549
Found this issue is reproducing with the latest dev environment:
- Xcode 12.3 (12C33)
- macOS Big Sur 11.1
[code]

I was able to circumvent the issue by manually deleting the example project after Carthage finished checking out and before Carthage attempted to build the dependency.

I will be transitioning to XCFrameworks soon, but for now I am faced with this issue still.

[2020-12-24 03:52] zyphs21 commented on #6983
@mpobrien Hello, Can you give me some advice about how to print the verbose log output showing the upload/download payloads from the sync connection ?

[2020-12-24 08:28] Muhand commented on #7017
I was able to solve the issue by creating a strong reference to realm (which I never use) and then I reinitialized realm in each function to avoid `Realm accessed from incorrect thread` not sure if this is the right way but at least it is a hack for now. I can see why Realm might go out of scope of there is no strong reference but in a use case like mine it doesn't really make sense to create an e

[2020-12-24 09:56] TheImShrey commented on #1910
As of now, Dec 2020, there is not proper solution of this issue. We have may workarounds though.

Here one I have been using, and one with less limitations in my opinion.

 1. Make your Realm Model Object classes conform to codable
[code]
 2. Create this helper class

[code]

 3. Call this method whenever you need **detached / true deep copy** of your Realm Object, like this:

[code]

As you can s

[2020-12-24 10:00] TheImShrey commented on #5578
As of now, Dec 2020, there is not proper solution of this issue. We have many workarounds though.

Here one I have been using, and one with less limitations in my opinion.

 1. Make your Realm Model Object classes conform to codable
[code]
 2. Create this helper class

[code]

 3. Call this method whenever you need **detached / true deep copy** of your Realm Object, like this:

[code]

As you can

[2020-12-25 14:45] drinkius commented on #6979
Got an error here:
`Cast from 'ObjectBase.Type' (aka 'RLMObjectBase.Type') to unrelated type 'Object' (aka 'RealmSwiftObject') always fails`

[2020-12-26 09:58] theolampert commented on #6923
@leemaguire This still doesn't build with Xcode 12.3 and SPM
[code]

[2020-12-27 18:04] MahmudHasanMenon opened #7019 "Build failed with carthage update"
!!! MANDATORY TO FILL OUT !!!
<!---
when carthage update got an error.

[code]

[2020-12-27 18:05] #7019 closed

[2020-12-27 18:26] MahmudHasanMenon opened #7020 "Could not find module 'RealmSwift' for target 'x86_64-apple-ios-simulator'"
## Goals
 integrating realm-cocoa package using carthage with swift 4.2

## Expected Results
should build with carthage update

## Actual Results
When updating carthage
got error like
Build Failed
[code]
when running on xcode got error like

 `Could not find module 'RealmSwift' for target 'x86_64-apple-ios-simulator'; found: i386, arm64, armv7-apple-ios, i386-apple-ios-simulator, arm64-apple-ios,

[2020-12-29 13:38] vbst commented on #6587
@KryukovAndrey try this https://studio-releases.realm.io/latest/download/mac-dmg

[2020-12-29 16:22] anton-plebanovich opened #7021 "Strange rare crash during array of objects dealloc"
## Steps for others to Reproduce
This one is rare to reproduce, I just got a report in the Crashlytics and in the console once. Basically, objects of some type were requested, some properties were read and then it crashed during objects dealloc.

From Crashlytics:
[code]

From console:
[code]

## Version of Realm and Tooling
[code]

iOS version: 14.0.1 and 13.7.0

[2020-12-30 10:02] Econa77 opened #7022 "Cannot install RealmSwift on CocoaPods under the macOS environment of Github Actions."
## Goals
RealmSwift can be installed correctly under macOS environment of Github Actions.

## Expected Results
`pod install` succeeds.

## Actual Results
No error is output.
<img width="400" alt="スクリーンショット 2020-12-30 18 50 04" src="https://user-images.githubusercontent.com/2995438/103344105-f5a7cd00-4ad0-11eb-8bad-30165f7a887a.png">

## Steps for others to Reproduce
I created a reproduction projec

[2020-12-30 10:04] jsflax commented on #7022
It's not clear to me why this would happen. Could you run your pod install command with the verbose flag and then paste the logs here?

[2020-12-30 10:15] Econa77 commented on #7022
The log executed with the verbose option added is as follows.
Can also check the details [here](https://github.com/Econa77/RealmCocoapodsGitHubActions/runs/1625620060?check_suite_focus=true)

<details>
<summary>log</summary><div>

[code]

</div></details>

[2020-12-30 10:21] Econa77 commented on #7022
`sudo bundle exec pod install --allow-root` will succeed `pod install`, but the permissions below `Pods` are incorrect.
Probably, I think that some permission is insufficient and an execution error occurs while executing the following command.
`sh build.sh cocoapods-setup`

[2021-01-04 05:04] michaeljajou opened #7023 "Bad Changeset (Download)"
**SDK**: Realm Swift 10.5.0
**Xcode Version**: 12.3

**Error message:** Error Domain=io.realm.sync Code=112 "Bad changeset (DOWNLOAD)" UserInfo={Category=realm::sync::Client::Error, NSLocalizedDescription=Bad changeset (DOWNLOAD), Error Code=112}
Bad changeset (DOWNLOAD)

**Result of Error**
 After receiving this error, it seems that sync is prevented from running and all realm files are not able

[2021-01-04 05:43] michaeljajou commented on #7023
**More Information**

I removed all new schema configurations that were added, and I dropped their collections from the cluster. Then I terminated sync and reenabled it. Unfortunately, none of these steps fixed the issue.

[2021-01-04 07:12] erdem-inan commented on #7006
Hello ! I am still stuck on this issue. Is there any news from your side?

Thanks

[2021-01-04 10:55] DominicFrei commented on #7023
Hi @michaeljajou !

Thank you for the information above.

Would you be able to show us a code example that reproduces the above problem so that we can reproduce it on our end?

Thanks!

Kind regards,
Dominic

[2021-01-04 11:25] DominicFrei commented on #7021
Hi @anton-plebanovich  !

Thank you for the information above.

Could you provide a code example of what you are doing to reproduce that crash? You said it's rare but from your description it sounded like you know what it happens. It would be helpful to see some more code so that we can reproduce it on our end.

Thanks!

Kind regards,
Dominic

[2021-01-04 11:28] DominicFrei commented on #7020
Hi @MahmudHasanMenon !

Thank you for the above information.

Can you show us an example of your Cartfile and the actual commands (install, update, etc.) you are executing so that we can reproduce this issue on our side?

Thanks!

Kind regards,
Dominic

[2021-01-04 13:04] DominicFrei commented on #7017
Hi @Muhand !

Thank you for providing detailed information for your issue including a code example.

I have checked out your code example and could reproduce every step you described.

As for your question with the reference please see the documentation:
https://realm.io/docs/swift/latest/#in-memory-realms

[code]

Data not being held in the in-memory database is actually working as designed. You

[2021-01-04 13:35] DominicFrei commented on #7007
Hi @igrechuhin,

Thank you for providing the above mentioned information.

Could you add a code example so that we can reproduce your issue on our side?

Thanks!

Kind regards,
Dominic

[2021-01-04 13:41] michaeljajou commented on #7023
@DominicFrei Thanks for the response. The problem is I do not have a code snippet I can add in that reproduces the problem. This problem occurred after I added a collection to my schema, and inputted the automatically generated Swift models from Realm.

As mentioned above, it seemed to have broken my realm sync process because I removed all new collections and code (essentially putting everything

[2021-01-04 13:42] michaeljajou commented on #7023
The initial error message was:

**The client and server disagree about the history. Please wipe the file.**

After wiping the file, and reinstalling the app: the bad changeset error is presented.

[2021-01-04 13:42] DominicFrei commented on #7018
Hi @miklselsoe,

Thank you for providing the above mentioned information.

Could you provide us with a code example so that we can reproduce this problem on our side?

Thanks!

Kind regards,
Dominic

P.S.: @simonask @tkaye407 This might be interesting for you too.

[2021-01-04 13:59] DominicFrei commented on #7023
@michaeljajou Thank you for the additional information.

@simonask @tkaye407 Can you maybe have a look at that too?

[2021-01-04 14:00] sirnacnud commented on #6804
Updating to Xcode 12.3 fixed the issue for me.

[2021-01-04 14:18] michaeljajou commented on #7023
@DominicFrei Hey, I found the issue. This was yet again a mismatch of schemas, sometimes even double checking is not enough. I had one value as optional in the schema, and required in the client causing the bad changeset.

Error message makes a lot more sense now, you're free to close this!

[2021-01-04 14:48] smpanaro commented on #6941
I am also seeing this on Realm v5.0.0.

My migration does not touch that class at all. My workaround was to ship a change to the migration to regenerate unique keys for those duplicates. This allowed the migration to complete successfully, but now I have duplicate objects in Realm (somewhat obvious in hindsight).

I couldn't reproduce locally or outside of my production app, but I do now have a se

[2021-01-04 14:55] DominicFrei commented on #7023
Hi @michaeljajou,

Thank you for reporting back to us. I know how you feel. Happened to me too many times as well. :)

[2021-01-04 15:21] Muhand commented on #7017
Dominic,
Thanks for your suggestion, I will definitely implement it. That would solve my problem indeed.

Thanks again,
Muhand

[2021-01-04 15:36] #7017 closed

[2021-01-04 16:21] #7023 closed

[2021-01-04 16:28] DominicFrei commented on #7013
Hi @RomainPct,

Thank you for providing information about your issue including the code repo.

I checked it out and could not reproduce the issue immediately. In fact I got a completely different result.

The relevant part:
[code]

We will have to look further into this.

[2021-01-04 16:55] DominicFrei commented on #7006
Hi @erdem-inan,

Sorry for the delay. I will check back with @fealebenpae.

Kind regards,
Dominic

[2021-01-04 21:10] anton-plebanovich commented on #7021
Hi @DominicFrei , the code is complicated because there are a lot of custom classes and I don't think I can share it anyway. There is one more detail though, objects have been retained until the end of a network request but a thread is always the main. I can't reliably reproduce the crash and instead reworked code to prevent async objects usage and passing them now by thread-safe references instea

[2021-01-04 21:37] jaywardell opened #7024 "Documentation could use an update"
## Goals
The documentation at  https://realm.io/docs/swift/latest/#migrations could use a slight tweak with more up to date information about how too delete Realm files.

## Expected Results
The documentation could make reference to the method
    public static func deleteFiles(for config: Configuration) throws -> Bool
on line 918 of Realm.swift

In the section Deleting Realm files at https://real

[2021-01-04 23:40] crazyguyonabike opened #7025 "Realm module not found; 'Realm/Realm.h' file not found"
## Goals
Realm module and headers found when using Cocoapod

## Expected Results
Realm module and headers found XCode 12

## Actual Results
Realm module not found; Realm/Realm.h not found

## Steps for others to Reproduce
Existing project worked with XCode9, does not work with XCode11/12

## Code Sample
Podfile:

[code]

[2021-01-04 23:41] crazyguyonabike commented on #7025
Been struggling with this for a week. Realm is not found. I tried the sqlite3 Cocoapod and it works as expected i.e. includes are found, module is found, completion works as expected.

[2021-01-05 02:55] michaeljajou opened #7026 "Realm not syncing documents from atlas cluster even though all documents pass schema validation"
I apologize in advance for the lack of information provided, it is just that nothing was truly changed and realm stopped syncing documents.

**Overview**
I was writing a new schema for a new collection, and I went back to my app and realm stopped syncing documents for all collections. So I removed the configuration for the schema (did not change anything with the iOS app, since I didn't implement

[2021-01-05 03:03] ianpward commented on #7026
@michaeljajou I would encourage you to open a support ticket on the MongoDB cloud portal since this is a sync related question. The Github repo's are generally reserved for local-only non-sync Realm bugs or issues.

[2021-01-05 03:06] michaeljajou commented on #7026
@ianpward I opened one, thanks. They said they'll try to get back to me in a few days. In the meantime, you've never ran into this sort of issue?

[2021-01-05 06:33] michaeljajou commented on #7026
**Log**

`Sync: Connection[1]: Session[1]: client_reset_config = false, Realm exists = true, async open = false, client reset = false`

[2021-01-05 10:19] miklselsoe commented on #7018
@DominicFrei I'm afraid that's not easy to do. I am opening a synced realm from a MongoDB containing sensitive customer data that I cannot share. Attempting to create a similar database with mock data and trying to reproduce the issue there is not feasible for me to do.

I'm happy to help you in any way I can, provide logs, do tests etc, but since it fails with this specific 40,000 row dataset, I

[2021-01-05 10:23] jsflax commented on #7018
@miklselsoe Would you mind opening a support ticket on the MongoDB cloud portal? This is likely related to the sync cloud portion of the product and we can better assist you there.

[2021-01-05 10:39] gongzhang commented on #6096
The iOS 14 widget extension still crashes with a probability of about a few percent.

[code]

The `realm-cocoa` version is `10.5`

[2021-01-05 11:17] jedelbo commented on #7018
One difference between the who versions is that we don't check for the prior_size in v10.4.0. So it might be that the error is on the server side after all. On the other hand it is able to download 20%, so why would it suddenly fail? It is very hard to dig further into this without having the history of downloaded change sets. Would it be possible for you to run the application in XCode with loggi

[2021-01-05 11:34] jedelbo commented on #7018
@miklselsoe if you want to discuss how we can proceed over a more efficient channel, you can send me further contact info on jorgen.edelbo@mongodb.com.

[2021-01-05 15:03] DominicFrei commented on #7014
Hi @alexeichhorn,

Thank you for providing all the information above including a code sample.

I have looked into the code example and did some tests on my own. I did find some occasions where duplicates appear.
While further analysing needs to be done here on our side, can you try to use a custom queue as an interim solution and check out if that works?

In the meantime we'll look further into th

[2021-01-05 15:29] #6910 closed

[2021-01-05 16:18] #3340 closed

[2021-01-05 19:37] michaeljajou commented on #7026
This is a Realm Sync error as sync started working again hours later without any changes being made.

[2021-01-05 19:37] #7026 closed

[2021-01-06 08:06] miklselsoe commented on #7018
@jedelbo Thanks. I will get back to you in a mail ASAP.

[2021-01-06 08:25] marcuswu0814 opened #7027 "Collection notification not working when delete objects and add objects in same transaction"
## Goals

Trigger collection notification.

Want to check is this except behavior or bug?

## Expected Results

The observe closure shuold receive changeset type `.update()`.

## Actual Results

In `10.5` and `5.x`, nothing receive.

But in `4.4.1`, it receive update notification.

## Steps for others to Reproduce

Tap add button and tap update button to clone old objects and delete them, re-add t

[2021-01-06 10:59] DominicFrei commented on #7024
Hi @jaywardell,

Thank you for your suggestion.

I am working on a PR to update the documentation and will let you know as soon as it's done.

Kind regards,
Dominic

[2021-01-06 12:15] ahmedsafadii opened #7028 "Realm accessed from incorrect thread."
## Goals
Remove data from an array of the realm object

## Expected Results
data inside realm to be deleted

## Actual Results
2021-01-06 15:11:04.927332+0300 Eco Capture[1758:443269] *** Terminating app due to uncaught exception 'RLMException', reason: 'Realm accessed from incorrect thread.'
*** First throw call stack:
(0x1991719d4 0x1acb22b54 0x104644d38 0x1044840d4 0x10448afc4 0x10448af9c 0x102

[2021-01-06 13:48] miklselsoe commented on #7018
I just upgraded to 10.5 to verify the issue and now of course I cannot reproduce it. Not sure exactly why, but perhaps something changed in Mongo. And now it even completes with ~800.000 rows. Not sure what to make of it. :) @jedelbo

[2021-01-06 14:22] DominicFrei commented on #7025
Hi @crazyguyonabike,

I could not reproduce the issue with the given Podfile, it seems fine on my side given your configuration (Cocoapods, Xcode, etc.).

Would you be able to provide an example project to reproduce the issue?

[2021-01-06 15:50] DominicFrei commented on #7027
Hi @marcuswu0814,

I've created an example to test what you are describing:
https://github.com/DominicFrei/Playground/tree/realm/realm-cocoa/issues/7027

Is this what you are looking for?
If so, can you maybe provide an example of your non-working version with a little more context?

[2021-01-06 16:43] infapednekar opened #7029 "Crash in production app"
Steps for others to Reproduce
Not sure how to reproduce. This is happening in production app and is detected in Crashlytics logs.

From Crashlytics:
`
realm::Array::get(char const*, unsigned long) + 4240612
realm::StringData realm::ConstObj::_get<realm::StringData>(realm::ColKey::Idx) const + 304
object_accessor.hpp - Line 160
OpaqueJSValue const* realm::Object::get_property_value_impl<OpaqueJSVal

[2021-01-06 16:44] SystemKeeper opened #7030 "Migration not considering all objects when objectClasses are set"
When accessing realm from an app extension, we narrow down the available objects (because of memory limits by apple) doing something like this
[code]
This works fine, unless we increase the schemaVersion and therefore trigger an migration. Then the schemaVersion gets updated correctly, but classes which are not part of `objectClasses` are not migrated, resulting in a crash, when opening the main a

[2021-01-06 17:18] DominicFrei commented on #7028
Hi @ahmedsafadii,

for sync we recommend Realm Sync.

To not disregard your question though: Can you show us a little more context?
Where is this list coming from? Could you just pass in the object it is attached to?

The SDK offers a `ThreadSafeReference`: https://realm.io/docs/swift/latest/#passing-instances-across-threads

You could pass in the object in question a parameter and then pass it on

[2021-01-06 17:27] tgoyne commented on #7027
It sounds like this will be fixed by https://github.com/realm/realm-core/pull/4167 once that is included in a release.

[2021-01-06 17:33] georgesjamous commented on #7023
_Version 10.5.0_

I have started receiving this issue recently. I believe it's the same.
However, I haven't changed the Schema.

It starts to happen when I update a specific field who's type is 'EmbeddedObject'
(I have double-checked the schema)

So it's failing to download the realm initially.
if I Stop the sync, then re-enable it, it works until I try to re-update the field.
The value is updated

[2021-01-06 17:38] ahmedsafadii commented on #7028
@DominicFrei this is the full cycle

This is executed every 1 sec
[code]

this is the manager

[code]

[2021-01-06 17:41] tgoyne commented on #7030
This is working as intended, but does indeed seem like a problem.

The primary memory usage benefit of specifying objectClasses comes from that it lets us skip calling objc_copyClassList() (which forces a bunch of lazily-loaded things to be immediately loaded), and actually limiting the set of classes used is relatively minor in comparison. If you haven't, it'd be worth measuring the memory usage

[2021-01-06 17:44] ahmedsafadii commented on #7028
@DominicFrei also I try the way that inside the documentation about ThreadSafeReference

[code]

I got this error

[code]

[2021-01-06 18:04] georgesjamous commented on #7018
I am facing a similar issue, updating to 10.5.0 hasn't solved it.

[code]

[2021-01-06 18:18] georgesjamous commented on #7018
I don't know if this helps, but I have tried to reproduce this error and what I found is that:

- while I am adding and removing from a 'List' nothing happens, everything goes well.
- If I delete the local Realm and attempt to download it, the issue appears and the Realm would not download.
  with the error "Invalid prior_size (list size = 1, prior_size = 0)"
- if I stop the Sync, then restart it.

[2021-01-06 19:10] jesusmateos1234 opened #7031 "FR: Use XCFramework in new release"
**Questions**: If you have questions about HOW TO USE Realm, ask on
[StackOverflow](http://stackoverflow.com/questions/ask?tags=realm),
or in our [Swift Forum](https://forums.realm.io/c/swift) or [Obj-C Forum](https://forums.realm.io/c/objc).

**Feature Request**: Use XCFramework in new release

**Bugs**: In order to not re-compile versions from code using Carthage workaround, we need that you cou

[2021-01-06 19:12] jesusmateos1234 commented on #7031
@tgoyne

[2021-01-06 19:12] tgoyne commented on #7031
Carthage has not yet actually released a version which supports xcframeworks. Our non-Carthage build already is an xcframework so it should be trivial to adopt it once they do.

[2021-01-07 01:59] gongzhang commented on #6096
It seems that this problem occurred after an app upgrade. Not quite sure yet, just guessing.

[2021-01-07 03:25] marcuswu0814 commented on #7027
Hi @DominicFrei, @tgoyne

This is [example project](https://github.com/marcuswu0814/Realm-Collection-Notification-Bug). You can checkout different branch to see my result.

I try to install realm from main branch version and it still not work, wanna check how to update `realm-core` version with CocoaPods?

[2021-01-07 11:38] DominicFrei commented on #7006
@erdem-inan Trying to clarify this further for us so that we can reproduce it:
I suppose the problem is that progress notifications are delivered only if this is the first time the realm file is opened and synchronised from the server?

@simonask  Do you think we have enough information to reproduce this issue?

[2021-01-07 11:55] DominicFrei commented on #7028
@ahmedsafadii You are trying to create a `ThreadSafeReference` to the `List<DataAcc>` which is not an object managed by your realm. As pointed our in the error message this can be passed directly and you do not (and cannot) create a`ThreadSafeReference` to that.

`ThreadSafeReference`s are created for realm objects: https://realm.io/docs/swift/latest/#passing-instances-across-threads

[2021-01-07 12:00] DominicFrei commented on #7028
@ahmedsafadii The recommended way to go would be [Realm Sync](https://docs.mongodb.com/realm/sync/get-started) instead of doing it manually yourself.
Have you had a chance to look into that?

[2021-01-07 12:04] DominicFrei commented on #7027
Thanks, @tgoyne!

@marcuswu0814 Can you have a look into the PR linked by Thomas? This should solve the problem. It's already merged but needs to be released.

[2021-01-07 12:10] erdem-inan commented on #7006
Hi @DominicFrei !

Yes, it is that.
So, at first lunch, it is working great and as expected (since we have data to download).
But after, let say that we kill the app and restart it. The progress notifications will no more deliver notifications until new data is pushed to the Realm (through MongoDB with the right Partition key).

[2021-01-07 12:10] SystemKeeper commented on #7030
We indeed saw some crash reports in app extensions. That stopped after using objectClasses, but I do not have any numbers at hand. After reading your explanation I'm wondering if there was a different root cause to the crashes we saw. How memory intensive is a migration? Could it be that the app extension would crash if it attempts to do a migration of all objects?

Using two different schema vers

[2021-01-07 12:34] DominicFrei commented on #7023
It looks like the conversation has been moved to #7018 already. Is it ok for you to continue there, @georgesjamous?

[2021-01-07 14:43] DominicFrei commented on #7028
@ahmedsafadii In addition to the above posts an the recommendation to look into Realm Sync as the recommended way to go I have created a solution for your situation in case you want to keep this one:
https://github.com/DominicFrei/Playground/blob/realm/realm-cocoa/issues/7028/Tests/PlaygroundTests/PlaygroundTests.swift

Important notes:
- `RealmSwift.List` is not meant to be used as a list of obje

[2021-01-07 15:32] snievesZafiro commented on #5312
Hi @burkarddev
I have the same bug
Did you find any solution?

[2021-01-07 15:40] snievesZafiro opened #7032 "let realm = try! Realm() crash in iOS < 13"
Hi!
I have a problem when I initialize Realm with the next line:
let realm = try! Realm()

**In iOS < 13** (Device and Simulator), we have a error on line 262 of the file RLMSchema.mm
malloc_ptr classes(objc_copyClassList(&numClasses), &free);

**In iOS >= 13** This works well

Realm framework version: Realm 10.5.0
Xcode version: 12.3
Swift 5.1

Please help me how to fix this issue.

[2021-01-07 16:33] DominicFrei commented on #7032
Hi @snievesZafiro,

it's hard to tell what's happening here with that one line. Can you provide a code example including a full stack trace so that we can reproduce this on our side and find out what's going on?

[2021-01-07 17:07] #3857 closed

[2021-01-07 17:19] #4005 closed

[2021-01-07 17:20] #4018 closed

[2021-01-07 17:37] #4231 closed

[2021-01-07 17:38] #4267 closed

[2021-01-07 17:48] #4356 closed

[2021-01-07 17:49] #4370 closed

[2021-01-07 18:01] gshahbazian commented on #6973
We are also seeing the same crash:

[code]

[2021-01-07 18:03] #4501 closed

[2021-01-07 18:05] gshahbazian commented on #7011
We are seeing a similar crash:

[code]

[2021-01-07 18:05] #4684 closed

[2021-01-07 18:09] gshahbazian opened #7033 "Crash in Realm.object(ofType:forPrimaryKey:)"
We're seeing crash reports with this trace:

[code]

## Version of Realm and Tooling
Realm framework version: 10.5.0
Xcode version: 12.3
iOS version: 14.2

[2021-01-07 18:13] gshahbazian commented on #6763
We are also seeing this crash:

[code]

[2021-01-07 18:56] DominicFrei commented on #7033
Hi @gshahbazian,

Thank you for your report.

Can you provide some sample code? Maybe even an example repo so that we can reproduce your issue?

[2021-01-07 19:00] gshahbazian commented on #7033
Hey @DominicFrei, I do not have a sample reproducing project at the moment. This began showing up in our crash reporter after testing an upgrade to 10.5.0.

I can try reproducing and following up here.

[2021-01-07 19:04] ahmedsafadii commented on #7028
@DominicFrei

I will give it a look for the realm sync

for your example, it didn't work

[code]
I have this error

[code]

[2021-01-07 19:27] snievesZafiro commented on #7032
Hi @DominicFrei

The bug is not from Realm Pod
This morning I've made an update with the next result:

Installing Alamofire 5.4.1 (was 5.4.0)
Installing Kingfisher 6.0.1 (was 5.15.8)
Installing Mixpanel 3.6.4 (was 3.6.3)
Installing PromisesObjC 1.2.12 (was 1.2.11)
Installing Realm 10.5.0 (was 10.4.0)
Installing RealmSwift 10.5.0 (was 10.4.0)

I thought the problem was related to the Realm Pod but

[2021-01-07 19:38] snievesZafiro commented on #7032
Hi @DominicFrei

The problem is with Kingfisher 6.0.1...luckily with the previous version it works correctly again

Realm 10.5.0 + KingFisher 5.15.8 -> OK
Realm 10.5.0 + KingFisher 6.0.1 -> BUG

[2021-01-07 19:39] #7032 closed

[2021-01-07 20:01] DominicFrei commented on #7033
@gshahbazian Great, thank you!

[2021-01-07 22:11] tgoyne commented on #7030
The memory-intensive thing is the automatic discovery of RLMObject subclasses, not the migration. Setting objectClasses to the complete list of types used by the app greatly reduces the peak memory usage on startup, while setting it to a smaller subset of the types is a relatively small decrease in memory usage.

[2021-01-08 06:47] ahmedsafadii commented on #7028
i also try realm sync the same crash @DominicFrei

can you provide an example for my works

Note that the crash only happens when the  completion of Alamofire finish

[2021-01-08 08:48] georgesjamous opened #7034 "app.syncManager.errorHandler Not being called"
## Goals
Handle Sync errors of an application. For example when the session was revoked (Client Reset).

## Expected Results
`app.syncManager.errorHandler = { _ in }` to be called

## Actual Results
The block does not get called.
[code]

## Steps for others to Reproduce
Login, revoke session from UI, and watch the Logs.

## Code Sample
[code]

## Version of Realm and Tooling
Realm Version: 10.4.0

[2021-01-08 10:58] thanhdolong commented on #6979
This one should work:
``.compactMap { $0 as? Object.Type }`` or ``guard let objectType = objectType as? Object.Type else { return }``

[2021-01-08 11:17] DominicFrei commented on #7034
Hi @georgesjamous, I've seen this issue in older version but it has been fixed.

Can you give us some more context or maybe even a code example that reproduces the above issue?

[2021-01-08 11:24] DominicFrei commented on #7021
And thank you for doing so, @anton-plebanovich! :)

Regarding the problem with sharing code: no worries, I can understand that. Sometimes developers can excerpt some of there code which does not reveal sensitive information yet provokes a problem we talk about.

Since you mentioned `ThreadSafeReference` and problems around threads.
We talked about that topic in https://github.com/realm/realm-cocoa

[2021-01-08 11:26] DominicFrei commented on #7024
@jaywardell You can find the updated version at https://realm.io/docs/swift/latest/#deleting-realm-files

Thanks for pointing this out!

[2021-01-08 11:26] #7024 closed

[2021-01-08 11:51] DominicFrei commented on #7028
@ahmedsafadii Trying to understand this step by step since your code looks fine at first.

Did you check out the above linked playground (https://github.com/DominicFrei/Playground/tree/realm/realm-cocoa/issues/7028) and ran the test in there?

Did it succeed?

[2021-01-08 12:13] ahmedsafadii commented on #7028
@DominicFrei yes it works fine, I'm saying that if I enter it inside alamofire request completion only this problem happens

[2021-01-08 12:20] georgesjamous commented on #7034
This is a light version of code from my implementation

[code]

1- initialize the Authentication (creates the app and error handler listener)
2- log in the user
3- Open a Realm and the realm is Syncing all good

4- Revoke the user's session
5- The realm stops synching because the session is not valid

The block should be called at this point right?

Even after revoking the session and restarting t

[2021-01-08 13:16] georgesjamous commented on #7034
I am looking around for a way to handle session invalidation (or client reset) for Sync. To force the user to re-authenticate because it looks like it's not done automatically under the hood or because the 'refreshToken' gets invalidated too.
I can't find any solution, so I assumed that  `app.syncManager.errorHandler` does the trick. Or am I mistaken?

What I have found however, for older version

[2021-01-08 13:41] jaywardell commented on #7024
Thanks Dominic. That was fast.

[2021-01-08 13:57] SystemKeeper commented on #7030
So if I understood you correctly, when we specify all our RLMObjects like this
[code]
it's less memory intensive then omitting the `objectClasses` alltogether and letting realm discover all classes? That would explain why we did see memory crashes in app extensions, because we didn't specify `objectClasses` when we wanted to use all of them.

[2021-01-08 14:51] lukluca commented on #3704
+1

[2021-01-08 17:23] tgoyne commented on #7030
Yes, listing all of them reduces peak memory compared to not setting objectClasses at all.

[2021-01-08 19:46] anton-plebanovich commented on #7021
@DominicFrei sadly the thread you mentioned is unrelated. The reporter there just has an issue with threading while I always use the main thread in my case. The other thing he has Realm 10, while I have Realm 4 which might be important. I tried to upgrade to Realm 5 but had issues with Realm notifications sporadically stop working so I had to fall back to version 4.

[2021-01-08 22:22] georgesjamous opened #7035 "Crash when calling cloud function with no network"
## Goals
Call a MongoDb function using RealmSDK on iOS, when there is no WiFi (Network)

## Expected Results
Error callback to be called

## Actual Results
Crash happens

Trace:
[code]

## Steps for others to Reproduce
Turn off the Wifi and call a cloud function

## Code Sample
[code]

## Version of Realm and Tooling
Realm 10.4.0

[2021-01-08 22:25] jsflax commented on #7035
Hey @georgesjamous,

This is a known issue and has been fixed in the latest Core release [v10.3.3](https://github.com/realm/realm-core/releases/tag/v10.3.3). We'll conduct a release for Cocoa soon that will contain this fix.

[2021-01-08 22:29] georgesjamous commented on #7035
Alright, @jsflax thanks.
I am gonna keep this issue open for tracking and in case someone else ran into the same issue on Cocoa.
Otherwise, feel free to close it.

[2021-01-09 19:14] DominicFrei commented on #7028
@ahmedsafadii Alright, understood. Can you extend my example or create a similar (simplified) one where you use Alamofire and it crashes? I could not reproduce the crash on my side so far.

[2021-01-09 19:15] georgesjamous commented on #7034
I tested this today on a fresh Realm application and looks like it's working. The block is being called.
I am gonna close this issue for now.

[2021-01-09 19:15] #7034 closed

[2021-01-09 19:17] DominicFrei commented on #7034
Glad it worked. Thanks for reporting the result back to us, @georgesjamous.

[2021-01-09 19:21] DominicFrei commented on #7021
That's actually a good hint. Have you tried v10+ yet? Both issues might have been fixed there already. @anton-plebanovich

[2021-01-09 23:29] anton-plebanovich commented on #7021
@DominicFrei I checked changelog and didn't see anything about both issues and there are several open issues for Realm 10 so I'm just afraid to update at this point 😱

[2021-01-11 06:20] si-hartmann commented on #1693
This is now a dramatic show stopper as all(!) app data can now be accessed when an app is installed on a Silicon Mac. Apps can even be installed and used on a M1 Mac without(!) installing them from the Apple App Store. This means that any data that is not encrypted can be read and exported from any app! That is a huge security vulnerability.

Are there any plans to get this feature implemented aft

[2021-01-11 10:27] leemaguire commented on #7012
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-01-11 10:28] #7012 closed

[2021-01-11 10:30] leemaguire commented on #7010
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-01-11 10:31] #7010 closed

[2021-01-11 10:42] versoworks opened #7036 "RLMUser sessionForPartitionValue issue"
!!! MANDATORY TO FILL OUT !!!

## Goals

Retrieve a valid `RLMSyncSession `from the `RLMUser `when specifying the` RLMRealmConfiguration fileURL` property on a synced realm.
## Expected Results

Calling `RLMUser sessionForPartitionValue` returns a valid `RLMSyncSession `when specifying the `RLMRealmConfiguration fileURL` property on a synced realm.
## Actual Results

Calling `RLMUser sessionForPar

[2021-01-11 11:51] sync-by-unito[bot] opened #7037 "Update documentation referring to RLMSyncManager as a singleton"
Since `RLMSyncManager` is no longer a singleton, the documentation should reflect that.

[2021-01-11 12:17] leemaguire commented on #6967
@ReveelTeam are you still having issues with installing the latest version via pods? Realm has now full sync support via SPM if you would like to try that.

[2021-01-11 12:22] leemaguire commented on #6946
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-01-11 12:23] #6946 closed

[2021-01-11 12:23] leemaguire commented on #6911
Closing this issue as it has been inactive for some time. If you have any other questions please open a new issue.

[2021-01-11 12:32] leemaguire commented on #7009
@finnschiermer @jedelbo does the above stack trace point to any issues in core?

[2021-01-11 12:36] georgesjamous commented on #7018
Additional logs using `app.syncManager.logLevel = .trace`

Reproduce:
- Fresh Install on 10.5.0
- Login User
- Attempt to download existing Realm

I tried to sanitize the logs as much as possible leaving only Trace related logs and hiding app specifics.
Hope this helps

Trace:
[code]

[2021-01-11 12:51] leemaguire commented on #6153
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-01-11 12:51] #6153 closed

[2021-01-11 13:12] leemaguire commented on #6993
@KimiChiu have you tried removing the use of `autoreleasepool` and stripping out the singletons that are used in your `insert` method? It's possible something is being released when the stack relies on it and most likely causing the crash.

@hyouuu could you please open a new issue and fill out the template? Thanks!

[2021-01-11 14:38] jedelbo commented on #7018
@georgesjamous Thank you for your effort. Unfortunately the trace output for the  DOWNLOAD CHANGESET is clamped (indicated by the "..." at the end of the line), so the interesting stuff is not available.
Anyway - @simonask the fact that `prior_size` is reported to be 0 does that indicate a problem on the server side, or could it be a result of a bad transformation?

[2021-01-11 16:08] Mohsinraza880 commented on #2020
how to insert record in child table regarding their parent primary key in realm swift

[2021-01-11 17:23] KimiChiu commented on #6993
@leemaguire Did you mean that the `config` may be the problem because it's a singleton property?
The `autoreleasepool` is to prevent the realm size increases drastically.
The insert method is calling from the worker thread.
Is it ok to remove it?

[2021-01-11 18:41] leemaguire commented on #1693
@si-hartmann what you are saying does not look related to multiprocess support, but rather the sandboxing mechanism that iOS uses. Could you clarify your use case?

Also relying on iOS sandboxing for security is not recommended, as jailbreaking & side loading apps with system integrity protection turned off (on an M1 Mac) will let anyone view the filesystem of the app.

[2021-01-11 18:53] leemaguire commented on #7036
Hi @versoworks ,

Could you give us more context as to why you require the synced Realm to be in an App Group Container?

By using a synced Realm you should not need to rely on using an App Group Container to share a Realm between apps. You can simply instantiate the Realm as you would if you are using Sync, and both Realms will sync accordingly.

[2021-01-11 18:56] leemaguire commented on #6993
@KimiChiu the `config` may be contributing to the issue. `autoreleasepool` is used in a bit of a dangerous way here as you're also capturing `self`. If all is cleaned up correctly at the end of the `insert` method, there should be no need for autorelease to clean up the realm instance.

[2021-01-11 19:00] leemaguire commented on #6983
@zyphs21 from Swift
[code]

[2021-01-11 20:25] versoworks commented on #7036
Hi @leemaguire,

this is an existing app we're adding cloud sync to, where design choices were made based on a local realm at the time, where changing the directory now breaks existing functionality.

Before raising the issue here, we checked the docs to see if the RLMRealmConfiguration fileURL property had any caveats in regards to synced realms, and also confirmed `RLMRealm realmWithConfiguratio

[2021-01-11 21:38] leemaguire commented on #7036
@versoworks We don't expose the functionality to set the root directory with the synced Realm. Sorry for not explicitly stating this in the documentation. I will raise this issue with the team.

[2021-01-11 21:52] versoworks commented on #7036
@leemaguire, we noticed under the hood that the `rootDirectory` property is set to `nil`. Ideally, since the the `RLMRealmConfiguration fileURL` property exists, the sync methods should refer to it in order to determine the root directory automatically, without the need to set or expose that property.

Thanks for raising the issue internally.

[2021-01-11 22:44] leemaguire commented on #7011
@Tynox @gshahbazian Could you please add a reproduction case for this issue? Thanks.

[2021-01-12 07:15] si-hartmann commented on #1693
@leemaguire Total agree with your second paragraph about security. But: Not being able to use encrypted realms in extensions forces apps to either use unencrypted realms or to use field level encryption - a big step and probably not down often.

Or we do not use extensions on iOS. But do you expect your iOS developers to not provide any iOS extension? The eco system does not work like that. Apple

[2021-01-12 08:06] jedelbo opened #7039 "Assertion failed: addr >= m_addr with (addr, m_addr) = [true, true]"
This stacktrace has been received from a customer. Is it possible to say what could be the problem here? Could it be that the object is not properly initialized?
[code]

[2021-01-12 08:51] XabierGoros commented on #1693
That's absolutely correct @leemaguire, and that's the main reason of why we need this feature to be developed ASAP.

[2021-01-12 08:59] KimiChiu commented on #6993
@leemaguire So I should create a `Realm.Configuration` every time I need a `Realm` instance, right?
Why doesn't the `[weak self]` make it a weak reference in the `autoreleasepool`?
Maybe you're right, I just found that the `delete` method doesn't capture any `self` because I removed it to make the code cleaner after I reported the issue #6686.
And the `delete` method doesn't crash my app anymore.

[2021-01-12 09:45] leemaguire commented on #6752
Closing this issue due to inactivity. If you have any other questions please open a new issue. Thanks.

[2021-01-12 09:45] #6752 closed

[2021-01-12 09:53] leemaguire commented on #6096
@gongzhang are you able to create a reproduction case from the app upgrade discovery?

[2021-01-12 10:13] gongzhang commented on #6096
@leemaguire No, I can't reproduce it in development environment. However, my own device recorded a similar crash a few days ago. From the logs, it appears that the main app was not active when the widget crash occurred. About 20 seconds later, the widget extension started up itself again and everything was fine. And it had no relation to app upgrade. 🤔

[2021-01-12 10:46] EugenKuzn commented on #6911
@leemaguire

Still no solution. Not sure, that closing issue = solving problem :)

[2021-01-12 11:45] jsflax commented on #6911
@EugenKuzn without more info (a sandbox app reproducing the crash, a stacktrace with an error message), this is a fairly difficult error for us to debug.

Can you give us a larger code sample?

Are you doing any work across threads?

Can we see a bit more context around your call sites to `write`?

[2021-01-12 11:58] leemaguire commented on #6654
@ananfang this is the expected behaviour, as the BSON speciation states:

[code]
https://docs.mongodb.com/manual/reference/bson-types/#date

[2021-01-12 12:10] EugenKuzn commented on #6911
@jsflax

1. Nothing doing across threads, always main thread to avoid any crashes (I know, that Realm crashes, when you access to the same object from different threads)
2. Here is the stack trace:

![Screenshot 2021-01-12 at 14 08 31](https://user-images.githubusercontent.com/33037693/104312749-b5d4e280-54df-11eb-9b38-ff260bcfb70c.png)
.
.
3. Here is code around write (it's pretty simple):
![Scre

[2021-01-12 12:29] leemaguire commented on #6654
@homathko can you share your MongoDB Realm schema & Swift object with us so we can investigate?

[2021-01-12 13:18] miklselsoe opened #7040 "Crash: malloc: can't allocate region / realm::AddressSpaceExhausted"
I am experiencing a crash while syncing a rather large dataset from MongoDB. It happens during initial sync of the partition.

In the app, I have two partitions, both syncing from Mongo. A fairly small one and a big one with about 270.000 rows of data. I initialize the small one first and after it has finished syncing, I present the main user interface and start syncing the big one in the backgrou

[2021-01-12 15:02] jedelbo commented on #7039
User reported that upgrading to a newer version helped.

[2021-01-12 15:02] #7039 closed

[2021-01-12 17:13] ericjordanmossman commented on #6951
Update: waiting on core release with [this](https://github.com/realm/realm-core/pull/4254). Then I can point [this](https://github.com/realm/realm-cocoa/pull/6975) pull request to that release.

[2021-01-12 17:33] leemaguire commented on #7040
Hi @miklselsoe

You're facing an issue with virtual memory. Whats happening is that as you are trying to sync a large set of items the Realm instance will require more virtual memory in order to map the database. It makes sense that this does not happen on your simulator as you likely have enough disk space + RAM available on your machine to allow you to perform the full sync.

A potential solutio

[2021-01-13 08:28] miklselsoe commented on #7040
It seems that opening the realm asynchronously instead of synchronously on a background queue makes all the difference. At least it doesn't seem to crash anymore. It would be great if the documentation was more clear on the potential risks of opening (large) realms synchronously.

[2021-01-13 08:28] #7040 closed

[2021-01-13 10:01] DominicFrei commented on #6991
@rogerluan Thank you for providing those details. This is something we will most likely be tackling when working on PropertyWrappers.

As of now, apart from the already stated workarounds (custom `CodingKeys` and `init`, your `String?`, etc.) I prepared a solution that lets you keep using `RealmOptional` with a small extension of `JSONDecoder`:
https://github.com/DominicFrei/Playground/blob/realm/

[2021-01-13 10:39] DominicFrei commented on #6662
According to the comment in the linked issue this seems to be fine now.

Feel free to re-open and provide information if problems arise again. @owenzhao

[2021-01-13 10:39] #6662 closed

[2021-01-13 10:39] cpd opened #7041 "RLMAddObjectToRealm Crash"
[code]

## Steps for others to Reproduce
No exact steps. Moved to Realm 10 and removed redundant primary keys for some child objects of ProfileRdb (code below)

Saving profile with `realm.add(newProfile, update: .error)` led to a crash because one of child objects (CardRdb) has primary key.
I added a static primary key for ProfileRdb and this works fine, at least during our testing but Crashlytics

[2021-01-13 23:15] ragu-pth opened #7043 "2 BUGS - Crash & [/Users/ragu/Projects/PineTreesHealth/Radiata-iOS/Pods/Realm/Realm/RLMUser.mm:57:20: Implicit conversion loses integer precision: 'uint64_t' (aka 'unsigned long long') to 'NSUInteger' (aka 'unsigned int')]"
!!! MANDATORY TO FILL OUT !!!

## Goals

No Crashes

## Expected Results

No Crashes

## Actual Results

Crashes

libsystem_kernel.dylib
__pthread_kill
libsystem_c.dylib
abort
Realm
please_report_this_error_to_help_at_realm_dot_io
Realm
realm::util::terminate_internal(std::__1::basic_stringstream<char, std::__1::char_traits<char>, std::__1::allocator<char> >&)
Realm
realm::util::terminate(char con

[2021-01-14 02:13] rogerluan commented on #6991
@DominicFrei thanks for your reply and for providing a solution. However, unfortunately that solution won't work in my project, because Realm is abstracted away from the decoding logic, so I couldn't constrain `where T : RealmSwift.Object` for instance. It's a creative solution, thanks for that, but there's no real gain over what I currently have (since I don't _need_ the values to be `Double`, be

[2021-01-14 12:16] sync-by-unito[bot] opened #7044 "Property Wrapper support"

[2021-01-14 12:38] DominicFrei commented on #6991
@rogerluan Thank you for the feedback. Good to hear you have a solution for now. As soon as #7044 is fixed, this issue should be fixed as well.

[2021-01-14 12:46] leemaguire commented on #7043
Hi @ragu-pth Can you give us a larger code sample that may help us with this issue? Thanks

[2021-01-14 17:10] #4712 closed

[2021-01-14 17:29] #4951 closed

[2021-01-14 17:31] #4984 closed

[2021-01-14 17:36] #5084 closed

[2021-01-14 17:39] #5140 closed

[2021-01-14 17:49] jsflax commented on #5239
This will be fixed by key path filtering.

[2021-01-14 17:53] #5319 closed

[2021-01-15 01:11] 2227322717 commented on #5766
same issue, help me out pls

[2021-01-15 02:32] Lucodalack commented on #6767
Hey guys, do we have any update? I could see that the fix was merged in Realm-Core but has not been released with Realm-Cocoa yet. Do we have any milestone with it

[2021-01-15 02:52] junsolOh opened #7046 "[realm-core-10.3.2] Assertion failed: local_ndx < m_page_state.size() with (local_ndx, m_page_state.size()) = [1734, 1728]"
## Goals

Occasionally Crash Occurs During ThreadSafeReference Initializer

## Actual Results

[code]

## Code Sample
[code]

## Version of Realm and Tooling

Realm framework version: 10.5.0

Xcode version: 12.3

iOS version: IOS 14.3

Dependency manager + version: pod 1.10.0

[2021-01-15 08:44] prashant0070 commented on #6955
@byron22seven  can you please provide the solution or code how you fixed it. I am also facing the same issue after upgrading Realm from 3.14.1 to 10.5.0.
What changes did you made in your model class?

[2021-01-15 09:24] Vikas12312 commented on #6955
@byron22seven  can you please provide the solution or code how you fixed it. I am also facing the same issue after upgrading Realm from 3.14.1 to 10.5.0.
What changes did you made in your model class?

[2021-01-15 09:26] Vikas12312 commented on #6955
@byron22seven can you please provide the solution or code how you fixed it. I am also facing the same issue after upgrading Realm.
What changes did you made in your model class?

[2021-01-15 10:52] leemaguire commented on #7046
Hi @junsolOh From looking at the stacktrace the issue looks related to the use of `autoreleasepool`. Where the Realm instance is being released while performing work.

[2021-01-15 12:41] leemaguire commented on #7041
@cpd Would you be able to give us a small sandbox app that shows us how you approached the migration? Do you have any data on if the crashes are coming from users who only use Realm v10 or if its specific to upgrading from a previous version of Realm?

Thanks

[2021-01-15 19:26] cpd commented on #7041
not really, just increased `schemaVersion`, since i'm removing all Profile objects including it's child objects before saving new Profile I thought it's enough

Nope, changed realm version and `redundant primary keys for some child objects of ProfileRdb` at one time

My main concern about this is

1. why this crashes occurs so randomly
2. should that thing work in general or i'm misusing api (i me

[2021-01-16 00:04] sync-by-unito[bot] opened #7049 "Dates in Swift created before Unix epoch (Jan 1, 1970) are not accurate once synced to Atlas."
**Links to HELP-21437**

﹍**Case**﹍: [https://support.mongodb.com/case/00734718](https://support.mongodb.com/case/00734718)

**Customer has this:**

|----|
|@objc dynamic var DisplayDate: Date? = Date(timeIntervalSince1970: ~~62135596800)// 0001~~01-03 00:00:00 +0000|

**They get this in Atlas:**

|----|
|0001~~01~~01 00:00:00 +0000|

I have reproduce this issue with DateFormatter as well.

**Exam

[2021-01-16 04:00] hkmushtaq commented on #2020
Recommend opening a separate topic as this one is ~5 years old and your question doesnt seem related

[2021-01-16 16:42] igrechuhin commented on #7007
@DominicFrei sorry but it’s not stable. It just happens from time to time in our app. We have no steps or test code to reproduce it. In fact, we have tried to provide as much info as we could. If you say what other info/variables we should check next time we’ll encounter this crash, I’ll try to provide it to you.

[2021-01-16 22:40] duncangroenewald opened #7052 "Error initialising a synced MongoDB Realm"
## Goals
Open a synced MongoDB Realm from macOS RealmSwift app

## Expected Results
Client should open synced ream and download data and report correct database record counts.

## Actual Results
Client application fails - see below.

Note the same synced Realm opens with a javascript client.

[code]

## Steps for others to Reproduce
Run sample application to log in to Realm App and open synced rea

[2021-01-16 22:51] jsflax commented on #7052
Hey Duncan– can you show us what `querySyncedRealm()` looks like? Also, can you show us both sides of your schema– Cocoa and cloud side?

[2021-01-16 23:24] duncangroenewald commented on #7052
@jsflax - sure I will raise a support case and attach the Xcode project - there are 31 Swift classes for the schema?

The javascript code is already attached to a support case so you could run that in query mode (you might need to copy the connection parameters from the Xcode project) and the MongoDB Realm App is running in my account - feel free to use the account if required - send me your email

[2021-01-18 09:31] claytog commented on #6955
Tried downgrading to all versions of Realm from 10.1.4 down to 10.0.0, and 10.0.0 (and below) works without the error.

[2021-01-18 11:17] marcuswu0814 commented on #7027
The bug seems be fixed in `10.5.1` in example project.

[2021-01-18 11:44] DominicFrei commented on #7007
@igrechuhin Ok, I understand you. It's hard to say what would be helpful. Or rather which information you could provide, since it's not reproducible. Trying to get more people in here, maybe someone has seen something similar before.

@jedelbo Could this be related to a notification subscription?

[2021-01-18 11:45] DominicFrei commented on #6965
@zyphs21 I tried to reproduce this on my side but I could not.
Can you provide a small example app? Or provide some introspection on `appError`?

[2021-01-18 13:02] DominicFrei commented on #7027
That's great to hear. Thanks for the feedback, @marcuswu0814

[2021-01-18 13:02] #7027 closed

[2021-01-18 14:23] mskrischke opened #7053 "tvOS 14.3: When Realm is stored in a shared app group container the app is terminated by tvOS"
## Goals
The app should not be terminated because of open file locks. This seems to be the same problem as in https://github.com/realm/realm-cocoa/issues/6671. On tvOS the same issue however seems to still exist.

## Expected Results
When the app enters background it stays suspended and is not terminated by runningboardd

## Actual Results
runningboardd detects open file locks in a directory where

[2021-01-18 16:28] homathko commented on #6654
I wish I could!  This was awhile ago and is out of my scope now - I am having trouble recalling any details. It was working with cloud functions and custom user data, so this probably isn't the place for further troubleshooting anyhow..

[2021-01-18 18:02] pavel-ship-it commented on #7053
Hi @mskrischke ,
Could you please confirm is it appear on a real device or in a simulator too?

[2021-01-18 18:57] visdyn opened #7054 "Notifications in Modal Window do not work (macOS)"
## Goals
We would like to receive Realm notifications (via a .observe) in a modal window in macOS

## Expected Results
We would expect notifications to work in any kind if window with a viewController

## Actual Results
No Realm Notification events are sent to a macOS Modal Window until the window is closing. However, is that exact same window is presented as a sheet, it works correctly and receiv

[2021-01-18 19:35] jsflax opened #7055 "move(fromOffsets:toOffset) crashes for Lists of EmbeddedObjects"
Moving embedded objects through the offset API crashes. Here's a simple reproduction case:

[code]

[2021-01-18 20:09] mskrischke commented on #7053
Hi @pavel-ship-it,
I just tried and it seems the crash only happens on a real device and not on a simulator. I tried with a 4th Gen Apple TV 32gb and an Apple TV 4k 32gb.

[2021-01-19 10:42] DominicFrei commented on #7035
@georgesjamous I've also done some testing without network and can confirm this does not happen in [v10.5.1](https://github.com/realm/realm-cocoa/releases/tag/v10.5.1) anymore.

Going to close this for now. If you still run into this issue with v10.5.1+ please feel free to re-open the issue.

[2021-01-19 10:42] #7035 closed

[2021-01-19 11:09] #6959 closed

[2021-01-19 14:05] pavel-ship-it commented on #7054
Thanks @visdyn, I can reproduce it.

[2021-01-19 15:20] AuraNica commented on #6843
We ended up removing the encryption of the database, now we only encrypt the fields that we need in keychain.

Not the best choice, but at some point in the future we will develop a watch app, so it was necessary for that, too.

[2021-01-19 15:56] tgoyne commented on #7053
We unfortunately can't really support sharing a Realm between processes on tvOS. On other platforms, we use named pipes for inter-process synchronization, but tvOS does not support named pipes. Each of the options we do have available to us on tvOS have various problems.

One option is to wrap all of your uses of Realm in NSFileCoordinator, which works very awkwardly with our API as you can't hold

[2021-01-19 16:08] iabuilder commented on #6843
@AuraNica did you resolve this bug, my app have the same issue. Does the latest version of Realm (10.5.1) resolve this bug. Thank you.

[2021-01-19 16:11] tgoyne commented on #7054
A modal dialog creates a new child runloop which runs instead of the parent runloop while the modal dialog is displayed, while a sheet uses the parent window's runloop and simply blocks events from being sent to the parent window. On the main thread we deliver notifications via the runloop, so the modal window blocking the runloop means that notifications don't get delivered.

We technically have

[2021-01-19 16:14] mkhoshpour commented on #6955
I solved mine this way:
I have a parent object for all of my Realm objects.(class RealmObject: Object) because this class has no variables, I got this error, I solved it by adding a dummy variable like this:
`@objc dynamic var sampleParam : String? = nil`

[2021-01-19 16:35] visdyn commented on #7054
@tgoyne Thanks for that explanation - I thought it was run-loop related.

When using MongoDB Realm sync, multiple users at different locations may be using our app.

The modal dialog presents a list of items a user must select from - at the same time another user may add an item, which should be added to the list the user can select from and notifications provide that functionality.

While this co

[2021-01-19 17:24] mskrischke commented on #7053
Oh, that's unfortunate. I guess this changed with tvOS 14? In my current setup I have the Realm files in an app group container so I can access them from a Topshelf extension. The extension however only needs read access and doesn't store or manipulate anything in the database.

The obvious workaround would be to move the realm files back into the app's Cache folder and find another way to transmi

[2021-01-20 01:51] KimiChiu commented on #6993
The new version was released 3 days ago.
And it's confirmed that removing `self` did not resolve this issue.
I'll remove `autoreleasepool` in the next update.

[2021-01-20 10:13] zyphs21 commented on #6965
@DominicFrei  Hello, thanks for your replying.

The crash exception is :
[code]

The problem code in `RLMApp.mm Line 213-216`:
https://github.com/realm/realm-cocoa/blob/a4d1342a43b5ea4ccb0586d37d48197bdbc1d8a1/Realm/RLMApp.mm#L213-L216

It is **not a safe way**  to create an NSDictionary like that. If `appError.message.c_str()` is nil it will crash.

[2021-01-20 12:11] jedelbo commented on #7018
As indicated above, we need more information about the downloaded change sets to find the exact root cause for this error. In the next release it will be possible to get information on the entire changeset, so hopefully, we can return to this issue when the new release is available.

[2021-01-20 14:38] DominicFrei commented on #3995
This was implemented in Swift meanwhile.
https://github.com/realm/realm-cocoa/pull/7057 adds the tests to make sure it works.

[2021-01-20 14:38] #3995 closed

[2021-01-20 15:41] #4012 closed

[2021-01-20 20:03] pavel-ship-it commented on #6965
Hi @zyphs21 ,
Thank you for posting the issue here. I have a fix for it. It will be available in the upcoming releases.
Problem was with the appError value - it wasn't initialised and therefore dictionary initialisation has failed.

[2021-01-20 20:03] #6965 closed

[2021-01-20 21:03] nirinchev opened #7060 "Unable to execute a migration that changes the "embeddedness" of an object"
## Goals
A user has reported on the [forums](https://developer.mongodb.com/community/forums/t/migrating-to-using-the-new-embedded-object-in-mongodb-realm/11920) that they would like to be able to migrate a model from `Object` to `EmbeddedObject`.

## Expected Results
Migration function gets executed allowing them to ensure each object only has one parent, after which the "embeddedness" of the tabl

[2021-01-20 22:12] sipersso commented on #7060
Thanks for reporting the issue @nirinchev!

In this case, there is actually only one parent for each child object. So in step two, I think it is enough to have one object linking to it. If you need any more info from me, let me know here or in the forums.

[2021-01-21 00:55] zyphs21 commented on #7020
@MahmudHasanMenon Hello, you can give it a try:

In your project Build Settings
1. `Architectures`，set to `Standard architectures - $(ARCHS_STANDARD)`
2. In `Build Active Architectures Only`，set Debug to Yes，Release to No
3. let `Excluded Architectures` empty
4. `VALID_ARCHS`, set to `arm64 arm64e x86_64`

[2021-01-21 08:38] ananfang commented on #6654
@leemaguire
If you are using the Realm database to record the Date field, it will be also Date field in the MongoDB side.
This will be inconsistent between MongoDB Access and Realm.

[2021-01-21 11:08] #4011 closed

[2021-01-21 12:53] DominicFrei commented on #6312
I have also tried to reproduce this issue, here are my results:

@RomainPct Using all the information provided by you I created
https://github.com/DominicFrei/Playground/tree/realm/realm-cocoa/issues/6312-RomainPct
Is this precisely what you did on your side?

@mlenarto Using all the information provided by you I created
https://github.com/DominicFrei/Playground/tree/realm/realm-cocoa/issues/6312-

[2021-01-21 12:57] DominicFrei commented on #6312
@darkheartfelt The linked issues are RealmJS issues which seem to have been related to Cocoapods indeed.
This thread is about SPM and RealmSwift though. It is therefore unlikely to be a problem with the Podspec (in this case) since @RomainPct and @mlenarto do not even use Cocoapods to reproduce the issue.

I understand though you get the same error with Cocoapods?
Could you provide a sample reposi

[2021-01-21 16:16] DominicFrei commented on #6615
@levelchanger

The usage of `NS_REFINED_FOR_SWIFT` is [defined in Apple's documentation](https://developer.apple.com/documentation/swift/objective-c_and_c_code_customization/improving_objective-c_api_declarations_for_swift) as follows:

[code]

This function has been [re-written in the `RealmSwift` SDK](https://github.com/realm/realm-cocoa/blob/master/RealmSwift/Sync.swift#L338) and is available t

[2021-01-21 16:20] ericjordanmossman commented on #6615
Sorry @DominicFrei, I forgot to mention. @levelchanger also had [this](https://github.com/realm/realm-cocoa/issues/6857) related issue. Where [this](https://github.com/realm/realm-cocoa/pull/6886) is also available.

[2021-01-21 17:00] DominicFrei commented on #6615
I've just spoken to @ericjordanmossman about this as a general solution:
- The above mentioned way of using `__` is a viable way to go.
- However, [our recommended solution for mixed projects](https://realm.io/docs/objc/latest/#realmswift-and-realm-objective-c) is to use both `Realm` and `RealmSwift`.

@andreasley The solution shown in [my example repository](https://github.com/DominicFrei/Playgro

[2021-01-21 17:00] #6615 closed

[2021-01-21 17:08] jsflax commented on #6979
Closing this out since the question has been answered.

[2021-01-21 17:08] #6979 closed

[2021-01-21 17:12] jsflax commented on #6941
We haven't had any non-sync regression reported in v10– @philippeauriach @smpanaro while it's reasonable to wait to upgrade, we highly recommend that you do, since the bug is fixed there.

I'm going to close this issue as there are no plans to backport this fix.

[2021-01-21 17:12] #6941 closed

[2021-01-21 17:28] jsflax commented on #6873
After further investigation, it seems that Realm is not crashing here, and is in fact a VOIP crash.

[2021-01-21 17:28] #6873 closed

[2021-01-21 17:46] jsflax commented on #6013
This was a bug with Xcode 10.1 that we no longer support.

[2021-01-21 17:46] #6013 closed

[2021-01-21 17:52] jsflax commented on #5859
There is currently no intention to add copy functionality to managed Realm objects. If this is prioritised in the future, we will reopen the ticket.

[2021-01-21 17:52] #5859 closed

[2021-01-21 17:53] jsflax commented on #5832
Will be fixed by #7056.

[2021-01-21 18:00] jsflax commented on #5527
Hey @mrh-is , is this still relevant? It is over 3 years old 😅 . If so, can you provide a bit more context/sample code?

[2021-01-21 18:02] #5727 closed

[2021-01-21 18:03] jsflax commented on #5618
Hey @julianD77 , were you able to confirm this? If so (or if it's no longer relevant), we can close the issue.

[2021-01-21 21:20] mrh-is commented on #5527
Probably ought to close this one, I haven't been working with Realm lately so it can wait for someone else to find this (if it even still happens). 👍🏻

[2021-01-21 21:20] #5527 closed

[2021-01-21 22:54] winstondu commented on #6980
| Object Notifications should tell you exactly that (and save you the overhead of having to manually compare and diff on every single update).

Not very helpful, because sometimes I want to diff only on particular values of the object, rather than if any property changed.

[2021-01-22 02:13] nirinchev commented on #6980
Object notifications tell you which property changed - you can early return from your handler in case you don't care about that particular property.

[2021-01-22 07:02] michael-s-wu commented on #7025
@DominicFrei not OP but having similar issues. the issue arises when i try to archive the mac version. it builds and runs fine but fails on the archive. i tried it on a bare app and the same thing was still happening. i have the latest versions of cocoapods and realm.

[2021-01-22 09:35] DominicFrei commented on #7025
@michael-s-wu Thank you for creating a sample app to showcase this. Can you post a link to that app here or send me the repository so that I can reproduce it one. my side?

[2021-01-22 10:20] mskrischke commented on #7053
In any case I think the documentation under https://realm.io/docs/swift/latest/#tvos should be updated and state clearly that sharing between app and extension is not supported anymore under tvOS 14.

[2021-01-22 11:48] miklselsoe commented on #7018
I ran into this again. Here's the console output with trace enabled. There are almost 2000 lines like this before the error:

`2021-01-22 12:41:38.869581+0100 VHTD[51981:1497907] Sync: Connection[4]: Session[4]: sync::create_object_with_primary_key(group, get_table("class_EquipmentCharacteristic"), 60098110b4102669e016750f);`

[code]

[2021-01-22 13:18] pavel-ship-it commented on #6940
Hi @karlesct,
That's not very clear to me how what you doing with the collection here. But there is a little trick with how to handle deletion notification.
Could you please refer this thread on our forum [RealmSwift.changesetPublisher(object)](https://developer.mongodb.com/community/forums/t/realmswift-changesetpublisher-object/12393) maybe it will give you some ideas on how to organise deletion

[2021-01-22 13:53] DominicFrei commented on #6734
@tomipu I created #7064 to fix this.
@nicopuri That is a different issue: #2491

[2021-01-22 16:23] sipersso commented on #7060
Just tried the doing the same migration on Android/Java and the migration works perfectly there using the same data models. So this seems to be an issue on iOS only.

[2021-01-22 18:54] winstondu commented on #6980
@tgoyne , is there a way to just remove all pinned versions besides the most recent on db startup?

[2021-01-22 19:00] tgoyne commented on #6980
Versions are only pinned while the file is actually open, so on startup only the latest version is live. You can set `shouldCompactOnLaunch` in the Realm configuration if you would like to automatically compact the file and actually reduce the disk space used.

[2021-01-22 19:05] winstondu commented on #6980
So in other words, if I had 100 pinned versions, and then I restarted the app (or closed the realm then reopened), I won't have all those versions pinned anymore?

So even though the versions are no longer pinned, they still occupy disk space?

[2021-01-22 19:13] tgoyne commented on #6980
Yes, the active version count is always 1 when the file is first opened.

The space previously used for older versions is overwritten by subsequent writes to the file. Reducing the size of the file on disk requires that all of the live data be at the start of the file, which typically won't be the case.

[2021-01-22 19:56] winstondu commented on #6980
So in other words, once the db uses a certain capacity, that capacity won't decrease unless the realm is compacted. But if a lot of that capacity is "unused" (aka overwritable), the capacity won't increase either?

[2021-01-22 19:59] tgoyne commented on #6980
Correct.

[2021-01-23 01:59] ekimia commented on #6730
update here: Ive noticed the same issue if I'm integrating realm via SPM. Using carthage is just fine.

[2021-01-23 02:14] michael-s-wu commented on #7025
@DominicFrei test project: https://github.com/michael-s-wu/testProject
you'll have to install the pod since github was upset about me trying to upload that many files.

literally a new project with 1 label and Mac added as a target. builds and runs fine on my Mac but the errors crop up once i go to archive it.

[2021-01-23 12:50] leemaguire commented on #6654
Fixed by https://github.com/realm/realm-cocoa/pull/7062

[2021-01-23 12:55] #6654 closed

[2021-01-24 12:04] wojciech-kulik commented on #2932
@jpsim As far as I understand, it is a bit different solution than the requested one. iCloud sync is often used to ensure the privacy of vulnerable data without the need of authentication with 3rd party services nor sending private data to 3rd servers.

Realm Mobile Platform seems to be a different solution where the user must first authenticate to have its own space and all the data are stored in

[2021-01-24 19:48] duncangroenewald commented on #7052
@jsflax - I am going to close this as it seems the issues were related to using a Global Realm App rather than a local Realm App.

[2021-01-24 19:48] #7052 closed

[2021-01-25 07:32] erdem-inan commented on #7006
Hello @DominicFrei ! Any news on this issue?

[2021-01-25 12:04] KimiChiu commented on #6993
Removing `autoreleasepool` helps a lot.
But I'm still getting 100 crashes a week from another realm which is using a different configuration.
This realm object is still using `autoreleasepool` on worker thread.
Is there a documentation describes about how to use `autoreleasepool`?
Or a best practice to prevent database size to increase drastically?
How can I insure the database size won't increase

[2021-01-25 19:10] RomainPct commented on #7013
Same error for both of us @DominicFrei "Unable to open a realm at path ...: Realm file decryption failed"
Do you have any idea about how to solve that problem N

[2021-01-26 06:12] michael-s-wu commented on #7025
@DominicFrei hi, any update on tracking down the issue?

[2021-01-26 11:36] pavel-ship-it commented on #6967
It seems the original issue has been fixed now so I'll close this ticket.
If the you still see the same issue please comment and we can re-open it.

[2021-01-26 11:36] #6967 closed

[2021-01-26 11:45] jedelbo opened #7067 "Assertion failed: instr.prior_size <= m_selected_array->size()"
From mail received on help@realm.io:

The applications are an iOS application suite, build using Xamarin, all using realm sync.
The version of Realm used is 5.1.1

[code]

[2021-01-26 13:27] KimiChiu opened #7068 "Every realm.write increases number of active versions and never decreases."
## Goals
Decreasing the number of active versions.

## Expected Results
maximumNumberOfActiveVersions = 20 won't crash the app.

## Actual Results
App crashes after calling `insert` multiple times on the main thread.

## Steps for others to Reproduce
Call `insert` multiple times.

## Code Sample
[code]

`getWorkerThreadID` is just a method to get the id.

[code]
## Version of Realm and Tooling

Re

[2021-01-26 14:57] DominicFrei opened #7069 "Update migration examples to better reflect possible pitfalls (Swift)"
## Goals
The [current example for migrations](https://github.com/realm/realm-cocoa/blob/master/examples/ios/swift/Migration/AppDelegate.swift) should showcase as many pitfalls and problems as possible and their solutions.

## Expected Results
A better explanation how to work around issues like the following:
- [changing the 'embeddedness' of an object](https://github.com/realm/realm-cocoa/issues/7

[2021-01-26 15:09] DominicFrei commented on #6263
I created #7069 to better explain what's going on here and how this should be handled.

TL;DR
The problem is that the migration block does not know about old schemas and can therefore not know if the property existed before and which type it had since the schema only reflects the current properties and types thereof.
This has to be reflected in the migration block. The developer knows about previo

[2021-01-26 15:14] DominicFrei commented on #7006
@erdem-inan The issue has been passed on to @leemaguire. He is looking into similar issues already.

[2021-01-26 15:19] DominicFrei commented on #7025
@michael-s-wu Not yet, unfortunately. I've been working on some critical issues that I have to tackle first. But this issue is on the list as well.

[2021-01-26 17:55] 0x6A75616E opened #7070 "EXC_BAD_ACCESS crash on get_size_from_header"
!!! MANDATORY TO FILL OUT !!!

## Goals
To resolve a crash in realm core.

## Expected Results
Realm writes records without crashing

## Actual Results
<img width="801" alt="Screen Shot 2021-01-26 at 1 13 33 AM" src="https://user-images.githubusercontent.com/50094276/105882583-ac0cae00-5fba-11eb-8e57-94d2340898f0.png">
<img width="611" alt="Screen Shot 2021-01-26 at 1 13 15 AM" src="https://user-i

[2021-01-26 18:20] HKdAlex commented on #5239
Where can one read more about it? Otherwise, it sounds a bit cryptic but would be interesting to know more about.

[2021-01-26 19:45] #6951 closed

[2021-01-27 00:03] jimmyhzhang commented on #6763
Still seeing this crash with 5.5.0. Is there anyone who can help look into this @leemaguire, or anyone who can help us figure out a path forward? We'd be more than happy to provide sysdiagnose and crash logs if that's helpful. Thanks!
`Crashed: com.apple.main-thread
0  TeslaV4                        0x1016e2820 realm::util::EncryptedFileMapping::read_barrier(void const*, unsigned long, unsigned lo

[2021-01-27 06:47] duncangroenewald commented on #6263
Not sure if I missed this in the docs on schema updates for synced realms but how do these migrations occur for synced realms where the server schema is updated, say with new properties, and the client is either:
a) running with an old version of the schema,
b) just updated to the new version of the schema but not run been run yet, or
c) has an old version of the schema but is not currently runnin

[2021-01-27 10:48] DominicFrei commented on #6263
@simonask and @tkaye407 can maybe shed some light on the sync part.
I'm not too familiar with that area yet.

[2021-01-27 10:53] DominicFrei commented on #7060
Note about the difference:
The iOS SDK uses `SchemaMode::Automatic` whereas the Java SDK uses `SchemaMode::Manual` while migrating which leads to `apply_pre_migration_changes` not being executed on their side.
On the Java side the user takes care of all those migrations themselves (within the migration function).

[2021-01-27 11:54] HKdAlex opened #7072 "Modifying a single property of a single object in a Realm with notifications degrades the user interface experience"
## Goals

A change in a single property of a single object should not degrade the user experience with a Realm that has a complex structure.

## Expected Results

I expected a change in a single property would not overload the CPU and I'd have to wait for all the  DeepChangeCheckers to be completed to change another property of the same object or another object or the same property of the same obj

[2021-01-27 13:02] sipersso commented on #7060
@DominicFrei What does this mean in practice? Does that mean that this migration won't be possible to do with the iOS SDK? Is there a way to run the iOS SDK using manual schema mode?

[2021-01-27 14:39] ianpward commented on #6263
@duncangroenewald the docs are here -
https://docs.mongodb.com/realm/ios/migrations#synced-migration

[2021-01-27 20:42] tgoyne commented on #7014
This looks like it's actually a bug in indexing a Results which directly wraps a Table with no filter or sort involved which is retained over multiple writes rather than incorrect notification results.

[2021-01-27 22:26] visdyn commented on #7072
I can verify the behavior stated in the question.

An interesting note is that if the `personsToken` is not set (e.g. comment out the `personsToken = realm.objects(Person.self).observe` code, the app becomes totally responsive if the random dogs name is modified.

Maybe the title should be "Slow notifications on objects with lists containing the object being modified"

[2021-01-28 04:31] duncangroenewald commented on #6263
@ianpward - does that apply to MongoDB Realm ?  I was under the impression that with MongoDB Realm you cannot just change the schema on the client as this will prevent the record from syncing with MongoDB if the schema does not match the defined schema in the MongoDB Realm App UNLESS the Realm App is running in Developer Mode.

[2021-01-28 08:09] HKdAlex commented on #7072
Yes, visdyn. I agree the title of the issue can and should be formulated better. The actual issue is probably not the "degraded user interface experience" but "degraded user experience".

In the meantime I have also tried the following: moving the write transaction to a background queue makes the interface responsive again. But e.g. I observed the following in my real app: there is a table view th

[2021-01-28 08:23] HKdAlex commented on #7072
Yes, interesting. When the `personsToken` is commented out, the Instruments report 100% CPU usage of a `Realm notification listener` thread that lasts for around 200 ms but no `DeepChangeChecker` calls are there.

I guess one of the reason why disabling the `personsToken` changes things is that the `Person` Realm class contains a `List<Dogs>`. But I wonder why do we have to disable the `personsTok

[2021-01-28 08:33] tfe commented on #5974
In case anyone comes across this in the future, I found another potential cause for this obscure error.

I was using `writeCopy(toFile:)` on first launch to copy a starter realm in my app bundle to the writeable Documents folder for use within the app. I do this operation on every access of the realm if needed (usually only the first time).

The problem was that I added code that caused the realm

[2021-01-28 10:45] #6734 closed

[2021-01-28 10:48] DominicFrei commented on #6734
@tomipu The PR was just merged. This fix will be available with the next release.

[2021-01-28 10:57] DominicFrei commented on #7060
@sipersso I did have a longer conversation about this yesterday. We need to fix two things to make this work. So at the moment it actually does not which is a bug.
Regarding the mode: at the moment it is run in automatic and the iOS SDK does not offer manual since it's supposed to 'just work' with automatic which it will after the aforementioned bug fixes.

[2021-01-28 12:00] #7067 closed

[2021-01-28 14:02] ianpward commented on #6263
Yes developer mode the client can make changes to the sync schema.

For production mode you make changes on the server side first.

[2021-01-28 16:23] ericjordanmossman commented on #7043
This issue has been closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-01-28 16:23] #7043 closed

[2021-01-28 16:56] ericjordanmossman commented on #7068
@KimiChiu Do you loop over insert multiple times when you call it from the main thread?

[2021-01-28 21:47] duncangroenewald commented on #6263
So if you modify the schema on the server how do you coordinate that change with all the clients ?  What happens if a client has an older version of the schema and tries to modify some data ?  Won't the sync fail because the record schema does not match the server schema ?

[2021-01-29 00:14] ianpward commented on #6263
@duncangroenewald The answers to your questions are in the docs I sent, is it possible for you to review them?
https://docs.mongodb.com/realm/ios/migrations#synced-migration

Also, this has has diverged from OP so please open a forums post if you have questions after reviewing the docs

[2021-01-29 01:57] duncangroenewald commented on #6263
I didn't see any mention of basic migration steps for a synced realm such as updating the Realm App schema on the server.  In the RealmDB Sync documents(https://docs.mongodb.com/realm/sync/configure-your-data-model) it mentions:

`While Development Mode is on, MongoDB Realm doesn't validate writes against your data model, allowing you to freely update your Realm Object Model. When you turn off Dev

[2021-01-29 13:07] ianpward commented on #6263
@duncangroenewald Tag me on a forums post with your questions and I will be happy to answer

[2021-01-29 13:40] anatoliykant opened #7076 "Add Xcode 12.4 binary to release package."
**Bugs**:
We in the company use our own private **Driven framework**, which contains **Realm** as a **dependency**.
Our **development team** and **pipeline** have gone and are **using** the new version of **Xcode12.4**.
When linking a project using `pod lib lint`, I get the error `symbol(s) not found for architecture x86_64`.
**Command used:**
[code]
**Error:**
[code]

## Goals
Please **release**

[2021-01-29 14:22] drademacher commented on #6843
We seem to have this same problem with Version 10.5.0

[2021-01-29 16:26] tgoyne commented on #7076
CocoaPods installs don't use anything from us that's xcode-version specific; the only thing we do CocoaPods-related for each version of Xcode is adding the new version to our test matrix.

Installing 10.5.1 via CocoaPods with Xcode 12.4 works for me locally and on our CI.

[2021-01-29 17:22] DominicFrei commented on #6263
The [above mentioned PR](https://github.com/realm/realm-cocoa/pull/7077) is ready for review now.

@NeverwinterMoon @winstondu Feel free to have a look at that and tell me if I need to further clarify.

@duncangroenewald I only just realised that you're having a different issue. Would it make sense to open another issue for that so that those two do not get mixed up (also, this issue might get clo

[2021-01-29 19:33] anatoliykant commented on #7076
Hey, @tgoyne
Thanks for the quick response.
Are you talking about installing Realm in your application or framework?

[2021-01-29 20:02] ericjordanmossman commented on #7070
@0x6A75616E
How often does this happen? Can you provide a sample project that replicates this? I can't understand what could be happening from the stack trace alone.

[2021-01-29 20:10] 0x6A75616E commented on #7070
@ericjordanmossman It happens consistently. What I did in order to work around it is I put all my batch writes in a serial queue to make sure only one batch is running at a time.

I don't have a sample project, but I may be able to throw something together quickly if time permits. For now, though, I've worked around this.

[2021-01-29 20:13] ericjordanmossman commented on #7046
I'm going to close this issue because of no response from original reporter. If you're still seeing this error after incorporating Lee's comment, please feel free to respond.

[2021-01-29 20:36] ericjordanmossman commented on #7028
@ahmedsafadii Were you able to reproduce what Dominic mentioned?

[2021-01-29 20:42] summonerriftofficial commented on #7028
nop :(, I had to change the library

[2021-01-30 14:24] sbrighiu commented on #6069
I'm still facing this issue after pods 1.10.1. I'm in the process of updating a RN app from 0.59.5 to 0.63.4. A general workaround to build is cleaning the project, cleaning cached pods `rm -rf "${HOME}/Library/Caches/CocoaPods"`, deleting podlock and pods folder and running `pod install` ... `deintegrate` works sometimes.

Side-note-ish:
I'm forcing my luck bringing realm from 2.8.0 to "realm": "

[2021-02-01 10:26] #5554 closed

[2021-02-01 10:27] #5188 closed

[2021-02-01 10:29] KimiChiu commented on #7068
@ericjordanmossman I found the problem. I have a background thread looper which is calling `realm.objects(ENTITY_CLASS).filter`.
It's nothing about the `insert` method.
When I debug with memory graph, I found there were 5 realmResults rather than 5 realm instances.
But I only call `realm.objects(ENTITY_CLASS).filter` once in the test and the results were never be stored in any global variable.
Why

[2021-02-01 10:31] #5035 closed

[2021-02-01 11:51] KimiChiu commented on #6993
I just found that my app is always in the background state when this issue occurs.
But I already removed every `autoreleasepool` of every method which were called when app enters background state.
How could this happen?
Does this mean this `autoreleasepool` is in the source code of realm itself?

[2021-02-01 16:32] AhmedMousa7 commented on #6587
That works for me thanks.

[2021-02-01 20:21] TheLuckyWan opened #7078 "QueryBuilder crashing when adding BETWEEN constraint as a string"
## Goals
Create predicate within the `String` argument of the filter method. Without the need to create a NSPredicate instance.

## Expected Results
Actual filtered results, based on the predicate.

## Actual Results
`*** Terminating app due to uncaught exception 'Invalid value', reason: 'NSArray object must contain exactly two objects for BETWEEN operations'`

**Relevant part of thrown stack**

`

[2021-02-02 00:45] jsflax commented on #7078
Hey @TheLuckyWan , could you provide us with a bit more info? Specifically, what `date1`, `date2`, and `RealmObject` look like?

[2021-02-02 11:52] #7014 closed

[2021-02-02 13:56] kaungkhantsoe opened #7081 "Crash with 'Object has been deleted or invalidated.' like issue stated in #4856"
Steps to reproduce.
1. Implement TabBarController with two view controllers
2. Store some data or a list and display it in first view controller
3. Go to second view controller and call realm.deleteAll()
4. Return to the first view controller(*** previously displayed data from realm is still there ***) and store data again
5. App will crash with following exception

*** Terminating app due to unca

[2021-02-02 14:35] alexeichhorn commented on #7014
Thanks to all of you

[2021-02-02 23:03] jkochcode opened #7083 "Xcode 12.5 beta - Swift Compiler Error for RealmSwift module"
## Goals
Build Realm on Xcode 12.5 beta

## Expected Results
To be able to build project

## Actual Results
Got a Swift Compiler Error for the RealmSwift module in Combine.swift
with the error being that 'Identifiable' is only available in iOS 13 or newer.

## Steps for others to Reproduce
Add Realm and RealmSwift modules via SPM in Xcode 12.5 beta
Build project

## Version of Realm and Tooling

R

[2021-02-03 09:13] jsflax commented on #7083
Hey, this issue seems legitimate. We'll get to it shortly.

[2021-02-03 09:23] TheLuckyWan commented on #7078
Hello,

Here's an example of the schema of the Object i'm trying to retrieve:

[code]

And date1 and date2 is simply two date objects (1 day apart), that get passed as an array.

Thank you!

[2021-02-03 13:23] janeshsutharios opened #7085 "crashing app with realm::util::terminate(char const*, char const*, long)"
## Goals

Not to crash application

## Expected Results

Application Not to crash

## Actual Results

Application crashing sometimes.
## Steps for others to Reproduce

when user open app on 'n' times & its crash on launch, but it only happens sometimes. here i am attching firebase crash report.
<img width="1277" alt="firebase" src="https://user-images.githubusercontent.com/27758352/106752687-c09f1

[2021-02-03 17:17] levelchanger opened #7086 "Crash: alloc.hpp:580: [realm-core-10.3.3] Invalid ref translation entry [16045690984833335023, 78187493520]"
!!! MANDATORY TO FILL OUT !!!

## Goals
Not crash or get some idea how to prevent the crash

## Expected Results
Not crash.

## Actual Results
Crash.

## Steps for others to Reproduce
I believe there is some combination of a write commit and responding to notifications that is causing the crash but it's hard to know from the stack trace. I would need some guidance on where to look to get more info

[2021-02-03 18:01] zacwest opened #7087 "Watchdog kill when opening Realm database on startup (realm::util::File::lock)"
## Expected Results
Database can be opened without issue.

## Actual Results
Database was not opened successfully a few times in a row, but eventually does work.

## Steps for others to Reproduce
Unsure, it is happening in the wild. One person reproducing it reported it happened after upgrading versions; is it possible the system killed an extension which was holding a lock for the upgrade, or som

[2021-02-03 18:24] ragu-pdx opened #7088 "Realm file initial open failed"
!!! MANDATORY TO FILL OUT !!!

## Goals
Reliably open Realm files when iOS application launches.

## Expected Results

No Realm database crashes when opening a known realm within iOS app

## Actual Results
Randomly on app launches, the Realm will fail to open and fail on every subsequent launch. Every call to persistentRealm fails with this same error.

Attempting to download the Realm from the de

[2021-02-03 18:56] xinsight commented on #7031
Carthage 0.37.0 was recently released and includes xcframework support.

  https://github.com/Carthage/Carthage/releases/tag/0.37.0

@tgoyne: What version of realm includes xcframework support? (I'm running into issues with realm v3.18.0 and v5.5.0. Do I need to use v10?)

[2021-02-03 19:09] tgoyne commented on #7031
XCFramework support was added in 10.2.0.

[2021-02-03 22:12] cristeap opened #7089 "Opening Realm files of format version 5 is not supported by this version of Realm"
The Realm release notes said the problem was fixed but the problem persists. I've opened  question on stack overflow that shows all my information:

https://stackoverflow.com/questions/66000503/opening-realm-files-of-format-version-5-is-not-supported-by-this-version-of-real

## Goals
Open a older realm file. The realm file has the exact schema version. No classes, attributes or anything has change

[2021-02-03 22:24] tgoyne commented on #7089
v5.0.0 dropped support for opening Realm files written by versions before v3.0.0.

It's not obvious to me why we don't support opening file format version 5. We support migrating from 6+ and the 5->6 migration just consisted of recreating the string indexes.

[2021-02-03 22:40] cristeap commented on #7089
Thank You for the reply. I'm disappointed and have regrets now on using Realm. I'm not sure of a way to update the old Realm files for all the people that downloaded my app on the app store without deleting the old realm file and getting negative reviews. This is a real pickle.

Thank you anyways.

[2021-02-04 10:10] DominicFrei opened #7091 "Update migration examples to better reflect possible pitfalls (ObjC)"
This issue is the Objective-C version of #7069. Details can be found there.

[2021-02-04 11:39] azhydenko commented on #7022
@Econa77 Did you figure out how to fix it? Could you please suggest solution?

[2021-02-04 11:43] Econa77 commented on #7022
@azhydenko I haven't been able to solve this yet. Are you in the same situation?

[2021-02-04 11:45] azhydenko commented on #7022
Yep, just the same as yours

[2021-02-04 12:09] jsflax commented on #7031
@jesusmateos1234 does that work for you?

[2021-02-04 12:13] jsflax commented on #7086
@levelchanger could we get some more info on this ticket? I can see that the crash it
`/Users/realm/workspace/realm_realm-core_release_10.3.3/src/realm/alloc.hpp:580: [realm-core-10.3.3] Invalid ref translation entry` which, maybe @jedelbo could give us a hint at what this might be about, but– some sample code and separating the logs from the actual crash would be helpful.

[2021-02-04 14:11] Fab1n opened #7092 "Multiple SortDescriptors sorting got slow with newer Realm versions"
## Goals
Sorted `Results` using `SortDescriptors` like this should be as fast as in the past (like in `v3.19.0`):
[code]

## Expected Results
Switching from Realm `3.19.0` to `10.1.4` sorted results should be equally performant as with the version switched from.

## Actual Results
The performance of these sorted results dropped by a factor of 2 minimum.

## Steps for others to Reproduce
Please fol

[2021-02-04 15:16] jedelbo opened #7093 "Invalid ref translation entry"
We got this from a customer via `help@realm.io`:

I’m getting a crash in Realm that I can’t get a handle on how to debug. I’ve seen this error before but I could usually chalk it up to something I was doing wrong and fix it. This time I’m stumped. My app is fairly complicated, so it’s hard to narrow it down or explain simply what is going on.

[code]

[2021-02-04 15:25] jedelbo commented on #7093
The value of the RefTranslation is `0xdeadbeefdeadbeef`. This means that the Reftranslation has been deleted - probably because the transaction has ended. I created the issue in this repo, because I am not sure if this is a problem originating in the SDK or in Core and friends. Please create an issue in realm-core, if this an ObjectStore problem.

[2021-02-04 16:36] tgoyne commented on #7089
Based on some internal conversations it sounds like restoring support for opening file format version 5 won't be a problem.

[2021-02-04 16:43] levelchanger commented on #7086
I wish I could give you a sample but this is in a rather large app and I can't begin to tease out exactly when the crash is occurring. I can reproduce it in the app. If you can give me some place to set a breakpoint and print values I can do that.

[2021-02-04 16:57] jedelbo commented on #7093
Duplicate of #7086

[2021-02-04 16:57] #7093 closed

[2021-02-04 16:57] jedelbo commented on #7086
The value of the RefTranslation is 0xdeadbeefdeadbeef. This means that the Reftranslation has been deleted - probably because the transaction has ended. I am not sure if this is a problem originating in the SDK or in Core and friends. Please create an issue in realm-core, if this an ObjectStore problem.

[2021-02-04 17:27] jsflax commented on #7086
@levelchanger we've started to look into this– are you invalidating the Realm anywhere? Are you using KVO anywhere? Could you send up some samples of how you are observing your Realm objects?

[2021-02-04 19:06] hyouuu opened #7096 "Signed integer overflow: 16777216 * 255 cannot be represented in type 'int'"
## Goals
No compiler warnings

## Expected Results
No compiler warnings

## Actual Results
While archiving Xcode would give:
Undefined behavior: Signed integer overflow: 16777216 * 255 cannot be represented in type 'int'
in index_string.cpp at line 408

## Steps for others to Reproduce
Use any Realm 10+ version (I've seen it for a while in 10+ releases, and right now on 10.5.1)

## Code Sample
Not

[2021-02-04 19:37] levelchanger commented on #7086
@jsflax  I'm not invalidating the Realm. I am using KVO but not on Realm objects. Here is my code for notifications in the view controller where the crash occurs:

`
- (void)setupRealmEventNotifications {
    [self invalidateRealmNotificationTokens];

    if (self.wrestlingEvent == nil) { return; }

    __weak typeof(self) weakSelf = self;

    // Event
    eventNotificationToken = [self.wrestling

[2021-02-04 22:53] tgoyne commented on #7031
With 0.37.0 `--use-xcframeworks` should work to build Realm as an xcframework, but based on https://github.com/Carthage/Carthage/issues/3103 Carthage doesn't support downloading prebuilt XCFrameworks yet.

[2021-02-04 23:16] levelchanger commented on #7086
@jsflax Is it possible that this has something to do with adding a notification block to a RLMLinkingObjects?

[2021-02-04 23:37] alexkendall commented on #6688
Im experiencing this in v10.1.4

[2021-02-05 05:40] rubengarciam commented on #7083
@jsflax any update?

[2021-02-05 08:25] rlabr opened #7097 "App crashes when writing in didEnterBackgroundNotification."
## Goals
Find the Root cause of a crash

## Expected Results
Write an object when app goes to background

## Actual Results

App got crashed
Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)

/Users/rlabr/Library/Developer/Xcode/DerivedData/SampleApp-guqxbdygkooxidfgszmjowynltkj/SourcePackages/checkouts/realm-core/src/realm/db.cpp:1904: [realm-core-10.1.4] Assertion failed: read_loc

[2021-02-05 09:21] jsflax commented on #7097
@rlabr do you have any sample code we could see? Seeing the sample app would be helpful in diagnosing this.

[2021-02-05 09:28] jsflax commented on #7085
@janeshsutharios could you send as a sample of where the crash is occurring? If not, could you try upgrading Realm to the latest version 10.5.1?

[2021-02-05 09:32] jsflax commented on #7081
@kaungkhantsoe could you send us an example of this? If you're trying to re-add invalidated Objects, that's not supported behaviour.

[2021-02-05 09:42] janeshsutharios commented on #7085
@jsflax Appritiate your input.
Replying to first question --
The crash happens on live app when user open app on n time..< Not always > i also attached screenshot above post. We didnt make any changes in code.

Replying to second question --

in my pod file i am using
[code]
[code]
Any specific change i need to make in pod file ??

[2021-02-05 17:11] #7083 closed

[2021-02-06 21:14] dejiapps commented on #7083
I am having the same issue.

[2021-02-07 05:56] tfe commented on #3678
This just bit me; I lost probably an hour to it. Maybe it should be included in the docs? Either way, thank you @bdash!

[2021-02-07 14:25] AdAvAn commented on #7046
Hello, I am getting a similar error after updating Realm from 5.1.0 to 10.5.1. There was no such mistake earlier.

### Actual Results
[code]

Version of Realm and Tooling

Realm framework version: 10.5.1
Realm Database version 10.3.3

Xcode version: 12.3

iOS version: IOS 14.3 (iPhone 11)

Swift package manager

[2021-02-08 10:00] leemaguire commented on #7041
@cpd if you are increasing the `schemaVersion` and modifying an `Object` you should be using the `migration` functionality

https://docs.mongodb.com/realm/ios/migrations/

you can delete the old objects by calling `migration.deleteData(...)`

[2021-02-08 10:06] leemaguire commented on #7021
Whats likely happening here is RxSwift is releasing the Realm objects while they are still being referenced.

[2021-02-08 10:19] leemaguire commented on #7020
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-02-08 10:20] #7020 closed

[2021-02-08 10:25] leemaguire commented on #7009
@igrechuhin could you not achieve retrieving the distinct elements by using `List.value(for key)`? If you could show us the code where you are performing `flatMap` we may be able to help diagnose further.

[2021-02-08 10:31] leemaguire commented on #7008
its possible something is getting cleaned up along the way in your `object` function. I see `autoreleasepool` which doesn't seem to be required at first glance. Also how is `realm` stored in the class that encapsulates this method?

[2021-02-08 10:32] leemaguire commented on #7007
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-02-08 10:57] leemaguire commented on #6980
Closing as explanation for Frozen objects has been provided.

[2021-02-08 10:58] #6980 closed

[2021-02-08 11:00] #5618 closed

[2021-02-08 11:01] leemaguire commented on #6096
@gongzhang is this still an issue? If so could you open a new Github issue with the details? Thanks.

[2021-02-08 11:01] leemaguire commented on #6312
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-02-08 11:02] #6312 closed

[2021-02-08 11:18] leemaguire commented on #7096
@hyouuu I cannot reproduce this on my end, does this happen if you archive a new sample app?

[2021-02-08 11:26] kyungho-kim opened #7099 ""Sign in with Apple" does not work on Mac Catalyst"
## Goals
Sign in with Apple ID on Mac Catalyst.

## Expected Results
Sign in successful with Apple ID on Mac Catalyst.

## Actual Results
When I click the button once:
[core] No window got from UINSSharedApplicationDelegate

Click again:
[core] Authorization failed: Error Domain=AKAuthenticationError Code=-7071 "(null)"

On iOS, it works. A couple of days ago it works on macOS.

## Code Sample
[co

[2021-02-08 11:47] kyungho-kim commented on #7099
I'm trying this docs(https://docs.mongodb.com/realm/ios/authenticate/#std-label-ios-login-apple). But what is "<token>" of Credentials.apple(idToken: "<token>") ?

[2021-02-08 12:15] leemaguire commented on #7088
@ragu-pth it looks like your check to see if the file exists should come before `guard User.configurations[filename] == nil`

[2021-02-08 12:16] julianD77 commented on #5618
Sorry - I didn't see the earlier message prompting for an update. It's a WIP still to try out the latest Realm and Firebase Perf SDKs to see if the issue occurs. We just need to find time in our work and release schedule when we can try this out, rolling it out to just a small percentage of users to that it doesn't have a big impact if the issue is still there. I will comment here once we have mor

[2021-02-08 12:38] leemaguire commented on #7085
@janeshsutharios do `pod install --repo-update`

[2021-02-08 14:47] kyungho-kim commented on #7099
I solved it.

I extended UIWindow,
[code]

declared window,
[code]

added one line code.
[code]

[2021-02-08 15:19] #6956 closed

[2021-02-08 17:14] arunreddy commented on #7099
@kyungho-kim
I was following the same code. Just curious, if your were able to fetch user's givenName and lastName after the signing in for the first time. Appreciate any help.

Thanks.

[2021-02-08 17:40] RVijay007 commented on #7088
@leemaguire That is the check to see if the file exists, and if so, return the existing configuration file.

`private func configuration(for storageType: DatabaseService.StorageType) -> Realm.Configuration` is responsible for only retrieving the configuration being requested (transient or persistent), and creating the configuration object itself if it hasn't been created and saving it to the dicti

[2021-02-08 17:40] ZsoltMolnarrr commented on #7076
Hello!
Our team would highly appreciate a binary release supporting Xcode 12.4.
Thanks :)

[2021-02-08 17:58] ragu-pth commented on #7088
@leemaguire That is the check to see if the file exists, and if so, return the existing configuration file.

`private func configuration(for storageType: DatabaseService.StorageType) -> Realm.Configuration` is responsible for only retrieving the configuration being requested (transient or persistent) from the internal cache `configurations`. If the configuration doesn't exist (the line you pointed

[2021-02-09 09:19] leemaguire commented on #7007
@igrechuhin are you observing any `Realm`'s or `Object`'s anywhere in your code? If you could give us some context on how you are using Realm that would be great.

[2021-02-09 09:55] dangthaison91 opened #7100 "Crash: Too many open files in system"
## Goals
Not crash or prevent the crash

## Expected Results
Not crash

## Actual Results
Firebase Crashlytics notify many strange crashes:

`>Fatal error: Error Domain=io.realm.unknown Code=23 "opening lock fifo for writing failed: Too many open files in system" UserInfo={Category=system, NSLocalizedDescription=opening lock fifo for writing failed: Too many open files in system, Error Code=23}: f

[2021-02-09 09:56] leemaguire commented on #7087
@zacwest a Realm file can share read access but a write transaction will block the other process from writing. Are you trying to perform writes anywhere on startup?

[2021-02-09 09:59] #7099 closed

[2021-02-09 10:03] leemaguire commented on #7100
@dangthaison91 We need a bit more information to help us. Is your Realm file part of an App Group container? When `createAsyncRealm` or `createRealm` is called who owns the Realm instance, and is it captured and stored somewhere?

[2021-02-09 11:00] leemaguire commented on #7092
@Fab1n Thanks for providing us with the above information and sample app. I've ran the two versions through time profiler and sent the findings onto the team.

[2021-02-09 13:27] #7069 closed

[2021-02-09 15:14] RustamG commented on #6955
I also had a parent class (called `Model` in my case) for all realm objects which doesn't have its own properties. Solved the crash by adding the following to the `Model`:
[code]

[2021-02-09 16:16] zacwest commented on #7087
Yes. There are a few things performed (mostly deleting old data based on a date), but after a delay. Also nothing else shows up in the other threads that appears to be doing any writes.

[2021-02-09 16:30] bguidolim commented on #6867
@tgoyne is there any news about this?

I started to detect this issue on our analytics, I think it could be a problem in the future.

[2021-02-09 18:31] ragu-pth commented on #7088
Just got the error again.

[code]

[2021-02-09 21:28] sergstav commented on #1186
@bmunkholm Hello, can we give some updates on this?

[2021-02-09 22:12] bmunkholm commented on #1186
Embedded Objects was released a while back and would enable the cascading delete semantics in most cases. Have you looked at that?

[2021-02-09 22:31] sergstav commented on #1186
@bmunkholm oh, no, sorry. Thank you for quick response! Can you suggest on which version Embedded Objects was released?

[2021-02-09 22:34] sergstav commented on #1186
@bmunkholm ok, I found it.

[2021-02-10 06:13] sacredsoul opened #7105 "v10.5.2 pod not found"
My question is simple , I just can not find the latest pod of v10.5.2 . Sorry , I don't know if I am too early to update because it has been 14 hours since it released .
[code]

[2021-02-10 07:58] keithcml commented on #7100
We also captured the same crash from Crashlytics. but cannot reproduce.. as there is only 1 crash reported.

[2021-02-10 09:29] leemaguire commented on #7105
@sacredsoul the issue is on our end, we are working on a fix.

[2021-02-10 09:42] nalexn commented on #4797
@manuroe seems like you've found a way to fix it in that other project, could you give advice to the realm core team or to the end users on how to approach this deadlock issue? There are so many critical internal issues in the realm that stay unattended forever that I'm about to port out!

[2021-02-10 10:26] finnschiermer commented on #7092
I can confirm there is some unexpected kind of interaction between the sorting and the encryption layer, not seen before Core6.

[2021-02-10 10:40] Tate-zwt commented on #6587
thanks

[2021-02-10 14:13] sedwo opened #7106 "How can I force trigger a sync?"
## Goals
As a user, there’s always a UI element (button or pull-to-refresh) in my app that gives me control to trigger a sync refresh anytime I want, instead of waiting on the app.

## Expected Results
I don't want to be at the whim of when Realm _decides to sync_.  As it can take a while for it to figure out that it's back online and then try to sync.  I've tested delays of over a minute.

As a u

[2021-02-10 14:43] sync-by-unito[bot] opened #7107 "Expose SyncUserProfile"
Expose SyncUserProfile

Details to be added by [~jason.flax].

[2021-02-10 14:46] jsflax commented on #6632
Closing this as it is no longer active.

[2021-02-10 14:46] #6632 closed

[2021-02-10 16:46] tgoyne commented on #7086
While I haven't yet managed to make a repro case that matches the given stacktrace and scenario, I now have a reproducable case which hits the same assertion failure in a different scenario and hopefully it's the same bug.

[2021-02-10 17:32] vishaldroisys opened #7109 "Swift SDk V 10.5.2 not available yet"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?

Realm Object Server version: ?

Xcode version: ?

iOS/OSX version: ?

Dependency manager + version: ?

[2021-02-11 09:36] Fab1n commented on #7092
Thanks @finnschiermer and @leemaguire for your help and confirmation.
Please keep me on track with any fixes in Core or Realm regarding this issue as well as any more findings.

[2021-02-11 10:01] leemaguire commented on #7106
@sedwo `RLMSyncSession.resume()` might solve your issue here

[2021-02-11 11:16] sedwo commented on #7106
Tried that.  Doesn't affect my result.

[2021-02-11 11:43] Fab1n opened #7111 "Database contains NULL value on Object's non-optional String field (Swift)"
## Goals
Find out how it is possible that a Database contains Objects with NULL values on fields that have always been non-optional.

## Expected Results
No NULL values should ever be stored in fields that are explicitly marked as non-optional (String fields!).

## Actual Results
We have a customer's database which contains an Object with a string field value of NULL (is NSNull).

## Steps for oth

[2021-02-11 11:46] cpd commented on #7041
yep, did this

Found this:
`If an object type has a primary key, then all instances of that type must include the primary key property with a value that is unique among objects of the same type in a realm.`
in docs at https://docs.mongodb.com/realm/ios/objects/#primary-key  maybe that's the problem.
Added primary key to all child objects even if they doesn't need that, will submit today a new buil

[2021-02-11 16:01] Fab1n opened #7112 "App crashes with system error in mutex::lock after didEnterBackground on iOS"
## Goals
Find out why the app crashes when locking with `std::mutex` and `std::lock_guard` only after entering background (immediately or some time after)

## Expected Results
The app should not crash when locking after entering background.

## Actual Results
The app crashes when trying to lock `std::mutex`

## Steps for others to Reproduce
I was not able to reproduce it myself.
We see it in our c

[2021-02-11 23:04] leemaguire commented on #7109
Closing as 10.5.2 is now available on Cocoapods

[2021-02-11 23:04] #7109 closed

[2021-02-12 13:56] leemaguire commented on #7105
Issue has been resolved, closing.

[2021-02-12 13:58] #7105 closed

[2021-02-12 14:11] leemaguire commented on #7112
Hi @Fab1n it sounds like you're running into a `NSFileProtection` issue. This issue may occur when a device is locked and is also in the background. Our docs here: https://docs.mongodb.com/realm-legacy/docs/swift/latest/#using-realm-with-background-app-refresh describe how to get around this issue.

[2021-02-12 14:36] Fab1n commented on #7112
Ah ok, I saw that somehow Data Protection is enabled for this App ID, but not set in the Entitlements file... I will check and see if I can fix the issue then.

[2021-02-12 14:37] Fab1n commented on #7111
I have new findings for this issue and will share them with you later. I then will maybe update this issue or close it and open a new one.

[2021-02-12 14:59] leemaguire commented on #7111
@Fab1n please continue your findings on this issue.

@cmelchior @jedelbo have you's ever seen such a scenario occurring before?

[2021-02-12 15:02] Fab1n commented on #7112
@leemaguire could it be, that the app was terminated (either by the user or the system) and realm didn't get terminated correctly while still doing stuff?

We have C++ destructor calls on Main in the stacktrace for a global object.

[2021-02-12 16:18] Fab1n commented on #7111
Ok, I will continue here because then we have the context.

We nailed it down and now have the underlaying `StringData` value available.
`m_data or data` has the value of `"AAAA\x11"`, the same value that will be produced using `std::string("AAAA\x11")` (`\x11` is a control character - this sometimes happens to us, that some service sends rubbish strings like this).
`m_size or size` however has th

[2021-02-12 22:01] LowAmmo opened #7113 "Compile warning - Umbrella header does not include '/core/realm.h'"
!!! MANDATORY TO FILL OUT !!!

## Goals

No warnings when building

## Expected Results

Have no warnings when building

## Actual Results

Seeing a warning -

     Umbrealla header for module 'Realm' does not include header '/core/realm.h'

## Steps for others to Reproduce

Build 10.5.2, using cocoapods and Xcode 12.4

## Code Sample

In a podspec -

    s.dependency 'RealmSwift', '~> 10.5.2'

##

[2021-02-13 10:20] vishaldroisys commented on #7109
[!] CocoaPods could not find compatible versions for pod "RealmSwift":
  In Podfile:
    RealmSwift (= 10.5.2)

None of your spec sources contain a spec satisfying the dependency: `RealmSwift (= 10.5.2)`.

You have either:
 * out-of-date source repos which you can update with `pod repo update` or with `pod install --repo-update`.
 * mistyped the name or version.
 * not added the source repo that h

[2021-02-13 10:24] vishaldroisys commented on #7109
EBSMAC-Vishal:iOS_Source droisys$ pod install --repo-update
Updating local specs repositories
Analyzing dependencies
[!] CDN: trunk URL couldn't be downloaded: https://cdn.jsdelivr.net/cocoa/Specs/8/a/8/AWSS3/2.22.3/AWSS3.podspec.json Response: Timeout was reached

[2021-02-13 23:28] EricWiener opened #7114 "Undefined symbols for architecture x86_64 "protocol descriptor for Swift.Identifiable""
## Goals
I am trying to make a minimal example of RealmJS + RealmSwift to help RealmJS debug an [issue](https://github.com/realm/realm-js/issues/3588). When trying to make this minimal example, I was unable to compile RealmSwift with an error: `Undefined symbol: protocol descriptor for Swift.Identifiable`

## Expected Results
I expected to be able to compile (or at least to run into the same issue

[2021-02-14 13:38] lidorgotech opened #7115 ""mmap() failed: Cannot allocate memory size" and "Number of active versions exceeded the limit" crashes"
## Goals
No crash when adding or updating MessageObject.

## Expected Results
No crash when adding or updating MessageObject.

## Actual Results
Crash when adding or updating MessageObject.

## Steps for others to Reproduce
Calling create and update functions multiple times.

## Code Sample
https://gist.github.com/lidorgotech/4cbf263ad5ee9346c6232f88efa40309

## Version of Realm and Tooling
Realm

[2021-02-14 14:15] visdyn opened #7116 "Filter unmanaged object List by managed object property"
## Goals
We are attempting to create a unique Set() of object _id's (or a filter) based on property's property e.g. an Object that has a property which is a managed object

In other words, we have a Person Class (unmanaged) and each person has a single Dog Class (managed) property. We want to get a list of those dogs' _id's - and want to ultimately have a Set (no duplicates) of dog _id's.

Note th

[2021-02-14 16:05] mmacu opened #7117 "Cannot import RealmSwift in Playground"
## Goals
Importing and  opening Realm in Xcode Playground.

## Expected Results
Since Xcode 12 it's possible to import Swift packages into Playground. As such it should be possible to import Realm as well.

## Actual Results
Getting `No such module 'RealmSwift'` error.

## Steps for others to Reproduce
1. Create new Xcode (Storyboard) project.
2. Add Playground at root level.
3. Add Realm with Swi

[2021-02-14 18:23] leemaguire commented on #7115
@lidorgotech If you could also post some stack traces / crash logs it would be a great help. I took a look at the gist. I'd liked to know what `.detached()` does. Also with methods such as `writeMessage` does something continue to hold onto the `MessageObject` that was passed in?

[2021-02-14 18:43] lidorgotech commented on #7115
Hi @leemaguire, here is the crash log: https://gist.github.com/lidorgotech/1d36306bbeff01ff45142fbb9fd6ba06
And here is the use of writeMessage: https://gist.github.com/lidorgotech/81e13f8926878b7362242623866eaaf0

[2021-02-14 19:32] levelchanger opened #7118 "Can't update RealmSwift with CocoaPods"
Cocoapods fails trying to install RealmSwift  10.5.2 when using `pod update`. It appears to be looking for RLMAccessor.h in the wrong directory.

## Goals
Update to the latest RealmSwift and be able to build again in Xcode

## Expected Results
Update to the RealmSwift 10.5.2  and be able to build again in Xcode

## Actual Results
Here is the output from Terminal
### Stack

[code]

### Plugins

[co

[2021-02-14 19:49] leemaguire commented on #7115
@lidorgotech Could you show the code for `detached()`? what does the lifecycle of a `MessageObject` look like? Does it have an owner? Is it transient? etc.

[2021-02-14 20:56] lidorgotech commented on #7115
`detached()` looks like this:

[code]

The lifecycle starts and ends in those two functions, `sendMessage` and `writeMessage`, as I understand.

[2021-02-15 09:25] leemaguire commented on #7115
From `sendMessage`, where is `MessageObject` being passed in from / where is it stored? I can't see why you would need to call `.detached` from line 14 in `sendMessage`. It would be good if you could send us a small sandbox app / reproduction case to realm-help@mongodb.com

[2021-02-15 10:23] dianaafanador3 commented on #7118
@levelchanger can you test doing a clean pod install, instead of using `pod update`. First run `pod deintegrate` and then instead of using the update command, run `pod install --verbose`. If you still get an error, can you paste the logs here? so we can continue to help you.

[2021-02-15 15:58] dianaafanador3 commented on #7117
@mmacu I've been able to reproduce this. We're investigating if importing Realm using SPM into Playground is possible.

[2021-02-15 15:58] dianaafanador3 commented on #7117
@tgoyne Have you tried this before?

[2021-02-15 16:22] Fab1n commented on #7111
@leemaguire I think I provided a good amount of data to investigate now.

Unfortunately I cannot provide a sample project because with `realm-cocoa` and `3.19.0` and upwards everything gets written nicely to the DB.
I cannot try much lower Realm versions because with Big Sur you cannot install such an old Xcode version, needed to compile a project with Swift 3 and the appropriate Realm Version. I

[2021-02-15 16:39] OneSman7 opened #7119 "Umbrella header for module 'Realm' does not include header '/core/realm.h'"
## Goals
Updated Realm Swift to 10.5.2. Trying to build our project with it.

## Expected Results
Project builds without errors or warnings concerning Realm library.

## Actual Results
A warning about umbrella  header is displayed: /<module-includes>:1:1: Umbrella header for module 'Realm' does not include header '/core/realm.h'

![Снимок экрана 2021-02-15 в 19 37 34](https://user-images.githubuse

[2021-02-15 17:47] visdyn commented on #7118
I built a project yesterday with 10.5.2 and it worked correctly. I also updated an existing project as well. I was using macOS 10.14.6 and then on a completely different Mac, used 10.15.

Your podfile has 'Realm' - remove that and try just RealmSwift

[code]

Our pod just uses

`pod 'RealmSwift', '>= 10.0.0'`

[2021-02-15 17:54] visdyn commented on #7119
I don't see Realm in the podfile. Was is added through some other means?

[2021-02-15 18:17] OneSman7 commented on #7119
Sorry, it is added as other pod dependency like this `s.dependency 'RealmSwift'` Maybe it is important.

[2021-02-15 18:18] OneSman7 commented on #7119
I found a similar issue which I did not spot at first.
https://github.com/realm/realm-cocoa/issues/7113

[2021-02-15 19:10] levelchanger commented on #7118
@visdyn I have a mixed ObjC/Swift project so I need both SDKs.

@dianaafanador3 I followed your instructionss and here is the output
[podoutput.txt](https://github.com/realm/realm-cocoa/files/5983572/podoutput.txt)

[2021-02-15 19:44] visdyn commented on #7118
Is this the same issue as this https://github.com/realm/realm-cocoa/issues/6943

[2021-02-15 20:28] dianaafanador3 commented on #7118
As mentioned by @visdyn, referring to issue #6943, can you please clean your pod cache?

[2021-02-15 20:30] dianaafanador3 commented on #7116
Hi @visdyn I don't seem to reproduce your error when you are trying to get an array of unique dogs ids `Set(dogIdArray)`. On the other hand the error you get when trying to fetch a `PersonClass` object, is because filter is trying to query data from Realm and cannot be done on and unmanaged object. Instead you can use ` let jayOwner = peopleList.filter { $0.myDog._id ==  "idToFind") }.first!` to u

[2021-02-15 21:10] levelchanger commented on #7118
@visdyn, @dianaafanador3  Yes, it is the same problem and removing the pod cache and Xcode derived data fixed everything. Thank you!

[2021-02-15 21:10] #7118 closed

[2021-02-16 06:19] savage7 commented on #7076
Why don't you just release xcframeworks with library evolution support enabled?
I looked throw the build scripts and it seams you actually support this already.

[2021-02-16 09:38] iandundas opened #7120 "Not obvious how to build the Examples, & `build.sh` fails"
## Goals
Run the ListSwiftUI example

## Expected Results
- (perform some documented installation)
- Run the ListSwiftUI scheme
- Build successfully

## Actual Results
Build error:

![CleanShot 2021-02-16 at 09 57 09](https://user-images.githubusercontent.com/1131967/108040331-78fb8e80-703d-11eb-9632-13a51e224851.png)

And when building just RealmSwift:
![CleanShot 2021-02-16 at 09 57 19](https://

[2021-02-16 09:45] iandundas commented on #7120
The solution is to `build.sh build` first, before `build.sh examples-ios`

I just feel that this process could be documented, as probably others would stumble over the same stuff of just opening the example projects and expecting them to build

[2021-02-16 11:31] Ariandr commented on #7113
Have the same issue switching from 5.5 to 10.6

[2021-02-16 11:41] jedelbo commented on #7111
@Fab1n I am sure the string "AAAA\x11" comes from a header we use in front of all data stored in the realm file. How that data can end being interpreted as user data is very strange. Since you are able to debug a case where you get this value, I am assuming that you have a file produced by a version 2 Realm. Is that correct? And if so, would you be able to share that realm file with us?

[2021-02-16 11:41] dianaafanador3 commented on #7120
Hello @iandundas. I guess you already figure it out. Thanks for the suggestions about the documentation, We'll review it and make sure everything is as simple and explanatory as possible.

[2021-02-16 11:44] dianaafanador3 commented on #7119
Hi @OneSman7 we will try to reproduce this and get back to you as soon as possible.

[2021-02-16 11:45] dianaafanador3 commented on #7113
Hi @LowAmmo we will check this and get back to you as soon as possible

[2021-02-16 12:42] iandundas commented on #7120
Cool - happy to close it, this can be googled by someone in my shoes (probably me in 6 months)

[2021-02-16 12:42] #7120 closed

[2021-02-16 13:33] KimiChiu commented on #6993
It is confirmed that this issue only happened while the background task is running after `applicationWillTerminate` get called.
But I am still not able to reproduce this issue, maybe it's because the debugging is stopped at the same time.
So it's not about the `autoreleasepool` nor the realm transaction.

[2021-02-16 14:33] LowAmmo commented on #7113
I know it's not really hurting anything....and is just a little OCD. But, I appreciate you putting some attention on it!

-Thanks!

[2021-02-16 14:44] ericjordanmossman commented on #6884
@duncangroenewald
Have you hit this at all when working with versions >10? Are you still seeing this in 5.5.0?

[2021-02-16 14:55] dianaafanador3 commented on #7114
Hey @EricWiener, We'll try to reproduce this and get back ass soon as we can

[2021-02-16 15:10] visdyn commented on #7116
@dianaafanador3 Thanks for taking  a look.

I could have sworn at some point there was a filter on an unmanaged List but perhaps not as your comment says.

The Set() issue is not reproducing at the moment. We will continue to work on it to attempt to make it happen again - if it doesn't, we will close.

Thank  you again.

[2021-02-16 15:57] Fab1n commented on #7111
Oh, that makes things a lot more clear.
We only have 1 user's database with his password and that's how we found out the string content with the wrong length.
I didn't know that this is an internal string.
The entry with the corrupt string field has a timestamp of may 2017 at which time we used Realm 2.1.2, but we also have customers which have similar entries in 2016 where the app also crashes du

[2021-02-16 16:03] dianaafanador3 commented on #7116
@visdyn If you do have issues with this again, let me know.

[2021-02-16 17:53] EricWiener commented on #7114
@dianaafanador3 thanks so much! I just updated the Podfile in the example to have compatible versions for RealmSwift and RealmJS. The issue still persists, but hopefully, this will be one less problem to deal with.

[2021-02-16 22:00] #5334 closed

[2021-02-17 00:47] jsflax commented on #7086
@tgoyne is there an update on this?

[2021-02-17 00:57] tgoyne commented on #7086
I have not had any luck tracking this down and the thing I hoped would be related turned out to be definitely not related.

[2021-02-17 00:59] levelchanger commented on #7086
@tgoyne Is there any way I can help with this? I can easily reproduce the crash.

[2021-02-17 04:34] dangthaison91 commented on #7100
@leemaguire Sorry for the late reply, we just back from our Lunar New Year holidays.

We have many Realm files but all of them are not shared across App Group.

`createAsyncRealm` and `createRealm` are use internal `RealmManager` as below:

[code]
The last change is about 4 months ago.

[2021-02-17 08:35] jedelbo commented on #7111
The header consists of 8 bytes where the first 4 bytes are 'A'. The 5th byte contains information about the width of each element and the remaining 3 bytes hold the size of the array. So the 6th byte could very well b '\0' making it look like a 5 byte string.

I am not sure how you would be able to modify the database. As I understand the problem then the crash occurs during migration, so what you

[2021-02-17 08:40] Fab1n commented on #7111
Thank you @jedelbo.
We have a backup of the database from before the migration. This one I can open freely with 3.19.0 and thus modify freely.
So, do you think I can strip that down?

[2021-02-17 08:53] jedelbo commented on #7111
Ok, you can of course try to strip it down and then check if the error still exists.

[2021-02-17 08:57] jedelbo commented on #7111
... but you should know that deleting the data does not remove it from the realm file and you should not try to compact the file. So if you would not hesitate to send me the stripped down version, you could just as well send me the original file.

[2021-02-17 09:20] Fab1n commented on #7111
Uh ok. When I delete something, unless the database has been compacted, the data still resides on disk, but isn't accessible through the app anymore, is that what you say?

[2021-02-17 09:24] Fab1n commented on #7111
The backup we have, already is compacted (because it was written with `writeCopyToFile`) and the data is still invalid.
So I will try to strip everything and try if the compacted version still contains the error.

[2021-02-17 09:34] jesusmateos1234 opened #7122 "FR: Add XCFrameworks in tag release"
I'd like to if you can add the product xcframework in a zip onto tagged version assets

Thanks

[2021-02-17 09:51] jedelbo commented on #7092
I will have a look at this.

[2021-02-17 09:57] leemaguire commented on #7100
I see in `createAsyncRealm` creates a `frozen` object. Holding onto a frozen object for an extended period of time while performing write transactions can cause the Realm file to grow in size. It still doesn't make sense why you would get `Too many open files in system` How many Realm files are you working with?

[2021-02-17 10:03] Fab1n commented on #7112
OK, I have some more info here:
First, we're using `NSFileProtectionCompleteUntilFirstUserAuthentication` so it really shouldn't be a `NSFileProtection` issue, I guess.
Next, we recognized that most of the time in the stacktrace there are some C++ destructors being called, which points to app termination.
When the user kills the app when being in the foreground the app gets a `didEnterBackground`

[2021-02-17 10:05] dianaafanador3 commented on #7122
Hi @jesusmateos1234 I'll check this if this possible and get back to you

[2021-02-17 10:17] dianaafanador3 commented on #7086
@levelchanger I'll try to reproduce the issue, if I need any extra info for me to reproduce it, i'll let you know

[2021-02-17 14:08] jedelbo commented on #7092
Was not able to spot the main cause for this degradation. But I can see that the new design takes a hit when encryption is on -  this does not happen so much in the old design.

[2021-02-18 07:46] sync-by-unito[bot] opened #7123 "Check performance impact of reduced Core binary size"

[2021-02-18 20:34] bmunkholm commented on #7123
Great, Perhaps check with Thomas how to do that.

[2021-02-19 05:47] bb-git opened #7124 "Crash upgrading 5.5.0 to 10.6.0 on older iPhone Model"
After releasing a TestFlight build with Realm 10.6.0 (before I used 5.5.0) there is a crash happening on my colleagues iPhone 6s. On my iPhone X  the app shows the splash screen a little longer, but then proceeds. The iPhone 6s shows the splash for around 20s and then quits to the home screen. After downgrading to 5.5.0 the problem disappeard. My guess is a **RAM issue** while upgrading. I have a

[2021-02-19 07:09] mohsinalimat opened #7125 "Disable encryption"
Hello,

I want to disable the encryption on the realm database.

How to solve it?

I use like this

[code]

[2021-02-19 11:15] versoworks commented on #7036
@leemaguire, is there any progress on this issue? It's the only unresolved issue we have impeding the release of a sync enabled version.

[2021-02-19 11:31] dianaafanador3 commented on #7125
Hi @mohsinalimat, if you don't set up a `encryptionKey` into the realm configuration, you would have an unencrypted realm.
[code]

You can even use realm default configuration to set up your realm database

[code]
Refer to realm documentation https://docs.mongodb.com/realm/ios/open-a-realm/ for more information, and if you have anymore question feel free to ask.

[2021-02-19 11:56] leemaguire commented on #7036
@versoworks I don't have an update. If the Realm is synced there isn't much need to have it in a app group container because each target will have a copy of the synced Realm. I may be missing something from your requirements though.

[2021-02-19 16:33] DominicFrei commented on #7025
@michael-s-wu I did look into the example today. The result is the same on my site with your example.

Interesting: It works when I use `use_modular_headers!`instead of `use_frameworks!` which is what I did in my above mentioned example.

This is not a solution for everyone though, I'm sure.

While this is not a solution it's at least a good first step: being able to reproduce the problem.
Maybe t

[2021-02-19 16:42] arausch commented on #7086
I am having a similar issue.  Maybe related?  It looks like we might both be using Synced Realms?  In my case, I am observing a Realm object directly.  Then, per the docs for synced realms, I am writing to the object on a background thread. That's when it crashes.  If I remove the observer it doesn't crash.  If I observe results that are filtered instead of the object directly, it does not crash.

[2021-02-19 16:47] dianaafanador3 commented on #7086
Hi @arausch this is priority issue on our side and we are working to find the solution as soon as possible. Thanks for the extra info, it'll help us to narrow down which may be the problem.

[2021-02-19 17:07] levelchanger commented on #7086
@ianpward I am using sync and writing on a background thread as well.

[2021-02-19 17:47] sbrighiu commented on #6069
Guys i think i may of had 2 versions of cocoapods ... i'm not 100% but I cleaned everything up and now im sure i have just one. This is me explaining how I found it https://superuser.com/a/1627412/1276003.

TL;DR - If you ever ran `sudo gem install cocoapods -n /usr/local/bin` you may have 2 cocoapods installed.
For me whenever i would call pod --version it would say 1.10.1, but today, from nowher

[2021-02-19 19:42] levelchanger commented on #7086
Just like @arausch, the crash goes away if I write on the main thread.

[2021-02-19 20:10] misterlib commented on #7086
I think I'm experiencing the same thing. I discussed it on the forums here:

https://developer.mongodb.com/community/forums/t/swiftui-list-not-showing-data-when-wrapping-in-list/16200/9?u=kurt_libby1

I'm not sure what I'm doing as far as threads go. I'm using Realm Cocoa 10.6 and using @ObservedRealmObject as property wrappers for objects in a SwiftUI List.

When I edit with a TextField that is t

[2021-02-19 20:38] obianachebe commented on #6983
@mpobrien I'm having the same issue as well.

The first time my app launches, it throws the `MultipleSyncAgents` exception. The next app launch does not throw this exception, but after ~30-60 minutes, relaunching the app causes the exception again. Here are my verbose sync logs:

[code]

[2021-02-19 21:39] #7111 closed

[2021-02-19 22:29] versoworks commented on #7036
@leemaguire I was trying to understand the friction behind not allowing the path of a synced Realm to be specified and found [this](https://github.com/realm/realm-cocoa/issues/4490#issuecomment-313888360). Is that reason still current? If so, then perhaps update the docs explaining as much, so as to avoid users wasting time pursuing a solution given the long standing nature of the issue.

[2021-02-20 00:12] obianachebe commented on #6983
The documentation mentions this:

I have a read-only and a read-write realm that both open synchronously at launch and immediately perform reads and writes. I have since changed both of them to be opened async and am not seeing the `MultipleSyncAgents` exception anymore.

I'm not 100% clear on what was causing the exception, but my guess is it might have something to do with performing operations

[2021-02-20 08:01] michael-s-wu commented on #7025
@DominicFrei thanks for the update! im glad it wasn't just something weird happening with my computer/app. i tried "use_modular_headers!" instead but still got the same error. 🤷

[2021-02-20 11:32] mohsinalimat commented on #7125
@dianaafanador3 I use your comment code but not the open realm database. you can see my attached a screenshot.

![Screenshot 2021-02-20 at 5 00 33 PM](https://user-images.githubusercontent.com/973676/108593987-29022c00-739d-11eb-8b8a-0f46a2ef9273.png)

[2021-02-20 19:27] denys-meloshyn commented on #4111
is it possible to achieve this today?

[2021-02-21 19:13] duncangroenewald commented on #6884
@ericjordanmossman - as far as I am aware the issue still exists. However we are just working around this since it appears to be specific to a particular scenario, see the explanation from @ianpward below:

OK - so the issue here is:

In a core-5 file (RealmSwift 4.4.1), a table with a string primary key contains a column "!OID" that contains the "stable id" generated by object-store. This value i

[2021-02-21 22:05] versoworks commented on #7036
@leemaguire our app allows users to create a Realm via Siri. The created Realm is then initialised with any number of `RLMObject`s. Initialisation must occur at time of creation, it cannot be delayed. The issues we're facing with a synced Realm are;

- The Siri Intent is short lived; it deallocates before sync completes (we set an `RLMSyncSession` upload progress notification to wait for sync to c

[2021-02-22 07:02] hijamoya commented on #7008
same issue here, this is trace:
[code]

[2021-02-22 07:11] mohsinalimat commented on #7125
Also i set

[code]

but not working same error

[2021-02-22 09:44] dianaafanador3 commented on #7125
Hi @mohsinalimat there is no need to set the encryptionKey to nil, if you don't set up an `encryptionkey` into the configuration, the realm does not encryption by default.
Have in mind that if you already created a realm with an encryption key, setting the `encryptionkey` to nil or not setting it up later, will not make the realm unencrypted, and will cause an error when opening the realm.
If you

[2021-02-22 09:46] mohsinalimat commented on #7125
I try with the above comment but not working.

[2021-02-22 09:48] mohsinalimat commented on #7125
Same issue when I use below the repo

https://github.com/RMizin/FalconMessenger

[2021-02-22 11:28] dianaafanador3 commented on #7125
On the FalconMessenger project, when they initialise the realm database, they use a `encryptionKey`, that's why the realm file need an encryption key to read.
They have this on their code
[code]
if you replace the below code to this on their project, the realm file will not be encrypted
[code]

**IMPORTANT**: Clear app data before doing this changes, so you can test with a clean state an the realm

[2021-02-22 11:31] dianaafanador3 commented on #7086
Hi @misterlib, if you can share your code with us, it will be very helpful so we can reproduce the issue. I will try to reproduce this with your use case.

[2021-02-22 11:31] mohsinalimat commented on #7125
@dianaafanador3

I try with this in my project and FalconMessenger project but getting the same result.

`let realm = try! Realm()
`

And, I delete my app from my iPhone as well.

[2021-02-22 11:33] dianaafanador3 commented on #7125
@mohsinalimat Are you using MongoDB Realm Studio to read the realm file?

[2021-02-22 11:34] mohsinalimat commented on #7125
Realm Browser Version 3.0.1 (98)

[2021-02-22 11:36] dianaafanador3 commented on #7125
Can you please use MongoDB Realm Studio instead https://docs.mongodb.com/realm-legacy/products/realm-studio.html

[2021-02-22 11:37] mohsinalimat commented on #7125
Ok, let me check.

[2021-02-22 12:08] mohsinalimat commented on #7125
Now, it's working fine.

Thanks, @dianaafanador3

[2021-02-22 12:08] #7125 closed

[2021-02-22 12:11] dianaafanador3 commented on #7125
@mohsinalimat 🎉 yeii, if you have any more issues let us know.

[2021-02-22 12:12] mohsinalimat commented on #7125
Sure

[2021-02-22 12:12] DominicFrei commented on #6263
I am going to close this issue for now since there was no further reply.

Is there are still open questions feel free to re-open it.

[2021-02-22 12:12] #6263 closed

[2021-02-22 12:14] arausch commented on #7086
@levelchanger I've found a workaround for the time being.  When the app starts, if I complete a quick single write transaction on the main thread, these subsequent write transactions on a background thread do not cause the app to crash.  I'll keep testing and see if this still holds true after using the app for awhile.

[2021-02-22 13:46] DominicFrei commented on #7033
I am going to close this for now since it seems it did not occur again and cannot be reproduced.

If anyone has further information on this issue please re-open the ticket at any time.

[2021-02-22 13:46] #7033 closed

[2021-02-22 14:03] jesusmateos1234 opened #7128 "FR: Split Carthage.zip into Realm-swift_iOS.zip, Realm-swift_MacOs.zip etc"
!!! MANDATORY TO FILL OUT !!!

## Goals
Split Carthage zip into frameworks zip to not download all platforms nor Frameworks needed.

[2021-02-22 15:35] jln19 commented on #6096
Also having this problem. It's when a user installs an updated version of the app, although this app update has nothing to do with Realm or anything that should need a migration.

[2021-02-22 16:10] tgoyne commented on #7128
The layout of the Carthage zip is dictated by Carthage, not us.

[2021-02-22 16:10] #7128 closed

[2021-02-22 16:13] jesusmateos1234 commented on #7128
@tgoyne not is for Carthage... Other repositories has this split.

[2021-02-22 16:15] jln19 opened #7129 "CRASH: Unable to open a realm at path"
I can find many similar issues here and on StackOverflow, but there don't seem to be any solutions. This is a fatal issue for our app so I'm hoping that surfacing it again can lead to some insights for myself and others.

Thread 1: Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/path/to/myfile.realm': Invalid top array (re

[2021-02-22 17:04] jesusmateos1234 commented on #7122
Hi @dianaafanador3 thanks for you support.

With the purpose to download only xcframeworks needed you can follow the Appboy assets -> https://github.com/Appboy/appboy-ios-sdk/releases/tag/3.33.0

Thanks for all

[2021-02-22 18:15] ManueleGrassi commented on #7113
I have the same issue with Realm and RealmSwift 10.6.0

[2021-02-22 18:23] rittermobile commented on #7083
Same issue here. When will this be fixed and available?

[2021-02-22 18:56] jln19 commented on #7129
The only way to get this not to crash is to create a new config.fileURL on every update:

[code]

Obviously this is not ideal and I'm sure there are ramifications for doing this. But the only other option is for all of our users to experience a crash every time they update and be completely unable to use the app unless they delete it and re-install from the app store.

[2021-02-22 20:02] homathko opened #7130 "When updating an Object's property, Object Change Listener always calls .delete block"
## Goals
To observe changes to an object using object change listener

## Expected Results
The appropriate switch case is executed (i.e. `.change(_:_): { ... }`)

## Actual Results
Only the `.delete` case is executed, but object still exists

## Steps for others to Reproduce
1. Get the id of an existing object in your realm
2. Run the included test function with the object's type and id - it shoul

[2021-02-22 20:03] marvinzielke opened #7131 "Cannot remove an observer for key path because it is not registered as an observer"
## Goals
I'm trying to delete a realm object that is used across multiple NavigationViews. I'm using the @ObservedResults and @ObservedRealmObject Wrapper demonstrated in this session here from @jsflax : https://www.youtube.com/watch?v=mTv96vqTDhc in the latest Release 10.6.0

## Expected Results
I'm expecting the Realm Object to be deleted and the app to remain healthy / not to crash. I'm not sur

[2021-02-22 20:10] tgoyne commented on #7130
Document replace operations from Mongo get translated as a delete followed by creating a new object with the same id, which in Realm will show up as a deletion notification but an object with that PK will still exist if you query for it afterwards. If you're explicitly using updateDocument() and it's still doing that then that sounds like a bug in the server.

[2021-02-22 20:46] jsflax commented on #7131
Hey @marvinzielke, thanks for catching this! SwiftUI holds onto invalidated objects in cached views when they aren’t displayed/focused– which is why we have code to handle that. We supply a “zero-inited” version of the object to the view in those cases (it will not be visible anyway). However, the zero-inited objects are incidentally being KVO’d. When returning to the screen with the invalidated o

[2021-02-22 21:59] homathko commented on #7130
If that is the case, what is the best practice for working around this? I need to listen for updates at the property level. It would seem that each time I receive a `.delete` event, I need to overwrite the existing `NotificationToken` with the result of a new `.observe` call. Even then, I would not get any info on which property changed. And what happens when the object is deleted? How would I be

[2021-02-22 22:50] nirinchev commented on #7130
I guess the most straightforward solution would be to update the document on the server rather than replace it. Would it be possible to modify your server-side code to call the update API instead of the replace ones? We could definitely go for a first-party solution - either support replace at the sync protocol level or have the SDK special-case delete+create for an object with the same primary ke

[2021-02-22 23:19] homathko commented on #7130
Thank you, this has made it clearer for me. I misunderstood @tgoyne's response. I was attempting to simulate an update using Atlas - but now I understand that is not suitable since it translates to the client incorrectly. If I run updates from the client, it works as expected. Thank you for your time!

[2021-02-22 23:46] nirinchev commented on #7130
No problem, happy to hear you got things working! The data explorer behavior in Atlas has been consistently tripping folks who want to just try things out quickly, so we'll definitely want to find a more robust solution there.

[2021-02-22 23:49] homathko commented on #7130
I found the Realm Studio app to be quite useful for a lot of my testing (although now the MongoDB Realm Studio apparently does not allow connecting to a cloud realm - only local files, which I find odd)

[2021-02-23 02:48] hhl1809 commented on #6993
I faced the same problem, any solution ?

[2021-02-23 05:35] SecyWecy opened #7133 "SwiftUI: RLMException thrown when freezing RealmSwift.List<Item>"
!!! MANDATORY TO FILL OUT !!!

Hi,
 The following error occurs whenever I attempt to freeze a RealmSwift.List:

  ```Terminating app due to uncaught exception 'RLMException', reason: 'This method may only be called on RLMArray    instances retrieved from an RLMRealm' ```

I am following this example https://docs.mongodb.com/realm/ios/swiftui/ and so I have something of this nature in my project:

[2021-02-23 08:56] ananfang opened #7134 "Crash on watching the change of the collection due to Realm Sync"
!!! MANDATORY TO FILL OUT !!!

## Goals
Using app.currentUser?.mongoClient("mongodb-atlas").database(named: "database-name").collection(withName: "collection-name").watch() to watch the change of the collection. (This database is set for Realm Sync)

## Expected Results
It will get the notification when the change is happened in that collection.

## Actual Results
If using realm.write {} block to

[2021-02-23 10:13] DominicFrei commented on #7129
@jln19 Thanks for the report. I'd like to understand your setup a bit better. The above error message indicated that the path (alongside with maybe other properties) was changed and then set as `defaultConfiguration` which would be used when you open the realm the way you did.

Can you show us the rest of the relevant realm code?

Unfortunately I cannot reproduce your issue with `Install live vers

[2021-02-23 10:15] DominicFrei commented on #7130
It looks to me like this issue was resolved so I am going to close it.

Feel free to re-open at any time if there is anything open in here.

[2021-02-23 10:15] #7130 closed

[2021-02-23 11:01] Arrcuas commented on #7119
I have the same problem. The realm.h is missing,  and got the error

<unknown>:0: error: unexpected input file: /Users /StorageManager.Swift
Command CompileSwiftSources failed with a nonzero exit code

[2021-02-23 11:08] dianaafanador3 commented on #7119
Hi @Arrcuas can you please clean the pod cache and then try a clean pod install (`pod deintegrate` and then `pod install`). Also clean the project and derived data associated to it before building it again.

[2021-02-23 11:11] DominicFrei commented on #7025
@michael-s-wu While I'm looking into the issue, here is my version where it works with `use_modular_headers!`
https://github.com/DominicFrei/Playground/tree/realm-cocoa/issues/7025
Like yours, you have to do a `pod install` then you can archive the Mac OS version.

[2021-02-23 11:42] KimiChiu commented on #6993
I'm not sure if it's resolved.
But it won't happen again if you prevent to do transactions after `applicationWillTerminate` get called.

[2021-02-23 15:44] #6949 closed

[2021-02-23 15:44] #7055 closed

[2021-02-24 04:11] saltyskip opened #7139 "Deleting Orphaned Objects during Realm Migration"
## Goals

I want to migrate existing data base stores to embedded. There maybe some objects that have been unintentionally orphaned due to developer error. I want to migrate the objects to embedded and either ignore or delete orphaned objects in the process

## Expected Results

Successful migration, if there are any objects that do not have a parent object they should be deleted.

## Actual Resul

[2021-02-24 07:39] mkchoi80 opened #7140 "App crash after update 10.6.0"
!!! MANDATORY TO FILL OUT !!!

## Goals
Realm-related issues are being registered in crashlycits after 10.6.0 update. But we do not have a history of realm related modifications and crash logs are not registered when reverting to the previous version.
It is difficult to analyze only with logs, so please register an issue.

<img width="928" alt="스크린샷 2021-02-24 오후 3 29 11" src="https://user

[2021-02-24 08:18] jedelbo commented on #7089
I am kind of puzzled here. As far as I can tell file format version 6 goes back to version 2.0.0, which is from 2016. Are you upgrading from a file that old?

[2021-02-24 10:39] sbrighiu commented on #6069
Ok I had it happen again .. when that does I simply clean, delete derived data, run `yarn clean`, and then `yarn`
`
"clean": "rm -rf node_modules && rm -f package-lock.json && rm -f yarn.lock && rm -rf ios/Pods && rm -rf ios/Podfile.lock",
`

It is less frequent than before .. and not so much of an annoyance, but still not fixed...

[2021-02-24 14:48] Arrcuas commented on #7119
thank you diana, I solved the. problem the file was .Swift and not .swift..
this little mistake took me 2 hours of search xD

Am Di., 23. Feb. 2021 um 12:08 Uhr schrieb dianaafanador3 <
notifications@github.com>:

[2021-02-24 14:51] dianaafanador3 commented on #7119
Hey @Arrcuas I'm so sorry, i didn't notice the error, if you have any more issues, do not doubt to ask.

[2021-02-24 15:46] DominicFrei commented on #7139
@saltyskip This change came with https://github.com/realm/realm-core/pull/4414 in core. Please also refer to the discussion (and all the linked issues) in there.

TL;DR
There was a bug where users could not migrate from `Object` to `EmbeddedObject` due to missing or multiple backlinks.
One of the decisions that had to be made during that change was the handling of orphaned objects. There were two

[2021-02-24 16:51] tgoyne commented on #7140
This is probably fixed by 10.7.0.

[2021-02-24 17:18] palaniraja opened #7141 "RealmSwift iOS Diskusage is almost 100x when database is encrypted"
When we use standard realm encryption, the disk usage is very high, sometimes 100x i.e, with encryption adding 1000 records disk usage is 0.1Mb  in instruments/xcode the same code after enabling encryption it is 0.1GB

Attaching the sample project which consistently spikes disk usage to 50 times  with encryption

side effect is - sometime the allocated bytes (but free) is 4 to 8 times the size of

[2021-02-24 19:40] dianaafanador3 commented on #7086
@levelchanger I've been trying to reproduce your issue, but i don't seem to find how the crash is produced. This error seems to be happening in different uses cases, but the recurrent actions are "observing a realm object and then doing a write transaction on the background". Can you please share your "writing to realm code" where the crash occurs, maybe this can give us clue.

[2021-02-24 20:03] levelchanger commented on #7086
I created a class to do writing on a background queue and then subclass it to write the specific data. I've attached the EditSaver along with an example subclass that actually writes data. This particular subclass doesn't cause a crash, but I have more complicated ones that do. Let me know if you want to see that as well.
[Archive.zip](https://github.com/realm/realm-cocoa/files/6038540/Archive.zip

[2021-02-24 20:37] leocassioo opened #7142 "Diacritic insensitive [d] not working"
!!! MANDATORY TO FILL OUT !!!

## Goals

Perform searches using diacritic insensitive [d]

## Expected Results

return items with special characters (é -> e, ã -> a, ...)

## Actual Results

no results are returned when searching for an item that has a special character.
Example: researched "depressao", I should return the records containing "depressão"

## Code Sample

[code]

## Version of Realm

[2021-02-24 20:45] dangthaison91 commented on #7100
@leemaguire We have more than 30 realm files but we only load less than half of them at app start.

As you can see, we also have many crash with Realm when open it synchronous as above Crash log for `func workerRealm() -> Realm`

[2021-02-25 00:32] saltyskip commented on #7139
Hi I see, I've updated my codes to manually remove the orphaned objects, it might be nice to either have a configuration setting to delete orphans automatically or update documentation examples of migrations to show how to safely delete orphaned objects during migration.

I think its safe to delete this issue. Thanks @DominicFrei

[2021-02-25 00:32] #7139 closed

[2021-02-25 04:02] amritkr1947 commented on #6843
Hi All,  We are also facing the same issue.. Do you guys have a fix yet for your apps.

[2021-02-25 05:18] sonnetsmiles commented on #6973
Facing same crash on crashlytics. Did someone find the reason?

[2021-02-25 09:09] LucasVanDongen commented on #6859
Quotes in the path would be really handy as my hard disk name "Macintosh HD" (default name assigned by macOS) also has a space in it.

[2021-02-25 11:01] mrjslau commented on #7113
Same issue with Realm and RealmSwift 10.7.0.  Clean Build Folder and Pod reinstall does not help.

[2021-02-25 11:12] samuelgambs commented on #7142
same problem here...

[2021-02-25 11:25] dianaafanador3 commented on #7113
@ManueleGrassi, @mrjslau we will try to remove this warning in future releases.

[2021-02-25 11:44] brijesh0205 opened #7144 "Crash on transaction"
-->
Crash on transaction

Crashed: com.apple.root.background-qos

0  Realm                          0x1058abfb8 realm::Allocator::translate_less_critical(realm::Allocator::RefTranslation*, unsigned long) const + 68

1  Realm                          0x1057fce30 realm::Array::init_from_ref(unsigned long) + 192

2  Realm                          0x105ca356c realm::_impl::GroupFriend::get_history_ref

[2021-02-25 11:52] DominicFrei opened #7145 "Helper function for deleting orphaned embedded objects within migration"
## Current Problem
After fixing [a problem in the migration](https://github.com/realm/realm-cocoa/issues/7060) of `Object` to `EmbeddedObject` it is [unclear to users](https://github.com/realm/realm-cocoa/issues/7139) what happens with orphaned objects (see [discussion about throwing an error vs. deleting orphaned objects](https://github.com/realm/realm-core/pull/4414)).
At the moment they have to

[2021-02-25 12:14] #7089 closed

[2021-02-25 12:16] DominicFrei commented on #7025
Here are my findings after further research:
- When creating a multi-platform app with the current version of Xcode you will get two targets, one for iOS and one for Mac OS.
- Maybe some Xcode version had this bundled into one target, I did not test it with older versions though. The current Xcode version suggests (simply by doing it that way) that having two targets is the way to go.
- Even thoug

[2021-02-25 12:27] DominicFrei commented on #7144
@brijesh0205 Thank you for submitting this issue.

Can you show us a little more of that code? I would especially be interested in what `filtered` is and how you created it.

[2021-02-25 12:29] DominicFrei commented on #7140
@mkchoi80 Can you give https://github.com/realm/realm-cocoa/tree/v10.7.0 a try? Does this solve your problem?

[2021-02-25 12:40] DominicFrei commented on #7142
@leocassioo @samritchie Can you have a look at https://github.com/DominicFrei/Playground/tree/realm-cocoa/issues/7142 ?

I tried to reproduce this issue and it seems to work fine on my side.

Can you maybe provide a code example of your own?

[2021-02-25 12:48] DominicFrei commented on #7133
@SecyWecy Can you show us some more code around the `items` property? I would especially be interested in how it gets set and what kind of data (or rather type) was set there.

[2021-02-25 12:54] jsflax commented on #7133
@SecyWecy you cannot freeze Objects/Lists that are not managed by a realm, which is what the error message is saying. The swiftUI example is also out of date (we are in the process of updating it). Please use the propertyWrappers we introduced in [10.6.0](https://github.com/realm/realm-cocoa/releases/tag/v10.6.0). There is an example in the examples directory in the realm-cocoa repo called ListSwi

[2021-02-25 12:58] brijesh0205 commented on #6973
Same issue here

Exception Type: EXC_BAD_ACCESS

Release Type: User

Realm framework version: 10.5.1

Xcode version: 12.3

iOS/OSX version: 14.3

Crashed: com.apple.root.background-qos

0  Realm                          0x103643fb8 realm::Allocator::translate_less_critical(realm::Allocator::RefTranslation*, unsigned long) const + 68

1  Realm                          0x103594e30 realm::Array::init

[2021-02-25 13:03] arausch commented on #7086
This code fails every time for me.
[Archive.zip](https://github.com/realm/realm-cocoa/files/6043084/Archive.zip)

[2021-02-25 13:06] dianaafanador3 commented on #7086
@arausch, @levelchanger thank you for the code, I hope this will get us closer to reproduce this issue

[2021-02-25 13:09] brijesh0205 commented on #7144
Hello @DominicFrei
I have updated the code in my question, please check and let me know if you need more info

[2021-02-25 13:54] DominicFrei commented on #7124
@bb-git Thank you for submitting this issue. Your assumption might be right.

Maybe the single, large realm cannot be mapped to the new version on old hardware.
One solution would be to bump your minimum deployment target if the old devices can actually not handle your database.

But I'd like to test other ideas first:

Does your schema allow to separate that single realm into multiple realms?
Wou

[2021-02-25 14:02] DominicFrei commented on #7141
@palaniraja Thank you for submitting this issue and preparing a sample project and providing all the information above. 👍

I will have a look into that but I have already talked to our core team abut this:
The encryption should indeed just lead to a marginal increase in disk usage.

[2021-02-25 14:11] DominicFrei commented on #7139
Thanks for letting us know, @saltyskip.

I did create a ticket to include a helper function to make deleting those orphaned objects easier: #7145

I've also noted that an update of the documentation would be a good idea. 👍

[2021-02-25 14:16] bb-git commented on #7124
@DominicFrei Thanks for your reply! I actually already use multiple realms. One for the user inputs and one for a large nutrition database. The last one hold most of the entries (only one model). So I can't split it. What I could do, is delete all entries of this nutrition database before migrating and redownload them, but I don't know how to make this operation happen before migration. Is there a

[2021-02-25 14:53] SecyWecy commented on #7133
@DominicFrei Here is the code around the items property.
The class inheriting for ObservableObject:

[code]

The Item data class:

[code]

[2021-02-25 14:54] SecyWecy commented on #7133
@jsflax Thank you for this timely update.

[2021-02-25 15:49] DominicFrei commented on #7141
Update about the current status of this:
I did see the same results when using the provided code example.

Without encryption:
<img width="1792" alt="no_encryption" src="https://user-images.githubusercontent.com/1942012/109177735-05b1f500-7780-11eb-8040-c48336823996.png">

With encryption:
<img width="1792" alt="with_encryption" src="https://user-images.githubusercontent.com/1942012/109177746-09de

[2021-02-25 16:00] georgesjamous commented on #7018
Today I had the time to bump the realm version to 10.6.0.
Then I ran the application against an existing installation 10.4.0.
The user was already logged in on the device, and there was already data on the device.

This is the updated trace:
[code]

[2021-02-25 16:01] dianaafanador3 commented on #7086
@arausch
I tested your code locally and I don't seem to be able to reproduce the issue.
I copy/paste your code exactly and the only difference is that I use my own MongoDB realm instance.

Do you by any chance async open your realm database before doing any sync operation?

[2021-02-25 16:01] georgesjamous commented on #7018
And this is a trace for a fresh install on a device.

[code]

[2021-02-25 16:09] georgesjamous commented on #7018
As far as I can see, the issue is not reproduced for a new user with new data. That means that all objects were created by 10.0.6

[2021-02-25 16:15] DominicFrei commented on #7141
Update:
I created an example of my own (on the basis of this one) to play around and push it.
Original example (except for SPM instead of Carthage - doesn't change anything) which reproduces the issue:
https://github.com/DominicFrei/Playground/tree/realm-cocoa/issues/7141

My version, where I wanted to check it one by one but simply copying the code into a new project already could not reproduce t

[2021-02-25 18:51] DominicFrei commented on #7141
I did create a new sample project, boiling it down to the minimum amount of code necessary to make sure nothing else leads to the above mentioned result:
https://github.com/DominicFrei/Playground/tree/realm/realm-cocoa/issues/7141

With this example writes within 100MB+ happen within seconds.

Commenting out the encryption (line 22 in `ContentView.swift`) reduces it to just a couple MB.

We have t

[2021-02-25 18:55] arausch commented on #7086
@dianaafanador3, I do use asyncOpen in my app.  Same results.  I was trying to simplify the code as much as possible.

A couple more interesting things I have noticed that prevent the Realm crash:
- Not subscribing to the "foo" publisher
- Not segueing and performing all the code of the second view controller within the first
- Not opening a Realm instance in the first view controller

[2021-02-25 19:13] leocassioo commented on #7142
Thank you very much for your answer, it helped me a lot.
The problem was with a second filter that was applied to the application's business rule.
Where I compared the searched word with the found string.
[code]

[2021-02-25 19:13] #7142 closed

[2021-02-25 20:17] arausch commented on #7086
@dianaafanador3, one more quick observation, if I disable internet access, it does not crash either.

[2021-02-26 01:55] dheeraj-singh511 opened #7146 "Watchdog crash during realm write transaction"
## Goals

OS watchdog is killing app as realm write transaction is taking time during app launch.

## Expected Results

Realm write transaction during app launch should not crash app.

## Actual Results

The stack trace shows , app is performing a realm write transaction during app launch. It seems the transaction is blocking main thread causing the app to crash.

{"app_cohort":"2|date=16140240000

[2021-02-26 02:28] michael-s-wu commented on #7025
@DominicFrei yes, i was able to use modular headers and get it to work that way! everything seems to be working. i'll let you know if there's any other issues. thanks for your help!!

[2021-02-26 02:53] tgoyne commented on #7086
Since this is a use-after-free that only happens when sync stuff is happening, I have a hypothesis that it may be related to that by default sync sessions can outlive the parent `RLMRealm` instance and will continue synchronizing until all local writes have been uploaded to the server. We don't publicly expose the option to disable this, but it is available as a private property on RLMSyncConfigur

[2021-02-26 03:00] levelchanger commented on #7086
@tgoyne Does your hunch make sense given that the problem goes away if all writing occurs on the main thread?

[2021-02-26 05:58] BadalShah commented on #7144
Hi @DominicFrei, could you please help here.
seeing same issue.

[2021-02-26 07:28] brijesh0205 commented on #7144
Hello @DominicFrei, Did you find the reason? I’m still researching, but couldn’t figure it out yet.

[2021-02-26 07:36] brijesh0205 opened #7147 "iOS App crash on Delete transaction"
-->

Exception Type: EXC_BAD_ACCESS

Exception Subtype: KERN_INVALID_ADDRESS 0x00000003d74249bd

Release Type: User

Realm framework version: 10.5.1

Xcode version: 12.3

iOS/OSX version: 14.3

-->

Crashed: com.apple.root.background-qos

0  Realm                          0x103643fb8 realm::Allocator::translate_less_critical(realm::Allocator::RefTranslation*, unsigned long) const + 68

1  Realm

[2021-02-26 07:54] ragu-pth commented on #7088
Is there any way to get help on this issue?

[2021-02-26 11:41] DominicFrei commented on #7141
@ironage and @finnschiermer have provided me with loads of helpful information. 🚀

Here is the summary:
[code]

I've done some more testing on that:
[code]

The results match that statement:
[code]

Also:
[code]

@palaniraja Does that answer all your questions?

[2021-02-26 12:12] DominicFrei commented on #7146
@dheeraj-singh511 Thank you for submitting this issue.

Can you show us a bit more about your start up? Especially what you do with your Realm?
Is there data synchronised in the beginning? Is this happening due to a migration? Is there something else that causes a write transaction?

Maybe you can even provide a code sample / repository that reproduces this (even if it's just random)?

[2021-02-26 12:16] DominicFrei commented on #7147
@brijesh0205 Thank you for submitting this crash report.

Can you provide a little more info on what happens here (specifically the delete transaction you're talking about would be interesting)?
Maybe a code example of the code you're trying to execute? A repository that reproduces this error?

[2021-02-26 12:38] DominicFrei commented on #7124
@bb-git You mean something like a pre-migration-block?
When you open the app with the new version of the framework, the old one does not exist anymore.
As soon as you try to open the new realm the migration happens. You can apply changes within the migration block but not before.

Therefore I'd like to look at your problem a bit more again:
I tried to reproduce your issue with an iPhone SE (which

[2021-02-26 12:40] DominicFrei commented on #7133
@SecyWecy Did the information provided by Jason solve your problem? Please let me know if there are unanswered questions.

[2021-02-26 12:44] DominicFrei commented on #7142
@leocassioo Glad I could help. And thank you for letting us know what the actual problem was! :)

@samuelgambs Does this also solve your problem?

[2021-02-26 12:45] DominicFrei commented on #7025
@michael-s-wu Glad I could help. Going to close this issue for now. If it turns out it's not solved please let me know and I'll re-open it. 👍

[2021-02-26 12:45] #7025 closed

[2021-02-26 12:52] jsflax commented on #7144
@brijesh0205 are you using sync / MongoDB Realm?

[2021-02-26 13:06] DominicFrei commented on #7134
@ananfang I could not reproduce this. Hence I want to try and understand your code better.
Can you maybe show some example code here? I'd like to understand better what exactly you are doing.

And where exactly the crash happens:
In `Actual Results` you say the crash happens on `realm.write`.
In `Steps for others to Reproduce` you say the crash happens on `watch()`.

Also, you can maybe show us th

[2021-02-26 13:08] DominicFrei commented on #7060
The [relevant core changes](https://github.com/realm/realm-core/pull/4414) have been released with [Realm Cocoa 10.7.0](https://github.com/realm/realm-cocoa/tree/v10.7.0).

[2021-02-26 13:08] #7060 closed

[2021-02-26 13:20] DominicFrei opened #7148 "Tests for new embeddedness migration"
The fix for #7060 was released by [10.7.0](https://github.com/realm/realm-cocoa/tree/v10.7.0) by integrating [the core changes](https://github.com/realm/realm-core/pull/4414) necessary.

This ticket is to add tests for this feature on the ObjC/Swift side.

[2021-02-26 13:57] #7148 closed

[2021-02-26 15:08] dianaafanador3 commented on #7116
Closing this after the user cannot reproduce the issue any more.

[2021-02-26 15:08] #7116 closed

[2021-02-26 16:04] starletsky opened #7149 "Property Wrapper for String Enum"
## Goals
I'm trying to write Property Wrapper for String Enum

## Expected Results
Realm should save wrappedValue from Property Wrapper as basic Realm property

## Actual Results
Property Wrapper work as expected, but Realm doesn't save it's wrappedValue

## Code Sample
[code]
When passing filled model into write transaction to save model into Realm DB, wrapped property contains both wrapped and p

[2021-02-26 16:17] pridees opened #7150 "Using Multiple @ObervedResult with different realm configurations"
Hi guys!

It's good idea is hiding whole crud logic under the hood of property wrappers. 👏

I have faced with issue where I what to use couple of entities which have different realms in single View and I got the app termination because EnvironmentValue is providing an only one realm configuration.

https://github.com/realm/realm-cocoa/blob/f0af9a11038c44d0de3aac11ba6b7e27d7432660/RealmSwift/SwiftU

[2021-02-26 16:19] r-plus opened #7151 "Could not build arm64 contains xcframework for iOS simulator by Carthage."
Carthage built xcframework for realm will not contains arm64 slice for ios simulator, thus I could not build my project for ios simulator on M1 mac.

## Goals
`carthage bootstrap --platform iOS --use-xcframeworks --no-use-binaries realm-cocoa`
command will compile arm64, i386 and x86_64 contains xcframework for ios simulator.

## Expected Results
built xcframework contains `ios-arm64_i386_x86_64-s

[2021-02-26 16:37] jsflax commented on #7150
Hmm, thanks for bringing this up.

In its current state, `@ObservedResults` can only handle one configuration per View. Mixing and matching within the same view isn't currently supported– it will default to the Environment configuration.

I can file a PR to enable this behaviour as this use case could _probably_ be considered broken.

In the meantime, having separate Views for your Results is the

[2021-02-26 17:38] SecyWecy commented on #7133
@DominicFrei
Yes, the information provided by @jsflax  solved  my problem. Thank yay

[2021-02-26 17:38] SecyWecy commented on #7133
@DominicFrei
Yes, the information provided by @jsflax  solved  my problem. Thank you

[2021-02-26 17:38] #7133 closed

[2021-02-26 19:54] denis-obukhov commented on #4818
How this will help if the exception is triggered within `self.observe` method which will be in the write transaction anyway? The entire `self.observe` should be wrapped with the async call if needed

[2021-02-26 21:04] outsourcestudio commented on #7147
Same issue in Xcode 12.4
It worked fine in previous versions.

let realm = try! Realm()

DispatchQueue.main.async {
    try! self.realm.write {
        self.realm.delete(array_to_delete)
    }
}

[2021-02-26 21:11] outsourcestudio commented on #7147
(https://user-images.githubusercontent.com/31660852/109355491-f28a4c80-7887-11eb-96a1-186ab372697f.png)

[2021-02-26 21:40] tgoyne commented on #5491
This was implemented in 10.7.0.

[2021-02-26 21:40] #5491 closed

[2021-02-27 04:11] BadalShah commented on #6973
We are also seeing the same crash. Using the realm version 10.5.2.
Did anyone find the reason of this crash?
Not seeing much support.
@pavel-ship-it any help here please?
App is crashing for many users after we updated the realm version from 3.3 to 10.5.2

[2021-02-27 04:55] brijesh0205 commented on #7144
I am not sure about sync / MongoDB Realm but i am using through cococapods below are the line in my pod file-
pod 'RealmSwift', '~> 10.5.1'
pod 'Realm', '~> 10.5.1'

[2021-02-27 09:39] f3n1kc commented on #6763
Getting similar crash on version 5.4.8:
- not using encryption
- realm file is kept in shared group directory
- from firebase logs it seems to happens only after app enters background
- we use timer to call function via #selector. Inside function we try to load Realm object using its primary key
- crashes on iOS 12 - 14

0  Realm                          0x1018ee1ec realm::util::EncryptedFileMappi

[2021-02-27 17:16] Kotovskyart commented on #7150
Thank you @jsflax for fast answer!

In my case I should get some data from  different realms to calculate them and set to view. E.g. I have some transactions which different people made in thier own partitions. And then they want to share this transactions between each other (I append new partition to canRead/canWrite list) and review in single list as if it’s own transactions with common filterin

[2021-02-27 20:24] sipersso commented on #7145
This helper function would be super helpful. I am pretty sure that there might be orphaned objects laying around for my app and wouldn't want it to crash in production because of this.

I am pretty sure I might have orphaned objects for some users.

[2021-02-27 20:56] outsourcestudio commented on #7147
Same issue with 10.7.0 Realm version

[2021-02-28 11:16] iandundas opened #7152 "Xcode 12.5 beta 1+2: Sync times out in iOS Simulator"
## Goals
I want to login to Realm Sync from the iOS Simulator

## Expected Results
Successfully login

## Actual Results
Persistently get a timeout, on two different laptops. **Only** with Xcode 12.5 beta 1+2. (Xcode 12.4 is fine).

## Steps for others to Reproduce
- Create a simple iOS Realm Sync project (simple reproducible project: https://github.com/iandundas/RealmSync_SimulatorIssue)
- Run th

[2021-02-28 11:16] alexanderwe opened #7153 "Realm used inside background thread throwing 'Realm accessed from incorrect thread.'"
## Goals
This issue is related to #6756 as I want to observe realm results on a background queue using the new combine publishers released in v5.0 and then map them to independent UI models

## Expected Results
Observe Realm Results on a background thread, freeze results, map them to some independent non Realm models and receive the result on the main thread

## Actual Results
[code]

Stacktrace:

[2021-02-28 19:35] DHaacke commented on #7113
Same issue here with 10.7.0 as of Feb 28

[2021-03-01 06:12] BadalShah commented on #6908
Did anyone found any solution for these crashes?
We are also facing similar issues. so many crashes after upgrading the realm library to 10.5.2
@leemaguire @finnschiermer can you please help?

[2021-03-01 07:31] bb-git commented on #7124
@DominicFrei I managed to get a crash log from my colleague, so it seems, that the app is terminated due to reaching the max time allowance. So I guess, there is not a lot to fix there :(.
`Exception Type:  EXC_CRASH (SIGKILL)
Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPSE_NOTIFY
Termination Reason: Namespace SPRINGBOARD, Code 0x8badf00d
Termination Description

[2021-03-01 10:10] leemaguire commented on #6908
@BadalShah Can you open and fill out a new issue so we can take a look?

[2021-03-01 10:13] BadalShah commented on #6908
@leemaguire, my colleague has already created the new issue - https://github.com/realm/realm-cocoa/issues/7144
Can you please take a look?

[2021-03-01 10:20] leemaguire commented on #7144
Is this consistency crashing? If so could you please upload a sample app that shows us the issue? Also as you are writing on the background thread maybe it's possible the transaction is happening when the device is locked / in the background, would you be able to confirm that theory? Another thing is that you are using the global system queue, does this issue persist if you create your own serial

[2021-03-01 10:51] brijesh0205 commented on #7144
@leemaguire

While I try to make a sample with the issue and share with you, here is the answers you have asked apart from this

- it's possible the transaction is happening when the device is locked / in the background
Answer: Yes our app does most the database operation while app is in background, so there are possible chances when device will be locked during database transactions

- Another th

[2021-03-01 10:59] leemaguire commented on #7144
You can see our docs on threading here https://docs.mongodb.com/realm-legacy/docs/swift/latest/index.html#threading
One thing to note is that as you are using the global queue with background priority you do not have any control as to when the write will happen, this goes for all queues, but your write will be of lesser priority with your currently declared queue.

For all things related to writes

[2021-03-01 11:43] DominicFrei commented on #7147
I've just seen there is more information in #7144 which is a duplicate of this one. Closing out this one in favour of the other thread. 👍

[2021-03-01 11:43] #7147 closed

[2021-03-01 11:56] DominicFrei commented on #7124
@bb-git Unfortunately yes. Realm is a very efficient and performance oriented database but depending on the size and complexity of your database some old devices (while still supported due to the fact that they support one of the iOS version we support) might not be able to handle that anymore. As shown above, creating 1,500,000 entries at the same time is simply too much for the RAM in my iPhone

[2021-03-01 12:05] pavel-ship-it commented on #7153
Hi @alexanderwe ,
I assume `dbInstance` is a `Realm` object. In this case it could be a problem of initialization.

In `observeCollectionChanges`
[code]

[2021-03-01 12:25] dianaafanador3 commented on #7086
@levelchanger have you been able to test @tgoyne suggestion?

[2021-03-01 12:38] alexanderwe commented on #7153
Hi @pavel-ship-it,

You are right, `dbInstance` is a Realm object which is a computed property that basically runs:

[code]

I just tried out with the following code, to explicitly specify the queue:

[code]

This seems to work. Also with freezing the Realm objects and receiving them on the main queue downstream without running into the `Count underflow exception`.

I originally thought upon enter

[2021-03-01 12:47] pavel-ship-it commented on #7153
Yes, to confine the Realm to the specific queue you have to specify it.

[2021-03-01 15:45] alexanderwe commented on #7153
@pavel-ship-it I see, thanks for the clarification. Then it seems it was rather a mistake by myself than Realm being wrong. Thanks a lot for your patient and explanations !

[2021-03-01 15:45] #7153 closed

[2021-03-01 16:19] pavel-ship-it commented on #7151
Hi @r-plus,
There is an issue with Carthage and Xcode 12+ - in two words - it can't build arm64 for iOS and M1 (or Simulator in this case) at same time. Please refer to the workaround described in Carthage docs - https://github.com/Carthage/Carthage#building-platform-specific-framework-bundles-default-for-xcode-11-and-below