[2021-09-23 10:36] dianaafanador3 commented on #7450
Hi @michalrentka Can you share your old and new schema, and what you doing on this method `migrateLinkedChildren`. Looking at the stack trace seems like there is no objectSchema properties at the time of using the `safeGet`.

[2021-09-23 10:42] timstudt commented on #7444
thanks for clarifying. in this case support for runloop schedulers is not needed

[2021-09-23 10:44] dianaafanador3 commented on #7447
@cmonsour After reopening the App, you are getting data updates from remote.
The issue is happening only after the first login or first use?

[2021-09-23 10:46] dianaafanador3 commented on #7444
@timstudt I proceed to close the issue, as @tgoyne comments seems to be answering your question.

[2021-09-23 11:19] timstudt commented on #7444
@tgoyne  Damn just closed it. but it was the `Combine.Publisher.subscribe(on:)` operator that causes fatal error. not Realms custom `Value.subscribe(on:)` .

is that a bug?

see:
[code]

[2021-09-23 12:24] michalrentka commented on #7450
@dianaafanador3 thanks for your response.

I have multiple objects with different properties which had the same structure:
[code]

migrated to

[code]

Here's an actual example:

[code]

The migration function looks like this:
[code]

For above objects this is called: `self.migrateLinkedChildren(ofType: RItemField.className(), parentType: RItem.className(), oldLinkPropertyName: "item", newListProp

[2021-09-23 12:43] dianaafanador3 commented on #7412
HI @bdkjones have you been able to make this work in a simpler way?, Is the extension initialiser helpful for your use case?

[2021-09-23 13:49] FitzAfful commented on #6690
Did you guys manage to fix it? How did you do it? Im currently facing the same problems with version 10.15.1

`autoreleasepool {
                do {
                    let realm = AppRealm.open()
                    try! realm.safeWrite({
                        realm.add(data, update: .modified)
                    })
                }
            }`

[2021-09-23 13:52] cmonsour commented on #7447
It's not a problem of getting data updates from remote. I can tell that I am getting updates because I have a "print count" button that prints a count of objects from the @ObservedResults variable, and when I click the button, an accurate count is printed. The problem is that the SwiftUI View is not updating from the @ObservedResults wrapper.

In other words, when I click a button to add an entry,

[2021-09-23 13:52] jsflax commented on #7447
I have a fix for this on a local branch that I will be opening a PR for in the coming days.

[2021-09-23 14:20] dianaafanador3 commented on #7316
Closing this as there is no response from the user and realm/realm-core#4816 may help improving issue with notification listeners. If you keep having issue we will reopen the issue.

[2021-09-23 14:20] #7316 closed

[2021-09-23 14:27] bmunkholm commented on #6690
@igorvoytovich @FitzAfful Please post new issues with all your details, and feel free to reference this one. "mmap() failed" can happen for multiple reasons - one being you are actually just out of memory... So it's important to look at the details of your particular issue.

[2021-09-23 14:38] dianaafanador3 commented on #7349
@dante-teo Any updates on this, Have you managed to solve this?

[2021-09-23 14:58] dianaafanador3 commented on #7106
Closing this as there is no answer from the user.
In addition to the suggestion below, if you are using SwiftUI you can use our new property wrapper `AsyncOpen`, you can find an article on how to use it here https://www.mongodb.com/developer/how-to/realm-asyncopen-autoopen/.

[2021-09-23 14:58] #7106 closed

[2021-09-23 15:29] dianaafanador3 commented on #7343
@ksiwei Any updates on this?

[2021-09-23 15:39] dianaafanador3 commented on #7331
Hi @zhangcx627 Could you provide us with the info @leemaguire asked, it may help identify the issue

[2021-09-23 15:52] dianaafanador3 commented on #7395
Are you been able to export the stacktrace from Firebase, It may help identify where the problem is originated

[2021-09-23 16:23] tgoyne commented on #7444
`.subscribe(on:)` only makes sense as the first step in a Combine pipeline. Calling it multiple times does strange things which are unlikely to ever be what you want. `.deliver(on:)` is most likely what you actually want for making the `.sink()` block be called on a specific queue. The Realm-specific bit is that you need to do `.threadSafeReference().deliver(on:)` if the current value of the pipel

[2021-09-23 16:51] bdkjones commented on #7412
@dianaafanador3 Nope. Because of #7413, I can't sort Realm's data the way I need to sort it anyway, so this issue is a moot point right now.

[2021-09-23 17:20] dianaafanador3 commented on #7164
@ragu-pdx Any updates on this issue, Have you contacted @ianpward regarding your issue?

[2021-09-23 17:25] dianaafanador3 commented on #7396
@HonQii did you try @ericjordanmossman suggestion?

[2021-09-23 18:00] winstondu commented on #7449
@tgoyne , but is there a guarantee that at most one change notification is fired for each write transaction (no matter how many times the object being observed is modified in the transaction)?

[2021-09-23 18:15] #7445 closed

[2021-09-23 19:58] timstudt commented on #7444
Ok, thanks. I think I can work with that.

[2021-09-23 19:58] #7444 closed

[2021-09-23 20:10] dianaafanador3 commented on #4490
Hi @rouuuge Can you give explain a little bit in detail your use case?. If it is not related to supporting a synchronised realm in app group container, please create a new issue.

[2021-09-23 20:45] rouuuge commented on #4490
sorry just could solved it. I had to login on my app intent with the credentials I shared from the mainapp. so my use case is solved.

[2021-09-23 20:53] dianaafanador3 commented on #7313
@dcacenabes I think what @leemaguire is trying to ask is if you have tried to built the XCFramework with the REALM_BUILD_LIBRARY_FOR_DISTRIBUTION flag with the latest Xcode release (Xcode 13 as today).

[2021-09-23 20:59] tgoyne commented on #7438
Manually deleting the keychain entry may work around whatever's wrong, which can be done by opening Keychain Access, searching for "Realm Sync Metadata Key" and deleting all of the matching things (it'll probably be just one). A more extreme workaround would be to set the `REALM_DISABLE_METADATA_ENCRYPTION` environment variable to any non-empty value, which will result in us not touching the keych

[2021-09-23 21:00] dianaafanador3 commented on #7330
@Baumchen Any updates on this issue?, Did you take a look at the comment below, it may explain why the issue is happening.

[2021-09-23 21:00] tgoyne commented on #7449
Yes, at most one notification is sent per write transaction committed.

[2021-09-23 21:08] tgoyne commented on #7450
Does `migration.oldSchema[type].properties.contains { $0.name == key }` work? It should be exactly equivalent, but I notice we have tests for that but don't actually have any which try to read the objectSchema off a MigrationObject inside a migration from Swift.

[2021-09-24 05:45] ksiwei commented on #7343
We found a workaround to this. Still not sure what happened. Will close the issue for now. Thanks for all the tips.

[2021-09-24 05:45] #7343 closed

[2021-09-24 11:25] michalrentka commented on #7450
Thanks for the suggestion @tgoyne. Unfortunately I can't reproduce this myself, so I'll try pushing this to testers and see whether I still get crash reports of this. I'll update you on my findings!

[2021-09-24 16:02] jonathan-opuscope opened #7453 "Sync realm Result.observe is not fired by remote change but on next write"
### How frequently does the bug occur?

All the time

### Description

Using the tutorial task tracker app, the expected sync behavior (which is observed on the .NET and Android tutorial apps) is that when i make a change to a task in the backend the observe callback is called immediately on the client iOS SDK Results<Task>

What actually happens is that the observe callback is not called immediat

[2021-09-24 17:23] shivasai0802 opened #7454 "Upgrading the realm version from RealmSwift (~> 10.1) to RealmSwift (~> 10.11)/(~> 10.12), failing to save the object."
### How frequently does the bug occur?

All the time

### Description

We have launched the application with  RealmSwift (~> 10.1) and after upgrading to RealmSwift (~> 10.11)/(~> 10.12), saving the object fails, this only happening in App Store build, not even able to reproduce in Adhoc builds

The changes we made  are updating the Object with new values and updated the Schema in Database configu

[2021-09-24 20:37] tgoyne commented on #7454
What does "saving the object fails" and "realm initialization is failing without an exception" mean?

[2021-09-24 21:09] shivasai0802 commented on #7454
i mean try! realm.write  { realm.add(object) } - these are failing

[2021-09-24 21:12] tgoyne commented on #7454
How are they failing? Is try! aborting your app because an error was thrown? If so, what is the error?

[2021-09-24 21:28] tgoyne commented on #7453
I can reproduce this in the tutorial app, but when I try to reduce it to a test case it works.

[2021-09-24 21:29] jsflax commented on #7453
This is fixed by https://github.com/realm/realm-cocoa/pull/7455.

[2021-09-24 21:30] tgoyne commented on #7453
#7455 does not do anything related to this. The tutorial app isn't using SwiftUI.

[2021-09-24 21:33] jsflax commented on #7453
Apologies, I confused this issue with #7447.

[2021-09-24 21:34] tgoyne commented on #7453
#7447 is also probably the same root cause and not anything swiftui-related.

[2021-09-24 21:37] jsflax commented on #7453
Realising that now— though the Smalltalk app does work, so my fix must be a red herring.

[2021-09-24 21:50] tgoyne commented on #7453
I've successfully reproduced this in a reduced test case now. It's a race condition in asyncOpen and so only happens when that is used.

[2021-09-24 23:14] anton-plebanovich commented on #7453
In my case, the issue is that observation on the background thread fires only after forced `realm.refresh()` or on local changes. Example project - https://github.com/anton-plebanovich/SingleView/tree/327674397f998a1d668c56afd6322d4409f5f9d8

[2021-09-24 23:19] anton-plebanovich commented on #7453
It doesn't work for both
`jf/smalltalk` - https://github.com/anton-plebanovich/SingleView/tree/327674397f998a1d668c56afd6322d4409f5f9d8
`tg/sync-notifications` - https://github.com/anton-plebanovich/SingleView/tree/7a7180ef60acb8e66429bb185c1ee93866fb74bc

[2021-09-24 23:28] anton-plebanovich commented on #7453
Actually, it doesn't work even if I pass `DispatchQueue.main` for a `callbackQueue`.

[2021-09-25 19:20] anton-plebanovich commented on #7453
Not reproducible on version `v10.14.0` and introduced in version `v10.15.0`.

[2021-09-27 00:04] johnswifttt opened #7457 "Crash on update (Error Domain=io.realm Code=6)"
### How frequently does the bug occur?

All the time

### Description

I have an app in the App Store that has Realm. For a new app version, I updated Realm to latest with Swift Package Manager. This causes a crash when opening app after updating.

Does this mean I should not update to the latest Realm? I can't delete the old Realm database because that contains user data.

Here is a picture of cr

[2021-09-27 01:19] jumilla commented on #7453
The cause seems to be Realm Core

https://github.com/realm/realm-core/issues/4909

[2021-09-27 08:33] bioche commented on #6898
While Realm team is sorting this out, I created a repo based on @philprime idea : https://github.com/bioche/RealmBinaries
It stores xcframeworks in the release note for XCode 12.5.1 & XCode 13.0. You just have to reference RealmBinaries in the Package.swift like so (the tags will match Realm tags) :
[code]

[2021-09-27 12:44] lsmilek1 commented on #7431
Is there any workaround for this? Do you plan any build in feature to overcome this?

Due to swift "async infection" through the code there is currently not much space for having async/await in the code together with Realm.

[2021-09-28 00:19] normprojects commented on #7157
Same issue here... Is there anyone found a solution to this?

[2021-09-28 06:23] omokagbo commented on #7157
Installing Realm via SPM kinda took care of the issue for me

[2021-09-28 09:29] dianaafanador3 commented on #7446
@ravikirankhareedi closing this as there is no issue in our side.

[2021-09-28 09:29] #7446 closed

[2021-09-28 09:43] dianaafanador3 commented on #7457
Are you upgrading from Realm version 5.5.2 to our latest release 10.5.1?

[2021-09-28 10:03] zcohan commented on #7438
Thanks Thomas. I don't think that theory is correct, as this version of my app is the first that connects to MongoDB Realm Sync, so there shouldn't be a keychain entry from a previous version.

One of my customeI experienced an error in another Mac OS application, which produced the following logs:

Following these instructions  (https://help.queens.edu/hc/en-us/articles/205937040-How-to-Resolve-M

[2021-09-28 13:25] FitzAfful opened #7458 "mmap() failed: Cannot allocate memory size: 26165248 offset: 67108864"
### How frequently does the bug occur?

All the time

### Description

I save models in my tvOS application using the following code.

I have a singleton to operate Realm and an open method that all other methods use like this:

[code]
And then I save my models (up to a 1000 models) through the method below:

[code]

Realm crashes with this bug after 2 (sometimes 3) hours with a mmap() failed: Can

[2021-09-28 15:42] tgoyne commented on #7438
Yeah, we definitely should be properly returning the error to the caller and if nothing else that part is a bug.

[2021-09-28 18:02] fatemehmarzoughi commented on #7312
Does it only happen for simulators?
because I cant test it on real device.

[2021-09-29 08:31] kishore94 opened #7459 "toDictionary method not found after updation to realm 5.5.2"
### How frequently does the bug occur?

All the time

### Description

I have updated realm framework for my old project from 3 serious to 5.5.2 and then I found that toDictionary method is missing , is it removed and need to handle from my end or any alternative present ?

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response

[2021-09-29 08:57] michalrentka commented on #7450
@tgoyne I've got an update. The number of crashes definitely seems to have decreased. Though now I have a slightly different crash while accessing property name:
[code]

Just to be complete, the `safeGet` function changed to:
[code]

Example call of given function: `old?.safeGet(key: oldLinkPropertyName, in: migration.oldSchema[type])`

----

Then there's another interesting crash. Even when all c

[2021-09-29 11:04] wassupdoc commented on #7312
I also get this error when upgrading my database on our iOS app - "Custom Contacts" - happens both on simulator and device.  Below is the error message I get.
Currently on Realm 5.5.2 via Swift Package manager
Xcode - Version 13.0 (13A233)
iOS Simulator Version 15.0

2021-09-29 06:49:28.132761-0400 CContacts[74140:580715] Version 10.15.1 of Realm is now available: https://github.com/realm/realm-co

[2021-09-29 18:45] maciaspeter opened #7460 "'Identifiable' is only available in application extensions for iOS 13 or newer"
The error message is 'Identifiable' is only available in application extensions for iOS 13 or newer
The issue is coming from Combine. I don't use it and my app is at 11.2 IOS version. I am switching to a new laptop from old laptop and got this error.

I tried doing this below but didn't work.
  pod 'RealmSwift', '~>10'

the original is   pod 'RealmSwift'
didn't work either.

Here's my pod file -
[

[2021-09-29 18:48] maciaspeter commented on #7460
The error message is coming from -

`public protocol ObjectKeyIdentifiable: Identifiable, ObjectBase {`

[2021-09-29 19:11] #7447 closed

[2021-09-29 19:11] #7453 closed

[2021-09-29 19:28] tgoyne commented on #7450
Both of those smell like some sort of use-after-free where we're somehow using a deallocated schema object. The first would make sense if the Property is wrapping a deallocated RLMProperty, getting garbage when it reads the name property, then crashing when it tries to convert that garbage to a Swift string. The second is a little less direct, but RLMDynamicGet internally switches on the property

[2021-09-29 22:37] johnswifttt commented on #7457
This seems to work for me now. When I switched from Cocoapods to SPM, I accidentally chose major version `5`. The problem is that SPM defaults to this instead of the latest major version which is `10`.

Your question helped @dianaafanador3 thank you!

[2021-09-30 02:45] tgoyne commented on #7460
This sounds like you are trying to use an old version of Realm. You made need to run `pod repo update` and then `pod update` to ensure you are using the latest version.

[2021-09-30 07:01] kingnight opened #7461 "v5.5.2 RealmCocoa needs to be built with Xcode 13"
### Problem

`Module compiled with Swift 5.4 cannot be imported by the Swift 5.5 compiler:........../RealmSwift.framework/Modules/RealmSwift.swiftmodule/x86_64-apple-ios-simulator.swiftmodule`

v5.5.2 RealmCocoa needs to be built with Xcode 13

### Solution

_No response_

### How important is this improvement for you?

Would be a major improvement

[2021-09-30 08:35] #7457 closed

[2021-09-30 13:41] maciaspeter commented on #7460
it worked, thanks!

[2021-09-30 13:41] #7460 closed

[2021-09-30 15:52] AdrenalineAMP commented on #7461
I'm also dealing with a similar issue. I'm using RealmSwift with ObjectMapper [https://github.com/tristanhimmelman/ObjectMapper](url) as the class 'Map' is present in both frameworks so I'm getting an ambiguous reference error.

[2021-09-30 21:32] francisli opened #7462 "Crash on iOS 12.5.5"
### How frequently does the bug occur?

All the time

### Description

My app which has a deployment target of 12.5 (originally 12.4, but then latest RealmSwift required 12.5) is now crashing with Realm/RealmSwift 10.16.0, after upgrading from 10.7.6 and building in the latest Xcode 13. It seems to be related to dynamic library loading from Realm. Here's the crash log excerpt:

[code]

### Stacktr

[2021-10-01 10:22] bmunkholm commented on #7390
Fixed in https://github.com/realm/realm-cocoa/pull/7424

[2021-10-01 10:22] #7390 closed

[2021-10-01 22:03] chkpnt commented on #6898
I can confirm @bioche's repo works like a charm. 👍 Looking forward for the integration in the official releases. :-)

[2021-10-03 15:15] raphaels17 commented on #7458
same hre xcode version. App of customer are crashing and I cannot open realm file when I export them

[2021-10-04 09:46] sync-by-unito[bot] opened #7463 "Realm Configuration on ObservedResults is still broken."
When you use `@ObservedResults` on a SwiftUI View and change the schema on the next run, any configuration passed into the constructor of `@ObservedResults` will be ignored. The current workaround is to set the config via an environment value on the enclosing parent view. We need to make it so that this workaround is not required.

[https://stackoverflow.com/questions/69425715/dismissing-swiftui-s

[2021-10-04 10:00] leemaguire commented on #7462
@francisli we support iOS 9+ for installing Realm Swift with Cocoapods. So I'm unsure why you needed to bump your deployment target. Could you do a full clean + delete derived data and see if that helps?

[2021-10-04 10:05] leemaguire commented on #7461
We currently have no plans to backport releases with Xcode 13. You will need to build the 5.5.2 release manually if you need Xcode 13 support. I would suggest upgrading to the latest version of Realm.

[2021-10-04 10:14] leemaguire commented on #7459
Hi @kishore94 You will need to handle this logic yourself. You can have your Realm Objects conform to `Codable` is that helps.

[2021-10-04 10:22] leemaguire commented on #7458
@FitzAfful are you holding onto references of the objects you are adding to the Realm? Doing this will lead to file size issues as each transaction will create a realm version. If you want to track down where you are holding onto versions of the Realm set `maximumNumberOfActiveVersions` in your Realm Configuration.

[2021-10-04 11:21] leemaguire commented on #7435
@HovhannesPoghosyan it would be worth changing the logic inside of `setSkin` to not check if the realm is already in a write transaction. What does `realm.updateProperty` look like? unless you are facing issues with multithreading _or_ you are calling `beginWrite` manually you should never need to implement this logic.

[2021-10-04 15:07] misterlib commented on #7463
Jumping in here since this was my post from SO.

I have added this environment config on my ContentView() and then tried to add it directly to the parent view before the sheet is displayed.

When the sheet is dismissed, it still crashes.

This workaround may work for ObservedResults in general, but it doesn't seem to help in .sheet or .fullScreenCover.

Is it a requirement to also add this config

[2021-10-04 16:33] francisli commented on #7462
@leemaguire hmm, sorry, yes, the deployment target issue was a transitory issue and I've been able to drop it back down to 12.4, which allows me to run my app in the iOS simulator again for 12, but I'm still getting a crash. Here's the crash from the simulator:

[code]

And the break is in RLMScema.m:267:

[code]

[2021-10-04 18:07] Zeropointer11 opened #7465 "Cannot inherit from class 'Object' because it has overridable members that could not be loaded"
### How frequently does the bug occur?

All the time

### Description

Xcode: 13.0 (13A233)
CocoaPod  Version: 1.11.2
Realm Version: 10.16.0

I have setuped an new Project with Xcode 13 and add Realm with Cocoa Pods. When i would Create an RealmSwift Object i get the following Errors:
1: Cannot inherit from class 'Object' because it has overridable members that could not be loaded
2: Unknown attri

[2021-10-04 21:50] romanrudyy opened #7466 "Started experiencing SIGKILL crashes very frequently after iOS 15 launch"
### How frequently does the bug occur?

Sometimes

### Description

We're having a ton of crash reports appearing after iOS 15 release that have not been present before. All of them are SIGKILL crashes and stack traces have nothing nut realm activity. Is this something that is a known issue?

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, sometimes

### Reproduction Step

[2021-10-05 00:25] romanrudyy commented on #7466
Could that be due to us using the ancient 10.7.6 version?

[2021-10-05 01:09] hijamoya opened #7467 "SIGABRT in realm::Array::blob_size()"
### How frequently does the bug occur?

Sometimes

### Description

Crash when write data to Realm.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

version: 10.12.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

### Platform OS and version(s)

iOS/

[2021-10-05 02:43] eguchi-t opened #7468 "Could not find module 'RealmSwift' for target 'arm64-apple-ios-simulator';"
### How frequently does the bug occur?

All the time

### Description

In Xcode13, when I install and build with carthage, I get the following error.

The Mac is an M1 Mac mini.
carthage has been run with the following commands and exited successfully.

[code]

It was fine in Xcode12.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No res

[2021-10-05 09:13] leemaguire commented on #7467
Hi @hijamoya could you please provide us with more stack traces, context on how you are using Realm and some code samples. We cannot help you with the information you provided.

[2021-10-05 10:05] leemaguire commented on #7436
As long as the you do not hold onto the object that is passed into `write` a version should not be pinned. Using `autoreleasepool` is not going to do much here other than clean up the Realm at the end of the `write` scope.

[2021-10-05 11:51] HovhannesPoghosyan commented on #7435
@leemaguire  here is my update property, and don't get what logic should i change

import RealmSwift

extension Realm {
    func updateProperty(completion: () -> Void) {
        try! write { completion() }
    }
}

[2021-10-05 12:55] leemaguire commented on #7435
Could you try:

[code]

[2021-10-05 15:39] Sam-Davis commented on #7468
We can replicate this on xcdode 12.5.1 with Carthage 0.38.0 and an M1 chip.
Works on same versions, but without the M1 chip.

[2021-10-06 02:03] hijamoya commented on #7467
This is how we write data:
[code]

[2021-10-06 07:57] HovhannesPoghosyan commented on #7435
sorry @leemaguire i don't think that this is the thread issue and realm.write will fix everything

[2021-10-06 09:15] leemaguire commented on #7465
Hi @Zeropointer11 I cannot reproduce your issue. Are you opening the project from workspace Cocoapods creates?

[2021-10-06 09:17] leemaguire commented on #7115
@lidorgotech were you able to solve your issue?

[2021-10-06 11:12] #7468 closed

[2021-10-06 11:17] dianaafanador3 commented on #7417
@ElegyD do you have any code which would help us to reproduce this issue?

[2021-10-06 11:46] Zeropointer11 commented on #7465
@leemaguire yes i have opend the project with the workspace file from cocoapods.

I have reinstalled xCode 12 and run the Project with it after that it also worked with xCode 13 dont know why

[2021-10-06 11:46] #7465 closed

[2021-10-06 13:03] ElegyD commented on #7417
Unfortunately, I have no idea where exactly it crashes. I've released an update to my app which:
- bumped the Realm version from 5.4.0 to 10.14.0
- migrated all `let` and `@objc dynamic var` to `@Persisted var`
- added a property to a model
- increased the schema version

It also seems to only happen on some users.

[2021-10-06 13:21] dianaafanador3 commented on #7468
@Sam-Davis @eguchi-t If you can use this branch as a workaround https://github.com/realm/realm-cocoa/pull/7158

[2021-10-06 17:24] zcohan opened #7472 "Account deletion API"
### Problem

As of January 31, Apple will be requiring all apps that offer account creation to also offer account deletion:
https://developer.apple.com/news/?id=mdkbobfo

This will likely affect all apps that use the Realm Sync authentication API.

### Solution

Offer an API that would allow a logged-in user to request deletion of their Realm Sync account in the SDK. This method would implicitly s

[2021-10-07 02:20] kyungho-kim opened #7474 "SSL/TLS protocol not supported"
### How frequently does the bug occur?

All the time

### Description

When I run the macOS app in Xcode 13, the app is terminated. Run in an iOS simulator, it works normally.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Run macOS app on Xcode 13

### Version

10.17.0

### What SDK flavour are you using?

MongoDB Realm (i.e. Sync, auth,

[2021-10-07 14:41] ahmedsafadii opened #7475 "Object has been deleted or invalidated."
### How frequently does the bug occur?

All the time

### Description

After I stop recording the audio I expect the asset to be returned but instead, I keep getting Object has been deleted or invalidated.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

[code]

if didCancelRecord call, I do and it's working fine

[code]

now if I want to s

[2021-10-08 00:39] romanrudyy commented on #7466
Thanks for responding  @leemaguire ! We have updated to 10.16, but the crashes seem to keep happening. I'm not fully sure the crashing is caused by Realm, but it seems like a suspect! Thanks!

[Riot  07.10.2021, 23-04.crash.zip](https://github.com/realm/realm-cocoa/files/7307632/Riot.07.10.2021.23-04.crash.zip)

[Riot  07.10.2021, 17-23.crash.zip](https://github.com/realm/realm-cocoa/files/7307633

[2021-10-08 09:16] leemaguire commented on #7347
Hi @bdkjones to help us get to the root of the issue quickly, could you provide us with a sandbox app that replicates the crash? Thanks

[2021-10-08 09:31] leemaguire commented on #7474
@kyungho-kim is this a Catalyst app?

[2021-10-08 09:34] kyungho-kim commented on #7474
@leemaguire Yes, this is a Catalyst app.

[2021-10-08 11:11] kyungho-kim commented on #7474
@leemaguire No... I've never touched the openssl library. The problem occurs only in the Catalyst app, not iOS simulator or macOS target.

[2021-10-08 13:36] raphaels17 opened #7477 "RealmFileException: Top ref outside file"
### How frequently does the bug occur?

All the time

### Description

HI

I hope this message finds you well . I cannot open a realm :-/. I found some similar issue regarding java realm https://github.com/realm/realm-java/issues/6632

My realm is not encrypted and the version is 10.16.0
Is there anything I can do to recover the DB ?

I can share it (but it's big 362MB)

Regards

### Stacktrace &

[2021-10-09 20:13] tfe commented on #5578
Is anyone using @robertofrontado's `DetachableObject` in Xcode 13 / Swift 5.5? It's no longer happy with the initial `init()` of the detached object, giving me "Constructing an object of class type 'Self' with a metatype value must use a 'required' initializer"

If anyone knows of a workaround that would let the protocol extension work as it had before, I'd appreciate it. Otherwise I think I have

[2021-10-09 22:53] tfe commented on #5578
Followup: the problem ended up being my custom subclass of Realm's `Object` that I forgot about. Changing the code in question to be an extension of `RealmSwift.Object` cleared it up for me.

[2021-10-10 22:25] LinnierGames opened #7478 "Failed to parse, or apply received changeset: ArrayErase: No such object: <ObjectClassName> in class"
### How frequently does the bug occur?
All the time

### Description
All local changes are not being synced nor are the remote changes downloading to the device. Instead this error appears:

[code]

This also happens when I use `Realm.asyncOpen`

What I was doing before I noticed this error was:

* Changing the User Confirmation Method through the Realm web UI from _Automatically confirm users_ to

[2021-10-11 18:22] #7478 closed, assigned to nobody

[2021-10-13 17:59] ericjordanmossman commented on #7454
@shivasai0802
Can you share what the thrown error is?

[2021-10-14 05:29] sereivoanyong opened #7480 "`_realmColumnNames()` is not called in modern classes"
### How frequently does the bug occur?

All the time

### Description

The `_realmColumnNames()` is never called modern classes. It should be called in both modern & legacy classes.
I found that `getModernProperties(_:)` in `SchemaDiscovery.swift` completely ignores `_realmColumnNames()`.

In my case, I need to map a `description` property to `_description` since `description` is owned by `NSObjec

[2021-10-14 14:50] aspick opened #7481 "Distinct query of a relationship returns a wrong result at the first time"
### How frequently does the bug occur?
All the time

### Description
Distinct query of a relationship like

[code]

returns a wrong result at the first time.

**Expected result**

It returns value less than `person.dogs.count` all the time.

**Actual result**

It returns value same as `person.dogs.count` at the first time.
And it returns right value after the second time.

### Stacktrace & log out

[2021-10-15 17:07] #7474 closed

[2021-10-15 18:06] m-afham opened #7484 "SwiftUI.swift file showing StateObject error in macOS app."
### How frequently does the bug occur?

All the time

### Description

![image](https://user-images.githubusercontent.com/35783310/137532176-f8ab68a0-850c-4eaa-82d7-778b3cc2889f.png)

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

Realm 10.17

### What SDK flavour are you using?

Local Database only

###

[2021-10-15 19:18] iAmcR opened #7485 "Unknown attribute 'Persisted'"
### How frequently does the bug occur?

All the time

### Description

Following the installation instructions (https://docs.mongodb.com/realm/sdk/ios/install/) using Swift Package Manager, I get the following compilation error:

`Unknown attributed 'Persisted'`, when using the `@Persisted` annotation, for example:

`@Persisted
var whyIsThisNotWorking: String?`

The instruction from the above link

[2021-10-15 19:36] tgoyne commented on #7485
It appears to be doing a naive lexicographical sort, so it considers 5.0.0 to be greater than 10.0.0.

[2021-10-15 19:39] iAmcR commented on #7485
Thank you @tgoyne

I guess this bug should be reported to Xcode team then.

[2021-10-15 19:39] #7485 closed

[2021-10-16 21:48] duncangroenewald opened #7486 "Error backing up data: Could not write file as not all client changes are integrated in server"
### How frequently does the bug occur?

All the time

### Description

We are creating a backup of the Realm file using Realm.writeCopy() and are suddenly getting this error message.

We have just migrated data to the new MongoDB Realm cloud service and have initialised a new desktop application instance.  The desktop makes a backup of the realm file on startup and for some reason we have suddenly

[2021-10-17 00:25] duncangroenewald commented on #7486
I am not getting this error message when using realm-cocoa v10.12.0 and it seems to be intermittent under 10.17.0 - meaning that occasionally it does not show this message.

I will test with other versions to see at what version this message starts showing up.

[2021-10-18 11:16] #6047 closed

[2021-10-18 19:27] #7481 closed, assigned to tgoyne

[2021-10-18 20:13] m-afham commented on #7484
@leemaguire I'm using these pods:

[code]

[2021-10-19 03:13] sereivoanyong commented on #7480
Hi @leemaguire is there any way I can do without changing the column name on server side?

Do you guys plan to make it public?
https://www.mongodb.com/community/forums/t/migrating-from-legacy-realm-sync-to-mongodb-realm-guide/10441/29

[2021-10-19 07:47] YJianMu opened #7490 "Crashes when accessing the RLMArray<RLMEmbeddedObject> element"
### How frequently does the bug occur?

All the time

### Description

// RLMSupport.swift

public struct RLMCollectionIterator: IteratorProtocol {
    private var iteratorBase: NSFastEnumerationIterator

    internal init(_ collection: RLMCollection) {
        iteratorBase = NSFastEnumerationIterator(collection)
    }

    public mutating func next() -> RLMObject? {
 // RLMEmbeddedObject forcibly

[2021-10-19 19:30] Jaycyn opened #7491 "Swift High Order Filter on EmbeddedObject Fails"
### How frequently does the bug occur?
All the time

### Description
Using a Swift High Order function, like filter, map or reduce, works on Realm Objects. However, it does not appear to work on EmbeddedObjects

### Stacktrace & log output
_No response_

### Can you reproduce the bug?
Yes, always

### Reproduction Steps
Start with a Person object with a List of embedded dogs, with each dog having

[2021-10-20 09:51] leemaguire commented on #7491
`.filter` will return a `LazyFilterSequence` unless you specify `[EmbeddedDog]` as the return type. e.g
[code]
The above will evaluate the result immediately.

A `LazyFilterSequence` will be evaluated when it is used. For example calling `.first` or doing a `for` loop will grant you the correct results.

[2021-10-20 09:54] #7449 closed

[2021-10-20 12:57] #7491 closed, assigned to nobody

[2021-10-20 20:28] ericjordanmossman opened #7493 "LinkingObject property doesn't notify correctly"
### How frequently does the bug occur?
All the time

### Description
~~It appears that a linkingObject property doesn't notify properly when the origin property is on the same class~~
Write transactions where only a backlink property is changed does not notify.

This happens even without a keyPath parameter.

![Screen Shot 2021-10-20 at 4 25 02 PM](https://user-images.githubusercontent.com/2509285

[2021-10-20 21:57] gbreen12 commented on #7350
Part of the problem is this code and database are shared among multiple apps. The "work around" is to have the user delete all our apps and reinstall and resync from the server. Then it fixes it even when using the same app version.

[2021-10-20 22:01] gbreen12 commented on #7350
This always seems to be an issue when trying to get a list of strings, Realm thinks I'm trying to access a foreign table. It's happened on multiple entities over the time I've seen it.

Yeah the database is being shared in an app group.

[2021-10-21 06:23] JzwOnly commented on #7461
@AdrenalineAMP Is this problem solved?

[2021-10-21 06:49] junsukim1994 commented on #4818
In my case without having to adopt the extension above, just wrapping .observe { } code inside dispatchQueue.main.async fixed the problem for me.

[2021-10-21 14:04] jeanbaptistebeau opened #7494 "Impossible to come back to normal after `expired refresh token` error"
### How frequently does the bug occur?

All the time

### Description

After 30 days of being logged in, users get a `expired refresh token` error, that I catch in `syncManager.errorHandler`. This seems to be the normal behavior. My problem is, I can't get back to a normal state after getting this error. **If I logout/login the user, I get the same error.**

I'm using email/password auth, I don't

[2021-10-21 14:26] pavel-ship-it opened #7495 "Can't get change notification for LinkingObjects"
### How frequently does the bug occur?
All the time

### Description
Cannot get notification for keyPaths of a property declared as follows

[code]

### Stacktrace & log output
[code]

### Can you reproduce the bug?
Yes, always

### Reproduction Steps
I use the test case:

[code]

### Version
10.17.0

### What SDK flavour are you using?
Local Database only

### Are you using encryption?
No, not us

[2021-10-21 14:30] #7495 closed, assigned to nobody

[2021-10-21 16:50] jsflax commented on #7486
So, the quick fix for you is to use the progress notifier on your `syncSession` to check if sync progress is complete. Once it is, you would be free to call writeCopy.

[2021-10-23 18:35] anton-plebanovich opened #7496 "The Realm function call timeout is too low"
### Problem

The default Realm Sync function call time timeous is just **6** seconds. This seems too low even for just a simple network request and overall seems like a typo considering the usual default timeout for network requests is 60 seconds and the default function call timeout is 90 seconds. Good thing there is a workaround thanks to AppConfiguration but adjusting the default value seems a

[2021-10-24 02:40] 342261733 commented on #7309
Can you talk about the detail ?

[2021-10-25 07:08] RahulRawat-95 opened #7499 "libsystem_kernel.dylib __pthread_kill"
#### SDK and version
SDK : RealmSwift
Version: 10.15.0

#### Observations
* How frequent do the crash occur?
Happened only once
* Does it happen in production or during dev/test?
Happened in testing
* Can the crash be reproduced by you?
No
* Can you provide instructions for how we can reproduce it?
No

#### Crash log / stacktrace
libsystem_kernel.dylib
__pthread_kill
libsystem_c.dylib
abort
Realm

[2021-10-26 20:45] juanj opened #7500 ""mmap() failed: Cannot allocate memory" when using a custom thread with a run loop"
### How frequently does the bug occur?

All the time

### Description

I'm getting crashes due to `mmap() failed: Cannot allocate memory size: 24117248 offset: 201326592`.

After looking at some related issues, I believe this is happening because Realm is keeping many active versions, and the file size is increasing.

I did some debugging using `maximumNumberOfActiveVersions` and it seems that my

[2021-10-27 16:05] #7496 closed, assigned to jsflax

[2021-10-31 14:43] sipersso commented on #7145
The more than 1 backlink seems to be even trickier. To prevent data loss I wanted, whenever I find an object that already have a backlink I copy it's value and replace the backlink with a copy. However, there doesn't seem to be an API to do that is the swift SDK. On Android I can use dynamicRealm.createEmbedded which would solve the problem, but the migration object in swift doesn't seem to have t

[2021-10-31 15:21] laGrave commented on #7466
Also faced with same issue. I've found that in my case crashes happens on obj-c apps, but not happens on swift apps.

[2021-11-01 01:49] adaneko opened #7506 "Cannot set up Google Auth on iOS and Android at the same time."
### How frequently does the bug occur?

All the time

### Description

I have successfully implemented Google Sign in on both iOS and Android, but have run into an issue with getting them both working at the same time.

On the Android implementation, I am required to have:
a) A Google Cloud Platform Android OAuth credential that uses the SHA1 from my signing key
b) A GCP Web Client OAuth that prov

[2021-11-01 03:22] adamek314 opened #7507 "SSL/TLS protocol not supported"
### How frequently does the bug occur?

All the time

### Description

Whenever I try to open a synced realm in Mac Catalyst (iOS on Mac). I get

2021-10-31 23:05:01.075673-0400 Foody23Swift[3205:23982] Sync: Connection[1]: Session[1]: client_reset_config = false, Realm exists = true, client reset = false
2021-10-31 23:05:01.111175-0400 Foody23Swift[3205:23982] Sync: Connection[1]: Connected to en

[2021-11-01 10:29] bb-git commented on #7462
Not working for me. 13.2 still produces the exact same crash in iOS 12.4

[2021-11-01 21:16] rjvir commented on #7466
To anyone else seeing this issue - I *think* moving the Realm file to the main document directory rather than the app group container fixed the issue. (Not fully confirmed, but anecdotally have been seeing fewer background crashes in the last ~3 days since attempting it).

Essentially, before initializing Realm on app launch, I perform a 1 time move operation of the Realm file to the main document

[2021-11-01 22:08] laGrave commented on #7466
I have a very basic default setup, not storing Realm in app group container and still facing those crashes
[code]

[2021-11-02 06:39] sipersso opened #7508 "Add API for creating embedded objects during migration"
### Problem

When migrating from Object to Embedded object you need to take care of handling that each embedded object can have one and exactly one backlinks. To do this you must

1: Ensure that all orphaned objects are deleted.
2: Ensure that if an object has multiple parents. This can be done by either removing the relations to all backlinks but one. But you should also be able to copy the data

[2021-11-02 11:37] JituDeore commented on #7466
Same we also have Realm file in main Document directory still our app is crashing.

[2021-11-02 16:09] tgoyne commented on #7508
The intended API here is that you just assign an unmanaged object of the actual object type (not `DynamicObject`). This works correctly for object properties, but not for collections due to the Realm being in an odd state during the migration. The schema says that the target type is embedded but the underlying table isn't actually converted to embedded until after the migration block. One step of

[2021-11-02 16:48] dianaafanador3 commented on #7500
@juanj It looks like this was solved by @tgoyne comment. I'm gonna close this, if you still having issues with this you can reopen this again.

[2021-11-02 16:48] #7500 closed

[2021-11-02 18:18] joelk opened #7509 "@Persisted List goes through different decoding path than old-style property"
### How frequently does the bug occur?

All the time

### Description

The new-style property wrapper `@Persisted` is a great convenience, but it goes through a different decoding path than the old-style accessors. Somehow, my extension on `KeyedDecodingContainer` isn't hit when a new-style object's *automatically synthesized* `init(with decoder: Decoder)` is used, although it is if I implement th

[2021-11-02 18:58] joelk commented on #7509
Hm, looks like it is literally just a different path: decoding the property wrapper rather than the property. This seems to work:

[code]

[2021-11-02 18:58] #7509 closed

[2021-11-02 18:59] ericjordanmossman commented on #7506
Hey @adaneko I have a couple questions:
Are you using openID Connect?
Could you show how you're initializing the credentials?

[2021-11-02 19:00] SebC99 commented on #7466
Same here, as reported here: https://developer.apple.com/forums/thread/693623
Due to lock on the realm file in the shared container
Just as in the old #6671

[2021-11-02 19:05] ericjordanmossman commented on #7506
I also get this error if using a "Web application" type ID on the iOS client. Though I believe that a "Web application" type ID should be configured on the Realm server for both cases - iOS and Android.

I'm wondering if this error:

Is potentially being caused by OpenID Connect when creating the Realm Credentials.

[2021-11-02 20:57] dianaafanador3 commented on #7507
Closing this as it is a duplicate from this https://github.com/realm/realm-cocoa/issues/7474, and the fix is already merged on core side. This will be available in the next release.

[2021-11-02 20:57] #7507 closed

[2021-11-03 03:27] JituDeore commented on #6537
We are also getting similar issue.
In our app is crashing because of delay in launch we have migrated to v10 from v4 and started getting this crash.
Our app launch is getting delayed and OS is killing the app. This issue happens when our DB size is more example 450 MB or something.
@jedelbo

[2021-11-03 06:39] vj1988 commented on #7466
Not the same problem, @JituDeore is talking about crash on launch and not about crash on background.

[2021-11-03 06:43] vj1988 commented on #7466
To simply put - When realm is upgraded from 4.* to 10.*, there is a format change in realm. Due to this the realm file is copies to the new format and this takes time on launch. Time out occurs and app crashes for a lot of users. What can we do to avoid this long delay ?

[2021-11-03 12:26] jedelbo commented on #6537
@JituDeore So OS is killing the app because the upgrade takes too long time? And when you then re-launch the app, you get a crash? If so, is there a stack trace or similar that you can share?

[2021-11-03 12:33] sainttail opened #7511 "Can't build RealmSwift version 10.12.0 with carthage using xcode 13.1"
### How frequently does the bug occur?

All the time

### Description

This is the log file I have got

[error.log](https://github.com/realm/realm-cocoa/files/7467500/error.log)

### Stacktrace & log output

[code]
[code]

[2021-11-03 12:46] dianaafanador3 commented on #7511
Hi @sainttail you need to upgrade to our latest version v10.18.0(https://github.com/realm/realm-cocoa/releases/tag/v10.18.0), so Carthage work with your current installation of Xcode (13.1).

[2021-11-03 14:48] JituDeore commented on #6537
Please find the attached crash log
@jedelbo
<img width="649" alt="Screenshot 2021-11-03 at 8 15 05 PM" src="https://user-images.githubusercontent.com/24667784/140083135-4f39a5b9-8d58-4008-b206-311bdb0eb291.png">

[2021-11-03 15:58] sainttail commented on #7511
@dianaafanador3

Thanks for your response.

I'm asking this because I can successfully build this by using xcode 13.1 clone realm-cocoa and manually build RealmSwift inside xcode

Is there a suggestion for me to make this work for carthage because I need to stick with this version of realm since our 3rd library depend on this particular version. They only provide `Realm.xcframework`.

However, bec

[2021-11-03 16:19] dianaafanador3 commented on #7511
Hey @sainttail
You can use another dependency manager for your third party library and RealmSwift (SPM or Cocoapods), I don't know if this is not possible in your case for any reason?

[2021-11-03 18:05] sainttail commented on #7511
I will try this tomorrow the 3rd that we use is manaully download from the site.

[2021-11-03 18:09] jedelbo commented on #6537
I am sorry, but I don't think this provides enough information to move forward. @tgoyne does this callstack indicate to you where and what goes wrong?

[2021-11-03 18:41] tgoyne commented on #6537
That stack trace appears to be just showing a thread waiting for a mutex, and not the crashing thread.

[2021-11-04 08:47] bmunkholm commented on #6537
@JituDeore Instead of posting to an existing closed issue, we appreciate if you create a new issue with details on the crashing thread (a reference to this issue is perfect). Thanks!

[2021-11-04 15:36] duncangroenewald opened #7513 "Error when opening Realm backup file: "Incompatible histories. Expected a Realm with no or in-realm history, but found history type 3""
### How frequently does the bug occur?

All the time

### Description

When opening a backup file that was created using Realm.writeCopy() we are now getting the following error message

"Incompatible histories. Expected a Realm with no or in-realm history, but found history type 3"

Realm SDK:  realm-cocoa v10.17.0 (RealmSwift)

File can be opened without error using Realm Studio v11.1.0

### Sta

[2021-11-04 15:39] tgoyne commented on #7513
This error indicates that you're opening a sync Realm in non-sync read-write mode, which isn't supported. If you just want to read from the file you can open it in read-only mode.

[2021-11-04 15:52] duncangroenewald commented on #7513
@tgoyne - is this a recent change in behaviour as we have been using this code for two years or more and never encountered this issue before.

[2021-11-04 16:01] tgoyne commented on #7513
This restriction predates the first public release of sync. The behavior of writeCopy() on synchronized Realms did change recently, though. It used to produce Realms which couldn't be opened in sync mode afterwards and the justification for not calling that a breaking change was that supposedly the old behavior was just broken, but converting a sync Realm to a local Realm sounds like a pretty vali

[2021-11-04 16:24] tgoyne commented on #7513
https://github.com/realm/realm-cocoa/pull/7514 reverts to the old behavior. v10.12.0 appears to be the version where we first shipped this change.

[2021-11-04 16:59] duncangroenewald commented on #7513
@tgoyne sorry I need a bit of help understanding this.  Looking at the code changes it seem one file has a history and the other does not.  I am assuming the one that has no history is the sync compatible file and the other can be opened as a local realm file.  Presumably that explains why the backup files suddenly became smaller.

1.  Are you intending on reverting to the old behaviour with #7514

[2021-11-04 17:05] tgoyne commented on #7513
It's the other way around: we switched from writing the copy with no history (which makes it openable as a local Realm but not in sync mode) to writing it with sync history, which made it no longer possible to open it in non-sync mode. The intended purpose of this is to make it possible to bundle a Realm with your app and use that as the starting point for synchronization rather than downloading a

[2021-11-04 17:13] sipersso commented on #7508
@tgoyne So if I understand you correctly, this is currently not possible to do? When you say that the intended API is to just assign an unmanagedObject of the actual object type, how is this supposed to work? The migration only exposes dynamic objects and dynamic lists,  so how am I supposed to be able to append an unmanaged actual object?

I assume that the API is to use setValue(myRealmObjectToE

[2021-11-04 17:29] duncangroenewald commented on #7513
@tgoyne - oh ok got the history mixed up then.

FYI - I just reverted to v10.11.0 and synced with the server and then created a backup using writeCopy() but when opening this file as a local realm file I had to perform a migration - i.e. update the schema version because the backup file now includes the '_partitionKey' property - which is not defined in the ReamSwift schema, but as I understand it

[2021-11-04 17:30] tgoyne commented on #7508
An unmanaged object is an object created via the normal initializer. If you have `@Persisted var parent: Person?` you can do `newObject["parent"] = Person(value: ...)` for both embedded and top-level objects. The bug is that `unsafeBitcast(newObject["children"], to: List<Person>.self).append(Person(value: ...))` only works for top-level objects and not embedded objects, but it should work for both

[2021-11-04 17:34] tgoyne commented on #7513
It's valid to add the partition value property to your schema, but that does mean that you'll have to make sure it's set to the correct value when creating objects. I would generally recommend just setting the schema version to zero when opening synchronized Realms (i.e. at the default) and a non-zero when opening local Realms. The schema version isn't actually used for anything useful for synchro

[2021-11-04 17:46] duncangroenewald commented on #7513
@tgoyne - ah yes that is a much better idea.  Thanks.

[2021-11-04 19:26] sipersso commented on #7508
Ok, the API isn't super clear to me. Is this mentioned anywhere in the docs? I had to read it several times until I figured out how it was supposed to work. The unsafeBitcast bit does make me feel.... a bit unsafe

[2021-11-04 23:13] #7513 closed

[2021-11-05 07:23] adaneko commented on #7506
Hi @ericjordanmossman,

Thanks for the reply.

I am using OpenID Connect. I was unable to get Android to work without it. This is the code I'm using to manage Google Sign in. Google.clientId holds the value of the GCP iOS clientId.

[code]

[2021-11-05 09:49] DominicFrei commented on #7508
That is correct, you would want to duplicate the child, since this is the EmbeddedObject with multiple backlinks. And as Thomas said, the API should work for both top-level and embedded objects. The latter does not work though which is why this issue is flagged as a bug and needs fixing. 👍

[2021-11-05 11:59] sipersso commented on #7508
Thanks for the confirmation @DominicFrei and the info @tgoyne. I am done with the migration on the Android side but will put it on hold on iOS until this is resolved.

[2021-11-05 12:00] dianaafanador3 commented on #7508
Hi @sipersso I'm working on this, trying to solve this bug, I'll link any pull request to this issue when I'll do the fix.

[2021-11-05 12:48] dianaafanador3 commented on #7511
Closing this as there is no issue here

[2021-11-05 12:48] #7511 closed

[2021-11-05 17:27] spenceralderson opened #7526 "Error in linking phase when migrating from Cocoapods to Swift Package Manager"
#### Expected results
Migrate from Cocoapods to Swift Package manager and build my project.

#### Actual Results
Error during linking phase while building RealmCore

#### Steps & Code to Reproduce
Getting this error when trying to build after deintegrating pods and adding Realm to the project via SPM:

[code]
Same error appears for building on device but for arm, The Apple Security framework is pr

[2021-11-06 17:18] smpanaro opened #7516 "KVO on unmanaged Object @Persisted properties fails"
### How frequently does the bug occur?

All the time

### Description

I have an Object class with many properties. In some cases, I make an unmanaged instance of that class to edit it. In those cases, I also use KVO to determine when certain properties have changed.

When I declared my observed property as `@objc dynamic var count: Int = 0` this worked. I recently switched to `@Persisted var coun

[2021-11-08 11:25] tusharmutreja200 opened #7517 "How to create RLMArray of primtive data type in swift using RLMArray(objectClassName: ...)"
### How frequently does the bug occur?

All the time

### Description

As there is support from creating the RLMArray with primitive data types, but there is no documentation to define the same in swift using realm-objective-c.

eg: we can define the RLMArray using primitive types like **@property RLMArray<NSNumber *><RLMInt> *numbers;**

then how can we define the same using swift.

In docs, they

[2021-11-08 11:29] sarinashish commented on #7517
I am also facing the same issue

[2021-11-08 11:30] sharmalabhyafareye commented on #7517
Facing same issue.

[2021-11-08 11:39] jsflax commented on #7517
This can be done using the other constructor:
[code]

[2021-11-08 11:47] tusharmutreja200 commented on #7517
@jsflax Thanks for the reply, but I am still facing this issue while creating schema, as it shows only one constructor of RLMArray **objectClassName
<img width="643" alt="Screenshot 2021-11-08 at 5 15 05 PM" src="https://user-images.githubusercontent.com/62887002/140736713-c5744fa8-4b66-495c-8eaa-f5e21124be1d.png">
**

[2021-11-08 11:52] jsflax commented on #7517
What version of Realm are you using?

[2021-11-08 11:55] tusharmutreja200 commented on #7517
I am using realm pod of version **10.18.0**

[2021-11-08 12:04] pavel-ship-it commented on #7516
Hi @smpanaro,
to observe the unmanaged object with `@Persisted` properties you can use `addObserver` call.

[2021-11-08 13:35] tusharmutreja200 commented on #7517
@jsflax I found the solution. As I have checked in Pod file RLMArray.h,
`- (instancetype)initWithObjectClassName:(NSString *)objectClassName;
`
only the above constructor is exposed that's why we are not able to access **initWithObjectType** constructor.

if I add `- (instancetype)initWithObjectType:(RLMPropertyType)type optional:(BOOL)optional;
`
in RLMArray.h, then everything works fine and we a

[2021-11-08 14:02] vikas-singh-fareye commented on #7517
+1 @tusharmutreja200

[2021-11-08 14:17] pavel-ship-it commented on #7517
@tusharmutreja200
you can `import Realm.Private`

[2021-11-08 15:20] smpanaro commented on #7516
Hi @pavel-ship-it,

Is something like [this](https://github.com/smpanaro/realm-persisted-observe/blob/7ca8b5e87dff06f5bb9359eea2b64e10898859b6/realm-persisted-observe/ViewController.swift#L42) what you mean?

[code]

It seems to be working for me so thanks for pointing me in this direction.

I would prefer to use a more Swift-friendly observation API, like the Swift KVO I was using before `@Persis

[2021-11-08 15:34] ericjordanmossman commented on #7486
I was previously running into this issue too. Not anymore after #7514.
Is that same for you @duncangroenewald ?

[2021-11-08 15:58] pavel-ship-it commented on #7516
@smpanaro
No need to ask twice. Thank you for submitting the use case.

[2021-11-08 16:15] pavel-ship-it commented on #7475
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-11-08 16:15] #7475 closed

[2021-11-08 16:47] ericjordanmossman commented on #7506
Okay that does look like the correct flow for openID connect.

For

Which are you replacing? Are you  changing the iOS device's clientID to the "iOS clientID" type. Or are you changing the Realm Sync App's clientID to an "iOS" client type (in atlas)?

Ultimately the the backend Realm App should have the GCP "Web Application" type clientID, with the respective secret. And the iOS client should have

[2021-11-08 17:04] tgoyne commented on #7516
I am surprised that `@Persisted @objc dynamic var` even compiles.

I skipped adding the typed `observe()` function in the initial version of `@Persisted` because it depended on a the separate project to be able to produce keypath strings for them, but now that that's done it should be relatively simple to add.

[2021-11-08 17:44] #6578 closed

[2021-11-08 17:56] #6671 closed

[2021-11-08 17:58] sync-by-unito opened #7519 "Document how Realm works in App Groups and Background Fetch"

[2021-11-08 18:09] bmunkholm commented on #6911
@EugenKuzn Is this still a problem for you? Can you help us with a reproduction project?

[2021-11-08 18:13] tgoyne commented on #6940
In the bit of observation code you gave it looks like you're storing the token returned from `observe()` in a local variable. If that's the case, the token will go out of scope before any notifications are ever sent, which removes the observation.

[2021-11-08 18:22] tusharmutreja200 commented on #7517
@pavel-ship-it this import is not working in the Objective-c header file, can you please suggest the specific import syntax for the objective-c file.

Thanks in advance

[2021-11-08 18:22] bmunkholm commented on #7008
@igrechuhin Is this still something you experience? We haven't been able to repro, so unless you can there isn't much we can do until that's possible. Thanks.

[2021-11-08 18:27] bmunkholm commented on #7009
@igrechuhin Is this still an issue? We can't get further without a repro, unfortunately. If you still see this please help with a repro and we will be happy to look into this again. Thanks!

[2021-11-08 22:22] duncangroenewald commented on #7486
That's a good question. I will have to double check that to see if I can reproduce it now - I didn't notice anything after upgrading the SDK to v10.19.0 and it usually always happened in debug mode so should have seen it if it was there.

[2021-11-09 01:52] adaneko commented on #7506
I'm replacing the id (and secret) inside the Google Authentication Provider -> Client Id field

[2021-11-09 09:28] EugenKuzn commented on #6911
@bmunkholm no, this problem was resolved after Mongo DB took over and released version 10.x.y
I saw these crashes only on Realm version 5.x.y

Do you have the same issue?

[2021-11-09 10:25] bmunkholm commented on #7478
@LinnierGames Sorry we missed this comment on the closed issue. It's at https://support.mongodb.com/
(It's listed when you create a Github issue in this repo)

[2021-11-09 10:40] bmunkholm commented on #6911
Lovely thanks @EugenKuzn I'll close the issue then!

[2021-11-09 10:40] #6911 closed

[2021-11-09 14:52] kristohear opened #7521 "DB can not be opened after update"
### How frequently does the bug occur?

All the time

### Description

Hi,
we released application version to our customers about 4 months ago and our latest release non of our customers can access their databases.
What has changed: update from Swift 4.2 to Swift 5 and build machine from xcode 12.4 to 12.5.1
Also we fixed deprecation warnings on the decryption key generation, but it is only for ne

[2021-11-09 14:53] ericjordanmossman commented on #7506
Instead of using `if let idToken = user.authentication.idToken`, could you try getting the [idToken with](https://developers.google.com/identity/sign-in/ios/reference/Classes/GIDAuthentication#-dowithfreshtokens:) `doWithFreshTokens`.

[code]

I just noticed that we're getting the idTokens slightly different. Maybe that's where the validity is changing.

[2021-11-09 16:31] sync-by-unito[bot] opened #7522 "@AutoOpen returns `Host not found error (authoritative)` when offline (Airplane mode) or (Wifi off)"
How frequently does the bug occur?
All the time

Description
Using the @AutoOpen to open a synced realm. It works fine when I have a network connection or launch my iOS app with a network connected and then disconnect from the network. However, if I do not have a network connection when I launch the iOS app from my phone I get the following error, "Host not found (authoritative)".
Stacktrace & log

[2021-11-09 16:36] jsflax commented on #7494
@jeanbaptistebeau we've merged a PR in core that may address this issue– was your original issue that the clock was too far forward on your device?

[2021-11-09 17:34] pavel-ship-it commented on #7466
Hi all,
I made some experiments on this matter and I was able to reproduce it.
I have 2 cases:
[code]
and
[code]

How to:
1. Choose 'Edit scheme' in Xcode menu
2. Set 'Run' -> 'Build Configuration' to 'Release'
3. Install the app on the iOS device (just build and run on the device)
4. Now stop the app (You need to launch it without the debugger)
5. Manually run it on your device and do what you ne

[2021-11-10 08:34] jeanbaptistebeau commented on #7494
@jsflax it seems to be included in cocoa v10.19.0.

Could you tell me what happens now, when the user gets an "expired refresh token" error? The error handler of the sync manager won't be called?

[2021-11-10 10:21] pavel-ship-it commented on #7521
Hi @kristohear ,
do you have any reproduction case for that or is it only for released app?

[2021-11-10 10:45] sync-by-unito[bot] opened #7525 "Add Xcode Cloud Workflows to migrate from Jenkins"

[2021-11-10 15:35] kristohear commented on #7521
@pavel-ship-it unfortunately it is only for the released application. Rebuilding that codebase again locally is not reproducing those issues.

[2021-11-10 16:56] pavel-ship-it commented on #7521
@kristohear can you try to change the schema configuration to Release and run the app on a real device?

[2021-11-10 19:46] kristohear commented on #7521
We tried even to put it to Testflight and upgrade from previous codebase build to current codebase build, but we were not able to reproduce. Might be related with different xcode build tool version used. At the moment 80% of customers are stuck with broken DB. Currently trying different xcode versions, maybe it might be related which build tools were used then and which now.

[2021-11-12 09:11] #7522 closed

[2021-11-12 12:11] danya61 opened #7527 "library not found problem using Cocoapods-binary"
### How frequently does the bug occur?

All the time

### Description

Hi all!

I've updated realm version from 3.19.0 -> 10.17.0 and tried to build project with a new one. As an output, I got the error:

After a little research, it turned out that the problem only exists when using CocoaPods-binary, so the podfile looks like this:

However, using version 3.19.0 in the same way, the build was succ

[2021-11-12 12:29] #7527 closed

[2021-11-12 19:06] spenceralderson commented on #7526
Hi @pavel-ship-it, thanks for the prompt response. The Apple Security framework is included in the target that is failing to build.
![image](https://user-images.githubusercontent.com/13324643/141520931-ea3e54e1-0823-44e0-a3cb-e7fef957bab5.png)
I have also tried with realm 10.18.0 and the same issue occurs. I have tried with the latest Xcode 13.1 and 13.0, same error when building. The reason I had

[2021-11-12 20:50] duncangroenewald opened #7528 "Use of prefix(xxx) results in random crashes later"
### How frequently does the bug occur?

All the time

### Description

Using the following line to limit batch size deletes for Synced realm

let userChanges = user.changes.filter("tstamp < %@", archiveDate).prefix(500)

....
realm.beginWrite()
realm.delete(userChanges)
do {
  try realm.commitWrite()
} catch {
...
}
...

However this results in random crashes and very slow performance

The problem

[2021-11-12 20:58] tgoyne commented on #7528
https://docs.mongodb.com/realm-sdks/swift/latest/Structs/Realm.html#/s:10RealmSwift0A0V6deleteyyxSTRzSo13RLMObjectBaseC7ElementRczlF

Each time you delete an object the Results are recomputed and only include the objects still in the Realm, which invalidates the Slice.

[2021-11-13 00:33] levelchanger commented on #7462
I had this same problem and notified Realm support. The solution was to use the Dependency Manager for the sdk instead of Cocoapods.

[2021-11-13 18:37] LoopingLouieX opened #7530 "'Query' results in ambiguous type lookup error"
### How frequently does the bug occur?

All the time

### Description

Hi,

after I updated Realm/RealmSwift from 10.17.0 to 10.19.0, xCode is displaying the following error:

[code]

According to the release notes there were no changes in 'Query'.
Does anybody face that issue too?
What's the solution?
Thanks!

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

[2021-11-13 21:29] tgoyne commented on #7530
We first added a type named Query in 10.19.0. If you have another library which also has a type named Query, you'll now need to disambiguate it with the library name.

[2021-11-14 10:27] LoopingLouieX commented on #7530
Oh, that's the reason!
Thanks!

[2021-11-14 10:27] #7530 closed

[2021-11-15 06:29] tusharmutreja200 commented on #7517
@pavel-ship-it @jsflax please help to understand, how to Import the realm Private class in the objective C file.

[2021-11-15 14:36] pavel-ship-it commented on #7517
Hi @tusharmutreja200 you don't need to import anything else in Objective-С.
To achieve same effect you can do next:
[code]
You can find more in the Realm documentation https://docs.mongodb.com/realm/sdk/ios/
Feel free to open another ticket if you need help.

[2021-11-15 14:36] #7517 closed

[2021-11-15 17:55] michaelpeternell opened #7531 "@Persisted breaks EmbeddedObject lists"
### How frequently does the bug occur?

All the time

### Description

The following program (called by `Program.main()`):

[code]

prints correctly

[code]

However, if I change the line

[code]

to

[code]

it prints

[code]

This means that **a list of EmbeddedObjects is unusable if the containing object uses `@Persisted` properties instead of `@objc dynamic` properties**. Note that the `List`

[2021-11-15 18:10] bmunkholm commented on #7243
@danmessing Have you still only seen this with one customer? And not since?

[2021-11-15 18:10] tgoyne commented on #7531
You need to mark both `id` and `children` with `@Persisted`.

[2021-11-15 18:22] bmunkholm commented on #7287
@pierre-wehbe Sorry we haven't been able to reproduce this. Have you still not seen this again?

[2021-11-15 18:48] pavel-ship-it commented on #7521
Hey @kristohear,
`Keychain(service: InfoPlistService.shared.keychainIdentifier)`
Is it derived from `KeychainAccess` framework?

According to the crash logs, it can happened because of wrong encryption key.
To reproduce it I try to overwrite the key for existing Realm with the new one and open it again.
[code]
Can you try this for me please? Can you get a matching crash log?

[2021-11-16 03:26] duncangroenewald commented on #7528
I knew that !! lol !!

[2021-11-16 03:26] #7528 closed

[2021-11-16 09:38] michaelpeternell commented on #7531
So, what is the purpose of `@Persisted`? For me it acted as a trap to fall into. Other than that, what is the advantage of using it?

[2021-11-16 10:06] pavel-ship-it commented on #7526
Hi @spenceralderson ,
Unfortunately I cannot reproduce it. Is it possible to share the source code with me?

[2021-11-16 10:50] dianaafanador3 commented on #7531
@michaelpeternell @Persisted is another way to model your data, is cleaner and easier to implement.
All properties are declared the same way, no longer having to remember that some types required `@objc dynamic var` and easier for declaring Optionals, and primary key (no longer overriding `primaryKey()` and returning a string with the name of the property which is not type safe).
We are supporting

[2021-11-16 15:11] kristohear commented on #7521
@pavel-ship-it Interesting here is that with changing encryption key like that i will have similar exception in Realm 10.5.2, but if i use latest Realm 10.19.0 users will not have exception i reported, but i can fail encryption with code here.
Seems my issue is not throwing in new version, but accessing DB still fails.

[2021-11-16 16:24] bmunkholm commented on #7477
@raphaels17 Can you please reply to the above question? Thanks!

[2021-11-16 16:29] bmunkholm commented on #7115
@lidorgotech We will need more information from you to help on this. Thanks!

[2021-11-16 16:42] #7480 closed

[2021-11-16 19:11] jeanbaptistebeau opened #7534 "Incompatible histories. Expected a Realm with no or in-realm history, but found history type 3"
### How frequently does the bug occur?

Seen once

### Description

During the same app session, a process saves a realm as a backup in the app documents, and tries to restore it a few minutes after. One user reported this error, which prevented loading the backup realm.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Versio

[2021-11-16 19:13] spenceralderson commented on #7526
Hi @pavel-ship-it Thank again for getting back to me. Unfortunately I cannot share my source code with you but I can share this sample project I've seen linked in another older and closed issue that I've modified to get the same error.

Original Project: https://github.com/dianaafanador3/RealmModulesProjectsPlaygorunds/tree/master

my modified sample project with the same error I'm experiencing: h

[2021-11-16 19:15] jeanbaptistebeau commented on #7534
Code saving the backup (Swift):

[code]

Code loading the backup (Swift):

[code]

[2021-11-16 20:16] tgoyne commented on #7534
Synchronized Realms and local Realms have to be opened in different ways, so copying the file and opening without a SyncConfiguration doesn't work. You can open it in read-only mode if you just want to read data from the file, but if you need read-write access then it depends on what you're trying to actually do with the backup function.

Also note that if you're calling `saveManualBackup()` while

[2021-11-16 20:21] ericjordanmossman commented on #7506
@adaneko
Did this work for you?

[2021-11-17 07:09] anlaital opened #7535 "Realm crashes when trying to add an object"
### How frequently does the bug occur?

Sometimes

### Description

We're seeing some crashes in production caused by adding objects to Realm. While these seem quite rare they also cause the crash every single time the app is launched for affected users, so effectively their app is completely stuck and they have to do a reinstall to recover from this.

### Stacktrace & log output

[code]

### Can

[2021-11-17 08:48] tusharmutreja300 opened #7536 "Expose RLMArray constructor for creating Primitive type Array using Swift with realm-objective C"
### How frequently does the bug occur?

All the time

### Description

Hey, I am working on the project that has the combination of both objective-c and Swift. While working with realm-coca, using the swift language in same project , i found that below mentioned constructor is not exposed in `RLMArray.h` file to create the primitive type Array.
`- (instancetype)initWithObjectType:(RLMPropertyType)

[2021-11-17 09:02] pavel-ship-it commented on #7535
Hello @anlaital ,
Could you share more details on how you are using the Realm?
Specifically - configuration, threading, objects schemas and transactions?
Anything else you think can help to understand the issue?

[2021-11-17 09:08] pavel-ship-it commented on #7526
@spenceralderson i'll try that one today and get back with my results.

[2021-11-17 09:39] pavel-ship-it commented on #7531
I close the issue as the problem is solved. If you have any further questions please open another issue here or on [community forum](https://www.mongodb.com/community/forums/)

[2021-11-17 09:39] #7531 closed

[2021-11-17 09:59] pavel-ship-it commented on #7536
Hi @tusharmutreja200 you don't need to import anything else in Objective-С.
To create a Realm array of primitives you can define it like following:
[code]
Please refer to example in our tests
[declaration](https://github.com/realm/realm-cocoa/blob/f630b28cc3d056f784d568569e671e32b9eacb6c/Realm/TestUtils/include/RLMTestObjects.h#L211)
[initialization](https://github.com/realm/realm-cocoa/blob/f630b

[2021-11-17 10:09] tusharmutreja300 commented on #7536
@pavel-ship-it I understand if we are writing using objective-c language then there is no need. But what if we need create an  array of primitive array using swift language.

please refer to this comment of @jsflax   https://github.com/realm/realm-cocoa/issues/7517#issuecomment-963067

As I found the solution for this too , And also created the PR for the same.

PR link: https://github.com/realm/r

[2021-11-17 14:06] pavel-ship-it commented on #7536
Can you explain the use case a bit more please?

You can have array of primitives in both ways.
[code]

[code]

[2021-11-17 14:44] tusharmutreja300 commented on #7536
Hey @pavel-ship-it, I have a use case in which I need to create Realm array of primitive types in Swift file. And configuration of the project like this

- Base of the the project is in Objective-c and mix of Swift files too
- Using realm-objective c as a library
- But using Swift language to create the realm Schema via bridging

Problem : We are not able to access the` - (instancetype)initWithObj

[2021-11-17 15:29] pavel-ship-it commented on #7499
@RahulRawat-95
Can you show how you using the Realm?
Realm configuration, creation of object and object model related to the crash?
Is it happened in the main thread?

[2021-11-17 15:45] pavel-ship-it commented on #7484
@m-afham could you try the fix from the message above?

[2021-11-17 17:31] pavel-ship-it commented on #7526
I can reproduce it

[2021-11-17 18:54] pavel-ship-it commented on #7536
The code above should work without the fix you're added in the PR.
Is there a reason to import Realm in bridging header?

fyi - after adding `@objcMembers` you can remove `@objc` from properties.

[2021-11-17 18:59] spenceralderson commented on #7526
Ok, glad to hear. Please let me know if you find the solution.

[2021-11-17 19:34] tusharmutreja300 commented on #7536
@pavel-ship-it thanks for the update.
We are importing realm in bringing header, so that we can use  realm properties in swift files.

You can test this scenario at your end too.
Just need to create objective-c project and install pod realm 10.19 and try to create the schema in swift file.
You will face this issue.

[2021-11-18 00:33] alexeichhorn opened #7538 "Type safe queries obfuscate fact that you can't query computed properties"
### How frequently does the bug occur?

All the time

### Description

With the introduction of type safe queries from #7419, the programmer seems to get a way that tells him at compile time when a query is formulated wrong. He may therefore assume that Realm never crashes executing a query built with this new system. This, however, isn't the case when we have a computed property in the Object cla

[2021-11-18 12:48] pavel-ship-it commented on #7536
That case is working good for me. Probably there is the issue with a project?
Can you try this project on your environment? https://github.com/pavel-ship-it/support-realm-cocoa-7536

[2021-11-18 13:37] pavel-ship-it commented on #7538
Hi @alexeichhorn
Thank you for feedback I'll reach the team to discuss how we can improve that.

[2021-11-18 14:08] lowfreq2010 opened #7539 "Cannot find type 'Query' in scope after pod update"
### How frequently does the bug occur?

All the time

### Description

After pod update I am getting a lot of compile errors with the same description:

/Pods/RealmSwift/RealmSwift/List.swift:123:46: Cannot find type 'Query' in scope

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

just issue pod update and your project won't compile

[2021-11-18 15:45] pavel-ship-it commented on #7539
Hi @lowfreq2010 ,
Did you get this error after update from RealmSwift 10.15.1 or after update to RealmSwift 10.15.1? What is the another version?

[2021-11-19 05:43] lowfreq2010 commented on #7539
seems like problem got fixed itself on pod deintegrate/install

[2021-11-19 06:53] #7539 closed

[2021-11-20 17:40] gongzhang opened #7544 "@Persisted lack of support for 1-to-1 object association"
### Problem

Hello! I used to declare properties to create 1-to-1 object associations between models like this:

[code]

However, when I switch to using the `@Persisted` wrapper, I find that it no longer seems to support this form. I also don't see anything like `@Persisted var myObject: MyClass?` in the [documentation](https://docs.mongodb.com/realm/sdk/ios/data-types/supported-property-types/).

[2021-11-21 15:19] xilin commented on #6763
@jsflax  sorry for late reply. We've upgrade to 10.x and the problem has gone. Thanks!

[2021-11-22 10:07] dianaafanador3 commented on #7544
Hi @gongzhang, You should be able to declare an object `@Persisted var myObject: MyClass?` in your model, can you tell us the error you are getting on your unit tests?
And many thanks for letting us know about the missing documentation on this.

[2021-11-22 10:31] yasheedv commented on #7526
Facing the same issue. Did you find any solution?

[2021-11-22 10:39] gongzhang commented on #7544
@dianaafanador3 ☺️ Thanks for the reply. I checked and the failed test cases seem to be related to KVO.

When I set an associated object via the `setValuesForKeys(:)` method, the properties defined via `@Persisted` fail, while the previous `@objc dynamic` is fine.

[code]

In addition I found that there is no problem with the similar constructor `Person(values: ["dog" : ["name" : "Puppy"]])` provi

[2021-11-22 12:27] spenceralderson commented on #7526
@yasheedv No solution found yet.

[2021-11-22 12:50] dianaafanador3 commented on #7544
@gongzhang, you need to add the attribute `@objc` to your property to be key-value coding complaint.

[2021-11-22 13:17] gongzhang commented on #7544
@dianaafanador3 🤯 Wow. `@Persisted @objc var dog: Dog?` works.

[2021-11-22 17:05] sync-by-unito[bot] opened #7545 "UUID variable should be Indexable, but it isn't"
Raised by a developer [on the Forum](https://www.mongodb.com/community/forums/t/unable-to-index-uuid-property-on-realm-cocoa-10-20/133569)

Declaring a variable as

[code]

generates an error from the compiler
`Initializer 'init(indexed:)' requires that 'UUID._RealmValue' (aka 'UUID') conform to '_Indexable'`

UUID is however [documented](https://docs.mongodb.com/realm/sdk/ios/examples/define-a-re

[2021-11-22 18:44] tusharmutreja200 commented on #7536
@pavel-ship-it I understand the scenario that why it works fine at your end because you are using the dynamic framework as I have checked in your project you didn't comment the ` use_frameworks!` in Podfile, but in our project, we have limitations that we can't use dynamic framework and we have commented `use_frameworks!` in Podfile while installing the pods.

Please suggest a way that we can use

[2021-11-23 00:35] gongzhang commented on #7544
@dianaafanador3 You guys are doing a really good job! 🙏 I have no further questions. You can close this issue or use it to track document updates. 😄

[2021-11-23 03:58] kristohear commented on #7521
@pavel-ship-it seems issue was with KeychainAccess library that messed up our encryption key while upgrading Swift version from 4.2 to 5.0. We rolled back Swift version and will migrate customers to use keychain as described in Realm documentation. That worked nicely while upgrading Swift from 4.2 to 5.

[2021-11-23 03:58] #7521 closed

[2021-11-23 09:42] #7544 closed

[2021-11-23 13:48] pavel-ship-it commented on #7521
@kristohear great. Thank you for sharing the case.

[2021-11-23 14:24] pavel-ship-it commented on #7536
@tusharmutreja200
Yes, you can use Realm as a static library. Please refer to the documentation [here](https://docs.mongodb.com/realm-legacy/docs/objc/latest/index.html)

[2021-11-23 16:14] #7545 closed

[2021-11-23 17:31] #7164 closed

[2021-11-24 09:50] sync-by-unito[bot] opened #7547 "Implement writeAsync for Swift"
Right now doing your commits on a background thread is quite a complicated affair. You have to open a new realm there, remember to close it again unless you end up pinning the realm, and if you need to bring objects along from the parent (often UI) thread, you have to either pass a primary key and do lookups to retrieve the same object(s) in the new thread (which does not work for lists and query

[2021-11-24 18:07] tusharmutreja300 commented on #7536
Thanks, @pavel-ship-it for the update. This issue does"t  exist when we use the Static IOS framework via Drag-drop way eg. by dragging `Realm.xcframework` into the project.
But this issue exists when we install a realm static framework via Pods. For now, I can use the drag-drop way, please check once why this issue exists when we use realm static framework via Cocoapods.

[2021-11-25 02:24] duncangroenewald commented on #7534
Not sure I understand the full context here but isn't this where the realm.writeCopy() API will create a backup file that is compatible with opening as a non-synced realm file.

[2021-11-25 02:33] duncangroenewald opened #7548 "Synced Realm collection notifications not being received"
### How frequently does the bug occur?

Sometimes

### Description

We expect to be able to observe collection changes using the following code:

class ViewController: NSViewController {

....
  var changeNoficationToken: NotificationToken?

func register(){

`        self.changeNotificationToken = changes?.observe { [weak self] (changes: RealmCollectionChange) in

            DebugLog("UserChange

[2021-11-25 04:26] duncangroenewald commented on #7548
So this seems a bit weird because intermittently when opening the synced realm the call to `realm.syncSession?.addProgressNotification(...)` will return a non-nil value but the callback will subsequently never be called.  And when this occurs the collection notifications are delivered correctly.

However whenever the callback is called the collection notifications don't seem to be called.

It does

[2021-11-25 04:55] duncangroenewald commented on #7548
OK I think I found the problem.

When we open the synced realm the first time when the app gets launched by the user we do so from a background thread to avoid any issues with any realm-core database file format upgrades that might need to be run.

If this upgrade needs to be run then this causes the MAIN THREAD to block until the database file format upgrade has completed.  This is obviously unde

[2021-11-25 08:10] jeanbaptistebeau commented on #7534
Opening the realm in read-only mode could work, but then I have problems when I update the schemas (I don't remember the exact error, but there is an error when a new version of the app tries to read a read-only backup created by an older version).

The `writeCopy` function sounds interesting. @tgoyne would it work in my context?

[2021-11-25 11:21] duncangroenewald commented on #7534
@jeanbaptistebeau  you can only use Realm.writeCopy() when the realm is not open so you need to close all realms and discard any objects that are being referenced - at least that is my understanding.

We use this on startup to make backups before the rest of the application starts accessing the objects.  Just be sure to open the Synced realm with a schema version 0.  That way when you open the bac

[2021-11-26 02:16] anton-plebanovich opened #7549 "Realm crash on the app start with sync open"
#### SDK and version
SDK : RealmSwift (Cocoa)
Version: 10.7.2

#### Observations
* How frequent do the crash occur?

After it occurs once it won't stop

* Does it happen in production or during dev/test?

We didn't release the app yet

* Can the crash be reproduced by you?

I don't know the exact steps but yes I'm the one who catches it

* Can you provide instructions for how we can reproduce it?

[2021-11-26 02:18] ironage commented on #7549
I tried to reproduce this in https://github.com/realm/realm-core/pull/5070, but was unsuccessful. I could be wrong, but I believe this is an issue in the cocoa SDK. Could someone from the team here try to write a test for this to try to pinpoint the issue?

[2021-11-26 18:29] sipersso commented on #7508
Any updates on this @dianaafanador3? Did you find anything out?

[2021-11-26 18:30] dianaafanador3 commented on #7508
Hi @sipersso I found the source of the issue, and I'll have a fix after I finish some other task on my list. I'll add any update to this issue.

[2021-11-26 18:53] sipersso commented on #7508
@dianaafanador3 awesome news! Thank you so much for looking into this :)

[2021-11-28 23:21] duncangroenewald commented on #7486
@ericjordanmossman @jsflax - I am closing this as since reverting to creating the local (non-synced) compatible backup file this issue no longer occurs - that is when using SDK v10.19.0.

Thanks

[2021-11-28 23:21] #7486 closed

[2021-11-29 17:03] azhm commented on #7484
@IPrototypeI
I just encountered this problem.
Update to the latest version.
It has been fixed.
Thanks

[2021-11-29 17:42] tusharmutreja200 commented on #7536
@pavel-ship-it Any update on it, Can we merge that pull request.

[2021-11-29 18:21] #7243 closed

[2021-11-29 19:21] #7287 closed

[2021-11-30 16:46] #7115 closed

[2021-11-30 16:46] #7477 closed

[2021-12-01 14:40] ericjordanmossman opened #7552 "Can't log in user with Apple signin serviceID"
### How frequently does the bug occur?

All the time

### Description

Goals: Log in with apple sign in serviceID or figure out why and change documentation.

https://www.mongodb.com/community/forums/t/cant-use-sign-in-with-apple-natively-and-as-a-web-authentication-at-the-same-time/102093

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Not yet

### Reproduction Steps

[2021-12-01 16:04] jsflax commented on #7548
@duncangroenewald can you send us a project that demonstrates this behaviour? Thanks.

[2021-12-01 18:27] spenceralderson commented on #7526
Hey @pavel-ship-it, wondering if you had any updates on this?

[2021-12-01 23:23] duncangroenewald commented on #7548
@jsflax - I can try and create one for you.  However I just discovered that the cause of the problem might have something to do with the fact that our initial call is like this below (pseudocode).

Not 100% sure here but is seems that because the realm returned by the initial call to Realm() is not being retained this may be causing a problem for the realm-core setup code.

I am speculating a bit

[2021-12-02 00:43] gongzhang opened #7553 "Internal support for modicationDate timestamp?"
### Problem

I'd like to implement `modificationDate` or `updatedAt` timestamps for models in my app. However, I found it was more tricky than I thought.

First, I need to manually update the timestamp in all of the write transactions in my code, which will make the code messy. And it's easy to forget.

Second, since objects support associations, once the associated object is deleted, the associat

[2021-12-02 02:50] duncangroenewald commented on #7548
@jsflax - I send you a test app that replicates the issue.

[2021-12-02 06:00] Vincentzzg commented on #7435
I also encountered this problem.
I found that this problem is due to the use of objects managed by Realm to set thet property. If the setting is a newly created object that is not managed by Realm, setting the property is successful.

@leemaguire @HovhannesPoghosyan

my log:
2021-12-02 13:53:08.304851+0800 HikIMSdk[4555:6334909] *** Terminating app due to uncaught exception 'RLMException', reason:

[2021-12-02 09:28] jeanbaptistebeau commented on #7534
Thank you for your detailed answer.

My goal was to save a backup in case of sync errors. In such cases, I would log out the user, log in again, and load the data from the backup. By "load the data from the backup", I mean looking at the objects that are present in the backup and not in the synced realm, and adding them. Since my app is a journal, I don't care much about deletions and modification

[2021-12-02 09:34] duncangroenewald commented on #7534
@jeanbaptistebeau - not sure that will work because if there is a sync error and your client has to reset then are you still able to open the file to read it.  I think that you might want to look at the MongoDB Realm approach for handling client resets since a backup copy of the file is made and you can then open that in read only mode to fine records that are missing.

Somewhere there is some sam

[2021-12-02 23:35] umurgdk commented on #599
@jsflax any updates on `FailableCustomPersistable`?

[2021-12-02 23:37] jsflax commented on #599
@umurgdk : @tgoyne is filing a series of PRs to enable the custom types spoken about above. Expect more news in the coming weeks.

[2021-12-03 07:57] B00jan commented on #7255
Any updates on this issue?

[2021-12-03 10:32] liao4532234 opened #7555 "How to migrate data when the primarykey is set"
### How frequently does the bug occur?

All the time

### Description

schemaVersion 1 :
class Dog: Object {

    @objc dynamic var uid = ""

    @objc dynamic var dogName = ""

    override static func primaryKey() -> String? {
        return "uid"
    }

}

Then add the data:
let realm = try! Realm()
        let myDog = Dog()
        myDog.dogName = "测试数据"
        myDog.uid = "1"

        try! r

[2021-12-06 08:07] #7555 closed

[2021-12-06 23:28] UrosZivaljevic opened #7556 "Freezing object resets ignored properties to nil or default values"
### How frequently does the bug occur?

All the time

### Description

Expecting the frozen copy of managed object to have same ignored properties values as managed object the copy is made of.

What currently happens is that `freeze`-ing managed object with ignored properties just resets them to default (or nil)

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, alwa

[2021-12-06 23:35] tgoyne commented on #7556
This is working as intended. Realm does not interact with ignored properties in any way, which among other things means that each accessor object has its own copy of those properties. `freeze()` returns a new object which refers to the same data in the Realm, but it doesn't know anything about the values of the ignored properties on the object you called it on.

[2021-12-06 23:36] UrosZivaljevic commented on #7556
Okay thanks for clarification 👍

[2021-12-06 23:36] #7556 closed

[2021-12-06 23:47] tgoyne commented on #7553
No, we don't currently have any built-in support for this. You could technically do something with notifications:

[code]
but this is probably a bad idea that'll just cause you pain.

[2021-12-07 02:47] gongzhang commented on #7553
Thank you for your reply, @tgoyne 👍. I have no further questions.

[2021-12-07 16:30] #7506 closed

[2021-12-08 09:54] sync-by-unito[bot] opened #7557 "Implement Client Reset w/ Recovery"

[2021-12-08 10:13] sync-by-unito[bot] opened #7558 "Implement Convert Non-Sync to Sync Realm"

[2021-12-08 12:51] vyacheslavvorona opened #7559 "Linker fails to find libswift_Concurrency.dylib for RealmSwift in release build"
### How frequently does the bug occur?

Sometimes

### Description

We've been using Realm for quite some time in our application and haven't faced this kind of problem until now.
We have deployed a new version of the app to TestFlight. It contains just some minor fixes, nothing suspicious.
However, the app has suddenly started to crash on launch.

The previous app version was made with the same X

[2021-12-08 17:22] kei-sidorov commented on #7559
The same problem here.
Builds uploaded to TF crashes with the same DYLD error.
In case I made AdHoc release from **the same** xcarchive all works perfectly.

[2021-12-09 02:54] hijamoya commented on #7559
Same issue here.

[2021-12-09 03:57] vyacheslavvorona commented on #7559
Update:
Building the app with Xcode 13.2 RC indeed allowed us to run it on those two iPads. But using an unreleased Xcode version in prod doesn't seem like a proper solution. On well.

Anyway, since the root of the problem is unrelated to RealmSwift I'm closing the thread.

[2021-12-09 03:57] #7559 closed

[2021-12-09 05:12] DouweBos commented on #7559
@vyacheslavvorona You can also disable bitcode to get around this issue. Which itself obviously also has its down sides, just like using a release candidate for prod builds.

[2021-12-09 12:27] liamnichols commented on #7559
This does lead to an interesting question though since we have also hit this issue with our app that supports iOS 12+.

We have no intention in using Swift Concurrency features for a while still, but if Apple's strategy is to bundle libswift_Concurrency.dylib with any app that references the concurrency APIs then its going to increase the size of our app bundle for no reason, which is something I'

[2021-12-09 17:21] tgoyne commented on #7559
We could probably find a way to make it optional for spm and cocoapods installations, but we'll want to wait to let things stabilize a bit rather than run off to solve a problem that Apple might resolve on their end soon.

[2021-12-09 22:07] #6940 closed

[2021-12-09 22:14] #7008 closed

[2021-12-10 10:27] AdlibBeats opened #7562 "Only TestFlight Crash (iOS ... <15)"
{"app_name":"test","app_cohort":"2|date=1639096200000&sf=143469&tid=ce768aa66a3d199a9fca7ebbc6d5301ffc41fd4426e910468d2e396485202005&ttype=i","app_version":"1.1.6","timestamp":"2021-12-10 03:45:14.54 +0300","slice_uuid":"aa178c58-89ec-38b1-905b-4134f9770992","adam_id":1533641502,"build_version":"108","bundleID":"xxx.test","share_with_app_devs":false,"is_first_party":false,"bug_type":"109","os_vers

[2021-12-10 14:05] coutar-t commented on #7562
Got exactly the same here. We had to ask our users to update to iOS 15.1.

[2021-12-10 14:39] WarSunsOfPeace commented on #7562
I got the same issues running iOS 15.1.1 from testflight only. I fixed by linking the libswift_Concurrency  as optional in the build phases.

[2021-12-10 15:43] LyricApps commented on #7562
Same here

[2021-12-10 15:54] bmunkholm commented on #7535
Ping @anlaital

[2021-12-10 15:56] #7534 closed

[2021-12-10 15:56] bmunkholm commented on #7534
Thanks @duncangroenewald for helping out answering this one 👍.

[2021-12-10 18:39] heikkispot commented on #7562
Same here

[2021-12-10 19:12] molind opened #7564 "Crash on migration old synced realm"
### How frequently does the bug occur?

All the time

### Description

Hello,

During migration of user data on an old project i've stumbled on crash on this assert during migration of synced realm:

https://github.com/realm/realm-core/blob/master/src/realm/table.cpp#L1653-L1655

Is there anything we can do to migrate to the newer realm?
What is the key difficulty to migrate synced realm to new fi

[2021-12-10 21:40] ivfomenko commented on #7562
Same here

[2021-12-11 10:38] ivfomenko commented on #7562
So, to resolve this issue, you can do one of 2 things:
1. If your app deployment target is iOS 14 or below, **just downgrade Realm version to 10.14.**
2. If your app deployment target is iOS 15 - **link libswift_Concurrency as optional.**

Trouble was in Swift Concurrency feature, which started to be supported in the version from 10.15. For some reasons in new Xcode 13.2 it compiled with errors.
H

[2021-12-11 12:38] anlaital commented on #7535
@bmunkholm unfortunately we've not been able to isolate the issue, so I have no further details to share at this time. 😔

[2021-12-11 12:54] anton-plebanovich opened #7566 "Is it possible to add support to open Realm on an array of partitions?"
### Problem

Currently, we must open a separate Realm for each partition value. If we try to provide an array of partitions to open we receive an error:
[code]

We want to change the partition value on all our objects and so we need to release a version that will open two Realms on two partitions and then select one that is currently used. Then, release the app that will drop the old one. The main

[2021-12-11 15:59] Tonyhe666 commented on #7562
same here

[2021-12-11 18:04] ianpward commented on #7566
This is not possible at this time but we are working on an initiative known as realm flexible sync that will give you a similar capability. Stay tuned
https://www.mongodb.com/developer/article/realm-flexible-sync-preview/

[2021-12-11 18:04] #7566 closed

[2021-12-12 01:02] tgoyne commented on #7562
Please report this to Apple if you haven't, as it's a bug in TestFlight.

[2021-12-12 17:19] bddq commented on #7562
Same here after upgrading SPM from 10.19.0 to 10.20.0.

[2021-12-12 22:24] AdlibBeats commented on #7562
iPhone 5s (iOS 12.5.5)  libswift_Concurrency NOT HELPED.
@ivfomenko 3. Realm -> Core Data

[2021-12-13 05:34] euroboy commented on #7562
Is it safe to downgrade from 10.20 to 10.14 in a production app?

[2021-12-13 09:24] molind commented on #7564
To check how important that !OID row is i've commented assert line. :) And it was able to migrate the old database. Yes, it contains one unused row. But at least it don't crash on start.

Is it safe to drop !OID during format migration?

[2021-12-13 09:36] ivfomenko commented on #7562
Did you try to downgrade Realm?

[2021-12-13 09:41] ivfomenko commented on #7562
I didn't faced with problems or crashs. But if you use new concurrency features from Realm - you can

[2021-12-13 10:09] coutar-t commented on #7562
I solve the problem by disabling the bitcode.

[2021-12-13 17:02] XHMM opened #7567 ".searchable make list swipe not work in SwiftUI"
### How frequently does the bug occur?

All the time

### Description

when use  realm-provided `.searchable` modifier, swipe action on list not work, when I switched to builtin `.searchable`, I can swipe to delete as normal

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

1.  paste below to a new xcode ios project:

[code]

2. build

[2021-12-13 17:36] Allui commented on #7562
It’s an issue from Apple side. You can use Xcode 13.2 RC to solve.

[2021-12-13 19:45] tgoyne commented on #7562
Xcode 13.2 is now released for real.

[2021-12-14 08:52] dianaafanador3 commented on #7567
HI @XHMM Thanks for letting us know about this, I'll take a look at it

[2021-12-14 09:15] dianaafanador3 commented on #7564
Hi @molind Are you updating from a Legacy Synced Realm to a MongoDB Synced Realm?

[2021-12-14 09:16] BlackComte commented on #7562
Anyone still having the issue with the latest Xcode 13.2?

[2021-12-14 09:32] Tonyhe666 commented on #7562
Apple Clang Compiler
Known Issues
Apps built with Xcode 13 or Xcode 13.1 that make use of Swift Concurrency features (such as async/await), deploy to iOS prior to 15, tvOS prior to 15, or watchOS prior to 8, and have bitcode enabled may crash at launch with an error reporting that the libswift_Concurrency.dylib library was not loaded. (86349088)

Workaround: Add -Wl,-weak-lswift_Concurrency -Wl,-r

[2021-12-14 09:49] molind commented on #7564
@dianaafanador3 Not necessary to synced realm. At first step I want to just browse my data. Since it's a full sync copy it contains the same data as the server.

[2021-12-14 16:34] #7389 closed

[2021-12-14 17:42] dianaafanador3 commented on #7564
I was asking because Realm versions from v10.0.0 sync to MongoDR Realm and previous to that the we use Realm Legacy Synced Realm, so if you want to do a migration from one to another there is a guide for that (https://docs.realm.io/realm-legacy-migration-guide/?_ga=2.130453135.12448320.1639470353-747304217.1634036740). I would suggest to open the realm file locally disabling sync if you only want

[2021-12-14 18:55] molind commented on #7564
Ok we have 1000 users with enabled sync. Should I ask all of them to disable sync before app update? :)

And if I follow your guide. File format migration happens **before** I could change the schema and rename primary keys to _id and before I able to disable the old sync.

[2021-12-14 20:09] ianpward commented on #7564
You cannot migrate the same sync realm from legacy to MongoDB Realm - the file formats and sync instruction set are different. The process, which is described in the linked document, is to migrate your data to MongoDB Realm using some server-side process, and then redownload the data using the MongoDB Realm APIs in your client-side app.

[2021-12-15 06:28] euroboy commented on #7562
Archived with XCode 13.2 (realm 10.20) and app not crashing anymore on TestFlight.

[2021-12-15 08:10] coutar-t commented on #7562
I don't have the issue anymore for iOS >= 13 but for iOS 12 I still have the crash, even with the workaround.

[2021-12-15 08:10] devssun commented on #7562
In iOS 12 have same issue after build Xcode 13.2 and add other linker flags.

Add  `-Wl,-weak-lswift_Concurrency -Wl,-rpath,/usr/lib/swift` to Other Linker Flags in the app’s build settings and build using Xcode 13.2 (from developer site) but app crash on iOS 12.

I think this solving method not working at iOS 12.
If you have a same problem, please TURN OFF Include bitcode for iOS content option w

[2021-12-15 09:33] dianaafanador3 commented on #7567
Hi @XHMM Are you sure this is working for you?, the new searchable SwiftUI modifier is only available from macOS 12.0 and should not be used in lower versions

[2021-12-15 09:41] dianaafanador3 commented on #7553
Hi @gongzhang closing this as we don't plan to support this for now.

[2021-12-15 09:41] #7553 closed

[2021-12-15 10:12] chunyang-wen commented on #7526
Any update on this?

[2021-12-15 14:03] dianaafanador3 commented on #7526
HI @chunyang-wen Seems like the Security framework is not been linked if we have different modules sharing the same dependency. I tested forcing this on the Package.swift file on Realm Core and seems like it is working.
I added a PR to fix on Core, you can follow this here (https://github.com/realm/realm-core/pull/5111)

[2021-12-15 14:10] XHMM commented on #7567
Thanks for reply.

But my depolyment target is IOS15.0,  so I can use this modifier without build failed, and the result is this modifier not work.

Do you mean that I must build on MacOS12.0 to make it work?

[2021-12-15 14:13] dianaafanador3 commented on #7567
@XHMM Because you mentioned that the Platform you are using is `macOS big Sur 11.6` I was not sure how this was working. If you are testing on iOS 15.0 or greater this should work (I tested in a local project and it worked), Can you upload a sample project to a repository so I can check this?

[2021-12-15 14:24] spenceralderson commented on #7526
Thats great, thanks @dianaafanador3!

[2021-12-15 14:26] dianaafanador3 commented on #7494
HI @jeanbaptistebeau It looks like instead of checking this on core, we are checking this on the server, so you can still use the error handle to check if you need to refresh the user access token.
Let us know if the fix worked for you, and close the issue if that's the case.

[2021-12-15 14:31] dianaafanador3 commented on #7526
This will need to first get merged, then a release from core and lastly one from our SDK, I linked the PR and the Changelog to this issue so yo can get updates on every step.

[2021-12-15 14:52] dianaafanador3 commented on #7462
@bb-git @marianpolek @francisli Can you migrate your project to SPM instead of using Cocoapods to import Realm?

[2021-12-15 15:19] dianaafanador3 commented on #7484
@m-afham were you able to fix this after upgrading from Big Sur beta?

[2021-12-15 15:29] XHMM commented on #7567
Here's the [sample repo](https://github.com/XHMM/demo_realm) you can try to reproduce.

[2021-12-15 16:15] #7397 closed

[2021-12-15 16:40] dianaafanador3 commented on #7567
Hi @XHMM I'm trying to figure this out, seems to be working if the showed view comes from a previous navigation, this may be an Apple's bug. A workaround for this will be to do something like this

[2021-12-15 16:40] dianaafanador3 commented on #7567
struct ContentView: View {
    @State var navigate: Bool = false

    init() {
        let realm = try! Realm()
        try! realm.write {
            realm.deleteAll()

            let todo1 = TodoModel()
            todo1.content = "todo1"

            let todo2 = TodoModel()
            todo2.content = "todo2"

            let todo3 = TodoModel()
            todo3.content = "todo3"

[2021-12-15 17:55] dianaafanador3 commented on #7536
@tusharmutreja200 have you tried adding use_modular_headers! to your Podfile

[2021-12-15 18:35] dianaafanador3 commented on #7535
For the looks of the stack trace seems it could be that the object you are adding, may have some corrupted data. Do you have any code from the App start up which could be adding some object to the database?

[2021-12-15 19:55] francisli commented on #7462
@dianaafanador3 my app has other Cocoapods dependencies which have a dependency on Realm, so I can't easily migrate just the Realm package from Cocoapods to SPM in my app without having to pull others with it (which may or may not also be compatible with SPM)... is there really no way to fix the Cocoapods Realm package?

[2021-12-15 21:40] mwoollard commented on #7562
I've the same issue, could someone from Realm confirm that putting out an app update built with 10.14 (the downgrade suggested above) from 10.20 will not cause any issues - ie can a realm database created by 10.20 be used from 10.14. Thanks!

[2021-12-16 09:55] #7494 closed

[2021-12-16 11:56] sync-by-unito[bot] opened #7573 "Only TestFlight bug - Image Not Found"
### How frequently does the bug occur?
All the time

### Description
Crash only TestFlight on iOS ... < 15.0

### Stacktrace & log output
[code]

### Can you reproduce the bug?
Yes, always

### Reproduction Steps
Just build any application, -> TestFlight (Any iPhone with iOS ... < 15.0)

### Version
10.19.0

### What SDK flavour are you using?
Local Database only

### Are you using encryption?
No,

[2021-12-16 12:44] Astrian opened #7574 "Cannot import in Swift Playground (iPadOS)"
### How frequently does the bug occur?

All the time

### Description

Related to issue #7117

Apple updated Swift Playground app in iPadOS today and can create a real iPad app program inside the app. There is a package manager function, however, it cannot import Realm-cocoa with error `this software package has no version tags` (translated from simp chinese)

![IMG_0848](https://user-images.githu

[2021-12-16 12:46] dianaafanador3 commented on #7574
Hi @Astrian Thanks for letting us know about this, we are testing this at the moment and let you know any updates

[2021-12-16 15:50] dianaafanador3 commented on #7573
This maye be related to this https://github.com/realm/realm-cocoa/issues/7562

[2021-12-16 15:50] XHMM commented on #7567
Thanks for reply, I tried it and worked.

Althought writing like this seems a little weird, nothing better to solve this. 😬

[2021-12-16 15:50] #7567 closed

[2021-12-16 15:52] dianaafanador3 commented on #7567
I'll keep looking at the issue, but it looks like something on Apple's side specifically for 'NavigationView', any update I'll add it to this issue

[2021-12-17 17:19] pavel-ship-it commented on #7466
@romanrudyy hi. any news on the issue? Can you reproduce the issue using the approach from my previous message?

[2021-12-17 19:46] maretod opened #7578 "Crash when creating new objects"
### How frequently does the bug occur?

Sometimes

### Description

Creating a new object should not crash the app. We're experiencing a crash for a small portion of our production users. The message for the exception is:

`When inserting key '0' in 'class_<Redacted>'`.

Based on my analysis, it looks like this is being raised from realm-core, and is not related to inserting objects with duplicate

[2021-12-18 02:22] cobeo2004 opened #7579 "Can’t import Realm to the Newest Swift Playgrounds 4"
So I’m trying to create an app, but when it comes to importing Realm, it said that “Packages does not have version tags”. So could anyone help me ?
![41A917F8-AA20-4F3C-A819-3FE10BA76477](https://user-images.githubusercontent.com/80842534/146625893-5e8e66b0-5357-49d0-acf4-586ec99162bd.png)

[2021-12-18 04:14] Astrian commented on #7574
![image](https://user-images.githubusercontent.com/4896770/146628482-5b718527-c340-4dc1-8cda-61c02967dd3d.jpeg)

Just found that Realm-Cocoa cannot be implemented in Swift Playgrounds, for Realm-cocoa used C++ code and cannot be compiled in iPad.

Closing this issue for Realm-cocoa not be supported in the environment.

[2021-12-18 04:14] #7574 closed

[2021-12-18 12:24] jsflax commented on #7574
@Astrian where are you able to see those warnings? We're experimenting with ways to get Realm working on Playgrounds and I haven't encountered those warnings yet.

[2021-12-18 12:29] Astrian commented on #7574
@jsflax Repeat the warning steps:

- Create app project in Swift Playgrounds on iPad
- Wait the new project upload to iCloud Drive
- Upgrade Xcode to version 13.2 on Mac
- Open project package on Mac with Xcode
- Add Realm-cocoa dependency and compile the project with Command-R
- See the warning

[2021-12-19 21:04] jznadams commented on #7562
For other people in my situation that need to support iOS 12, I was only able to get 10.20.1 to work on iOS 12 by compiling with Xcode 13.1 and skipping bitcode support like others mentioned. I could not get it to work with Xcode 13.2 even when skipping bitcode and using the "other linker flags".

[2021-12-19 23:58] tgoyne commented on #7562
13.2.1 claims to have fixed bugs related to this.

[2021-12-20 08:40] mwoollard commented on #7562
Just tried build with 13.2.1 of our app, latest Realm and with weak linking flags from Xcode 13.2 release notes - didn't fix issue :-(

[2021-12-20 10:16] leemaguire commented on #7562
@mwoollard what version of iOS is your app targeting?

[2021-12-20 10:18] mwoollard commented on #7562
Sorry should have said, we can no longer target iOS 12. With weak linking flags from Xcode release notes are able to target iOS 13+.

[2021-12-20 14:43] Kalzem opened #7580 "Upon updating Realm Sync rules/schema, mobile clients don't sync anymore"
### How frequently does the bug occur?

All the time

### Description

Using Realm sync on Atlas v4.x and iOS SDK 10.20.0, when I update the Realm Sync schema by adding a new field to a document or a new collection using the Realm Sync Dashboard, I realized that the "living" mobile client doesn't sync anymore (I'm talking about clients that open a sync stream before and during the schema update).

[2021-12-20 15:31] leemaguire commented on #7549
This crash is happening because the table information for the new object cannot be added on initialisation of the Realm (due to it being read-only). As an alternative you could look at [read/write permissions](https://docs.mongodb.com/realm/mongodb/define-roles-and-permissions/) for synced collections in your MongoDB Realm app.

[2021-12-21 11:29] chunyang-wen commented on #7526
The latest version 10.20.2 compiles with Xcode 13.2.1 on Monetry.

[2021-12-21 12:06] dwirandyh opened #7583 "Impact of Generate Debug Symbols is set to NO for Realm iOS static"
Hello there, i would like to ask a question related xcode build confinguration.

So i have build a Realm static framework on my local machine, because of the .framework file is large, i want to generate Realm.framework but with Generate Debug Symbols is NO, and the result Realm.framework size is reduced

The question is there any negative impact that will happen to my app that use Realm.framework?

[2021-12-21 12:19] zcohan opened #7584 "Exception raised when creating RLMApp in older SDK version"
### How frequently does the bug occur?

All the time

### Description

I updated my development version of Realm Swift to 10.20.1 and I noticed that the production version of my product (still using 10.16.0), now runs into an exception when trying to create its synced Realm App on launch:

`static let syncedRealmApp = App(id: "(my app id)") // this line of code now crashes the app!`

`*** Terminat

[2021-12-21 12:20] zcohan commented on #7584
I would expect there to be a way for me to handle such an exception on my end (I can disable Realm sync support, for example). It's not a fatal error for my application, so it should not the entire application to crash on launch.

[2021-12-21 15:00] leemaguire commented on #7583
Hi @dwirandyh,

Not generating debug symbols will not have any impact on your app. Debug symbols will be stripped automatically if you build Realm in release mode.

[2021-12-21 15:00] #7583 closed

[2021-12-21 15:11] leemaguire commented on #7584
Hi @zcohan, I'll take a look into this issue.

[2021-12-21 15:14] leemaguire commented on #7584
Just to be clear, are you seeing this issue during development only? And on the same device that had v10.20.1 installed?

[2021-12-21 15:48] zcohan commented on #7584
Thanks @leemaguire.

The app (running 10.16.1) hits the exception once I have opened a newer version (running 10.20.1) on the same machine. It makes no difference whether they are development or release builds.

Deleting the "mongodb-realm" folder in the App Support folder is a workaround to get it the 10.16.1 running version launching again (though this signs the user out of Realm).

[2021-12-21 15:57] tgoyne commented on #7584
The schema version of the metadata realm which we use to store information like the cached logins was bumped in 10.20.0. Upgrading to the new version is seamless, but downgrading from there isn't supported. This is something we should have called out in the changelog, and at the minimum needs a better error message since the generic schema version one isn't very useful.

[2021-12-21 15:58] zcohan commented on #7584
I see..

[2021-12-21 16:01] zcohan commented on #7584
I see.  Is there a way for me to handle such an exception on my end in future versions? I expect this won't be the last time your schema changes.

I'd like to be able to maintain backwards compatibility between versions of the app. Realm not being able to open the schema used for syncing is not a fatal error for my application - I can simply disable Realm syncing support, if necessary.

[2021-12-21 16:25] #6984 closed

[2021-12-22 01:39] moflo commented on #7579
Hi - Apple SPM does not support version suffix “v” for release tags, so you would need to update Realm releases to be tagged as “10.20.1” and not “v10.20.1”

But, fatally, Swift Playgrounds does not support Objective-C so you would have to rewrite Realm as a pure Swift library… which seems unlikely

[2021-12-22 05:54] mmdHussain opened #7585 "library not found for -lrealm-monorepo"
### How frequently does the bug occur?

All the time

### Description

When Compiling with realm im getting these error.

Xcode Version - 13.1
iOS 15

Im installing the realm like these
[code]

Ld /Users/mac/Library/Developer/Xcode/DerivedData/Project-bmdqhsllekeuaygqupexvoaluawt/Build/Products/Debug-iphoneos/Realm/Realm.framework/Realm normal (in target 'Realm' from project 'Pods')
    cd /Users/

[2021-12-22 07:35] khacdai37 opened #7586 "dyld: Symbol not found: ___chkstk_darwin"
### How frequently does the bug occur?

All the time

### Description

App crash when I run on iOS 12. version.

`dyld: Symbol not found: ___chkstk_darwin
  Referenced from: /private/var/containers/Bundle/Application/3EEB008F-D7CB-4AF3-A0AC-E6DCAC71C9C0/ProjectOn_iOS13.app/Frameworks/libswift_Concurrency.dylib (which was built for iOS 13.0)
  Expected in: /usr/lib/libSystem.B.dylib
 in /private/va

[2021-12-22 09:57] leemaguire commented on #7585
Hi @mmdHussain,

I cannot reproduce your issue. Could you clean the build + delete all derived data and try again. Could you also show us your full pod file?

[2021-12-22 10:11] mmdHussain commented on #7585
# Uncomment the next line to define a global platform for your project
platform :ios, '13.0'
#source 'https://github.com/CocoaPods/Specs.git'
source 'https://cdn.cocoapods.org/'

use_frameworks!

target 'Project' do
  # Comment the next line if you're not using Swift and don't want to use dynamic frameworks

  pod 'Firebase/Auth'
  pod 'Firebase/Messaging'
  pod 'Firebase/Analytics'
  pod 'Firebas

[2021-12-22 10:16] leemaguire commented on #7580
Hi @Kalzem,

I will take a look into this issue.

[2021-12-22 10:23] mmdHussain commented on #7585
# Uncomment the next line to define a global platform for your project
platform :ios, '13.0'
#source 'https://github.com/CocoaPods/Specs.git'
source 'https://cdn.cocoapods.org/'

use_frameworks!

target 'Project' do
  # Comment the next line if you're not using Swift and don't want to use dynamic frameworks

  pod 'Firebase/Auth'
  pod 'Firebase/Messaging'
  pod 'Firebase/Analytics'
  pod 'Firebas

[2021-12-22 10:43] leemaguire commented on #7580
Hi @Kalzem ,

I tried to reproduce this and it first it looked like a bug. I done an additive change to the Realm Sync schema and then modified some documents in Atlas. At first it looked like they were not syncing, but after about 2-3 minutes I received a sync changeset and all objects synced correctly.

Could you also check and see if your objects sync after a certain amount of time?

[2021-12-22 15:35] leemaguire commented on #7585
@mmdHussain I cannot reproduce your issue with the above pod file. Can you clean your build and delete your derived data to see if that helps?

[2021-12-22 15:38] leemaguire commented on #7586
Your issue looks related to https://github.com/realm/realm-swift/issues/7562

[2021-12-23 00:38] devssun commented on #7562
**Xcode 13.2.1 release note**
https://developer.apple.com/documentation/xcode-release-notes/xcode-13_2_1-release-notes

---
Apple said "This only affected apps that used Swift Concurrency features (such as async/await), deployed to iOS prior to 15, tvOS prior to 15, or watchOS prior to 8, and had bitcode enabled."
but build with **xcode 13.2.1 and we have same crash in iOS 12 ;(**

SOLVE
- just do

[2021-12-23 10:56] bmunkholm commented on #7573
Closing this as a duplicate of #7562

[2021-12-23 10:56] #7573 closed

[2021-12-23 13:40] devZant opened #7587 "Help please"
Hello,

My App crashes on launch with following error on RealmSwift 10.5.1 although all properties are marked as @objc dynamic var.

'RLMException', reason: 'No properties are defined for 'ReflectableObject'. Did you remember to mark them with '@objc' in your model?'

On this line:
s_sharedSchemaState = SharedSchemaState::Uninitialized;

[2021-12-23 13:56] leemaguire commented on #7587
Hi @devZant, Can you show us what your Realm models look like?

[2021-12-23 14:00] devZant commented on #7587
class ReflectableObject: Object {
	func convertObjectToMirrorChildren() -> Mirror.Children {
		return Mirror(reflecting: self).children
	}
}

class Child: ReflectableObject {
	@objc dynamic var name = String()
	@objc dynamic var birthDate = Date()
	@objc dynamic var profilePhotoData = NSData()
	@objc dynamic var gender = String()
	@objc dynamic var lengthUnit = Int()
	@objc dynamic var weightUnit

[2021-12-23 14:03] leemaguire commented on #7587
Your `ReflectableObject` is missing a property. You need at least one property in each Realm `Object` class.

[2021-12-23 14:10] devZant commented on #7587
Oh OK :), thanks a lot.

[2021-12-23 14:18] #7587 closed

[2021-12-23 16:45] alexliubj commented on #7562
Had someone encounter any issue with downgrading RealmSwift to 10.14.0 in production level? Everything so far so good ?

[2021-12-23 16:54] alexliubj commented on #7562
I don't have iOS 12 device to test but I'm thinking if I use latest Xcode which is 13.2.1 and add `libSwift_Concurrency.tbd` as optional to my project. Will it work without downgrading RealmSwift to 10.14.0

[2021-12-23 17:33] owenzhao commented on #7585
Can you test this?

1. Create a new project and added realm.
2. Build with Xcode. Don't apply the yellow optimization options that are provided by Xcode.
3. If 2 will be built with success. Click and see the yellow optimization with Xcode.

If you see the yellow optimizations are code-signing with "-", just don't apply them. Uncheck the box and press done. The options will never be shown again.

I

[2021-12-23 17:40] tgoyne commented on #7562
Linking `libSwift_Concurrency.tbd` does not help for iOS 12. The problem is that that library requires iOS 13+ but TestFlight is rewriting the availability checks to iOS 12+.

Using Xcode 13.1 with Realm 10.20.2 appears to currently be the most effect workaround.

[2021-12-23 17:48] alexliubj commented on #7562
@tgoyne
Thanks for your help.
What do I need to do with this Xcode 13.1? I mean do I need to some flags in 'other flags' to make some dependency to weak?

[2021-12-23 17:52] tgoyne commented on #7562
Realm 10.20.2 should not have any references to anything which requires libConcurrency when building with Xcode 13.1. It's the same result as building with an older version from before we started adding async wrappers for functions.

[2021-12-23 18:01] alexliubj commented on #7562
Thanks again for your quick reply. I think my app was experiencing crash for prior to iOS 15 users when it was built with Xcode 13.1. I just couldn't recall what was the realm version back to that build.

 Could it be possible that if my app is build with XCocde 13.1 with an older version of realm that crashes but Xcode 13.1 + 10.20.2 wouldn't crash?

[2021-12-23 18:10] tgoyne commented on #7562
Yes. Realm 10.15.0-10.20.0 has `async` functions when building with 13.1. 10.20.1 made them require 13.2 to work around the first version of this problem.

[2021-12-23 23:03] #7009 closed

[2021-12-24 00:30] #4732 closed

[2021-12-24 11:29] anton-plebanovich opened #7588 "Failed to parse, or apply received changeset: ArrayInsert: Invalid prior_size"
### How frequently does the bug occur?

Sometimes

### Description

Cloned from here https://www.mongodb.com/community/forums/t/e-realm-sync-connection-1-session-1-failed-to-parse-or-apply-received-changeset/107809/4?u=anton_p

Both iOS and Android apps are unable to open Realm for some users because of the error received from the Realm Sync.

### Stacktrace & log output

[code]

I also have a ful

[2021-12-24 14:14] leemaguire commented on #7588
Hi @anton-plebanovich could you send the logs to realm-help@mongodb.com so I can take a look? Thanks.

[2021-12-24 14:16] leemaguire commented on #7588
Did you update the schema on the server first and then change the schema on the client after?

[2021-12-24 16:21] anton-plebanovich commented on #7588
Hi @leemaguire I sent the log fix.

Yes, we first deployed new schemas and only after that released new app version that uses those new objects.

[2021-12-24 16:34] chkpnt commented on #6898
Uh, just noticed in the release notes of [v10.18.0](https://github.com/realm/realm-swift/releases/tag/v10.18.0):
_- Add prebuilt binary for Xcode 13.1 to the release package._

In the latest release notes ([v10.20.2](https://github.com/realm/realm-swift/releases/tag/v10.20.2)), the prebuilt binary is mentioned, too:
_Rebuild 10.20.1 with Xcode 13.2.1 rather than 13.2.0. This version has no
changes

[2021-12-24 16:37] chkpnt commented on #6898
Mh.... Xcode is still compiling Realm when using SPM.

[2021-12-24 17:11] alexliubj commented on #7562
@tgoyne thanks for your suggestion and seems like it worked.

This bug is funny though, it's hard to test because TestFlight in Appstore requires iOS 13.0 and later but this crash happens on iOS 12 with TestFlight or AppStore version.

[2021-12-24 17:29] mwoollard commented on #7562
I happened to have an iPhone 5S with iOS 12.4 and old version of TestFlight installed, the old version still works and downloads apps onto the device.

[2021-12-24 18:46] tgoyne commented on #6898
We have prebuilt xcframeworks available on [each of the releases](https://github.com/realm/realm-swift/releases/tag/v10.20.2), which the spm package does not use.

[2021-12-25 10:31] zohairhadi commented on #7083
When I updated to Xcode 13.2.1, it started showing me Swift Compiler Error in RealmSwift/SwiftUI like

- Cannot find type 'Binding' in scope
- Unknown attribute 'StateObject'

<img width="316" alt="Screenshot 2021-12-25 at 3 30 15 PM" src="https://user-images.githubusercontent.com/45510142/147383106-a8b81e73-bb93-4786-aa9b-de9dec7639f0.png">

[2021-12-26 15:14] Zanchee opened #7591 "`valuePublisher` does not publish when an `Object`'s `LinkingObjects` is updated."
### How frequently does the bug occur?

All the time

### Description

I have two objects...

[code]

and

[code]

I have a `valuePublisher(myRecipe)` but it does not publish changes when I create a new `Brew` that references `myRecipe`

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.20.2

### What SDK

[2021-12-27 08:36] laGrave commented on #7466
Hi all. Is there any information? Still facing hundreds of crashes every day. Can't see them in firebase, but they are visible in AppStoreConnect dashboard and XCode organizer

[2021-12-27 08:52] bb-git commented on #7466
We contacted Apple about the iOS 15 issues. What we were told, is that starting from iOS 15 the lifecycle methods do not necessarily need to be called in the order expected from previous iOS version. We found out, that `applicationWillTerminate` was called without `applicationDidFinishLaunching` being called. One object wasn't initalized and the app crashed. Also the crash tracker wasn't loaded, s

[2021-12-27 19:22] #5711 closed

[2021-12-27 19:23] #7423 closed

[2021-12-27 21:36] cpd commented on #7562
Realm 10.20.2 and Xcode 13.2.1 still crashes on iOS 12

10.14.0 seems to work

[2021-12-28 01:32] brothersjunior opened #7592 "RealmSwift Migration"
Udemy I use to study now,but the Migration problem was occuted so I didn't gain forward

[2021-12-28 08:39] peter-Kings opened #7593 "After launch the application, calling try! Realm() crashes"
### How frequently does the bug occur?

Sometimes

### Description

Code:

`func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {`
        `ClockTaskManager.shared`
`}`

`class ClockTaskManager: NSObject {`
   ` public static let shared = ClockTaskManager()`
    `private var userColumnStorage = KeySetStorage()`

[2021-12-28 08:56] peter-Kings commented on #7593
Add
Thread 0 Crashed:
0   libswiftCore.dylib                  0x0000000184f8a5a8 0x184f50000 + 239016
1   libswiftCore.dylib                  0x0000000184f8a5a8 0x184f50000 + 239016
2   libswiftCore.dylib                  0x0000000184ff0f34 0x184f50000 + 659252
3   mama                                0x00000001007086e8 ClockTaskManager.().init() + 1214184 (ClockTaskManager.swift:26)
4   mama

[2021-12-29 11:38] philprime commented on #6898
@tgoyne even tough the `xcframework` you provide work fine,  the asset archive _structure_ is not suitable for SPM.

You are providing a single `realm-swift-X.Y.Z.zip` archive which contains the compiled `.xcframework` for each Xcode version (and the respective Swift version) combined..

The file tree looks like the following:

[code]

But to be able to use precompiled frameworks with SPM, the res

[2021-12-29 16:19] leemaguire commented on #7593
Your logs don't indicate that Realm has caused a crash here. It is likely caused by how you are inheriting from `NSObject` on `ClockTaskManager` and that you are using it as a singleton.

[2021-12-29 16:19] peter-Kings commented on #7593
你的邮件已收到，我会尽快处理并给予回复！！！

[2021-12-29 16:20] leemaguire commented on #7592
Closing as insufficient information provided.

[2021-12-29 16:21] #7592 closed

[2021-12-29 16:55] leemaguire commented on #7591
Hi @Zanchee I cannot reproduce your issue. Could you attach a more detailed test case that reproduces this?

[2021-12-29 17:10] leemaguire commented on #7584
We don't have a way to capture the exception thrown from `App` in Swift as it throws an Objective-C exception.

[2021-12-29 17:22] leemaguire commented on #7579
Realm is not compatible with Swift Playgrounds on iPad at this time.

[2021-12-29 17:22] #7579 closed

[2021-12-29 17:55] alan16R commented on #7223
I'm using the following workaround. This creates two configurations - one is the 'main'  and the other is 'preview'.

The preview is set to be 'in_memory'. I also load in sample data from a Data asset preview_realm.json in the Preview Assets.xcassets bundle.

I inject the configuration at App startup as below
 .environment(\.realmConfiguration, RealmManager.main)

Here's the actual structure

[cod

[2021-12-29 18:13] alan16R opened #7595 "SwiftUI TextFields do not accept typed in characters in preview mode."
### How frequently does the bug occur?

All the time

### Description

I'm using SwiftUI and Realm with the @ObservedRealmObject property type.

I'm using TextField objects to input text. Although the binding to an Object subclass String property appears to work properly for cases like Cut, Paste etc, typing at the keyboard does not work.However, running in a simulator does work.

### Stacktrace &

[2021-12-29 19:24] #7535 closed

[2021-12-30 10:55] hijamoya commented on #7562
For iOS 12, the only solution is using Xcode 13.1 and disable bitcode.

[2021-12-30 11:10] leemaguire commented on #7595
This looks like an Xcode bug https://developer.apple.com/forums/thread/650365

[2021-12-30 11:14] #7595 closed

[2021-12-30 11:18] leemaguire commented on #7578
Hi @maretod

Could you attach a few more crash logs so we can investigate further?

[2021-12-30 11:57] leemaguire commented on #7588
Hi @anton-plebanovich,

The team is looking into this.

[2021-12-31 10:06] kevinpalser commented on #7586
We're currently having to build our app with Xcode 13.1 if we want to maintain support for iOS 12 in conjunction with recent versions of Realm (v10.20.2 at the time of writing). Others are suggesting using Realm v10.14 or earlier. Both solutions are less than ideal.

Either:
-  Realm needs to be updated to work with the latest versions of Xcode and iOS 12, or
-  The minimum deployment target raise

[2022-01-03 16:04] maretod commented on #7578
@leemaguire Unfortunately, logs relating to this issue aren't abundant. Besides the crashed thread stack trace I'm afraid we don't have much more to share. I am able to share the models which seem to be causing this issue, however. It is our `EmbeddedObject` which is appearing the exception message:
`When inserting key '0' in 'class_MyEmbeddedModel'`

[code]

[2022-01-03 16:28] mungbeans opened #7596 "Error Domain=io.realm Code=2 "Unable to open a realm at path" Operation not permitted"
### Problem

https://github.com/realm/realm-swift/issues/6096 says "For anyone still encountering the initial issue, please upgrade to the latest version of Realm."

With an iOS application in Testflight using 10.20.1 a crash in Tesflight was observed with:

 Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=2 "Unable to open a realm at path '/private/var/mobi

[2022-01-04 03:14] wzio commented on #7586
It is a Xcode [bug](https://forums.swift.org/t/swift-concurrency-back-deploy-issue/53917), need to be fixed by Apple

[2022-01-04 13:55] leemaguire commented on #7596
Hi @mungbeans,

Can you show us how you are opening the Realm in your extension? Have you added `NSFileProtectionNone` to the Realm location? I'm thinking this might be caused by file access while the device is locked.

[2022-01-04 14:25] #5633 closed

[2022-01-04 15:10] mungbeans commented on #7596
Hi @leemaguire

Ah, no I haven't NSFileProtectionNone, I was under the assumption that was the default value if you didn't do anything explicitly.

Here's how its being opened
 let db = RealmDatabase.instance()
 db.openOrCreateDatabase()

@objc class RealmDatabase : NSObject {
    var configuration:Realm.Configuration?  		= nil

    @objc public class func instance() -> RealmDatabase {
        ret

[2022-01-04 15:45] leemaguire commented on #7596
Could you try:
[code]

[2022-01-04 16:16] mungbeans commented on #7596
Yes I'll add that and then keep an eye out on it to see if it happens again. Thanks

[2022-01-05 02:36] cobeo2004 commented on #7579
I see the point now, thanks for letting me know !

[2022-01-05 09:45] marianpolek commented on #7462
would be great to fix it for cocoapods. as diannafanador3 said, it's not as easy as it seems.
Besides that. time is flying very quickly, and we are loosing each new version of this library. Which can contains other crashes, bugfixes etc. etc.
Do you know where is the problem ? what cases crash?

Thank you for your support

[2022-01-05 12:58] alidinc commented on #7157
Thanks! SPM works fine

[2022-01-05 16:24] sethsamuel commented on #7431
Is there any update on this? Currently can't use Realm with async/await because initing a realm with async always does so on the main thread, which immediately causes a crash if the async code has been moved to a background thread.

[2022-01-05 20:52] Zanchee commented on #7591
Here is a fully functioning example. I also attached the project.

[code]

[2022-01-05 21:03] Zanchee commented on #7591
Could this potentially be related to #7493?

[2022-01-06 09:51] pavel-ship-it commented on #7591
Hi @Zanchee
Unfortunately it looks like it's 7493.
As a workaround you can observe the foo.bars directly
[code]

[2022-01-06 09:57] nicholausadi commented on #7562
I'm also facing this crash. My workaround is build using Xcode 12.5.1 and iOS 12 run smoothly.
I don't need to downgrade Realm or disable bitcode.
Hope this help.

[2022-01-06 10:41] pavel-ship-it commented on #7578
@maretod ,
it looks like you a trying to create a copy of existing `MyEmbeddedModel`. Can it be the case?

[2022-01-06 12:54] Zanchee commented on #7591
@pavel-ship-it it seems like the author of the other issue may know what the actual issue is, is this something that belongs on the realm core repo vs the realm swift one? I'm using that workaround for now, but definitely would like to avoid it in the future if possible.

[2022-01-06 16:26] jsflax commented on #7578
@maretod I'm unable to reproduce this crash, though it does seem legitimate. I tried using an encrypted Realm and encoding/decoding your data model and calling the same calls you are. Do you have a sample Realm or even just a data set that we could work with?

[2022-01-06 17:38] pavel-ship-it commented on #7591
@Zanchee yes, we have a ticket concerning this issue in core repository too.

If you don't mind I'll close this issue as a duplicate of #7493. You can track the status by subscribing on the related issue updates.

[2022-01-06 17:38] #7591 closed

[2022-01-08 15:35] ZaurGiyasov commented on #7562
For iOS 12-12.5: use using Xcode 13.1, and pods update (bitcode is enabled by default). Xcode 13.2.1 still crashes on iOS 12 from device, but fine run on simulator iOS 12

[2022-01-09 09:16] TheMojoMan opened #7597 "Swift Playgrounds 4/iPad: "Package has no version tags""
### How frequently does the bug occur?

All the time

### Description

I tried to import the package using Swift Playgrounds 4 on my iPad and always get "Package has no version tags" error.

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

Swift Playgrounds 4

### What SDK flavour are you using?

Local Data

[2022-01-09 10:42] DAEUN28 opened #7598 "Realm.object(ofType:forPrimaryKey) method crashes when the key is used as a generic."
### How frequently does the bug occur?

All the time

### Description

I made the extension method `fetch(for:)` to use Realm with generic,
[code]
It worked nice with RealmSwift version 10.17.0, but it always crashes after updating to 10.20.1.
Specifying the type works fine, but using generics has great benefits.
Please fix the issue ASAP!

### Stacktrace & log output

[code]

### Can you reproduc

[2022-01-09 12:49] jsflax commented on #7597
@TheMojoMan apologies but we cannot support Playgrounds in its current state. Our library is built on top of ObjC/C++ so until they allow non-Swift (or binary) dependencies, we cannot support Playgrounds.

[2022-01-09 13:16] jsflax commented on #7598
@DAEUN28 because `Object` is a base class and not a protocol, your method cannot deduce the correct type without providing the type information:
[code]

[2022-01-09 14:18] KimiChiu commented on #7417
Is it safe to upgrade to the latest version now?

[2022-01-10 10:49] gabrielnica opened #7599 "Make Swift Concurrency Realm enhancements available for iOS 13+"
### Problem

Currently all the structured concurrency enhancements such as
[code]
etc. are marked with

[code]

Is it possible to add availability for iOS 13 as well? At a first glance it doesn't look like there's any blocker for this change

### Solution

Change `@available(iOS 15.0)` to `@available(iOS 13.0)` for Concurrency enhancements

### How important is this improvement for you?

Dealbreak

[2022-01-10 11:29] tusharmutreja200 opened #7600 "How to handle RLMException in Swift."
### How frequently does the bug occur?

All the time

### Description

Hey,

I am using the realm-objective-c with the swift language. I got an issue while handling the RLMException in swift.
Like I have written

`do{
        try autoreleasepool {
          let realm = RLMRealm.default()
          realm.beginWriteTransaction()
          let realmData = try self.getRealmQuery(tableName: tableName,

[2022-01-10 13:37] quentinfasquel commented on #7244
I am not really sure how this works in every case.
If you execute your app migrating from 1 to 2, then execute migrating from 1 to 3, this will work.
However when a user migrates directly from 1 to 3, then newDogObject will be nil and crash or the same issue will happen.

This seems like a missing feature in Realm, or I am missing something...

[2022-01-10 16:04] quentinfasquel commented on #3686
I still face the problem

class Model { (...) specificState: SpecificState }
class SubObject { (...) parent: Model }

Realm configuration's object type contains SpecificState.self

I want to remove SubObject from my app, but I cannot manage to perform a migration that would at the same time remove the class & the data. deleteData(forType: "SubObject") seems to be the one with the issue.

If I don'

[2022-01-10 16:34] tgoyne commented on #7600
Swift's `catch` catches Swift Errors, not obj-c exceptions. We throw exceptions only to report precondition violations and none of them are intended to ever be caught. Think of them as failing calls to the `precondition()` function in Swift.

[2022-01-10 17:50] tusharmutreja200 commented on #7600
Hey @tgoyne, Thanks for replying. I understand your point, but In any way, we don't want that application will be crash.
while working with Realm, I found that our application will get crash when we receive the RLM exception. Is there any workaround that we receive an error as NSError?

[2022-01-10 19:25] anton-plebanovich commented on #7453
Looks fine on the latest `10.20.1` Realm - https://github.com/anton-plebanovich/SingleView/tree/bug/realm-observe

[2022-01-10 23:34] tgoyne commented on #7599
Swift concurrency backdeployment currently has some issues (the Mac App Store rejects apps using it, and it bundles the rather large libswift_Concurrency.dylib even if the app itself never calls any of the async functions) which we need to find workarounds for before we can reasonably enable it.

[2022-01-11 01:27] shiami opened #7601 "Only crash on iOS 12.x, image not found (libswift_Concurrency.dylib)"
### How frequently does the bug occur?

All the time

### Description

Upgrade to newer version of RealmSwift, crash happens only on iOS 12.x.

Environment:
- Xcode `13.2.1`
- iOS Deployment Target 9.0
- RealmSwift `10.20.1`
- CocoaPods `1.11.2`

Run my app on iPhone 8 Simulators (iOS 11.4, 12.1, 15.2).
Crash only happens on iOS `12.1`.

Same thing happens on real devices (iOS `12.x`).

After down

[2022-01-11 01:30] shiami commented on #7601
Possible related to https://github.com/realm/realm-swift/issues/7562

[2022-01-11 07:52] liDengHong opened #7603 "Our App is using Realm. After storing data, the memory cannot be lowered. Is there any way to lower the memory"
### How frequently does the bug occur?

All the time

### Description

I wrote a simple demo to verify that memory can't be reduced

[code]

[code]

![image](https://user-images.githubusercontent.com/16500164/148901520-51eda9cc-7fbe-4fac-ad90-4c393d1a19df.png)
![image](https://user-images.githubusercontent.com/16500164/148901598-e35b6497-d8f8-4d2f-b9ac-11455aa1723f.png)

### Stacktrace & log outpu

[2022-01-11 09:28] skytoup opened #7604 "v10.21.0 Collection.where using PersistableEnum crash, and v10.20.1 is work"
### How frequently does the bug occur?

All the time

### Description

libc++abi.dylib: terminating with uncaught exception of type NSException
*** Terminating app due to uncaught exception 'Invalid value', reason: 'Cannot compare value 'RoleType.normal' of type '__SwiftValue' to property 'type' of type 'int''
terminating with uncaught exception of type NSException

### Stacktrace & log output

[c

[2022-01-11 10:49] jsflax commented on #7604
@skytoup Using the latest version of the SDK, I am unable to reproduce the bug with the steps you provided. Is there any more information you can provide us?

[2022-01-11 12:53] skytoup commented on #7604
@jsflax Same code, iOS14 and iOS15 don't crash, it should be iOS13 and below

iPhone6 iOS12.4
![image](https://user-images.githubusercontent.com/11342389/148945769-71c04bbf-5418-4c29-bbff-ecf2a587ece1.png)

iPhoneX 15.2
![image](https://user-images.githubusercontent.com/11342389/148946044-7acbe37f-3b30-466d-ad69-40e87c31fdff.png)

[2022-01-11 15:11] ericjordanmossman commented on #7603
In this loop:
[code]

You're starting a write 1000 times. This isn't necessarily an inexpensive action to run. You 'll want to start a single write, then loop within that. ex)
[code]

[2022-01-11 15:45] ericjordanmossman commented on #7601
Hi shiami - it does look similar to 7562. The async and the concurrency has presented some issues. But let's keep this issue open too for now, in case it's unrelated.

[2022-01-11 18:23] jklausa opened #7606 "Enable cross-referencing of Swift and Obj-C models"
### Problem

Heyo!

We have a codebase that has been using Realm Cocoa for a while, and we recently managed to update to Realm Swift 10 and wanted to start migrating out models to Swift, using the new `@Persisted` syntax.

We quickly stumbled upon a roadblock though:

[code]

Note that `User` is a Obj-C `RLMObject` subclass, with the `RLM_COLLECTION_TYPE(User)`  in there.

### Solution

It would b

[2022-01-11 18:40] tgoyne commented on #7606
I think this might be relatively straightforward to support now, although it would get pretty weird API-wise. The limitations of Swift 1 required a very hard division between the obj-c API and the Swift API which is no longer required, but using both obj-c models and Swift models in the same function is going to be really awkward.

[2022-01-11 18:51] jklausa commented on #7606
Yeah, I'm aware of the legacy issues that caused this rift :)

Mind elaborating what you have in mind about the awkwardness of using both Swift and Obj-C API in one place? I imagine anything to do with interacting with `Realm` could get weird, but for "simple" cases, where it's just setting/reading the stored property, it should be fine?

[2022-01-11 20:06] tgoyne commented on #7606
I think most of what I had in mind has gone away, actually. A lot of the problems were fixed in v10, and the Projections work incidentally did all the changes needed to support `RLMObject` in things like `realm.objects()`, so `realm.delete()` might be the only function which would need to be updated to accept `RLMObject` (and that's not exactly difficult). There'll be some weird edges like the `re

[2022-01-12 11:31] liDengHong commented on #7603
Hi, thanks for replying to me, but it doesn't reduce memory

[2022-01-12 11:32] liDengHong commented on #7603
Hi, thanks for replying to me, but it doesn't reduce memory

[2022-01-12 11:53] jsflax commented on #7603
I think we'd need more info about what else you're doing to help you out. Naturally, using our memory mapped database is going to increase memory usage– what kind of app are you trying to build?

[2022-01-12 12:13] liDengHong commented on #7603
We use realm for the App Extension. The system allocates very little memory. On iPhone 8, only 53M memory will be allocated.  after initializing realm, the memory will increase by 8~10M

[2022-01-12 12:31] gorkemkarahan opened #7608 "Decimal128 initializers works differently depending on the input"
### How frequently does the bug occur?

All the time

### Description

We were using double for currencies on our old project and now we have migrated to Decimals.
When we were trying to initialize Decimal128 on the decoder side we saw that the end of the numbers are all zero when the number is big enough. When tested against initializers, only string initializer seems to be working correctly for

[2022-01-12 13:25] PetrBodnar commented on #7466
May be related to https://developer.apple.com/forums/thread/693623 general problem?

[2022-01-12 17:39] ericjordanmossman commented on #7608
Yeah, this is definitely a bug. Interestingly I got this opposite with strings:
![Screen Shot 2022-01-12 at 12 35 28 PM](https://user-images.githubusercontent.com/25092858/149192798-58f3c046-e376-4847-9301-d9da408e60d2.png)

[2022-01-12 18:22] ericjordanmossman commented on #7608
I'm having some trouble with the reproduction with the encoder/decoder. Could you share snippet of how the container is encoded?

[2022-01-12 18:28] ericjordanmossman commented on #7600
An obj-c exception thrown in Swift is intentionally not caught because it's such a pre-condition violation that it's really hard to recover and continue normal function and/or retry. We can't guarantee that's possible.
In this case it's better to get to the root cause of the exception.

[2022-01-12 18:33] #7597 closed

[2022-01-12 19:16] gorkemkarahan commented on #7608
Hello @ericjordanmossman I mentioned the encoder issue because I noticed it there and check the initializers. The example code block shows a simple double parsing for the json server data. I will try to mock this up and add an example.

[2022-01-12 19:57] gorkemkarahan commented on #7608
@ericjordanmossman I tried to create a quick demo

[code]

[2022-01-13 15:14] vicmosin commented on #7083
@zohairhadi  was you able to solve the issue?

[2022-01-14 09:01] jsflax commented on #7603
The best recommendations we can give you would be to 1) partition your data in a way that prevents exposing the extension to a large realm and 2) compaction.

[2022-01-14 11:10] liDengHong commented on #7603
Ok, thank you very much

[2022-01-14 11:11] #7603 closed

[2022-01-14 12:27] rhys-rantmedia opened #7612 "Cannot use `RawRepresentable`/`OptionSet` types with `CustomPersistable`/`FailableCustomPersistable`"
### How frequently does the bug occur?

All the time

### Description

Unfortunately, I can't seem to implement the RealmSwift 10.21 `CustomPersistable`/`FailableCustomPersistable` feature for types which conform to `RawRepresentable` or `OptionSet` (which implements `RawRepresentable`).

In our codebase, we have a number of examples where, prior to this feature, we would manually persist the raw

[2022-01-14 13:48] Kalzem commented on #7580
Hello @leemaguire

Thank you for answering and sorry for the very late delay.
I confirm your observation: Client side re-syncs after 2-3 minutes (or at next launch if the user killed the app before).

Is there a way to make it happen sooner - to control it from the client SDK?

On a final note, I believe that it can be helpful for others to have this behaviour documented.

[2022-01-14 13:56] jsflax commented on #7612
Good find @rhys-rantmedia . It would appear that we extend `RawRepresentable` to have the same internal methods that `CustomPersistable` does, and they are clobbering each other. The initialisers also appear to be clobbering each other even though they have different parameter names. cc @tgoyne

[2022-01-14 13:57] bmunkholm commented on #3861
Closing as we don't intend to do this.

[2022-01-14 13:57] #3861 closed

[2022-01-14 17:14] tgoyne commented on #7612
An OptionSet (and anything RawRepresentable) can be used with PersistableEnum:

[code]

[2022-01-14 17:34] rhys-rantmedia commented on #7612
Ahhh, OK. So I noticed the `PersistableEnum` (having used it extensively when that was added) and wondered if this would work. I suspected it might, but given the protocol name, I wasn't sure if it would. Thanks for giving me this option!

I do think it might be nice if there was an option to *not* have to implement `allCases` and the `SetAlgebra` init, unless it's absolutely technically required

[2022-01-14 17:39] alissone commented on #7083
It seems to work for me after changing the iOS Deployment Target of RealmSwift pod to 12.0 and do a `pod upgrade`.

[2022-01-14 17:42] zohairhadi commented on #7083
@alissone so what version did RealmSwift jump to? If it jumped to their latest version, they stated in their release that they fixed this issue. I suppose a simple `pod update` would work as well

[2022-01-14 17:44] zohairhadi commented on #7083
Furthermore, what is support for iOS 11 is needed?

[2022-01-14 17:47] tgoyne commented on #7612
A `PersistableRawRepresentable` (or whatever we'd call it) is probably worth adding. The need for `allCases` and `init()` with `PersistableEnum` both come from that `PersistableEnum` defines a default `init()` using `allCases`, which clashes with the default `init()` from `OptionSet`. This is convenient for enums, but obviously not so great for other types.

Ideally `CustomPersistable` would just

[2022-01-14 17:58] rhys-rantmedia commented on #7612
Ah... just to note, while that code might compile, the `Availability` type crashes the application on launch.

There are literally thousands of lines of this:

<img width="468" alt="Screenshot 2022-01-14 at 17 46 47" src="https://user-images.githubusercontent.com/52451686/149561302-766ac8da-72b8-42cb-ae8d-a8d2e93242fe.png">

all stemming from the `init() { self = [] }` line, which is being called

[2022-01-15 02:35] ayrtonsoftware opened #7614 "Incorrect Thread exception when doing Results.observe (it is not the incorrect thread)"
### How frequently does the bug occur?

All the time

### Description

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

See the code I added, just running the app

### Version

master

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

### Platform OS and version(s)

iOS

[2022-01-15 03:33] ayrtonsoftware commented on #7614
`Thread 1 Queue : com.apple.main-thread (serial)
#0	0x0000000103f440fc in realm::IncorrectThreadException::IncorrectThreadException() ()
#1	0x0000000103f440cc in realm::Realm::verify_thread() const ()
#2	0x0000000103eeb694 in realm::Results::validate_read() const ()
#3	0x0000000103ef3b18 in realm::Results::do_get_query() const ()
#4	0x0000000103ef4fc4 in realm::Results::get_query() const ()
#5	0x0

[2022-01-15 04:31] miguelkennedy opened #7615 "Linker errors in Xcode 13.2.1. Can't compile my app using Realm as an xcframework dependency in SPM since v10.21.0"
### How frequently does the bug occur?

All the time

### Description

Good day everyone.

I'm using realm as a precompiled xcframework dependency in several spm targets.

Realm is added to my Package.swift file as follows:

[code]

and as a dependency to my targets as follows:

[code]

Everything works fine up until v10.21.0. Since upgrading I'm getting compilation errors (undefined symbols). I'l

[2022-01-16 03:42] ayrtonsoftware commented on #7614
This was happening in a Framework I created. In the project for the Framework, I added a test app. The test app crashes.

[2022-01-16 07:08] tfe opened #7616 "Loss of automatic Codable conformance when using @Persisted property wrapper?"
### How frequently does the bug occur?

All the time

### Description

I was excited to change all of my properties to use the new `@Persisted` property declaration syntax, however when I finished I found Realm objects that were previously encodable are now throwing errors at runtime: "Only unmanaged Realm objects can be encoded using automatic Codable synthesis. You must explicitly define encode(

[2022-01-16 07:21] tfe commented on #7599
Looks like there is a [report here](https://forums.swift.org/t/app-store-connect-does-not-accept-back-deploy-concurrency-macos-app-that-build-by-xcode-13-2-rc/53913/22) of a macOS app with Swift concurrency back-deployment being accepted as of two days ago.

[2022-01-16 07:57] DAEUN28 commented on #7598
@jsflax Oh I see, so can you tell me why it works in the old version(10.17.0) but not the current version(10.20.1)?

[2022-01-16 10:50] vicmosin commented on #7083
It seems like I fixed the issue by just bumping the RealmSwift to the latest version (`~> 10.21`) without adjusting deployment target explicitly.

[2022-01-16 12:37] zohairhadi commented on #7083
Yes, updated to 10.21 works now. Thanks

[2022-01-16 17:09] Zanchee commented on #7493
I've attached an example that uses valuePublisher that shows a short example of this issue happening. Hopefully it helps.

[Example.zip](https://github.com/realm/realm-swift/files/7877466/Example.zip)

[2022-01-17 11:40] mtgto opened #7617 "[Feature Request] Suitable RealmCollectionChange API for NSDIffableDataSourceSnapshot"
### Problem

RealmSwift provides RealmCollectionChange to listen a write transaction for realm collection.
https://docs.mongodb.com/realm/sdk/swift/examples/react-to-changes/#register-a-collection-change-listener
It makes enable partial update TableView and CollectionView easily.

Since iOS 13+, Apple releases [NSDIffableDataSourceSnapshot](https://developer.apple.com/documentation/uikit/nsdiffabl

[2022-01-18 09:12] LukasGram opened #7618 "Decryption fails and Realm crashes after restoring Mac using TimeMachine"
### How frequently does the bug occur?

Sometimes

### Description

Some of our users reported that they couldn't access their database anymore after they restored their Mac using a TimeMachine backup. Some other users reported the same problem after transferring their data from their old Mac to a new one using Apple's data migration tool.

The Realm file is encrypted with a key derived using a pa

[2022-01-18 11:34] shirishbankar1 opened #7619 "Realm Swift version not updating above 4.4.0 when update pods. I checked on github its 10.21.0."
### How frequently does the bug occur?

All the time

### Description

I am trying to update RealM swift pod version to latest. But it wont update above 4.4.0. I havent mentioned any version in pod file. But it still show installing RealMSwift 4.4.0. As I saw on github RealMSwift releases 10.21.0 is latest (ref : https://github.com/realm/realm-swift/releases/tag/v10.21.1 ).
I am I referring wrong

[2022-01-18 15:21] leemaguire commented on #7619
you need to do `pod repo update`.

[2022-01-18 15:24] #7619 closed

[2022-01-18 15:27] shirishbankar1 commented on #7619
In iOS pod file if we dont specify the version then it should take the latest by default. Still I have already tried what you said. mentioning 1.21.1. It didnt work. It gave error no such version available, while pod install and pod update.

[2022-01-18 15:32] haroun-hajem commented on #7616
I have the same problem and I'm not using any encryption. If that matters.

[2022-01-18 15:36] leemaguire commented on #7619
You need to update your local repo of pods for it to know there is a new version available. For that do `pod repo update` and then `pod update / pod install`

[2022-01-18 15:41] leemaguire commented on #7618
Hi @LukasGram could you tell us what version of Realm created the main database before it was restored from Time Machine? cc @finnschiermer

[2022-01-18 17:34] leemaguire commented on #7616
Hi @tfe You will need to explicitly declare `encode(to:)` of the use case of converting the results to json. You can use the following example:
[code]

[2022-01-18 17:50] #7616 closed

[2022-01-18 17:51] tgoyne commented on #7599
If I understand https://forums.swift.org/t/async-await-crash-on-ios14-with-xcode-13-2-1/54541 correctly then enabling back-deployment will also sometimes result in iOS 14 crashes even if the app isn't using concurrency, so we probably need to wait for 13.2.2.

[2022-01-19 07:36] shirishbankar1 commented on #7619
Thanks, did following steps and worked :

1) pod repo update
2) pod install
3) pod update

[2022-01-19 07:56] LukasGram commented on #7618
@leemaguire Since we are using Realm several years now and had several updates during that time there is no way to find out which version was used to create the database unfortunately.

[2022-01-19 10:04] leemaguire commented on #7614
Hi @ayrtonsoftware Could you give us a sandbox test app that reproduces this issue? It's not initially obvious to me what could be causing the issue. Are you by any chance initialising this framework on a non-main queue / thread?

[2022-01-19 11:19] sarpsolakoglu opened #7620 "Include dSYMs in prebuilt binaries for release zips"
### Problem

The dSYMs are not included in the release xcframeworks, I've ran the `build.sh` to generate the xcframeworks myself as well and this also results in no dSYMs in the xcframeworks.

### Solution

Update the `build.sh` script to also include `dSYMs` in the created `xcframeworks`.

### How important is this improvement for you?

Would be a major improvement

[2022-01-19 14:02] ericjordanmossman commented on #7224
Branch is: https://github.com/realm/realm-swift/tree/em/discard-local-c10.7.0

[2022-01-19 14:08] #7273 closed

[2022-01-19 14:48] leemaguire commented on #7580
@Kalzem I spoke with the team and this is the expected behaviour, there is no way to speed up the changes. I will note your suggestion to add this to the documentation.

[2022-01-19 14:49] #7580 closed

[2022-01-20 13:46] ksiwei opened #7621 "Force unwrap optional fatal error when accessing PersistableEnum"
### How frequently does the bug occur?

Sometimes

### Description

I have a PersistableEnum that has non-zero based integer value
[code]
During the initial sync, occasionally accessing `card.status` results in a crash `RealmSwift/ComplexTypes.swift:303: Fatal error: Unexpectedly found nil while unwrapping an Optional value` from this line specifically `Self(rawValue: RawValue._rlmGetProperty(obj,

[2022-01-20 13:55] ksiwei opened #7622 "Does @ObservedResults async-open Realm?"
### How frequently does the bug occur?

Sometimes

### Description

During the initial sync after user logins, the app sometimes crashes after 10~20 seconds due to `terminating with uncaught exception of type realm::AddressSpaceExhausted: mmap() failed: Cannot allocate memory size: 26279936 offset: 134217728`

I removed all the occurrences of realm() that are opened synchronously after seeing this

[2022-01-20 15:14] mwoollard opened #7623 "Unable to compile Realm when targetting watchOS"
### How frequently does the bug occur?

All the time

### Description

Am using Realm integrated in a pure SPM library project that targets iOS, tvOS macOS and watchOS. With latest update of packages can no longer build for watchOS. The error is:

[code]

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Sample project is available [he

[2022-01-20 18:17] bbauman1 opened #7624 "Xcode 13.1 "invalid exclude" warning"
### How frequently does the bug occur?

All the time

### Description

When compiling with Realm through SPM a warning is generated for an Invalid Exclude

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.21.1

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not usin

[2022-01-20 20:02] bbauman1 commented on #7624
I was able to get a more descriptive output

```Invalid Exclude '/Users/redacted/Library/Developer/Xcode/DerivedData/redacted/SourcePackages/checkouts/realm-core/src/realm/object-store/impl/set_notifier.hpp': File not found.```

[2022-01-20 20:29] ayrtonsoftware commented on #5756
This is still an issue. And an annoying one at that. It is impossible to fix.

[2022-01-21 06:32] ragu-pdx opened #7625 "Writing data to Realm on background thread isn't being seen when returning to main thread, despite realm.refresh() being called"
### How frequently does the bug occur?

Sometimes

### Description

In the following code snippet, we are attempting to write data to Realm in a background thread, and once written, we call another method on the main thread  to retrieve more data.

[code]

The basic idea is that we have a bunch of Realm objects `ReaderTestResultObject` that represent external files we are retrieving. These objects

[2022-01-21 09:39] leemaguire commented on #7625
Hi @ragu-pdx. Could you show us the code for `DatabaseService.shared.writeAsync` and how you are using the RunLoop?

[2022-01-21 09:46] leemaguire commented on #7624
Hi @bbauman1 We will fix this, thanks!

[2022-01-21 10:17] leemaguire commented on #7623
Hi @mwoollard. I still cannot reproduce your issue even with the sample project. Are you using macOS Monterey?

[2022-01-21 10:23] mwoollard commented on #7623
Yes, using Monterey, am also seeing this both on my dev laptop (M1) within Xcode and CI scripted builds (Intel).

[2022-01-21 10:25] leemaguire commented on #7622
Hi @ksiwei. `@ObservedResults` does not open the Realm asynchronously. How much storage is available on the test device you are using? Could you also post some code showing how you are using Realm?

[2022-01-21 10:40] leemaguire commented on #7621
Hi @ksiwei Could you update to the latest version of Realm (v10.21.1) and let us know if that solves your issue? We have made a few changes to internals of `PersistableEnum` since 10.16.0

[2022-01-21 11:22] ragu-pdx commented on #7625
@leemaguire This is the code for the runloop threads. There is a single write thread launched at the beginning the application that lasts for the lifetime of the application. DatabaseService.shared.writeAsync {} just pipes the block to the perform function here. As mentioned, the code above works the majority of the time, but there are definitely issues getting the Realm to update on the main thre

[2022-01-21 11:25] ragu-pdx commented on #7625
We have been burned too many times in the past by the queue dynamics on Realms that we prefer to stick with a single persistent thread dedicated to Realm writes in the background. It's never been an issue in the past, so I'm not looking to change that code as it is very well ingrained into the codebase.

I just need to understand what it takes to get the writes taken on the background thread to up

[2022-01-21 11:30] mwoollard commented on #7623
Additional, FWIW, if I change the compile time condition @ line 171 to
[code]
Code compiles

[2022-01-21 12:39] leemaguire commented on #7625
@ragu-pdx you should not call `realm.refresh()` from the main thread, move it to be called after your write block (our docs also mention this). I would recommend revisiting the use of a serial queue too. Concurrent programming can have a lot of gotchas and [Apple does recommend queues over threads](https://developer.apple.com/library/archive/documentation/General/Conceptual/ConcurrencyProgrammingG

[2022-01-21 14:50] sipersso commented on #7508
@tgoyne do you know if the bug something that is being worked on or will be worked on in the near future? Is it tracked elsewhere as well? If this isn't something that will be fixed in the near future I would have to prioritize other work (and delay getting the app on MongoDb Realm Sync)

[2022-01-21 14:53] dianaafanador3 commented on #7508
Hey @sipersso I have a couple of weeks of Stabilization from monday, so I'll try to get back to this. Sorry is taking so mucho time to get to this.

[2022-01-21 14:57] leemaguire commented on #7598
The following works for me on the latest version:
[code]

[2022-01-21 15:10] leemaguire commented on #7625
@ragu-pdx We are currently implementing a way to perform write transactions asynchronously. This should help your use case once released https://github.com/realm/realm-swift/pull/7576

[2022-01-21 16:18] RVijay007 commented on #7625
There are many reasons we cannot rely on queues solely, not withstanding queue vs explicit Thread behavior in background app states. Our use case with our application needs to be as reliable in the background context as in the foreground. As mentioned several times, this logic is working the majority of the time. 95% of users see this logic between finding the next file to download on the main thr

[2022-01-21 16:41] ragu-pdx commented on #7625
@leemaguire There are many reasons we cannot rely on queues solely, notwithstanding queue vs explicit Thread behavior in background app states. Our use case with our application needs to be as reliable in the background context as in the foreground. We actually modeled this after Realm's own posts, i.e. [Background Worker](https://academy.realm.io/posts/realm-notifications-on-background-threads-wi

[2022-01-21 17:21] tgoyne commented on #7625
The two scenarios where `refresh()` will simply return false and do nothing despite there being newer versions available are if the Realm is frozen, or if the call to `refresh()` occurs within a callback for a change notification. If you're using frozen Realms at all, it's worth double-checking that there's no possible way that you could accidentally sometimes be using a frozen Realm at this point

[2022-01-21 17:41] ragu-pdx commented on #7625
@tgoyne We are not, nor ever have, used frozen Realms. This is the only code block within our entire app that is calling `refresh()`, and actually for the longest time, we weren't even calling `refresh()`. We only added an explicit call to `refresh()` here because of this issue, thinking maybe there was some disconnect between writing on the background thread and seeing those changes on the main t

[2022-01-21 17:51] tgoyne commented on #7625
Without the call to `refresh()` you do have a race condition, but it's fairly benign. If the dispatch_async() to the main thread beats out the autorefresh, it'd result in you processing an object twice (but normally not more than twice).

[2022-01-21 17:59] ragu-pdx commented on #7625
@tgoyne So given that may be the case in these unique user instances, if we are calling refresh(), should we be calling it right after the write transaction, with the refresh executed in the background write thread? Or does it need to be called on the main thread? See pseudo in my comment a few posts ago to see the 2 locations I'm debating putting the `refresh()` block.

In either case, even if it

[2022-01-21 23:23] drmarkpowell commented on #7624
seeing this in Xcode 13.2.1 as well

[2022-01-22 06:10] DAEUN28 commented on #7598
@leemaguire It was caused by type inference failure!! Thanks for your help 🙌

[2022-01-22 06:10] #7598 closed

[2022-01-22 07:46] sipersso commented on #7508
@dianaafanador3 thank you so much for getting back to me! Super happy to hear that this is still in the pipeline.

[2022-01-22 15:53] tijme opened #7626 "App occasionally crashes in production on `RLMAddObjectToRealm` (adding a new object to the database)."
### How frequently does the bug occur?

Sometimes

### Description

I maintain an [open-source app](https://github.com/raivo-otp/ios-application) that allows users to manage one-time passwords. Users are able to add one-time passwords by filling in a form or scanning a QR-code, after which the data [is saved](https://github.com/raivo-otp/ios-application/blob/master/Raivo/Controllers/Main/MainCreat

[2022-01-22 16:36] zbeckman commented on #7624
Same issue. Xcode 13.2.1, Realm 10.21.1 (and RealmDatabase 11.8.0).

[2022-01-22 22:07] cellularmitosis opened #7627 "One of Realm's best Swift talks has been set to "private""
### How frequently does the bug occur?

All the time

### Description

Realm hosted a fantastic talk by Andy Matuschak about how to leverage the power of Swift's value types to write better code: https://academy.realm.io/posts/andy-matuschak-controlling-complexity/

Unfortunately, that youtube video has been marked "private" and is no longer viewable.

I've tried reaching out via other channels an

[2022-01-22 22:07] cellularmitosis commented on #7627
![Screen Shot 2022-01-22 at 4 06 13 PM](https://user-images.githubusercontent.com/223396/150656965-16e570d4-a176-46f8-ba36-42d50294c366.png)

[2022-01-23 08:22] kerryatkanjo commented on #6301
I'm currently planning on using package RealmSwift v10.21.1 on a new project.  The workaround didn't work for me.  Can we reopen please?

[2022-01-23 10:54] 765code opened #7628 "Wash hands"

[2022-01-23 10:54] #7628 closed

[2022-01-24 04:03] ragu-pdx commented on #7625
@tgoyne We moved the `realm.refresh()` line immediately after the write block rather than prior to the read executed on the main thread. This failed to fix the issue on our 1 iOS device that is demonstrating the issue. Any other ideas?

[2022-01-24 15:18] TheHmmka opened #7629 "Random crashes with encrypted realm."
### How frequently does the bug occur?

All the time

### Description

Application constantly crashes in random transactions.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

-

### Version

10.21.1

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

Yes, using encryption

### Platform OS and version(s)

[2022-01-24 18:05] dianaafanador3 commented on #7623
Thanks for the suggestion, I created a PR for it on core. You can keep track of the issue here and on the PR https://github.com/realm/realm-core/pull/5188.

[2022-01-25 03:38] ragu-pdx commented on #7625
As an update, we pushed a build to print out whether the Realms on either the write thread or main thread (read) were frozen. As expected, neither realms are frozen.

[code]

So still no idea why the writes on the thread are not being seen on the read. This issue is persisting across app installations, so through full process shutdowns and restarts.

[2022-01-25 07:50] bmunkholm opened #7631 "Update README.md in Examples and review examples"
The https://github.com/realm/realm-swift/blob/master/examples/README.md refers to the legacy Draw app examples.
At a minimum remove that. Better yet, include an example for the MongoDB Realm Sync.

Review all examples still works as they should

[2022-01-25 07:54] bmunkholm opened #7632 "Review and update references to realm.io/docs"
Review all [references to realm.io/docs](https://github.com/realm/realm-swift/search?q=%22realm.io%2Fdocs%22&type=code) and possibly update to the MongoDB docs

[2022-01-25 08:47] TheHmmka commented on #7629
I found next description in the Doc, may be it's a reason:
[code]

[2022-01-25 15:16] mikhailmulyar opened #7633 "`In` type safe query support."
### Problem

Type safe query currently has extension to check if value in range. However naming `contains` is unclear for it.
In `extension Query where T: OptionalProtocol, T.Wrapped: Comparable` there are 2 functions for range and closed range.

But it does not contain function for checking if value presented in swift collection. Equivalent to string filter `tasks.filter("assignee IN {'Ali', 'Jam

[2022-01-25 16:03] erdemildiz opened #7634 "errSecInternalComponent error"
I couldn't find any solution, I don't understand why?

[code]

[2022-01-25 20:57] dianaafanador3 commented on #7634
Hi @erdemildiz would you mind filling out the form when creating the issue, we could use more info to reproduce and help you with the issue.

[2022-01-25 20:58] #7634 closed

[2022-01-25 21:05] dianaafanador3 commented on #7629
Hi @TheHmmka I see you can reproduce the issue, maybe you can share a repo or a code snippet so we can reproduce it in our side.
The warning on our documentation refers to trying to access a shared realm from different processes, for example a realm stored on a shared group which is used by different apps at the same time?, if this the case that may be the cause of the crash.

[2022-01-25 23:49] wonder2011 commented on #2713
Realm is the best DB library i found for iOS. I love, but i live in Cuba, and cloudflare (realm.io) is making me going crazy every time i need install them. Using Speedify (a really good and speedy VPN) i will take 2 or 3 ours to achieve this task. Please do something, move the core to a domain that don´t block countries. Realm is the unique library in the world giving problems when installed with

[2022-01-26 01:30] tgoyne commented on #7625
Does this happen if you downgrade to Realm 10.21.0? The changes between 10.21.0 and 10.21.1 include a lot of refactoring to the relevant code (to support the upcoming async writes feature), and while I don't specifically see any changes that obviously would cause this problem, the fact that you only recently started seeing this and the code was touched recently makes me suspect we introduced a bug

[2022-01-26 09:03] TheHmmka commented on #7629
Nope, this is not my case.

Sorry, I can't share production code. I'll try to create demo project and catch this issue.

[2022-01-26 09:18] ksiwei commented on #7621
Updated to v10.22.0 today, and still getting the same crash.

[2022-01-26 12:32] dianaafanador3 commented on #7620
Hi @sarpsolakoglu dSYMs are intended for debit purposes and we are not planning to add them to our release, you can build them yourself replacing the following lines
[code]
with this (remember to replace your current path
[code]

[2022-01-26 12:32] #7620 closed

[2022-01-26 12:35] santoshkc05 opened #7637 "Generic parameter 'T' could not be inferred"
### How frequently does the bug occur?

All the time

### Description

I have build a project in Xcode 13.1 with RealmSwift v10.20.1. It was working well till I update to Xcode 13.2.1.
After that I am having following issue
<img width="1674" alt="Screen Shot 2022-01-26 at 6 14 33 PM" src="https://user-images.githubusercontent.com/11142835/151163166-ef63a780-2d3a-46d3-bf84-311ffd1fe2ec.png">

.

##

[2022-01-26 13:30] santoshkc05 commented on #7637
After debugging more, I find that It was the the linter issue.

[2022-01-26 13:30] #7637 closed

[2022-01-26 15:18] jedelbo commented on #7608
Fixed at the core level

[2022-01-26 15:35] dianaafanador3 commented on #7621
Hi @ksiwei for the look of it could be that the data coming from MongoDB Realm is not been decoded correctly. This is happening for any particular document?, or is happening for every time you read from the synced database?. If you are able to reproduce the issue, would you mind setting the Sync Manager log level to Info and paste the stack trace here.
`app.syncManager.logLevel = .info`. Also can

[2022-01-26 18:30] dianaafanador3 commented on #7584
Closing this as this works as designed.

[2022-01-26 18:30] #7584 closed

[2022-01-26 18:36] dianaafanador3 commented on #7615
Hi @miguelkennedy would you mind sharing the code on `GlucoseManager` and your objects schema so we can reproduce this issue.

[2022-01-26 18:43] miguelkennedy commented on #7615
Hi, @dianaafanador3

I can't because it's a commercial project...

I will try and create a sample project that has the same issue and will post it here for you.

Will post it as soon as I can.

[2022-01-26 18:49] dianaafanador3 commented on #7596
@mungbeans closing this, if you still have issues with this after applying the below suggestion feel free to open again this issue.

[2022-01-26 18:49] #7596 closed

[2022-01-26 18:59] dianaafanador3 commented on #2713
@wonder2011 have you tried migrating to SPM, which will only download code from `GitHub `and will not require to download core's monorepo from `"https://static.realm.io/downloads"`

[2022-01-27 00:34] miguelkennedy commented on #7615
@dianaafanador3 here's a sample project that you can use to reproduce the compilation bug https://github.com/cala4/realm-bug/tree/main

Let me know if you need anything else from here.

[2022-01-27 09:24] #7151 closed

[2022-01-27 13:46] pavel-ship-it commented on #7151
Fixed in #7158
Available on master. Will be released in the upcoming version.

[2022-01-27 14:53] #7633 closed

[2022-01-27 15:07] pavel-ship-it commented on #7211
Cannot reproduce
Fixed in [Handle error 401 Unauthorized realm/realm-core#4745](https://github.com/realm/realm-core/issues/4745)

[2022-01-27 15:07] #7211 closed

[2022-01-27 15:22] jurex opened #7639 "Crash during migration"
### How frequently does the bug occur?

Sometimes

### Description

Crash during migration on iOS and macOS Catalyst, probably because of data corruption

### Stacktrace & log output

[code]

[code]
[code]

[2022-01-27 15:22] jurex commented on #7639
<img width="1520" alt="Screenshot 2022-01-27 at 16 22 00" src="https://user-images.githubusercontent.com/925257/151388721-da66f6b3-705e-47cb-912e-f815fb537d99.png">

[2022-01-27 21:37] palaniraja opened #7640 "Realm Swift abort() called - Encrypted db getting corrupted and can't recover"
### How frequently does the bug occur?

Sometimes

### Description

We use realm encrypted db.

As our app works in background (read/write to db) and after a day or two it stops (crashed in background), and when we try to launch manually app crash due to db is corrupted. It is not always after a day, happens very random, still figuring out to get more information and reproducible steps.

Also repo

[2022-01-28 07:03] tfe opened #7641 "Null pointer crash in `create_object_with_primary_key` every time for certain DB"
### How frequently does the bug occur?

All the time

### Description

This started happening after updating from Realm 10.7.5 to 10.21.1 (and does not happen if I revert back to 10.7.5).

The database regularly gets into a state where any object creation will crash, every time. I've reduced the app down to the most minimal case, doing nothing upon launch but the following, and it still does it.

[2022-01-28 09:16] underthestars-zhy opened #7642 "Make Realm object sendable"
### How frequently does the bug occur?

All the time

### Description

Xcode13.3 beta need realm object conform `Sendable`.

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.20.2

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

### Platfo

[2022-01-28 14:39] dianaafanador3 commented on #7641
Hi @tfe in order to reproduce this issue, would you mind sharing your `MyDataManager` class and how do you create your realm instance as well, also the code where you clear your database and adds the new object, lastly your objects schema will be also very helpful.

[2022-01-28 14:49] dianaafanador3 commented on #7642
Hi @underthestars-zhy you might be interested in checking our new feature (from v10.17.0) `[@ThreadSafe](https://docs.mongodb.com/realm/sdk/swift/advanced-guides/threading/#use-the--threadsafe-wrapper)` wrapper which allow you to pass thread-confined instances to another thread and it is `Sendable`.

[2022-01-28 14:50] jsflax commented on #7642
The reason being, our Objects cannot cross thread boundaries, so by definition they aren't sendable. Marking an object @ThreadSafe like Diana mentioned will make them so, however.

[2022-01-28 15:50] sozohoy opened #7643 "There is a problem using the filtering function."
First of all, I'm Korean, so please understand that I can use wrong English.

The function I want to do is the process of filtering the lecture data in the database, and I want to get the total number of data in the database.

However, I tried to proceed as in the official documentation, but it didn't work.
What should I do?
The code below is the code to load data.

func readData(){

        let c

[2022-01-28 15:51] sozohoy commented on #7643
let searchText = 1
    let testDB = realm.objects(testCourseData.self).filter("num == \(searchText)")
    print(testDB.count)

When the above code is deleted, it runs normally! Only that code has a problem.

[2022-01-28 17:36] comhk commented on #7621
In my case, auto schema migration assigning empty string to the enum causes the problem. Adding a migration block and assigning a default value to it solve my problem.

[2022-01-28 18:02] tfe commented on #7641
Hi @dianaafanador3, thanks! I can provide those. I put together [a gist with the relevant files](https://gist.github.com/tfe/678036c9cfab9994a50ce12f7235d879), with less relevant parts trimmed for length and readability. I still included the functions responsible for initial creation of the realm by copying the seed data realm.

Here are some details to help you navigate the files in the gist:

Th

[2022-01-28 21:23] igorvoytovich commented on #7562
Discussions on this topic:

https://forums.swift.org/t/async-await-crash-on-ios14-with-xcode-13-2-1/54541/80

Seems like will be fixed in Xcode 13.3

[2022-01-28 21:27] igorvoytovich commented on #7601
https://forums.swift.org/t/async-await-crash-on-ios14-with-xcode-13-2-1/54541/81

discussion on this topic

[2022-01-28 22:25] nalexn commented on #5482
Gosh, I wish someone posted this earlier!

Just set this parameter in your Realm config to catch the place in **your code** that makes Realm go nuts:
### `config.maximumNumberOfActiveVersions = 3`

I used `3` because I'm accessing Realm from 3 threads total: main thread and two background threads (reading and writing separately). Use the appropriate number in your case, but keep in mind that this

[2022-01-29 00:45] underthestars-zhy commented on #7642
However, In the xcode13.3 I need to add a extension like this `extension RealmSwift.Realm: @unchecked Sendable {}` Otherwise, `try await Realm()` warns.

[2022-01-29 00:45] underthestars-zhy commented on #7642
I cannot use `@ThreadSafe ` on `try await Realm()`

[2022-01-29 11:25] tijme commented on #7626
I have deployed a new version of my app with the latest version of Realm to TestFlight, waiting for users to give feedback. I'll report the results back to you.

[2022-01-29 23:35] ragu-pdx commented on #7625
@tgoyne We are still seeing the issue on 10.21.0

[2022-01-30 00:25] lawgimenez opened #7644 "Xcode 13.3 Beta 1 - Command SwiftDriverJob-Emit-Module failed with a nonzero exit code"
### How frequently does the bug occur?

All the time

### Description

Build my project using Xcode 13.3 Beta 1

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Build my project using Xcode 13.3 Beta 1

### Version

10.22.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

##

[2022-01-30 02:33] underthestars-zhy commented on #7644
You can use `10.20.0` version to fix it

[2022-01-30 15:46] aehlke commented on #7624
Does latest Xcode work with 10.21.0 or an earlier version instead?

[2022-01-31 09:25] ksiwei commented on #7621
I think @comhk is on to something there. It's not exactly the same but I think Realm is assigning 0 to an enum temporarily during the initial sync even if the enum doesn't have 0 as its raw value.

I can stop the crash if change my local model to
[code]

I only manage to repro it if I log in as one particular user. And it is not just for one document. I can see the `status` field of the object was

[2022-01-31 10:28] leemaguire commented on #7644
I have filed a bug for this https://bugs.swift.org/browse/SR-15792

[2022-01-31 10:53] pavel-ship-it commented on #7643
HI @sozohoy
What version of Realm you're running?
Can you show `testCourseData` model?
How you opening the Realm?
How do you call readData()?

[2022-01-31 11:58] aleyooop opened #7645 "Error in linking phase when using Realm as SPM dependency for sub-target"
### How frequently does the bug occur?

All the time

### Description

Actual result:
1. Try to archive project with a sub-target that has realm-cocoa as SPM dependency.
2. Get errors as described here ([#7526](https://github.com/realm/realm-cocoa/issues/7526))
3. Apply proposed fix to realm-core
4. Receive another linking error

Expected result:
Archive process succeeds

### Stacktrace & log outp

[2022-01-31 14:38] pavel-ship-it commented on #7639
Hi @jurex
can you share the data base schema, models, migration block?
maybe the database it self?

[2022-01-31 15:12] pavel-ship-it commented on #7627
Hi @cellularmitosis ,
Sorry for inconvenience. At the moment we're moving the older Realm Academy posts/videos to a new home.
I'll try to find a solution.

[2022-01-31 17:09] pavel-ship-it commented on #7645
@aleyooop I try to reproduce it locally without any luck.
Can you share some details on what library you are using in your project?
Could you try to clear derived data and/or reset package cache?

[2022-01-31 19:58] aleyooop commented on #7645
@pavel-ship-it This can be easily reproduced with the same reference project in this related issue ([#7526](https://github.com/realm/realm-swift/issues/7526))

1. Build project and get issue with Security framework
2. Change Realm swift package dependency with fork+applied fixes -> Build fixed
3. Try to archive

Derived data cleaning and/or resetting package cache aren't helping.

[2022-02-01 10:59] sync-by-unito[bot] opened #7647 "Apple Watch Support for Sync"

[2022-02-01 11:51] dianaafanador3 commented on #7621
HI @ksiwei I replicate your current schema so I can reproduce your issue but I don't seem to be getting the error. If you say it only happens for a particular user and just one document, the best thing will be to see the complete log.
can you change your log level to all `app.syncManager.logLevel = .all` and attach the .txt file or send it to my email diana.operez@mongodb.com, you should see in yo

[2022-02-01 12:16] dkent commented on #7562
It's unclear when Xcode 13.3 will be released. App Store doesn't accept builds created using Xcode beta versions. Any update on this? We're planning to use Realm 10.20.2 with Xcode 13.1 as described above. Realm's latest is 10.22.0. I don't see anything more about this in the release notes of these more recent versions.

[2022-02-01 12:33] sync-by-unito[bot] opened #7648 "Implement Unify Core Error Handling"

[2022-02-01 13:42] dianaafanador3 commented on #7642
Hi you cannot use `@ThreadSafe` with Realm you can use it on an instance of an Object, for example
[code]
This `threadSafeObject` instance can be passed and used on a different thread.

[2022-02-01 13:44] underthestars-zhy commented on #7642
How ever, if you run this code (`let realm = try await Realm()`) in Xcode 13.3 beta, it will warn you, like: Realm is not Sendable, Realm.config... is not Sendable, etc

[2022-02-01 16:33] #7107 closed

[2022-02-01 16:52] #7644 closed

[2022-02-01 16:53] leemaguire commented on #7588
@anton-plebanovich Are you still seeing issues with your app? Have you upgraded to the latest version of Realm?

[2022-02-01 17:07] tgoyne commented on #6921
This is specifically related to `realm.add()`, which the Android SDK does not have.

[2022-02-01 18:49] anton-plebanovich commented on #7588
Hi @leemaguire , there is no way I can verify the bug on my side as we restarted the sync and didn't face the issue since then

[2022-02-02 06:18] tfe commented on #7629
I've started getting these too, possibly concurrently with starting to use Realm Notifications, or starting to use async/await, all of which happened around the same time.

I am not accessing the Realm from different processes in my case.

[2022-02-02 06:56] ksiwei commented on #7621
I accidentally deleted that user account, and now I can't repro it anymore 🤦‍♀️  I will try again tomorrow if not I will close the ticket. Thanks, @dianaafanador3

[2022-02-02 10:58] michalrentka opened #7649 "Transaction crash"
### How frequently does the bug occur?

Sometimes

### Description

I see seemingly random crash reports from multiple users in multiple places in the app which look similar. They all point to `Transaction` being commited.

I have a controller which processes all database requests like this:
[code]

Even the simplest requests report this crash, such as:
[code]
This happens in `application(_, didFi

[2022-02-02 11:02] dianaafanador3 commented on #7629
HI @tfe would you mind sharing your stack trace and/or the code where you het the crash, with a little more info we may be able to reproduce the issue.

[2022-02-02 12:11] dianaafanador3 commented on #7642
HI @underthestars-zhy you get this warning because we use [@MainActor](https://developer.apple.com/documentation/swift/mainactor) annotation in our Realm `async await` constructor.
You add this annotation to your function to force running it on the main thread and remove the warning-
[code]
If you are using Realm only as a local database I would recommend to use `let realm = try Realm()`, which wi

[2022-02-02 12:11] #7642 closed

[2022-02-02 14:40] pavel-ship-it commented on #7649
Hi @michalrentka
could you show more details on how you using Realm?
How you create a Realm?
Do you call it on different threads?
Can you provide full crash logs?

[2022-02-02 16:05] #7640 closed

[2022-02-02 16:17] pavel-ship-it commented on #7622
Hi @ksiwei
Is it possible to run the app with Instruments utility to see how many memory takes the app for the images?
Depending on what and how the app does to image data it could explain the lack of free space. Let's say image file will take only several MBytes as NSData but the same image can take tenths of MBytes as UIImage. The solution can be to sync the images one by one and/or to check the

[2022-02-02 16:26] pavel-ship-it commented on #7600
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2022-02-02 16:26] #7600 closed

[2022-02-03 06:42] tfe commented on #7629
@dianaafanador3 I haven't seen it do it in development... all I have is the exception report via Sentry, and it doesn't give very much (unless I'm not looking in the right place?):

[code]

However from their breadcrumbs I can see that it's likely happening during the same operation I mentioned and shared code for over in #7641. It makes sense that that operation would surface issues since it's th

[2022-02-03 09:33] sainttail commented on #7629
@TheHmmka Got this error when upgrading from realm 10.20.0 to 10.21.1 on iOS 15 both simulator and real device.

Have you try going back to use 10.20.2?
It does not crash for me.

[2022-02-03 20:13] TheHmmka commented on #7629
I'll try, thank you!

[2022-02-04 09:52] michalrentka commented on #7649
Hi @pavel-ship-it, thanks for getting back to me.

You can see the whole database controller here: https://github.com/zotero/zotero-ios/blob/master/Zotero/Controllers/Database/RealmDbStorage.swift

The controller is used like this:
- The app has a single `RealmDbStorage` instance with `Realm.Configuration` stored.
- When I need to perform some database operation I do it like: `try dbStorage.create

[2022-02-04 14:47] sozohoy commented on #7643
I've made some changes to the database structure, but I'm still having the same problem, so I'll answer the current Database.
My RealmSwift version is 10.20.
<img width="896" alt="스크린샷 2022-02-04 오후 11 38 34" src="https://user-images.githubusercontent.com/49385546/152548249-e8826039-0a45-416f-a6c0-0c6522dbdc53.png">
![스크린샷 2022-02-04 오후 11 39 14](https://user-images.githubuserconte

[2022-02-04 14:49] jsflax commented on #7643
@sozohoy do you have custom functions for sorting as well? Your filter function looks like it might be calling itself, which could be a problem.

[2022-02-04 15:00] sozohoy commented on #7643
There is currently no sorting functions. I didn't write it separately because an error occurred.

[2022-02-04 15:03] sozohoy commented on #7643
What I am curious about is that if I call readMyDb[0].example
as above, I can know the value, but I do not know what to do when I do not know how many data are stored in the DB.

[2022-02-04 16:05] sozohoy commented on #7643
I tested it in another project and it works there. There seems to be a problem with a project I'm working on.
So I guess I should give a general description of the project I'm working on.
I am making a school timetable app.
First, save the data stored in the external Firebase to the realm database. After that, the timetable year, semester, and name created by the user are saved in realm.
After tha

[2022-02-04 16:55] tgoyne commented on #7649
Is your Realm file in a shared container? I see that your app uses them in some way. iOS 15 doesn't allow holding file locks on files in shared containers while an app is in the background (which at least one of these crashes is), which means that we can't open a Realm file in a shared container while in the background without getting killed by the OS.

[2022-02-04 16:59] michalrentka commented on #7649
@tgoyne it is. I share the database with share extension which needs access to it. Do you have any workaround for this or do I have to store data from share extension any other way?

[2022-02-04 16:59] tgoyne commented on #7625
I don't really have ideas for what could be causing this. The really brute-force way to ensure that a Realm is at the latest version is to begin and then cancel a write transaction on the main thread. It's not a good solution as it'll block the main thread while a write on a background thread is happening, but if even that doesn't work then it indicates that the problem is that the background writ

[2022-02-04 17:09] tgoyne commented on #7649
In `application(_:didFinishLaunchingWithOptions:)` you need to check if you're in the background, and if so defer opening the Realm and doing related things until `applicationWillEnterForeground()` is called. If you're opening the Realm multiple times and not just opening it once and then holding onto a reference, you may also need to do something in `applicationDidEnterBackground()` to pause anyt

[2022-02-04 18:08] pavel-ship-it commented on #7643
@sozohoy ok, first of all you are adding Realm via Podfile and Swift Package Manager at once. Please stick to a single source.
Could you share the call stack with the exception message?

[2022-02-05 00:31] pitoneux opened #7653 "fatal error: module map file [...]realm-swift/build/GeneratedModuleMaps-iphoneos/Bid.modulemap' not found"

[2022-02-05 00:36] tfe commented on #7641
@dianaafanador3 Just checking in on this. Can I provide anything else to help?

[2022-02-05 08:22] erdemildiz opened #7654 "Xcode 13.3 Segmentation fault: 11"
### How frequently does the bug occur?

All the time

### Description

I am using xcode-beta 13.3 version and realm-swift latest version. But I can't build my project, getting below error.

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.22.0

### What SDK flavour are you using?

Local Database only

#

[2022-02-05 09:20] OlegEremenko991 commented on #7624
Same issue:
Invalid Exclude '/Users/oleg991/Library/Developer/Xcode/DerivedData/Days_2.1-cuqmlgwmfaqgzgdzjktdrpjgkshc/SourcePackages/checkouts/realm-cocoa/tools': File not found.

[2022-02-05 12:00] sozohoy commented on #7643
@pavel-ship-it I didn't understand the first thing you said.

![스크린샷 2022-02-05 오후 8 57 49](https://user-images.githubusercontent.com/49385546/152641160-4d07b0f9-a332-4642-983c-e6c45c7db5fe.png)
![스크린샷 2022-02-05 오후 8 57 53](https://user-images.githubusercontent.com/49385546/152641162-a53b5fa8-38d0-42cf-8e7d-760c2ea35023.png)
![스크린샷 2022-02-05 오후 8 57 58](https://user-image

[2022-02-05 17:39] seanthegoudarzi commented on #7654
Experiencing the same problem

[2022-02-05 22:36] briannadoubt opened #7655 "SwiftUI / TextField - Typing too fast with an ObservedRealmObject bound value causes memory leak"
#### Expected results
Type text into a `SwiftUI.TextField` very quickly and move on with my day 🤪

#### Actual Results
A memory leak and frozen UI

#### Steps & Code to Reproduce
1. Clone project at https://github.com/briannadoubt/Tofu
2. Build and run app with a debug session
3. Focus cursor on any text field (they are all bound to their own @ObservedRealmObject key value)
4. Observe that typing