[2022-09-12 09:51] dianaafanador3 commented on #7926
@mr-grey we haven't receive anything at [realm-help@mongodb.com](mailto:realm-help@mongodb.com), If you could send us the old realm and some code snippers or sample app with the migration code.

[2022-09-12 09:54] dianaafanador3 commented on #7930
Hi @mmar001 did the change to the execution time fixed the issue?, please let us know if the problem continues or nor

[2022-09-12 09:58] dianaafanador3 commented on #7928
@mmar001 did you take a look to the above comment?, I know there is no way to know this is fixed until you release a new version and you don't see the mentioned crash in your  Crashlytics dashboard but it is really helpful to know if the issue continues or not.

[2022-09-12 11:41] dianaafanador3 commented on #7885
@negarhaghbin It doesn't seem to be an issue in our side, this is happening because the stored value that is using (") with decimal code 34 and the string returned from the mac's keyboard used to filter is using code 8221. I'll close this as there is nothing to fix in our side.

[2022-09-12 11:41] #7885 closed

[2022-09-12 12:34] dianaafanador3 commented on #7738
Hi @michalrentka I'm trying to reproduce this issues with no luck, can I see the code relating to the first opening of the realm and when you are registering your observers. You say the crash is happening at the app startup on `application(_, didFinishLaunchingWithOptions:)`. Are you doing any writes on the app startup?, are you registering to any notifications before the realm is opened the first

[2022-09-12 12:49] SergejLogis commented on #7945
We've been approved by Apple with RealmSwift 10.28.7. So this warning doesn't lead to rejection, at least for now. Looking forward for updated RealmSwift with the fix included 🤓

[2022-09-12 13:00] dianaafanador3 commented on #7618
Hi @LukasGram just checking if you have any update about this. Are you still getting decryption crashes reports from users restoring with TimeMachine, given your last comment we can start to discard some possible causes, but it will be helpful if we ask this users if they had some issues during the restoring or with the database before the restoring.

[2022-09-12 17:53] dianaafanador3 commented on #7931
@drmarkpowell As mentioned above we have a PR in the making for deferring opening the realm when everything is set for @AsyncOpen and @AutoOpen. But looking at your code, I'll recommend to change the following code
class RealmController: ObservableObject {
[code]
To this
[code]
The previous code was injecting a configuration to the property wrapper (@AutoOpen) that has set the fileUrl to `default.

[2022-09-12 18:58] dianaafanador3 commented on #7508
Hi @sipersso we recently added support for automatic handlings for backlinks on migration https://github.com/realm/realm-core/pull/5737, which solves the initial issue on this issue. Please let us know if this helps you or if something else is blocking you.

[2022-09-13 04:33] xilin commented on #7863
@leemaguire yeah, we've wrapped realm call within `beginBackgroundTaskWithName` for main app, but crashes still happen. We may try to add bgTask for extensions to see if it works.

[2022-09-13 07:34] byljbdh opened #7952 "Strange rare crash while addingobjects"
### How frequently does the bug occur?

Sometimes

### Description

Crashlytics catchs a lot of crash, it happens when I try to save array objects in realm. But I can't reproduce the bug.

The background is that, I have a buffer_queue, to create realm object(about app event) to array.  when the array is big enough, I save the objects to realm in a write_queue.

And I also has a timer, to upload th

[2022-09-13 07:36] byljbdh commented on #7952
here's another stacktrace;
[code]

[2022-09-13 08:31] bmunkholm commented on #7266
@andreaagudo3 Could you please create a new issue with all details on how to reproduce please?

[2022-09-13 10:27] dianaafanador3 commented on #7952
Hi @byljbdh I tried a similar code to yours on version `v10.28.1` and against our latest version, and I'm not able to reproduce your crash.
What kind of dispatch queue are you using for the `bufferQueue` and the `writeQueue`?, What kind of buffer are you using to store the data to be written?

The issue seems to be related to the deallocation of the Objects that are saved in the realm, it looks li

[2022-09-13 10:42] dianaafanador3 commented on #7876
@jordimele we just released a few days ago a new release, can you check if you are still getting the error when archiving.

[2022-09-13 10:53] dianaafanador3 commented on #7863
@xilin Can you test implementing a wrapper like the one in the comment and let us know if this stops crashes to happen?

[2022-09-13 10:58] dianaafanador3 commented on #7740
@misterlib @duncangroenewald we still have some time stored to work in SwiftUI Improvements and performance. Also, we have fixed some parts of the code which may be causing some performance issues in SwiftUI.
@misterlib Can you check if you are still seen this performance issues?

[2022-09-13 11:48] dianaafanador3 commented on #7762
Closing this as there is no response from the user for a long time.

[2022-09-13 11:48] #7762 closed

[2022-09-13 12:17] archidvignesh opened #7953 "Is there a way for flexible sync to query on a list field? This is a necessary feature"
### Problem

Say you have a chat application. It can have one - one chats as well as group chats. Now I need to display the inbox screen which will contain an overview of one-one chats and group chats just like Whatsapp and it has to work real time so flexible sync is an awesome option. But

The best data model for this would be to have an array of participants aka **participants_field** in mongoD

[2022-09-13 14:32] marcolabreu opened #7954 "App Store Connect Operation Error: app references non-public selector authenticationDidCompleteWithError"
### How frequently does the bug occur?

All the time

### Description

After choosing Product / Archive in the just released Xcode 14, any attempt to upload the app in the Organizer will fail with **App Store Connect Operation Error**, The app references non-public selectors in Payload/(...): authenticationDidCompleteWithError:.

This reference is in Realm [RLMASLoginDelegate](https://www.mongodb.

[2022-09-13 14:39] dianaafanador3 commented on #7954
This is a duplicate from this https://github.com/realm/realm-swift/issues/7945, and a fix is an already on the making.
You can follow the instructions from [this comment](https://github.com/realm/realm-swift/issues/7945#issuecomment-1242172957) if you are in a hurry.

[2022-09-13 14:39] #7954 closed

[2022-09-13 16:38] mmar001 commented on #7928
Hello, yes we apply it but the crash is not fixed yet

[2022-09-13 16:48] mmar001 opened #7955 "Crash when opening Realm"
### How frequently does the bug occur?

Sometimes

### Description

We have a crash in live app when access to Realm Database in this function:

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.28.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

Yes, using encrypti

[2022-09-13 17:18] natario1 commented on #7812
Any news?

[2022-09-13 18:20] kachalo commented on #7945
We have the same issue when submitting builds for TestFlights from Xcode 14 RC.

[2022-09-13 19:00] theolampert commented on #7876
@dianaafanador3 Sorry I missed the deprecation and didn't notice this was a different issue! Feel free to close, project builds fine now.

[2022-09-13 20:40] sipersso commented on #7508
Thanks for letting me know! As far as the migration, this is all I need :)

[2022-09-13 20:40] #7508 closed

[2022-09-13 22:07] QuietRocket commented on #7908
Hello. This issue was opened over a month ago. Will it be addressed?

iOS 14 is out now, and developers want to upload/update their Realm apps. If we can at least have a statement that this warning is negligible (if that is that case) it would be very comforting. Thank you.

[2022-09-13 22:34] dianaafanador3 commented on #7953
Hi @archidvignesh adding a subscription with a query like the one in you example it is possible.
For example, for the following model
[code]
If you add a subscription like the following one
[code]
This should work as expected and will only sync the `Contact`s that includes in the phoneNumbers array the string in the query subscription.

Did you set up the queryable field in the Device Sync configu

[2022-09-14 02:26] archidvignesh commented on #7953
Hi @dianaafanador3 . I actually did not try this out as I was going through the documentation to see if this is possible. It says in the documentation that fields in **embedded objects** and also fields of the **List** type cannot be queried in flexible sync. Can you confirm this?

Here is the article. Please look for the heading **Flexible Sync RQL Limitations**:

[https://www.mongodb.com/docs/re

[2022-09-14 04:55] alexeydemidovkz commented on #7945
I got same warning today with App Store version of Xcode.

[2022-09-14 07:41] aserdobintsev commented on #7748
Faced the same issue.

**How frequently does the bug occur?**

All the time on iOS 12.4.
Works fine on iOS 13, 14, 15.

**Description**

Started to crash when have raised up the deployment target from iOS 11 up to iOS 12.4
Crashing constantly trying to init in memory Realm instance.

**Stacktrace & log output**

dyld: lazy symbol binding failed: can't resolve symbol _$s7Combine9PublishedVMa in /Us

[2022-09-14 07:42] aserdobintsev commented on #7748
Will you reopen the issue or should I create a new one?

[2022-09-14 08:15] dwirandytlvk commented on #5759
how do you solve it?

[2022-09-14 08:23] alexeydemidovkz commented on #7945
I have (manually, as I need older version of Relam as dependency for another package) changed code according to [#7951](https://github.com/realm/realm-swift/pull/7951)
I still have this warning but it changed from:
[code]

to:

[code]
Not sure what does this mean?

[2022-09-14 10:56] michalrentka commented on #7738
@dianaafanador3 thanks for taking a look at this.

Just to be correct, I'm not 100% sure it crashes in `application(_, didFinishLaunchingWithOptions:)`. The `Thread 0` stack trace would suggest so. But it's also possible it crashes after a short while after `didFinishLaunchingWithOptions`.

As I said in the first post though, it probably crashes in these observers: https://github.com/zotero/zotero

[2022-09-14 12:01] Infinity-James commented on #7945
Tried fixing it by changing my Podfile like so:
`pod 'RealmSwift', :git => 'https://github.com/realm/realm-swift.git', :branch => 'tg/rename-sel'`
It doesn't even build because Xcode `Cannot find RLMCreateAsymmetricObjectInRealm is scope.`

[2022-09-14 12:03] dianaafanador3 commented on #7945
@Infinity-James we just need to te rebase the branch from this PR https://github.com/realm/realm-swift/pull/7951, we'll try to make a release as soon as possible with the fix as well.

[2022-09-14 12:24] Infinity-James commented on #7945
I fixed this by unlocking `RLMApp.h` and `RLMApp.mm` and changing all instances of
`authenticationDiCompleteWithError`
to
`authenticationDidFailWithError`

My app is successfully uploaded. Hope that helps anybody else who needs a short-term fix.

[2022-09-14 13:12] alexeydemidovkz commented on #7945
You don’t have any warnings? I have done the same but still have warnings, just without mention of “authenticationDidCompleteWithError”.

[2022-09-14 14:14] dianaafanador3 commented on #7955
Hi @mmar001, Are you able to reproduce this issue?, this happens all the time or something that happens randomly?, Do you know if this error started in a specific version of realm. This seems related to this https://github.com/realm/realm-swift/issues/6308, but a fix for this issue was merged a long time ago.
This probably been caused by the file permission not been set to none before trying to op

[2022-09-14 15:11] mmar001 commented on #7955
appConfig is the configuration of the encrypted DB, if it cannot be opened than it use databaseConfiguration (not encrypted).
We cannot reproduce this issue it is reported in crashlytics only on live app.

[2022-09-14 16:07] phranck opened #7956 "Moving items in a RealmSwift.List to a higher index results in wrong position after move"
### How frequently does the bug occur?

All the time

### Description

Take this code for demonstration:

[code]

We have two model objects, an `MyImage` and an `Item`. The `Item` contains a Realm list of `MyImage`'s. The `MyView` creates a list with image names that can be moved to another position. When I drag an item to a lower index (e.g. from `3` to `0` everything is fine. But when I drag it

[2022-09-14 16:14] dianaafanador3 commented on #7848
@mr-v fix Closing this as the fix was released in `v10.28.4`

[2022-09-14 16:14] #7848 closed

[2022-09-14 16:49] dianaafanador3 commented on #7947
Hi @jeanbaptistebeau I would add this to the backlog so we can discuss this with the team, given that there is already a workaround so no need to rush it. Thanks you for the suggestion.

[2022-09-14 17:03] dianaafanador3 commented on #7748
@aserdobintsev this seems related to this https://github.com/realm/realm-swift/issues/7462, no need to open a new issue.

[2022-09-14 23:58] drmarkpowell commented on #7931
Diana, Thanks for following up on this! This is really helpful.

Question for you on how I'd incorporate the changes at the App level:
[code]

Apparently the SwiftUI Environment won't allow us to set optional values, and we're now returning a `Realm.Configuration?`. So, when we modify the app (this is a lot like the code in the Realm SwiftUI quick start example BTW), I suppose we need to do someth

[2022-09-15 01:13] aserdobintsev commented on #7748
@dianaafanador3 Thanks to pointing out the right issue. Will try to downgrade RealmSwift to 10.11.0.

[2022-09-15 05:18] aserdobintsev commented on #7462
The same problem on iOS 12. Have to downgrade to Realm 10.11.0.

macOS 12.5.1
Xcode Version 13.4.1 (13F100)
Cocoapods 1.11.3
Tried on Realm 10.12.0 or 10.29.0
iOS Deployment target iOS 12.4
Built with iOS 15 SDK

See full description and example project here -> https://github.com/realm/realm-swift/issues/7748#issuecomment-1246370828

[2022-09-15 10:34] maksirol commented on #7350
Any news on this issue?

I've also noticed this in production, but never managed to reproduce it myself.

Realm version:  10.25.0 (I will try to upgrade to 10.29.0 and check if this error will still appear)

`Error Domain=io.realm Code=1 "No such table exists Exception backtrace: 0 Realm 0x000000010428e944 _ZNK5realm5Group7ndx2keyEm + 372 1 Realm 0x000000010428ead8 _ZNK5realm5Group15key2ndx_checke

[2022-09-15 19:24] anton-plebanovich opened #7957 "Xcode 14.0 'Create Symlinks to Header Folders' warning"
### How frequently does the bug occur?

All the time

### Description

When build an app with Xcode 14.0 it produces a warning:
[code]
<img width="393" alt="image" src="https://user-images.githubusercontent.com/10807812/190491340-78c78e28-7e30-4d64-a981-4996f04b3ef5.png">

For our run script build phases it was an easy fix we just had to remove `Based on dependency analysis` checkmar from `Run scr

[2022-09-15 19:29] stremblayiOS commented on #7908
+1

[2022-09-15 19:31] tgoyne commented on #7957
This is not something we have any control over; you'll need to report it to CocoaPods.

[2022-09-15 19:37] anton-plebanovich commented on #7957
Thanks @tgoyne you are right, there is already an issue for that
https://github.com/CocoaPods/CocoaPods/issues/11477

Hence, closing this one

[2022-09-15 19:37] #7957 closed

[2022-09-15 19:53] archidvignesh commented on #7953
Ok I just tested this out. Works as expected. Maybe the documentation needs some clarity on this cuz it says List fields cannot be added as a query

[2022-09-15 19:53] #7953 closed

[2022-09-15 20:05] anton-plebanovich commented on #7957
Workaround for now:
[code]

[2022-09-15 21:29] aehlke commented on #7782
was this ever improved in the API or filed elsewhere?

[2022-09-15 22:30] eegrok commented on #7945
I'm getting the same warning deploying using XCode 14 to TestFlight -- the deploy works, but gives a warning.

[2022-09-15 23:26] visdyn opened #7958 "The compiler is unable to type-check this expression in reasonable time; try breaking up the expression into distinct sub-expressions"
### How frequently does the bug occur?

All the time

### Description

This code will not allow XCode to compile the project and throws the error in the title. There is another bug report with the same title but the cause/issue appears to be different.

[code]

There is nothing else in the project.

However, this code compiles fine. Remove the last and statement `&& $0.color = ""`

[code]

### Sta

[2022-09-16 02:06] alexeydemidovkz commented on #7945
I submited the app with warnings to review and got approved

[2022-09-16 13:46] robsontenorio opened #7961 "It does not respect `&&` operator when filtering a list of embedded objects"
### How frequently does the bug occur?

All the time

### Description

It does not respect `&&` operator when filtering a list of embedded objects.

In this specific case it filter correctly `key == "rooms"` but second statement `value == 4 ` seems to be ignored , once results brings rows with values different from `4`.

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

[2022-09-16 14:07] robsontenorio commented on #7961
I also tried but it does not work, the list will be empty.

[code]

[2022-09-16 16:22] afsmarques commented on #6921
@onelogapp so this is a work in progress yet, right? in my case, i get `Cannot set a link to an existing managed embedded object` when trying to update my `Object` with an `EmbeddedObject` field

[2022-09-16 17:37] visdyn commented on #7958
Well, I found the issue but I don't know *why* it's an issue.

Using a property name `color` on a Realm object is the cause

The ProductClass looked like this

class ProductClass1: Object {
    @Persisted var product_type = ""
    @Persisted var family = ""
    @Persisted var processor = ""
    @Persisted var gpu = ""
    @Persisted var ram = ""
    @Persisted var storage = ""
    @Persisted var c

[2022-09-16 17:49] dianaafanador3 commented on #7958
@visdyn I tested your code and at first I got a compilation error bit after many attempts I was able to build successfully, then I added a `color` property like you mentioned in your last comment and it is working as well.
You probably have to wait for the type checker to slowly process your natural code and the type checker issue to be fixed.

[2022-09-16 18:09] dianaafanador3 commented on #7958
Another reason for this to happen is if you have an error within the expression, because we use dynamic lookup it means you can use any property name which may not be declared in the object.

[2022-09-16 18:10] visdyn commented on #7958
Thanks for looking into it. I am not sure I am clear on your process. Keeping in mind I'm duplicating it across 4 different Macs all with the same result.

Are you saying that to get around it, you have to keep building the app over and over until the message clears?

If so, that's not working for me. I can compile it 20 times and it thows the same error - even being patient between builds.

A bit

[2022-09-16 18:40] visdyn commented on #7958
I just took a brand new Mac out of the box, installed XCode and all current updates. Then created a brand new XCode project shown here in it's entirety

[code]

and here's the result

<img width="1954" alt="Realm Type Check Test" src="https://user-images.githubusercontent.com/19558530/190708782-acb28d47-e177-434d-a3f3-d2b06585724d.png">

Removing the last `&& $0.e = "" ` allows it to work correctl

[2022-09-16 19:19] dianaafanador3 commented on #7958
In your last comment you have an issue in the expression
Instead of `&& $0.e = ""` it should be `&& $0.e == ""`
I know the error message should be more explicit, but because like mentioned before we use dynamic lookup we cannot control this.

[2022-09-16 19:28] visdyn commented on #7958
That is a really really good catch and a really really poor error message!

I understand why that happened but making Realm 'type safe' is great but not when it allows other errors, like a simple typo, to not be caught.

Thanks for your time 'debugging'. That seems to have corrected the issue. Will circle back if not.

[2022-09-16 19:29] visdyn commented on #7958
That is a really really good catch and a really really poor error message!

I understand why that happened but making Realm 'type safe' is great but not when it allows other errors, like a simple typo, to not be caught.

Thanks for your time 'debugging'. That seems to have corrected the issue. Will circle back if not.

[2022-09-16 19:59] dianaafanador3 commented on #7961
@robsontenorio I think the issue is the data model and not an issue with the query, correct me if I'm wrong but looking at your model
The following query
`$0.specs.key == "rooms" && $0.specs.value == 4`
translates to this
`((ANY specs.key == 'rooms') && (ANY specs.value == 4.0))`
and would return true in case of any spec has a key == "rooms" and any value to be == 4, in the specs array.

The secon

[2022-09-16 20:00] #7958 closed

[2022-09-16 21:46] robsontenorio commented on #7961
@dianaafanador3 I am looking for something dynamic.

Because each `Property` can have different `Specifications`. In that case there is a dozen of specs to be chosen when creating a new `Property`

So customers can look for : What `Property`s has `4 rooms`  and `1 pool` ?

[2022-09-16 23:36] NuclleaR commented on #7435
The same issue

[2022-09-17 04:06] Vincentzzg commented on #7435
The problem is solved
Do not set objects already managed by Realm

[2022-09-17 14:21] reinosutisno commented on #7908
+1

[2022-09-17 14:28] Sonisan commented on #7908
@dianaafanador3 ?

[2022-09-17 17:19] fmoraes74 commented on #7932
One more report of it:
[code]

[2022-09-18 13:48] xilin commented on #7863
@dianaafanador3  we'll try to add this and check crash data. Haven't been able to stably re-produce the problem

[2022-09-18 20:01] Drag0ndust commented on #7737
Any news on this topic?

[2022-09-19 00:07] idenizalan opened #7962 "Getting Realm accessed from incorrect thread. Error After Updating to Xcode 14 and iOS 16"
### How frequently does the bug occur?

All the time

### Description

Normally, I wasn't getting this error before the update; however, after I updated I cannot get the objects from my realm sync database. This error occurs while I'm trying to get data with realm.objects method.

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No respo

[2022-09-19 14:57] dianaafanador3 commented on #7961
@robsontenorio I think I found a solution for this.
Can you try the following query
`{ ($0.specs.key == "rooms" && $0.specs.val == 4.0).count > 0 }`
which translates to
`(SUBQUERY(specs, $specs, (($specs.key == %@) && ($specs.val == %@))).@count > %@)`
You can get info about Subqueries in here
https://www.mongodb.com/docs/realm/realm-query-language/#subqueries

[2022-09-19 15:14] robsontenorio commented on #7961
@dianaafanador3

Although I don’t think it is intuitive, I have mentioned that solution on my previous comment.

Anyway , thanks !

[2022-09-19 15:14] #7961 closed

[2022-09-19 15:32] dianaafanador3 commented on #7962
@idenizalan Can you show me the code where you get this error?, Like the error mentions you probably trying to access the realm in a different thread from the one it was created.

[2022-09-19 18:02] ericjordanmossman commented on #7908
I've still been trying to figure out what's happening here. A [couple](https://developer.apple.com/forums/thread/711899) of [others](https://www.donnywals.com/xcode-14-publishing-changes-from-within-view-updates-is-not-allowed-this-will-cause-undefined-behavior/) have some interesting ideas. The issue seems to be affecting all developers, not just ones using Realm.
One interesting theory [here](ht

[2022-09-20 06:16] byljbdh commented on #7952
Sorry for replying so late.
What kind of dispatch queue are you using for the bufferQueue and the writeQueue?, What kind of buffer are you using to store the data to be written?
The code is:
`

    private var buffer: [TDAnalyticsRmObj] = []
    private var semaphore: DispatchSemaphore = DispatchSemaphore(value: 1)
    private var bufferQueue: DispatchQueue = DispatchQueue(label: "TDAnalyticsSyncM

[2022-09-20 07:41] mr-grey commented on #7350
the same:
"No such table exists Exception

` Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=1 "No such table exists Exception backtrace: 0 Realm 0x0000000108e40ca0 _ZN5realm11NoSuchTableC1Ev + 52 1 Realm 0x0000000108e40e1c _ZNK5realm5Group15key2ndx_checkedENS_8TableKeyE + 260 2 Realm 0x0000000108f4848c _ZN5realm11Transaction17check_consistencyEv + 112 3 Rea

[2022-09-20 13:41] veluloganathan opened #7964 "RealmSwift 10.29.0 increased my WatchKit App bundle size"
### How frequently does the bug occur?

All the time

### Description

I did pod update for realm-swift to run/debug in XCode 14. But when i submit a build to Appstore i got an error as Size Limit Exceeded  the 75MB size limit.

Help me

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.29.0

### What SDK

[2022-09-20 14:14] dianaafanador3 commented on #7964
@veluloganathan from which version are you migration from? Are there other frameworks updates from the last time you uploaded to App Store?

[2022-09-20 14:18] veluloganathan commented on #7964
i migrated from `10.25.0` and i havn't updated any other frameworks.

[2022-09-20 14:20] dianaafanador3 commented on #7964
Have you tried using a older version of Xcode?, I would try this but I cannot upload anything to the AppStore, this may help us identify if the issue is in our side or Apple side.

[2022-09-20 14:40] dianaafanador3 commented on #7782
This was just something missing on the docstring not an API or implementation issue

[2022-09-20 15:03] veluloganathan commented on #7964
No, But i managed to install realm-swift using SPM and it solves the issue for now.

FYI: I do see librealm-monorepo.a added to my built product(watchOS App).

[2022-09-20 15:35] #7842 closed

[2022-09-20 16:40] #7945 closed

[2022-09-20 16:53] rserentill commented on #7955
Hello, we are also seeing a lot of similar crashes on our production apps, the stack traces are not always the same, but they all always end up in `terminate` function. Do you guys have any hint? In our case these crashes started happening when we updated our RealmSwift from version 3.18 to 10.28.0.

[2022-09-20 16:56] dianaafanador3 commented on #7955
Hi @rserentill do you have any stack traces, terminate function is our internal function when there is an undefined behaviour in our side, but this could mean many things which could be related to this issue error or not.

[2022-09-20 17:14] rserentill commented on #7955
Hi @dianaafanador3! Thank you for your answer, yes I do, I'm pasting some of them here.
We are accessing Realm from different threads, but all Realm instances are always created and accessed from the same thread.

[code]

[code]

[code]

[code]

[code]

[2022-09-20 20:47] dianaafanador3 commented on #7964
@veluloganathan I made some tests and It look like we haven't made any big changes in our side to represent any big increase in the binary size.
In Xcode 14 builds for watchOS now include arm64 architecture which would explain the increase in the size, and because build flags for Cocoapods and SPM are different there may be a slight difference between the builds.
This difference may be the cause f

[2022-09-20 20:49] dianaafanador3 commented on #7956
I created a PR which may solve this issue https://github.com/realm/realm-swift/pull/7960

[2022-09-20 20:55] dianaafanador3 commented on #7955
@rserentill can you open a new issue, the stack traces indicates that the errors are different from the one in this issue.
It does seem like this errors may be cause for different reasons. Fill out the form so we can take a closer look into this.

[2022-09-20 22:26] dianaafanador3 commented on #7952
With ARC this over-releasing should not be happening. May want to migrate your code to use the RealmSwift API instead of the Objective-C one, even though Objective-C use ARC as well, this may help. Even in pure Swift this may still be happening, due to compiler bugs.

[2022-09-21 06:56] labradon commented on #7962
Experiencing the same error in XCode 14.0 (14A309) and iOS 16.0. Error can be provoked with code as simple as this
[code]

Was able to workaround this problem by adding `@MainActor` to the function definition. However, this negatively effects the UI performance and can not be a final solution.

[2022-09-21 07:47] byljbdh commented on #7952
Thanks. I'll try migrate it to RealmSwift.

[2022-09-21 07:48] #7952 closed

[2022-09-21 08:24] rserentill opened #7965 "Multiple crashes with different stack traces ending up in `terminate` function"
### How frequently does the bug occur?

Sometimes

### Description

We are seeing multiple crashes on production, although it is really hard for us to reproduce them.

We are accessing the database from different threads and concurrent threads might be writing to the database at the same time. However, we should always be on the same thread when creating and accessing realm.
I will try to summaris

[2022-09-21 08:30] dianaafanador3 commented on #7962
@labradon firstable, we don't expose any async or throwable function to query an object, so instead of `let pets = try await realm.objects(Pet.self)` use `let pets = realm.objects(Pet.self)`
Also you should mark the async function as @MainActor
[code]
This will guarantee that all the access to the realm are done in the same thread.
From Swift 5.7 https://github.com/apple/swift-evolution/blob/main/

[2022-09-21 08:30] dianaafanador3 commented on #7962
@idenizalan if this is you case as well, please update your code to use @MainActor

[2022-09-21 08:32] idenizalan commented on #7962
Hello, when I added @MainActor to my async functions it worked exactly like before! Thank you very much both.

[2022-09-21 08:33] #7962 closed

[2022-09-21 08:56] rserentill commented on #7897
Hello again, we are reproducing this crash on any app that has our SDK (XCFramework) integrated via SPM. The weird thing is that this is only happening on simulators, but not on physical devices.

If we install the SDK through CocoaPods, we also receive a crash but with a different error:
[code]

Does anybody have any clue how can we get around these crashes? This is completely blocking our SDK cl

[2022-09-21 17:28] ljoraanstad opened #7967 "realm.object returns nil when overriding primary key"
### How frequently does the bug occur?

All the time

### Description

It seems that [Issue #6672](https://github.com/realm/realm-swift/issues/6672) is still an active issue in the latest version of RealmSwift.

When defining a class or model, and using the `override class func primaryKey() -> String?` function to override the primary key, it would seem that RealmSwift's `realm.object(ofType: ...,

[2022-09-21 20:13] labradon commented on #7962
@dianaafanador3 Thanks a lot for the clarification. I didn't know about the the specific change regarding actors in Swift 5.7, this helps a lot. Again, I can confirm that using `@MainActor` solves the error.

*Sorry for the misuse of `realm.objects`. I typed the comment up quickly before work and missed this part.*

[2022-09-22 11:08] dianaafanador3 commented on #7967
HI @ljoraanstad It would be helpful if I you can copy your object model code, because a simple test with a test object and a string primary key seems like it is working fine.
Also have you tried to migrate to our new model declaration syntax https://www.mongodb.com/docs/realm/sdk/swift/model-data/define-model/object-models/, you can test with this as well and check if there are any discrepancies b

[2022-09-22 11:15] dianaafanador3 commented on #7897
Hi @rserentill let me first try to understand your setup so we can reproduce it, you have RealmSwift through SPM as a dependency in your framework, and then you want to distribute it as a xcframework?.

[2022-09-22 11:24] rserentill commented on #7897
Hello @dianaafanador3, thank for answering!
Yes, that's correct. Let me clarify that our SDK is not an Xcode project, it's a Swift Package. This swift package has RealmSwift as a dependency.
When we need to publish a new SDK version, we archive this swift package for both device and simulator architectures, and we generate an XCFramework with these two archives.

Also, as a workaround to work with

[2022-09-22 11:30] Dhaval3110 commented on #7812
Any update?

[2022-09-22 11:36] dianaafanador3 commented on #7812
Hi @Dhaval3110 we are working on a better experience with async/await operations, I'll post any updates to this issue, or follow our release notes to check for changes.

[2022-09-22 11:43] Dhaval3110 commented on #7812
@dianaafanador3  thank you for update

[2022-09-22 11:59] dianaafanador3 commented on #7897
@rserentill In your comment above I saw you have an empty project with a reproduction of the issue, can you push this a repository?.

[2022-09-22 12:01] rserentill commented on #7897
@dianaafanador3 is there any way I can share it with you privately? the SDK consumes protected data and it uses client credentials to authenticate to our backend services.

[2022-09-22 12:04] rserentill commented on #7897
@dianaafanador3 I see I forgot to mention that the crash is only happening when we include the SDK as an XCFramework. If we add the swift package directly, without a binary, it doesn't crash.

[2022-09-22 12:05] dianaafanador3 commented on #7897
@rserentill  you can send it to realm-help@mongodb.com

[2022-09-22 12:27] rserentill commented on #7897
@dianaafanador3 I have just sent the project to the email address you provided 😊

[2022-09-22 15:50] ljoraanstad commented on #7967
@dianaafanador3 Here is an example model:

[code]

[2022-09-22 17:00] dianaafanador3 commented on #7967
Did you test using `@Persited` property wrapper?, can you also attach the code where you are retrieving the object from the primary key and the code for the filtering

[2022-09-22 17:10] ljoraanstad commented on #7967
@dianaafanador3
[code]

This is the current working code. Previously, it was

`            if let object = realm.object(ofType: mirror.subjectType as! Object.Type, forPrimaryKey: primaryKeyValue) as? T `

I did not try with the @Persisted property wrapper yet. I can give that a try.

[2022-09-22 17:59] dianaafanador3 commented on #7967
@ljoraanstad I tested the following test and everything seems to be working fine, seems like something very particular to your data model and you implementation
[code]
This happens for all the objects passed to `attachedObjects`?
The only particular think I see is that your model inherit from `BaseObjectMapper` which could be affecting the Type obtained from the reflection.
Both function have diff

[2022-09-22 18:36] pitoneux commented on #7266
Did we open a new issue with this ? Any workaround ? I'm having this issue with xcode 14.0 and 14.1 beta2

[2022-09-23 07:12] BlueCobold opened #7968 "RealmProperty<SomeClass?> does not automatically get added during migration"
### How frequently does the bug occur?

All the time

### Description

I have added some new optional fields to some of my realm objects and while I can easily add these as optional Float or Boolean fields in Java during a migration, I don't see any way to add them in a Swift migration block. They also do not automatically get added like @Persistet properties do. I thus cannot migrate the file on

[2022-09-23 07:55] BlueCobold commented on #7955
Can you potentially provide the realm file from an affected user? This issue looks so well known to me, it would be great to see if the file is corrupted in similar ways than mine were.

[2022-09-23 08:10] mmar001 commented on #7955
No unfortunately it happens only in live app :(

[2022-09-23 09:17] mr-grey commented on #7901
same crash at  1 second
Operating system
Version:16.0.0
pod 'RealmSwift', '~>10.28.2'

[code]

[2022-09-23 11:34] dianaafanador3 commented on #7968
Hi @BlueCobold you cannot mix @Persisted property declaration with the old way of property declaration `@objc` or `RealmProperty`:
You have to declare your RealmProperty like this
`@Persisted percentage: Float?`

[2022-09-23 11:40] BlueCobold commented on #7968
Aha! Thanks a lot!
Alright, then maybe update the "Manual migration" documentation, please in regards to how to handle RealProperty, @Persisted and @objc declarations. It became quite a bit messy in the meantime, I think.

[2022-09-23 22:09] LilaQ commented on #7962
Just saying "thanks", encountered the same situation when migrating to Xcode 14, and can confirm, this modification to the code helps.

[2022-09-24 09:45] owenzhao opened #7970 "RealmSwift in CocoaPods was not updated to 10.30.0"
### How frequently does the bug occur?

All the time

### Description

It is still 10.29.0. Did you forget to update?

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

[RealmSwift on CocoaPods](https://cocoapods.org/pods/RealmSwift)

### Version

10.29.0

### What SDK flavour are you using?

Local Database only

### Are you using encr

[2022-09-24 14:42] chkpnt commented on #6898
I still wonder why this problem does not cause more outcry.

[2022-09-25 05:18] #7968 closed

[2022-09-25 12:51] tkafka commented on #4221
@onmyway133 Hi, found this due to similar crash here in 2022 - is there a solution when you want to write from the extension as well?

[2022-09-26 07:43] MaxRandom commented on #7970
Hi!
Any updates on this?

[2022-09-26 08:37] leemaguire commented on #7965
Hi @rserentill you need to confine your Realm to a serial queue. The pattern in the above code sample is not thread safe.

[2022-09-26 09:26] leemaguire commented on #7955
@mmar001 Can you pass the queue you are using to the `queue` parameter when opening the Realm and let us know if that helps?

[2022-09-26 09:56] leemaguire commented on #7970
Fixed

[2022-09-26 09:57] #7970 closed

[2022-09-26 09:58] leemaguire commented on #7935
@ceumgmt any update on a sample app to reproduce the issue?

[2022-09-26 10:04] sync-by-unito[bot] opened #7971 "Assertion failed: list.get_realm() == _realm->_realm"
#### SDK and version
SDK : Swift
Version: Realm 10.30.0, RealmDatabase 12.7.0

#### Observations
* How frequent do the crash occur? -> First time happening.
* Does it happen in production or during dev/test? -> During dev
* Can the crash be reproduced by you? -> No
* Can you provide instructions for how we can reproduce it? -> the error point to the following line in my code: 	@ObservedRealmObject

[2022-09-26 10:24] leemaguire commented on #7971
We will investigate this issue.

[2022-09-26 10:27] #7934 closed

[2022-09-26 10:29] leemaguire commented on #7804
@sumit-vts are you still experiencing the issue? If so can you update to the latest version and see if that helps?

[2022-09-26 10:31] leemaguire commented on #7785
@tjuela did the above suggestion help at all?

[2022-09-26 10:55] leemaguire commented on #7943
@MarouMhz just checking in to see if you have any feedback after implementing the above suggestions?

[2022-09-26 12:51] leemaguire commented on #7897
Hi @rserentill I can run the app and go to the view in question without any crashes when using Xcode 14 on an iPhone 14 simulator.

[2022-09-26 12:53] lukluca commented on #7872
Hi @pavel-ship-it , the crash is still occurring

Arresto anomalo: Realm notification listener
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000110726448

Crashed: Realm notification listener
0  Realm                          0x160b8c long long realm::Array::get<4ul>(unsigned long) const + 8
1  Realm                          0xf7d0 get + 90 (array_key.hpp:90)
2  Realm                          0x1199c

[2022-09-26 13:02] leemaguire commented on #7872
@lukluca can you show us your use of Realm and NSThread's? That will help us narrow down the issue.

[2022-09-26 13:03] leemaguire commented on #7926
@mr-grey Could you provide us with more information?

[2022-09-26 13:12] leemaguire commented on #7930
@mmar001 do you have any updates on this issue?

[2022-09-26 13:13] leemaguire commented on #7704
@Bodnar-Dan Can you provide the requested information so that we can investigate further?

[2022-09-26 13:36] Bodnar-Dan commented on #7704
@leemaguire sadly I don't have a stack trace of the crash. The crash is reported on the Firebase thread for a reason (I learned that this is a common issue). Maybe that's because the crash is happening while the app is in background. Ofc, we're unable to reproduce it in any way.

We only have this (and similar), without additional information. What I can also tell, is that for a specific user, it'

[2022-09-27 08:05] leemaguire commented on #7618
@LukasGram do you have any updates on this?

[2022-09-27 08:29] mr-grey commented on #7941
also
then try to read :

@Persisted var phoneNumber

![Screenshot 2022-09-27 at 11 26 55](https://user-images.githubusercontent.com/699148/192474557-a09c7805-260c-481f-b209-74a1597eaaee.png)

![Screenshot 2022-09-27 at 11 29 06](https://user-images.githubusercontent.com/699148/192475039-59da7971-9ad3-4404-ad82-750a048d757f.png)

[2022-09-27 09:42] TianQiLi opened #7973 "deleteObjects 方法崩溃"
### How frequently does the bug occur?

All the time

### Description

我的代码：
RLMResults * result = [My_StagesInfoModel allobjects];// 自定义数据查询
 RLMRealm * realm = [RLMRealm defaultRealm];
    if (result.count) {
        [realm transactionWithBlock:^{
            [realm deleteObjects:result];/// 运行到这里崩溃
            [realm addObjects:array];
        }];
    }

### Stacktrace & log output

[code]

###

[2022-09-27 10:08] rserentill commented on #7897
Hello @leemaguire, thank you for your answer! That's weird.. We can reproduce the crash 100% of the times with this project. In both Xcode 13 and 14. We have also tried with both Intel and M1 chips, same result.
So you open the project, click on the red button and you can read the magazine's content without a crash?

[2022-09-27 10:19] leemaguire commented on #7897
@rserentill yep I tap 'Open Magazine' and it shows me content.

[2022-09-27 10:25] rserentill commented on #7897
@leemaguire Do you have Intel or Apple chip? Just trying to figure out what's different, although we've been able to reproduce it in both.
Could you please try to reset SPM cache?
This only happens to us if we use the xcframework binary, but it doesn't happen using the package with the source code in it. Maybe you have realm-core project locally and somehow Xcode is recognising it?

[2022-09-27 10:39] leemaguire commented on #7897
I have the Apple chip. I checked the SPM checkouts and its not referencing any local versions of Realm Core. I also just checked it with Xcode 13.4.1 and it runs fine there too.

[2022-09-27 10:41] rserentill commented on #7897
And your'e testing it on Simulator, right?

[2022-09-27 12:37] rserentill commented on #7965
Hello @leemaguire, thank you for your answer! we're gonna give this a try!

[2022-09-27 13:36] bmunkholm commented on #6690
@saad-arrivy @mr-grey @theoks @olegrussu1 @telipskiy @emtjoshhart Please see https://github.com/realm/realm-swift/issues/6690#issuecomment-925867777 above.
I'll lock this issue to and kindly request new observations to be created in separate issues. Thanks!

[2022-09-27 16:20] RobertoD91 opened #7974 "build error in swift example AsyncOpenSwiftUI macos"
### How frequently does the bug occur?

All the time

### Description

Example `realm-swift-10.30.0/examples/ios/swift-14.0/AsyncOpenSwiftUI` don't build

tested:
- zip in 10.30.0 releases
- git clone commit 554b605990ac1232427fe27ad61f302f5c74ac4c

### Stacktrace & log output

[code]
[code]
ProductName:	macOS
ProductVersion:	12.6
BuildVersion:	21G115

/Applications/Xcode.app/Contents/Developer
Xc

[2022-09-28 03:27] DanBurkhardt commented on #7737
Also looking for an assist on the issue. Mainly I think it would be helpful if the naming were updated to reflect that when using newly-popular async / await patterns invoking a function that says "asyncOpen" sort if feels like it should be usable with async / await for a realm that is synced with the Mongo DB hosted Realm Sync service.

[2022-09-28 04:58] drmarkpowell commented on #7908
@ericjordanmossman It looks like your intuition may be right on target regarding this issue.

Donny Wals tweet earlier today: "Heck yes! Xcode 14.1 Beta 3 (finally) fixed the "Publishing changes from within view updates is not allowed, this will cause undefined behavior" bug in SwiftUI https://www.donnywals.com/xcode-14-publishing-changes-from-within-view-updates-is-not-allowed-this-will-cause-und

[2022-09-28 10:15] BlueCobold commented on #7973
Do I understand correctly, that you try to delete objects from a previous query in a different realm instance you opened after the query?

[2022-09-28 14:44] RobertoD91 opened #7975 "Wrong path of framework in example"
### How frequently does the bug occur?

All the time

### Description

From `realm-swift-10.30.0.zip` release:
<img width="1517" alt="Schermata 2022-09-28 alle 16 27 03" src="https://user-images.githubusercontent.com/298514/192807052-82222407-9da1-4856-9031-744964a6d8da.png">

Frameworks in xcode project
`realm-swift-10.30.0/examples/ios/swift-XX.Y`
should be linked with
`realm-swift-10.30.0/XX.Y/

[2022-09-28 19:16] hyouuu opened #7976 "Insta crash upon opening the app"
### How frequently does the bug occur?

All the time

### Description

We have had users report this crash before but couldn't get a crash report probably because it happens too early, and now I got this insta crash every time I open the app on M1 macOS running the MacCatalyst version of the app. The app was updated over a month ago and was working fine until yesterday, when all of a sudden it sta

[2022-09-29 07:57] Sonisan commented on #7956
Is this issue linked to other problematic use cases I encountered using List, such as this one which provokes a crash (index out of bound):

[code]

In the meantime, replacing the list by an array seems to solve this: `ForEach(Array(listOfUsersId)), id: \.self) { id in ...`

[2022-09-29 10:39] dianaafanador3 commented on #7956
HI @Sonisan are you using one of our property wrappers?, can you please the code for the View for closer examination?, I may add a test for this to make sure this is fixed or not

[2022-09-29 11:36] leemaguire commented on #7974
Thanks for pointing this out, we'll get this fixed.

[2022-09-29 11:39] leemaguire commented on #7973
Hi @TianQiLi as you can always reproduce, can you send us a sample app that demonstrates the crash?

[2022-09-29 11:45] leemaguire commented on #7975
These frameworks aren't required to build, they are left over references. We will remove them.

[2022-09-29 11:56] leemaguire commented on #7976
I don't think this is related to Realm from looking at this crash dump. Have you tried removing the code using `AddressBookCore` and `CoreData` to try single out the issue?

[2022-09-29 12:51] Sonisan commented on #7956
Hello @dianaafanador3, no I am not using Realm's ones for this specific view:

[code]

and the list property is:

`	@Persisted var blockedUserId = RealmSwift.List<ObjectId>()
`

[2022-09-29 14:37] dianaafanador3 commented on #7956
@Sonisan And how do you calculate the index to be used in `user.blockedUserId.remove(at:)`

[2022-09-29 16:45] #7831 closed

[2022-09-29 17:46] hyouuu commented on #7976
@leemaguire thanks for the quick reply, but I don't use either of those libraries and think they're just other unrelated system threads

[2022-09-29 22:55] #5222 closed

[2022-09-30 00:21] Sonisan commented on #7956
@dianaafanador3 Please note that it works with a list containing one element only (crashes if > 1).

[code]

[2022-09-30 01:35] mnmaki commented on #7741
Any news on this?

[2022-09-30 09:15] leemaguire commented on #7976
Weird, what dependancies do you use in your app? It's likely something else is using those frameworks.

[2022-09-30 09:22] hyouuu commented on #7976
What made you think it's the `CoreData` that caused the crash? The backtrace seems to suggest Realm no?
<img width="995" alt="Screen Shot 2022-09-30 at 2 21 33 AM" src="https://user-images.githubusercontent.com/5061867/193238468-62e4451e-b140-4099-855d-2c2759774889.png">

[2022-09-30 09:36] leemaguire commented on #7976
Can you show the usage of Realm up to the point where that exception is thrown? Usually if its a fatal crash with Realm you will receive a full back trace.

[2022-09-30 10:11] dianaafanador3 commented on #7956
Hi @Sonisan first-able I think your issue is not related to the original issue from the post, which is related to `List` `move(fromOffsets:, toOffset:)`.
By the looks of your error, seems like your are probably trying to remove an index which is not available anymore in the List. This issue may be caused because you are using `EnvironmentObject` as a datasource for your View, after you remove your

[2022-09-30 10:25] Sonisan commented on #7956
Hi @dianaafanador3 oh.. my apologies then!! Thank you for your suggestion, I will give it a shot!

[2022-09-30 22:09] dmorgereth opened #7978 "Running a query on an observed collection causes memory growth"
### How frequently does the bug occur?

All the time

### Description

Our use case requires observing a Realm collection while running queries against it.  We have noticed unrestricted memory growth in our app when the queries are executed.   If we disable our observer, the memory use remains flat.    A sample project that demonstrates the issue is attached.   In general, this is what's happening

[2022-10-01 00:05] aehlke commented on #7493
Would be nice to have a scary disclaimer about this in the docs for LinkingObject if this is going to remain an issue

[2022-10-02 03:48] hyouuu commented on #7976
I only have it from the App Store version so unfortunately couldn't get that info. However, looking more in to the above stack trace the it looks like a NSString exception which made I remember this issue: https://github.com/realm/realm-swift/issues/4573 Might be somehow generated corrupted string with invalid char? There has been no response to the other tickets and wonder could we prioritize it?

[2022-10-02 03:49] hyouuu commented on #7976
`Fatal Exception: RLMException
0  CoreFoundation                 0x99d78 __exceptionPreprocess
1  libobjc.A.dylib                0x16734 objc_exception_throw
2  Realm                          0xaedc (Missing UUID 7affe0fd913d36dfaf6b9de8508f309d)
3  Realm                          0x62c60 (Missing UUID 7affe0fd913d36dfaf6b9de8508f309d)
4  Pendo                          0x30db98 closure #1 in closur

[2022-10-02 03:49] hyouuu commented on #7976
Fatal Exception: RLMException
0  CoreFoundation                 0x99d78 __exceptionPreprocess
1  libobjc.A.dylib                0x16734 objc_exception_throw
2  Realm                          0xaedc (Missing UUID 7affe0fd913d36dfaf6b9de8508f309d)
3  Realm                          0x62c60 (Missing UUID 7affe0fd913d36dfaf6b9de8508f309d)
4  Pendo                          0x30db98 closure #1 in closure

[2022-10-02 03:50] hyouuu commented on #7976
cc @leemaguire and thanks again for taking care of this!

[2022-10-02 05:25] bdkjones opened #7979 "Collection Change Handlers: Modified Indexes Incorrect When Insertions Occur"
## Update:

I just double-checked this page: https://www.mongodb.com/docs/realm-sdks/swift/latest/Enums/RealmCollectionChange.html#/s:10RealmSwift0A16CollectionChangeO6updateyACyxGx_SaySiGA2FtcAEmlF

I was surprised to find the `modified` indexes *intentionally* reference the *previous* version of a live collection. That seems at-odds with the docs' command to handle changes in this order: `Deleti

[2022-10-02 08:03] bdkjones commented on #7979
As a workaround, there are currently two options:

1. If the `insertions` and `modifications` arrays are both populated, force-reload the entire table because the indexes in the `modifications` array can't be trusted.

2. Force-reload the subset of rows that COULD be modified, like this:

[code]

[2022-10-02 17:31] aehlke commented on #7902
Well this same issue has stopped my app's release cold. Is there any workaround?

[2022-10-03 06:08] bdkjones opened #7980 "Collection Change Handlers: AppKit-Compatible Indexes"
### Problem

After filing #339 as a bug and discovering the design was intentional, I'm filing this as a feature request.

In collection change handlers, the `modifications` array of indexes references the *previous* collection. That seems to be appropriate for `UITableView` on iOS. However, it does not work for `NSTableView` on macOS.

On macOS, the indexes for modified objects are useless if any

[2022-10-03 06:09] bdkjones commented on #7979
Closing and filing a feature request for AppKit support instead: #7980

[2022-10-03 06:09] #7979 closed

[2022-10-03 07:12] dammy1984 commented on #5618
Any update.. I am facing this issue only in production environment and it is capturing through firebase.. Not able to reproduce the same in Debug build

[2022-10-03 15:21] benlacey commented on #7874
Just in case it's useful for anyone else with this issue, we tracked it down in our app to the MFi App Launch feature, where if the user powered on their iOS device but didn't unlock it, when the MFi Bluetooth device was powered on and the app launched (underneath the locked screen) any access to files in the app's documents folder would fail with the same error seen in this report.  The Crashlyti

[2022-10-03 16:01] drmarkpowell commented on #7908
I'm still seeing a bunch of these warnings at runtime with Xcode 14.1 beta 3, so perhaps that means that only a certain type of modification within a view update was addressed.

[2022-10-03 22:21] eegrok opened #7982 "App won't finish launching on "My Mac (Designed for iPad)" target when the realm file is open in realm studio"
### How frequently does the bug occur?

All the time

### Description

This appears to be very similar to bug #6743.

I frequently debug while leaving the realm studio open on my realm file, and launching my xcode app multiple times.

This works fine with iOS Simulator apps, as well as Mac apps, but hangs when I try to launch xcode using a "My Mac (Designed for iPad)" target.

I tried this on real

[2022-10-04 08:05] LukasGram commented on #7618
@leemaguire sry for the late answer. The crashes still show up in our crash logs. Unfortunately no user reached out to our support lately about that. So I have no further information on this.

[2022-10-05 22:27] drmarkpowell commented on #7931
I have done as you recommended: make the realmconfiguration nil if there is no current user in the Realm App.

Now we are seeing another kind of crash on initialization of the Realm sync:

[code]

This is a very internal Realm termination. What would give rise to this?

[2022-10-05 23:01] hyouuu commented on #7976
Any updates? @leemaguire

[2022-10-05 23:03] hyouuu commented on #4573
cc @leemaguire @dianaafanador3 if someone can help check this. Have to move to other solutions if this doesn't get solved :(

[2022-10-06 06:49] hyouuu commented on #7976
Ok got a stack trace in debug environment:

*** Terminating app due to uncaught exception 'RLMException', reason: 'No object with key '14135' in 'class_NoteR''
*** First throw call stack:
(
    0   CoreFoundation                      0x000000019bb79148 __exceptionPreprocess + 240
    1   libobjc.A.dylib                     0x000000019b8c3e04 objc_exception_throw + 60
    2   Realm

[2022-10-06 07:13] hyouuu commented on #7976
Removing the `.filter` line makes the crash go away, so I suspect there's a regression with NSPredicate filtering, maybe when `where` was introduced around 10.19?

[2022-10-06 07:16] molind commented on #7330
Similar crash has been reported by one of our users.

[2022-10-06 08:28] hyouuu commented on #7976
Okay the source of the issue is somehow the data got corrupted it seems - I got realm objects with primary key `id` == (null)
<img width="811" alt="Screen Shot 2022-10-06 at 1 26 06 AM" src="https://user-images.githubusercontent.com/5061867/194261725-0047f789-447b-484e-a8b7-c8df3a4f8be1.png">
which should never happen as `id` is a String type and always assigned a String on init. Is there any way

[2022-10-06 09:37] molind commented on #7330
That's was a corrupted database. Waiting for explanation from user when it's happened. In our app we updated realm-swift from 10.28.2 to 10.30.0. Don't know if it's related.

[2022-10-07 09:15] overlair commented on #7698
If you are still looking for a work around, you can define an `@State` variable on the view, and send animations to this object. Using the `.onChange(of: rlmObject.property) { newValue in }` modifier, you can  update the `@State` variable to match the corresponding Realm property, using `withAnimation` here to customize the animation.

The caveats are that you should use the `@State` variable in p

[2022-10-07 15:24] DavideCeresola opened #7985 "Crash on app startup"
### How frequently does the bug occur?

Sometimes

### Description

Our app seems to crash on startup due to realm.
We are performing some deletions with the filter operator at the app startup in a background thread that seems to cause the crash.
We are not able to reproduce it at the moment but some users is complaining about it.

### Stacktrace & log output

[code]

### Can you reproduce the bug

[2022-10-07 17:41] brenmcnamara commented on #7901
Confirming we are still seeing the issue, currently preventing us from updating Realm.

[2022-10-07 18:34] sedwo commented on #7985
Same here:

[code]

[2022-10-07 18:58] #7557 closed

[2022-10-07 20:49] eegrok commented on #7982
have noticed it's not just a startup bug either -- if I launch realm studio after I have launched my app, it will lock up database operations in my app.

[2022-10-09 02:05] Sonisan opened #7986 "@AutoOpen does not open realm offline"
### How frequently does the bug occur?

All the time

### Description

I have been trying to use the `@AutoOpen` property wrapper to open a realm with a **flexible sync configuration** during the app initialisation.
If the device is **offline**, the realm is blocked in `.connecting` state and is never opened.
It is working as intended if the device is online.

### Stacktrace & log output

[code]

[2022-10-09 06:22] thegreenline commented on #7741
Same her. iOS 14 only, no reproduction, no code changes in my realm conf since long time, last version 10.30.0

[2022-10-10 04:07] mattdornfeld commented on #7908
I'm seeing this issue when defining a @GestureState variable in a class other than the view. The ui functions as expected but this warning appears.

[2022-10-11 07:30] MikePetitfils opened #7989 "dyld: missing symbol called in custom XCFramework with pod dependency"
### How frequently does the bug occur?

All the time

### Description

Hi,

I'm trying package a custom xcframework with the RealmSwift pod dependency.
After upgrading to the latest version (`10.32.0`), when I import my xcframework into a test app, I'm getting the following error :
`dyld[6505]: missing symbol called`
And it point that method :
![image](https://user-images.githubusercontent.com/282

[2022-10-11 08:53] dianaafanador3 commented on #7562
This was fixed in the Xcode version (13.3.1), and no one has reported in newer versions of Xcode

[2022-10-11 20:45] sedwo commented on #7985
Re-tested on v10.32.0.  Hard crash still occurs.

[2022-10-12 03:44] haozhutw commented on #7874
Still encounter this issue on the production environment

[code]

[2022-10-12 07:14] NZQN23 opened #7990 "Crash on Realm.write"
### How frequently does the bug occur?

Sometimes

### Description

My app crashes in production during write operations

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.31.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

### Platform OS and vers

[2022-10-12 18:02] aehlke commented on #4818
Besides the workarounds above, are there usage best practices / patterns that can be avoided to sidestep this issue? I'm not encountering it but this issue frightens me from shipping my work based on Realm

[2022-10-13 07:05] weibel commented on #7741
Same here. iOS14 only. This started when we upgraded from 10.13.0 to 10.28.5

[2022-10-13 07:09] tjuela commented on #7785
No, fileprotection level was already set to `.completeUntilFirstUserAuthentication`

[2022-10-14 00:22] bobergj commented on #6898
Probably because carthage exists. Our project continues to use carthage mainly due to this issue.Do we want to move off carthage? Yes!

[2022-10-14 09:09] shepelroman opened #7991 "Crash on open Realm"
### How frequently does the bug occur?

Seen once

### Description

The app starts crashing during opening Realm object.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

Code sample:

`internal let RealmAuxilaryQueue = DispatchQueue(label: "realm-auxilary-background", qos: .background)`

[code]

[code]

[code]

### Version

1.29

### What SDK f

[2022-10-14 14:47] ericjordanmossman commented on #7978
@dmorgereth I see what you're talking about.
Thanks for the .zip and detailed instructions. I'm looking into this more.

[2022-10-14 17:28] dmorgereth commented on #7978
Thank you Eric!

[2022-10-15 01:33] pitoneux opened #7992 "SPM : Missing required modules: 'Realm.Private', 'Realm'"
### How frequently does the bug occur?

All the time

### Description

When including Realm version 10.30 and above, using xcode 14.x SPM, it produced an error at link time:
<img width="402" alt="Screen Shot 2022-10-14 at 6 24 55 PM" src="https://user-images.githubusercontent.com/1493686/195962881-982f381f-8c1d-45d2-9ea4-d35604d7ebac.png">

### Stacktrace & log output

_No response_

### Can you r

[2022-10-17 15:44] ericjordanmossman commented on #7992
@pitoneux Please try [this](https://github.com/realm/realm-swift/issues/6301#issuecomment-614225989) or [this](https://github.com/realm/realm-swift/issues/6301#issuecomment-1165208194) (with the latest version), and be sure to clean the build folder. This has sporadically popped over the [years](https://github.com/realm/realm-swift/issues/2135) and appears it can happen to swift modules in general

[2022-10-17 17:14] NZQN23 commented on #7990
Could you please take a look into this as this is causing massive problems at the moment for my app? Many thanks.

[2022-10-17 17:45] ericjordanmossman commented on #7990
I'm going to move this to realm-core because the stack trace shows this just going from `realm.add()` to RLMAccessorContext::createObject.
Looking at `ArrayBigBlobs::insert`, is it possible that the asserts on [107](https://github.com/realm/realm-core/blob/master/src/realm/array_blobs_big.cpp#L107) and 108 are failing? Or would that mean the error message would be different?

[2022-10-17 18:04] ericjordanmossman commented on #7985
@sedwo , I think your crash is different than @DavideCeresola 's.
Yours seems unable to find a table key when the realm is opened. Davide's crashes during a delete.
@sedwo Could you open a new issue in [realm-core](https://github.com/realm/realm-core) with all the details you provided here, including that you can supply the realm file?

[2022-10-17 18:10] ericjordanmossman commented on #7985
@nicola-cab Is there a way to tell where in realm::Array::move this could be crashing from the stacktrace?
There's at least [five places](https://github.com/realm/realm-core/blob/master/src/realm/array.cpp#L319) to crash there, but I'm not sure how to narrow down. Does the fact there's no error message that says "Assertion failed: end, <=, m_size" imply that this assertion is passing?

[2022-10-17 18:14] sedwo commented on #7985
@ericjordanmossman Looks to be similar to https://github.com/realm/realm-core/issues/5937.  I'll move my content there.

[2022-10-18 09:15] nicola-cab commented on #7985
I think both issues are suffering from the same bug, the database got corrupted. @sedwo on https://github.com/realm/realm-core/issues/5937 you are trying to open a database that initially got corrupted by realm 11.15 (which displays this corruption bug). Realm core 12.9 should be fine, but since the file got corrupted, there is nothing to prevent that crash to be happening when opening the file wi

[2022-10-18 10:59] nicola-cab commented on #7729
It seems this issue was resolved by this PR: https://github.com/realm/realm-core/pull/5456 which was merged back in realm core 11.16, based on the information provided the customer is using swift 10.25.0 which targets realm core 11.13.

[2022-10-19 01:50] patrickmenendez29 commented on #7712
It would be nice to write that under documentation. The description is currently ambiguous.

[2022-10-19 06:15] Kernelzero opened #7994 "Realm file is currently open in another process which cannot share access with this process"
### How frequently does the bug occur?

All the time

### Description

access realm db file when while open db file with RealmDB Studio, then occurred app crash
I use 64-bit simulator iPhone 12Pro (sdk ios 16)

see the log belows

` let realm = try! Realm()`

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

1. realm studio open the db and ke

[2022-10-19 08:50] zttina commented on #7909
@leemaguire  sorry, only these stack traces.
Thread 27 Crashed:
[code]
[code]
As above "__cxa_finalize_ranges", it maybe a crash about c++ of realm

[2022-10-19 15:37] Eirias opened #7995 "Archive with Xcode 14.1 RC fails"
### How frequently does the bug occur?

All the time

### Description

Archive fails with:

<img width="364" alt="realm issue" src="https://user-images.githubusercontent.com/12933083/196730687-d641b3c2-42dc-47cf-a573-52ff82ea9144.png">

`xcrun swift-demangle s10RealmSwift0A14CollectionImplPAAE12makeIteratorAA11RLMIteratorVy7ElementQzGyF`

returns:
`$s10RealmSwift0A14CollectionImplPAAE12makeIterato

[2022-10-19 21:36] pitoneux commented on #7995
Same issue but one more undefined:
<img width="429" alt="Screen Shot 2022-10-19 at 2 36 15 PM" src="https://user-images.githubusercontent.com/1493686/196809373-6741d966-02be-4efb-87dd-61e9cca84801.png">

[2022-10-19 21:43] pitoneux commented on #7992
yes. I don't this issue using 10.32 anymore (with xcode 14.0.1).

[2022-10-20 04:16] dwirandytlvk opened #7996 "Relationship/Embedded Object Between Multiple Database"
### Problem

Hallo Realm team, i have an idea that i want to decentralized our database, that means some feature in my app will have dedicated database instead of only use one database in an application.

I have read and try that it's possible to have multiple database in 1 application, but how to manage relationship between object from different realm file

For example i have 3 RealmObject:
- Boo

[2022-10-20 08:09] prekieta commented on #7995
Same for me. Rolling back to Xcode 14.0.1 works fine.

[2022-10-20 08:27] da-mian commented on #7995
Same for me
<img width="1337" alt="Screenshot 2022-10-18 at 12 45 07" src="https://user-images.githubusercontent.com/446207/196897186-f1498124-6b9a-4603-a8ff-237004cbb927.png">

[2022-10-20 08:28] da-mian commented on #7995
Same for me
<img width="649" alt="Screenshot 2022-10-20 at 10 27 34" src="https://user-images.githubusercontent.com/446207/196897267-9a9fb87a-d745-4c21-9f5a-4a427489392f.png">

[2022-10-20 12:18] kachalo commented on #7995
Same story here. Everything works fine in Debug configuration, but fails to archive the Release.

[2022-10-20 17:12] #7992 closed

[2022-10-20 17:34] ericjordanmossman commented on #7729
@Bogdan-Belogurov
Please upgrade to the latest (or at least past 10.25.0), which includes https://github.com/realm/realm-core/pull/5456
If you still see the same crash, please open a new issue and link to this one.

Thanks

[2022-10-20 17:34] #7729 closed

[2022-10-20 20:17] sipersso commented on #7145
@DominicFrei I guess this one is no longer relevant since migration is now automatic?

[2022-10-21 01:39] edziegle commented on #7908
I am running into this issue with the SwiftUI Quick Start code https://www.mongodb.com/docs/realm/sdk/swift/swiftui-tutorial/#std-label-ios-swiftui-quick-start

It happens without any modification of the example code on Xcode 14.0.1:
[code]

[2022-10-21 06:57] reggian opened #7997 "Occasional realm::util::terminate crashes on realm confined to a dispatch queue."
### How frequently does the bug occur?

Sometimes

### Description

One would expect that issues in the realm would be caught in the do-try-catch block yet the threads are crashing.

These crashes are never caught in the debugger, and don't happen often in the wild, but when they do it becomes a repeated crash for that user.

The realm is initialized with the `app.some.events` serial dispatch queu

[2022-10-21 10:05] dianaafanador3 commented on #7145
Hi @sipersso, you are right, this is already handled by the migrations, after this PR was merged.
https://github.com/realm/realm-core/pull/5737
In case of a TopLevel -> EmbeddedObject migration, orphaned EmbeddedObjects will be deleted.

[2022-10-21 10:05] #7145 closed

[2022-10-21 12:25] sipersso commented on #7703
Still getting crashes here. It is rare but it happens. And for those that have the issue, it happens repetitively. Here is a new stack trace

[code]

[2022-10-21 21:09] AndresCanella commented on #7995
Same issues running Realm `10.32.0`

A potential temporary workaround, I was able to build using `10.20.0`

[2022-10-22 08:55] hyouuu commented on #7976
@ericjordanmossman it seems you commented on the wrong issue - the link is to this issue so I assume you were trying to comment elsewhere? Either way would be great to get some insights on this issue as I'm preparing to move away from Realm if this doesn't get resolved :(

[2022-10-23 08:34] Drag0ndust commented on #7737
Any news???

[2022-10-23 13:32] jsflax commented on #7737
We will be working on this in the next quarter.

[2022-10-23 18:11] realsurfer commented on #7663
+1

[2022-10-24 05:55] #7994 closed

[2022-10-24 05:55] Kernelzero commented on #7994
I have been install 12.0.0, this issue fixed

[2022-10-24 08:25] NZQN23 opened #7999 "Crash on static String._rlmGetProperty"
### How frequently does the bug occur?

Sometimes

### Description

App crashes while getting string attribute of object.

### Stacktrace & log output

[code]
[code]

[2022-10-24 12:49] woohyuknrg opened #8000 "Crash issue: No object with key 'xxx' in 'class_xxx'"
### How frequently does the bug occur?

Sometimes

### Description

Our app crash 3 times in succession on the same device.
1st crash, call realm.refresh() throws: RLMException · No object with key '1310798' in 'class_PosModule'
2nd and 3rd crash: realm::KeyNotFound · No object with key '0' in 'class_Holiday'

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reprod

[2022-10-24 15:30] ericjordanmossman commented on #7996
You can have multiple realm files with different object types in your application. However you wouldn't be able to have objects in realm file 1 have a relationship with objects in realm file 2, for example. Relationships would have to be within the same file.

[2022-10-24 15:44] rserentill opened #8001 "Crash: Can't add non-Object type 'xyz' to a schema."
### How frequently does the bug occur?

All the time

### Description

We have an SDK which we distribute as an XCFramework through CocoaPods. This SDK has RealmSwift as dependency.
We have several classes inheriting from `Object` which we pass within an array in `Realm.Configuration` when initializing Realm:

[code]

`A`, `B`, `C`, etc are classes which inherit from `Object`. They all have `@Pers

[2022-10-24 16:00] ericjordanmossman commented on #7997
How often are you seeing this for live users? Could you share any other information about the crash? Like a code snippet where this occurs? This may be hard to track down without a reproduction.

[2022-10-24 16:20] tgoyne commented on #8001
This usually means that you've ended up with two copies of Realm linked into the application. With static libraries you can end up with two different `RealmSwiftObject` classes (one in your SDK and one in the application itself), which aren't the same class and result in all sorts of weird errors. The simplest way to ensure this doesn't happen is to build Realm as a dynamic framework.

I think Coc

[2022-10-24 16:51] ericjordanmossman commented on #7976
@hyouuu I at'ed the others because they have been working on an unrelated possible corruption issue. The fact that a primary key id was null is very noteworthy and I wondered if they had insight.

[2022-10-24 18:19] ericjordanmossman commented on #8000
@woohyuknrg Are you able to provide a full stack trace for any of the 3 crashes?

[2022-10-25 01:10] woohyuknrg commented on #8000
1st crash:
RLMException · No object with key '1310798' in 'class_PosModule'
0	CoreFoundation
___exceptionPreprocess
1	libobjc.A.dylib
_objc_exception_throw
2	Realm
RLMRealm.mm:965:9
-[RLMRealm refresh]
3	RealmSwift
Realm.swift:903:25
Realm.refresh()
4	YMPosiOS
DatabaseManager.swift:50:35
DatabaseManager.realm1()
5	YMPosiOS
MiddlewareViewController.swift:141:42
specialized MiddlewareViewController.

[2022-10-25 01:11] woohyuknrg commented on #8000
2 other crashes:

Missing stacktrace:
This event contains no stacktrace
View Details
realm::KeyNotFound · No object with key '0' in 'class_Holiday'
0	unknown file	unknown method

[2022-10-25 03:50] woohyuknrg commented on #8000
@ericjordanmossman  We get realm file from user's device，here's the video link open with Realm Studio: [https://share.getcloudapp.com/5zuPREyr](url)

You can notice that when I scroll to the last records of 'OrderPayment', it shows "No object with key '1441824' in 'class_GuestPayment'", similar to App crash report.

Then I check GuestPayment, the last a few records' identifier property value are s

[2022-10-25 09:08] da-mian commented on #7995
Same issue with **Xcode 14.1 RC 2**

[2022-10-25 10:22] reggian commented on #7997
Hi @ericjordanmossman, thanks for your reply.

In the last 30 days ~200 users experienced crashes. There are different stack traces but all originate from the same _events_ module. Interestingly the tool reports 42k crash events. I am somewhat hesitant to believe this figure. The app does run in the background, but still the number of crashes per user is quite high.

The app uses both the ObjC and

[2022-10-25 11:49] carloe commented on #7908
I've been into this issue when I try to use `@ObservedResults` in Xcode 14.1 RC 2.

One thing that seems to get ride of the warning is to add a view model with a published `Results`, and then injecting the `viewModel` along with the state via the environment. My code looks something like this:

[code]

In the parent view:

[code]

And in the data manager I just do the following on init:

[code]

[2022-10-25 12:20] rserentill commented on #8001
Hello @tgoyne, thanks for your answer!
We tried your suggestion, but it is still crashing. This is not happening if we install the SDK through SPM.
We are still seeing this warnings though:
[code]
Any other suggestion?

[2022-10-25 16:40] rserentill commented on #8001
Hi, it looks like specifying `use_frameworks! :linkage => :static` it works! I guess it's because the duplicated class is not from our SDK, but from an external dependency (Realm). Thank you for your help!

[2022-10-25 16:40] #8001 closed

[2022-10-25 16:49] ericjordanmossman commented on #7995
FYI team is aware of issue and trying to pinpoint issue.

I take this to mean SPM. Is everyone else seeing this with SPM or another dependency manager?

[2022-10-25 17:53] prekieta commented on #7995
I use SPM. I rolled back to Xcode 14.0.1 for store submissions.

[2022-10-26 02:58] dwirandytlvk commented on #7996
HI @ericjordanmossman thanks for your answer,
I decided to refactor my realm object structure, and put `Booking`, `Guest`, `HotelRoom` into dedicated realm file,
May i know how to migrate the data from `default realm` to `dedicated realm` file (that contain Booking, Guest, HotelRoom)? since my app already in production and i want to exclude those files from `default realm` `objectClasses`

Should

[2022-10-26 05:57] amirthytejeshwar-sc commented on #7997
This may possibly happen due to the following `errorHandler` from `RealmSwift/Events.swift`
@reggian can you please confirm whether you have a custom `errorHandler` set in your case

<img width="956" alt="Screenshot 2022-10-26 at 11 21 22 AM" src="https://user-images.githubusercontent.com/92975117/197945393-ce4f1c2e-1787-4bd6-848a-ba1477f4f616.png">

Also @ericjordanmossman what do you think about

[2022-10-26 08:33] iamstephenbrown commented on #7995
Can confirm SPM and the 14.1 RC 2 is causing the issue.

We are seeing similar on debug builds as well.

![Screenshot 2022-10-26 at 09 33 13](https://user-images.githubusercontent.com/57794733/197976302-c2e82d37-17c6-41ee-864a-2b7104f3452c.png)

[2022-10-26 10:02] kachalo commented on #7995
I can reproduce the issue with SPM and Xcode 14.1 RC.

[2022-10-26 11:18] f3n1kc opened #8007 "Crash on app start"
### How frequently does the bug occur?

All the time

### Description

Since updating from Realm 10.8.1 to 10.28.1 (including recent updates), some users started to receive repeated random crashes in realm, where app crashes as soon as it starts. I have managed to reproduce a few of them by force restarting device, while some Realm write operation was happening. This was leading to corrupt realm d

[2022-10-26 14:03] jedelbo commented on #8007
@f3n1kc we would of course be very interested in preventing the db to get corrupted. Several users are seeing corruptions, but noone has been able to reproduce, so it could be a big step forward that you are able to do that. Would you be able to share the a a corrupt realm file? You can send it directly to me at jorgen.edelbo@mongodb.com.

[2022-10-26 14:05] jedelbo commented on #8007
@f3n1kc are you building realm-core from source?

[2022-10-26 14:35] dmorgereth commented on #7978
Hi Eric, is there any update on this issue?

[2022-10-26 14:51] ericjordanmossman commented on #7978
Sorry no progress to report yet.

[2022-10-26 17:03] f3n1kc commented on #8007
@jedelbo done

No, I use CocoaPods to install Realm

[2022-10-26 21:42] cliftonlabrum commented on #7995
Same issue here using:
- Xcode 14.1 RC2
- Realm 10.32.1
- RealmDatabase 12.11.0
- Swift Package Manager
- macOS Ventura 13.0

[2022-10-26 23:54] aehlke commented on #7908
I'm getting this on 14.1 RC2, but I did not get it on RC1.

[2022-10-27 02:40] TianQiLi commented on #7973
@leemaguire  I may not be able to describe it exactly, and I can't reproduce it on my end, but this crash is definitely happening on one of the user's devices

[2022-10-27 02:44] TianQiLi commented on #7973
I may not be able to describe it exactly, and I can't reproduce it on my end, but this crash is definitely happening on one of the user's devices

[2022-10-27 02:45] TianQiLi commented on #7973
I may not be able to describe it exactly, and I can't reproduce it on my end, but this crash is definitely happening on one of the user's devices

[2022-10-27 02:47] TianQiLi commented on #7973
@leemaguire
I may not be able to describe it exactly, and I can't reproduce it on my end, but this crash is definitely happening on one of the user's devices

[2022-10-27 02:50] TianQiLi commented on #7973
// query the saved data
RLMResults * result = [My_StagesInfoModel allobjects];
RLMRealm * realm = [RLMRealm defaultRealm];
if (result.count) {
[realm transactionWithBlock:^{
//delete the query data
[realm deleteObjects:result];/// crash in here
// save the new data
[realm addObjects:array];
}];

[2022-10-27 02:52] TianQiLi commented on #7973
@BlueCobold  yes ,I want to delete all the data saved last time and store the new data

// query the saved data
RLMResults * result = [My_StagesInfoModel allobjects];
RLMRealm * realm = [RLMRealm defaultRealm];
if (result.count) {
[realm transactionWithBlock:^{
//delete the query data
[realm deleteObjects:result];/// crash in here
// save the new data
[realm addObjects:array];
}];

[2022-10-27 04:15] BlueCobold commented on #7973
Is this actually intended to work?

[2022-10-27 04:37] AdieOlami commented on #7812
Any update on this please?

[2022-10-27 08:15] Vanilil opened #8008 "Filters on String"
### Problem

'Invalid operator type', reason: 'Operator '>' not supported for type 'string''
I don't understand why operator like '>' or '<' are not supported for type 'string' since it works in realm studio.

let name = "James"
let query = try! Realm().objects(myQuery_Realm).filter("name < %@", name)

### Solution

_No response_

### How important is this improvement for you?

I'd like to see it,

[2022-10-27 17:30] #7995 closed

[2022-10-28 11:16] owenzhao opened #8009 "Realm Crashed With `realm.delete`"
### How frequently does the bug occur?

All the time

### Description

I got logs with `realm.objects`. Then delete. However, the realm crashed.

[code]

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.32.1

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, no

[2022-10-28 18:02] LeffelMania commented on #7890
👋 any movement on this? It's still one of our biggest crashes in production.

[2022-10-29 13:25] andresitsu commented on #7698
I have a very strange bug.
When I use SwiftUI's `.animation` that is based a realm property's change, the app sometime crash and notifying me "realm accessed from incorrect thread".

Is there anyone also facing this problem

[2022-10-29 15:22] andrefmsilva commented on #7898
Hi, any news about this one?

[2022-10-30 16:30] matthewmorek commented on #7435
I'm encountering the same issue but when using `@ObservedRealmObject` with SwiftUI's [`Picker`](https://developer.apple.com/documentation/swiftui/picker).

Here is my code to help reproduce this issue:

[code]

I've tried using `_id` but that means the Picker doesn't set new values, it only displays the `categories` correctly, and when I use `Category` object to set as `Item.category`, it throws t

[2022-10-31 02:18] vineeth0805 opened #8010 "Pod is not working in m1 chip system"
I have project in intel system.now i want to use that project in m1 chip system but i am getting errors regarding this pod.Please help me

[2022-10-31 07:01] reggian commented on #7997
Hi @amirthytejeshwar-sc,
the app does not set the custom `errorHandler` it also does not use Sync (Realm is used for a local database only).

Is a custom `EventConfiguration.errorHandler` also advised for local-only databases for capturing Realm errors?

[2022-10-31 08:27] omerturhan commented on #7995
Now I can reproduce this with CocoaPods

[2022-10-31 09:34] kafejo opened #8011 "Fatal Exception: RLMException thread constructor failed: Resource temporarily unavailable"
### How frequently does the bug occur?

Seen once

### Description

Crash on writeAsync.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

The crash happened to a customer in production. I cannot reproduce it but I was wondering what does the crash message actually mean and if it's something I should worry about.

### Version

10.32.0

### What

[2022-11-01 00:26] KimiChiu commented on #7350
I don't know why you can't just create that table. At least you should tell us which table in the error messages.

[2022-11-01 02:35] miguelkennedy opened #8012 "Perform aggregate operations on embedded objects"
### Problem

Hello,

I asked about this issue in the forum a few days ago and I got no response.

Can anyone take a look at it and let me know? Thanks!

[Perform aggregate operations on embedded objects](https://www.mongodb.com/community/forums/t/perform-aggregate-operations-on-embedded-objects/196444)

### Solution

_No response_

### How important is this improvement for you?

I'd like to see it

[2022-11-01 11:13] leemaguire commented on #7435
Hi @matthewmorek, Thanks for the reproduction case, the usage of the picker looks correct. I'm investigating what the issue is on our end.

[2022-11-01 12:23] leemaguire commented on #7435
@matthewmorek can you try:
[code]
as a workaround for now? What's happening is that a frozen Realm object (`ItemCategory`) is trying to be set to a non-frozen version of `Item`, and we are not handling that on our end. Doing `.tag(category.thaw())` is a temporary workaround which works for me.

[2022-11-01 13:24] matthewmorek commented on #7435
@leemaguire Hey, thanks for this workaround. It works well and I'm happy to use it until this is sorted out at your end! 👍🏻

[2022-11-01 15:31] chkpnt commented on #6898
Any update for us?

[2022-11-01 16:05] #7648 closed

[2022-11-01 21:11] sipersso commented on #8007
I also see a lot of corrupt realms. Ever since the update introducing async writes I have had problems. I am never able to reproduce, but do get bad reviews and sometimes people reaching out because of it. Do you need more samples of corrupted realms @jedelbo? If so let me know. I have quite a few.

[2022-11-02 01:09] edison0951 opened #8014 "When integrate the realm-swift that build with xcframework, there will be have many errors"
### How frequently does the bug occur?

All the time

### Description

I have build the real-swift with xcframework and I integrate it in the xcode project. But there will have an error that is "Failed to build module  for importation due to the errors above; the textual interface may be broken by project issues or a compiler bug". This is a bug in Swift [SR-14195](https://github.com/apple/swift/i

[2022-11-02 03:50] Thongpak21 commented on #7995
10.32.1 still have issue with Carthage
![Screen Shot 2565-11-02 at 10 50 08](https://user-images.githubusercontent.com/14158501/199391175-2752c511-fb87-4c9e-bade-9a67c31321b3.png)

[2022-11-02 04:08] tgoyne commented on #7995
10.32.1 does not include the fix for this.

[2022-11-02 06:59] eyildirimdev commented on #7995
I am able to reproduce with `CocoaPods 1.11.3` on `xCode 14.1` with IOS deployment target `11.0`

Any update on this?

[2022-11-02 07:08] eyildirimdev commented on #7995
I am also able to build successfully using Realm `10.32.0` as mentioned [here](https://github.com/realm/realm-swift/issues/7995#issuecomment-1287438648)

[2022-11-02 07:35] schroederh commented on #7995
Still having this issue with `Xcode 14.1 (aka. RC2)` and `Realm 10.32.1`

Additional info:
`MacBook Pro (13-inch, M1, 2020`
`MacOS Ventura 13.0`
`SPM`
`Deployment Target 14.0`

[2022-11-02 10:23] markusfi commented on #7995
Same issue here after update (through AppStore on M1 Macbook) to Xcode 14.1 (14B47b) today and Realm 10.32.1
Did not have this problem before upgrade to the 14B47b version.

[2022-11-02 15:04] drmarkpowell commented on #7908
In our app we're seeing a high number of these purple warnings consistently at runtime using Xcode 14.1 (formerly RC2) on Monterey. Now that 14.1 is final, this is making me more nervous about it.

[2022-11-02 16:32] allanweir commented on #7995
As a very temporary workaround until the next release, in SPM I've updated my dependency to be tgoyne's fix as it's the only commit since Realm 10.32.1
` .package(name: "Realm", url: "https://github.com/realm/realm-swift", revision: "cedc1c8b0b2ab8506dd15703c36f8c0660774b18"),`

I've tested it from a dev build and it works. My TestFlight build from fastlane is uploading ok now but un-tested at the

[2022-11-02 21:00] mstralka commented on #7995
This is also a problem with Cocoapods, so it's not just Swift Package Manager:

XCode Version 14.1 (14B47b)
Realm 10.30.0, 10.32.0, and 10.32.1
Cocoapods 1.11.2 and 1.11.3

<img width="420" alt="image" src="https://user-images.githubusercontent.com/439680/199598600-37daa81f-f5da-4b58-860d-73f6151bf1d2.png">

It archives successfully if I use tgoyne's specific commit:
[code]

[2022-11-02 21:07] NZQN23 opened #8015 "Xcode 14.1 not building due to undefined symbols"
### How frequently does the bug occur?
All the time

### Description
I cannot build my project any more with Xcode 14.1 (14B47b).

I have updated all pods and cleaned my build folder. Still doesn't work.

### Stacktrace & log output
[code]

### Can you reproduce the bug?
Yes, always

### Reproduction Steps
Archive for Any iOS Device (arm64)

### Version
10.32.1

### What SDK flavour are you using?

[2022-11-02 22:16] jln19 commented on #7995
I tried your pod update solution @mstralka, unfortunately I get a new error:

`Undefined symbol: _OBJC_CLASS_$_RLMSectionedResults
`

[2022-11-02 22:24] XicoBaiao commented on #8015
Same thing for me, any help ?

[2022-11-03 01:54] tgoyne commented on #8015
Duplicate of #7995.

[2022-11-03 01:54] #8015 closed

[2022-11-03 08:33] tkafka commented on #5904
Ouch - I seem to be suffering from this as well. I chose Realm specifically to share the data between iOS app and WidgetKit extension (as they run in different processes, and few solutions offer a resilient data sharing for this use case), but I'm getting a lot of widget crashes with the `dead lock` (`0xdead10cc `) crash.

[2022-11-03 11:55] tkafka commented on #5904
Being desperate, I have now tried:
1. Doing all Realm reads at app start, and saving the result into the variables, all of that inside of `autoreleasepool` (so that the read-only Realm only exists at the app start)
2. Wrapped all Realm writes inside of
[code]

[2022-11-03 14:01] jedelbo commented on #8007
@sipersso I think we are close to having found the root cause for these issues.Hopefully we will have a fix ready soon.

[2022-11-03 16:21] otso commented on #7996
I understand you are moving data between two local only realms. All of our migration examples are towards migrations inside one realm.

The approach you are proposing for moving data between two local realms sounds plausible with deletions only after a successful data migration between the two local realms.

Many apps successfully employ multiple realm files. But keep in mind object relationships

[2022-11-03 16:21] #7996 closed

[2022-11-03 16:39] leemaguire commented on #8010
@vineeth0805 we fully support M1 chips with Cocoapods. The issue you submitted also has no information.

[2022-11-03 16:39] #8010 closed

[2022-11-03 17:02] leemaguire commented on #8011
Hi @kafejo can you show some code with how you are using Realm? Can you also submit the full stack trace?

[2022-11-04 04:50] tgoyne commented on #8014
While https://github.com/realm/realm-swift/pull/8016 fixes this build failure, I don't recommend trying to build Realm Swift in library evolution mode. It is something which is very focused on Apple's specific requirements and tends to be buggy for third-party usage. We have not extensively tested it to verify that everything actually works.

[2022-11-04 06:15] sipersso commented on #8007
@jedelbo great news! FIY the users I have asked if they did anything particular before the realm got corrupted frequently mentioned device restarts

[2022-11-04 07:31] kafejo commented on #8011
Sure!
Here's the upsert function mentioned in the stack trace
[code]

where the Realm manager method is just
[code]

Here's a full stack trace:

[code]

[2022-11-04 10:24] tkafka commented on #5904
I have logged all opened file locks after finishing `realm.write {}`, with the following code, and it seems that all Realm files (both database and locks) are still open after the write finishes. This is unexpected - can I get Realm to close the files or release the locks?

[code]

Log:
[code]

[2022-11-04 10:48] tkafka commented on #5904
Here is a more info from Apple arguing why the design, which leaves locked files in the shared app group, is bad: https://developer.apple.com/forums/thread/655225?answerId=632433022#632433022 (linked from https://github.com/realm/realm-swift/issues/7466#issuecomment-1149948784)

The library's vendor is Realm.

[2022-11-04 11:02] tkafka opened #8017 "Keeping file locks for database in shared app group violates Apple's recommendation and causes the system kill the app with 0xdead10cc"
### How frequently does the bug occur?

All the time

### Description

Here is the investigation: https://github.com/realm/realm-swift/issues/5904#issuecomment-1303250924 plus the previous posts in thread.

TLDR: Current design, where file locks are kept even outside write transactions, violates iOS rules when used for a database inside a shared app group (which is the only way to share data betwe

[2022-11-04 11:05] tkafka commented on #8017
I have noticed there are many issues trying to solve the crash when Realm is used in app group container, many of them closed.

If Realm doesn't plan to address this, I think that swift-realm should have a huge warning that it is unsuitable to use in app group containers (= any instances where data sharing between app and extension, or multiple apps of a same vendor is needed), as since iOS 14 eve

[2022-11-04 11:15] tkafka commented on #5904
Here is my try. It's ugly, and requires user to add `IS_WIDGET_EXTENSION` flag in the extension target, but it should work. However, it is not helping, because Realm keeps file locks even after the write terminates.

[code]

[2022-11-04 11:36] leemaguire commented on #8011
cc @tgoyne do you know what could cause this exception?

[2022-11-04 12:14] tkafka commented on #5904
@leemaguire Thank you, this seems the only way out. Right now, I have the app architected with a Combine, so that the value changes are written to Realm in sinks - so when the app writes multiple properties, Realm would be created and closed multiple times.

[code]

I will have to rearchitect this to at least add a cache layer, that would keep the Realm open for a few seconds, and if the time runs

[2022-11-04 17:29] tgoyne commented on #8011
`writeAsync()` uses a background thread to wait for the write lock, which is created the first time it's needed. This error indicates that creating the thread failed due to resource exhaustion, either by hitting the maximum number of threads or due to running out of memory. If the crash report is accurate and there's only 15 threads then it's not due to hitting the maximum thread count, so that su

[2022-11-04 17:42] leemaguire commented on #7965
@rserentill can you show how you are using Realm where the above crashes occur?

[2022-11-04 17:49] leemaguire commented on #8000
@finnschiermer @jedelbo can you have any input on the potential cause of this issue?

[2022-11-04 17:51] tgoyne commented on #8017
On iOS (and watchOS) we do not hold a file lock the entire time the Realm file is open. We acquire one when opening the file, but release it before the initializer returns. Write transactions also hold a lock for the duration of the write, but release it once the write is complete.

Opening a Realm, reading and/or writing to it, and then closing it within the span of a single `ProcessInfo.performE

[2022-11-04 17:53] leemaguire commented on #7973
@TianQiLi can you give us more stacktraces for this issue? Can you also update to the latest version of Realm and see if that helps the problem.

[2022-11-04 19:38] cloverdaniel commented on #6301
Ran into this in Xcode 14.1 with Realm 10.32.2.  Tried the module file/linker command tweak, removing/re-adding the dependency, and double checking that the Frameworks/Libraries sections of the target is set to link.  No dice— guess I'll try CoreData.

[2022-11-04 19:41] converted2mac commented on #6301
Ran into this in Xcode 14.1 with Realm 10.32.2. Tried the module file/linker command tweak, removing/re-adding the dependency, and double checking that the Frameworks/Libraries sections of the target is set to link. No dice— guess I'll try CoreData.

[2022-11-05 00:04] woohyuknrg commented on #8000
Maybe something related to device low memory?

[2022-11-06 10:33] edison0951 commented on #8014
I change the Realm to RealSwift locally, and it works. I hope to solve it officially.

[2022-11-06 15:49] mixdesign commented on #7995
@jln19 Just FYI, I tried the commit above, it works for me with Xcode 14.1. You may have issues related to usage in your code.

[2022-11-06 18:17] Mokshsuthar commented on #8015
<img width="727" alt="Screenshot 2022-11-06 at 11 46 46 PM" src="https://user-images.githubusercontent.com/70541825/200187954-118a9799-85a7-469e-a480-7e561418dbae.png">
i'm also facing same issue anyone found solution
please help fast

[2022-11-07 00:13] rromanchuk commented on #7836
I don't use sync but getting the same crash on EnvironmentValues

Notice `deleteRealmIfMigrationNeeded: true` and `Realm.Configuration.defaultConfiguration = config` which I figured would be enough, unless swiftUI is not actually using this default.  `configure()` is ran early in `didFinishLaunchingWithOptions` Maybe there is a UIKit/SwiftUI race condition or misread the docs.

[code]

[2022-11-07 00:19] rromanchuk commented on #7836
Figured it out, in a `@main` modifier I was accessing `@Environment(\.realm) private var realm` which probably created the race condition calling the getter before it could be set.

[2022-11-07 03:24] k-teshima0901 opened #8019 "failed archive Xcode14 with Enable bitcode"
### How frequently does the bug occur?

All the time

### Description

When I tried to archive with "Enable bitcode" set to "Yes" to generate dSYM, an error occurred and archiving failed!

Looking at the error, I assume it is because Realm.o" does not support bitcode.
Is it possible to create an archive with "Enable bitcode" set to "Yes"?

### Stacktrace & log output

[code]

### Can you reproduce

[2022-11-07 03:44] tgoyne commented on #8019
Apple has deprecated bitcode and you should disable it when using Xcode 14.

[2022-11-07 04:58] k-teshima0901 commented on #8019
@tgoyne
Thank you for your answer.

So, does this mean that it is impossible to build with "Enable Bitcode" set to "Yes" with Realm installed?

[2022-11-07 07:15] k-teshima0901 commented on #8019
I need to generate dSYM with UUID to fix missing dSYM in Firebase Crashlytics
The intention is to enable bitcode for this purpose

[2022-11-07 09:04] Drag0ndust commented on #7737
So you will work on it now! Last quarter of 2022 or next year?

[2022-11-07 11:59] kravtsovguy commented on #8015
@Mokshsuthar just check that you are using the latest version of the realm, currently it is **v10.32.2**

[2022-11-07 13:00] sync-by-unito[bot] opened #8020 "Add "Sync is not enabled for this App" as a catchable error in error handler"

[2022-11-07 19:13] matthewmorek opened #8021 "createAPIKey(named: String) returns named func param value instead of actual API key"
### How frequently does the bug occur?

All the time

### Description

When a user signs in, I'm trying to create and securely store a `UserAPIKey` in Keychain, so I could sign in on their behalf from within an iOS App Extension. However, when running `user.createAPIKey(named:)` method for creating an API key via SDK, I do get an unexpected return value.

The result should be a proper API key stri

[2022-11-07 19:40] tgoyne commented on #8019
Xcode 14 does not support bitcode regardless of if you are using Realm or not.

[2022-11-07 20:47] #8014 closed

[2022-11-08 07:03] k-teshima0901 commented on #8019
@tgoyne

I understood that it is not possible to build with Bitcode enabled.

Thank you.

[2022-11-08 07:55] kafejo commented on #8011
Great, thanks for the explanation! That's indeed not that concerning.

[2022-11-08 09:48] eyildirimdev commented on #7995
We decided to roll back to `xCode 14.0` from `14.1` to be able to use `Realm 10.32.1`

[2022-11-08 11:27] leemaguire commented on #8021
Hi @matthewmorek I'm taking a look into this now.

[2022-11-08 17:12] tgoyne commented on #7978
It turns out we only clean up some of the state involved in queries after either an observer with a callback is added or a write is performed on the Realm, so performing a large number of queries without doing either of those in between results in memory usage growing. In addition, this causes a cache to grow in size so even after performing a write and cleaning up the old notifier objects memory

[2022-11-08 17:18] dmorgereth commented on #7978
Thank you Thomas!   We appreciate your help with this.

[2022-11-09 00:50] #8019 closed

[2022-11-09 08:35] sync-by-unito[bot] opened #8023 "Improve Template apps"
We want to add two new features to the template apps for each SDK as this will make the apps easier to demo the value of flexible sync.

1. Add a selector in the template where you can switch the subscription between the default which is give me Items where ownerId = userId 

[https://github.com/mongodb-university/realm-template-apps/blob/main/swiftui/App/Item.swift#L8](https://github.com/mongodb-

[2022-11-09 08:47] jedelbo commented on #8000
@woohyuknrg Would it be possible for you to share the erroneous file with us? You can send it to realm-help@mongodb.com.

[2022-11-09 08:56] jedelbo commented on #8007
@sipersso We hope to make a release with a fix later today. You can follow the progress here: #5993. The fact that your users mention device restarts only supports our hypothesis on what is wrong.

[2022-11-09 11:15] #8021 closed

[2022-11-09 12:38] rserentill commented on #7965
@leemaguire sorry for the delay!
Sure, here are a couple of code snippets to show how we are using it:

Stacktrace:

[code]

Code:

[code]

Stacktrace:

[code]

[code]

`database` is a custom object of type `RealmDatabase`:

[code]

`safeWrite` function:

[code]

[2022-11-09 22:28] romeouald commented on #6898
Come on. Why is this still an open issue?

[2022-11-10 00:27] cloverdaniel commented on #7995
Seeing this in Debug, trying to run to an attached test iPhone X.
- Xcode 14.1
- Realm 10.32.2 (manual release download > unzip > copy 14.1 xcframework into project)

[2022-11-10 07:22] shreesols commented on #8015
I am getting this
![image](https://user-images.githubusercontent.com/34943366/201025993-3eda7649-9bd8-4307-aeb3-2d10b7d20e0d.png)

[2022-11-10 11:56] leemaguire commented on #7997
@reggian could `self.eventLogger` in `QueuedEventLogger` be accessed from any other queue, or the main thread while `logEvent` is called?

[2022-11-10 11:57] leemaguire commented on #7997
Could we also see how `RealmEventStorageService` is setup?

[2022-11-10 12:02] #8011 closed

[2022-11-10 15:46] leemaguire commented on #7967
@ljoraanstad did you manage to resolve your issue?

[2022-11-10 15:47] leemaguire commented on #7955
@mmar001 did the above suggestion yield any success?

[2022-11-10 16:59] leemaguire commented on #7935
@ceumgmt any updates before we close out this issue?

[2022-11-10 19:03] eyildirimdev opened #8025 "Assertion failed: m_flx_latest_version <= version"
### How frequently does the bug occur?

Sometimes

### Description

The crash occurs from time to time and triggers at :

`Realm.asyncOpen(configuration: getFlexibleConfig()) { (result) in
}`

configuration :

[code]

Right after the auth using
`login(credentials: Credentials.emailPassword(email: username, password: password))`

### Stacktrace & log output

[code]

### Can you reproduce the bug?

[2022-11-11 01:00] ianpward commented on #2569
Product for Realm & Device Sync here. I am interested in building this feature - I'd love to pick your bring on your use case if you're keen. If you could drop me a line at [ian.ward@mongodb.com](mailto:ian.ward@mongodb.com) we can set up a time to chat.

[2022-11-11 02:11] huanglins opened #8026 "malloc_ptr classes(objc_copyClassList(&numClasses), &free); crash"
### How frequently does the bug occur?

All the time

### Description

Crashing on iOS 14.1, iOS 14.8 devices

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

try? Realm(configuration: config)

let rlmRealm = try RLMRealm(configuration: configuration.rlmConfiguration, queue: queue)

RLMSchema *schema = configuration.customSchema ?: R

[2022-11-11 02:47] huanglins commented on #8026
When i added monitorextension i got this error

[2022-11-11 05:11] huanglins commented on #8026
After specifying objectTypes in Realm.Configuration, the startup will not crash, but you can still hope to fix the problem

[2022-11-11 09:21] eyildirimdev commented on #7995
Realm 10.32.3 fixed the issue for me. I can build xCode Version 14.1 (14B47b) without issues

[2022-11-11 09:38] mr-grey commented on #7704
found the same crash in Our project:
Fatal Exception: RLMException
No object with key '454' in 'class_RealmUser'

where...
class RealmUser: Object {
 @Persisted(primaryKey: true) var uuid = ""
..
}

it crashed on static Function
    static func getByPrimaryKey(uuid: String, realm: Realm? = try? Realm()) -> RealmUser? {
        guard let realm = realm else { return nil }
        return realm.object

[2022-11-11 09:59] eyildirimdev commented on #8025
Crash still occurs on `10.32.3`

[2022-11-11 10:45] kachalo commented on #7995
I can confirm that 10.32.3 fixes issue for me.

[2022-11-11 12:16] astigsen opened #8027 "Allow assignment of array literals to Lists."
### Problem

I would like to be able to assign array literals to Realm lists, both directly and via init.

Assume a model like this.

[code]

I can populate it using the default initialiser:

[code]

and if I try to create a convenience init:

[code]

I get the following error:

[code]

### Solution

Allow assignment using array literals, similar to how it works in the default initialiser.

[code]

[2022-11-11 16:41] gildamaurice opened #8029 "AutoOpen does not work with RealmDataSyncTest sample code"
### How frequently does the bug occur?

All the time

### Description

I am using the RealmDataSyncTest tutorial app provided by MongoDB.
I want the app to open the realm stored on disk when the device is offline
I am using @AutoOpen rather than @AsyncOpen

**Behaviour:**
When the device is online the realm opens.
When the device is offline, the app continually tries to connect to the server and n

[2022-11-11 18:59] CoderHJZhao opened #8030 "10.32.3 Unable to open a realm at path"
### How frequently does the bug occur?

All the time

### Description

After updating the version, the xcode 14.1 bug was solved, but a new problem came out.
ps. The real machine reports an error, but the emulator is normal.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.32.3

### What SDK flavour are you us

[2022-11-12 23:57] mrezk opened #8031 "Can't access a legacy (v3.10.0) ROS synced realm with the latest RealmSwift version"
### How frequently does the bug occur?

All the time

### Description

Hi!

I've been using Realm in my apps at least since 2017. I started using ROS along with a CloudKit token to sync all the user's data.
I had to stick with RealmSwift v3.10.0 for a long time since that was the last version to support the self hosted version of ROS.
Now I am trying to update to the latest RealmSwift version (wit

[2022-11-13 03:21] luckysmg commented on #7704
Found this crash too..

[code]

[2022-11-13 14:05] dnlfrst commented on #7908
I also observe the runtime warning during the development of [gitlapp](https://gitl.app). More importantly, Sentry tracked crashes of the app in production for a marginal fraction of users where the stack trace points to this exact line of code causing a fatal error:

[code]

This crash occurred a dozen times, the stack trace is always the same but originates from different views, all of which use

[2022-11-13 14:32] C4sse opened #8032 "Realm Lists"
### Problem

Good day, i cant write the same object with primary key to two different lists
I get the error that says primary key already exist

### Solution

_No response_

### How important is this improvement for you?

_No response_

[2022-11-14 03:16] tcollins590 opened #8033 "addProgressNotification only calls at 100%"
### How frequently does the bug occur?

All the time

### Description

When using flexible sync, the addProgressNotification callback is only called when the object sync is complete.

### Stacktrace & log output

_No response_

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Open a flexible synced realm and add a progress notification to the syncsession of that realm.

### Ver

[2022-11-14 13:49] ianpward commented on #8033
@captn590 At this time, the subscription API does not work correctly for Flexible Sync, we are looking to fix it this quarter.

[2022-11-14 14:52] reggian commented on #7997
Hi @leemaguire, thanks for looking into this.

It was not designed that way, no. The wrapped `eventLogger` is only ever accessed through the _Queued_ wrapper.
[code]

Sure, here is the setup for `RealmEventStorageService` and the `QueuedEventLogger` (the `eventsRealm(queue:)` factory method can be seen in previous comments):
[code]
The `setUp(...)` would be called upon app launch or logging in, th

[2022-11-14 15:30] #8033 closed, assigned to nobody

[2022-11-14 15:53] MatHeartGaming commented on #8015
I've just stubled upon the same issue and, in case you're using pod, running "pod deintegrate", "pod install", and "pod update" (or "arch -x86_64 pod update" if you're using ARM based Macs) did the trick for me!

[2022-11-14 18:08] ws233 commented on #7683
Any updates on this?

[2022-11-14 22:23] lemonlab commented on #8030
Same here.

It works on a simulator, but not on a real device.
Everything works well with `10.32.0`.
The bug appears on `10.32.1` and above.

[2022-11-14 23:29] Sonisan commented on #8029
Noticed the [same issue](https://github.com/realm/realm-swift/issues/7986). Thought it would have been critical for an offline-first DB, but I haven't received any feedback yet...

[2022-11-15 09:43] agaia commented on #7908
I have the exact same issue with `@ObservedResults`, also looking for a workaround

[2022-11-15 12:01] dianaafanador3 commented on #8032
@C4sse You should be able to do this, unless you are trying to create the object more than once with the same primary key. For example if you are doing this
[code]
try to do this instead
[code]

If this is not your issue, please attach more information into this (Sample code, stack-trace, realm-version), so we can take a look.

[2022-11-15 12:22] dianaafanador3 commented on #8031
Hi @mrezk You may want to try our `writeCopy` API for this. It allows you to copy a Realm with a different configuration
`try realm.writeCopy(configuration: Realm.Configuration(fileURL: backupURL, readOnly: true, schemaVersion: 0))`
where `backupURL` is the path to your synced Realm.
This is the API
https://github.com/realm/realm-swift/blob/66cf2fc246f87c06940e6c3a6dc5908c316fa5d6/RealmSwift/Realm

[2022-11-15 12:33] dianaafanador3 commented on #8030
Hi @CoderHJZhao and @lemonlab are you able to reproduce this?, Can you attach a project where we can take a look and test this against a real device.

[2022-11-15 12:36] dianaafanador3 commented on #8029
Closing this as duplicated from this https://github.com/realm/realm-swift/issues/7986. I'll take a look at this and will post any updates on the other issue

[2022-11-15 12:36] #8029 closed

[2022-11-15 16:00] chrisrohrer commented on #7435
@leemaguire a big thanks from me too, ran into exactly the same issue

[2022-11-15 16:33] bero1975 commented on #8015
Undefined symbol: _$s10RealmSwift0A14CollectionImplPAAE12makeIteratorAA11RLMIteratorVy7ElementQzGyF
Undefined symbol: _$s10RealmSwift4ListCyxGAA0A14CollectionImplAAMc

Getting this when trying to Archive to send app to app store for test flight

[2022-11-15 16:45] mrezk commented on #8031
Hi Diana, thanks so much for your reply!

I checked writeCopy but I think it works the other way around, copying the invoked realm to the specified configuration, is that right?

Tried to use writeCopy but I can't write a copy if I can't open the synced realm =(

[2022-11-15 16:49] bmunkholm commented on #7874
@haozhutw There is nothing that points to a bug in Realm as far as we can tell. This appears to be a problem in your application that happens to occur when you open a Realm.
If you can provide a short repro-case that shows a problem in Realm we will be happy to look at it again. Until then I'll close this for now.
Thanks!

[2022-11-15 17:37] lemonlab commented on #8030
Yes, i can reproduce the bug every time i try to open an **encrypted** local Realm database on a real device (iOS 16.1.1).

I have attached a test project, with a demo encrypted database.
The key used to encrypt the database is `0000000000000000000000000000000000000000000000000000000000000000`
[RealmTest.zip](https://github.com/realm/realm-swift/files/10014933/RealmTest.zip)

Log on the simulator

[2022-11-15 20:33] NZQN23 commented on #8015
- update pods
- clean build folder
- build

[2022-11-16 02:45] #7593 closed

[2022-11-16 05:41] eyildirimdev commented on #8025
I was able to confirm that this crash occurs when using flexible `Realm.Configuration` with query field that was not added as a queryable field on Atlas.

From `.trace` logs
`Received QUERY_ERROR "Client provided query with bad syntax: unsupported query for table "uploads": key "logDescription" is not a queryable field" (error_code=300, query_version=11)`

The crash keeps happening from time to ti

[2022-11-16 08:49] bero1975 commented on #8015
That was exactly it. Managed to Update the Packages, Clean the build Folder and then follow through with what I was trying to do. Thanks ever so much for the prompt reply.

[2022-11-16 09:51] JFERSD commented on #7908
I have the same issue with @ObservedResults too

[2022-11-16 10:40] #7799 closed

[2022-11-16 11:13] CoderHJZhao commented on #8030
Steps to reproduce:
1. Copy a realm DB to the iOS sandbox, encrypt it, and use realmDb.writeCopy to reproduce

I hope to solve it as soon as possible, at present, as long as the DB is encrypted, you will encounter such an error, the emulator is normal, and the real machine has been reporting an error.

[2022-11-16 11:14] CoderHJZhao commented on #8030
@dianaafanador3 Steps to reproduce:
1. Copy a realm DB to the iOS sandbox, encrypt it, and use realmDb.writeCopy to reproduce

I hope to solve it as soon as possible, at present, as long as the DB is encrypted, you will encounter such an error, the emulator is normal, and the real machine has been reporting an error.

[2022-11-16 12:36] dianaafanador3 commented on #7763
Hi @captn590 @rowungiles Thanks for reaching. We are taking a look at this, so we can come up with the best solution and API for this.

[2022-11-16 18:37] sipersso commented on #8007
@jedelbo I noticed that the PR is merged. Does that mean it is fixed?

[2022-11-16 18:43] ThaC0derDre commented on #7908
Same issue.. Still not a peep regarding this from the team?

[2022-11-16 18:59] mrezk commented on #8031
Hi @dianaafanador3, thanks again for your response!

I thought of doing a two step update but I worry that some users can be left "hanging" (losing their data) if they happen to skip the "bridge" version. Will try it at let you know cause some older RealmSwift versions are not compatible with some newer XCode versions.

Thanks again for your help, will update this issue as soon as I try it!

[2022-11-16 19:21] mrezk commented on #8031
Hi Diana, I can confirm I could upload a build to the AppStore using XCode 14 and RealmSwift v5.5.1.
I guess I will have to stay for some time (a year or so) before burning the bridge.

Thanks again for replying, it's a very specific issue and I wasn't expecting a quick reply =)

[2022-11-16 20:37] ericjordanmossman commented on #7908
One solution [might be waiting](https://github.com/realm/realm-swift/commit/98a93a215811874acf379f03f08ed1f9d1a13cfc) for the observable storage to finish set up before calling `objectWillChange.send()`. Appears to resolve the warning for the apps I've been working on locally. Feel free to the try branch in testing. Still need to understand all the implications and if it covers all cases.

[2022-11-16 21:39] dianaafanador3 commented on #8031
@mrezk If I may suggest having a force update will help a lot to force user into updating to a version which uses v5.5.1. Closing this as resolved, if you have any issues updating to v10 please open another issue.

[2022-11-16 21:39] #8031 closed

[2022-11-16 22:12] dianaafanador3 commented on #8026
Hi @huanglins from what I can understand your issue disappeared when specifying the `objectTypes` you want in your schema, which means that this issues is happening when doing a complete discovery to build the schema. When you open the realm we do a schema discovery for all the classes and then filter the ones that inherit from Object or RLMObject so we can build the schema for the realm.
You ment

[2022-11-17 01:39] #8026 closed

[2022-11-17 06:45] RomanEsin commented on #6898
Made a repo which helps to solve this problem :)
https://github.com/RomanEsin/RealmBinary

[2022-11-17 07:13] Kernelzero commented on #8015
If you use RxRealm, firstly, remove RxRealm pod and update realmSwift. after then, install RxRealm.

[2022-11-17 08:34] jedelbo commented on #8007
We assume this is fixed by #5993

[2022-11-17 08:34] #8007 closed

[2022-11-17 09:26] jedelbo commented on #7976
Probably fixed by https://github.com/realm/realm-core/pull/5993

[2022-11-17 09:34] kafejo commented on #8011
I actually encountered it again at different place. Again only 15 threads but also free RAM.

<img width="598" alt="image" src="https://user-images.githubusercontent.com/4762172/202409510-ebc92bf8-e347-4566-958e-0579d37057f0.png">

[code]

Seems like the issue is somewhere else?

[2022-11-17 09:39] hyouuu commented on #7976
Great to hear - are we making a realm-swift release soon with the fix? I should be able to verify right away as the crash is happening on my macOS app right now @jedelbo @ericjordanmossman

[2022-11-17 10:47] sipersso commented on #8007
@jedelbo Do you know which version of Realm Swift this is included in?

[2022-11-17 16:47] sipersso commented on #8030
Same issue here. If App Store review hadn't caught this error I would have tanked my app ratings. I hope this will be fixed as soon as possible as my app won't function if this is still there.

[2022-11-17 17:24] hyouuu commented on #7976
Oops @jedelbo is there any way to recover or delete the corrupted entities to make a corrupted state work again? If not possible, is there any way to handle the corruption so I can maybe clear out the entire realm on disk and re-generate from my other sources? Currently there doesn't seem to be a way to fix the state at all.

I was generating new entities from calendar events on macOS, and I'm not

[2022-11-17 17:32] markus-mohemian commented on #7266
Had the same issue. Solved it by linking the binary targets under `<test-target> -> Build Phases -> Link Binary with Libraries`. There I added Realm and RealmSwift and then it built.

[2022-11-17 18:10] dianaafanador3 commented on #8030
@sipersso from which version are coming and what is your actual version of RealmSwift?, Do you have an encrypted realm as well?

[2022-11-17 18:23] sipersso commented on #8030
Yes, I have an encrypted realm I ship with the app for providing default data. By the reproduction steps in the sample projects here it sounds like it is the same issue. I was using 10.32.0 before this, but I did not use this version when creating the realm file for that I use for default data. The error message I get is just that it failed to decrypt. Reverting back to 10.32.0 fixes the issue.

[2022-11-17 20:33] santiagoSoft commented on #7908
Same issue waiting for the fix.

[2022-11-18 08:30] sync-by-unito[bot] opened #8035 "Allow Breaking Changes in Dev Mode"

[2022-11-18 08:51] jedelbo commented on #8030
@dianaafanador3 I have no problem opening the file provided above using Core only. Could the problem be in the SDK?

[2022-11-18 12:49] dianaafanador3 commented on #8030
@lemonlab I'm not able to open the bundle realm from the simulator or a device, and I tested with our latest release and with 10.32.0. I'm able to access it only using Realm Studio. What did you use to create this realm file?

[2022-11-18 13:10] Krishnarjun-Banoth opened #8036 "App crashing as soon as it start"
### How frequently does the bug occur?

All the time

### Description

In some devices always the app got crash on launch. Attaching log file for the same.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

App launch in iPhone 13 Pro Max device.

MYn app

### Version

7.3

### What SDK flavour are you using?

MongoDB Realm (i.e. Sync, auth,

[2022-11-18 15:25] dianaafanador3 commented on #8030
@sipersso do you remember which version you used to create this file?

[2022-11-18 17:17] dianaafanador3 commented on #8030
@lemonlab encrypted realm files aren't fully portable and only work on machines with the same page size as the one which created them, that's probably why are you getting the error.
@sipersso and @CoderHJZhao probably in your cases the realm file was created with a different machine (with a different page size, notably arm64 (including m1) has a 16k page size while nearly everything else has 4k) t

[2022-11-18 18:10] lemonlab commented on #8030
I've used a mac with intel processor, my page size is 4k. I think an iPhone has a page size of 4k as well.
Downgrading to 10.32.0 fix the issue for me as well on a real phone, with an encrypted database.

[2022-11-18 19:43] ericjordanmossman opened #8037 "Check string before feeding changestream buffer"
### How frequently does the bug occur?

Sometimes

### Description

In did [receive event](https://github.com/realm/realm-swift/blob/master/Realm/RLMMongoCollection.mm#L68)
[code]
str.empty() is checked. str should be checked to see if initWithData:event returns with a valid string. Otherwise it's possible to crash if str.empty is called on an invalid str.

### Stacktrace & log output

_No respons

[2022-11-18 20:01] ericjordanmossman commented on #8037
https://github.com/realm/realm-swift/tree/em/change-stream-data-check

[2022-11-19 07:01] sipersso commented on #8030
I sent the realm via help@realm.io.

Wow, I had no idea that encrypted Realm are not portable. Just checked the documentation and could not find this info anywhere. This could potentially be a big issue for me. Hope you'll find the issue!

[2022-11-20 04:36] CoderHJZhao commented on #8030
@dianaafanador3  Downgrading to 10.32.0 fix the issue for me as well on a real phone, with an encrypted database too.If I don't use encryption, realmDB can be opened normally, as long as encryption is used, the real machine cannot be opened normally, the emulator is normal, the current problem causes me to be unable to update my appstore application, I hope it can be solved as soon as possible, th

[2022-11-21 07:42] nalexn commented on #7874
@bmunkholm one use case was provided by @benlacey , in our case, this crash happens when the app receives a push notification after the device was rebooted but not yet unlocked.

[2022-11-21 08:26] woohyuknrg commented on #8000
@jedelbo I have sent the file to your email

[2022-11-21 09:53] jedelbo commented on #7976
In theory it would be possible to export that parts of the database that can still be reached, but we have not yet implemented such an option. The best way to start from fresh is to delete the broken file and create a new.

[2022-11-21 10:02] jedelbo commented on #8000
The file is clearly corrupted. This could be fixed by https://github.com/realm/realm-core/pull/5993. Be aware that the fix will not fix already corrupted files, but hopefully prevent creating corrupted files in the future.

[2022-11-21 10:17] piglier commented on #8007
@sipersso May i ask you how to reproduce error easily?  s a test app or your won

[2022-11-21 11:46] sipersso commented on #8007
@piglier I can't reproduce it, but the app has a lot of users, so if something can go wrong sometimes, it will. Even if it is rare.

Awesome that you found the root cause of this since it is pretty painful to fix for my customers.

[2022-11-22 01:38] piglier commented on #8007
Thanks, may i  ask which version of Realm-Swift fixed this issue?

[2022-11-22 01:48] woohyuknrg commented on #8000
When will the fixed version be released?

[2022-11-22 02:43] shadow-boy commented on #7995
I can confirm that 10.32.3 fixes issue for me.

[2022-11-22 09:21] bmunkholm commented on #3384
We now support "Sectioned Results" and assume this will cover most use cases requested here.
See [PR](https://github.com/realm/realm-swift/pull/7888).

[2022-11-22 09:21] #3384 closed

[2022-11-22 13:00] dianaafanador3 commented on #8030
I was able to repro the issues and identify which check is causing the error. We'll take a look at this and inform you as soon as we know more.

[2022-11-22 16:27] bmunkholm commented on #7466
Looks like this has been resolved. If anyone see this issue again, please create another issue referencing this one. Thanks!

[2022-11-22 16:27] #7466 closed

[2022-11-23 12:10] ayush-ttn opened #8040 "The app is crashing when accessing date object"
### How frequently does the bug occur?

Sometimes

### Description

In our app we have a model class `Show` which is similar to the following:
[code]
In the stacktrace, you can see that line number 43 is pointed out in Show.swift which is where `expired()` is written above. Any help to figure out the possible solution to this issue would be really appreciated.
The frustrating part is, we are not a

[2022-11-23 12:21] ayush-ttn opened #8041 "Getting warning for private method access when uploading build to AppStore"
### How frequently does the bug occur?

All the time

### Description

I am getting this warning every time I upload the build on AppStore:
`The app references non-public selectors in Payload/<app-name>.app/Frameworks/Realm.framework/Realm: authenticationDidCompleteWithError`
I am using RealmSwift v10.25.2 via Cocoapods. Any resolution to this issue will be appreciated.

### Stacktrace & log outpu

[2022-11-23 12:24] shimastripe commented on #8041
@ayush-ttn  https://github.com/realm/realm-swift/releases/tag/v10.30.0 https://github.com/realm/realm-swift/issues/7945 This bug is resolved.

[2022-11-23 16:32] ayush-ttn commented on #8041
Thanks for responding @shimastripe

[2022-11-23 17:59] #8041 closed

[2022-11-23 18:00] dianaafanador3 commented on #8041
Closing as this is a duplicate from a previous issue and was fixed in version [v10.30.0](https://github.com/realm/realm-swift/releases/tag/v10.30.0)

[2022-11-24 05:15] keerthika-priya commented on #8007
Has anyone found which version of realm swift has fixed this issue?

[2022-11-24 05:39] duncangroenewald opened #8042 "Thread running at QOS_CLASS_USER_INTERACTIVE waiting on a lower QoS thread running at QOS_CLASS_DEFAULT. Investigate ways to avoid priority inversions"
### How frequently does the bug occur?

All the time

### Description

macOS 13.0.1
Xcode 14.1
RealmSwift 10.32.2
Synced Realm (MongoDB Realm App)

Can anyone explain why I would be getting this warning - I have not seen this on prior versions of macOS/Xcode/RealmSwift.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Occurs every time the

[2022-11-24 12:48] dianaafanador3 commented on #8040
Hi @ayush-ttn can you please update to our latest version of RealmSwift `https://github.com/realm/realm-swift/releases/tag/v10.32.3`, since `10.25.2` we had a lot of fixes on timestamp which could be causing this issue. After the update please report if you still seeing this crashes.

[2022-11-24 12:48] NZQN23 commented on #8036
Did you try RealmSwift 10.32.3? I had many of those crashes until the new release.

[2022-11-24 12:49] hesamr76 commented on #8042
![Screen Shot 2022-11-24 at 12 43 44 PM](https://user-images.githubusercontent.com/31796812/203787744-cfebc6d3-2a0c-45b8-a49e-57da796ea4f6.png)

same

Xcode: 14.0.1
react-native: 0.67.1

Even though the development build is ok, the archive has the
**Thread running** issue.

[2022-11-24 13:56] locooo opened #8043 "Not working with HandyJSON"
### Problem

import Foundation
import RealmSwift
import HandyJSON

class HomeHandyJson: Object, HandyJSON {
        // @Persisted

    @Persisted var is_expire: String?

    @Persisted   var use_result_imgs: MyResullt?

    required  override init(){
        super.init()
    }
}

class MyResullt: Object, HandyJSON {
    @Persisted var imgs: List<ImgsSSxxx>
    required override init(){
        sup

[2022-11-25 05:59] taise-hikawa opened #8044 "Crash due to duplicate primary key of an object that should have been deleted"
### How frequently does the bug occur?

Sometimes

### Description

### premise
- person has an array of dog
- dog has already been added to the realm
- dog has a primary key

Delete and then add.
[code]
Sometimes crashes when adding.
The actual code is more complex.
What I want to know is not so much the solution, but why it crashes.
Since it takes time to delete an object, we expected that it ha

[2022-11-25 09:44] hyouuu commented on #7976
@jedelbo is there a way to detect a corruption without crashing the app?

[2022-11-25 11:26] dianaafanador3 commented on #8043
@locooo we don't guarantee support with other libraries, probably this is happening because `HandyJSON` doesn't consider the use of property wrappers when declaring a property, which may be an issue when they are mapping (reflection in a property which use a wrapper reads the property name with a `_` at the beginning), and also casting to a property type (in this case `RealmSwift.Persisted`).
Our

[2022-11-25 11:26] #8043 closed

[2022-11-25 11:26] dianaafanador3 commented on #8043
Closing this as there is no issue in our side.

[2022-11-25 12:15] dianaafanador3 commented on #8044
What you mentioned is weird, delete should happen within the first write block, and this error should not appear at any time. Do you happen to do this operations during an overload write, or in a background thread?.
Also, try to update to our latest version of realm, we continue to improve performance so this kind of issues don't happen.
Please inform us if you keep seeing this after the update an

[2022-11-25 12:41] dianaafanador3 commented on #8042
@duncangroenewald can you please create a repro project so we can take a look at this.

[2022-11-25 14:38] ayush-ttn commented on #8040
Thanks @dianaafanador3. Is there a way I can make sure the crash is fixed by updating the SDK because currently I am not able to reproduce this crash on my side but there are a lot of entries for it on Firebase from the users. I just want to make sure that if I release with the updated SDK, it will not be a shot in dark 😅. Hope this makes sense.

[2022-11-25 14:44] dianaafanador3 commented on #8040
@ayush-ttn The only way we can assure this is fixed is that we have a repo case. But it is very hard to diagnose without taking a look at the code, and having more information about the conditions during the crash.

[2022-11-27 13:05] Gregoirevda commented on #7114
I had this error for a while and fixed it by adding
`"$(SDKROOT)/usr/lib/swift"` in the build settings of the **project** for `LIBRARY_SEARCH_PATH`

It's important that this is the 1st value in the list.

Your `LIBRARY_SEARCH_PATH` should look like this
[code]

[2022-11-27 23:25] duncangroenewald commented on #8042
@dianaafanador3 - I will see what I can do later this week

[2022-11-28 09:28] dianaafanador3 commented on #8036
Hi @Krishnarjun-Banoth please update to our latest version https://github.com/realm/realm-swift/releases/tag/v10.32.3

[2022-11-28 10:33] leemaguire commented on #7989
Hi @MikePetitfils Can you send us a reproduction app so that we can investigate further?

[2022-11-28 10:37] #7999 closed

[2022-11-28 13:45] michalrentka opened #8045 "App crashes when accessing String value of persisted object"
### How frequently does the bug occur?

Seen once

### Description

This is a one time report from our user. It happens on older version `10.28.6` which is currently in production, if you think this has been already resolved in current release I can ask the user to beta test. I can't reproduce this issue yet.

It happens on main thread when caching data for use in `UITableView`. The object is acce

[2022-11-28 13:51] kafejo commented on #8011
@tgoyne or @leemaguire could you please advise or do I need to open a new ticket? I cannot reopen this one. It's still happening in multiple places of my app.

[2022-11-29 02:24] taise-hikawa commented on #8044
@dianaafanador3 Thanks for your reply!!
`realm.write` block is always called in asynchronously in series in the following queue.
[code]
Is this the answer to your question?
And  I don't know the criteria to determine if it is an overload write.

[2022-11-29 09:37] mantovanirian14 opened #8046 "Realm crash when using GroupActivities"
### How frequently does the bug occur?

All the time

### Description

We have an app that implements SharePlay, realm happens to be crashed when we have the shareplay code, but when we completely remove the implementation, the code is not happening anymore

### Stacktrace & log output
<img width="1252" alt="Screenshot 2022-11-29 at 16 40 34" src="https://user-images.githubusercontent.com/11940517

[2022-11-29 12:21] leemaguire commented on #8046
Hi @mantovanirian14 can you send us a small app which reproduces the issue?

[2022-11-29 18:59] DanPavelNan opened #8047 "Missing required modules: 'Realm.Private', 'Realm'"
### How frequently does the bug occur?

All the time

### Description

Unable to use RealmSwift as a SPM dependency in a private ( local ) package.
SetUp:
1. Create a package (SPM) that contains 2 RealmObjects. This package has a dependency on RealmSwift.
2. Add the local package as a dependency to a SampleApp (iOS application )
3. Inside the SampleApp, for the main target, add the package framewo

[2022-11-30 02:19] mantovanirian14 commented on #8046
sure this is the link to the app https://drive.google.com/file/d/1multxjGR72T2LcJbXONZapP-XPX73VEk/view?usp=sharing I also found out when @Published is removed the crash didn't happen, hope it helps

[2022-11-30 02:53] cliftonlabrum commented on #8047
I believe I'm having this same issue. I'm using `Realm 10.32.3` and see a `No such Module 'RealmSwift'` whenever I have an `import RealmSwift` statement in my app. I'm using Swift Package Manager in Xcode 14.1.

[2022-11-30 04:38] pitoneux commented on #8047
Same here. Haven't been able to use SPM either with Realm ever because of issues like this one.

[2022-11-30 04:44] cliftonlabrum commented on #8047
I deleted derived data, re-added all my Swift Packages, and now I can get my app to build for iOS. But it still fails on my macOS app. Maybe I just need to add Realm with Carthage.

[2022-11-30 10:06] leemaguire commented on #8046
@mantovanirian14 I don't see the GroupActivities capability in this sample app, could you provide a sample app which can hit the crash straight out of the box? Or provide more details on how to hit the crash?

[2022-11-30 10:59] leemaguire commented on #7874
@nalexn did you try change the folder protection permissions in your App Group directory?

[2022-11-30 11:11] nalexn commented on #7874
@leemaguire I did, though I don't set it to `none` as recommended and use `completeUntilFirstUserAuthentication` for privacy reasons. I consider changing protection to `none` a hack full of compromises, which, in fact, does not work for in-memory realms as I noted above, where `tmp` folder is protected as well and you cannot even change the protection to none.

[2022-11-30 11:12] leemaguire commented on #7874
@nalexn thanks for the details, I'll bring this topic back up for discussion with the team to see if anything can be done.

[2022-11-30 12:24] mantovanirian14 commented on #8046
@leemaguire have you run the project in iOS 13/14? turns out when using @Published with GroupActivity make realm crash, but when you remove the @Published the crash didn't happen

[2022-11-30 12:26] leemaguire commented on #8046
@mantovanirian14 share play is only available for iOS 15+. We need detailed steps to invoke the crash on our end.

[2022-11-30 13:06] PoltoraIvana commented on #7860
We have an issue with similar stack trace that leads to BasicTypes.swift+222:
`0  CoreFoundation                 0x91d3c __exceptionPreprocess
1  libobjc.A.dylib                0x146a8 objc_exception_throw
2  CoreFoundation                 0x161768 +[NSObject(NSObject) _copyDescription]
3  CoreFoundation                 0x2bf6c ___forwarding___
4  CoreFoundation                 0x2b1dc _CF_forward

[2022-11-30 13:14] mantovanirian14 commented on #8046
yes share play is only available for iOS 15, the bug didn't need to implement shareplay fully,but happens when we have this code @Published with GroupActivities
<img width="744" alt="Screenshot 2022-11-30 at 20 09 30" src="https://user-images.githubusercontent.com/119405173/204804678-a0b7461d-b268-4c41-ac88-e4d912f85f9e.png">

to make it clearer:
Running the app with @Published -> Crash
https://us

[2022-11-30 13:18] leemaguire commented on #7860
@PoltoraIvana it seems that the issue is in CoreFoundation. Do you know what the value of the string was at the time of the crash? Have you been able to reproduce this at all?

[2022-11-30 13:25] PoltoraIvana commented on #7860
No, we are unable to reproduce it, we see it only in Crashlytics. The embedded object does contain one String, which is not optional. Something like this:
[code]

[2022-11-30 13:54] leemaguire commented on #8047
@DanPavelNan the solution is to add your custom package to the 'Link Binary with Libraries' section under your test target:

![Screenshot 2022-11-30 at 13 41 05](https://user-images.githubusercontent.com/17234962/204811823-d6b58bea-2546-40c8-b53a-67e37f8b501e.png)

[2022-11-30 14:08] #8030 closed

[2022-11-30 14:20] DanPavelNan commented on #8047
I don't think we are facing the same problem. Don't know if you had the chance to look at the sample project I added, but the idea is that Realm is used as a dependency in a private ( local) package , and then this package is used as a dependency on the sampleApp.
Note that for me the app works as expected, the problem is with the test target

[2022-11-30 14:27] leemaguire commented on #7976
@hyouuu we currently don't expose such an API.

[2022-11-30 14:38] DanPavelNan commented on #8047
@leemaguire , I did try that to , but
1. I don't think I should do that , since the test target already has a dependency on the sampleApp which depends on the package.
2. Yes, the build pass, but if you try to run the test you will notice that xcoce is complaining of duplicate implementation of classes "ABC is implemented in both .../NewReamTest.app/NewReamTest (0x10558d648) and ../NewReamTest.app