[2021-03-01 16:48] jln19 commented on #7129
Hi @DominicFrei,  I haven't changed the path. Here is the full Realm code:

[code]

[2021-03-01 16:55] cltnschlosser opened #7154 "Cocoapods compile failure 10.5.2+"
## Goals
Compile

## Expected Results
Compile Successfully

## Actual Results
[code]

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling
Realm framework version: 10.5.2+ (10.5.1 works)

Realm Object Server version: ?

Xcode version: 12.4

iOS/OSX version: ?

Dependency manager + version: Cocoapods 1.10.1

[2021-03-01 16:56] r-plus commented on #7151
@pavel-ship-it That issue is already resolved by xcframeworks. Latest carthage already supported to building xcframeworks.
This issue talk about it.

[2021-03-01 17:14] pavel-ship-it commented on #7152
Hi @iandundas ,
Thanks for reporting the issue. I can reproduce in. I'll take a deeper look into it.

[2021-03-01 17:30] pavel-ship-it commented on #7151
@r-plus, you right. My bad. I'll take a deeper look in to this problem.

[2021-03-01 17:57] bb-git commented on #7124
@DominicFrei Thanks a lot for your help! I can't split the realms any further and I only found out that it happens while accessing the largest realm database for the first time. I will try to erase this largest realm file from the device before migration and recreate it afterwards.

[2021-03-01 19:45] SuperTully commented on #7113
Same issue here, using latest GA versions as of 3/1/21.  What's interesting is that I inadvertently committed the Pods directory to my local git repository, and then the warning went away, but then I could no longer push committed changes to my remote repository for whatever reason.  So I made a new clone in Xcode and re-installed the Pod, and then the warning came back (but at least I can push to

[2021-03-01 19:56] levelchanger commented on #7086
@dianaafanador3 Still crashes. This is how I set up the configuration before calling asyncOpen:

    RLMRealmConfiguration *config = [user configurationWithPartitionValue:teamId];
    config.syncConfiguration.stopPolicy = RLMSyncStopPolicyImmediately;
    config.shouldCompactOnLaunch = ^BOOL(NSUInteger totalBytes, NSUInteger bytesUsed) {
        return totalBytes > fileCompressionLimit;
    };

If

[2021-03-01 20:13] cltnschlosser commented on #7154
I did a bit of investigation and the `realm.h` header was introduced with realm-core 10.4.0, which was the version updated to in 10.5.2. The Headers subspec is including `"include/**/Realm.h"`. I'm guessing that is doing a case insensitive match and pulling in the core header into the project incorrectly.

Does this need to use `**` in the include path for these headers?

[2021-03-01 21:00] pavel-ship-it commented on #7152
From what I've found it could be an issue with the XCode 12.5 beta. I see a similar problem on stackoverflow, for example. I'll leave this issue opened for a while to get back to it later. At the moment I can only recommend to use a stable version.

[2021-03-02 02:27] dheeraj-singh511 commented on #7146
@DominicFrei - Here are some details I noticed during this crash based on our app logs and crash log. Hope it helps

- By the time we hit this write transaction, realm was already configured and we were able to read data from it more than once
- There was also a successful delete transaction
- This is not a upgrade scenario so the migration script did not execute
- I noticed that there was write a

[2021-03-02 03:31] DHaacke opened #7155 "EXC_BAD_ACCESS error when accessing Results"
!!! MANDATORY TO FILL OUT !!!

## Goals
Enumerate results

## Expected Results
Expected to be able to enumerate results object. I have other apps using older versions of Realm that enumerate the results just fine.

## Actual Results

![image](https://user-images.githubusercontent.com/6235004/109591991-c101c300-7acb-11eb-97da-9d245589c829.png)

## Steps for others to Reproduce

See code sample
## C

[2021-03-02 06:11] brijesh0205 commented on #7144
Hello @leemaguire,

We don’t find any problem with code as per threading guidelines in the document you shared. Do you think creating own queue instead of global background queue might help?

**Could you suggest something else that we can try to fix the crash.**

[2021-03-02 08:41] lacklock opened #7156 "Crash：Cannot set a sync configuration which has an errored-out user"
**Bugs**:

*** Terminating app due to uncaught exception 'RLMException', reason: 'Cannot set a sync configuration which has an errored-out user.'

Writing data to realms will crash.

Realm framework version: RealmSwift (4.4.1)

Realm Object Server version: ?

Xcode version: 12.3

iOS/OSX version:  iOS14

[2021-03-02 10:26] edfanhouse commented on #7151
Hello,

I found a workaround with commenting arm64 exclusion on "Base.config" when building with Carthage :

<img width="606" alt="Capture d’écran 2021-03-02 à 09 50 44" src="https://user-images.githubusercontent.com/1589679/109634978-24cad100-7b4a-11eb-8e9c-9991e203cce0.png">

[2021-03-02 10:33] #6905 closed

[2021-03-02 11:12] pavel-ship-it commented on #7155
You have **@objc dynamic var llid = "1"** claimed as a primary key - it should be a unique value. I'd recommend
[code]

[2021-03-02 11:32] pavel-ship-it commented on #7156
Hi @lacklock ,
With the info provided I can say that the user credentials causing the issue cannot be used (user was removed?). You should try to use another user.

[2021-03-02 11:34] DominicFrei commented on #7129
I've looked into this further and found the error message originating in https://github.com/realm/realm-core/blob/master/src/realm/group.cpp#L677.

This is an `InvalidDatabase` error which explains why your workaround in

works.

I'll be talking to our core colleagues to figure out if there is a way to recover from this.

Another question that came up when re-reading your explanation. @jln19

This

[2021-03-02 12:08] DominicFrei commented on #7124
Glad I could help (in a way).
Let me know if it worked and if you have any further questions.
I'll close this issue for now but we can re-open it at any time if necessary.

[2021-03-02 12:08] #7124 closed

[2021-03-02 12:19] DominicFrei commented on #7146
Thanks for sharing this information. @dheeraj-singh511
I understood more about what would not be the reason.

Since you already narrowed done which parts of the code might be responsible for the problem, can you show us this part of the code as an example so that I can better understand what is going on?

[2021-03-02 12:52] r-plus commented on #7151
@edfanhouse nice! that it!

#### Remaining issue but maybe this is not blocking
- workflow to create pre-build binary for carthage that uploaded to github releases like [RxSwift](https://github.com/ReactiveX/RxSwift/releases)
AFAIK, `carthage archive` command is not yet support xcframework.
NOTE: carthage 0.37 is not yet support download pre-build xcframework.

[2021-03-02 15:08] dianaafanador3 commented on #7086
Hey @levelchanger
Following @tgoyne instructions, it should be something like this
[code]
Can you test it and let me know if it works?

[2021-03-02 15:28] DHaacke commented on #7155
Pavel, thanks for your help! I had put that in for testing/debugging and forgot to remove it.... my bad.  So I fixed that and also remove the primary key so that the model is just:

class UsgsStreamGage : Object {
  @objc dynamic var llid        = ""
  @objc dynamic var stationName = ""
  @objc dynamic var latitude    = 0.0
  @objc dynamic var longitude   = 0.0
  @objc dynamic var hucCode     : St

[2021-03-02 16:13] #6460 closed

[2021-03-02 16:31] DominicFrei commented on #7129
@jln19 The exception originates in https://github.com/realm/realm-core/blame/master/src/realm/group.cpp#L684-L685 actually.

It looks like the realm file size is 11, which was added in https://github.com/realm/realm-core/commit/645ea73c5886cfaea2ca0fcd9da0cf6d6e34b11a#.
Realm files generated with Realm Core version 6.0.0+ (which has been released with Realm Cocoa 5.0.0) do have size 11. When you t

[2021-03-02 17:17] pavel-ship-it commented on #7155
If you have an empty realm and a new model for UsgsStreamGage then the code above should work fine.
It will can crash on line **print("\(gages[0])")** if you have an empty collection but the enumeration will work fine.
if it crashing anyway I'd appreciate if you can share the code with me.

[2021-03-02 17:35] levelchanger commented on #7086
@dianaafanador3 It still crashes.

[2021-03-02 17:37] dianaafanador3 commented on #7086
@levelchanger thanks for testing that out, probably this is not the solution to the issue.
The good news is that I've been able to reproduce this issue and we are working to get a fix in the near future.

[2021-03-02 17:39] levelchanger commented on #7086
@dianaafanador3 Congratulations on being able to reproduce it. That is more than half the battle.

[2021-03-02 17:40] DHaacke commented on #7155
Pavel, its still not working with the new model and with the gages[0] code removed. Fortunately, I'm just starting on the project, so its small. I can zip it up, but what's the best way to send it without posting it in this forum?

[2021-03-02 20:23] #7028 closed

[2021-03-02 20:27] william63960 commented on #6587
That works for me Thanks 🙏

[2021-03-02 22:09] leemaguire commented on #7006
This is confirmed as fixed with the latest version of Cocoa.

[2021-03-02 22:10] #7006 closed

[2021-03-02 22:12] leemaguire commented on #6907
@chajuss does the latest version of Realm Studio solve your issue?

[2021-03-02 23:52] Vortec4800 opened #7157 "Latest update file size too big for Git"
Realm framework version: 10.7

Xcode version: 12.4

Dependency manager + version: Cocoapods 1.10.1

In the latest update, one of the framework files is too large for GitHub.

[code]

Can this file be broken up? A lot of people commit built frameworks to repositories for various purposes, and I think this will cause quite a few headaches for that scenario.

[2021-03-03 04:18] palaniraja commented on #7141
@DominicFrei  Thank you. Yes this confirm our understanding.

Problem is in real app, there are relation to other objects that needs to be queried, e. g. person rec to be queried and added or updated based on this.

Is this behavior (disk usage in case of encryption) of dirtying 4096 is applicable for reads too? assume worst case scenario each record need to be associated to a new record on a diff

[2021-03-03 07:49] mohanrajnkl commented on #6843
Hi All, I using realm  in Xcode 12.4 version  for iOS14, i have enabled the UIFileSharingEnabled ,  so the auxiliary Realm files store in Files in iPhone & iPad device ,  when i open iPhone & iPad files its loading its not showing auxiliary Realm files . i can't open file any files. please give any solution for me.

[2021-03-03 07:52] mohanrajnkl commented on #6843
even though realm i using the code below
autoreleasepool {
    // all Realm usage here
}
do {
    _ = try Realm.deleteFiles(for: Realm.Configuration.defaultConfiguration)
} catch {
    // handle error
}
its never deleting auxiliary Realm files in from device. can you please help me.

[2021-03-03 08:00] mohanrajnkl commented on #6843
I using this below code, i have not delete default  auxiliary Realm files,  can you please help me.
let paths = NSSearchPathForDirectoriesInDomains(.documentDirectory,
                                                        .userDomainMask,
                                                        true)

let applicationSupportDirectoryPath = paths.first

let  realmPath = applicationSupportDirectoryP

[2021-03-03 10:48] pavel-ship-it commented on #7157
Hi @Vortec4800 ,
We are doing our best to reduce the final size of the library, but debug versions will remain relatively fat.
There are several workarounds.
- build the library from the sources with the required architectures only.
- try https://git-lfs.github.com/ to save a large files externally.
- remove Pods folder from repository. Version's pinned in Podfile.lock anyway - sounds like a good

[2021-03-03 10:55] #7091 closed

[2021-03-03 11:24] pavel-ship-it commented on #7155
@DHaacke you can send it to my email pavel.yakimenko@mongodb.com

[2021-03-03 11:45] pavel-ship-it commented on #7154
Hi @cltnschlosser
We know about this issue. Please follow #7119 for the further updates. Would be great if you can post your findings there.
I'll close this issue as a duplicate.

[2021-03-03 11:45] #7154 closed

[2021-03-03 12:22] pavel-ship-it commented on #7152
Now it's known issue with the 14.5 simulator. Should be fine in Xcode 12.5 beta 3
https://developer.apple.com/forums/thread/674277?answerId=662833022#662833022%29,

[2021-03-03 12:22] #7152 closed

[2021-03-03 13:33] pavel-ship-it commented on #7151
@r-plus , @edfanhouse thanks for help. I'll create a pull request to enable arm64 builds

[2021-03-03 14:29] cltnschlosser commented on #7119
Copied from #7154

I did a bit of investigation and the `realm.h` header was introduced with realm-core 10.4.0 (https://github.com/realm/realm-cocoa/pull/7063), which was the version updated to in 10.5.2. The Headers subspec is including `"include/**/Realm.h"`. I'm guessing that is doing a case insensitive match and pulling in the core header into the project incorrectly.

Does this need to use `*

[2021-03-03 14:32] Vortec4800 commented on #7157
Thanks for the feedback, I appreciate the response. We currently commit the Pods directory on all our projects so members of the team that aren't developers don't have to worry about dependencies, they can just clone the repository and they have everything they need to run the app. It sounds like we may not have a choice, however, so we'll do what we need to. I guess consider this a vote for conti

[2021-03-03 14:33] dianaafanador3 commented on #7119
Hi @cltnschlosser thanks for the info, and taking the time to investigate this. We're checking why this warning is happening and any extra info is helpful.

[2021-03-03 16:55] NikBorawar opened #7159 "Crashlytics: Realm please_report_this_issue_in_github_realm_realm_core"
!!! MANDATORY TO FILL OUT !!!

## Goals

Realm shouldn't crash app

## Expected Results

Realm shouldn't crash

## Actual Results

FIRST STACK TRACE
Crashed: Realm notification listener
0  libsystem_kernel.dylib         0x1d9dd6414 __pthread_kill + 8
1  libsystem_pthread.dylib        0x1f7930b50 pthread_kill + 272
2  libsystem_c.dylib              0x1b52afb74 abort + 104
3  Realm

[2021-03-03 18:31] pavel-ship-it commented on #7159
Hi @NikBorawar
Thank you for reporting. This issue should be fixed in 10.7.0
Related to [realm-core/#4449](https://github.com/realm/realm-core/pull/4449)
I'm closing this ticket for now. If you think it is another case or it's happened again in a newer version please comment and we will reopen the ticket.

[2021-03-03 18:31] #7159 closed

[2021-03-04 08:40] kingnight opened #7161 "Open Realm Crash with Invalid top array"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

Open Realm  success
## Actual Results

Open Realm Crash with Invalid top array
## Steps for others to Reproduce

Use “sohu_official@sohu.com” as uid， uid is the primary  key
## Code Sample

## Version of Realm and Tooling

Realm framework version: 5.5.0

Realm Object Server version: ?

Xcode version: 12.2

iOS/OSX version: iOS14.2.1

De

[2021-03-04 10:36] pavel-ship-it commented on #7106
You can observe the sync progress with [addProgressNotification(for:mode:block:)](https://docs.mongodb.com/realm/sdk/ios/examples/sync-changes-between-devices/#check-upload---download-progress-for-a-sync-session) It could give you some information on why you can't see the result.

[2021-03-04 10:50] pavel-ship-it commented on #7161
Hi @kingnight ,
The exception I see in the crash logs, specifically - size: 11, could refer to the known issue.
You could refer to [#7129](https://github.com/realm/realm-cocoa/issues/7129#issuecomment-789036998)

- Did you try to upgrade or rollback the Realm framework version?
- Did you try to open a realm file with a different Realm Studio version?

I would really appreciate if you can add some

[2021-03-04 10:58] chajuss commented on #6907
@leemaguire I'll check and post an update ASAP

[2021-03-04 13:43] DominicFrei commented on #7141
@ironage @finnschiermer Since we talked about this already: Can you answer above stated question? Does this apply to reads as well?

[2021-03-04 15:14] sedwo commented on #7106
That doesn't really answer my question of how to force trigger a sync.

[2021-03-04 15:48] ironage commented on #7141
Reads do not dirty a page. Once we have a 4096 byte page decrypted, we reuse it to read other objects if they are found on the same page. We can have more than one page decrypted in memory and we have heuristics to free up unused pages. So there is some initial overhead to decrypt the pages you are reading from, but it is not proportional to the number of reads you make.

[2021-03-04 16:29] palaniraja commented on #7141
Thank you @ironage  @DominicFrei

[2021-03-04 18:53] #7086 closed

[2021-03-04 19:01] sochalewski opened #7163 "Upserting an object with an embedded object crashes the app"
## Goals
Upsert an object that contains an embedded object.

## Expected Results
Upsert works flawlessly.

## Actual Results
Upsert crashes an app.
[code]

## Steps for others to Reproduce

1. Create an instance of Realm database.
2. Create an instance of object that contains an embedded object (`MyObject`).
2. Set the embedded object to non-nil.
3. Write the instance to the database.
4. Create a

[2021-03-04 20:23] ragu-pdx opened #7164 "Crash: Database inaccessible after period of time."
!!! MANDATORY TO FILL OUT !!!

## Goals

Writing data to iOS Realm database in a stable manner over time and not have underlying database file corruption

## Expected Results
No Crash

## Actual Results
Crash Entitled: `please_report_this_issue_in_github_realm_realm_core`

[code]

[code]
## Steps for others to Reproduce
Is not reliably reproduced - Related to this [ticket](https://github.com/realm

[2021-03-05 01:40] alexeichhorn opened #7165 "Write Transaction inside Notification Block fails Assertion (Crash)"
When executing multiple write transaction from inside a notification block the assertion `REALM_ASSERT(!m_notifier_skip_version.version)` fails. This problem is only present in version 10.7 - not in 10.6.

## Goals
I want to write multiple data (in different transactions) into the database when the notification block is called.

## Expected Results
Writes get executed without crash

## Actual Resu

[2021-03-05 06:06] kingnight commented on #7161
Hi @pavel-ship-it ，tks for your answer.

I have tried to update Realm framework version from 5.3.0 to 5.5.0, the crash also happened.
Realm Studio Version is 3.10.1

Two Question:

1. If  I want to update or rollback, do you have any suggested version?    Or use the newest version 10.x.x?
2. If I rollback to some old version, for example, 4.x.x, this crash fixed, but will the online app user, have

[2021-03-05 06:06] kingnight commented on #7161
Hi @pavel-ship-it ，tks for your answer.

I have tried to update Realm framework version from 5.3.0 to 5.5.0, the crash also happened.
Realm Studio Version is 3.10.1

Two Question:

1. If  I want to update or rollback, do you have any suggested version?    Or use the newest version 10.x.x?
2. If I rollback to some old version, for example, 4.x.x, this crash fixed, but will the online app user, have

[2021-03-05 09:11] pavel-ship-it commented on #7161
@kingnight ,
Different versions of Realm SDK and Realm Studio could explain why you cannot open the realm.
If you can, please try the latest version of both, SDK and Studio.

[2021-03-05 11:54] DominicFrei commented on #7141
@palaniraja Glad we would help. Even though it was more an explanation than a solution.
Going to close this for now. But if there is anything else regarding this topic, please let me know any time and I'll re-open the ticket.

[2021-03-05 11:54] #7141 closed

[2021-03-05 11:58] dianaafanador3 commented on #7119
I'm going to close this, in favour of https://github.com/realm/realm-cocoa/issues/7113
Duplicate of #7113

[2021-03-05 11:58] #7119 closed

[2021-03-05 13:53] pavel-ship-it commented on #7164
Hi @ragu-pth ,
The code snippet in #7088 looks fine.
Could you show how you opening the Realm with that configuration? I'm asking as error did appear in [RLMRealm realmWithConfiguration:queue:error:]
Is it in a main thread? did you pass a queue during initialization?

[2021-03-05 15:08] pavel-ship-it commented on #7163
Hi @sochalewski ,
Yes, this is a question of shallow/deep copy and therefore the workaround above is a solution.
UpdatePolicy.modified won't work in this case as in fact you're creating a copy of a link to embedded object instead of embedded object.

[2021-03-05 16:00] DominicFrei commented on #6881
@phuocmobytelab Just to confirm your assumption. This is indeed a duplicate of #5475. We'll continue our works there.

[2021-03-05 19:13] ragu-pth commented on #7164
@pavel-ship-it Thank you for your reply. The function `private func realm(storageType: DatabaseService.StorageType) -> Realm?` can be called within different threads, but in these cases, it is only called within a single persistent NSThread that is made at startup instead of using `dispatch_queues`. We've had issues in the past using dispatch_queues and Realm since the underlying thread is not kno

[2021-03-06 13:08] ohohohoh commented on #6587
thanks again as it worked for me on MBP 2018 and Big Sur 11.2.2
helps solve the problem if you are following  Udemy: Swift with Angela chapter 261 "Intro to Realm" steps.

[2021-03-07 10:30] owenzhao opened #7169 "Crashed:: Dispatch queue: com.yannickloriot.asyncqueue randomly"
!!! MANDATORY TO FILL OUT !!!

## Goals

Read a property in a Realm Object.

## Expected Results

A property read.

## Actual Results

App crashed.

## Steps for others to Reproduce
## Parts of the Crash Log

Process:               Poster 2 [555]
Path:                  /Applications/Poster 2.app/Contents/MacOS/Poster 2
Identifier:            com.parussoft.Poster
Version:               2.8.11 (2021

[2021-03-07 12:15] sochalewski commented on #7163
@pavel-ship-it Thank you for you answer, it makes sense. Then I'll close the issue.

[2021-03-08 10:27] #7155 closed

[2021-03-08 10:32] NikBorawar commented on #7159
Thanks, @pavel-ship-it. Will upgrade to 10.7.0

[2021-03-08 11:13] leemaguire commented on #7144
Hi @brijesh0205 Realm is intended to be used on serial dispatch queues, you can guarantee a serial queue but creating your own. The global queue is not serial, as per Apples documentation: https://developer.apple.com/documentation/dispatch/dispatchqueue/2300077-global

[2021-03-08 14:06] ohohohoh commented on #7113
I had the same issue. Managed to solve the problem by changing the Location to 'Relative to Developer Directory' (in the Identity and Type right hand window)
this is for the Deployment  > Installation Directory  of RealmSwift

[2021-03-08 14:58] #6988 closed

[2021-03-08 20:20] tgoyne commented on #7163
The code sample you posted is something that's supposed to work and we just have some overly-eager validation.

[2021-03-09 10:58] Trailqueen commented on #7086
I get the following crash using realm-java 10.3.0. As you fixed the error in realm core, will that error be resolved with the new version 10.4.0?

E/REALM: realm-Release-v10.3.3-Android-arm64-v8a-devel/include/realm/alloc.hpp:580: [realm-core-10.3.3] Invalid ref translation entry [0, 78187493520]
    <backtrace not supported on this platform>!!! IMPORTANT: Please send this log and info about Realm

[2021-03-09 21:11] ericjordanmossman commented on #7097
^ @rlabr Are you able to reproduce in a sample app?

This and #7112 look similar.

[2021-03-09 21:12] ericjordanmossman commented on #7115
@lidorgotech
Are you able provide what Lee mentioned?

[2021-03-09 21:23] ericjordanmossman commented on #7096
@hyouuu
If this is still happening can you provide the info Lee requested above ^?

[2021-03-09 21:33] ericjordanmossman commented on #7085
@janeshsutharios
1. Did Lee's response solve the pod issue?
2. Did upgrading the pod solve the original issue?
3. Can you post the full stack trace? The firebase snippet is cut off.
4. I'm adding reproduction-required tag because you described this crash as happening sometimes. Reproductions greatly speed up finding the issue.

[2021-03-09 21:53] ericjordanmossman commented on #7070
@0x6A75616E Out of curiosity - how'd you work around?

Thanks. I suppose we should leave this issue open since it very well could still be a bug. But I'll tag it reproduction-required.

[2021-03-09 22:08] ericjordanmossman commented on #7081
This issue has been closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-03-09 22:08] #7081 closed

[2021-03-10 13:35] jedelbo commented on #7092
I assume the performance improvement we have done provides remedy for the issue. Closing.

[2021-03-10 13:35] #7092 closed

[2021-03-10 18:50] #7123 closed

[2021-03-10 21:00] #7113 closed

[2021-03-10 21:20] dianaafanador3 commented on #7114
Hi @EricWiener I haven't had time to get into this. Have you been able to fix this issue?, if the response is no, i'll take a look at this next week. Also, can you test this with our latest version of realm version 10.7.2

[2021-03-10 21:44] dianaafanador3 commented on #7122
Hi @jesusmateos1234 I'm sorry i haven't been able to answer before. You can find xcframework product for realm and realmSwift in our releases page https://github.com/realm/realm-cocoa/releases, within the realm-objc-{version}.zip and realm-swift-{version}.zip respectively.

[2021-03-11 08:07] jesusmateos1234 commented on #7122
Hi @dianaafanador3, thanks for the support but it contains a lot of data not necessary for CI. Other organizations keep that you have on release. But create a zip with the last xcode build and no examples on tag

[2021-03-11 23:00] tgoyne commented on #7165
The handling of write transactions from within notifier callbacks has always been fairly incorrect, and this assertion failure is catching a longstanding bit of incorrectness that just wasn't checked until recently. I originally thought that it was probably just impossible to make it work correctly, but after looking at the code again I now have an idea that might work.

[2021-03-11 23:34] EricWiener commented on #7114
@dianaafanador3 this is still an issue using RealmSwift 10.4.0. Unfortunately, I can't upgrade RealmSwift to 10.7.2 because RealmJS and RealmSwift need to have matching Core + Sync versions

Currently, RealmJS (10.2.0) is on RealmSync v10.1.6 and RealmCore v10.1.4. It looks like RealmSwift (10.7.2 ) is on RealmSync v10.1.5 and RealmCore v10.5.5, so that won't be compatible.

[2021-03-12 01:01] IsaiahJTurner commented on #6152
This solution never fully worked for us and we've finally worked our our perfect solution:
[code]

You will need to tweak this substantially to work for your exact use case but essentially, we compare the new array of ids with the old array of ids and manually create the move/delete/inserted rows. This abstracts our table view away from the results collection and prevents crashing.

[2021-03-13 07:29] igorvoytovich commented on #6973
Also have the same crash.

@pavel-ship-it

[2021-03-13 07:33] mohanrajnkl commented on #4187
@sergstav  i have used your code in ios14 version app get crash, the ream files [default.realm, default.realm.lock, default.realm.management, default.realm.note] if i delete means realm database not working getting crash

[2021-03-13 11:28] igorvoytovich commented on #6973
`Crashed: realmWriteQueue
0  Realm                          0x104ce2eb8 realm::Allocator::translate_less_critical(realm::Allocator::RefTranslation*, unsigned long) const + 68
1  Realm                          0x104c28d58 realm::Array::init_from_ref(unsigned long) + 567 (alloc.hpp:567)
2  Realm                          0x104d9a810 realm::Group::attach(unsigned long, bool, bool) + 88
3  Realm

[2021-03-13 16:04] igorvoytovich opened #7175 "Stable 3% (!!!) crashes realm::Allocator::translate_less_critical(realm::Allocator::RefTranslation*, unsigned long) const + 68"
## Goals
Realm crash free 99.N%

## Expected Results
Realm crash free 99.N%

## Actual Results
Realm crash free 97%

## Steps for others to Reproduce
It is hard to reproduce it internally, because it's random crashes.

## Code Sample
- **All** Realm transactions(writes) from **custom serial GCD queue** within **autoreleasepool**.
- New Realm instance each time.

`let realmWriteQueue = DispatchQueu

[2021-03-14 14:29] peterkuch opened #7176 "Realm folks have requested to use this version and above. You cannot use .rc.1 version for it. Please file an issue with Realm github repo about this as the pod author requests this version constraint, possibly due to xcframework support."
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?

Realm Object Server version: ?

Xcode version: ?

iOS/OSX version: ?

Dependency manager + version: ?

[2021-03-15 09:13] dangthaison91 commented on #7100
@leemaguire Do you have any update on this?
@keithcml Have you fix/resolve this by yourself? Could you please share your solution?

[2021-03-15 12:33] EthanLipnik commented on #7086
I'm also having this issue on random objects. If I write a new object, it works

[2021-03-15 12:34] dianaafanador3 commented on #7086
Hey @EthanLipnik, update to the latest version of realm-cocoa v10.7.2 and this should be fixed

[2021-03-15 12:50] DominicFrei commented on #5475
I created a PR for this issue in core: https://github.com/realm/realm-core/pull/4517

[2021-03-15 13:08] EthanLipnik commented on #7086
Yup, all good now, thanks!

[2021-03-15 13:53] leemaguire commented on #6096
@jln19 Would you be able to open a new issue with the details? Thanks

[2021-03-15 13:58] leemaguire commented on #7021
@anton-plebanovich Would you be able to upgrade to the latest version of Realm? I still think this is an `Rx` library related issue and not a Realm issue

[2021-03-15 14:11] anton-plebanovich commented on #7021
@leemaguire I saw this crash only once so it might be anything actually. Let me just close this one since the Realm version is outdated and I wasn't able to reproduce.

[2021-03-15 14:11] #7021 closed

[2021-03-15 17:04] jlavyan commented on #7106
I am facing same issue. on my side sync starting only after I am write/read something to realm. so my observers triggering only after write/read something. how we can ping for sync without write/read something

[2021-03-15 17:31] sedwo commented on #7106
@tgoyne RE: [developer.mongodb.com](https://developer.mongodb.com/community/forums/t/realm-swift-tutorial-failing-offline-first-usage/14136/61)
"... it’s not hard to imagine scenarios where it’s useful (e.g. if the device has a very flakey connection we usually don’t want to kill the battery spamming connection attempts, unless the user is mashing a refresh button because they really do need the d

[2021-03-15 19:17] mungbeans2 commented on #7114
I'm having the same problem using RealmSwift 10.7.2, however in my case I'm trying to run on iOS so the error is

Undefined symbols for architecture arm64: "protocol descriptor for Swift.Identifiable", referenced from: l_got.$ss12IdentifiableMp in libRealmSwift.a(Combine.o) ld: symbol(s) not found for architecture arm64

Its very easy to reproduce - create the minimal React Native AwesomeApp Xcode

[2021-03-15 22:06] randyhill commented on #7083
I'm having this issue. XCode 12.5 Beta, application build. "Identifiable' is only available in application extensions for iOS 13 or newer" on on the following line in Combine.swift.

[code]

[2021-03-15 22:10] tgoyne commented on #7083
This was fixed in 10.5.2.

[2021-03-15 22:28] randyhill commented on #7083
Thanks, I copied the Realm Cocoapods example too literally, didn't notice it was set to '=10.1.4'

[2021-03-16 11:59] DaDz-eiSos commented on #6867
Hello everyone,

We are also having a similar problem with realm in our application cause we recently switched from v4.4.1 to the newest version v10.7.2.

In our app we have a synchronization process in the background that imports data to realm. While with v4.x.x we chunked the import. With v5.x.x and above the process is too slow to be chunked.

A larger problem occurs when we want to modify a re

[2021-03-16 12:09] bguidolim commented on #6867
In order to work around this issue, I've removed the primary key of the object and added the identifier field as index, then instead of using `realm.object(ofType:forPrimaryKey:)`, I am now using `realm.objects(type.self).filter("id == %@", id).first`.

Now I have almost the same performance as v4. To be honest, I don't really get why the table is being sorted by primary key, it might be useful on

[2021-03-16 14:53] DaDz-eiSos commented on #6867
@bguidolim thanks for your suggestion. With this workaround it is really a lot faster with chunked write transactions.

Here are my results with about 300K of objects:
- With 1000 chunks and v4.4 -> 31 seconds
- With 1000 chunks and v10.7.2 -> 3 minutes 8 seconds
- Without chunks and v10.7.2 -> 34 seconds
- With workaround and v10.7.2 -> 90 seconds

Unfortunately we depend on the primary key and c

[2021-03-16 15:10] JulianKahnert commented on #7083
From #7098:

Does anyone know if there is a fix planned for `v5.5.0`?

[2021-03-16 15:50] tgoyne commented on #7083
[I've started assembling a v5.5.1 release](https://github.com/realm/realm-cocoa/pull/7178) that'll include this.

[2021-03-16 16:36] finnschiermer commented on #6867
Please see https://github.com/realm/realm-core/issues/4522

[2021-03-16 17:39] JulianKahnert commented on #7083
Awesome thx 🙏

[2021-03-17 06:50] #7134 closed

[2021-03-17 08:55] MonkeyRunHq commented on #7175
After upgrading to version **10.7.2**, the problem still persists. Any help here?

[2021-03-17 08:56] igorvoytovich commented on #7175
After upgrading to version **10.7.2**, the problem still persists. Any help here?

[2021-03-17 10:59] finnschiermer commented on #7175
@igorvoytovich : Thanks for reporting. It appears to be a duplicate of: https://github.com/realm/realm-core/issues/4514, please direct further comments there.

If you do not believe it to be a duplicate, please reopen.

[2021-03-17 11:07] MonkeyRunHq commented on #7175
@finnschiermer Thank you for your response. Our crash is not related to SwiftUI in any way. I'll reopen issue.

[2021-03-17 11:08] igorvoytovich commented on #7175
@finnschiermer Thank you for your response. Our crash is not related to SwiftUI in any way. I'll reopen issue.

[2021-03-17 11:22] junaid-cloud9 commented on #7114
i am also facing this issue. @mungbeans2 any luck ?

[2021-03-17 11:25] dianaafanador3 commented on #7114
Hi @junaid-cloud9 I'm taking a look at this, trying to reproduce it. On the meantime can you elaborate more on the error, and how to reproduce it?

[2021-03-17 11:25] finnschiermer commented on #7175
@igorvoytovich It's likely the same problem anyhow (I don't think swiftui is material to the other problem either), but I'm reopening for now.

[2021-03-17 11:28] junaid-cloud9 commented on #7114
specific error is this

Undefined symbols for architecture arm64: "protocol descriptor for Swift.Identifiable", referenced from: l_got.$ss12IdentifiableMp in libRealmSwift.a(Combine.o) ld: symbol(s) not found for architecture arm64

Steps to reproduce are exactly the same as these

[2021-03-17 11:30] igorvoytovich commented on #7175
@finnschiermer thanks. If you need any additional information please feel free to ask. We are really looking forward to solving this problem and will send the app update as soon as it is resolved.

[2021-03-17 13:09] dfg-1310 opened #7179 "How we remove existing Realm database when added the inMemoryIdentifier in Realm Configuration"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: 2.8.1

Realm Object Server version: NA

Xcode version: 11.5

iOS/OSX version: Swift 4.2

Dependency manager + version: NA

Due to security concerns, I do not want to save the realm database on the hard disk so I

[2021-03-17 13:22] jsflax commented on #7179
We provide a static convenience method on the Realm class to do this: `Realm.deleteFiles(for: `Realm.Configuration`)`. Sending your configuration to that method will delete the local realm file and associated temporary files.

If you find this solves your problem, please close the ticket.

[2021-03-17 13:25] dfg-1310 commented on #4852
Due to security concerns, I do not want to save the realm database on the hard disk so I added the inMemoryIdentifier in Realm Configuration. Realm database file is not creating for the new build.

But I have an issue with the existing build, We still have an existing realm database device hard disk so My question is How I can delete the existing realm database from the app?

[2021-03-17 14:09] mungbeans2 commented on #7114
@junaid-cloud9 If I dropped down to version 4.4.0 of RealmSwift/Realm then its possible to eliminate the warning

[2021-03-17 14:12] jsflax commented on #7114
@EricWiener could you elaborate on how you are using RealmJS and RealmSwift? Seems like the big hint here.

[2021-03-17 14:14] mungbeans2 commented on #7114
Errm, as mentioned its totally possible to reproduce this issue without the use of RealmJS at all.

[2021-03-17 16:04] Fab1n commented on #7111
@jedelbo Thanks for your fix. It seems to work for some customers.

We still have currently one customer where it crashes during file migration. It crashes when trying to `migrate_objects` on `Table` and then when `realm::ArrayString::init_from_mem`.

Here is the relevant part of the stackframe:
[code]

I think this still has to do with invalid data and I am kind of lost right now. We don't seem t

[2021-03-17 21:59] dianaafanador3 commented on #7114
Hi @EricWiener i was able to reproduce this issue and I think I have a workaround that will help you run your project.

I would first recommend you  to add `use_frameworks!` to you Podfile, which tells cocoa pods to use dynamic libraries instead of static libraries. You can even remove `RealmSwift` from the podfile, as your project is in objective-c and there is no need to import RealmSwift to you

[2021-03-17 22:03] dianaafanador3 commented on #7114
@junaid-cloud9 and @mungbeans2  you can follow the below guide for your projects if you're case is similar.
I also uploaded a playground using react-native/realm in swiftUI which you can use an example for your projects https://github.com/dianaafanador3/PlaygroundReactRealmSwiftUI

[2021-03-17 22:07] jpstern commented on #7175
FWIW - we rolled back to 4.3.2, which was the version we used before seeing these crashes and it's completely gone.

We were previously seeing 100-4000 instances of this crash daily depending on app usage.

[2021-03-17 22:09] mungbeans2 commented on #7114
@dianaafanador3 Hello, unfortunately for the workaround to work its necessary to comment out flipper, and flipper is important to have enabled when running React Native project

[2021-03-17 22:10] igorvoytovich commented on #7175
@jpstern thanks for sharing this information. At the moment we have the same situation, more than 3000 crashes per day.
Could you please tell me if it is safe to rollback from version 10.7.2 to 4.3.2? That is, they are fully compatible and users should not have incompatibility problems?

[2021-03-17 22:12] jpstern commented on #7175
We force deleted the realm file to prevent rollback issues.  The files aren't compatible so your users will get a crash if you try to just rollback

[2021-03-17 22:15] EricWiener commented on #7114
@dianaafanador3 thanks so much! I will check this out soon and get back to you.

@mungbeans2 I believe flipper is commented out because of an issue with React Native not Realm. You might have luck using Flipper following the solution I mentioned [here](https://github.com/facebook/react-native/issues/30922#issuecomment-776758668)

[2021-03-17 22:17] jpstern commented on #7175
For the realm team - we were ultimately able to reliably reproduce the crash by running sustained very high volume concurrent writes.  Not necessarily a realistic real world scenario, but it was the only way to get the crash to happen.

It's possible low RAM is a factor for the the RLMRealm being autoreleased during a write transaction.  A noticeable percentage of the crashes showed low RAM on Cra

[2021-03-17 22:17] igorvoytovich commented on #7175
@jpstern thank you very much for the information.

@finnschiermer @tgoyne Since the current version is not production-ready, could you tell if we should wait for this problem to be fixed, or would it be more correct to roll back to the old version (4.3.2, for example, as mentioned above)? Thanks.

[2021-03-17 22:18] dianaafanador3 commented on #7114
@mungbeans2 did you check https://github.com/dianaafanador3/PlaygroundReactRealmSwiftUI, on that example I'm using flipper with a swift project and it's working fine

[2021-03-17 23:08] EricWiener commented on #7114
@dianaafanador3 your changes made the demo work perfectly! Thanks so much!

Would you mind explaining why the RealmSwiftUI demo Podfile doesn't need `use_frameworks!` and does need to specify `pod 'RealmSwift'`, but the Podfile for my example project doesn't. Aren't all React Native projects using Objective-C?

[2021-03-17 23:15] dianaafanador3 commented on #7114
@EricWiener I don't have much that much experience in react-native but taking a look at the documentation (https://reactnative.dev/docs/integration-with-existing-apps), i think you can integrate react-native components into any swift/objective-c/java project. And the use of use_frameworks! in this case is to tell cocoapods to use dynamic libraries instead of static libraries for our swift librarie

[2021-03-17 23:22] EricWiener commented on #7114
Got it. Thanks so much for the help. I'll look into it more. A bit puzzled because RealmJS + RealmSwift works perfectly in my existing apps (without specifying `use_frameworks!` or included `RealmSwift` in the Podfile), but only works in the new app with your workaround.

Regardless, thanks so much for your help and for solving this issue. I'll mark it as closed now.

[2021-03-17 23:22] #7114 closed

[2021-03-17 23:38] fabriciomasiero opened #7180 "Expected a Realm with no or in-realm history, but found history type 3"
Hi,

I'm trying to save my sync realm locally, but I'm receiving the crash error: **Expected a Realm with no or in-realm history, but found history type 3**

So, after successful anonymous login, I call **asyncOpen** like the code below

## Code Sample
[code]

Ok, fine! It works perfectly!

But, when I go through an offline scenario, I found the issue.

How do I get my station list from offline? L

[2021-03-18 02:08] tgoyne commented on #7180
You need to use the same configuration to open the file regardless of if you are online or offline.

[2021-03-18 03:33] fabriciomasiero commented on #7180
I'm using the same Realm.Configuration @tgoyne

[2021-03-18 04:09] tgoyne commented on #7180
Your code sample does not use the configuration from the user to open the Realm in the failing case.

[2021-03-18 09:15] jesusmateos1234 commented on #7122
@tgoyne  @tonyarnold  @marcboquet

[2021-03-18 09:20] dianaafanador3 commented on #7122
Hello @jesusmateos1234, we've been discussing about this, considering xcframeworks zips are now consumable by SPM and this is something we will like to support, but we're still deciding the approach given that we distribute xcframeworks for different versions of xcode

[2021-03-18 09:27] jesusmateos1234 commented on #7122
@dianaafanador3 I'm not using SPM, it's other kind of dependency manager nor Carthage nor Cocoapods. I think, thats it's not very complicated to split the zip in more zips. @tgoyne @tonyarnold @marcboquet

[2021-03-18 09:52] finnschiermer commented on #7175
We run massive competing writes periodically as well and with much larger realm files, but haven't hit this issue, so there has to be more to it. Perhaps running low on memory is an important part of this.

[2021-03-18 11:25] DominicFrei commented on #5475
The PR mentioned above is now on hold since we need to do some re-works first to the read-only realms: https://github.com/realm/realm-core/issues/4528

[2021-03-18 13:06] fabriciomasiero commented on #7180
So I need to persistent the user to login offline?
How I get the user when I'm offline?

[2021-03-18 15:58] tgoyne commented on #7180
`app.currentUser` is persisted between runs of an application. The initial login requires being online, but subsequent launches do not.

[2021-03-18 16:46] bzdybowicz opened #7181 "Setting 'objectClasses' property of RLMRealmConfiguration breaks objects invalidation."
Setting 'objectClasses' property of RLMRealmConfiguration break 'isInvalidated' property, which returns false for deleted objects. Calling 'rlmValidated' on given object throws an exception.

## Expected Results
'isInvalidated' returns true for deleted objects.

## Actual Results
'isInvalidated' returns false for deleted objects if objectClasses are set.

## Steps for others to Reproduce
Just copy

[2021-03-18 17:00] Nwachuks commented on #4843
Any updates on this please? When I delete the previous user's details and a new user logs in, the old user's details are re-instantiated, causing a crash.

[2021-03-18 17:11] LeffelMania commented on #7157
This is a problem for us as well. We'll unfortunately be pinning our pod to a previous version until this can be resolved.

[2021-03-18 20:38] mrmillmill commented on #6587
The mac download of the latest version for Realm studio continuously stops downloading after 0.1 or 0.3 / 99.9 mb. Cannot figure out how to download.

[2021-03-19 12:30] finnschiermer commented on #7175
@igorvoytovich We are actively investigating this issue, and I hope to be able to have an answer to your question (about wait or roll back) next week.

[2021-03-19 12:36] igorvoytovich commented on #7175
@finnschiermer thank you very much, I really appreciate it. Please feel free to contact me in case of any questions.

[2021-03-19 13:04] dfg-1310 commented on #7179
Thanks, @jsflax for your reply!

I think, Realm.deleteFiles(for: Realm.Configuration) method is not in Realmswift version '2.8.1'.

Do you have an idea how I can delete DB files in Realmswift version '2.8.1'?

[2021-03-20 03:16] dheeraj-singh511 opened #7183 "App crashed during realm access when app in background"
## Goals
App should not crash when realm is accessed in background

## Expected Results
App should not crash when realm is accessed in background

## Actual Results
 App crashed when randomly accessing realm in background

**stack trace**
Date/Time:       2021-03-19T14:35:10.999Z
Launch Time:     2021-03-19T14:14:19Z
OS Version:      iPhone OS 14.2 (18B92)
Report Version:  104

Exception Type:  SI

[2021-03-21 12:13] erdem-inan commented on #6983
Hello ! I am experiencing exactly the same issue with exactly the same case.
First opening everything is working as excepted and relauching the app after 30-60 minutes, the app crash with exactly the same error.

In my case I don't have any read-only realm, they are all read-write.
I see that opening the Realm using AsyncOpen() can help with that, but I am really interested in using the Realm(conf

[2021-03-22 01:20] liuxuan30 opened #7184 "Expect realm update notify is modification, but get insertion instead"
So imagine we have a Shelf Object type and Item Object:
[code]
This is how I add them into Realm:
[code]
**Both shelf and item use its name as primary key**

The idea is if an item is updated its shelf, remove it from old shelf and add into the new one.
`getRealmShelf` and `getRealmItem` will fetch an existing one by the primary key, or create a new one if not exist.

Then I have an UITableView to

[2021-03-22 01:29] liuxuan30 commented on #7184
I also write a UT to make it simple:
[code]
and it seems the  UT is unstable, seems Realm would combine the three writes into a single write, or twice, instead of a mofication.

sometimes the UT will fail at

saying e2 is not fulfilled, meaning only `initial` get called, and no `update` branch.

could I also ask how to improve the UT to test what I wanted?

[2021-03-22 02:50] liuxuan30 opened #7185 "Reversed LinkingObjects cannot get realm update notification"
I had another question not sure if it's bug or by design (get another question about realm update in https://github.com/realm/realm-cocoa/issues/7184)

So the schema is same as #7184: I have a Shelf Object type and Item Object:
[code]
This is how I add them into Realm:
[code]
**Both shelf and item use its name as primary key**

I notice that during test, if the item's shelf is changed,
e.g. `write

[2021-03-22 03:38] liuxuan30 commented on #7185
also got a UT:
[code]
currently the UT will fail at `wait(for: [e1, barrier], timeout: UTTimeout)` because cannot get an update call on item

[2021-03-22 08:16] igorvoytovich commented on #7175
@finnschiermer @tgoyne Hello guys! We left the phone connected to Xcode overnight, and we were able to catch this crash. Below I attach a screenshot of the crash itself from Xcode:

![Screen Shot 2021-03-22 at 10 12 56 AM](https://user-images.githubusercontent.com/47663430/111959631-64585d80-8af7-11eb-888c-7d380800d7d8.png)

I hope this information will be useful to you. Thanks.

[2021-03-22 08:27] finnschiermer commented on #7175
@igorvoytovich FYI we have a tentative fix in development. You can follow it here: https://github.com/realm/realm-core/pull/4534

[2021-03-22 09:53] leemaguire commented on #7164
@ragu-pth as you are calling `private func realm(storageType: DatabaseService.StorageType) -> Realm?` from different threads the issue is most likely related to another thread having a lock on the Realm file that you want to open. The solution here would be to have your Realm bound to only one thread at a time. This can get messy fast, it would be better to use GCD for this kind of scenario. You c

[2021-03-22 09:58] leemaguire commented on #7156
Closing this issue as information has been provided to the user.

[2021-03-22 09:58] #7156 closed

[2021-03-22 10:10] leemaguire commented on #7146
@dheeraj-singh511 are you using `Realm.asyncOpen`? If not this can help you here.

[2021-03-22 10:21] leemaguire commented on #7129
@jln19 would it be possible to inspect the app's sandbox after the upgrade and see if the Realm file exists?

[2021-03-22 10:33] finnschiermer commented on #7175
The fix is about how we handle an error condition when we're close to running out of memory. Likely implication: even if we fix this error, your app may fail shortly after, in a different way, due to the same underlying problem: using too much memory. You might be able to investigate this problem without waiting for our fix.

[2021-03-22 10:41] igorvoytovich commented on #7175
@finnschiermer

Thanks for your reply.

I'm pretty sure lack of memory is not the reason in our situation. As you can see in the crash screenshot above, our application uses memory efficiently and in total 100 MB was used.

Please correct me if I'm wrong.

[2021-03-22 10:41] leemaguire commented on #7068
@KimiChiu could you give us a larger code sample that refers to your last comment? also a full stack trace that leads up to the exception?.

[2021-03-22 10:46] leemaguire commented on #7018
Since 10.7.2 we do have a fix for syncing large datasets. `During integration of a large amount of data from the server, you may get "Assertion failed: !fields.has_missing_parent_update()" (Core #4497, since v6.0.0)` Could you check if this solves your issue @miklselsoe @georgesjamous

[2021-03-22 11:28] leemaguire commented on #7011
I cannot reproduce any crashes with the given code samples on 10.7.2 @Tynox @gshahbazian @qgliu could you update and see if this solves your issue? Thanks

[2021-03-22 11:52] finnschiermer commented on #7175
Thx. That is obviously an indication that the fix may not address your error. We took the clue from @jpstern who commented about low memory higher in this issue. Perhaps we're dealing with two different issues then.

[2021-03-22 12:57] igorvoytovich commented on #7175
@finnschiermer

Then I think maybe we should rollback to some old version to check if there will be a problem there?
For example, version 5.5.0 (https://github.com/realm/realm-cocoa/blob/master/CHANGELOG.md#550-release-notes-2020-10-12).

We have no options why this problem may arise and what to do with it, for all metrics Realm works well and quickly.

I can describe in more detail how we use Rea

[2021-03-22 14:57] RicardoBarroso opened #7186 "Last "realm-cocoa" version incorrect on Release Notes"
Hi all!

Looking at the last [Release Notes](https://github.com/realm/realm-cocoa/releases), the last version number is v5.5.1
(7ec5df0) when the previous version was  v10.7.2 (ae8e646).

I'm not aware of the project but from what I've seen on https://github.com/realm/realm-cocoa/commit/7ec5df0a700ef76ad930dcedb9c63c1b354979e1 this seems like a kind of limitation on publishing new versions. If so

[2021-03-22 15:19] leemaguire commented on #7186
@RicardoBarroso Thanks for your feedback, we will keep it in mind. v5.5.1 was a back-ported release that addressed a few issues. v10.7.2 is what you should use if you are developing with Realm from now on. If that is all, would you mind closing the issue? Thanks!

[2021-03-22 15:59] chajuss commented on #6907
Using Version 10.1.2 (10.1.2.43) solved the issue. Thanks!

[2021-03-22 17:55] #7186 closed

[2021-03-22 18:07] tgoyne commented on #7175
It sounds like It sounds like https://github.com/realm/realm-core/pull/4534 is unlikely to help you (and if you were actually hitting the problem it fixes it wouldn't help much; gracefully reporting an error rather than crashing still usually doesn't leave the app in a working state). That's unsurprising as it was basically just a blind stab at finding a problem and fixing the first thing I found.

[2021-03-22 18:17] igorvoytovich commented on #7175
@tgoyne

Thanks for your reply.

We had suspicions about this particular function, that is, we use it in several places, and often the update can affect up to several hundred objects (for example, messages in our case) at a time.

There are also suspicions that the forced refresh of Realm can affect, since we do it quite often. But, as far as I know, and as we understood from the documentation, th

[2021-03-22 18:18] adamk77 opened #7187 "Crash after updating to 10.0.0 from 5.5.0"
## Goals
To successfully update Realm from 5.5.0 to 10.0.0

## Expected Results
App works without crashing.

## Actual Results
App crashes with stack trace below:

[code]

## Steps for others to Reproduce
Install app compiled with Realm 5.5.0
Update to Realm 10.0.0 and launch app

## Code Sample
Crashes when executing: `return try Realm()`

## Version of Realm and Tooling
Realm framework version:

[2021-03-22 18:23] adamk77 commented on #7187
May have to do with some changes to the schema.  I'll reopen once I can figure out what changes to the schema leads to this crash.

[2021-03-22 18:23] #7187 closed

[2021-03-22 18:25] dianaafanador3 commented on #7187
Hi @adamk77 if you do get a crash after figuring it out which changes to the schema lead to this issue, let us know and we will answer as soon as possible.

[2021-03-22 18:28] obianachebe commented on #6983
@erdem-inan updating to version 10.7.2 fixed the issue for me

[2021-03-22 20:10] tgoyne commented on #7175
Explicitly calling `refresh()` will block the main thread until the notification worker is done processing a write, while otherwise we delay notifying the main thread until that's done so that it can continue to process user interaction. It otherwise behaves identically to automatic refreshes.

Resolving a ThreadSafeReference which was created at a later version than the local Realm is at just cal

[2021-03-22 20:26] tgoyne commented on #7175
You've only seen this on iOS devices and not in the simulator, right? The xover mapping logic is full of atomics that *look* right, but a bug in them which is hidden on x86 by the stricter memory model would make a lot of sense.

[2021-03-22 20:29] igorvoytovich commented on #7175
@tgoyne

Yes, we see this crash on real devices. On our side, we were able to reproduce it on iPhone SE 2020, iOS 14.4

[2021-03-22 20:43] igorvoytovich commented on #7175
@tgoyne
Thank you very much for your detailed explanations. I really appreciate it.

[2021-03-22 23:14] tgoyne commented on #7175
One thing I notice is that one of the stack traces is showing a write transaction being cancelled due to the RLMRealm being deallocated while in a write transaction. Is that a thing you expect to have happening sometimes?

Does the device which reproduced it have free disk space? I doubt that's the problem but just to eliminate it as a possibility...

[2021-03-23 10:33] dianaafanador3 commented on #7184
Hi @liuxuan30, I see you have two open similar issues, Im closing this one https://github.com/realm/realm-cocoa/issues/7185?, and i'll address both questions/issues here. I'll try to get to you as quickly as possible.

[2021-03-23 10:33] dianaafanador3 commented on #7185
Duplicate of #7184

[2021-03-23 10:36] #7185 closed

[2021-03-23 10:52] liuxuan30 commented on #7184
@dianaafanador3 this is kind of different issues, I'm ok if you close one, jus making sure you understand

[2021-03-23 10:53] liuxuan30 commented on #7184
this one is kind of not able to get modifications, #7185 is about not able to get "notification" at all, on LinkingObejcts

[2021-03-23 10:56] dianaafanador3 commented on #7184
Hi @liuxuan30 I'll address both question/issue here, given that is the same code

[2021-03-23 11:01] igorvoytovich commented on #7175
@tgoyne

We were able to reproduce this on a test device with over 50GB of free disk space, which we use exclusively for testing our application.

As for RAM memory, according to Xcode, our application consumes no more than 100-110 MB with active use, which is no more than 3-4% according to Xcode analytics.

[2021-03-23 11:03] dianaafanador3 commented on #7183
Hi @dheeraj-singh511 can you update to our latest version 10.7.2, there is some bugs fixed concerning background access and maybe will help, if this is not the case, can you maybe attach some code from "ContacmyAppdel.swift" on how you are accessing the object/property

[2021-03-23 11:21] dianaafanador3 commented on #7179
Hi @dfg-1310 Can you update to latest Realm version 10.7.2?, Latest version provides a way to delete the local realm file.
If you can't update to our latest version, you can replicate what we are doing on `deleteFiles(for: Realm.Configuration)`
[code]

[2021-03-23 11:23] dianaafanador3 commented on #7176
@peterkuch  can you add any information about this issue?

[2021-03-23 11:34] dianaafanador3 commented on #7169
Hi @owenzhao can you update to latest ream version 10.7.2 there are some issues regarding background writing fixed on our latest releases.

[2021-03-23 11:38] dianaafanador3 commented on #7184
Related to this issue https://github.com/realm/realm-cocoa/issues/7185

[2021-03-23 12:44] erdem-inan commented on #6983
Hey @obianachebe !
Thanks for the reply,
but I am still getting the issue on my side with version 10.7.2, with exactly the same case

Thanks for the help

[2021-03-23 13:00] jesusmateos1234 commented on #7031
@jsflax @tgoyne it's seems that not work ... Maybe it would solved for my case if this FR would be resolved https://github.com/realm/realm-cocoa/issues/7122

[2021-03-23 13:09] jesusmateos1234 commented on #7122
@tgoyne @dianaafanador3 @tonyarnold @marcboquet We could move this topic please? It took us 5 minutes to pass 5 unit test cause the rebuild in our CI server ... Download 280 MB is not a good solution at all. We launch test on our CI every 3 minuts.

Please, we'll in love if you could support it (it's only a split of zip and added the xcframeworks to assets like other repositories have done)

[2021-03-23 13:13] dianaafanador3 commented on #7122
Hi @jesusmateos1234 I'm working on this, I'm so sorry is taking so much but we do have some other issue with higher priority, but definitely we are taking care of it.

[2021-03-23 13:17] jesusmateos1234 commented on #7122
Thanks for all @dianaafanador3 !!! 😋

[2021-03-23 13:21] dianaafanador3 commented on #7181
Hi @bzdybowicz this is happening because our Realm (Objective-C) is not enable to receive a swift class as an option for the configuration `objectClasses`.
As we already support a Swift SDK, we suggest instead use `Realm.Configuration`, as the example below
[code]

[2021-03-23 15:26] ananfang opened #7188 "The result of sort with multiple fields will not be consistent"
## Goals

Sort documents by multiple field when using MongoDB collection find or aggregate.
e.g. {$sort: {createdAt: -1, username: 1}}

## Expected Results

First sort by createdAt in descending order and then sort by username in ascending order.

## Actual Results

Since Dictionary in Swift or NSDictionary in Objective-C is unordered collection, the order of {$sort: {createdAt: -1, username: 1}}

[2021-03-23 15:29] dianaafanador3 commented on #7188
HI @ananfang can you give us more info about this?, maybe an example of what you want?

[2021-03-23 15:37] ananfang commented on #7188
@dianaafanador3 Sorry for mistake, I've updated more information.

[2021-03-23 15:53] dianaafanador3 commented on #7188
Hi @ananfang thanks for the update, I'll check this and will get back to you.

[2021-03-24 00:06] owenzhao commented on #7169
@dianaafanador3 Sure. However, since the issue is random, I can not for sure immediately whether the issue is fixed or not. It may take days even weeks to find out.

[2021-03-24 01:15] liuxuan30 commented on #7184
yeah the schema definition is the same, it's just that I ran into different issues. thank you

[2021-03-24 04:19] ananfang commented on #7188
I've tested again, and here is the result

[code]

I ran this query three times, and the sort order was different each time:
1st: {username: 1, name: -1, brief: 1, updatedAt: -1}
2nd: {updatedAt: -1, brief: 1, name: -1, username: 1}
3rd: {brief: 1, username: 1, updatedAt: -1, name: -1}

[2021-03-24 10:59] dianaafanador3 commented on #7188
Hi @ananfang as you can see if you query the collection the resulted `[Document]` contains an array of `Dictionary<String, AnyBSON?>`, dictionaries are not intended to be ordered, so we cannot guarantee the order of the resulted dictionary.

If you want control over which properties of the collection to return you can use `projections`
https://docs.mongodb.com/manual/reference/method/db.collection

[2021-03-24 11:02] dianaafanador3 commented on #7169
Hi @owenzhao I'm gonna close this for now, if you do get a crash later on, you can open it again and we'll take a look.

[2021-03-24 11:02] #7169 closed

[2021-03-24 12:15] ananfang commented on #7188
Yes, I want to order the documents in the result set. And if I use mutiple sort options (e.g. {fieldA: 1, fieldB: -1, fieldC: 1}), eventually it will not guarantee the order of sort options, since Dictionary in Swift is unordered collection.

But the order of sort options is important, different order will result different documents in return. I'vd tested, and found the order is not consistent bas

[2021-03-24 12:24] ananfang commented on #7188
@dianaafanador3
I think this issue should be reopen (I just left the reason above), but I can't.

Could you help me to reopen this issue?

[2021-03-24 14:30] dianaafanador3 commented on #7188
Hi @ananfang so sorry, i misunderstood your question.
In case of comparing values of different BSON types, mongodb uses the following comparison order, from lowest to highest
[code]
You can find the complete documentation here.
https://docs.mongodb.com/manual/reference/method/cursor.sort/#sort-asc-desc

[2021-03-24 15:31] #6617 closed

[2021-03-24 15:34] #6496 closed

[2021-03-24 15:34] tallada opened #7189 "Crash in realm::DB::grab_read_lock at app's didFinishLaunchingWithOptions"
For a while we've been observing assertion crashes in `realm::DB::grab_read_lock` from some of our users on app launch. The crash occurs the first time some objects are read from the realm

We're unable to reproduce the issue, this is what we know:

- Users may launch the app after this crash and it will work normally
- The realm and its containing folder file protection is set to `.completeUntilF

[2021-03-24 15:39] #6957 closed

[2021-03-24 15:46] #7041 closed

[2021-03-24 15:51] #6308 closed

[2021-03-24 15:51] #6684 closed

[2021-03-24 15:56] bmunkholm commented on #6739
@juanjo72 I believe what Pavel refers to is that "Realm Object Server" is now legacy, and we encourage to upgrade to MongoDB Realm (which is the successor). It's out of beta now, so I would suggest upgrading if you can.

[2021-03-24 15:57] #6739 closed

[2021-03-24 18:22] #7076 closed

[2021-03-24 18:47] #6907 closed

[2021-03-25 09:54] ananfang commented on #7188
@dianaafanador3 The sort order I mentioned is **NOT** BSON type sort for the same field.

Let me describe more detail with example data and sample code.

First, if we have the following data:
[code]

And then using the MongoDB Realm iOS SDK directly access to MongoDB.
[code]

And you'll find that every time you execute the "find" query, the documents in return will be in different order. Because t

[2021-03-25 09:56] dianaafanador3 commented on #7188
Hi @ananfang thanks for the invite to the repo, I'll take a llok at it as soon as possible.

[2021-03-25 10:04] dianaafanador3 commented on #7189
Hi @tallada Thank you for giving so much detailed information about the crash. It doesn't seem like you are doing anything different from opening a realm and read from it, I'll take a look at your code and let you know if I'm able to reproduce it.

[2021-03-25 13:18] jedelbo commented on #7111
Unfortunately there is too little info in the stack dump to figure out what could be wrong. We would need an actual file.

[2021-03-25 14:21] flipbosch commented on #6942
@jsflax  are you sure this is always handles automatic. This is not our experience. For example if you have to terminate Sync, you will get an error:

[code]

And also without terminating there are some hard to reproduce (not the happy) flows that we get client where his client is out of Sync. Reinstalling the app will help, but indeed cause dataloss. So I think more documentation about this shoul

[2021-03-25 23:43] #7165 closed

[2021-03-27 21:59] #6916 closed

[2021-03-29 10:33] piellarda commented on #7181
@dianaafanador3 The issue is the same with an ObjC class.

[2021-03-29 10:35] dianaafanador3 commented on #7181
Hi @piellarda, can you show me your code, the issue happens when using `RLMConfiguration` from swift, the below code works using Configuration instead of `RLMConfiguration`, i haven't tested code in objective-C

[2021-03-29 10:56] piellarda commented on #7181
@dianaafanador3 You can find it [here](https://github.com/kolibree-git/Realm-test).

[2021-03-29 10:58] dianaafanador3 commented on #7181
Hi @piellarda same issue on https://github.com/kolibree-git/Realm-test/blob/main/Realm-test/AppDelegate.swift, we have a Swift SDK, `RLMConfiguration` is not meant to be used from Swift. Instead test using RealmSwift.Configuration to setup ypur `objectTypes`

[2021-03-29 11:12] piellarda commented on #7181
What about https://github.com/kolibree-git/Realm-test/blob/main/Realm-testTests/DummyTest.m ?

[2021-03-29 11:34] dianaafanador3 commented on #7181
Hey @piellarda I'll take a look at that and let you know what i find, thanks for code

[2021-03-29 16:13] nobur opened #7192 "Missing mandatory realm fields in atlas when set to "base" value."
## Goals
we don't try to achieve any thing special. we just ace a sync issue.
In Realm Schema, if some fields are tagged "Mandatory" but value entered are an empty string, a 0 value for an int or a false value for a bool, those filed are not passed to Atlas document.

This behavior breaks the sync!

## Expected Results
having all mandatory fields synchronised to Atlas documents.

## Actual Results

[2021-03-29 16:52] budikpet opened #7193 "Some Carthage flags are probably ignored"
## Goals

Unexpected behaviour when downloading realm-cocoa using Carthage.
Flags ```--platform``` and ```--use-xcframeworks``` seem to be ignored.

## Expected Results

If both flags were to function then *Carthage/Build/Realm.xcframework* folder.
If at least ```--platform``` was to function then *Carthage/Build/iOS/Realm.framework* folder.

## Actual Results

The following folder structure is cr

[2021-03-29 16:54] budikpet commented on #7193
Also it seems that #7031 is already handeling ```--use-xcframeworks``` flag.

[2021-03-29 17:03] tgoyne commented on #7193
We don't have any sort of influence on what Carthage decides to build and you should report issues you have with it to them.

[2021-03-29 17:14] budikpet commented on #7193
@tgoyne Ok, I'll try. I have no idea how Carthage actually does the building behind the scenes and realm-cocoa is the only framework I had problems with so far.

[2021-03-30 00:03] nirinchev commented on #7192
This is a duplicate of https://github.com/realm/realm-dotnet/issues/2165. We'll leave the Cocoa issue open so that people using the Swift SDK can discover it easier, but linking just for the record.

[2021-03-30 08:25] #6986 closed

[2021-03-30 08:33] leemaguire commented on #7193
Closing as this is a Carthage issue, not a Realm issue.

[2021-03-30 08:33] #7193 closed

[2021-03-30 09:15] leemaguire commented on #7112
Hi @Fab1n Would you be able to share some code showing what you are doing in `didEnterBackground `? Also are you able to track that `applicationWillTerminate ` is being called? Are you doing anything in that delegate method? Also note that if a task takes longer than 5 seconds when terminating an app the OS may kill the process altogether. https://developer.apple.com/documentation/uikit/uiapplicat

[2021-03-30 09:56] leemaguire commented on #7078
Hi @TheLuckyWan is it possible that `let dateRange = [date1, date2]` contains optional dates?

[2021-03-30 10:10] leemaguire commented on #7036
@versoworks I'll talk with the team about being able to have a synced Realm in an App Group to see if its feasible. One thing to possibly consider is to not create a new Realm on each Siri intent, but instead to Reuse an existing Realm for this purpose and specify a partitionValue for the users Siri intent. That way the short lived process can complete and the sync can be processed at a later date

[2021-03-30 10:16] leemaguire commented on #6605
Currently with the way our property accessors work you need to match the schema in the cloud. If you would like to use `partition` instead of `partition` then I would suggest to create `partition` as an ignored property and specify `get` `set` to `_partition`

[code]

[2021-03-30 10:17] #6605 closed

[2021-03-30 10:19] leemaguire commented on #7149
Closing as there has been no response from the user and the fact we are currently working on property wrappers.

[2021-03-30 10:19] #7149 closed

[2021-03-30 10:20] leemaguire commented on #7144
Closing as sufficient information has been provided.

[2021-03-30 10:20] #7144 closed

[2021-03-30 10:39] leemaguire commented on #7100
I would think the RX library might be doing something related to holding Realm versions and not cleaning them up correctly

[2021-03-30 10:42] leemaguire commented on #7097
@rlabr Do you have any app extensions? Have you setup NSFileProtection? https://realm.io/docs/swift/latest/#using-realm-with-background-app-refresh

[2021-03-30 10:44] leemaguire commented on #7008
@hijamoya We need more information, could you open a new issue and fill out the template? Thanks

[2021-03-30 20:01] Fab1n commented on #7112
Hi @leemaguire, thanks for your response!
It is not possible to show what we are doing in `didEnterBackground` because our app does so much stuff asynchronously that it is impossible to deduce what happens after entering background.

In short: The app can do a lot in `didEnterBackground` and after that call. When some jobs finish during that time, realm results can be read or stuff gets written to

[2021-03-30 20:01] Fab1n commented on #7112
sorry... didn't want to close... It's up to you to decide.

[2021-03-31 02:23] versoworks commented on #7036
@leemaguire cheers for the follow up. At this point, we're resigned to not allow synced Realms to be created by Siri as the issues I've outlined make them unreliable. While I admit to not knowing the technical limitations behind not allowing the file path of a synced Realm to be specified, I would argue to your Team that given that sync is how Realm is monetised, removing barriers to use would be

[2021-03-31 07:12] hijamoya opened #7194 "Crash in RLMGetObject"
!!! MANDATORY TO FILL OUT !!!

## Goals
Do not crash

## Actual Results

[code]
[code]
[code]

## Steps for others to Reproduce

No specific path, it happens in some of our users.

## Version of Realm and Tooling

Realm framework version: 10.4

Xcode version: 12.4

iOS/OSX version: 14.4.1, 13.3

[2021-03-31 08:43] bdkjones commented on #1186
Is `embeddedObject` the end of the story here? This blog post makes it sound like Realm thinks Cascading Deletes are now a solved problem: https://developer.mongodb.com/article/realm-database-cascading-deletes/

But...they aren't. The limitation that `EmbeddedObject` can't be queried directly makes them far less useful. And other object-graph frameworks such as Core Data (which is what I'm coming

[2021-03-31 08:44] leemaguire commented on #7194
Hi @hijamoya Can you give us a code sample showing how you are using Realm? Do you have any bigger stack traces related to this issue?

[2021-03-31 08:47] leemaguire commented on #7096
Closing as there has been no further response from the author.

[2021-03-31 08:48] #7096 closed

[2021-03-31 08:51] leemaguire commented on #6993
Doing work in `applicationWillTerminate` is not something I would recommend as you only have about 5 seconds to get your work done until the OS terminates your app. https://developer.apple.com/documentation/uikit/uiapplicationdelegate/1623111-applicationwillterminate

[2021-03-31 09:32] hijamoya commented on #7194
Full trace:
[code]
list code:
[code]

[2021-03-31 10:18] KimiChiu commented on #6993
@leemaguire Sure. But you can't guarantee there's no any background thread running while `applicationWillTerminate` gets called. In my case, I start a background thread in `applicationDidEnterBackground`. So it's not about the `applicationWillTerminate`, but to finish everything before it gets called. For me, I use a semaphore to make sure everything is done.

[2021-03-31 10:49] r-plus commented on #7151
for link: https://github.com/realm/realm-cocoa/pull/7158

[2021-03-31 13:03] sidkamaria1337 commented on #6983
I was getting the same issue, but turns out that my sync'd realm was also open in Realm Browser when I was trying to run the app on the simulator. As soon as I close the Realm Browser, the issue is gone :)

[2021-03-31 13:53] #7131 closed

[2021-03-31 20:28] bdkjones commented on #1186
In my case, `Child` is just a wrapper with one string property, `foo`. (I did this because Realm didn’t appear to allow queries against `List<String>`, although that seems to be outdated information now?)

If I abandoned the `Child` objects and instead used:

[code]

Would this query be performant for ~2.5M Parent objects? —>

[code]

[2021-03-31 21:41] tgoyne commented on #1186
We don't support using `IN` in that way, but I'm guessing that `ANY foo ==[c] %@` is what you want (it is the same operation as `IN` with a constant value on the lhs and a property on the rhs would be if we supported that). How it compares performance-wise to querying Child and then getting the parent objects via LinkingObjects depends on what the ratio of Parent to Child objects is. If you have a

[2021-03-31 21:50] bdkjones commented on #1186
@tgoyne Thanks! In my case, the vast majority of `Parent` objects will have exactly one String in `foo: List<String>` and only a few will have multiple Strings in the list.

(The list items are filepaths. Most `Parent` objects have one filepath on disk, but a few have multiple paths to duplicate files.)

It sounds like

[code]

should be performant, without needing the wrapper `Child` objects that

[2021-04-01 09:36] leemaguire commented on #7194
It's to know exactly what might be happening here. Do you have a reproduction case you could give to us?

[2021-04-01 11:12] dianaafanador3 commented on #7176
Closed. More information needed, unclear information.

[2021-04-01 11:12] #7176 closed

[2021-04-01 13:28] georgesjamous commented on #7018
@leemaguire The dataset I am trying to sync is not large. Maybe a maximum of 30 objects.

Anyway, I updated to `10.7.2` but with no luck. Everything works fine on `10.4.0`.

[code]

[2021-04-01 13:44] leemaguire commented on #7018
@georgesjamous have you updated / changed your schema recently? @jedelbo @simonask does the above crash help diagnose on the sync client?

[2021-04-01 13:47] georgesjamous commented on #7018
@leemaguire
No, the last change was done on the schema 4 months ago.
I am also running a clean build of the App, so no existing schema exists on App.

[2021-04-01 13:59] leemaguire commented on #7018
@georgesjamous if this is easily reproducible, would we be able to inspect the issue from your app? you can send the code to realm-help@mongodb.com Thanks!

[2021-04-01 15:09] nalexn commented on #4818
It turned out `safelyObserve` isn't 100% safe: when you dispatch the update asynchronously, the UI elements reading data will get to know it has changed in one of the future runloop cycles, in the meanwhile maintaining the ability to access the data from the current runloop.

So if you're observing a collection and some items get removed with the update - you're guaranteed to get a crash when acce

[2021-04-01 20:00] nobur commented on #7192
Hi,

there is something that is mention in the forum that I think it is important to note here as well for those who find this issue:
The problem occurs when objects are added to realm with the parameter `.modified`.

the source => https://developer.mongodb.com/community/forums/t/i-cannot-synchronize-data-between-mongodb-atlas-cluster-and-client-application/10075/9

regards.

[2021-04-02 00:52] bdkjones commented on #1101
I realize this is an old thread, but it would be REALLY handy if stuff like this were documented *right up front* for Realm. Important details like, "You have to use the default `init()` method on `Object` subclasses" is something to tell folks right away, in the "Welcome to your first Realm project" tutorials. Otherwise, you spend hours writing your own `init()` methods only to get a crash and th

[2021-04-02 01:06] bdkjones commented on #6340
@eliburke Agreed. It's 1.5 years later, and I keep finding all sorts of little Realm "gotchas" that don't seem to be officially documented and require digging through ancient GitHub issues to discover. This is the latest. Strongly recommend that the "Welcome To Realm" tutorials cover basic things like this. Enums are very common.

[2021-04-02 01:53] bdkjones commented on #1109
7 years and counting.

[2021-04-02 02:14] tgoyne commented on #6340
[A list of the supported types, including a note that enums must conform to RealmEnum, is the majority of the documentation for the Object type](https://docs.mongodb.com/realm-sdks/swift/latest/Typealiases.html#/s:10RealmSwift6Objecta)

[2021-04-02 02:22] bdkjones commented on #6340
@tgoyne thanks. I got linked to different docs, so it’s helpful to see those. Lots of various versions out there.

[2021-04-02 07:13] georgesjamous commented on #7018
@leemaguire everything works fine on `10.4.0`.
Also within the codebase, the Realm SDK is used, so I don't see a way how the codebase could be a problem.

@miklselsoe is the sync working fine on your end?

[2021-04-02 10:20] miklselsoe commented on #7018
@georgesjamous I've not seen this particular issue for a long time. Maybe we made some schema changes at some point that  made it go away, but I can't say. We are seeing other issues such as intermittent out memory allocation errors during sync, but that's a different issue I think.

[2021-04-03 00:16] willmorris44 opened #7197 "Realm Combine Publisher Crash"
## Goals

Trying to sync my SwiftUI app using Realm Sync

/cc @simonask @tkaye407
## Expected Results

Changes on app to happen in cloud.
## Actual Results

App crashes when starting sync.
## Steps for others to Reproduce

Followed the steps here for using sync (copy pasted all code into project). My app looks exactly like the example.
https://docs.mongodb.com/realm/sdk/ios/integrations/swiftui/
-

[2021-04-03 02:24] anton-plebanovich opened #7198 "Realm crash: terminating with uncaught exception of type realm::KeyNotFound: No such object"
## Goals
I want my app to work without crashes

## Expected Results
I expected my app to not crash

## Actual Results

[code]

Console:
[code]

## Steps for others to Reproduce
I have a pretty complex setup but I can provide all details if needed. The crash reproduces with 100% frequency. A brief explanation below.

I have 2 Mongo Atlas databases. The first for public data to which all users have

[2021-04-03 08:11] anton-plebanovich commented on #7198
The other thing I noted is that when I delete leaf objects they are no longer available when I use `realm.objects(Leaf.self)` but they still exist in the container object. Do I need to delete them manually? It doesn't look right though 😕

[2021-04-03 10:31] igrechuhin commented on #6699
Realm Cocoa v10.7.2

Crashed: com.apple.main-thread
0  libsystem_kernel.dylib         0x1c184884c __pthread_kill + 8
1  libsystem_pthread.dylib        0x1de12c9e8 pthread_kill + 212
2  libsystem_c.dylib              0x19e6048f4 abort + 100
3  Moosic                         0x105f6311c realm::util::terminate(char const*, char const*, long) + 127 (__hidden#12016_:127)
4  Moosic

[2021-04-03 10:32] igrechuhin commented on #6699
@finnschiermer can you please reopen it, or give a link to another opened issues, or maybe any solution?

[2021-04-04 01:23] anton-plebanovich commented on #7198
I reworked db not use any relationships and collecting everything manually as a workaround

[2021-04-05 14:09] JonCox commented on #7157
This was problem for use too. We just manually delete the non-iOS `librealm-monorepo.a` files after updating the pods now.

[2021-04-05 20:20] igorvoytovich commented on #7175
@tgoyne hello, we caught another crash with a request to report it in the logs. Maybe somehow connected.
Here are screenshots:

![photo_2021-04-05 23 10 21](https://user-images.githubusercontent.com/47663430/113621430-47c63480-9664-11eb-8992-b215a75d2f3b.jpeg)

![photo_2021-04-05 23 10 23](https://user-images.githubusercontent.com/47663430/113622311-7bee2500-9665-11eb-99c1-4f029e8096e9.jpeg)

[2021-04-06 01:08] mkchoi80 commented on #7140
@DominicFrei The problem does not occur after updating to v1.0.7
Thanks

[2021-04-06 02:04] hijamoya commented on #7194
No, I have no idea how it happened, but the frequency is quite low.

[2021-04-06 08:32] leemaguire commented on #7013
Closing as this is not something that is actually supported. See: https://github.com/realm/realm-core/issues/4518#issuecomment-799578901

[2021-04-06 08:33] #7013 closed

[2021-04-06 10:48] DominicFrei commented on #7197
Hey @willmorris44 !

Thanks for submitting this issue. I will have a look into it and check your findings against the documentation.

[2021-04-06 11:07] DominicFrei commented on #7140
Great. Thank you for the feedback, @mkchoi80 !

[2021-04-06 11:07] #7140 closed

[2021-04-06 11:20] DominicFrei commented on #7198
Hey @anton-plebanovich !

Thanks for providing all the information. Since you already noted you can reproduce this issue 100% I think it would be a good idea to just use that as a starting point.

In case this information (code, repo, etc.) is not supposed to be posted publicly, can you send it to realm-help@mongodb.com so we can have a look at it?

Thank you!

[2021-04-06 11:22] grighakobian commented on #7112
@Fab1n The same crash appeared on my app after upgrading realm from 5.4.3 to ~> 10.6.0 version. I will downgrade the Realm version until the crash will be fixed.

[2021-04-06 11:44] anton-plebanovich commented on #7198
Hey @DominicFrei , thanks for the response. I already reworked the database and the source code for the app but I'll try to set up a demo project you can use tomorrow.

[2021-04-06 12:29] DominicFrei commented on #7198
@anton-plebanovich  Alright. :)
Glad to hear your rework works for you. No rush with the repo then. Whenever you'll be able to put something together we'll sure appreciate it! 👍

[2021-04-06 13:28] DominicFrei commented on #7197
Also, cc @simonask and @tkaye407 here since Sync is involved.

[2021-04-06 15:04] leemaguire commented on #7087
@zacwest does your extension do any write operations? What is most likely happening is that the extension is an a suspended state and has the lock on the Realm file. If the extension were to terminate the lock would be released and your app would be able to access the Realm file.

[2021-04-06 15:16] zacwest commented on #7087
Very rarely (mostly just a 1-item insertion), and always with the outer operation wrapped in a ProcessInfo performExpiringActivity call (possibly on a different thread, but existing). I'll see if I can mark it as read only and whether this will still occur.

[2021-04-07 06:42] anton-plebanovich commented on #7198
@DominicFrei sadly, I can't reproduce it anymore I tried to recreate the same setup but everything just works right now. I think we can close it as not reproducible or I can try it during the week since it might be some weird race conditions related to the network or server load I can't capture right now.

[2021-04-07 08:08] Econa77 commented on #7022
@jsflax @azhydenko The problem has been resolved. The `DEVELOPER_DIR` specification on GitHub Actions had to be the correct path.

The changes are as follows.
https://github.com/Econa77/RealmCocoapodsGitHubActions/commit/1434a667c891fa9bd39a9cdf51072046456bf303

If the path is not set correctly, it seems that the `xcodebuild` command could not be executed and an error occurred when executing the f

[2021-04-07 10:23] DominicFrei commented on #7198
@anton-plebanovich Thank you for the feedback. I'll close it then and in case you stumble upon it again I'm happy to re-open as soon as we got more information. 👍

[2021-04-07 10:23] #7198 closed

[2021-04-07 15:42] #7161 closed

[2021-04-07 15:42] #7016 closed

[2021-04-07 16:52] #7146 closed

[2021-04-07 16:52] #7129 closed

[2021-04-07 17:51] georgesjamous commented on #7018
@leemaguire  @jedelbo

I am trying to debunk my Objects and figure out which ones (s) are causing the issue to see if it is from my side.

I have a question regarding the logs. The crash is always happening after object `sync::create_object_with_primary_key(group, get_table("class_A”), 5ffc8531a0eb0c58611532bf);`

[code]

<br>

so is the object `sync::create_object_with_primary_key(group, get_tabl

[2021-04-07 18:32] georgesjamous commented on #7018
I did try something today on the Staging Environment.

On the server, Steps Taken:
1- Pause Sync
2- Terminate Sync
3- Restarted Sync

Then with a clean application Launch, the error did not happen on First Sync and everything worked fine.
I closed the app and opened it, sync started and the issue re-appeared.

[2021-04-07 19:36] georgesjamous commented on #7018
I believe I am zeroing in on the issue. What I did was is Terminate-ReEnable Sync.
Then the issue went away for the first-time sync, however started happening again on the second sync.
I did some more digging in the code as @leemaguire suggested and noticed something odd.

This is my schema
[code]

<br>

and this is how I am updating the record:

[code]

what i noticed is that the `personObject.su

[2021-04-07 20:02] reveelapp opened #7199 "Can't Pass URL for 'RLMBSON' argument - for: '.currentUser!.session(forPartitionValue:)'"
## Goals
pass a URL argument to 'forPartitionValue:' parameter for '.session(forPartitionValue:)'

## Expected Results
pass URL (or some other type) and get a session returned, on that realmURL

## Actual Results
getting syntax error since URL is not equatable to 'RLMBSON'
**ERROR:** "_Argument type 'URL' does not conform to expected type 'RLMBSON'_"

## Steps for others to Reproduce
type code: `A

[2021-04-08 01:13] ianpward commented on #7018
@georgesjamous Because you are a sync user feel free to open a support ticket in the cloud support portal as the github is generally for community support of the non-sync realm sdk is not SLA governed. I can tell you though from your error here:

You are hitting the ArrayMove issue fixed in this release:
https://github.com/realm/realm-cocoa/blob/master/CHANGELOG.md#fixed-3

The only way to fix thi

[2021-04-08 05:03] #7022 closed

[2021-04-08 10:44] DominicFrei commented on #7199
@reveelapp Thank you for submitting this issue.
Can you provide a more detailed example of what you're doing? That would be very helpful.
At the minimum I'd like to understand what you do right before the line that fails and what `realmURL` exactly is.
Thank you!

[2021-04-08 15:10] reveelapp commented on #7199
@DominicFrei

I am sorry, but I do not understand on what you mean by more details on the example. Since it is simply that one line of code will not be allowed via Xcode since 'RLMBSON' is the expected type and there is no setup for the URL to be passed. I supplied the Xcode help info the method above. This is not a run-time error but a compile error. The argument wants a URL type to be passed - t

[2021-04-08 15:29] tgoyne commented on #7199
The documentation for this function is out of date. The argument is the partition value you used to open the Realm which you want the session for, and not a URL.

[2021-04-08 15:44] reveelapp commented on #7199
Hi @tgoyne,

okay I figured docs being bad was part of the problem. Though, the Partition value supplied upon creating a Realm is of 'String' type, this method doesn't take a 'String' (as I mentioned above) - hence my mention correcting its equatable. Additionally, I could not find a way to get a 'RLMBSON' value for the Partition from the Realm, to supply it as the argument. Please let me know if

[2021-04-08 15:56] tgoyne commented on #7199
If you have a Realm instance already you should just get the sync session via `realm.syncSession`.

[2021-04-08 16:16] DominicFrei commented on #7199
Thanks for clarifying on both sides! I have updated the title of the issue and will keep it open for the necessary documentation change. 👍

[2021-04-08 16:25] reveelapp commented on #7199
Hi @DominicFrei - welcome & thanks!

Though, it is more than a doc issue, since the type required isn't available. So unless I am missing something - I see one of the three ways to correct this:
1) remove the method and only allow a 'session' via 'realm.syncSession',
2) allow the method to take a 'String' argument, or
3) update its equatable to provide a 'String' for a 'RLMBSON'

... I hope that h

[2021-04-08 18:34] tgoyne commented on #7199
App appears to be missing a Swift wrapper for that function so the obj-c version is exposed instead.

[2021-04-08 19:04] reveelapp commented on #7199
hey @tgoyne -  cool, you found it!

... have a good one!

[2021-04-09 06:22] simonboots opened #7200 "Crash in TableRecycler::~TableRecycler when Catalyst app is terminated"
## Goals
We use Realm in our Catalyst app and see a crasher in `TableRecycler::~TableRecycler` when the application is terminated.
So far, we haven't been able to reproduce the issue locally but we see about 500 crash reports per day.

From looking at the Realm code, it looks like the same table instance is somehow added to `g_table_recycler_1` and/or `g_table_recycler_2` more than once. When the

[2021-04-09 06:37] erdem-inan commented on #6983
Hey @sidkamaria1337 !
Thanks for the help, I will try that :)

[2021-04-09 07:14] MagicZP opened #7201 "Undefined symbols for architecture arm64 on OS X during Archive action"
Made a project with build targets to iOS and OS X.
Added Pods file specifying realm:
target 'project_osx' do
    use_frameworks!
    pod 'RealmSwift', '5.5.0'
end

Run pod install
Open xcworkspace, try to archive OS X project
Errors

## Goals
OS X project archiving

## Expected Results
OS X Project archives

## Actual Results
101 errors

Undefined symbol: realm::ArrayBinary::set(unsigned long, rea

[2021-04-09 10:52] DominicFrei commented on #7201
Hello @MagicZP !

Your observation is correct, this does not work with RealmSwift 5.5.0.
The issue was fixed with a later version and I just verified it with the most recent one (10.7.2) creating a multi-platform app and archiving the macOS target.

Does this work for you with 10.7.2?

[2021-04-09 11:30] DominicFrei commented on #7200
Hi @simonboots !

Thank you for submitting this issue. I've looked into the code myself as well but could not immediately figure out what exactly might be happening here. Since this is part of our core code I'll be speaking to the core team as well.

In the meantime:
Is there any additional information you can provide on what else is happening during `terminate`?
Do you do any manual clean-up, for

[2021-04-09 11:35] MagicZP commented on #7201
Hello Dominic. Thank you very much for your answer.
Could you please clarify, I'm using Realm Cloud and 5.5.0 version of realm library.
In order to use 10.7.2 do I need to migrate my data from Realm Cloud to Mongo Db Cloud?

[2021-04-09 12:07] DominicFrei commented on #7197
@willmorris44 I've worked through the tutorial myself just to make sure it works and could not reproduce the problem.

Did you try the code in https://docs.mongodb.com/realm/sdk/ios/integrations/swiftui/#with-sync ?
I've added that to my project, edited the app ID and it works fine.

[2021-04-09 23:28] homathko opened #7202 "Including objectTypes in Realm.Configuration for object with EmbeddedObject causes crash"
## Goals
I have a `RealmSwiftObject` with an `EmbeddedObject` property. My goal is to use Realm Sync and also use a local, read-only realm. So I need to specify `objectTypes` in my `Realm.Configuration`s.

## Expected Results
I specify subset classes for any configuration whether sync or local. When I specify my object that has the `EmbeddedObject` property for a Realm.Configuration involving Sync

[2021-04-09 23:40] nirinchev commented on #7202
How does `location.objectTypes()` look like? Can you try adding `EmbeddedEvent` there?

[2021-04-10 02:26] homathko commented on #7202
Sorry, `location` evaluates to an array of Object.Type. Missed swapping that bit of my code out trying to simplify it.

[2021-04-10 03:15] aehlke commented on #5618
I am currently experiencing this crash. What info can I provide? Xcode 12.4, latest realm, recent firebase

[2021-04-10 03:56] tgoyne commented on #7202
`objectTypes` needs to include all of the types used, including embedded objects.

[2021-04-10 04:00] homathko commented on #7202
That makes sense but how do I include it when it inherits from a different type? Am I missing something really, really basic here? In the example above, `EmbeddedEvent` is an `EmbeddedObject` and `objectTypes` is an array of `Object.Type`. The compiler won't accept it.

[2021-04-10 15:16] tgoyne commented on #7202
`objectTypes` is an array of `ObjectBase`, which is the common base class of `Object` and `EmbeddedObject`.

[2021-04-10 15:44] homathko commented on #7202
Thanks, I was able to find the reference eventually 🙄  however, I can't seem to convert the types. I've attempted casting `EmbeddedEvent.self as Object.Type`..It still won't compile

[2021-04-10 16:20] homathko commented on #7202
I figured it out. `objectTypes` is `[ObjectBase.Type]`. Not `[Object.Type]`. Nailed it. Totally did not nail it.

[2021-04-11 02:04] versoworks opened #7203 "Realm Sync Permissions and RLMSyncSession::errorHandler Issue"
disregard; it was an issue on our end.

[2021-04-11 02:49] #7203 closed

[2021-04-12 10:00] DominicFrei commented on #7201
Yes, @MagicZP, unfortunately you would have to migrate. `v10` is not compatible with legacy Realm Cloud which will be discontinued in 1 November 2021. Further information about that can be found in https://docs.realm.io/realm-legacy-migration-guide/

[2021-04-12 16:31] gongzhang commented on #6699
@igrechuhin I encountered the exact same problem. Do you have a solution yet? 🤔

[2021-04-12 17:12] gongzhang opened #7204 "Crash when open a Realm file"
## Goals
Try to open a realm file in global dispatch queue.

## Expected Results
Realm is open, or throw an Swift `Error`.

## Actual Results
Crashed in `Realm.init()`.

[code]

## Steps for others to Reproduce

This crash was collected through analytics and affects about 1% of users. I was unable to reproduce the issue in a development environment. However, the crash occurs 100% of the time for u

[2021-04-12 17:20] jsflax commented on #7204
Considering that this only happens for a tiny percentage of users and it happens 100% of the time for them, my first assumption is that the users' Realm files have become too large to open in memory. The code you're using to generate the Realm isn't doing anything interesting, but it does imply that there is some amount of data duplication happening.

Does this seem plausible?

[2021-04-12 17:29] gongzhang commented on #7204
@jsflax Thanks for the quick reply! I happen to collect the database file size in crash report and I see 131KB and 262KB. I'm so tempted to upload the whole db now. 😅

[2021-04-12 18:44] levelchanger opened #7205 "asyncOpen never returns"
!!! MANDATORY TO FILL OUT !!!

## Goals
Open Realm and sync

## Expected Results
Open Realm and sync

## Actual Results
asyncOpen never calls the completion handler

## Steps for others to Reproduce
I recently had to terminate sync in the Realm UI and restart it. Since then, if I re-install my app and login, asyncOpen never returns. My code hasn't changed. It seems terminating sync is the problem.

[2021-04-12 20:29] willmorris44 commented on #7197
So I copy pasted that code and I am still getting the crash. I found out why though. It appears my schema was wrong so for some reason when syncing, the error resulted in an app crash (is this intended?). To fix, I deleted my Realm schemas and put into Dev mode (for the auto schema). The app now works.

[2021-04-13 11:16] #7202 closed

[2021-04-13 11:18] jsflax commented on #7205
How are you logging in the user? It looks like the sync client is unauthorised.

[2021-04-13 16:13] levelchanger commented on #7205
I use Firebase for authentication. This all worked just fine until I had to terminate sync and start it again. Please see support tickets  00764096 and 00765990 to get the background on this. In any case, it doesn't seem that asyncOpen should go off and never call the completion handler.

[2021-04-13 17:12] levelchanger commented on #7205
Well, this morning I can login and asyncOpen works. This appears to be a problem on the server side as I suspected. It just seems that asyncOpen should timeout if there is a problem.

[2021-04-13 17:12] #7205 closed

[2021-04-13 17:54] emreond opened #7207 "RealmStudio Invalid top array Error"
## Goals

Resolve the error and see my realm database on realm studio

## Expected Results
See any data on realm studio.

## Actual Results
<img width="1679" alt="image" src="https://user-images.githubusercontent.com/38240522/114597884-f63c2c00-9c99-11eb-9f85-2c1e17704a70.png">

## Steps for others to Reproduce

Just uninstall app, clean/build and try to open realm file with RealmStudio.

I just i

[2021-04-13 20:17] jadar commented on #2970
Any movement on this? It's been just over 5 years since this was opened. Not having a basic feature like this is pretty surprising. Foundation has `localizedCaseInsensitiveCompare(_:)`. Seems like this should be the default string sort behavior anyways.

[2021-04-13 20:26] julianD77 commented on #5618
@aehlke Yes, could you post details of the specific versions of the Realm SDK and Firebase Performance Monitoring SDK that you are using please?

[2021-04-14 04:41] MagicZP commented on #7201
Thank you very much Dominic!

[2021-04-14 04:41] #7201 closed

[2021-04-14 08:10] gongzhang commented on #7204
Hi, @jsflax 😎 I finally collected a sample of the database that caused the crash. When I tried to open this database file (190KB) using latest MongoDB Realm Studio (10.1.2) on my Mac, the Realm Studio always got stuck on a blank page.

![image](https://user-images.githubusercontent.com/4470629/114674990-5c788b80-9d3a-11eb-8840-5f97e38e1db6.png)

But I don't quite know how to use this sample db to

[2021-04-14 11:58] Serikios opened #7208 "can not install realm into swift proj"
~ pod install
Analyzing dependencies
Downloading dependencies
Installing Realm (10.1.4)
[!] /bin/bash -c
set -e
sh build.sh cocoapods-setup

WARNING: The active Xcode command line tools, as returned by 'xcode-select -p', are not from Xcode.
         The newest version of Xcode will be used instead.
No version of Xcode could be found

can you help me?

[2021-04-14 12:02] Serikios opened #7209 "Swift package < realm cocoapods"
Hi, after cancellation of install realm by cocoapods, i tried use a realm via swift package.
Whilte using DB via package i noticed that data in my app not changing dynamically. It means that i should rebuild my ios app to see the latest data changes in RealmDB. So, anyone can explain me that?

[2021-04-14 14:06] igrechuhin opened #7210 "Index out of bounds."
!!! MANDATORY TO FILL OUT !!!

## Goals

No out of bounds.

## Expected Results

No out of bounds.

## Actual Results

Undefined behavior.

## Steps for others to Reproduce

## Code Sample

[code]

# Error 1
/SourcePackages/checkouts/realm-core/src/realm/db.cpp: runtime: Undefined Behavior: Index 231 out of bounds for type '(anonymous namespace)::Ringbuffer::ReadCount [32]'

Out of bounds index
#0

[2021-04-15 02:50] versoworks opened #7211 "`RLMSyncSession::errorHandler` issue"
## Expected Results
When all sessions are revoked via the Realm admin console, the client receives a notification via the `RLMSyncSession::errorHandler`

## Actual Results
In our testing, no error is received via the `RLMSyncSession::errorHandler`

## Steps for others to Reproduce
Log a user in to a sync session.
Close the client without directly logging out the user.
Go to the Realm admin console

[2021-04-15 07:43] igrechuhin commented on #6699
@gongzhang unfortunately I don't have one. However we've noticed that if user is "fortuned" to get this crash, then it will always crash for that user. So, we mark it and on the next launch completely delete Realm database. We can do it since it's possible for us to sync all data once again from backend. Not a solution, but workaround that increases our crash-free.

[2021-04-15 14:17] dianaafanador3 commented on #7179
Closing this as there is no response from the user

[2021-04-15 14:17] #7179 closed

[2021-04-15 14:57] dianaafanador3 commented on #7122
Hi @jesusmateos1234, we have this pull request https://github.com/realm/realm-cocoa/pull/7195 on waiting for a next release, this will create a Carthage.xcframework product onto our tagged release version assets. Would this be useful for your use case?

[2021-04-15 15:07] jesusmateos1234 commented on #7122
@dianaafanador3 this approach is not fine for us. Please review the assets tagged on https://github.com/Appboy/appboy-ios-sdk/releases. This repo follows that i describe on this request.

Thanks for it.

[2021-04-16 07:46] igrechuhin commented on #7007
@leemaguire we have dedicated thread with run loop to make subscriptions.
Please check the attached files:
[Subscription.zip](https://github.com/realm/realm-cocoa/files/6323356/Subscription.zip)

I've also tracked number_of_versions that is from your code located at /realm-core/src/realm/db.cpp

[2021-04-16 10:17] gongzhang commented on #7204
Confirmed the crash is caused by an assertion failure in `../src/realm/alloc_slab.cpp`

[code]

 (the runtime value of `header->m_top_ref[1]` is `189576`)

[2021-04-16 10:23] gongzhang commented on #7204
Duplicate to https://github.com/realm/realm-core/issues/4218

[2021-04-16 10:23] #7204 closed

[2021-04-16 20:04] bolambaoZebo commented on #6800
@petropavel13 thanks a lot this solve also same issue that I have.

Xcode Version 12.4 (12D4e)
cocoa pods 1.10.1

[2021-04-18 16:18] gklka opened #7213 "Realm doesn't build for release on Mac-Catalyst"
## Goals
I want to add Mac Catalyst support for my existing iOS app.

## Expected Results
I expect the Xcode to build the app for release when I select Archive for the Mac target.

## Actual Results
Building works for "My Mac" (development), but doesn't work for "Archive" (release). Error:
"/Users/gk/Library/Developer/Xcode/DerivedData/RealmTest-aujphqtuarytmidttxmqzkwezbbs/Build/Intermediates.noi

[2021-04-18 21:28] tgoyne commented on #7213
https://github.com/CocoaPods/CocoaPods/pull/10224 fixes this.

[2021-04-19 08:53] #7181 closed

[2021-04-19 09:42] pavel-ship-it commented on #7213
Hi @gklka, the mentioned fix should be available in CocoaPods 1.10.2

[2021-04-19 09:47] #7213 closed

[2021-04-19 10:04] pavel-ship-it commented on #7207
Hi @emreond ,
Could you please try with the recent Realm Studio version?

[2021-04-19 10:10] pavel-ship-it commented on #7211
Hi @versoworks , I'll look into this issue.

[2021-04-19 11:14] DominicFrei commented on #7197
@willmorris44 Thanks for reporting the result back to us. The schemes actually have to match, yes. Otherwise you'd end up in a corrupt state if device and server are in a different state.

Dev Mode takes care of those changes by offering the auto schema to test while developing.

I'll go ahead and close this for now since the original problem has been solved. If you have any further questions abou

[2021-04-19 11:14] #7197 closed

[2021-04-19 11:22] DominicFrei commented on #7201
Always happy to help. 🙃

[2021-04-19 15:53] ananfang commented on #7188
@dianaafanador3 Any update for this issue?

[2021-04-19 16:00] dianaafanador3 commented on #7188
HI @ananfang, actually i reviewed this today and checked that everything is ok in our side (Cocoa), conclusion, unordered results are coming from the server.
I asked in our internal channels for an answer on mongo side, I'll let you know when we get an answer as soon as possible.

[2021-04-19 16:36] ananfang commented on #7188
@dianaafanador3 Since the Dictionary in Swift is unordered and we put a sort options in the Dictionary, it'll cause the inconsistent result. Thus I think this issue definitely happened in the client SDK, not server side. Please kindly review it again.

[2021-04-19 17:01] dianaafanador3 commented on #7188
@ananfang I checked that your result set was returning different order each time, (not the properties within the document dictionary, this will be unordered since dictionary in swift is unordered). The result that is been returned by the server has a different order each time we call the find function, and should be the same, this is not happening for example in the case of using just a sorting ar

[2021-04-20 04:46] ananfang commented on #7188
@dianaafanador3

Yes. The reason why server returned inconsistent results is that every time client SDK iterates sort options in Dictionary to call API, and Dictionary is unordered, each iteration will be different. Thus the sort options of the real API call from client is different each time, then the server will return inconsistent results.

I suggest that maybe we could use array to wrap the so

[2021-04-20 09:19] piellarda commented on #7181
Thank you @dianaafanador3

[2021-04-20 14:54] sidneivl opened #7214 "Realm Swift SPM not building in iOS 10"
Hello,

I was using realm through Carthage with 10.7.2 version and it was working great, but when I tried using SPM it download the same version, but the realm not compiling using iOS 10

![Screen Shot 2021-04-20 at 09 50 18](https://user-images.githubusercontent.com/5385276/115402774-1c922800-a1c2-11eb-8e34-361516a5f638.png)

And in the new doc says that it is compatible with iOS 8+

<img width="

[2021-04-20 15:07] tgoyne commented on #7214
SPM does not expose a way for us to set the compiler flag required to be able to target pre-11 versions of iOS with a modern toolchain, so it has a higher deployment target than the other installation methods.

[2021-04-21 09:41] sipersso commented on #7018
@ianpward I was under the impression that you client resets was handled automatically. Or does this differ between platforms? Client resets was a major reason I personally never went live with Realm Cloud, but I thought this was handled automatically now.

Here is my original issue (reported on java/Android)
https://github.com/realm/realm-java/issues/5944

And the implementation:
https://github.co

[2021-04-21 09:52] pavel-ship-it commented on #7211
Hi @versoworks , thank you for submitting the issue here. I can reproduce it and I'll open a ticket to fix.

[2021-04-21 09:54] versoworks commented on #7211
@pavel-ship-it  thank you for investigating so quickly, much appreciated.

[2021-04-21 16:54] pavel-ship-it commented on #7214
Thank you @sidneivl, I open a ticket to fix the documentation.

[2021-04-21 17:03] pavel-ship-it commented on #7180
I close this issue due to inactivity.

[2021-04-21 17:03] #7180 closed

[2021-04-21 18:23] sipersso commented on #7145
@DominicFrei any updates on the helper function or documentation? Is there any sample code on how I can safeguard my app from crashing on launch when I release the migration to production?

[2021-04-21 19:18] ianpward commented on #7018
@sipersso Unfortunately, we had to drop the old Client Reset functionality with our migration to MongoDB Realm. The good news is that we are in the process of re-adding this back into the client SDKs for 10.0+ - we also have more verbose documentation when it comes to Client Resets, see here:
https://docs.mongodb.com/realm/sdk/node/advanced/client-reset/

And example code on how to recover the dat

[2021-04-22 07:32] dianaafanador3 commented on #7188
HI @ananfang, you are right about this issue in our API (I'm sorry it took me so much to see it) and we are discussing solutions for this. We'll try to fit a fix for this in future releases.
For now I'll recommend to do the sorting by just one property as using more than one could cause an unordered set.

[2021-04-22 07:44] dianaafanador3 commented on #7189
HI @tallada, after taking a look at the code and test it, I don't see anything that will cause this crash.
Are you still getting this crashes from your users?
Also, I'll suggest updating to the latest version of our SDK https://github.com/realm/realm-cocoa/releases/tag/v10.7.2, we are continuously resolving issues in our SDK and Core.

[2021-04-22 08:09] sipersso commented on #7018
@ianpward I read the sample code. Thank you for pointing me in that direction. However, I feel that the sample is a bit hard to follow. Manually copying realm files. Using dictionaries to keep track of realms, realm cleanup etc. There are a lot of parts that goes into this. Not sure if this is easier to test in MongoDb Realm, but I remember it was a pain to trigger a reset in Realm Cloud.

Is ther

[2021-04-22 12:54] ianpward commented on #7018
Yes its relatively easy to trigger a client reset - Terminate and Re-enable Sync - https://docs.mongodb.com/realm/reference/terminating-and-reenabling-realm-sync/

We've digressed from OP - if you have any further questions please take them to forums.realm.io

[2021-04-22 13:01] tallada commented on #7189
Thanks for looking into this @dianaafanador3. Yes, we're still getting this crash. I'll update Realm to the latest version on the next release and I'll report back our findings.

[2021-04-22 13:24] georgesjamous commented on #7018
I believe this issue can be closed now.

The solution that worked for me that was the one suggested by @ianpward  :
- Updating all clients to `10.7.2`
- Terminating and Restarting Sync

[2021-04-23 04:21] owenzhao opened #7216 "10.7.3 Prebuilt Carthage XCFramework Lacks Info.plist And Xcode Won't Compile."
<img width="1109" alt="截屏2021-04-23 下午12 13 03" src="https://user-images.githubusercontent.com/2182896/115817376-51ee7e00-a42d-11eb-9321-d1797e3ccb35.png">

https://github.com/realm/realm-cocoa/releases/tag/v10.7.3

The Info.plist is used by Xcode to identify the framework from xcframework. Without it, Xcode could find the specify framework for specific architecture and target.

The full package "

[2021-04-23 09:38] pavel-ship-it commented on #7216
Hi @owenzhao,
Thank you for reporting the issue. Will be fixed asap

[2021-04-23 11:15] BarryDuggan commented on #6096
I'm experiencing this same crash recently.
The crash isnt happening in production but is happening during development.

My previous version of realm was 3.17.3.
I upgraded my realm version to 10.7.2

For me the crash seems to happen if:

- Do a pod install for 10.7.2
- Then do a pod install for 3.17.3

[code]

[2021-04-23 15:35] jjarroyo opened #7217 "Assertion failed: start <= m_size && (end <= m_size || end == size_t(-1)) && start <= end"
Realm 10.7.3

Xcode version: 12

iOS/OSX version: 12.5

![image](https://user-images.githubusercontent.com/5465462/115895022-93782c80-a41f-11eb-9e9a-8b21b61b7767.png)

[2021-04-23 16:02] pavel-ship-it commented on #7217
Hi @jjarroyo,
Could you please give any information on that crash?
Schema of the object and enum?
Is expected collection is empty?

[2021-04-23 17:26] cltnschlosser opened #7219 "Warning: 'clock_gettime' is only available on iOS 10.0 or newer"
## Goals
Build app without warnings

## Expected Results
No warning

## Actual Results
When using cocoapods, get the warning `'clock_gettime' is only available on iOS 10.0 or newer` when building `interprocess_condvar.hpp`. Either need the availability check or change the deployment target for cocoapods. It's currently set to 9.0. SPM is using `.iOS(.v11)`.

## Version of Realm and Tooling

Realm

[2021-04-24 17:46] thecoolwinter commented on #4944
[code]

This probably isn't the place for this question. For questions instead of issues with Realm try posting on [StackOverflow.com](https://StackOverflow.com)

[2021-04-25 18:55] JongchulShin opened #7221 "Remove extra semicolons"
Remove extra semicolons.

`config.custom_http_headers.clear();;`
`bgDone = [self expectationWithDescription:@"background queue done"];;`

## Version of Realm and Tooling
Realm framework version: v10.7.3

[2021-04-25 20:51] andreasley opened #7223 "SwiftUI previews: Use in-memory database by default"
When using SwiftUI's previews ([`PreviewProvider`](https://developer.apple.com/documentation/swiftui/previewprovider)) in Xcode and database access is triggered for any reason, Realm uses either the default configuration or the app's actual configuration. Both are problematic.

## Goals
Create/modify Realm objects in SwiftUI `PreviewProvider` in a transient way.

## Expected Results
No database fi

[2021-04-26 10:43] sync-by-unito[bot] opened #7224 "Automatic Client Reset w. “seamless loss”"
#### Provide a less disruptive client reset experience with a new “seamless loss” mode that will reset the clients to the state of the server, but will lose local client changes.

[2021-04-26 12:58] jesusmateos1234 opened #7225 "BUG: Info.plist not found in Realm.xcframework"
In a manual integration in .zip that contains objc and swift the xcframework has not Info.plist. V10.7.3

Please double check

[2021-04-26 12:59] #7225 closed

[2021-04-26 12:59] jesusmateos1234 commented on #7225
Duplicated

[2021-04-26 13:48] DominicFrei commented on #7145
@sipersso This ticket is on our to do list but since it's a convenience function it's ranked behind more important tasks. Therefore I cannot state any ETA at the moment.

Regarding the deletion of orphaned embedded objects and taking care of multiple links:
The change to embedded is happening after the migration is done (see https://github.com/realm/realm-core/blob/master/src/realm/object-store/ob

[2021-04-26 15:30] jesusmateos1234 opened #7226 "BUG: M1 not Building: apps example or using realm.xcframework or framework"
## Goals
Build and run simulator on mac M1 with simulator iOS 14.X (14.3, 14.4) with realm.xcframework or framework v10.7.3 or v10.7.2 (PRECOMPILED FRAMEWORK OR XCFRAMEWORK)
iOS 12.2 and iOS 13.3 WORKS

## Expected Results
Simulator run

## Actual Results
![image](https://user-images.githubusercontent.com/68072718/116108883-9a6b9d00-a6b4-11eb-8da8-b13667f7cd02.png)
![image](https://user-images.git

[2021-04-26 17:03] sipersso commented on #7145
@DominicFrei I don't mind doing the migration myself, but it is very unclear how you are supposed to be able to do this in practice. How am I supposed to be able to find the orphaned child objects?

[code]

It doesn't seem that the "linkedParentsProperty" can't be accessed from the child object at all? Do you have any suggestions on how to identify orphaned children?

[2021-04-26 17:48] DominicFrei commented on #7145
You could enumerate both and check their count which has to be one:
[code]

How you actually handle it is up to you. Making all this more convenient it what this ticket is for. :)

[2021-04-26 18:14] sipersso commented on #7145
Thanks @DominicFrei! Looking at the api, I was afraid that enumeration would be the only way. Unfortunately this will not be feasible in my case as there might be tens of thousands of grandchildren and thousands of parentes in the new structure.

The helper function won’t help at all in my case and I will have to find an alternative to making this migration, like possibly moving the data to a new

[2021-04-26 18:19] ericjordanmossman commented on #7226
@jesusmateos1234
I took a first look at what could have happened. But I didn't figure anything out yet.

Does this imply that your iOS 14 simulator was building before 10.7.2

[2021-04-26 18:35] jesusmateos1234 commented on #7226
@ericjordanmossman, thanks for attend me. I don't know if apple iOS 14 Simulators work before 10.7.2 in M1, because before our team works with intel processors (and of course in that macs works well), but, last and this week, we starting to work with M1s. Tomorrow i speak with the team and we prove your example app with another version. What's the first precompiled version assets that supports M1

[2021-04-26 20:03] tgoyne commented on #7226
The obj-c release zip is built with Xcode 11 and so doesn't have arm64 slices. The swift release zip has a copy of Realm.xcframework built with newer versions of Xcode that do have arm64 slices and you can just grab it from that.

Probably no reason not to switch the obj-c release over to Xcode 12 at this point, though.

[2021-04-26 21:13] #7216 closed

[2021-04-27 06:05] gixdev commented on #1693
Any progress? We need it badly

[2021-04-27 10:28] #6840 closed

[2021-04-27 10:34] duncangroenewald opened #7228 "RealmSwift 5.5.1 Xcode 12.5 binaries please"
## Goals
Build existing app with RealmSwift v5.5.1 with Xcode 12.5

Current latest v5.5.1 is not supported with Xcode 12.5

EDIT:  Sorry I mean a version with Realm Cloud Sync since just a the local version can be used with Package Manager.

Can be just Intel binary as per current release since I don't believe there is any plan to produce a universal version for Intel/M1

[2021-04-27 14:51] tgoyne commented on #7223
This sounds like a good idea to me if there's a good way to do it. I suspect there's some complications, but we should try to see what we can do to work better with Previews.

[2021-04-27 19:32] ericjordanmossman commented on #7219
I see the same when I set `platform :ios, '9.0'` in the podfile.
We'll need to wrap this with "@available" to silence warning.

[2021-04-27 19:59] ericjordanmossman commented on #7228
@tgoyne @jsflax
Do we just need to make a v5 release that includes [this](https://github.com/realm/realm-cocoa/pull/7227)?
Or is there anything additional needed?

[2021-04-27 20:04] cliftonlabrum commented on #7228
Installing Realm works with Swift Package Manager in Xcode 12.5.

[2021-04-27 20:11] cliftonlabrum opened #7230 "ObservedRealmObject Crashes with Bool toggle() in SwiftUI"
_Realm 10.7.3, Xcode 12.5_

For a Realm model like this:
[code]

You can edit a `@ObservedRealmObject`'s `text` value via a binding in SwiftUI like this:

[code]
The change to the `item` will automatically be written to the Realm database.

If you want to change a `Bool`, however, you will get a crash that the change is being performed outside of a write transaction:
[code]
It seems to me that the

[2021-04-27 20:16] ericjordanmossman commented on #7230
Does using a StateRealmObject as described [here](https://github.com/realm/realm-cocoa/blob/master/RealmSwift/SwiftUI.swift#L198) accomplish your goal?

[2021-04-27 20:26] cliftonlabrum commented on #7230
It looks like `@StateRealmObject` and my original `@ObservedRealmObject` will both work, but the `toggle` syntax has to be a little different. It seems it has to operate on a `Binding` like this:

[code]
Thanks!

[2021-04-27 20:26] #7230 closed

[2021-04-28 01:56] huawt commented on #7228
combine.swift  line:38
'Identifiable' is only available in application extensions for iOS 13 or newer

[2021-04-28 04:53] diegomontoya commented on #7228
Our MacOS catalyst is breaking under xcode 12.5. iOS build is fine for some reason.

```module compiled with Swift 5.3.2 cannot be imported by the Swift 5.4 compiler: CIBuild/build/Debug-maccatalyst/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64-apple-ios-macabi.swiftmodule```

[2021-04-28 06:03] ChuanqingYang commented on #7228
same issue

[2021-04-28 09:49] farruhnet commented on #7228
Same, please fix

[2021-04-28 10:37] MarkoFirst commented on #7228
+, I have same problem

[2021-04-28 10:54] KonstantinMiha commented on #7228
+, same problem

[2021-04-28 10:57] genpictures commented on #7228
Same problem. Please fix

[2021-04-28 11:01] farruhnet commented on #7228
After updating to 10.7.4 the problem was solved

[2021-04-28 11:04] MarkoFirst commented on #7228
How did U do that? U are from the future?)))

![image](https://user-images.githubusercontent.com/25689913/116393640-95c8f500-a82a-11eb-8b39-2a503ba460a9.png)

[2021-04-28 11:07] farruhnet commented on #7228
![изображение](https://user-images.githubusercontent.com/9885079/116393900-a9308c00-a83b-11eb-86cc-bb4b589a9d4b.png)

it was released yesterday =)
In my podfile.lock
<img width="221" alt="изображение" src="https://user-images.githubusercontent.com/9885079/116393969-c2393d00-a83b-11eb-88b0-b37f3c050495.png">

[2021-04-28 11:44] MarkoFirst commented on #7228
Thank you so much!

[2021-04-28 14:15] jsflax opened #7231 "Cannot declare fields on Codable class without initial values"
## Goals
Declare a Decimal128 on my Realm Object.

## Expected Results
Schema discovery should succeed. If I add default values, schema discovery is successful, but for many Codable types, this feels redundant.

## Actual Results
[code]

<img width="911" alt="Screenshot 2021-04-28 at 15 06 30" src="https://user-images.githubusercontent.com/4356928/116417593-52bf4f80-a833-11eb-9b91-e10c9fba7d3d.png

[2021-04-28 16:26] tgoyne commented on #7231
This is not just for schema discovery. Reading data from the Realm also requires that we be able to create objects.

[2021-04-28 16:41] earltedly commented on #7157
We had this problem too on a native mac app. I've solved it for now by adding these two pods post-install steps.

[code]

They basically strip out everything except `x86_64` (later we'll modify this to leave ARM64 when doing an Apple Silicon build. If on iOS you could do the opposite and end up with a max 80 MB file.

[2021-04-28 17:58] #7221 closed

[2021-04-28 22:22] duncangroenewald commented on #7228
With Realm Sync ??  I don't think so.

[2021-04-28 22:30] duncangroenewald commented on #7228
No don't add anything - just an intel binary version that can be used with Xcode 12.5.  Not the end of the world if that can't be done easily since we can just keep using Xcode 12.4 but there are some XCode bug fixes in 12.5 that we want :-)

[2021-04-28 23:26] michaelguren commented on #7083
Any update on v5.5.1?

[2021-04-28 23:28] tgoyne commented on #7083
It was released a month ago.

[2021-04-28 23:57] michaelguren commented on #7083
Oh, thanks for the quick reply.

I didn't see v5.5.1 in the release notes and my cocoa pods weren't finding it using ~> '5.5.1'.  I ended up using pod 'RealmSwift', '5.5.1' and it worked.  Thanks again.

[2021-04-29 01:43] kingnight commented on #7228
Same problem. Please release  RealmSwift 5.5.1 build with Xcode 12.5

[2021-04-29 03:18] duncangroenewald opened #7232 "Inconsistency with Realm.writeCopy() output file schema and actual schema version number of application"
## Goals

**Alignment of Realm.writeCopy() schema and schema version number with applications schema and schema version number.**

Currently we have a production app using RealmCloud, which will migrate to MongoDBRealm at some point this year.

During development we primary use local copies of the same realm database and periodically we need to get copies for the production data to debug issues.

[2021-04-29 03:53] JonyFang commented on #7228
Xcode 12.5 binaries has been added to the [release-v10.7.4](https://github.com/realm/realm-cocoa/releases/tag/v10.7.4)  package. `pod update Realm RealmSwift` will work.

[2021-04-29 03:54] JonyFang commented on #7083
Xcode 12.5 binaries has been added to the [release-v10.7.4](https://github.com/realm/realm-cocoa/releases/tag/v10.7.4)  package. `pod update Realm RealmSwift` will work.

[2021-04-29 06:52] duncangroenewald commented on #7228
@JonyFang - if that was meant for me we can't upgrade from 5.5.1 to 10.7.4 yet since we are using Realm Cloud sync.

[2021-04-29 06:55] rbrewster commented on #7157
This is a major problem. I have an iOS app that I've upgrade to iOS 14.5 that now requires RealmSwift 10.7.4. However, I can't upload to Git because of the size issue. I tried deleting some of the librealm-monorepo.a files but no luck. I'm basically stuck. I guess I'm going to have to uninstall Realm and switch over to CoreData. I'm really puzzled why you would release a library that can't be uplo

[2021-04-29 12:48] jlavyan commented on #6983
This crash happen always if you have multiply realms.
Tested on 10.7.2

I created some class which prevent multiply connection, so I suspend all session then run with in serialization order. I used `suspend` `resume` functions

[2021-04-29 15:13] #7183 closed

[2021-04-29 16:54] rbrewster commented on #7157
Installing Realm via  XCode swift package dependencies vs. cocoa pods seems to have solved this problem.

[2021-04-29 17:30] LeffelMania commented on #7157
My workaround that seems to be working today:

After I ran `pod update` and _before I committed the binary to your local repo_, I added entries to my global `.gitignore` file for the two `watchos` monorepo files (since we don't have a target).

[code]

If you _do_ target watchos, this won't work for you.

(P.S. only the arm64 `monorepo.a` file is over 100MB, I just added both as a clearer "we don'

[2021-04-29 17:59] mungbeans2 commented on #7228
Realm/RealmSwift 10.7.4 does NOT work with Xcode 12.5 (12E262):

Undefined symbols for architecture arm64:
  "protocol descriptor for Swift.Identifiable", referenced from:
      l_got.$ss12IdentifiableMp in libRealmSwift.a(Combine.o)
  "Swift._ArrayBuffer._copyContents(initializing: Swift.UnsafeMutableBufferPointer<A>) -> (Swift.IndexingIterator<Swift._ArrayBuffer<A>>, Swift.Int)", referenced from

[2021-04-30 16:15] dbrunning-hs commented on #6147
We're also seeing this memory leak in our app when we're assigning a Swift struct's String property from a Realm object. Having RLMStringDataToNSString return a copy of the NSString created from the realm::StringData also seems to fix the leak for us.

[2021-04-30 18:10] anlaital opened #7234 "Realm crashes as it refers to the SwiftUI framework when run on older iOS versions"
## Goals

Run an app that uses RealmSwift as a dependency on an iOS 11.4 simulator.

## Expected Results

Project can be run and it does not crash.

## Actual Results

Launching the app in the simulator crashes with the following error message:

[code]

This issue seems to affect all version of iOS 11 and 12 that do not contain the SwiftUI framework. The bug was first introduced in release v10.6.0

[2021-04-30 19:03] igorvoytovich commented on #7175
@tgoyne @finnschiermer

Hello,

After upgrading to version 10.7.4, the crash now gets a stack like this:
![photo_2021-04-30 21 56 26](https://user-images.githubusercontent.com/47663430/116741575-fb6dda80-a9fe-11eb-83a1-322c726e9f22.jpeg)
![photo_2021-04-30 21 56 28](https://user-images.githubusercontent.com/47663430/116741595-ff99f800-a9fe-11eb-9a27-363e83209dcf.jpeg)

Such a case that the Realm i

[2021-05-01 14:31] andreasley commented on #7223
The following works, but I don't know nearly enough about Realm to guess what side-effects that might introduce:
https://github.com/andreasley/realm-cocoa/commit/75211315a722b6c886a9705cec80501ffc1fae67

[2021-05-02 16:23] jesusmateos1234 commented on #7226
Okey, i close the issue. I use last prebuilt xcframework.

Thanks for all guys!

[2021-05-02 16:23] #7226 closed

[2021-05-02 16:34] jesusmateos1234 opened #7236 "FR: Make xcframeworks static"
Why relamSwift.xcframework ahas a mach-o type dynamic? It doesn't contain resources like images.
Could you change to static library mach-o type?

Thanks for all

@tonyarnold @timanglade @stennie @koyachi

[2021-05-02 16:35] jesusmateos1234 commented on #7236
@tgoyne @jsflax

[2021-05-02 19:12] raphaelcruzeiro opened #7237 "NSInternalInconsistencyException · *** -[NSHashTable NSHashTable { [30] <RLMFastEnumerator: 0x108010200> } ] count underflow"
## Goals

Have Realm working and not crashing frequently in production.

## Expected Results

Realm would not crash so frequently or it would at least crash with a meaningful error message.

## Actual Results

Realm occasionally crashes with the following stack trace:

[code]

## Steps for others to Reproduce

Not really sure how to reproduce this issue.  Our app has hundreds of thousands of users

[2021-05-02 22:00] tonyarnold commented on #7236
First up, could you **please stop mentioning me in all of your issues**? I don't work for Realm, and this isn't a project that I have used for a number of years.

Secondly, **XCFrameworks (and frameworks) are supposed to be dynamic**. If you need a statically linked variant, then perhaps Realm can provide a static library with headers?

For reference (emphasis mine):

See: https://developer.apple.

[2021-05-03 00:34] versoworks opened #7239 "`RLMCreateObjectInRealmWithValue` failing with `EXC_BAD_ACCESS` in `[RLMObjectId init]`"
This is occurring in a large application, so we cannot provide sample code. Essentially, when copying `RLMObject`s from one Realm to another, after a few hundred objects are copied, we're experiencing a failure in `RLMCreateObjectInRealmWithValue` with `EXC_BAD_ACCESS` in `[RLMObjectId init]`. Although we have the offending code wrapped in a `try/catch`, it's not throwing an exception and simply k

[2021-05-03 09:05] grighakobian commented on #6993
@KimiChiu  I had the same issue on my side, which occurred 100% in background state. After disabling file protection for realm directory the crash disappeared.

[code]

[2021-05-03 09:50] finnschiermer commented on #6699
@igrechuhin Sorry for not coming back to you earlier. The stack trace you provided does not match this bug. It's a different bug. Please open a new issue with relevant details.

[2021-05-03 16:19] jongarate commented on #7234
+1

[2021-05-03 21:30] tgoyne commented on #7237
I'm not sure what this exception is even reporting. Each time you you for-in on a Realm collection we create an object which we store a weak reference to in a NSMapTable and removing that object is failing for some reason, but the documentation doesn't give any hint as to what a count underflow means. There also haven't been any changes to that code for a few years.

[2021-05-03 21:45] raphaelcruzeiro commented on #7237
@tgoyne any suggestion on how I can better debug this? Our app had been on the App Store and using Realm for a full year before this started happening on a release that basically upgraded some dependencies (including Realm).

<img width="299" alt="Screenshot 2021-05-03 at 22 42 00" src="https://user-images.githubusercontent.com/425640/116937348-02942300-ac61-11eb-81d1-f76d66eda4de.png">

Looking f

[2021-05-03 22:30] tgoyne commented on #7237
Are you using frozen Realms? Insufficient locking around our use of NSHashTable could explain this. `-[NSHashTable removeObject:]` checks if the object is in the table, then returns if it isn't. It then calls `count` and throws this exception if that returns zero, so we're clearly corrupting its data structure's somehow.

[2021-05-03 23:31] mush159 opened #7240 "Backlinks are not updated after an update to the linked object"
## Goals

I wish to display a view of a list of objects along with other objects that are linked via a backlink. The example below uses Owners and Dogs where I am trying to display a list of dogs along with the number of owners for each dog.
It is possible to add dogs into this view as well as attach owners to dogs from the same view.
## Expected Results

As owners are added to dogs, the list shou

[2021-05-04 00:22] duncangroenewald commented on #7228
Thanks guys, will test it

[2021-05-04 00:22] #7228 closed

[2021-05-04 12:58] raphaelcruzeiro commented on #7237
@tgoyne Yes, I freeze every object that I propagate to other layers of my app and I fetch a new one by its primary key if any mutation needs to be made.

[2021-05-04 14:32] tgoyne commented on #7237
Okay, it makes sense for things to be going wrong now that I've looked at it again (although I'm not sure why it wasn't previously running into trouble...). I think it'll be simple to fix.

[2021-05-04 14:41] jlavyan commented on #6983
@obianachebe you need check after some time. this issue happen when sync manager trying to sync data with realm.  tested on v10.7.4 (last version)

Also I want to say above recommendation not helping fully, crash happening again after some time. can anyone check this @realm-support

[2021-05-04 14:50] obianachebe commented on #6983
@jlavyan I haven't run into this issue on newer realm versions, and I have multiple realms running simultaneously. Maybe post your verbose Realm logs and related code to see if something else is causing the issue?

[2021-05-04 16:42] jlavyan commented on #6983
Thanks for response @obianachebe

This is full log `MultipleSyncAgents: Multiple sync agents attempted to join the same session `.  Let me know if I can provide or help something

<details>
  <summary>`logLevel = .all`</summary>
20:29:04.488700+0400  Metal API Validation Enabled
20:29:05.946621+0400  [Client] Updating selectors after delegate removal failed with: Error Domain=NSCocoaErrorDomain Co

[2021-05-05 06:05] kubankredit commented on #7234
+1 I've added SwiftUI.framework as Optional in Link libraries phase in Xcode and app crashes anyway

[2021-05-05 06:48] JituDeore commented on #6843
Anybody fixed this issue?

[2021-05-05 07:58] jsflax commented on #6983
@jlavyan can you provide us with a code sample? How are you going about opening multiple Realms?

[2021-05-05 08:06] jsflax commented on #7240
Hey @mush159,

You're not actually observing the Dog being modified.

I would recommend making the row in your `ForEach` a sub view (which would be more practical in a real world case anyway):

[code]

Let me know if that clears it up for you.

[2021-05-05 09:57] jlavyan commented on #6983
I am not opening realm, open realm called by realm library, let me give you some scenario

When I use app in some stages I add new realms, I use two function login user then call open realm how described in documentation. Then I close app after lets say 10 minutes when I have 10 realms I open app (again in this case I don't call open realm) after about 5-10 second like above logs I get crash, It's

[2021-05-05 10:27] mush159 commented on #7240
Hey @jsflax, thanks for the response!

Agree that each row it would be better as a sub view so I tried modifying the example code to the above but still hit the same issue.

In the original example, should the `@ObservedResults(Dog.self) var dogs` query not be notified of a change to any object in the dog collection and re-render the view anyway?

Interestingly adding `@ObservedResults(Owner.self)

[2021-05-05 15:22] #7237 closed

[2021-05-05 15:27] raphaelcruzeiro commented on #7237
Thanks for working on this @tgoyne! Looking forward to testing this on the next release.

[2021-05-05 16:42] danmessing opened #7242 "IMPORTANT: Please report this"
!!! MANDATORY TO FILL OUT !!!

## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Code Sample

## Version of Realm and Tooling

Realm framework version: ?

Xcode version: ?

iOS/OSX version: ?

Dependency manager + version: ?

[2021-05-05 16:42] #7242 closed

[2021-05-05 16:42] danmessing commented on #7242
re-filing with actual info!

[2021-05-05 17:10] danmessing opened #7243 "[realm-core-10.6.0] Assertion failed: size < (1 << section_shift) - when inserting new object"
#### SDK and version
SDK : Cocoa / RealmSwift
Version: 10.7.4 (via cocoapods)

#### Observations
* How frequently does the crash occur?
    - it's consistent and reproducible on my customer's database file
* Does it happen in production or during dev/test?
    - production
* Can the crash be reproduced by you?
   - yes, using a database from a customer that may have become corrupt
* Can you provid

[2021-05-05 17:14] danmessing commented on #7243
Also, is there any way to recover this database for my customer and get it back into a usable state? I can add workarounds for the corrupted data (though unfortunately some of their data seems to be lost for good), but if I can't insert new objects I'm kind of stuck at giving them any kind of path to recovery beyond completely wiping their data and starting from scratch.

[2021-05-05 17:35] danmessing commented on #7243
I get a similar crash when attempting to realm.delete() one of the objects:

[code]

[2021-05-06 09:58] igorvoytovich commented on #7175
@tgoyne @finnschiermer

Hello,

Some time ago we sent a version of the application with RealmSwift v5.5.2 to a limited audience for a test. And I can confirm that this crash is not reproduced on this version of the Realm SDK.

Could you please tell us whether we should wait for some fix or it would be better to transfer all users to the old version of the SDK?

Thanks.

[2021-05-06 10:15] xilin commented on #6763
Is there any update on this issue? We still see similar crash on version 5.5.0.
There is still `realm::util::EncryptedFileMapping::read_barrier` in the stack, while we aren't using encryption.
And what we do is just a simple call to get firstObject:
[code]
Trace:
[code]

[2021-05-06 18:07] jesusmateos1234 commented on #7236
Hi @tonyarnold, first of all sorry about mentioned you again, that's not will be happen other time.

Secondly, Frameworks could be static or dynamic, the mains difference between them its that dynamic frameworks live out of the exe, but, statics lives inside of your exe and no has own bundle. Using one or other could makes differences in launching time or even in app size.

Realm framework no has

[2021-05-06 21:34] tonyarnold commented on #7236
You're correct: linking statically can make a difference to startup time on resource constrained platforms like iOS, tvOS and watchOS.

A framework is, by definition, a bundle containing a dylib. If you pull the binary library out of the framework bundle, it's just a library.

Framework bundles containing a static library can work, but they're unsupported by Apple/Xcode.

Best of luck with your re

[2021-05-07 01:34] AhmedAlsebaei commented on #6925
thanks

[2021-05-07 06:06] aelam commented on #7234
for cocoapods users
[code]

[2021-05-07 06:06] jesusmateos1234 commented on #7236
Static and dynamic frameworks are supported by Apple/XCode, other organizations like Facebook has xcframeworks with static frameworks inside https://github.com/facebook/facebook-ios-sdk/releases/tag/v9.3.0. The only thing that changes it's the mach-o type in build settings. If you open the XCFramework you could see frameworks no libraries.

By in addition, i'll recommend you watch videos from Esse

[2021-05-07 06:35] kubankredit commented on #7234
Thank you, the code above did the trick!

[2021-05-07 07:45] jongarate commented on #7234
Initial tests reveal that it's possible to set `SwiftUI` as `-weak_framework` reference in the `OTHER_LDFLAGS` setting of the module that imports the SwiftPM dependency. Now it successfully compiles on both iOS 12 and iOS 14.

[2021-05-07 09:03] sipersso commented on #7145
This is a much more complicated problem than it first appears to be. In my case the structure is like the following (simplified)

[code]

There can be more than 100k ChildObjects
There can be more than 10k ParentObjects
There can be more than 1k GrandParentObject

In the example, using enumerations, each child would have to loop through each of its parent objects and each parent would have to loop

[2021-05-07 10:34] jeanbaptistebeau opened #7244 "Impossible to delete objects of removed type during Migration"
## Goals
Let's say I had objects of type `Dog` and `Person` in my Realm database, where `Person` has a property of `List<Dog>`. In my update, I want to remove completely the dogs. So I do the following:

- I remove the property of type `List<Dog>` from `Person`
- I remove `Dog.self` from `configuration.objectTypes` to that the type `Dog` is no longer used in this Realm. In my case, I keep the `Dog

[2021-05-07 10:52] jsflax commented on #7234
This is an interesting one. We only reference SwiftUI if it can be imported using `canImport`. Might be tied to this: https://forums.swift.org/t/weak-linking-of-frameworks-with-greater-deployment-targets/26017/28. It's a bit odd as well that no one seems to have to do this with Combine.

[2021-05-07 11:28] jeanbaptistebeau commented on #7244
EDIT: Forgot to mention that the `Dog` class had a backlink property (`LinkingObjects`) to `Person` in the old schema.

In #3686, in 2016, @kishikawakatsumi mentioned that it's not possible to delete a model class with a backlink property. Is that still the case?

[2021-05-07 11:30] sipersso commented on #7145
To answer my own question. I just tested this approach using a unit test an a typical database file containing 2 MB of data. This size is fairly normal for my use case, but could be 5x larger if not more for some users. In this case, the migration took about 5 minutes to complete before it crashed because I had missed to delete an orphan.

Even thought the enumeration listed here might work for sa

[2021-05-07 12:43] sipersso commented on #7145
I was able to reduce the migration time from 5 minutes to 1.2 seconds using the following approach

[code]

This migration does not take the "more than one parent" into consideration. But this could be detected in the first loop.

Any pitfalls with this approach @DominicFrei?

[2021-05-07 14:36] ohm1998 opened #7245 "Flutter build fails when the xcode was updated to latest version"
**Bugs**: Updated my Xcode version and throws me this error.

`/Users/apple/Desktop/dt2/ios/Pods/RealmSwift/RealmSwift/Combine.swift:38:40: error: 'Identifiable' is only available in application extensions for iOS 13 or newer
    public protocol ObjectKeyIdentifiable: Identifiable, Object {
                                           ^
    /Users/apple/Desktop/dt2/ios/Pods/RealmSwift/RealmSwift/Com

[2021-05-07 14:43] jsflax commented on #7245
Hey, it looks like there are a number of issues with the pods you are using, but in the Realm case, be sure to be using the latest version. That issue was fixed in 10.5.2.

[2021-05-07 16:38] Turacbey opened #7246 "EXC_BAD_ACCESS (SIGSEGV) issue on watch"
On Watch devices, users are facing with crash issues sometimes.

**WatchOS version:** 7.1 and up (haven't seen any of below OS 7.1)
**Affected devices:** Watch series 3
**Used Realm versions:** v10.7.4

**I'm sharing crash report and function called fetchFromRealm with you.**

**Crash report;**

[code]
**fetchFromRealm function;** (Function executed on main thread)

[code]

**How is the function c

[2021-05-08 09:43] ohm1998 commented on #7245
Okay . I reverted back to Xcode 12.4 and it worked for me.

[2021-05-08 17:20] RichAppz commented on #7213
Hey peps, little lost I have seen 1.10.2 as a fix on 2 posts now but there doesn't seem to be a release anywhere for 1.10.2 not even a pre release.

Can you let me know where or when this release will be available?

[2021-05-09 04:15] mnkadafi commented on #7083
Thanks

[2021-05-10 00:03] duncangroenewald opened #7247 "Is it possible to combined Results<> in a query"
I am trying to get a list of all "Child" objects from a set of "Parent" Objects.  Something like below:

The model is as follows (simplified example)

[code]

How can I get all the parents children back as a since results set ?  It seems odd to define the `var all` as a `LazySequence<FlattenSequence<LazyMapSequence<Results<Parent>, List<Child>>.Elements>>`

[code]

[2021-05-10 05:17] TheLuckyWan commented on #7078
Hello,

Sorry for the late answer.

But the actual date inside the array is simply two `Date()` objects in swift, for example one being `let date1 = Date()` and the second one being `let date2 = Date(timeInterval: -(24 * 60 * 180), since: Date())`

They are created on the fly when I need to filter data between those dates. They are never nil.

If I create my own `NSPredicate` object directly, it w

[2021-05-10 05:27] TheLuckyWan commented on #7246
Based on the error you have, it probably means the main thread tries to access a variable that has been freed or deallocated.

Prehaps you could try to test and run your application in Xcode with the `Thread Sanitizer` option checked. (Edit Scheme -> Run -> Diagnostics : Thread Sanitizer)

Also, do you know if this happens when there is a memory warning from the watchOS watchdog?

It might help yo

[2021-05-10 07:27] sipersso opened #7248 "Embedded Objects. Impossible to prevent "multiple backlinks" during migration"
## Goals
I want to convert a RealmObject to an Embedded Object

Before Migration:

[code]

Desired structure after migration:

[code]

I want to convert the Child object to be embedded in it's parent, and remove the reference to the child object in the "AnotherObject" class

## Expected Results
If the reference to a child is removed from AnotherObject, the there should only be one backlink left af

[2021-05-10 07:46] bmunkholm commented on #5832
Fixed by #7056

[2021-05-10 07:46] #5832 closed

[2021-05-10 08:26] #7245 closed

[2021-05-10 12:56] Ogerets opened #7250 "Crash "Key already used" after upgrading RealmSwift 3.21.0 --> 5.5.1"
## Goals
Save new object with **Int** primary key after upgrading RealmSwift 3.21.0 --> 5.5.1

## Expected Results
Object created in Realm

## Actual Results
Crash with "Key already used" message on adding new object
[code]

## Steps for others to Reproduce
Create at least one object in Realm for Entity, which primaryKey is Int at RealmSwift 3.21.0
Upgrade RealmSwift to 5.5.1
Try to create new obj

[2021-05-10 20:56] dabaicaifen opened #7251 "Building error on Xcode 12.5"
## Goals
Migrate from Cocoapods to SPM to integrate Realm.

## Expected Results
No Buiding error

## Actual Results
<img width="480" alt="Screen Shot 2021-05-10 at 16 50 40" src="https://user-images.githubusercontent.com/25300313/117723290-38309300-b1b0-11eb-8718-c413c402ab0c.png">
<img width="606" alt="Screen Shot 2021-05-10 at 16 50 20" src="https://user-images.githubusercontent.com/25300313/117

[2021-05-11 07:42] timstudt commented on #6898
@tgoyne

@tgoyne  the archive issue is fixed in Xcode12.5 (see FB7608638, and https://developer.apple.com/documentation/xcode-release-notes/xcode-12_5-release-notes). Firebase SDK had the same issue and it's been closed now.
it would be super great to use Realm as binary dependency via SPM, our build time increased significantly after adding `Realm`.

[2021-05-11 07:48] dianaafanador3 commented on #7251
HI @dabaicaifen, Realm and RealmSwift should work fine with Xcode 12.5 and Swift Package manager. Maybe you have some different setup for modularisation or even different dependencies managers (cause you are migrating) in the same project. Can you maybe explain a little bit further your current setup?

[2021-05-11 08:06] dianaafanador3 commented on #7250
HI @Ogerets, Can you migrate to latest version 10.7.5 (https://github.com/realm/realm-cocoa/releases/tag/v10.7.5)? On the meantime I'll take a look at your code, and will give you an answer as soon as I can.

[2021-05-11 08:45] sync-by-unito opened #7252 "Extend Dictionary Support for Embedded Objects"

[2021-05-11 09:32] dianaafanador3 commented on #7244
HI @jeanbaptistebeau, We'll take a look at your code and let you know how to solve this as soon as we can

[2021-05-11 10:35] Ogerets commented on #7250
Hi @dianaafanador3, thanks for the response!
I can confirm **v10.7.5** fixes the issue. However, we're considering upgrading to v10 only as last possible case, since we experienced pretty stable behaviour of v5.5.0 version.
Also we tried testing v10.5.0 at winter and had very frequent crashes, connected with [this](https://github.com/realm/realm-cocoa/issues/7011) issue. It's probably fixed by now

[2021-05-11 11:07] sipersso commented on #7248
I don’t see how detecting the objects that have multiple links help if there is no way to delete the data?.

The property that I want to delete doesn’t exist after migration, so I don’t understand why the exception is thrown. Shouldn’t the data be deleted if I delete a property? It feels strange that if I remove the property it doesn’t get rid of the link and if I set it to nil it complains it doe

[2021-05-11 11:21] DominicFrei commented on #7248
Some notes on that:

1. The problem is that removing the `relatedChild` property from `AnotherObject` does not automatically lead to every `ChildObject` only having one backlink.
You need to make sure that every `ChildObject` only gets references by one of the `children` lists in `ParentObject`.
If a `ChildObject` is references by multiple `ParentObject`s you will still get this error. Also, if th

[2021-05-11 11:47] #7189 closed

[2021-05-11 14:06] sipersso commented on #7248
@DominicFrei Right.... I actually think that it was the error message that might have caused some confusion here. The problem wasn't that the child object had "multiple backlinks", the problem was that there was an orphaned child. If you look at the sample project I provided, I had missed doing this check for one of the object types. When adding the same type of check as I provided in the example

[2021-05-11 14:28] #6996 closed

[2021-05-11 14:37] dianaafanador3 commented on #7234
@anlaital Have you checked @jongarate answer?. This is something that should not be happening but this workaround should help you successfully compile the project

[2021-05-11 15:17] jsflax commented on #6767
@Lucodalack  This has been fixed in version 10.x. We do not currently have plans to backport the fix. Would you be able to upgrade to the latest version of Realm and see if that removes the crash?

[2021-05-11 15:25] jesusmateos1234 commented on #7236
@dianaafanador3 of course!!
I think that we need to investigate if all zips are needed.

For example

![image](https://user-images.githubusercontent.com/68072718/117838307-84480a00-b27a-11eb-98b1-317b390fe6bb.png)

Maybe that assets are not needed, because someone that need integrate manually not need this zips. I think, that someone needs an example of how to use Realm, They could download the ex

[2021-05-11 16:01] DominicFrei commented on #7248
Thanks you, @sipersso. I have received the example in the meantime. We'll look into it.

[2021-05-11 17:59] DominicFrei commented on #7248
Thanks for letting us know. @sipersso
I have adjusted your example a bit to look into the objects further. The error would indeed only show up if there were multiple backlinks for the same objects. But there are not (when inspecting the Realm file directly).
@dianaafanador3 and I are investigating further into the possibility of the way we count backlinks being wrong.

Anyways, I agree with you, i

[2021-05-12 07:24] thanhan123 commented on #6763
@jsflax we encountered this issue more frequent recently, could you help check?

[code]

The code lead to this crash (executed in background thread):
[code]

[2021-05-12 07:26] jsflax commented on #6763
Is there any more context to that code? What's running on the main thread? The more information, the better 😄 .

cc'ing @finnschiermer

[2021-05-12 07:40] thanhan123 commented on #6763
For more information:
In the app we used `Realm.Configuration(encryptionKey: realmDataKey)`

[code]
The code above actually run on main thread. (Sorry for misinformation)

The context:
We fetch new messages from server -> save it to database -> get the latest message (from database and on later main thread runloop) to display in UI.

[2021-05-12 08:08] versoworks commented on #7239
@dianaafanador3 email sent.

[2021-05-12 08:09] dianaafanador3 commented on #7239
Hi @versoworks got it, I'll take a look at it.

[2021-05-12 08:28] dianaafanador3 commented on #7251
Hi @dabaicaifen I will try to duplicate your current setup in a local project and been able to duplicate this error. Also, If you can share your SPM configuration for one/many modules on your app that will be very helpful.

[2021-05-12 09:59] Turacbey commented on #7246
Hello, nothing found with Thread Sanitizer.

This issue only occurs on watch 3 series with real device. I couldn't catch any error with simulator.
I don't have a watch 3 series, so I can't do a deep test.

[2021-05-12 10:20] Ogerets commented on #7250
@ianpward, Sounds great. I've just tried it in test project and found created backup file. As I understood, for versions pre v10.7.3, I need to catch unsupported format error on Realm open, then find backup, which filename is different for different upgraded fileformats, swap them and delete unsupported format realm file. Sounds a little bit tricky, but having such possibility is better then nothi

[2021-05-12 10:35] DominicFrei commented on #5475
TL;DR Fixed in Core and will be released soon.

Update:
The above mentioned https://github.com/realm/realm-core/issues/4528 which emerged out of this issue was merged in core. Subsequently https://github.com/realm/realm-core/pull/4517 was closed and https://github.com/realm/realm-core/pull/4688 opened instead since the solution looks a bit different now thanks to the first mentioned PR.
This needs

[2021-05-12 10:53] Ogerets commented on #7250
@dianaafanador3 I tried transition from 3.21.0 to most of v10 versions, including early ones, and wasn't able to reproduce an issue. Sounds like it's specific for v5.5.1.
Unfortunately, updating to the latest version is still a problem for us. In fact, the biggest issue is that users who experienced transition 3.21.0 --> 5.5.1 --> 5.5.0 can't use our app. And we can't identify them to force clean

[2021-05-12 11:02] bmunkholm commented on #7250
If there is a crash while migrating a realm file, we will automatically revert to the backup file when rebooting.

[2021-05-12 11:46] Ogerets commented on #7250
@bmunkholm, Got it. But starting from which version Realm has such behaviour? Also rolling back Realm version doesn't always mean there will be a crash on migration (unless direct fatal from code). Please, correct me if I'm wrong.
Is there a way to trigger reverting to the backup file in sdk after catching unsupported realm format error? I like this approach more, since there will be no initial cr

[2021-05-12 12:49] dianaafanador3 commented on #7247
HI @duncangroenewald,
First, Why don't just get all the children from
[code]
, this will return all of the objects from the `Child` table.

Second, If you want to get all the children from the parents (because maybe you want to get duplicated values from children who belong to different parents). You can have something like this
[code]

Even though you can use transformation methods (map, compactM

[2021-05-12 13:04] duncangroenewald commented on #7247
Sure I can always just convert the results to arrays and join the arrays.

The basic issue is that each parent knows which of its children to return depending on the circumstances.

For example

[code]

So of course I could just do this

`let childrenForEvent: [Child] = parents.map({$0.getChildrenFor(someEvent)}).map({Array($0)}).joined()`

But this is no longer a live Results<> set and won't auto

[2021-05-12 14:06] dianaafanador3 commented on #7247
Hello again @duncangroenewald, what you need is to get a live object, sorry i didn't go that way.
Correct me if I'm wrong, but you want to get a live Results<Child>, from a live Results<Parent> which has been filtered already.
Let me know if your solution works, on my part I'll try to investigate more how to do this.

[2021-05-12 14:47] sipersso opened #7253 "DevMode generates invalid schema: Invalid schema change (UPLOAD): destructive schema change"
## Goals

Create a synced schema based on a current local realm schema. The schema contains relationships

## Expected Results

When running MongoDb Realm in devmode, the schema should be generated correctly.

## Actual Results

Sync fails since it says that it is an invalid schema change.

"Sync: Connection[2]: Session[2]: Received: ERROR "Invalid schema change (UPLOAD): destructive schema change

[2021-05-12 14:55] sipersso commented on #7253
Invalid issue. I am closing this. The issue is that the "relationship" in the local database becomes a "string" in the generated schema. Will create a new issue for this instead.

[2021-05-12 15:07] sipersso commented on #7253
Looks like all relationships in my old schema gets converted to strings in MongoDb Realm. Why is this? According to the docs here https://docs.mongodb.com/realm/sdk/react-native/fundamentals/relationships-and-embedded-objects/ it should be possible to use relationships in MongoDb Realm. The way it works now is unintuitive. Do I need to change the schema manually?

[2021-05-12 15:13] dianaafanador3 commented on #7248
Hi @sipersso I see that you opened another issue after successfully doing the migration. I know that migration finally worked after the above workaround.
We are aware that there is some fixing in core that need to be take care of and some helper function for this type of migrations, so we are taking some notes on that.
I'm closing this issue and focus on the new issue with sync.

[2021-05-12 15:13] #7248 closed

[2021-05-12 15:38] sipersso commented on #7248
The workaround isn’t great. I will end up with an unwanted property in the sync schema that I will never be able to remove since I am not allowed to do destructive schema changes.

[2021-05-12 22:33] Turacbey commented on #7246
@TheLuckyWan

By the way, the function is called like this way;

on MYStaticClass();

init(){
           fetchFromRealm(key: "abc", value: [array]())
            fetchFromRealm(key: "123", value: [array2]())
            fetchFromRealm(key: "xyz", value: [array3]())
}

[2021-05-13 07:22] dianaafanador3 commented on #7246
Hi @Turacbey, Thanks for sharing some info about this issue. As mentioned by @TheLuckyWan it looks like the thread is trying to access an object that has been already deallocated.
Because the issue happens only in a real device and you don't have access to it, maybe we can't try with the simulator and reproduce this issue. Can you please force a memory warning during test on simulator and see if y

[2021-05-13 09:06] therealyou1 commented on #7175
We are seeing the same problem. Could you please tell if there will be any fix?
@tgoyne @finnschiermer

[2021-05-13 09:06] Turacbey commented on #7246
Hello @dianaafanador3. Thank you for your answer. I tried running the app simulating memory warning but I couldn't get any crash.
If you have any other suggestions, I would love to listen.

[2021-05-13 11:00] dianaafanador3 commented on #7250
Hi @Ogerets to answer your questions.
This behaviour is available from v10.7.3, as mentioned if there is a crash during migration, we will automatically revert to the backup file.

[2021-05-13 13:49] B0janDS opened #7255 "Realm size problem when ServiceExtension is activated."
## Goals

## Expected Results

## Actual Results

## Steps for others to Reproduce

## Version of Realm and Tooling

Realm framework version: 10.7.5

Xcode version: 12.5

iOS/OSX version: 14.3

Dependency manager + version: Cocoa pods 1.10.0

[2021-05-13 14:01] dianaafanador3 commented on #7255
Hi @B0janDS Can you please share code for realm initialization on both app and NSE, this can help reproduce your issue and solve it.

[2021-05-13 14:06] B0janDS commented on #7255
Will be sent later to help@realm.io if you are ok with that?

[2021-05-13 14:11] dianaafanador3 commented on #7255
Can you please share it to this email, please? diana.perez@mongodb.com

[2021-05-13 16:00] IsaiahJTurner opened #7256 "Improve documentation for Realm pinning, style guide, and sharing realm with app extensions"
I have been using Realm for over 5 years and established "best-practices" rules as the co-founder of social app startup's with millions of users. We use these tools to solve many issues that come with using Realm. There seems to be a substantial whole when it comes to Realm documentation for best practices. Here is the rough style guide our team has been using to avoid many realm gotchas including

[2021-05-13 16:32] dianaafanador3 commented on #7246
Hi @Turacbey, Can you share the project with us?, we can try to reproduce this issue in one of our devices, you can send it to diana.perez@mongodb.com.

[2021-05-14 01:11] tgoyne commented on #7219
This is fixed in 10.7.6.

[2021-05-14 01:11] #7219 closed

[2021-05-14 01:11] tgoyne commented on #5475
This is fixed in 10.7.6.

[2021-05-14 01:11] #5475 closed

[2021-05-14 09:56] sipersso commented on #7253
I think I figured out what is happening here. All "relationships" in embedded objects are automatically changed from a relationship to a string in the Atlas schema when using devmode. This makes sync fail with "Invalid schema change (UPLOAD): destructive schema change". I assume this is a bug? That the relationship that exists in the models should generate a relationship in Atlas as well?

Models

[2021-05-14 10:07] sipersso commented on #7253
More weirdness. The schema in atlas actually contains all the relationships, but the generated swift classes have converted all  relationships in EmbeddedObject classes to plain strings. Not sure what is going on here.

[2021-05-14 10:41] DominicFrei commented on #7248
Good news, @ironage figured this one out. 💪
There was indeed a problem where `"At least one object does have multiple backlinks."` could be shown even though `"At least one object does not have a backlink (data would get lost)."` would have been correct. This is not due to incorrect counting but due to the order in which things happen within a migration.
Fixed with https://github.com/realm/realm-c

[2021-05-14 10:44] sipersso commented on #7248
Awesome! Great job @ironage

[2021-05-14 11:08] dianaafanador3 commented on #7253
Hi @sipersso Can you please share your Atlas schema definition, so I can help you with this issue?

[2021-05-14 12:58] sipersso commented on #7253
@dianaafanador3 I am not able to share it here, but I have uploaded it to the support portal (ticket 00771573) and asked them to forward it to you and added contact details if you need any more input.

[2021-05-14 13:07] dabaicaifen commented on #7251
@dianaafanador3
I didn't do any special setup for Realm, imported using Xcode.
Here's the `Package.resolved` if it is helpful......

[code]

[2021-05-14 14:31] dianaafanador3 commented on #7253
Hello @sipersso , I got everything I needed for testing it out, I'll let you know if I'm able to solve this as soon as possible.

[2021-05-14 14:46] Ogerets commented on #7250
@dianaafanador3, is there any progress on this issue?

[2021-05-16 06:28] mohanrajnkl commented on #6843
finally i got the solution
 Please update xcode 12.5

 Please use pod 'RealmSwift', '~> 10.5.0'

 This 10.5 version only support unrealm concept

 If enable UIFileSharing Enabled the files opening even the realm  auxiliary files downloading

[2021-05-16 06:29] mohanrajnkl commented on #4187
finally i got the solution
 Please update xcode 12.5

 Please use pod 'RealmSwift', '~> 10.5.0'

 This 10.5 version only support unrealm concept

 If enable UIFileSharing Enabled the files opening even the realm  auxiliary files downloading

[2021-05-16 13:52] jsflax commented on #7256
Hey, happy to hear you've been using Realm so long! We always appreciate when the community reaches out to assist others. I have a few questions and queries for you:

What made you come to this conclusion? I appreciate thread safety concerns (we're going to begin addressing them with the release of Swift 5.5), but beyond that, Realm objects and results are meant to be lightweight.

How is `ThreadS

[2021-05-17 08:51] leemaguire commented on #7207
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-05-17 08:51] #7207 closed

[2021-05-17 09:05] leemaguire commented on #7194
@hijamoya could you upgrade to the latest version of Realm (10.7.6) and let us know if you still see the issue?

[2021-05-17 09:24] leemaguire commented on #7164
'The dispatch queues are abstracting away from threads, and run more risk as they can open Realms across an unknown number of threads in the pool.' - This isn't true a Realm is bound to one concurrency context.

@ragu-pth Realm Cocoa is built with Dispatch Queues in mind, and serial queues for that matter. So I would recommend utilising GCD. Looking back at your semaphore in #7088 I'm not sure tha

[2021-05-17 09:28] leemaguire commented on #7112
@grighakobian Would you be able to open an issue with the details of the crash you are seeing?

[2021-05-17 09:28] leemaguire commented on #7097
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-05-17 09:29] #7097 closed

[2021-05-17 09:35] leemaguire commented on #7085
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-05-17 09:35] #7085 closed

[2021-05-17 09:37] #7018 closed

[2021-05-17 09:37] leemaguire commented on #7011
This issue has been automatically closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2021-05-17 09:38] #7011 closed

[2021-05-17 09:41] dianaafanador3 commented on #7240
Hi @mush159 we don't generate notifications for changes to `LinkingObjects` because the relevant code doesn't know what backlinks the user actually cares about, so in your case changes to the backlink will not re-render the view when observing `Dog`.
Observing `Owner` even though you are not using within the View will cause a view update and will work for your example.
We are developing a new feat

[2021-05-17 09:41] #7240 closed

[2021-05-17 10:58] dianaafanador3 commented on #7250
HI @Ogerets, support for reverting to the backup file when rebooting when there is a crash on migrations is available from v10.7.3.
Reverting to the backup file is done by core, and there is no api to force this from our SDK.

[2021-05-17 11:41] hijamoya commented on #7194
@leemaguire sure

[2021-05-17 11:42] Ogerets commented on #7250
@dianaafanador3, okay, I got it, thanks. What about fixing v5.5.1 transition from v3.21.0 or at least identifying [corrupted realm file](https://drive.google.com/file/d/1_-tFfLzG4btMyS656530d3sb36fXHCGK/view)?

[2021-05-17 12:32] grighakobian commented on #7112
@leemaguire On my side, the crash appeared after upgrading Realm from 5.4.3 to ~> 10.6.0 version. On the other thread, I posted a [solution](https://github.com/realm/realm-cocoa/issues/6993#issuecomment-831127657) how to fix that issue.

[2021-05-17 14:04] byroncoetsee commented on #4818
So I took some inspiration from the above answers (starting the observer on mainThread) and made this little extension which seems to work for me...

[code]

and usage

[code]

Since the actual `observe` call needed to happen on main thread and not just the block, the notification token that it returns would technically only be generated "later", hence it needs to live in its own closure.

Provide

[2021-05-17 14:23] manuroe commented on #4797
Unfortunately, I have no fix, just a poor workaround where we avoid to write to the Realm DB from our notification extension. Network data is written to files. Those files will be processed again by the app on its next startup. This implementation works well with this matrix.org project but it cannot be applied everywhere.

[2021-05-17 14:32] pankajsoni19 commented on #4797
Around 2-3 years back we had the same issue. We followed the same approach that @manuroe mentions.
We write it to a file group, and on app start-up read those files and push data into realm.

Since that project I have not used realm anymore.

[2021-05-17 15:38] dianaafanador3 commented on #7250
Hello @Ogerets the bug in core may take a while to be addressed, as we are focusing our effort into releasing new features and fixing bug in our latest version,  also we are maintaining this version (v5.5.1) for current RealmCloud users which will be migrated shortly to use MongoDBRealm so the best option is to update to our latest version.
I've been checking your realm file and it does not look l

[2021-05-17 20:33] ragu-pth commented on #7164
Why wouldn't this be the case, especially if it is a semaphore of 1 and essentially operating like a lock? We've never had an issue with this in the past, whereas the GCD has let to multiple issues [Example](https://github.com/realm/realm-cocoa/issues/4736) & [Example #2](https://github.com/realm/realm-cocoa/issues/5330). These issues almost destroyed that product in the past as several customers

[2021-05-18 15:05] jeanbaptistebeau commented on #7244
@dianaafanador3 any news?

[2021-05-18 15:21] sipersso commented on #7253
Hmm... I actually managed to remove the property that caused the invalid schema. It was not necessary to have this in the sync schema and now the sync has actually started working. I am still not sure why this has started working, but it does.

[2021-05-18 15:50] leemaguire commented on #7253
Hi @sipersso given your last comment, are you ok to now close this issue?

[2021-05-18 15:52] dianaafanador3 commented on #7251
Hi @dabaicaifen, it looks like the issue you are seeing comes from the core module, but it may be something to do with your configuration rather on how our SPM is created.
I added a sample project using SPM an importing it to several SPM modules, I added a dependency with cocoapods to simulate a mix project, too. Maybe this can help you as template for your project.
https://github.com/dianaafanado

[2021-05-18 17:20] keithcml opened #7258 "Question on xcframework"
May I know is the prebuilt xcframework supports Swift ABI compatibility?

a.k.a. BUILD_LIBRARY_FOR_DISTRIBUTION set to YES

[2021-05-18 17:26] IsaiahJTurner commented on #7256
The biggest issue we had was with the way invalidated objects work. We found that our project was littered with checks to see if an object was invalidated. A ThreadSafeReference would crash when resolved if we didn't first check that it wasn't invalidated. Deleting an object from the Realm had been a never-ending source for crashes when objects are retained between threads. Simply calling async an

[2021-05-18 17:34] IsaiahJTurner commented on #7256
The last thing we are actually struggling with, the autoreleasepools stuff. Everything had been fine until we started using Notification Content Extensions, Notification Service Extensions, and Share Extensions. We are trying to use the same Realm file with these extensions via an App Group but they seem to be pinning the Realm.

We use autoreleaseFrequency workItem (`DispatchQueue(label: "poparaz

[2021-05-18 17:38] IsaiahJTurner commented on #7256
Looking up at my previous answer, even more reasons not to use TSRs. I made a mistake myself just writing my example! It should have been like this:

[code]

Otherwise, stale data could remain in the UI when a Realm object was invalidated between async calls.

[2021-05-18 18:53] sipersso commented on #7253
Yes, I have verified that the sync work after turning dev mode off. Closing the issue.

[2021-05-18 18:53] #7253 closed

[2021-05-18 20:31] Turacbey commented on #7246
Hello @dianaafanador3, I am sorry, but the project belongs to our company and I can't share everything for now.

The app is live on the App Store and I can send you the link and maybe you can try debugging it on your devices.
If the above option doesn't work then I can create a new project for you with the crash part.

[2021-05-19 04:05] duncangroenewald opened #7260 "Could not find module 'RealmSwift' for target 'arm64-apple-macos'; found: x86_64, x86_64-apple-macos"
Hi I am just busy upgrading from RealmSwift v5.x. to v10.x and have switched the app build to include both Apple Silicon and Intel.

I am using Xcode 12.5 and SPM and realm-cocoa v10.7.6 and the intel build works fine - but seems to be very very slow compared to v5.5.

I switched to build for Apple Silicon and now get the compiler error shown above.

Can someone confirm the SPM version 1.7.6 inclu

[2021-05-19 05:05] duncangroenewald commented on #7260
OK I fixed that - it seems that having previously been doing an Intel only build Xcode got confused when set back to the defaults.

But gee performance is very badly impacted now - I am going to try V10.7.4 or earlier to see if they are also very slow compared to 5.5.1.

Is there any reason why there might be such a big impact on performance using 10.7.6 compared to 5.5.2 ?

[2021-05-19 06:07] duncangroenewald commented on #7250
@Ogerets - hi - we had the same issue and the bug has never been fixed.  It is caused by more than one record in the database that has an internal ID = 0 - which should be impossible.  Somewhere there is a report back from one of the Realm team regarding this issue.  Unfortunately I never did find out how to debug this to find the faulty records so they could be deleted to allow the upgrade to pro

[2021-05-19 06:08] #7260 closed

[2021-05-19 06:12] duncangroenewald opened #7261 "Testing upgrade to 10.7.6 and seeing a huge performance hit on queries compared to 5.5.2"
## Goals
Upgrade App to 10.7.x and MongoDB Realm

## Expected Results
We completed the transition to the new SDK and expected the same or at least similar database performance with queries etc.

## Actual Results
We are seems very large decrease in performance - 10x or 100x slower when performing complex queries compared to what we were used to getting with v5.5.1/2

## Steps for others to Reprodu

[2021-05-19 06:54] duncangroenewald commented on #7261
OK I just downloaded the v10.7.6 binaries and am using them instead of the SPM version and performance is back to more or less like it was with 5.5.2.

Is there some Xcode/compiler setting that might help ensure the SPM version runs faster - particularly when running in debug mode ?

[2021-05-19 07:44] dianaafanador3 commented on #7246
Hi @Turacbey, that will be great, we just want a way to be able to reproduce the issue

[2021-05-19 08:48] leemaguire commented on #7261
@duncangroenewald because the binaries are not built with any debug code you will see a performance increase. With SPM because everything is built from source the compiler will inject any debug code it deems necessary and this is the cause of your slowdown. I don't believe there is any workaround to have your App's target in debug mode while having the SPM target in release.

[2021-05-19 09:11] bmunkholm commented on #7261
@leemaguire do you know if we use debug versions of core in those debug builds? Because those are very slow.

[2021-05-19 09:15] duncangroenewald commented on #7261
I guess I'll stick with the binaries then.

[2021-05-19 09:26] dianaafanador3 commented on #7244
Hello @jeanbaptistebeau I've been able to reproduce your issue, and we do need to support deleting tables with a backlink property to other tables during migration, like in your case.
For now this is still the case and cannot be done.

What I can do is help you to migrate your current schema to the desire one.
I split your change into two schema versions updates:

First schema version bump
* Remov

[2021-05-19 09:31] leemaguire commented on #7258
Hi @keithcml while we do support Swift evolution mode, `BUILD_LIBRARY_FOR_DISTRIBUTION ` is set to `NO` by default

[2021-05-19 09:38] leemaguire commented on #7261
@bmunkholm Core will be built from source with SPM so it will be a debug build.

[2021-05-19 10:24] leemaguire commented on #6096
@BarryDuggan a Realm file created with v10 is not backward compatible with previous versions.

[2021-05-19 10:26] leemaguire commented on #6469
Hi @gokulgovind, were you able to update to the latest version of Realm and did it solve your issue? Thanks

[2021-05-19 10:32] denys-meloshyn commented on #6898
Can it be reopened and fixed? 🙃

[2021-05-19 10:39] leemaguire commented on #6898
We are looking into this now.

[2021-05-19 10:42] leemaguire commented on #7239
Hi @versoworks is there any reason why you cannot use `[RLMRealm writeCopyToURL:]`? That API would achieve what you are doing in the above.

[2021-05-19 10:46] versoworks commented on #7239
@leemaguire we're copying objects from a local to sync Realm and vice versa. As far as I'm aware, that API cannot be used for that purpose.

[2021-05-19 10:51] bmunkholm commented on #7261
Not knowing what flags are used for Core there, we could perhaps consider adjusting them. Core (at least used to) be built with abundant checking and 4-leaf tree instead of 1000. That's useful for testing, but not for any users using this.

[2021-05-19 10:54] duncangroenewald commented on #7261
Well let me know if you fix that and I'll try the SPM again.

[2021-05-19 11:14] leemaguire commented on #7239
@versoworks what package manager are you using to consume Realm? Is it a mixed objc / swift project?

[2021-05-19 11:20] versoworks commented on #7239
@leemaguire it's an objc project using CocoaPods.

[2021-05-19 11:29] duncangroenewald commented on #7232
Yes I think so.

Just bear in mind that the client making the backup is a sync client (Realm Cloud) - this problem does not appear if the client is a local client.

The sync client does not do any migrations as I understand it so the database presumably still has the older schema and writeCopy() just copies that I assume.

[2021-05-19 12:09] Turacbey commented on #7246
Hello @dianaafanador3,

I sent you the project.

[2021-05-19 12:14] dianaafanador3 commented on #7246
Thanks @Turacbey we'll take a look at it.

[2021-05-19 12:19] mkoorn commented on #5738
@bmunkholm is there no workaround for this?
We have the requirement to be able to rollback to a previous version of our app.
At this point the only solution seems to delete and install the app.

Even when no data is retained, just being able to delete and recreate the database, but be able to continue with a 'clean' DB would improve our user experience a lot.

[2021-05-19 13:10] leemaguire commented on #7239
From prodding around I don't believe this to be caused by any cyclical references with your Realm Object. It all seems to be related to the path where `RealmSwiftObjectId` is called.

I have a few things you could try out.

would you be able to try the above code with a serial dispatch queue instead of the global queue?

[code]

also for this section, it might be worth wrapping the each cycle in a

[2021-05-19 13:16] leemaguire commented on #7239
if you call `[[RLMObjectId] alloc] init]` directly in your code do you get the same crash?

[2021-05-19 14:07] Turacbey commented on #7246
Thanks @dianaafanador3

[2021-05-19 15:38] tgoyne commented on #7261
We aren't doing anything particularly slow in the debug builds for SPM. It's just the lack of compiler optimizations being enabled and that's not something we can adjust.

[2021-05-19 16:30] DominicFrei commented on #2422
This is covered by https://github.com/realm/realm-cocoa/blob/master/Realm/RLMRealm.h#L273 already but hasn't been closed yet. 👍

[2021-05-19 16:30] #2422 closed

[2021-05-19 21:09] versoworks commented on #7239
Tried both of these suggestions; individually and collectively. The result was the same error.

[2021-05-19 21:12] versoworks commented on #7239
No; the `RLMObjectId` is initialised successfully.

We can reproduce this crash consistently, so if you have any further suggestions, please let us know.

[2021-05-19 21:41] jeanbaptistebeau commented on #7244
@dianaafanador3 Your solution worked! Thanks a lot for your help!

[2021-05-19 21:53] dianaafanador3 commented on #7244
Hi @jeanbaptistebeau I'm glad you've been able to solve this. Closing the issue.

[2021-05-19 21:54] #7244 closed

[2021-05-20 02:44] keithcml commented on #7258
@leemaguire great to hear about that.
So from now on, we can upgrade the binary when we need an updates instead of new Swift version forces us to upgrade the binary.

[2021-05-20 06:50] KeimyPlaza commented on #7234
The workaround is ok for me.

But there are an idea to fix on the next version? Maybe with this approach https://github.com/aws-amplify/amplify-ios/issues/878

[2021-05-20 08:59] leemaguire commented on #7239
Hi @versoworks are you performing any other Realm operations on any other threads while the above operation is going on?

[2021-05-20 09:04] AndyDentFree opened #7262 "XCode 12.5 Carthage build fails apparently due missing Info.plist"
## Goals
Update to current Realm via Carthage

`carthage update --use-xcframeworks --verbose`

## Expected Results
Realm frameworks updated and built, able to build my app and iMessage extension using them.

## Actual Results
[code]

## Steps for others to Reproduce
Cartfile contains
`github "https://github.com/realm/realm-cocoa" "master"`

`carthage update --use-xcframeworks --verbose`

Note that

[2021-05-20 09:08] versoworks commented on #7239
@leemaguire no; when executing the code above, no other Realm operations are performed.

[2021-05-20 10:47] igorvoytovich commented on #7175
@tgoyne @finnschiermer

Hello,

I would like to clarify if there is any progress on this issue?
More than 2 months have passed, and we would like to understand what to do with this next.

Please let me know if you need any additional information, I will gladly provide you with it.

Thanks.

[2021-05-20 11:08] leemaguire commented on #7246
@Turacbey I'm trying to debug this on a Watch Series 2 with not much luck. Would you be able to tell us how big the Realm file is that causes the crash? I'm wondering if this is related to the Series 3 being 32bit and having limited address space.

[2021-05-20 11:21] Turacbey commented on #7246
@leemaguire  The crash happens only on watch series 3. There is no any crash from series se, series 5 or series 6 etc.

I don't know how big is the realm file, but it can not too big. I added some buttons that add items to arrays, I guess it is not bigger than 1000 items on each array.

Can you able to test it on watch series 3?

[2021-05-20 14:10] Turacbey commented on #7246
We will be waiting for someone who has watch series 3.

[2021-05-20 16:18] leemaguire commented on #7239
@versoworks some more questions / recommendations:

- Do you include RealmSwift in your pod file? (you should not if your project is only objc)
- You may be experiencing a stack overflow, maybe it would be worth explicitly constructing the object to be copied and make sure that no circular reference exists.
- `RLMCreateObjectInRealmWithValue` is actually a private API. It is unlikely this is the i

[2021-05-20 16:34] leemaguire commented on #7258
While we support it, we are not distributing the binary with `BUILD_LIBRARY_FOR_DISTRIBUTION=YES`.

[2021-05-20 19:32] ironage commented on #7175
Hi @igorvoytovich are you able to reproduce this with cocoa version 10.7.6? I just noticed that the [stack trace](https://github.com/realm/realm-core/pull/4687#issuecomment-839367853) of a bug we fixed is very similar to what you reported [above](https://github.com/realm/realm-cocoa/issues/7175#issuecomment-813626885). This is still a guess, but the conditions of the fixed bug seem to match a coup

[2021-05-20 19:41] igorvoytovich commented on #7175
@ironage

Hello,

Thanks for your message.

Unfortunately I can still reproduce this on 10.7.6.

If I understood you correctly, you are talking about data synchronization between several users, if so, then this is definitely not our case, since we use Realm exclusively locally.

[2021-05-20 19:54] ironage commented on #7175
@igorvoytovich thanks for testing it out so quickly! I agree, if your app is not using Realm sync then the fix I linked is unrelated.

[2021-05-20 21:58] versoworks commented on #7239
@leemaguire;

No

There's no circular reference, unless Realm internally treats properties of type `RLMObjectId` as object references. Is this the case?

Our code is based on the example by Ian Ward named _Recipe: Convert a local Realm to a synced Realm_, where  `RLMCreateObjectInRealmWithValue` is explicitly used, hence why we use it.

`[RLMRealm addObject:]` cannot be used as it throws an except

[2021-05-21 06:18] bb-git opened #7263 "Can't install RealmSwift 5.5.2 with Cocoapods"
I tried everything, also `pod deintegrate`. RealmSwift 5.5.1 installs without any issues.

## Goals
Install the latest version of Realm 5.5.2

## Actual Results
[code]

## Steps for others to Reproduce
pod install --repo-update

## Version of Realm and Tooling

Realm framework version: ?
5.5.1
Xcode version: ?
12.5
iOS/OSX version: ?
11.3.1
Dependency manager + version: ?
cocoapods 1.10.1

[2021-05-21 06:25] bb-git commented on #7250
I also see this error and I just updated from 5.5.0 to 5.5.1

[2021-05-21 09:08] leemaguire commented on #7263
Hi @bb-git We are looking into this now.

[2021-05-21 09:14] leemaguire commented on #6973
@igorvoytovich Can you please update to Realm 10.7.6 and let us know if the issue persists? Thanks

[2021-05-21 09:25] igorvoytovich commented on #6973
@leemaguire

Hello,

Thanks for your message.

We already using 10.7.6 in production, and I can confirm that these crashes are still persist.
For more information, please take a look at this issue https://github.com/realm/realm-cocoa/issues/7175

[2021-05-21 11:07] bb-git commented on #7250
@ianpward can you clarify this? Does it mean upgrading to 10.7.6 creates and backup and I could go back to 5.5.0? I didn't get that working. Or does this account only to future versions?

[2021-05-21 13:20] leemaguire commented on #7239
Hi @versoworks

`"There's no circular reference, unless Realm internally treats properties of type RLMObjectId as object references. Is this the case?"` - No this is not the case.

That example that was given to you is out of date. We advise not using any private API's.

`"[RLMRealm addObject:] cannot be used as it throws an exception: Object is already managed by another Realm. Use create instead

[2021-05-21 13:52] #6839 closed

[2021-05-21 14:35] pavel-ship-it commented on #7217
Hello @jjarroyo, Can you please update to Realm 10.7.6 and let us know if the issue persists? Thanks

[2021-05-21 15:36] tgoyne commented on #7263
5.5.2 is just a republish of 5.5.1 to add Xcode 12.5 binaries, which isn't applicable to cocoapods.

[2021-05-21 15:39] bb-git commented on #7263
Thanks for letting me know, I was hoping it will fix the crashes from 5.5.1. Will consider upgrading to 10.7.6 then.

[2021-05-21 16:27] pavel-ship-it commented on #6940
Hi @karlesct,
I cannot reproduce the issue with the available information. Can you share anything else regarding this issue? Can you try to reproduce it on Realm 10.7.6?

[2021-05-22 06:28] bb-git opened #7264 "5.5.1 Upgrade to 10.7.6 is running the whole migration block again"
After upgrading  from 5.5.1 to 10.7.6 I saw that the whole migration block is called again. I can't imagine this to be intended.

## Goals
Upgrade to 10.7.6

## Expected Results
Just upgrade to the newest version

## Actual Results
It runs all migration again that where already applied, leading to unexpected changes

## Steps for others to Reproduce
create a migration block and upgrade a fully mig

[2021-05-22 06:29] #7263 closed

[2021-05-22 08:24] bb-git commented on #7264
I read all release notes and checked for migration guides: No mention of migration block is intended to re-run
and tested as well with 10.5.2: Same behaviour here, but no migration from 10.5.2 to 10.7.6

Do you plan the migration block to be run with every major upgrade?

[2021-05-22 10:17] bb-git commented on #7264
ok, I tested upgrading from 5.5.0: The migration block gets NOT called.
Seems to be only an issue of 5.5.1

⚠️ I'm warning everybody consindering to upgrade to 5.5.1. This version has severe issues! Besides calling the whole migration block again my costomers also experience the "key already used" crash. (#7250) ⚠️

[2021-05-22 15:54] bb-git commented on #7264
Ok, I learned it the hard way. If you ever open a realm instance before setting your default configuration, then this configuration seems to apply for the whole session. So when you reopen the app and apply your default configuration first thing, then it's going through migration, because the last time the schemaVersion was set to 0. This is a bit unexpected on my side, as I expected all instances

[2021-05-22 15:54] #7264 closed

[2021-05-22 17:46] igorvoytovich commented on #7175
Hello,

There is another example of the crash step by step:

![Screen Shot 2021-05-22 at 8 43 57 PM](https://user-images.githubusercontent.com/47663430/119236176-a7a66b00-bb3e-11eb-82e7-acff73344e16.png)
![Screen Shot 2021-05-22 at 8 44 18 PM](https://user-images.githubusercontent.com/47663430/119236178-aa08c500-bb3e-11eb-90a2-18c79f5c070f.png)
![Screen Shot 2021-05-22 at 8 44 34 PM](https://user-

[2021-05-22 21:25] duncangroenewald opened #7265 "Problem compiling 10.7.6 SPM with Swift development toolchain"
## Goals
Trying to sort out an Swift compiler bug and testing using the latest Swift development toolchain and have run into this error in file to_string.cpp (RealmDatabase/src/realm/util)

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/13807324/119241128-98074080-bb97-11eb-9454-f880c8176d36.png">

## Expected Results
Expect to be able to compile SPM 10.7.6 with the l

[2021-05-22 21:27] jsflax commented on #7265
Are you trying to use the development snapshot for Swift 5.5? If so, there are a number of changes we need to make on our side first before that's going to work properly.

I have a local setup that has it working, so let me know if you would like some help in setting that up.

[2021-05-22 21:35] duncangroenewald commented on #7265
Yes - trying to fix a Swift compiler crash/bug and Apple asked to test with the latest swift toolchain - which presumably is using Swift 5.5.

The compiler bug is unrelated to the Realm libraries but the project is using SPM 10.7.6 so of course won't build without it.

By local setup I assume you mean a clone of realm-cocoa repo with some changes you have made?

(If I sound stupid that's because t

[2021-05-23 08:43] jsflax commented on #7265
I would recommend cloning Realm Cocoa, building it once (this is important to generate the core xcframework) with the current Xcode 12.5 toolchain, and then checking out `jf/async-write`. From there, reference the local `realm-cocoa` directory in your `Package.swift`. Your `Package.swift` should look something like this:

[code]

Please keep in mind that anything on this branch is experimental 😄 .

[2021-05-23 17:47] omokagbo commented on #7157
This solved the problem for me as well

[2021-05-23 22:49] omokagbo commented on #6301
Can we reopen this issue?
I'm having the same challenge now on **Real 10.7.6** which is like the latest version after using SPM to add Realm to my project.
Is there no way around this?

[2021-05-23 23:13] omokagbo opened #7266 "SPM : Missing required modules: 'Realm.Private', 'Realm'"
## Goals

To be able to use realm in my project by linking it via SPM.

## Expected Results

To be able to run Realm successfully without any errors

## Actual Results

Received build error: Missing required modules: 'Realm.Private', 'Realm' and could not make use of Realm

## Steps for others to Reproduce

 - include Realm/RealmSwift in a project via SPM
 - try importing Realm or using it any of

[2021-05-24 05:16] bdkjones commented on #2134
Old thread, but I think you guys reached the wrong conclusion here. Removing an object from a `List` is a **super common** operation. And having to constantly calculate the index first in a two-step dance is a pain.

### "People can just write their own Swift wrapper"
Sure. But it should not be necessary to do that for the most basic operations that everyone will do at some point: remove X from a

[2021-05-24 06:33] #7262 closed

[2021-05-24 06:33] AndyDentFree commented on #7262
Nuking the entire Carthage folder resulted in a successful build.

[2021-05-24 18:31] ianpward commented on #7164
hey @ragu-pth - Product for Realm here. If you'd like to drop me an email at ian.ward@mongodb.com - I'd love to hear about your use case and we can discuss how we can better support you

[2021-05-24 21:30] tgoyne commented on #2134
In the years since this was closed, Swift's Array got some more features, including `removeAll(where:)`, and we should match that.

[2021-05-24 21:40] bdkjones commented on #2134
Awesome! Glad this is being reconsidered.

Ideally your implementation of `remove` could be more performant than the naive approach of enumerating the list and testing matches. If it could work like `filter`, where objects aren't allocated in memory but are instead manipulated in Realm's database directly, that would be perfect.

[2021-05-25 13:26] sipersso commented on #6921
I am surprised no one is assigned to this issue. Getting the same problem here. This makes it very inconvenient to work with embedded objects. In my case there are two levels, which makes it even worse. It also differs from the behavior in the Android SDK.

[2021-05-25 15:10] #6973 closed

[2021-05-25 15:37] pavel-ship-it commented on #7208
Hi @Serikios
Realm 10.1.4 is relatively old version. Can you try to run **pod repo update** before running **pod install**?

Regarding the message you've got. It could happened you have several XCode versions at your machine (any beta versions?).
You could try to use **xcode-select** to choose a proper version of XCode or install/reinstall Additional Command Line Tools. Also you can try to update/

[2021-05-25 15:43] pavel-ship-it commented on #7209
There is no difference between Cocoapods and SPM Realms. It's only the way to deliver the same source code in the project. Yes, after you switch the project settings you need to rebuild the app.

[2021-05-25 21:30] nirinchev commented on #7252
Embedded objects are always optional, similarly to regular links

[2021-05-27 07:38] jesusmateos1234 commented on #7236
I'm agree @dianaafanador3

[2021-05-27 07:39] jesusmateos1234 commented on #7236
@dianaafanador3

[2021-05-27 12:29] sxcrim commented on #7175
We have the same problem. Are there any updates?
@tgoyne @finnschiermer

[2021-05-28 06:43] 624990742 opened #7267 "'Primary key property 'id' does not exist on object '''"
使用的是RealmSwift  10.8.0-beta.1出现如下错误：

两个错误：
1. error: module importing failed: Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/xxx/Library/Application Support/Realm/rlm_lldb.py", line 37
    os.makedirs(destination, 0744)
                                ^
2.Terminating app due to uncaught exception 'RLMException', reason: 'Primary key property 'id' does not

[2021-05-28 09:44] jedelbo commented on #6908
As #7144 is closed, I take the liberty to close this one too.

[2021-05-28 09:44] #6908 closed

[2021-05-28 09:46] jedelbo commented on #6724
No activity for a long time. Closing.

[2021-05-28 09:46] #6724 closed

[2021-05-28 15:25] dianaafanador3 commented on #7251
HI @dabaicaifen Have you been able to solve this?

[2021-05-28 21:53] dabaicaifen commented on #7251
@dianaafanador3  Your sample is not similar to my case. The multiple modules, I mean
<img width="52" alt="Screen Shot 2021-05-28 at 5 51 56 PM" src="https://user-images.githubusercontent.com/25300313/120045245-8b427c80-bfdd-11eb-9b91-c37ef3cb930b.png">

[2021-05-30 11:35] mstralka commented on #6054
@adamofsky did you solve this?

[2021-05-31 01:06] ericjordanmossman commented on #7267
@624990742 Could you please fill out the [issue template](https://github.com/realm/realm-cocoa/blob/master/.github/ISSUE_TEMPLATE.md) so we can better understand the issue?

[2021-05-31 01:12] ericjordanmossman commented on #7266
Yeah this does look similar #6301 (as you mentioned on that thread). I'm still not 100% sure what causes this, though.
Let's keep 6301 closed and 7266 open, since this report is for 10.7.6.

And just to confirm -- are you able to import earlier versions of realm with SPM?

[2021-05-31 08:23] jlavyan commented on #6983
This issue not happening on my side after update v10.7.6

[2021-05-31 13:58] #7234 closed

[2021-05-31 13:58] dianaafanador3 commented on #7234
Fixed by https://github.com/realm/realm-cocoa/pull/7268

[2021-06-01 10:43] DominicFrei commented on #3704
Good news: https://github.com/realm/realm-cocoa/pull/7249 (currently in review) will enable this.